{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "description": "",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the control compliance summary for a given scope.",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "fetch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "endTime": {
                      "format": "google-datetime",
                      "description": "Optional. The end time of the report.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "description": "Fetches the framework compliance report for a given scope.",
                  "path": "v1/{+name}:fetch"
                },
                "aggregate": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}:aggregate",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "parameters": {
                    "interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list"
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "description": "Lists the finding summary by category for a given scope.",
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "methods": {
                "aggregate": {
                  "parameters": {
                    "interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "interval.endTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "path": "v1/{+name}:aggregate",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  }
                },
                "fetch": {
                  "path": "v1/{+name}:fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path"
                    },
                    "endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. The end time of the report.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The filtering results."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return."
                        }
                      },
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "description": "Lists the control compliance summary for a given scope.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the finding summary by category for a given scope.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list"
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists the framework compliance summary for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list"
                }
              }
            }
          }
        }
      }
    },
    "assuredworkloads": {
      "methods": {
        "archiveResourceEvents": {
          "flatPath": "v1/assuredworkloads:archiveResourceEvents",
          "parameters": {},
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
          },
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "parameterOrder": [],
          "path": "v1/assuredworkloads:archiveResourceEvents"
        },
        "revertArchivedResourceEvents": {
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents",
          "flatPath": "v1/assuredworkloads:revertArchivedResourceEvents",
          "path": "v1/assuredworkloads:revertArchivedResourceEvents",
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "parameterOrder": []
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "description": "Lists the finding summary by category for a given scope.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "path": "v1/{+name}/operations"
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "parameters": {
                    "view": {
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ]
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                    },
                    "parent": {
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. The filtering results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "type": "integer"
                        }
                      },
                      "description": "Lists the control compliance summary for a given scope.",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "fetch": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:fetch",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve."
                    },
                    "endTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Optional. The end time of the report.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetches the framework compliance report for a given scope.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch"
                },
                "aggregate": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "interval.startTime": {
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate",
                  "path": "v1/{+name}:aggregate"
                }
              }
            },
            "workloads": {
              "methods": {
                "enableComplianceUpdates": {
                  "httpMethod": "PUT",
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse"
                  },
                  "path": "v1/{+name}:enableComplianceUpdates",
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates"
                },
                "list": {
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported."
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "restrictAllowedResources": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  },
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "path": "v1/{+name}:restrictAllowedResources",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "mutatePartnerPermissions": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "httpMethod": "PATCH",
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.delete"
                },
                "analyzeWorkloadMove": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+target}:analyzeWorkloadMove",
                  "parameters": {
                    "assetTypes": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
                    },
                    "project": {
                      "location": "query",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "format": "int32"
                    },
                    "target": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
                  },
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "parameterOrder": [
                    "target"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "path": "v1/{+parent}/workloads",
                  "parameters": {
                    "externalId": {
                      "location": "query",
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Creates Assured Workload.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "enableResourceMonitoring": {
                  "path": "v1/{+name}:enableResourceMonitoring",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "description": "Enable resource violation monitoring for a workload.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "updates": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token returned from previous request.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "description": "This endpoint lists all updates for the given workload.",
                      "path": "v1/{+parent}/updates",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
                      }
                    },
                    "apply": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:apply",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest"
                      },
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "violations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/violations",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token returned from previous request.",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Actionable sorting delegation."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Page size.",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query",
                          "type": "string"
                        },
                        "interval.startTime": {
                          "type": "string",
                          "format": "google-datetime",
                          "description": "The start of the time window.",
                          "location": "query"
                        },
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`"
                    },
                    "acknowledge": {
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "path": "v1/{+name}:acknowledge",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      },
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "description": "Response of ListWorkloads endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "properties": {
        "workloads": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          },
          "type": "array",
          "description": "List of Workloads under a given parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse": {
      "description": "The response message for AggregateDbFrameworkComplianceReport.",
      "type": "object",
      "properties": {
        "aggregatedComplianceReports": {
          "type": "array",
          "description": "The list of aggregated compliance reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
    },
    "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary": {
      "properties": {
        "framework": {
          "type": "string",
          "description": "The name of the framework."
        },
        "targetResourceDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          },
          "description": "The target resource details for the framework."
        },
        "minorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The minor revision ID of the framework."
        },
        "name": {
          "description": "Identifier. The name of the framework compliance summary.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "type": "string",
          "description": "Optional. The display name for the framework."
        },
        "controlsPassingTrend": {
          "readOnly": true,
          "description": "Output only. The trend of controls that are passing for the given duration.",
          "$ref": "GoogleCloudAssuredworkloadsV1Trend"
        },
        "supportedCloudProviders": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ]
          },
          "description": "The list of cloud providers supported by the framework."
        },
        "frameworkCategories": {
          "description": "The list of framework categories supported by the framework.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          },
          "type": "array"
        },
        "frameworkType": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "description": "The type of framework."
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "majorRevisionId": {
          "type": "string",
          "format": "int64",
          "description": "The major revision ID of the framework."
        },
        "findingCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The count of the findings generated against the framework.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary",
      "type": "object",
      "description": "The details for a framework compliance summary."
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset.",
      "properties": {
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          },
          "type": "array",
          "description": "List of eligible analyses performed for the asset."
        },
        "assetType": {
          "type": "string",
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        },
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "id": "GoogleCloudAssuredworkloadsV1Trend",
      "type": "object",
      "description": "The trend of a compliance metric.",
      "properties": {
        "valuePercent": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The trend value as a percentage. The value can be positive or negative."
        },
        "duration": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The duration for the trend."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions": {
      "description": "Options to be set for the given created workload.",
      "properties": {
        "kajEnrollmentType": {
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "properties": {
        "restrictionType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ]
        }
      },
      "description": "Request for restricting list of available resources in Workload environment."
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse",
      "description": "Response for EnableResourceMonitoring endpoint.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object",
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "description": "Request for acknowledging the violation",
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "type": "object",
      "properties": {
        "comment": {
          "description": "Required. Business justification explaining the need for violation acknowledgement",
          "type": "string"
        },
        "acknowledgeType": {
          "description": "Optional. Acknowledge type of specified violation.",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "deprecated": true,
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1DbFindingSummary": {
      "id": "GoogleCloudAssuredworkloadsV1DbFindingSummary",
      "properties": {
        "organizationPolicyFindingCount": {
          "description": "Output only. Number of active organization policy findings for this category.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The severity of the finding."
        },
        "findingCategory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The category of the finding."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last updated time of the finding.",
          "format": "google-datetime"
        },
        "findingClass": {
          "description": "Output only. The class of the finding.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The activity is unwanted or malicious.",
            "A potential weakness in software that increases risk to confidentiality, integrity, and availability.",
            "A potential weakness in a cloud resource or asset configuration that increases risk.",
            "A security observation that is for informational purposes.",
            "An error that prevents Security Command Center from functioning properly.",
            "A potential security risk that's due to a change in the security posture.",
            "A combination of security issues that represent a more severe security problem when taken together.",
            "A potential security risk to data assets that contain sensitive data.",
            "A resource or resource group where high risk attack paths converge, based on attack path simulations (APS)."
          ],
          "readOnly": true,
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT"
          ],
          "type": "string"
        },
        "relatedFrameworks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of compliance frameworks that the finding belongs to."
        },
        "resourceFindingCount": {
          "readOnly": true,
          "description": "Output only. Number of active resource findings for this category.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the finding summary."
        },
        "findingCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The count of the finding.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The details for a finding."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)"
        }
      },
      "description": "Represent the custom settings for the resources to be created.",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlReport": {
      "properties": {
        "enforcementMode": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "description": "The enforcement mode of the cloud control.",
          "type": "string",
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "findingSeverity": {
          "type": "string",
          "description": "The severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ]
        },
        "cloudControlDeployment": {
          "type": "string",
          "description": "The name of the cloud control deployment."
        },
        "cloudControl": {
          "description": "The name of the cloud control.",
          "type": "string"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "description": "The list of categories for the cloud control.",
          "type": "array"
        },
        "minorRevisionId": {
          "format": "int64",
          "description": "The minor revision ID of the cloud control.",
          "type": "string"
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
        },
        "similarControls": {
          "description": "The list of similar controls.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          }
        },
        "frameworkMajorRevisionIds": {
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "rules": {
          "description": "The list of rules that correspond to the cloud control.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Rule"
          }
        },
        "cloudControlType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "description": "The type of the cloud control.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the cloud control.",
          "type": "string"
        },
        "manualCloudControlAssessmentDetails": {
          "description": "The details of a manual cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails"
        },
        "majorRevisionId": {
          "type": "string",
          "format": "int64",
          "description": "The major revision ID of the cloud control."
        },
        "findingCategory": {
          "type": "string",
          "description": "The category of the finding."
        },
        "description": {
          "description": "The description of the cloud control.",
          "type": "string"
        }
      },
      "description": "The cloud control report.",
      "id": "GoogleCloudAssuredworkloadsV1CloudControlReport",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
      "type": "object",
      "properties": {
        "activeViolationCount": {
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgedViolationCount": {
          "format": "int32",
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "type": "integer"
        },
        "activeResourceViolationCount": {
          "type": "integer",
          "description": "Number of current resource violations which are acknowledged.",
          "format": "int32"
        },
        "acknowledgedResourceViolationCount": {
          "description": "Number of current resource violations which are not acknowledged.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents the Compliance Status of this workload"
    },
    "GoogleCloudAssuredworkloadsV1CELExpression": {
      "properties": {
        "resourceTypesValues": {
          "$ref": "GoogleCloudAssuredworkloadsV1StringList",
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`"
        },
        "expression": {
          "type": "string",
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions)."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1CELExpression",
      "description": "A Common Expression Language (CEL) expression that's used to create a rule.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "type": "object",
      "properties": {
[...]
