{
  "revision": "20260914",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version_module": true,
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "kind": "discovery#restDescription",
  "canonicalName": "Assuredworkloads",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "format": "int32"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response."
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result."
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "description": "Lists the control compliance summary for a given scope."
                    }
                  }
                }
              },
              "methods": {
                "fetch": {
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:fetch",
                  "httpMethod": "GET",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "required": true,
                      "type": "string"
                    },
                    "endTime": {
                      "description": "Optional. The end time of the report.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  }
                },
                "aggregate": {
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "path": "v1/{+name}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "parameters": {
                    "interval.startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string"
                    },
                    "interval.endTime": {
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the finding summary by category for a given scope.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "description": "Lists the framework compliance summary for a given scope.",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "fetch": {
                  "path": "v1/{+name}:fetch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches the framework compliance report for a given scope.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "endTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. The end time of the report.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true
                    }
                  }
                },
                "aggregate": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:aggregate",
                  "httpMethod": "GET",
                  "parameters": {
                    "interval.startTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "type": "string"
                    },
                    "interval.endTime": {
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "description": "Lists the control compliance summary for a given scope.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filtering results.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list"
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}"
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the finding summary by category for a given scope.",
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "methods": {
                "fetch": {
                  "path": "v1/{+name}:fetch",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "endTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. The end time of the report."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches the framework compliance report for a given scope."
                },
                "aggregate": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "path": "v1/{+name}:aggregate",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "interval.startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path"
                    }
                  }
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filtering results.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "description": "Lists the control compliance summary for a given scope.",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/violations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "parameters": {
                        "interval.startTime": {
                          "location": "query",
                          "type": "string",
                          "description": "The start of the time window.",
                          "format": "google-datetime"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Page size."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A custom filter for filtering by the Violations properties."
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "location": "path"
                        },
                        "interval.endTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "The end of the time window.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Actionable sorting delegation.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. Page token returned from previous request.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "acknowledge": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      },
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "path": "v1/{+name}:acknowledge"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}"
                        }
                      }
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "apply": {
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "httpMethod": "POST",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:apply"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/updates",
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "Page token returned from previous request.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "type": "integer"
                        }
                      },
                      "description": "This endpoint lists all updates for the given workload.",
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "enableComplianceUpdates": {
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    }
                  },
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "httpMethod": "PUT",
                  "path": "v1/{+name}:enableComplianceUpdates"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/workloads",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Creates Assured Workload.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "analyzeWorkloadMove": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "parameters": {
                    "target": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\""
                    },
                    "project": {
                      "type": "string",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    },
                    "assetTypes": {
                      "type": "string",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "path": "v1/{+target}:analyzeWorkloadMove",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "target"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
                  }
                },
                "restrictAllowedResources": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "path": "v1/{+name}:restrictAllowedResources",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  }
                },
                "mutatePartnerPermissions": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions",
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Page size."
                    },
                    "pageToken": {
                      "description": "Optional. Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "path": "v1/{+parent}/workloads"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress."
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Gets Assured Workload associated with a CRM Node"
                },
                "enableResourceMonitoring": {
                  "path": "v1/{+name}:enableResourceMonitoring",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "httpMethod": "POST",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
                  },
                  "description": "Enable resource violation monitoring for a workload.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "description": "Lists the finding summary by category for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default."
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "assuredworkloads": {
      "methods": {
        "archiveResourceEvents": {
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest"
          },
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
          },
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents",
          "parameterOrder": [],
          "flatPath": "v1/assuredworkloads:archiveResourceEvents",
          "httpMethod": "POST",
          "path": "v1/assuredworkloads:archiveResourceEvents",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        },
        "revertArchivedResourceEvents": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/assuredworkloads:revertArchivedResourceEvents",
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest"
          },
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse"
          },
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "parameterOrder": [],
          "flatPath": "v1/assuredworkloads:revertArchivedResourceEvents",
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "title": "Assured Workloads API",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "assuredworkloads",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "id": "assuredworkloads:v1",
  "servicePath": "",
  "ownerName": "Google",
  "version": "v1",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse",
      "type": "object",
      "description": "Response for archiving resource events.",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of events successfully moved to the archive table."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse": {
      "description": "Response for restricting the list of allowed resources.",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        },
        "workloads": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          },
          "type": "array",
          "description": "List of Workloads under a given parent."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint."
    },
    "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse",
      "properties": {
        "dbControlComplianceSummaries": {
          "description": "The list of control compliance details.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for ListDBControlComplianceSummaries."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console"
        },
        "consoleUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        }
      },
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "properties": {
        "setupStatus": {
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "readOnly": true,
          "type": "string"
        },
        "setupErrors": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          },
          "type": "array",
          "description": "Indicates SAA enrollment setup error if any."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "kajEnrollmentState": {
          "type": "string",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "readOnly": true
        },
        "resourceSettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          },
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional."
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "partner": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "description": "Optional. Partner regime associated with this workload."
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "workloadOptions": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions",
          "description": "Optional. Options to be set for the given created workload."
        },
        "saaEnrollmentResponse": {
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "partnerPermissions": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload"
        },
        "ekmProvisioningResponse": {
          "readOnly": true,
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "compliantButDisallowedServices": {
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "kmsSettings": {
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "complianceStatus": {
          "readOnly": true,
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus"
        },
        "violationNotificationsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload."
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ]
        },
        "resourceMonitoringEnabled": {
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "description": "A Workload object for managing highly regulated workloads of cloud customers."
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "description": "Response of ListViolations endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse",
      "properties": {
        "totalSize": {
          "description": "The total number of violations.",
          "type": "integer",
          "format": "int32"
        },
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          },
          "description": "List of Violations under a Workload.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "description": "Represents the impact of moving the asset to the target.",
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary": {
      "type": "object",
      "description": "The details for control compliance.",
      "properties": {
        "controlResponsibilityType": {
          "enum": [
            "REGULATORY_CONTROL_RESPONSIBILITY_TYPE_UNSPECIFIED",
            "GOOGLE",
            "CUSTOMER",
            "SHARED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google's responsibility.",
            "Your responsibility.",
            "Shared responsibility."
          ],
          "type": "string",
          "description": "The responsibility type for the control."
        },
        "cloudControlReports": {
          "description": "The list of cloud control reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1CloudControlReport"
          },
          "type": "array"
        },
[...]
