{
  "ownerName": "Google",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "assuredworkloads",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "description": "",
  "servicePath": "",
  "id": "assuredworkloads:v1beta1",
  "protocol": "rest",
  "canonicalName": "Assuredworkloads",
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "title": "Assured Workloads API",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "httpMethod": "GET",
                      "description": "Lists the control compliance summary for a given scope.",
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "fetch": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "endTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The end time of the report."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filtering results."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve."
                    }
                  },
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "path": "v1beta1/{+name}:fetch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  }
                },
                "aggregate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "interval.endTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "interval.startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "type": "string"
                    }
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "path": "v1beta1/{+name}:aggregate"
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "httpMethod": "GET",
                  "description": "Lists the finding summary by category for a given scope.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "description": "Lists the framework compliance summary for a given scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result."
                    },
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "location": "query",
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the framework compliance summary for a given scope.",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ]
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries"
                }
              }
            },
            "workloads": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameters": {
                    "externalId": {
                      "location": "query",
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+parent}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "description": "Creates Assured Workload."
                },
                "analyzeWorkloadMove": {
                  "parameterOrder": [
                    "target"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "path": "v1beta1/{+target}:analyzeWorkloadMove",
                  "parameters": {
                    "target": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests."
                    },
                    "project": {
                      "location": "query",
                      "type": "string",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID."
                    },
                    "assetTypes": {
                      "type": "string",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "repeated": true,
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive."
                },
                "enableResourceMonitoring": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse"
                  },
                  "description": "Enable resource violation monitoring for a workload.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:enableResourceMonitoring",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring"
                },
                "enableComplianceUpdates": {
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "path": "v1beta1/{+name}:enableComplianceUpdates",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    }
                  },
                  "httpMethod": "PUT",
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse"
                  }
                },
                "delete": {
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Page size."
                    }
                  },
                  "path": "v1beta1/{+parent}/workloads",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "httpMethod": "GET"
                },
                "restrictAllowedResources": {
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}:restrictAllowedResources",
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The list of fields to be updated.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress."
                }
              },
              "resources": {
                "violations": {
                  "methods": {
                    "acknowledge": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "path": "v1beta1/{+name}:acknowledge",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "path": "v1beta1/{+parent}/violations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token returned from previous request."
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Actionable sorting delegation.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A custom filter for filtering by the Violations properties."
                        },
                        "pageSize": {
                          "description": "Optional. Page size.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "VIOLATION_VIEW_UNSPECIFIED",
                            "VIOLATION_VIEW_ASSURED_WORKLOADS",
                            "VIOLATION_VIEW_DATA_BOUNDARY"
                          ],
                          "enumDescriptions": [
                            "Defaults to the ASSURED_WORKLOADS view.",
                            "Includes the basic metadata about the violation.",
                            "Includes all information about the violation, including details about the data boundary."
                          ],
                          "location": "query",
                          "description": "Optional. Specifies the violation view(AssuredWorkloads or DataBoundary) for fetching violations."
                        }
                      },
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "view": {
                          "type": "string",
                          "enum": [
                            "VIOLATION_VIEW_UNSPECIFIED",
                            "VIOLATION_VIEW_ASSURED_WORKLOADS",
                            "VIOLATION_VIEW_DATA_BOUNDARY"
                          ],
                          "location": "query",
                          "description": "Optional. Specifies the violation view (`AssuredWorkloads` or `DataBoundary`) for fetching violations.",
                          "enumDescriptions": [
                            "Defaults to the ASSURED_WORKLOADS view.",
                            "Includes the basic metadata about the violation.",
                            "Includes all information about the violation, including details about the data boundary."
                          ]
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "httpMethod": "GET",
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "description": "This endpoint lists all updates for the given workload.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Page token returned from previous request.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Page size. The default value is 20 and the max allowed value is 100."
                        }
                      },
                      "path": "v1beta1/{+parent}/updates"
                    },
                    "apply": {
                      "path": "v1beta1/{+name}:apply",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "description": "This endpoint creates a new operation to apply the given update."
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filtering results."
                    }
                  },
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the finding summary by category for a given scope.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "httpMethod": "GET"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "fetch": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "endTime": {
                      "location": "query",
                      "description": "Optional. The end time of the report.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}:fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                },
                "aggregate": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "interval.endTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "interval.startTime": {
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "path": "v1beta1/{+name}:aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  }
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      },
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "description": "Lists the control compliance summary for a given scope.",
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}"
                        },
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filtering results.",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "httpMethod": "GET",
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "path": "v1beta1/{+parent}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The filtering results."
                        },
                        "parent": {
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the control compliance summary for a given scope.",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "aggregate": {
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:aggregate",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse"
                  }
                },
                "fetch": {
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "endTime": {
                      "description": "Optional. The end time of the report.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:fetch",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch",
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/dbFrameworkComplianceSummaries",
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list",
                  "description": "Lists the framework compliance summary for a given scope.",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list",
                  "path": "v1beta1/{+parent}/dbFindingSummaries",
                  "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the finding summary by category for a given scope."
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "properties": {
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values allowed at this resource.",
          "type": "array"
        }
      },
      "description": "The values allowed for a ListPolicy.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "deprecated": true,
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "properties": {
        "kajEnrollmentType": {
          "type": "string",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
      "description": "Options to be set for the given created workload."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "properties": {
        "remediationType": {
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ],
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "readOnly": true
        },
        "compliantValues": {
          "type": "array",
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "items": {
            "type": "string"
          }
        },
        "instructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
          "description": "Required. Remediation instructions to resolve violations"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest",
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "description": "The action to be performed on the update.",
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ]
        }
      },
      "description": "Request to apply update to a workload."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult": {
      "type": "object",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "type": "array"
        },
        "blockers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse.",
      "properties": {
        "dbFrameworkComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary"
          },
          "description": "The list of framework compliance summaries.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloads": {
          "description": "List of Workloads under a given parent.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response of ListWorkloads endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "properties": {
        "resourceType": {
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1CELExpression": {
      "properties": {
        "resourceTypesValues": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1StringList",
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`"
        },
        "expression": {
          "type": "string",
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions)."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1CELExpression",
      "type": "object",
      "description": "A Common Expression Language (CEL) expression that's used to create a rule."
    },
    "GoogleCloudAssuredworkloadsV1beta1UpdateDetails": {
      "properties": {
        "orgPolicyUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate",
          "description": "Update to one org policy, e.g. gcp.resourceLocation."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
      "type": "object",
      "description": "The details of the update."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "description": "Settings specific to resources needed for CJIS.",
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse": {
      "description": "The response message for AggregateDbFrameworkComplianceReport.",
      "id": "GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse",
      "properties": {
        "aggregatedComplianceReports": {
          "type": "array",
          "description": "The list of aggregated compliance reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse",
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "properties": {
        "appliedUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
          "description": "The update that was applied."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "type": "object",
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for IL4."
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "type": "object",
      "description": "Represents move analysis results for an asset.",
      "properties": {
        "assetType": {
          "type": "string",
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        },
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        },
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          },
          "description": "List of eligible analyses performed for the asset.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails": {
      "id": "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails",
      "type": "object",
      "description": "The details for a target resource.",
      "properties": {
        "updateTime": {
          "description": "The update time of the target resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The create time of the target resource.",
          "type": "string"
        },
        "frameworkDeployment": {
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`",
          "type": "string"
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the framework for the target resource.",
          "type": "string",
          "format": "int64"
        },
        "majorRevisionId": {
          "type": "string",
          "description": "The major revision ID of the framework for the target resource.",
          "format": "int64"
        },
        "targetResourceDisplayName": {
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`.",
          "type": "string"
        },
        "targetResource": {
          "description": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
      "description": "Instructions to remediate violation",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1Rule": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Rule",
      "properties": {
        "celExpression": {
          "description": "The rule's logic expression in Common Expression Language (CEL).",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1CELExpression"
        },
        "description": {
          "description": "Optional. The rule description. The maximum length is 2000 characters.",
          "type": "string"
        },
        "ruleActionTypes": {
          "description": "Required. The functionality that's enabled by the rule.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ],
            "type": "string",
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ]
          }
        }
      },
      "description": "A rule in the cloud control."
    },
    "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails": {
      "properties": {
        "resourceFindingCount": {
          "description": "Output only. Number of resource findings for the cloud control.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "findingsCount": {
          "type": "integer",
          "description": "The number of findings for the cloud control.",
          "format": "int32"
        },
        "evaluationState": {
          "type": "string",
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "description": "Output only. The evaluation status of the cloud control."
        },
        "orgPolicyFindingCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of organization policy findings for the cloud control."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails",
      "description": "The cloud control assessment details for non-manual cloud controls."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "type": "object",
      "deprecated": true,
      "description": "Settings specific to resources needed for FedRAMP High."
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse": {
      "description": "Response for EnableResourceMonitoring endpoint.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails": {
      "description": "The details for a control assessment.",
      "type": "object",
      "properties": {
        "passingControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are passing or not assessed."
        },
        "passingControls": {
          "format": "int32",
          "type": "integer",
          "description": "The number of controls that are passing or not assessed."
        },
        "notAssessedControls": {
          "type": "integer",
          "description": "The number of controls that aren't assessed because they require manual review.",
          "format": "int32"
        },
        "notAssessedControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of controls that aren't assessed because they require manual review."
        },
        "assessedPassingControlIds": {
          "type": "array",
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          }
        },
        "assessedPassingControls": {
          "format": "int32",
          "description": "The number of controls that were assessed and are passing.",
          "type": "integer"
        },
        "failingControls": {
          "format": "int32",
          "description": "The number of controls that are failing.",
          "type": "integer"
        },
        "failingControlIds": {
          "type": "array",
          "description": "The list of controls that are failing.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary": {
      "description": "The details for a finding.",
      "id": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last updated time of the finding."
        },
        "severity": {
          "description": "Output only. The severity of the finding.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
[...]
