{
  "basePath": "",
  "id": "assuredworkloads:v1",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "title": "Assured Workloads API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Assuredworkloads",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "methods": {
                "fetch": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "path": "v1/{+name}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "type": "string"
                    },
                    "endTime": {
                      "location": "query",
                      "description": "Optional. The end time of the report.",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch"
                },
                "aggregate": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "parameters": {
                    "interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "path": "v1/{+name}:aggregate",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate"
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. The filtering results.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "description": "Lists the control compliance summary for a given scope.",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "description": "Lists the framework compliance summary for a given scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the finding summary by category for a given scope.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result."
                    },
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "type": "string",
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}"
                    }
                  },
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "description": "Lists the framework compliance summary for a given scope.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list"
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      },
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}"
                    },
                    "acknowledge": {
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "path": "v1/{+name}:acknowledge",
                      "httpMethod": "POST",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "path": "v1/{+parent}/violations",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "type": "string"
                        },
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. Page token returned from previous request.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Actionable sorting delegation.",
                          "location": "query"
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Page size."
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations"
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "This endpoint lists all updates for the given workload.",
                      "path": "v1/{+parent}/updates",
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Page token returned from previous request.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Page size. The default value is 20 and the max allowed value is 100."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates"
                    },
                    "apply": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest"
                      },
                      "path": "v1/{+name}:apply",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply"
                    }
                  }
                }
              },
              "methods": {
                "analyzeWorkloadMove": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "parameters": {
                    "target": {
                      "type": "string",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "location": "query"
                    },
                    "project": {
                      "location": "query",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "location": "query",
                      "type": "integer"
                    },
                    "assetTypes": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
                    }
                  },
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
                  },
                  "path": "v1/{+target}:analyzeWorkloadMove",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "target"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workloads",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Page size.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests."
                    },
                    "filter": {
                      "description": "Optional. A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "enableResourceMonitoring": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
                  },
                  "description": "Enable resource violation monitoring for a workload.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:enableResourceMonitoring",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "description": "Creates Assured Workload.",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "restrictAllowedResources": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:restrictAllowedResources"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  }
                },
                "enableComplianceUpdates": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:enableComplianceUpdates",
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "httpMethod": "PUT"
                },
                "mutatePartnerPermissions": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions",
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    },
                    "etag": {
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "path": "v1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "description": "Lists the control compliance summary for a given scope.",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token that identifies the page of results that the server should return."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The filtering results."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "aggregate": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "interval.endTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "interval.startTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    }
                  },
                  "path": "v1/{+name}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate"
                },
                "fetch": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches the framework compliance report for a given scope.",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    },
                    "endTime": {
                      "type": "string",
                      "description": "Optional. The end time of the report.",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  },
                  "path": "v1/{+name}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "description": "Lists the finding summary by category for a given scope.",
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "assuredworkloads": {
      "methods": {
        "revertArchivedResourceEvents": {
          "path": "v1/assuredworkloads:revertArchivedResourceEvents",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest"
          },
          "flatPath": "v1/assuredworkloads:revertArchivedResourceEvents",
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse"
          }
        },
        "archiveResourceEvents": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "parameterOrder": [],
          "flatPath": "v1/assuredworkloads:archiveResourceEvents",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
          },
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest"
          },
          "parameters": {},
          "path": "v1/assuredworkloads:archiveResourceEvents",
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies the level of detail to return in the response."
                    }
                  },
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list",
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "description": "Lists the framework compliance summary for a given scope.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries"
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the finding summary by category for a given scope.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token that identifies the page of results that the server should return."
                        },
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "description": "Lists the control compliance summary for a given scope.",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "aggregate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "httpMethod": "GET",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:aggregate",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "required": true,
                      "location": "path"
                    },
                    "interval.startTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime"
                    },
                    "interval.endTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filtering results.",
                      "type": "string"
                    }
                  }
                },
                "fetch": {
                  "path": "v1/{+name}:fetch",
                  "description": "Fetches the framework compliance report for a given scope.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. The end time of the report."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filtering results."
                    }
                  },
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse",
      "type": "object",
      "properties": {},
      "description": "Response for restricting the list of allowed resources."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
      "properties": {
        "compliantValues": {
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array"
        },
        "instructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions",
          "description": "Required. Remediation instructions to resolve violations"
        },
        "remediationType": {
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reemediation type based on the type of org policy values violated"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse",
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object",
      "properties": {
        "appliedUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
          "description": "The update that was applied."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest": {
      "description": "Request for archiving resource events.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest",
      "properties": {
        "batchSize": {
          "format": "int32",
          "description": "Required. The number of events to process in a single transaction batch.",
          "type": "integer"
        },
        "region": {
          "type": "string",
          "description": "Required. The region of the workload(s) whose events should be archived. This is used to filter workloads based on AssurantWorkloadData.region."
        },
        "archiveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time to set as ArchiveTime in the archive table. If not provided, the current time is used."
        },
        "eventCutoffTime": {
          "type": "string",
          "description": "Required. Only events with EventTime earlier than this cutoff will be archived.",
          "format": "google-datetime"
        },
        "maxEventsMove": {
          "format": "int32",
          "description": "Required. The maximum total number of events to move in this request.",
          "type": "integer"
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The organization ID for which to archive events."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup",
      "properties": {
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "analysisResult": {
          "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult",
          "description": "Result of a successful analysis."
        },
        "error": {
          "description": "Error details for a failed analysis.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason."
    },
    "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse": {
      "properties": {
        "dbFrameworkComplianceSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary"
          },
          "description": "The list of framework compliance summaries."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object",
      "properties": {
        "consoleUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved"
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport": {
      "description": "The aggregated compliance report.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport",
      "properties": {
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "The report time of the aggregated compliance report.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest",
      "description": "Request for updating permission settings for a partner workload.",
      "properties": {
        "partnerPermissions": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
          "description": "Required. The partner permissions to be updated."
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse",
      "description": "Response for EnableResourceMonitoring endpoint.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse": {
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "properties": {
        "ekmProvisioningState": {
          "type": "string",
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "type": "string",
          "description": "Indicates Ekm provisioning error if any.",
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "description": "Detailed error message if Ekm provisioning fails",
          "type": "string",
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule": {
      "description": "A rule used to express this policy.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule",
      "properties": {
        "denyAll": {
          "type": "boolean",
          "description": "ListPolicy only when all values are denied."
        },
        "values": {
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
          "description": "ListPolicy only when custom values are specified."
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        },
        "enforce": {
          "type": "boolean",
          "description": "BooleanPolicy only."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
      "description": "The values allowed for a ListPolicy.",
      "properties": {
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of violations.",
          "type": "integer"
        },
        "violations": {
          "type": "array",
          "description": "List of Violations under a Workload.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          }
        }
      },
      "description": "Response of ListViolations endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadUpdate": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time the update was created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "description": "Output only. The state of the update.",
          "type": "string"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1UpdateDetails"
        },
        "updateTime": {
          "description": "The time the update was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
      "description": "A workload update is a change to the workload's compliance configuration."
    },
    "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse": {
      "properties": {
        "dbControlComplianceSummaries": {
          "type": "array",
          "description": "The list of control compliance details.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
          }
        },
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse",
      "description": "The response message for ListDBControlComplianceSummaries.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "type": "object",
      "description": "Response for violation acknowledgement"
    },
    "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails": {
      "type": "object",
      "description": "The details for a control assessment.",
      "properties": {
        "assessedPassingControls": {
          "format": "int32",
          "description": "The number of controls that were assessed and are passing.",
          "type": "integer"
        },
        "notAssessedControlIds": {
          "description": "The list of controls that aren't assessed because they require manual review.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passingControls": {
          "description": "The number of controls that are passing or not assessed.",
          "type": "integer",
          "format": "int32"
        },
        "failingControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are failing."
        },
        "notAssessedControls": {
          "description": "The number of controls that aren't assessed because they require manual review.",
          "type": "integer",
          "format": "int32"
        },
        "assessedPassingControlIds": {
          "type": "array",
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          }
        },
        "failingControls": {
          "description": "The number of controls that are failing.",
          "type": "integer",
          "format": "int32"
        },
        "passingControlIds": {
          "description": "The list of controls that are passing or not assessed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact",
      "description": "Represents the impact of moving the asset to the target."
    },
    "GoogleCloudAssuredworkloadsV1UpdateDetails": {
      "id": "GoogleCloudAssuredworkloadsV1UpdateDetails",
      "description": "The details of the update.",
      "type": "object",
      "properties": {
        "orgPolicyUpdate": {
          "description": "Update to one org policy, e.g. gcp.resourceLocation.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions": {
      "properties": {
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
        },
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
        }
      },
      "description": "Instructions to remediate violation",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse": {
      "description": "Response of listing the compliance updates per workload with pagination.",
      "properties": {
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
          },
          "description": "The list of workload updates for a given workload.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "type": "object",
      "properties": {
        "duration": {
          "description": "Output only. The duration for the trend.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "valuePercent": {
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      },
      "description": "The trend of a compliance metric.",
      "id": "GoogleCloudAssuredworkloadsV1Trend"
    },
    "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails",
      "description": "The details for a manual cloud control assessment.",
      "properties": {
        "manualCloudControlGuide": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The guide for assessing a cloud control manually."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "description": "Response for archiving resource events.",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "description": "The total number of events successfully moved to the archive table.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "type": "object",
      "description": "Response for EnableComplianceUpdates endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "type": "object",
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "properties": {
        "accessTransparencyLogsSupportCaseViewer": {
          "type": "boolean",
          "description": "Optional. Allow partner to view support case details for an AXT log"
        },
        "serviceAccessApprover": {
          "description": "Optional. Allow partner to view access approval logs.",
          "type": "boolean"
        },
        "assuredWorkloadsMonitoring": {
          "type": "boolean",
          "description": "Optional. Allow partner to view violation alerts."
        },
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
    },
    "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse": {
      "properties": {
        "assetMoveAnalyses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
          },
          "description": "List of analysis results for each asset in scope."
[...]
