{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "id": "assuredworkloads:v1beta1",
  "name": "assuredworkloads",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20260914",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "title": "Assured Workloads API",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
      "properties": {
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consoleUris": {
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved",
          "type": "array"
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions": {
      "type": "object",
      "properties": {
        "dataLogsViewer": {
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations.",
          "type": "boolean"
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "description": "Optional. Allow partner to view support case details for an AXT log",
          "type": "boolean"
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        },
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        }
      },
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "description": "Options to be set for the given created workload.",
      "properties": {
        "kajEnrollmentType": {
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "description": "Represent the custom settings for the resources to be created.",
      "properties": {
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveImpact": {
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveImpact",
      "type": "object",
      "properties": {
        "detail": {
          "description": "Explanation of the impact.",
          "type": "string"
        }
      },
      "description": "Represents the impact of moving the asset to the target."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup": {
      "type": "object",
      "properties": {
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult"
        },
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "error": {
          "description": "Error details for a failed analysis.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup",
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
      "properties": {
        "ekmProvisioningState": {
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "type": "string",
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "readOnly": true
        },
        "ekmProvisioningErrorMapping": {
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ],
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "type": "string",
          "description": "Detailed error message if Ekm provisioning fails"
        },
        "ekmProvisioningErrorDomain": {
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ],
          "type": "string",
          "description": "Indicates Ekm provisioning error if any."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for IL4.",
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicy": {
      "properties": {
        "inherit": {
          "type": "boolean",
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited."
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule"
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false."
        },
        "constraint": {
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\".",
          "type": "string"
        },
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
      "type": "object",
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc)."
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "properties": {
        "availableUpdates": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of updates available for the workload."
        },
        "partnerPermissions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions",
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload"
        },
        "complianceStatus": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
          "description": "Output only. Count of active Violations in the Workload.",
          "readOnly": true
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "partnerServicesBillingAccount": {
          "type": "string",
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC"
        },
        "fedrampModerateSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
          "deprecated": true
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional."
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "resourceMonitoringEnabled": {
          "readOnly": true,
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "type": "boolean"
        },
        "fedrampHighSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
          "deprecated": true
        },
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "description": "Optional. Partner regime associated with this workload.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ]
        },
        "complianceRegime": {
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string"
        },
        "il4Settings": {
          "description": "Input only. Immutable. Settings specific to resources needed for IL4.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings"
        },
        "saaEnrollmentResponse": {
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse"
        },
        "ekmProvisioningResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
          "readOnly": true,
          "description": "Output only. Represents the Ekm Provisioning State of the given workload."
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "compliantButDisallowedServices": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment."
        },
        "workloadOptions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
          "description": "Optional. Options to be set for the given created workload."
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "complianceUpdatesEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the compliance updates feature is enabled for a workload. The compliance updates feature can be enabled via the EnableComplianceUpdates endpoint."
        },
        "resources": {
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels applied to the workload."
        },
        "kajEnrollmentState": {
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ]
        },
        "kmsSettings": {
          "deprecated": true,
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "description": "A Workload object for managing highly regulated workloads of cloud customers."
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse",
      "properties": {},
      "description": "Response for restricting the list of allowed resources.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "type": "object",
      "properties": {
        "setupStatus": {
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "type": "string",
          "readOnly": true
        },
        "setupErrors": {
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "type": "string",
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ]
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary": {
      "id": "GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary",
      "description": "The details for a framework compliance summary.",
      "type": "object",
      "properties": {
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails"
        },
        "targetResourceDetails": {
          "description": "The target resource details for the framework.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails"
          }
        },
        "majorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The major revision ID of the framework."
        },
        "name": {
          "description": "Identifier. The name of the framework compliance summary.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "type": "string",
          "description": "Optional. The display name for the framework."
        },
        "supportedCloudProviders": {
          "description": "The list of cloud providers supported by the framework.",
          "type": "array",
          "items": {
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "type": "string"
          }
        },
        "frameworkType": {
          "description": "The type of framework.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "frameworkCategories": {
          "type": "array",
          "description": "The list of framework categories supported by the framework.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "minorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The minor revision ID of the framework."
        },
        "controlsPassingTrend": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1Trend",
          "description": "Output only. The trend of controls that are passing for the given duration.",
          "readOnly": true
        },
        "findingCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The count of the findings generated against the framework."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "deprecated": true,
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for FedRAMP Moderate."
    },
    "GoogleCloudAssuredworkloadsV1beta1Violation": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Violation",
      "description": "Workload monitoring Violation.",
      "properties": {
        "beginTime": {
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resolveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty."
        },
        "exceptionContexts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext"
          },
          "description": "Output only. List of all the exception detail added for the violation."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the violation"
        },
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations."
        },
        "associatedOrgPolicyViolationId": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations."
        },
        "remediation": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
          "description": "Output only. Compliance violation remediation",
          "readOnly": true
        },
        "parentProjectNumber": {
          "readOnly": true,
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "acknowledged": {
          "type": "boolean",
          "description": "A boolean that indicates if the violation is acknowledged"
        },
        "violationType": {
          "description": "Output only. Type of the violation",
          "type": "string",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ]
        },
        "name": {
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "type": "string",
          "readOnly": true
        },
        "auditLogLink": {
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string",
          "readOnly": true
        },
        "orgPolicyConstraint": {
          "readOnly": true,
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "type": "string",
          "deprecated": true
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations.",
          "readOnly": true
        },
        "exceptionAuditLogLink": {
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "readOnly": true,
          "type": "string"
        },
        "acknowledgementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest": {
      "type": "object",
      "description": "Request for reverting archived resource events.",
      "properties": {
        "maxEventsMove": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The maximum total number of events to move in this request."
        },
        "region": {
          "type": "string",
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region."
        },
        "archiveEndTime": {
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "type": "string",
          "format": "google-datetime"
        },
        "batchSize": {
          "description": "Required. The number of events to process in a single transaction batch.",
          "format": "int32",
          "type": "integer"
        },
        "archiveStartTime": {
          "format": "google-datetime",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "type": "string"
        },
        "organizationId": {
          "description": "Required. The organization ID for which to revert events.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest"
    },
    "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last updated time of the finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the finding summary.",
          "type": "string"
        },
        "organizationPolicyFindingCount": {
          "description": "Output only. Number of active organization policy findings for this category.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "relatedFrameworks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of compliance frameworks that the finding belongs to."
        },
        "findingClass": {
          "description": "Output only. The class of the finding.",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The activity is unwanted or malicious.",
            "A potential weakness in software that increases risk to confidentiality, integrity, and availability.",
            "A potential weakness in a cloud resource or asset configuration that increases risk.",
            "A security observation that is for informational purposes.",
            "An error that prevents Security Command Center from functioning properly.",
            "A potential security risk that's due to a change in the security posture.",
            "A combination of security issues that represent a more severe security problem when taken together.",
            "A potential security risk to data assets that contain sensitive data.",
            "A resource or resource group where high risk attack paths converge, based on attack path simulations (APS)."
          ],
          "type": "string",
          "readOnly": true
        },
        "findingCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The count of the finding."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Output only. The severity of the finding.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "readOnly": true
        },
        "resourceFindingCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of active resource findings for this category.",
          "format": "int64"
        },
        "findingCategory": {
          "readOnly": true,
          "description": "Output only. The category of the finding.",
          "type": "string"
        }
      },
      "description": "The details for a finding.",
      "id": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest": {
      "properties": {
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        },
        "nonCompliantOrgPolicy": {
          "deprecated": true,
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string"
        },
        "acknowledgeType": {
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "description": "Optional. Acknowledge type of specified violation.",
          "type": "string"
        }
      },
      "description": "Request for acknowledging the violation",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
    },
    "GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummary": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummary",
      "description": "The details for control compliance.",
      "properties": {
        "orgPolicyFindingCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of organization policy findings for this control."
        },
        "displayName": {
          "description": "The display name of the control.",
          "type": "string"
        },
        "isFakeControl": {
          "description": "Whether the control is a fake control. Fake controls are created and mapped to cloud controls that don't belong to a control group.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the control compliance summary."
        },
        "description": {
          "description": "The description of the control.",
          "type": "string"
        },
        "totalFindingsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of findings for the control."
        },
        "controlResponsibilityType": {
          "type": "string",
          "description": "The responsibility type for the control.",
          "enum": [
            "REGULATORY_CONTROL_RESPONSIBILITY_TYPE_UNSPECIFIED",
            "GOOGLE",
            "CUSTOMER",
            "SHARED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google's responsibility.",
            "Your responsibility.",
            "Shared responsibility."
          ]
        },
        "control": {
          "type": "string",
          "description": "The name of the control."
        },
        "cloudControlReports": {
          "type": "array",
          "description": "The list of cloud control reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1CloudControlReport"
          }
        },
        "resourceFindingCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of resource findings for this control.",
          "readOnly": true
        },
        "complianceFrameworks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of compliance frameworks that the control belongs to."
        },
        "similarControls": {
          "description": "The list of similar controls.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1SimilarControls"
          }
        },
        "overallEvaluationState": {
          "description": "Output only. The overall evaluation status of the control.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1UpdateDetails": {
      "id": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
      "type": "object",
      "description": "The details of the update.",
      "properties": {
        "orgPolicyUpdate": {
          "description": "Update to one org policy, e.g. gcp.resourceLocation.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudAssuredworkloadsV1beta1CloudControlReport": {
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Rule"
          },
          "description": "The list of rules that correspond to the cloud control."
        },
        "cloudControlDeployment": {
          "description": "The name of the cloud control deployment.",
          "type": "string"
        },
        "enforcementMode": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "description": "The enforcement mode of the cloud control.",
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "similarControls": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1SimilarControls"
          },
          "type": "array",
          "description": "The list of similar controls."
        },
        "frameworkMajorRevisionIds": {
          "type": "array",
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "cloudControlType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "description": "The type of the cloud control."
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of categories for the cloud control."
        },
        "cloudControl": {
          "description": "The name of the cloud control.",
          "type": "string"
        },
        "findingCategory": {
          "description": "The category of the finding.",
          "type": "string"
        },
        "findingSeverity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "description": "The severity of the finding."
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails"
        },
        "displayName": {
          "description": "The display name of the cloud control.",
          "type": "string"
        },
        "majorRevisionId": {
          "description": "The major revision ID of the cloud control.",
          "type": "string",
          "format": "int64"
        },
        "manualCloudControlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails",
          "description": "The details of a manual cloud control assessment."
        },
        "description": {
          "description": "The description of the cloud control.",
          "type": "string"
        },
        "minorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The minor revision ID of the cloud control."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1CloudControlReport",
      "description": "The cloud control report."
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "type": "object",
      "properties": {
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        },
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          },
          "description": "List of eligible analyses performed for the asset.",
          "type": "array"
        },
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
      "properties": {
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli"
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli"
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse",
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse": {
      "properties": {
        "dbControlComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummary"
          },
          "type": "array",
          "description": "The list of control compliance details."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response message for ListDBControlComplianceSummaries.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse": {
      "type": "object",
      "properties": {
        "minorRevisionId": {
          "description": "The latest minor revision ID of the latest major revision of the framework.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The name of the framework compliance report.",
          "type": "string"
        },
        "supportedCloudProviders": {
          "description": "The list of cloud providers that are supported by the framework.",
          "items": {
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "frameworkDescription": {
          "description": "The description of the framework.",
          "type": "string"
        },
        "frameworkCategories": {
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          },
          "description": "The list of framework categories supported.",
          "type": "array"
        },
        "controlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
          "description": "The control assessment details of the framework."
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "majorRevisionId": {
          "description": "The latest major revision ID of the framework.",
          "type": "string",
          "format": "int64"
        },
        "frameworkType": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "description": "The type of the framework.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "type": "string",
          "description": "Optional. The display name for the framework."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last updated time of the report.",
          "type": "string",
          "format": "google-datetime"
        },
        "targetResourceDetails": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails"
          },
          "description": "The target resource details of the framework.",
          "type": "array"
        }
      },
      "description": "The response message for FetchDbFrameworkComplianceReport.",
      "id": "GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate": {
      "properties": {
        "suggestedPolicy": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
          "description": "The suggested org policy that replaces the applied policy."
        },
        "appliedPolicy": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
          "description": "The org policy currently applied on the assured workload resource."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate",
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse",
      "type": "object",
      "properties": {},
      "description": "Response for EnableComplianceUpdates endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues",
      "description": "The values allowed for a ListPolicy.",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        },
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule": {
      "type": "object",
      "properties": {
        "denyAll": {
          "type": "boolean",
          "description": "ListPolicy only when all values are denied."
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        },
        "enforce": {
          "type": "boolean",
          "description": "BooleanPolicy only."
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule",
      "description": "A rule used to express this policy."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "type": "string",
          "description": "Output only. The state of the update."
        },
        "details": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
          "description": "The details of the update."
        },
        "updateTime": {
          "description": "The time the update was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "The time the update was created.",
          "format": "google-datetime"
        }
      },
      "description": "A workload update is a change to the workload's compliance configuration.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse": {
      "properties": {
        "movedEventsCount": {
          "format": "int32",
          "description": "The total number of events successfully moved to the original table.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsResponse",
      "description": "Response for reverting archived resource events.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails": {
      "description": "The details for a manual cloud control assessment.",
      "type": "object",
      "properties": {
        "manualCloudControlGuide": {
          "description": "The guide for assessing a cloud control manually.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "properties": {
        "complianceRegime": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload."
        },
        "resourceSettings": {
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        },
        "parent": {
          "type": "string",
          "description": "Optional. The parent of the workload."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "createTime": {
          "type": "string",
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload."
    },
    "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table."
        }
      },
      "type": "object",
      "description": "Response for archiving resource events."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext": {
      "properties": {
        "comment": {
          "description": "Business justification provided towards the acknowledgement of the violation.",
          "type": "string"
        },
        "acknowledgementTime": {
          "format": "google-datetime",
          "description": "Timestamp when the violation was acknowledged.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Name of the user (or service account) who acknowledged the violation."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext",
      "description": "Violation exception detail."
    },
    "GoogleCloudAssuredworkloadsV1beta1StringList": {
      "id": "GoogleCloudAssuredworkloadsV1beta1StringList",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The strings in the list.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of strings for the parameter value."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of violations."
        },
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          },
          "description": "List of Violations under a Workload.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse",
      "description": "Response of ListViolations endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport": {
      "description": "The aggregated compliance report.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport",
      "properties": {
        "controlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
          "description": "The control assessment details of the framework."
        },
        "reportTime": {
          "type": "string",
          "description": "The report time of the aggregated compliance report.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1Trend": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The duration for the trend."
        },
        "valuePercent": {
          "type": "number",
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "readOnly": true,
          "format": "double"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1Trend",
      "description": "The trend of a compliance metric.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "description": "The action to be performed on the update.",
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        }
      },
      "type": "object",
      "description": "Request to apply update to a workload."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string"
        },
        "dbFrameworkComplianceSummaries": {
          "description": "The list of framework compliance summaries.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse."
    },
    "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse": {
      "description": "Response containing the analysis results for the hypothetical resource move.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Is empty if the last page is reached."
        },
        "assetMoveAnalyses": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis"
          },
          "description": "List of analysis results for each asset in scope.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1Rule": {
      "properties": {
        "ruleActionTypes": {
          "type": "array",
          "description": "Required. The functionality that's enabled by the rule.",
          "items": {
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ],
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. The rule description. The maximum length is 2000 characters."
        },
        "celExpression": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1CELExpression",
          "description": "The rule's logic expression in Common Expression Language (CEL)."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1Rule",
      "description": "A rule in the cloud control.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate"
          },
          "type": "array",
          "description": "The list of workload updates for a given workload."
        }
      },
      "description": "Response of listing the compliance updates per workload with pagination."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "type": "object",
      "properties": {
        "consoleInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
          "description": "Remediation instructions to resolve violation via cloud console"
        },
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud"
        }
      },
      "description": "Instructions to remediate violation",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse": {
      "properties": {
        "dbFindingSummaries": {
          "description": "List of finding summary by category.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1DbFindingSummary"
          }
        },
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The response message for ListDbFindingSummaries.",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "description": "Settings specific to resources needed for FedRAMP High.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1beta1CELExpression": {
      "description": "A Common Expression Language (CEL) expression that's used to create a rule.",
      "id": "GoogleCloudAssuredworkloadsV1beta1CELExpression",
      "type": "object",
      "properties": {
        "resourceTypesValues": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1StringList",
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`"
        },
        "expression": {
          "type": "string",
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions)."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata": {
      "description": "Operation metadata to give request details of ApplyWorkloadUpdate.",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "type": "string",
          "description": "Optional. The time the operation was created.",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time the operation was created.",
          "readOnly": true
        },
        "updateName": {
          "description": "Required. The resource name of the update",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse",
      "type": "object",
      "description": "Response for violation acknowledgement",
      "properties": {}
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
[...]
