{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-auditmanager": {
          "description": "See, edit, configure, and delete your Google Cloud Auditmanager data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "auditmanager:v1",
  "baseUrl": "https://auditmanager.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260918",
  "basePath": "",
  "schemas": {
    "ScheduleConfig": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Date that the schedule stops. If not specified, the schedule runs indefinitely.",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Optional. Time zone for the audit schedule in IANA format (for example, `America/New_York`). The time zone is used to interpret the `start_time` and the `end_time`, and to calculate subsequent run dates. If not specified, the time zone default is UTC.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Date and time when the first audit run is triggered. Subsequent runs are based on this time and the chosen frequency.",
          "type": "string"
        },
        "frequency": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The audit runs every day.",
            "The audit runs weekly on the same day of the week as `start_time`.",
            "The audit runs monthly on the same day of the month as `start_time`.",
            "The audit runs quarterly (every 3 months) on the same day of the month as `start_time`.",
            "The audit runs annually on the same month and day as `start_time`."
          ],
          "description": "Required. Frequency of audit runs.",
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "QUARTERLY",
            "ANNUALLY"
          ]
        }
      },
      "id": "ScheduleConfig",
      "description": "Timing and frequency parameters for recurring audit runs.",
      "type": "object"
    },
    "AuditScopeReport": {
      "properties": {
        "scopeReportContents": {
          "description": "Audit scope report content in byte format.",
          "format": "byte",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name for the audit scope report, in one of the following formats: * `projects/{project}/locations/{location}/auditScopeReports/{audit_scope_report}` * `folders/{folder}/locations/{location}/auditScopeReports/{audit_scope_report}` * `organizations/{organization}/locations/{location}/auditScopeReports/{audit_scope_report}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Audit scope report.",
      "id": "AuditScopeReport"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether you requested that the operation be cancelled. Operations that were cancelled successfully have an Operation.error value with a status code Code.CANCELLED."
        },
        "target": {
          "type": "string",
          "description": "Output only. A server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Time that the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. The API version used to start the operation. For example, `v1`.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. The name of the verb that was executed by the operation.",
          "type": "string"
        }
      },
      "description": "Metadata for the long-running operation."
    },
    "DestinationDetails": {
      "description": "Cloud Storage bucket where the audit report is uploaded to.",
      "type": "object",
      "properties": {
        "gcsBucketUri": {
          "type": "string",
          "description": "URI for the Cloud Storage bucket, in the format `gs://{bucket_name}`."
        }
      },
      "id": "DestinationDetails"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GenerateAuditScopeReportRequest": {
      "id": "GenerateAuditScopeReportRequest",
      "description": "Request message for GenerateAuditScopeReport.",
      "properties": {
        "reportFormat": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "type": "string",
          "description": "Required. Format for the audit scope report.",
          "enum": [
            "AUDIT_SCOPE_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_SCOPE_REPORT_FORMAT_ODF"
          ]
        },
        "validateOnly": {
          "description": "Optional. If `true`, only validates the request and does not generate the audit scope report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
          "type": "boolean"
        },
        "complianceStandard": {
          "description": "Optional. Deprecated. The standard (industry or regulatory requirements) that the audit scope report is run against. Use the `compliance_framework` field instead.",
          "type": "string",
          "deprecated": true
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`."
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "AuditReport": {
      "properties": {
        "complianceStandard": {
          "type": "string",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated. Compliance standard to be audited against. Use the `compliance_framework` field instead."
        },
        "scope": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Organization, folder, or project that the report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
        },
        "createTime": {
          "description": "Output only. Creation time of the audit report.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "controlDetails": {
          "type": "array",
          "description": "Output only. Overall status of the controls.",
          "items": {
            "$ref": "ControlDetails"
          },
          "readOnly": true
        },
        "reportGenerationState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The process is in progress. The operation can have any state except for `OPERATION_STATE_DONE` or `OPERATION_STATE_FAILED`.",
            "The process is completed. The operation state is `OPERATION_STATE_DONE`.",
            "The process has failed. The operation state is `OPERATION_STATE_FAILED`.",
            "The process completed, but the report summary's status is unknown. This state isn't used for new reports."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of audit report generation.",
          "enum": [
            "REPORT_GENERATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED",
            "SUMMARY_UNKNOWN"
          ]
        },
        "reportSummary": {
          "description": "Output only. Report summary that includes information about compliance and violation counts.",
          "$ref": "ReportSummary",
          "readOnly": true
        },
        "operationId": {
          "readOnly": true,
          "description": "Output only. Client operation ID for the audit report.",
          "type": "string"
        },
        "complianceFramework": {
          "type": "string",
          "description": "Output only. Compliance framework to use for the audit report. For example, `CIS_GCP_FOUNDATIONS_V1_2_0`.",
          "readOnly": true
        },
        "destinationDetails": {
          "readOnly": true,
          "$ref": "DestinationDetails",
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to."
        },
        "name": {
          "description": "Identifier. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
          "type": "string"
        },
        "scopeId": {
          "description": "Output only. Project number, folder ID, or organization ID that the audit report was generated for.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An audit report.",
      "id": "AuditReport",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ReportGenerationProgress": {
      "properties": {
        "reportUploadingPercentComplete": {
          "description": "Report uploading progress, defined in terms of percentage complete. Until evaluation and report generation are complete, this value is always `0`.",
          "format": "double",
          "type": "number"
        },
        "failureReason": {
          "description": "Output only. Reason for failure during the audit report generation process. This field is set only if the `OperationState` attribute is `OPERATION_STATE_FAILED`.",
          "type": "string",
          "readOnly": true
        },
        "destinationGcsBucket": {
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to after the evaluation process is completed.",
          "type": "string",
          "readOnly": true
        },
        "evaluationPercentComplete": {
          "type": "number",
          "description": "Progress of the evaluation process. The progress is defined in terms of percentage complete.",
          "format": "double"
        },
        "auditReport": {
          "description": "Output only. Name of the audit report.",
          "type": "string",
          "readOnly": true
        },
        "reportGenerationPercentComplete": {
          "description": "Report generation progress, defined in terms of percentage complete. Until evaluation is complete, this value is always `0`.",
          "type": "number",
          "format": "double"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audit generation process hasn't started.",
            "Evaluation process is in progress.",
            "Evaluation process is completed.",
            "Report generation process is in progress.",
            "Report generation process is completed.",
            "The audit report and evidence are being uploaded to your bucket.",
            "The audit report and evidence are uploaded to your bucket.",
            "Audit report generation process failed."
          ],
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_NOT_STARTED",
            "OPERATION_STATE_EVALUATION_IN_PROGRESS",
            "OPERATION_STATE_EVALUATION_DONE",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_IN_PROGRESS",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_DONE",
            "OPERATION_STATE_EVIDENCE_UPLOAD_IN_PROGRESS",
            "OPERATION_STATE_DONE",
            "OPERATION_STATE_FAILED"
          ],
          "description": "Output only. Current state of execution for report generation.",
          "type": "string"
        }
      },
      "id": "ReportGenerationProgress",
      "type": "object",
      "description": "Details about the current status of the report-generation process."
    },
    "ResourceEnrollmentStatus": {
      "id": "ResourceEnrollmentStatus",
      "description": "An organization, folder, or project with its enrollment status.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
        },
        "enrollmentState": {
          "description": "Output only. Enrollment state of the organization, folder, or project.",
          "enum": [
            "RESOURCE_ENROLLMENT_STATE_UNSPECIFIED",
            "NOT_ENROLLED",
            "INHERITED",
            "ENROLLED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource isn't enrolled.",
            "The resource isn't enrolled but the parent is enrolled.",
            "The resource is enrolled."
          ]
        },
        "enrollment": {
          "readOnly": true,
          "$ref": "Enrollment",
          "description": "Output only. Enrolled destination details for the organization, folder, or project."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name for the organization, folder, or project.",
          "readOnly": true
        },
        "enrolled": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated. Whether the organization, folder, or project is enrolled. Use `enrollment_state` instead.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListControlsResponse": {
      "description": "Response message for ListControls.",
      "properties": {
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          },
          "readOnly": true,
          "description": "Output only. Controls for a given regulatory standard."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListControlsResponse"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ControlDetails": {
      "type": "object",
      "description": "Evaluation details for a control.",
      "properties": {
        "control": {
          "description": "Control that the findings are being reported for.",
          "$ref": "Control"
        },
        "complianceState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource is compliant.",
            "The resource isn't compliant.",
            "You must complete a manual review.",
            "An error was encountered during the evaluation or evidence gathering process.",
            "The resource can't be audited."
          ],
          "description": "Output only. Overall status of the findings for the control.",
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "VIOLATION",
            "MANUAL_REVIEW_NEEDED",
            "ERROR",
            "AUDIT_NOT_SUPPORTED"
          ]
        },
        "controlReportSummary": {
          "$ref": "ReportSummary",
          "description": "A control report summary that provides a high-level overview of the compliance controls and the assessment status."
        }
      },
      "id": "ControlDetails"
    },
    "GenerateAuditReportRequest": {
      "type": "object",
      "description": "Request message for GenerateAuditReport.",
      "id": "GenerateAuditReportRequest",
      "properties": {
        "gcsUri": {
          "description": "URL for the Cloud Storage bucket where the report and evidence is uploaded. You must select a bucket that was provided during the enrollment process.",
          "type": "string"
        },
        "complianceStandard": {
          "deprecated": true,
          "description": "Optional. Deprecated. Compliance standard for the audit report. Use the `compliance_framework` field instead.",
          "type": "string"
        },
        "reportFormat": {
          "type": "string",
          "description": "Required. Format for the audit report.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ]
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. The framework that's used for the audit report. For example, `NIST_800_53`."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, only validates the request and does not generate the audit report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without triggering expensive Long-Running Operations (LROs) or consuming resource quotas."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ReportSummary": {
      "properties": {
        "manualReviewNeededCount": {
          "description": "Number of checks that require a manual review.",
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "format": "int32",
          "description": "Total number of evaluated checks.",
          "type": "integer"
        },
        "violationCount": {
          "description": "Number of checks with violations.",
          "format": "int32",
          "type": "integer"
        },
        "errorCount": {
          "type": "integer",
          "description": "Number of checks that can't be performed due to errors.",
          "format": "int32"
        },
        "compliantCount": {
          "description": "Number of compliant checks.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ReportSummary",
      "description": "Additional information about the number of checks that were made during an audit operation.",
      "type": "object"
    },
    "ControlFamily": {
      "properties": {
        "familyId": {
          "type": "string",
          "description": "ID of the regulatory control family. To find the list of supported control families, use the ListControls method and review the `control_family` field in the response."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the regulatory control family."
        }
      },
      "type": "object",
      "id": "ControlFamily",
      "description": "Regulatory family of the control."
    },
    "Enrollment": {
      "properties": {
        "name": {
          "description": "Identifier. Name of the enrollment, in one of the following formats: * `projects/{project}/locations/{location}/enrollments/{enrollment}` * `folders/{folder}/locations/{location}/enrollments/{enrollment}` * `organizations/{organization}/locations/{location}/enrollments/{enrollment}`",
          "type": "string"
        },
        "destinationDetails": {
          "type": "array",
          "items": {
            "$ref": "DestinationDetails"
          },
          "readOnly": true,
          "description": "Output only. Cloud Storage buckets where you want to upload the audit reports."
        }
      },
      "description": "Organization, folder, or project to enroll for audit reports.",
      "type": "object",
      "id": "Enrollment"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListAuditReportsResponse": {
      "type": "object",
      "properties": {
        "auditReports": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AuditReport"
          },
          "description": "Output only. Audit reports."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListAuditReportsResponse",
      "description": "Response message for ListAuditReports."
    },
    "AuditSchedule": {
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. Cloud Storage bucket where Audit Manager can upload the audit report and evidence. The format is `gs://{bucket_name}`."
        },
        "state": {
          "enum": [
            "SCHEDULE_STATE_UNSPECIFIED",
            "SCHEDULE_STATE_ACTIVE",
            "SCHEDULE_STATE_PAUSED",
            "SCHEDULE_STATE_COMPLETED",
            "SCHEDULE_STATE_FAILED_SETUP",
            "SCHEDULE_STATE_ERROR",
            "SCHEDULE_STATE_DELETED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Schedule is active and will trigger runs.",
            "Schedule is paused and will not trigger runs.",
            "Schedule end time has passed.",
            "Schedule setup failed during creation or update.",
            "Schedule is in an error state due to persistent failure to trigger an audit. Manual intervention is required.",
            "Schedule has been marked for deletion by the user."
          ],
          "type": "string",
          "description": "Optional. State of the audit schedule. While most states are managed by the system, you can use UpdateAuditSchedule to start, pause, or delete the schedule."
        },
        "scheduleConfig": {
          "description": "Required. Configuration that defines when and how often audit runs are automatically triggered for this schedule.",
          "$ref": "ScheduleConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the schedule was created."
        },
        "name": {
          "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
          "type": "string"
        },
        "reportFormat": {
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document Format (ODF)."
          ],
          "type": "string",
          "description": "Required. Format for the audit report."
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. Describes the error if the schedule is in an error state.",
          "readOnly": true
        },
        "lastTriggerTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the audit run was last triggered."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the schedule was last updated."
        },
        "displayName": {
          "description": "Optional. Display name for the audit schedule.",
          "type": "string"
        },
        "nextRunTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Calculated timestamp for the next scheduled run.",
          "format": "google-datetime"
        },
        "complianceFramework": {
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An audit schedule, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}`",
      "id": "AuditSchedule"
    },
    "EligibleDestination": {
      "description": "Details about the bucket where you want to upload the audit report.",
      "type": "object",
      "properties": {
        "eligibleGcsBucket": {
          "type": "string",
          "description": "The location of the Cloud Storage bucket where you want to upload the audit report and evidence during the GenerateAuditReport API call."
        }
      },
      "id": "EligibleDestination"
    },
    "ListResourceEnrollmentStatusesResponse": {
      "type": "object",
      "id": "ListResourceEnrollmentStatusesResponse",
      "description": "Response message for ListResourceEnrollmentStatuses.",
      "properties": {
        "resourceEnrollmentStatuses": {
          "description": "Resources with their enrollment status.",
          "items": {
            "$ref": "ResourceEnrollmentStatus"
          },
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EnrollResourceRequest": {
      "description": "Request message for EnrollResource.",
      "type": "object",
      "id": "EnrollResourceRequest",
      "properties": {
        "validateOnly": {
          "description": "Optional. If `true`, only validates the request and does not enroll the resource. This executes standard request validation (such as schema, IAM, and destination checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
          "type": "boolean"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "EligibleDestination"
          },
          "description": "Required. Cloud Storage buckets that you can upload your audit reports to during the audit process. When you enroll an organization or folder, you can choose a Cloud Storage bucket from any project in the organization or folder. If you run an audit at the project level using the service agent at the organization or folder level, all the buckets that are associated with the service agent are available."
        }
      }
    },
    "ListAuditSchedulesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that can't be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "auditSchedules": {
          "items": {
            "$ref": "AuditSchedule"
          },
          "type": "array",
          "description": "List of audit schedules."
        }
      },
      "type": "object",
      "id": "ListAuditSchedulesResponse",
      "description": "Response message for ListAuditSchedules."
    },
    "Control": {
      "id": "Control",
      "type": "object",
      "description": "A control.",
      "properties": {
        "family": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Access control.",
            "Awareness and training.",
            "Audit and accountability.",
            "Certification, accreditation and security assessments.",
            "Configuration management and change control.",
            "Contingency planning and disaster recovery.",
            "Identification and authentication.",
            "Incident response.",
            "Maintenance.",
            "Media protection.",
            "Physical and environmental protection.",
            "Security planning.",
            "Personnel security.",
            "Risk assessment.",
            "System services and acquisition.",
            "System and communications protection.",
            "System and information integrity.",
            "Supply chain risk management."
          ],
          "enum": [
            "FAMILY_UNSPECIFIED",
            "AC",
            "AT",
            "AU",
            "CA",
            "CM",
            "CP",
            "IA",
            "IR",
            "MA",
            "MP",
            "PE",
            "PL",
            "PS",
            "RA",
            "SA",
            "SC",
            "SI",
            "SR"
          ],
          "description": "Output only. Category that the control belongs to.",
          "readOnly": true
        },
        "customerResponsibilityDescription": {
          "type": "string",
          "description": "Output only. A description of your responsibility for this control.",
          "readOnly": true
        },
        "responsibilityType": {
          "readOnly": true,
          "description": "Output only. Who is responsible for implementing this control. Set to one of the following values: `GOOGLE`, `CUSTOMER`, or `SHARED`.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Control identifier that's used to fetch the findings. The identifier is the same as the control report name."
        },
        "displayName": {
          "description": "Output only. Display name of the control.",
          "readOnly": true,
          "type": "string"
        },
        "googleResponsibilityImplementation": {
          "type": "string",
          "description": "Output only. A description of how Google implements its responsibility for this control.",
          "readOnly": true
        },
        "customerResponsibilityImplementation": {
          "type": "string",
          "description": "Output only. A description of how you can implement your responsibility for this control.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the control.",
          "readOnly": true
        },
        "googleResponsibilityDescription": {
          "readOnly": true,
          "description": "Output only. A description of Google's responsibility for this control.",
          "type": "string"
        },
        "controlFamily": {
          "$ref": "ControlFamily",
          "readOnly": true,
          "description": "Output only. Regulatory family of the control."
        }
      }
    }
  },
  "title": "Audit Manager API",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "auditSchedules": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}"
                    },
                    "updateMask": {
                      "description": "Optional. List of fields to update.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.organizations.locations.auditSchedules.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing audit schedule.",
                  "path": "v1/{+name}"
                },
                "get": {
                  "description": "Gets details of a single audit schedule.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`"
                    }
                  },
                  "id": "auditmanager.organizations.locations.auditSchedules.get"
                },
                "list": {
                  "description": "Lists audit schedules in a given project and location.",
                  "id": "auditmanager.organizations.locations.auditSchedules.list",
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/auditSchedules",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/auditSchedules",
                  "httpMethod": "POST",
                  "description": "Creates a new audit schedule in a given project and location.",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.organizations.locations.auditSchedules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "auditScheduleId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name."
                    },
                    "validateOnly": {
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules"
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "id": "auditmanager.organizations.locations.operationDetails.get",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operationDetails/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/standards/[^/]+$"
                        }
                      },
                      "id": "auditmanager.organizations.locations.standards.controls.list",
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/controls"
                    }
                  }
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "id": "auditmanager.organizations.locations.operationIds.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$"
                    }
                  },
                  "description": "Gets a resource and its enrollment status.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses",
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.organizations.locations.operations.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "auditmanager.organizations.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "id": "auditmanager.organizations.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.organizations.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations"
                }
              }
            },
            "auditReports": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/auditReports",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.auditReports.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.auditReports.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditReports/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "description": "Gets the full metadata and findings for an audit report.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generate": {
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports:generate",
                  "id": "auditmanager.organizations.locations.auditReports.generate",
                  "path": "v1/{+scope}/auditReports:generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "scope": {
                      "type": "string",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "scope"
                  ]
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "parameterOrder": [
                    "scope"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditScopeReports:generate",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "httpMethod": "POST",
                  "id": "auditmanager.organizations.locations.auditScopeReports.generate",
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "parameters": {
                    "scope": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true
                    }
                  },
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework."
                }
              }
            }
          },
          "methods": {
            "enrollResource": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Enrollment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "path": "v1/{+scope}:enrollResource",
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "parameters": {
                "scope": {
                  "required": true,
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$"
                }
              },
              "id": "auditmanager.organizations.locations.enrollResource",
              "parameterOrder": [
                "scope"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}:enrollResource"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/controls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/standards/[^/]+$",
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`"
                        }
                      },
                      "id": "auditmanager.folders.locations.standards.controls.list",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/standards/{standardsId}/controls"
                    }
                  }
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "auditmanager.folders.locations.auditSchedules.get",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "description": "Gets details of a single audit schedule.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists audit schedules in a given project and location.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules",
                  "path": "v1/{+parent}/auditSchedules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "id": "auditmanager.folders.locations.auditSchedules.list"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/auditSchedules",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "description": "Creates a new audit schedule in a given project and location.",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "auditScheduleId": {
                      "type": "string",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.folders.locations.auditSchedules.create",
                  "httpMethod": "POST"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "description": "Updates an existing audit schedule.",
                  "httpMethod": "PATCH",
                  "id": "auditmanager.folders.locations.auditSchedules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. List of fields to update.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditSchedules/[^/]+$"
                    }
                  }
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.list",
                  "httpMethod": "GET",
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "description": "Gets a resource and its enrollment status.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.get",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}"
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operationIds/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "auditmanager.folders.locations.operationIds.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "httpMethod": "GET"
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "parameters": {
                    "scope": {
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditScopeReports:generate",
                  "id": "auditmanager.folders.locations.auditScopeReports.generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "auditReports": {
              "methods": {
                "generate": {
                  "parameters": {
                    "scope": {
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "scope"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports:generate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+scope}/auditReports:generate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "id": "auditmanager.folders.locations.auditReports.generate"
                },
                "get": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "auditmanager.folders.locations.auditReports.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "description": "Gets the full metadata and findings for an audit report.",
                  "path": "v1/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/auditReports",
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
[...]
