{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-auditmanager": {
          "description": "See, edit, configure, and delete your Google Cloud Auditmanager data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "The Audit Manager API allows customers to manage compliance audits.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://auditmanager.googleapis.com/",
  "name": "auditmanager",
  "ownerDomain": "google.com",
  "revision": "20260918",
  "protocol": "rest",
  "rootUrl": "https://auditmanager.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/assured-workloads/docs/audit-manager",
  "version": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://auditmanager.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://auditmanager.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://auditmanager.asia-south1.rep.googleapis.com/"
    }
  ],
  "title": "Audit Manager API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "enrollResource": {
              "parameters": {
                "scope": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                }
              },
              "parameterOrder": [
                "scope"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollResource",
              "httpMethod": "POST",
              "id": "auditmanager.projects.locations.enrollResource",
              "path": "v1/{+scope}:enrollResource",
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "response": {
                "$ref": "Enrollment"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "auditmanager.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "auditmanager.projects.locations.get",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "operationDetails": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationDetails/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "id": "auditmanager.projects.locations.operationDetails.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "auditScheduleId": {
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    }
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "path": "v1/{+parent}/auditSchedules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules",
                  "id": "auditmanager.projects.locations.auditSchedules.create",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "description": "Creates a new audit schedule in a given project and location."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. List of fields to update.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "auditmanager.projects.locations.auditSchedules.patch",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "description": "Updates an existing audit schedule.",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single audit schedule.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditSchedules/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.projects.locations.auditSchedules.get"
                },
                "list": {
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "id": "auditmanager.projects.locations.auditSchedules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists audit schedules in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules",
                  "path": "v1/{+parent}/auditSchedules",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditScopeReports:generate",
                  "parameters": {
                    "scope": {
                      "required": true,
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "id": "auditmanager.projects.locations.auditScopeReports.generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  }
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a resource and its enrollment status.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.projects.locations.resourceEnrollmentStatuses.get"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "auditmanager.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "auditmanager.projects.locations.operations.cancel"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "auditmanager.projects.locations.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "auditmanager.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.projects.locations.operationIds.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "auditmanager.projects.locations.standards.controls.list",
                      "path": "v1/{+parent}/controls",
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/standards/[^/]+$",
                          "location": "path",
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "auditReports": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "path": "v1/{+parent}/auditReports",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "auditmanager.projects.locations.auditReports.list"
                },
                "generate": {
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "path": "v1/{+scope}/auditReports:generate",
                  "id": "auditmanager.projects.locations.auditReports.generate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "scope"
                  ],
                  "parameters": {
                    "scope": {
                      "type": "string",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports:generate",
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the full metadata and findings for an audit report.",
                  "httpMethod": "GET",
                  "id": "auditmanager.projects.locations.auditReports.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AuditReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "enrollResource": {
              "path": "v1/{+scope}:enrollResource",
              "parameters": {
                "scope": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                }
              },
              "response": {
                "$ref": "Enrollment"
              },
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}:enrollResource",
              "parameterOrder": [
                "scope"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "id": "auditmanager.organizations.locations.enrollResource",
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations."
            }
          },
          "resources": {
            "operationIds": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.operationIds.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operationIds/{operationIdsId}"
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditScopeReports:generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "id": "auditmanager.organizations.locations.auditScopeReports.generate",
                  "parameters": {
                    "scope": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    }
                  },
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework."
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "path": "v1/{+parent}/controls",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/standards/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "httpMethod": "GET",
                      "id": "auditmanager.organizations.locations.standards.controls.list"
                    }
                  }
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "id": "auditmanager.organizations.locations.operationDetails.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operationDetails/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single audit schedule.",
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.auditSchedules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/auditSchedules",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "description": "Lists audit schedules in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "auditmanager.organizations.locations.auditSchedules.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules"
                },
                "patch": {
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.organizations.locations.auditSchedules.patch",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. List of fields to update."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing audit schedule.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}"
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/auditSchedules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new audit schedule in a given project and location.",
                  "id": "auditmanager.organizations.locations.auditSchedules.create",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`"
                    },
                    "auditScheduleId": {
                      "location": "query",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments.",
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                    }
                  },
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.list"
                },
                "get": {
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.get",
                  "description": "Gets a resource and its enrollment status.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "auditmanager.organizations.locations.operations.list",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  }
                },
                "cancel": {
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "auditmanager.organizations.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "auditmanager.organizations.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "auditmanager.organizations.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "auditReports": {
              "methods": {
                "get": {
                  "description": "Gets the full metadata and findings for an audit report.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "id": "auditmanager.organizations.locations.auditReports.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "generate": {
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "id": "auditmanager.organizations.locations.auditReports.generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "path": "v1/{+scope}/auditReports:generate",
                  "parameters": {
                    "scope": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports:generate",
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/auditReports",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "id": "auditmanager.organizations.locations.auditReports.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "description": "Gets a resource and its enrollment status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses",
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments.",
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.list"
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operationIds/[^/]+$"
                    }
                  },
                  "id": "auditmanager.folders.locations.operationIds.get",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "parameterOrder": [
                    "scope"
                  ],
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "auditmanager.folders.locations.auditScopeReports.generate",
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditScopeReports:generate",
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "parameters": {
                    "scope": {
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "get": {
                  "description": "Gets details of a single audit schedule.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.folders.locations.auditSchedules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "path": "v1/{+parent}/auditSchedules",
                  "description": "Creates a new audit schedule in a given project and location.",
                  "id": "auditmanager.folders.locations.auditSchedules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    },
                    "auditScheduleId": {
                      "location": "query",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules"
                },
                "list": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/auditSchedules",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "id": "auditmanager.folders.locations.auditSchedules.list",
                  "description": "Lists audit schedules in a given project and location."
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.folders.locations.auditSchedules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. List of fields to update."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates an existing audit schedule."
                }
              }
            },
            "auditReports": {
              "methods": {
                "list": {
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "path": "v1/{+parent}/auditReports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports",
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                    }
                  },
                  "id": "auditmanager.folders.locations.auditReports.list"
                },
                "generate": {
                  "path": "v1/{+scope}/auditReports:generate",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports:generate",
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "id": "auditmanager.folders.locations.auditReports.generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "parameters": {
                    "scope": {
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the full metadata and findings for an audit report.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "id": "auditmanager.folders.locations.auditReports.get",
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/operationDetails/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.folders.locations.operationDetails.get"
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/controls",
                      "id": "auditmanager.folders.locations.standards.controls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "parameters": {
                        "parent": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/standards/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "enrollResource": {
              "parameters": {
                "scope": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                  "required": true,
                  "pattern": "^folders/[^/]+/locations/[^/]+$"
                }
              },
              "id": "auditmanager.folders.locations.enrollResource",
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "flatPath": "v1/folders/{foldersId}/locations/{locationsId}:enrollResource",
              "httpMethod": "POST",
              "parameterOrder": [
                "scope"
              ],
              "response": {
                "$ref": "Enrollment"
              },
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "path": "v1/{+scope}:enrollResource",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "id": "auditmanager:v1",
  "ownerName": "Google",
  "schemas": {
    "Control": {
      "id": "Control",
      "properties": {
        "responsibilityType": {
          "readOnly": true,
          "description": "Output only. Who is responsible for implementing this control. Set to one of the following values: `GOOGLE`, `CUSTOMER`, or `SHARED`.",
          "type": "string"
        },
        "customerResponsibilityImplementation": {
          "readOnly": true,
          "description": "Output only. A description of how you can implement your responsibility for this control.",
          "type": "string"
        },
        "family": {
          "enum": [
            "FAMILY_UNSPECIFIED",
            "AC",
            "AT",
            "AU",
            "CA",
            "CM",
            "CP",
            "IA",
            "IR",
            "MA",
            "MP",
            "PE",
            "PL",
            "PS",
            "RA",
            "SA",
            "SC",
            "SI",
            "SR"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Access control.",
            "Awareness and training.",
            "Audit and accountability.",
            "Certification, accreditation and security assessments.",
            "Configuration management and change control.",
            "Contingency planning and disaster recovery.",
            "Identification and authentication.",
            "Incident response.",
            "Maintenance.",
            "Media protection.",
            "Physical and environmental protection.",
            "Security planning.",
            "Personnel security.",
            "Risk assessment.",
            "System services and acquisition.",
            "System and communications protection.",
            "System and information integrity.",
            "Supply chain risk management."
          ],
          "type": "string",
          "description": "Output only. Category that the control belongs to.",
[...]
