{
  "id": "auditmanager:v1",
  "title": "Audit Manager API",
  "ownerName": "Google",
  "name": "auditmanager",
  "canonicalName": "Cloud Audit Manager",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://auditmanager.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://auditmanager.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://auditmanager.asia-south1.rep.googleapis.com/"
    }
  ],
  "version": "v1",
  "ownerDomain": "google.com",
  "revision": "20260907",
  "batchPath": "batch",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "baseUrl": "https://auditmanager.googleapis.com/",
  "mtlsRootUrl": "https://auditmanager.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-auditmanager": {
          "description": "See, edit, configure, and delete your Google Cloud Auditmanager data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "GenerateAuditScopeReportRequest": {
      "description": "Request message for GenerateAuditScopeReport.",
      "id": "GenerateAuditScopeReportRequest",
      "type": "object",
      "properties": {
        "complianceStandard": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated. The standard (industry or regulatory requirements) that the audit scope report is run against. Use the `compliance_framework` field instead."
        },
        "validateOnly": {
          "description": "Optional. If `true`, only validates the request and does not generate the audit scope report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
          "type": "boolean"
        },
        "complianceFramework": {
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`.",
          "type": "string"
        },
        "reportFormat": {
          "description": "Required. Format for the audit scope report.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "enum": [
            "AUDIT_SCOPE_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_SCOPE_REPORT_FORMAT_ODF"
          ]
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "Control": {
      "type": "object",
      "description": "A control.",
      "properties": {
        "googleResponsibilityDescription": {
          "type": "string",
          "description": "Output only. A description of Google's responsibility for this control.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the control."
        },
        "controlFamily": {
          "readOnly": true,
          "$ref": "ControlFamily",
          "description": "Output only. Regulatory family of the control."
        },
        "googleResponsibilityImplementation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of how Google implements its responsibility for this control."
        },
        "customerResponsibilityDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of your responsibility for this control."
        },
        "family": {
          "enum": [
            "FAMILY_UNSPECIFIED",
            "AC",
            "AT",
            "AU",
            "CA",
            "CM",
            "CP",
            "IA",
            "IR",
            "MA",
            "MP",
            "PE",
            "PL",
            "PS",
            "RA",
            "SA",
            "SC",
            "SI",
            "SR"
          ],
          "description": "Output only. Category that the control belongs to.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Access control.",
            "Awareness and training.",
            "Audit and accountability.",
            "Certification, accreditation and security assessments.",
            "Configuration management and change control.",
            "Contingency planning and disaster recovery.",
            "Identification and authentication.",
            "Incident response.",
            "Maintenance.",
            "Media protection.",
            "Physical and environmental protection.",
            "Security planning.",
            "Personnel security.",
            "Risk assessment.",
            "System services and acquisition.",
            "System and communications protection.",
            "System and information integrity.",
            "Supply chain risk management."
          ]
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Control identifier that's used to fetch the findings. The identifier is the same as the control report name.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the control."
        },
        "responsibilityType": {
          "description": "Output only. Who is responsible for implementing this control. Set to one of the following values: `GOOGLE`, `CUSTOMER`, or `SHARED`.",
          "type": "string",
          "readOnly": true
        },
        "customerResponsibilityImplementation": {
          "readOnly": true,
          "description": "Output only. A description of how you can implement your responsibility for this control.",
          "type": "string"
        }
      },
      "id": "Control"
    },
    "AuditScopeReport": {
      "type": "object",
      "id": "AuditScopeReport",
      "properties": {
        "name": {
          "description": "Identifier. Name for the audit scope report, in one of the following formats: * `projects/{project}/locations/{location}/auditScopeReports/{audit_scope_report}` * `folders/{folder}/locations/{location}/auditScopeReports/{audit_scope_report}` * `organizations/{organization}/locations/{location}/auditScopeReports/{audit_scope_report}`",
          "type": "string"
        },
        "scopeReportContents": {
          "description": "Audit scope report content in byte format.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Audit scope report."
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ListResourceEnrollmentStatusesResponse": {
      "id": "ListResourceEnrollmentStatusesResponse",
      "description": "Response message for ListResourceEnrollmentStatuses.",
      "type": "object",
      "properties": {
        "resourceEnrollmentStatuses": {
          "description": "Resources with their enrollment status.",
          "items": {
            "$ref": "ResourceEnrollmentStatus"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "AuditReport": {
      "properties": {
        "complianceStandard": {
          "description": "Output only. Deprecated. Compliance standard to be audited against. Use the `compliance_framework` field instead.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "controlDetails": {
          "description": "Output only. Overall status of the controls.",
          "type": "array",
          "items": {
            "$ref": "ControlDetails"
          },
          "readOnly": true
        },
        "reportSummary": {
          "description": "Output only. Report summary that includes information about compliance and violation counts.",
          "readOnly": true,
          "$ref": "ReportSummary"
        },
        "reportGenerationState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The process is in progress. The operation can have any state except for `OPERATION_STATE_DONE` or `OPERATION_STATE_FAILED`.",
            "The process is completed. The operation state is `OPERATION_STATE_DONE`.",
            "The process has failed. The operation state is `OPERATION_STATE_FAILED`.",
            "The process completed, but the report summary's status is unknown. This state isn't used for new reports."
          ],
          "description": "Output only. State of audit report generation.",
          "type": "string",
          "enum": [
            "REPORT_GENERATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED",
            "SUMMARY_UNKNOWN"
          ]
        },
        "scope": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Organization, folder, or project that the report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
        },
        "scopeId": {
          "readOnly": true,
          "description": "Output only. Project number, folder ID, or organization ID that the audit report was generated for.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
          "type": "string"
        },
        "destinationDetails": {
          "readOnly": true,
          "$ref": "DestinationDetails",
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to."
        },
        "operationId": {
          "description": "Output only. Client operation ID for the audit report.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of the audit report.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "complianceFramework": {
          "type": "string",
          "description": "Output only. Compliance framework to use for the audit report. For example, `CIS_GCP_FOUNDATIONS_V1_2_0`.",
          "readOnly": true
        }
      },
      "id": "AuditReport",
      "type": "object",
      "description": "An audit report."
    },
    "GenerateAuditReportRequest": {
      "description": "Request message for GenerateAuditReport.",
      "id": "GenerateAuditReportRequest",
      "type": "object",
      "properties": {
        "reportFormat": {
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "type": "string",
          "description": "Required. Format for the audit report."
        },
        "complianceStandard": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated. Compliance standard for the audit report. Use the `compliance_framework` field instead."
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. The framework that's used for the audit report. For example, `NIST_800_53`."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, only validates the request and does not generate the audit report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without triggering expensive Long-Running Operations (LROs) or consuming resource quotas."
        },
        "gcsUri": {
          "type": "string",
          "description": "URL for the Cloud Storage bucket where the report and evidence is uploaded. You must select a bucket that was provided during the enrollment process."
        }
      }
    },
    "OperationMetadata": {
      "description": "Metadata for the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time that the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Time that the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. A server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "description": "Output only. Whether you requested that the operation be cancelled. Operations that were cancelled successfully have an Operation.error value with a status code Code.CANCELLED.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. The name of the verb that was executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. The API version used to start the operation. For example, `v1`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "EligibleDestination": {
      "type": "object",
      "description": "Details about the bucket where you want to upload the audit report.",
      "properties": {
        "eligibleGcsBucket": {
          "type": "string",
          "description": "The location of the Cloud Storage bucket where you want to upload the audit report and evidence during the GenerateAuditReport API call."
        }
      },
      "id": "EligibleDestination"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "ResourceEnrollmentStatus": {
      "description": "An organization, folder, or project with its enrollment status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
        },
        "enrolled": {
          "type": "boolean",
          "description": "Output only. Deprecated. Whether the organization, folder, or project is enrolled. Use `enrollment_state` instead.",
          "readOnly": true,
          "deprecated": true
        },
        "enrollmentState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource isn't enrolled.",
            "The resource isn't enrolled but the parent is enrolled.",
            "The resource is enrolled."
          ],
          "readOnly": true,
          "description": "Output only. Enrollment state of the organization, folder, or project.",
          "enum": [
            "RESOURCE_ENROLLMENT_STATE_UNSPECIFIED",
            "NOT_ENROLLED",
            "INHERITED",
            "ENROLLED"
          ]
        },
        "displayName": {
          "description": "Output only. Display name for the organization, folder, or project.",
          "readOnly": true,
          "type": "string"
        },
        "enrollment": {
          "description": "Output only. Enrolled destination details for the organization, folder, or project.",
          "readOnly": true,
          "$ref": "Enrollment"
        }
      },
      "id": "ResourceEnrollmentStatus",
      "type": "object"
    },
    "ReportSummary": {
      "properties": {
        "errorCount": {
          "format": "int32",
          "description": "Number of checks that can't be performed due to errors.",
          "type": "integer"
        },
        "violationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of checks with violations."
        },
        "totalCount": {
          "description": "Total number of evaluated checks.",
          "format": "int32",
          "type": "integer"
        },
        "compliantCount": {
          "description": "Number of compliant checks.",
          "format": "int32",
          "type": "integer"
        },
        "manualReviewNeededCount": {
          "format": "int32",
          "description": "Number of checks that require a manual review.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Additional information about the number of checks that were made during an audit operation.",
      "id": "ReportSummary"
    },
    "ControlDetails": {
      "description": "Evaluation details for a control.",
      "id": "ControlDetails",
      "properties": {
        "complianceState": {
          "readOnly": true,
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "VIOLATION",
            "MANUAL_REVIEW_NEEDED",
            "ERROR",
            "AUDIT_NOT_SUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource is compliant.",
            "The resource isn't compliant.",
            "You must complete a manual review.",
            "An error was encountered during the evaluation or evidence gathering process.",
            "The resource can't be audited."
          ],
          "description": "Output only. Overall status of the findings for the control."
        },
        "control": {
          "$ref": "Control",
          "description": "Control that the findings are being reported for."
        },
        "controlReportSummary": {
          "$ref": "ReportSummary",
          "description": "A control report summary that provides a high-level overview of the compliance controls and the assessment status."
        }
      },
      "type": "object"
    },
    "EnrollResourceRequest": {
      "type": "object",
      "id": "EnrollResourceRequest",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, only validates the request and does not enroll the resource. This executes standard request validation (such as schema, IAM, and destination checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
        },
        "destinations": {
          "description": "Required. Cloud Storage buckets that you can upload your audit reports to during the audit process. When you enroll an organization or folder, you can choose a Cloud Storage bucket from any project in the organization or folder. If you run an audit at the project level using the service agent at the organization or folder level, all the buckets that are associated with the service agent are available.",
          "type": "array",
          "items": {
            "$ref": "EligibleDestination"
          }
        }
      },
      "description": "Request message for EnrollResource."
    },
    "ControlFamily": {
      "description": "Regulatory family of the control.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the regulatory control family."
        },
        "familyId": {
          "type": "string",
          "description": "ID of the regulatory control family. To find the list of supported control families, use the ListControls method and review the `control_family` field in the response."
        }
      },
      "type": "object",
      "id": "ControlFamily"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListControlsResponse": {
      "properties": {
        "controls": {
          "description": "Output only. Controls for a given regulatory standard.",
          "readOnly": true,
          "items": {
            "$ref": "Control"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ListControlsResponse",
      "description": "Response message for ListControls.",
      "type": "object"
    },
    "ListAuditReportsResponse": {
      "properties": {
        "auditReports": {
          "description": "Output only. Audit reports.",
          "items": {
            "$ref": "AuditReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListAuditReportsResponse",
      "description": "Response message for ListAuditReports.",
      "type": "object"
    },
    "Enrollment": {
      "properties": {
        "name": {
          "description": "Identifier. Name of the enrollment, in one of the following formats: * `projects/{project}/locations/{location}/enrollments/{enrollment}` * `folders/{folder}/locations/{location}/enrollments/{enrollment}` * `organizations/{organization}/locations/{location}/enrollments/{enrollment}`",
          "type": "string"
        },
        "destinationDetails": {
          "type": "array",
          "items": {
            "$ref": "DestinationDetails"
          },
          "description": "Output only. Cloud Storage buckets where you want to upload the audit reports.",
          "readOnly": true
        }
      },
      "description": "Organization, folder, or project to enroll for audit reports.",
      "id": "Enrollment",
      "type": "object"
    },
    "DestinationDetails": {
      "id": "DestinationDetails",
      "properties": {
        "gcsBucketUri": {
          "description": "URI for the Cloud Storage bucket, in the format `gs://{bucket_name}`.",
          "type": "string"
        }
      },
      "description": "Cloud Storage bucket where the audit report is uploaded to.",
      "type": "object"
    },
    "ReportGenerationProgress": {
      "type": "object",
      "description": "Details about the current status of the report-generation process.",
      "id": "ReportGenerationProgress",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audit generation process hasn't started.",
            "Evaluation process is in progress.",
            "Evaluation process is completed.",
            "Report generation process is in progress.",
            "Report generation process is completed.",
            "The audit report and evidence are being uploaded to your bucket.",
            "The audit report and evidence are uploaded to your bucket.",
            "Audit report generation process failed."
          ],
          "description": "Output only. Current state of execution for report generation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_NOT_STARTED",
            "OPERATION_STATE_EVALUATION_IN_PROGRESS",
            "OPERATION_STATE_EVALUATION_DONE",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_IN_PROGRESS",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_DONE",
            "OPERATION_STATE_EVIDENCE_UPLOAD_IN_PROGRESS",
            "OPERATION_STATE_DONE",
            "OPERATION_STATE_FAILED"
          ]
        },
        "evaluationPercentComplete": {
          "description": "Progress of the evaluation process. The progress is defined in terms of percentage complete.",
          "type": "number",
          "format": "double"
        },
        "auditReport": {
          "description": "Output only. Name of the audit report.",
          "type": "string",
          "readOnly": true
        },
        "reportUploadingPercentComplete": {
          "description": "Report uploading progress, defined in terms of percentage complete. Until evaluation and report generation are complete, this value is always `0`.",
          "type": "number",
          "format": "double"
        },
        "destinationGcsBucket": {
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to after the evaluation process is completed.",
          "readOnly": true,
          "type": "string"
        },
        "failureReason": {
          "description": "Output only. Reason for failure during the audit report generation process. This field is set only if the `OperationState` attribute is `OPERATION_STATE_FAILED`.",
          "readOnly": true,
          "type": "string"
        },
        "reportGenerationPercentComplete": {
          "description": "Report generation progress, defined in terms of percentage complete. Until evaluation is complete, this value is always `0`.",
          "format": "double",
          "type": "number"
        }
      }
    }
  },
  "rootUrl": "https://auditmanager.googleapis.com/",
  "description": "The Audit Manager API allows customers to manage compliance audits.",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/assured-workloads/docs/audit-manager",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operationDetails": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.projects.locations.operationDetails.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationDetails/[^/]+$"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "id": "auditmanager.projects.locations.standards.controls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/standards/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "type": "integer"
                        }
                      },
                      "path": "v1/{+parent}/controls",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/standards/{standardsId}/controls"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "auditmanager.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "auditmanager.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "auditmanager.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  }
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.projects.locations.operationIds.get"
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "description": "Gets a resource and its enrollment status.",
                  "id": "auditmanager.projects.locations.resourceEnrollmentStatuses.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "id": "auditmanager.projects.locations.auditScopeReports.generate",
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "parameters": {
                    "scope": {
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditScopeReports:generate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "scope"
                  ],
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "auditReports": {
              "methods": {
                "generate": {
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "parameterOrder": [
                    "scope"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.projects.locations.auditReports.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports:generate",
                  "httpMethod": "POST",
                  "path": "v1/{+scope}/auditReports:generate",
                  "parameters": {
                    "scope": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress."
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "auditmanager.projects.locations.auditReports.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports",
                  "path": "v1/{+parent}/auditReports",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.projects.locations.auditReports.get",
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets the full metadata and findings for an audit report.",
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "id": "auditmanager.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "id": "auditmanager.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "enrollResource": {
              "parameters": {
                "scope": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "scope"
              ],
              "id": "auditmanager.projects.locations.enrollResource",
              "response": {
                "$ref": "Enrollment"
              },
              "httpMethod": "POST",
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollResource",
              "path": "v1/{+scope}:enrollResource"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "enrollResource": {
              "parameterOrder": [
                "scope"
              ],
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}:enrollResource",
              "response": {
                "$ref": "Enrollment"
              },
              "httpMethod": "POST",
              "path": "v1/{+scope}:enrollResource",
              "id": "auditmanager.organizations.locations.enrollResource",
              "parameters": {
                "scope": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "resourceEnrollmentStatuses": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.list",
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses",
                  "httpMethod": "GET",
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a resource and its enrollment status.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.organizations.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "auditmanager.organizations.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "auditmanager.organizations.locations.operations.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "auditmanager.organizations.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "id": "auditmanager.organizations.locations.operationDetails.get",
                  "path": "v1/{+name}",
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operationDetails/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/controls",
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "auditmanager.organizations.locations.standards.controls.list",
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/standards/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/standards/{standardsId}/controls"
                    }
                  }
                }
              }
            },
            "auditReports": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "id": "auditmanager.organizations.locations.auditReports.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/auditReports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope."
                },
                "generate": {
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+scope}/auditReports:generate",
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.organizations.locations.auditReports.generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports:generate",
                  "parameters": {
                    "scope": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`"
                    }
                  },
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the full metadata and findings for an audit report.",
                  "id": "auditmanager.organizations.locations.auditReports.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "httpMethod": "POST",
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "scope": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    }
                  },
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditScopeReports:generate",
                  "id": "auditmanager.organizations.locations.auditScopeReports.generate",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "parameterOrder": [
                    "scope"
                  ]
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.organizations.locations.operationIds.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operationIds/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "operationIds": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "httpMethod": "GET",
                  "id": "auditmanager.folders.locations.operationIds.get",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operationIds/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "parameterOrder": [
                    "scope"
                  ],
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditScopeReports:generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.folders.locations.auditScopeReports.generate",
                  "parameters": {
                    "scope": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework."
                }
              }
            },
            "auditReports": {
              "methods": {
                "generate": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.folders.locations.auditReports.generate",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "parameters": {
                    "scope": {
                      "location": "path",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "scope"
                  ],
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+scope}/auditReports:generate",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports:generate"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.folders.locations.auditReports.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "type": "string"
                    }
                  },
                  "description": "Gets the full metadata and findings for an audit report.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "path": "v1/{+parent}/auditReports",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "id": "auditmanager.folders.locations.auditReports.list",
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
                      "required": true
                    }
                  },
                  "description": "Gets a resource and its enrollment status.",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.get",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}"
                },
                "list": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses",
[...]
