{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "title": "Audit Manager API",
  "batchPath": "batch",
  "schemas": {
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "AuditScopeReport": {
      "properties": {
        "scopeReportContents": {
          "format": "byte",
          "description": "Audit scope report content in byte format.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name for the audit scope report, in one of the following formats: * `projects/{project}/locations/{location}/auditScopeReports/{audit_scope_report}` * `folders/{folder}/locations/{location}/auditScopeReports/{audit_scope_report}` * `organizations/{organization}/locations/{location}/auditScopeReports/{audit_scope_report}`",
          "type": "string"
        }
      },
      "id": "AuditScopeReport",
      "type": "object",
      "description": "Audit scope report."
    },
    "Enrollment": {
      "description": "Organization, folder, or project to enroll for audit reports.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the enrollment, in one of the following formats: * `projects/{project}/locations/{location}/enrollments/{enrollment}` * `folders/{folder}/locations/{location}/enrollments/{enrollment}` * `organizations/{organization}/locations/{location}/enrollments/{enrollment}`",
          "type": "string"
        },
        "destinationDetails": {
          "readOnly": true,
          "items": {
            "$ref": "DestinationDetails"
          },
          "description": "Output only. Cloud Storage buckets where you want to upload the audit reports.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Enrollment"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "ListAuditReportsResponse": {
      "type": "object",
      "description": "Response message for ListAuditReports.",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "auditReports": {
          "description": "Output only. Audit reports.",
          "type": "array",
          "items": {
            "$ref": "AuditReport"
          },
          "readOnly": true
        }
      },
      "id": "ListAuditReportsResponse"
    },
    "ResourceEnrollmentStatus": {
      "type": "object",
      "properties": {
        "enrolled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated. Whether the organization, folder, or project is enrolled. Use `enrollment_state` instead.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name for the organization, folder, or project.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
        },
        "enrollment": {
          "$ref": "Enrollment",
          "description": "Output only. Enrolled destination details for the organization, folder, or project.",
          "readOnly": true
        },
        "enrollmentState": {
          "readOnly": true,
          "description": "Output only. Enrollment state of the organization, folder, or project.",
          "enum": [
            "RESOURCE_ENROLLMENT_STATE_UNSPECIFIED",
            "NOT_ENROLLED",
            "INHERITED",
            "ENROLLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource isn't enrolled.",
            "The resource isn't enrolled but the parent is enrolled.",
            "The resource is enrolled."
          ]
        }
      },
      "id": "ResourceEnrollmentStatus",
      "description": "An organization, folder, or project with its enrollment status."
    },
    "AuditSchedule": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Schedule is active and will trigger runs.",
            "Schedule is paused and will not trigger runs.",
            "Schedule end time has passed.",
            "Schedule setup failed during creation or update.",
            "Schedule is in an error state due to persistent failure to trigger an audit. Manual intervention is required.",
            "Schedule has been marked for deletion by the user."
          ],
          "enum": [
            "SCHEDULE_STATE_UNSPECIFIED",
            "SCHEDULE_STATE_ACTIVE",
            "SCHEDULE_STATE_PAUSED",
            "SCHEDULE_STATE_COMPLETED",
            "SCHEDULE_STATE_FAILED_SETUP",
            "SCHEDULE_STATE_ERROR",
            "SCHEDULE_STATE_DELETED"
          ],
          "description": "Optional. State of the audit schedule. While most states are managed by the system, you can use UpdateAuditSchedule to start, pause, or delete the schedule."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Describes the error if the schedule is in an error state."
        },
        "reportFormat": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document Format (ODF)."
          ],
          "type": "string",
          "description": "Required. Format for the audit report.",
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ]
        },
        "nextRunTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Calculated timestamp for the next scheduled run."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the schedule was last updated."
        },
        "displayName": {
          "description": "Optional. Display name for the audit schedule.",
          "type": "string"
        },
        "scheduleConfig": {
          "$ref": "ScheduleConfig",
          "description": "Required. Configuration that defines when and how often audit runs are automatically triggered for this schedule."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the schedule was created.",
          "type": "string"
        },
        "lastTriggerTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the audit run was last triggered.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. Cloud Storage bucket where Audit Manager can upload the audit report and evidence. The format is `gs://{bucket_name}`."
        },
        "complianceFramework": {
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An audit schedule, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}`",
      "id": "AuditSchedule"
    },
    "ReportGenerationProgress": {
      "id": "ReportGenerationProgress",
      "properties": {
        "auditReport": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the audit report."
        },
        "evaluationPercentComplete": {
          "type": "number",
          "description": "Progress of the evaluation process. The progress is defined in terms of percentage complete.",
          "format": "double"
        },
        "reportUploadingPercentComplete": {
          "type": "number",
          "format": "double",
          "description": "Report uploading progress, defined in terms of percentage complete. Until evaluation and report generation are complete, this value is always `0`."
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. Reason for failure during the audit report generation process. This field is set only if the `OperationState` attribute is `OPERATION_STATE_FAILED`.",
          "readOnly": true
        },
        "destinationGcsBucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to after the evaluation process is completed."
        },
        "reportGenerationPercentComplete": {
          "format": "double",
          "type": "number",
          "description": "Report generation progress, defined in terms of percentage complete. Until evaluation is complete, this value is always `0`."
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audit generation process hasn't started.",
            "Evaluation process is in progress.",
            "Evaluation process is completed.",
            "Report generation process is in progress.",
            "Report generation process is completed.",
            "The audit report and evidence are being uploaded to your bucket.",
            "The audit report and evidence are uploaded to your bucket.",
            "Audit report generation process failed."
          ],
          "description": "Output only. Current state of execution for report generation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_NOT_STARTED",
            "OPERATION_STATE_EVALUATION_IN_PROGRESS",
            "OPERATION_STATE_EVALUATION_DONE",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_IN_PROGRESS",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_DONE",
            "OPERATION_STATE_EVIDENCE_UPLOAD_IN_PROGRESS",
            "OPERATION_STATE_DONE",
            "OPERATION_STATE_FAILED"
          ]
        }
      },
      "type": "object",
      "description": "Details about the current status of the report-generation process."
    },
    "ReportSummary": {
      "properties": {
        "totalCount": {
          "format": "int32",
          "description": "Total number of evaluated checks.",
          "type": "integer"
        },
        "manualReviewNeededCount": {
          "format": "int32",
          "description": "Number of checks that require a manual review.",
          "type": "integer"
        },
        "violationCount": {
          "format": "int32",
          "description": "Number of checks with violations.",
          "type": "integer"
        },
        "compliantCount": {
          "type": "integer",
          "description": "Number of compliant checks.",
          "format": "int32"
        },
        "errorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of checks that can't be performed due to errors."
        }
      },
      "description": "Additional information about the number of checks that were made during an audit operation.",
      "type": "object",
      "id": "ReportSummary"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "GenerateAuditScopeReportRequest": {
      "properties": {
        "complianceStandard": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated. The standard (industry or regulatory requirements) that the audit scope report is run against. Use the `compliance_framework` field instead."
        },
        "reportFormat": {
          "description": "Required. Format for the audit scope report.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "type": "string",
          "enum": [
            "AUDIT_SCOPE_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_SCOPE_REPORT_FORMAT_ODF"
          ]
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, only validates the request and does not generate the audit scope report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
        },
        "complianceFramework": {
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`.",
          "type": "string"
        }
      },
      "description": "Request message for GenerateAuditScopeReport.",
      "id": "GenerateAuditScopeReportRequest",
      "type": "object"
    },
    "AuditReport": {
      "id": "AuditReport",
      "properties": {
        "scopeId": {
          "type": "string",
          "description": "Output only. Project number, folder ID, or organization ID that the audit report was generated for.",
          "readOnly": true
        },
        "reportSummary": {
          "description": "Output only. Report summary that includes information about compliance and violation counts.",
          "$ref": "ReportSummary",
          "readOnly": true
        },
        "complianceStandard": {
          "readOnly": true,
          "description": "Output only. Deprecated. Compliance standard to be audited against. Use the `compliance_framework` field instead.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`"
        },
        "operationId": {
          "description": "Output only. Client operation ID for the audit report.",
          "type": "string",
          "readOnly": true
        },
        "destinationDetails": {
          "readOnly": true,
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to.",
          "$ref": "DestinationDetails"
        },
        "complianceFramework": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compliance framework to use for the audit report. For example, `CIS_GCP_FOUNDATIONS_V1_2_0`."
        },
        "controlDetails": {
          "type": "array",
          "items": {
            "$ref": "ControlDetails"
          },
          "description": "Output only. Overall status of the controls.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of the audit report.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "reportGenerationState": {
          "enum": [
            "REPORT_GENERATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED",
            "SUMMARY_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The process is in progress. The operation can have any state except for `OPERATION_STATE_DONE` or `OPERATION_STATE_FAILED`.",
            "The process is completed. The operation state is `OPERATION_STATE_DONE`.",
            "The process has failed. The operation state is `OPERATION_STATE_FAILED`.",
            "The process completed, but the report summary's status is unknown. This state isn't used for new reports."
          ],
          "description": "Output only. State of audit report generation.",
          "readOnly": true,
          "type": "string"
        },
        "scope": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Organization, folder, or project that the report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
        }
      },
      "description": "An audit report.",
      "type": "object"
    },
    "ListAuditSchedulesResponse": {
      "id": "ListAuditSchedulesResponse",
      "type": "object",
      "properties": {
        "auditSchedules": {
          "description": "List of audit schedules.",
          "items": {
            "$ref": "AuditSchedule"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that can't be reached."
        },
        "nextPageToken": {
          "description": "A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListAuditSchedules."
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ControlFamily": {
      "type": "object",
      "id": "ControlFamily",
      "properties": {
        "familyId": {
          "description": "ID of the regulatory control family. To find the list of supported control families, use the ListControls method and review the `control_family` field in the response.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the regulatory control family.",
          "type": "string"
        }
      },
      "description": "Regulatory family of the control."
    },
    "EnrollResourceRequest": {
      "id": "EnrollResourceRequest",
      "type": "object",
      "description": "Request message for EnrollResource.",
      "properties": {
        "destinations": {
          "description": "Required. Cloud Storage buckets that you can upload your audit reports to during the audit process. When you enroll an organization or folder, you can choose a Cloud Storage bucket from any project in the organization or folder. If you run an audit at the project level using the service agent at the organization or folder level, all the buckets that are associated with the service agent are available.",
          "type": "array",
          "items": {
            "$ref": "EligibleDestination"
          }
        },
        "validateOnly": {
          "description": "Optional. If `true`, only validates the request and does not enroll the resource. This executes standard request validation (such as schema, IAM, and destination checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API version used to start the operation. For example, `v1`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the verb that was executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Whether you requested that the operation be cancelled. Operations that were cancelled successfully have an Operation.error value with a status code Code.CANCELLED.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time that the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time that the operation finished running.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. A server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Metadata for the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "DestinationDetails": {
      "description": "Cloud Storage bucket where the audit report is uploaded to.",
      "id": "DestinationDetails",
      "type": "object",
      "properties": {
        "gcsBucketUri": {
          "description": "URI for the Cloud Storage bucket, in the format `gs://{bucket_name}`.",
          "type": "string"
        }
      }
    },
    "ListControlsResponse": {
      "type": "object",
      "properties": {
        "controls": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Controls for a given regulatory standard.",
          "items": {
            "$ref": "Control"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for ListControls.",
      "id": "ListControlsResponse"
    },
    "Control": {
      "id": "Control",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Description of the control.",
          "readOnly": true
        },
        "googleResponsibilityImplementation": {
          "readOnly": true,
          "description": "Output only. A description of how Google implements its responsibility for this control.",
          "type": "string"
        },
        "customerResponsibilityDescription": {
          "description": "Output only. A description of your responsibility for this control.",
          "type": "string",
          "readOnly": true
        },
        "customerResponsibilityImplementation": {
          "type": "string",
          "description": "Output only. A description of how you can implement your responsibility for this control.",
          "readOnly": true
        },
        "family": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Access control.",
            "Awareness and training.",
            "Audit and accountability.",
            "Certification, accreditation and security assessments.",
            "Configuration management and change control.",
            "Contingency planning and disaster recovery.",
            "Identification and authentication.",
            "Incident response.",
            "Maintenance.",
            "Media protection.",
            "Physical and environmental protection.",
            "Security planning.",
            "Personnel security.",
            "Risk assessment.",
            "System services and acquisition.",
            "System and communications protection.",
            "System and information integrity.",
            "Supply chain risk management."
          ],
          "enum": [
            "FAMILY_UNSPECIFIED",
            "AC",
            "AT",
            "AU",
            "CA",
            "CM",
            "CP",
            "IA",
            "IR",
            "MA",
            "MP",
            "PE",
            "PL",
            "PS",
            "RA",
            "SA",
            "SC",
            "SI",
            "SR"
          ],
          "readOnly": true,
          "description": "Output only. Category that the control belongs to.",
          "type": "string"
        },
        "responsibilityType": {
          "description": "Output only. Who is responsible for implementing this control. Set to one of the following values: `GOOGLE`, `CUSTOMER`, or `SHARED`.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Control identifier that's used to fetch the findings. The identifier is the same as the control report name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the control.",
          "type": "string"
        },
        "googleResponsibilityDescription": {
          "description": "Output only. A description of Google's responsibility for this control.",
          "type": "string",
          "readOnly": true
        },
        "controlFamily": {
          "readOnly": true,
          "$ref": "ControlFamily",
          "description": "Output only. Regulatory family of the control."
        }
      },
      "type": "object",
      "description": "A control."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ControlDetails": {
      "type": "object",
      "description": "Evaluation details for a control.",
      "id": "ControlDetails",
      "properties": {
        "controlReportSummary": {
          "description": "A control report summary that provides a high-level overview of the compliance controls and the assessment status.",
          "$ref": "ReportSummary"
        },
        "control": {
          "$ref": "Control",
          "description": "Control that the findings are being reported for."
        },
        "complianceState": {
          "readOnly": true,
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "VIOLATION",
            "MANUAL_REVIEW_NEEDED",
            "ERROR",
            "AUDIT_NOT_SUPPORTED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource is compliant.",
            "The resource isn't compliant.",
            "You must complete a manual review.",
            "An error was encountered during the evaluation or evidence gathering process.",
            "The resource can't be audited."
          ],
          "type": "string",
          "description": "Output only. Overall status of the findings for the control."
        }
      }
    },
    "ScheduleConfig": {
      "description": "Timing and frequency parameters for recurring audit runs.",
      "properties": {
        "frequency": {
          "type": "string",
          "description": "Required. Frequency of audit runs.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The audit runs every day.",
            "The audit runs weekly on the same day of the week as `start_time`.",
            "The audit runs monthly on the same day of the month as `start_time`.",
            "The audit runs quarterly (every 3 months) on the same day of the month as `start_time`.",
            "The audit runs annually on the same month and day as `start_time`."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "QUARTERLY",
            "ANNUALLY"
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Date that the schedule stops. If not specified, the schedule runs indefinitely."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Time zone for the audit schedule in IANA format (for example, `America/New_York`). The time zone is used to interpret the `start_time` and the `end_time`, and to calculate subsequent run dates. If not specified, the time zone default is UTC."
        },
        "startTime": {
          "description": "Required. Date and time when the first audit run is triggered. Subsequent runs are based on this time and the chosen frequency.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ScheduleConfig"
    },
    "ListResourceEnrollmentStatusesResponse": {
      "type": "object",
      "id": "ListResourceEnrollmentStatusesResponse",
      "properties": {
        "resourceEnrollmentStatuses": {
          "description": "Resources with their enrollment status.",
          "items": {
            "$ref": "ResourceEnrollmentStatus"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for ListResourceEnrollmentStatuses."
    },
    "GenerateAuditReportRequest": {
      "type": "object",
      "description": "Request message for GenerateAuditReport.",
      "id": "GenerateAuditReportRequest",
      "properties": {
        "complianceStandard": {
          "description": "Optional. Deprecated. Compliance standard for the audit report. Use the `compliance_framework` field instead.",
          "type": "string",
          "deprecated": true
        },
        "reportFormat": {
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ],
          "description": "Required. Format for the audit report.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "URL for the Cloud Storage bucket where the report and evidence is uploaded. You must select a bucket that was provided during the enrollment process."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, only validates the request and does not generate the audit report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without triggering expensive Long-Running Operations (LROs) or consuming resource quotas."
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. The framework that's used for the audit report. For example, `NIST_800_53`."
        }
      }
    },
    "EligibleDestination": {
      "type": "object",
      "id": "EligibleDestination",
      "properties": {
        "eligibleGcsBucket": {
          "type": "string",
          "description": "The location of the Cloud Storage bucket where you want to upload the audit report and evidence during the GenerateAuditReport API call."
        }
      },
      "description": "Details about the bucket where you want to upload the audit report."
    }
  },
  "canonicalName": "Cloud Audit Manager",
  "protocol": "rest",
  "id": "auditmanager:v1",
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    }
  },
  "servicePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-auditmanager": {
          "description": "See, edit, configure, and delete your Google Cloud Auditmanager data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "auditmanager",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://auditmanager.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://auditmanager.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://auditmanager.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "baseUrl": "https://auditmanager.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "id": "auditmanager.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "auditmanager.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "auditmanager.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "auditmanager.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.projects.locations.resourceEnrollmentStatuses.get",
                  "description": "Gets a resource and its enrollment status.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}"
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditScopeReports:generate",
                  "id": "auditmanager.projects.locations.auditScopeReports.generate",
                  "parameterOrder": [
                    "scope"
                  ],
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "parameters": {
                    "scope": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/controls",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/standards/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "id": "auditmanager.projects.locations.standards.controls.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.projects.locations.operationDetails.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationDetails/[^/]+$"
                    }
                  },
                  "description": "Gets details about the long-running operation to generate audit reports."
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/auditSchedules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "description": "Creates a new audit schedule in a given project and location.",
                  "parameters": {
                    "auditScheduleId": {
                      "location": "query",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "auditmanager.projects.locations.auditSchedules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  }
                },
                "patch": {
                  "id": "auditmanager.projects.locations.auditSchedules.patch",
                  "path": "v1/{+name}",
                  "description": "Updates an existing audit schedule.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    },
                    "updateMask": {
                      "description": "Optional. List of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "auditmanager.projects.locations.auditSchedules.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/auditSchedules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules",
                  "description": "Lists audit schedules in a given project and location.",
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "description": "Gets details of a single audit schedule.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.projects.locations.auditSchedules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.projects.locations.operationIds.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "auditReports": {
              "methods": {
                "generate": {
                  "parameterOrder": [
                    "scope"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "auditmanager.projects.locations.auditReports.generate",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "parameters": {
                    "scope": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    }
                  },
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "path": "v1/{+scope}/auditReports:generate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports:generate"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "auditmanager.projects.locations.auditReports.list",
                  "path": "v1/{+parent}/auditReports",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the full metadata and findings for an audit report.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "id": "auditmanager.projects.locations.auditReports.get",
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "enrollResource": {
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Enrollment"
              },
              "httpMethod": "POST",
              "path": "v1/{+scope}:enrollResource",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollResource",
              "parameters": {
                "scope": {
                  "required": true,
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scope"
              ],
              "id": "auditmanager.projects.locations.enrollResource",
              "request": {
                "$ref": "EnrollResourceRequest"
              }
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "auditmanager.projects.locations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "auditmanager.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "auditReports": {
              "methods": {
                "generate": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports:generate",
                  "parameters": {
                    "scope": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+scope}/auditReports:generate",
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.organizations.locations.auditReports.generate",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "scope"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/auditReports",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "auditmanager.organizations.locations.auditReports.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets the full metadata and findings for an audit report.",
                  "httpMethod": "GET",
                  "id": "auditmanager.organizations.locations.auditReports.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditReports/{auditReportsId}"
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "httpMethod": "POST",
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditScopeReports:generate",
                  "id": "auditmanager.organizations.locations.auditScopeReports.generate",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "parameters": {
                    "scope": {
                      "location": "path",
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "scope"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "auditmanager.organizations.locations.auditSchedules.create",
                  "description": "Creates a new audit schedule in a given project and location.",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/auditSchedules",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "type": "string",
                      "required": true
                    },
                    "auditScheduleId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name."
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. List of fields to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.organizations.locations.auditSchedules.patch",
                  "description": "Updates an existing audit schedule.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}"
                },
                "list": {
                  "id": "auditmanager.organizations.locations.auditSchedules.list",
                  "description": "Lists audit schedules in a given project and location.",
                  "path": "v1/{+parent}/auditSchedules",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single audit schedule.",
                  "id": "auditmanager.organizations.locations.auditSchedules.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a resource and its enrollment status.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "id": "auditmanager.organizations.locations.resourceEnrollmentStatuses.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceEnrollmentStatuses"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "auditmanager.organizations.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
[...]
