{
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "canonicalName": "Authorized Buyers Marketplace",
  "protocol": "rest",
  "ownerName": "Google",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "revision": "20260908",
  "id": "authorizedbuyersmarketplace:v1",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "version": "v1",
  "name": "authorizedbuyersmarketplace",
  "title": "Authorized Buyers Marketplace API",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "schemas": {
    "AddNoteRequest": {
      "id": "AddNoteRequest",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      },
      "description": "Request to add a note.",
      "type": "object"
    },
    "AuctionPackage": {
      "type": "object",
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime"
        },
        "floorPriceCpm": {
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "$ref": "Money",
          "readOnly": true
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "subscribedClients": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "type": "array"
        },
        "subscribedBuyers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the auction package."
        },
        "subscribedMediaPlanners": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MediaPlanner"
          },
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder."
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the auction package was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "eligibleSeatIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
        }
      },
      "id": "AuctionPackage"
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object"
    },
    "ListClientsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListClientsResponse",
      "description": "Response message for the list method."
    },
    "SubscribeAuctionPackageRequest": {
      "id": "SubscribeAuctionPackageRequest",
      "properties": {},
      "description": "Request message for SubscribeAuctionPackage.",
      "type": "object"
    },
    "Contact": {
      "id": "Contact",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        }
      },
      "description": "Contains information on how a buyer or seller can be reached.",
      "type": "object"
    },
    "ActivateClientRequest": {
      "properties": {},
      "description": "Request message for activating a client.",
      "type": "object",
      "id": "ActivateClientRequest"
    },
    "ListDealsResponse": {
      "type": "object",
      "id": "ListDealsResponse",
      "properties": {
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "The list of deals.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing deals in a proposal."
    },
    "ProgrammaticGuaranteedTerms": {
      "properties": {
        "minimumDailyLooks": {
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD."
        },
        "guaranteedLooks": {
          "type": "string",
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        },
        "percentShareOfVoice": {
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "format": "int64"
        },
        "impressionCap": {
          "type": "string",
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        }
      },
      "type": "object",
      "id": "ProgrammaticGuaranteedTerms",
      "description": "Pricing terms for Programmatic Guaranteed Deals."
    },
    "AddCreativeRequest": {
      "id": "AddCreativeRequest",
      "type": "object",
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "properties": {
        "creative": {
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name.",
          "type": "string"
        }
      }
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "properties": {
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included.",
          "type": "array"
        }
      },
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "type": "object"
    },
    "Price": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        },
        "type": {
          "description": "The pricing type for the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ]
        }
      },
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price"
    },
    "RtbMetrics": {
      "id": "RtbMetrics",
      "type": "object",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "properties": {
        "filteredBidRate7Days": {
          "format": "double",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "type": "number"
        },
        "bidRequests7Days": {
          "type": "string",
          "description": "Bid requests in last 7 days.",
          "format": "int64"
        },
        "adImpressions7Days": {
          "description": "Ad impressions in last 7 days.",
          "format": "int64",
          "type": "string"
        },
        "mustBidRateCurrentMonth": {
          "description": "Must bid rate for current month.",
          "type": "number",
          "format": "double"
        },
        "bids7Days": {
          "description": "Bids in last 7 days.",
          "type": "string",
          "format": "int64"
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "UnsubscribeAuctionPackageRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object",
      "properties": {},
      "id": "UnsubscribeAuctionPackageRequest"
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When this note was created."
        },
        "creatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "description": "Output only. The role who created the note.",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        }
      }
    },
    "DeliveryControl": {
      "properties": {
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "readOnly": true,
          "type": "string"
        },
        "frequencyCap": {
          "items": {
            "$ref": "FrequencyCap"
          },
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "readOnly": true,
          "type": "array"
        },
        "deliveryRateType": {
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "roadblockingType": {
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "readOnly": true,
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "type": "string"
        },
        "creativeRotationType": {
          "type": "string",
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "readOnly": true
        }
      },
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced.",
      "type": "object"
    },
    "CriteriaTargeting": {
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "properties": {
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludedCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded."
        }
      },
      "type": "object"
    },
    "UriTargeting": {
      "type": "object",
      "properties": {
        "targetedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included.",
          "type": "array"
        },
        "excludedUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded."
        }
      },
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UriTargeting"
    },
    "TimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "DayPart": {
      "type": "object",
      "properties": {
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        },
        "dayOfWeek": {
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "DayPart",
      "description": "Defines targeting for a period of time on a specific week day."
    },
    "Money": {
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "Money"
    },
    "DayPartTargeting": {
      "properties": {
        "timeZoneType": {
          "type": "string",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "description": "The time zone type of the day parts",
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ]
        },
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        }
      },
      "description": "Represents Daypart targeting.",
      "id": "DayPartTargeting",
      "type": "object"
    },
    "BatchUpdateDealsResponse": {
      "type": "object",
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateDealsResponse",
      "description": "Response message for batch updating deals."
    },
    "DeactivateClientRequest": {
      "id": "DeactivateClientRequest",
      "type": "object",
      "description": "Request message for disabling a client.",
      "properties": {}
    },
    "PrivateData": {
      "id": "PrivateData",
      "type": "object",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal."
    },
    "BatchUpdateDealsRequest": {
      "description": "Request message for batch updating deals.",
      "id": "BatchUpdateDealsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "description": "Required. List of request messages to update deals.",
          "type": "array"
        }
      }
    },
    "ResumeFinalizedDealRequest": {
      "properties": {},
      "type": "object",
      "id": "ResumeFinalizedDealRequest",
      "description": "Request message for resuming a finalized deal."
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        },
        "clientUsers": {
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users.",
          "type": "array"
        }
      },
      "description": "Response message for the list method.",
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "id": "ActivateClientUserRequest",
      "properties": {},
      "description": "Request message for activating a client user.",
      "type": "object"
    },
    "Proposal": {
      "type": "object",
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "properties": {
        "billedBuyer": {
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the proposal was last revised.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "buyer": {
          "type": "string",
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "readOnly": true
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "sellerContacts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Contact"
          },
          "description": "Output only. Contact information for the seller."
        },
        "client": {
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
        },
        "proposalRevision": {
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true,
          "type": "string"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "readOnly": true,
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        },
        "lastUpdaterOrCommentorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        },
        "isRenegotiating": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated."
        },
        "originatorRole": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "state": {
          "description": "Output only. Indicates the state of the proposal.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ]
        },
        "notes": {
          "type": "array",
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "items": {
            "$ref": "Note"
          }
        },
        "buyerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "description": "Contact information for the buyer.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "type": "string",
          "description": "The last known client revision number of the proposal."
        }
      },
      "type": "object"
    },
    "MediaPlanner": {
      "properties": {
        "accountId": {
          "deprecated": true,
          "type": "string",
          "readOnly": true,
          "description": "Output only. Account ID of the media planner."
        },
        "displayName": {
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string",
          "readOnly": true
        },
        "ancestorNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        }
      },
      "type": "object",
      "description": "Represents a media planner account.",
      "id": "MediaPlanner"
    },
    "Deal": {
      "properties": {
        "creativeRequirements": {
          "readOnly": true,
          "description": "Output only. Metadata about the creatives of this deal.",
          "$ref": "CreativeRequirements"
        },
        "buyerPermissionType": {
          "description": "Output only. The buyer permission type of the deal.",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "mediaPlanner": {
          "readOnly": true,
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time of the deal creation.",
          "type": "string"
        },
        "sellerTimeZone": {
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "readOnly": true,
          "$ref": "TimeZone"
        },
        "client": {
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Free text description for the deal terms.",
          "readOnly": true,
          "type": "string"
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "eligibleSeatIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "type": "array"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "billedBuyer": {
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "flightEndTime": {
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the deal was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "flightStartTime": {
          "format": "google-datetime",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string"
        },
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "description": "Output only. Specifies the pacing set by the publisher.",
          "readOnly": true
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "dealType": {
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "description": "Output only. Type of deal.",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        }
      },
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "type": "object",
      "id": "Deal"
    },
    "PauseFinalizedDealRequest": {
      "description": "Request message for pausing a finalized deal.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "id": "PauseFinalizedDealRequest"
    },
    "TechnologyTargeting": {
      "properties": {
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        },
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        }
      },
      "type": "object",
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology."
    },
    "Client": {
      "id": "Client",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        },
        "partnerClientId": {
          "type": "string",
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
        },
        "state": {
          "description": "Output only. The state of the client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "type": "string"
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        },
        "displayName": {
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client."
        }
      },
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
    },
    "FinalizedDeal": {
      "type": "object",
      "id": "FinalizedDeal",
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
        },
        "deal": {
          "$ref": "Deal",
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated."
        },
        "rtbMetrics": {
          "description": "Real-time bidding metrics for this deal.",
          "$ref": "RtbMetrics"
        },
        "dealServingStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "description": "Serving status of the deal.",
          "type": "string",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ]
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "readyToServe": {
          "description": "Whether the Programmatic Guaranteed deal is ready for serving.",
          "type": "boolean"
        }
      }
    },
    "DeactivateClientUserRequest": {
      "id": "DeactivateClientUserRequest",
      "type": "object",
      "description": "Request message for deactivating a client user.",
      "properties": {}
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "type": "object",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation."
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        },
        "finalizedDeals": {
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "description": "The list of finalized deals."
        }
      },
      "type": "object",
      "description": "Response message for listing finalized deals.",
      "id": "ListFinalizedDealsResponse"
    },
    "PlacementTargeting": {
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "$ref": "MobileApplicationTargeting",
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
        }
      },
      "type": "object",
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "MarketplaceTargeting": {
      "properties": {
        "excludedSensitiveCategoryIds": {
          "type": "array",
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "videoTargeting": {
          "readOnly": true,
          "$ref": "VideoTargeting",
          "description": "Output only. Video targeting information."
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications."
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "readOnly": true,
          "description": "Output only. Technology targeting information, for example, operating system, device category."
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Output only. Inventory sizes to be included/excluded.",
          "readOnly": true
        },
        "daypartTargeting": {
          "description": "Daypart targeting information.",
          "$ref": "DayPartTargeting"
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "readOnly": true
        },
        "inventoryTypeTargeting": {
          "readOnly": true,
          "description": "Output only. Inventory type targeting information.",
          "$ref": "InventoryTypeTargeting"
        },
        "userListTargeting": {
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader.",
          "$ref": "CriteriaTargeting"
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "id": "MarketplaceTargeting"
    },
    "CreativeRequirements": {
      "description": "Message captures data about the creatives in the deal.",
      "type": "object",
      "id": "CreativeRequirements",
      "properties": {
        "creativeSafeFrameCompatibility": {
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "type": "string",
          "readOnly": true
        },
        "creativeFormat": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals."
        },
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "readOnly": true,
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives."
        },
        "programmaticCreativeSource": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ]
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "readOnly": true,
          "type": "string"
        },
        "maxAdDurationMs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "format": "int64"
        }
      }
    },
    "OperatingSystemTargeting": {
      "description": "Represents targeting information for operating systems.",
      "type": "object",
      "properties": {
        "operatingSystemVersionCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating system versions to be included/excluded."
        },
        "operatingSystemCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating systems to be included/excluded."
        }
      },
      "id": "OperatingSystemTargeting"
    },
    "DealPausingInfo": {
      "description": "Information related to deal pausing.",
      "properties": {
        "pauseRole": {
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "pausingConsented": {
          "description": "Whether pausing is consented between buyer and seller for the deal.",
          "type": "boolean"
        },
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        }
      },
      "id": "DealPausingInfo",
      "type": "object"
    },
    "InventoryTypeTargeting": {
      "id": "InventoryTypeTargeting",
      "type": "object",
      "description": "Targeting of the inventory types a bid request can originate from.",
      "properties": {
        "inventoryTypes": {
          "description": "The list of targeted inventory types for the bid request.",
          "items": {
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "type": "string",
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ]
          },
          "type": "array"
        }
      }
    },
    "PreferredDealTerms": {
      "id": "PreferredDealTerms",
      "description": "Pricing terms for Preferred Deals.",
      "type": "object",
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      }
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "type": "object",
      "properties": {
        "excludedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array"
        },
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "type": "array"
        }
      },
      "id": "VideoTargeting"
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "properties": {
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "mobileApps": {
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        },
        "topHeadlines": {
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "publisherCode": {
          "type": "string",
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method."
        }
      },
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "type": "object"
    },
    "ListAuctionPackagesResponse": {
      "id": "ListAuctionPackagesResponse",
      "type": "object",
      "description": "Response message for listing auction packages.",
      "properties": {
        "auctionPackages": {
          "items": {
            "$ref": "AuctionPackage"
          },
          "description": "The list of auction packages.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "properties": {
        "publisherProfiles": {
          "type": "array",
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for profiles visible to the buyer.",
      "type": "object",
      "id": "ListPublisherProfilesResponse"
    },
    "MobileApplicationTargeting": {
      "id": "MobileApplicationTargeting",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "description": "Mobile application targeting settings.",
      "type": "object"
    },
    "PrivateAuctionTerms": {
      "id": "PrivateAuctionTerms",
      "description": "Pricing terms for Private Auctions.",
      "properties": {
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        },
        "openAuctionAllowed": {
          "readOnly": true,
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SubscribeClientsRequest": {
      "description": "Request message for SubscribeAuctionPackageClients.",
      "properties": {
        "clients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "type": "array"
        }
      },
      "id": "SubscribeClientsRequest",
      "type": "object"
    },
    "FrequencyCap": {
      "type": "object",
      "id": "FrequencyCap",
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "properties": {
        "timeUnitsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped."
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "type": "string",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        },
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AdSize": {
      "id": "AdSize",
      "description": "Represents size of a single ad slot, or a creative.",
      "type": "object",
      "properties": {
        "width": {
          "type": "string",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The type of the ad slot size.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        },
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ClientUser": {
      "id": "ClientUser",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the client user.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        }
      },
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client."
    },
    "UpdateDealRequest": {
      "type": "object",
      "description": "Request message for updating the deal at the given revision number.",
      "id": "UpdateDealRequest",
      "properties": {
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        }
      }
    },
    "UnsubscribeClientsRequest": {
      "id": "UnsubscribeClientsRequest",
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "proposals": {
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals.",
          "type": "array"
        }
      },
      "description": "Response message for listing proposals.",
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object"
    },
    "SetReadyToServeRequest": {
      "properties": {},
      "id": "SetReadyToServeRequest",
      "description": "Request message for setting ready to serve for a finalized deal.",
      "type": "object"
    },
    "PublisherProfileMobileApplication": {
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "type": "object",
      "id": "PublisherProfileMobileApplication",
      "properties": {
        "appStore": {
          "type": "string",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        }
      }
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation.",
      "properties": {
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The display name of the proposal being created by this RFP.",
          "type": "string"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "flightStartTime": {
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported.",
          "$ref": "InventorySizeTargeting"
        },
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        },
        "buyerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "Contact information for the buyer."
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "publisherProfile": {
          "type": "string",
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables.",
          "$ref": "CriteriaTargeting"
        },
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "buyers": {
      "resources": {
        "proposals": {
          "resources": {
            "deals": {
              "methods": {
                "get": {
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "response": {
                    "$ref": "Deal"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
                    }
                  }
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "path": "v1/{+parent}/deals:batchUpdate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "description": "Batch updates multiple deals in the same proposal.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token as returned from ListDealsResponse."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "format": "int32"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/deals",
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "patch": {
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "response": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Deal"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch"
                }
              }
            }
          },
          "methods": {
            "cancelNegotiation": {
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "parameters": {
                "proposal": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "path": "v1/{+proposal}:cancelNegotiation",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "parameterOrder": [
                "proposal"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "patch": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "response": {
                "$ref": "Proposal"
              },
              "request": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Proposal"
              },
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "parameters": {
                "name": {
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET"
            },
            "addNote": {
              "httpMethod": "POST",
              "parameters": {
                "proposal": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "request": {
                "$ref": "AddNoteRequest"
              },
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "path": "v1/{+proposal}:addNote",
              "response": {
                "$ref": "Proposal"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "flatPath": "v1/buyers/{buyersId}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/proposals",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state"
                }
              },
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results."
            },
            "accept": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
[...]
