{
  "version": "v1alpha",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "id": "authorizedbuyersmarketplace:v1alpha",
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20260826",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Authorized Buyers Marketplace API",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "SubscribeAuctionPackageRequest": {
      "description": "Request message for SubscribeAuctionPackage.",
      "id": "SubscribeAuctionPackageRequest",
      "properties": {},
      "type": "object"
    },
    "DayPart": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        }
      },
      "id": "DayPart",
      "description": "Defines targeting for a period of time on a specific week day."
    },
    "UnsubscribeClientsRequest": {
      "id": "UnsubscribeClientsRequest",
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`."
        }
      }
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "description": "Response message for the list method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        },
        "clientUsers": {
          "items": {
            "$ref": "ClientUser"
          },
          "type": "array",
          "description": "The returned list of client users."
        }
      }
    },
    "SubscribeClientsRequest": {
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already."
        }
      },
      "description": "Request message for SubscribeAuctionPackageClients.",
      "id": "SubscribeClientsRequest",
      "type": "object"
    },
    "InventorySizeTargeting": {
      "type": "object",
      "id": "InventorySizeTargeting",
      "properties": {
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be included."
        },
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "description": "Represents the size of an ad unit that can be targeted on a bid request."
    },
    "PauseFinalizedDealRequest": {
      "properties": {
        "reason": {
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PauseFinalizedDealRequest",
      "description": "Request message for pausing a finalized deal."
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          }
        }
      },
      "id": "ListFinalizedDealsResponse",
      "description": "Response message for listing finalized deals.",
      "type": "object"
    },
    "PrivateData": {
      "id": "PrivateData",
      "type": "object",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal."
    },
    "FirstPartyMobileApplicationTargeting": {
      "type": "object",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "id": "FirstPartyMobileApplicationTargeting",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be excluded."
        }
      }
    },
    "ClientUser": {
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "id": "ClientUser",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`"
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        }
      }
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "type": "string",
          "description": "The last known client revision number of the proposal.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "VideoPlcmtTargeting": {
      "id": "VideoPlcmtTargeting",
      "type": "object",
      "description": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field.",
      "properties": {
        "videoPlcmtTypes": {
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during or after the streaming video content that the consumer has requested. Instream video must be set to “sound on” by default at player start, or have explicitly clear user intent to watch the video content. While there may be other content surrounding the player, the video content must be the focus of the user’s visit. It should remain the primary content on the page and the only video player in-view capable of audio when playing. If the player converts to floating/sticky, subsequent ad calls should accurately convey the updated player size.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during, or after streaming video content. The video player loads and plays before, between, or after paragraphs of text or graphical content, and starts playing only when it enters the viewport. Accompanying content should only start playback upon entering the viewport. It may convert to a floating/sticky player as it scrolls off the page.",
              "Video ads that are played without video content. During playback, it must be the primary focus of the page and take up the majority of the viewport and cannot be scrolled out of view. This can be in placements like in-app video or slideshows.",
              "Video ads that are played without streaming video content. This can be in placements like slideshows, native feeds, in-content or sticky/floating."
            ],
            "enum": [
              "VIDEO_PLCMT_TYPE_UNSPECIFIED",
              "INSTREAM",
              "ACCOMPANYING_CONTENT",
              "INTERSTITIAL",
              "NO_CONTENT"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type."
        },
        "selectionType": {
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "description": "Required. The selection type for the list of video plcmts.",
          "type": "string"
        }
      }
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "type": "object",
      "properties": {
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "topHeadlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\"."
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array"
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "mediaKitUrl": {
          "type": "string",
          "description": "URL to additional marketing and sales materials."
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        }
      },
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
    },
    "InventoryTypeTargeting": {
      "description": "Targeting of the inventory types a bid request can originate from.",
      "properties": {
        "inventoryTypes": {
          "description": "The list of targeted inventory types for the bid request.",
          "items": {
            "type": "string",
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ],
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ]
          },
          "type": "array"
        }
      },
      "id": "InventoryTypeTargeting",
      "type": "object"
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "properties": {
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        },
        "timeZoneType": {
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "description": "The time zone type of the day parts",
          "type": "string",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ]
        }
      },
      "type": "object",
      "description": "Represents Daypart targeting."
    },
    "Client": {
      "type": "object",
      "id": "Client",
      "properties": {
        "displayName": {
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "Output only. The state of the client."
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "name": {
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "partnerClientId": {
          "type": "string",
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        }
      },
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
    },
    "VideoPlayerSizeTargeting": {
      "description": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values.",
      "properties": {
        "minimumHeight": {
          "format": "int64",
          "type": "string",
          "description": "Required. The minimum height of the video player in pixels."
        },
        "minimumWidth": {
          "format": "int64",
          "description": "Required. The minimum width of the video player in pixels.",
          "type": "string"
        }
      },
      "id": "VideoPlayerSizeTargeting",
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for activating a client user.",
      "id": "ActivateClientUserRequest"
    },
    "PackageVideoTargeting": {
      "id": "PackageVideoTargeting",
      "type": "object",
      "description": "Video specific targeting criteria.",
      "properties": {
        "includedMaximumAdDurationTargeting": {
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "type": "string",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ]
        },
        "minimumPredictedCompletionRatePercentage": {
          "format": "int64",
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate.",
          "type": "string"
        },
        "includedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type."
        },
        "plcmtTargeting": {
          "$ref": "VideoPlcmtTargeting",
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type."
        },
        "includedMimeTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ],
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ]
          },
          "type": "array",
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type."
        },
        "includedPlaybackMethods": {
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ],
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ],
            "type": "string"
          }
        },
        "includedPlayerSizeTargeting": {
          "$ref": "VideoPlayerSizeTargeting",
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size."
        },
        "includedContentDeliveryMethod": {
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ],
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ]
        }
      }
    },
    "FinalizedDeal": {
      "properties": {
        "dealPausingInfo": {
          "$ref": "DealPausingInfo",
          "description": "Information related to deal pausing for the deal."
        },
        "dealServingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "description": "Serving status of the deal.",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ]
        },
        "rtbMetrics": {
          "$ref": "RtbMetrics",
          "description": "Real-time bidding metrics for this deal."
        },
        "deal": {
          "$ref": "Deal",
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated."
        },
        "readyToServe": {
          "type": "boolean",
          "description": "Whether the Programmatic Guaranteed deal is ready for serving."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
        }
      },
      "type": "object",
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more.",
      "id": "FinalizedDeal"
    },
    "DeactivateDataSegmentRequest": {
      "id": "DeactivateDataSegmentRequest",
      "type": "object",
      "description": "Request message for deactivating a data segment",
      "properties": {}
    },
    "SetReadyToServeRequest": {
      "id": "SetReadyToServeRequest",
      "properties": {},
      "description": "Request message for setting ready to serve for a finalized deal.",
      "type": "object"
    },
    "ListDataSegmentsResponse": {
      "id": "ListDataSegmentsResponse",
      "description": "Response message for listing data segments.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results.",
          "type": "string"
        },
        "dataSegments": {
          "type": "array",
          "description": "The list of data segments.",
          "items": {
            "$ref": "DataSegment"
          }
        }
      },
      "type": "object"
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        },
        "publisherProfiles": {
          "items": {
            "$ref": "PublisherProfile"
          },
          "description": "The list of matching publisher profiles.",
          "type": "array"
        }
      },
      "description": "Response message for profiles visible to the buyer."
    },
    "Price": {
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price",
      "properties": {
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "description": "The pricing type for the deal.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ]
        }
      },
      "type": "object"
    },
    "Deal": {
      "type": "object",
      "id": "Deal",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "properties": {
        "flightEndTime": {
          "format": "google-datetime",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "type": "string"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "description": "Output only. Specifies the pacing set by the publisher.",
          "readOnly": true
        },
        "creativeRequirements": {
          "description": "Output only. Metadata about the creatives of this deal.",
          "readOnly": true,
          "$ref": "CreativeRequirements"
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "flightStartTime": {
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized."
        },
        "buyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`"
        },
        "dealType": {
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of deal."
        },
        "description": {
          "type": "string",
          "description": "Output only. Free text description for the deal terms.",
          "readOnly": true
        },
        "sellerTimeZone": {
          "readOnly": true,
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "$ref": "TimeZone"
        },
        "buyerPermissionType": {
          "readOnly": true,
          "description": "Output only. The buyer permission type of the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "type": "string",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ]
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "mediaPlanner": {
          "readOnly": true,
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "billedBuyer": {
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "proposalRevision": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of the deal creation.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "eligibleSeatIds": {
          "readOnly": true,
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "type": "string",
          "readOnly": true
        },
        "client": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the deal was last updated.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BatchUpdateDealsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "description": "Required. List of request messages to update deals."
        }
      },
      "type": "object",
      "id": "BatchUpdateDealsRequest",
      "description": "Request message for batch updating deals."
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "id": "AuctionPackage",
      "properties": {
        "subscribedMediaPlanners": {
          "type": "array",
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "items": {
            "$ref": "MediaPlanner"
          },
          "readOnly": true
        },
        "subscribedBuyers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
        },
        "floorPriceCpm": {
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "$ref": "Money"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the auction package."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "dealOwnerSeatId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the auction package was created.",
          "type": "string",
          "readOnly": true
        },
        "eligibleSeatIds": {
          "type": "array",
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "subscribedClients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
        }
      },
      "type": "object"
    },
    "ListClientsResponse": {
      "type": "object",
      "id": "ListClientsResponse",
      "properties": {
        "clients": {
          "description": "The returned list of clients.",
          "items": {
            "$ref": "Client"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for the list method."
    },
    "SendRfpRequest": {
      "type": "object",
      "properties": {
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "flightEndTime": {
          "type": "string",
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "format": "google-datetime"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
        },
        "publisherProfile": {
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`.",
          "type": "string"
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables."
        },
        "flightStartTime": {
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The display name of the proposal being created by this RFP.",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`."
        },
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        }
      },
      "id": "SendRfpRequest",
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation."
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "type": "object",
      "id": "PackagePublisherProvidedSignalsTargeting",
      "properties": {
        "videoAndAudioSignalsTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals."
        },
        "audienceTargeting": {
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)",
          "$ref": "TaxonomyTargeting"
        },
        "contentTargeting": {
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)",
          "$ref": "TaxonomyTargeting"
        }
      },
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed."
    },
    "ActivateClientRequest": {
      "properties": {},
      "description": "Request message for activating a client.",
      "type": "object",
      "id": "ActivateClientRequest"
    },
    "Note": {
      "id": "Note",
      "properties": {
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "creatorRole": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The role who created the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        }
      },
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "type": "object"
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "type": "object",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      }
    },
    "CuratedPackage": {
      "description": "Represents a curated package of inventory created and managed by a Curator.",
      "type": "object",
      "id": "CuratedPackage",
      "properties": {
        "targeting": {
          "description": "Optional. Targeting criteria for the curated package.",
          "$ref": "PackageTargeting"
        },
        "feeCpm": {
          "$ref": "Money",
          "description": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
        },
        "accessSettings": {
          "description": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource.",
          "$ref": "AccessControlSettings"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "floorPriceCpm": {
          "description": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method.",
          "$ref": "Money"
        },
        "curationFeeVisibility": {
          "enumDescriptions": [
            "The total curation fee visibility is unspecified.",
            "The total curation fee is visible to all buyers. This is the default value if not set.",
            "The total curation fee is not visible to all buyers."
          ],
          "enum": [
            "CURATION_FEE_VISIBILITY_UNSPECIFIED",
            "DISCLOSED",
            "NON_DISCLOSED"
          ],
          "description": "Optional. Immutable. The visibility of the combined curation package fee and data segment fees (the total curation fee).",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The curated package is active.",
            "The curated package is inactive."
          ],
          "description": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the curated package, provided by the curator."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method."
        },
        "millipercentOfMediaFee": {
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UriTargeting": {
      "id": "UriTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "properties": {
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded."
        }
      },
      "type": "object"
    },
    "CriteriaTargeting": {
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "properties": {
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "targetedCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "A list of numeric IDs to be included."
        }
      },
      "type": "object"
    },
    "DeactivateClientUserRequest": {
      "description": "Request message for deactivating a client user.",
      "type": "object",
      "id": "DeactivateClientUserRequest",
      "properties": {}
    },
    "AddNoteRequest": {
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      },
      "type": "object",
      "description": "Request to add a note.",
      "id": "AddNoteRequest"
    },
    "ProgrammaticGuaranteedTerms": {
      "properties": {
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string",
          "format": "int64"
        },
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD."
        },
        "percentShareOfVoice": {
          "format": "int64",
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
        },
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        },
        "impressionCap": {
          "type": "string",
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        },
        "minimumDailyLooks": {
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string"
        }
      },
      "id": "ProgrammaticGuaranteedTerms",
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "type": "object"
    },
    "MediaPlanner": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true
        },
        "ancestorNames": {
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "accountId": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. Account ID of the media planner.",
          "readOnly": true
        }
      },
      "id": "MediaPlanner",
      "description": "Represents a media planner account.",
      "type": "object"
    },
    "ListProposalsResponse": {
      "type": "object",
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals.",
      "properties": {
        "proposals": {
          "type": "array",
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "FrequencyCap": {
      "properties": {
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer",
          "format": "int32"
        },
        "timeUnitsCount": {
          "type": "integer",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32"
        },
        "timeUnitType": {
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ]
        }
      },
      "type": "object",
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "id": "FrequencyCap"
    },
    "ListMediaPlannersResponse": {
      "type": "object",
      "properties": {
        "mediaPlanners": {
          "description": "List of media planners.",
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the `ListMediaPlanners` method to retrieve the next page of results in ListMediaPlannersRequest.pageToken.",
          "type": "string"
        }
      },
      "description": "A response containing media planner account information.",
      "id": "ListMediaPlannersResponse"
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "type": "object"
    },
    "AccessControlSettings": {
      "id": "AccessControlSettings",
      "description": "Settings for controlling access to a curated package.",
      "type": "object",
      "properties": {
        "allowlistedMediaPlanners": {
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`",
          "type": "array"
        }
      }
    },
    "Proposal": {
      "properties": {
        "name": {
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
          "type": "string"
        },
        "billedBuyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
        },
        "buyerContacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "Contact information for the buyer."
        },
        "proposalRevision": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates the state of the proposal.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
        },
        "notes": {
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "sellerContacts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "Output only. Contact information for the seller."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "readOnly": true
        },
        "lastUpdaterOrCommentorRole": {
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true
        },
        "client": {
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "readOnly": true
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "dealType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of deal the proposal contains.",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "originatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "type": "object"
    },
    "DeactivateClientRequest": {
      "id": "DeactivateClientRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for disabling a client."
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "PublisherProfileMobileApplication": {
      "id": "PublisherProfileMobileApplication",
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "properties": {
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "appStore": {
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DealPausingInfo": {
      "description": "Information related to deal pausing.",
      "properties": {
        "pausingConsented": {
          "description": "Whether pausing is consented between buyer and seller for the deal.",
          "type": "boolean"
        },
        "pauseReason": {
          "type": "string",
          "description": "The reason for the pausing of the deal; empty for active deals."
        },
        "pauseRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "description": "The party that first paused the deal; unspecified for active deals."
        }
      },
      "id": "DealPausingInfo",
      "type": "object"
    },
    "ActivateCuratedPackageRequest": {
      "type": "object",
      "description": "Request message for ActivateCuratedPackage.",
      "id": "ActivateCuratedPackageRequest",
      "properties": {}
    },
    "DataSegment": {
      "description": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms. -- Next ID: 9 --",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the data segment was last updated.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
          "type": "string"
        },
        "cpmFee": {
          "description": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed.",
          "$ref": "Money"
        },
        "millipercentOfMediaFee": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000."
        },
        "createTime": {
          "description": "Output only. Time the data segment was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data segment is active.",
            "The data segment is inactive.",
            "The data segment is suspended and cannot be activated."
          ],
          "readOnly": true,
          "description": "Output only. The state of the data segment.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "SUSPENDED"
          ]
        }
      },
      "type": "object",
      "id": "DataSegment"
    },
    "RtbMetrics": {
      "properties": {
        "bidRate7Days": {
          "type": "number",
          "format": "double",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests)."
        },
        "adImpressions7Days": {
          "format": "int64",
          "description": "Ad impressions in last 7 days.",
          "type": "string"
        },
        "bids7Days": {
          "format": "int64",
          "description": "Bids in last 7 days.",
          "type": "string"
        },
        "filteredBidRate7Days": {
          "type": "number",
          "format": "double",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids)."
        },
        "mustBidRateCurrentMonth": {
          "description": "Must bid rate for current month.",
          "format": "double",
          "type": "number"
        },
        "bidRequests7Days": {
          "type": "string",
          "format": "int64",
          "description": "Bid requests in last 7 days."
        }
      },
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "type": "object",
      "id": "RtbMetrics"
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        },
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        }
      },
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "PackagePlacementTargeting": {
      "id": "PackagePlacementTargeting",
      "type": "object",
      "properties": {
        "uriTargeting": {
          "description": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url.",
          "$ref": "StringTargetingDimension"
        },
        "mobileAppTargeting": {
          "description": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
          "$ref": "StringTargetingDimension"
        },
        "includedMobileAppCategoryTargeting": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. The list of targeted mobile app categories."
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "properties": {
        "targetedPositionTypes": {
          "type": "array",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          },
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty."
        },
        "excludedPositionTypes": {
          "type": "array",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
        }
      },
      "description": "Represents targeting information about video.",
      "type": "object"
    },
    "CancelNegotiationRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation.",
      "id": "CancelNegotiationRequest"
    },
    "ListCuratedPackagesResponse": {
      "id": "ListCuratedPackagesResponse",
      "type": "object",
      "properties": {
        "curatedPackages": {
          "description": "The list of curated packages.",
          "type": "array",
          "items": {
            "$ref": "CuratedPackage"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results."
        }
      },
      "description": "Response message for ListCuratedPackages."
    },
    "DeactivateCuratedPackageRequest": {
      "id": "DeactivateCuratedPackageRequest",
      "properties": {},
      "description": "Request message for DeactivateCuratedPackage.",
      "type": "object"
    },
    "ListAuctionPackagesResponse": {
      "id": "ListAuctionPackagesResponse",
      "type": "object",
      "description": "Response message for listing auction packages.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        },
        "auctionPackages": {
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          },
          "description": "The list of auction packages."
        }
      }
    },
    "UnsubscribeAuctionPackageRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object",
      "properties": {},
      "id": "UnsubscribeAuctionPackageRequest"
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "TimeOfDay",
      "type": "object"
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "id": "AddCreativeRequest",
      "type": "object",
      "properties": {
        "creative": {
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "PreferredDealTerms": {
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "id": "PreferredDealTerms",
      "type": "object",
      "description": "Pricing terms for Preferred Deals."
    },
    "PrivateAuctionTerms": {
      "description": "Pricing terms for Private Auctions.",
      "type": "object",
      "properties": {
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        },
        "openAuctionAllowed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        }
      },
      "id": "PrivateAuctionTerms"
    },
    "TechnologyTargeting": {
      "description": "Represents targeting about various types of technology.",
      "properties": {
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        }
      },
      "type": "object",
      "id": "TechnologyTargeting"
    },
    "TaxonomyTargeting": {
      "id": "TaxonomyTargeting",
      "properties": {
        "targetedTaxonomyIds": {
          "type": "array",
          "description": "Optional. The list of targeted content taxonomy IDs.",
          "items": {
            "type": "string"
          }
        },
        "excludedTaxonomyIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of excluded content taxonomy IDs.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space."
    },
    "BatchUpdateDealsResponse": {
      "type": "object",
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "properties": {
        "deals": {
          "type": "array",
          "items": {
            "$ref": "Deal"
          },
          "description": "Deals updated."
        }
      }
    },
    "DeliveryControl": {
      "id": "DeliveryControl",
      "type": "object",
      "properties": {
        "deliveryRateType": {
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "type": "string"
        },
        "frequencyCap": {
          "readOnly": true,
          "items": {
            "$ref": "FrequencyCap"
          },
          "type": "array",
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest."
        },
        "creativeRotationType": {
          "readOnly": true,
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "type": "string"
        },
        "roadblockingType": {
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "readOnly": true
        },
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies roadblocking in a main companion lineitem."
        }
      },
      "description": "Message contains details about how the deal will be paced."
    },
    "CreativeRequirements": {
      "type": "object",
      "id": "CreativeRequirements",
      "properties": {
        "programmaticCreativeSource": {
          "type": "string",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "readOnly": true
        },
        "maxAdDurationMs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "format": "int64"
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ]
        },
        "creativeFormat": {
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "type": "string",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "readOnly": true,
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals."
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ]
        },
        "creativeSafeFrameCompatibility": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible."
        }
      },
      "description": "Message captures data about the creatives in the deal."
    },
    "ResumeFinalizedDealRequest": {
      "description": "Request message for resuming a finalized deal.",
      "properties": {},
      "id": "ResumeFinalizedDealRequest",
      "type": "object"
    },
    "StringTargetingDimension": {
      "type": "object",
      "id": "StringTargetingDimension",
      "properties": {
        "selectionType": {
          "type": "string",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "description": "Required. How the items in this list should be targeted.",
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ]
        },
        "values": {
          "items": {
[...]
