{
  "discoveryVersion": "v1",
  "title": "Authorized Buyers Marketplace API",
  "resources": {
    "buyers": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "unsubscribeClients": {
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "httpMethod": "POST",
              "path": "v1alpha/{+auctionPackage}:unsubscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "subscribe": {
              "path": "v1alpha/{+name}:subscribe",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true
                }
              }
            },
            "unsubscribe": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`"
                }
              },
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "httpMethod": "POST",
              "path": "v1alpha/{+name}:unsubscribe",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe"
            },
            "get": {
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "httpMethod": "GET",
              "description": "Gets an auction package given its name.",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get"
            },
            "subscribeClients": {
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "parameterOrder": [
                "auctionPackage"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "httpMethod": "POST",
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "path": "v1alpha/{+auctionPackage}:subscribeClients",
              "parameters": {
                "auctionPackage": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true
                }
              }
            },
            "list": {
              "path": "v1alpha/{+parent}/auctionPackages",
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Gets a finalized deal given its name.",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals",
              "path": "v1alpha/{+parent}/finalizedDeals",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              }
            },
            "resume": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "path": "v1alpha/{+name}:resume",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume"
            },
            "addCreative": {
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "parameterOrder": [
                "deal"
              ],
              "parameters": {
                "deal": {
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+deal}:addCreative"
            },
            "pause": {
              "httpMethod": "POST",
              "path": "v1alpha/{+name}:pause",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "response": {
                "$ref": "FinalizedDeal"
              }
            },
            "setReadyToServe": {
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "parameters": {
                "deal": {
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "deal"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "httpMethod": "POST",
              "path": "v1alpha/{+deal}:setReadyToServe"
            }
          }
        },
        "clients": {
          "resources": {
            "users": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1alpha/{+parent}/users",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
                    }
                  },
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create"
                },
                "deactivate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "path": "v1alpha/{+name}:deactivate",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete"
                },
                "get": {
                  "description": "Retrieves an existing client user.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Lists all client users for a specified client.",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied."
                    },
                    "parent": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "path": "v1alpha/{+parent}/users"
                },
                "activate": {
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "path": "v1alpha/{+name}:activate",
                  "httpMethod": "POST",
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "deactivate": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:deactivate",
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "response": {
                "$ref": "Client"
              }
            },
            "create": {
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "request": {
                "$ref": "Client"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "path": "v1alpha/{+parent}/clients",
              "httpMethod": "POST",
              "description": "Creates a new client.",
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response."
                }
              },
              "path": "v1alpha/{+parent}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "description": "Lists all the clients for the current buyer.",
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "httpMethod": "GET",
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a client with a given resource name.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Client"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "id": "authorizedbuyersmarketplace.buyers.clients.get"
            },
            "activate": {
              "response": {
                "$ref": "Client"
              },
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}:activate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.activate"
            },
            "patch": {
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates an existing client.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "PATCH"
            }
          }
        },
        "dataSegments": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a data segment.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "DataSegment"
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              }
            },
            "create": {
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "path": "v1alpha/{+parent}/dataSegments",
              "httpMethod": "POST",
              "response": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource where this data segment will be created. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "request": {
                "$ref": "DataSegment"
              }
            },
            "deactivate": {
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.deactivate",
              "description": "Deactivates a data segment.",
              "response": {
                "$ref": "DataSegment"
              },
              "path": "v1alpha/{+name}:deactivate",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of data segment to deactivate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the parent curator that can access the data segment. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "pattern": "^buyers/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "httpMethod": "GET",
              "description": "List the data segments owned by a curator.",
              "path": "v1alpha/{+parent}/dataSegments",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.list",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments"
            },
            "activate": {
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:activate",
              "path": "v1alpha/{+name}:activate",
              "description": "Activates a data segment.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "description": "Required. Name of data segment to activate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.activate",
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.get",
              "httpMethod": "GET",
              "description": "Gets a data segment given its name.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of data segment to get. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$"
                }
              }
            }
          }
        },
        "proposals": {
          "resources": {
            "deals": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "httpMethod": "GET",
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "response": {
                    "$ref": "Deal"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "patch": {
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
                    },
                    "updateMask": {
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Deal"
                  },
                  "request": {
                    "$ref": "Deal"
                  },
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "path": "v1alpha/{+parent}/deals",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token as returned from ListDealsResponse.",
                      "type": "string"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list"
                },
                "batchUpdate": {
                  "description": "Batch updates multiple deals in the same proposal.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "path": "v1alpha/{+parent}/deals:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "cancelNegotiation": {
              "parameterOrder": [
                "proposal"
              ],
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "proposal": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "path": "v1alpha/{+proposal}:cancelNegotiation",
              "httpMethod": "POST"
            },
            "accept": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "parameters": {
                "name": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "path": "v1alpha/{+name}:accept",
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:accept"
            },
            "addNote": {
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "proposal": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+proposal}:addNote",
              "request": {
                "$ref": "AddNoteRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "httpMethod": "GET",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get"
            },
            "sendRfp": {
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "buyer"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "parameters": {
                "buyer": {
                  "location": "path",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+buyer}/proposals:sendRfp",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals:sendRfp",
              "httpMethod": "POST"
            },
            "patch": {
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "Proposal"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "response": {
                "$ref": "Proposal"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/proposals",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "path": "v1alpha/{+parent}/proposals",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state"
                }
              },
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results."
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "description": "Gets the requested publisher profile by name.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "PublisherProfile"
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax."
                }
              },
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+parent}/publisherProfiles",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list"
            }
          }
        }
      }
    },
    "mediaPlanners": {
      "methods": {
        "list": {
          "flatPath": "v1alpha/mediaPlanners",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "id": "authorizedbuyersmarketplace.mediaPlanners.list",
          "path": "v1alpha/mediaPlanners",
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/authorized-buyers-marketplace"
          ]
        }
      }
    },
    "bidders": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/auctionPackages",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^bidders/[^/]+$"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v1alpha/bidders/{biddersId}/auctionPackages"
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/finalizedDeals",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "setReadyToServe": {
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "parameterOrder": [
                "deal"
              ],
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "path": "v1alpha/{+deal}:setReadyToServe",
              "httpMethod": "POST",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "parameters": {
                "deal": {
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe"
            }
          }
        }
      }
    },
    "curators": {
      "resources": {
        "curatedPackages": {
          "methods": {
            "deactivate": {
              "response": {
                "$ref": "CuratedPackage"
              },
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "description": "Deactivates an existing curated package.",
              "httpMethod": "POST",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.deactivate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$"
                }
              }
            },
            "activate": {
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              },
              "description": "Activates an existing curated package.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}:activate",
              "response": {
                "$ref": "CuratedPackage"
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.activate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new curated package.",
              "httpMethod": "POST",
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "request": {
                "$ref": "CuratedPackage"
              },
              "path": "v1alpha/{+parent}/curatedPackages"
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "CuratedPackage"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "request": {
                "$ref": "CuratedPackage"
              },
              "description": "Updates an existing curated package.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "required": true,
                  "pattern": "^curators/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1alpha/{+parent}/curatedPackages",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.list",
              "description": "Lists curated packages owned by the specified curator.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              }
            },
            "get": {
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.get",
              "httpMethod": "GET",
              "description": "Gets a curated package given its resource name.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
                }
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "id": "authorizedbuyersmarketplace:v1alpha",
  "revision": "20260901",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    }
  },
  "version_module": true,
  "schemas": {
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "type": "object",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "type": "string",
          "description": "The last known client revision number of the proposal."
        }
      }
    },
    "UpdateDealRequest": {
      "description": "Request message for updating the deal at the given revision number.",
      "properties": {
        "updateMask": {
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        }
      },
      "type": "object",
      "id": "UpdateDealRequest"
    },
    "AddNoteRequest": {
      "id": "AddNoteRequest",
      "type": "object",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      },
      "description": "Request to add a note."
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "appStore": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method."
        }
      },
      "id": "PublisherProfileMobileApplication",
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "finalizedDeals": {
          "type": "array",
          "description": "The list of finalized deals.",
          "items": {
            "$ref": "FinalizedDeal"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListFinalizedDealsResponse",
      "description": "Response message for listing finalized deals."
    },
    "TechnologyTargeting": {
      "type": "object",
      "description": "Represents targeting about various types of technology.",
      "id": "TechnologyTargeting",
      "properties": {
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      }
    },
    "PreferredDealTerms": {
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "description": "Pricing terms for Preferred Deals.",
      "id": "PreferredDealTerms",
      "type": "object"
    },
    "FrequencyCap": {
      "properties": {
        "maxImpressions": {
          "type": "integer",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32"
        },
        "timeUnitType": {
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "type": "string"
        },
        "timeUnitsCount": {
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer"
        }
      },
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "type": "object",
      "id": "FrequencyCap"
    },
    "CreativeRequirements": {
      "type": "object",
      "properties": {
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "type": "string",
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ]
        },
        "creativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "readOnly": true,
          "type": "string",
[...]
