{
  "protocol": "rest",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "title": "Authorized Buyers Marketplace API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "revision": "20260924",
  "canonicalName": "Authorized Buyers Marketplace",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version": "v1",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "basePath": "",
  "schemas": {
    "ActivateClientRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for activating a client.",
      "id": "ActivateClientRequest"
    },
    "PrivateData": {
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "id": "PrivateData",
      "type": "object",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      }
    },
    "ListClientUsersResponse": {
      "properties": {
        "clientUsers": {
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListClientUsersResponse",
      "description": "Response message for the list method.",
      "type": "object"
    },
    "ListAuctionPackagesResponse": {
      "properties": {
        "auctionPackages": {
          "description": "The list of auction packages.",
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing auction packages.",
      "id": "ListAuctionPackagesResponse",
      "type": "object"
    },
    "Price": {
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        },
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "description": "The pricing type for the deal.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "type": "string"
        }
      }
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "type": "object"
    },
    "MobileApplicationTargeting": {
      "type": "object",
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      }
    },
    "CancelNegotiationRequest": {
      "type": "object",
      "id": "CancelNegotiationRequest",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation."
    },
    "MediaPlanner": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Output only. Account ID of the media planner.",
          "type": "string",
          "deprecated": true,
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true
        },
        "ancestorNames": {
          "type": "array",
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MediaPlanner",
      "description": "Represents a media planner account."
    },
    "PauseFinalizedDealRequest": {
      "description": "Request message for pausing a finalized deal.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "type": "object",
      "id": "PauseFinalizedDealRequest"
    },
    "ListDealsResponse": {
      "type": "object",
      "id": "ListDealsResponse",
      "properties": {
        "deals": {
          "type": "array",
          "description": "The list of deals.",
          "items": {
            "$ref": "Deal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "description": "Response message for listing deals in a proposal."
    },
    "ResumeFinalizedDealRequest": {
      "description": "Request message for resuming a finalized deal.",
      "type": "object",
      "id": "ResumeFinalizedDealRequest",
      "properties": {}
    },
    "Deal": {
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "type": "object",
      "properties": {
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "readOnly": true,
          "description": "Output only. Specifies the pacing set by the publisher."
        },
        "mediaPlanner": {
          "readOnly": true,
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "dealType": {
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string",
          "description": "Output only. Type of deal.",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "billedBuyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "proposalRevision": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "buyerPermissionType": {
          "type": "string",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "description": "Output only. The buyer permission type of the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "readOnly": true
        },
        "eligibleSeatIds": {
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "readOnly": true,
          "type": "string"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "sellerTimeZone": {
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "$ref": "TimeZone",
          "readOnly": true
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "flightStartTime": {
          "type": "string",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time of the deal creation.",
          "type": "string",
          "readOnly": true
        },
        "flightEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the deal was last updated.",
          "format": "google-datetime"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Free text description for the deal terms.",
          "type": "string"
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true,
          "type": "string"
        },
        "creativeRequirements": {
          "$ref": "CreativeRequirements",
          "readOnly": true,
          "description": "Output only. Metadata about the creatives of this deal."
        },
        "privateAuctionTerms": {
          "$ref": "PrivateAuctionTerms",
          "description": "The terms for private auction deals."
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Deal"
    },
    "UriTargeting": {
      "properties": {
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        },
        "targetedUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included."
        }
      },
      "type": "object",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UriTargeting"
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        }
      },
      "type": "object"
    },
    "MarketplaceTargeting": {
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "properties": {
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Output only. Inventory sizes to be included/excluded.",
          "readOnly": true
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications."
        },
        "daypartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Daypart targeting information."
        },
        "geoTargeting": {
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "readOnly": true,
          "$ref": "CriteriaTargeting"
        },
        "technologyTargeting": {
          "description": "Output only. Technology targeting information, for example, operating system, device category.",
          "readOnly": true,
          "$ref": "TechnologyTargeting"
        },
        "excludedSensitiveCategoryIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "type": "array",
          "readOnly": true
        },
        "verticalTargeting": {
          "readOnly": true,
          "$ref": "CriteriaTargeting",
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals"
        },
        "videoTargeting": {
          "$ref": "VideoTargeting",
          "readOnly": true,
          "description": "Output only. Video targeting information."
        },
        "userListTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader."
        },
        "inventoryTypeTargeting": {
          "readOnly": true,
          "$ref": "InventoryTypeTargeting",
          "description": "Output only. Inventory type targeting information."
        }
      },
      "id": "MarketplaceTargeting",
      "type": "object"
    },
    "DeactivateClientUserRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for deactivating a client user.",
      "id": "DeactivateClientUserRequest"
    },
    "FirstPartyMobileApplicationTargeting": {
      "properties": {
        "targetedAppIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included."
        },
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be excluded.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
    },
    "ListPublisherProfilesResponse": {
      "type": "object",
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "publisherProfiles": {
          "description": "The list of matching publisher profiles.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfile"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for profiles visible to the buyer."
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "properties": {
        "excludedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded."
        },
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AdSize": {
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The type of the ad slot size."
        },
        "width": {
          "type": "string",
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "height": {
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        }
      }
    },
    "PrivateAuctionTerms": {
      "type": "object",
      "id": "PrivateAuctionTerms",
      "description": "Pricing terms for Private Auctions.",
      "properties": {
        "openAuctionAllowed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        },
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        }
      }
    },
    "Proposal": {
      "type": "object",
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "properties": {
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "sellerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "Output only. Contact information for the seller.",
          "readOnly": true
        },
        "buyerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "Contact information for the buyer."
        },
        "proposalRevision": {
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "description": "Output only. Indicates the state of the proposal."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "type": "string"
        },
        "originatorRole": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal."
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "isRenegotiating": {
          "readOnly": true,
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean"
        },
        "billedBuyer": {
          "readOnly": true,
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "type": "string"
        },
        "termsAndConditions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
        },
        "notes": {
          "type": "array",
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "items": {
            "$ref": "Note"
          }
        },
        "name": {
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
          "type": "string"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdaterOrCommentorRole": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment."
        }
      }
    },
    "CreativeRequirements": {
      "id": "CreativeRequirements",
      "properties": {
        "maxAdDurationMs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "format": "int64"
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "type": "string",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ]
        },
        "creativeSafeFrameCompatibility": {
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "readOnly": true,
          "description": "Output only. Specifies whether the creative is safeFrame compatible."
        },
        "skippableAdType": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "type": "string"
        },
        "creativeFormat": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "type": "string",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ]
        },
        "programmaticCreativeSource": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ]
        }
      },
      "type": "object",
      "description": "Message captures data about the creatives in the deal."
    },
    "AddNoteRequest": {
      "description": "Request to add a note.",
      "type": "object",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "id": "AddNoteRequest"
    },
    "ListFinalizedDealsResponse": {
      "type": "object",
      "id": "ListFinalizedDealsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "finalizedDeals": {
          "items": {
            "$ref": "FinalizedDeal"
          },
          "type": "array",
          "description": "The list of finalized deals."
        }
      },
      "description": "Response message for listing finalized deals."
    },
    "RtbMetrics": {
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "id": "RtbMetrics",
      "type": "object",
      "properties": {
        "filteredBidRate7Days": {
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "format": "double",
          "type": "number"
        },
        "bidRequests7Days": {
          "format": "int64",
          "type": "string",
          "description": "Bid requests in last 7 days."
        },
        "adImpressions7Days": {
          "type": "string",
          "format": "int64",
          "description": "Ad impressions in last 7 days."
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        },
        "bids7Days": {
          "type": "string",
          "description": "Bids in last 7 days.",
          "format": "int64"
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ActivateClientUserRequest": {
      "id": "ActivateClientUserRequest",
      "description": "Request message for activating a client user.",
      "properties": {},
      "type": "object"
    },
    "ProgrammaticGuaranteedTerms": {
      "type": "object",
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "id": "ProgrammaticGuaranteedTerms",
      "properties": {
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        },
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string",
          "format": "int64"
        },
        "percentShareOfVoice": {
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "type": "string",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      },
      "type": "object"
    },
    "SubscribeAuctionPackageRequest": {
      "type": "object",
      "id": "SubscribeAuctionPackageRequest",
      "description": "Request message for SubscribeAuctionPackage.",
      "properties": {}
    },
    "BatchUpdateDealsRequest": {
      "id": "BatchUpdateDealsRequest",
      "description": "Request message for batch updating deals.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "type": "array",
          "description": "Required. List of request messages to update deals."
        }
      },
      "type": "object"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "DayPartTargeting": {
      "description": "Represents Daypart targeting.",
      "type": "object",
      "properties": {
        "dayParts": {
          "description": "The targeted weekdays and times",
          "type": "array",
          "items": {
            "$ref": "DayPart"
          }
        },
        "timeZoneType": {
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "type": "string",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "description": "The time zone type of the day parts"
        }
      },
      "id": "DayPartTargeting"
    },
    "DeliveryControl": {
      "properties": {
        "frequencyCap": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "items": {
            "$ref": "FrequencyCap"
          }
        },
        "creativeRotationType": {
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "readOnly": true,
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "type": "string"
        },
        "roadblockingType": {
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the roadblocking type in display creatives."
        },
        "deliveryRateType": {
          "type": "string",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced."
        },
        "companionDeliveryType": {
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ]
        }
      },
      "type": "object",
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced."
    },
    "DealPausingInfo": {
      "type": "object",
      "id": "DealPausingInfo",
      "description": "Information related to deal pausing.",
      "properties": {
        "pauseRole": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is consented between buyer and seller for the deal."
        },
        "pauseReason": {
          "type": "string",
          "description": "The reason for the pausing of the deal; empty for active deals."
        }
      }
    },
    "Contact": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        },
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        }
      },
      "type": "object",
      "id": "Contact",
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "Client": {
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "type": "object",
      "id": "Client",
      "properties": {
        "sellerVisible": {
          "description": "Whether the client will be visible to sellers.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. The state of the client.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "type": "string"
        }
      }
    },
    "OperatingSystemTargeting": {
      "type": "object",
      "description": "Represents targeting information for operating systems.",
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating systems to be included/excluded."
        }
      },
      "id": "OperatingSystemTargeting"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "VideoTargeting": {
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string"
          },
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array"
        },
        "excludedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array"
        }
      },
      "description": "Represents targeting information about video.",
      "id": "VideoTargeting",
      "type": "object"
    },
    "DayPart": {
      "description": "Defines targeting for a period of time on a specific week day.",
      "id": "DayPart",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Day of week for the period.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object"
    },
    "FinalizedDeal": {
      "id": "FinalizedDeal",
      "type": "object",
      "properties": {
        "readyToServe": {
          "type": "boolean",
          "description": "Whether the Programmatic Guaranteed deal is ready for serving."
        },
        "rtbMetrics": {
          "$ref": "RtbMetrics",
          "description": "Real-time bidding metrics for this deal."
        },
        "dealServingStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "type": "string",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ],
          "description": "Serving status of the deal."
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "name": {
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`",
          "type": "string"
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        }
      },
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
    },
    "DeactivateClientRequest": {
      "properties": {},
      "description": "Request message for disabling a client.",
      "type": "object",
      "id": "DeactivateClientRequest"
    },
    "ListClientsResponse": {
      "type": "object",
      "description": "Response message for the list method.",
      "properties": {
        "clients": {
          "description": "The returned list of clients.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListClientsResponse"
    },
    "CriteriaTargeting": {
      "properties": {
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludedCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded."
        }
      },
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "type": "object"
    },
    "InventoryTypeTargeting": {
      "description": "Targeting of the inventory types a bid request can originate from.",
      "properties": {
        "inventoryTypes": {
          "items": {
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ]
          },
          "type": "array",
          "description": "The list of targeted inventory types for the bid request."
        }
      },
      "id": "InventoryTypeTargeting",
      "type": "object"
    },
    "TechnologyTargeting": {
      "type": "object",
      "properties": {
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "description": "Represents targeting about various types of technology.",
      "id": "TechnologyTargeting"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PublisherProfileMobileApplication": {
      "id": "PublisherProfileMobileApplication",
      "properties": {
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "appStore": {
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "type": "string",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ]
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        }
      },
      "type": "object",
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "BatchUpdateDealsResponse": {
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        }
      },
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "type": "object"
    },
    "UpdateDealRequest": {
      "description": "Request message for updating the deal at the given revision number.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        }
      },
      "id": "UpdateDealRequest"
    },
    "Note": {
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was created.",
          "format": "google-datetime"
        },
        "note": {
          "type": "string",
          "description": "The text of the note. Maximum length is 1024 characters."
        },
        "creatorRole": {
          "description": "Output only. The role who created the note.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Note"
    },
    "SetReadyToServeRequest": {
      "properties": {},
      "description": "Request message for setting ready to serve for a finalized deal.",
      "id": "SetReadyToServeRequest",
      "type": "object"
    },
    "UnsubscribeAuctionPackageRequest": {
      "id": "UnsubscribeAuctionPackageRequest",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {},
      "type": "object"
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "properties": {
        "creative": {
          "type": "string",
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
        }
      },
      "id": "AddCreativeRequest",
      "type": "object"
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "type": "object",
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation.",
      "properties": {
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported.",
          "$ref": "InventorySizeTargeting"
        },
        "note": {
          "type": "string",
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables.",
          "$ref": "CriteriaTargeting"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the proposal being created by this RFP."
        },
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "flightStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
        },
        "buyerContacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "Contact information for the buyer."
        },
        "publisherProfile": {
          "type": "string",
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`."
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ClientUser": {
      "id": "ClientUser",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "Output only. The state of the client user.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ]
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        }
      },
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "type": "object"
    },
    "UnsubscribeClientsRequest": {
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "UnsubscribeClientsRequest",
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "SubscribeClientsRequest": {
      "id": "SubscribeClientsRequest",
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for SubscribeAuctionPackageClients.",
      "type": "object"
    },
    "FrequencyCap": {
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "properties": {
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped."
        },
        "timeUnitsCount": {
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer"
        },
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FrequencyCap",
      "type": "object"
    },
    "PreferredDealTerms": {
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "description": "Pricing terms for Preferred Deals.",
      "id": "PreferredDealTerms",
      "type": "object"
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "properties": {
        "subscribedClients": {
          "readOnly": true,
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "creator": {
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the auction package was created."
        },
        "subscribedBuyers": {
          "readOnly": true,
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eligibleSeatIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display_name assigned to the auction package."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "readOnly": true
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          },
          "readOnly": true
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the auction package."
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        }
      },
      "type": "object",
      "id": "AuctionPackage"
    },
    "PublisherProfile": {
      "type": "object",
      "properties": {
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        }
      },
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "id": "PublisherProfile"
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "resources": {
    "buyers": {
      "resources": {
        "clients": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a client with a given resource name.",
              "httpMethod": "GET"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "description": "Lists all the clients for the current buyer.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListClientsResponse"
              },
              "path": "v1/{+parent}/clients"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              },
              "description": "Updates an existing client.",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`"
                }
              },
              "request": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Creates a new client.",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "path": "v1/{+parent}/clients",
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.clients.create"
            },
            "deactivate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Client"
              },
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "path": "v1/{+name}:deactivate",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "httpMethod": "POST"
            },
            "activate": {
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
                }
              },
              "path": "v1/{+name}:activate",
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate",
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state."
            }
          },
          "resources": {
            "users": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "path": "v1/{+parent}/users",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "httpMethod": "POST",
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1/{+parent}/users",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "description": "Lists all client users for a specified client.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    }
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "description": "Retrieves an existing client user."
                },
                "activate": {
                  "httpMethod": "POST",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "path": "v1/{+name}:activate",
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "deactivate": {
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:deactivate"
                },
                "delete": {
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "parameters": {
                    "name": {
                      "required": true,
[...]
