{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "resources": {
    "curators": {
      "resources": {
        "curatedPackages": {
          "methods": {
            "get": {
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.get",
              "description": "Gets a curated package given its resource name.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "activate": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Activates an existing curated package.",
              "path": "v1alpha/{+name}:activate",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.activate",
              "response": {
                "$ref": "CuratedPackage"
              },
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              }
            },
            "deactivate": {
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.deactivate",
              "description": "Deactivates an existing curated package.",
              "path": "v1alpha/{+name}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "required": true
                }
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.create",
              "description": "Creates a new curated package.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CuratedPackage"
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "path": "v1alpha/{+parent}/curatedPackages",
              "response": {
                "$ref": "CuratedPackage"
              }
            },
            "patch": {
              "request": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "CuratedPackage"
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "description": "Updates an existing curated package.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists curated packages owned by the specified curator.",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "type": "string",
                  "pattern": "^curators/[^/]+$",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.list",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "path": "v1alpha/{+parent}/curatedPackages",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "mediaPlanners": {
      "methods": {
        "list": {
          "path": "v1alpha/mediaPlanners",
          "scopes": [
            "https://www.googleapis.com/auth/authorized-buyers-marketplace"
          ],
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken."
            },
            "pageSize": {
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`",
              "location": "query"
            }
          },
          "flatPath": "v1alpha/mediaPlanners",
          "id": "authorizedbuyersmarketplace.mediaPlanners.list"
        }
      }
    },
    "buyers": {
      "resources": {
        "publisherProfiles": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "response": {
                "$ref": "PublisherProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets the requested publisher profile by name.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles",
              "path": "v1alpha/{+parent}/publisherProfiles",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "proposals": {
          "resources": {
            "deals": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path"
                    }
                  },
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "response": {
                    "$ref": "Deal"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "path": "v1alpha/{+parent}/deals:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Batch updates multiple deals in the same proposal."
                },
                "list": {
                  "path": "v1alpha/{+parent}/deals",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token as returned from ListDealsResponse.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListDealsResponse"
                  }
                },
                "patch": {
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "response": {
                    "$ref": "Deal"
                  },
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                    }
                  },
                  "request": {
                    "$ref": "Deal"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}"
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListProposalsResponse."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/proposals",
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "id": "authorizedbuyersmarketplace.buyers.proposals.list"
            },
            "addNote": {
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "httpMethod": "POST",
              "parameters": {
                "proposal": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1alpha/{+proposal}:addNote",
              "request": {
                "$ref": "AddNoteRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "accept": {
              "path": "v1alpha/{+name}:accept",
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "request": {
                "$ref": "AcceptProposalRequest"
              }
            },
            "sendRfp": {
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/proposals:sendRfp",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "path": "v1alpha/{+buyer}/proposals:sendRfp",
              "parameterOrder": [
                "buyer"
              ],
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "httpMethod": "POST",
              "parameters": {
                "buyer": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp"
            },
            "cancelNegotiation": {
              "parameterOrder": [
                "proposal"
              ],
              "path": "v1alpha/{+proposal}:cancelNegotiation",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "response": {
                "$ref": "Proposal"
              },
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "httpMethod": "POST",
              "parameters": {
                "proposal": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation"
            },
            "patch": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "request": {
                "$ref": "Proposal"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "required": true
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "setReadyToServe": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "path": "v1alpha/{+deal}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "parameterOrder": [
                "deal"
              ]
            },
            "resume": {
              "path": "v1alpha/{+name}:resume",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals."
            },
            "pause": {
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:pause",
              "parameterOrder": [
                "name"
              ],
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause"
            },
            "addCreative": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha/{+deal}:addCreative",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameterOrder": [
                "deal"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/finalizedDeals",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list"
            },
            "get": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "description": "Gets a finalized deal given its name.",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "clients": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "description": "Lists all the clients for the current buyer.",
              "path": "v1alpha/{+parent}/clients"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "path": "v1alpha/{+name}",
              "description": "Updates an existing client.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}"
            },
            "create": {
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Creates a new client.",
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/clients",
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`"
                }
              },
              "description": "Gets a client with a given resource name.",
              "parameterOrder": [
                "name"
              ]
            },
            "activate": {
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Client"
              },
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:activate",
              "path": "v1alpha/{+name}:activate"
            },
            "deactivate": {
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}:deactivate"
            }
          },
          "resources": {
            "users": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1alpha/{+parent}/users",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "description": "Lists all client users for a specified client.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1alpha/{+parent}/users",
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active."
                },
                "deactivate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:deactivate",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate"
                },
                "activate": {
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "path": "v1alpha/{+name}:activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "description": "Retrieves an existing client user.",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get"
                }
              }
            }
          }
        },
        "dataSegments": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource where this data segment will be created. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "DataSegment"
              },
              "request": {
                "$ref": "DataSegment"
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.create",
              "path": "v1alpha/{+parent}/dataSegments",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "activate": {
              "response": {
                "$ref": "DataSegment"
              },
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.activate",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:activate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "description": "Required. Name of data segment to activate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Activates a data segment.",
              "path": "v1alpha/{+name}:activate"
            },
            "deactivate": {
              "path": "v1alpha/{+name}:deactivate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "description": "Required. Name of data segment to deactivate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Deactivates a data segment.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:deactivate",
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.deactivate"
            },
            "patch": {
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.patch",
              "response": {
                "$ref": "DataSegment"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "request": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              },
              "description": "Updates a data segment.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "list": {
              "description": "List the data segments owned by a curator.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/dataSegments",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. Name of the parent curator that can access the data segment. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "location": "query"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "response": {
                "$ref": "ListDataSegmentsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.get",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a data segment given its name.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "description": "Required. Name of data segment to get. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "DataSegment"
              },
              "path": "v1alpha/{+name}"
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "subscribeClients": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "path": "v1alpha/{+auctionPackage}:subscribeClients",
              "httpMethod": "POST",
              "parameters": {
                "auctionPackage": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`"
                }
              },
              "parameterOrder": [
                "auctionPackage"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets an auction package given its name.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages",
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "path": "v1alpha/{+parent}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list"
            },
            "subscribe": {
              "path": "v1alpha/{+name}:subscribe",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "parameterOrder": [
                "name"
              ]
            },
            "unsubscribeClients": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "parameterOrder": [
                "auctionPackage"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+auctionPackage}:unsubscribeClients",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "httpMethod": "POST",
              "parameters": {
                "auctionPackage": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "required": true
                }
              }
            },
            "unsubscribe": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              },
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "path": "v1alpha/{+name}:unsubscribe",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "setReadyToServe": {
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "parameterOrder": [
                "deal"
              ],
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "required": true,
                  "type": "string",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "path": "v1alpha/{+deal}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "pattern": "^bidders/[^/]+$"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "path": "v1alpha/{+parent}/finalizedDeals",
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals",
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              }
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1alpha/{+parent}/auctionPackages",
              "flatPath": "v1alpha/bidders/{biddersId}/auctionPackages",
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime"
                },
                "pageToken": {
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500."
                }
              },
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Authorized Buyers Marketplace",
  "title": "Authorized Buyers Marketplace API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "authorizedbuyersmarketplace",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "version_module": true,
  "protocol": "rest",
  "ownerName": "Google",
  "schemas": {
    "CreativeRequirements": {
      "type": "object",
      "description": "Message captures data about the creatives in the deal.",
      "properties": {
        "creativeFormat": {
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "type": "string",
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "readOnly": true
        },
        "skippableAdType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "readOnly": true,
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives."
        },
        "programmaticCreativeSource": {
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ]
        },
        "creativeSafeFrameCompatibility": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "readOnly": true
        },
        "maxAdDurationMs": {
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ]
        }
      },
      "id": "CreativeRequirements"
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay"
    },
    "UriTargeting": {
      "type": "object",
      "id": "UriTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "properties": {
        "targetedUris": {
          "type": "array",
          "description": "A list of URLs to be included.",
          "items": {
            "type": "string"
          }
        },
        "excludedUris": {
          "description": "A list of URLs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListDataSegmentsResponse": {
      "description": "Response message for listing data segments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results."
        },
        "dataSegments": {
          "items": {
            "$ref": "DataSegment"
          },
          "description": "The list of data segments.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListDataSegmentsResponse"
    },
    "PublisherProfile": {
      "type": "object",
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "properties": {
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        },
        "publisherCode": {
          "type": "string",
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "pitchStatement": {
          "type": "string",
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "type": "array"
        }
      },
      "id": "PublisherProfile"
    },
[...]
