{
  "discoveryVersion": "v1",
  "servicePath": "",
  "canonicalName": "Authorized Buyers Marketplace",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "title": "Authorized Buyers Marketplace API",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "ownerDomain": "google.com",
  "version_module": true,
  "schemas": {
    "Price": {
      "id": "Price",
      "description": "Represents a price and a pricing type for a deal.",
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "description": "The pricing type for the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ]
        }
      }
    },
    "SendRfpRequest": {
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation.",
      "properties": {
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "publisherProfile": {
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "flightStartTime": {
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
        },
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the proposal being created by this RFP.",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`."
        },
        "buyerContacts": {
          "type": "array",
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "Contact"
          }
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables."
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        }
      },
      "type": "object",
      "id": "SendRfpRequest"
    },
    "VideoPlcmtTargeting": {
      "description": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field.",
      "type": "object",
      "properties": {
        "selectionType": {
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "type": "string",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "description": "Required. The selection type for the list of video plcmts."
        },
        "videoPlcmtTypes": {
          "type": "array",
          "description": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type.",
          "items": {
            "type": "string",
            "enum": [
              "VIDEO_PLCMT_TYPE_UNSPECIFIED",
              "INSTREAM",
              "ACCOMPANYING_CONTENT",
              "INTERSTITIAL",
              "NO_CONTENT"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during or after the streaming video content that the consumer has requested. Instream video must be set to “sound on” by default at player start, or have explicitly clear user intent to watch the video content. While there may be other content surrounding the player, the video content must be the focus of the user’s visit. It should remain the primary content on the page and the only video player in-view capable of audio when playing. If the player converts to floating/sticky, subsequent ad calls should accurately convey the updated player size.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during, or after streaming video content. The video player loads and plays before, between, or after paragraphs of text or graphical content, and starts playing only when it enters the viewport. Accompanying content should only start playback upon entering the viewport. It may convert to a floating/sticky player as it scrolls off the page.",
              "Video ads that are played without video content. During playback, it must be the primary focus of the page and take up the majority of the viewport and cannot be scrolled out of view. This can be in placements like in-app video or slideshows.",
              "Video ads that are played without streaming video content. This can be in placements like slideshows, native feeds, in-content or sticky/floating."
            ]
          }
        }
      },
      "id": "VideoPlcmtTargeting"
    },
    "PrivateAuctionTerms": {
      "description": "Pricing terms for Private Auctions.",
      "type": "object",
      "id": "PrivateAuctionTerms",
      "properties": {
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        },
        "openAuctionAllowed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        }
      }
    },
    "DeactivateDataSegmentRequest": {
      "description": "Request message for deactivating a data segment",
      "type": "object",
      "id": "DeactivateDataSegmentRequest",
      "properties": {}
    },
    "PrivateData": {
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "id": "PrivateData",
      "type": "object"
    },
    "FirstPartyMobileApplicationTargeting": {
      "properties": {
        "targetedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be included."
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object"
    },
    "Note": {
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "properties": {
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "creatorRole": {
          "type": "string",
          "description": "Output only. The role who created the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "note": {
          "type": "string",
          "description": "The text of the note. Maximum length is 1024 characters."
        }
      },
      "type": "object",
      "id": "Note"
    },
    "ClientUser": {
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "id": "ClientUser",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "description": "Output only. The state of the client user.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "readOnly": true
        }
      }
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed.",
      "properties": {
        "audienceTargeting": {
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)",
          "$ref": "TaxonomyTargeting"
        },
        "contentTargeting": {
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)",
          "$ref": "TaxonomyTargeting"
        },
        "videoAndAudioSignalsTargeting": {
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals.",
          "$ref": "StringTargetingDimension"
        }
      },
      "type": "object",
      "id": "PackagePublisherProvidedSignalsTargeting"
    },
    "PackageTargeting": {
      "id": "PackageTargeting",
      "type": "object",
      "description": "Targeting criteria for curated and auction packages.",
      "properties": {
        "includedDeviceTypes": {
          "description": "Optional. The list of included device types to target. If empty, all device types are targeted.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets desktop or laptop computers.",
              "Targets connected TVs: devices that stream TV content, including smart TVs, gaming consoles, and streaming boxes/sticks.",
              "Targets high-end mobile devices.",
              "Targets tablet devices."
            ],
            "type": "string",
            "enum": [
              "DEVICE_TYPE_UNSPECIFIED",
              "DEVICE_TYPE_PERSONAL_COMPUTER",
              "DEVICE_TYPE_CONNECTED_TV",
              "DEVICE_TYPE_PHONE",
              "DEVICE_TYPE_TABLET"
            ]
          }
        },
        "languageTargeting": {
          "description": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes.",
          "$ref": "StringTargetingDimension"
        },
        "placementTargeting": {
          "$ref": "PackagePlacementTargeting",
          "description": "Optional. Placement targeting information, for example, URL, mobile applications."
        },
        "minimumPredictedClickThroughRatePercentageMillis": {
          "format": "int64",
          "description": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate.",
          "type": "string"
        },
        "videoTargeting": {
          "description": "Optional. Video specific targeting criteria.",
          "$ref": "PackageVideoTargeting"
        },
        "minimumPredictedViewabilityPercentage": {
          "format": "int64",
          "description": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability.",
          "type": "string"
        },
        "includedRewardedType": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory that does NOT offer an explicit reward to the user for watching or interacting with the ad.",
            "Targets inventory that offers a reward to the user in exchange for watching or engaging with the ad."
          ],
          "description": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type.",
          "type": "string",
          "enum": [
            "REWARDED_TYPE_UNSPECIFIED",
            "REWARDED_TYPE_NON_REWARDED",
            "REWARDED_TYPE_REWARDED"
          ]
        },
        "includedEnvironment": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory rendered within an ad-supported website.",
            "Targets inventory within a mobile application."
          ],
          "description": "Optional. The environment to target. If unspecified, all environments are targeted.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_SITE",
            "ENVIRONMENT_APP"
          ]
        },
        "includedNativeInventoryTypes": {
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ],
            "type": "string",
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ]
          },
          "type": "array",
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type."
        },
        "verticalTargeting": {
          "description": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical.",
          "$ref": "CriteriaTargeting"
        },
        "includedAuthorizedSellerStatuses": {
          "type": "array",
          "description": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status.",
          "items": {
            "type": "string",
            "enum": [
              "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
              "AUTHORIZED_SELLER_STATUS_DIRECT",
              "AUTHORIZED_SELLER_STATUS_RESELLER"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where the seller is declared as 'DIRECT'. This indicates the publisher (content owner) directly controls the seller account and has a direct business contract with the advertising system for this account.",
              "Targets inventory where the seller is declared as 'RESELLER'. This indicates the publisher has authorized another entity to operate the listed seller account and resell their ad space."
            ]
          }
        },
        "includedRestrictedCategories": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where alcohol ads are allowed by the publisher.",
              "Targets inventory where gambling ads are allowed by the publisher."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "RESTRICTED_CATEGORY_ALCOHOL",
              "RESTRICTED_CATEGORY_GAMBLING"
            ]
          },
          "description": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories."
        },
        "includedDataSegments": {
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includedOpenMeasurementTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory that supports the v1 Open Measurement Interface Definition (OMID)."
            ],
            "type": "string",
            "enum": [
              "OPEN_MEASUREMENT_TYPE_UNSPECIFIED",
              "OPEN_MEASUREMENT_TYPE_OMID_V1"
            ]
          },
          "description": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support."
        },
        "publisherTargeting": {
          "description": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details.",
          "$ref": "StringTargetingDimension"
        },
        "includedAcceleratedMobilePageType": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory on standard web pages not using any AMP framework.",
            "Targets inventory on pages built using the core AMP HTML framework.",
            "Targets inventory on pages using the AMP Story (STAMP) format, which is optimized for visual storytelling (e.g., tappable full-screen experiences)."
          ],
          "type": "string",
          "enum": [
            "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED",
            "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          ],
          "description": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status."
        },
        "includedCreativeFormat": {
          "type": "string",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "CREATIVE_FORMAT_DISPLAY",
            "CREATIVE_FORMAT_VIDEO",
            "CREATIVE_FORMAT_AUDIO"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets ad slots intended for HTML display creatives.",
            "Targets ad slots intended for video creatives.",
            "Targets ad slots intended for audio creatives."
          ],
          "description": "Optional. The creative format to target. If unset, all creative markup types are targeted."
        },
        "includedAdSizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes.",
          "type": "array"
        },
        "geoTargeting": {
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo.",
          "$ref": "CriteriaTargeting"
        },
        "publisherProvidedSignalsTargeting": {
          "$ref": "PackagePublisherProvidedSignalsTargeting",
          "description": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals."
        }
      }
    },
    "AccessControlSettings": {
      "properties": {
        "allowlistedMediaPlanners": {
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AccessControlSettings",
      "type": "object",
      "description": "Settings for controlling access to a curated package."
    },
    "PackagePlacementTargeting": {
      "id": "PackagePlacementTargeting",
      "properties": {
        "uriTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url."
        },
        "mobileAppTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
        },
        "includedMobileAppCategoryTargeting": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of targeted mobile app categories."
        }
      },
      "type": "object",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "PackageVideoTargeting": {
      "id": "PackageVideoTargeting",
      "properties": {
        "includedContentDeliveryMethod": {
          "type": "string",
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ],
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method."
        },
        "includedMaximumAdDurationTargeting": {
          "type": "string",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ],
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ]
        },
        "includedMimeTypes": {
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type.",
          "items": {
            "type": "string",
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ]
          },
          "type": "array"
        },
        "includedPlaybackMethods": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ],
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ]
          },
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method."
        },
        "minimumPredictedCompletionRatePercentage": {
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate.",
          "format": "int64",
          "type": "string"
        },
        "includedPositionTypes": {
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ]
          },
          "type": "array"
        },
        "includedPlayerSizeTargeting": {
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size.",
          "$ref": "VideoPlayerSizeTargeting"
        },
        "plcmtTargeting": {
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type.",
          "$ref": "VideoPlcmtTargeting"
        }
      },
      "type": "object",
      "description": "Video specific targeting criteria."
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "TimeZone"
    },
    "MarketplaceTargeting": {
      "properties": {
        "daypartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Daypart targeting information."
        },
        "userListTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader."
        },
        "verticalTargeting": {
          "readOnly": true,
          "$ref": "CriteriaTargeting",
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals"
        },
        "geoTargeting": {
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "readOnly": true,
          "$ref": "CriteriaTargeting"
        },
        "excludedSensitiveCategoryIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs."
        },
        "videoTargeting": {
          "description": "Output only. Video targeting information.",
          "$ref": "VideoTargeting",
          "readOnly": true
        },
        "placementTargeting": {
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "technologyTargeting": {
          "readOnly": true,
          "$ref": "TechnologyTargeting",
          "description": "Output only. Technology targeting information, for example, operating system, device category."
        },
        "inventorySizeTargeting": {
          "readOnly": true,
          "description": "Output only. Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting"
        },
        "inventoryTypeTargeting": {
          "description": "Output only. Inventory type targeting information.",
          "readOnly": true,
          "$ref": "InventoryTypeTargeting"
        }
      },
      "type": "object",
      "id": "MarketplaceTargeting",
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
    },
    "FinalizedDeal": {
      "type": "object",
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more.",
      "id": "FinalizedDeal",
      "properties": {
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "dealServingStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "description": "Serving status of the deal.",
          "type": "string",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ]
        },
        "readyToServe": {
          "description": "Whether the Programmatic Guaranteed deal is ready for serving.",
          "type": "boolean"
        },
        "rtbMetrics": {
          "$ref": "RtbMetrics",
          "description": "Real-time bidding metrics for this deal."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
        },
        "deal": {
          "$ref": "Deal",
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated."
        }
      }
    },
    "FrequencyCap": {
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "id": "FrequencyCap",
      "type": "object",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of impressions that can be served to a user within the specified time period."
        },
        "timeUnitsCount": {
          "type": "integer",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32"
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "type": "string",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped."
        }
      }
    },
    "DealPausingInfo": {
      "description": "Information related to deal pausing.",
      "properties": {
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        },
        "pauseRole": {
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "The party that first paused the deal; unspecified for active deals."
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is consented between buyer and seller for the deal."
        }
      },
      "type": "object",
      "id": "DealPausingInfo"
    },
    "BatchUpdateDealsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "type": "array",
          "description": "Required. List of request messages to update deals."
        }
      },
      "id": "BatchUpdateDealsRequest",
      "type": "object",
      "description": "Request message for batch updating deals."
    },
    "Deal": {
      "type": "object",
      "id": "Deal",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "properties": {
        "buyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`"
        },
        "eligibleSeatIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace."
        },
        "name": {
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of the deal creation."
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "creativeRequirements": {
          "description": "Output only. Metadata about the creatives of this deal.",
          "$ref": "CreativeRequirements",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "type": "string"
        },
        "sellerTimeZone": {
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "$ref": "TimeZone",
          "readOnly": true
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the deal was last updated."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Free text description for the deal terms.",
          "type": "string"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "readOnly": true,
          "description": "Output only. Specifies the pacing set by the publisher."
        },
        "dealType": {
          "type": "string",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "description": "Output only. Type of deal.",
          "readOnly": true
        },
        "proposalRevision": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "flightStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true,
          "type": "string"
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "flightEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals."
        },
        "buyerPermissionType": {
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The buyer permission type of the deal."
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "mediaPlanner": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser).",
          "readOnly": true,
          "$ref": "MediaPlanner"
        },
        "privateAuctionTerms": {
          "$ref": "PrivateAuctionTerms",
          "description": "The terms for private auction deals."
        }
      }
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "type": "object",
      "description": "Represents targeting information about video.",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array"
        },
        "excludedPositionTypes": {
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "type": "array",
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
        }
      }
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "type": "object",
      "properties": {
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "type": "array",
          "description": "Deals updated."
        }
      },
      "id": "BatchUpdateDealsResponse"
    },
    "TechnologyTargeting": {
      "description": "Represents targeting about various types of technology.",
      "properties": {
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        },
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "type": "object",
      "id": "TechnologyTargeting"
    },
    "ListCuratedPackagesResponse": {
      "type": "object",
      "description": "Response message for ListCuratedPackages.",
      "id": "ListCuratedPackagesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results."
        },
        "curatedPackages": {
          "items": {
            "$ref": "CuratedPackage"
          },
          "description": "The list of curated packages.",
          "type": "array"
        }
      }
    },
    "DeactivateCuratedPackageRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for DeactivateCuratedPackage.",
      "id": "DeactivateCuratedPackageRequest"
    },
    "ListFinalizedDealsResponse": {
      "description": "Response message for listing finalized deals.",
      "id": "ListFinalizedDealsResponse",
      "properties": {
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "type": "object"
    },
    "PreferredDealTerms": {
      "description": "Pricing terms for Preferred Deals.",
      "id": "PreferredDealTerms",
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "MediaPlanner": {
      "id": "MediaPlanner",
      "description": "Represents a media planner account.",
      "properties": {
        "accountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Account ID of the media planner.",
          "deprecated": true
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "ancestorNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "array",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListProposalsResponse": {
      "description": "Response message for listing proposals.",
      "type": "object",
      "id": "ListProposalsResponse",
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "AuctionPackage": {
      "properties": {
        "eligibleSeatIds": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
        },
        "updateTime": {
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of the auction package."
        },
        "floorPriceCpm": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "type": "string",
          "readOnly": true
        },
        "subscribedBuyers": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "type": "array"
        },
        "subscribedMediaPlanners": {
          "readOnly": true,
          "items": {
            "$ref": "MediaPlanner"
          },
          "type": "array",
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the auction package was created."
        },
        "subscribedClients": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "items": {
            "type": "string"
          }
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "type": "string"
        }
      },
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "id": "AuctionPackage",
      "type": "object"
    },
    "ListAuctionPackagesResponse": {
      "id": "ListAuctionPackagesResponse",
      "properties": {
        "auctionPackages": {
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          },
          "description": "The list of auction packages."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for listing auction packages."
    },
    "ActivateDataSegmentRequest": {
      "description": "Request message for activating a data segment",
      "properties": {},
      "type": "object",
      "id": "ActivateDataSegmentRequest"
    },
    "InventoryTypeTargeting": {
      "type": "object",
      "properties": {
        "inventoryTypes": {
          "description": "The list of targeted inventory types for the bid request.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ],
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ]
          }
        }
      },
      "id": "InventoryTypeTargeting",
      "description": "Targeting of the inventory types a bid request can originate from."
    },
    "Client": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the client.",
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ]
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "type": "string",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
          "readOnly": true
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        },
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Client",
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
    },
    "ListClientUsersResponse": {
      "type": "object",
      "description": "Response message for the list method.",
      "id": "ListClientUsersResponse",
      "properties": {
        "clientUsers": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        }
      }
    },
    "UpdateDealRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        }
      },
      "id": "UpdateDealRequest",
      "description": "Request message for updating the deal at the given revision number."
    },
    "ActivateClientUserRequest": {
      "id": "ActivateClientUserRequest",
      "type": "object",
      "description": "Request message for activating a client user.",
      "properties": {}
    },
    "ListMediaPlannersResponse": {
      "description": "A response containing media planner account information.",
      "type": "object",
      "id": "ListMediaPlannersResponse",
      "properties": {
        "mediaPlanners": {
          "description": "List of media planners.",
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListMediaPlanners` method to retrieve the next page of results in ListMediaPlannersRequest.pageToken."
        }
      }
    },
    "StringTargetingDimension": {
      "properties": {
        "selectionType": {
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "description": "Required. How the items in this list should be targeted.",
          "type": "string",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ]
        },
        "values": {
          "description": "Required. The values specified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Generic targeting with string values.",
      "id": "StringTargetingDimension"
    },
    "RtbMetrics": {
      "type": "object",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "id": "RtbMetrics",
      "properties": {
        "bidRequests7Days": {
          "type": "string",
          "description": "Bid requests in last 7 days.",
          "format": "int64"
        },
        "filteredBidRate7Days": {
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "type": "number",
          "format": "double"
        },
        "bidRate7Days": {
          "type": "number",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "format": "double"
        },
        "bids7Days": {
          "type": "string",
          "description": "Bids in last 7 days.",
          "format": "int64"
        },
        "adImpressions7Days": {
          "format": "int64",
          "description": "Ad impressions in last 7 days.",
          "type": "string"
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        }
      }
    },
    "PublisherProfileMobileApplication": {
      "id": "PublisherProfileMobileApplication",
      "properties": {
        "appStore": {
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "type": "string",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ]
        },
        "externalAppId": {
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "type": "object"
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "description": "The last known client revision number of the proposal.",
          "type": "string"
        }
      },
      "id": "AcceptProposalRequest",
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "type": "object"
    },
    "TaxonomyTargeting": {
      "id": "TaxonomyTargeting",
      "properties": {
        "targetedTaxonomyIds": {
          "description": "Optional. The list of targeted content taxonomy IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedTaxonomyIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of excluded content taxonomy IDs.",
          "type": "array"
        }
      },
      "description": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space.",
      "type": "object"
    },
    "DayPart": {
      "description": "Defines targeting for a period of time on a specific week day.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        }
      },
      "id": "DayPart"
    },
    "InventorySizeTargeting": {
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "type": "object",
      "properties": {
        "excludedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded."
        },
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be included."
        }
      },
      "id": "InventorySizeTargeting"
    },
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "type": "object",
      "description": "Response message for listing deals in a proposal.",
      "properties": {
        "deals": {
          "description": "The list of deals.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      }
    },
    "ResumeFinalizedDealRequest": {
      "type": "object",
      "description": "Request message for resuming a finalized deal.",
      "id": "ResumeFinalizedDealRequest",
      "properties": {}
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Contact": {
      "type": "object",
      "id": "Contact",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        },
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        }
      },
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "type": "object",
      "properties": {
        "mobileApplicationTargeting": {
          "$ref": "MobileApplicationTargeting",
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
        },
        "uriTargeting": {
          "$ref": "UriTargeting",
          "description": "URLs to be included/excluded."
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "UnsubscribeAuctionPackageRequest": {
      "properties": {},
      "id": "UnsubscribeAuctionPackageRequest",
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "AddNoteRequest": {
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "type": "object",
      "id": "AddNoteRequest",
      "description": "Request to add a note."
    },
    "SubscribeAuctionPackageRequest": {
      "id": "SubscribeAuctionPackageRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for SubscribeAuctionPackage."
    },
    "CreativeRequirements": {
      "properties": {
        "creativeFormat": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ]
        },
        "programmaticCreativeSource": {
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ]
        },
        "creativeSafeFrameCompatibility": {
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ]
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "readOnly": true,
          "type": "string"
        },
        "maxAdDurationMs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "format": "int64"
        },
        "creativePreApprovalPolicy": {
          "type": "string",
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Message captures data about the creatives in the deal.",
      "id": "CreativeRequirements"
    },
    "CuratedPackage": {
      "description": "Represents a curated package of inventory created and managed by a Curator.",
      "type": "object",
      "properties": {
        "feeCpm": {
          "description": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method.",
          "$ref": "Money"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string"
        },
        "accessSettings": {
          "description": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource.",
          "$ref": "AccessControlSettings"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "description": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method."
        },
        "curationFeeVisibility": {
          "description": "Optional. Immutable. The visibility of the combined curation package fee and data segment fees (the total curation fee).",
          "type": "string",
          "enum": [
            "CURATION_FEE_VISIBILITY_UNSPECIFIED",
            "DISCLOSED",
            "NON_DISCLOSED"
          ],
          "enumDescriptions": [
            "The total curation fee visibility is unspecified.",
            "The total curation fee is visible to all buyers. This is the default value if not set.",
            "The total curation fee is not visible to all buyers."
          ]
        },
        "millipercentOfMediaFee": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000."
        },
        "description": {
          "description": "Optional. A description of the curated package, provided by the curator.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The curated package is active.",
            "The curated package is inactive."
          ],
          "description": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string",
          "format": "google-datetime"
        },
        "targeting": {
          "description": "Optional. Targeting criteria for the curated package.",
          "$ref": "PackageTargeting"
        }
      },
      "id": "CuratedPackage"
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "type": "object",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation."
    },
    "UnsubscribeClientsRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object",
      "id": "UnsubscribeClientsRequest",
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProgrammaticGuaranteedTerms": {
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "properties": {
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "format": "int64",
          "type": "string"
        },
        "percentShareOfVoice": {
          "type": "string",
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "format": "int64",
          "type": "string"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "impressionCap": {
          "format": "int64",
          "type": "string",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        },
        "reservationType": {
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        }
      },
      "id": "ProgrammaticGuaranteedTerms",
      "type": "object"
    },
    "VideoPlayerSizeTargeting": {
      "id": "VideoPlayerSizeTargeting",
      "properties": {
        "minimumWidth": {
          "format": "int64",
          "type": "string",
          "description": "Required. The minimum width of the video player in pixels."
        },
        "minimumHeight": {
          "description": "Required. The minimum height of the video player in pixels.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values.",
      "type": "object"
    },
    "DeactivateClientRequest": {
      "type": "object",
      "properties": {},
      "id": "DeactivateClientRequest",
      "description": "Request message for disabling a client."
    },
    "ListClientsResponse": {
      "description": "Response message for the list method.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListClientsResponse"
    },
    "ActivateCuratedPackageRequest": {
      "properties": {},
      "id": "ActivateCuratedPackageRequest",
      "type": "object",
      "description": "Request message for ActivateCuratedPackage."
    },
    "MobileApplicationTargeting": {
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      },
      "id": "MobileApplicationTargeting",
      "description": "Mobile application targeting settings."
    },
    "ListDataSegmentsResponse": {
      "type": "object",
      "description": "Response message for listing data segments.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results.",
          "type": "string"
        },
        "dataSegments": {
          "description": "The list of data segments.",
          "items": {
            "$ref": "DataSegment"
          },
          "type": "array"
        }
      },
      "id": "ListDataSegmentsResponse"
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "description": "Represents Daypart targeting.",
      "properties": {
        "timeZoneType": {
          "type": "string",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "description": "The time zone type of the day parts"
        },
        "dayParts": {
          "items": {
            "$ref": "DayPart"
          },
          "type": "array",
          "description": "The targeted weekdays and times"
        }
      },
      "type": "object"
    },
    "PauseFinalizedDealRequest": {
      "id": "PauseFinalizedDealRequest",
      "description": "Request message for pausing a finalized deal.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "OperatingSystemTargeting": {
      "type": "object",
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemVersionCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating system versions to be included/excluded."
        }
      },
      "description": "Represents targeting information for operating systems."
    },
    "ActivateClientRequest": {
      "type": "object",
      "description": "Request message for activating a client.",
      "properties": {},
      "id": "ActivateClientRequest"
    },
    "CriteriaTargeting": {
      "properties": {
        "targetedCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "A list of numeric IDs to be included."
        },
        "excludedCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
    },
    "PublisherProfile": {
      "properties": {
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        },
        "publisherCode": {
          "type": "string",
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "topHeadlines": {
          "type": "array",
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "mobileApps": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
        }
      },
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "type": "object",
      "id": "PublisherProfile"
    },
    "UriTargeting": {
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "type": "object",
      "properties": {
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        }
      },
      "id": "UriTargeting"
    },
    "AdSize": {
      "type": "object",
      "id": "AdSize",
      "properties": {
        "height": {
          "type": "string",
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "width": {
          "format": "int64",
          "type": "string",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        }
      },
      "description": "Represents size of a single ad slot, or a creative."
    },
    "Empty": {
[...]
