{
  "ownerDomain": "google.com",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260917",
  "name": "authorizedbuyersmarketplace",
  "version": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "protocol": "rest",
  "title": "Authorized Buyers Marketplace API",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "id": "authorizedbuyersmarketplace:v1",
  "version_module": true,
  "schemas": {
    "ActivateClientRequest": {
      "description": "Request message for activating a client.",
      "id": "ActivateClientRequest",
      "type": "object",
      "properties": {}
    },
    "AdSize": {
      "properties": {
        "width": {
          "format": "int64",
          "type": "string",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "height": {
          "type": "string",
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        }
      },
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "type": "object"
    },
    "PreferredDealTerms": {
      "description": "Pricing terms for Preferred Deals.",
      "id": "PreferredDealTerms",
      "type": "object",
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      }
    },
    "ListDealsResponse": {
      "type": "object",
      "id": "ListDealsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "The list of deals.",
          "type": "array"
        }
      },
      "description": "Response message for listing deals in a proposal."
    },
    "DeliveryControl": {
      "properties": {
        "creativeRotationType": {
          "type": "string",
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "readOnly": true,
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ]
        },
        "deliveryRateType": {
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "type": "string",
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "roadblockingType": {
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "readOnly": true,
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ]
        },
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ]
        },
        "frequencyCap": {
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "readOnly": true,
          "items": {
            "$ref": "FrequencyCap"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced."
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "type": "object",
      "properties": {
        "proposals": {
          "type": "array",
          "description": "The list of proposals.",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for listing proposals."
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AcceptProposalRequest",
      "type": "object",
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any."
    },
    "BatchUpdateDealsResponse": {
      "id": "BatchUpdateDealsResponse",
      "description": "Response message for batch updating deals.",
      "properties": {
        "deals": {
          "type": "array",
          "description": "Deals updated.",
          "items": {
            "$ref": "Deal"
          }
        }
      },
      "type": "object"
    },
    "ListPublisherProfilesResponse": {
      "description": "Response message for profiles visible to the buyer.",
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "publisherProfiles": {
          "type": "array",
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DayPartTargeting": {
      "type": "object",
      "description": "Represents Daypart targeting.",
      "id": "DayPartTargeting",
      "properties": {
        "timeZoneType": {
          "description": "The time zone type of the day parts",
          "type": "string",
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ]
        },
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        }
      }
    },
    "Deal": {
      "id": "Deal",
      "properties": {
        "dealType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "description": "Output only. Type of deal.",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        },
        "sellerTimeZone": {
          "$ref": "TimeZone",
          "readOnly": true,
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time of the deal creation.",
          "readOnly": true
        },
        "flightEndTime": {
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "format": "google-datetime",
          "type": "string"
        },
        "proposalRevision": {
          "format": "int64",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "readOnly": true
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "mediaPlanner": {
          "$ref": "MediaPlanner",
          "readOnly": true,
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "eligibleSeatIds": {
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "buyerPermissionType": {
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "description": "Output only. The buyer permission type of the deal."
        },
        "flightStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "creativeRequirements": {
          "readOnly": true,
          "$ref": "CreativeRequirements",
          "description": "Output only. Metadata about the creatives of this deal."
        },
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "client": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "description": {
          "description": "Output only. Free text description for the deal terms.",
          "type": "string",
          "readOnly": true
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "updateTime": {
          "description": "Output only. The time when the deal was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "billedBuyer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`"
        },
        "deliveryControl": {
          "description": "Output only. Specifies the pacing set by the publisher.",
          "readOnly": true,
          "$ref": "DeliveryControl"
        },
        "buyer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`"
        }
      },
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "type": "object"
    },
    "MediaPlanner": {
      "type": "object",
      "description": "Represents a media planner account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "ancestorNames": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "accountId": {
          "type": "string",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Account ID of the media planner."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method."
        }
      },
      "id": "MediaPlanner"
    },
    "ListClientsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients.",
          "type": "array"
        }
      },
      "id": "ListClientsResponse",
      "description": "Response message for the list method."
    },
    "DeactivateClientRequest": {
      "description": "Request message for disabling a client.",
      "id": "DeactivateClientRequest",
      "properties": {},
      "type": "object"
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "properties": {
        "targetedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included.",
          "type": "array"
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object"
    },
    "ProgrammaticGuaranteedTerms": {
      "id": "ProgrammaticGuaranteedTerms",
      "type": "object",
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "properties": {
        "minimumDailyLooks": {
          "type": "string",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "format": "int64"
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "type": "string"
        },
        "guaranteedLooks": {
          "type": "string",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "format": "int64"
        },
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "format": "int64",
          "type": "string"
        },
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListFinalizedDealsResponse": {
      "type": "object",
      "id": "ListFinalizedDealsResponse",
      "properties": {
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing finalized deals."
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "id": "AuctionPackage",
      "properties": {
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "dealOwnerSeatId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
        },
        "subscribedMediaPlanners": {
          "type": "array",
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "readOnly": true,
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "eligibleSeatIds": {
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the auction package was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "subscribedBuyers": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
        },
        "floorPriceCpm": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        },
        "creator": {
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "subscribedClients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeactivateClientUserRequest": {
      "id": "DeactivateClientUserRequest",
      "type": "object",
      "description": "Request message for deactivating a client user.",
      "properties": {}
    },
    "Client": {
      "id": "Client",
      "properties": {
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "state": {
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the client."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "type": "string",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ]
        },
        "sellerVisible": {
          "description": "Whether the client will be visible to sellers.",
          "type": "boolean"
        }
      },
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "type": "object"
    },
    "Note": {
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "id": "Note",
      "type": "object",
      "properties": {
        "creatorRole": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role who created the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "note": {
          "type": "string",
          "description": "The text of the note. Maximum length is 1024 characters."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When this note was created."
        }
      }
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology.",
      "type": "object",
      "properties": {
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      }
    },
    "ListClientUsersResponse": {
      "description": "Response message for the list method.",
      "type": "object",
      "properties": {
        "clientUsers": {
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        }
      },
      "id": "ListClientUsersResponse"
    },
    "Proposal": {
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "type": "object",
      "id": "Proposal",
      "properties": {
        "termsAndConditions": {
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "description": "Output only. Indicates the state of the proposal.",
          "type": "string"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "notes": {
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "lastUpdaterOrCommentorRole": {
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "isRenegotiating": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated."
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "proposalRevision": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the proposal was last revised.",
          "type": "string",
          "readOnly": true
        },
        "originatorRole": {
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "dealType": {
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "readOnly": true,
          "description": "Output only. Type of deal the proposal contains.",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "type": "string"
        },
        "client": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "sellerContacts": {
          "readOnly": true,
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "Output only. Contact information for the seller."
        }
      }
    },
    "PauseFinalizedDealRequest": {
      "id": "PauseFinalizedDealRequest",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "description": "Request message for pausing a finalized deal.",
      "type": "object"
    },
    "SubscribeClientsRequest": {
      "description": "Request message for SubscribeAuctionPackageClients.",
      "id": "SubscribeClientsRequest",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already."
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "DayPart": {
      "id": "DayPart",
      "type": "object",
      "description": "Defines targeting for a period of time on a specific week day.",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Day of week for the period.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        }
      }
    },
    "UnsubscribeClientsRequest": {
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UnsubscribeClientsRequest",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object"
    },
    "OperatingSystemTargeting": {
      "description": "Represents targeting information for operating systems.",
      "type": "object",
      "properties": {
        "operatingSystemCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating systems to be included/excluded."
        },
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "id": "OperatingSystemTargeting"
    },
    "ResumeFinalizedDealRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for resuming a finalized deal.",
      "id": "ResumeFinalizedDealRequest"
    },
    "SetReadyToServeRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for setting ready to serve for a finalized deal.",
      "id": "SetReadyToServeRequest"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ActivateClientUserRequest": {
      "id": "ActivateClientUserRequest",
      "description": "Request message for activating a client user.",
      "type": "object",
      "properties": {}
    },
    "UriTargeting": {
      "type": "object",
      "id": "UriTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "properties": {
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of URLs to be excluded."
        }
      }
    },
    "UpdateDealRequest": {
      "description": "Request message for updating the deal at the given revision number.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        },
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        }
      },
      "id": "UpdateDealRequest",
      "type": "object"
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "properties": {
        "appStore": {
          "type": "string",
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ]
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        }
      },
      "id": "PublisherProfileMobileApplication"
    },
    "BatchUpdateDealsRequest": {
      "type": "object",
      "id": "BatchUpdateDealsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "description": "Required. List of request messages to update deals.",
          "type": "array"
        }
      },
      "description": "Request message for batch updating deals."
    },
    "CriteriaTargeting": {
      "id": "CriteriaTargeting",
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be included.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation.",
      "type": "object"
    },
    "PlacementTargeting": {
      "properties": {
        "uriTargeting": {
          "$ref": "UriTargeting",
          "description": "URLs to be included/excluded."
        },
        "mobileApplicationTargeting": {
          "$ref": "MobileApplicationTargeting",
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object",
      "id": "PlacementTargeting"
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "type": "object",
      "id": "AddCreativeRequest",
      "properties": {
        "creative": {
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name.",
          "type": "string"
        }
      }
    },
    "CreativeRequirements": {
      "properties": {
        "skippableAdType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "readOnly": true,
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ]
        },
        "creativePreApprovalPolicy": {
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "readOnly": true,
          "type": "string"
        },
        "creativeSafeFrameCompatibility": {
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "type": "string",
          "readOnly": true
        },
        "programmaticCreativeSource": {
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "readOnly": true,
          "type": "string"
        },
        "maxAdDurationMs": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives."
        },
        "creativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "type": "string"
        }
      },
      "description": "Message captures data about the creatives in the deal.",
      "type": "object",
      "id": "CreativeRequirements"
    },
    "PublisherProfile": {
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "mobileApps": {
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "type": "array",
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method."
        },
        "mediaKitUrl": {
          "type": "string",
          "description": "URL to additional marketing and sales materials."
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\".",
          "type": "boolean"
        }
      },
      "id": "PublisherProfile"
    },
    "AddNoteRequest": {
      "id": "AddNoteRequest",
      "description": "Request to add a note.",
      "type": "object",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      }
    },
    "InventorySizeTargeting": {
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "id": "InventorySizeTargeting",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included."
        },
        "excludedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded."
        }
      },
      "type": "object"
    },
    "RtbMetrics": {
      "properties": {
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        },
        "bidRate7Days": {
          "type": "number",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "format": "double"
        },
        "bids7Days": {
          "description": "Bids in last 7 days.",
          "type": "string",
          "format": "int64"
        },
        "adImpressions7Days": {
          "type": "string",
          "format": "int64",
          "description": "Ad impressions in last 7 days."
        },
        "bidRequests7Days": {
          "format": "int64",
          "type": "string",
          "description": "Bid requests in last 7 days."
        },
        "filteredBidRate7Days": {
          "type": "number",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "format": "double"
        }
      },
      "id": "RtbMetrics",
      "type": "object",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)"
    },
    "SubscribeAuctionPackageRequest": {
      "description": "Request message for SubscribeAuctionPackage.",
      "properties": {},
      "type": "object",
      "id": "SubscribeAuctionPackageRequest"
    },
    "PrivateAuctionTerms": {
      "id": "PrivateAuctionTerms",
      "type": "object",
      "properties": {
        "openAuctionAllowed": {
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "readOnly": true
        },
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        }
      },
      "description": "Pricing terms for Private Auctions."
    },
    "ListAuctionPackagesResponse": {
      "description": "Response message for listing auction packages.",
      "id": "ListAuctionPackagesResponse",
      "type": "object",
      "properties": {
        "auctionPackages": {
          "items": {
            "$ref": "AuctionPackage"
          },
          "description": "The list of auction packages.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        }
      }
    },
    "DealPausingInfo": {
      "type": "object",
      "description": "Information related to deal pausing.",
      "properties": {
        "pauseRole": {
          "type": "string",
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "pausingConsented": {
          "description": "Whether pausing is consented between buyer and seller for the deal.",
          "type": "boolean"
        },
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        }
      },
      "id": "DealPausingInfo"
    },
    "UnsubscribeAuctionPackageRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "id": "UnsubscribeAuctionPackageRequest",
      "type": "object",
      "properties": {}
    },
    "MarketplaceTargeting": {
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "type": "object",
      "id": "MarketplaceTargeting",
      "properties": {
        "verticalTargeting": {
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "$ref": "CriteriaTargeting",
          "readOnly": true
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded."
        },
        "placementTargeting": {
          "readOnly": true,
          "$ref": "PlacementTargeting",
          "description": "Output only. Placement targeting information, for example, URL, mobile applications."
        },
        "inventorySizeTargeting": {
          "readOnly": true,
          "$ref": "InventorySizeTargeting",
          "description": "Output only. Inventory sizes to be included/excluded."
        },
        "userListTargeting": {
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader.",
          "$ref": "CriteriaTargeting"
        },
        "excludedSensitiveCategoryIds": {
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "videoTargeting": {
          "description": "Output only. Video targeting information.",
          "readOnly": true,
          "$ref": "VideoTargeting"
        },
        "daypartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Daypart targeting information."
        },
        "technologyTargeting": {
          "readOnly": true,
          "$ref": "TechnologyTargeting",
          "description": "Output only. Technology targeting information, for example, operating system, device category."
        },
        "inventoryTypeTargeting": {
          "readOnly": true,
          "$ref": "InventoryTypeTargeting",
          "description": "Output only. Inventory type targeting information."
        }
      }
    },
    "Contact": {
      "type": "object",
      "id": "Contact",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        }
      },
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation.",
      "type": "object",
      "properties": {
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        },
        "flightEndTime": {
          "type": "string",
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "format": "google-datetime"
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables."
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "flightStartTime": {
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "format": "google-datetime",
          "type": "string"
        },
        "publisherProfile": {
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`.",
          "type": "string"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "displayName": {
          "description": "Required. The display name of the proposal being created by this RFP.",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`."
        }
      }
    },
    "InventoryTypeTargeting": {
      "description": "Targeting of the inventory types a bid request can originate from.",
      "id": "InventoryTypeTargeting",
      "type": "object",
      "properties": {
        "inventoryTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ]
          },
          "description": "The list of targeted inventory types for the bid request."
        }
      }
    },
    "VideoTargeting": {
      "properties": {
        "excludedPositionTypes": {
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "targetedPositionTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array"
        }
      },
      "id": "VideoTargeting",
      "type": "object",
      "description": "Represents targeting information about video."
    },
    "FrequencyCap": {
      "type": "object",
      "properties": {
        "maxImpressions": {
          "type": "integer",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32"
        },
        "timeUnitsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped."
        },
        "timeUnitType": {
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "type": "string"
        }
      },
      "id": "FrequencyCap",
      "description": "Message contains details about publisher-set frequency caps of the delivery."
    },
    "ClientUser": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the client user.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ]
        },
        "email": {
          "type": "string",
          "description": "Required. The client user's email address that has to be unique across all users for the same client."
        }
      },
      "type": "object",
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "id": "ClientUser"
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      },
      "type": "object"
    },
    "FinalizedDeal": {
      "properties": {
        "readyToServe": {
          "type": "boolean",
          "description": "Whether the Programmatic Guaranteed deal is ready for serving."
        },
        "name": {
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`",
          "type": "string"
        },
        "deal": {
          "$ref": "Deal",
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated."
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "rtbMetrics": {
          "description": "Real-time bidding metrics for this deal.",
          "$ref": "RtbMetrics"
        },
        "dealServingStatus": {
          "description": "Serving status of the deal.",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "type": "string"
        }
      },
      "id": "FinalizedDeal",
      "type": "object",
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
    },
    "PrivateData": {
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Price": {
      "id": "Price",
      "description": "Represents a price and a pricing type for a deal.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "description": "The pricing type for the deal."
        },
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        }
      },
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Authorized Buyers Marketplace",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "resources": {
    "buyers": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "addCreative": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "path": "v1/{+deal}:addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "parameters": {
                "deal": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameterOrder": [
                "deal"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a finalized deal given its name.",
              "path": "v1/{+name}",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "pause": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "path": "v1/{+name}:pause",
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "httpMethod": "POST",
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals."
            },
            "resume": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "path": "v1/{+name}:resume",
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              }
            },
            "setReadyToServe": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "parameterOrder": [
                "deal"
              ],
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "path": "v1/{+deal}:setReadyToServe",
              "parameters": {
                "deal": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "path": "v1/{+parent}/finalizedDeals",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals",
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "clients": {
          "methods": {
            "deactivate": {
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true
                }
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}:deactivate",
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate"
            },
            "activate": {
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:activate",
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true
                }
              }
            },
            "patch": {
              "description": "Updates an existing client.",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Client"
              }
            },
            "get": {
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "description": "Gets a client with a given resource name.",
              "response": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
[...]
