{
  "canonicalName": "Authorized Buyers Marketplace",
  "protocol": "rest",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "version_module": true,
  "name": "authorizedbuyersmarketplace",
  "title": "Authorized Buyers Marketplace API",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "bidders": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe"
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "path": "v1/{+parent}/finalizedDeals"
            },
            "setReadyToServe": {
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "path": "v1/{+deal}:setReadyToServe",
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "deal"
              ],
              "parameters": {
                "deal": {
                  "required": true,
                  "type": "string",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "httpMethod": "POST",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "request": {
                "$ref": "SetReadyToServeRequest"
              }
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "parameters": {
                "pageToken": {
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`."
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "path": "v1/{+parent}/auctionPackages",
              "flatPath": "v1/bidders/{biddersId}/auctionPackages",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list"
            }
          }
        }
      }
    },
    "buyers": {
      "resources": {
        "proposals": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "pattern": "^buyers/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "path": "v1/{+parent}/proposals",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "sendRfp": {
              "flatPath": "v1/buyers/{buyersId}/proposals:sendRfp",
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "buyer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "buyer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SendRfpRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "path": "v1/{+buyer}/proposals:sendRfp"
            },
            "patch": {
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "Proposal"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}"
            },
            "addNote": {
              "parameterOrder": [
                "proposal"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "httpMethod": "POST",
              "parameters": {
                "proposal": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "path": "v1/{+proposal}:addNote",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "AddNoteRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'."
            },
            "cancelNegotiation": {
              "parameterOrder": [
                "proposal"
              ],
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "path": "v1/{+proposal}:cancelNegotiation",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "proposal": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST"
            },
            "accept": {
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "httpMethod": "POST",
              "path": "v1/{+name}:accept",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "deals": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "Deal"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "required": true,
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch"
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                    }
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "description": "Batch updates multiple deals in the same proposal.",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1/{+parent}/deals:batchUpdate"
                },
                "get": {
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Deal"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/deals",
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The page token as returned from ListDealsResponse.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                }
              }
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "PublisherProfile"
              },
              "description": "Gets the requested publisher profile by name.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get"
            },
            "list": {
              "path": "v1/{+parent}/publisherProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse."
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles",
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "clients": {
          "methods": {
            "activate": {
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate",
              "httpMethod": "POST",
              "path": "v1/{+name}:activate",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state."
            },
            "create": {
              "request": {
                "$ref": "Client"
              },
              "path": "v1/{+parent}/clients",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new client.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`"
                }
              },
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.clients.create"
            },
            "deactivate": {
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "path": "v1/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a client with a given resource name.",
              "response": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/clients",
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "path": "v1/{+parent}/clients",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all the clients for the current buyer."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing client.",
              "request": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "response": {
                "$ref": "Client"
              },
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "users": {
              "methods": {
                "activate": {
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "path": "v1/{+name}:activate",
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate"
                },
                "create": {
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/users"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "description": "Retrieves an existing client user.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`"
                    }
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1/{+parent}/users",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "description": "Lists all client users for a specified client.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users"
                },
                "deactivate": {
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "path": "v1/{+name}:deactivate"
                }
              }
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "resume": {
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}:resume"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Gets a finalized deal given its name.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "addCreative": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "path": "v1/{+deal}:addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "deal"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "parameters": {
                "deal": {
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative"
            },
            "setReadyToServe": {
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameterOrder": [
                "deal"
              ],
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "path": "v1/{+deal}:setReadyToServe",
              "parameters": {
                "deal": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "pause": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "path": "v1/{+name}:pause",
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals."
            },
            "list": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                },
                "parent": {
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query"
                }
              },
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "path": "v1/{+parent}/finalizedDeals",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals"
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "unsubscribe": {
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "path": "v1/{+name}:unsubscribe",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Gets an auction package given its name.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "response": {
                "$ref": "AuctionPackage"
              }
            },
            "subscribeClients": {
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "httpMethod": "POST",
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "path": "v1/{+auctionPackage}:subscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "unsubscribeClients": {
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "path": "v1/{+auctionPackage}:unsubscribeClients",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "httpMethod": "POST",
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "subscribe": {
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:subscribe",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "required": true
                }
              },
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "path": "v1/{+parent}/auctionPackages",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list"
            }
          }
        }
      }
    }
  },
  "revision": "20260910",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "ProgrammaticGuaranteedTerms": {
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "type": "object",
      "properties": {
        "impressionCap": {
          "type": "string",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "format": "int64"
        },
        "reservationType": {
          "type": "string",
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string",
          "format": "int64"
        },
        "percentShareOfVoice": {
          "type": "string",
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
        },
        "guaranteedLooks": {
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string"
        }
      },
      "id": "ProgrammaticGuaranteedTerms"
    },
    "AddNoteRequest": {
      "description": "Request to add a note.",
      "id": "AddNoteRequest",
      "type": "object",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      }
    },
    "UnsubscribeClientsRequest": {
      "properties": {
        "clients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`."
        }
      },
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object",
      "id": "UnsubscribeClientsRequest"
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing proposals.",
      "type": "object"
    },
    "AuctionPackage": {
      "id": "AuctionPackage",
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "properties": {
        "creator": {
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the auction package was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "subscribedClients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime",
          "type": "string"
        },
        "floorPriceCpm": {
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "$ref": "Money"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A description of the auction package.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "subscribedBuyers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
        },
        "eligibleSeatIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "type": "array"
        },
        "subscribedMediaPlanners": {
          "items": {
            "$ref": "MediaPlanner"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder."
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResumeFinalizedDealRequest": {
      "description": "Request message for resuming a finalized deal.",
      "properties": {},
      "id": "ResumeFinalizedDealRequest",
      "type": "object"
    },
    "PauseFinalizedDealRequest": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "type": "object",
      "id": "PauseFinalizedDealRequest",
      "description": "Request message for pausing a finalized deal."
    },
    "MobileApplicationTargeting": {
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "id": "MobileApplicationTargeting",
      "description": "Mobile application targeting settings.",
      "type": "object"
    },
    "RtbMetrics": {
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "id": "RtbMetrics",
      "type": "object",
      "properties": {
        "bidRate7Days": {
          "type": "number",
          "format": "double",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests)."
        },
        "bids7Days": {
          "format": "int64",
          "type": "string",
          "description": "Bids in last 7 days."
        },
        "adImpressions7Days": {
          "type": "string",
          "format": "int64",
          "description": "Ad impressions in last 7 days."
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        },
        "bidRequests7Days": {
          "description": "Bid requests in last 7 days.",
          "type": "string",
          "format": "int64"
        },
        "filteredBidRate7Days": {
          "type": "number",
          "format": "double",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids)."
        }
      }
    },
    "ListClientUsersResponse": {
      "description": "Response message for the list method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clientUsers": {
          "items": {
            "$ref": "ClientUser"
          },
          "type": "array",
          "description": "The returned list of client users."
        }
      },
      "id": "ListClientUsersResponse"
    },
    "SetReadyToServeRequest": {
      "type": "object",
      "properties": {},
      "id": "SetReadyToServeRequest",
      "description": "Request message for setting ready to serve for a finalized deal."
    },
    "DayPartTargeting": {
      "type": "object",
      "description": "Represents Daypart targeting.",
      "properties": {
        "timeZoneType": {
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "type": "string",
          "description": "The time zone type of the day parts",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ]
        },
        "dayParts": {
          "type": "array",
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          }
        }
      },
      "id": "DayPartTargeting"
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "type": "array",
          "description": "The returned list of clients.",
          "items": {
            "$ref": "Client"
          }
        }
      },
      "type": "object",
      "description": "Response message for the list method."
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included.",
          "type": "array"
        },
        "excludedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded."
        }
      }
    },
    "ActivateClientRequest": {
      "properties": {},
      "id": "ActivateClientRequest",
      "type": "object",
      "description": "Request message for activating a client."
    },
    "DealPausingInfo": {
      "type": "object",
      "properties": {
        "pauseReason": {
          "type": "string",
          "description": "The reason for the pausing of the deal; empty for active deals."
        },
        "pausingConsented": {
          "description": "Whether pausing is consented between buyer and seller for the deal.",
          "type": "boolean"
        },
        "pauseRole": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        }
      },
      "id": "DealPausingInfo",
      "description": "Information related to deal pausing."
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "description": "Response message for listing finalized deals.",
      "type": "object",
      "id": "ListFinalizedDealsResponse"
    },
    "PrivateAuctionTerms": {
      "id": "PrivateAuctionTerms",
      "description": "Pricing terms for Private Auctions.",
      "properties": {
        "openAuctionAllowed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        },
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "properties": {},
      "id": "ActivateClientUserRequest",
      "description": "Request message for activating a client user.",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "properties": {
        "deals": {
          "type": "array",
          "items": {
            "$ref": "Deal"
          },
          "description": "Deals updated."
        }
      },
      "type": "object"
    },
    "Proposal": {
      "id": "Proposal",
      "properties": {
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "sellerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "description": "Output only. Contact information for the seller.",
          "type": "array",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true
        },
        "dealType": {
          "readOnly": true,
          "description": "Output only. Type of deal the proposal contains.",
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "type": "string",
          "readOnly": true
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the proposal was last revised.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdaterOrCommentorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "readOnly": true
        },
        "client": {
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "originatorRole": {
          "readOnly": true,
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "publisherProfile": {
          "type": "string",
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates the state of the proposal."
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array"
        },
        "excludedPositionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
        }
      },
      "description": "Represents targeting information about video."
    },
    "DeactivateClientUserRequest": {
      "id": "DeactivateClientUserRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for deactivating a client user."
    },
    "UnsubscribeAuctionPackageRequest": {
      "id": "UnsubscribeAuctionPackageRequest",
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {}
    },
    "AdSize": {
      "properties": {
        "width": {
          "format": "int64",
          "type": "string",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "description": "The type of the ad slot size."
        },
        "height": {
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64"
        }
      },
      "id": "AdSize",
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative."
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology.",
      "type": "object",
      "properties": {
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        },
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        }
      }
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "description": "Request to cancel an ongoing negotiation.",
      "type": "object",
      "properties": {}
    },
    "Price": {
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price",
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
[...]
