{
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "revision": "20260828",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "id": "authorizedbuyersmarketplace:v1",
  "version_module": true,
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version": "v1",
  "name": "authorizedbuyersmarketplace",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "resources": {
    "bidders": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/bidders/{biddersId}/auctionPackages",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/auctionPackages",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list"
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                }
              },
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals",
              "httpMethod": "GET",
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/finalizedDeals"
            },
            "setReadyToServe": {
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameters": {
                "deal": {
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "httpMethod": "POST",
              "parameterOrder": [
                "deal"
              ],
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "path": "v1/{+deal}:setReadyToServe"
            }
          }
        }
      }
    },
    "buyers": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "subscribe": {
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "path": "v1/{+name}:subscribe",
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe"
            },
            "get": {
              "description": "Gets an auction package given its name.",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              }
            },
            "unsubscribe": {
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}:unsubscribe",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              }
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1/{+parent}/auctionPackages",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              }
            },
            "unsubscribeClients": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameters": {
                "auctionPackage": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`"
                }
              },
              "parameterOrder": [
                "auctionPackage"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "path": "v1/{+auctionPackage}:unsubscribeClients",
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients"
            },
            "subscribeClients": {
              "response": {
                "$ref": "AuctionPackage"
              },
              "httpMethod": "POST",
              "path": "v1/{+auctionPackage}:subscribeClients",
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "parameters": {
                "auctionPackage": {
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              }
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PublisherProfile"
              },
              "path": "v1/{+name}",
              "description": "Gets the requested publisher profile by name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles",
              "path": "v1/{+parent}/publisherProfiles"
            }
          }
        },
        "clients": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "description": "Lists all the clients for the current buyer.",
              "id": "authorizedbuyersmarketplace.buyers.clients.list"
            },
            "deactivate": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "path": "v1/{+name}:deactivate"
            },
            "activate": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "path": "v1/{+name}:activate",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "httpMethod": "POST"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+parent}/clients",
              "httpMethod": "POST",
              "description": "Creates a new client.",
              "response": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "request": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "description": "Gets a client with a given resource name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "description": "Updates an existing client.",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Client"
              }
            }
          },
          "resources": {
            "users": {
              "methods": {
                "activate": {
                  "path": "v1/{+name}:activate",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path"
                    }
                  }
                },
                "deactivate": {
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "path": "v1/{+name}:deactivate",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Retrieves an existing client user.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "path": "v1/{+parent}/users",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Lists all client users for a specified client."
                },
                "create": {
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/users"
                }
              }
            }
          }
        },
        "proposals": {
          "resources": {
            "deals": {
              "methods": {
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "path": "v1/{+parent}/deals:batchUpdate",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "description": "Batch updates multiple deals in the same proposal.",
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Deal"
                  },
                  "parameters": {
                    "name": {
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                    }
                  },
                  "response": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Deal"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Gets a deal given its name. The deal is returned at its head revision."
                },
                "list": {
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The page token as returned from ListDealsResponse."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/deals",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource."
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/proposals",
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query"
                }
              },
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "flatPath": "v1/buyers/{buyersId}/proposals"
            },
            "get": {
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "response": {
                "$ref": "Proposal"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET"
            },
            "accept": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}:accept",
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "httpMethod": "POST",
              "request": {
                "$ref": "AcceptProposalRequest"
              }
            },
            "cancelNegotiation": {
              "parameters": {
                "proposal": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "parameterOrder": [
                "proposal"
              ],
              "path": "v1/{+proposal}:cancelNegotiation",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "sendRfp": {
              "flatPath": "v1/buyers/{buyersId}/proposals:sendRfp",
              "path": "v1/{+buyer}/proposals:sendRfp",
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "parameters": {
                "buyer": {
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "parameterOrder": [
                "buyer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST"
            },
            "addNote": {
              "request": {
                "$ref": "AddNoteRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "proposal": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true
                }
              },
              "path": "v1/{+proposal}:addNote",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "Proposal"
              },
              "response": {
                "$ref": "Proposal"
              },
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "httpMethod": "PATCH"
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/finalizedDeals",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "parameters": {
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe"
                }
              },
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals"
            },
            "addCreative": {
              "parameterOrder": [
                "deal"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "path": "v1/{+deal}:addCreative",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "deal": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "description": "Gets a finalized deal given its name."
            },
            "resume": {
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "httpMethod": "POST",
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "setReadyToServe": {
              "parameters": {
                "deal": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "parameterOrder": [
                "deal"
              ],
              "path": "v1/{+deal}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "httpMethod": "POST"
            },
            "pause": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "path": "v1/{+name}:pause",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "batchPath": "batch",
  "title": "Authorized Buyers Marketplace API",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Authorized Buyers Marketplace",
  "ownerName": "Google",
  "schemas": {
    "PreferredDealTerms": {
      "properties": {
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        }
      },
      "type": "object",
      "description": "Pricing terms for Preferred Deals.",
      "id": "PreferredDealTerms"
    },
    "UriTargeting": {
      "id": "UriTargeting",
      "properties": {
        "targetedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included.",
          "type": "array"
        },
        "excludedUris": {
          "description": "A list of URLs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply."
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      },
      "type": "object"
    },
    "SetReadyToServeRequest": {
      "description": "Request message for setting ready to serve for a finalized deal.",
      "properties": {},
      "type": "object",
      "id": "SetReadyToServeRequest"
    },
    "AuctionPackage": {
      "id": "AuctionPackage",
      "type": "object",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. A description of the auction package.",
          "type": "string"
        },
        "eligibleSeatIds": {
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dealOwnerSeatId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
        },
        "subscribedMediaPlanners": {
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          },
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the auction package was created.",
          "format": "google-datetime"
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "subscribedClients": {
          "type": "array",
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime",
          "type": "string"
        },
        "subscribedBuyers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
        }
      },
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers."
    },
    "CriteriaTargeting": {
      "properties": {
        "targetedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be included.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be excluded.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "id": "CriteriaTargeting",
      "type": "object"
    },
    "AddNoteRequest": {
      "description": "Request to add a note.",
      "type": "object",
      "id": "AddNoteRequest",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      }
    },
    "Contact": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        }
      },
      "id": "Contact"
    },
    "PauseFinalizedDealRequest": {
      "type": "object",
      "id": "PauseFinalizedDealRequest",
      "description": "Request message for pausing a finalized deal.",
      "properties": {
        "reason": {
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters.",
          "type": "string"
        }
      }
    },
    "ActivateClientRequest": {
      "type": "object",
      "description": "Request message for activating a client.",
      "properties": {},
      "id": "ActivateClientRequest"
    },
    "AcceptProposalRequest": {
      "type": "object",
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "description": "The last known client revision number of the proposal.",
          "type": "string"
        }
      },
      "id": "AcceptProposalRequest"
    },
    "FrequencyCap": {
      "type": "object",
      "properties": {
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "type": "string",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        },
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnitsCount": {
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer"
        }
      },
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "id": "FrequencyCap"
    },
    "AdSize": {
      "properties": {
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "description": "The type of the ad slot size.",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ]
        },
        "width": {
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdSize",
      "description": "Represents size of a single ad slot, or a creative."
    },
    "ListAuctionPackagesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        },
        "auctionPackages": {
          "description": "The list of auction packages.",
          "items": {
            "$ref": "AuctionPackage"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing auction packages.",
      "id": "ListAuctionPackagesResponse",
      "type": "object"
    },
    "UnsubscribeAuctionPackageRequest": {
      "id": "UnsubscribeAuctionPackageRequest",
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {}
    },
    "PrivateAuctionTerms": {
      "type": "object",
      "properties": {
        "openAuctionAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        },
        "floorPrice": {
          "$ref": "Price",
          "description": "The minimum price buyer has to bid to compete in the private auction."
        }
      },
      "id": "PrivateAuctionTerms",
      "description": "Pricing terms for Private Auctions."
    },
    "UnsubscribeClientsRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UnsubscribeClientsRequest"
    },
    "Client": {
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "type": "object",
      "id": "Client",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "role": {
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "type": "string",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the client."
        },
        "partnerClientId": {
          "type": "string",
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
        },
        "sellerVisible": {
          "description": "Whether the client will be visible to sellers.",
          "type": "boolean"
        }
      }
    },
    "CreativeRequirements": {
      "id": "CreativeRequirements",
      "description": "Message captures data about the creatives in the deal.",
      "type": "object",
      "properties": {
        "creativeFormat": {
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "type": "string",
          "readOnly": true
        },
        "skippableAdType": {
          "type": "string",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "readOnly": true
        },
        "creativePreApprovalPolicy": {
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "type": "string",
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ]
        },
        "creativeSafeFrameCompatibility": {
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies whether the creative is safeFrame compatible."
        },
        "programmaticCreativeSource": {
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "type": "string"
        },
        "maxAdDurationMs": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives."
        }
      }
    },
    "ResumeFinalizedDealRequest": {
      "properties": {},
      "id": "ResumeFinalizedDealRequest",
      "description": "Request message for resuming a finalized deal.",
      "type": "object"
    },
    "MobileApplicationTargeting": {
      "id": "MobileApplicationTargeting",
      "type": "object",
      "description": "Mobile application targeting settings.",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      }
    },
    "ListFinalizedDealsResponse": {
      "type": "object",
      "description": "Response message for listing finalized deals.",
      "properties": {
        "finalizedDeals": {
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "description": "The list of finalized deals."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "id": "ListFinalizedDealsResponse"
    },
    "OperatingSystemTargeting": {
      "description": "Represents targeting information for operating systems.",
      "type": "object",
      "properties": {
        "operatingSystemCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating systems to be included/excluded."
        },
        "operatingSystemVersionCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating system versions to be included/excluded."
        }
      },
      "id": "OperatingSystemTargeting"
    },
    "ProgrammaticGuaranteedTerms": {
      "type": "object",
      "id": "ProgrammaticGuaranteedTerms",
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "properties": {
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string",
          "format": "int64"
        },
        "guaranteedLooks": {
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string"
        },
        "reservationType": {
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        },
        "impressionCap": {
          "type": "string",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "format": "int64"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "minimumDailyLooks": {
          "type": "string",
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
        }
      }
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "type": "object",
      "properties": {
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "Deals updated.",
          "type": "array"
        }
      },
      "id": "BatchUpdateDealsResponse"
    },
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "description": "Response message for listing deals in a proposal.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "deals": {
          "type": "array",
          "items": {
            "$ref": "Deal"
          },
          "description": "The list of deals."
        }
      }
    },
    "PublisherProfile": {
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "type": "object",
      "id": "PublisherProfile",
      "properties": {
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\".",
          "type": "boolean"
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "type": "array"
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        },
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "topHeadlines": {
          "type": "array",
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          }
        },
        "directDealsContact": {
          "type": "string",
[...]
