{
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "canonicalName": "Authorized Buyers Marketplace",
  "version": "v1alpha",
  "name": "authorizedbuyersmarketplace",
  "resources": {
    "buyers": {
      "resources": {
        "dataSegments": {
          "methods": {
            "deactivate": {
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to deactivate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Deactivates a data segment.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:deactivate",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.deactivate",
              "path": "v1alpha/{+name}:deactivate"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.list",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken"
                },
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the parent curator that can access the data segment. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500."
                }
              },
              "description": "List the data segments owned by a curator.",
              "path": "v1alpha/{+parent}/dataSegments"
            },
            "patch": {
              "request": {
                "$ref": "DataSegment"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                },
                "name": {
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a data segment.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "response": {
                "$ref": "DataSegment"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.patch"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to get. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "DataSegment"
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a data segment given its name."
            },
            "activate": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:activate",
              "response": {
                "$ref": "DataSegment"
              },
              "description": "Activates a data segment.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+name}:activate",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.activate",
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to activate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$"
                }
              },
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The parent resource where this data segment will be created. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.create",
              "path": "v1alpha/{+parent}/dataSegments",
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "response": {
                "$ref": "DataSegment"
              },
              "request": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "unsubscribe": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}:unsubscribe",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "response": {
                "$ref": "AuctionPackage"
              },
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              }
            },
            "unsubscribeClients": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "path": "v1alpha/{+auctionPackage}:unsubscribeClients",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "parameters": {
                "auctionPackage": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`"
                }
              },
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "httpMethod": "POST"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+parent}/auctionPackages",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages",
              "httpMethod": "GET"
            },
            "subscribeClients": {
              "response": {
                "$ref": "AuctionPackage"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "auctionPackage"
              ],
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "httpMethod": "POST",
              "path": "v1alpha/{+auctionPackage}:subscribeClients",
              "parameters": {
                "auctionPackage": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients"
            },
            "get": {
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "description": "Gets an auction package given its name.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "subscribe": {
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:subscribe"
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "list": {
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+parent}/publisherProfiles",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "PublisherProfile"
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "description": "Gets the requested publisher profile by name."
            }
          }
        },
        "clients": {
          "methods": {
            "activate": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:activate",
              "httpMethod": "POST",
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha/{+name}:activate",
              "id": "authorizedbuyersmarketplace.buyers.clients.activate"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists all the clients for the current buyer.",
              "path": "v1alpha/{+parent}/clients",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied."
                },
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "deactivate": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "path": "v1alpha/{+name}:deactivate",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "response": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DeactivateClientRequest"
              }
            },
            "patch": {
              "request": {
                "$ref": "Client"
              },
              "description": "Updates an existing client.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "path": "v1alpha/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "httpMethod": "PATCH"
            },
            "create": {
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Client"
              },
              "path": "v1alpha/{+parent}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new client.",
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients"
            },
            "get": {
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "response": {
                "$ref": "Client"
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a client with a given resource name.",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`"
                }
              },
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "users": {
              "methods": {
                "create": {
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "path": "v1alpha/{+parent}/users",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ClientUser"
                  }
                },
                "delete": {
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "deactivate": {
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1alpha/{+name}:deactivate",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate"
                },
                "get": {
                  "description": "Retrieves an existing client user.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "activate": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:activate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/users",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "httpMethod": "GET",
                  "description": "Lists all client users for a specified client.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    }
                  }
                }
              }
            }
          }
        },
        "proposals": {
          "resources": {
            "deals": {
              "methods": {
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "description": "Batch updates multiple deals in the same proposal.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}"
                    }
                  },
                  "path": "v1alpha/{+parent}/deals:batchUpdate"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "httpMethod": "PATCH",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "request": {
                    "$ref": "Deal"
                  },
                  "response": {
                    "$ref": "Deal"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "response": {
                    "$ref": "Deal"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The page token as returned from ListDealsResponse.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/deals",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "response": {
                    "$ref": "ListDealsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "path": "v1alpha/{+parent}/proposals",
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500."
                }
              }
            },
            "addNote": {
              "request": {
                "$ref": "AddNoteRequest"
              },
              "parameterOrder": [
                "proposal"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "path": "v1alpha/{+proposal}:addNote",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "proposal": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path"
                }
              },
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'."
            },
            "sendRfp": {
              "flatPath": "v1alpha/buyers/{buyersId}/proposals:sendRfp",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "buyer": {
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "path": "v1alpha/{+buyer}/proposals:sendRfp",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "parameterOrder": [
                "buyer"
              ]
            },
            "accept": {
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "path": "v1alpha/{+name}:accept",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.get"
            },
            "cancelNegotiation": {
              "response": {
                "$ref": "Proposal"
              },
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "parameterOrder": [
                "proposal"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "path": "v1alpha/{+proposal}:cancelNegotiation",
              "httpMethod": "POST",
              "parameters": {
                "proposal": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path"
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "request": {
                "$ref": "Proposal"
              },
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable."
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "resume": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "path": "v1alpha/{+name}:resume",
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "httpMethod": "POST",
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              }
            },
            "list": {
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe"
                },
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list"
            },
            "addCreative": {
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+deal}:addCreative",
              "parameterOrder": [
                "deal"
              ],
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative"
            },
            "pause": {
              "path": "v1alpha/{+name}:pause",
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets a finalized deal given its name.",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}"
            },
            "setReadyToServe": {
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "parameterOrder": [
                "deal"
              ],
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "deal": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "path": "v1alpha/{+deal}:setReadyToServe"
            }
          }
        }
      }
    },
    "curators": {
      "resources": {
        "curatedPackages": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`"
                }
              },
              "path": "v1alpha/{+parent}/curatedPackages",
              "request": {
                "$ref": "CuratedPackage"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.create",
              "description": "Creates a new curated package.",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/curatedPackages",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.list",
              "description": "Lists curated packages owned by the specified curator.",
              "parameters": {
                "parent": {
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a curated package given its resource name.",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.get"
            },
            "activate": {
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.activate",
              "path": "v1alpha/{+name}:activate",
              "parameters": {
                "name": {
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "type": "string"
                }
              },
              "description": "Activates an existing curated package.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "deactivate": {
              "description": "Deactivates an existing curated package.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.deactivate",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "response": {
                "$ref": "CuratedPackage"
              },
              "path": "v1alpha/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "response": {
                "$ref": "CuratedPackage"
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "CuratedPackage"
              },
              "description": "Updates an existing curated package.",
              "parameters": {
                "name": {
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.patch",
              "httpMethod": "PATCH"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals",
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/finalizedDeals"
            },
            "setReadyToServe": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "path": "v1alpha/{+deal}:setReadyToServe",
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "parameterOrder": [
                "deal"
              ],
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1alpha/{+parent}/auctionPackages",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/bidders/{biddersId}/auctionPackages",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list"
            }
          }
        }
      }
    },
    "mediaPlanners": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/authorized-buyers-marketplace"
          ],
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "id": "authorizedbuyersmarketplace.mediaPlanners.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return. This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1alpha/mediaPlanners",
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "flatPath": "v1alpha/mediaPlanners"
        }
      }
    }
  },
  "basePath": "",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "title": "Authorized Buyers Marketplace API",
  "protocol": "rest",
  "id": "authorizedbuyersmarketplace:v1alpha",
  "revision": "20260924",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "type": "object",
      "properties": {
        "deals": {
          "type": "array",
          "items": {
            "$ref": "Deal"
          },
          "description": "The list of deals."
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing deals in a proposal."
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "id": "MobileApplicationTargeting",
      "type": "object"
    },
    "DeliveryControl": {
      "type": "object",
      "properties": {
        "roadblockingType": {
          "type": "string",
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "readOnly": true,
          "description": "Output only. Specifies the roadblocking type in display creatives."
        },
        "frequencyCap": {
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "type": "array"
        },
        "companionDeliveryType": {
          "type": "string",
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "readOnly": true
        },
        "creativeRotationType": {
          "type": "string",
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "readOnly": true
        },
        "deliveryRateType": {
          "readOnly": true,
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ]
        }
      },
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced."
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "type": "object",
      "properties": {
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be excluded."
        },
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "description": "Represents the size of an ad unit that can be targeted on a bid request."
    },
    "SubscribeClientsRequest": {
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SubscribeClientsRequest",
      "type": "object",
      "description": "Request message for SubscribeAuctionPackageClients."
    },
    "AddNoteRequest": {
      "type": "object",
      "id": "AddNoteRequest",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      },
      "description": "Request to add a note."
    },
    "ProgrammaticGuaranteedTerms": {
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "type": "object",
      "properties": {
        "impressionCap": {
          "type": "string",
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        },
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string",
          "format": "int64"
        },
        "reservationType": {
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD."
        },
        "minimumDailyLooks": {
          "format": "int64",
          "type": "string",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
        },
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        },
        "guaranteedLooks": {
          "type": "string",
[...]
