{
  "canonicalName": "Authorized Buyers Marketplace",
  "revision": "20260825",
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "name": "authorizedbuyersmarketplace",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "protocol": "rest",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "version": "v1beta",
  "schemas": {
    "DataSegment": {
      "id": "DataSegment",
      "description": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms. -- Next ID: 9 --",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the data segment was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "cpmFee": {
          "description": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed.",
          "$ref": "Money"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data segment is active.",
            "The data segment is inactive.",
            "The data segment is suspended and cannot be activated."
          ],
          "description": "Output only. The state of the data segment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`"
        },
        "createTime": {
          "description": "Output only. Time the data segment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "millipercentOfMediaFee": {
          "type": "string",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PackageVideoTargeting": {
      "description": "Video specific targeting criteria.",
      "properties": {
        "includedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type."
        },
        "includedPlaybackMethods": {
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method.",
          "type": "array",
          "items": {
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ],
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ],
            "type": "string"
          }
        },
        "includedMaximumAdDurationTargeting": {
          "type": "string",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ],
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ]
        },
        "plcmtTargeting": {
          "$ref": "VideoPlcmtTargeting",
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type."
        },
        "includedPlayerSizeTargeting": {
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size.",
          "$ref": "VideoPlayerSizeTargeting"
        },
        "includedContentDeliveryMethod": {
          "type": "string",
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ],
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ]
        },
        "includedMimeTypes": {
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ],
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type."
        },
        "minimumPredictedCompletionRatePercentage": {
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PackageVideoTargeting",
      "type": "object"
    },
    "AccessControlSettings": {
      "id": "AccessControlSettings",
      "description": "Settings for controlling access to a curated package.",
      "type": "object",
      "properties": {
        "allowlistedMediaPlanners": {
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`",
          "type": "array"
        }
      }
    },
    "ActivateCuratedPackageRequest": {
      "type": "object",
      "id": "ActivateCuratedPackageRequest",
      "description": "Request message for ActivateCuratedPackage.",
      "properties": {}
    },
    "CriteriaTargeting": {
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "properties": {
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "targetedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be included.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "CriteriaTargeting"
    },
    "VideoPlcmtTargeting": {
      "description": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field.",
      "id": "VideoPlcmtTargeting",
      "properties": {
        "selectionType": {
          "description": "Required. The selection type for the list of video plcmts.",
          "type": "string",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ]
        },
        "videoPlcmtTypes": {
          "items": {
            "enum": [
              "VIDEO_PLCMT_TYPE_UNSPECIFIED",
              "INSTREAM",
              "ACCOMPANYING_CONTENT",
              "INTERSTITIAL",
              "NO_CONTENT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during or after the streaming video content that the consumer has requested. Instream video must be set to “sound on” by default at player start, or have explicitly clear user intent to watch the video content. While there may be other content surrounding the player, the video content must be the focus of the user’s visit. It should remain the primary content on the page and the only video player in-view capable of audio when playing. If the player converts to floating/sticky, subsequent ad calls should accurately convey the updated player size.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during, or after streaming video content. The video player loads and plays before, between, or after paragraphs of text or graphical content, and starts playing only when it enters the viewport. Accompanying content should only start playback upon entering the viewport. It may convert to a floating/sticky player as it scrolls off the page.",
              "Video ads that are played without video content. During playback, it must be the primary focus of the page and take up the majority of the viewport and cannot be scrolled out of view. This can be in placements like in-app video or slideshows.",
              "Video ads that are played without streaming video content. This can be in placements like slideshows, native feeds, in-content or sticky/floating."
            ]
          },
          "description": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "id": "PackagePublisherProvidedSignalsTargeting",
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed.",
      "properties": {
        "audienceTargeting": {
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)",
          "$ref": "TaxonomyTargeting"
        },
        "videoAndAudioSignalsTargeting": {
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals.",
          "$ref": "StringTargetingDimension"
        },
        "contentTargeting": {
          "$ref": "TaxonomyTargeting",
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)"
        }
      },
      "type": "object"
    },
    "PackageTargeting": {
      "id": "PackageTargeting",
      "description": "Targeting criteria for curated and auction packages.",
      "properties": {
        "includedAdSizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes."
        },
        "languageTargeting": {
          "description": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes.",
          "$ref": "StringTargetingDimension"
        },
        "includedRestrictedCategories": {
          "description": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where alcohol ads are allowed by the publisher.",
              "Targets inventory where gambling ads are allowed by the publisher."
            ],
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "RESTRICTED_CATEGORY_ALCOHOL",
              "RESTRICTED_CATEGORY_GAMBLING"
            ],
            "type": "string"
          }
        },
        "minimumPredictedViewabilityPercentage": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability."
        },
        "includedOpenMeasurementTypes": {
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory that supports the v1 Open Measurement Interface Definition (OMID)."
            ],
            "type": "string",
            "enum": [
              "OPEN_MEASUREMENT_TYPE_UNSPECIFIED",
              "OPEN_MEASUREMENT_TYPE_OMID_V1"
            ]
          },
          "type": "array",
          "description": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support."
        },
        "publisherTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details."
        },
        "includedRewardedType": {
          "description": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory that does NOT offer an explicit reward to the user for watching or interacting with the ad.",
            "Targets inventory that offers a reward to the user in exchange for watching or engaging with the ad."
          ],
          "enum": [
            "REWARDED_TYPE_UNSPECIFIED",
            "REWARDED_TYPE_NON_REWARDED",
            "REWARDED_TYPE_REWARDED"
          ],
          "type": "string"
        },
        "publisherProvidedSignalsTargeting": {
          "$ref": "PackagePublisherProvidedSignalsTargeting",
          "description": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals."
        },
        "includedDeviceTypes": {
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets desktop or laptop computers.",
              "Targets connected TVs: devices that stream TV content, including smart TVs, gaming consoles, and streaming boxes/sticks.",
              "Targets high-end mobile devices.",
              "Targets tablet devices."
            ],
            "enum": [
              "DEVICE_TYPE_UNSPECIFIED",
              "DEVICE_TYPE_PERSONAL_COMPUTER",
              "DEVICE_TYPE_CONNECTED_TV",
              "DEVICE_TYPE_PHONE",
              "DEVICE_TYPE_TABLET"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of included device types to target. If empty, all device types are targeted."
        },
        "videoTargeting": {
          "description": "Optional. Video specific targeting criteria.",
          "$ref": "PackageVideoTargeting"
        },
        "includedAcceleratedMobilePageType": {
          "type": "string",
          "enum": [
            "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED",
            "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          ],
          "description": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory on standard web pages not using any AMP framework.",
            "Targets inventory on pages built using the core AMP HTML framework.",
            "Targets inventory on pages using the AMP Story (STAMP) format, which is optimized for visual storytelling (e.g., tappable full-screen experiences)."
          ]
        },
        "includedCreativeFormat": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets ad slots intended for HTML display creatives.",
            "Targets ad slots intended for video creatives.",
            "Targets ad slots intended for audio creatives."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "CREATIVE_FORMAT_DISPLAY",
            "CREATIVE_FORMAT_VIDEO",
            "CREATIVE_FORMAT_AUDIO"
          ],
          "description": "Optional. The creative format to target. If unset, all creative markup types are targeted."
        },
        "minimumPredictedClickThroughRatePercentageMillis": {
          "description": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate.",
          "type": "string",
          "format": "int64"
        },
        "includedEnvironment": {
          "type": "string",
          "description": "Optional. The environment to target. If unspecified, all environments are targeted.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory rendered within an ad-supported website.",
            "Targets inventory within a mobile application."
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_SITE",
            "ENVIRONMENT_APP"
          ]
        },
        "includedNativeInventoryTypes": {
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ],
            "type": "string",
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ]
          },
          "type": "array"
        },
        "includedAuthorizedSellerStatuses": {
          "description": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status.",
          "items": {
            "enum": [
              "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
              "AUTHORIZED_SELLER_STATUS_DIRECT",
              "AUTHORIZED_SELLER_STATUS_RESELLER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where the seller is declared as 'DIRECT'. This indicates the publisher (content owner) directly controls the seller account and has a direct business contract with the advertising system for this account.",
              "Targets inventory where the seller is declared as 'RESELLER'. This indicates the publisher has authorized another entity to operate the listed seller account and resell their ad space."
            ]
          },
          "type": "array"
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical."
        },
        "placementTargeting": {
          "description": "Optional. Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PackagePlacementTargeting"
        },
        "includedDataSegments": {
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo."
        }
      },
      "type": "object"
    },
    "CuratedPackage": {
      "description": "Represents a curated package of inventory created and managed by a Curator.",
      "type": "object",
      "id": "CuratedPackage",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method.",
          "format": "google-datetime",
          "readOnly": true
        },
        "curationFeeVisibility": {
          "enumDescriptions": [
            "The total curation fee visibility is unspecified.",
            "The total curation fee is visible to all buyers. This is the default value if not set.",
            "The total curation fee is not visible to all buyers."
          ],
          "enum": [
            "CURATION_FEE_VISIBILITY_UNSPECIFIED",
            "DISCLOSED",
            "NON_DISCLOSED"
          ],
          "description": "Optional. Immutable. The visibility of the combined curation package fee and data segment fees (the total curation fee).",
          "type": "string"
        },
        "targeting": {
          "description": "Optional. Targeting criteria for the curated package.",
          "$ref": "PackageTargeting"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The curated package is active.",
            "The curated package is inactive."
          ],
          "description": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method.",
          "readOnly": true,
          "type": "string"
        },
        "accessSettings": {
          "description": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource.",
          "$ref": "AccessControlSettings"
        },
        "description": {
          "description": "Optional. A description of the curated package, provided by the curator.",
          "type": "string"
        },
        "floorPriceCpm": {
          "description": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method.",
          "$ref": "Money"
        },
        "displayName": {
          "description": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string"
        },
        "millipercentOfMediaFee": {
          "format": "int64",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000.",
          "type": "string"
        },
        "feeCpm": {
          "description": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method.",
          "$ref": "Money"
        }
      }
    },
    "MediaPlanner": {
      "type": "object",
      "properties": {
        "ancestorNames": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "accountId": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. Account ID of the media planner."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        }
      },
      "id": "MediaPlanner",
      "description": "Represents a media planner account."
    },
    "PackagePlacementTargeting": {
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "id": "PackagePlacementTargeting",
      "properties": {
        "includedMobileAppCategoryTargeting": {
          "description": "Optional. The list of targeted mobile app categories.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "mobileAppTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
        },
        "uriTargeting": {
          "description": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url.",
          "$ref": "StringTargetingDimension"
        }
      },
      "type": "object"
    },
    "TaxonomyTargeting": {
      "description": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space.",
      "properties": {
        "targetedTaxonomyIds": {
          "description": "Optional. The list of targeted content taxonomy IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedTaxonomyIds": {
          "type": "array",
          "description": "Optional. The list of excluded content taxonomy IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TaxonomyTargeting"
    },
    "DeactivateCuratedPackageRequest": {
      "type": "object",
      "description": "Request message for DeactivateCuratedPackage.",
      "properties": {},
      "id": "DeactivateCuratedPackageRequest"
    },
    "DeactivateDataSegmentRequest": {
      "type": "object",
      "id": "DeactivateDataSegmentRequest",
      "properties": {},
      "description": "Request message for deactivating a data segment"
    },
    "VideoPlayerSizeTargeting": {
      "description": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values.",
      "type": "object",
      "id": "VideoPlayerSizeTargeting",
      "properties": {
        "minimumWidth": {
          "description": "Required. The minimum width of the video player in pixels.",
          "type": "string",
          "format": "int64"
        },
        "minimumHeight": {
          "description": "Required. The minimum height of the video player in pixels.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListMediaPlannersResponse": {
      "description": "A response containing media planner account information.",
      "properties": {
        "mediaPlanners": {
          "description": "List of media planners.",
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the `ListMediaPlanners` method to retrieve the next page of results in ListMediaPlannersRequest.pageToken.",
          "type": "string"
        }
      },
      "id": "ListMediaPlannersResponse",
      "type": "object"
    },
    "ActivateDataSegmentRequest": {
      "type": "object",
      "description": "Request message for activating a data segment",
      "properties": {},
      "id": "ActivateDataSegmentRequest"
    },
    "StringTargetingDimension": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The values specified.",
          "type": "array"
        },
        "selectionType": {
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "description": "Required. How the items in this list should be targeted.",
          "type": "string",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ]
        }
      },
      "description": "Generic targeting with string values.",
      "type": "object",
      "id": "StringTargetingDimension"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "Money",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListCuratedPackagesResponse": {
      "type": "object",
      "id": "ListCuratedPackagesResponse",
      "properties": {
        "curatedPackages": {
          "type": "array",
          "description": "The list of curated packages.",
          "items": {
            "$ref": "CuratedPackage"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results."
        }
      },
      "description": "Response message for ListCuratedPackages."
    },
    "ListDataSegmentsResponse": {
      "description": "Response message for listing data segments.",
      "properties": {
        "dataSegments": {
          "items": {
            "$ref": "DataSegment"
          },
          "description": "The list of data segments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListDataSegmentsResponse"
    },
    "AdSize": {
      "id": "AdSize",
      "properties": {
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative."
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "title": "Authorized Buyers Marketplace API",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "id": "authorizedbuyersmarketplace:v1beta",
  "resources": {
    "mediaPlanners": {
      "methods": {
        "list": {
          "id": "authorizedbuyersmarketplace.mediaPlanners.list",
          "scopes": [
            "https://www.googleapis.com/auth/authorized-buyers-marketplace"
          ],
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "flatPath": "v1beta/mediaPlanners",
          "parameterOrder": [],
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "path": "v1beta/mediaPlanners",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A token identifying a page of results the server should return. This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`"
            }
          }
        }
      }
    },
    "curators": {
      "resources": {
        "dataSegments": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of data segment to get. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "required": true,
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "description": "Gets a data segment given its name.",
              "id": "authorizedbuyersmarketplace.curators.dataSegments.get",
              "flatPath": "v1beta/curators/{curatorsId}/dataSegments/{dataSegmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "deactivate": {
              "description": "Deactivates a data segment.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1beta/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "flatPath": "v1beta/curators/{curatorsId}/dataSegments/{dataSegmentsId}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.curators.dataSegments.deactivate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of data segment to deactivate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the parent curator that can access the data segment. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.curators.dataSegments.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/curators/{curatorsId}/dataSegments",
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "description": "List the data segments owned by a curator.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1beta/{+parent}/dataSegments"
            },
            "activate": {
              "description": "Activates a data segment.",
              "path": "v1beta/{+name}:activate",
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "flatPath": "v1beta/curators/{curatorsId}/dataSegments/{dataSegmentsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of data segment to activate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.curators.dataSegments.activate"
            },
            "create": {
              "path": "v1beta/{+parent}/dataSegments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "flatPath": "v1beta/curators/{curatorsId}/dataSegments",
              "request": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource where this data segment will be created. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`"
                }
              },
              "id": "authorizedbuyersmarketplace.curators.dataSegments.create"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                },
                "name": {
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "location": "path",
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "description": "Updates a data segment.",
              "response": {
                "$ref": "DataSegment"
              },
              "request": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.curators.dataSegments.patch",
              "flatPath": "v1beta/curators/{curatorsId}/dataSegments/{dataSegmentsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "curatedPackages": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a curated package given its resource name.",
              "flatPath": "v1beta/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.get"
            },
            "list": {
              "path": "v1beta/{+parent}/curatedPackages",
              "description": "Lists curated packages owned by the specified curator.",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^curators/[^/]+$",
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1beta/curators/{curatorsId}/curatedPackages",
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              }
            },
            "deactivate": {
              "response": {
                "$ref": "CuratedPackage"
              },
              "flatPath": "v1beta/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.deactivate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deactivates an existing curated package.",
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "path": "v1beta/{+name}:deactivate"
            },
            "activate": {
              "path": "v1beta/{+name}:activate",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.activate",
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              },
              "description": "Activates an existing curated package.",
              "response": {
                "$ref": "CuratedPackage"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "CuratedPackage"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Updates an existing curated package.",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "location": "path",
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "CuratedPackage"
              }
            },
            "create": {
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.create",
              "flatPath": "v1beta/curators/{curatorsId}/curatedPackages",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "description": "Creates a new curated package.",
              "path": "v1beta/{+parent}/curatedPackages",
              "request": {
                "$ref": "CuratedPackage"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        }
      }
    }
  }
}