{
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "version": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version_module": true,
  "canonicalName": "Authorized Buyers Marketplace",
  "title": "Authorized Buyers Marketplace API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "name": "authorizedbuyersmarketplace",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "schemas": {
    "DealPausingInfo": {
      "id": "DealPausingInfo",
      "properties": {
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is consented between buyer and seller for the deal."
        },
        "pauseRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "The party that first paused the deal; unspecified for active deals."
        },
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information related to deal pausing."
    },
    "AuctionPackage": {
      "id": "AuctionPackage",
      "type": "object",
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the auction package was created.",
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "eligibleSeatIds": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
        },
        "subscribedMediaPlanners": {
          "type": "array",
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "readOnly": true,
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "updateTime": {
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display_name assigned to the auction package."
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "subscribedClients": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "type": "array"
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "type": "string",
          "readOnly": true
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        },
        "subscribedBuyers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "properties": {
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "mediaKitUrl": {
          "type": "string",
          "description": "URL to additional marketing and sales materials."
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "topHeadlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\"."
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        }
      },
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "type": "object"
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "type": "object",
      "description": "Request to cancel an ongoing negotiation.",
      "properties": {}
    },
    "InventoryTypeTargeting": {
      "properties": {
        "inventoryTypes": {
          "description": "The list of targeted inventory types for the bid request.",
          "items": {
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ],
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Targeting of the inventory types a bid request can originate from.",
      "id": "InventoryTypeTargeting",
      "type": "object"
    },
    "CreativeRequirements": {
      "properties": {
        "programmaticCreativeSource": {
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "readOnly": true,
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "type": "string"
        },
        "creativeSafeFrameCompatibility": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "type": "string",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ]
        },
        "maxAdDurationMs": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "type": "string"
        },
        "creativeFormat": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals."
        },
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives."
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "type": "string",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ]
        }
      },
      "id": "CreativeRequirements",
      "type": "object",
      "description": "Message captures data about the creatives in the deal."
    },
    "UriTargeting": {
      "id": "UriTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "properties": {
        "targetedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included.",
          "type": "array"
        },
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty."
        },
        "excludedPositionTypes": {
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        }
      },
      "description": "Represents targeting information about video."
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "type": "object",
      "properties": {
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "Deals updated.",
          "type": "array"
        }
      },
      "id": "BatchUpdateDealsResponse"
    },
    "ListClientsResponse": {
      "description": "Response message for the list method.",
      "type": "object",
      "properties": {
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListClientsResponse"
    },
    "ClientUser": {
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "id": "ClientUser",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "type": "string"
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`"
        }
      },
      "type": "object"
    },
    "Proposal": {
      "id": "Proposal",
      "properties": {
        "lastUpdaterOrCommentorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "readOnly": true
        },
        "publisherProfile": {
          "type": "string",
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "notes": {
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "proposalRevision": {
          "readOnly": true,
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "format": "int64",
          "type": "string"
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "sellerContacts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Contact"
          },
          "description": "Output only. Contact information for the seller."
        },
        "state": {
          "description": "Output only. Indicates the state of the proposal.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ]
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the proposal was last revised."
        },
        "originatorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "readOnly": true
        },
        "termsAndConditions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Buyer private data (hidden from seller)."
        },
        "displayName": {
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "type": "string",
          "readOnly": true
        },
        "client": {
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string"
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        }
      },
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
    },
    "PrivateAuctionTerms": {
      "description": "Pricing terms for Private Auctions.",
      "type": "object",
      "id": "PrivateAuctionTerms",
      "properties": {
        "openAuctionAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        },
        "floorPrice": {
          "$ref": "Price",
          "description": "The minimum price buyer has to bid to compete in the private auction."
        }
      }
    },
    "BatchUpdateDealsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "description": "Required. List of request messages to update deals.",
          "type": "array"
        }
      },
      "id": "BatchUpdateDealsRequest",
      "type": "object",
      "description": "Request message for batch updating deals."
    },
    "AddNoteRequest": {
      "type": "object",
      "description": "Request to add a note.",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "id": "AddNoteRequest"
    },
    "MediaPlanner": {
      "id": "MediaPlanner",
      "properties": {
        "ancestorNames": {
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "accountId": {
          "description": "Output only. Account ID of the media planner.",
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a media planner account.",
      "type": "object"
    },
    "PrivateData": {
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "type": "object",
      "id": "PrivateData",
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      }
    },
    "ActivateClientRequest": {
      "id": "ActivateClientRequest",
      "description": "Request message for activating a client.",
      "properties": {},
      "type": "object"
    },
    "ListDealsResponse": {
      "type": "object",
      "properties": {
        "deals": {
          "description": "The list of deals.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "id": "ListDealsResponse",
      "description": "Response message for listing deals in a proposal."
    },
    "SubscribeClientsRequest": {
      "type": "object",
      "id": "SubscribeClientsRequest",
      "description": "Request message for SubscribeAuctionPackageClients.",
      "properties": {
        "clients": {
          "type": "array",
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SubscribeAuctionPackageRequest": {
      "properties": {},
      "description": "Request message for SubscribeAuctionPackage.",
      "type": "object",
      "id": "SubscribeAuctionPackageRequest"
    },
    "ListPublisherProfilesResponse": {
      "type": "object",
      "properties": {
        "publisherProfiles": {
          "items": {
            "$ref": "PublisherProfile"
          },
          "description": "The list of matching publisher profiles.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for profiles visible to the buyer.",
      "id": "ListPublisherProfilesResponse"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      }
    },
    "UnsubscribeClientsRequest": {
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`."
        }
      },
      "description": "Request message for UnsubscribeAuctionPackage.",
      "id": "UnsubscribeClientsRequest"
    },
    "MarketplaceTargeting": {
      "properties": {
        "excludedSensitiveCategoryIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs."
        },
        "inventoryTypeTargeting": {
          "$ref": "InventoryTypeTargeting",
          "readOnly": true,
          "description": "Output only. Inventory type targeting information."
        },
        "verticalTargeting": {
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "$ref": "CriteriaTargeting",
          "readOnly": true
        },
        "userListTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader."
        },
        "geoTargeting": {
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "inventorySizeTargeting": {
          "description": "Output only. Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting",
          "readOnly": true
        },
        "placementTargeting": {
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "technologyTargeting": {
          "description": "Output only. Technology targeting information, for example, operating system, device category.",
          "$ref": "TechnologyTargeting",
          "readOnly": true
        },
        "videoTargeting": {
          "description": "Output only. Video targeting information.",
          "$ref": "VideoTargeting",
          "readOnly": true
        },
        "daypartTargeting": {
          "description": "Daypart targeting information.",
          "$ref": "DayPartTargeting"
        }
      },
      "id": "MarketplaceTargeting",
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "type": "object"
    },
    "DeactivateClientRequest": {
      "description": "Request message for disabling a client.",
      "properties": {},
      "id": "DeactivateClientRequest",
      "type": "object"
    },
    "DeliveryControl": {
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced.",
      "properties": {
        "creativeRotationType": {
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ]
        },
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "type": "string",
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "readOnly": true
        },
        "frequencyCap": {
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "type": "array"
        },
        "deliveryRateType": {
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "type": "string"
        },
        "roadblockingType": {
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ]
        }
      },
      "type": "object"
    },
    "ListProposalsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "proposals": {
          "type": "array",
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals."
        }
      },
      "description": "Response message for listing proposals.",
      "type": "object",
      "id": "ListProposalsResponse"
    },
    "PlacementTargeting": {
      "type": "object",
      "properties": {
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        },
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        }
      },
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be included."
        },
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "TechnologyTargeting": {
      "properties": {
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        },
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        }
      },
      "id": "TechnologyTargeting",
      "type": "object",
      "description": "Represents targeting about various types of technology."
    },
    "FirstPartyMobileApplicationTargeting": {
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included."
        },
        "excludedAppIds": {
          "type": "array",
          "description": "A list of application IDs to be excluded.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
    },
    "ProgrammaticGuaranteedTerms": {
      "properties": {
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        },
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string",
          "format": "int64"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "impressionCap": {
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "type": "string"
        },
        "minimumDailyLooks": {
          "type": "string",
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
        },
        "guaranteedLooks": {
          "type": "string",
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        }
      },
      "id": "ProgrammaticGuaranteedTerms",
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "type": "object"
    },
    "Deal": {
      "id": "Deal",
      "type": "object",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "properties": {
        "sellerTimeZone": {
          "$ref": "TimeZone",
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "readOnly": true
        },
        "flightEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals."
        },
        "buyer": {
          "readOnly": true,
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "type": "string"
        },
        "billedBuyer": {
          "readOnly": true,
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "type": "string"
        },
        "deliveryControl": {
          "readOnly": true,
          "$ref": "DeliveryControl",
          "description": "Output only. Specifies the pacing set by the publisher."
        },
        "creativeRequirements": {
          "readOnly": true,
          "description": "Output only. Metadata about the creatives of this deal.",
          "$ref": "CreativeRequirements"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time of the deal creation."
        },
        "dealType": {
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "description": "Output only. Type of deal.",
          "readOnly": true,
          "type": "string"
        },
        "eligibleSeatIds": {
          "type": "array",
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "flightStartTime": {
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "buyerPermissionType": {
          "type": "string",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "readOnly": true,
          "description": "Output only. The buyer permission type of the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ]
        },
        "mediaPlanner": {
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser).",
          "readOnly": true
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "description": {
          "description": "Output only. Free text description for the deal terms.",
          "type": "string",
          "readOnly": true
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the deal was last updated.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "readOnly": true,
          "type": "string"
        },
        "proposalRevision": {
          "type": "string",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "format": "int64",
          "readOnly": true
        },
        "client": {
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        }
      }
    },
    "DayPartTargeting": {
      "type": "object",
      "properties": {
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        },
        "timeZoneType": {
          "type": "string",
          "description": "The time zone type of the day parts",
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ]
        }
      },
      "id": "DayPartTargeting",
      "description": "Represents Daypart targeting."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object"
    },
    "CriteriaTargeting": {
      "properties": {
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "excludedCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded."
        }
      },
      "type": "object",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "id": "CriteriaTargeting"
    },
    "AddCreativeRequest": {
      "id": "AddCreativeRequest",
      "properties": {
        "creative": {
          "type": "string",
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
        }
      },
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "type": "object"
    },
    "OperatingSystemTargeting": {
      "type": "object",
      "description": "Represents targeting information for operating systems.",
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      }
    },
    "Contact": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "id": "Contact",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "externalAppId": {
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "appStore": {
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "type": "string"
        }
      },
      "id": "PublisherProfileMobileApplication",
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "ActivateClientUserRequest": {
      "description": "Request message for activating a client user.",
      "properties": {},
      "id": "ActivateClientUserRequest",
      "type": "object"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "UpdateDealRequest": {
      "id": "UpdateDealRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        },
        "deal": {
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "$ref": "Deal"
        }
      },
      "description": "Request message for updating the deal at the given revision number.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListClientUsersResponse": {
      "type": "object",
      "properties": {
        "clientUsers": {
          "items": {
            "$ref": "ClientUser"
          },
          "type": "array",
          "description": "The returned list of client users."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for the list method.",
      "id": "ListClientUsersResponse"
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "finalizedDeals": {
          "items": {
            "$ref": "FinalizedDeal"
          },
          "type": "array",
          "description": "The list of finalized deals."
        }
      },
      "description": "Response message for listing finalized deals.",
      "type": "object",
      "id": "ListFinalizedDealsResponse"
    },
    "DeactivateClientUserRequest": {
      "type": "object",
      "id": "DeactivateClientUserRequest",
      "description": "Request message for deactivating a client user.",
      "properties": {}
    },
    "DayPart": {
      "description": "Defines targeting for a period of time on a specific week day.",
      "id": "DayPart",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Day of week for the period.",
          "type": "string"
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        }
      }
    },
    "MobileApplicationTargeting": {
      "id": "MobileApplicationTargeting",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      },
      "type": "object",
      "description": "Mobile application targeting settings."
    },
    "Client": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "sellerVisible": {
          "description": "Whether the client will be visible to sellers.",
          "type": "boolean"
        },
        "role": {
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "type": "string",
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client."
        },
        "state": {
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "description": "Output only. The state of the client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "partnerClientId": {
          "type": "string",
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        }
      },
      "id": "Client",
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "type": "object"
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "type": "object",
      "properties": {
        "publisherProfile": {
          "type": "string",
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`."
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "note": {
          "type": "string",
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters."
        },
        "flightStartTime": {
          "format": "google-datetime",
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string"
        },
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables."
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "buyerContacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "Contact information for the buyer."
        },
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the proposal being created by this RFP.",
          "type": "string"
        }
      },
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation."
    },
    "ListAuctionPackagesResponse": {
      "properties": {
        "auctionPackages": {
          "description": "The list of auction packages.",
          "items": {
            "$ref": "AuctionPackage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAuctionPackagesResponse",
      "description": "Response message for listing auction packages."
    },
    "FinalizedDeal": {
      "id": "FinalizedDeal",
      "type": "object",
      "properties": {
        "readyToServe": {
          "description": "Whether the Programmatic Guaranteed deal is ready for serving.",
          "type": "boolean"
        },
        "dealPausingInfo": {
          "$ref": "DealPausingInfo",
          "description": "Information related to deal pausing for the deal."
        },
        "dealServingStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ],
          "type": "string",
          "description": "Serving status of the deal."
        },
        "name": {
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`",
          "type": "string"
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        },
        "rtbMetrics": {
          "description": "Real-time bidding metrics for this deal.",
          "$ref": "RtbMetrics"
        }
      },
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
    },
    "SetReadyToServeRequest": {
      "id": "SetReadyToServeRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for setting ready to serve for a finalized deal."
    },
    "AdSize": {
      "properties": {
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the ad slot size.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ]
        }
      },
      "id": "AdSize",
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative."
    },
    "PauseFinalizedDealRequest": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "description": "Request message for pausing a finalized deal.",
      "type": "object",
      "id": "PauseFinalizedDealRequest"
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "description": "The last known client revision number of the proposal."
        }
      },
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "type": "object"
    },
    "ResumeFinalizedDealRequest": {
      "description": "Request message for resuming a finalized deal.",
      "type": "object",
      "properties": {},
      "id": "ResumeFinalizedDealRequest"
    },
    "RtbMetrics": {
      "type": "object",
      "id": "RtbMetrics",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "properties": {
        "filteredBidRate7Days": {
          "format": "double",
          "type": "number",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids)."
        },
        "bidRate7Days": {
          "format": "double",
          "type": "number",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests)."
        },
        "bids7Days": {
          "format": "int64",
          "description": "Bids in last 7 days.",
          "type": "string"
        },
        "bidRequests7Days": {
          "type": "string",
          "format": "int64",
          "description": "Bid requests in last 7 days."
        },
        "mustBidRateCurrentMonth": {
          "format": "double",
          "type": "number",
          "description": "Must bid rate for current month."
        },
        "adImpressions7Days": {
          "description": "Ad impressions in last 7 days.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Note": {
      "id": "Note",
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "properties": {
        "creatorRole": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role who created the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string"
        },
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PreferredDealTerms": {
      "id": "PreferredDealTerms",
      "properties": {
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        }
      },
      "type": "object",
      "description": "Pricing terms for Preferred Deals."
    },
    "Price": {
      "description": "Represents a price and a pricing type for a deal.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "description": "The pricing type for the deal."
        },
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        }
      },
      "id": "Price"
    },
    "UnsubscribeAuctionPackageRequest": {
      "properties": {},
      "type": "object",
      "id": "UnsubscribeAuctionPackageRequest",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "FrequencyCap": {
      "type": "object",
      "properties": {
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnitsCount": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer",
          "format": "int32"
        },
        "timeUnitType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        }
      },
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "id": "FrequencyCap"
    }
  },
  "revision": "20261008",
  "basePath": "",
  "resources": {
    "buyers": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "resume": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}:resume",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "httpMethod": "POST",
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume"
            },
            "list": {
              "path": "v1/{+parent}/finalizedDeals",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals",
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients."
            },
            "setReadyToServe": {
              "parameterOrder": [
                "deal"
              ],
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "path": "v1/{+deal}:setReadyToServe",
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "addCreative": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "deal": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "parameterOrder": [
                "deal"
              ],
              "path": "v1/{+deal}:addCreative",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative"
            },
            "pause": {
              "httpMethod": "POST",
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}:pause",
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause"
            },
            "get": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "description": "Gets a finalized deal given its name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "proposals": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
                }
              },
              "request": {
                "$ref": "Proposal"
              },
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}"
            },
            "cancelNegotiation": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "path": "v1/{+proposal}:cancelNegotiation",
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "proposal"
              ],
              "parameters": {
                "proposal": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string"
                }
              },
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'."
            },
            "accept": {
              "httpMethod": "POST",
              "path": "v1/{+name}:accept",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "parameterOrder": [
                "name"
              ],
[...]
