{
  "rootUrl": "https://backupdr.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Backupdr",
  "basePath": "",
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "description": "",
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "baseUrl": "https://backupdr.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "schemas": {
    "Trial": {
      "description": "Represents a Trial for a project.",
      "id": "Trial",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the trial will expire.",
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the trial was subscribed.",
          "type": "string"
        },
        "endReason": {
          "readOnly": true,
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "description": "Output only. The reason for ending the trial.",
          "type": "string",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ]
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the trial."
        }
      }
    },
    "DiskTargetEnvironment": {
      "type": "object",
      "description": "DiskTargetEnvironment represents the target environment for the disk.",
      "properties": {
        "zone": {
          "description": "Required. Target zone for the disk.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Required. Target project for the disk."
        },
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the disk restore.",
          "type": "boolean"
        }
      },
      "id": "DiskTargetEnvironment"
    },
    "DiskDataSourceProperties": {
      "id": "DiskDataSourceProperties",
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. .",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the disk."
        },
        "description": {
          "description": "The description of the disk.",
          "type": "string"
        },
        "name": {
          "description": "Name of the disk backed up by the datasource.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The size of the disk in GB.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "InitializeParams": {
      "properties": {
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specifies the parameters to initialize this disk.",
      "id": "InitializeParams",
      "type": "object"
    },
    "ListAutoProtectionPoliciesResponse": {
      "description": "Response message for ListAutoProtectionPolicies.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "autoProtectionPolicies": {
          "description": "A list of the AutoProtectionPolicy resources found.",
          "items": {
            "$ref": "AutoProtectionPolicy"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListAutoProtectionPoliciesResponse"
    },
    "ListAutoProtectionPolicyBindingsResponse": {
      "type": "object",
      "description": "Response message for ListAutoProtectionPolicyBindings.",
      "properties": {
        "autoProtectionPolicyBindings": {
          "description": "A list of the AutoProtectionPolicyBindings resources found.",
          "type": "array",
          "items": {
            "$ref": "AutoProtectionPolicyBinding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      },
      "id": "ListAutoProtectionPolicyBindingsResponse"
    },
    "DataSourceGcpResource": {
      "properties": {
        "filestoreInstanceDatasourceProperties": {
          "readOnly": true,
          "$ref": "FilestoreInstanceDataSourceProperties",
          "description": "Output only. FilestoreInstanceDataSourceProperties has a subset of FileStore instance properties that are useful at the Datasource level."
        },
        "diskDatasourceProperties": {
          "description": "DiskDataSourceProperties has a subset of Disk properties that are useful at the Datasource level.",
          "$ref": "DiskDataSourceProperties"
        },
        "cloudSqlInstanceDatasourceProperties": {
          "description": "Output only. CloudSqlInstanceDataSourceProperties has a subset of Cloud SQL Instance properties that are useful at the Datasource level.",
          "$ref": "CloudSqlInstanceDataSourceProperties",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Location of the resource: //\"global\"/\"unspecified\"."
        },
        "gcpResourcename": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full resource pathname URL of the source Google Cloud resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the Google Cloud resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance."
        },
        "computeInstanceDatasourceProperties": {
          "$ref": "ComputeInstanceDataSourceProperties",
          "description": "ComputeInstanceDataSourceProperties has a subset of Compute Instance properties that are useful at the Datasource level."
        },
        "alloyDbClusterDatasourceProperties": {
          "description": "Output only. AlloyDBClusterDataSourceProperties has a subset of AlloyDB cluster properties that are useful at the Datasource level. Currently none of its child properties are auditable. If new auditable properties are added, the AUDIT annotation should be added.",
          "readOnly": true,
          "$ref": "AlloyDBClusterDataSourceProperties"
        }
      },
      "description": "DataSourceGcpResource is used for protected resources that are Google Cloud Resources. This name is easeier to understand than GcpResourceDataSource or GcpDataSourceResource",
      "type": "object",
      "id": "DataSourceGcpResource"
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "type": "object",
      "properties": {
        "networkTier": {
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "type": "string",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ]
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "publicPtrDomainName": {
          "type": "string",
          "description": "Optional. The DNS domain name for the public PTR record."
        },
        "natIP": {
          "type": "string",
          "description": "Optional. The external IP address of this access configuration."
        },
        "externalIpv6": {
          "description": "Optional. The external IPv6 address of this access configuration.",
          "type": "string"
        },
        "type": {
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ]
        },
        "externalIpv6PrefixLength": {
          "type": "integer",
          "description": "Optional. The prefix length of the external IPv6 range.",
          "format": "int32"
        },
        "name": {
          "description": "Optional. The name of this access configuration.",
          "type": "string"
        }
      },
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      }
    },
    "CloudSqlInstanceInitializationConfig": {
      "type": "object",
      "description": "CloudSqlInstanceInitializationConfig contains the configuration for initializing a Cloud SQL instance.",
      "properties": {
        "edition": {
          "description": "Required. The edition of the Cloud SQL instance.",
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified edition.",
            "Enterprise edition.",
            "Enterprise Plus edition."
          ]
        }
      },
      "id": "CloudSqlInstanceInitializationConfig"
    },
    "BackupApplianceBackupConfig": {
      "type": "object",
      "properties": {
        "slpName": {
          "type": "string",
          "description": "The name of the SLP associated with the application."
        },
        "sltName": {
          "description": "The name of the SLT associated with the application.",
          "type": "string"
        },
        "hostName": {
          "description": "The name of the host where the application is running.",
          "type": "string"
        },
        "applicationName": {
          "type": "string",
          "description": "The name of the application."
        },
        "slaId": {
          "description": "The ID of the SLA of this application.",
          "type": "string",
          "format": "int64"
        },
        "backupApplianceName": {
          "type": "string",
          "description": "The name of the backup appliance."
        },
        "backupApplianceId": {
          "type": "string",
          "description": "The ID of the backup appliance.",
          "format": "int64"
        }
      },
      "description": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances.",
      "id": "BackupApplianceBackupConfig"
    },
    "ComputeInstanceBackupPlanProperties": {
      "type": "object",
      "properties": {
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
        }
      },
      "id": "ComputeInstanceBackupPlanProperties",
      "description": "Properties for a compute instance backup plan."
    },
    "AliasIpRange": {
      "description": "An alias IP range attached to an instance's network interface.",
      "properties": {
        "ipCidrRange": {
          "description": "Optional. The IP alias ranges to allocate for this interface.",
          "type": "string"
        },
        "subnetworkRangeName": {
          "type": "string",
          "description": "Optional. The name of a subnetwork secondary IP range from which to allocate an IP alias range. If not specified, the primary range of the subnetwork is used."
        }
      },
      "type": "object",
      "id": "AliasIpRange"
    },
    "NodeAffinity": {
      "type": "object",
      "id": "NodeAffinity",
      "properties": {
        "operator": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "Optional. Defines the operation of node selection."
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of Node resource."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Corresponds to the label values of Node resource."
        }
      },
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled."
    },
    "Metadata": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Entry"
          },
          "description": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB."
        }
      },
      "type": "object",
      "description": "A metadata key/value entry.",
      "id": "Metadata"
    },
    "FetchMsComplianceMetadataRequest": {
      "id": "FetchMsComplianceMetadataRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project id of the target project"
        }
      },
      "description": "Request message for GetMsComplianceMetadata"
    },
    "FetchAccessTokenRequest": {
      "description": "Request message for FetchAccessToken.",
      "id": "FetchAccessTokenRequest",
      "type": "object",
      "properties": {
        "generationId": {
          "format": "int32",
          "description": "Required. The generation of the backup to update.",
          "type": "integer"
        }
      }
    },
    "DiskBackupPlanProperties": {
      "type": "object",
      "description": "Properties for a disk backup plan.",
      "id": "DiskBackupPlanProperties",
      "properties": {
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false."
        }
      }
    },
    "WorkforceIdentityBasedOAuth2ClientID": {
      "description": "OAuth Client ID depending on the Workforce Identity i.e. either 1p or 3p,",
      "id": "WorkforceIdentityBasedOAuth2ClientID",
      "properties": {
        "thirdPartyOauth2ClientId": {
          "description": "Output only. Third party OAuth Client ID for External Identity Providers.",
          "type": "string",
          "readOnly": true
        },
        "firstPartyOauth2ClientId": {
          "type": "string",
          "description": "Output only. First party OAuth Client ID for Google Identities.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FilestoreInstanceBackupPlanAssociationProperties": {
      "properties": {
        "instanceCreateTime": {
          "type": "string",
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Filestore instance's BPA properties.",
      "id": "FilestoreInstanceBackupPlanAssociationProperties"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "BackupGcpResource": {
      "id": "BackupGcpResource",
      "properties": {
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        },
        "gcpResourcename": {
          "type": "string",
          "description": "Name of the Google Cloud resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource: //\"global\"/\"unspecified\"."
        }
      },
      "description": "Minimum details to identify a Google Cloud resource for a backup.",
      "type": "object"
    },
    "BackupConfigInfo": {
      "properties": {
        "lastBackupError": {
          "description": "Output only. If the last backup failed, this field has the error message.",
          "$ref": "Status",
          "readOnly": true
        },
        "backupApplianceBackupConfig": {
          "description": "Configuration for an application backed up by a Backup Appliance.",
          "$ref": "BackupApplianceBackupConfig"
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If the last backup were successful, this field has the consistency date."
        },
        "lastBackupState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "description": "Output only. The status of the last backup to this BackupVault"
        },
        "gcpBackupConfig": {
          "$ref": "GcpBackupConfig",
          "description": "Configuration for a Google Cloud resource."
        }
      },
      "type": "object",
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault.",
      "id": "BackupConfigInfo"
    },
    "ServiceLockInfo": {
      "id": "ServiceLockInfo",
      "properties": {
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the operation that created this lock. The lock will automatically be released when the operation completes."
        }
      },
      "type": "object",
      "description": "ServiceLockInfo represents the details of a lock taken by the service on a Backup resource."
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance."
        },
        "acceleratorType": {
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance.",
          "type": "string"
        }
      },
      "description": "A specification of the type and number of accelerator cards attached to the instance."
    },
    "SetInternalStatusRequest": {
      "description": "Request message for SetStatusInternal method.",
      "id": "SetInternalStatusRequest",
      "properties": {
        "backupConfigState": {
          "type": "string",
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ],
          "description": "Required. Output only. The new BackupConfigState to set for the DataSource."
        },
        "value": {
          "type": "string",
          "description": "Required. The value required for this method to work. This field must be the 32-byte SHA256 hash of the DataSourceID. The DataSourceID used here is only the final piece of the fully qualified resource path for this DataSource (i.e. the part after '.../dataSources/'). This field exists to make this method difficult to call since it is intended for use only by Backup Appliances.",
          "format": "byte"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListBackupPlanRevisionsResponse": {
      "type": "object",
      "properties": {
        "backupPlanRevisions": {
          "description": "The list of `BackupPlanRevisions` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupPlanRevision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanRevisions` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for getting a list of `BackupPlanRevision`.",
      "id": "ListBackupPlanRevisionsResponse"
    },
    "ReconciliationOperationMetadata": {
      "id": "ReconciliationOperationMetadata",
      "type": "object",
      "properties": {
        "deleteResource": {
          "deprecated": true,
          "description": "DEPRECATED. Use exclusive_action instead.",
          "type": "boolean"
        },
        "exclusiveAction": {
          "type": "string",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "description": "Excluisive action returned by the CLH.",
          "enumDeprecated": [
            false,
            true,
            false
          ]
        }
      },
      "description": "Operation metadata returned by the CLH during resource state reconciliation."
    },
    "BackupDrTemplateConfig": {
      "properties": {
        "thirdPartyManagementUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users."
        },
        "firstPartyManagementUri": {
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "id": "BackupDrTemplateConfig",
      "type": "object"
    },
    "SchedulingDuration": {
      "description": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "id": "SchedulingDuration",
      "properties": {
        "seconds": {
          "type": "string",
          "description": "Optional. Span of time at a resolution of a second.",
          "format": "int64"
        },
        "nanos": {
          "description": "Optional. Span of time that's a fraction of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListBackupPlanAssociationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "backupPlanAssociations": {
          "description": "The list of Backup Plan Associations in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup plan associations in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupPlanAssociation"
          },
          "type": "array"
        }
      },
      "id": "ListBackupPlanAssociationsResponse",
      "description": "Response message for List BackupPlanAssociation"
    },
    "ListBindingMatchingResourcesResponse": {
      "description": "The response message for getting a list of `BindingMatchingResources`.",
      "id": "ListBindingMatchingResourcesResponse",
      "type": "object",
      "properties": {
        "matchingResources": {
          "description": "The list of `BindingMatchingResources` in the project,location for the specified binding.",
          "items": {
            "$ref": "BindingMatchingResource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBindingMatchingResources` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      }
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "properties": {
        "instanceCreateTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "CloudSqlInstanceBackupPlanAssociationProperties",
      "description": "Cloud SQL instance's BPA properties.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "NetworkInterface": {
      "type": "object",
      "properties": {
        "nicType": {
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ],
          "type": "string",
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ]
        },
        "aliasIpRanges": {
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks.",
          "items": {
            "$ref": "AliasIpRange"
          },
          "type": "array"
        },
        "stackType": {
          "description": "The stack type for this network interface.",
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ],
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ]
        },
        "networkAttachment": {
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}.",
          "type": "string"
        },
        "accessConfigs": {
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access.",
          "items": {
            "$ref": "AccessConfig"
          },
          "type": "array"
        },
        "ipv6AccessType": {
          "description": "Optional. [Output Only] One of EXTERNAL, INTERNAL to indicate whether the IP can be accessed from the Internet. This field is always inherited from its subnetwork.",
          "enumDescriptions": [
            "IPv6 access type not set. Means this network interface hasn't been turned on IPv6 yet.",
            "This network interface can have internal IPv6.",
            "This network interface can have external IPv6."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_IPV6_ACCESS_TYPE",
            "INTERNAL",
            "EXTERNAL"
          ]
        },
        "network": {
          "type": "string",
          "description": "Optional. URL of the VPC network resource for this instance."
        },
        "ipv6Address": {
          "type": "string",
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork."
        },
        "networkIP": {
          "type": "string",
          "description": "Optional. An IPv4 internal IP address to assign to the instance for this network interface. If not specified by the user, an unused internal IP is assigned by the system."
        },
        "queueCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users."
        },
        "internalIpv6PrefixLength": {
          "type": "integer",
          "description": "Optional. The prefix length of the primary internal IPv6 range.",
          "format": "int32"
        },
        "ipv6AccessConfigs": {
          "type": "array",
          "items": {
            "$ref": "AccessConfig"
          },
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access."
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The URL of the Subnetwork resource for this instance."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server."
        }
      },
      "id": "NetworkInterface",
      "description": "A network interface resource attached to an instance. s"
    },
    "ConfidentialInstanceConfig": {
      "id": "ConfidentialInstanceConfig",
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance should have confidential compute enabled."
        }
      },
      "type": "object",
      "description": "A set of Confidential Instance options."
    },
    "Tags": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035."
        }
      },
      "description": "A set of instance tags.",
      "id": "Tags"
    },
    "InstanceParams": {
      "type": "object",
      "properties": {
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags to be bound to the instance.",
          "type": "object"
        }
      },
      "description": "Additional instance params.",
      "id": "InstanceParams"
    },
    "RuleConfigInfo": {
      "description": "Message for rules config info.",
      "properties": {
        "ruleId": {
          "readOnly": true,
          "description": "Output only. Backup Rule id fetched from backup plan.",
          "type": "string"
        },
        "lastBackupState": {
          "type": "string",
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "PERMISSION_DENIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State not set.",
            "The first backup is pending.",
            "The most recent backup could not be run/failed because of the lack of permissions.",
            "The last backup operation succeeded.",
            "The last backup operation failed."
          ],
          "description": "Output only. The last backup state for rule.",
          "readOnly": true
        },
        "lastBackupError": {
          "description": "Output only. google.rpc.Status object to store the last backup error.",
          "$ref": "Status",
          "readOnly": true
        },
        "lastSuccessfulBackupConsistencyTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The point in time when the last successful backup was captured from the source."
        }
      },
      "type": "object",
      "id": "RuleConfigInfo"
    },
    "AutoProtectionDetails": {
      "type": "object",
      "description": "AutoProtectionDetails contains the protection details of a resource from the current binding's perspective.",
      "id": "AutoProtectionDetails",
      "properties": {
        "state": {
          "description": "Output only. Protection state of the resource from the current binding's perspective. Output only.",
          "enumDescriptions": [
            "State unspecified.",
            "Resource is protected.",
            "Resource protection failed.",
            "Resource is being unprotected.",
            "Resource unprotection failed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROTECTED",
            "PROTECTION_FAILED",
            "UNPROTECTING",
            "UNPROTECTION_FAILED"
          ]
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error during last sync for protection/unprotection, if any."
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. Resource name of the datasource linked to the resource, if any. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{dataSourceId}",
          "readOnly": true
        },
        "backupPlanAssociation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of backup plan association linked to the resource, if any. Format: projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
        }
      }
    },
    "BindingSummary": {
      "description": "BindingSummary contains count of different containers covered through this policy.",
      "type": "object",
      "id": "BindingSummary",
      "properties": {
        "projectCount": {
          "type": "string",
          "description": "Output only. Total count of Projects protected with this policy.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "KeyValuePair": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The values of the label to match. There will be explicit “OR” between values of array. Each value must be in the format `{label_value}`. The value must match the regex Format: `[\\\\p{Ll}\\\\p{Lo}\\\\p{N}_-]{1,63}`.",
          "type": "array"
        },
        "key": {
          "description": "Required. The key of the label to match. This must be in the format `{label_key}`. The key must match the regex Format:`\\p{Ll}\\p{Lo}{0,62}`.",
          "type": "string"
        }
      },
      "id": "KeyValuePair",
      "type": "object",
      "description": "KeyValuePair defines a key-value pair for matching resource labels."
    },
    "BackupVault": {
      "properties": {
        "totalStoredBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total size of the storage used by all backup resources."
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. Immutable after resource creation until resource deletion.",
          "readOnly": true,
          "type": "string"
        },
        "backupMinimumEnforcedRetentionDuration": {
          "description": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "format": "google-duration",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the BackupVault instance (2048 characters or less)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated.",
          "type": "string",
          "readOnly": true
        },
        "accessRestriction": {
          "description": "Optional. Restricts access to certain sources and destinations for data being sent into, or restored from, the backup vault. Defaults to WITHIN_ORGANIZATION if not provided during creation.",
          "enumDescriptions": [
            "Access restriction not set. If user does not provide any value or pass this value, it will be changed to WITHIN_ORGANIZATION.",
            "Access to or from resources outside your current project will be denied.",
            "Access to or from resources outside your current organization will be denied.",
            "No access restriction.",
            "Access to or from resources outside your current organization will be denied except for backup appliance."
          ],
          "type": "string",
          "enum": [
            "ACCESS_RESTRICTION_UNSPECIFIED",
            "WITHIN_PROJECT",
            "WITHIN_ORGANIZATION",
            "UNRESTRICTED",
            "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          ]
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config of the backup vault."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
          "type": "string"
        },
        "backupCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The number of backups in this backup vault."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The backup vault is being created.",
            "The backup vault has been created and is fully usable.",
            "The backup vault is being deleted.",
            "The backup vault is experiencing an issue and might be unusable.",
            "The backup vault is being updated."
          ],
          "description": "Output only. The BackupVault resource instance state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "readOnly": true
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. Set to true when there are no backups nested under this resource.",
          "type": "boolean"
        },
        "backupRetentionInheritance": {
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "description": "Optional. Setting for how a backup's enforced retention end time is inherited.",
          "type": "string",
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ]
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there.",
          "type": "string"
        },
        "effectiveTime": {
          "description": "Optional. Time after which the BackupVault resource is locked.",
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data."
        }
      },
      "description": "Message describing a BackupVault object.",
      "type": "object",
      "id": "BackupVault"
    },
    "ManagementServer": {
      "type": "object",
      "description": "ManagementServer describes a single BackupDR ManagementServer instance.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name."
        },
        "baProxyUri": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by BAs to connect to BA proxy.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other.",
          "type": "string"
        },
        "workforceIdentityBasedOauth2ClientId": {
          "$ref": "WorkforceIdentityBasedOAuth2ClientID",
          "description": "Output only. The OAuth client IDs for both types of user i.e. 1p and 3p.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "INSTANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "ERROR"
          ],
          "description": "Output only. The ManagementServer state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance has been created and is fully usable.",
            "The instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "The instance is being deleted.",
            "The instance is being repaired and may be unstable.",
            "Maintenance is being performed on this instance.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the statusMessage field of Instance resource."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Labels currently defined: 1. migrate_from_go= If set to true, the MS is created in migration ready mode.",
          "type": "object"
        },
        "workforceIdentityBasedManagementUri": {
          "$ref": "WorkforceIdentityBasedManagementURI",
          "readOnly": true,
          "description": "Output only. The hostnames of the exposed AGM endpoints for both types of user i.e. 1p and 3p, used to connect AGM/RM UI."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated.",
          "type": "string"
        },
        "networks": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Optional. VPC networks to which the ManagementServer instance is connected. For this version, only a single network is supported. This field is optional if MS is created without PSA",
          "type": "array"
        },
        "managementUri": {
          "readOnly": true,
          "$ref": "ManagementURI",
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by clients to connect to AGM/RD graphical user interface and APIs."
        },
        "description": {
          "description": "Optional. The description of the ManagementServer instance (2048 characters or less).",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the instance was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. The type of the ManagementServer resource.",
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "BACKUP_RESTORE"
          ],
          "enumDescriptions": [
            "Instance type is not mentioned.",
            "Instance for backup and restore management (i.e., AGM)."
          ]
        },
        "oauth2ClientId": {
          "description": "Output only. The OAuth 2.0 client id is required to make API calls to the Backup and DR instance API of this ManagementServer. This is the value that should be provided in the 'aud' field of the OIDC ID Token (see openid specification https://openid.net/specs/openid-connect-core-1_0.html#IDToken).",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ManagementServer"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "BackupLock": {
      "type": "object",
      "id": "BackupLock",
      "properties": {
        "lockUntilTime": {
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "type": "string",
          "format": "google-datetime"
        },
        "backupApplianceLockInfo": {
          "$ref": "BackupApplianceLockInfo",
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists."
        },
        "serviceLockInfo": {
          "$ref": "ServiceLockInfo",
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups.",
          "readOnly": true
        }
      },
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted."
    },
    "BackupDrPlanConfig": {
      "properties": {
        "backupDrPlanRules": {
          "type": "array",
          "description": "Backup rules of the backup plan resource.",
          "items": {
            "$ref": "BackupDrPlanRule"
          }
        }
      },
      "id": "BackupDrPlanConfig",
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "type": "object"
    },
    "WorkforceIdentityBasedManagementURI": {
      "properties": {
        "firstPartyManagementUri": {
          "readOnly": true,
          "description": "Output only. First party Management URI for Google Identities.",
          "type": "string"
        },
        "thirdPartyManagementUri": {
          "type": "string",
          "description": "Output only. Third party Management URI for External Identity Providers.",
          "readOnly": true
        }
      },
      "id": "WorkforceIdentityBasedManagementURI",
      "description": "ManagementURI depending on the Workforce Identity i.e. either 1p or 3p.",
      "type": "object"
    },
    "ResourceBackupConfig": {
      "type": "object",
      "properties": {
        "targetResourceType": {
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ],
          "description": "Output only. The type of the target resource.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ],
          "readOnly": true
        },
        "targetResourceDisplayName": {
          "type": "string",
          "description": "Output only. The human friendly name of the target resource.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource backup config."
        },
        "backupConfigsDetails": {
          "items": {
            "$ref": "BackupConfigDetails"
          },
          "type": "array",
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated."
        },
        "targetResource": {
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType.",
          "type": "string",
          "readOnly": true
        },
        "vaulted": {
          "type": "boolean",
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set.",
          "readOnly": true
        },
        "backupConfigured": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}"
        },
        "targetResourceLabels": {
          "description": "Labels associated with the target resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ResourceBackupConfig",
      "description": "ResourceBackupConfig represents a resource along with its backup configurations."
    },
    "FetchBackupsForResourceTypeResponse": {
      "id": "FetchBackupsForResourceTypeResponse",
      "type": "object",
      "description": "Response for the FetchBackupsForResourceType method.",
      "properties": {
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The Backups from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "unsupportedFeatures": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "MANAGEMENT_SERVER",
              "COMPUTE_INSTANCE",
              "PROTECTION_SUMMARY",
              "DISK",
              "CLOUD_SQL",
              "ALLOY_DB",
              "FILESTORE",
              "BV_AF",
              "CEP_MONITORING_COMPUTE_INSTANCE",
              "CEP_MONITORING_DISK",
              "BV_CUSTOM_PROBERS",
              "FT_CUSTOM_PROBERS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "Remove once parity achieved between BV_AF and BV_CUSTOM_PROBERS.",
              ""
            ]
          },
          "description": "List of features that are not supported in the location."
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceDataSourceProperties": {
      "id": "CloudSqlInstanceDataSourceProperties",
      "properties": {
        "instanceTier": {
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "type": "string",
          "readOnly": true
        },
        "instanceCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "databaseInstalledVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The installed database version of the Cloud SQL instance."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string"
        }
      },
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource.",
      "type": "object"
    },
    "FetchUsableBackupVaultsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "backupVaults": {
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          },
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for fetching usable BackupVaults.",
      "id": "FetchUsableBackupVaultsResponse"
    },
    "NetworkPerformanceConfig": {
      "type": "object",
      "id": "NetworkPerformanceConfig",
      "properties": {
        "totalEgressBandwidthTier": {
          "enumDescriptions": [
            "This value is unused.",
            "Default network performance config.",
            "Tier 1 network performance config."
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEFAULT",
            "TIER_1"
          ],
          "description": "Optional. The tier of the total egress bandwidth."
        }
      },
      "description": "Network performance configuration."
    },
    "AlloyDbPitrWindow": {
      "id": "AlloyDbPitrWindow",
      "description": "Point in time recovery window for an AlloyDB cluster.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The end time of the PITR window. It is not set if the corresponding Backup Plan Association is active.",
          "type": "string"
        },
        "logRetentionDays": {
          "type": "string",
          "description": "Output only. Log retention days for the PITR window.",
          "readOnly": true,
          "format": "int64"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The start time of the PITR window."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ManagementURI": {
      "type": "object",
      "id": "ManagementURI",
      "properties": {
        "api": {
          "description": "Output only. The ManagementServer AGM/RD API URL.",
          "readOnly": true,
          "type": "string"
        },
        "webUi": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD WebUI URL."
        }
      },
      "description": "ManagementURI for the Management Server resource."
    },
    "InitiateDeleteAutoProtectionPolicyBindingRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for initiating delete of an AutoProtectionPolicyBinding.",
      "id": "InitiateDeleteAutoProtectionPolicyBindingRequest"
    },
    "GcpBackupConfig": {
      "description": "GcpBackupConfig captures the Backup configuration details for Google Cloud resources. All Google Cloud resources regardless of type are protected with backup plan associations.",
      "type": "object",
      "id": "GcpBackupConfig",
      "properties": {
        "backupPlanRules": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the backup plan rules which point to this backupvault"
        },
        "backupPlanDescription": {
          "description": "The description of the backup plan.",
          "type": "string"
        },
        "autoProtectionPolicyBinding": {
          "description": "Output only. The resource name of the `AutoProtectionPolicyBinding` that manages this datasource, if any. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{policy}/bindings/{binding}`.",
          "type": "string",
          "readOnly": true
        },
        "backupPlan": {
          "type": "string",
          "description": "The name of the backup plan."
        },
        "backupPlanRevisionId": {
          "type": "string",
          "description": "The user friendly id of the backup plan revision. E.g. v0, v1 etc."
        },
        "backupPlanAssociation": {
          "type": "string",
          "description": "The name of the backup plan association."
        },
        "backupPlanRevisionName": {
          "description": "The name of the backup plan revision.",
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "description": "Network configuration for ManagementServer instance.",
      "properties": {
        "peeringMode": {
          "type": "string",
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported.",
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ]
        },
        "network": {
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected.",
          "type": "string"
        }
      },
      "id": "NetworkConfig",
      "type": "object"
    },
    "InitiateBackupResponse": {
      "id": "InitiateBackupResponse",
      "description": "Response message for InitiateBackup.",
      "type": "object",
      "properties": {
        "backup": {
          "description": "The name of the backup that was created.",
          "type": "string"
        },
        "newBackupGenerationId": {
          "format": "int32",
          "type": "integer",
          "description": "The generation id of the new backup."
        },
        "baseBackupGenerationId": {
          "type": "integer",
          "format": "int32",
          "description": "The generation id of the base backup. It is needed for the incremental backups."
        }
      }
    },
    "DiskRestoreProperties": {
      "properties": {
        "provisionedIops": {
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle.",
          "type": "string"
        },
        "instanceBackupSource": {
          "$ref": "RestoreDiskFromInstanceOptions",
          "description": "Options for creating a disk from a source Compute Instance backup."
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096."
        },
        "name": {
          "description": "Required. Name of the disk.",
          "type": "string"
        },
        "resourcePolicy": {
          "description": "Optional. Resource policies applied to this disk.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "type": "string",
          "format": "int64"
        },
        "resourceManagerTags": {
          "description": "Optional. Resource manager tags to be bound to the disk.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "architecture": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ]
        },
        "licenses": {
          "type": "array",
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image",
          "items": {
            "type": "string"
          }
        },
        "enableConfidentialCompute": {
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option.",
          "type": "boolean"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "guestOsFeature": {
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images."
        },
        "accessMode": {
          "description": "Optional. The access mode of the disk.",
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ],
          "type": "string",
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ]
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "type": {
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource."
        },
        "sizeGb": {
          "type": "string",
          "description": "Required. The size of the disk in GB.",
          "format": "int64"
        }
      },
      "description": "DiskRestoreProperties represents the properties of a Disk restore.",
      "id": "DiskRestoreProperties",
      "type": "object"
    },
    "ListResourceBackupConfigsResponse": {
      "type": "object",
      "id": "ListResourceBackupConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "resourceBackupConfigs": {
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array",
          "description": "The list of ResourceBackupConfigs for the specified scope."
        }
      },
      "description": "Response for ListResourceBackupConfigs."
    },
    "EndTrialRequest": {
      "type": "object",
      "properties": {
        "endReason": {
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "type": "string",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "description": "Required. The reason for ending the trial."
        }
      },
      "id": "EndTrialRequest",
      "description": "Request message for ending a trial."
    },
    "Backup": {
      "id": "Backup",
      "properties": {
        "diskBackupProperties": {
          "description": "Output only. Disk specific backup properties.",
          "readOnly": true,
          "$ref": "DiskBackupProperties"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ],
          "description": "Output only. The Backup resource instance state."
        },
        "serviceLocks": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "BackupLock"
          },
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup."
        },
        "computeInstanceBackupProperties": {
          "$ref": "ComputeInstanceBackupProperties",
          "readOnly": true,
          "description": "Output only. Compute Engine specific backup properties."
        },
        "alloyDbBackupProperties": {
          "readOnly": true,
          "$ref": "AlloyDbClusterBackupProperties",
          "description": "Output only. AlloyDB specific backup properties."
        },
        "cloudSqlInstanceBackupProperties": {
          "description": "Output only. Cloud SQL specific backup properties.",
          "$ref": "CloudSqlInstanceBackupProperties",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the Backup instance (2048 characters or less)."
        },
        "gcpBackupPlanInfo": {
          "$ref": "GCPBackupPlanInfo",
          "readOnly": true,
          "description": "Output only. Configuration for a Google Cloud resource."
        },
        "backupRetentionInheritance": {
          "readOnly": true,
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "type": "string",
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "description": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault."
        },
        "backupApplianceLocks": {
          "items": {
            "$ref": "BackupLock"
          },
          "description": "Optional. The list of BackupLocks taken by the accessor Backup Appliance.",
          "type": "array"
        },
        "satisfiesPzi": {
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. When this backup is automatically expired.",
          "type": "string"
        },
        "gcpResource": {
          "readOnly": true,
          "$ref": "BackupGcpResource",
          "description": "Output only. Unique identifier of the GCP resource that is being backed up."
        },
        "consistencyTime": {
          "readOnly": true,
          "description": "Output only. The point in time when this backup was captured from the source.",
          "format": "google-datetime",
          "type": "string"
        },
        "filestoreInstanceBackupProperties": {
          "readOnly": true,
          "description": "Output only. Filestore specific backup properties.",
          "$ref": "FilestoreInstanceBackupProperties"
        },
        "backupApplianceBackupProperties": {
          "description": "Output only. Backup Appliance specific backup properties.",
          "readOnly": true,
          "$ref": "BackupApplianceBackupProperties"
        },
        "backupType": {
          "enumDescriptions": [
            "Backup type is unspecified.",
            "Scheduled backup.",
            "On demand backup.",
            "Operational backup."
          ],
          "readOnly": true,
          "description": "Output only. Type of the backup, unspecified, scheduled or ondemand.",
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "SCHEDULED",
            "ON_DEMAND",
            "ON_DEMAND_OPERATIONAL"
          ]
        },
        "kmsKeyVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Optional. Output only. Reserved for future use.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the instance was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag to prevent updates from overwriting each other."
        },
        "enforcedRetentionEndTime": {
          "description": "Optional. The backup can not be deleted before this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. source resource size in bytes at the time of the backup.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Message describing a Backup object."
    },
    "CustomerEncryptionKey": {
      "description": "A customer-supplied encryption key.",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        },
        "kmsKeyServiceAccount": {
          "type": "string",
          "description": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used."
        },
        "rawKey": {
          "description": "Optional. Specifies a 256-bit customer-supplied encryption key.",
          "type": "string"
        },
        "rsaEncryptedKey": {
          "type": "string",
          "description": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource."
        }
      },
      "id": "CustomerEncryptionKey",
      "type": "object"
    },
    "ListBackupPlansResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backupPlans": {
          "description": "The list of `BackupPlans` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations. BackupPlan",
          "items": {
            "$ref": "BackupPlan"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for getting a list of `BackupPlan`.",
      "id": "ListBackupPlansResponse"
    },
    "DataSource": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "State not set.",
            "The data source is being created.",
            "The data source has been created and is fully usable.",
            "The data source is being deleted.",
            "The data source is experiencing an issue and might be unusable."
          ],
          "description": "Output only. The DataSource resource instance state."
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "dataSourceBackupApplianceApplication": {
          "description": "The backed up resource is a backup appliance application.",
          "$ref": "DataSourceBackupApplianceApplication"
        },
        "backupCount": {
          "description": "Number of backups in the data source.",
          "format": "int64",
          "type": "string"
        },
        "configState": {
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ],
          "description": "Output only. The backup configuration state.",
          "type": "string",
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
[...]
