{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta",
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "revision": "20260918",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "basePath": "",
  "rootUrl": "https://backupdr.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "ListDataSourceReferencesResponse": {
      "type": "object",
      "id": "ListDataSourceReferencesResponse",
      "description": "Response for the ListDataSourceReferences method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "dataSourceReferences": {
          "items": {
            "$ref": "DataSourceReference"
          },
          "type": "array",
          "description": "The DataSourceReferences from the specified parent."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BackupLock": {
      "properties": {
        "serviceLockInfo": {
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups.",
          "$ref": "ServiceLockInfo",
          "readOnly": true
        },
        "backupApplianceLockInfo": {
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists.",
          "$ref": "BackupApplianceLockInfo"
        },
        "lockUntilTime": {
          "format": "google-datetime",
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "type": "string"
        }
      },
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted.",
      "id": "BackupLock",
      "type": "object"
    },
    "InitiateDeleteAutoProtectionPolicyBindingRequest": {
      "id": "InitiateDeleteAutoProtectionPolicyBindingRequest",
      "description": "Request message for initiating delete of an AutoProtectionPolicyBinding.",
      "properties": {},
      "type": "object"
    },
    "SetInternalStatusRequest": {
      "id": "SetInternalStatusRequest",
      "type": "object",
      "properties": {
        "backupConfigState": {
          "description": "Required. Output only. The new BackupConfigState to set for the DataSource.",
          "readOnly": true,
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ]
        },
        "value": {
          "description": "Required. The value required for this method to work. This field must be the 32-byte SHA256 hash of the DataSourceID. The DataSourceID used here is only the final piece of the fully qualified resource path for this DataSource (i.e. the part after '.../dataSources/'). This field exists to make this method difficult to call since it is intended for use only by Backup Appliances.",
          "type": "string",
          "format": "byte"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for SetStatusInternal method."
    },
    "BackupDrPlanConfig": {
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "id": "BackupDrPlanConfig",
      "properties": {
        "backupDrPlanRules": {
          "items": {
            "$ref": "BackupDrPlanRule"
          },
          "type": "array",
          "description": "Backup rules of the backup plan resource."
        }
      },
      "type": "object"
    },
    "ListBackupVaultsResponse": {
      "type": "object",
      "properties": {
        "backupVaults": {
          "type": "array",
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListBackupVaultsResponse",
      "description": "Response message for listing BackupVaults."
    },
    "DiskBackupProperties": {
      "description": "DiskBackupProperties represents the properties of a Disk backup.",
      "id": "DiskBackupProperties",
      "type": "object",
      "properties": {
        "architecture": {
          "type": "string",
          "description": "The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ]
        },
        "type": {
          "type": "string",
          "description": "The URL of the type of the disk."
        },
        "sourceDisk": {
          "type": "string",
          "description": "The source disk used to create this backup."
        },
        "replicaZones": {
          "items": {
            "type": "string"
          },
          "description": "The URL of the Zones where the source disk should be replicated.",
          "type": "array"
        },
        "provisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "The number of throughput provisioned for the source disk."
        },
        "physicalBlockSizeBytes": {
          "description": "The physical block size of the source disk.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "A description of the source disk.",
          "type": "string"
        },
        "region": {
          "description": "Region and zone are mutually exclusive fields. The URL of the region of the source disk.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "description": "Indicates whether the source disk is using confidential compute mode.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source disk."
        },
        "licenses": {
          "type": "array",
          "description": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image.",
          "items": {
            "type": "string"
          }
        },
        "zone": {
          "description": "The URL of the Zone where the source disk.",
          "type": "string"
        },
        "storagePool": {
          "type": "string",
          "description": "The storage pool of the source disk."
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array",
          "description": "A list of guest OS features that are applicable to this backup."
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Size(in GB) of the source disk."
        },
        "accessMode": {
          "description": "The access mode of the source disk.",
          "type": "string"
        },
        "guestFlush": {
          "description": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false.",
          "type": "boolean"
        },
        "provisionedIops": {
          "format": "int64",
          "type": "string",
          "description": "The number of IOPS provisioned for the source disk."
        }
      }
    },
    "BackupPlanRevision": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "description": "Output only. Resource State",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ]
        },
        "backupPlanSnapshot": {
          "$ref": "BackupPlan",
          "description": "The Backup Plan being encompassed by this revision."
        }
      },
      "id": "BackupPlanRevision",
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time."
    },
    "DiskBackupPlanProperties": {
      "type": "object",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "id": "DiskBackupPlanProperties",
      "description": "Properties for a disk backup plan."
    },
    "BackupPlanDetail": {
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Required. The type of resource that this policy will automatically protect. For MVP, `compute.googleapis.com/Instance` and `compute.googleapis.com/Disk` are supported.",
          "type": "string"
        },
        "backupPlan": {
          "type": "string",
          "description": "Required. The resource name of the BackupPlan to apply to resources that match the policy's criteria. This backup plan must be in the same location as AutoProtectionPolicy. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
        }
      },
      "description": "BackupPlanDetail defines configuration of protection.",
      "id": "BackupPlanDetail"
    },
    "FetchMsComplianceMetadataRequest": {
      "description": "Request message for GetMsComplianceMetadata",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the target project",
          "type": "string"
        }
      },
      "id": "FetchMsComplianceMetadataRequest",
      "type": "object"
    },
    "FetchMsComplianceMetadataResponse": {
      "id": "FetchMsComplianceMetadataResponse",
      "type": "object",
      "description": "Response message for GetMsComplianceMetadata",
      "properties": {
        "isAssuredWorkload": {
          "type": "boolean",
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false."
        }
      }
    },
    "InitializeServiceRequest": {
      "id": "InitializeServiceRequest",
      "description": "Request message for initializing the service.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\"."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it."
        },
        "cloudSqlInstanceInitializationConfig": {
          "description": "Optional. The configuration for initializing a Cloud SQL instance.",
          "$ref": "CloudSqlInstanceInitializationConfig"
        },
        "backupPlanLocation": {
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StandardSchedule": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For e.g., Europe/Paris."
        },
        "hourlyFrequency": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 2 means jobs will run every 2 hours from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details."
        },
        "daysOfWeek": {
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          }
        },
        "recurrenceType": {
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ],
          "description": "Required. Specifies the `RecurrenceType` for the schedule.",
          "type": "string",
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ]
        },
        "weekDayOfMonth": {
          "$ref": "WeekDayOfMonth",
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied."
        },
        "months": {
          "items": {
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied."
        },
        "daysOfMonth": {
          "type": "array",
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "backupWindow": {
          "$ref": "BackupWindow",
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window."
        }
      },
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "id": "StandardSchedule",
      "type": "object"
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Cloud SQL instance's BPA properties.",
      "id": "CloudSqlInstanceBackupPlanAssociationProperties"
    },
    "BackupDrPlanRule": {
      "id": "BackupDrPlanRule",
      "description": "BackupDrPlanRule has rule specific information of the backup plan resource.",
      "properties": {
        "ruleId": {
          "description": "Output only. Unique Id of the backup rule.",
          "readOnly": true,
          "type": "string"
        },
        "lastSuccessfulBackupTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest successful backup created via this backup rule.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupConfigInfo": {
      "properties": {
        "backupApplianceBackupConfig": {
          "$ref": "BackupApplianceBackupConfig",
          "description": "Configuration for an application backed up by a Backup Appliance."
        },
        "gcpBackupConfig": {
          "description": "Configuration for a Google Cloud resource.",
          "$ref": "GcpBackupConfig"
        },
        "lastBackupState": {
          "readOnly": true,
          "description": "Output only. The status of the last backup to this BackupVault",
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "type": "string"
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If the last backup were successful, this field has the consistency date."
        },
        "lastBackupError": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. If the last backup failed, this field has the error message."
        }
      },
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault.",
      "id": "BackupConfigInfo",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceDataSourceReferenceProperties": {
      "type": "object",
      "description": "CloudSqlInstanceDataSourceReferenceProperties represents the properties of a Cloud SQL resource that are stored in the DataSourceReference.",
      "id": "CloudSqlInstanceDataSourceReferenceProperties",
      "properties": {
        "instanceTier": {
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true
        },
        "instanceCreateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance creation timestamp."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance."
        }
      }
    },
    "ConfidentialInstanceConfig": {
      "description": "A set of Confidential Instance options.",
      "type": "object",
      "id": "ConfidentialInstanceConfig",
      "properties": {
        "enableConfidentialCompute": {
          "description": "Optional. Defines whether the instance should have confidential compute enabled.",
          "type": "boolean"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "InitiateBackupResponse": {
      "id": "InitiateBackupResponse",
      "type": "object",
      "properties": {
        "baseBackupGenerationId": {
          "description": "The generation id of the base backup. It is needed for the incremental backups.",
          "format": "int32",
          "type": "integer"
        },
        "backup": {
          "type": "string",
          "description": "The name of the backup that was created."
        },
        "newBackupGenerationId": {
          "description": "The generation id of the new backup.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response message for InitiateBackup."
    },
    "ListDataSourcesResponse": {
      "description": "Response message for listing DataSources.",
      "id": "ListDataSourcesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "dataSources": {
          "description": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "DataSource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "description": "Response for the FetchDataSourceReferencesForResourceType method.",
      "id": "FetchDataSourceReferencesForResourceTypeResponse",
      "properties": {
        "dataSourceReferences": {
          "type": "array",
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PitrSettings": {
      "type": "object",
      "id": "PitrSettings",
      "description": "Point in time recovery settings of the backup configuration resource.",
      "properties": {
        "retentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of days to retain the backup.",
          "readOnly": true
        }
      }
    },
    "BindingEvaluationSummary": {
      "properties": {
        "matchingResourceCount": {
          "description": "Output only. The number of resources that currently match the policy's criteria.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "failedResourceCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of matching resources whose protection failed during job run.",
          "format": "int64"
        },
        "protectedResourceCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of matching resources that are successfully protected."
        }
      },
      "id": "BindingEvaluationSummary",
      "description": "BindingEvaluationSummary contains the summary of the last run of job that applies policy to matching resources for a given binding.",
      "type": "object"
    },
    "AutoProtectionDetails": {
      "id": "AutoProtectionDetails",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. Error during last sync for protection/unprotection, if any.",
          "$ref": "Status"
        },
        "dataSource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the datasource linked to the resource, if any. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{dataSourceId}"
        },
        "backupPlanAssociation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of backup plan association linked to the resource, if any. Format: projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Resource is protected.",
            "Resource protection failed.",
            "Resource is being unprotected.",
            "Resource unprotection failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROTECTED",
            "PROTECTION_FAILED",
            "UNPROTECTING",
            "UNPROTECTION_FAILED"
          ],
          "description": "Output only. Protection state of the resource from the current binding's perspective. Output only.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AutoProtectionDetails contains the protection details of a resource from the current binding's perspective."
    },
    "ListAutoProtectionPoliciesResponse": {
      "description": "Response message for ListAutoProtectionPolicies.",
      "properties": {
        "autoProtectionPolicies": {
          "description": "A list of the AutoProtectionPolicy resources found.",
          "type": "array",
          "items": {
            "$ref": "AutoProtectionPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListAutoProtectionPoliciesResponse"
    },
    "RemoveDataSourceRequest": {
      "description": "Message for deleting a DataSource.",
      "id": "RemoveDataSourceRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "RuleConfigInfo": {
      "type": "object",
      "properties": {
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "description": "Output only. The point in time when the last successful backup was captured from the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "ruleId": {
          "readOnly": true,
          "description": "Output only. Backup Rule id fetched from backup plan.",
          "type": "string"
        },
        "lastBackupState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "PERMISSION_DENIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The last backup state for rule.",
          "enumDescriptions": [
            "State not set.",
            "The first backup is pending.",
            "The most recent backup could not be run/failed because of the lack of permissions.",
            "The last backup operation succeeded.",
            "The last backup operation failed."
          ]
        },
        "lastBackupError": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. google.rpc.Status object to store the last backup error."
        }
      },
      "id": "RuleConfigInfo",
      "description": "Message for rules config info."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListManagementServersResponse": {
      "description": "Response message for listing management servers.",
      "id": "ListManagementServersResponse",
      "properties": {
        "managementServers": {
          "description": "The list of ManagementServer instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return management servers in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "ManagementServer"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "BindingSummary": {
      "description": "BindingSummary contains count of different containers covered through this policy.",
      "id": "BindingSummary",
      "properties": {
        "projectCount": {
          "format": "int64",
          "description": "Output only. Total count of Projects protected with this policy.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkPerformanceConfig": {
      "id": "NetworkPerformanceConfig",
      "properties": {
        "totalEgressBandwidthTier": {
          "enumDescriptions": [
            "This value is unused.",
            "Default network performance config.",
            "Tier 1 network performance config."
          ],
          "type": "string",
          "description": "Optional. The tier of the total egress bandwidth.",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEFAULT",
            "TIER_1"
          ]
        }
      },
      "type": "object",
      "description": "Network performance configuration."
    },
    "ListAppliedAutoProtectionPoliciesResponse": {
      "id": "ListAppliedAutoProtectionPoliciesResponse",
      "description": "Response message for ListAppliedAutoProtectionPolicies.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "appliedAutoProtectionPolicies": {
          "description": "A list of the AppliedAutoProtectionPolicy resources found.",
          "type": "array",
          "items": {
            "$ref": "AppliedAutoProtectionPolicy"
          }
        }
      }
    },
    "Criteria": {
      "id": "Criteria",
      "properties": {
        "matchingConditions": {
          "items": {
            "$ref": "MatchingCondition"
          },
          "description": "Required. A list of matching conditions that a resource must meet to be protected by the policy.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Criteria specifies a set of criteria for matching resources."
    },
    "DataSourceBackupConfigInfo": {
      "type": "object",
      "id": "DataSourceBackupConfigInfo",
      "properties": {
        "lastBackupState": {
          "type": "string",
          "description": "Output only. The status of the last backup in this DataSource",
          "readOnly": true,
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ]
        },
        "lastSuccessfulBackupConsistencyTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the last successful backup to this DataSource."
        }
      },
      "description": "Information of backup configuration on the DataSource."
    },
    "ServiceLockInfo": {
      "properties": {
        "operation": {
          "type": "string",
          "description": "Output only. The name of the operation that created this lock. The lock will automatically be released when the operation completes.",
          "readOnly": true
        }
      },
      "id": "ServiceLockInfo",
      "type": "object",
      "description": "ServiceLockInfo represents the details of a lock taken by the service on a Backup resource."
    },
    "DiskRestoreProperties": {
      "description": "DiskRestoreProperties represents the properties of a Disk restore.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty."
        },
        "provisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
        },
        "enableConfidentialCompute": {
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "resourcePolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Resource policies applied to this disk."
        },
        "name": {
          "description": "Required. Name of the disk.",
          "type": "string"
        },
        "type": {
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Required. The size of the disk in GB.",
          "type": "string",
          "format": "int64"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image",
          "type": "array"
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096.",
          "format": "int64"
        },
        "accessMode": {
          "type": "string",
          "description": "Optional. The access mode of the disk.",
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ],
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ]
        },
        "architecture": {
          "type": "string",
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ]
        },
        "provisionedIops": {
          "type": "string",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle.",
          "format": "int64"
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images.",
          "type": "array"
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource."
        },
        "instanceBackupSource": {
          "$ref": "RestoreDiskFromInstanceOptions",
          "description": "Options for creating a disk from a source Compute Instance backup."
        },
        "resourceManagerTags": {
          "type": "object",
          "description": "Optional. Resource manager tags to be bound to the disk.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DiskRestoreProperties"
    },
    "KeyValuePair": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the label to match. This must be in the format `{label_key}`. The key must match the regex Format:`\\p{Ll}\\p{Lo}{0,62}`."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The values of the label to match. There will be explicit “OR” between values of array. Each value must be in the format `{label_value}`. The value must match the regex Format: `[\\\\p{Ll}\\\\p{Lo}\\\\p{N}_-]{1,63}`."
        }
      },
      "id": "KeyValuePair",
      "description": "KeyValuePair defines a key-value pair for matching resource labels.",
      "type": "object"
    },
    "AlloyDBClusterDataSourceProperties": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource.",
          "readOnly": true
        },
        "clusterUid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cluster UID of the AlloyDB cluster backed up by the datasource."
        },
        "pitrWindows": {
          "items": {
            "$ref": "AlloyDbPitrWindow"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Point in time recovery windows. The order is guaranteed to be ascending by start time."
        }
      },
      "id": "AlloyDBClusterDataSourceProperties",
      "type": "object",
      "description": "AlloyDBClusterDataSourceProperties represents the properties of a AlloyDB cluster resource that are stored in the DataSource. ."
    },
    "RestoreDiskFromInstanceOptions": {
      "description": "Options for creating a disk from a source Compute Instance backup.",
      "id": "RestoreDiskFromInstanceOptions",
      "properties": {
        "sourceDeviceName": {
          "description": "The device name of the disk to restore from the VM backup.",
          "type": "string"
        },
        "bootDisk": {
          "type": "boolean",
          "description": "Set to true to restore the boot disk from the instance backup. This field should only be set to true if selected."
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceBackupProperties": {
      "properties": {
        "instanceTier": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`"
        },
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance when the backup was taken.",
          "readOnly": true,
          "type": "string"
        },
        "sourceInstance": {
          "type": "string",
          "description": "Output only. The source instance of the backup. Format: projects/{project}/instances/{instance}",
          "readOnly": true
        },
        "instanceDeleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance delete timestamp."
        },
        "finalBackup": {
          "description": "Output only. Whether the backup is a final backup.",
          "type": "boolean",
          "readOnly": true
        },
        "instanceCreateTime": {
          "type": "string",
          "description": "Output only. The instance creation timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CloudSqlInstanceBackupProperties",
      "description": "CloudSqlInstanceBackupProperties represents Cloud SQL Instance Backup properties."
    },
    "BackupGcpResource": {
      "id": "BackupGcpResource",
      "properties": {
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the resource: //\"global\"/\"unspecified\"."
        },
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        }
      },
      "description": "Minimum details to identify a Google Cloud resource for a backup.",
      "type": "object"
    },
    "FetchResourceBackupConfigsResponse": {
      "description": "Response for FetchResourceBackupConfigs.",
      "id": "FetchResourceBackupConfigsResponse",
      "properties": {
        "resourceBackupConfigs": {
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array",
          "description": "The list of ResourceBackupConfigs for the specified scope."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerEncryptionKey": {
      "properties": {
        "rsaEncryptedKey": {
          "description": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The name of the encryption key that is stored in Google Cloud KMS."
        },
        "kmsKeyServiceAccount": {
          "description": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used.",
          "type": "string"
        },
        "rawKey": {
          "description": "Optional. Specifies a 256-bit customer-supplied encryption key.",
          "type": "string"
        }
      },
      "description": "A customer-supplied encryption key.",
      "type": "object",
      "id": "CustomerEncryptionKey"
    },
    "AutoProtectionPolicyBinding": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the binding was created."
        },
        "name": {
          "description": "Identifier. The resource name of the AutoProtectionPolicyBinding. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}/bindings/{binding}`",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. Resource Id of target container on which policy will be applied. Format: projects/{project_id}",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Output only. The etag for the binding. If this is provided on update, it must match the server's etag."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the binding."
        },
        "bindingEvaluationSummary": {
          "$ref": "BindingEvaluationSummary",
          "description": "Output only. Summaries of the last policy application when the job has run, with one entry per resource type specified in the AutoProtectionPolicy.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the AutoProtectionPolicyBinding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETION_INITIATED"
          ],
          "enumDescriptions": [
            "The state of the binding is unspecified.",
            "The binding is being created.",
            "The binding is active.",
            "The binding deletion is initiated."
          ],
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the binding was last updated.",
          "readOnly": true
        }
      },
      "description": "An AutoprotectionPolicyBinding (APPA) acts as the bridge between an AutoprotectionPolicy and the scope (Project, Folder, or Organization) where the policy should be applied.",
      "id": "AutoProtectionPolicyBinding"
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorCount": {
          "format": "int32",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance.",
          "type": "integer"
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance."
        }
      },
      "type": "object",
      "description": "A specification of the type and number of accelerator cards attached to the instance.",
      "id": "AcceleratorConfig"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "unsupportedFeatures": {
          "type": "array",
          "items": {
            "enum": [
              "FEATURE_UNSPECIFIED",
              "MANAGEMENT_SERVER",
              "COMPUTE_INSTANCE",
              "PROTECTION_SUMMARY",
              "DISK",
              "CLOUD_SQL",
              "ALLOY_DB",
              "FILESTORE",
              "BV_AF",
              "GOOGLE_CLOUD_NETAPP_VOLUME",
              "CEP_MONITORING_COMPUTE_INSTANCE",
              "CEP_MONITORING_DISK",
              "BV_CUSTOM_PROBERS",
              "FT_CUSTOM_PROBERS"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "Remove once parity achieved between BV_AF and BV_CUSTOM_PROBERS.",
              ""
            ]
          },
          "description": "List of features that are not supported in the location."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "EndTrialRequest": {
      "description": "Request message for ending a trial.",
      "properties": {
        "endReason": {
          "type": "string",
          "description": "Required. The reason for ending the trial.",
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ]
        }
      },
      "type": "object",
      "id": "EndTrialRequest"
    },
    "GuestOsFeature": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The ID of a supported feature.",
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ]
        }
      },
      "description": "Feature type of the Guest OS.",
      "id": "GuestOsFeature"
    },
    "AutoProtectionPolicy": {
      "id": "AutoProtectionPolicy",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AutoprotectionPolicy. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}`"
        },
        "backupPlanDetails": {
          "description": "Required. The backup plan details for matching resources.",
          "items": {
            "$ref": "BackupPlanDetail"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Output only. The etag for the policy. If this is provided on update, it must match the server's etag, otherwise the request will be rejected with an ABORTED error."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the policy was last updated.",
          "format": "google-datetime"
        },
        "policyEvaluationSummary": {
          "readOnly": true,
          "$ref": "PolicyEvaluationSummary",
          "description": "Output only. Summary of last policy application when job was run per workload type."
        },
        "bindingSummary": {
          "description": "Output only. Summary of total count of different containers covered through this policy.",
          "$ref": "BindingSummary",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the policy was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the policy.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the policy is unspecified.",
            "The policy is being created.",
            "The policy is active and protecting matching resources.",
            "The policy is being updated.",
            "The policy is being deleted."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. The current state of the AutoprotectionPolicy."
        },
        "criteria": {
          "$ref": "Criteria",
          "description": "Required. The criteria for matching resources."
        }
      },
      "description": "An AutoprotectionPolicy is a policy resource designed to automate backup management, moving from manual per-resource protection to a bulk approach. The policy dynamically discovers and applies a specified backup plan to all eligible resources that match its defined scope and criteria."
    },
    "BackupApplianceBackupConfig": {
      "type": "object",
      "description": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances.",
      "properties": {
        "slpName": {
          "type": "string",
          "description": "The name of the SLP associated with the application."
        },
        "slaId": {
          "description": "The ID of the SLA of this application.",
          "format": "int64",
          "type": "string"
        },
        "sltName": {
          "type": "string",
          "description": "The name of the SLT associated with the application."
        },
        "backupApplianceName": {
          "type": "string",
          "description": "The name of the backup appliance."
        },
        "backupApplianceId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the backup appliance."
        },
        "applicationName": {
          "description": "The name of the application.",
          "type": "string"
        },
        "hostName": {
          "type": "string",
          "description": "The name of the host where the application is running."
        }
      },
      "id": "BackupApplianceBackupConfig"
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "type": "object",
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "properties": {
        "publicPtrDomainName": {
          "description": "Optional. The DNS domain name for the public PTR record.",
          "type": "string"
        },
        "externalIpv6": {
          "description": "Optional. The external IPv6 address of this access configuration.",
          "type": "string"
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "externalIpv6PrefixLength": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The prefix length of the external IPv6 range."
        },
        "type": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this access configuration."
        },
        "networkTier": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "type": "string"
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        }
      }
    },
    "GcpBackupConfig": {
      "id": "GcpBackupConfig",
      "type": "object",
      "description": "GcpBackupConfig captures the Backup configuration details for Google Cloud resources. All Google Cloud resources regardless of type are protected with backup plan associations.",
      "properties": {
        "backupPlanRules": {
          "description": "The names of the backup plan rules which point to this backupvault",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupPlanDescription": {
          "description": "The description of the backup plan.",
          "type": "string"
        },
        "backupPlanAssociation": {
          "type": "string",
          "description": "The name of the backup plan association."
        },
        "backupPlanRevisionId": {
          "type": "string",
          "description": "The user friendly id of the backup plan revision. E.g. v0, v1 etc."
        },
        "backupPlanRevisionName": {
          "type": "string",
          "description": "The name of the backup plan revision."
        },
        "backupPlan": {
          "description": "The name of the backup plan.",
          "type": "string"
        },
        "autoProtectionPolicyBinding": {
          "readOnly": true,
          "description": "Output only. The resource name of the `AutoProtectionPolicyBinding` that manages this datasource, if any. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{policy}/bindings/{binding}`.",
          "type": "string"
        }
      }
    },
    "AlloyDBClusterBackupPlanAssociationProperties": {
      "description": "Properties for an AlloyDB cluster backup plan association.",
      "type": "object",
      "properties": {
        "clusterUid": {
          "description": "Output only. The cluster UID of the AlloyDB cluster.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AlloyDBClusterBackupPlanAssociationProperties"
    },
    "Scheduling": {
      "type": "object",
      "description": "Sets the scheduling options for an Instance.",
      "properties": {
        "instanceTerminationAction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
            "Stop the VM without storing in-memory content. default action."
          ],
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ],
          "description": "Optional. Specifies the termination action for the instance."
        },
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node."
        },
        "localSsdRecoveryTimeout": {
          "description": "Optional. Specifies the maximum amount of time a Local Ssd Vm should wait while recovery of the Local Ssd state is attempted. Its value should be in between 0 and 168 hours with hour granularity and the default value being 1 hour.",
          "$ref": "SchedulingDuration"
        },
        "provisioningModel": {
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT"
          ],
          "description": "Optional. Specifies the provisioning model of the instance.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Standard provisioning with user controlled runtime, no discounts.",
            "Heavily discounted, no guaranteed runtime."
          ],
          "type": "string"
        },
        "onHostMaintenance": {
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "Optional. Defines the maintenance behavior for this instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tells Compute Engine to terminate and (optionally) restart the instance away from the maintenance activity.",
            "Default, Allows Compute Engine to automatically migrate instances out of the way of maintenance events."
          ],
          "type": "string"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance is preemptible."
        },
        "automaticRestart": {
          "type": "boolean",
          "description": "Optional. Specifies whether the instance should be automatically restarted if it is terminated by Compute Engine (not terminated by a user)."
        },
        "nodeAffinities": {
          "description": "Optional. A set of node affinity and anti-affinity configurations. Overrides reservationAffinity.",
          "items": {
            "$ref": "NodeAffinity"
          },
          "type": "array"
        }
      },
      "id": "Scheduling"
    },
    "ListBackupsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "description": "The list of Backup instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Backup"
          }
        }
      },
      "id": "ListBackupsResponse",
      "description": "Response message for listing Backups.",
      "type": "object"
    },
    "CloudSqlInstanceDataSourceProperties": {
      "id": "CloudSqlInstanceDataSourceProperties",
      "type": "object",
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource.",
      "properties": {
        "instanceCreateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance creation timestamp."
        },
        "name": {
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string",
          "readOnly": true
        },
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "type": "string",
          "readOnly": true
        },
        "instanceTier": {
          "readOnly": true,
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "type": "string"
        }
      }
    },
    "FetchAccessTokenRequest": {
      "properties": {
        "generationId": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The generation of the backup to update."
        }
      },
      "type": "object",
      "description": "Request message for FetchAccessToken.",
      "id": "FetchAccessTokenRequest"
    },
    "FetchUsableBackupVaultsResponse": {
      "description": "Response message for fetching usable BackupVaults.",
      "type": "object",
      "id": "FetchUsableBackupVaultsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupVaults": {
          "type": "array",
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupVault"
          }
        }
      }
    },
    "Trial": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial"
        },
        "startTime": {
          "description": "Output only. The time when the trial was subscribed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ],
          "type": "string",
          "description": "Output only. The state of the trial."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the trial will expire."
        },
        "endReason": {
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "description": "Output only. The reason for ending the trial.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Trial",
      "type": "object",
      "description": "Represents a Trial for a project."
    },
    "TriggerBackupRequest": {
      "properties": {
        "customRetentionDays": {
          "description": "Optional. The duration for which backup data will be kept, while taking an on-demand backup with custom retention. It is defined in \"days\". It is mutually exclusive with rule_id. This field is required if rule_id is not provided.",
          "type": "integer",
          "format": "int32"
        },
        "ruleId": {
          "description": "Optional. backup rule_id for which a backup needs to be triggered. If not specified, on-demand backup with custom retention will be triggered.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "labels": {
          "description": "Optional. Labels to be applied on the backup.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TriggerBackupRequest",
      "description": "Request message for triggering a backup."
    },
    "AlloyDbClusterBackupProperties": {
      "properties": {
        "chainId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The chain id of this backup. Backups belonging to the same chain are sharing the same chain id. This property is calculated and maintained by BackupDR."
        },
        "description": {
          "description": "An optional text description for the backup.",
          "type": "string"
        },
        "databaseVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PostgreSQL major version of the AlloyDB cluster when the backup was taken."
        },
        "storedBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Storage usage of this particular backup"
        }
      },
      "id": "AlloyDbClusterBackupProperties",
      "description": "AlloyDbClusterBackupProperties represents AlloyDB cluster backup properties. .",
      "type": "object"
    },
    "BackupRule": {
      "description": "`BackupRule` binds the backup schedule to a retention policy.",
      "properties": {
        "backupRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
        },
        "standardSchedule": {
          "$ref": "StandardSchedule",
          "description": "Optional. Defines a schedule that runs within the confines of a defined window of time."
        },
        "ruleId": {
          "type": "string",
          "description": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/."
        }
      },
      "id": "BackupRule",
      "type": "object"
    },
    "BackupLocation": {
      "id": "BackupLocation",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Location type is unspecified.",
            "Location type is zonal.",
            "Location type is regional.",
            "Location type is multi regional."
          ],
          "description": "Output only. The type of the location."
        },
        "locationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the cloud location. Example: \"us-central1\""
        }
      },
      "type": "object",
      "description": "BackupLocation represents a cloud location where a backup can be stored."
    },
    "RestoreBackupRequest": {
      "type": "object",
      "id": "RestoreBackupRequest",
      "properties": {
        "regionDiskTargetEnvironment": {
          "description": "Region disk target environment to be used during restore.",
          "$ref": "RegionDiskTargetEnvironment"
        },
        "computeInstanceRestoreProperties": {
          "description": "Compute Engine instance properties to be overridden during restore.",
          "$ref": "ComputeInstanceRestoreProperties"
        },
        "clearOverridesFieldMask": {
          "description": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "diskTargetEnvironment": {
          "$ref": "DiskTargetEnvironment",
          "description": "Disk target environment to be used during restore."
        },
        "diskRestoreProperties": {
          "description": "Disk properties to be overridden during restore.",
          "$ref": "DiskRestoreProperties"
        },
        "computeInstanceTargetEnvironment": {
          "$ref": "ComputeInstanceTargetEnvironment",
          "description": "Compute Engine target environment to be used during restore."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for restoring from a Backup."
    },
    "ListBackupPlanRevisionsResponse": {
      "description": "The response message for getting a list of `BackupPlanRevision`.",
      "properties": {
        "backupPlanRevisions": {
          "description": "The list of `BackupPlanRevisions` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupPlanRevision"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanRevisions` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "id": "ListBackupPlanRevisionsResponse",
      "type": "object"
    },
    "ListBindingMatchingResourcesResponse": {
      "properties": {
        "matchingResources": {
          "items": {
            "$ref": "BindingMatchingResource"
          },
          "type": "array",
          "description": "The list of `BindingMatchingResources` in the project,location for the specified binding."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListBindingMatchingResources` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        }
      },
      "id": "ListBindingMatchingResourcesResponse",
      "description": "The response message for getting a list of `BindingMatchingResources`.",
      "type": "object"
    },
    "BindingMatchingResource": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the `BindingMatchingResource`. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}/bindings/{binding}/matchingResources/{matching_resource}`",
          "type": "string"
        },
        "lastEvaluationTime": {
          "description": "Output only. The timestamp when the resource was last evaluated for protection.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "autoProtectionDetails": {
          "readOnly": true,
          "description": "Output only. The auto protection details of the resource from the current binding's perspective.",
          "$ref": "AutoProtectionDetails"
        },
        "resource": {
          "type": "string",
          "description": "Required. Immutable. Resource name of the workload that matches the criteria of the binding. The format can be either a relative resource name (e.g., `projects/my-project/zones/us-central1-a/instances/my-instance`) or a schemeless full resource name (e.g., `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`)."
        }
      },
      "id": "BindingMatchingResource",
      "type": "object",
      "description": "BindingMatchingResource contains the details of a resource that matches the criteria of a binding."
    },
    "CloudSqlInstanceInitializationConfig": {
      "properties": {
        "edition": {
          "type": "string",
          "description": "Required. The edition of the Cloud SQL instance.",
          "enumDescriptions": [
            "Unspecified edition.",
            "Enterprise edition.",
            "Enterprise Plus edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        }
      },
      "type": "object",
      "description": "CloudSqlInstanceInitializationConfig contains the configuration for initializing a Cloud SQL instance.",
      "id": "CloudSqlInstanceInitializationConfig"
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "id": "AlloyDBClusterDataSourceReferenceProperties",
      "type": "object",
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}"
        }
      }
    },
    "InitializeParams": {
      "properties": {
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        },
        "replicaZones": {
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specifies the parameters to initialize this disk.",
      "type": "object",
      "id": "InitializeParams"
    },
    "ComputeInstanceBackupProperties": {
      "id": "ComputeInstanceBackupProperties",
      "properties": {
        "metadata": {
          "description": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information.",
          "$ref": "Metadata"
        },
        "scheduling": {
          "$ref": "Scheduling",
          "description": "Specifies the scheduling options for the instances that are created from these properties."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to apply to instances that are created from these properties.",
          "type": "object"
        },
        "canIpForward": {
          "type": "boolean",
[...]
