{
  "id": "backupdr:v1",
  "batchPath": "batch",
  "title": "Backup and DR Service API",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "backupdr",
  "discoveryVersion": "v1",
  "canonicalName": "Backupdr",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://backupdr.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-backupdr": {
          "description": "See, edit, configure, and delete your Google Cloud Backup and DR data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "schemas": {
    "PitrSettings": {
      "id": "PitrSettings",
      "type": "object",
      "properties": {
        "retentionDays": {
          "description": "Output only. Number of days to retain the backup.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Point in time recovery settings of the backup configuration resource."
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "type": "object",
      "description": "A network interface resource attached to an instance. s",
      "properties": {
        "nicType": {
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ],
          "type": "string",
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet."
        },
        "stackType": {
          "description": "The stack type for this network interface.",
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ]
        },
        "ipv6Address": {
          "type": "string",
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server.",
          "readOnly": true
        },
        "aliasIpRanges": {
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks.",
          "items": {
            "$ref": "AliasIpRange"
          },
          "type": "array"
        },
        "ipv6AccessType": {
          "type": "string",
          "enumDescriptions": [
            "IPv6 access type not set. Means this network interface hasn't been turned on IPv6 yet.",
            "This network interface can have internal IPv6.",
            "This network interface can have external IPv6."
          ],
          "description": "Optional. [Output Only] One of EXTERNAL, INTERNAL to indicate whether the IP can be accessed from the Internet. This field is always inherited from its subnetwork.",
          "enum": [
            "UNSPECIFIED_IPV6_ACCESS_TYPE",
            "INTERNAL",
            "EXTERNAL"
          ]
        },
        "network": {
          "description": "Optional. URL of the VPC network resource for this instance.",
          "type": "string"
        },
        "ipv6AccessConfigs": {
          "type": "array",
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access.",
          "items": {
            "$ref": "AccessConfig"
          }
        },
        "networkIP": {
          "description": "Optional. An IPv4 internal IP address to assign to the instance for this network interface. If not specified by the user, an unused internal IP is assigned by the system.",
          "type": "string"
        },
        "queueCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users."
        },
        "accessConfigs": {
          "type": "array",
          "items": {
            "$ref": "AccessConfig"
          },
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access."
        },
        "internalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the primary internal IPv6 range.",
          "format": "int32",
          "type": "integer"
        },
        "subnetwork": {
          "description": "Optional. The URL of the Subnetwork resource for this instance.",
          "type": "string"
        },
        "networkAttachment": {
          "type": "string",
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}."
        }
      }
    },
    "CloudSqlInstanceDataSourceProperties": {
      "type": "object",
      "id": "CloudSqlInstanceDataSourceProperties",
      "properties": {
        "instanceCreateTime": {
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "instanceTier": {
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true
        },
        "databaseInstalledVersion": {
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource."
    },
    "StandardSchedule": {
      "id": "StandardSchedule",
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "type": "object",
      "properties": {
        "months": {
          "items": {
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string"
          },
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied.",
          "type": "array"
        },
        "hourlyFrequency": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 1 means jobs will run every 1 hour from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details."
        },
        "daysOfMonth": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "type": "array"
        },
        "backupWindow": {
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window.",
          "$ref": "BackupWindow"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For example, Europe/Paris."
        },
        "weekDayOfMonth": {
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "$ref": "WeekDayOfMonth"
        },
        "daysOfWeek": {
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`."
        },
        "recurrenceType": {
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ],
          "type": "string",
          "description": "Required. Specifies the `RecurrenceType` for the schedule.",
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ]
        }
      }
    },
    "EndTrialRequest": {
      "description": "Request message for ending a trial.",
      "properties": {
        "endReason": {
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "description": "Required. The reason for ending the trial.",
          "type": "string"
        }
      },
      "id": "EndTrialRequest",
      "type": "object"
    },
    "InitiateBackupRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupId": {
          "type": "string",
          "description": "Required. Resource ID of the Backup resource."
        }
      },
      "description": "request message for InitiateBackup.",
      "type": "object",
      "id": "InitiateBackupRequest"
    },
    "ResourceBackupConfig": {
      "id": "ResourceBackupConfig",
      "description": "ResourceBackupConfig represents a resource along with its backup configurations.",
      "properties": {
        "targetResourceType": {
          "readOnly": true,
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ],
          "description": "Output only. The type of the target resource."
        },
        "targetResourceLabels": {
          "type": "object",
          "description": "Labels associated with the target resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetResource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType."
        },
        "targetResourceDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human friendly name of the target resource."
        },
        "backupConfigsDetails": {
          "items": {
            "$ref": "BackupConfigDetails"
          },
          "type": "array",
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated."
        },
        "name": {
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}",
          "type": "string"
        },
        "backupConfigured": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource backup config."
        },
        "vaulted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set."
        }
      },
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "description": "Response message for listing Backups.",
      "id": "ListBackupsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of Backup instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        }
      }
    },
    "FetchMsComplianceMetadataResponse": {
      "type": "object",
      "properties": {
        "isAssuredWorkload": {
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false.",
          "type": "boolean"
        }
      },
      "id": "FetchMsComplianceMetadataResponse",
      "description": "Response message for GetMsComplianceMetadata"
    },
    "GcpResource": {
      "id": "GcpResource",
      "description": "Minimum details to identify a Google Cloud resource",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance."
        },
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        }
      }
    },
    "Trial": {
      "type": "object",
      "description": "Represents a Trial for a project.",
      "id": "Trial",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "description": "Output only. The state of the trial.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial"
        },
        "startTime": {
          "description": "Output only. The time when the trial was subscribed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the trial will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "endReason": {
          "readOnly": true,
          "description": "Output only. The reason for ending the trial.",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "type": "string",
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ]
        }
      }
    },
    "RestoreDiskFromInstanceOptions": {
      "description": "Options for creating a disk from a source Compute Instance backup.",
      "type": "object",
      "properties": {
        "sourceDeviceName": {
          "description": "The device name of the disk to restore from the VM backup.",
          "type": "string"
        },
        "bootDisk": {
          "description": "Specifies that the boot disk should be restored from the instance backup. This field should only be set to `true` if selected.",
          "type": "boolean"
        }
      },
      "id": "RestoreDiskFromInstanceOptions"
    },
    "InitializeServiceRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "cloudSqlInstanceInitializationConfig": {
          "$ref": "CloudSqlInstanceInitializationConfig",
          "description": "Optional. The configuration for initializing a Cloud SQL instance."
        },
        "backupPlanLocation": {
          "type": "string",
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field."
        },
        "resourceType": {
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\".",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "InitializeServiceRequest",
      "description": "Request message for initializing the service."
    },
    "RemoveDataSourceRequest": {
      "description": "Message for deleting a DataSource.",
      "id": "RemoveDataSourceRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "BackupWindow": {
      "description": "`BackupWindow` defines a window of the day during which backup jobs will run.",
      "properties": {
        "startHourOfDay": {
          "format": "int32",
          "description": "Required. The hour of day (0-23) when the window starts for example if value of start hour of day is 6 that mean backup window start at 6:00.",
          "type": "integer"
        },
        "endHourOfDay": {
          "format": "int32",
          "description": "Required. The hour of day (1-24) when the window end for example if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "BackupWindow"
    },
    "ManagementServer": {
      "description": "ManagementServer describes a single BackupDR ManagementServer instance.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "oauth2ClientId": {
          "type": "string",
          "description": "Output only. The OAuth 2.0 client id is required to make API calls to the Backup and DR instance API of this ManagementServer. This is the value that should be provided in the 'aud' field of the OIDC ID Token (see openid specification https://openid.net/specs/openid-connect-core-1_0.html#IDToken).",
          "readOnly": true
        },
        "baProxyUri": {
          "readOnly": true,
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by BAs to connect to BA proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "description": {
          "description": "Optional. The description of the ManagementServer instance (2048 characters or less).",
          "type": "string"
        },
        "managementUri": {
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by clients to connect to AGM/RD graphical user interface and APIs.",
          "readOnly": true,
          "$ref": "ManagementURI"
        },
        "workforceIdentityBasedManagementUri": {
          "$ref": "WorkforceIdentityBasedManagementURI",
          "description": "Output only. The hostnames of the exposed AGM endpoints for both types of user i.e. 1p and 3p, used to connect AGM/RM UI.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Labels currently defined: 1. migrate_from_go= If set to true, the MS is created in migration ready mode.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "BACKUP_RESTORE"
          ],
          "enumDescriptions": [
            "Instance type is not mentioned.",
            "Instance for backup and restore management (i.e., AGM)."
          ],
          "description": "Optional. The type of the ManagementServer resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the instance was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "workforceIdentityBasedOauth2ClientId": {
          "$ref": "WorkforceIdentityBasedOAuth2ClientID",
          "readOnly": true,
          "description": "Output only. The OAuth client IDs for both types of user i.e. 1p and 3p."
        },
        "networks": {
          "description": "Optional. VPC networks to which the ManagementServer instance is connected. For this version, only a single network is supported. This field is optional if MS is created without PSA",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The ManagementServer state.",
          "enum": [
            "INSTANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "ERROR"
          ],
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance has been created and is fully usable.",
            "The instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "The instance is being deleted.",
            "The instance is being repaired and may be unstable.",
            "Maintenance is being performed on this instance.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the statusMessage field of Instance resource."
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name."
        }
      },
      "type": "object",
      "id": "ManagementServer"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "BackupPlan": {
      "type": "object",
      "id": "BackupPlan",
      "properties": {
        "logRetentionDays": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault."
        },
        "state": {
          "description": "Output only. The `State` for the `BackupPlan`.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "readOnly": true
        },
        "etag": {
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the `BackupPlan` was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\"."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the `BackupPlan` was last updated."
        },
        "maxCustomOnDemandRetentionDays": {
          "type": "integer",
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value.",
          "format": "int32"
        },
        "diskBackupPlanProperties": {
          "$ref": "DiskBackupPlanProperties",
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush."
        },
        "computeInstanceBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of compute instance-based resources, such as Compute Engine. This includes settings like whether to perform a guest flush.",
          "$ref": "ComputeInstanceBackupPlanProperties"
        },
        "revisionName": {
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "type": "string"
        },
        "backupRules": {
          "description": "Optional. The backup rules for this `BackupPlan`.",
          "items": {
            "$ref": "BackupRule"
          },
          "type": "array"
        },
        "backupVault": {
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}",
          "type": "string"
        },
        "supportedResourceTypes": {
          "description": "Output only. All resource types to which backupPlan can be applied.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "revisionId": {
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`",
          "type": "string"
        },
        "backupVaultServiceAccount": {
          "readOnly": true,
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account.",
          "type": "string"
        }
      },
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads."
    },
    "BackupPlanRevision": {
      "type": "object",
      "id": "BackupPlanRevision",
      "properties": {
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
        },
        "state": {
          "description": "Output only. Resource State",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`"
        },
        "backupPlanSnapshot": {
          "description": "The Backup Plan being encompassed by this revision.",
          "$ref": "BackupPlan"
        }
      },
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time."
    },
    "ComputeInstanceDataSourceProperties": {
      "properties": {
        "description": {
          "description": "The description of the Compute Engine instance.",
          "type": "string"
        },
        "name": {
          "description": "Name of the compute instance backed up by the datasource.",
          "type": "string"
        },
        "totalDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The sum of all the disk sizes."
        },
        "totalDiskCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of disks attached to the Instance."
        },
        "machineType": {
          "type": "string",
          "description": "The machine type of the instance."
        }
      },
      "type": "object",
      "id": "ComputeInstanceDataSourceProperties",
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource."
    },
    "FilestoreInstanceBackupPlanAssociationProperties": {
      "id": "FilestoreInstanceBackupPlanAssociationProperties",
      "type": "object",
      "description": "Filestore instance's BPA properties.",
      "properties": {
        "instanceCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ManagementURI": {
      "description": "ManagementURI for the Management Server resource.",
      "properties": {
        "webUi": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD WebUI URL."
        },
        "api": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ManagementServer AGM/RD API URL."
        }
      },
      "type": "object",
      "id": "ManagementURI"
    },
    "GoogleCloudBackupdrV1OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "additionalInfo": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "id": "GoogleCloudBackupdrV1OperationMetadata"
    },
    "RestoreBackupResponse": {
      "description": "Response message for restoring from a Backup.",
      "properties": {
        "targetResource": {
          "$ref": "TargetResource",
          "description": "Details of the target resource created/modified as part of restore."
        }
      },
      "id": "RestoreBackupResponse",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "RestoreBackupRequest": {
      "type": "object",
      "properties": {
        "computeInstanceTargetEnvironment": {
          "description": "Compute Engine target environment to be used during restore.",
          "$ref": "ComputeInstanceTargetEnvironment"
        },
        "clearOverridesFieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "regionDiskTargetEnvironment": {
          "description": "Region disk target environment to be used during restore.",
          "$ref": "RegionDiskTargetEnvironment"
        },
        "diskRestoreProperties": {
          "description": "Disk properties to be overridden during restore.",
          "$ref": "DiskRestoreProperties"
        },
        "computeInstanceRestoreProperties": {
          "$ref": "ComputeInstanceRestoreProperties",
          "description": "Compute Engine instance properties to be overridden during restore."
        },
        "diskTargetEnvironment": {
          "description": "Disk target environment to be used during restore.",
          "$ref": "DiskTargetEnvironment"
        }
      },
      "description": "Request message for restoring from a Backup.",
      "id": "RestoreBackupRequest"
    },
    "GCPBackupPlanInfo": {
      "type": "object",
      "description": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup.",
      "properties": {
        "backupPlan": {
          "description": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "description": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}",
          "type": "string"
        },
        "backupPlanRuleId": {
          "type": "string",
          "description": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for"
        },
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup.",
          "type": "string"
        }
      },
      "id": "GCPBackupPlanInfo"
    },
    "DiskExclusionLabels": {
      "id": "DiskExclusionLabels",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabelKeyValPair"
          },
          "description": "Optional. Labels used to identify disks for exclusion from the backup. If a disk carries any of these labels, it will be excluded (OR logic)."
        }
      },
      "description": "Message for selective disk backup exclusion labels.",
      "type": "object"
    },
    "BackupConfigInfo": {
      "properties": {
        "gcpBackupConfig": {
          "$ref": "GcpBackupConfig",
          "description": "Configuration for a Google Cloud resource."
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "description": "Output only. If the last backup were successful, this field has the consistency date.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastBackupError": {
          "readOnly": true,
          "description": "Output only. If the last backup failed, this field has the error message.",
          "$ref": "Status"
        },
        "lastBackupState": {
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "description": "Output only. The status of the last backup to this BackupVault"
        },
        "backupApplianceBackupConfig": {
          "description": "Configuration for an application backed up by a Backup Appliance.",
          "$ref": "BackupApplianceBackupConfig"
        }
      },
      "id": "BackupConfigInfo",
      "type": "object",
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault."
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ComputeInstanceTargetEnvironment": {
      "description": "ComputeInstanceTargetEnvironment represents Compute Engine target environment to be used during restore.",
      "properties": {
        "useProjectServiceAccount": {
          "type": "boolean",
          "description": "Optional. Whether to use the project service account for the Compute Engine instance restore."
        },
        "zone": {
          "type": "string",
          "description": "Required. The zone of the Compute Engine instance."
        },
        "project": {
          "type": "string",
          "description": "Required. Target project for the Compute Engine instance."
        }
      },
      "id": "ComputeInstanceTargetEnvironment",
      "type": "object"
    },
    "InstanceParams": {
      "properties": {
        "resourceManagerTags": {
          "description": "Optional. Resource manager tags to be bound to the instance.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "InstanceParams",
      "description": "Additional instance params.",
      "type": "object"
    },
    "Entry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. Value for the metadata entry. These are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on values is that their size must be less than or equal to 262144 bytes (256 KiB)."
        },
        "key": {
          "type": "string",
          "description": "Optional. Key for the metadata entry."
        }
      },
      "id": "Entry",
      "description": "A key/value pair to be used for storing metadata."
    },
    "ListDataSourceReferencesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "dataSourceReferences": {
          "description": "The DataSourceReferences from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "DataSourceReference"
          }
        }
      },
      "description": "Response for the ListDataSourceReferences method.",
      "id": "ListDataSourceReferencesResponse",
      "type": "object"
    },
    "DataSourceReference": {
      "type": "object",
      "id": "DataSourceReference",
      "properties": {
        "dataSourceBackupConfigState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "description": "Output only. The backup configuration state of the DataSource.",
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ]
        },
        "dataSourceGcpResourceInfo": {
          "readOnly": true,
          "description": "Output only. The Google Cloud resource that the DataSource is associated with.",
          "$ref": "DataSourceGcpResourceInfo"
        },
        "dataSourceBackupCount": {
          "description": "Output only. Number of backups in the DataSource.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the DataSourceReference was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the DataSourceReference. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}"
        },
        "dataSourceBackupConfigInfo": {
          "readOnly": true,
          "$ref": "DataSourceBackupConfigInfo",
          "description": "Output only. Information of backup configuration on the DataSource."
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DataSource. Format: projects/{project}/locations/{location}/backupVaults/{backupVault}/dataSources/{dataSource}"
        },
        "totalStoredBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total size of the storage used by all backup resources for the referenced datasource."
        }
      },
      "description": "DataSourceReference is a reference to a DataSource resource."
    },
    "DiskBackupProperties": {
      "properties": {
        "physicalBlockSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The physical block size of the source disk."
        },
        "storagePool": {
          "description": "The storage pool of the source disk.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image."
        },
        "type": {
          "type": "string",
          "description": "The URL of the type of the disk."
        },
        "provisionedThroughput": {
          "description": "The number of throughput provisioned for the source disk.",
          "format": "int64",
          "type": "string"
        },
        "accessMode": {
          "description": "The access mode of the source disk.",
          "type": "string"
        },
        "guestOsFeature": {
          "description": "A list of guest OS features that are applicable to this backup.",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array"
        },
        "enableConfidentialCompute": {
          "description": "Indicates whether the source disk is using confidential compute mode.",
          "type": "boolean"
        },
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false."
        },
        "provisionedIops": {
          "type": "string",
          "description": "The number of IOPS provisioned for the source disk.",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "A description of the source disk."
        },
        "sourceDisk": {
          "description": "The source disk used to create this backup.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Size(in GB) of the source disk."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source disk."
        },
        "region": {
          "description": "Region and zone are mutually exclusive fields. The URL of the region of the source disk.",
          "type": "string"
        },
        "replicaZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The URL of the Zones where the source disk should be replicated."
        },
        "zone": {
          "type": "string",
          "description": "The URL of the Zone where the source disk."
        },
        "architecture": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "type": "string",
          "description": "The architecture of the source disk. Valid values are ARM64 or X86_64."
        }
      },
      "id": "DiskBackupProperties",
      "description": "DiskBackupProperties represents the properties of a Disk backup.",
      "type": "object"
    },
    "ListBackupPlanRevisionsResponse": {
      "id": "ListBackupPlanRevisionsResponse",
      "description": "The response message for getting a list of `BackupPlanRevision`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanRevisions` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupPlanRevisions": {
          "items": {
            "$ref": "BackupPlanRevision"
          },
          "description": "The list of `BackupPlanRevisions` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        }
      }
    },
    "Backup": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag to prevent updates from overwriting each other."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ],
          "description": "Output only. The Backup resource instance state."
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "description": "Optional. The backup can not be deleted before this time.",
          "format": "google-datetime"
        },
        "alloyDbBackupProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDB specific backup properties.",
          "$ref": "AlloyDbClusterBackupProperties"
        },
        "serviceLocks": {
          "type": "array",
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup.",
          "items": {
            "$ref": "BackupLock"
          },
          "readOnly": true
        },
        "backupApplianceLocks": {
          "items": {
            "$ref": "BackupLock"
          },
          "description": "Optional. The list of BackupLocks taken by the accessor Backup Appliance.",
          "type": "array"
        },
        "kmsKeyVersions": {
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupRetentionInheritance": {
          "description": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault.",
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "readOnly": true
        },
        "gcpResource": {
          "readOnly": true,
          "$ref": "BackupGcpResource",
          "description": "Output only. Unique identifier of the GCP resource that is being backed up."
        },
        "resourceSizeBytes": {
          "description": "Output only. source resource size in bytes at the time of the backup.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated.",
          "type": "string",
          "readOnly": true
        },
        "filestoreInstanceBackupProperties": {
          "description": "Output only. Filestore specific backup properties.",
          "readOnly": true,
          "$ref": "FilestoreInstanceBackupProperties"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Backup instance (2048 characters or less).",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Optional. Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use."
        },
        "diskBackupProperties": {
          "readOnly": true,
          "$ref": "DiskBackupProperties",
          "description": "Output only. Disk specific backup properties."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. When this backup is automatically expired."
        },
        "computeInstanceBackupProperties": {
          "readOnly": true,
          "$ref": "ComputeInstanceBackupProperties",
          "description": "Output only. Compute Engine specific backup properties."
        },
        "gcpBackupPlanInfo": {
          "readOnly": true,
          "$ref": "GCPBackupPlanInfo",
          "description": "Output only. Configuration for a Google Cloud resource."
        },
        "consistencyTime": {
          "format": "google-datetime",
          "description": "Output only. The point in time when this backup was captured from the source.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created."
        },
        "backupType": {
          "enumDescriptions": [
            "Backup type is unspecified.",
            "Scheduled backup.",
            "On demand backup.",
            "Operational backup."
          ],
          "description": "Output only. Type of the backup, unspecified, scheduled or ondemand.",
          "readOnly": true,
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "SCHEDULED",
            "ON_DEMAND",
            "ON_DEMAND_OPERATIONAL"
          ],
          "type": "string"
        },
        "backupApplianceBackupProperties": {
          "$ref": "BackupApplianceBackupProperties",
          "readOnly": true,
          "description": "Output only. Backup Appliance specific backup properties."
        },
        "name": {
          "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource.",
          "type": "string",
          "readOnly": true
        },
        "cloudSqlInstanceBackupProperties": {
          "$ref": "CloudSqlInstanceBackupProperties",
          "readOnly": true,
          "description": "Output only. Cloud SQL specific backup properties."
        }
      },
      "description": "Message describing a Backup object.",
      "type": "object",
      "id": "Backup"
    },
    "BackupDrPlanConfig": {
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "properties": {
        "backupDrPlanRules": {
          "type": "array",
          "items": {
            "$ref": "BackupDrPlanRule"
          },
          "description": "Backup rules of the backup plan resource."
        }
      },
      "id": "BackupDrPlanConfig",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "DataSourceGcpResourceInfo": {
      "type": "object",
      "id": "DataSourceGcpResourceInfo",
      "description": "The Google Cloud resource that the DataSource is associated with.",
      "properties": {
        "filestoreInstanceProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the Filestore instance.",
          "$ref": "FilestoreInstanceDataSourceReferenceProperties"
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The location of the Google Cloud resource. Ex: //\"global\"/\"unspecified\""
        },
        "gcpResourcename": {
          "readOnly": true,
          "description": "Output only. The resource name of the Google Cloud resource. Ex: projects/{project}/zones/{zone}/instances/{instance}",
          "type": "string"
        },
        "alloyDbClusterProperties": {
          "$ref": "AlloyDBClusterDataSourceReferenceProperties",
          "description": "Output only. The properties of the AlloyDB cluster.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the Google Cloud resource. Ex: compute.googleapis.com/Instance",
          "type": "string"
        },
        "cloudSqlInstanceProperties": {
          "readOnly": true,
          "$ref": "CloudSqlInstanceDataSourceReferenceProperties",
          "description": "Output only. The properties of the Cloud SQL instance."
        }
      }
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "properties": {
        "network": {
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected.",
          "type": "string"
        },
        "peeringMode": {
          "type": "string",
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ],
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported.",
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ]
        }
      },
      "description": "Network configuration for ManagementServer instance."
    },
    "BackupDrTemplateConfig": {
      "id": "BackupDrTemplateConfig",
      "properties": {
        "firstPartyManagementUri": {
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users.",
          "readOnly": true
        },
        "thirdPartyManagementUri": {
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration."
    },
    "AccessConfig": {
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig",
      "properties": {
        "externalIpv6": {
          "description": "Optional. The external IPv6 address of this access configuration.",
          "type": "string"
        },
        "networkTier": {
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ]
        },
        "externalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the external IPv6 range.",
          "type": "integer",
          "format": "int32"
        },
        "publicPtrDomainName": {
          "type": "string",
          "description": "Optional. The DNS domain name for the public PTR record."
        },
        "name": {
          "description": "Optional. The name of this access configuration.",
          "type": "string"
        },
        "setPublicPtr": {
          "type": "boolean",
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name."
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ]
        }
      },
      "type": "object"
    },
    "GuestOsFeature": {
      "id": "GuestOsFeature",
      "type": "object",
      "description": "Feature type of the Guest OS.",
      "properties": {
        "type": {
          "description": "The ID of a supported feature.",
          "type": "string",
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ],
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ]
        }
      }
    },
    "AlloyDBClusterBackupPlanAssociationProperties": {
      "description": "Properties for an AlloyDB cluster backup plan association.",
      "properties": {
        "clusterUid": {
          "type": "string",
          "description": "Output only. The cluster UID of the AlloyDB cluster.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AlloyDBClusterBackupPlanAssociationProperties"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListDataSourcesResponse": {
      "type": "object",
      "description": "Response message for listing DataSources.",
      "id": "ListDataSourcesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "additionalInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "DiskDataSourceProperties": {
      "id": "DiskDataSourceProperties",
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. .",
      "properties": {
        "type": {
          "description": "The type of the disk.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the disk."
        },
        "sizeGb": {
          "description": "The size of the disk in GB.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the disk backed up by the datasource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InitializeParams": {
      "type": "object",
      "id": "InitializeParams",
      "description": "Specifies the parameters to initialize this disk.",
      "properties": {
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance."
        }
      }
    },
    "FetchAccessTokenRequest": {
      "type": "object",
      "id": "FetchAccessTokenRequest",
      "description": "Request message for FetchAccessToken.",
      "properties": {
        "generationId": {
          "description": "Required. The generation of the backup to update.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BackupConfigDetails": {
      "description": "BackupConfigDetails has information about how the resource is configured for backups and about the most recent backup taken for this configuration.",
      "id": "BackupConfigDetails",
      "type": "object",
      "properties": {
        "backupConfigSourceDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the backup config source resource."
        },
        "backupLocations": {
          "items": {
            "$ref": "BackupLocation"
          },
          "description": "The locations where the backups are to be stored.",
          "type": "array"
        },
        "backupVault": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the backup vault that will store the backups generated through this backup configuration. Example: \"//backupdr.googleapis.com/v1/projects/{project}/locations/{region}/backupVaults/{backupvaultId}\""
        },
        "backupDrTemplateConfig": {
          "$ref": "BackupDrTemplateConfig",
          "description": "Google Cloud Backup and DR's Template specific data."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Backup config state not set.",
            "The config is in an active state protecting the resource",
            "The config is currently not protecting the resource. Either because it is disabled or the owning project has been deleted without cleanup of the actual resource.",
            "The config still exists but because of some error state it is not protecting the resource. Like the source project is deleted. For eg. PlanAssociation, BackupPlan is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "ERROR"
          ],
          "description": "Output only. The state of the backup config resource."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the backup config resource.",
          "type": "string",
          "enumDescriptions": [
            "Backup config type is unspecified.",
            "Backup config is Cloud SQL instance's automated backup config.",
            "Backup config is Compute Engine Resource Policy.",
            "Backup config is Google Cloud Backup and DR's Backup Plan.",
            "Backup config is Google Cloud Backup and DR's Template."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE_BACKUP_CONFIG",
            "COMPUTE_ENGINE_RESOURCE_POLICY",
            "BACKUPDR_BACKUP_PLAN",
            "BACKUPDR_TEMPLATE"
          ]
        },
        "backupDrPlanConfig": {
          "$ref": "BackupDrPlanConfig",
          "description": "Google Cloud Backup and DR's Backup Plan specific data."
        },
        "applicableResource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the resource that is applicable for the backup configuration. Example: \"//compute.googleapis.com/projects/{project}/zones/{zone}/instances/{instance}\""
        },
        "backupConfigSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name of the backup config source resource. For example, \"//backupdr.googleapis.com/v1/projects/{project}/locations/{region}/backupPlans/{backupplanId}\" or \"//compute.googleapis.com/projects/{project}/locations/{region}/resourcePolicies/{resourcePolicyId}\"."
        },
        "latestSuccessfulBackupTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest successful backup created via this backup configuration."
        },
        "pitrSettings": {
          "$ref": "PitrSettings",
[...]
