{
  "version": "v1beta",
  "revision": "20260918",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://backupdr.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://backupdr.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://backupdr.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://backupdr.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://backupdr.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://backupdr.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://backupdr.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://backupdr.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://backupdr.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://backupdr.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://backupdr.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://backupdr.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://backupdr.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://backupdr.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://backupdr.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://backupdr.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://backupdr.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://backupdr.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://backupdr.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://backupdr.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://backupdr.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://backupdr.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://backupdr.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://backupdr.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://backupdr.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "baseUrl": "https://backupdr.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "id": "backupdr.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-backupdr",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1beta/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-backupdr",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "backupdr.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "getTrial": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Trial"
              },
              "description": "Gets the Trial state for a given project",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/trial",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-backupdr",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The project for which trial details need to be retrieved. Format: projects/{project}/locations/{location} Supported Locations are - us, eu and asia.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/trial$",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "id": "backupdr.projects.locations.getTrial"
            }
          },
          "resources": {
            "managementServers": {
              "methods": {
                "create": {
                  "path": "v1beta/{+parent}/managementServers",
                  "id": "backupdr.projects.locations.managementServers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The management server project and location in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR locations map to Google Cloud regions, for example **us-central1**.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "managementServerId": {
                      "description": "Required. The name of the management server to create. The name must be unique for the specified project and location.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ManagementServer"
                  },
                  "description": "Creates a new ManagementServer in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "id": "backupdr.projects.locations.managementServers.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}",
                  "description": "Deletes a single ManagementServer."
                },
                "msComplianceMetadata": {
                  "description": "Returns the Assured Workloads compliance metadata for a given project.",
                  "response": {
                    "$ref": "FetchMsComplianceMetadataResponse"
                  },
                  "request": {
                    "$ref": "FetchMsComplianceMetadataRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers:msComplianceMetadata",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The project and location to be used to check CSS metadata for target project information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "backupdr.projects.locations.managementServers.msComplianceMetadata",
                  "path": "v1beta/{+parent}:msComplianceMetadata",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}:getIamPolicy",
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "id": "backupdr.projects.locations.managementServers.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/managementServers",
                  "id": "backupdr.projects.locations.managementServers.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location for which to retrieve management servers information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve management servers for all locations, use \"-\" for the '{location}' value.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results."
                    }
                  },
                  "response": {
                    "$ref": "ListManagementServersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers",
                  "description": "Lists ManagementServers in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "backupdr.projects.locations.managementServers.setIamPolicy",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}:setIamPolicy"
                },
                "testIamPermissions": {
                  "id": "backupdr.projects.locations.managementServers.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "backupdr.projects.locations.managementServers.get",
                  "response": {
                    "$ref": "ManagementServer"
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single ManagementServer.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the management server resource name, in the format 'projects/{project_id}/locations/{location}/managementServers/{resource_name}'"
                    }
                  }
                }
              }
            },
            "backupPlans": {
              "methods": {
                "create": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BackupPlan"
                  },
                  "description": "Create a BackupPlan",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The `BackupPlan` project and location in the format `projects/{project}/locations/{location}`. In Google Cloud Backup and DR locations map to Google Cloud regions, for example **us-central1**.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "backupPlanId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The name of the `BackupPlan` to create. The name must be unique for the specified project and location.The name must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "backupdr.projects.locations.backupPlans.create",
                  "path": "v1beta/{+parent}/backupPlans"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "backupdr.projects.locations.backupPlans.delete",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single BackupPlan.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans/{backupPlansId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlans/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the `BackupPlan` to delete. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single BackupPlan.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the `BackupPlan` to retrieve. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlans/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans/{backupPlansId}",
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "BackupPlan"
                  },
                  "id": "backupdr.projects.locations.backupPlans.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlans/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to update. Field mask is used to specify the fields to be overwritten in the BackupPlan resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail. Currently, these fields are supported in update: description, schedules, retention period, adding and removing Backup Rules.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "BackupPlan"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Update a BackupPlan.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "backupdr.projects.locations.backupPlans.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans/{backupPlansId}"
                },
                "list": {
                  "path": "v1beta/{+parent}/backupPlans",
                  "id": "backupdr.projects.locations.backupPlans.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of `BackupPlans` to return in a single response. If not specified, a default value will be chosen by the service. Note that the response may include a partial list and a caller should only rely on the response's next_page_token to determine if there are more instances left to be queried."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location for which to retrieve `BackupPlans` information. Format: `projects/{project}/locations/{location}`. In Google Cloud Backup and DR, locations map to Google Cloud regions, for e.g. **us-central1**. To retrieve backup plans for all locations, use \"-\" for the `{location}` value."
                    },
                    "orderBy": {
                      "description": "Optional. Field by which to sort the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field match expression used to filter the results."
                    },
                    "pageToken": {
                      "description": "Optional. The value of next_page_token received from a previous `ListBackupPlans` call. Provide this to retrieve the subsequent page in a multi-page list of results. When paginating, all other parameters provided to `ListBackupPlans` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans",
                  "description": "Lists BackupPlans in a given project and location.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBackupPlansResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "revisions": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "BackupPlanRevision"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupPlans/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the `BackupPlanRevision` to retrieve. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans/{backupPlansId}/revisions/{revisionsId}",
                      "id": "backupdr.projects.locations.backupPlans.revisions.get",
                      "description": "Gets details of a single BackupPlanRevision.",
                      "path": "v1beta/{+name}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of `BackupPlans` to return in a single response. If not specified, a default value will be chosen by the service. Note that the response may include a partial list and a caller should only rely on the response's next_page_token to determine if there are more instances left to be queried."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupPlans/[^/]+$",
                          "type": "string",
                          "description": "Required. The project and location for which to retrieve `BackupPlanRevisions` information. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`. In Google Cloud Backup and DR, locations map to Google Cloud regions, for e.g. **us-central1**.",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The value of next_page_token received from a previous `ListBackupPlans` call. Provide this to retrieve the subsequent page in a multi-page list of results. When paginating, all other parameters provided to `ListBackupPlans` must match the call that provided the page token."
                        }
                      },
                      "id": "backupdr.projects.locations.backupPlans.revisions.list",
                      "response": {
                        "$ref": "ListBackupPlanRevisionsResponse"
                      },
                      "description": "Lists BackupPlanRevisions in a given project and location.",
                      "path": "v1beta/{+parent}/revisions",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlans/{backupPlansId}/revisions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "backupVaults": {
              "resources": {
                "dataSources": {
                  "resources": {
                    "backups": {
                      "methods": {
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "DELETE",
                          "description": "Deletes a Backup.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. Name of the resource.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "location": "path"
                            },
                            "requestId": {
                              "type": "string",
                              "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "location": "query"
                            }
                          },
                          "path": "v1beta/{+name}",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.delete"
                        },
                        "restore": {
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the Backup instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/*/backups/'.",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "RestoreBackupRequest"
                          },
                          "path": "v1beta/{+name}:restore",
                          "description": "Restore from a Backup",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}:restore",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.restore"
                        },
                        "fetchForResourceType": {
                          "path": "v1beta/{+parent}/backups:fetchForResourceType",
                          "description": "Fetch Backups for a given resource type.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.fetchForResourceType",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "FetchBackupsForResourceTypeResponse"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "view": {
                              "type": "string",
                              "description": "Optional. This parameter is used to specify the view of the backup. If not specified, the default view is BASIC.",
                              "location": "query",
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ]
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                              "description": "Required. Datasources are the parent resource for the backups. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{datasourceId}"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * name"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous call of `FetchBackupsForResourceType`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchBackupsForResourceType` must match the call that provided the page token."
                            },
                            "resourceType": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The type of the GCP resource. Ex: sqladmin.googleapis.com/Instance"
                            },
                            "filter": {
                              "description": "Optional. A filter expression that filters the results fetched in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. Supported fields: * name * state * backup_type * create_time * expire_time * enforced_retention_end_time * gcp_backup_plan_info.backup_plan * cloud_sql_instance_backup_properties.instance_tier * cloud_sql_instance_backup_properties.database_installed_version",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of Backups to return. The service may return fewer than this value. If unspecified, at most 50 Backups will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups:fetchForResourceType"
                        },
                        "list": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The project and location for which to retrieve backup information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve data sources for all locations, use \"-\" for the '{location}' value.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "format": "int32"
                            },
                            "view": {
                              "location": "query",
                              "type": "string",
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ],
                              "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup resource."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A token identifying a page of results the server should return."
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results."
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results."
                            }
                          },
                          "description": "Lists Backups in a given project and location.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListBackupsResponse"
                          },
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/backups"
                        },
                        "patch": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "path": "v1beta/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource."
                            },
                            "updateMask": {
                              "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "requestId": {
                              "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "description": "Updates the settings of a Backup.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Backup"
                          },
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.patch"
                        },
                        "get": {
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a Backup.",
                          "response": {
                            "$ref": "Backup"
                          },
                          "path": "v1beta/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "required": true,
                              "description": "Required. Name of the data source resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{backupVault}/dataSources/{datasource}/backups/{backup}'",
                              "location": "path",
                              "type": "string"
                            },
                            "view": {
                              "type": "string",
                              "location": "query",
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ],
                              "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup resource.",
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ]
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "path": "v1beta/{+parent}/dataSources",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                          "location": "path",
                          "description": "Required. The project and location for which to retrieve data sources information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve data sources for all locations, use \"-\" for the '{location}' value."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists DataSources in a given project and location.",
                      "response": {
                        "$ref": "ListDataSourcesResponse"
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "request": {
                        "$ref": "DataSource"
                      },
                      "path": "v1beta/{+name}",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.patch",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}",
                      "description": "Updates the settings of a DataSource.",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Enable upsert."
                        },
                        "name": {
                          "required": true,
                          "description": "Output only. Identifier. Name of the datasource to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}\"`. `{datasource}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the backup vault.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the DataSource resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "remove": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.remove",
                      "request": {
                        "$ref": "RemoveDataSourceRequest"
                      },
                      "path": "v1beta/{+name}:remove",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:remove",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a DataSource. This is a custom method instead of a standard delete method because external clients will not delete DataSources except for BackupDR backup appliances.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "DataSource"
                      },
                      "description": "Gets details of a DataSource.",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the data source resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{resource_name}/dataSource/{resource_name}'"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "backupdr.projects.locations.backupVaults.dataSources.get"
                    },
                    "finalizeBackup": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:finalizeBackup",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "dataSource": {
                          "required": true,
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "httpMethod": "POST",
                      "description": "Internal only. Finalize a backup that was started by a call to InitiateBackup.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.finalizeBackup",
                      "path": "v1beta/{+dataSource}:finalizeBackup",
                      "request": {
                        "$ref": "FinalizeBackupRequest"
                      }
                    },
                    "fetchAccessToken": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format 'projects/*/locations/*/backupVaults/*/dataSources'."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "description": "Internal only. Fetch access token for a given data source.",
                      "path": "v1beta/{+name}:fetchAccessToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.fetchAccessToken",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:fetchAccessToken",
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      }
                    },
                    "initiateBackup": {
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "path": "v1beta/{+dataSource}:initiateBackup",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.initiateBackup",
                      "request": {
                        "$ref": "InitiateBackupRequest"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:initiateBackup",
                      "description": "Internal only. Initiates a backup.",
                      "parameters": {
                        "dataSource": {
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "InitiateBackupResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "setInternalStatus": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "SetInternalStatusRequest"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:setInternalStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+dataSource}:setInternalStatus",
                      "description": "Sets the internal status of a DataSource.",
                      "httpMethod": "POST",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.setInternalStatus",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "parameters": {
                        "dataSource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "abandonBackup": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "dataSource": {
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.abandonBackup",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "request": {
                        "$ref": "AbandonBackupRequest"
                      },
                      "description": "Internal only. Abandons a backup.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:abandonBackup",
                      "path": "v1beta/{+dataSource}:abandonBackup"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the settings of a BackupVault.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "parameters": {
                    "forceUpdateAccessRestriction": {
                      "description": "Optional. If set to true, we will force update access restriction even if some non compliant data sources are present. The default is 'false'.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
                      "type": "string",
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupVault resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail."
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, will not check plan duration against backup vault enforcement duration."
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "id": "backupdr.projects.locations.backupVaults.patch"
                },
                "list": {
                  "description": "Lists BackupVaults in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBackupVaultsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The project and location for which to retrieve backupvault stores information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backupvault stores for all locations, use \"-\" for the '{location}' value."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BACKUP_VAULT_VIEW_UNSPECIFIED",
                        "BACKUP_VAULT_VIEW_BASIC",
                        "BACKUP_VAULT_VIEW_FULL"
                      ],
                      "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup Vault.",
                      "type": "string",
                      "enumDescriptions": [
                        "If the value is not set, the default 'FULL' view is used.",
                        "Includes basic data about the Backup Vault, but not the full contents.",
                        "Includes all data about the Backup Vault. This is the default value (for both ListBackupVaults and GetBackupVault)."
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/backupVaults",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "id": "backupdr.projects.locations.backupVaults.list"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "description": "Returns the caller's permissions on a BackupVault resource. A caller is not required to have Google IAM permission to make this request.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "backupdr.projects.locations.backupVaults.testIamPermissions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "fetchUsable": {
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/backupVaults:fetchUsable",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location for which to retrieve backupvault stores information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backupvault stores for all locations, use \"-\" for the '{location}' value.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "FetchUsableBackupVaultsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults:fetchUsable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "backupdr.projects.locations.backupVaults.fetchUsable",
                  "description": "FetchUsableBackupVaults lists usable BackupVaults in a given project and location. Usable BackupVault are the ones that user has backupdr.backupVaults.get permission."
                },
                "get": {
                  "response": {
                    "$ref": "BackupVault"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a BackupVault.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the backupvault store resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{resource_name}'",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup Vault",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "If the value is not set, the default 'FULL' view is used.",
                        "Includes basic data about the Backup Vault, but not the full contents.",
                        "Includes all data about the Backup Vault. This is the default value (for both ListBackupVaults and GetBackupVault)."
                      ],
                      "enum": [
                        "BACKUP_VAULT_VIEW_UNSPECIFIED",
                        "BACKUP_VAULT_VIEW_BASIC",
                        "BACKUP_VAULT_VIEW_FULL"
                      ]
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "id": "backupdr.projects.locations.backupVaults.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "path": "v1beta/{+parent}/backupVaults",
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "description": "Creates a new BackupVault in a given project and location.",
                  "id": "backupdr.projects.locations.backupVaults.create",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Value for parent."
                    },
                    "backupVaultId": {
                      "type": "string",
[...]
