{
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "canonicalName": "Backupdr",
  "name": "backupdr",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "title": "Backup and DR Service API",
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "kind": "discovery#restDescription",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "resourceBackupConfigs": {
              "methods": {
                "fetch": {
                  "id": "backupdr.organizations.locations.resourceBackupConfigs.fetch",
                  "path": "v1beta/{+parent}/resourceBackupConfigs:fetch",
                  "response": {
                    "$ref": "FetchResourceBackupConfigsResponse"
                  },
                  "description": "Fetches ResourceBackupConfigs.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/resourceBackupConfigs:fetch",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The project, folder or organization and location for which to retrieve resource backup configs. Format: 'projects/{project_id}/locations/{location}', 'folders/{folder_id}/locations/{location}', or 'organizations/{organization_id}/locations/{location}'.",
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will use 100 as default. Maximum value is 500 and values above 500 will be coerced to 500.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "resourceBackupConfigs": {
              "methods": {
                "fetch": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/resourceBackupConfigs:fetch",
                  "response": {
                    "$ref": "FetchResourceBackupConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Fetches ResourceBackupConfigs.",
                  "flatPath": "v1beta/folders/{foldersId}/locations/{locationsId}/resourceBackupConfigs:fetch",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will use 100 as default. Maximum value is 500 and values above 500 will be coerced to 500."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project, folder or organization and location for which to retrieve resource backup configs. Format: 'projects/{project_id}/locations/{location}', 'folders/{folder_id}/locations/{location}', or 'organizations/{organization_id}/locations/{location}'.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "backupdr.folders.locations.resourceBackupConfigs.fetch"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "managementServers": {
              "methods": {
                "setIamPolicy": {
                  "id": "backupdr.projects.locations.managementServers.setIamPolicy",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                },
                "getIamPolicy": {
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "backupdr.projects.locations.managementServers.getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "backupdr.projects.locations.managementServers.create",
                  "description": "Creates a new ManagementServer in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ManagementServer"
                  },
                  "path": "v1beta/{+parent}/managementServers",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The management server project and location in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR locations map to Google Cloud regions, for example **us-central1**.",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "managementServerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The name of the management server to create. The name must be unique for the specified project and location."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "id": "backupdr.projects.locations.managementServers.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "delete": {
                  "id": "backupdr.projects.locations.managementServers.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single ManagementServer.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "id": "backupdr.projects.locations.managementServers.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve management servers information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve management servers for all locations, use \"-\" for the '{location}' value.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListManagementServersResponse"
                  },
                  "description": "Lists ManagementServers in a given project and location.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers",
                  "path": "v1beta/{+parent}/managementServers"
                },
                "msComplianceMetadata": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers:msComplianceMetadata",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location to be used to check CSS metadata for target project information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "FetchMsComplianceMetadataResponse"
                  },
                  "description": "Returns the Assured Workloads compliance metadata for a given project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "FetchMsComplianceMetadataRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}:msComplianceMetadata",
                  "id": "backupdr.projects.locations.managementServers.msComplianceMetadata"
                },
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/managementServers/{managementServersId}",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single ManagementServer.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the management server resource name, in the format 'projects/{project_id}/locations/{location}/managementServers/{resource_name}'",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/managementServers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ManagementServer"
                  },
                  "httpMethod": "GET",
                  "id": "backupdr.projects.locations.managementServers.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "serviceConfig": {
              "methods": {
                "initialize": {
                  "path": "v1beta/{+name}:initialize",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceConfig$",
                      "required": true,
                      "description": "Required. The resource name of the serviceConfig used to initialize the service. The location must be the location of the BackupVault. Format: `projects/{project_id}/locations/{location}/serviceConfig`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "InitializeServiceRequest"
                  },
                  "id": "backupdr.projects.locations.serviceConfig.initialize",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/serviceConfig:initialize",
                  "description": "Initializes the service related config for a project.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dataSourceReferences": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSourceReferences/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the DataSourceReference to retrieve. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}"
                    }
                  },
                  "response": {
                    "$ref": "DataSourceReference"
                  },
                  "description": "Gets details of a single DataSourceReference.",
                  "id": "backupdr.projects.locations.dataSourceReferences.get",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataSourceReferences/{dataSourceReferencesId}",
                  "path": "v1beta/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "backupdr.projects.locations.dataSourceReferences.list",
                  "description": "Lists DataSourceReferences for a given project and location.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDataSourceReferencesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDataSourceReferences` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataSourceReferences` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of DataSourceReferences to return. The service may return fewer than this value. If unspecified, at most 50 DataSourceReferences will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. A filter expression that filters the results listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The following field and operator combinations are supported: * data_source_gcp_resource_info.gcp_resourcename with `=`, `!=` * data_source_gcp_resource_info.type with `=`, `!=`",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * data_source * data_source_gcp_resource_info.gcp_resourcename"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataSourceReferences",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/dataSourceReferences"
                },
                "fetchForResourceType": {
                  "response": {
                    "$ref": "FetchDataSourceReferencesForResourceTypeResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call of `FetchDataSourceReferencesForResourceType`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchDataSourceReferencesForResourceType` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name. Format: projects/{project}/locations/{location}",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. A filter expression that filters the results fetched in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. Supported fields: * data_source * data_source_gcp_resource_info.gcp_resourcename * data_source_backup_config_state * data_source_backup_count * data_source_backup_config_info.last_backup_state * data_source_gcp_resource_info.gcp_resourcename * data_source_gcp_resource_info.type * data_source_gcp_resource_info.location * data_source_gcp_resource_info.cloud_sql_instance_properties.instance_create_time",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of DataSourceReferences to return. The service may return fewer than this value. If unspecified, at most 50 DataSourceReferences will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * name",
                      "location": "query"
                    },
                    "resourceType": {
                      "location": "query",
                      "description": "Required. The type of the Google Cloud resource. Ex: sql.googleapis.com/Instance",
                      "type": "string"
                    }
                  },
                  "id": "backupdr.projects.locations.dataSourceReferences.fetchForResourceType",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataSourceReferences:fetchForResourceType",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Fetch DataSourceReferences for a given project, location and resource type.",
                  "path": "v1beta/{+parent}/dataSourceReferences:fetchForResourceType"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "backupdr.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "path": "v1beta/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "backupdr.projects.locations.operations.cancel"
                },
                "get": {
                  "id": "backupdr.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "id": "backupdr.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                }
              }
            },
            "backupVaults": {
              "methods": {
                "delete": {
                  "path": "v1beta/{+name}",
                  "id": "backupdr.projects.locations.backupVaults.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "description": "Deletes a BackupVault.",
                  "parameters": {
                    "ignoreBackupPlanReferences": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, backupvault deletion will proceed even if there are backup plans referencing the backupvault. The default is 'false'."
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any data source from this backup vault will also be deleted.",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If true and the BackupVault is not found, the request will succeed but no action will be taken."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource."
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "The current etag of the backup vault. If an etag is provided and does not match the current etag of the connection, deletion will be blocked."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "fetchUsable": {
                  "response": {
                    "$ref": "FetchUsableBackupVaultsResponse"
                  },
                  "id": "backupdr.projects.locations.backupVaults.fetchUsable",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults:fetchUsable",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location for which to retrieve backupvault stores information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backupvault stores for all locations, use \"-\" for the '{location}' value."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "FetchUsableBackupVaults lists usable BackupVaults in a given project and location. Usable BackupVault are the ones that user has backupdr.backupVaults.get permission.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/backupVaults:fetchUsable"
                },
                "list": {
                  "response": {
                    "$ref": "ListBackupVaultsResponse"
                  },
                  "id": "backupdr.projects.locations.backupVaults.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "description": "Lists BackupVaults in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results.",
                      "location": "query"
                    },
                    "view": {
                      "enumDescriptions": [
                        "If the value is not set, the default 'FULL' view is used.",
                        "Includes basic data about the Backup Vault, but not the full contents.",
                        "Includes all data about the Backup Vault. This is the default value (for both ListBackupVaults and GetBackupVault)."
                      ],
                      "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup Vault.",
                      "location": "query",
                      "enum": [
                        "BACKUP_VAULT_VIEW_UNSPECIFIED",
                        "BACKUP_VAULT_VIEW_BASIC",
                        "BACKUP_VAULT_VIEW_FULL"
                      ],
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The project and location for which to retrieve backupvault stores information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backupvault stores for all locations, use \"-\" for the '{location}' value.",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/backupVaults",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'.",
                      "type": "boolean"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, will not check plan duration against backup vault enforcement duration."
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupVault resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "forceUpdateAccessRestriction": {
                      "location": "query",
                      "description": "Optional. If set to true, we will force update access restriction even if some non compliant data sources are present. The default is 'false'.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location."
                    }
                  },
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "id": "backupdr.projects.locations.backupVaults.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the settings of a BackupVault."
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "backupdr.projects.locations.backupVaults.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the caller's permissions on a BackupVault resource. A caller is not required to have Google IAM permission to make this request.",
                  "httpMethod": "POST"
                },
                "create": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "id": "backupdr.projects.locations.backupVaults.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/backupVaults",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "backupVaultId": {
                      "location": "query",
                      "description": "Required. ID of the requesting object If auto-generating ID server-side, remove this field and backup_vault_id from the method_signature of Create RPC",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'."
                    }
                  },
                  "description": "Creates a new BackupVault in a given project and location.",
                  "request": {
                    "$ref": "BackupVault"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BackupVault"
                  },
                  "id": "backupdr.projects.locations.backupVaults.get",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "path": "v1beta/{+name}",
                  "description": "Gets details of a BackupVault.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the backupvault store resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{resource_name}'",
                      "required": true
                    },
                    "view": {
                      "enumDescriptions": [
                        "If the value is not set, the default 'FULL' view is used.",
                        "Includes basic data about the Backup Vault, but not the full contents.",
                        "Includes all data about the Backup Vault. This is the default value (for both ListBackupVaults and GetBackupVault)."
                      ],
                      "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup Vault",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "BACKUP_VAULT_VIEW_UNSPECIFIED",
                        "BACKUP_VAULT_VIEW_BASIC",
                        "BACKUP_VAULT_VIEW_FULL"
                      ]
                    }
                  }
                }
              },
              "resources": {
                "dataSources": {
                  "methods": {
                    "initiateBackup": {
                      "id": "backupdr.projects.locations.backupVaults.dataSources.initiateBackup",
                      "path": "v1beta/{+dataSource}:initiateBackup",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "InitiateBackupResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:initiateBackup",
                      "parameters": {
                        "dataSource": {
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "description": "Internal only. Initiates a backup.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "InitiateBackupRequest"
                      }
                    },
                    "abandonBackup": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "AbandonBackupRequest"
                      },
                      "parameters": {
                        "dataSource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.abandonBackup",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:abandonBackup",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "description": "Internal only. Abandons a backup.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/{+dataSource}:abandonBackup"
                    },
                    "finalizeBackup": {
                      "description": "Internal only. Finalize a backup that was started by a call to InitiateBackup.",
                      "request": {
                        "$ref": "FinalizeBackupRequest"
                      },
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "backupdr.projects.locations.backupVaults.dataSources.finalizeBackup",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/{+dataSource}:finalizeBackup",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:finalizeBackup",
                      "parameters": {
                        "dataSource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a DataSource.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "DataSource"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "backupdr.projects.locations.backupVaults.dataSources.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the data source resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{resource_name}/dataSource/{resource_name}'",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "setInternalStatus": {
                      "parameters": {
                        "dataSource": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:setInternalStatus",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "description": "Sets the internal status of a DataSource.",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.setInternalStatus",
                      "request": {
                        "$ref": "SetInternalStatusRequest"
                      },
                      "path": "v1beta/{+dataSource}:setInternalStatus",
                      "httpMethod": "POST"
                    },
                    "remove": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "description": "Required. Name of the resource.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.remove",
                      "request": {
                        "$ref": "RemoveDataSourceRequest"
                      },
                      "description": "Deletes a DataSource. This is a custom method instead of a standard delete method because external clients will not delete DataSources except for BackupDR backup appliances.",
                      "path": "v1beta/{+name}:remove",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:remove"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results.",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                          "description": "Required. The project and location for which to retrieve data sources information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve data sources for all locations, use \"-\" for the '{location}' value.",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListDataSourcesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists DataSources in a given project and location.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources",
                      "path": "v1beta/{+parent}/dataSources",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.list"
                    },
                    "fetchAccessToken": {
                      "path": "v1beta/{+name}:fetchAccessToken",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format 'projects/*/locations/*/backupVaults/*/dataSources'.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "description": "Internal only. Fetch access token for a given data source.",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.fetchAccessToken",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:fetchAccessToken"
                    },
                    "patch": {
                      "id": "backupdr.projects.locations.backupVaults.dataSources.patch",
                      "httpMethod": "PATCH",
                      "path": "v1beta/{+name}",
                      "description": "Updates the settings of a DataSource.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the DataSource resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail."
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Enable upsert."
                        },
                        "name": {
                          "description": "Output only. Identifier. Name of the datasource to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}\"`. `{datasource}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the backup vault.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "DataSource"
                      }
                    }
                  },
                  "resources": {
                    "backups": {
                      "methods": {
                        "restore": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Restore from a Backup",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.restore",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "RestoreBackupRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta/{+name}:restore",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The resource name of the Backup instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/*/backups/'.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}:restore"
                        },
                        "patch": {
                          "description": "Updates the settings of a Backup.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.patch",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource."
                            },
                            "requestId": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail."
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "Backup"
                          },
                          "httpMethod": "PATCH",
                          "path": "v1beta/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.list",
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results."
                            },
                            "view": {
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup resource.",
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ]
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. The project and location for which to retrieve backup information, in the format 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve data sources for all locations, use \"-\" for the '{location}' value.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                              "location": "path"
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Optional. Hint for how to order the results.",
                              "type": "string"
                            }
                          },
                          "path": "v1beta/{+parent}/backups",
                          "description": "Lists Backups in a given project and location.",
                          "response": {
                            "$ref": "ListBackupsResponse"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.delete",
                          "path": "v1beta/{+name}",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "requestId": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Name of the resource.",
                              "type": "string"
                            }
                          },
                          "description": "Deletes a Backup."
                        },
                        "get": {
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "Backup"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the data source resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{backupVault}/dataSources/{datasource}/backups/{backup}'",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$"
                            },
                            "view": {
                              "type": "string",
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ],
                              "location": "query",
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup resource."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets details of a Backup."
                        },
                        "fetchForResourceType": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups:fetchForResourceType",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.fetchForResourceType",
                          "response": {
                            "$ref": "FetchBackupsForResourceTypeResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Fetch Backups for a given resource type.",
                          "path": "v1beta/{+parent}/backups:fetchForResourceType",
                          "parameters": {
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * name"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. Datasources are the parent resource for the backups. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{datasourceId}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of Backups to return. The service may return fewer than this value. If unspecified, at most 50 Backups will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous call of `FetchBackupsForResourceType`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchBackupsForResourceType` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. A filter expression that filters the results fetched in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. Supported fields: * name * state * backup_type * create_time * expire_time * enforced_retention_end_time * gcp_backup_plan_info.backup_plan * cloud_sql_instance_backup_properties.instance_tier * cloud_sql_instance_backup_properties.database_installed_version",
                              "location": "query",
                              "type": "string"
                            },
                            "resourceType": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The type of the GCP resource. Ex: sqladmin.googleapis.com/Instance"
                            },
                            "view": {
                              "location": "query",
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "type": "string",
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ],
                              "description": "Optional. This parameter is used to specify the view of the backup. If not specified, the default view is BASIC."
                            }
                          },
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            },
            "backupPlanAssociations": {
              "methods": {
                "triggerBackup": {
                  "path": "v1beta/{+name}:triggerBackup",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Triggers a new Backup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations/{backupPlanAssociationsId}:triggerBackup",
                  "httpMethod": "POST",
                  "id": "backupdr.projects.locations.backupPlanAssociations.triggerBackup",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlanAssociations/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the backup plan association resource, in the format `projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}`"
                    }
                  },
                  "request": {
                    "$ref": "TriggerBackupRequest"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/backupPlanAssociations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "backupdr.projects.locations.backupPlanAssociations.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BackupPlanAssociation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations",
                  "description": "Create a BackupPlanAssociation",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "backupPlanAssociationId": {
                      "description": "Required. The name of the backup plan association to create. The name must be unique for the specified project and location.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The backup plan association project and location in the format `projects/{project_id}/locations/{location}`. In Backup and DR locations map to Google Cloud regions, for example **us-central1**.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "BackupPlanAssociation"
                  },
[...]
