{
  "description": "",
  "name": "backupdr",
  "discoveryVersion": "v1",
  "schemas": {
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "type": "object",
      "description": "Response message for listing BackupVaults.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "backupVaults": {
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          },
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "StandardSchedule": {
      "type": "object",
      "properties": {
        "weekDayOfMonth": {
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "$ref": "WeekDayOfMonth"
        },
        "months": {
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string",
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ]
          }
        },
        "daysOfWeek": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "type": "array",
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`."
        },
        "daysOfMonth": {
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "hourlyFrequency": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 1 means jobs will run every 1 hour from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details."
        },
        "recurrenceType": {
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ],
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ],
          "type": "string",
          "description": "Required. Specifies the `RecurrenceType` for the schedule."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For example, Europe/Paris."
        },
        "backupWindow": {
          "$ref": "BackupWindow",
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window."
        }
      },
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "id": "StandardSchedule"
    },
    "DiskExclusionLabels": {
      "type": "object",
      "description": "Message for selective disk backup exclusion labels.",
      "properties": {
        "labels": {
          "description": "Optional. Labels used to identify disks for exclusion from the backup. If a disk carries any of these labels, it will be excluded (OR logic).",
          "items": {
            "$ref": "LabelKeyValPair"
          },
          "type": "array"
        }
      },
      "id": "DiskExclusionLabels"
    },
    "AccessConfig": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ]
        },
        "networkTier": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "type": "string",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ]
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "name": {
          "description": "Optional. The name of this access configuration.",
          "type": "string"
        },
        "externalIpv6PrefixLength": {
          "format": "int32",
          "description": "Optional. The prefix length of the external IPv6 range.",
          "type": "integer"
        },
        "externalIpv6": {
          "type": "string",
          "description": "Optional. The external IPv6 address of this access configuration."
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        },
        "publicPtrDomainName": {
          "type": "string",
          "description": "Optional. The DNS domain name for the public PTR record."
        }
      },
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig"
    },
    "SchedulingDuration": {
      "description": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Optional. Span of time that's a fraction of a second at nanosecond resolution.",
          "format": "int32"
        },
        "seconds": {
          "format": "int64",
          "description": "Optional. Span of time at a resolution of a second.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SchedulingDuration"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "properties": {
        "kmsKeyServiceAccount": {
          "type": "string",
          "description": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used."
        },
        "rawKey": {
          "type": "string",
          "description": "Optional. Specifies a 256-bit customer-supplied encryption key."
        },
        "rsaEncryptedKey": {
          "type": "string",
          "description": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource."
        },
        "kmsKeyName": {
          "description": "Optional. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "id": "CustomerEncryptionKey",
      "description": "A customer-supplied encryption key."
    },
    "RestoreBackupRequest": {
      "description": "Request message for restoring from a Backup.",
      "properties": {
        "diskTargetEnvironment": {
          "$ref": "DiskTargetEnvironment",
          "description": "Disk target environment to be used during restore."
        },
        "diskRestoreProperties": {
          "$ref": "DiskRestoreProperties",
          "description": "Disk properties to be overridden during restore."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "clearOverridesFieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`"
        },
        "computeInstanceTargetEnvironment": {
          "description": "Compute Engine target environment to be used during restore.",
          "$ref": "ComputeInstanceTargetEnvironment"
        },
        "regionDiskTargetEnvironment": {
          "description": "Region disk target environment to be used during restore.",
          "$ref": "RegionDiskTargetEnvironment"
        },
        "computeInstanceRestoreProperties": {
          "$ref": "ComputeInstanceRestoreProperties",
          "description": "Compute Engine instance properties to be overridden during restore."
        }
      },
      "id": "RestoreBackupRequest",
      "type": "object"
    },
    "GCPBackupPlanInfo": {
      "id": "GCPBackupPlanInfo",
      "description": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup.",
      "properties": {
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup.",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "type": "string",
          "description": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}"
        },
        "backupPlan": {
          "description": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "backupPlanRuleId": {
          "type": "string",
          "description": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for"
        }
      },
      "type": "object"
    },
    "RemoveDataSourceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Message for deleting a DataSource.",
      "id": "RemoveDataSourceRequest"
    },
    "DiskTargetEnvironment": {
      "description": "DiskTargetEnvironment represents the target environment for the disk.",
      "properties": {
        "zone": {
          "description": "Required. Target zone for the disk.",
          "type": "string"
        },
        "project": {
          "description": "Required. Target project for the disk.",
          "type": "string"
        },
        "useProjectServiceAccount": {
          "type": "boolean",
          "description": "Optional. Whether to use the project service account for the disk restore."
        }
      },
      "type": "object",
      "id": "DiskTargetEnvironment"
    },
    "WorkforceIdentityBasedOAuth2ClientID": {
      "id": "WorkforceIdentityBasedOAuth2ClientID",
      "type": "object",
      "description": "OAuth Client ID depending on the Workforce Identity i.e. either 1p or 3p,",
      "properties": {
        "firstPartyOauth2ClientId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. First party OAuth Client ID for Google Identities."
        },
        "thirdPartyOauth2ClientId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Third party OAuth Client ID for External Identity Providers."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ResourceBackupConfig": {
      "properties": {
        "targetResourceDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human friendly name of the target resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}"
        },
        "backupConfigured": {
          "type": "boolean",
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty.",
          "readOnly": true
        },
        "backupConfigsDetails": {
          "type": "array",
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated.",
          "items": {
            "$ref": "BackupConfigDetails"
          }
        },
        "targetResourceLabels": {
          "description": "Labels associated with the target resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vaulted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set."
        },
        "targetResource": {
          "readOnly": true,
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource backup config.",
          "readOnly": true
        },
        "targetResourceType": {
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ],
          "description": "Output only. The type of the target resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ]
        }
      },
      "type": "object",
      "description": "ResourceBackupConfig represents a resource along with its backup configurations.",
      "id": "ResourceBackupConfig"
    },
    "GuestOsFeature": {
      "type": "object",
      "description": "Feature type of the Guest OS.",
      "id": "GuestOsFeature",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ],
          "description": "The ID of a supported feature.",
          "type": "string",
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ]
        }
      }
    },
    "InitiateBackupRequest": {
      "id": "InitiateBackupRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "backupId": {
          "description": "Required. Resource ID of the Backup resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "request message for InitiateBackup."
    },
    "ListBackupPlansResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "backupPlans": {
          "description": "The list of `BackupPlans` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations. BackupPlan",
          "items": {
            "$ref": "BackupPlan"
          },
          "type": "array"
        }
      },
      "description": "The response message for getting a list of `BackupPlan`.",
      "id": "ListBackupPlansResponse"
    },
    "AdvancedMachineFeatures": {
      "id": "AdvancedMachineFeatures",
      "type": "object",
      "properties": {
        "enableUefiNetworking": {
          "type": "boolean",
          "description": "Optional. Whether to enable UEFI networking for instance creation."
        },
        "threadsPerCore": {
          "description": "Optional. The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "type": "integer",
          "format": "int32"
        },
        "visibleCoreCount": {
          "description": "Optional. The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width.",
          "format": "int32",
          "type": "integer"
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Optional. Whether to enable nested virtualization or not (default is false)."
        }
      },
      "description": "Specifies options for controlling advanced machine features."
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Entry"
          },
          "description": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB."
        }
      },
      "description": "A metadata key/value entry."
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ComputeInstanceDataSourceProperties": {
      "properties": {
        "totalDiskSizeGb": {
          "description": "The sum of all the disk sizes.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of the compute instance backed up by the datasource."
        },
        "totalDiskCount": {
          "description": "The total number of disks attached to the Instance.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the Compute Engine instance."
        },
        "machineType": {
          "description": "The machine type of the instance.",
          "type": "string"
        }
      },
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource.",
      "type": "object",
      "id": "ComputeInstanceDataSourceProperties"
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "id": "FetchDataSourceReferencesForResourceTypeResponse",
      "properties": {
        "dataSourceReferences": {
          "type": "array",
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for the FetchDataSourceReferencesForResourceType method.",
      "type": "object"
    },
    "FetchAccessTokenResponse": {
      "type": "object",
      "description": "Response message for FetchAccessToken.",
      "properties": {
        "writeLocation": {
          "type": "string",
          "description": "The location in bucket that can be used for writing."
        },
        "readLocation": {
          "type": "string",
          "description": "The location in bucket that can be used for reading."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The token is valid until this time."
        },
        "token": {
          "type": "string",
          "description": "Input only. The downscoped token that was created."
        }
      },
      "id": "FetchAccessTokenResponse"
    },
    "InitializeServiceRequest": {
      "description": "Request message for initializing the service.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupPlanLocation": {
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field.",
          "type": "string"
        },
        "cloudSqlInstanceInitializationConfig": {
          "description": "Optional. The configuration for initializing a Cloud SQL instance.",
          "$ref": "CloudSqlInstanceInitializationConfig"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\"."
        },
        "validateOnly": {
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it.",
          "type": "boolean"
        }
      },
      "id": "InitializeServiceRequest"
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "id": "CloudSqlInstanceBackupPlanAssociationProperties",
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the instance was created."
        }
      },
      "description": "Cloud SQL instance's BPA properties."
    },
    "Scheduling": {
      "type": "object",
      "description": "Sets the scheduling options for an Instance.",
      "id": "Scheduling",
      "properties": {
        "provisioningModel": {
          "type": "string",
          "description": "Optional. Specifies the provisioning model of the instance.",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Standard provisioning with user controlled runtime, no discounts.",
            "Heavily discounted, no guaranteed runtime."
          ]
        },
        "preemptible": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance is preemptible."
        },
        "minNodeCpus": {
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node.",
          "format": "int32",
          "type": "integer"
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "NodeAffinity"
          },
          "description": "Optional. A set of node affinity and anti-affinity configurations. Overrides reservationAffinity."
        },
        "onHostMaintenance": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tells Compute Engine to terminate and (optionally) restart the instance away from the maintenance activity.",
            "Default, Allows Compute Engine to automatically migrate instances out of the way of maintenance events."
          ],
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "Optional. Defines the maintenance behavior for this instance."
        },
        "localSsdRecoveryTimeout": {
          "description": "Optional. Specifies the maximum amount of time a Local Ssd Vm should wait while recovery of the Local Ssd state is attempted. Its value should be in between 0 and 168 hours with hour granularity and the default value being 1 hour.",
          "$ref": "SchedulingDuration"
        },
        "instanceTerminationAction": {
          "type": "string",
          "description": "Optional. Specifies the termination action for the instance.",
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
            "Stop the VM without storing in-memory content. default action."
          ]
        },
        "automaticRestart": {
          "type": "boolean",
          "description": "Optional. Specifies whether the instance should be automatically restarted if it is terminated by Compute Engine (not terminated by a user)."
        }
      }
    },
    "AliasIpRange": {
      "properties": {
        "subnetworkRangeName": {
          "description": "Optional. The name of a subnetwork secondary IP range from which to allocate an IP alias range. If not specified, the primary range of the subnetwork is used.",
          "type": "string"
        },
        "ipCidrRange": {
          "type": "string",
          "description": "Optional. The IP alias ranges to allocate for this interface."
        }
      },
      "type": "object",
      "id": "AliasIpRange",
      "description": "An alias IP range attached to an instance's network interface."
    },
    "NodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "type": "object",
      "properties": {
        "operator": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "Optional. Defines the operation of node selection."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of Node resource.",
          "type": "array"
        },
        "key": {
          "description": "Optional. Corresponds to the label key of Node resource.",
          "type": "string"
        }
      },
      "id": "NodeAffinity"
    },
    "BackupLocation": {
      "type": "object",
      "description": "BackupLocation represents a cloud location where a backup can be stored.",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the location.",
          "enumDescriptions": [
            "Location type is unspecified.",
            "Location type is zonal.",
            "Location type is regional.",
            "Location type is multi regional."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ]
        },
        "locationId": {
          "type": "string",
          "description": "Output only. The id of the cloud location. Example: \"us-central1\"",
          "readOnly": true
        }
      },
      "id": "BackupLocation"
    },
    "BackupPlanRevision": {
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time.",
      "id": "BackupPlanRevision",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "description": "Output only. Resource State"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`"
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "readOnly": true
        },
        "backupPlanSnapshot": {
          "description": "The Backup Plan being encompassed by this revision.",
          "$ref": "BackupPlan"
        }
      }
    },
    "DataSourceBackupApplianceApplication": {
      "type": "object",
      "description": "BackupApplianceApplication describes a Source Resource when it is an application backed up by a BackupAppliance.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Hostname of the host where the application is running."
        },
        "applicationId": {
          "type": "string",
          "format": "int64",
          "description": "The appid field of the application within the Backup Appliance."
        },
        "backupAppliance": {
          "description": "Appliance name.",
          "type": "string"
        },
        "hostId": {
          "type": "string",
          "description": "Hostid of the application host.",
          "format": "int64"
        },
        "applicationName": {
          "type": "string",
          "description": "The name of the Application as known to the Backup Appliance."
        },
        "type": {
          "description": "The type of the application. e.g. VMBackup",
          "type": "string"
        },
        "applianceId": {
          "description": "Appliance Id of the Backup Appliance.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DataSourceBackupApplianceApplication"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "TargetResource": {
      "type": "object",
      "id": "TargetResource",
      "properties": {
        "gcpResource": {
          "description": "Details of the native Google Cloud resource created as part of restore.",
          "$ref": "GcpResource"
        }
      },
      "description": "Details of the target resource created/modified as part of restore."
    },
    "RestoreBackupResponse": {
      "description": "Response message for restoring from a Backup.",
      "properties": {
        "targetResource": {
          "$ref": "TargetResource",
          "description": "Details of the target resource created/modified as part of restore."
        }
      },
      "type": "object",
      "id": "RestoreBackupResponse"
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "BackupDrPlanConfig": {
      "id": "BackupDrPlanConfig",
      "type": "object",
      "properties": {
        "backupDrPlanRules": {
          "description": "Backup rules of the backup plan resource.",
          "type": "array",
          "items": {
            "$ref": "BackupDrPlanRule"
          }
        }
      },
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration."
    },
    "InitializeParams": {
      "description": "Specifies the parameters to initialize this disk.",
      "type": "object",
      "properties": {
        "replicaZones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance.",
          "type": "array"
        },
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        }
      },
      "id": "InitializeParams"
    },
    "DisplayDevice": {
      "type": "object",
      "properties": {
        "enableDisplay": {
          "description": "Optional. Enables display for the Compute Engine VM",
          "type": "boolean"
        }
      },
      "description": "A set of Display Device options",
      "id": "DisplayDevice"
    },
    "BackupApplianceBackupProperties": {
      "description": "BackupApplianceBackupProperties represents BackupDR backup appliance's properties.",
      "properties": {
        "finalizeTime": {
          "format": "google-datetime",
          "description": "Output only. The time when this backup object was finalized (if none, backup is not finalized).",
          "readOnly": true,
          "type": "string"
        },
        "recoveryRangeStartTime": {
          "format": "google-datetime",
          "description": "Optional. The earliest timestamp of data available in this Backup.",
          "type": "string"
        },
        "recoveryRangeEndTime": {
          "description": "Optional. The latest timestamp of data available in this Backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "generationId": {
          "readOnly": true,
          "description": "Output only. The numeric generation ID of the backup (monotonically increasing).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BackupApplianceBackupProperties",
      "type": "object"
    },
    "FinalizeBackupRequest": {
      "description": "Message for finalizing a Backup.",
      "properties": {
        "recoveryRangeEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The latest timestamp of data available in this Backup. This will be set on the newly created Backup."
        },
        "consistencyTime": {
          "description": "The point in time when this backup was captured from the source. This will be assigned to the consistency_time field of the newly created Backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "retentionDuration": {
          "type": "string",
          "description": "The ExpireTime on the backup will be set to FinalizeTime plus this duration. If the resulting ExpireTime is less than EnforcedRetentionEndTime, then ExpireTime is set to EnforcedRetentionEndTime.",
          "format": "google-duration"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "backupId": {
          "type": "string",
          "description": "Required. Resource ID of the Backup resource to be finalized. This must be the same backup_id that was used in the InitiateBackupRequest."
        },
        "recoveryRangeStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The earliest timestamp of data available in this Backup. This will set on the newly created Backup."
        },
        "description": {
          "description": "This will be assigned to the description field of the newly created Backup.",
          "type": "string"
        }
      },
      "id": "FinalizeBackupRequest",
      "type": "object"
    },
    "NetworkPerformanceConfig": {
      "properties": {
        "totalEgressBandwidthTier": {
          "type": "string",
          "enumDescriptions": [
            "This value is unused.",
            "Default network performance config.",
            "Tier 1 network performance config."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "DEFAULT",
            "TIER_1"
          ],
          "description": "Optional. The tier of the total egress bandwidth."
        }
      },
      "id": "NetworkPerformanceConfig",
      "description": "Network performance configuration.",
      "type": "object"
    },
    "ComputeInstanceBackupPlanProperties": {
      "id": "ComputeInstanceBackupPlanProperties",
      "description": "Properties for a compute instance backup plan.",
      "type": "object",
      "properties": {
        "diskExclusionLabels": {
          "description": "Optional. Labels used to identify disks for exclusion from the backup. If a disk carries any of these labels, it will be excluded (OR logic).",
          "$ref": "DiskExclusionLabels"
        },
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
        },
        "bootDiskOnly": {
          "description": "Optional. If true, only the boot disk will be backed up.",
          "type": "boolean"
        }
      }
    },
    "CloudSqlInstanceBackupProperties": {
      "properties": {
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The instance creation timestamp."
        },
        "instanceDeleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The instance delete timestamp."
        },
        "instanceTier": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`"
        },
        "finalBackup": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the backup is a final backup."
        },
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance when the backup was taken.",
          "readOnly": true,
          "type": "string"
        },
        "sourceInstance": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source instance of the backup. Format: projects/{project}/instances/{instance}"
        }
      },
      "id": "CloudSqlInstanceBackupProperties",
      "description": "CloudSqlInstanceBackupProperties represents Cloud SQL Instance Backup properties.",
      "type": "object"
    },
    "FilestoreInstanceDataSourceReferenceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Filestore instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
        },
        "instanceCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "FilestoreInstanceDataSourceReferenceProperties represents the properties of a Filestore resource that are stored in the DataSourceReference. .",
      "id": "FilestoreInstanceDataSourceReferenceProperties"
    },
    "CloudSqlInstanceDataSourceProperties": {
      "properties": {
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "type": "string",
          "readOnly": true
        },
        "instanceTier": {
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string",
          "readOnly": true
        },
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The instance creation timestamp."
        }
      },
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource.",
      "type": "object",
      "id": "CloudSqlInstanceDataSourceProperties"
    },
    "AlloyDbClusterBackupProperties": {
      "id": "AlloyDbClusterBackupProperties",
      "description": "AlloyDbClusterBackupProperties represents AlloyDB cluster backup properties. .",
      "properties": {
        "description": {
          "description": "An optional text description for the backup.",
          "type": "string"
        },
        "storedBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Storage usage of this particular backup"
        },
        "databaseVersion": {
          "description": "Output only. The PostgreSQL major version of the AlloyDB cluster when the backup was taken.",
          "readOnly": true,
          "type": "string"
        },
        "chainId": {
          "readOnly": true,
          "description": "Output only. The chain id of this backup. Backups belonging to the same chain are sharing the same chain id. This property is calculated and maintained by BackupDR.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RestoreDiskFromInstanceOptions": {
      "id": "RestoreDiskFromInstanceOptions",
      "type": "object",
      "properties": {
        "bootDisk": {
          "type": "boolean",
          "description": "Specifies that the boot disk should be restored from the instance backup. This field should only be set to `true` if selected."
        },
        "sourceDeviceName": {
          "description": "The device name of the disk to restore from the VM backup.",
          "type": "string"
        }
      },
      "description": "Options for creating a disk from a source Compute Instance backup."
    },
    "ListManagementServersResponse": {
      "description": "Response message for listing management servers.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "managementServers": {
          "items": {
            "$ref": "ManagementServer"
          },
          "description": "The list of ManagementServer instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return management servers in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListManagementServersResponse"
    },
    "BackupLock": {
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted.",
      "id": "BackupLock",
      "properties": {
        "lockUntilTime": {
          "type": "string",
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "format": "google-datetime"
        },
        "serviceLockInfo": {
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups.",
          "readOnly": true,
          "$ref": "ServiceLockInfo"
        },
        "backupApplianceLockInfo": {
          "$ref": "BackupApplianceLockInfo",
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists."
        }
      },
      "type": "object"
    },
    "DataSourceReference": {
      "description": "DataSourceReference is a reference to a DataSource resource.",
      "type": "object",
      "id": "DataSourceReference",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the DataSourceReference. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}",
          "type": "string"
        },
        "dataSourceBackupConfigState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "description": "Output only. The backup configuration state of the DataSource.",
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ]
        },
        "dataSource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the DataSource. Format: projects/{project}/locations/{location}/backupVaults/{backupVault}/dataSources/{dataSource}"
        },
        "dataSourceBackupCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of backups in the DataSource."
        },
        "dataSourceGcpResourceInfo": {
          "description": "Output only. The Google Cloud resource that the DataSource is associated with.",
          "$ref": "DataSourceGcpResourceInfo",
          "readOnly": true
        },
        "totalStoredBytes": {
          "description": "Output only. Total size of the storage used by all backup resources for the referenced datasource.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "dataSourceBackupConfigInfo": {
          "description": "Output only. Information of backup configuration on the DataSource.",
          "$ref": "DataSourceBackupConfigInfo",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the DataSourceReference was created."
        }
      }
    },
    "AcceleratorConfig": {
      "type": "object",
      "description": "A specification of the type and number of accelerator cards attached to the instance.",
      "properties": {
        "acceleratorType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance."
        },
        "acceleratorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance."
        }
      },
      "id": "AcceleratorConfig"
    },
    "ComputeInstanceRestoreProperties": {
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. An array of network configurations for this instance. These specify how interfaces are configured to interact with other network services, such as connecting to the internet. Multiple interfaces are supported per instance. Required to restore in different project or region."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the compute instance."
        },
        "instanceEncryptionKey": {
          "description": "Optional. Encrypts suspended data for an instance with a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Minimum CPU platform to use for this instance."
        },
        "canIpForward": {
          "type": "boolean",
          "description": "Optional. Allows this instance to send and receive packets with non-matching destination or source IPs."
        },
        "guestAccelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "Optional. A list of the type and count of accelerator cards attached to the instance.",
          "type": "array"
        },
        "serviceAccounts": {
          "description": "Optional. A list of service accounts, with their specified scopes, authorized for this instance. Only one service account per VM instance is supported.",
          "items": {
            "$ref": "ServiceAccount"
          },
          "type": "array"
        },
        "reservationAffinity": {
          "$ref": "AllocationAffinity",
          "description": "Optional. Specifies the reservations that this instance can consume from."
        },
        "resourcePolicies": {
          "type": "array",
          "description": "Optional. Resource policies applied to this instance. By default, no resource policies will be applied.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "$ref": "Tags",
          "description": "Optional. Tags to apply to this instance. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during instance creation."
        },
        "params": {
          "description": "Input only. Additional params passed with the request, but not persisted as part of resource payload.",
          "$ref": "InstanceParams"
        },
        "keyRevocationActionType": {
          "type": "string",
          "description": "Optional. KeyRevocationActionType of the instance.",
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ]
        },
        "confidentialInstanceConfig": {
          "description": "Optional. Controls Confidential compute options on the instance",
          "$ref": "ConfidentialInstanceConfig"
        },
        "disks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array",
          "description": "Optional. Array of disks associated with this instance. Persistent disks must be created before you can assign them. Source regional persistent disks will be restored with default replica zones if not specified."
        },
        "networkPerformanceConfig": {
          "$ref": "NetworkPerformanceConfig",
          "description": "Optional. Configure network performance such as egress bandwidth tier."
        },
        "hostname": {
          "description": "Optional. Specifies the hostname of the instance. The specified hostname must be RFC1035 compliant. If hostname is not specified, the default hostname is [INSTANCE_NAME].c.[PROJECT_ID].internal when using the global DNS, and [INSTANCE_NAME].[ZONE].c.[PROJECT_ID].internal when using zonal DNS.",
          "type": "string"
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Whether the resource should be protected against deletion."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the machine type resource to use for this instance."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels to apply to this instance."
        },
        "privateIpv6GoogleAccess": {
          "description": "Optional. The private IPv6 google access type for the VM. If not specified, use INHERIT_FROM_SUBNETWORK as default.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Each network interface inherits PrivateIpv6GoogleAccess from its subnetwork.",
            "Outbound private IPv6 access from VMs in this subnet to Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before.",
            "Bidirectional private IPv6 access to/from Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before."
          ],
          "enum": [
            "INSTANCE_PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "ENABLE_OUTBOUND_VM_ACCESS_TO_GOOGLE",
            "ENABLE_BIDIRECTIONAL_ACCESS_TO_GOOGLE"
          ]
        },
        "advancedMachineFeatures": {
          "description": "Optional. Controls for advanced machine-related behavior features.",
          "$ref": "AdvancedMachineFeatures"
        },
        "displayDevice": {
          "$ref": "DisplayDevice",
          "description": "Optional. Enables display device for the instance."
        },
        "scheduling": {
          "description": "Optional. Sets the scheduling options for this instance.",
          "$ref": "Scheduling"
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "Optional. This includes custom metadata and predefined keys."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        }
      },
      "id": "ComputeInstanceRestoreProperties",
      "type": "object",
      "description": "ComputeInstanceRestoreProperties represents Compute Engine instance properties to be overridden during restore."
    },
    "BackupVault": {
      "properties": {
        "accessRestriction": {
          "enum": [
            "ACCESS_RESTRICTION_UNSPECIFIED",
            "WITHIN_PROJECT",
            "WITHIN_ORGANIZATION",
            "UNRESTRICTED",
            "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          ],
          "description": "Optional. Restricts access to certain sources and destinations for data being sent into, or restored from, the backup vault. Defaults to WITHIN_ORGANIZATION if not provided during creation.",
          "type": "string",
          "enumDescriptions": [
            "Access restriction not set. If user does not provide any value or pass this value, it will be changed to WITHIN_ORGANIZATION.",
            "Access to or from resources outside your current project will be denied.",
            "Access to or from resources outside your current organization will be denied.",
            "No access restriction.",
            "Access to or from resources outside your current organization will be denied except for backup appliance."
          ]
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
        },
        "deletable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to true when there are no backups nested under this resource."
        },
        "backupCount": {
          "type": "string",
          "description": "Output only. The number of backups in this backup vault.",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
          "type": "string",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config of the backup vault.",
          "$ref": "EncryptionConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the BackupVault instance (2048 characters or less)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data.",
          "type": "object"
        },
        "backupRetentionInheritance": {
          "description": "Optional. Setting for how a backup's enforced retention end time is inherited.",
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "type": "string"
        },
        "totalStoredBytes": {
          "description": "Output only. Total size of the storage used by all backup resources.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The BackupVault resource instance state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The backup vault is being created.",
            "The backup vault has been created and is fully usable.",
            "The backup vault is being deleted.",
            "The backup vault is experiencing an issue and might be unusable.",
            "The backup vault is being updated."
          ]
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there."
        },
        "effectiveTime": {
          "format": "google-datetime",
          "description": "Optional. Time after which the BackupVault resource is locked.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Immutable after resource creation until resource deletion.",
          "type": "string"
        },
        "backupMinimumEnforcedRetentionDuration": {
          "type": "string",
          "description": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "format": "google-duration"
        },
        "etag": {
          "description": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other.",
          "type": "string"
        }
      },
      "description": "Message describing a BackupVault object.",
      "id": "BackupVault",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Policy"
    },
    "TriggerBackupRequest": {
      "type": "object",
      "id": "TriggerBackupRequest",
      "description": "Request message for triggering a backup.",
      "properties": {
        "labels": {
          "description": "Optional. Labels to be applied on the backup.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "customRetentionDays": {
          "description": "Optional. The duration for which backup data will be kept, while taking an on-demand backup with custom retention. It is defined in \"days\". It is mutually exclusive with rule_id. This field is required if rule_id is not provided.",
          "type": "integer",
          "format": "int32"
        },
        "ruleId": {
          "type": "string",
          "description": "Optional. backup rule_id for which a backup needs to be triggered. If not specified, on-demand backup with custom retention will be triggered."
        }
      }
    },
    "GoogleCloudBackupdrV1OperationMetadata": {
      "id": "GoogleCloudBackupdrV1OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "additionalInfo": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'."
        }
      }
    },
    "EncryptionConfig": {
      "description": "Message describing the EncryptionConfig of backup vault. This determines how data within the vault is encrypted at rest.",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to encrypt backups in this backup vault. Must be in the same region as the vault. Some workload backups like compute disk backups may use their inherited source key instead. Format: projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}"
        }
      }
    },
    "ListBackupPlanAssociationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backupPlanAssociations": {
          "items": {
            "$ref": "BackupPlanAssociation"
          },
          "type": "array",
          "description": "The list of Backup Plan Associations in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup plan associations in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        }
      },
      "description": "Response message for List BackupPlanAssociation",
      "id": "ListBackupPlanAssociationsResponse"
    },
    "ListDataSourceReferencesResponse": {
      "description": "Response for the ListDataSourceReferences method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "dataSourceReferences": {
          "items": {
            "$ref": "DataSourceReference"
          },
          "description": "The DataSourceReferences from the specified parent.",
          "type": "array"
        }
      },
      "id": "ListDataSourceReferencesResponse"
    },
    "SubscribeTrialRequest": {
      "properties": {},
      "id": "SubscribeTrialRequest",
      "type": "object",
      "description": "Request message for subscribing to a trial."
    },
    "LabelKeyValPair": {
      "description": "Message for a label key-value pair.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label. The key must follow the format: `\\\\p{Ll}\\\\p{Lo}{0,62}`. This means the key must start with a lowercase letter or a lowercase international character, followed by zero or more lowercase letters, lowercase international characters, numbers, underscores, or dashes. The key must be at most 63 characters long. International characters are allowed."
        },
        "value": {
          "description": "Value of the label. The value must follow the format: `[\\\\p{Ll}\\\\p{Lo}\\\\p{N}_-]{1,63}`. This means the value must be one or more lowercase letters, lowercase international characters, numbers, underscores, or dashes. The value must be at most 63 characters long. International characters are allowed.",
          "type": "string"
        }
      },
      "id": "LabelKeyValPair",
      "type": "object"
    },
    "FilestoreInstanceDataSourceProperties": {
      "type": "object",
      "id": "FilestoreInstanceDataSourceProperties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance backed up by the datasource.",
          "readOnly": true
        },
        "instanceCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The instance creation timestamp."
        }
      },
      "description": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. ."
    },
    "ServiceAccount": {
      "description": "A service account.",
      "id": "ServiceAccount",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Optional. Email address of the service account."
        },
        "scopes": {
          "description": "Optional. The list of scopes to be made available for this service account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AbandonBackupRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "AbandonBackupRequest",
      "description": "request message for AbandonBackup.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "type": "boolean"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "additionalInfo": {
          "readOnly": true,
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "GcpBackupConfig": {
      "type": "object",
      "id": "GcpBackupConfig",
      "properties": {
        "backupPlanAssociation": {
          "description": "The name of the backup plan association.",
          "type": "string"
        },
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision. E.g. v0, v1 etc.",
          "type": "string"
        },
        "backupPlanRules": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the backup plan rules which point to this backupvault"
        },
        "backupPlanDescription": {
          "type": "string",
          "description": "The description of the backup plan."
        },
        "backupPlan": {
          "description": "The name of the backup plan.",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "type": "string",
[...]
