{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "backupdr:v1beta",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://backupdr.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://backupdr.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://backupdr.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://backupdr.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://backupdr.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://backupdr.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://backupdr.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://backupdr.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://backupdr.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://backupdr.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://backupdr.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://backupdr.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://backupdr.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://backupdr.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://backupdr.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://backupdr.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://backupdr.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://backupdr.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://backupdr.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://backupdr.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://backupdr.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "endpointUrl": "https://backupdr.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "kind": "discovery#restDescription",
  "description": "",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "DiskRestoreProperties": {
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the disk.",
          "type": "string"
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "type": "string",
          "format": "int64"
        },
        "sizeGb": {
          "description": "Required. The size of the disk in GB.",
          "type": "string",
          "format": "int64"
        },
        "resourcePolicy": {
          "type": "array",
          "description": "Optional. Resource policies applied to this disk.",
          "items": {
            "type": "string"
          }
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image"
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096.",
          "format": "int64"
        },
        "accessMode": {
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ],
          "description": "Optional. The access mode of the disk.",
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ],
          "type": "string"
        },
        "type": {
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk.",
          "type": "string"
        },
        "provisionedIops": {
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle.",
          "type": "string",
          "format": "int64"
        },
        "resourceManagerTags": {
          "description": "Optional. Resource manager tags to be bound to the disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "instanceBackupSource": {
          "$ref": "RestoreDiskFromInstanceOptions",
          "description": "Options for creating a disk from a source Compute Instance backup."
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images.",
          "type": "array"
        },
        "diskEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key."
        },
        "architecture": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64."
        },
        "labels": {
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DiskRestoreProperties",
      "description": "DiskRestoreProperties represents the properties of a Disk restore."
    },
    "AppliedAutoProtectionPolicy": {
      "type": "object",
      "description": "AppliedAutoProtectionPolicy is a read-only view of AutoProtectionPolicy and AutoProtectionPolicyBinding resources that apply to a given workload project.",
      "id": "AppliedAutoProtectionPolicy",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp indicating when the binding was last created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp indicating when the binding was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Canonical resource name. Format: projects/{workload-project-number}/locations/{location}/appliedAutoProtectionPolicies/{id}.",
          "type": "string"
        },
        "backupPlanDetails": {
          "items": {
            "$ref": "BackupPlanDetail"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The set of backup plan configurations, mirroring the backup_plan_details from the source AutoProtectionPolicy. Each element specifies a backup plan for a given resource type."
        },
        "bindingEvaluationSummary": {
          "readOnly": true,
          "$ref": "BindingEvaluationSummary",
          "description": "Output only. The summary of the last policy application when the job has run."
        },
        "status": {
          "enumDescriptions": [
            "State is not specified.",
            "The policy is in the process of being applied.",
            "The policy has been applied and is active.",
            "The policy is in the process of being removed."
          ],
          "type": "string",
          "description": "Output only. The status of the applied auto protection policy.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETION_INITIATED"
          ],
          "readOnly": true
        },
        "sourceBinding": {
          "description": "Output only. The full resource name of the AutoProtectionPolicyBinding that applies the source policy to a scope including this workload project. e.g., projects/{admin-project}/locations/{location}/autoProtectionPolicies/{policy_id}/autoProtectionPolicyBindings/{binding_id}.",
          "type": "string",
          "readOnly": true
        },
        "criteria": {
          "readOnly": true,
          "description": "Output only. The criteria resources must meet for this rule to apply. From AutoProtectionPolicy.criteria.",
          "$ref": "Criteria"
        }
      }
    },
    "SubscribeTrialRequest": {
      "description": "Request message for subscribing to a trial.",
      "properties": {},
      "id": "SubscribeTrialRequest",
      "type": "object"
    },
    "BackupLocation": {
      "id": "BackupLocation",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "Location type is unspecified.",
            "Location type is zonal.",
            "Location type is regional.",
            "Location type is multi regional."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "description": "Output only. The type of the location.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "Output only. The id of the cloud location. Example: \"us-central1\"",
          "readOnly": true
        }
      },
      "description": "BackupLocation represents a cloud location where a backup can be stored."
    },
    "DataSourceBackupConfigInfo": {
      "id": "DataSourceBackupConfigInfo",
      "type": "object",
      "properties": {
        "lastBackupState": {
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the last backup in this DataSource"
        },
        "lastSuccessfulBackupConsistencyTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful backup to this DataSource.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information of backup configuration on the DataSource."
    },
    "BackupWindow": {
      "description": "`BackupWindow` defines a window of the day during which backup jobs will run.",
      "properties": {
        "endHourOfDay": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The hour of day (1-24) when the window end for e.g. if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00."
        },
        "startHourOfDay": {
          "description": "Required. The hour of day (0-23) when the window starts for e.g. if value of start hour of day is 6 that mean backup window start at 6:00.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "BackupWindow"
    },
    "Backup": {
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean"
        },
        "cloudSqlInstanceBackupProperties": {
          "$ref": "CloudSqlInstanceBackupProperties",
          "description": "Output only. Cloud SQL specific backup properties.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the Backup instance (2048 characters or less)."
        },
        "backupApplianceLocks": {
          "description": "Optional. The list of BackupLocks taken by the accessor Backup Appliance.",
          "items": {
            "$ref": "BackupLock"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. When this backup is automatically expired.",
          "format": "google-datetime"
        },
        "serviceLocks": {
          "items": {
            "$ref": "BackupLock"
          },
          "type": "array",
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gcpBackupPlanInfo": {
          "$ref": "GCPBackupPlanInfo",
          "readOnly": true,
          "description": "Output only. Configuration for a Google Cloud resource."
        },
        "backupApplianceBackupProperties": {
          "description": "Output only. Backup Appliance specific backup properties.",
          "$ref": "BackupApplianceBackupProperties",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "description": "Output only. The Backup resource instance state.",
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ],
          "type": "string",
          "readOnly": true
        },
        "backupRetentionInheritance": {
          "description": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault.",
          "type": "string",
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "readOnly": true,
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ]
        },
        "computeInstanceBackupProperties": {
          "$ref": "ComputeInstanceBackupProperties",
          "description": "Output only. Compute Engine specific backup properties.",
          "readOnly": true
        },
        "gcpResource": {
          "description": "Output only. Unique identifier of the GCP resource that is being backed up.",
          "readOnly": true,
          "$ref": "BackupGcpResource"
        },
        "backupType": {
          "enumDescriptions": [
            "Backup type is unspecified.",
            "Scheduled backup.",
            "On demand backup.",
            "Operational backup."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the backup, unspecified, scheduled or ondemand.",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "SCHEDULED",
            "ON_DEMAND",
            "ON_DEMAND_OPERATIONAL"
          ]
        },
        "etag": {
          "description": "Optional. Server specified ETag to prevent updates from overwriting each other.",
          "type": "string"
        },
        "diskBackupProperties": {
          "readOnly": true,
          "$ref": "DiskBackupProperties",
          "description": "Output only. Disk specific backup properties."
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The backup can not be deleted before this time."
        },
        "kmsKeyVersions": {
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "filestoreInstanceBackupProperties": {
          "description": "Output only. Filestore specific backup properties.",
          "readOnly": true,
          "$ref": "FilestoreInstanceBackupProperties"
        },
        "alloyDbBackupProperties": {
          "description": "Output only. AlloyDB specific backup properties.",
          "readOnly": true,
          "$ref": "AlloyDbClusterBackupProperties"
        },
        "consistencyTime": {
          "description": "Output only. The point in time when this backup was captured from the source.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "resourceSizeBytes": {
          "format": "int64",
          "description": "Output only. source resource size in bytes at the time of the backup.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Optional. Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Message describing a Backup object.",
      "type": "object",
      "id": "Backup"
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "id": "CloudSqlInstanceBackupPlanAssociationProperties",
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true
        }
      },
      "description": "Cloud SQL instance's BPA properties."
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "description": "Optional. The Cloud KMS key name to encrypt backups in this backup vault. Must be in the same region as the vault. Some workload backups like compute disk backups may use their inherited source key instead. Format: projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}",
          "type": "string"
        }
      },
      "description": "Message describing the EncryptionConfig of backup vault. This determines how data within the vault is encrypted at rest.",
      "id": "EncryptionConfig",
      "type": "object"
    },
    "AutoProtectionDetails": {
      "description": "AutoProtectionDetails contains the protection details of a resource from the current binding's perspective.",
      "properties": {
        "backupPlanAssociation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of backup plan association linked to the resource, if any. Format: projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROTECTED",
            "PROTECTION_FAILED",
            "UNPROTECTING",
            "UNPROTECTION_FAILED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Resource is protected.",
            "Resource protection failed.",
            "Resource is being unprotected.",
            "Resource unprotection failed."
          ],
          "description": "Output only. Protection state of the resource from the current binding's perspective. Output only.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Error during last sync for protection/unprotection, if any.",
          "readOnly": true
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. Resource name of the datasource linked to the resource, if any. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{dataSourceId}",
          "readOnly": true
        }
      },
      "id": "AutoProtectionDetails",
      "type": "object"
    },
    "ConfidentialInstanceConfig": {
      "type": "object",
      "description": "A set of Confidential Instance options.",
      "id": "ConfidentialInstanceConfig",
      "properties": {
        "enableConfidentialCompute": {
          "description": "Optional. Defines whether the instance should have confidential compute enabled.",
          "type": "boolean"
        }
      }
    },
    "AdvancedMachineFeatures": {
      "id": "AdvancedMachineFeatures",
      "type": "object",
      "properties": {
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Optional. Whether to enable nested virtualization or not (default is false)."
        },
        "visibleCoreCount": {
          "description": "Optional. The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width.",
          "format": "int32",
          "type": "integer"
        },
        "enableUefiNetworking": {
          "description": "Optional. Whether to enable UEFI networking for instance creation.",
          "type": "boolean"
        },
        "threadsPerCore": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed."
        }
      },
      "description": "Specifies options for controlling advanced machine features."
    },
    "ListDataSourcesResponse": {
      "properties": {
        "dataSources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          },
          "description": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing DataSources.",
      "id": "ListDataSourcesResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "ListAutoProtectionPoliciesResponse": {
      "type": "object",
      "description": "Response message for ListAutoProtectionPolicies.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autoProtectionPolicies": {
          "items": {
            "$ref": "AutoProtectionPolicy"
          },
          "description": "A list of the AutoProtectionPolicy resources found.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAutoProtectionPoliciesResponse"
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "dataSourceReferences": {
          "description": "The DataSourceReferences from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "DataSourceReference"
          }
        }
      },
      "id": "FetchDataSourceReferencesForResourceTypeResponse",
      "type": "object",
      "description": "Response for the FetchDataSourceReferencesForResourceType method."
    },
    "DiskBackupProperties": {
      "description": "DiskBackupProperties represents the properties of a Disk backup.",
      "properties": {
        "region": {
          "description": "Region and zone are mutually exclusive fields. The URL of the region of the source disk.",
          "type": "string"
        },
        "provisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "The number of throughput provisioned for the source disk."
        },
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Size(in GB) of the source disk."
        },
        "description": {
          "type": "string",
          "description": "A description of the source disk."
        },
        "guestFlush": {
          "description": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The URL of the type of the disk."
        },
        "storagePool": {
          "type": "string",
          "description": "The storage pool of the source disk."
        },
        "sourceDisk": {
          "type": "string",
          "description": "The source disk used to create this backup."
        },
        "architecture": {
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "description": "The architecture of the source disk. Valid values are ARM64 or X86_64."
        },
        "licenses": {
          "description": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zone": {
          "description": "The URL of the Zone where the source disk.",
          "type": "string"
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "The physical block size of the source disk.",
          "format": "int64"
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "The number of IOPS provisioned for the source disk."
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Indicates whether the source disk is using confidential compute mode."
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array",
          "description": "A list of guest OS features that are applicable to this backup."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source disk.",
          "type": "object"
        },
        "accessMode": {
          "description": "The access mode of the source disk.",
          "type": "string"
        },
        "replicaZones": {
          "description": "The URL of the Zones where the source disk should be replicated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DiskBackupProperties"
    },
    "SchedulingDuration": {
      "type": "object",
      "description": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "properties": {
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Span of time at a resolution of a second."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Span of time that's a fraction of a second at nanosecond resolution."
        }
      },
      "id": "SchedulingDuration"
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "id": "AlloyDBClusterDataSourceReferenceProperties",
      "properties": {
        "name": {
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference.",
      "type": "object"
    },
    "FetchMsComplianceMetadataResponse": {
      "id": "FetchMsComplianceMetadataResponse",
      "type": "object",
      "properties": {
        "isAssuredWorkload": {
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false.",
          "type": "boolean"
        }
      },
      "description": "Response message for GetMsComplianceMetadata"
    },
    "BackupPlanDetail": {
      "type": "object",
      "description": "BackupPlanDetail defines configuration of protection.",
      "id": "BackupPlanDetail",
      "properties": {
        "backupPlan": {
          "type": "string",
          "description": "Required. The resource name of the BackupPlan to apply to resources that match the policy's criteria. This backup plan must be in the same location as AutoProtectionPolicy. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of resource that this policy will automatically protect. For MVP, `compute.googleapis.com/Instance` and `compute.googleapis.com/Disk` are supported."
        }
      }
    },
    "RestoreDiskFromInstanceOptions": {
      "id": "RestoreDiskFromInstanceOptions",
      "type": "object",
      "properties": {
        "bootDisk": {
          "type": "boolean",
          "description": "Set to true to restore the boot disk from the instance backup. This field should only be set to true if selected."
        },
        "sourceDeviceName": {
          "type": "string",
          "description": "The device name of the disk to restore from the VM backup."
        }
      },
      "description": "Options for creating a disk from a source Compute Instance backup."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "FilestoreInstanceBackupPlanAssociationProperties": {
      "id": "FilestoreInstanceBackupPlanAssociationProperties",
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "description": "Output only. The time when the instance was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Filestore instance's BPA properties."
    },
    "BackupPlanRevision": {
      "type": "object",
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`",
          "type": "string",
          "readOnly": true
        },
        "backupPlanSnapshot": {
          "$ref": "BackupPlan",
          "description": "The Backup Plan being encompassed by this revision."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource State",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "BackupPlanRevision"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "InitializeServiceRequest": {
      "description": "Request message for initializing the service.",
      "id": "InitializeServiceRequest",
      "properties": {
        "cloudSqlInstanceInitializationConfig": {
          "$ref": "CloudSqlInstanceInitializationConfig",
          "description": "Optional. The configuration for initializing a Cloud SQL instance."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupPlanLocation": {
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field.",
          "type": "string"
        },
        "resourceType": {
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\".",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it."
        }
      },
      "type": "object"
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "An instance-attached disk resource.",
      "properties": {
        "diskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the disk in GB."
        },
        "mode": {
          "description": "Optional. The mode in which to attach this disk.",
          "type": "string",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "LOCKED"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "Attaches this disk in read-write mode. Only one virtual machine at a time can be attached to a disk in read-write mode.",
            "Attaches this disk in read-only mode. Multiple virtual machines can use a disk in read-only mode at a time.",
            "The disk is locked for administrative reasons. Nobody else can use the disk. This mode is used (for example) when taking a snapshot of a disk to prevent mounting the disk while it is being snapshotted."
          ]
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images.",
          "type": "array"
        },
        "source": {
          "type": "string",
          "description": "Optional. Specifies a valid partial or full URL to an existing Persistent Disk resource."
        },
        "license": {
          "description": "Optional. Any valid publicly visible licenses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diskInterface": {
          "enum": [
            "DISK_INTERFACE_UNSPECIFIED",
            "SCSI",
            "NVME",
            "NVDIMM",
            "ISCSI"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "SCSI Disk Interface.",
            "NVME Disk Interface.",
            "NVDIMM Disk Interface.",
            "ISCSI Disk Interface."
          ],
          "type": "string",
          "description": "Optional. Specifies the disk interface to use for attaching this disk."
        },
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "description": "Optional. Specifies the type of the disk.",
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ]
        },
        "deviceName": {
          "description": "Optional. This is used as an identifier for the disks. This is the unique name has to provided to modify disk parameters like disk_name and replica_zones (in case of RePDs)",
          "type": "string"
        },
        "index": {
          "format": "int64",
          "type": "string",
          "description": "Optional. A zero-based index to this disk, where 0 is reserved for the boot disk."
        },
        "boot": {
          "description": "Optional. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "autoDelete": {
          "description": "Optional. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "diskTypeDeprecated": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "deprecated": true,
          "description": "Specifies the type of the disk.",
          "type": "string"
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts or decrypts a disk using a customer-supplied encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "diskType": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The URI of the disk type resource. For example: projects/project/zones/zone/diskTypes/pd-standard or pd-ssd"
        },
        "initializeParams": {
          "description": "Optional. Specifies the parameters to initialize this disk.",
          "$ref": "InitializeParams"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Type of the resource."
        },
        "savedState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DISK_SAVED_STATE_UNSPECIFIED",
            "PRESERVED"
          ],
          "enumDescriptions": [
            "Default Disk state has not been preserved.",
            "Disk state has been preserved."
          ],
          "description": "Optional. Output only. The state of the disk."
        }
      },
      "type": "object"
    },
    "InitiateBackupResponse": {
      "type": "object",
      "properties": {
        "backup": {
          "description": "The name of the backup that was created.",
          "type": "string"
        },
        "baseBackupGenerationId": {
          "type": "integer",
          "description": "The generation id of the base backup. It is needed for the incremental backups.",
          "format": "int32"
        },
        "newBackupGenerationId": {
          "description": "The generation id of the new backup.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "InitiateBackupResponse",
      "description": "Response message for InitiateBackup."
    },
    "AlloyDbPitrWindow": {
      "id": "AlloyDbPitrWindow",
      "properties": {
        "logRetentionDays": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Log retention days for the PITR window.",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the PITR window. It is not set if the corresponding Backup Plan Association is active.",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The start time of the PITR window.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Point in time recovery window for an AlloyDB cluster."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "GcpBackupConfig": {
      "type": "object",
      "id": "GcpBackupConfig",
      "description": "GcpBackupConfig captures the Backup configuration details for Google Cloud resources. All Google Cloud resources regardless of type are protected with backup plan associations.",
      "properties": {
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision. E.g. v0, v1 etc.",
          "type": "string"
        },
        "backupPlanDescription": {
          "description": "The description of the backup plan.",
          "type": "string"
        },
        "autoProtectionPolicyBinding": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the `AutoProtectionPolicyBinding` that manages this datasource, if any. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{policy}/bindings/{binding}`."
        },
        "backupPlanRevisionName": {
          "type": "string",
          "description": "The name of the backup plan revision."
        },
        "backupPlan": {
          "description": "The name of the backup plan.",
          "type": "string"
        },
        "backupPlanRules": {
          "type": "array",
          "description": "The names of the backup plan rules which point to this backupvault",
          "items": {
            "type": "string"
          }
        },
        "backupPlanAssociation": {
          "type": "string",
          "description": "The name of the backup plan association."
        }
      }
    },
    "TriggerBackupRequest": {
      "id": "TriggerBackupRequest",
      "description": "Request message for triggering a backup.",
      "type": "object",
      "properties": {
        "customRetentionDays": {
          "description": "Optional. The duration for which backup data will be kept, while taking an on-demand backup with custom retention. It is defined in \"days\". It is mutually exclusive with rule_id. This field is required if rule_id is not provided.",
          "type": "integer",
          "format": "int32"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to be applied on the backup.",
          "type": "object"
        },
        "ruleId": {
          "type": "string",
          "description": "Optional. backup rule_id for which a backup needs to be triggered. If not specified, on-demand backup with custom retention will be triggered."
        }
      }
    },
    "InitializeParams": {
      "properties": {
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "InitializeParams",
      "type": "object",
      "description": "Specifies the parameters to initialize this disk."
    },
    "ListAutoProtectionPolicyBindingsResponse": {
      "description": "Response message for ListAutoProtectionPolicyBindings.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "autoProtectionPolicyBindings": {
          "description": "A list of the AutoProtectionPolicyBindings resources found.",
          "type": "array",
          "items": {
            "$ref": "AutoProtectionPolicyBinding"
          }
        }
      },
      "id": "ListAutoProtectionPolicyBindingsResponse"
    },
    "GCPBackupPlanInfo": {
      "id": "GCPBackupPlanInfo",
      "properties": {
        "backupPlanRevisionName": {
          "description": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}",
          "type": "string"
        },
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup.",
          "type": "string"
        },
        "backupPlanRuleId": {
          "type": "string",
          "description": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for"
        },
        "backupPlan": {
          "description": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup."
    },
    "BackupDrTemplateConfig": {
      "properties": {
        "firstPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users."
        },
        "thirdPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users."
        }
      },
      "id": "BackupDrTemplateConfig",
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "type": "object"
    },
    "AutoProtectionPolicyBinding": {
      "description": "An AutoprotectionPolicyBinding (APPA) acts as the bridge between an AutoprotectionPolicy and the scope (Project, Folder, or Organization) where the policy should be applied.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the AutoProtectionPolicyBinding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETION_INITIATED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the binding is unspecified.",
            "The binding is being created.",
            "The binding is active.",
            "The binding deletion is initiated."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the AutoProtectionPolicyBinding. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}/bindings/{binding}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the binding was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the binding was created.",
          "format": "google-datetime"
        },
        "bindingEvaluationSummary": {
          "description": "Output only. Summaries of the last policy application when the job has run, with one entry per resource type specified in the AutoProtectionPolicy.",
          "$ref": "BindingEvaluationSummary",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the binding."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Output only. The etag for the binding. If this is provided on update, it must match the server's etag."
        },
        "scope": {
          "type": "string",
          "description": "Required. Immutable. Resource Id of target container on which policy will be applied. Format: projects/{project_id}"
        }
      },
      "id": "AutoProtectionPolicyBinding",
      "type": "object"
    },
    "BindingEvaluationSummary": {
      "id": "BindingEvaluationSummary",
      "type": "object",
      "properties": {
        "matchingResourceCount": {
          "description": "Output only. The number of resources that currently match the policy's criteria.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "protectedResourceCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of matching resources that are successfully protected.",
          "type": "string"
        },
        "failedResourceCount": {
          "format": "int64",
          "description": "Output only. The number of matching resources whose protection failed during job run.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "BindingEvaluationSummary contains the summary of the last run of job that applies policy to matching resources for a given binding."
    },
    "Tags": {
      "id": "Tags",
      "description": "A set of instance tags.",
      "properties": {
        "items": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035."
        }
      },
      "type": "object"
    },
    "RuleConfigInfo": {
      "description": "Message for rules config info.",
      "properties": {
        "lastBackupError": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. google.rpc.Status object to store the last backup error."
        },
        "lastBackupState": {
          "type": "string",
          "description": "Output only. The last backup state for rule.",
          "enumDescriptions": [
            "State not set.",
            "The first backup is pending.",
            "The most recent backup could not be run/failed because of the lack of permissions.",
            "The last backup operation succeeded.",
            "The last backup operation failed."
          ],
          "readOnly": true,
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "PERMISSION_DENIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "ruleId": {
          "description": "Output only. Backup Rule id fetched from backup plan.",
          "type": "string",
          "readOnly": true
        },
        "lastSuccessfulBackupConsistencyTime": {
          "type": "string",
          "description": "Output only. The point in time when the last successful backup was captured from the source.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "RuleConfigInfo",
      "type": "object"
    },
    "FetchBackupsForResourceTypeResponse": {
      "type": "object",
      "id": "FetchBackupsForResourceTypeResponse",
      "description": "Response for the FetchBackupsForResourceType method.",
      "properties": {
        "backups": {
          "description": "The Backups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BackupLock": {
      "type": "object",
      "properties": {
        "serviceLockInfo": {
          "readOnly": true,
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups.",
          "$ref": "ServiceLockInfo"
        },
        "backupApplianceLockInfo": {
          "$ref": "BackupApplianceLockInfo",
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists."
        },
        "lockUntilTime": {
          "format": "google-datetime",
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "type": "string"
        }
      },
      "id": "BackupLock",
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted."
    },
    "ListDataSourceReferencesResponse": {
      "id": "ListDataSourceReferencesResponse",
      "description": "Response for the ListDataSourceReferences method.",
      "properties": {
        "dataSourceReferences": {
          "items": {
            "$ref": "DataSourceReference"
          },
          "description": "The DataSourceReferences from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "ComputeInstanceDataSourceProperties": {
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource.",
      "type": "object",
      "id": "ComputeInstanceDataSourceProperties",
      "properties": {
        "totalDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The sum of all the disk sizes."
        },
        "totalDiskCount": {
          "description": "The total number of disks attached to the Instance.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the compute instance backed up by the datasource.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type of the instance."
        },
        "description": {
          "type": "string",
          "description": "The description of the Compute Engine instance."
        }
      }
    },
    "ServiceAccount": {
      "description": "A service account.",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account."
        },
        "email": {
          "type": "string",
          "description": "Optional. Email address of the service account."
        }
      },
      "id": "ServiceAccount",
      "type": "object"
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "description": "A network interface resource attached to an instance. s",
      "properties": {
        "accessConfigs": {
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access.",
          "items": {
            "$ref": "AccessConfig"
          },
          "type": "array"
        },
        "ipv6Address": {
          "type": "string",
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork."
        },
        "queueCount": {
          "format": "int32",
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users.",
          "type": "integer"
        },
        "nicType": {
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ],
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "type": "string",
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ]
        },
        "ipv6AccessConfigs": {
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access.",
          "items": {
            "$ref": "AccessConfig"
          },
          "type": "array"
        },
        "internalIpv6PrefixLength": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The prefix length of the primary internal IPv6 range."
        },
        "aliasIpRanges": {
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks.",
          "items": {
            "$ref": "AliasIpRange"
          },
          "type": "array"
        },
        "network": {
          "description": "Optional. URL of the VPC network resource for this instance.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server.",
          "type": "string",
          "readOnly": true
        },
        "networkAttachment": {
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}.",
          "type": "string"
        },
        "stackType": {
          "description": "The stack type for this network interface.",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ]
        },
        "ipv6AccessType": {
          "enumDescriptions": [
            "IPv6 access type not set. Means this network interface hasn't been turned on IPv6 yet.",
            "This network interface can have internal IPv6.",
            "This network interface can have external IPv6."
          ],
          "type": "string",
          "description": "Optional. [Output Only] One of EXTERNAL, INTERNAL to indicate whether the IP can be accessed from the Internet. This field is always inherited from its subnetwork.",
          "enum": [
            "UNSPECIFIED_IPV6_ACCESS_TYPE",
            "INTERNAL",
            "EXTERNAL"
          ]
        },
        "networkIP": {
          "description": "Optional. An IPv4 internal IP address to assign to the instance for this network interface. If not specified by the user, an unused internal IP is assigned by the system.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The URL of the Subnetwork resource for this instance."
        }
      },
      "type": "object"
    },
    "DiskBackupPlanProperties": {
      "type": "object",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "id": "DiskBackupPlanProperties",
      "description": "Properties for a disk backup plan."
    },
    "ManagementURI": {
      "description": "ManagementURI for the Management Server resource.",
      "properties": {
        "api": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD API URL."
        },
        "webUi": {
          "description": "Output only. The ManagementServer AGM/RD WebUI URL.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ManagementURI",
      "type": "object"
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance."
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance."
        }
      },
      "description": "A specification of the type and number of accelerator cards attached to the instance."
    },
    "BindingSummary": {
      "id": "BindingSummary",
      "description": "BindingSummary contains count of different containers covered through this policy.",
      "type": "object",
      "properties": {
        "projectCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total count of Projects protected with this policy."
        }
      }
    },
    "FetchAccessTokenResponse": {
      "id": "FetchAccessTokenResponse",
      "type": "object",
      "description": "Response message for FetchAccessToken.",
      "properties": {
        "writeLocation": {
          "type": "string",
          "description": "The location in bucket that can be used for writing."
        },
        "expireTime": {
          "description": "The token is valid until this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "readLocation": {
          "description": "The location in bucket that can be used for reading.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Input only. The downscoped token that was created."
        }
      }
    },
    "FetchAccessTokenRequest": {
      "id": "FetchAccessTokenRequest",
      "properties": {
        "generationId": {
          "type": "integer",
          "description": "Required. The generation of the backup to update.",
          "format": "int32"
        }
      },
      "description": "Request message for FetchAccessToken.",
      "type": "object"
    },
    "StandardSchedule": {
      "properties": {
        "backupWindow": {
          "$ref": "BackupWindow",
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window."
        },
        "daysOfWeek": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`."
        },
        "months": {
          "type": "array",
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string"
          }
        },
        "weekDayOfMonth": {
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "$ref": "WeekDayOfMonth"
        },
        "daysOfMonth": {
          "type": "array",
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "hourlyFrequency": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 2 means jobs will run every 2 hours from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details."
        },
        "recurrenceType": {
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ],
          "description": "Required. Specifies the `RecurrenceType` for the schedule.",
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ],
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For e.g., Europe/Paris.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "id": "StandardSchedule"
    },
    "ResourceBackupConfig": {
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource backup config."
        },
        "targetResourceLabels": {
          "type": "object",
          "description": "Labels associated with the target resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetResourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the target resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ],
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ]
        },
        "backupConfigsDetails": {
          "items": {
            "$ref": "BackupConfigDetails"
          },
          "type": "array",
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated."
        },
        "targetResource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType."
        },
        "targetResourceDisplayName": {
          "type": "string",
          "description": "Output only. The human friendly name of the target resource.",
          "readOnly": true
        },
        "vaulted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set."
        },
        "backupConfigured": {
          "readOnly": true,
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ResourceBackupConfig represents a resource along with its backup configurations.",
      "id": "ResourceBackupConfig"
    },
    "AccessConfig": {
      "properties": {
        "externalIpv6PrefixLength": {
          "type": "integer",
          "description": "Optional. The prefix length of the external IPv6 range.",
          "format": "int32"
        },
        "externalIpv6": {
          "type": "string",
          "description": "Optional. The external IPv6 address of this access configuration."
        },
        "publicPtrDomainName": {
          "type": "string",
          "description": "Optional. The DNS domain name for the public PTR record."
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this access configuration."
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ]
        },
        "networkTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access"
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        }
      },
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig",
      "type": "object"
    },
    "AbandonBackupRequest": {
      "description": "request message for AbandonBackup.",
      "id": "AbandonBackupRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceDataSourceReferenceProperties": {
      "id": "CloudSqlInstanceDataSourceReferenceProperties",
      "type": "object",
      "description": "CloudSqlInstanceDataSourceReferenceProperties represents the properties of a Cloud SQL resource that are stored in the DataSourceReference.",
      "properties": {
        "instanceTier": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`"
        },
        "instanceCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance."
        }
      }
    },
    "BackupVault": {
      "id": "BackupVault",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the instance was updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
        },
        "backupMinimumEnforcedRetentionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The backup vault is being created.",
            "The backup vault has been created and is fully usable.",
            "The backup vault is being deleted.",
            "The backup vault is experiencing an issue and might be unusable.",
            "The backup vault is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The BackupVault resource instance state.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config of the backup vault."
        },
        "serviceAccount": {
          "description": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the BackupVault instance (2048 characters or less).",
          "type": "string"
        },
        "backupCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of backups in this backup vault.",
          "format": "int64"
        },
        "accessRestriction": {
          "type": "string",
          "enum": [
            "ACCESS_RESTRICTION_UNSPECIFIED",
            "WITHIN_PROJECT",
            "WITHIN_ORGANIZATION",
            "UNRESTRICTED",
            "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          ],
          "description": "Optional. Restricts access to certain sources and destinations for data being sent into, or restored from, the backup vault. Defaults to WITHIN_ORGANIZATION if not provided during creation.",
          "enumDescriptions": [
            "Access restriction not set. If user does not provide any value or pass this value, it will be changed to WITHIN_ORGANIZATION.",
            "Access to or from resources outside your current project will be denied.",
            "Access to or from resources outside your current organization will be denied.",
            "No access restriction.",
            "Access to or from resources outside your current organization will be denied except for backup appliance."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
          "type": "string"
        },
        "backupRetentionInheritance": {
          "description": "Optional. Setting for how a backup's enforced retention end time is inherited.",
          "type": "string",
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ]
        },
        "totalStoredBytes": {
          "format": "int64",
          "description": "Output only. Total size of the storage used by all backup resources.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other.",
          "type": "string"
        },
        "deletable": {
          "description": "Output only. Set to true when there are no backups nested under this resource.",
          "type": "boolean",
          "readOnly": true
        },
        "effectiveTime": {
          "description": "Optional. Time after which the BackupVault resource is locked.",
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Immutable after resource creation until resource deletion.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data.",
          "type": "object"
        }
      },
      "description": "Message describing a BackupVault object.",
      "type": "object"
    },
    "FetchMsComplianceMetadataRequest": {
      "type": "object",
      "id": "FetchMsComplianceMetadataRequest",
      "description": "Request message for GetMsComplianceMetadata",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project id of the target project"
        }
      }
    },
    "Entry": {
      "properties": {
        "key": {
          "description": "Optional. Key for the metadata entry.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. Value for the metadata entry. These are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on values is that their size must be less than or equal to 262144 bytes (256 KiB)."
        }
      },
      "description": "A key/value pair to be used for storing metadata.",
      "id": "Entry",
      "type": "object"
    },
    "Scheduling": {
      "properties": {
        "instanceTerminationAction": {
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
[...]
