{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "AutoProtectionDetails": {
      "properties": {
        "backupPlanAssociation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of backup plan association linked to the resource, if any. Format: projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error during last sync for protection/unprotection, if any."
        },
        "dataSource": {
          "readOnly": true,
          "description": "Output only. Resource name of the datasource linked to the resource, if any. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{dataSourceId}",
          "type": "string"
        },
        "state": {
          "description": "Output only. Protection state of the resource from the current binding's perspective. Output only.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROTECTED",
            "PROTECTION_FAILED",
            "UNPROTECTING",
            "UNPROTECTION_FAILED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Resource is protected.",
            "Resource protection failed.",
            "Resource is being unprotected.",
            "Resource unprotection failed."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "AutoProtectionDetails contains the protection details of a resource from the current binding's perspective.",
      "id": "AutoProtectionDetails",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "Scheduling": {
      "description": "Sets the scheduling options for an Instance.",
      "type": "object",
      "id": "Scheduling",
      "properties": {
        "automaticRestart": {
          "description": "Optional. Specifies whether the instance should be automatically restarted if it is terminated by Compute Engine (not terminated by a user).",
          "type": "boolean"
        },
        "onHostMaintenance": {
          "description": "Optional. Defines the maintenance behavior for this instance.",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tells Compute Engine to terminate and (optionally) restart the instance away from the maintenance activity.",
            "Default, Allows Compute Engine to automatically migrate instances out of the way of maintenance events."
          ],
          "type": "string"
        },
        "nodeAffinities": {
          "description": "Optional. A set of node affinity and anti-affinity configurations. Overrides reservationAffinity.",
          "type": "array",
          "items": {
            "$ref": "NodeAffinity"
          }
        },
        "provisioningModel": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Standard provisioning with user controlled runtime, no discounts.",
            "Heavily discounted, no guaranteed runtime."
          ],
          "description": "Optional. Specifies the provisioning model of the instance.",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT"
          ]
        },
        "localSsdRecoveryTimeout": {
          "description": "Optional. Specifies the maximum amount of time a Local Ssd Vm should wait while recovery of the Local Ssd state is attempted. Its value should be in between 0 and 168 hours with hour granularity and the default value being 1 hour.",
          "$ref": "SchedulingDuration"
        },
        "preemptible": {
          "description": "Optional. Defines whether the instance is preemptible.",
          "type": "boolean"
        },
        "minNodeCpus": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node."
        },
        "instanceTerminationAction": {
          "description": "Optional. Specifies the termination action for the instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
            "Stop the VM without storing in-memory content. default action."
          ],
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ],
          "type": "string"
        }
      }
    },
    "BindingSummary": {
      "description": "BindingSummary contains count of different containers covered through this policy.",
      "id": "BindingSummary",
      "properties": {
        "projectCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total count of Projects protected with this policy."
        }
      },
      "type": "object"
    },
    "PolicyEvaluationSummary": {
      "properties": {
        "matchingResourceCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of resources that currently match the policy's criteria.",
          "format": "int64"
        },
        "protectedResourceCount": {
          "readOnly": true,
          "description": "Output only. The number of matching resources that are successfully protected.",
          "format": "int64",
          "type": "string"
        },
        "failedResourceCount": {
          "format": "int64",
          "description": "Output only. The number of matching resources whose protection failed during job run.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PolicyEvaluationSummary",
      "description": "PolicyEvaluationSummary contains the summary of the last run of job that applies policy to matching resources.",
      "type": "object"
    },
    "StandardSchedule": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For e.g., Europe/Paris."
        },
        "daysOfWeek": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`.",
          "type": "array"
        },
        "backupWindow": {
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window.",
          "$ref": "BackupWindow"
        },
        "recurrenceType": {
          "type": "string",
          "description": "Required. Specifies the `RecurrenceType` for the schedule.",
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ],
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ]
        },
        "weekDayOfMonth": {
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "$ref": "WeekDayOfMonth"
        },
        "months": {
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string",
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ]
          },
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied.",
          "type": "array"
        },
        "daysOfMonth": {
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "hourlyFrequency": {
          "format": "int32",
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 2 means jobs will run every 2 hours from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details.",
          "type": "integer"
        }
      },
      "id": "StandardSchedule",
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "additionalInfo": {
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ServiceAccount": {
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "Optional. Email address of the service account.",
          "type": "string"
        }
      },
      "description": "A service account.",
      "id": "ServiceAccount",
      "type": "object"
    },
    "BackupPlanDetail": {
      "type": "object",
      "description": "BackupPlanDetail defines configuration of protection.",
      "properties": {
        "backupPlan": {
          "description": "Required. The resource name of the BackupPlan to apply to resources that match the policy's criteria. This backup plan must be in the same location as AutoProtectionPolicy. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "resourceType": {
          "description": "Required. The type of resource that this policy will automatically protect. For MVP, `compute.googleapis.com/Instance` and `compute.googleapis.com/Disk` are supported.",
          "type": "string"
        }
      },
      "id": "BackupPlanDetail"
    },
    "BackupPlanAssociation": {
      "description": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Required. Immutable. Resource type of workload on which backupplan is applied"
        },
        "backupPlan": {
          "description": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "resource": {
          "description": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\").",
          "type": "string"
        },
        "rulesConfigInfo": {
          "description": "Output only. The config info related to backup rules.",
          "type": "array",
          "items": {
            "$ref": "RuleConfigInfo"
          },
          "readOnly": true
        },
        "backupPlanRevisionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`"
        },
        "filestoreInstanceBackupPlanAssociationProperties": {
          "description": "Output only. Filestore instance's backup plan association properties.",
          "$ref": "FilestoreInstanceBackupPlanAssociationProperties",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "autoProtectionPolicyBinding": {
          "description": "Output only. The resource name of the `AutoProtectionPolicyBinding` that manages this association, if any. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{policy}/bindings/{binding}`.",
          "readOnly": true,
          "type": "string"
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "description": "Output only. Cloud SQL instance's backup plan association properties.",
          "readOnly": true,
          "$ref": "CloudSqlInstanceBackupPlanAssociationProperties"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "description": "Output only. The BackupPlanAssociation resource state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ]
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDB cluster's backup plan association properties.",
          "$ref": "AlloyDBClusterBackupPlanAssociationProperties"
        },
        "backupPlanRevisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the instance was updated."
        },
        "dataSource": {
          "description": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "BackupPlanAssociation"
    },
    "AcceleratorConfig": {
      "type": "object",
      "id": "AcceleratorConfig",
      "properties": {
        "acceleratorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance."
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance."
        }
      },
      "description": "A specification of the type and number of accelerator cards attached to the instance."
    },
    "ListAutoProtectionPoliciesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "autoProtectionPolicies": {
          "description": "A list of the AutoProtectionPolicy resources found.",
          "type": "array",
          "items": {
            "$ref": "AutoProtectionPolicy"
          }
        }
      },
      "description": "Response message for ListAutoProtectionPolicies.",
      "id": "ListAutoProtectionPoliciesResponse"
    },
    "FetchBackupPlanAssociationsForResourceTypeResponse": {
      "description": "Response for the FetchBackupPlanAssociationsForResourceType method.",
      "properties": {
        "backupPlanAssociations": {
          "items": {
            "$ref": "BackupPlanAssociation"
          },
          "description": "Output only. The BackupPlanAssociations from the specified parent.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "FetchBackupPlanAssociationsForResourceTypeResponse"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "BackupApplianceBackupConfig": {
      "description": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances.",
      "properties": {
        "applicationName": {
          "description": "The name of the application.",
          "type": "string"
        },
        "hostName": {
          "description": "The name of the host where the application is running.",
          "type": "string"
        },
        "sltName": {
          "description": "The name of the SLT associated with the application.",
          "type": "string"
        },
        "slpName": {
          "type": "string",
          "description": "The name of the SLP associated with the application."
        },
        "slaId": {
          "description": "The ID of the SLA of this application.",
          "type": "string",
          "format": "int64"
        },
        "backupApplianceName": {
          "description": "The name of the backup appliance.",
          "type": "string"
        },
        "backupApplianceId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the backup appliance."
        }
      },
      "type": "object",
      "id": "BackupApplianceBackupConfig"
    },
    "ListBindingMatchingResourcesResponse": {
      "properties": {
        "matchingResources": {
          "type": "array",
          "description": "The list of `BindingMatchingResources` in the project,location for the specified binding.",
          "items": {
            "$ref": "BindingMatchingResource"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListBindingMatchingResources` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        }
      },
      "type": "object",
      "id": "ListBindingMatchingResourcesResponse",
      "description": "The response message for getting a list of `BindingMatchingResources`."
    },
    "BackupLocation": {
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Location type is unspecified.",
            "Location type is zonal.",
            "Location type is regional.",
            "Location type is multi regional."
          ],
          "description": "Output only. The type of the location.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ]
        },
        "locationId": {
          "description": "Output only. The id of the cloud location. Example: \"us-central1\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BackupLocation",
      "type": "object",
      "description": "BackupLocation represents a cloud location where a backup can be stored."
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      }
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference.",
      "id": "AlloyDBClusterDataSourceReferenceProperties",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}"
        }
      },
      "type": "object"
    },
    "RestoreBackupRequest": {
      "type": "object",
      "description": "Request message for restoring from a Backup.",
      "properties": {
        "computeInstanceTargetEnvironment": {
          "$ref": "ComputeInstanceTargetEnvironment",
          "description": "Compute Engine target environment to be used during restore."
        },
        "computeInstanceRestoreProperties": {
          "$ref": "ComputeInstanceRestoreProperties",
          "description": "Compute Engine instance properties to be overridden during restore."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "diskRestoreProperties": {
          "$ref": "DiskRestoreProperties",
          "description": "Disk properties to be overridden during restore."
        },
        "clearOverridesFieldMask": {
          "description": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "diskTargetEnvironment": {
          "$ref": "DiskTargetEnvironment",
          "description": "Disk target environment to be used during restore."
        },
        "regionDiskTargetEnvironment": {
          "description": "Region disk target environment to be used during restore.",
          "$ref": "RegionDiskTargetEnvironment"
        }
      },
      "id": "RestoreBackupRequest"
    },
    "ComputeInstanceDataSourceProperties": {
      "id": "ComputeInstanceDataSourceProperties",
      "type": "object",
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource.",
      "properties": {
        "totalDiskSizeGb": {
          "description": "The sum of all the disk sizes.",
          "format": "int64",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type of the instance.",
          "type": "string"
        },
        "totalDiskCount": {
          "type": "string",
          "format": "int64",
          "description": "The total number of disks attached to the Instance."
        },
        "description": {
          "description": "The description of the Compute Engine instance.",
          "type": "string"
        },
        "name": {
          "description": "Name of the compute instance backed up by the datasource.",
          "type": "string"
        }
      }
    },
    "InstanceParams": {
      "description": "Additional instance params.",
      "type": "object",
      "id": "InstanceParams",
      "properties": {
        "resourceManagerTags": {
          "type": "object",
          "description": "Optional. Resource manager tags to be bound to the instance.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NetworkPerformanceConfig": {
      "id": "NetworkPerformanceConfig",
      "type": "object",
      "properties": {
        "totalEgressBandwidthTier": {
          "description": "Optional. The tier of the total egress bandwidth.",
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEFAULT",
            "TIER_1"
          ],
          "enumDescriptions": [
            "This value is unused.",
            "Default network performance config.",
            "Tier 1 network performance config."
          ]
        }
      },
      "description": "Network performance configuration."
    },
    "SubscribeTrialRequest": {
      "properties": {},
      "description": "Request message for subscribing to a trial.",
      "id": "SubscribeTrialRequest",
      "type": "object"
    },
    "FetchBackupsForResourceTypeResponse": {
      "type": "object",
      "properties": {
        "backups": {
          "description": "The Backups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "FetchBackupsForResourceTypeResponse",
      "description": "Response for the FetchBackupsForResourceType method."
    },
    "FetchMsComplianceMetadataRequest": {
      "id": "FetchMsComplianceMetadataRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the target project",
          "type": "string"
        }
      },
      "description": "Request message for GetMsComplianceMetadata"
    },
    "ListBackupPlanAssociationsResponse": {
      "description": "Response message for List BackupPlanAssociation",
      "properties": {
        "backupPlanAssociations": {
          "description": "The list of Backup Plan Associations in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup plan associations in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupPlanAssociation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListBackupPlanAssociationsResponse",
      "type": "object"
    },
    "CloudSqlInstanceDataSourceReferenceProperties": {
      "type": "object",
      "id": "CloudSqlInstanceDataSourceReferenceProperties",
      "description": "CloudSqlInstanceDataSourceReferenceProperties represents the properties of a Cloud SQL resource that are stored in the DataSourceReference.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string"
        },
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "type": "string",
          "readOnly": true
        },
        "instanceCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The instance creation timestamp."
        },
        "instanceTier": {
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WorkforceIdentityBasedOAuth2ClientID": {
      "id": "WorkforceIdentityBasedOAuth2ClientID",
      "description": "OAuth Client ID depending on the Workforce Identity i.e. either 1p or 3p,",
      "type": "object",
      "properties": {
        "thirdPartyOauth2ClientId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Third party OAuth Client ID for External Identity Providers."
        },
        "firstPartyOauth2ClientId": {
          "description": "Output only. First party OAuth Client ID for Google Identities.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListDataSourcesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListDataSourcesResponse",
      "description": "Response message for listing DataSources."
    },
    "GCPBackupPlanInfo": {
      "type": "object",
      "id": "GCPBackupPlanInfo",
      "properties": {
        "backupPlanRuleId": {
          "type": "string",
          "description": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for"
        },
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup.",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "type": "string",
          "description": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}"
        },
        "backupPlan": {
          "description": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        }
      },
      "description": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup."
    },
    "BackupPlan": {
      "properties": {
        "updateTime": {
          "description": "Output only. When the `BackupPlan` was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resourceType": {
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the `BackupPlan` was created."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters.",
          "type": "string"
        },
        "logRetentionDays": {
          "format": "int64",
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault.",
          "type": "string"
        },
        "computeInstanceBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of compute instance based resources, such as Compute Engine Instances. This includes settings like whether to perform a guest flush.",
          "$ref": "ComputeInstanceBackupPlanProperties"
        },
        "diskBackupPlanProperties": {
          "$ref": "DiskBackupPlanProperties",
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush."
        },
        "supportedResourceTypes": {
          "description": "Output only. All resource types to which backupPlan can be applied.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxCustomOnDemandRetentionDays": {
          "type": "integer",
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value.",
          "format": "int32"
        },
        "backupRules": {
          "items": {
            "$ref": "BackupRule"
          },
          "type": "array",
          "description": "Optional. The backup rules for this `BackupPlan`."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The `State` for the `BackupPlan`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`"
        },
        "backupVaultServiceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account."
        },
        "revisionName": {
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "type": "string"
        },
        "backupVault": {
          "type": "string",
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}."
        }
      },
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads.",
      "id": "BackupPlan",
      "type": "object"
    },
    "MatchingCondition": {
      "type": "object",
      "id": "MatchingCondition",
      "description": "MatchingCondition specifies a set of conditions for matching resources.",
      "properties": {
        "labelCondition": {
          "$ref": "KeyValuePair",
          "description": "Optional. A condition that matches resources based on their labels. For MVP, this is limited to a single label match."
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Message describing the EncryptionConfig of backup vault. This determines how data within the vault is encrypted at rest.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. The Cloud KMS key name to encrypt backups in this backup vault. Must be in the same region as the vault. Some workload backups like compute disk backups may use their inherited source key instead. Format: projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}",
          "type": "string"
        }
      }
    },
    "ManagementURI": {
      "id": "ManagementURI",
      "type": "object",
      "properties": {
        "webUi": {
          "description": "Output only. The ManagementServer AGM/RD WebUI URL.",
          "readOnly": true,
          "type": "string"
        },
        "api": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD API URL."
        }
      },
      "description": "ManagementURI for the Management Server resource."
    },
    "BackupLock": {
      "properties": {
        "serviceLockInfo": {
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups.",
          "$ref": "ServiceLockInfo",
          "readOnly": true
        },
        "lockUntilTime": {
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "type": "string",
          "format": "google-datetime"
        },
        "backupApplianceLockInfo": {
          "$ref": "BackupApplianceLockInfo",
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists."
        }
      },
      "type": "object",
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted.",
      "id": "BackupLock"
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "description": "Cloud SQL instance's BPA properties.",
      "id": "CloudSqlInstanceBackupPlanAssociationProperties",
      "properties": {
        "instanceCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the instance was created."
        }
      },
      "type": "object"
    },
    "RuleConfigInfo": {
      "description": "Message for rules config info.",
      "properties": {
        "lastSuccessfulBackupConsistencyTime": {
          "format": "google-datetime",
          "description": "Output only. The point in time when the last successful backup was captured from the source.",
          "readOnly": true,
          "type": "string"
        },
        "lastBackupError": {
          "description": "Output only. google.rpc.Status object to store the last backup error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "ruleId": {
          "readOnly": true,
          "description": "Output only. Backup Rule id fetched from backup plan.",
          "type": "string"
        },
        "lastBackupState": {
          "description": "Output only. The last backup state for rule.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "PERMISSION_DENIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State not set.",
            "The first backup is pending.",
            "The most recent backup could not be run/failed because of the lack of permissions.",
            "The last backup operation succeeded.",
            "The last backup operation failed."
          ]
        }
      },
      "id": "RuleConfigInfo",
      "type": "object"
    },
    "BackupConfigInfo": {
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault.",
      "id": "BackupConfigInfo",
      "properties": {
        "lastBackupError": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. If the last backup failed, this field has the error message."
        },
        "backupApplianceBackupConfig": {
          "$ref": "BackupApplianceBackupConfig",
          "description": "Configuration for an application backed up by a Backup Appliance."
        },
        "gcpBackupConfig": {
          "$ref": "GcpBackupConfig",
          "description": "Configuration for a Google Cloud resource."
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the last backup were successful, this field has the consistency date.",
          "format": "google-datetime"
        },
        "lastBackupState": {
          "readOnly": true,
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "description": "Output only. The status of the last backup to this BackupVault",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiskTargetEnvironment": {
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Target zone for the disk."
        },
        "project": {
          "type": "string",
          "description": "Required. Target project for the disk."
        },
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the disk restore.",
          "type": "boolean"
        }
      },
      "id": "DiskTargetEnvironment",
      "description": "DiskTargetEnvironment represents the target environment for the disk.",
      "type": "object"
    },
    "AutoProtectionPolicyBinding": {
      "description": "An AutoprotectionPolicyBinding (APPA) acts as the bridge between an AutoprotectionPolicy and the scope (Project, Folder, or Organization) where the policy should be applied.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Output only. The etag for the binding. If this is provided on update, it must match the server's etag."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETION_INITIATED"
          ],
          "enumDescriptions": [
            "The state of the binding is unspecified.",
            "The binding is being created.",
            "The binding is active.",
            "The binding deletion is initiated."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the AutoProtectionPolicyBinding."
        },
        "scope": {
          "description": "Required. Immutable. Resource Id of target container on which policy will be applied. Format: projects/{project_id}",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the binding was last updated.",
          "type": "string",
          "readOnly": true
        },
        "bindingEvaluationSummary": {
          "$ref": "BindingEvaluationSummary",
          "readOnly": true,
          "description": "Output only. Summaries of the last policy application when the job has run, with one entry per resource type specified in the AutoProtectionPolicy."
        },
        "description": {
          "description": "Optional. A description of the binding.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the binding was created."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AutoProtectionPolicyBinding. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}/bindings/{binding}`"
        }
      },
      "id": "AutoProtectionPolicyBinding"
    },
    "NodeAffinity": {
      "type": "object",
      "properties": {
        "operator": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "description": "Optional. Defines the operation of node selection.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of Node resource."
        },
        "values": {
          "description": "Optional. Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "id": "NodeAffinity"
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "Criteria": {
      "id": "Criteria",
      "properties": {
        "matchingConditions": {
          "description": "Required. A list of matching conditions that a resource must meet to be protected by the policy.",
          "type": "array",
          "items": {
            "$ref": "MatchingCondition"
          }
        }
      },
      "description": "Criteria specifies a set of criteria for matching resources.",
      "type": "object"
    },
    "Backup": {
      "description": "Message describing a Backup object.",
      "properties": {
        "backupApplianceBackupProperties": {
          "$ref": "BackupApplianceBackupProperties",
          "readOnly": true,
          "description": "Output only. Backup Appliance specific backup properties."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filestoreInstanceBackupProperties": {
          "$ref": "FilestoreInstanceBackupProperties",
          "description": "Output only. Filestore specific backup properties.",
          "readOnly": true
        },
        "alloyDbBackupProperties": {
          "description": "Output only. AlloyDB specific backup properties.",
          "readOnly": true,
          "$ref": "AlloyDbClusterBackupProperties"
        },
        "backupType": {
          "description": "Output only. Type of the backup, unspecified, scheduled or ondemand.",
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "SCHEDULED",
            "ON_DEMAND",
            "ON_DEMAND_OPERATIONAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Backup type is unspecified.",
            "Scheduled backup.",
            "On demand backup.",
            "Operational backup."
          ]
        },
        "enforcedRetentionEndTime": {
          "description": "Optional. The backup can not be deleted before this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupApplianceLocks": {
          "description": "Optional. The list of BackupLocks taken by the accessor Backup Appliance.",
          "type": "array",
          "items": {
            "$ref": "BackupLock"
          }
        },
        "cloudSqlInstanceBackupProperties": {
          "$ref": "CloudSqlInstanceBackupProperties",
          "description": "Output only. Cloud SQL specific backup properties.",
          "readOnly": true
        },
        "gcpBackupPlanInfo": {
          "description": "Output only. Configuration for a Google Cloud resource.",
          "$ref": "GCPBackupPlanInfo",
          "readOnly": true
        },
        "resourceSizeBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. source resource size in bytes at the time of the backup."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. When this backup is automatically expired."
        },
        "etag": {
          "description": "Optional. Server specified ETag to prevent updates from overwriting each other.",
          "type": "string"
        },
        "gcpResource": {
          "$ref": "BackupGcpResource",
          "readOnly": true,
          "description": "Output only. Unique identifier of the GCP resource that is being backed up."
        },
        "backupRetentionInheritance": {
          "type": "string",
          "description": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault.",
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "readOnly": true,
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ]
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Backup instance (2048 characters or less).",
          "type": "string"
        },
        "kmsKeyVersions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup.",
          "type": "array",
          "readOnly": true
        },
        "serviceLocks": {
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup.",
          "items": {
            "$ref": "BackupLock"
          },
          "type": "array",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use."
        },
        "diskBackupProperties": {
          "readOnly": true,
          "$ref": "DiskBackupProperties",
          "description": "Output only. Disk specific backup properties."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the instance was updated."
        },
        "computeInstanceBackupProperties": {
          "$ref": "ComputeInstanceBackupProperties",
          "description": "Output only. Compute Engine specific backup properties.",
          "readOnly": true
        },
        "consistencyTime": {
          "description": "Output only. The point in time when this backup was captured from the source.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The Backup resource instance state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ]
        }
      },
      "id": "Backup",
      "type": "object"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected."
        },
        "peeringMode": {
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported.",
          "type": "string",
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ],
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ]
        }
      },
      "description": "Network configuration for ManagementServer instance.",
      "type": "object"
    },
    "BackupDrTemplateConfig": {
      "type": "object",
      "id": "BackupDrTemplateConfig",
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "properties": {
        "firstPartyManagementUri": {
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users.",
          "readOnly": true
        },
        "thirdPartyManagementUri": {
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PitrSettings": {
      "id": "PitrSettings",
      "type": "object",
      "properties": {
        "retentionDays": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of days to retain the backup."
        }
      },
      "description": "Point in time recovery settings of the backup configuration resource."
    },
    "BackupRule": {
      "type": "object",
      "description": "`BackupRule` binds the backup schedule to a retention policy.",
      "properties": {
        "backupRetentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
        },
        "ruleId": {
          "description": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/.",
          "type": "string"
        },
        "standardSchedule": {
          "$ref": "StandardSchedule",
          "description": "Optional. Defines a schedule that runs within the confines of a defined window of time."
        }
      },
      "id": "BackupRule"
    },
    "ComputeInstanceRestoreProperties": {
      "type": "object",
      "description": "ComputeInstanceRestoreProperties represents Compute Engine instance properties to be overridden during restore.",
      "properties": {
        "disks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "Optional. Array of disks associated with this instance. Persistent disks must be created before you can assign them. Source regional persistent disks will be restored with default replica zones if not specified.",
          "type": "array"
        },
        "tags": {
          "description": "Optional. Tags to apply to this instance. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during instance creation.",
          "$ref": "Tags"
        },
        "reservationAffinity": {
          "description": "Optional. Specifies the reservations that this instance can consume from.",
          "$ref": "AllocationAffinity"
        },
        "minCpuPlatform": {
          "description": "Optional. Minimum CPU platform to use for this instance.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to apply to this instance."
        },
        "networkInterfaces": {
          "description": "Optional. An array of network configurations for this instance. These specify how interfaces are configured to interact with other network services, such as connecting to the internet. Multiple interfaces are supported per instance. Required to restore in different project or region.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "confidentialInstanceConfig": {
          "$ref": "ConfidentialInstanceConfig",
          "description": "Optional. Controls Confidential compute options on the instance"
        },
        "advancedMachineFeatures": {
          "description": "Optional. Controls for advanced machine-related behavior features.",
          "$ref": "AdvancedMachineFeatures"
        },
        "privateIpv6GoogleAccess": {
          "type": "string",
          "enum": [
            "INSTANCE_PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "ENABLE_OUTBOUND_VM_ACCESS_TO_GOOGLE",
            "ENABLE_BIDIRECTIONAL_ACCESS_TO_GOOGLE"
          ],
          "description": "Optional. The private IPv6 google access type for the VM. If not specified, use INHERIT_FROM_SUBNETWORK as default.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Each network interface inherits PrivateIpv6GoogleAccess from its subnetwork.",
            "Outbound private IPv6 access from VMs in this subnet to Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before.",
            "Bidirectional private IPv6 access to/from Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before."
          ]
        },
        "instanceEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Encrypts suspended data for an instance with a customer-managed encryption key."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Whether the resource should be protected against deletion."
        },
        "displayDevice": {
          "description": "Optional. Enables display device for the instance.",
          "$ref": "DisplayDevice"
        },
        "scheduling": {
          "description": "Optional. Sets the scheduling options for this instance.",
          "$ref": "Scheduling"
        },
        "keyRevocationActionType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ],
          "type": "string",
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "description": "Optional. KeyRevocationActionType of the instance."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "serviceAccounts": {
          "items": {
            "$ref": "ServiceAccount"
          },
          "type": "array",
          "description": "Optional. A list of service accounts, with their specified scopes, authorized for this instance. Only one service account per VM instance is supported."
        },
        "resourcePolicies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Resource policies applied to this instance. By default, no resource policies will be applied.",
          "type": "array"
        },
        "canIpForward": {
          "description": "Optional. Allows this instance to send and receive packets with non-matching destination or source IPs.",
          "type": "boolean"
        },
        "hostname": {
          "description": "Optional. Specifies the hostname of the instance. The specified hostname must be RFC1035 compliant. If hostname is not specified, the default hostname is [INSTANCE_NAME].c.[PROJECT_ID].internal when using the global DNS, and [INSTANCE_NAME].[ZONE].c.[PROJECT_ID].internal when using zonal DNS.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the machine type resource to use for this instance."
        },
        "networkPerformanceConfig": {
          "$ref": "NetworkPerformanceConfig",
          "description": "Optional. Configure network performance such as egress bandwidth tier."
        },
        "params": {
          "description": "Input only. Additional params passed with the request, but not persisted as part of resource payload.",
          "$ref": "InstanceParams"
        },
        "name": {
          "description": "Required. Name of the compute instance.",
          "type": "string"
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "Optional. This includes custom metadata and predefined keys."
        },
        "guestAccelerators": {
          "description": "Optional. A list of the type and count of accelerator cards attached to the instance.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        }
      },
      "id": "ComputeInstanceRestoreProperties"
    },
    "FetchMsComplianceMetadataResponse": {
      "type": "object",
      "properties": {
        "isAssuredWorkload": {
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false.",
          "type": "boolean"
        }
      },
      "id": "FetchMsComplianceMetadataResponse",
      "description": "Response message for GetMsComplianceMetadata"
    },
    "ComputeInstanceTargetEnvironment": {
      "description": "ComputeInstanceTargetEnvironment represents Compute Engine target environment to be used during restore.",
      "id": "ComputeInstanceTargetEnvironment",
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "Required. Target project for the Compute Engine instance."
        },
        "zone": {
          "description": "Required. The zone of the Compute Engine instance.",
          "type": "string"
        },
        "useProjectServiceAccount": {
          "type": "boolean",
          "description": "Optional. Whether to use the project service account for the Compute Engine instance restore."
        }
      }
    },
    "SchedulingDuration": {
      "properties": {
        "nanos": {
          "description": "Optional. Span of time that's a fraction of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Optional. Span of time at a resolution of a second.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "id": "SchedulingDuration"
    },
    "ListBackupPlansResponse": {
      "description": "The response message for getting a list of `BackupPlan`.",
      "properties": {
        "backupPlans": {
          "description": "The list of `BackupPlans` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations. BackupPlan",
          "items": {
            "$ref": "BackupPlan"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBackupPlansResponse"
    },
    "FinalizeBackupRequest": {
      "description": "Message for finalizing a Backup.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "backupId": {
          "description": "Required. Resource ID of the Backup resource to be finalized. This must be the same backup_id that was used in the InitiateBackupRequest.",
          "type": "string"
        },
        "description": {
          "description": "This will be assigned to the description field of the newly created Backup.",
          "type": "string"
        },
        "retentionDuration": {
          "description": "The ExpireTime on the backup will be set to FinalizeTime plus this duration. If the resulting ExpireTime is less than EnforcedRetentionEndTime, then ExpireTime is set to EnforcedRetentionEndTime.",
          "format": "google-duration",
          "type": "string"
        },
        "consistencyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The point in time when this backup was captured from the source. This will be assigned to the consistency_time field of the newly created Backup."
        },
        "recoveryRangeStartTime": {
          "type": "string",
          "description": "The earliest timestamp of data available in this Backup. This will set on the newly created Backup.",
          "format": "google-datetime"
        },
        "recoveryRangeEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The latest timestamp of data available in this Backup. This will be set on the newly created Backup."
        }
      },
      "id": "FinalizeBackupRequest"
    },
    "DisplayDevice": {
      "type": "object",
      "description": "A set of Display Device options",
      "properties": {
        "enableDisplay": {
          "description": "Optional. Enables display for the Compute Engine VM",
          "type": "boolean"
        }
      },
      "id": "DisplayDevice"
    },
    "AttachedDisk": {
      "type": "object",
      "id": "AttachedDisk",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "Optional. This is used as an identifier for the disks. This is the unique name has to provided to modify disk parameters like disk_name and replica_zones (in case of RePDs)"
        },
        "autoDelete": {
          "type": "boolean",
          "description": "Optional. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Default value, which is unused.",
            "Attaches this disk in read-write mode. Only one virtual machine at a time can be attached to a disk in read-write mode.",
            "Attaches this disk in read-only mode. Multiple virtual machines can use a disk in read-only mode at a time.",
            "The disk is locked for administrative reasons. Nobody else can use the disk. This mode is used (for example) when taking a snapshot of a disk to prevent mounting the disk while it is being snapshotted."
          ],
          "description": "Optional. The mode in which to attach this disk.",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "LOCKED"
          ]
        },
        "savedState": {
          "enum": [
            "DISK_SAVED_STATE_UNSPECIFIED",
            "PRESERVED"
          ],
          "enumDescriptions": [
            "Default Disk state has not been preserved.",
            "Disk state has been preserved."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The state of the disk."
        },
        "diskType": {
          "description": "Optional. Output only. The URI of the disk type resource. For example: projects/project/zones/zone/diskTypes/pd-standard or pd-ssd",
          "type": "string",
          "readOnly": true
        },
        "boot": {
          "description": "Optional. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "index": {
          "format": "int64",
          "description": "Optional. A zero-based index to this disk, where 0 is reserved for the boot disk.",
          "type": "string"
        },
        "initializeParams": {
          "description": "Optional. Specifies the parameters to initialize this disk.",
          "$ref": "InitializeParams"
        },
        "kind": {
          "description": "Optional. Type of the resource.",
          "type": "string"
        },
        "license": {
          "type": "array",
          "description": "Optional. Any valid publicly visible licenses.",
          "items": {
            "type": "string"
          }
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts or decrypts a disk using a customer-supplied encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "source": {
          "type": "string",
          "description": "Optional. Specifies a valid partial or full URL to an existing Persistent Disk resource."
        },
        "diskTypeDeprecated": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "deprecated": true,
          "type": "string",
          "description": "Specifies the type of the disk.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ]
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Optional. The size of the disk in GB.",
          "type": "string"
        },
        "diskInterface": {
          "enum": [
            "DISK_INTERFACE_UNSPECIFIED",
            "SCSI",
            "NVME",
            "NVDIMM",
            "ISCSI"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "SCSI Disk Interface.",
            "NVME Disk Interface.",
            "NVDIMM Disk Interface.",
            "ISCSI Disk Interface."
          ],
          "description": "Optional. Specifies the disk interface to use for attaching this disk.",
          "type": "string"
        },
        "guestOsFeature": {
          "type": "array",
          "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images.",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "type": "string",
          "description": "Optional. Specifies the type of the disk.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ]
        }
      },
      "description": "An instance-attached disk resource."
    },
    "DiskDataSourceProperties": {
      "id": "DiskDataSourceProperties",
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. .",
      "type": "object",
      "properties": {
        "sizeGb": {
          "type": "string",
          "description": "The size of the disk in GB.",
          "format": "int64"
        },
        "name": {
          "description": "Name of the disk backed up by the datasource.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the disk."
        },
        "description": {
          "type": "string",
          "description": "The description of the disk."
        }
      }
    },
    "AllocationAffinity": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of a reservation resource."
        },
        "consumeReservationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Do not consume from any allocated capacity.",
            "Consume any allocation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "description": "Optional. Specifies the type of reservation from which this instance can consume",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of a reservation resource."
        }
      },
      "type": "object",
      "description": "Specifies the reservations that this instance can consume from.",
      "id": "AllocationAffinity"
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "id": "FetchDataSourceReferencesForResourceTypeResponse",
      "type": "object",
      "description": "Response for the FetchDataSourceReferencesForResourceType method.",
      "properties": {
        "dataSourceReferences": {
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "DiskBackupPlanProperties": {
      "type": "object",
      "description": "Properties for a disk backup plan.",
      "properties": {
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false."
        }
      },
      "id": "DiskBackupPlanProperties"
    },
    "InitiateBackupRequest": {
      "description": "request message for InitiateBackup.",
      "type": "object",
      "properties": {
        "backupId": {
          "description": "Required. Resource ID of the Backup resource.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
[...]
