{
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "version_module": true,
  "canonicalName": "Backupdr",
  "revision": "20260918",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "InstanceParams": {
      "description": "Additional instance params.",
      "type": "object",
      "properties": {
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags to be bound to the instance.",
          "type": "object"
        }
      },
      "id": "InstanceParams"
    },
    "FetchBackupsForResourceTypeResponse": {
      "id": "FetchBackupsForResourceTypeResponse",
      "description": "Response for the FetchBackupsForResourceType method.",
      "type": "object",
      "properties": {
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "The Backups from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "BackupPlan": {
      "id": "BackupPlan",
      "properties": {
        "supportedResourceTypes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. All resource types to which backupPlan can be applied.",
          "items": {
            "type": "string"
          }
        },
        "backupRules": {
          "description": "Optional. The backup rules for this `BackupPlan`.",
          "items": {
            "$ref": "BackupRule"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the `BackupPlan` was last updated.",
          "format": "google-datetime"
        },
        "diskBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush.",
          "$ref": "DiskBackupPlanProperties"
        },
        "logRetentionDays": {
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault.",
          "type": "string",
          "format": "int64"
        },
        "maxCustomOnDemandRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value."
        },
        "backupVaultServiceAccount": {
          "type": "string",
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters.",
          "type": "string"
        },
        "computeInstanceBackupPlanProperties": {
          "$ref": "ComputeInstanceBackupPlanProperties",
          "description": "Optional. Defines optional properties specific to backups of compute instance based resources, such as Compute Engine Instances. This includes settings like whether to perform a guest flush."
        },
        "revisionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`"
        },
        "backupVault": {
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\"."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. The `State` for the `BackupPlan`."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the `BackupPlan` was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads.",
      "type": "object"
    },
    "Tags": {
      "properties": {
        "items": {
          "type": "array",
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of instance tags.",
      "id": "Tags",
      "type": "object"
    },
    "PolicyEvaluationSummary": {
      "type": "object",
      "description": "PolicyEvaluationSummary contains the summary of the last run of job that applies policy to matching resources.",
      "id": "PolicyEvaluationSummary",
      "properties": {
        "failedResourceCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of matching resources whose protection failed during job run."
        },
        "protectedResourceCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of matching resources that are successfully protected."
        },
        "matchingResourceCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of resources that currently match the policy's criteria."
        }
      }
    },
    "FetchResourceBackupConfigsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "resourceBackupConfigs": {
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array"
        }
      },
      "id": "FetchResourceBackupConfigsResponse",
      "description": "Response for FetchResourceBackupConfigs."
    },
    "CloudSqlInstanceInitializationConfig": {
      "id": "CloudSqlInstanceInitializationConfig",
      "description": "CloudSqlInstanceInitializationConfig contains the configuration for initializing a Cloud SQL instance.",
      "properties": {
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Required. The edition of the Cloud SQL instance.",
          "enumDescriptions": [
            "Unspecified edition.",
            "Enterprise edition.",
            "Enterprise Plus edition."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupPlanRevision": {
      "id": "BackupPlanRevision",
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time.",
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "backupPlanSnapshot": {
          "description": "The Backup Plan being encompassed by this revision.",
          "$ref": "BackupPlan"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ],
          "description": "Output only. Resource State",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`"
        }
      }
    },
    "BackupDrPlanConfig": {
      "type": "object",
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "properties": {
        "backupDrPlanRules": {
          "items": {
            "$ref": "BackupDrPlanRule"
          },
          "type": "array",
          "description": "Backup rules of the backup plan resource."
        }
      },
      "id": "BackupDrPlanConfig"
    },
    "DataSourceGcpResourceInfo": {
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location of the Google Cloud resource. Ex: //\"global\"/\"unspecified\""
        },
        "cloudSqlInstanceProperties": {
          "description": "Output only. The properties of the Cloud SQL instance.",
          "readOnly": true,
          "$ref": "CloudSqlInstanceDataSourceReferenceProperties"
        },
        "type": {
          "description": "Output only. The type of the Google Cloud resource. Ex: compute.googleapis.com/Instance",
          "readOnly": true,
          "type": "string"
        },
        "filestoreInstanceProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the Filestore instance.",
          "$ref": "FilestoreInstanceDataSourceReferenceProperties"
        },
        "gcpResourcename": {
          "description": "Output only. The resource name of the Google Cloud resource. Ex: projects/{project}/zones/{zone}/instances/{instance}",
          "type": "string",
          "readOnly": true
        },
        "alloyDbClusterProperties": {
          "$ref": "AlloyDBClusterDataSourceReferenceProperties",
          "readOnly": true,
          "description": "Output only. The properties of the AlloyDB cluster."
        }
      },
      "description": "The Google Cloud resource that the DataSource is associated with.",
      "id": "DataSourceGcpResourceInfo"
    },
    "DiskDataSourceProperties": {
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. .",
      "properties": {
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The size of the disk in GB."
        },
        "name": {
          "type": "string",
          "description": "Name of the disk backed up by the datasource."
        },
        "type": {
          "description": "The type of the disk.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the disk."
        }
      },
      "type": "object",
      "id": "DiskDataSourceProperties"
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "ComputeInstanceDataSourceProperties": {
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource.",
      "id": "ComputeInstanceDataSourceProperties",
      "properties": {
        "totalDiskCount": {
          "description": "The total number of disks attached to the Instance.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "The description of the Compute Engine instance.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type of the instance."
        },
        "totalDiskSizeGb": {
          "format": "int64",
          "description": "The sum of all the disk sizes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the compute instance backed up by the datasource."
        }
      },
      "type": "object"
    },
    "Trial": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "description": "Output only. The state of the trial."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial"
        },
        "startTime": {
          "description": "Output only. The time when the trial was subscribed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endReason": {
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason for ending the trial."
        },
        "endTime": {
          "description": "Output only. The time when the trial will expire.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a Trial for a project.",
      "id": "Trial",
      "type": "object"
    },
    "AlloyDBClusterDataSourceProperties": {
      "description": "AlloyDBClusterDataSourceProperties represents the properties of a AlloyDB cluster resource that are stored in the DataSource. .",
      "properties": {
        "clusterUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster UID of the AlloyDB cluster backed up by the datasource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource."
        },
        "pitrWindows": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Point in time recovery windows. The order is guaranteed to be ascending by start time.",
          "items": {
            "$ref": "AlloyDbPitrWindow"
          }
        }
      },
      "type": "object",
      "id": "AlloyDBClusterDataSourceProperties"
    },
    "ListAutoProtectionPolicyBindingsResponse": {
      "id": "ListAutoProtectionPolicyBindingsResponse",
      "description": "Response message for ListAutoProtectionPolicyBindings.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "autoProtectionPolicyBindings": {
          "description": "A list of the AutoProtectionPolicyBindings resources found.",
          "items": {
            "$ref": "AutoProtectionPolicyBinding"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FetchAccessTokenRequest": {
      "description": "Request message for FetchAccessToken.",
      "id": "FetchAccessTokenRequest",
      "type": "object",
      "properties": {
        "generationId": {
          "description": "Required. The generation of the backup to update.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ServiceLockInfo": {
      "id": "ServiceLockInfo",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Output only. The name of the operation that created this lock. The lock will automatically be released when the operation completes.",
          "readOnly": true
        }
      },
      "description": "ServiceLockInfo represents the details of a lock taken by the service on a Backup resource."
    },
    "ComputeInstanceBackupProperties": {
      "type": "object",
      "id": "ComputeInstanceBackupProperties",
      "properties": {
        "guestAccelerator": {
          "description": "A list of guest accelerator cards' type and count to use for instances created from these properties.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "disk": {
          "description": "An array of disks that are associated with the instances that are created from these properties.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
        },
        "sourceInstance": {
          "description": "The source instance used to create this backup. This can be a partial or full URL to the resource. For example, the following are valid values: -https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance -projects/project/zones/zone/instances/instance",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels to apply to instances that are created from these properties."
        },
        "description": {
          "description": "An optional text description for the instances that are created from these properties.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to use for instances that are created from these properties.",
          "type": "string"
        },
        "serviceAccount": {
          "items": {
            "$ref": "ServiceAccount"
          },
          "type": "array",
          "description": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances."
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information."
        },
        "keyRevocationActionType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ],
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "description": "KeyRevocationActionType of the instance. Supported options are \"STOP\" and \"NONE\". The default value is \"NONE\" if it is not specified.",
          "type": "string"
        },
        "scheduling": {
          "$ref": "Scheduling",
          "description": "Specifies the scheduling options for the instances that are created from these properties."
        },
        "tags": {
          "description": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt).",
          "$ref": "Tags"
        },
        "networkInterface": {
          "type": "array",
          "description": "An array of network access configurations for this interface.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "canIpForward": {
          "description": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information.",
          "type": "boolean"
        },
        "minCpuPlatform": {
          "description": "Minimum cpu/platform to be used by instances. The instance may be scheduled on the specified or newer cpu/platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: Intel Haswell` or `minCpuPlatform: Intel Sandy Bridge`. For more information, read https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform.",
          "type": "string"
        }
      },
      "description": "ComputeInstanceBackupProperties represents Compute Engine instance backup properties."
    },
    "BackupWindow": {
      "type": "object",
      "description": "`BackupWindow` defines a window of the day during which backup jobs will run.",
      "id": "BackupWindow",
      "properties": {
        "startHourOfDay": {
          "description": "Required. The hour of day (0-23) when the window starts for e.g. if value of start hour of day is 6 that mean backup window start at 6:00.",
          "type": "integer",
          "format": "int32"
        },
        "endHourOfDay": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The hour of day (1-24) when the window end for e.g. if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00."
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "items": {
          "description": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        }
      },
      "description": "A metadata key/value entry.",
      "type": "object"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "A service account.",
      "properties": {
        "email": {
          "description": "Optional. Email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes to be made available for this service account."
        }
      },
      "type": "object"
    },
    "Backup": {
      "description": "Message describing a Backup object.",
      "type": "object",
      "properties": {
        "computeInstanceBackupProperties": {
          "readOnly": true,
          "description": "Output only. Compute Engine specific backup properties.",
          "$ref": "ComputeInstanceBackupProperties"
        },
        "resourceSizeBytes": {
          "description": "Output only. source resource size in bytes at the time of the backup.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "cloudSqlInstanceBackupProperties": {
          "$ref": "CloudSqlInstanceBackupProperties",
          "description": "Output only. Cloud SQL specific backup properties.",
          "readOnly": true
        },
        "alloyDbBackupProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDB specific backup properties.",
          "$ref": "AlloyDbClusterBackupProperties"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupRetentionInheritance": {
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "description": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault.",
          "readOnly": true,
          "type": "string"
        },
        "filestoreInstanceBackupProperties": {
          "$ref": "FilestoreInstanceBackupProperties",
          "readOnly": true,
          "description": "Output only. Filestore specific backup properties."
        },
        "gcpResource": {
          "$ref": "BackupGcpResource",
          "readOnly": true,
          "description": "Output only. Unique identifier of the GCP resource that is being backed up."
        },
        "serviceLocks": {
          "items": {
            "$ref": "BackupLock"
          },
          "type": "array",
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag to prevent updates from overwriting each other."
        },
        "backupApplianceLocks": {
          "type": "array",
          "description": "Optional. The list of BackupLocks taken by the accessor Backup Appliance.",
          "items": {
            "$ref": "BackupLock"
          }
        },
        "gcpBackupPlanInfo": {
          "readOnly": true,
          "description": "Output only. Configuration for a Google Cloud resource.",
          "$ref": "GCPBackupPlanInfo"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. When this backup is automatically expired.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Reserved for future use."
        },
        "backupApplianceBackupProperties": {
          "$ref": "BackupApplianceBackupProperties",
          "readOnly": true,
          "description": "Output only. Backup Appliance specific backup properties."
        },
        "state": {
          "description": "Output only. The Backup resource instance state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime"
        },
        "backupType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Backup type is unspecified.",
            "Scheduled backup.",
            "On demand backup.",
            "Operational backup."
          ],
          "description": "Output only. Type of the backup, unspecified, scheduled or ondemand.",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "SCHEDULED",
            "ON_DEMAND",
            "ON_DEMAND_OPERATIONAL"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Backup instance (2048 characters or less)."
        },
        "diskBackupProperties": {
          "description": "Output only. Disk specific backup properties.",
          "readOnly": true,
          "$ref": "DiskBackupProperties"
        },
        "kmsKeyVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup.",
          "items": {
            "type": "string"
          }
        },
        "enforcedRetentionEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The backup can not be deleted before this time."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime"
        },
        "consistencyTime": {
          "type": "string",
          "description": "Output only. The point in time when this backup was captured from the source.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean"
        }
      },
      "id": "Backup"
    },
    "FilestoreInstanceBackupProperties": {
      "type": "object",
      "id": "FilestoreInstanceBackupProperties",
      "description": "FilestoreInstanceBackupProperties represents the properties of a Filestore instance that are backed up by the datasource. .",
      "properties": {
        "sourceInstance": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source instance of the backup."
        }
      }
    },
    "DiskBackupPlanProperties": {
      "description": "Properties for a disk backup plan.",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "id": "DiskBackupPlanProperties",
      "type": "object"
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected."
        },
        "peeringMode": {
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported.",
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ],
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "type": "string"
        }
      },
      "description": "Network configuration for ManagementServer instance.",
      "id": "NetworkConfig"
    },
    "DataSourceBackupApplianceApplication": {
      "properties": {
        "applicationName": {
          "description": "The name of the Application as known to the Backup Appliance.",
          "type": "string"
        },
        "applianceId": {
          "format": "int64",
          "description": "Appliance Id of the Backup Appliance.",
          "type": "string"
        },
        "hostId": {
          "format": "int64",
          "description": "Hostid of the application host.",
          "type": "string"
        },
        "backupAppliance": {
          "description": "Appliance name.",
          "type": "string"
        },
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The appid field of the application within the Backup Appliance."
        },
        "hostname": {
          "description": "Hostname of the host where the application is running.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the application. e.g. VMBackup"
        }
      },
      "description": "BackupApplianceApplication describes a Source Resource when it is an application backed up by a BackupAppliance.",
      "type": "object",
      "id": "DataSourceBackupApplianceApplication"
    },
    "KeyValuePair": {
      "description": "KeyValuePair defines a key-value pair for matching resource labels.",
      "type": "object",
      "id": "KeyValuePair",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the label to match. This must be in the format `{label_key}`. The key must match the regex Format:`\\p{Ll}\\p{Lo}{0,62}`."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The values of the label to match. There will be explicit “OR” between values of array. Each value must be in the format `{label_value}`. The value must match the regex Format: `[\\\\p{Ll}\\\\p{Lo}\\\\p{N}_-]{1,63}`.",
          "type": "array"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "RegionDiskTargetEnvironment": {
      "properties": {
        "useProjectServiceAccount": {
          "type": "boolean",
          "description": "Optional. Whether to use the project service account for the disk restore."
        },
        "project": {
          "type": "string",
          "description": "Required. Target project for the disk."
        },
        "replicaZones": {
          "type": "array",
          "description": "Required. Target URLs of the replica zones for the disk.",
          "items": {
            "type": "string"
          }
        },
        "region": {
          "type": "string",
          "description": "Required. Target region for the disk."
        }
      },
      "type": "object",
      "description": "RegionDiskTargetEnvironment represents the target environment for the disk.",
      "id": "RegionDiskTargetEnvironment"
    },
    "FetchBackupPlanAssociationsForResourceTypeResponse": {
      "id": "FetchBackupPlanAssociationsForResourceTypeResponse",
      "description": "Response for the FetchBackupPlanAssociationsForResourceType method.",
      "properties": {
        "backupPlanAssociations": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The BackupPlanAssociations from the specified parent.",
          "items": {
            "$ref": "BackupPlanAssociation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BackupApplianceBackupProperties": {
      "type": "object",
      "description": "BackupApplianceBackupProperties represents BackupDR backup appliance's properties.",
      "properties": {
        "recoveryRangeStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The earliest timestamp of data available in this Backup."
        },
        "finalizeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this backup object was finalized (if none, backup is not finalized).",
          "readOnly": true
        },
        "generationId": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The numeric generation ID of the backup (monotonically increasing).",
          "type": "integer"
        },
        "recoveryRangeEndTime": {
          "format": "google-datetime",
          "description": "Optional. The latest timestamp of data available in this Backup.",
          "type": "string"
        }
      },
      "id": "BackupApplianceBackupProperties"
    },
    "FilestoreInstanceDataSourceReferenceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Filestore instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
        },
        "instanceCreateTime": {
          "readOnly": true,
          "description": "Output only. The instance creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "FilestoreInstanceDataSourceReferenceProperties",
      "description": "FilestoreInstanceDataSourceReferenceProperties represents the properties of a Filestore resource that are stored in the DataSourceReference. ."
    },
    "MatchingCondition": {
      "type": "object",
      "description": "MatchingCondition specifies a set of conditions for matching resources.",
      "id": "MatchingCondition",
      "properties": {
        "labelCondition": {
          "$ref": "KeyValuePair",
          "description": "Optional. A condition that matches resources based on their labels. For MVP, this is limited to a single label match."
        }
      }
    },
    "GuestOsFeature": {
      "id": "GuestOsFeature",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ],
          "type": "string",
          "description": "The ID of a supported feature.",
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ]
        }
      },
      "description": "Feature type of the Guest OS."
    },
    "InitializeParams": {
      "description": "Specifies the parameters to initialize this disk.",
      "type": "object",
      "id": "InitializeParams",
      "properties": {
        "replicaZones": {
          "type": "array",
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance.",
          "items": {
            "type": "string"
          }
        },
        "diskName": {
          "type": "string",
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance."
        }
      }
    },
    "Entry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. Value for the metadata entry. These are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on values is that their size must be less than or equal to 262144 bytes (256 KiB)."
        },
        "key": {
          "description": "Optional. Key for the metadata entry.",
          "type": "string"
        }
      },
      "id": "Entry",
      "description": "A key/value pair to be used for storing metadata."
    },
    "DiskRestoreProperties": {
      "properties": {
        "sizeGb": {
          "description": "Required. The size of the disk in GB.",
          "type": "string",
          "format": "int64"
        },
        "architecture": {
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ]
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle."
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option."
        },
        "name": {
          "description": "Required. Name of the disk.",
          "type": "string"
        },
        "provisionedThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
        },
        "accessMode": {
          "type": "string",
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ],
          "description": "Optional. The access mode of the disk.",
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ]
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array",
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images."
        },
        "type": {
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk.",
          "type": "string"
        },
        "resourcePolicy": {
          "description": "Optional. Resource policies applied to this disk.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource."
        },
        "licenses": {
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceBackupSource": {
          "$ref": "RestoreDiskFromInstanceOptions",
          "description": "Options for creating a disk from a source Compute Instance backup."
        },
        "resourceManagerTags": {
          "description": "Optional. Resource manager tags to be bound to the disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096."
        }
      },
      "id": "DiskRestoreProperties",
      "type": "object",
      "description": "DiskRestoreProperties represents the properties of a Disk restore."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "Policy"
    },
    "BackupPlanAssociation": {
      "id": "BackupPlanAssociation",
      "type": "object",
      "properties": {
        "backupPlan": {
          "type": "string",
          "description": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "$ref": "AlloyDBClusterBackupPlanAssociationProperties",
          "description": "Output only. AlloyDB cluster's backup plan association properties.",
          "readOnly": true
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "$ref": "CloudSqlInstanceBackupPlanAssociationProperties",
          "description": "Output only. Cloud SQL instance's backup plan association properties.",
          "readOnly": true
        },
        "backupPlanRevisionName": {
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}",
          "readOnly": true
        },
        "autoProtectionPolicyBinding": {
          "description": "Output only. The resource name of the `AutoProtectionPolicyBinding` that manages this association, if any. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{policy}/bindings/{binding}`.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "description": "Required. Immutable. Resource type of workload on which backupplan is applied",
          "type": "string"
        },
        "dataSource": {
          "readOnly": true,
          "description": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "filestoreInstanceBackupPlanAssociationProperties": {
          "readOnly": true,
          "description": "Output only. Filestore instance's backup plan association properties.",
          "$ref": "FilestoreInstanceBackupPlanAssociationProperties"
        },
        "backupPlanRevisionId": {
          "type": "string",
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The BackupPlanAssociation resource state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING",
            "PAUSED"
          ],
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated.",
            "The resource has been created but backups are paused."
          ],
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime"
        },
        "rulesConfigInfo": {
          "type": "array",
          "description": "Output only. The config info related to backup rules.",
          "readOnly": true,
          "items": {
            "$ref": "RuleConfigInfo"
          }
        },
        "resource": {
          "type": "string",
          "description": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\")."
        }
      },
      "description": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc"
    },
    "CloudSqlInstanceBackupProperties": {
      "id": "CloudSqlInstanceBackupProperties",
      "properties": {
        "finalBackup": {
          "type": "boolean",
          "description": "Output only. Whether the backup is a final backup.",
          "readOnly": true
        },
        "sourceInstance": {
          "description": "Output only. The source instance of the backup. Format: projects/{project}/instances/{instance}",
          "type": "string",
          "readOnly": true
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance when the backup was taken."
        },
        "instanceDeleteTime": {
          "description": "Output only. The instance delete timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "instanceCreateTime": {
          "readOnly": true,
          "description": "Output only. The instance creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceTier": {
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true
        }
      },
      "description": "CloudSqlInstanceBackupProperties represents Cloud SQL Instance Backup properties.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AlloyDBClusterDataSourceReferenceProperties"
    },
    "RestoreDiskFromInstanceOptions": {
      "description": "Options for creating a disk from a source Compute Instance backup.",
      "id": "RestoreDiskFromInstanceOptions",
      "properties": {
        "sourceDeviceName": {
          "description": "The device name of the disk to restore from the VM backup.",
          "type": "string"
        },
        "bootDisk": {
          "type": "boolean",
          "description": "Set to true to restore the boot disk from the instance backup. This field should only be set to true if selected."
        }
      },
      "type": "object"
    },
    "AliasIpRange": {
      "type": "object",
      "description": "An alias IP range attached to an instance's network interface.",
      "id": "AliasIpRange",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "Optional. The IP alias ranges to allocate for this interface."
        },
        "subnetworkRangeName": {
          "description": "Optional. The name of a subnetwork secondary IP range from which to allocate an IP alias range. If not specified, the primary range of the subnetwork is used.",
          "type": "string"
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "An instance-attached disk resource.",
      "type": "object",
      "properties": {
        "savedState": {
          "enumDescriptions": [
            "Default Disk state has not been preserved.",
            "Disk state has been preserved."
          ],
          "enum": [
            "DISK_SAVED_STATE_UNSPECIFIED",
            "PRESERVED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The state of the disk."
        },
        "kind": {
          "description": "Optional. Type of the resource.",
          "type": "string"
        },
        "guestOsFeature": {
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images.",
          "type": "array"
        },
        "diskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the disk in GB."
        },
        "diskType": {
          "readOnly": true,
          "description": "Optional. Output only. The URI of the disk type resource. For example: projects/project/zones/zone/diskTypes/pd-standard or pd-ssd",
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. This is used as an identifier for the disks. This is the unique name has to provided to modify disk parameters like disk_name and replica_zones (in case of RePDs)",
          "type": "string"
        },
        "source": {
          "description": "Optional. Specifies a valid partial or full URL to an existing Persistent Disk resource.",
          "type": "string"
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts or decrypts a disk using a customer-supplied encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "mode": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "Attaches this disk in read-write mode. Only one virtual machine at a time can be attached to a disk in read-write mode.",
            "Attaches this disk in read-only mode. Multiple virtual machines can use a disk in read-only mode at a time.",
            "The disk is locked for administrative reasons. Nobody else can use the disk. This mode is used (for example) when taking a snapshot of a disk to prevent mounting the disk while it is being snapshotted."
          ],
          "type": "string",
          "description": "Optional. The mode in which to attach this disk.",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "LOCKED"
          ]
        },
        "license": {
          "type": "array",
          "description": "Optional. Any valid publicly visible licenses.",
          "items": {
            "type": "string"
          }
        },
        "autoDelete": {
          "type": "boolean",
          "description": "Optional. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
        },
        "index": {
          "type": "string",
          "format": "int64",
          "description": "Optional. A zero-based index to this disk, where 0 is reserved for the boot disk."
        },
        "initializeParams": {
          "description": "Optional. Specifies the parameters to initialize this disk.",
          "$ref": "InitializeParams"
        },
        "diskInterface": {
          "type": "string",
          "enumDescriptions": [
            "Default value, which is unused.",
            "SCSI Disk Interface.",
            "NVME Disk Interface.",
            "NVDIMM Disk Interface.",
            "ISCSI Disk Interface."
          ],
          "enum": [
            "DISK_INTERFACE_UNSPECIFIED",
            "SCSI",
            "NVME",
            "NVDIMM",
            "ISCSI"
          ],
          "description": "Optional. Specifies the disk interface to use for attaching this disk."
        },
        "diskTypeDeprecated": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "description": "Specifies the type of the disk.",
          "deprecated": true,
          "type": "string"
        },
        "boot": {
          "description": "Optional. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "type": "string",
          "description": "Optional. Specifies the type of the disk.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ]
        }
      }
    },
    "BackupLocation": {
      "properties": {
        "locationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the cloud location. Example: \"us-central1\""
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "readOnly": true,
          "description": "Output only. The type of the location.",
          "enumDescriptions": [
            "Location type is unspecified.",
            "Location type is zonal.",
            "Location type is regional.",
            "Location type is multi regional."
          ],
          "type": "string"
        }
      },
      "id": "BackupLocation",
      "type": "object",
      "description": "BackupLocation represents a cloud location where a backup can be stored."
    },
    "FinalizeBackupRequest": {
      "type": "object",
      "properties": {
        "backupId": {
          "type": "string",
          "description": "Required. Resource ID of the Backup resource to be finalized. This must be the same backup_id that was used in the InitiateBackupRequest."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "description": {
          "type": "string",
          "description": "This will be assigned to the description field of the newly created Backup."
        },
        "recoveryRangeStartTime": {
          "description": "The earliest timestamp of data available in this Backup. This will set on the newly created Backup.",
          "type": "string",
          "format": "google-datetime"
        },
        "consistencyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The point in time when this backup was captured from the source. This will be assigned to the consistency_time field of the newly created Backup."
        },
        "recoveryRangeEndTime": {
          "type": "string",
          "description": "The latest timestamp of data available in this Backup. This will be set on the newly created Backup.",
          "format": "google-datetime"
        },
        "retentionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The ExpireTime on the backup will be set to FinalizeTime plus this duration. If the resulting ExpireTime is less than EnforcedRetentionEndTime, then ExpireTime is set to EnforcedRetentionEndTime."
        }
      },
      "id": "FinalizeBackupRequest",
      "description": "Message for finalizing a Backup."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "FilestoreInstanceBackupPlanAssociationProperties": {
      "properties": {
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "type": "string"
        }
      },
      "description": "Filestore instance's BPA properties.",
      "type": "object",
      "id": "FilestoreInstanceBackupPlanAssociationProperties"
    },
    "FilestoreInstanceDataSourceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Filestore instance backed up by the datasource."
        },
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The instance creation timestamp."
        }
      },
      "id": "FilestoreInstanceDataSourceProperties",
      "description": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. ."
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "enableNestedVirtualization": {
          "description": "Optional. Whether to enable nested virtualization or not (default is false).",
          "type": "boolean"
        },
        "threadsPerCore": {
          "format": "int32",
          "description": "Optional. The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "type": "integer"
        },
        "visibleCoreCount": {
          "format": "int32",
          "description": "Optional. The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width.",
          "type": "integer"
        },
        "enableUefiNetworking": {
          "description": "Optional. Whether to enable UEFI networking for instance creation.",
          "type": "boolean"
        }
      },
      "description": "Specifies options for controlling advanced machine features.",
      "id": "AdvancedMachineFeatures",
      "type": "object"
    },
    "InitiateBackupResponse": {
      "type": "object",
      "id": "InitiateBackupResponse",
      "description": "Response message for InitiateBackup.",
      "properties": {
        "baseBackupGenerationId": {
          "description": "The generation id of the base backup. It is needed for the incremental backups.",
          "format": "int32",
          "type": "integer"
        },
        "newBackupGenerationId": {
          "description": "The generation id of the new backup.",
          "type": "integer",
          "format": "int32"
        },
        "backup": {
          "description": "The name of the backup that was created.",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "BackupVault": {
      "description": "Message describing a BackupVault object.",
      "id": "BackupVault",
      "type": "object",
      "properties": {
        "backupRetentionInheritance": {
          "description": "Optional. Setting for how a backup's enforced retention end time is inherited.",
          "type": "string",
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the BackupVault instance (2048 characters or less)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated.",
          "readOnly": true,
          "type": "string"
        },
        "deletable": {
          "type": "boolean",
          "description": "Output only. Set to true when there are no backups nested under this resource.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data."
        },
        "uid": {
          "type": "string",
          "description": "Output only. Immutable after resource creation until resource deletion.",
          "readOnly": true
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config of the backup vault.",
          "$ref": "EncryptionConfig"
        },
        "backupMinimumEnforcedRetentionDuration": {
          "format": "google-duration",
          "description": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "type": "string"
        },
        "backupCount": {
          "description": "Output only. The number of backups in this backup vault.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "effectiveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Time after which the BackupVault resource is locked."
        },
        "totalStoredBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of the storage used by all backup resources.",
          "readOnly": true
        },
        "accessRestriction": {
          "enum": [
            "ACCESS_RESTRICTION_UNSPECIFIED",
            "WITHIN_PROJECT",
            "WITHIN_ORGANIZATION",
            "UNRESTRICTED",
            "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          ],
          "description": "Optional. Restricts access to certain sources and destinations for data being sent into, or restored from, the backup vault. Defaults to WITHIN_ORGANIZATION if not provided during creation.",
          "enumDescriptions": [
            "Access restriction not set. If user does not provide any value or pass this value, it will be changed to WITHIN_ORGANIZATION.",
            "Access to or from resources outside your current project will be denied.",
            "Access to or from resources outside your current organization will be denied.",
            "No access restriction.",
            "Access to or from resources outside your current organization will be denied except for backup appliance."
          ],
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The backup vault is being created.",
            "The backup vault has been created and is fully usable.",
            "The backup vault is being deleted.",
            "The backup vault is experiencing an issue and might be unusable.",
            "The backup vault is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The BackupVault resource instance state.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BindingMatchingResource": {
      "properties": {
        "autoProtectionDetails": {
          "$ref": "AutoProtectionDetails",
          "description": "Output only. The auto protection details of the resource from the current binding's perspective.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Required. Immutable. Resource name of the workload that matches the criteria of the binding. The format can be either a relative resource name (e.g., `projects/my-project/zones/us-central1-a/instances/my-instance`) or a schemeless full resource name (e.g., `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`)."
        },
        "name": {
          "description": "Identifier. The resource name of the `BindingMatchingResource`. Format: `projects/{project}/locations/{location}/autoProtectionPolicies/{auto_protection_policy}/bindings/{binding}/matchingResources/{matching_resource}`",
          "type": "string"
        },
        "lastEvaluationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last evaluated for protection.",
          "format": "google-datetime"
        }
      },
      "description": "BindingMatchingResource contains the details of a resource that matches the criteria of a binding.",
      "id": "BindingMatchingResource",
      "type": "object"
    },
    "NodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "properties": {
        "operator": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "type": "string",
          "description": "Optional. Defines the operation of node selection.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "key": {
          "description": "Optional. Corresponds to the label key of Node resource.",
          "type": "string"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "NodeAffinity"
    },
    "AbandonBackupRequest": {
      "id": "AbandonBackupRequest",
      "description": "request message for AbandonBackup.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAutoProtectionPoliciesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "autoProtectionPolicies": {
          "items": {
            "$ref": "AutoProtectionPolicy"
          },
          "type": "array",
          "description": "A list of the AutoProtectionPolicy resources found."
        }
      },
      "description": "Response message for ListAutoProtectionPolicies.",
      "id": "ListAutoProtectionPoliciesResponse",
      "type": "object"
    },
    "FetchUsableBackupVaultsResponse": {
      "type": "object",
      "description": "Response message for fetching usable BackupVaults.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          }
        }
      },
      "id": "FetchUsableBackupVaultsResponse"
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "properties": {
        "instanceCreateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime"
        }
      },
      "description": "Cloud SQL instance's BPA properties.",
      "id": "CloudSqlInstanceBackupPlanAssociationProperties",
      "type": "object"
    },
    "NetworkInterface": {
      "properties": {
        "ipv6AccessConfigs": {
          "type": "array",
          "items": {
            "$ref": "AccessConfig"
          },
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access."
        },
        "ipv6Address": {
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork.",
          "type": "string"
        },
        "accessConfigs": {
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access.",
          "type": "array",
          "items": {
            "$ref": "AccessConfig"
          }
        },
        "nicType": {
          "type": "string",
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ],
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ]
        },
        "stackType": {
          "type": "string",
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ],
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "description": "The stack type for this network interface."
        },
        "name": {
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server.",
          "type": "string",
          "readOnly": true
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The URL of the Subnetwork resource for this instance."
        },
        "queueCount": {
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users.",
          "format": "int32",
          "type": "integer"
        },
        "networkAttachment": {
          "type": "string",
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}."
        },
        "aliasIpRanges": {
          "items": {
            "$ref": "AliasIpRange"
          },
          "type": "array",
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks."
        },
        "network": {
[...]
