{
  "canonicalName": "Backupdr",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "name": "backupdr",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "description": "",
  "rootUrl": "https://backupdr.googleapis.com/",
  "version": "v1",
  "baseUrl": "https://backupdr.googleapis.com/",
  "id": "backupdr:v1",
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "title": "Backup and DR Service API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-backupdr": {
          "description": "See, edit, configure, and delete your Google Cloud Backup and DR data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "ComputeInstanceBackupProperties": {
      "id": "ComputeInstanceBackupProperties",
      "properties": {
        "keyRevocationActionType": {
          "description": "KeyRevocationActionType of the instance. Supported options are \"STOP\" and \"NONE\". The default value is \"NONE\" if it is not specified.",
          "type": "string",
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ]
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information."
        },
        "guestAccelerator": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of guest accelerator cards' type and count to use for instances created from these properties.",
          "type": "array"
        },
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        },
        "networkInterface": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "An array of network access configurations for this interface."
        },
        "description": {
          "description": "An optional text description for the instances that are created from these properties.",
          "type": "string"
        },
        "scheduling": {
          "$ref": "Scheduling",
          "description": "Specifies the scheduling options for the instances that are created from these properties."
        },
        "includedDisks": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of disks included in the backup.",
          "type": "array"
        },
        "canIpForward": {
          "description": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum cpu/platform to be used by instances. The instance may be scheduled on the specified or newer cpu/platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: Intel Haswell` or `minCpuPlatform: Intel Sandy Bridge`. For more information, read https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform."
        },
        "machineType": {
          "description": "The machine type to use for instances that are created from these properties.",
          "type": "string"
        },
        "tags": {
          "$ref": "Tags",
          "description": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt)."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels to apply to instances that are created from these properties."
        },
        "excludedDisks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of disks excluded from the backup."
        },
        "disk": {
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "An array of disks that are associated with the instances that are created from these properties."
        },
        "sourceInstance": {
          "description": "The source instance used to create this backup. This can be a partial or full URL to the resource. For example, the following are valid values: -https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance -projects/project/zones/zone/instances/instance",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ComputeInstanceBackupProperties represents Compute Engine instance backup properties."
    },
    "FetchMsComplianceMetadataRequest": {
      "description": "Request message for GetMsComplianceMetadata",
      "id": "FetchMsComplianceMetadataRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the target project",
          "type": "string"
        }
      }
    },
    "AdvancedMachineFeatures": {
      "description": "Specifies options for controlling advanced machine features.",
      "type": "object",
      "properties": {
        "threadsPerCore": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed."
        },
        "enableUefiNetworking": {
          "description": "Optional. Whether to enable UEFI networking for instance creation.",
          "type": "boolean"
        },
        "visibleCoreCount": {
          "format": "int32",
          "description": "Optional. The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width.",
          "type": "integer"
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Optional. Whether to enable nested virtualization or not (default is false)."
        }
      },
      "id": "AdvancedMachineFeatures"
    },
    "DataSourceBackupApplianceApplication": {
      "type": "object",
      "description": "BackupApplianceApplication describes a Source Resource when it is an application backed up by a BackupAppliance.",
      "id": "DataSourceBackupApplianceApplication",
      "properties": {
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The appid field of the application within the Backup Appliance."
        },
        "hostname": {
          "description": "Hostname of the host where the application is running.",
          "type": "string"
        },
        "hostId": {
          "description": "Hostid of the application host.",
          "format": "int64",
          "type": "string"
        },
        "applicationName": {
          "type": "string",
          "description": "The name of the Application as known to the Backup Appliance."
        },
        "applianceId": {
          "format": "int64",
          "description": "Appliance Id of the Backup Appliance.",
          "type": "string"
        },
        "backupAppliance": {
          "description": "Appliance name.",
          "type": "string"
        },
        "type": {
          "description": "The type of the application. e.g. VMBackup",
          "type": "string"
        }
      }
    },
    "ListResourceBackupConfigsResponse": {
      "type": "object",
      "description": "Response for ListResourceBackupConfigs.",
      "id": "ListResourceBackupConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "resourceBackupConfigs": {
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array"
        }
      }
    },
    "RestoreBackupRequest": {
      "id": "RestoreBackupRequest",
      "type": "object",
      "description": "Request message for restoring from a Backup.",
      "properties": {
        "computeInstanceRestoreProperties": {
          "$ref": "ComputeInstanceRestoreProperties",
          "description": "Compute Engine instance properties to be overridden during restore."
        },
        "diskRestoreProperties": {
          "description": "Disk properties to be overridden during restore.",
          "$ref": "DiskRestoreProperties"
        },
        "computeInstanceTargetEnvironment": {
          "description": "Compute Engine target environment to be used during restore.",
          "$ref": "ComputeInstanceTargetEnvironment"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "clearOverridesFieldMask": {
          "type": "string",
          "description": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`",
          "format": "google-fieldmask"
        },
        "regionDiskTargetEnvironment": {
          "$ref": "RegionDiskTargetEnvironment",
          "description": "Region disk target environment to be used during restore."
        },
        "diskTargetEnvironment": {
          "description": "Disk target environment to be used during restore.",
          "$ref": "DiskTargetEnvironment"
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "An instance-attached disk resource.",
      "type": "object",
      "properties": {
        "diskInterface": {
          "description": "Optional. Specifies the disk interface to use for attaching this disk.",
          "type": "string",
          "enum": [
            "DISK_INTERFACE_UNSPECIFIED",
            "SCSI",
            "NVME",
            "NVDIMM",
            "ISCSI"
          ],
          "enumDescriptions": [
            "Default value, which is unused.",
            "SCSI Disk Interface.",
            "NVME Disk Interface.",
            "NVDIMM Disk Interface.",
            "ISCSI Disk Interface."
          ]
        },
        "boot": {
          "type": "boolean",
          "description": "Optional. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts or decrypts a disk using a customer-supplied encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "source": {
          "type": "string",
          "description": "Optional. Specifies a valid partial or full URL to an existing Persistent Disk resource."
        },
        "index": {
          "description": "Optional. A zero-based index to this disk, where 0 is reserved for the boot disk.",
          "format": "int64",
          "type": "string"
        },
        "diskType": {
          "readOnly": true,
          "description": "Optional. Output only. The URI of the disk type resource. For example: projects/project/zones/zone/diskTypes/pd-standard or pd-ssd",
          "type": "string"
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. This is used as an identifier for the disks. This is the unique name has to provided to modify disk parameters like disk_name and replica_zones (in case of RePDs)"
        },
        "mode": {
          "type": "string",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "LOCKED"
          ],
          "description": "Optional. The mode in which to attach this disk.",
          "enumDescriptions": [
            "Default value, which is unused.",
            "Attaches this disk in read-write mode. Only one virtual machine at a time can be attached to a disk in read-write mode.",
            "Attaches this disk in read-only mode. Multiple virtual machines can use a disk in read-only mode at a time.",
            "The disk is locked for administrative reasons. Nobody else can use the disk. This mode is used (for example) when taking a snapshot of a disk to prevent mounting the disk while it is being snapshotted."
          ]
        },
        "diskSizeGb": {
          "description": "Optional. The size of the disk in GB.",
          "format": "int64",
          "type": "string"
        },
        "diskTypeDeprecated": {
          "description": "Specifies the type of the disk.",
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ]
        },
        "initializeParams": {
          "$ref": "InitializeParams",
          "description": "Optional. Specifies the parameters to initialize this disk."
        },
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "description": "Optional. Specifies the type of the disk."
        },
        "kind": {
          "description": "Optional. Type of the resource.",
          "type": "string"
        },
        "savedState": {
          "enumDescriptions": [
            "Default Disk state has not been preserved.",
            "Disk state has been preserved."
          ],
          "description": "Optional. Output only. The state of the disk.",
          "type": "string",
          "enum": [
            "DISK_SAVED_STATE_UNSPECIFIED",
            "PRESERVED"
          ],
          "readOnly": true
        },
        "autoDelete": {
          "type": "boolean",
          "description": "Optional. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
        },
        "license": {
          "description": "Optional. Any valid publicly visible licenses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "guestOsFeature": {
          "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images.",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array"
        }
      }
    },
    "BackupWindow": {
      "type": "object",
      "properties": {
        "endHourOfDay": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The hour of day (1-24) when the window end for example if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00."
        },
        "startHourOfDay": {
          "type": "integer",
          "description": "Required. The hour of day (0-23) when the window starts for example if value of start hour of day is 6 that mean backup window start at 6:00.",
          "format": "int32"
        }
      },
      "id": "BackupWindow",
      "description": "`BackupWindow` defines a window of the day during which backup jobs will run."
    },
    "InitializeServiceRequest": {
      "type": "object",
      "description": "Request message for initializing the service.",
      "id": "InitializeServiceRequest",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\"."
        },
        "cloudSqlInstanceInitializationConfig": {
          "$ref": "CloudSqlInstanceInitializationConfig",
          "description": "Optional. The configuration for initializing a Cloud SQL instance."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupPlanLocation": {
          "type": "string",
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "BackupPlan": {
      "type": "object",
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads.",
      "id": "BackupPlan",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`",
          "readOnly": true
        },
        "revisionName": {
          "type": "string",
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "readOnly": true
        },
        "diskBackupPlanProperties": {
          "$ref": "DiskBackupPlanProperties",
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}."
        },
        "resourceType": {
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\".",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "backupRules": {
          "type": "array",
          "description": "Optional. The backup rules for this `BackupPlan`.",
          "items": {
            "$ref": "BackupRule"
          }
        },
        "backupVaultServiceAccount": {
          "readOnly": true,
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account.",
          "type": "string"
        },
        "maxCustomOnDemandRetentionDays": {
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value.",
          "format": "int32",
          "type": "integer"
        },
        "backupVault": {
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. The `State` for the `BackupPlan`.",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ]
        },
        "updateTime": {
          "description": "Output only. When the `BackupPlan` was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources.",
          "type": "string"
        },
        "logRetentionDays": {
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the `BackupPlan` was created.",
          "readOnly": true
        },
        "computeInstanceBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of compute instance-based resources, such as Compute Engine. This includes settings like whether to perform a guest flush.",
          "$ref": "ComputeInstanceBackupPlanProperties"
        },
        "supportedResourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Output only. All resource types to which backupPlan can be applied.",
          "readOnly": true,
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "additionalInfo": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource.",
          "type": "object"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata"
    },
    "FetchBackupsForResourceTypeResponse": {
      "id": "FetchBackupsForResourceTypeResponse",
      "description": "Response for the FetchBackupsForResourceType method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "description": "The Backups from the specified parent.",
          "items": {
            "$ref": "Backup"
          }
        }
      }
    },
    "BackupConfigDetails": {
      "properties": {
        "backupVault": {
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the backup vault that will store the backups generated through this backup configuration. Example: \"//backupdr.googleapis.com/v1/projects/{project}/locations/{region}/backupVaults/{backupvaultId}\"",
          "type": "string",
          "readOnly": true
        },
        "backupConfigSourceDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the backup config source resource."
        },
        "backupConfigSource": {
          "readOnly": true,
          "description": "Output only. The full resource name of the backup config source resource. For example, \"//backupdr.googleapis.com/v1/projects/{project}/locations/{region}/backupPlans/{backupplanId}\" or \"//compute.googleapis.com/projects/{project}/locations/{region}/resourcePolicies/{resourcePolicyId}\".",
          "type": "string"
        },
        "pitrSettings": {
          "readOnly": true,
          "$ref": "PitrSettings",
          "description": "Output only. Point in time recovery settings of the backup configuration resource."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Backup config state not set.",
            "The config is in an active state protecting the resource",
            "The config is currently not protecting the resource. Either because it is disabled or the owning project has been deleted without cleanup of the actual resource.",
            "The config still exists but because of some error state it is not protecting the resource. Like the source project is deleted. For eg. PlanAssociation, BackupPlan is deleted."
          ],
          "description": "Output only. The state of the backup config resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "ERROR"
          ]
        },
        "backupLocations": {
          "items": {
            "$ref": "BackupLocation"
          },
          "type": "array",
          "description": "The locations where the backups are to be stored."
        },
        "backupDrTemplateConfig": {
          "description": "Google Cloud Backup and DR's Template specific data.",
          "$ref": "BackupDrTemplateConfig"
        },
        "applicableResource": {
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the resource that is applicable for the backup configuration. Example: \"//compute.googleapis.com/projects/{project}/zones/{zone}/instances/{instance}\"",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the backup config resource.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE_BACKUP_CONFIG",
            "COMPUTE_ENGINE_RESOURCE_POLICY",
            "BACKUPDR_BACKUP_PLAN",
            "BACKUPDR_TEMPLATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Backup config type is unspecified.",
            "Backup config is Cloud SQL instance's automated backup config.",
            "Backup config is Compute Engine Resource Policy.",
            "Backup config is Google Cloud Backup and DR's Backup Plan.",
            "Backup config is Google Cloud Backup and DR's Template."
          ]
        },
        "backupDrPlanConfig": {
          "$ref": "BackupDrPlanConfig",
          "description": "Google Cloud Backup and DR's Backup Plan specific data."
        },
        "latestSuccessfulBackupTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest successful backup created via this backup configuration."
        }
      },
      "description": "BackupConfigDetails has information about how the resource is configured for backups and about the most recent backup taken for this configuration.",
      "type": "object",
      "id": "BackupConfigDetails"
    },
    "AlloyDBClusterBackupPlanAssociationProperties": {
      "description": "Properties for an AlloyDB cluster backup plan association.",
      "id": "AlloyDBClusterBackupPlanAssociationProperties",
      "type": "object",
      "properties": {
        "clusterUid": {
          "description": "Output only. The cluster UID of the AlloyDB cluster.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ServiceAccount": {
      "description": "A service account.",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account."
        },
        "email": {
          "description": "Optional. Email address of the service account.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceAccount"
    },
    "GcpResource": {
      "type": "object",
      "description": "Minimum details to identify a Google Cloud resource",
      "properties": {
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance."
        }
      },
      "id": "GcpResource"
    },
    "AlloyDBClusterDataSourceProperties": {
      "properties": {
        "name": {
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource.",
          "type": "string",
          "readOnly": true
        },
        "clusterUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster UID of the AlloyDB cluster backed up by the datasource."
        },
        "pitrWindows": {
          "items": {
            "$ref": "AlloyDbPitrWindow"
          },
          "type": "array",
          "description": "Output only. Point in time recovery windows. The order is guaranteed to be ascending by start time.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "AlloyDBClusterDataSourceProperties represents the properties of a AlloyDB cluster resource that are stored in the DataSource. .",
      "id": "AlloyDBClusterDataSourceProperties"
    },
    "WorkforceIdentityBasedManagementURI": {
      "properties": {
        "firstPartyManagementUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. First party Management URI for Google Identities."
        },
        "thirdPartyManagementUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Third party Management URI for External Identity Providers."
        }
      },
      "description": "ManagementURI depending on the Workforce Identity i.e. either 1p or 3p.",
      "id": "WorkforceIdentityBasedManagementURI",
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "properties": {
        "dataSourceReferences": {
          "type": "array",
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response for the FetchDataSourceReferencesForResourceType method.",
      "id": "FetchDataSourceReferencesForResourceTypeResponse",
      "type": "object"
    },
    "ListBackupVaultsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListBackupVaultsResponse",
      "type": "object",
      "description": "Response message for listing BackupVaults."
    },
    "Scheduling": {
      "type": "object",
      "description": "Sets the scheduling options for an Instance.",
      "properties": {
        "minNodeCpus": {
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node.",
          "type": "integer",
          "format": "int32"
        },
        "onHostMaintenance": {
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "Optional. Defines the maintenance behavior for this instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tells Compute Engine to terminate and (optionally) restart the instance away from the maintenance activity.",
            "Default, Allows Compute Engine to automatically migrate instances out of the way of maintenance events."
          ]
        },
        "provisioningModel": {
          "description": "Optional. Specifies the provisioning model of the instance.",
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Standard provisioning with user controlled runtime, no discounts.",
            "Heavily discounted, no guaranteed runtime."
          ]
        },
        "automaticRestart": {
          "description": "Optional. Specifies whether the instance should be automatically restarted if it is terminated by Compute Engine (not terminated by a user).",
          "type": "boolean"
        },
        "instanceTerminationAction": {
          "description": "Optional. Specifies the termination action for the instance.",
          "type": "string",
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
            "Stop the VM without storing in-memory content. default action."
          ]
        },
        "nodeAffinities": {
          "items": {
            "$ref": "NodeAffinity"
          },
          "description": "Optional. A set of node affinity and anti-affinity configurations. Overrides reservationAffinity.",
          "type": "array"
        },
        "localSsdRecoveryTimeout": {
          "$ref": "SchedulingDuration",
          "description": "Optional. Specifies the maximum amount of time a Local Ssd Vm should wait while recovery of the Local Ssd state is attempted. Its value should be in between 0 and 168 hours with hour granularity and the default value being 1 hour."
        },
        "preemptible": {
          "description": "Optional. Defines whether the instance is preemptible.",
          "type": "boolean"
        }
      },
      "id": "Scheduling"
    },
    "LocationMetadata": {
      "properties": {
        "unsupportedFeatures": {
          "type": "array",
          "description": "List of features that are not supported in the location.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "Remove once parity achieved between BV_AF and BV_CUSTOM_PROBERS.",
              ""
            ],
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "MANAGEMENT_SERVER",
              "COMPUTE_INSTANCE",
              "PROTECTION_SUMMARY",
              "DISK",
              "CLOUD_SQL",
              "ALLOY_DB",
              "FILESTORE",
              "BV_AF",
              "CEP_MONITORING_COMPUTE_INSTANCE",
              "CEP_MONITORING_DISK",
              "BV_CUSTOM_PROBERS",
              "FT_CUSTOM_PROBERS"
            ]
          }
        }
      },
      "id": "LocationMetadata",
      "type": "object"
    },
    "RestoreDiskFromInstanceOptions": {
      "properties": {
        "sourceDeviceName": {
          "description": "The device name of the disk to restore from the VM backup.",
          "type": "string"
        },
        "bootDisk": {
          "description": "Specifies that the boot disk should be restored from the instance backup. This field should only be set to `true` if selected.",
          "type": "boolean"
        }
      },
      "description": "Options for creating a disk from a source Compute Instance backup.",
      "type": "object",
      "id": "RestoreDiskFromInstanceOptions"
    },
    "GoogleCloudBackupdrV1OperationMetadata": {
      "id": "GoogleCloudBackupdrV1OperationMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "additionalInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListManagementServersResponse": {
      "type": "object",
      "properties": {
        "managementServers": {
          "items": {
            "$ref": "ManagementServer"
          },
          "description": "The list of ManagementServer instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return management servers in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListManagementServersResponse",
      "description": "Response message for listing management servers."
    },
    "ListDataSourcesResponse": {
      "id": "ListDataSourcesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for listing DataSources."
    },
    "NodeAffinity": {
      "properties": {
        "key": {
          "description": "Optional. Corresponds to the label key of Node resource.",
          "type": "string"
        },
        "operator": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "Optional. Defines the operation of node selection."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of Node resource."
        }
      },
      "type": "object",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "id": "NodeAffinity"
    },
    "AlloyDbPitrWindow": {
      "description": "Point in time recovery window for an AlloyDB cluster.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The end time of the PITR window. It is not set if the corresponding Backup Plan Association is active.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The start time of the PITR window.",
          "readOnly": true,
          "type": "string"
        },
        "logRetentionDays": {
          "type": "string",
          "description": "Output only. Log retention days for the PITR window.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "AlloyDbPitrWindow"
    },
    "FetchBackupPlanAssociationsForResourceTypeResponse": {
      "id": "FetchBackupPlanAssociationsForResourceTypeResponse",
      "type": "object",
      "properties": {
        "backupPlanAssociations": {
          "type": "array",
          "description": "Output only. The BackupPlanAssociations from the specified parent.",
          "readOnly": true,
          "items": {
            "$ref": "BackupPlanAssociation"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response for the FetchBackupPlanAssociationsForResourceType method."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "type": "object",
      "id": "Location"
    },
    "DiskBackupProperties": {
      "id": "DiskBackupProperties",
      "description": "DiskBackupProperties represents the properties of a Disk backup.",
      "properties": {
        "labels": {
          "description": "The labels of the source disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "accessMode": {
          "type": "string",
          "description": "The access mode of the source disk."
        },
        "type": {
          "description": "The URL of the type of the disk.",
          "type": "string"
        },
        "storagePool": {
          "description": "The storage pool of the source disk.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Region and zone are mutually exclusive fields. The URL of the region of the source disk."
        },
        "description": {
          "type": "string",
          "description": "A description of the source disk."
        },
        "guestFlush": {
          "description": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false.",
          "type": "boolean"
        },
        "guestOsFeature": {
          "type": "array",
          "description": "A list of guest OS features that are applicable to this backup.",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "sourceDisk": {
          "type": "string",
          "description": "The source disk used to create this backup."
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image."
        },
        "replicaZones": {
          "description": "The URL of the Zones where the source disk should be replicated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zone": {
          "description": "The URL of the Zone where the source disk.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Size(in GB) of the source disk."
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Indicates whether the source disk is using confidential compute mode."
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "The physical block size of the source disk.",
          "format": "int64"
        },
        "provisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "The number of throughput provisioned for the source disk."
        },
        "provisionedIops": {
          "format": "int64",
          "description": "The number of IOPS provisioned for the source disk.",
          "type": "string"
        },
        "architecture": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "description": "The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ]
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "type": "object",
      "properties": {
        "ipv6AccessConfigs": {
          "type": "array",
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access.",
          "items": {
            "$ref": "AccessConfig"
          }
        },
        "stackType": {
          "description": "The stack type for this network interface.",
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ]
        },
        "ipv6AccessType": {
          "enumDescriptions": [
            "IPv6 access type not set. Means this network interface hasn't been turned on IPv6 yet.",
            "This network interface can have internal IPv6.",
            "This network interface can have external IPv6."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_IPV6_ACCESS_TYPE",
            "INTERNAL",
            "EXTERNAL"
          ],
          "description": "Optional. [Output Only] One of EXTERNAL, INTERNAL to indicate whether the IP can be accessed from the Internet. This field is always inherited from its subnetwork."
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The URL of the Subnetwork resource for this instance."
        },
        "network": {
          "type": "string",
          "description": "Optional. URL of the VPC network resource for this instance."
        },
        "networkIP": {
          "description": "Optional. An IPv4 internal IP address to assign to the instance for this network interface. If not specified by the user, an unused internal IP is assigned by the system.",
          "type": "string"
        },
        "aliasIpRanges": {
          "type": "array",
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks.",
          "items": {
            "$ref": "AliasIpRange"
          }
        },
        "name": {
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server.",
          "readOnly": true,
          "type": "string"
        },
        "internalIpv6PrefixLength": {
          "format": "int32",
          "description": "Optional. The prefix length of the primary internal IPv6 range.",
          "type": "integer"
        },
        "accessConfigs": {
          "items": {
            "$ref": "AccessConfig"
          },
          "type": "array",
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access."
        },
        "ipv6Address": {
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork.",
          "type": "string"
        },
        "queueCount": {
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users.",
          "format": "int32",
          "type": "integer"
        },
        "nicType": {
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "type": "string",
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ]
        },
        "networkAttachment": {
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}.",
          "type": "string"
        }
      },
      "description": "A network interface resource attached to an instance. s"
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorCount": {
          "type": "integer",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance.",
          "format": "int32"
        },
        "acceleratorType": {
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance.",
          "type": "string"
        }
      },
      "id": "AcceleratorConfig",
      "description": "A specification of the type and number of accelerator cards attached to the instance.",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "ComputeInstanceBackupPlanProperties": {
      "properties": {
        "diskExclusionLabels": {
          "$ref": "DiskExclusionLabels",
          "description": "Optional. Labels used to identify disks for exclusion from the backup. If a disk carries any of these labels, it will be excluded (OR logic)."
        },
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
        },
        "bootDiskOnly": {
          "description": "Optional. If true, only the boot disk will be backed up.",
          "type": "boolean"
        }
      },
      "id": "ComputeInstanceBackupPlanProperties",
      "type": "object",
      "description": "Properties for a compute instance backup plan."
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "TargetResource": {
      "id": "TargetResource",
      "type": "object",
      "description": "Details of the target resource created/modified as part of restore.",
      "properties": {
        "gcpResource": {
          "description": "Details of the native Google Cloud resource created as part of restore.",
          "$ref": "GcpResource"
        }
      }
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "id": "CustomerEncryptionKey",
      "description": "A customer-supplied encryption key.",
      "properties": {
        "rsaEncryptedKey": {
          "description": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource.",
          "type": "string"
        },
        "rawKey": {
          "type": "string",
          "description": "Optional. Specifies a 256-bit customer-supplied encryption key."
        },
        "kmsKeyName": {
          "description": "Optional. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        },
        "kmsKeyServiceAccount": {
          "type": "string",
          "description": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used."
        }
      }
    },
    "BackupApplianceLockInfo": {
      "properties": {
        "backupImage": {
          "description": "The image name that depends on this Backup.",
          "type": "string"
        },
        "slaId": {
          "type": "string",
          "format": "int64",
          "description": "The SLA on the backup/recovery appliance that owns the lock."
        },
        "backupApplianceName": {
          "type": "string",
          "description": "Required. The name of the backup/recovery appliance that created this lock."
        },
        "jobName": {
          "type": "string",
          "description": "The job name on the backup/recovery appliance that created this lock."
        },
        "lockReason": {
          "description": "Required. The reason for the lock: e.g. MOUNT/RESTORE/BACKUP/etc. The value of this string is only meaningful to the client and it is not interpreted by the BackupVault service.",
          "type": "string"
        },
        "backupApplianceId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The ID of the backup/recovery appliance that created this lock."
        }
      },
      "description": "BackupApplianceLockInfo contains metadata about the backupappliance that created the lock.",
      "id": "BackupApplianceLockInfo",
      "type": "object"
    },
    "ManagementURI": {
      "properties": {
        "webUi": {
          "description": "Output only. The ManagementServer AGM/RD WebUI URL.",
          "type": "string",
          "readOnly": true
        },
        "api": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD API URL."
        }
      },
      "description": "ManagementURI for the Management Server resource.",
      "type": "object",
      "id": "ManagementURI"
    },
    "DiskBackupPlanProperties": {
      "type": "object",
      "description": "Properties for a disk backup plan.",
      "id": "DiskBackupPlanProperties",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      }
    },
    "FinalizeBackupRequest": {
      "description": "Message for finalizing a Backup.",
      "properties": {
        "backupId": {
          "type": "string",
          "description": "Required. Resource ID of the Backup resource to be finalized. This must be the same backup_id that was used in the InitiateBackupRequest."
        },
        "retentionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The ExpireTime on the backup will be set to FinalizeTime plus this duration. If the resulting ExpireTime is less than EnforcedRetentionEndTime, then ExpireTime is set to EnforcedRetentionEndTime."
        },
        "recoveryRangeStartTime": {
          "format": "google-datetime",
          "description": "The earliest timestamp of data available in this Backup. This will set on the newly created Backup.",
          "type": "string"
        },
        "recoveryRangeEndTime": {
          "format": "google-datetime",
          "description": "The latest timestamp of data available in this Backup. This will be set on the newly created Backup.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "consistencyTime": {
          "type": "string",
          "description": "The point in time when this backup was captured from the source. This will be assigned to the consistency_time field of the newly created Backup.",
          "format": "google-datetime"
        },
        "description": {
          "description": "This will be assigned to the description field of the newly created Backup.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FinalizeBackupRequest"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "PitrSettings": {
      "properties": {
        "retentionDays": {
          "description": "Output only. Number of days to retain the backup.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PitrSettings",
      "description": "Point in time recovery settings of the backup configuration resource."
    },
    "EndTrialRequest": {
      "type": "object",
      "id": "EndTrialRequest",
      "properties": {
        "endReason": {
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "description": "Required. The reason for ending the trial.",
          "type": "string",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ]
        }
      },
      "description": "Request message for ending a trial."
    },
    "LabelKeyValPair": {
      "properties": {
        "key": {
          "description": "Key of the label. The key must follow the format: `\\\\p{Ll}\\\\p{Lo}{0,62}`. This means the key must start with a lowercase letter or a lowercase international character, followed by zero or more lowercase letters, lowercase international characters, numbers, underscores, or dashes. The key must be at most 63 characters long. International characters are allowed.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the label. The value must follow the format: `[\\\\p{Ll}\\\\p{Lo}\\\\p{N}_-]{1,63}`. This means the value must be one or more lowercase letters, lowercase international characters, numbers, underscores, or dashes. The value must be at most 63 characters long. International characters are allowed."
        }
      },
      "id": "LabelKeyValPair",
      "description": "Message for a label key-value pair.",
      "type": "object"
    },
    "BackupPlanRevision": {
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time.",
      "properties": {
        "backupPlanSnapshot": {
          "description": "The Backup Plan being encompassed by this revision.",
          "$ref": "BackupPlan"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Resource State",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ]
        },
        "revisionId": {
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BackupPlanRevision",
      "type": "object"
    },
    "DataSourceGcpResource": {
      "id": "DataSourceGcpResource",
      "description": "DataSourceGcpResource is used for protected resources that are Google Cloud Resources. This name is easeier to understand than GcpResourceDataSource or GcpDataSourceResource",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "computeInstanceDatasourceProperties": {
          "$ref": "ComputeInstanceDataSourceProperties",
          "description": "ComputeInstanceDataSourceProperties has a subset of Compute Instance properties that are useful at the Datasource level."
        },
        "alloyDbClusterDatasourceProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDBClusterDataSourceProperties has a subset of AlloyDB cluster properties that are useful at the Datasource level. Currently none of its child properties are auditable. If new auditable properties are added, the AUDIT annotation should be added.",
          "$ref": "AlloyDBClusterDataSourceProperties"
        },
        "cloudSqlInstanceDatasourceProperties": {
          "readOnly": true,
          "$ref": "CloudSqlInstanceDataSourceProperties",
          "description": "Output only. CloudSqlInstanceDataSourceProperties has a subset of Cloud SQL Instance properties that are useful at the Datasource level."
        },
        "filestoreInstanceDatasourceProperties": {
          "description": "Output only. FilestoreInstanceDataSourceProperties has a subset of FileStore instance properties that are useful at the Datasource level.",
          "readOnly": true,
          "$ref": "FilestoreInstanceDataSourceProperties"
        },
        "diskDatasourceProperties": {
          "$ref": "DiskDataSourceProperties",
          "description": "DiskDataSourceProperties has a subset of Disk properties that are useful at the Datasource level."
        },
        "type": {
          "description": "The type of the Google Cloud resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        },
        "gcpResourcename": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full resource pathname URL of the source Google Cloud resource."
        }
      }
    },
    "AbandonBackupRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "AbandonBackupRequest",
      "description": "request message for AbandonBackup."
    },
    "CloudSqlInstanceDataSourceProperties": {
      "type": "object",
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource.",
      "id": "CloudSqlInstanceDataSourceProperties",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance."
        },
        "instanceCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The instance creation timestamp."
        },
        "instanceTier": {
          "readOnly": true,
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "type": "string"
        }
      }
    },
    "BackupPlanAssociation": {
      "description": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc",
      "properties": {
        "backupPlanRevisionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`"
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDB cluster's backup plan association properties.",
          "$ref": "AlloyDBClusterBackupPlanAssociationProperties"
        },
        "backupPlan": {
          "description": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "description": "Output only. Cloud SQL instance's backup plan association properties.",
          "readOnly": true,
          "$ref": "CloudSqlInstanceBackupPlanAssociationProperties"
        },
        "resourceType": {
          "description": "Required. Immutable. Resource type of workload on which backupplan is applied",
          "type": "string"
        },
        "filestoreInstanceBackupPlanAssociationProperties": {
          "readOnly": true,
          "$ref": "FilestoreInstanceBackupPlanAssociationProperties",
          "description": "Output only. Filestore instance's backup plan association properties."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The BackupPlanAssociation resource state.",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ]
        },
        "updateTime": {
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "backupPlanRevisionId": {
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "readOnly": true,
          "type": "string"
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "resource": {
          "description": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\").",
          "type": "string"
        },
        "rulesConfigInfo": {
          "readOnly": true,
          "items": {
            "$ref": "RuleConfigInfo"
          },
          "type": "array",
          "description": "Output only. The config info related to backup rules."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "BackupPlanAssociation",
      "type": "object"
    },
    "AccessConfig": {
      "properties": {
        "externalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the external IPv6 range.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ]
        },
        "networkTier": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "type": "string",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access"
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "publicPtrDomainName": {
          "description": "Optional. The DNS domain name for the public PTR record.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this access configuration."
        },
        "externalIpv6": {
          "type": "string",
          "description": "Optional. The external IPv6 address of this access configuration."
        }
      },
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig",
      "type": "object"
    },
    "InitiateBackupRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "backupId": {
          "description": "Required. Resource ID of the Backup resource.",
          "type": "string"
        }
      },
      "description": "request message for InitiateBackup.",
      "type": "object",
      "id": "InitiateBackupRequest"
    },
    "SchedulingDuration": {
      "properties": {
        "seconds": {
          "description": "Optional. Span of time at a resolution of a second.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Span of time that's a fraction of a second at nanosecond resolution."
        }
      },
      "description": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "id": "SchedulingDuration",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "Policy"
    },
    "DiskDataSourceProperties": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the disk."
        },
        "sizeGb": {
          "format": "int64",
          "description": "The size of the disk in GB.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the disk backed up by the datasource."
        },
        "description": {
          "description": "The description of the disk.",
          "type": "string"
        }
      },
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. .",
      "type": "object",
      "id": "DiskDataSourceProperties"
    },
    "ComputeInstanceTargetEnvironment": {
      "id": "ComputeInstanceTargetEnvironment",
      "properties": {
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the Compute Engine instance restore.",
          "type": "boolean"
        },
        "zone": {
[...]
