{
  "batchPath": "batch",
  "title": "Backup and DR Service API",
  "servicePath": "",
  "id": "backupdr:v1",
  "version_module": true,
  "baseUrl": "https://backupdr.googleapis.com/",
  "name": "backupdr",
  "version": "v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-backupdr": {
          "description": "See, edit, configure, and delete your Google Cloud Backup and DR data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://backupdr.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://backupdr.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://backupdr.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://backupdr.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://backupdr.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://backupdr.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://backupdr.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://backupdr.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://backupdr.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://backupdr.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://backupdr.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://backupdr.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://backupdr.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://backupdr.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://backupdr.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://backupdr.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://backupdr.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://backupdr.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://backupdr.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://backupdr.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://backupdr.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://backupdr.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://backupdr.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://backupdr.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://backupdr.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://backupdr.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://backupdr.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://backupdr.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://backupdr.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://backupdr.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "location": "us",
      "endpointUrl": "https://backupdr.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://backupdr.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "resourceBackupConfigs": {
              "methods": {
                "fetch": {
                  "path": "v1/{+parent}/resourceBackupConfigs:fetch",
                  "id": "backupdr.organizations.locations.resourceBackupConfigs.fetch",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project, folder or organization and location for which to retrieve resource backup configs. Format: 'projects/{project_id}/locations/{location}', 'folders/{folder_id}/locations/{location}', or 'organizations/{organization_id}/locations/{location}'.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will use 100 as default. Maximum value is 500 and values above 500 will be coerced to 500.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetches ResourceBackupConfigs.",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/resourceBackupConfigs:fetch",
                  "response": {
                    "$ref": "FetchResourceBackupConfigsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "backupVaults": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "backupdr.projects.locations.backupVaults.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "description": "Required. Name of the backupvault store resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{resource_name}'",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "view": {
                      "location": "query",
                      "enumDescriptions": [
                        "If the value is not set, the default 'FULL' view is used.",
                        "Includes basic data about the Backup Vault, but not the full contents.",
                        "Includes all data about the Backup Vault. This is the default value (for both ListBackupVaults and GetBackupVault)."
                      ],
                      "enum": [
                        "BACKUP_VAULT_VIEW_UNSPECIFIED",
                        "BACKUP_VAULT_VIEW_BASIC",
                        "BACKUP_VAULT_VIEW_FULL"
                      ],
                      "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup Vault",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a BackupVault.",
                  "response": {
                    "$ref": "BackupVault"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}"
                },
                "fetchUsable": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults:fetchUsable",
                  "description": "FetchUsableBackupVaults lists usable BackupVaults in a given project and location. Usable BackupVault are the ones that user has backupdr.backupVaults.get permission.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FetchUsableBackupVaultsResponse"
                  },
                  "path": "v1/{+parent}/backupVaults:fetchUsable",
                  "httpMethod": "GET",
                  "id": "backupdr.projects.locations.backupVaults.fetchUsable",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location for which to retrieve backupvault stores information, in the format 'projects/{project_id}/locations/{location}'. In Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backupvault stores for all locations, use \"-\" for the '{location}' value.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "backupdr.projects.locations.backupVaults.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns the caller's permissions on a BackupVault resource. A caller is not required to have Google IAM permission to make this request.",
                  "path": "v1/{+resource}:testIamPermissions"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the settings of a BackupVault.",
                  "parameters": {
                    "forceUpdateAccessRestriction": {
                      "description": "Optional. If set to true, we will force update access restriction even if some non compliant data sources are present. The default is 'false'.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupVault resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, will not check plan duration against backup vault enforcement duration."
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "id": "backupdr.projects.locations.backupVaults.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "BackupVault"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "description": "Deletes a BackupVault.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "backupdr.projects.locations.backupVaults.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If true and the BackupVault is not found, the request will succeed but no action will be taken."
                    },
                    "etag": {
                      "description": "The current etag of the backup vault. If an etag is provided and does not match the current etag of the connection, deletion will be blocked.",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. If set to true, any data source from this backup vault will also be deleted.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "ignoreBackupPlanReferences": {
                      "location": "query",
                      "description": "Optional. If set to true, backupvault deletion will proceed even if there are backup plans referencing the backupvault. The default is 'false'.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'.",
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "backupdr.projects.locations.backupVaults.create",
                  "path": "v1/{+parent}/backupVaults",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new BackupVault in a given project and location.",
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Only validate the request, but do not perform mutations. The default is 'false'.",
                      "type": "boolean"
                    },
                    "backupVaultId": {
                      "location": "query",
                      "description": "Required. ID of the requesting object If auto-generating ID server-side, remove this field and backup_vault_id from the method_signature of Create RPC",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBackupVaultsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location for which to retrieve backupvault stores information, in the format 'projects/{project_id}/locations/{location}'. In Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backupvault stores for all locations, use \"-\" for the '{location}' value.",
                      "required": true
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup Vault.",
                      "enum": [
                        "BACKUP_VAULT_VIEW_UNSPECIFIED",
                        "BACKUP_VAULT_VIEW_BASIC",
                        "BACKUP_VAULT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "If the value is not set, the default 'FULL' view is used.",
                        "Includes basic data about the Backup Vault, but not the full contents.",
                        "Includes all data about the Backup Vault. This is the default value (for both ListBackupVaults and GetBackupVault)."
                      ]
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "id": "backupdr.projects.locations.backupVaults.list",
                  "description": "Lists BackupVaults in a given project and location.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/backupVaults"
                }
              },
              "resources": {
                "dataSources": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "DataSource"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the data source resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{resource_name}/dataSource/{resource_name}'",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.get",
                      "description": "Gets details of a DataSource."
                    },
                    "remove": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}:remove",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "RemoveDataSourceRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:remove",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.remove",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        }
                      },
                      "description": "Deletes a DataSource. This is a custom method instead of a standard delete method because external clients will not delete DataSources except for BackupDR backup appliances."
                    },
                    "initiateBackup": {
                      "httpMethod": "POST",
                      "path": "v1/{+dataSource}:initiateBackup",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "backupdr.projects.locations.backupVaults.dataSources.initiateBackup",
                      "parameters": {
                        "dataSource": {
                          "location": "path",
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "InitiateBackupRequest"
                      },
                      "response": {
                        "$ref": "InitiateBackupResponse"
                      },
                      "description": "Internal only. Initiates a backup.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:initiateBackup"
                    },
                    "patch": {
                      "description": "Updates the settings of a DataSource.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the DataSource resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Output only. Identifier. Name of the datasource to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}\"`. `{datasource}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the backup vault.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Enable upsert."
                        }
                      },
                      "request": {
                        "$ref": "DataSource"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "backupdr.projects.locations.backupVaults.dataSources.patch"
                    },
                    "fetchAccessToken": {
                      "httpMethod": "POST",
                      "path": "v1/{+name}:fetchAccessToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.fetchAccessToken",
                      "description": "Internal only. Fetch access token for a given data source.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format 'projects/*/locations/*/backupVaults/*/dataSources'.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:fetchAccessToken"
                    },
                    "finalizeBackup": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:finalizeBackup",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+dataSource}:finalizeBackup",
                      "description": "Internal only. Finalize a backup that was started by a call to InitiateBackup.",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "request": {
                        "$ref": "FinalizeBackupRequest"
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.finalizeBackup",
                      "parameters": {
                        "dataSource": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "location": "path"
                        }
                      }
                    },
                    "abandonBackup": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Internal only. Abandons a backup.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "dataSource": {
                          "required": true,
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:abandonBackup",
                      "id": "backupdr.projects.locations.backupVaults.dataSources.abandonBackup",
                      "parameterOrder": [
                        "dataSource"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+dataSource}:abandonBackup",
                      "request": {
                        "$ref": "AbandonBackupRequest"
                      }
                    },
                    "setInternalStatus": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "backupdr.projects.locations.backupVaults.dataSources.setInternalStatus",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}:setInternalStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetInternalStatusRequest"
                      },
                      "parameters": {
                        "dataSource": {
                          "required": true,
                          "description": "Required. The resource name of the instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/'.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Sets the internal status of a DataSource.",
                      "path": "v1/{+dataSource}:setInternalStatus",
                      "parameterOrder": [
                        "dataSource"
                      ]
                    },
                    "list": {
                      "id": "backupdr.projects.locations.backupVaults.dataSources.list",
                      "response": {
                        "$ref": "ListDataSourcesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The project and location for which to retrieve data sources information, in the format 'projects/{project_id}/locations/{location}'. In Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve data sources for all locations, use \"-\" for the '{location}' value.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-backupdr",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/dataSources",
                      "description": "Lists DataSources in a given project and location."
                    }
                  },
                  "resources": {
                    "backups": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The project and location for which to retrieve backup information, in the format 'projects/{project_id}/locations/{location}'. In Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve data sources for all locations, use \"-\" for the '{location}' value."
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A token identifying a page of results the server should return."
                            },
                            "filter": {
                              "description": "Optional. Filtering results.",
                              "location": "query",
                              "type": "string"
                            },
                            "view": {
                              "type": "string",
                              "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup resource.",
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ],
                              "location": "query",
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ]
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                            }
                          },
                          "response": {
                            "$ref": "ListBackupsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/backups",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists Backups in a given project and location.",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.list"
                        },
                        "restore": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Backup instance, in the format 'projects/*/locations/*/backupVaults/*/dataSources/*/backups/'.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}:restore",
                          "description": "Restore from a Backup",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.restore",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "path": "v1/{+name}:restore",
                          "request": {
                            "$ref": "RestoreBackupRequest"
                          }
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.get",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Backup"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "view": {
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "description": "Optional. Reserved for future use to provide a BASIC & FULL view of Backup resource.",
                              "location": "query",
                              "type": "string",
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ]
                            },
                            "name": {
                              "required": true,
                              "description": "Required. Name of the data source resource name, in the format 'projects/{project_id}/locations/{location}/backupVaults/{backupVault}/dataSources/{datasource}/backups/{backup}'",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "description": "Gets details of a Backup."
                        },
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "parameters": {
                            "requestId": {
                              "location": "query",
                              "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. Name of the resource."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.delete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "description": "Deletes a Backup."
                        },
                        "patch": {
                          "path": "v1/{+name}",
                          "description": "Updates the settings of a Backup.",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail.",
                              "type": "string"
                            },
                            "requestId": {
                              "type": "string",
                              "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "location": "query"
                            },
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+/backups/[^/]+$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups/{backupsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Backup"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "PATCH"
                        },
                        "fetchForResourceType": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/dataSources/{dataSourcesId}/backups:fetchForResourceType",
                          "id": "backupdr.projects.locations.backupVaults.dataSources.backups.fetchForResourceType",
                          "parameters": {
                            "resourceType": {
                              "type": "string",
                              "description": "Required. The type of the Google Cloud resource. Ex: sqladmin.googleapis.com/Instance",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of Backups to return. The service may return fewer than this value. If unspecified, at most 50 Backups will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                              "format": "int32"
                            },
                            "view": {
                              "enumDescriptions": [
                                "If the value is not set, the default 'FULL' view is used.",
                                "Includes basic data about the Backup, but not the full contents.",
                                "Includes all data about the Backup. This is the default value (for both ListBackups and GetBackup)."
                              ],
                              "enum": [
                                "BACKUP_VIEW_UNSPECIFIED",
                                "BACKUP_VIEW_BASIC",
                                "BACKUP_VIEW_FULL"
                              ],
                              "description": "Optional. This parameter is used to specify the view of the backup. If not specified, the default view is BASIC.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous call of `FetchBackupsForResourceType`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchBackupsForResourceType` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * name"
                            },
                            "filter": {
                              "description": "Optional. A filter expression that filters the results fetched in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. Supported fields: * name * state * backup_type * create_time * expire_time * enforced_retention_end_time * gcp_backup_plan_info.backup_plan * cloud_sql_instance_backup_properties.instance_tier * cloud_sql_instance_backup_properties.database_installed_version",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/dataSources/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Datasources are the parent resource for the backups. Format: projects/{project}/locations/{location}/backupVaults/{backupVaultId}/dataSources/{datasourceId}"
                            }
                          },
                          "response": {
                            "$ref": "FetchBackupsForResourceTypeResponse"
                          },
                          "description": "Fetch Backups for a given resource type.",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-backupdr",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/backups:fetchForResourceType"
                        }
                      }
                    }
                  }
                }
              }
            },
            "dataSourceReferences": {
              "methods": {
                "fetchForResourceType": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetch DataSourceReferences for a given project, location and resource type.",
                  "httpMethod": "GET",
                  "id": "backupdr.projects.locations.dataSourceReferences.fetchForResourceType",
                  "response": {
                    "$ref": "FetchDataSourceReferencesForResourceTypeResponse"
                  },
                  "path": "v1/{+parent}/dataSourceReferences:fetchForResourceType",
                  "parameters": {
                    "resourceType": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The type of the Google Cloud resource. Ex: sql.googleapis.com/Instance"
                    },
                    "orderBy": {
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * name",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call of `FetchDataSourceReferencesForResourceType`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchDataSourceReferencesForResourceType` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of DataSourceReferences to return. The service may return fewer than this value. If unspecified, at most 50 DataSourceReferences will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. A filter expression that filters the results fetched in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. Supported fields: * data_source * data_source_gcp_resource_info.gcp_resourcename * data_source_backup_config_state * data_source_backup_count * data_source_backup_config_info.last_backup_state * data_source_gcp_resource_info.gcp_resourcename * data_source_gcp_resource_info.type * data_source_gcp_resource_info.location * data_source_gcp_resource_info.cloud_sql_instance_properties.instance_create_time",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. Format: projects/{project}/locations/{location}"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSourceReferences:fetchForResourceType"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSourceReferences",
                  "response": {
                    "$ref": "ListDataSourceReferencesResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * data_source * data_source_gcp_resource_info.gcp_resourcename"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDataSourceReferences` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataSourceReferences` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter expression that filters the results listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The following field and operator combinations are supported: * data_source_gcp_resource_info.gcp_resourcename with `=`, `!=` * data_source_gcp_resource_info.type with `=`, `!=`",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of DataSourceReferences to return. The service may return fewer than this value. If unspecified, at most 50 DataSourceReferences will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    }
                  },
                  "description": "Lists DataSourceReferences for a given project and location.",
                  "id": "backupdr.projects.locations.dataSourceReferences.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dataSourceReferences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the DataSourceReference to retrieve. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSourceReferences/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "backupdr.projects.locations.dataSourceReferences.get",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single DataSourceReference.",
                  "response": {
                    "$ref": "DataSourceReference"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSourceReferences/{dataSourceReferencesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "backupPlanAssociations": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a BackupPlanAssociation",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The backup plan association project and location in the format `projects/{project_id}/locations/{location}`. In Backup and DR locations map to Google Cloud regions, for example **us-central1**.",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "backupPlanAssociationId": {
                      "description": "Required. The name of the backup plan association to create. The name must be unique for the specified project and location.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BackupPlanAssociation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "backupdr.projects.locations.backupPlanAssociations.create",
                  "path": "v1/{+parent}/backupPlanAssociations"
                },
                "fetchForResourceType": {
                  "description": "List BackupPlanAssociations for a given resource type.",
                  "httpMethod": "GET",
                  "id": "backupdr.projects.locations.backupPlanAssociations.fetchForResourceType",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/backupPlanAssociations:fetchForResourceType",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations:fetchForResourceType",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter expression that filters the results fetched in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. Supported fields: * resource * backup_plan * state * data_source * cloud_sql_instance_backup_plan_association_properties.instance_create_time",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * name",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "resourceType": {
                      "type": "string",
                      "description": "Required. The type of the Google Cloud resource. Ex: sql.googleapis.com/Instance",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call of `FetchBackupPlanAssociationsForResourceType`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchBackupPlanAssociationsForResourceType` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of BackupPlanAssociations to return. The service may return fewer than this value. If unspecified, at most 50 BackupPlanAssociations will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FetchBackupPlanAssociationsForResourceTypeResponse"
                  }
                },
                "list": {
                  "id": "backupdr.projects.locations.backupPlanAssociations.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location for which to retrieve backup Plan Associations information, in the format `projects/{project_id}/locations/{location}`. In Backup and DR, locations map to Google Cloud regions, for example **us-central1**. To retrieve backup plan associations for all locations, use \"-\" for the `{location}` value.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/backupPlanAssociations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists BackupPlanAssociations in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBackupPlanAssociationsResponse"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations/{backupPlanAssociationsId}",
                  "request": {
                    "$ref": "BackupPlanAssociation"
                  },
                  "httpMethod": "PATCH",
                  "id": "backupdr.projects.locations.backupPlanAssociations.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlanAssociations/[^/]+$",
                      "description": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update. Field mask is used to specify the fields to be overwritten in the BackupPlanAssociation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the request will fail. Currently backup_plan_association.backup_plan is the only supported field.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Update a BackupPlanAssociation.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "backupdr.projects.locations.backupPlanAssociations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations/{backupPlanAssociationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlanAssociations/[^/]+$",
                      "description": "Required. Name of the backup plan association resource, in the format `projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single BackupPlanAssociation.",
                  "response": {
                    "$ref": "BackupPlanAssociation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "triggerBackup": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the backup plan association resource, in the format `projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlanAssociations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:triggerBackup",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations/{backupPlanAssociationsId}:triggerBackup",
                  "httpMethod": "POST",
                  "description": "Triggers a new Backup.",
                  "request": {
                    "$ref": "TriggerBackupRequest"
                  },
                  "id": "backupdr.projects.locations.backupPlanAssociations.triggerBackup"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the backup plan association resource, in the format `projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPlanAssociations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPlanAssociations/{backupPlanAssociationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "backupdr.projects.locations.backupPlanAssociations.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a single BackupPlanAssociation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            },
            "resourceBackupConfigs": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will use 100 as default. Maximum value is 500 and values above 500 will be coerced to 500.",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve resource backup configs. Format: 'projects/{project_id}/locations/{location}'. In Google Cloud Backup and DR, locations map to Google Cloud regions, for example **us-central1**.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    }
                  },
                  "response": {
                    "$ref": "ListResourceBackupConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resourceBackupConfigs",
                  "path": "v1/{+parent}/resourceBackupConfigs",
                  "httpMethod": "GET",
                  "description": "Lists ResourceBackupConfigs.",
                  "id": "backupdr.projects.locations.resourceBackupConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "fetch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resourceBackupConfigs:fetch",
                  "path": "v1/{+parent}/resourceBackupConfigs:fetch",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchResourceBackupConfigsResponse"
                  },
                  "id": "backupdr.projects.locations.resourceBackupConfigs.fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetches ResourceBackupConfigs.",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will use 100 as default. Maximum value is 500 and values above 500 will be coerced to 500."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The project, folder or organization and location for which to retrieve resource backup configs. Format: 'projects/{project_id}/locations/{location}', 'folders/{folder_id}/locations/{location}', or 'organizations/{organization_id}/locations/{location}'.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                }
              }
            },
            "managementServers": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-backupdr",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/managementServers",
                  "request": {
                    "$ref": "ManagementServer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The management server project and location in the format 'projects/{project_id}/locations/{location}'. In Cloud Backup and DR locations map to Google Cloud regions, for example **us-central1**."
                    },
                    "managementServerId": {
                      "location": "query",
                      "description": "Required. The name of the management server to create. The name must be unique for the specified project and location.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/managementServers",
                  "id": "backupdr.projects.locations.managementServers.create",
[...]
