{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Backupdr",
  "schemas": {
    "Policy": {
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "AccessConfig": {
      "properties": {
        "publicPtrDomainName": {
          "type": "string",
          "description": "Optional. The DNS domain name for the public PTR record."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this access configuration."
        },
        "externalIpv6": {
          "description": "Optional. The external IPv6 address of this access configuration.",
          "type": "string"
        },
        "type": {
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ]
        },
        "setPublicPtr": {
          "type": "boolean",
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name."
        },
        "externalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the external IPv6 range.",
          "type": "integer",
          "format": "int32"
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        },
        "networkTier": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "type": "string",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ]
        }
      },
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig",
      "type": "object"
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected."
        },
        "peeringMode": {
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ],
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported.",
          "type": "string",
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ]
        }
      },
      "id": "NetworkConfig",
      "description": "Network configuration for ManagementServer instance."
    },
    "FilestoreInstanceDataSourceReferenceProperties": {
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
        }
      },
      "id": "FilestoreInstanceDataSourceReferenceProperties",
      "description": "FilestoreInstanceDataSourceReferenceProperties represents the properties of a Filestore resource that are stored in the DataSourceReference. ."
    },
    "ServiceAccount": {
      "description": "A service account.",
      "id": "ServiceAccount",
      "properties": {
        "scopes": {
          "description": "Optional. The list of scopes to be made available for this service account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "type": "string",
          "description": "Optional. Email address of the service account."
        }
      },
      "type": "object"
    },
    "Metadata": {
      "description": "A metadata key/value entry.",
      "id": "Metadata",
      "properties": {
        "items": {
          "type": "array",
          "description": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB.",
          "items": {
            "$ref": "Entry"
          }
        }
      },
      "type": "object"
    },
    "MatchingCondition": {
      "id": "MatchingCondition",
      "properties": {
        "labelCondition": {
          "$ref": "KeyValuePair",
          "description": "Optional. A condition that matches resources based on their labels. For MVP, this is limited to a single label match."
        }
      },
      "description": "MatchingCondition specifies a set of conditions for matching resources.",
      "type": "object"
    },
    "ManagementURI": {
      "type": "object",
      "description": "ManagementURI for the Management Server resource.",
      "id": "ManagementURI",
      "properties": {
        "webUi": {
          "description": "Output only. The ManagementServer AGM/RD WebUI URL.",
          "readOnly": true,
          "type": "string"
        },
        "api": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD API URL."
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "An instance-attached disk resource.",
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Optional. Output only. The URI of the disk type resource. For example: projects/project/zones/zone/diskTypes/pd-standard or pd-ssd",
          "type": "string",
          "readOnly": true
        },
        "diskInterface": {
          "type": "string",
          "enum": [
            "DISK_INTERFACE_UNSPECIFIED",
            "SCSI",
            "NVME",
            "NVDIMM",
            "ISCSI"
          ],
          "description": "Optional. Specifies the disk interface to use for attaching this disk.",
          "enumDescriptions": [
            "Default value, which is unused.",
            "SCSI Disk Interface.",
            "NVME Disk Interface.",
            "NVDIMM Disk Interface.",
            "ISCSI Disk Interface."
          ]
        },
        "license": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Any valid publicly visible licenses.",
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "description": "Optional. Specifies the type of the disk."
        },
        "boot": {
          "type": "boolean",
          "description": "Optional. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
        },
        "source": {
          "type": "string",
          "description": "Optional. Specifies a valid partial or full URL to an existing Persistent Disk resource."
        },
        "mode": {
          "type": "string",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "LOCKED"
          ],
          "description": "Optional. The mode in which to attach this disk.",
          "enumDescriptions": [
            "Default value, which is unused.",
            "Attaches this disk in read-write mode. Only one virtual machine at a time can be attached to a disk in read-write mode.",
            "Attaches this disk in read-only mode. Multiple virtual machines can use a disk in read-only mode at a time.",
            "The disk is locked for administrative reasons. Nobody else can use the disk. This mode is used (for example) when taking a snapshot of a disk to prevent mounting the disk while it is being snapshotted."
          ]
        },
        "kind": {
          "description": "Optional. Type of the resource.",
          "type": "string"
        },
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the disk in GB."
        },
        "diskTypeDeprecated": {
          "type": "string",
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "description": "Specifies the type of the disk.",
          "deprecated": true
        },
        "index": {
          "description": "Optional. A zero-based index to this disk, where 0 is reserved for the boot disk.",
          "type": "string",
          "format": "int64"
        },
        "deviceName": {
          "description": "Optional. This is used as an identifier for the disks. This is the unique name has to provided to modify disk parameters like disk_name and replica_zones (in case of RePDs)",
          "type": "string"
        },
        "initializeParams": {
          "$ref": "InitializeParams",
          "description": "Optional. Specifies the parameters to initialize this disk."
        },
        "savedState": {
          "enum": [
            "DISK_SAVED_STATE_UNSPECIFIED",
            "PRESERVED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default Disk state has not been preserved.",
            "Disk state has been preserved."
          ],
          "description": "Optional. Output only. The state of the disk."
        },
        "diskEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Encrypts or decrypts a disk using a customer-supplied encryption key."
        },
        "guestOsFeature": {
          "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images.",
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "autoDelete": {
          "description": "Optional. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        }
      }
    },
    "InitializeParams": {
      "type": "object",
      "properties": {
        "diskName": {
          "type": "string",
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance."
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance."
        }
      },
      "id": "InitializeParams",
      "description": "Specifies the parameters to initialize this disk."
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "FilestoreInstanceDataSourceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the Filestore instance backed up by the datasource.",
          "type": "string",
          "readOnly": true
        },
        "instanceCreateTime": {
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "FilestoreInstanceDataSourceProperties",
      "description": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. ."
    },
    "EndTrialRequest": {
      "id": "EndTrialRequest",
      "properties": {
        "endReason": {
          "description": "Required. The reason for ending the trial.",
          "type": "string",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ]
        }
      },
      "type": "object",
      "description": "Request message for ending a trial."
    },
    "FetchBackupPlanAssociationsForResourceTypeResponse": {
      "description": "Response for the FetchBackupPlanAssociationsForResourceType method.",
      "properties": {
        "backupPlanAssociations": {
          "items": {
            "$ref": "BackupPlanAssociation"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The BackupPlanAssociations from the specified parent."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "FetchBackupPlanAssociationsForResourceTypeResponse",
      "type": "object"
    },
    "Trial": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the trial.",
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ]
        },
        "endReason": {
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "description": "Output only. The reason for ending the trial.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time when the trial will expire.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The time when the trial was subscribed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial"
        }
      },
      "description": "Represents a Trial for a project.",
      "id": "Trial"
    },
    "NetworkPerformanceConfig": {
      "type": "object",
      "description": "Network performance configuration.",
      "id": "NetworkPerformanceConfig",
      "properties": {
        "totalEgressBandwidthTier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEFAULT",
            "TIER_1"
          ],
          "enumDescriptions": [
            "This value is unused.",
            "Default network performance config.",
            "Tier 1 network performance config."
          ],
          "description": "Optional. The tier of the total egress bandwidth."
        }
      }
    },
    "Entry": {
      "id": "Entry",
      "type": "object",
      "description": "A key/value pair to be used for storing metadata.",
      "properties": {
        "value": {
          "description": "Optional. Value for the metadata entry. These are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on values is that their size must be less than or equal to 262144 bytes (256 KiB).",
          "type": "string"
        },
        "key": {
          "description": "Optional. Key for the metadata entry.",
          "type": "string"
        }
      }
    },
    "BackupDrTemplateConfig": {
      "properties": {
        "thirdPartyManagementUri": {
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users.",
          "readOnly": true
        },
        "firstPartyManagementUri": {
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "id": "BackupDrTemplateConfig",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "TriggerBackupRequest": {
      "description": "Request message for triggering a backup.",
      "id": "TriggerBackupRequest",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels to be applied on the backup.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ruleId": {
          "type": "string",
          "description": "Optional. backup rule_id for which a backup needs to be triggered. If not specified, on-demand backup with custom retention will be triggered."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "customRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The duration for which backup data will be kept, while taking an on-demand backup with custom retention. It is defined in \"days\". It is mutually exclusive with rule_id. This field is required if rule_id is not provided."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListAutoProtectionPolicyBindingsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "autoProtectionPolicyBindings": {
          "description": "A list of the AutoProtectionPolicyBindings resources found.",
          "items": {
            "$ref": "AutoProtectionPolicyBinding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAutoProtectionPolicyBindingsResponse",
      "description": "Response message for ListAutoProtectionPolicyBindings."
    },
    "AppliedAutoProtectionPolicy": {
      "description": "AppliedAutoProtectionPolicy is a read-only view of AutoProtectionPolicy and AutoProtectionPolicyBinding resources that apply to a given workload project.",
      "id": "AppliedAutoProtectionPolicy",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp indicating when the binding was last created."
        },
        "backupPlanDetails": {
          "type": "array",
          "items": {
            "$ref": "BackupPlanDetail"
          },
          "readOnly": true,
          "description": "Output only. The set of backup plan configurations, mirroring the backup_plan_details from the source AutoProtectionPolicy. Each element specifies a backup plan for a given resource type."
        },
        "criteria": {
          "$ref": "Criteria",
          "readOnly": true,
          "description": "Output only. The criteria resources must meet for this rule to apply. From AutoProtectionPolicy.criteria."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the applied auto protection policy.",
          "enumDescriptions": [
            "State is not specified.",
            "The policy is in the process of being applied.",
            "The policy has been applied and is active.",
            "The policy is in the process of being removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETION_INITIATED"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp indicating when the binding was last modified.",
          "format": "google-datetime"
        },
        "sourceBinding": {
          "description": "Output only. The full resource name of the AutoProtectionPolicyBinding that applies the source policy to a scope including this workload project. e.g., projects/{admin-project}/locations/{location}/autoProtectionPolicies/{policy_id}/autoProtectionPolicyBindings/{binding_id}.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Canonical resource name. Format: projects/{workload-project-number}/locations/{location}/appliedAutoProtectionPolicies/{id}."
        },
        "bindingEvaluationSummary": {
          "readOnly": true,
          "description": "Output only. The summary of the last policy application when the job has run.",
          "$ref": "BindingEvaluationSummary"
        }
      },
      "type": "object"
    },
    "SchedulingDuration": {
      "properties": {
        "seconds": {
          "description": "Optional. Span of time at a resolution of a second.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Span of time that's a fraction of a second at nanosecond resolution."
        }
      },
      "description": "A SchedulingDuration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "id": "SchedulingDuration",
      "type": "object"
    },
    "ComputeInstanceTargetEnvironment": {
      "description": "ComputeInstanceTargetEnvironment represents Compute Engine target environment to be used during restore.",
      "type": "object",
      "id": "ComputeInstanceTargetEnvironment",
      "properties": {
        "project": {
          "type": "string",
          "description": "Required. Target project for the Compute Engine instance."
        },
        "zone": {
          "description": "Required. The zone of the Compute Engine instance.",
          "type": "string"
        },
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the Compute Engine instance restore.",
          "type": "boolean"
        }
      }
    },
    "BackupDrPlanRule": {
      "properties": {
        "ruleId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique Id of the backup rule."
        },
        "lastSuccessfulBackupTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest successful backup created via this backup rule.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupDrPlanRule",
      "description": "BackupDrPlanRule has rule specific information of the backup plan resource."
    },
    "DataSourceBackupApplianceApplication": {
      "type": "object",
      "description": "BackupApplianceApplication describes a Source Resource when it is an application backed up by a BackupAppliance.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Hostname of the host where the application is running."
        },
        "type": {
          "type": "string",
          "description": "The type of the application. e.g. VMBackup"
        },
        "backupAppliance": {
          "description": "Appliance name.",
          "type": "string"
        },
        "hostId": {
          "format": "int64",
          "description": "Hostid of the application host.",
          "type": "string"
        },
        "applicationName": {
          "description": "The name of the Application as known to the Backup Appliance.",
          "type": "string"
        },
        "applianceId": {
          "type": "string",
          "format": "int64",
          "description": "Appliance Id of the Backup Appliance."
        },
        "applicationId": {
          "type": "string",
          "description": "The appid field of the application within the Backup Appliance.",
          "format": "int64"
        }
      },
      "id": "DataSourceBackupApplianceApplication"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "NodeAffinity": {
      "id": "NodeAffinity",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of Node resource."
        },
        "operator": {
          "description": "Optional. Defines the operation of node selection.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ]
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of Node resource."
        }
      },
      "type": "object",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled."
    },
    "WorkforceIdentityBasedManagementURI": {
      "description": "ManagementURI depending on the Workforce Identity i.e. either 1p or 3p.",
      "id": "WorkforceIdentityBasedManagementURI",
      "type": "object",
      "properties": {
        "thirdPartyManagementUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Third party Management URI for External Identity Providers."
        },
        "firstPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. First party Management URI for Google Identities."
        }
      }
    },
    "InitiateBackupResponse": {
      "type": "object",
      "description": "Response message for InitiateBackup.",
      "properties": {
        "newBackupGenerationId": {
          "description": "The generation id of the new backup.",
          "format": "int32",
          "type": "integer"
        },
        "backup": {
          "type": "string",
          "description": "The name of the backup that was created."
        },
        "baseBackupGenerationId": {
          "description": "The generation id of the base backup. It is needed for the incremental backups.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "InitiateBackupResponse"
    },
    "ResourceBackupConfig": {
      "type": "object",
      "id": "ResourceBackupConfig",
      "description": "ResourceBackupConfig represents a resource along with its backup configurations.",
      "properties": {
        "targetResourceDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human friendly name of the target resource."
        },
        "backupConfigsDetails": {
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated.",
          "type": "array",
          "items": {
            "$ref": "BackupConfigDetails"
          }
        },
        "targetResourceLabels": {
          "type": "object",
          "description": "Labels associated with the target resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource backup config."
        },
        "targetResourceType": {
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ],
          "readOnly": true,
          "description": "Output only. The type of the target resource.",
          "type": "string"
        },
        "targetResource": {
          "readOnly": true,
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType.",
          "type": "string"
        },
        "backupConfigured": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty."
        },
        "vaulted": {
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}"
        }
      }
    },
    "GoogleCloudBackupdrV1betaOperationMetadata": {
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "additionalInfo": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBackupdrV1betaOperationMetadata"
    },
    "InstanceParams": {
      "description": "Additional instance params.",
      "id": "InstanceParams",
      "properties": {
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags to be bound to the instance.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "Tags": {
      "type": "object",
      "properties": {
        "items": {
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of instance tags.",
      "id": "Tags"
    },
    "WeekDayOfMonth": {
      "type": "object",
      "properties": {
        "weekOfMonth": {
          "enumDescriptions": [
            "The zero value. Do not use.",
            "The first week of the month.",
            "The second week of the month.",
            "The third week of the month.",
            "The fourth week of the month.",
            "The last week of the month."
          ],
          "description": "Required. Specifies the week of the month.",
          "type": "string",
          "enum": [
            "WEEK_OF_MONTH_UNSPECIFIED",
            "FIRST",
            "SECOND",
            "THIRD",
            "FOURTH",
            "LAST"
          ]
        },
        "dayOfWeek": {
          "description": "Required. Specifies the day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "id": "WeekDayOfMonth",
      "description": "`WeekDayOfMonth` defines the week day of the month on which the backups will run. The message combines a `WeekOfMonth` and `DayOfWeek` to produce values like `FIRST`/`MONDAY` or `LAST`/`FRIDAY`."
    },
    "ServiceLockInfo": {
      "type": "object",
      "properties": {
        "operation": {
          "description": "Output only. The name of the operation that created this lock. The lock will automatically be released when the operation completes.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "ServiceLockInfo represents the details of a lock taken by the service on a Backup resource.",
      "id": "ServiceLockInfo"
    },
    "BackupLock": {
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted.",
      "type": "object",
      "properties": {
        "lockUntilTime": {
          "type": "string",
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "format": "google-datetime"
        },
        "serviceLockInfo": {
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups.",
          "$ref": "ServiceLockInfo",
          "readOnly": true
        },
        "backupApplianceLockInfo": {
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists.",
          "$ref": "BackupApplianceLockInfo"
        }
      },
      "id": "BackupLock"
    },
    "ComputeInstanceBackupPlanProperties": {
      "properties": {
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
        }
      },
      "id": "ComputeInstanceBackupPlanProperties",
      "description": "Properties for a compute instance backup plan.",
      "type": "object"
    },
    "ListBackupPlanRevisionsResponse": {
      "properties": {
        "backupPlanRevisions": {
          "items": {
            "$ref": "BackupPlanRevision"
          },
          "description": "The list of `BackupPlanRevisions` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanRevisions` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for getting a list of `BackupPlanRevision`.",
      "id": "ListBackupPlanRevisionsResponse",
      "type": "object"
    },
    "BackupVault": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
        },
        "backupRetentionInheritance": {
          "description": "Optional. Setting for how a backup's enforced retention end time is inherited.",
          "type": "string",
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ]
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there.",
          "type": "string"
        },
        "backupMinimumEnforcedRetentionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
        },
        "updateTime": {
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "deletable": {
          "description": "Output only. Set to true when there are no backups nested under this resource.",
          "readOnly": true,
          "type": "boolean"
        },
        "effectiveTime": {
          "type": "string",
          "description": "Optional. Time after which the BackupVault resource is locked.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. The description of the BackupVault instance (2048 characters or less).",
          "type": "string"
        },
        "totalStoredBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total size of the storage used by all backup resources.",
          "format": "int64"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The BackupVault resource instance state.",
          "enumDescriptions": [
            "State not set.",
            "The backup vault is being created.",
            "The backup vault has been created and is fully usable.",
            "The backup vault is being deleted.",
            "The backup vault is experiencing an issue and might be unusable.",
            "The backup vault is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "uid": {
          "type": "string",
          "description": "Output only. Immutable after resource creation until resource deletion.",
          "readOnly": true
        },
        "backupCount": {
          "readOnly": true,
          "description": "Output only. The number of backups in this backup vault.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config of the backup vault."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data."
        },
        "accessRestriction": {
          "description": "Optional. Restricts access to certain sources and destinations for data being sent into, or restored from, the backup vault. Defaults to WITHIN_ORGANIZATION if not provided during creation.",
          "enumDescriptions": [
            "Access restriction not set. If user does not provide any value or pass this value, it will be changed to WITHIN_ORGANIZATION.",
            "Access to or from resources outside your current project will be denied.",
            "Access to or from resources outside your current organization will be denied.",
            "No access restriction.",
            "Access to or from resources outside your current organization will be denied except for backup appliance."
          ],
          "type": "string",
          "enum": [
            "ACCESS_RESTRICTION_UNSPECIFIED",
            "WITHIN_PROJECT",
            "WITHIN_ORGANIZATION",
            "UNRESTRICTED",
            "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          ]
        }
      },
      "id": "BackupVault",
      "description": "Message describing a BackupVault object.",
      "type": "object"
    },
    "FetchUsableBackupVaultsResponse": {
      "id": "FetchUsableBackupVaultsResponse",
      "properties": {
        "backupVaults": {
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          },
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "Response message for fetching usable BackupVaults."
    },
    "PolicyEvaluationSummary": {
      "type": "object",
      "properties": {
        "protectedResourceCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of matching resources that are successfully protected."
        },
        "failedResourceCount": {
          "description": "Output only. The number of matching resources whose protection failed during job run.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "matchingResourceCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of resources that currently match the policy's criteria."
        }
      },
      "description": "PolicyEvaluationSummary contains the summary of the last run of job that applies policy to matching resources.",
      "id": "PolicyEvaluationSummary"
    },
    "ReconciliationOperationMetadata": {
      "id": "ReconciliationOperationMetadata",
      "type": "object",
      "properties": {
        "deleteResource": {
          "description": "DEPRECATED. Use exclusive_action instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "exclusiveAction": {
          "type": "string",
          "description": "Excluisive action returned by the CLH.",
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ]
        }
      },
      "description": "Operation metadata returned by the CLH during resource state reconciliation."
    },
    "CloudSqlInstanceDataSourceReferenceProperties": {
      "type": "object",
      "description": "CloudSqlInstanceDataSourceReferenceProperties represents the properties of a Cloud SQL resource that are stored in the DataSourceReference.",
      "id": "CloudSqlInstanceDataSourceReferenceProperties",
      "properties": {
        "instanceCreateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp."
        },
        "databaseInstalledVersion": {
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "readOnly": true
        },
        "instanceTier": {
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AbandonBackupRequest": {
      "id": "AbandonBackupRequest",
      "description": "request message for AbandonBackup.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComputeInstanceRestoreProperties": {
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          },
          "description": "Optional. A list of service accounts, with their specified scopes, authorized for this instance. Only one service account per VM instance is supported."
        },
        "displayDevice": {
          "description": "Optional. Enables display device for the instance.",
          "$ref": "DisplayDevice"
        },
        "resourcePolicies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Resource policies applied to this instance. By default, no resource policies will be applied.",
          "type": "array"
        },
        "deletionProtection": {
          "description": "Optional. Whether the resource should be protected against deletion.",
          "type": "boolean"
        },
        "tags": {
          "description": "Optional. Tags to apply to this instance. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during instance creation.",
          "$ref": "Tags"
        },
        "guestAccelerators": {
          "description": "Optional. A list of the type and count of accelerator cards attached to the instance.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "disks": {
          "type": "array",
          "description": "Optional. Array of disks associated with this instance. Persistent disks must be created before you can assign them. Source regional persistent disks will be restored with default replica zones if not specified.",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "params": {
          "description": "Input only. Additional params passed with the request, but not persisted as part of resource payload.",
          "$ref": "InstanceParams"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Minimum CPU platform to use for this instance."
        },
        "advancedMachineFeatures": {
          "description": "Optional. Controls for advanced machine-related behavior features.",
          "$ref": "AdvancedMachineFeatures"
        },
        "reservationAffinity": {
          "description": "Optional. Specifies the reservations that this instance can consume from.",
          "$ref": "AllocationAffinity"
        },
        "confidentialInstanceConfig": {
          "$ref": "ConfidentialInstanceConfig",
          "description": "Optional. Controls Confidential compute options on the instance"
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "Optional. This includes custom metadata and predefined keys."
        },
        "name": {
          "description": "Required. Name of the compute instance.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource."
        },
        "networkInterfaces": {
          "description": "Optional. An array of network configurations for this instance. These specify how interfaces are configured to interact with other network services, such as connecting to the internet. Multiple interfaces are supported per instance. Required to restore in different project or region.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to apply to this instance.",
          "type": "object"
        },
        "hostname": {
          "description": "Optional. Specifies the hostname of the instance. The specified hostname must be RFC1035 compliant. If hostname is not specified, the default hostname is [INSTANCE_NAME].c.[PROJECT_ID].internal when using the global DNS, and [INSTANCE_NAME].[ZONE].c.[PROJECT_ID].internal when using zonal DNS.",
          "type": "string"
        },
        "keyRevocationActionType": {
          "type": "string",
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "description": "Optional. KeyRevocationActionType of the instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ]
        },
        "scheduling": {
          "$ref": "Scheduling",
          "description": "Optional. Sets the scheduling options for this instance."
        },
        "canIpForward": {
          "type": "boolean",
          "description": "Optional. Allows this instance to send and receive packets with non-matching destination or source IPs."
        },
        "instanceEncryptionKey": {
          "description": "Optional. Encrypts suspended data for an instance with a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Full or partial URL of the machine type resource to use for this instance."
        },
        "privateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Each network interface inherits PrivateIpv6GoogleAccess from its subnetwork.",
            "Outbound private IPv6 access from VMs in this subnet to Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before.",
            "Bidirectional private IPv6 access to/from Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before."
          ],
          "description": "Optional. The private IPv6 google access type for the VM. If not specified, use INHERIT_FROM_SUBNETWORK as default.",
          "type": "string",
          "enum": [
            "INSTANCE_PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "ENABLE_OUTBOUND_VM_ACCESS_TO_GOOGLE",
            "ENABLE_BIDIRECTIONAL_ACCESS_TO_GOOGLE"
          ]
        },
        "networkPerformanceConfig": {
          "description": "Optional. Configure network performance such as egress bandwidth tier.",
          "$ref": "NetworkPerformanceConfig"
        }
      },
      "type": "object",
      "id": "ComputeInstanceRestoreProperties",
      "description": "ComputeInstanceRestoreProperties represents Compute Engine instance properties to be overridden during restore."
    },
    "BackupApplianceBackupConfig": {
      "properties": {
        "backupApplianceName": {
          "type": "string",
          "description": "The name of the backup appliance."
        },
        "slpName": {
          "description": "The name of the SLP associated with the application.",
          "type": "string"
        },
        "hostName": {
          "type": "string",
          "description": "The name of the host where the application is running."
        },
        "sltName": {
          "type": "string",
          "description": "The name of the SLT associated with the application."
        },
        "applicationName": {
          "type": "string",
          "description": "The name of the application."
        },
        "slaId": {
          "format": "int64",
          "description": "The ID of the SLA of this application.",
          "type": "string"
        },
        "backupApplianceId": {
          "type": "string",
          "description": "The ID of the backup appliance.",
          "format": "int64"
        }
      },
      "description": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances.",
      "id": "BackupApplianceBackupConfig",
      "type": "object"
    },
    "PitrSettings": {
      "id": "PitrSettings",
      "description": "Point in time recovery settings of the backup configuration resource.",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of days to retain the backup."
        }
      },
      "type": "object"
    },
    "DataSourceReference": {
      "description": "DataSourceReference is a reference to a DataSource resource.",
      "properties": {
        "dataSourceBackupConfigState": {
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The backup configuration state of the DataSource.",
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ]
        },
        "dataSourceBackupCount": {
          "description": "Output only. Number of backups in the DataSource.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DataSource. Format: projects/{project}/locations/{location}/backupVaults/{backupVault}/dataSources/{dataSource}"
        },
        "totalStoredBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of the storage used by all backup resources for the referenced datasource.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the DataSourceReference was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataSourceGcpResourceInfo": {
          "$ref": "DataSourceGcpResourceInfo",
          "readOnly": true,
          "description": "Output only. The Google Cloud resource that the DataSource is associated with."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the DataSourceReference. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}"
        },
        "dataSourceBackupConfigInfo": {
          "$ref": "DataSourceBackupConfigInfo",
          "description": "Output only. Information of backup configuration on the DataSource.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DataSourceReference"
    },
    "BackupConfigInfo": {
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault.",
      "type": "object",
      "id": "BackupConfigInfo",
      "properties": {
        "backupApplianceBackupConfig": {
          "description": "Configuration for an application backed up by a Backup Appliance.",
          "$ref": "BackupApplianceBackupConfig"
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the last backup were successful, this field has the consistency date.",
          "format": "google-datetime"
        },
        "lastBackupError": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. If the last backup failed, this field has the error message."
        },
        "gcpBackupConfig": {
          "description": "Configuration for a Google Cloud resource.",
          "$ref": "GcpBackupConfig"
        },
        "lastBackupState": {
          "readOnly": true,
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "description": "Output only. The status of the last backup to this BackupVault",
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "type": "string"
        }
      }
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}"
        }
      },
      "id": "AlloyDBClusterDataSourceReferenceProperties",
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference."
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorCount": {
          "type": "integer",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance.",
          "format": "int32"
        },
        "acceleratorType": {
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance.",
          "type": "string"
        }
      },
      "id": "AcceleratorConfig",
      "description": "A specification of the type and number of accelerator cards attached to the instance.",
      "type": "object"
    },
    "BackupApplianceLockInfo": {
      "type": "object",
      "id": "BackupApplianceLockInfo",
      "description": "BackupApplianceLockInfo contains metadata about the backupappliance that created the lock.",
      "properties": {
        "backupApplianceName": {
          "description": "Required. The name of the backup/recovery appliance that created this lock.",
          "type": "string"
        },
        "backupImage": {
          "type": "string",
          "description": "The image name that depends on this Backup."
        },
        "jobName": {
          "type": "string",
          "description": "The job name on the backup/recovery appliance that created this lock."
        },
        "lockReason": {
          "type": "string",
          "description": "Required. The reason for the lock: e.g. MOUNT/RESTORE/BACKUP/etc. The value of this string is only meaningful to the client and it is not interpreted by the BackupVault service."
        },
        "slaId": {
          "format": "int64",
          "type": "string",
          "description": "The SLA on the backup/recovery appliance that owns the lock."
        },
        "backupApplianceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The ID of the backup/recovery appliance that created this lock."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "BindingEvaluationSummary": {
      "type": "object",
      "properties": {
        "failedResourceCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of matching resources whose protection failed during job run."
        },
        "protectedResourceCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The number of matching resources that are successfully protected.",
          "type": "string"
        },
        "matchingResourceCount": {
          "format": "int64",
          "description": "Output only. The number of resources that currently match the policy's criteria.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "BindingEvaluationSummary contains the summary of the last run of job that applies policy to matching resources for a given binding.",
      "id": "BindingEvaluationSummary"
    },
    "FetchResourceBackupConfigsResponse": {
      "id": "FetchResourceBackupConfigsResponse",
      "properties": {
        "resourceBackupConfigs": {
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array",
          "description": "The list of ResourceBackupConfigs for the specified scope."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for FetchResourceBackupConfigs.",
      "type": "object"
    },
    "BackupRule": {
      "properties": {
        "ruleId": {
          "description": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/.",
          "type": "string"
        },
        "standardSchedule": {
          "description": "Optional. Defines a schedule that runs within the confines of a defined window of time.",
          "$ref": "StandardSchedule"
        },
        "backupRetentionDays": {
          "type": "integer",
          "description": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "format": "int32"
        }
      },
      "id": "BackupRule",
      "type": "object",
      "description": "`BackupRule` binds the backup schedule to a retention policy."
    },
    "BackupPlan": {
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads.",
      "type": "object",
      "properties": {
        "backupVault": {
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "description": "Output only. The `State` for the `BackupPlan`."
        },
        "revisionName": {
          "type": "string",
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the `BackupPlan` was created."
        },
        "description": {
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters.",
          "type": "string"
        },
        "logRetentionDays": {
          "format": "int64",
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault.",
          "type": "string"
        },
        "backupRules": {
          "items": {
            "$ref": "BackupRule"
          },
          "type": "array",
          "description": "Optional. The backup rules for this `BackupPlan`."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\"."
        },
        "supportedResourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. All resource types to which backupPlan can be applied."
        },
        "diskBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush.",
          "$ref": "DiskBackupPlanProperties"
        },
        "maxCustomOnDemandRetentionDays": {
          "format": "int32",
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value.",
          "type": "integer"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the `BackupPlan` was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "computeInstanceBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of compute instance based resources, such as Compute Engine Instances. This includes settings like whether to perform a guest flush.",
          "$ref": "ComputeInstanceBackupPlanProperties"
        },
        "backupVaultServiceAccount": {
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BackupPlan"
    },
    "DiskRestoreProperties": {
      "type": "object",
      "id": "DiskRestoreProperties",
      "description": "DiskRestoreProperties represents the properties of a Disk restore.",
      "properties": {
        "diskEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty.",
          "type": "object"
        },
        "provisionedIops": {
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option.",
          "type": "boolean"
        },
        "guestOsFeature": {
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images.",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array"
        },
        "architecture": {
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource."
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the disk."
        },
        "sizeGb": {
          "type": "string",
          "description": "Required. The size of the disk in GB.",
          "format": "int64"
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "format": "int64",
          "type": "string"
        },
        "accessMode": {
          "description": "Optional. The access mode of the disk.",
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ],
          "type": "string",
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ]
        },
        "instanceBackupSource": {
          "$ref": "RestoreDiskFromInstanceOptions",
          "description": "Options for creating a disk from a source Compute Instance backup."
        },
        "type": {
          "type": "string",
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk."
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image"
        },
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource manager tags to be bound to the disk."
        },
        "resourcePolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Resource policies applied to this disk."
        },
        "physicalBlockSizeBytes": {
          "format": "int64",
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096.",
          "type": "string"
        }
      }
    },
    "FetchAccessTokenResponse": {
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "The token is valid until this time.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Input only. The downscoped token that was created."
        },
        "writeLocation": {
          "type": "string",
          "description": "The location in bucket that can be used for writing."
        },
        "readLocation": {
          "type": "string",
          "description": "The location in bucket that can be used for reading."
        }
      },
      "id": "FetchAccessTokenResponse",
      "type": "object",
      "description": "Response message for FetchAccessToken."
    },
    "GCPBackupPlanInfo": {
      "properties": {
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup.",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "description": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}",
          "type": "string"
        },
        "backupPlanRuleId": {
          "type": "string",
          "description": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for"
        },
        "backupPlan": {
          "type": "string",
          "description": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
        }
      },
      "id": "GCPBackupPlanInfo",
      "description": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup.",
      "type": "object"
    },
    "BackupGcpResource": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource: //\"global\"/\"unspecified\"."
        },
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Minimum details to identify a Google Cloud resource for a backup.",
      "id": "BackupGcpResource"
    },
    "StandardSchedule": {
      "id": "StandardSchedule",
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "type": "object",
[...]
