{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://batch.googleapis.com/",
  "ownerName": "Google",
  "version": "v1",
  "servicePath": "",
  "discoveryVersion": "v1",
  "title": "Batch API",
  "mtlsRootUrl": "https://batch.mtls.googleapis.com/",
  "name": "batch",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "batch.projects.locations.list",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "id": "batch.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "state": {
              "methods": {
                "report": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/state:report",
                  "id": "batch.projects.locations.state.report",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/state:report",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ReportAgentStateResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: projects/{project}/locations/{location} {project} should be a project number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Report agent's state, e.g. agent status and tasks information",
                  "request": {
                    "$ref": "ReportAgentStateRequest"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "batch.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "batch.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "batch.projects.locations.operations.cancel"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                }
              }
            },
            "jobs": {
              "resources": {
                "taskGroups": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Task name.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+/tasks/[^/]+$"
                            }
                          },
                          "httpMethod": "GET",
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.get",
                          "response": {
                            "$ref": "Task"
                          },
                          "description": "Return a single Task.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks/{tasksId}",
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "path": "v1/{+parent}/tasks",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List Tasks associated with a job.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks",
                          "response": {
                            "$ref": "ListTasksResponse"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. Name of a TaskGroup from which Tasks are being requested. Pattern: \"projects/{project}/locations/{location}/jobs/{job}/taskGroups/{task_group}\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Page token."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Page size.",
                              "location": "query",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "Task filter, null filter matches all Tasks. Filter string should be of the format State=TaskStatus.State e.g. State=RUNNING",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.list"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Get a Job specified by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Job name.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "id": "batch.projects.locations.jobs.get",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "reason": {
                      "type": "string",
                      "description": "Optional. Reason for this deletion.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "description": "Job name.",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "batch.projects.locations.jobs.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a Job."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Parent path.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Sort results. Supported are \"name\", \"name desc\", \"create_time\", and \"create_time desc\"."
                    },
                    "pageToken": {
                      "description": "Page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Page size.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "batch.projects.locations.jobs.list",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List all Jobs for a project within a region.",
                  "path": "v1/{+parent}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.jobs.create",
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the Job will be created. Pattern: \"projects/{project}/locations/{location}\"",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "ID used to uniquely identify the Job within its parent scope. This field should contain at most 63 characters and must start with lowercase characters. Only lowercase characters, numbers and '-' are accepted. The '-' character cannot be the first or the last one. A system generated ID will be used if the field is not set. The job.name field in the request will be ignored and the created resource name of the Job will be \"{parent}/jobs/{job_id}\".",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "path": "v1/{+parent}/jobs",
                  "description": "Create a Job."
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "description": "Cancel a Job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.jobs.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Job name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "An API to manage the running of Batch resources on Google Cloud Platform.",
  "documentationLink": "https://cloud.google.com/batch/",
  "canonicalName": "Batch",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "batch:v1",
  "protocol": "rest",
  "rootUrl": "https://batch.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "version_module": true,
  "revision": "20260820",
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "Container": {
      "type": "object",
      "id": "Container",
      "description": "Container runnable.",
      "properties": {
        "enableImageStreaming": {
          "type": "boolean",
          "description": "Optional. If set to true, this container runnable uses Image streaming. Use Image streaming to allow the runnable to initialize without waiting for the entire container image to download, which can significantly reduce startup time for large container images. When `enableImageStreaming` is set to true, the container runtime is [containerd](https://containerd.io/) instead of Docker. Additionally, this container runnable only supports the following `container` subfields: `imageUri`, `commands[]`, `entrypoint`, and `volumes[]`; any other `container` subfields are ignored. For more information about the requirements and limitations for using Image streaming with Batch, see the [`image-streaming` sample on GitHub](https://github.com/GoogleCloudPlatform/batch-samples/tree/main/api-samples/image-streaming)."
        },
        "options": {
          "type": "string",
          "description": "Required for some container images. Arbitrary additional options to include in the `docker run` command when running this container—for example, `--network host`. For the `--volume` option, use the `volumes` field for the container."
        },
        "entrypoint": {
          "description": "Required for some container images. Overrides the `ENTRYPOINT` specified in the container.",
          "type": "string"
        },
        "commands": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required for some container images. Overrides the `CMD` specified in the container. If there is an `ENTRYPOINT` (either in the container image or with the `entrypoint` field below) then these commands are appended as arguments to the `ENTRYPOINT`."
        },
        "password": {
          "type": "string",
          "description": "Required if the container image is from a private Docker registry. The password to login to the Docker registry that contains the image. For security, it is strongly recommended to specify an encrypted password by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. Warning: If you specify the password using plain text, you risk the password being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the password instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager)."
        },
        "volumes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match `--volume` option for the `docker run` command—for example, `/foo:/bar` or `/foo:/bar:ro`. If the `TaskSpec.Volumes` field is specified but this field is not, Batch will mount each volume from the host machine to the container with the same mount path by default. In this case, the default mount option for containers will be read-only (`ro`) for existing persistent disks and read-write (`rw`) for other volume types, regardless of the original mount options specified in `TaskSpec.Volumes`. If you need different mount settings, you can explicitly configure them in this field."
        },
        "blockExternalNetwork": {
          "type": "boolean",
          "description": "If set to true, external network access to and from container will be blocked, containers that are with block_external_network as true can still communicate with each other, network cannot be specified in the `container.options` field."
        },
        "imageUri": {
          "description": "Required. The URI to pull the container image from.",
          "type": "string"
        },
        "username": {
          "description": "Required if the container image is from a private Docker registry. The username to login to the Docker registry that contains the image. You can either specify the username directly by using plain text or specify an encrypted username by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. However, using a secret is recommended for enhanced security. Caution: If you specify the username using plain text, you risk the username being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the username instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager).",
          "type": "string"
        }
      }
    },
    "TaskGroup": {
      "id": "TaskGroup",
      "properties": {
        "requireHostsFile": {
          "type": "boolean",
          "description": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false. The host file supports up to 1000 VMs."
        },
        "schedulingPolicy": {
          "enumDescriptions": [
            "Unspecified.",
            "Run Tasks as soon as resources are available. Tasks might be executed in parallel depending on parallelism and task_count values.",
            "Run Tasks sequentially with increased task index."
          ],
          "description": "Scheduling policy for Tasks in the TaskGroup. The default value is AS_SOON_AS_POSSIBLE.",
          "type": "string",
          "enum": [
            "SCHEDULING_POLICY_UNSPECIFIED",
            "AS_SOON_AS_POSSIBLE",
            "IN_ORDER"
          ]
        },
        "parallelism": {
          "type": "string",
          "description": "Max number of tasks that can run in parallel. Default to min(task_count, parallel tasks per job limit). See: [Job Limits](https://cloud.google.com/batch/quotas#job_limits). Field parallelism must be 1 if the scheduling_policy is IN_ORDER.",
          "format": "int64"
        },
        "taskCountPerNode": {
          "format": "int64",
          "type": "string",
          "description": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements."
        },
        "taskSpec": {
          "description": "Required. Tasks in the group share the same task spec.",
          "$ref": "TaskSpec"
        },
        "runAsNonRoot": {
          "description": "Optional. If not set or set to false, Batch uses the root user to execute runnables. If set to true, Batch runs the runnables using a non-root user. Currently, the non-root user Batch used is generated by OS Login. For more information, see [About OS Login](https://cloud.google.com/compute/docs/oslogin).",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01\".",
          "type": "string"
        },
        "permissiveSsh": {
          "description": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup.",
          "type": "boolean"
        },
        "taskEnvironments": {
          "type": "array",
          "description": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1).",
          "items": {
            "$ref": "Environment"
          }
        },
        "taskCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of Tasks in the TaskGroup. Default is 1."
        }
      },
      "description": "A TaskGroup defines one or more Tasks that all share the same TaskSpec.",
      "type": "object"
    },
    "NetworkPolicy": {
      "description": "NetworkPolicy describes VM instance network configurations.",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Network configurations."
        }
      },
      "type": "object",
      "id": "NetworkPolicy"
    },
    "LocationPolicy": {
      "type": "object",
      "properties": {
        "allowedLocations": {
          "description": "A list of location names that are allowed for the job's VMs formatted as URLs. Each location can be a region or a zone, but you can only specify one region or multiple zones in one region per job. For example, `[\"regions/us-central1\"]` allow VMs in any zones in region `us-central1`, and `[\"zones/us-central1-a\", \"zones/us-central1-c\"]` only allow VMs in zones `us-central1-a` and `us-central1-c`. However, `[\"regions/us-central1\", \"zones/us-central1-a\", \"zones/us-central1-b\", \"zones/us-west1-a\"]` causes an error because it contains multiple regions (`us-central1` and `us-west1`). The specified region or zones must be in the same region in which the job is created starting on the following dates: + For projects that have successfully submitted before July 31, 2026 at least one job that uses the `allowedLocations[]` field with any region or zones outside of the job's location, the changes are starting on _June 30, 2027_. + For all other projects, the changes are starting on _July 31, 2026_. For example, for job `projects/123/locations/us-central1/jobs/jobid`, the specified region or zones must be in `us-central1`. Using a different region (e.g. `regions/us-west1`) or a zone not in `us-central1` (e.g. `zones/us-west1-a`) causes an error.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LocationPolicy"
    },
    "CancelJobRequest": {
      "type": "object",
      "description": "CancelJob Request.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "CancelJobRequest"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      }
    },
    "AgentTaskSpec": {
      "id": "AgentTaskSpec",
      "type": "object",
      "properties": {
        "runnables": {
          "items": {
            "$ref": "AgentTaskRunnable"
          },
          "type": "array",
          "description": "AgentTaskRunnable is runanbles that will be executed on the agent."
        },
        "maxRunDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration."
        },
        "loggingOption": {
          "$ref": "AgentTaskLoggingOption",
          "description": "Logging option for the task."
        },
        "environment": {
          "$ref": "AgentEnvironment",
          "description": "Environment variables to set before running the Task."
        },
        "userAccount": {
          "$ref": "AgentTaskUserAccount",
          "description": "User account on the VM to run the runnables in the agentTaskSpec. If not set, the runnable will be run under root user."
        }
      },
      "description": "AgentTaskSpec is the user's TaskSpec representation between Agent and CLH communication."
    },
    "InstancePolicyOrTemplate": {
      "type": "object",
      "properties": {
        "instanceTemplate": {
          "description": "Name of an instance template used to create VMs. Named the field as 'instance_template' instead of 'template' to avoid C++ keyword conflict. Batch only supports global instance templates from the same project as the job. You can specify the global instance template as a full or partial URL.",
          "type": "string"
        },
        "installGpuDrivers": {
          "description": "Set this field true if you want Batch to help fetch drivers from a third party location and install them for GPUs specified in `policy.accelerators` or `instance_template` on your behalf. Default is false. For Container-Optimized Image cases, Batch will install the accelerator driver following milestones of https://cloud.google.com/container-optimized-os/docs/release-notes. For non Container-Optimized Image cases, following https://github.com/GoogleCloudPlatform/compute-gpu-installation/blob/main/linux/install_gpu_driver.py.",
          "type": "boolean"
        },
        "policy": {
          "description": "InstancePolicy.",
          "$ref": "InstancePolicy"
        },
        "blockProjectSshKeys": {
          "description": "Optional. Set this field to `true` if you want Batch to block project-level SSH keys from accessing this job's VMs. Alternatively, you can configure the job to specify a VM instance template that blocks project-level SSH keys. In either case, Batch blocks project-level SSH keys while creating the VMs for this job. Batch allows project-level SSH keys for a job's VMs only if all the following are true: + This field is undefined or set to `false`. + The job's VM instance template (if any) doesn't block project-level SSH keys. Notably, you can override this behavior by manually updating a VM to block or allow project-level SSH keys. For more information about blocking project-level SSH keys, see the Compute Engine documentation: https://cloud.google.com/compute/docs/connect/restrict-ssh-keys#block-keys",
          "type": "boolean"
        },
        "installOpsAgent": {
          "description": "Optional. Set this field true if you want Batch to install Ops Agent on your behalf. Default is false.",
          "type": "boolean"
        }
      },
      "id": "InstancePolicyOrTemplate",
      "description": "InstancePolicyOrTemplate lets you define the type of resources to use for this job either with an InstancePolicy or an instance template. If undefined, Batch picks the type of VM to use and doesn't include optional VM resources such as GPUs and extra disks."
    },
    "AgentTaskUserAccount": {
      "description": "AgentTaskUserAccount contains the information of a POSIX account on the guest os which is used to execute the runnables.",
      "id": "AgentTaskUserAccount",
      "properties": {
        "uid": {
          "type": "string",
          "description": "uid is an unique identifier of the POSIX account corresponding to the user account.",
          "format": "int64"
        },
        "gid": {
          "format": "int64",
          "description": "gid id an unique identifier of the POSIX account group corresponding to the user account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Script": {
      "id": "Script",
      "description": "Script runnable.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The path to a script file that is accessible from the host VM(s). Unless the script file supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) as the first line of the file. For example, to execute the script using bash, include `#!/bin/bash` as the first line of the file. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3` as the first line of the file.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text for a script. Unless the script text supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) at the beginning of the text. For example, to execute the script using bash, include `#!/bin/bash\\n` at the beginning of the text. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3\\n` at the beginning of the text."
        }
      }
    },
    "PlacementPolicy": {
      "description": "PlacementPolicy describes a group placement policy for the VMs controlled by this AllocationPolicy.",
      "id": "PlacementPolicy",
      "properties": {
        "maxDistance": {
          "description": "When specified, causes the job to fail if more than max_distance logical switches are required between VMs. Batch uses the most compact possible placement of VMs even when max_distance is not specified. An explicit max_distance makes that level of compactness a strict requirement. Not yet implemented",
          "format": "int64",
          "type": "string"
        },
        "collocation": {
          "description": "UNSPECIFIED vs. COLLOCATED (default UNSPECIFIED). Use COLLOCATED when you want VMs to be located close to each other for low network latency between the VMs. No placement policy will be generated when collocation is UNSPECIFIED.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TaskStatus": {
      "description": "Status of a task.",
      "id": "TaskStatus",
      "properties": {
        "statusEvents": {
          "type": "array",
          "description": "Detailed info about why the state is reached.",
          "items": {
            "$ref": "StatusEvent"
          }
        },
        "state": {
          "description": "Task state.",
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ]
        }
      },
      "type": "object"
    },
    "GCS": {
      "properties": {
        "remotePath": {
          "type": "string",
          "description": "Remote path, either a bucket name or a subdirectory of a bucket, e.g.: bucket_name, bucket_name/subdirectory/"
        }
      },
      "id": "GCS",
      "description": "Represents a Google Cloud Storage volume.",
      "type": "object"
    },
    "ComputeResource": {
      "description": "Compute resource requirements. ComputeResource defines the amount of resources required for each task. Make sure your tasks have enough resources to successfully run. If you also define the types of resources for a job to use with the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure both fields are compatible with each other.",
      "properties": {
        "bootDiskMib": {
          "format": "int64",
          "description": "Extra boot disk size in MiB for each task.",
          "type": "string"
        },
        "cpuMilli": {
          "type": "string",
          "description": "The milliCPU count. `cpuMilli` defines the amount of CPU resources per task in milliCPU units. For example, `1000` corresponds to 1 vCPU per task. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the CPU resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 2 vCPUs each, you are recommended to set `cpuMilli` no more than `2000`, or you are recommended to run two tasks on the same VM if you set `cpuMilli` to `1000` or less.",
          "format": "int64"
        },
        "memoryMib": {
          "format": "int64",
          "type": "string",
          "description": "Memory in MiB. `memoryMib` defines the amount of memory per task in MiB units. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the memory resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 8 GiB each, you are recommended to set `memoryMib` to no more than `8192`, or you are recommended to run two tasks on the same VM if you set `memoryMib` to `4096` or less."
        }
      },
      "id": "ComputeResource",
      "type": "object"
    },
    "TaskGroupStatus": {
      "properties": {
        "counts": {
          "description": "Count of task in each state in the TaskGroup. The map key is task state name.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "instances": {
          "type": "array",
          "description": "Status of instances allocated for the TaskGroup.",
          "items": {
            "$ref": "InstanceStatus"
          }
        }
      },
      "type": "object",
      "id": "TaskGroupStatus",
      "description": "Aggregated task status for a TaskGroup."
    },
    "InstancePolicy": {
      "id": "InstancePolicy",
      "description": "InstancePolicy describes an instance type and resources attached to each VM created by this InstancePolicy.",
      "properties": {
        "accelerators": {
          "items": {
            "$ref": "Accelerator"
          },
          "type": "array",
          "description": "The accelerators attached to each VM instance."
        },
        "reservation": {
          "description": "Optional. If not specified (default), VMs will consume any applicable reservation. If \"NO_RESERVATION\" is specified, VMs will not consume any reservation. Otherwise, if specified, VMs will consume only the specified reservation.",
          "type": "string"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "The minimum CPU platform. See https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform."
        },
        "machineType": {
          "type": "string",
          "description": "The Compute Engine machine type."
        },
        "bootDisk": {
          "description": "Boot disk to be created and attached to each VM by this InstancePolicy. Boot disk will be deleted when the VM is deleted. Batch API now only supports booting from image.",
          "$ref": "Disk"
        },
        "disks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array",
          "description": "Non-boot disks to be attached for each VM created by this InstancePolicy. New disks will be deleted when the VM is deleted. A non-boot disk is a disk that can be of a device with a file system or a raw storage drive that is not ready for data storage and accessing."
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported.",
            "Bound to the lifecycle of the reservation in which it is provisioned.",
            "Instance is provisioned with DWS Flex Start and has limited max run duration."
          ],
          "description": "The provisioning model.",
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ]
        }
      },
      "type": "object"
    },
    "AgentTimingInfo": {
      "properties": {
        "bootTime": {
          "description": "Boot timestamp of the VM OS",
          "type": "string",
          "format": "google-datetime"
        },
        "scriptStartupTime": {
          "description": "Startup time of the Batch VM script.",
          "type": "string",
          "format": "google-datetime"
        },
        "agentStartupTime": {
          "format": "google-datetime",
          "description": "Agent startup time",
          "type": "string"
        }
      },
      "description": "VM timing information",
      "id": "AgentTimingInfo",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "Disk": {
      "description": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs and https://cloud.google.com/compute/docs/disks#localssds.",
      "id": "Disk",
      "type": "object",
      "properties": {
        "type": {
          "description": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\". If not specified, \"pd-standard\" will be used as the default type for non-boot disks, \"pd-balanced\" will be used as the default type for boot disks.",
          "type": "string"
        },
        "diskInterface": {
          "description": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. This field is ignored for persistent disks as the interface is chosen automatically. See https://cloud.google.com/compute/docs/disks/persistent-disks#choose_an_interface.",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "URL for a VM image to use as the data source for this disk. For example, the following are all valid URLs: * Specify the image by its family name: projects/{project}/global/images/family/{image_family} * Specify the image version: projects/{project}/global/images/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * `batch-debian`: use Batch Debian images. * `batch-cos`: use Batch Container-Optimized images. * `batch-hpc-rocky`: use Batch HPC Rocky Linux images."
        },
        "snapshot": {
          "type": "string",
          "description": "Name of a snapshot used as the data source. Snapshot is not supported as boot disk now."
        },
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Disk size in GB. **Non-Boot Disk**: If the `type` specifies a persistent disk, this field is ignored if `data_source` is set as `image` or `snapshot`. If the `type` specifies a local SSD, this field should be a multiple of 375 GB, otherwise, the final size will be the next greater multiple of 375 GB. **Boot Disk**: Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the `boot_disk_mib` field in task spec's `compute_resource` are defined, Batch will only honor this field. Also, this field should be no smaller than the source disk's size when the `data_source` is set as `snapshot` or `image`. For example, if you set an image as the `data_source` field and the image's default disk size 30 GB, you can only use this field to make the disk larger or equal to 30 GB."
        }
      }
    },
    "Message": {
      "id": "Message",
      "properties": {
        "newJobState": {
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up.",
            "The Job cancellation is in progress, this is because the resources used by the Job are still being cleaned up.",
            "The Job has been cancelled, the task executions were stopped and the resources were cleaned up."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS",
            "CANCELLATION_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "The new job state."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "JOB_STATE_CHANGED",
            "TASK_STATE_CHANGED"
          ],
          "description": "The message type.",
          "enumDescriptions": [
            "Unspecified.",
            "Notify users that the job state has changed.",
            "Notify users that the task state has changed."
          ]
        },
        "newTaskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "description": "The new task state."
        }
      },
      "description": "Message details. Describe the conditions under which messages will be sent. If no attribute is defined, no message will be sent by default. One message should specify either the job or the task level attributes, but not both. For example, job level: JOB_STATE_CHANGED and/or a specified new_job_state; task level: TASK_STATE_CHANGED and/or a specified new_task_state.",
      "type": "object"
    },
    "AgentKMSEnvMap": {
      "id": "AgentKMSEnvMap",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "The name of the KMS key that will be used to decrypt the cipher text."
        },
        "cipherText": {
          "type": "string",
          "description": "The value of the cipherText response from the `encrypt` method."
        }
      },
      "type": "object",
      "description": "AgentKMSEnvMap contains the encrypted key/value pair to be used in the environment on the Agent side."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Accelerator": {
      "id": "Accelerator",
      "description": "Accelerator describes Compute Engine accelerators to be attached to the VM.",
      "properties": {
        "driverVersion": {
          "description": "Optional. The NVIDIA GPU driver version that should be installed for this type. You can define the specific driver version such as \"470.103.01\", following the driver version requirements in https://cloud.google.com/compute/docs/gpus/install-drivers-gpu#minimum-driver. Batch will install the specific accelerator driver if qualified.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "The number of accelerators of this type.",
          "type": "string"
        },
        "installGpuDrivers": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated: please use instances[0].install_gpu_drivers instead."
        },
        "type": {
          "description": "The accelerator type. For example, \"nvidia-tesla-t4\". See `gcloud compute accelerator-types list`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Runnable": {
      "type": "object",
      "properties": {
        "container": {
          "description": "Container runnable.",
          "$ref": "Container"
        },
        "background": {
          "description": "Normally, a runnable that doesn't exit causes its task to fail. However, you can set this field to `true` to configure a background runnable. Background runnables are allowed continue running in the background while the task executes subsequent runnables. For example, background runnables are useful for providing services to other runnables or providing debugging-support tools like SSH servers. Specifically, background runnables are killed automatically (if they have not already exited) a short time after all foreground runnables have completed. Even though this is likely to result in a non-zero exit status for the background runnable, these automatic kills are not treated as task failures.",
          "type": "boolean"
        },
        "ignoreExitStatus": {
          "description": "Normally, a runnable that returns a non-zero exit status fails and causes the task to fail. However, you can set this field to `true` to allow the task to continue executing its other runnables even if this runnable fails.",
          "type": "boolean"
        },
        "timeout": {
          "description": "Timeout for this Runnable.",
          "type": "string",
          "format": "google-duration"
        },
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        },
        "script": {
          "$ref": "Script",
          "description": "Script runnable."
        },
        "labels": {
          "type": "object",
          "description": "Labels for this Runnable.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup).",
          "$ref": "Environment"
        },
        "barrier": {
          "$ref": "Barrier",
          "description": "Barrier runnable."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. DisplayName is an optional field that can be provided by the caller. If provided, it will be used in logs and other outputs to identify the script, making it easier for users to understand the logs. If not provided the index of the runnable will be used for outputs."
        }
      },
      "id": "Runnable",
      "description": "Runnable describes instructions for executing a specific script or container as part of a Task."
    },
    "ReportAgentStateResponse": {
      "description": "Response to ReportAgentStateRequest.",
      "properties": {
        "minReportInterval": {
          "description": "Minimum report interval override",
          "format": "google-duration",
          "type": "string"
        },
        "tasks": {
          "items": {
            "$ref": "AgentTask"
          },
          "description": "Tasks assigned to the agent",
          "type": "array"
        },
        "defaultReportInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Default report interval override"
        },
        "useBatchMonitoredResource": {
          "type": "boolean",
          "description": "If true, the cloud logging for batch agent will use batch.googleapis.com/Job as monitored resource for Batch job related logging."
        }
      },
      "type": "object",
      "id": "ReportAgentStateResponse"
    },
    "AgentInfo": {
      "description": "VM Agent Info.",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "When the AgentInfo is generated.",
          "format": "google-datetime"
        },
        "jobId": {
          "description": "Optional. The assigned Job ID",
          "type": "string"
        },
        "tasks": {
          "description": "Task Info.",
          "items": {
            "$ref": "AgentTaskInfo"
          },
          "type": "array"
        },
        "taskGroupId": {
          "type": "string",
          "description": "The assigned task group ID."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is starting on the VM instance.",
            "The agent is running. The agent in the RUNNING state can never go back to the STARTING state.",
            "The agent has stopped, either on request or due to a failure."
          ],
          "type": "string",
          "enum": [
            "AGENT_STATE_UNSPECIFIED",
            "AGENT_STARTING",
            "AGENT_RUNNING",
            "AGENT_STOPPED"
          ],
          "description": "Agent state."
        }
      },
      "type": "object",
      "id": "AgentInfo"
    },
    "StatusEvent": {
      "type": "object",
      "description": "Status event.",
      "properties": {
        "taskExecution": {
          "description": "Task Execution. This field is only defined for task-level status events where the task fails.",
          "$ref": "TaskExecution"
        },
        "type": {
          "description": "Type of the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string"
        },
        "taskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "description": "Task State. This field is only defined for task-level status events."
        },
        "eventTime": {
          "description": "The time this event occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "StatusEvent"
    },
    "ReportAgentStateRequest": {
      "description": "Request to report agent's state. The Request itself implies the agent is healthy.",
      "id": "ReportAgentStateRequest",
      "properties": {
        "agentInfo": {
          "$ref": "AgentInfo",
          "description": "Agent info."
        },
        "metadata": {
          "$ref": "AgentMetadata",
          "description": "Agent metadata."
        },
        "agentTimingInfo": {
          "description": "Agent timing info.",
          "$ref": "AgentTimingInfo"
        }
      },
      "type": "object"
    },
    "TaskExecution": {
      "properties": {
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "The exit code of a finished task. If the task succeeded, the exit code will be 0. If the task failed but not due to the following reasons, the exit code will be 50000. Otherwise, it can be from different sources: * Batch known failures: https://cloud.google.com/batch/docs/troubleshooting#reserved-exit-codes. * Batch runnable execution failures; you can rely on Batch logs to further diagnose: https://cloud.google.com/batch/docs/analyze-job-using-logs. If there are multiple runnables failures, Batch only exposes the first error."
        }
      },
      "id": "TaskExecution",
      "description": "This Task Execution field includes detail information for task execution procedures, based on StatusEvent types.",
      "type": "object"
    },
    "AgentTaskInfo": {
      "id": "AgentTaskInfo",
      "type": "object",
      "properties": {
        "taskStatus": {
          "$ref": "TaskStatus",
          "description": "The status of the Task. If we need agent specific fields we should fork the public TaskStatus into an agent specific one. Or add them below."
        },
        "runnable": {
          "type": "string",
          "format": "int64",
          "description": "The highest index of a runnable started by the agent for this task. The runnables are indexed from 1. Value 0 is undefined."
        },
        "taskId": {
          "description": "ID of the Task",
          "type": "string"
        }
      },
      "description": "Task Info"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ListTasksResponse": {
      "description": "ListTasks Response.",
      "id": "ListTasksResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "tasks": {
          "description": "Tasks.",
          "items": {
            "$ref": "Task"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ServiceAccount": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "List of scopes to be enabled for this service account.",
          "type": "array"
        }
      },
      "id": "ServiceAccount",
      "description": "Carries information about a Google Cloud service account."
    },
    "TaskSpec": {
      "type": "object",
      "description": "Spec of a task",
      "properties": {
        "maxRetryCount": {
          "format": "int32",
          "description": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10].",
          "type": "integer"
        },
        "maxRunDuration": {
          "description": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration.",
          "format": "google-duration",
          "type": "string"
        },
        "runnables": {
          "description": "Required. The sequence of one or more runnables (executable scripts, executable containers, and/or barriers) for each task in this task group to run. Each task runs this list of runnables in order. For a task to succeed, all of its script and container runnables each must meet at least one of the following conditions: + The runnable exited with a zero status. + The runnable didn't finish, but you enabled its `background` subfield. + The runnable exited with a non-zero status, but you enabled its `ignore_exit_status` subfield.",
          "items": {
            "$ref": "Runnable"
          },
          "type": "array"
        },
        "environments": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Deprecated: please use environment(non-plural) instead.",
          "type": "object",
          "deprecated": true
        },
        "environment": {
          "description": "Environment variables to set before running the Task.",
          "$ref": "Environment"
        },
        "computeResource": {
          "$ref": "ComputeResource",
          "description": "ComputeResource requirements."
        },
        "lifecyclePolicies": {
          "items": {
            "$ref": "LifecyclePolicy"
          },
          "description": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count.",
          "type": "array"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "Volumes to mount before running Tasks using this TaskSpec."
        }
      },
      "id": "TaskSpec"
    },
    "AgentMetadata": {
      "description": "VM Agent Metadata.",
      "id": "AgentMetadata",
      "properties": {
        "imageVersion": {
          "description": "image version for the VM that this agent is installed on.",
          "type": "string"
        },
        "version": {
          "description": "agent binary version running on VM",
          "type": "string"
        },
        "creator": {
          "description": "Full name of the entity that created this vm. For MIG, this path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm} The value is retrieved from the vm metadata key of \"created-by\".",
          "type": "string"
        },
        "instancePreemptionNoticeReceived": {
          "type": "boolean",
          "description": "If the GCP instance has received preemption notice."
        },
        "creationTime": {
          "format": "google-datetime",
          "deprecated": true,
          "description": "When the VM agent started. Use agent_startup_time instead.",
          "type": "string"
        },
        "instance": {
          "description": "GCP instance name (go/instance-name).",
          "type": "string"
        },
        "osRelease": {
          "description": "parsed contents of /etc/os-release",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zone": {
          "type": "string",
          "description": "Agent zone."
        },
        "machineType": {
          "description": "Optional. machine type of the VM",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "format": "uint64",
          "description": "GCP instance ID (go/instance-id)."
        }
      },
      "type": "object"
    },
    "CloudLoggingOption": {
      "type": "object",
      "properties": {
        "useGenericTaskMonitoredResource": {
          "type": "boolean",
          "description": "Optional. Set this field to `true` to change the [monitored resource type](https://cloud.google.com/monitoring/api/resources) for Cloud Logging logs generated by this Batch job from the [`batch.googleapis.com/Job`](https://cloud.google.com/monitoring/api/resources#tag_batch.googleapis.com/Job) type to the formerly used [`generic_task`](https://cloud.google.com/monitoring/api/resources#tag_generic_task) type."
        }
      },
      "id": "CloudLoggingOption",
      "description": "`CloudLoggingOption` contains additional settings for Cloud Logging logs generated by Batch job."
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "JobNotification": {
      "type": "object",
      "description": "Notification configurations.",
      "id": "JobNotification",
      "properties": {
        "message": {
          "description": "The attribute requirements of messages to be sent to this Pub/Sub topic. Without this field, no message will be sent.",
          "$ref": "Message"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "The Pub/Sub topic where notifications for the job, like state changes, will be published. If undefined, no Pub/Sub notifications are sent for this job. Specify the topic using the following format: `projects/{project}/topics/{topic}`. Notably, if you want to specify a Pub/Sub topic that is in a different project than the job, your administrator must grant your project's Batch service agent permission to publish to that topic. For more information about configuring Pub/Sub notifications for a job, see https://cloud.google.com/batch/docs/enable-notifications."
        }
      }
    },
    "Barrier": {
      "properties": {
        "name": {
          "description": "Barriers are identified by their index in runnable list. Names are not required, but if present should be an identifier.",
          "type": "string"
        }
      },
      "description": "A barrier runnable automatically blocks the execution of subsequent runnables until all the tasks in the task group reach the barrier.",
      "type": "object",
      "id": "Barrier"
    },
    "AgentTask": {
      "type": "object",
      "id": "AgentTask",
      "properties": {
        "reachedBarrier": {
          "type": "string",
          "description": "The highest barrier reached by all tasks in the task's TaskGroup.",
          "format": "int64"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "Task status."
        },
        "agentTaskSpec": {
          "$ref": "AgentTaskSpec",
          "description": "AgentTaskSpec is the taskSpec representation between Agent and CLH communication. This field will replace the TaskSpec field above in future to have a better separation between user-facaing API and internal API."
        },
        "intendedState": {
          "type": "string",
          "enum": [
            "INTENDED_STATE_UNSPECIFIED",
            "ASSIGNED",
            "CANCELLED",
            "DELETED"
          ],
          "description": "The intended state of the task.",
          "enumDescriptions": [
            "Unspecified state.",
            "Assigned state (includes running and finished).",
            "The agent should cancel the execution of this task.",
            "Delete task from agent storage, stop reporting its state."
          ]
        },
        "task": {
          "description": "Task name.",
          "type": "string"
        },
        "taskSource": {
          "enumDescriptions": [
            "Unspecified task source.",
            "The AgentTask from this source is generated by Batch server. E.g. all the VMActions are from this source. When Batch Agent execute AgentTask from BATCH_INTERNAL, it will log stdout/err with \"batch_agent_logs\" log name.",
            "The AgentTask from this source is provided by Batch users. When Batch Agent execute AgentTask from USER, it will log stdout/err with \"batch_task_logs\" log name."
          ],
          "description": "TaskSource represents the source of the task.",
          "type": "string",
          "enum": [
            "TASK_SOURCE_UNSPECIFIED",
            "BATCH_INTERNAL",
            "USER"
          ]
        },
        "spec": {
          "$ref": "TaskSpec",
          "description": "Task Spec. This field will be replaced by agent_task_spec below in future."
        }
      },
      "description": "TODO(b/182501497) The message needs to be redefined when the Agent API server updates data in storage per the backend design."
    },
    "ActionCondition": {
      "description": "Conditions for actions to deal with task failures.",
      "properties": {
        "exitCodes": {
          "description": "Exit codes of a task execution. If there are more than 1 exit codes, when task executes with any of the exit code in the list, the condition is met and the action will be executed.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "id": "ActionCondition",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "KMSEnvMap": {
      "type": "object",
      "id": "KMSEnvMap",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "The name of the KMS key that will be used to decrypt the cipher text."
        },
        "cipherText": {
          "type": "string",
          "description": "The value of the cipherText response from the `encrypt` method."
        }
      }
    },
    "Job": {
      "description": "The Cloud Batch Job description.",
      "properties": {
        "priority": {
          "type": "string",
          "description": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied.",
          "format": "int64"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Job status. It is read only for users.",
          "$ref": "JobStatus"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system generated unique ID for the Job.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Job name. For example: \"projects/123456/locations/us-central1/jobs/job01\"."
        },
        "logsPolicy": {
          "description": "Log preservation policy for the Job.",
          "$ref": "LogsPolicy"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Job was created.",
          "type": "string"
        },
        "allocationPolicy": {
          "description": "Compute resource allocation for all TaskGroups in the Job.",
          "$ref": "AllocationPolicy"
        },
        "taskGroups": {
          "items": {
            "$ref": "TaskGroup"
          },
          "type": "array",
          "description": "Required. TaskGroups in the Job. Only one TaskGroup is supported now."
        },
        "labels": {
          "description": "Custom labels to apply to the job and any Cloud Logging [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) that it generates. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "notifications": {
          "description": "Notification configurations.",
          "items": {
            "$ref": "JobNotification"
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the Job was updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Job",
      "type": "object"
    },
    "AgentContainer": {
      "properties": {
        "commands": {
          "description": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "type": "string",
          "description": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\"."
        },
        "imageUri": {
          "type": "string",
          "description": "The URI to pull the container image from."
        },
        "volumes": {
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. /foo:/bar, or /foo:/bar:ro",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entrypoint": {
          "description": "Overrides the `ENTRYPOINT` specified in the container.",
          "type": "string"
        }
      },
      "id": "AgentContainer",
      "description": "Container runnable representation on the agent side.",
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "description": "Jobs.",
          "items": {
            "$ref": "Job"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "description": "ListJob Response.",
      "id": "ListJobsResponse"
    },
    "AgentTaskLoggingOption": {
      "id": "AgentTaskLoggingOption",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels to be added to the log entry. Now only cloud logging is supported.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "AgentTaskLoggingOption contains the options for the logging of the task.",
      "type": "object"
    },
    "Environment": {
      "type": "object",
      "properties": {
        "variables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to values.",
          "type": "object"
        },
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "KMSEnvMap"
        },
        "secretVariables": {
          "type": "object",
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Environment",
      "description": "An Environment describes a collection of environment variables to set when executing Tasks."
    },
    "InstanceStatus": {
      "properties": {
        "provisioningModel": {
          "description": "The VM instance provisioning model.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported.",
            "Bound to the lifecycle of the reservation in which it is provisioned.",
            "Instance is provisioned with DWS Flex Start and has limited max run duration."
          ],
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE",
            "RESERVATION_BOUND",
            "FLEX_START"
          ]
        },
        "machineType": {
          "type": "string",
[...]
