{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "id": "beyondcorp:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "Chrome Enterprise Premium is a secure enterprise browsing solution that provides secure access to applications and resources, and offers integrated threat and data protection. It adds an extra layer of security to safeguard your Chrome browser environment, including Data Loss Prevention (DLP), real-time URL and file scanning, and Context-Aware Access for SaaS and web apps.",
  "revision": "20260812",
  "canonicalName": "BeyondCorp",
  "kind": "discovery#restDescription",
  "name": "beyondcorp",
  "mtlsRootUrl": "https://beyondcorp.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "title": "BeyondCorp API",
  "documentationLink": "https://cloud.google.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://beyondcorp.googleapis.com/",
  "schemas": {
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig": {
      "type": "object",
      "description": "NotificationConfig defines the mechanisms to notify instance agent.",
      "properties": {
        "pubsubNotification": {
          "description": "Cloud Pub/Sub Configuration to receive notifications.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig"
    },
    "ApplicationEndpoint": {
      "description": "ApplicationEndpoint represents a remote application endpoint.",
      "id": "ApplicationEndpoint",
      "type": "object",
      "properties": {
        "host": {
          "description": "Required. Hostname or IP address of the remote application endpoint.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Required. Port of the remote application endpoint.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway": {
      "properties": {
        "uri": {
          "description": "Output only. Server-defined URI for this resource.",
          "type": "string",
          "readOnly": true
        },
        "appGateway": {
          "description": "Required. AppGateway name in following format: `projects/{project_id}/locations/{location_id}/appgateways/{gateway_id}`",
          "type": "string"
        },
        "l7psc": {
          "type": "string",
          "description": "Output only. L7 private service connection for this resource.",
          "readOnly": true
        },
        "ingressPort": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Ingress port reserved on the gateways for this AppConnection, if not specified or zero, the default port is 19443.",
          "type": "integer"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ],
          "description": "Required. The type of hosting used by the gateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ]
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway",
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity.",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "Connector": {
      "type": "object",
      "id": "Connector",
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "properties": {
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the connector. Cannot exceed 64 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Connector is being created.",
            "Connector has been created.",
            "Connector's configuration is being updated.",
            "Connector is being deleted.",
            "Connector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the connector."
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Optional. Resource info of the connector."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "principalInfo": {
          "$ref": "PrincipalInfo",
          "description": "Required. Principal information about the Identity of the connector."
        },
        "name": {
          "type": "string",
          "description": "Required. Unique resource name of the connector. The name is ignored when creating a connector."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponse": {
      "description": "Response message for BeyondCorp.ResolveAppConnections.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached.",
          "type": "array"
        },
        "appConnectionDetails": {
          "type": "array",
          "description": "A list of BeyondCorp AppConnections with details in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails"
          }
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponse"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaResolveInstanceConfigResponse": {
      "type": "object",
      "description": "Response message for BeyondCorp.ResolveInstanceConfig.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaResolveInstanceConfigResponse",
      "properties": {
        "instanceConfig": {
          "description": "AppConnectorInstanceConfig.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig"
        }
      }
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaListInsightsResponse": {
      "description": "The response for the list of insights.",
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaListInsightsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available.",
          "readOnly": true
        },
        "insights": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsight"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all insights."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig": {
      "type": "object",
      "properties": {
        "instanceConfig": {
          "type": "object",
          "description": "The SLM instance agent configuration.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "notificationConfig": {
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig"
        },
        "imageConfig": {
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig"
        },
        "sequenceNumber": {
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig",
      "description": "AppConnectorInstanceConfig defines the instance config of a AppConnector."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication": {
      "description": "The information about an application resource.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication",
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "enum": [
            "SCHEMA_UNSPECIFIED",
            "PROXY_GATEWAY",
            "API_GATEWAY"
          ],
          "description": "Optional. Type of the external application.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Proxy which routes traffic to actual applications, like Netscaler Gateway.",
            "Service Discovery API endpoint when Service Discovery is enabled in Gateway."
          ]
        },
        "upstreams": {
          "type": "array",
          "description": "Optional. Which upstream resources to forward traffic to.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream"
          }
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the application resource. Cannot exceed 64 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endpointMatchers": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointMatcher"
          },
          "description": "Optional. An array of conditions to match the application's network endpoint. Each element in the array is an EndpointMatcher object, which defines a specific combination of a hostname pattern and one or more ports. The application is considered matched if at least one of the EndpointMatcher conditions in this array is met (the conditions are combined using OR logic). Each EndpointMatcher must contain a hostname pattern, such as \"example.com\", and one or more port numbers specified as a string, such as \"443\". Hostname and port number examples: \"*.example.com\", \"443\" \"example.com\" and \"22\" \"example.com\" and \"22,33\"",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of the resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork": {
      "type": "object",
      "description": "Network to forward traffic to.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork",
      "properties": {
        "name": {
          "description": "Required. Network name is of the format: `projects/{project}/global/networks/{network}",
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders",
      "properties": {
        "groupInfo": {
          "description": "Optional. Group details.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedGroupInfo"
        },
        "deviceInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo",
          "description": "Optional. The device information configuration."
        },
        "dispatchInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDispatchInfo",
          "description": "Optional. The dispatch information configuration."
        },
        "outputType": {
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "type": "string",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "description": "Optional. Default output type for all enabled headers."
        },
        "userInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo",
          "description": "Optional. User details."
        }
      },
      "type": "object",
      "description": "Contextual headers configuration."
    },
    "ContainerHealthDetails": {
      "id": "ContainerHealthDetails",
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "properties": {
        "extendedStatus": {
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expectedConfigVersion": {
          "type": "string",
          "description": "The version of the expected config."
        },
        "currentConfigVersion": {
          "description": "The version of the current config.",
          "type": "string"
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeExpr"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Unique Id for the resource."
        },
        "sub": {
          "description": "List of Info for the sub level resources.",
          "items": {
            "$ref": "ResourceInfo"
          },
          "type": "array"
        },
        "resource": {
          "type": "object",
          "description": "Specific details for the resource.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "time": {
          "type": "string",
          "description": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only.",
          "format": "google-datetime"
        },
        "status": {
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "UNRESPONSIVE",
            "DEGRADED"
          ],
          "type": "string",
          "description": "Overall health status. Overall status is derived based on the status of each sub level resources.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unhealthy.",
            "The resource is unresponsive.",
            "Some sub-resources are UNHEALTHY."
          ]
        }
      },
      "type": "object",
      "description": "ResourceInfo represents the information/status of the associated resource."
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaCancelSubscriptionResponse": {
      "properties": {
        "effectiveCancellationTime": {
          "description": "Time when the cancellation will become effective",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaCancelSubscriptionResponse",
      "description": "Response message for BeyondCorp.CancelSubscription",
      "type": "object"
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoGateway": {
      "description": "Gateway represents a GCE VM Instance endpoint for use by IAP TCP.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "uint32",
          "description": "port specifies the port of the gateway for tunnel connections from the connectors."
        },
        "interface": {
          "type": "string",
          "description": "interface specifies the network interface of the gateway to connect to."
        },
        "zone": {
          "description": "zone represents the zone the instance belongs. It is derived from the gateway URL. For example, zone=${zone} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "project is the tenant project the gateway belongs to. Different from the project in the connection, it is a BeyondCorpAPI internally created project to manage all the gateways. It is sharing the same network with the consumer project user owned. It is derived from the gateway URL. For example, project=${project} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
        },
        "selfLink": {
          "type": "string",
          "description": "self_link is the gateway URL in the form https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
        },
        "name": {
          "type": "string",
          "description": "name is the name of an instance running a gateway. It is the unique ID for a gateway. All gateways under the same connection have the same prefix. It is derived from the gateway URL. For example, name=${instance} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
        }
      },
      "type": "object",
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Value of the field in string format. Acceptable values are strings or numbers."
        },
        "filterAlias": {
          "readOnly": true,
          "description": "Output only. Field name to be used in filter while requesting configured insight filtered on this field.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Name of the field.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Field id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal",
      "type": "object",
      "description": "Column or key value pair from the request as part of key to use in query or a single pair of the fetch response."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ConnectionDetails": {
      "id": "ConnectionDetails",
      "description": "Details of the Connection.",
      "properties": {
        "recentMigVms": {
          "type": "array",
          "description": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like \"https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}\".",
          "items": {
            "type": "string"
          }
        },
        "connection": {
          "description": "A BeyondCorp Connection in the project.",
          "$ref": "Connection"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account."
        }
      },
      "description": "ServiceAccount represents a GCP service account.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount"
    },
    "GoogleCloudBeyondcorpAppgatewaysV1AppGatewayOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpAppgatewaysV1AppGatewayOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListSecurityGatewaysResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "A list of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "securityGateways": {
          "description": "A list of BeyondCorp SecurityGateway in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGateway"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing SecurityGateways.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListSecurityGatewaysResponse"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo": {
      "properties": {
        "serviceAccount": {
          "description": "A GCP service account.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo",
      "description": "PrincipalInfo represents an Identity oneof.",
      "type": "object"
    },
    "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata": {
      "id": "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "deprecated": true
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaRestartSubscriptionResponse": {
      "description": "Response message for BeyondCorp.RestartSubscription",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaRestartSubscriptionResponse"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse": {
      "description": "The response for the configured insight.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available.",
          "readOnly": true
        },
        "appliedConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig",
          "description": "Output only. Applied insight config to generate the result data rows."
        },
        "rows": {
          "readOnly": true,
          "description": "Output only. Result rows returned containing the required value(s) for configured insight.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow"
          }
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig": {
      "description": "The configuration that was applied to generate the result.",
      "properties": {
        "customGrouping": {
          "description": "Output only. Customised grouping applied.",
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Starting time for the duration for which insight was pulled.",
          "type": "string",
          "format": "google-datetime"
        },
        "fieldFilter": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Filters applied."
        },
        "endTime": {
          "description": "Output only. Ending time for the duration for which insight was pulled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "Output only. Group id of the grouping applied.",
          "readOnly": true
        },
        "aggregation": {
          "readOnly": true,
          "description": "Output only. Aggregation type applied.",
          "enumDescriptions": [
            "Unspecified.",
            "Insight should be aggregated at hourly level.",
            "Insight should be aggregated at daily level.",
            "Insight should be aggregated at weekly level.",
            "Insight should be aggregated at monthly level.",
            "Insight should be aggregated at the custom date range passed in as the start and end time in the request."
          ],
          "type": "string",
          "enum": [
            "AGGREGATION_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "CUSTOM_DATE_RANGE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig"
    },
    "Tunnelv1ProtoTunnelerInfo": {
      "properties": {
        "id": {
          "description": "id is the unique id of a tunneler.",
          "type": "string"
        },
        "latestRetryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "latest_retry_time stores the time when the tunneler was last restarted."
        },
        "totalRetryCount": {
          "format": "uint32",
          "description": "total_retry_count stores the total number of times the tunneler has been retried by tunManager.",
          "type": "integer"
        },
        "latestErr": {
          "description": "latest_err stores the Error for the latest tunneler failure. Gets reset everytime the tunneler is retried by tunManager.",
          "$ref": "Tunnelv1ProtoTunnelerError"
        },
        "backoffRetryCount": {
          "type": "integer",
          "description": "backoff_retry_count stores the number of times the tunneler has been retried by tunManager for current backoff sequence. Gets reset to 0 if time difference between 2 consecutive retries exceeds backoffRetryResetTime.",
          "format": "uint32"
        }
      },
      "description": "TunnelerInfo contains metadata about tunneler launched by connection manager.",
      "type": "object",
      "id": "Tunnelv1ProtoTunnelerInfo"
    },
    "ConnectorOperationMetadata": {
      "type": "object",
      "id": "ConnectorOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RemoteAgentDetails": {
      "type": "object",
      "properties": {},
      "id": "RemoteAgentDetails",
      "description": "RemoteAgentDetails reflects the details of a remote agent."
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Gateway": {
      "id": "Gateway",
      "type": "object",
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ],
          "type": "string",
          "description": "Required. The type of hosting used by the gateway."
        },
        "uri": {
          "description": "Output only. Server-defined URI for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "userPort": {
          "description": "Output only. User port reserved on the gateways for this connection, if not specified or zero, the default port is 19443.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ResolveConnectionsResponse": {
      "id": "ResolveConnectionsResponse",
      "description": "Response message for BeyondCorp.ResolveConnections.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionDetails": {
          "description": "A list of BeyondCorp Connections with details in the project.",
          "items": {
            "$ref": "ConnectionDetails"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig",
      "description": "ImageConfig defines the control plane images to run.",
      "properties": {
        "stableImage": {
          "type": "string",
          "description": "The stable image that the remote agent will fallback to if the target image fails. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1"
        },
        "targetImage": {
          "type": "string",
          "description": "The initial image the remote agent will attempt to run for the control plane. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1"
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaInternetGateway": {
      "type": "object",
      "properties": {
        "assignedIps": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of IP addresses assigned to the Cloud NAT.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaInternetGateway",
      "description": "Represents the Internet Gateway configuration."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata"
    },
    "CloudSecurityZerotrustApplinkLogagentProtoLogAgentDetails": {
      "id": "CloudSecurityZerotrustApplinkLogagentProtoLogAgentDetails",
      "properties": {},
      "description": "LogAgentDetails reflects the details of a log agent.",
      "type": "object"
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account."
        }
      },
      "id": "ServiceAccount",
      "type": "object",
      "description": "ServiceAccount represents a GCP service account."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaListAppConnectorsResponse": {
      "description": "Response message for BeyondCorp.ListAppConnectors.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaListAppConnectorsResponse",
      "properties": {
        "appConnectors": {
          "description": "A list of BeyondCorp AppConnectors in the project.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedGroupInfo": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedGroupInfo",
      "properties": {
        "outputType": {
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "type": "string",
          "description": "Optional. The output type of the delegated group information.",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ]
        }
      },
      "description": "The delegated group configuration details.",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy": {
      "description": "Routing policy information.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy",
      "properties": {
        "regions": {
          "description": "Required. List of the regions where the application sends traffic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow",
      "description": "Row of the fetch response consisting of a set of entries.",
      "type": "object",
      "properties": {
        "fieldValues": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal"
          },
          "type": "array",
          "description": "Output only. Columns/entries/key-vals in the result.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway": {
      "description": "If Service Discovery is done through API, defines its settings.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway",
      "type": "object",
      "properties": {
        "resourceOverride": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor",
          "description": "Optional. Enables fetching resource model updates to alter service behavior per Chrome profile."
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery": {
      "description": "Settings related to the Service Discovery.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery",
      "properties": {
        "apiGateway": {
          "description": "Optional. External API configuration.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway"
        }
      },
      "type": "object"
    },
    "ListConnectorsResponse": {
      "type": "object",
      "id": "ListConnectorsResponse",
      "properties": {
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "A list of BeyondCorp Connectors in the project."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for BeyondCorp.ListConnectors."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig": {
      "properties": {
        "allowedClientHeaders": {
          "type": "array",
          "description": "Optional. List of the allowed client header names.",
          "items": {
            "type": "string"
          }
        },
        "metadataHeaders": {
          "description": "Optional. Custom resource specific headers along with the values. The names should conform to RFC 9110: >Field names can contain alphanumeric characters, hyphens, and periods, can contain only ASCII-printable characters and tabs, and must start with a letter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gatewayIdentity": {
          "description": "Optional. The security gateway identity configuration.",
          "enumDescriptions": [
            "Unspecified gateway identity.",
            "Resource name for gateway identity, in the format: projects/{project_id}/locations/{location_id}/securityGateways/{security_gateway_id}"
          ],
          "enum": [
            "GATEWAY_IDENTITY_UNSPECIFIED",
            "RESOURCE_NAME"
          ],
          "type": "string"
        },
        "contextualHeaders": {
          "description": "Optional. Configuration for the contextual headers.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders"
        },
        "clientIp": {
          "description": "Optional. Client IP configuration. The client IP address is included if true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The configuration for the proxy.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaReportStatusRequest": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaReportStatusRequest",
      "properties": {
        "resourceInfo": {
          "description": "Required. Resource info of the connector.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo"
        },
        "validateOnly": {
          "description": "Optional. If set, validates request by executing a dry-run which would not alter the resource in any way.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request report the connector status."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails",
      "type": "object",
      "properties": {},
      "description": "RemoteAgentDetails reflects the details of a remote agent."
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Hostname or IP address of the remote application endpoint."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Port of the remote application endpoint."
        }
      },
      "description": "ApplicationEndpoint represents a remote application endpoint.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream": {
      "description": "Which upstream resource to forward traffic to.",
      "properties": {
        "egressPolicy": {
          "description": "Optional. Routing policy information.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy"
        },
        "network": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork",
          "description": "Network to forward traffic to."
        },
        "external": {
          "description": "List of the external endpoints to forward traffic to.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal"
        },
        "proxyProtocol": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig",
          "description": "Optional. Enables proxy protocol configuration for the upstream."
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaLoggingConfig": {
      "properties": {},
      "type": "object",
      "description": "Configuration for Cloud Logging.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaLoggingConfig"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails": {
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails",
      "type": "object",
      "properties": {
        "appConnection": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection",
          "description": "A BeyondCorp AppConnection in the project."
        },
        "recentMigVms": {
          "description": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like `https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Details of the AppConnection."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaListAppConnectionsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        },
        "appConnections": {
          "type": "array",
          "description": "A list of BeyondCorp AppConnections in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for BeyondCorp.ListAppConnections.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaListAppConnectionsResponse"
    },
    "ListConnectionsResponse": {
      "description": "Response message for BeyondCorp.ListConnections.",
      "id": "ListConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached."
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "description": "A list of BeyondCorp Connections in the project.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ConnectorInstanceConfig": {
      "id": "ConnectorInstanceConfig",
      "description": "ConnectorInstanceConfig defines the instance config of a connector.",
      "properties": {
        "notificationConfig": {
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification.",
          "$ref": "NotificationConfig"
        },
        "instanceConfig": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The SLM instance agent configuration."
        },
        "sequenceNumber": {
          "format": "int64",
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change.",
          "type": "string"
        },
        "imageConfig": {
          "$ref": "ImageConfig",
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane."
        }
      },
      "type": "object"
    },
    "ResolveInstanceConfigResponse": {
      "properties": {
        "instanceConfig": {
          "description": "ConnectorInstanceConfig.",
          "$ref": "ConnectorInstanceConfig"
        }
      },
      "type": "object",
      "description": "Response message for BeyondCorp.ResolveInstanceConfig.",
      "id": "ResolveInstanceConfigResponse"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unhealthy.",
            "The resource is unresponsive.",
            "Some sub-resources are UNHEALTHY."
          ],
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "UNRESPONSIVE",
            "DEGRADED"
          ],
          "type": "string",
          "description": "Overall health status. Overall status is derived based on the status of each sub level resources."
        },
        "id": {
          "type": "string",
          "description": "Required. Unique Id for the resource."
        },
        "time": {
          "description": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only.",
          "format": "google-datetime",
          "type": "string"
        },
        "resource": {
          "description": "Specific details for the resource. This is for internal use only.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "sub": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo"
          },
          "description": "List of Info for the sub level resources.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo",
      "description": "ResourceInfo represents the information or status of an app connector resource component that's used to report on various parts of the system. For example, ResourceInfo can be used to convey the status of a remote_agent, including the status of an appgateway for an runtime environment in a container instance."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. Contains the URI path fragment where HTTP request is sent."
        }
      },
      "description": "API operation descriptor."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails": {
      "properties": {
        "extendedStatus": {
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expectedConfigVersion": {
          "description": "The version of the expected config.",
          "type": "string"
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        },
        "currentConfigVersion": {
          "type": "string",
          "description": "The version of the current config."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails",
      "description": "ContainerHealthDetails reflects the health details of a container."
    },
    "ReportStatusRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "resourceInfo": {
          "description": "Required. Resource info of the connector.",
          "$ref": "ResourceInfo"
        },
        "validateOnly": {
          "description": "Optional. If set, validates request by executing a dry-run which would not alter the resource in any way.",
          "type": "boolean"
        }
      },
      "description": "Request report the connector status.",
      "id": "ReportStatusRequest"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig": {
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "type": "string",
          "description": "The Pub/Sub subscription the AppConnector uses to receive notifications."
        }
      },
      "description": "The configuration for Pub/Sub messaging for the AppConnector.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "Connection": {
      "description": "A BeyondCorp Connection resource represents a BeyondCorp protected connection to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected connection. Multiple connectors can be authorised for a single Connection.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp Connection. API will default to this if unset."
          ],
          "description": "Required. The type of network connectivity used by the connection."
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the connection. Cannot exceed 64 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "type": "string"
        },
        "connectors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorised to be associated with this Connection."
        },
        "name": {
          "description": "Required. Unique resource name of the connection. The name is ignored when creating a connection.",
          "type": "string"
        },
        "gateway": {
          "description": "Optional. Gateway used by the connection.",
          "$ref": "Gateway"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Connection is being created.",
            "Connection has been created.",
            "Connection's configuration is being updated.",
            "Connection is being deleted.",
            "Connection is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "type": "string",
          "description": "Output only. The current state of the connection.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "applicationEndpoint": {
          "description": "Required. Address of the remote application endpoint for the BeyondCorp Connection.",
          "$ref": "ApplicationEndpoint"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "type": "string"
        }
      },
      "id": "Connection",
      "type": "object"
    },
    "ImageConfig": {
      "id": "ImageConfig",
      "description": "ImageConfig defines the control plane images to run.",
      "properties": {
        "stableImage": {
          "type": "string",
          "description": "The stable image that the remote agent will fallback to if the target image fails."
        },
        "targetImage": {
          "type": "string",
          "description": "The initial image the remote agent will attempt to run for the control plane."
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping": {
      "type": "object",
      "properties": {
        "fieldFilter": {
          "description": "Optional. Filterable parameters to be added to the grouping clause. Available fields could be fetched by calling insight list and get APIs in `BASIC` view. `=` is the only comparison operator supported. `AND` is the only logical operator supported. Usage: field_filter=\"fieldName1=fieldVal1 AND fieldName2=fieldVal2\". NOTE: Only `AND` conditions are allowed. NOTE: Use the `filter_alias` from `Insight.Metadata.Field` message for the filtering the corresponding fields in this filter field. (These expressions are based on the filter language described at https://google.aip.dev/160).",
          "type": "string"
        },
        "groupFields": {
          "description": "Required. Fields to be used for grouping. NOTE: Use the `filter_alias` from `Insight.Metadata.Field` message for declaring the fields to be grouped-by here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping",
      "description": "Customised grouping option that allows setting the group_by fields and also the filters togather for a configured insight request."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal": {
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "Required. List of the endpoints to forward traffic to.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint"
          }
        }
      },
      "description": "Endpoints to forward traffic to.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector",
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "type": "string"
        },
        "principalInfo": {
          "description": "Required. Principal information about the Identity of the AppConnector.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnector is being created.",
            "AppConnector has been created.",
            "AppConnector's configuration is being updated.",
            "AppConnector is being deleted.",
            "AppConnector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "description": "Output only. The current state of the AppConnector.",
          "type": "string"
        },
        "resourceInfo": {
          "description": "Optional. Resource info of the connector.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the AppConnector. Cannot exceed 64 characters.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique resource name of the AppConnector. The name is ignored when creating a AppConnector."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails": {
      "type": "object",
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "properties": {},
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub",
      "description": "The Hub message contains information pertaining to the regional data path deployments.",
      "properties": {
        "internetGateway": {
          "description": "Optional. Internet Gateway configuration.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaInternetGateway"
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Unique resource name of the AppConnection. The name is ignored when creating a AppConnection."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "uid": {
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "connectors": {
          "description": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorized to be associated with this AppConnection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of network connectivity used by the AppConnection.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp AppConnection. API will default to this if unset."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An arbitrary user-provided name for the AppConnection. Cannot exceed 64 characters."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnection is being created.",
            "AppConnection has been created.",
            "AppConnection's configuration is being updated.",
            "AppConnection is being deleted.",
            "AppConnection is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "description": "Output only. The current state of the AppConnection."
        },
        "applicationEndpoint": {
          "description": "Required. Address of the remote application endpoint for the BeyondCorp AppConnection.",
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint"
        },
        "gateway": {
          "description": "Optional. Gateway used by the AppConnection.",
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway"
        }
      },
      "type": "object",
[...]
