{
  "version_module": true,
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "bigquerydatatransfer",
  "canonicalName": "BigQuery Data Transfer",
  "kind": "discovery#restDescription",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "title": "BigQuery Data Transfer API",
  "schemas": {
    "CheckValidCredsResponse": {
      "description": "A response indicating whether the credentials exist and are valid.",
      "type": "object",
      "id": "CheckValidCredsResponse",
      "properties": {
        "hasValidCreds": {
          "type": "boolean",
          "description": "If set to `true`, the credentials exist and are valid."
        }
      }
    },
    "EnrollDataSourcesRequest": {
      "description": "A request to enroll a set of data sources so they are visible in the BigQuery UI's `Transfer` tab.",
      "id": "EnrollDataSourcesRequest",
      "properties": {
        "dataSourceIds": {
          "items": {
            "type": "string"
          },
          "description": "Data sources that are enrolled. It is required to provide at least one data source id.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UnenrollDataSourcesRequest": {
      "id": "UnenrollDataSourcesRequest",
      "type": "object",
      "description": "A request to unenroll a set of data sources so they are no longer visible in the BigQuery UI's `Transfer` tab.",
      "properties": {
        "dataSourceIds": {
          "items": {
            "type": "string"
          },
          "description": "Data sources that are unenrolled. It is required to provide at least one data source id.",
          "type": "array"
        }
      }
    },
    "ManualSchedule": {
      "id": "ManualSchedule",
      "properties": {},
      "description": "Options customizing manual transfers schedule.",
      "type": "object"
    },
    "EmailPreferences": {
      "type": "object",
      "properties": {
        "enableFailureEmail": {
          "type": "boolean",
          "description": "If true, email notifications will be sent on transfer run failures."
        }
      },
      "description": "Represents preferences for sending email notifications for transfer run events.",
      "id": "EmailPreferences"
    },
    "TimeRange": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`. The start_time must be strictly less than the end_time. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive)."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`. The end_time must not be in the future. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive)."
        }
      },
      "id": "TimeRange",
      "description": "A specification for a time range, this will request transfer runs with run_time between start_time (inclusive) and end_time (exclusive).",
      "type": "object"
    },
    "DataSourceParameter": {
      "id": "DataSourceParameter",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Parameter display name in the user interface."
        },
        "type": {
          "description": "Parameter type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE",
            "LIST"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page.",
            "List of strings parameter."
          ],
          "type": "string"
        },
        "fields": {
          "description": "Deprecated. This field has no effect.",
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "description": {
          "description": "Parameter description.",
          "type": "string"
        },
        "validationRegex": {
          "type": "string",
          "description": "Regular expression which can be used for parameter validation."
        },
        "validationHelpUrl": {
          "type": "string",
          "description": "URL to a help document to further explain the naming requirements."
        },
        "secretManagerAllowed": {
          "type": "boolean",
          "description": "Output only. If true, the parameter value can be provided through Secret Manager.",
          "readOnly": true
        },
        "repeated": {
          "type": "boolean",
          "description": "Deprecated. This field has no effect."
        },
        "immutable": {
          "type": "boolean",
          "description": "Cannot be changed after initial creation."
        },
        "maxListSize": {
          "format": "int64",
          "description": "For list parameters, the max size of the list.",
          "type": "string"
        },
        "validationDescription": {
          "type": "string",
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values."
        },
        "maxValue": {
          "description": "For integer and double values specifies maximum allowed value.",
          "format": "double",
          "type": "number"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "All possible values for the parameter.",
          "type": "array"
        },
        "minValue": {
          "type": "number",
          "description": "For integer and double values specifies minimum allowed value.",
          "format": "double"
        },
        "deprecated": {
          "description": "If true, it should not be used in new transfers, and it should not be visible to users.",
          "type": "boolean"
        },
        "paramId": {
          "type": "string",
          "description": "Parameter identifier."
        },
        "required": {
          "type": "boolean",
          "description": "Is parameter required."
        },
        "recurse": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A parameter used to define custom fields in a data source definition."
    },
    "MetadataDestination": {
      "type": "object",
      "id": "MetadataDestination",
      "description": "The metadata destination of the transfer config.",
      "properties": {
        "dataplexConfiguration": {
          "description": "The Dataplex Universal Catalog configuration.",
          "$ref": "DataplexConfiguration"
        }
      }
    },
    "EventDrivenSchedule": {
      "type": "object",
      "description": "Options customizing EventDriven transfers schedule.",
      "id": "EventDrivenSchedule",
      "properties": {
        "pubsubSubscription": {
          "type": "string",
          "description": "Pub/Sub subscription name used to receive events. Only Google Cloud Storage data source support this option. Format: projects/{project}/subscriptions/{subscription}"
        }
      }
    },
    "ScheduleOptions": {
      "type": "object",
      "description": "Options customizing the data transfer schedule.",
      "id": "ScheduleOptions",
      "properties": {
        "disableAutoScheduling": {
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TransferMessage": {
      "properties": {
        "severity": {
          "description": "Message severity.",
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "Message text."
        },
        "messageTime": {
          "description": "Time when message was logged.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a user facing message for a particular data transfer run.",
      "id": "TransferMessage"
    },
    "TransferResourceStatusDetail": {
      "type": "object",
      "description": "Status details of the resource being transferred.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Resource is waiting to be transferred.",
            "Resource transfer is running.",
            "Resource transfer is a success.",
            "Resource transfer failed.",
            "Resource transfer was cancelled."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TRANSFER_STATE_UNSPECIFIED",
            "RESOURCE_TRANSFER_PENDING",
            "RESOURCE_TRANSFER_RUNNING",
            "RESOURCE_TRANSFER_SUCCEEDED",
            "RESOURCE_TRANSFER_FAILED",
            "RESOURCE_TRANSFER_CANCELLED"
          ],
          "description": "Optional. Transfer state of the resource."
        },
        "error": {
          "description": "Optional. Transfer error details for the resource.",
          "$ref": "Status"
        },
        "completedPercentage": {
          "format": "double",
          "description": "Output only. Percentage of the transfer completed. Valid values: 0-100.",
          "type": "number",
          "readOnly": true
        },
        "summary": {
          "description": "Optional. Transfer status summary of the resource.",
          "$ref": "TransferStatusSummary"
        }
      },
      "id": "TransferResourceStatusDetail"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "PartitionDetail": {
      "type": "object",
      "id": "PartitionDetail",
      "properties": {
        "table": {
          "description": "Optional. Name of the table which has the partitions.",
          "type": "string"
        }
      },
      "description": "Partition details related to hierarchy."
    },
    "TransferStatusMetric": {
      "type": "object",
      "description": "Metrics for tracking the transfer status.",
      "properties": {
        "unit": {
          "description": "Optional. Unit for measuring progress (e.g., BYTES).",
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "type": "string"
        },
        "completed": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Number of units transferred successfully."
        },
        "pending": {
          "description": "Optional. Number of units pending transfer.",
          "type": "string",
          "format": "int64"
        },
        "total": {
          "type": "string",
          "description": "Optional. Total number of units for the transfer.",
          "format": "int64"
        },
        "failed": {
          "type": "string",
          "description": "Optional. Number of units that failed to transfer.",
          "format": "int64"
        }
      },
      "id": "TransferStatusMetric"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ListTransferResourcesResponse": {
      "description": "Response for the `ListTransferResources` RPC.",
      "id": "ListTransferResourcesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "transferResources": {
          "items": {
            "$ref": "TransferResource"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The transfer resources."
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object"
    },
    "StartManualTransferRunsRequest": {
      "description": "A request to start manual transfer runs.",
      "id": "StartManualTransferRunsRequest",
      "properties": {
        "requestedTimeRange": {
          "description": "A time_range start and end timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_time_range must be a past time and cannot include future time values.",
          "$ref": "TimeRange"
        },
        "requestedRunTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "A run_time timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_run_time must be a past time and cannot include future time values."
        }
      },
      "type": "object"
    },
    "TransferConfig": {
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "properties": {
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "The encryption configuration part. Currently, it is only used for the optional KMS key name. The BigQuery service account of your project must be granted permissions to use the key. Read methods will return the key name applied in effect. Write methods will apply the key if it is present, or otherwise try to apply project default keys if it is absent."
        },
        "managedTableType": {
          "enumDescriptions": [
            "Type unspecified. This defaults to `NATIVE` table.",
            "The managed table is a native BigQuery table. This is the default value.",
            "The managed table is a BigQuery table for Apache Iceberg (formerly BigLake managed tables), with a BigLake configuration."
          ],
          "enum": [
            "MANAGED_TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "BIGLAKE"
          ],
          "description": "The classification of the destination table.",
          "type": "string"
        },
        "params": {
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "scheduleOptions": {
          "$ref": "ScheduleOptions",
          "description": "Options customizing the data transfer schedule."
        },
        "dataRefreshWindowDays": {
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value.",
          "format": "int32",
          "type": "integer"
        },
        "disabled": {
          "type": "boolean",
          "description": "Is this config disabled. When set to true, no runs will be scheduled for this transfer config."
        },
        "datasetRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region in which BigQuery dataset is located."
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "description": "Output only. State of the most recently updated transfer run.",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "emailPreferences": {
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config.",
          "$ref": "EmailPreferences"
        },
        "paramConfig": {
          "description": "Optional. The config for values in `params`.",
          "$ref": "ParameterConfig"
        },
        "schedule": {
          "type": "string",
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source."
        },
        "dataSourceId": {
          "type": "string",
          "description": "Data source ID. This cannot be changed once data transfer is created. The full list of available data source IDs can be returned through an API call: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list"
        },
        "error": {
          "description": "Output only. Error code with detailed information about reason of the latest config failure.",
          "$ref": "Status",
          "readOnly": true
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
          "type": "string"
        },
        "scheduleOptionsV2": {
          "$ref": "ScheduleOptionsV2",
          "description": "Options customizing different types of data transfer schedule. This field replaces \"schedule\" and \"schedule_options\" fields. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
        },
        "metadataDestination": {
          "description": "The metadata destination of the transfer config.",
          "$ref": "MetadataDestination"
        },
        "ownerInfo": {
          "readOnly": true,
          "$ref": "UserInfo",
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated."
        },
        "userId": {
          "format": "int64",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "type": "string"
        },
        "nextRunTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Next time when data transfer will run.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "TransferConfig"
    },
    "TableDetail": {
      "id": "TableDetail",
      "description": "Table details related to hierarchy.",
      "type": "object",
      "properties": {
        "partitionCount": {
          "format": "int64",
          "description": "Optional. Total number of partitions being tracked within the table.",
          "type": "string"
        }
      }
    },
    "TransferRunBrief": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Start time of the transfer run.",
          "type": "string"
        },
        "run": {
          "type": "string",
          "description": "Optional. Run URI. The format must be: `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/run/{run}`"
        }
      },
      "id": "TransferRunBrief",
      "type": "object",
      "description": "Basic information about a transfer run."
    },
    "TransferStatusSummary": {
      "type": "object",
      "id": "TransferStatusSummary",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "TransferStatusMetric"
          },
          "description": "Optional. List of transfer status metrics."
        },
        "progressUnit": {
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "type": "string",
          "description": "Input only. Unit based on which transfer status progress should be calculated.",
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ]
        }
      },
      "description": "Status summary of the resource being transferred."
    },
    "ListTransferConfigsResponse": {
      "properties": {
        "transferConfigs": {
          "description": "Output only. The stored pipeline transfer configurations.",
          "items": {
            "$ref": "TransferConfig"
          },
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListTransferConfigsResponse",
      "type": "object",
      "description": "The returned list of pipelines in the project."
    },
    "CheckValidCredsRequest": {
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id.",
      "id": "CheckValidCredsRequest",
      "properties": {},
      "type": "object"
    },
    "UserInfo": {
      "properties": {
        "email": {
          "type": "string",
          "description": "E-mail address of the user."
        }
      },
      "description": "Information about a user.",
      "id": "UserInfo",
      "type": "object"
    },
    "HierarchyDetail": {
      "type": "object",
      "id": "HierarchyDetail",
      "properties": {
        "partitionDetail": {
          "$ref": "PartitionDetail",
          "description": "Optional. Partition details related to hierarchy."
        },
        "tableDetail": {
          "$ref": "TableDetail",
          "description": "Optional. Table details related to hierarchy."
        }
      },
      "description": "Details about the hierarchy."
    },
    "ListTransferRunsResponse": {
      "type": "object",
      "id": "ListTransferRunsResponse",
      "properties": {
        "transferRuns": {
          "description": "Output only. The stored pipeline transfer runs.",
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The returned list of pipelines in the project."
    },
    "TransferResource": {
      "properties": {
        "latestRun": {
          "$ref": "TransferRunBrief",
          "description": "Optional. Run details for the latest run."
        },
        "hierarchyDetail": {
          "description": "Optional. Details about the hierarchy.",
          "$ref": "HierarchyDetail"
        },
        "name": {
          "description": "Identifier. Resource name.",
          "type": "string"
        },
        "latestStatusDetail": {
          "description": "Optional. Status details for the latest run.",
          "$ref": "TransferResourceStatusDetail"
        },
        "updateTime": {
          "description": "Output only. Time when the resource was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "destination": {
          "description": "Optional. Resource destination.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "BigQuery.",
            "Dataproc Metastore.",
            "BigLake Metastore.",
            "BigLake REST Catalog.",
            "BigLake Hive Catalog."
          ],
          "enum": [
            "RESOURCE_DESTINATION_UNSPECIFIED",
            "RESOURCE_DESTINATION_BIGQUERY",
            "RESOURCE_DESTINATION_DATAPROC_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_REST_CATALOG",
            "RESOURCE_DESTINATION_BIGLAKE_HIVE_CATALOG"
          ]
        },
        "lastSuccessfulRun": {
          "description": "Output only. Run details for the last successful run.",
          "$ref": "TransferRunBrief",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Table resource type.",
            "Partition resource type."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_TABLE",
            "RESOURCE_TYPE_PARTITION"
          ],
          "description": "Optional. Resource type.",
          "type": "string"
        }
      },
      "id": "TransferResource",
      "description": "Resource (table/partition) that is being transferred.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ScheduleOptionsV2": {
      "type": "object",
      "properties": {
        "manualSchedule": {
          "description": "Manual transfer schedule. If set, the transfer run will not be auto-scheduled by the system, unless the client invokes StartManualTransferRuns. This is equivalent to disable_auto_scheduling = true.",
          "$ref": "ManualSchedule"
        },
        "eventDrivenSchedule": {
          "description": "Event driven transfer schedule options. If set, the transfer will be scheduled upon events arrial.",
          "$ref": "EventDrivenSchedule"
        },
        "timeBasedSchedule": {
          "description": "Time based transfer schedule options. This is the default schedule option.",
          "$ref": "TimeBasedSchedule"
        }
      },
      "id": "ScheduleOptionsV2",
      "description": "V2 options customizing different types of data transfer schedule. This field supports existing time-based and manual transfer schedule. Also supports Event-Driven transfer schedule. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
    },
    "ScheduleTransferRunsRequest": {
      "description": "A request to schedule transfer runs for a time range.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`."
        }
      },
      "id": "ScheduleTransferRunsRequest"
    },
    "DataplexConfiguration": {
      "type": "object",
      "properties": {
        "entryGroup": {
          "type": "string",
          "description": "Required. The Dataplex Universal Catalog entry group for importing the metadata. entry_group has the format of `projects/{project_id}/locations/{region}/entryGroups/{entry_group_id}`."
        }
      },
      "description": "Configuration for Dataplex destination.",
      "id": "DataplexConfiguration"
    },
    "TransferRun": {
      "type": "object",
      "id": "TransferRun",
      "description": "Represents a data transfer run.",
      "properties": {
        "emailPreferences": {
          "$ref": "EmailPreferences",
          "readOnly": true,
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from."
        },
        "destinationDatasetId": {
          "readOnly": true,
          "description": "Output only. The BigQuery target dataset id.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests."
        },
        "userId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done."
        },
        "state": {
          "description": "Data transfer run state. Ignored for input requests.",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last time the data transfer run state was updated.",
          "type": "string"
        },
        "dataSourceId": {
          "readOnly": true,
          "description": "Output only. Data source id.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests."
        },
        "scheduleTime": {
          "description": "Minimum time after which a transfer run can be started.",
          "type": "string",
          "format": "google-datetime"
        },
        "schedule": {
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this.",
          "readOnly": true,
          "type": "string"
        },
        "parameterConfig": {
          "description": "Output only. The parameter config of the transfer run.",
          "readOnly": true,
          "$ref": "ParameterConfig"
        },
        "errorStatus": {
          "description": "Status of the transfer run.",
          "$ref": "Status"
        },
        "notificationPubsubTopic": {
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string",
          "readOnly": true
        },
        "runTime": {
          "type": "string",
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested.",
          "format": "google-datetime"
        },
        "params": {
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "TimeBasedSchedule": {
      "description": "Options customizing the time based transfer schedule. Options are migrated from the original ScheduleOptions message.",
      "id": "TimeBasedSchedule",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment.",
          "type": "string"
        },
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment.",
          "format": "google-datetime",
          "type": "string"
        },
        "schedule": {
          "type": "string",
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source."
        }
      }
    },
    "ParameterConfig": {
      "properties": {
        "secretManagerManagedParams": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of parameters that are stored in Secret Manager. The value of a parameter included in this list will be interpreted as a Secret Manager key version resource name instead of a raw value. The raw value will be retrieved from Secret Manager upon execution.",
          "type": "array"
        }
      },
      "description": "Configuration for data source parameters.",
      "type": "object",
      "id": "ParameterConfig"
    },
    "DataSource": {
      "id": "DataSource",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "Data source parameters.",
          "type": "array"
        },
        "authorizationType": {
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ],
          "description": "Indicates the type of authorization.",
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth."
          ],
          "type": "string"
        },
        "scopes": {
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRefreshType": {
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically.",
          "type": "string",
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ],
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Data source client id which should be used to receive refresh token."
        },
        "updateDeadlineSeconds": {
          "format": "int32",
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED.",
          "type": "integer"
        },
        "defaultSchedule": {
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`.",
          "type": "string"
        },
        "dataSourceId": {
          "type": "string",
          "description": "Data source id."
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "defaultDataRefreshWindowDays": {
          "type": "integer",
          "format": "int32",
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`."
        },
        "supportsCustomSchedule": {
          "type": "boolean",
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule."
        },
        "description": {
          "description": "User friendly data source description string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Data source resource name.",
          "readOnly": true
        },
        "manualRunsDisabled": {
          "description": "Disables backfilling and manual run scheduling for the data source.",
          "type": "boolean"
        },
        "transferType": {
          "type": "string",
          "description": "Deprecated. This field has no effect.",
          "deprecated": true,
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ],
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ]
        },
        "helpUrl": {
          "description": "Url for the help document for this data source.",
          "type": "string"
        },
        "supportsMultipleTransfers": {
          "type": "boolean",
          "description": "Deprecated. This field has no effect.",
          "deprecated": true
        },
        "minimumScheduleInterval": {
          "description": "The minimum interval for scheduler to schedule runs.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Defines the properties and custom parameters for a data source.",
      "type": "object"
    },
    "ListDataSourcesResponse": {
      "properties": {
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "List of supported data sources and their transfer settings.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results."
        }
      },
      "type": "object",
      "description": "Returns list of supported data sources and their metadata.",
      "id": "ListDataSourcesResponse"
    },
    "EncryptionConfiguration": {
      "type": "object",
      "id": "EncryptionConfiguration",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the KMS key used for encrypting BigQuery data.",
          "type": "string"
        }
      },
      "description": "Represents the encryption configuration for a transfer."
    },
    "StartManualTransferRunsResponse": {
      "type": "object",
      "description": "A response to start manual transfer runs.",
      "properties": {
        "runs": {
          "type": "array",
          "description": "The transfer runs that were created.",
          "items": {
            "$ref": "TransferRun"
          }
        }
      },
      "id": "StartManualTransferRunsResponse"
    },
    "ScheduleTransferRunsResponse": {
      "description": "A response to schedule transfer runs for a time range.",
      "properties": {
        "runs": {
          "description": "The transfer runs that were scheduled.",
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array"
        }
      },
      "id": "ScheduleTransferRunsResponse",
      "type": "object"
    },
    "ListTransferLogsResponse": {
      "id": "ListTransferLogsResponse",
      "type": "object",
      "description": "The returned list transfer run messages.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `GetTransferRunLogRequest.page_token` to request the next page of list results.",
          "readOnly": true
        },
        "transferMessages": {
          "type": "array",
          "items": {
            "$ref": "TransferMessage"
          },
          "readOnly": true,
          "description": "Output only. The stored pipeline transfer messages."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "enrollDataSources": {
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "EnrollDataSourcesRequest"
          },
          "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the project resource in the form: `projects/{project_id}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectsId}:enrollDataSources",
          "path": "v1/{+name}:enrollDataSources",
          "httpMethod": "POST",
          "id": "bigquerydatatransfer.projects.enrollDataSources",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "dataSources": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+parent}/dataSources",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/dataSources",
              "description": "Lists supported data sources and returns their settings.",
              "id": "bigquerydatatransfer.projects.dataSources.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "checkValidCreds": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
              "path": "v1/{+name}:checkValidCreds",
              "response": {
                "$ref": "CheckValidCredsResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`"
                }
              },
              "request": {
                "$ref": "CheckValidCredsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "description": "Returns true if valid credentials exist for the given data source and requesting user.",
              "httpMethod": "POST"
            },
            "get": {
              "description": "Retrieves a supported data source and returns its settings.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`"
                }
              },
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "DataSource"
              },
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "methods": {
            "unenrollDataSources": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:unenrollDataSources",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:unenrollDataSources",
              "id": "bigquerydatatransfer.projects.locations.unenrollDataSources",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The name of the project resource in the form: `projects/{project_id}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "UnenrollDataSourcesRequest"
              },
              "description": "Unenroll data sources in a user project. This allows users to remove transfer configurations for these data sources. They will no longer appear in the ListDataSources RPC and will also no longer appear in the [BigQuery UI](https://console.cloud.google.com/bigquery). Data transfers configurations of unenrolled data sources will not be scheduled.",
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.locations.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "GET"
            },
            "enrollDataSources": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollDataSources",
              "request": {
                "$ref": "EnrollDataSourcesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:enrollDataSources",
              "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
              "id": "bigquerydatatransfer.projects.locations.enrollDataSources",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "dataSources": {
              "methods": {
                "checkValidCreds": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:checkValidCreds",
                  "description": "Returns true if valid credentials exist for the given data source and requesting user.",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dataSources",
                  "description": "Lists supported data sources and returns their settings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                  "description": "Retrieves a supported data source and returns its settings.",
                  "response": {
                    "$ref": "DataSource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                }
              }
            },
            "transferConfigs": {
              "resources": {
                "runs": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.get",
                      "response": {
                        "$ref": "TransferRun"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Returns information about the particular transfer run.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.list",
                      "response": {
                        "$ref": "ListTransferRunsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs",
                      "path": "v1/{+parent}/runs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns information about running and completed transfer runs.",
                      "parameters": {
                        "states": {
                          "description": "When specified, only transfer runs with requested states are returned.",
                          "location": "query",
                          "repeated": true,
                          "type": "string",
                          "enumDescriptions": [
                            "State placeholder (0).",
                            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                            "Data transfer is in progress (3).",
                            "Data transfer completed successfully (4).",
                            "Data transfer failed (5).",
                            "Data transfer is cancelled (6)."
                          ],
                          "enum": [
                            "TRANSFER_STATE_UNSPECIFIED",
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "CANCELLED"
                          ]
                        },
                        "runAttempt": {
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "All runs should be returned.",
                            "Only latest run per day should be returned."
                          ],
                          "enum": [
                            "RUN_ATTEMPT_UNSPECIFIED",
                            "LATEST"
                          ],
                          "description": "Indicates how run attempts are to be pulled."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Page size. The default page size is the maximum value of 1000 results."
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "type": "string"
                        }
                      },
                      "description": "Deletes the specified transfer run.",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "transferLogs": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListTransferLogsResponse"
                          },
                          "description": "Returns log messages for the transfer run.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                          "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.transferLogs.list",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/bigquery",
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "path": "v1/{+parent}/transferLogs",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                              "type": "string"
                            },
                            "messageTypes": {
                              "enum": [
                                "MESSAGE_SEVERITY_UNSPECIFIED",
                                "INFO",
                                "WARNING",
                                "ERROR"
                              ],
                              "repeated": true,
                              "enumDescriptions": [
                                "No severity specified.",
                                "Informational message.",
                                "Warning message.",
                                "Error message."
                              ],
                              "location": "query",
                              "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Page size. The default page size is the maximum value of 1000 results."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  }
                },
                "transferResources": {
                  "methods": {
                    "get": {
                      "description": "Returns a transfer resource.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "TransferResource"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                          "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.transferResources.get"
                    },
                    "list": {
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.transferResources.list",
                      "path": "v1/{+parent}/transferResources",
                      "description": "Returns information about transfer resources.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTransferResourcesResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/transferResources",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "scheduleRuns": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                  "request": {
                    "$ref": "ScheduleTransferRunsRequest"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.scheduleRuns",
                  "response": {
                    "$ref": "ScheduleTransferRunsResponse"
                  },
                  "deprecated": true,
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`"
                    }
                  },
                  "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
                  "path": "v1/{+parent}:scheduleRuns"
                },
                "startManualRuns": {
                  "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "StartManualTransferRunsRequest"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.startManualRuns",
                  "parameters": {
                    "parent": {
                      "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:startManualRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "StartManualTransferRunsResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}:startManualRuns"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "description": "Returns information about a data transfer config."
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer"
                    },
                    "dataSourceIds": {
                      "repeated": true,
                      "location": "query",
                      "description": "When specified, only configurations of requested data sources are returned.",
                      "type": "string"
                    }
                  },
                  "description": "Returns information about all transfer configs owned by a project in the specified location.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferConfigsResponse"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "path": "v1/{+parent}/transferConfigs"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "serviceAccountName": {
                      "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
                    },
                    "authorizationCode": {
                      "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "type": "string",
                      "location": "query",
                      "deprecated": true
                    },
                    "updateMask": {
                      "description": "Required. Required list of fields to be updated in this request.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "versionInfo": {
                      "type": "string",
                      "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new data transfer configuration.",
                  "request": {
                    "$ref": "TransferConfig"
[...]
