{
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "asia-south1",
      "endpointUrl": "https://bigquery.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://bigquery.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://bigquery.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://bigquery.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://bigquery.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://bigquery.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquery.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://bigquery.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://bigquery.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://bigquery.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquery.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://bigquery.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://bigquery.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://bigquery.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://bigquery.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "resources": {
    "datasets": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of dataset being deleted"
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the dataset being deleted"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name. # IAM Permissions Requires the `bigquery.datasets.delete` permission on the dataset."
        },
        "patch": {
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports RFC5789 patch semantics. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.datasets.update` on the dataset. - `bigquery.datasets.get` on the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.patch",
          "request": {
            "$ref": "Dataset"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "accessPolicyVersion": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
              "format": "int32"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the dataset being updated"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the dataset being updated",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "updateMode": {
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The default value. Default to the UPDATE_FULL.",
                "Includes metadata information for the dataset, such as friendlyName, description, labels, etc.",
                "Includes ACL information for the dataset, which defines dataset access for one or more entities.",
                "Includes both dataset metadata and ACL information."
              ],
              "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated."
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "undelete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}:undelete",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of dataset being deleted"
            },
            "projectId": {
              "description": "Required. Project ID of the dataset to be undeleted",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}:undelete",
          "description": "Undeletes a dataset which is within time travel window based on datasetId. If a time is specified, the dataset version deleted at that time is undeleted, else the last live version is undeleted. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.datasets.create` on the project. - `bigquery.datasets.get` on the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.undelete",
          "request": {
            "$ref": "UndeleteDatasetRequest"
          }
        },
        "insert": {
          "flatPath": "projects/{projectsId}/datasets",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "accessPolicyVersion": {
              "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Requests with conditional access policy binding in datasets must specify version 3. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "projectId": {
              "description": "Required. Project ID of the new dataset",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "description": "Creates a new empty dataset. # IAM Permissions Requires the `bigquery.datasets.create` permission on the project.",
          "path": "projects/{+projectId}/datasets",
          "id": "bigquery.datasets.insert",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "description": "Lists all datasets in the specified project to which the user has been granted the READER dataset role. # IAM Permissions Requires no specific IAM permission(s) to use this method. Results are filtered to only include datasets on which the caller has the `bigquery.datasets.get` permission.",
          "path": "projects/{+projectId}/datasets",
          "id": "bigquery.datasets.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets",
          "response": {
            "$ref": "DatasetList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the datasets to be listed"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is `labels.[:]`. Multiple filters can be AND-ed together by connecting with a space. Example: `labels.department:receiving labels.active`. See [Filtering datasets using labels](https://cloud.google.com/bigquery/docs/filtering-labels#filtering_datasets_using_labels) for details."
            },
            "all": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to list all datasets, including hidden ones"
            }
          },
          "httpMethod": "GET"
        },
        "get": {
          "id": "bigquery.datasets.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the dataset specified by datasetID. # IAM Permissions Requires the `bigquery.datasets.get` permission on the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the requested dataset"
            },
            "accessPolicyVersion": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The version of the access policy schema to fetch. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for conditional access policy binding in datasets must specify version 3. Dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. This field will be mapped to [IAM Policy version] (https://cloud.google.com/iam/docs/policies#versions) and will be used to fetch policy from IAM. If unset or if 0 or 1 value is used for dataset with conditional bindings, access entry with condition will have role string appended by 'withcond' string followed by a hash value. For example : { \"access\": [ { \"role\": \"roles/bigquery.dataViewer_with_conditionalbinding_7a34awqsda\", \"userByEmail\": \"user@example.com\", } ] } Please refer https://cloud.google.com/iam/docs/troubleshooting-withcond for more details.",
              "format": "int32"
            },
            "datasetView": {
              "location": "query",
              "type": "string",
              "description": "Optional. Specifies the view that determines which dataset information is returned. By default, metadata and ACL information are returned.",
              "enumDescriptions": [
                "The default value. Default to the FULL view.",
                "View metadata information for the dataset, such as friendlyName, description, labels, etc.",
                "View ACL information for the dataset, which defines dataset access for one or more entities.",
                "View both dataset metadata and ACL information."
              ],
              "enum": [
                "DATASET_VIEW_UNSPECIFIED",
                "METADATA",
                "ACL",
                "FULL"
              ]
            },
            "projectId": {
              "description": "Required. Project ID of the requested dataset",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "response": {
            "$ref": "Dataset"
          }
        },
        "update": {
          "parameters": {
            "accessPolicyVersion": {
              "format": "int32",
              "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
              "location": "query",
              "type": "integer"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the dataset being updated"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the dataset being updated"
            },
            "updateMode": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The default value. Default to the UPDATE_FULL.",
                "Includes metadata information for the dataset, such as friendlyName, description, labels, etc.",
                "Includes ACL information for the dataset, which defines dataset access for one or more entities.",
                "Includes both dataset metadata and ACL information."
              ],
              "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated.",
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ]
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.update",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. # IAM Permissions Requires the `bigquery.datasets.update` permission on the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}"
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "description": "Deletes the model specified by modelId from the dataset. # IAM Permissions Requires the `bigquery.models.delete` permission on the model.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.delete",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the model to delete."
            },
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Model ID of the model to delete."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.models.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method. # IAM Permissions Requires the `bigquery.models.list` permission on the dataset.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the models to list."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "response": {
            "$ref": "ListModelsResponse"
          }
        },
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "response": {
            "$ref": "Model"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "modelId": {
              "description": "Required. Model ID of the model to patch.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the model to patch."
            },
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Patch specific fields in the specified model. # IAM Permissions Requires the `bigquery.models.updateMetadata` permission on the model.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Model"
          },
          "id": "bigquery.models.patch"
        },
        "get": {
          "id": "bigquery.models.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the specified model resource by model ID. # IAM Permissions Requires the `bigquery.models.getMetadata` permission on the model.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the requested model."
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the requested model."
            },
            "modelId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Model ID of the requested model."
            }
          },
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "response": {
            "$ref": "Model"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "flatPath": "projects/{projectsId}/serviceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. ID of the project."
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{+projectId}/serviceAccount",
          "description": "RPC to get the service account for a project used for interactions with Google Cloud KMS. Requires the `bigquery.jobs.create` permission on the project resource. This permission is required to authorize the retrieval of the project's service identity for technical management tasks like encryption configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.projects.getServiceAccount"
        },
        "list": {
          "path": "projects",
          "description": "RPC to list projects to which the user has been granted any project role. Users of this method are encouraged to consider the [Resource Manager](https://cloud.google.com/resource-manager/docs/) API, which provides the underlying data for this method and has more capabilities. # IAM Permissions Requires no specific IAM permission(s) to use this method. The results are filtered to only include projects on which the caller has been granted a project-level role such as a BigQuery predefined IAM role or a basic role such as Viewer or Owner.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.projects.list",
          "flatPath": "projects",
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "`maxResults` unset returns all results, up to 50 per page. Additionally, the number of projects in a page may be fewer than `maxResults` because projects are retrieved and then filtered to only projects with the BigQuery API enabled.",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results. If not present, no further pages are present."
            }
          },
          "parameterOrder": []
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "get": {
          "parameters": {
            "policyId": {
              "description": "Required. Policy ID of the row access policy.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the table to get the row access policy.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "tableId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Table ID of the table to get the row access policy."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the table to get the row access policy.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId",
            "policyId"
          ],
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}",
          "response": {
            "$ref": "RowAccessPolicy"
          },
          "id": "bigquery.rowAccessPolicies.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the specified row access policy by policy ID. # IAM Permissions Requires the `bigquery.rowAccessPolicies.get` permission on the table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies/{+policyId}"
        },
        "update": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}",
          "response": {
            "$ref": "RowAccessPolicy"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId",
            "policyId"
          ],
          "parameters": {
            "policyId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Policy ID of the row access policy."
            },
            "projectId": {
              "description": "Required. Project ID of the table to get the row access policy.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the table to get the row access policy.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the table to get the row access policy.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies/{+policyId}",
          "description": "Updates a row access policy. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.update` - `bigquery.rowAccessPolicies.setIamPolicy` - `bigquery.tables.getData`",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "RowAccessPolicy"
          },
          "id": "bigquery.rowAccessPolicies.update"
        },
        "getIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          }
        },
        "insert": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "description": "Creates a row access policy. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.create` - `bigquery.rowAccessPolicies.setIamPolicy` - `bigquery.tables.getData`",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.rowAccessPolicies.insert",
          "request": {
            "$ref": "RowAccessPolicy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "response": {
            "$ref": "RowAccessPolicy"
          },
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the table to get the row access policy."
            },
            "projectId": {
              "description": "Required. Project ID of the table to get the row access policy.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "tableId": {
              "description": "Required. Table ID of the table to get the row access policy.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "list": {
          "parameters": {
            "tableId": {
              "description": "Required. Table ID of the table to list row access policies.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of row access policies to list.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the row access policies to list.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "id": "bigquery.rowAccessPolicies.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all row access policies on the specified table. # IAM Permissions Requires the `bigquery.rowAccessPolicies.list` permission on the table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies"
        },
        "batchDelete": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies:batchDelete",
          "description": "Deletes provided row access policies. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.delete` - `bigquery.rowAccessPolicies.setIamPolicy`",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.rowAccessPolicies.batchDelete",
          "request": {
            "$ref": "BatchDeleteRowAccessPoliciesRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies:batchDelete",
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the table to delete the row access policies.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the table to delete the row access policies.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the table to delete the row access policies.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId",
            "policyId"
          ],
          "id": "bigquery.rowAccessPolicies.delete",
          "parameters": {
            "tableId": {
              "description": "Required. Table ID of the table to delete the row access policy.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "force": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, it deletes the row access policy even if it's the last row access policy on the table and the deletion will widen the access rather narrowing it."
            },
            "policyId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Policy ID of the row access policy."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the table to delete the row access policy.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the table to delete the row access policy."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies/{+policyId}",
          "description": "Deletes a row access policy. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.delete` - `bigquery.rowAccessPolicies.setIamPolicy`"
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "{+resource}:testIamPermissions"
        }
      }
    },
    "routines": {
      "methods": {
        "get": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "description": "Gets the specified routine resource by routine ID. # IAM Permissions Requires the `bigquery.routines.get` permission on the routine.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.get",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the requested routine",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of the requested routine",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query",
              "type": "string"
            },
            "routineId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the requested routine"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the routine to update",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "routineId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the routine to update"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.update",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource. # IAM Permissions Requires the `bigquery.routines.update` permission on the routine."
        },
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the routines to list"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the routines to list"
            },
            "readMask": {
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "If set, then only the Routines matching this filter are returned. The supported format is `routineType:{RoutineType}`, where `{RoutineType}` is a RoutineType enum. For example: `routineType:SCALAR_FUNCTION`."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role. # IAM Permissions Requires the `bigquery.routines.list` permission on the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.list"
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
        },
        "insert": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Creates a new routine in the dataset. # IAM Permissions Requires the `bigquery.routines.create` permission on the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the new routine"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "{+resource}:setIamPolicy",
          "id": "bigquery.routines.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "description": "Deletes the routine specified by routineId from the dataset. # IAM Permissions Requires the `bigquery.routines.delete` permission on the routine.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.delete",
          "parameters": {
            "routineId": {
              "description": "Required. Routine ID of the routine to delete",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the routine to delete"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the routine to delete",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "testIamPermissions": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "id": "bigquery.tables.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table. # IAM Permissions Requires the `bigquery.tables.get` permission on the table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the requested table",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the requested table"
            },
            "view": {
              "enum": [
                "TABLE_METADATA_VIEW_UNSPECIFIED",
                "BASIC",
                "STORAGE_STATS",
                "FULL"
              ],
              "description": "Optional. Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "enumDescriptions": [
                "The default value. Default to the STORAGE_STATS view.",
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future."
              ],
              "location": "query",
              "type": "string"
            },
            "selectedFields": {
              "description": "List of table schema fields to return (comma-separated). If unspecified, all fields are returned. A fieldMask cannot be used here because the fields will automatically be converted from camelCase to snake_case and the conversion will fail if there are underscores. Since these are fields in BigQuery table schemas, underscores are allowed.",
              "location": "query",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Table ID of the requested table"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "response": {
            "$ref": "Table"
          }
        },
        "delete": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted. # IAM Permissions Requires the `bigquery.tables.delete` permission on the table.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.delete",
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the table to delete"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the table to delete"
            },
            "tableId": {
              "description": "Required. Table ID of the table to delete",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "id": "bigquery.tables.setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
        },
        "update": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire Table resource, whereas the patch method only replaces fields that are provided in the submitted Table resource. # IAM Permissions Requires the `bigquery.tables.update` permission on the table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "autodetect_schema": {
              "description": "Optional.  When true will autodetect schema, else will keep original schema",
              "location": "query",
              "type": "boolean"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the table to update",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "projectId": {
              "description": "Required. Project ID of the table to update",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Table ID of the table to update"
            }
          }
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
        },
        "insert": {
          "description": "Creates a new, empty table in the dataset. # IAM Permissions Requires the `bigquery.tables.create` permission on the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables",
          "id": "bigquery.tables.insert",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables",
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the new table"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the new table"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role. # IAM Permissions Requires the `bigquery.tables.list` permission on the dataset.",
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the tables to list",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "description": "Required. Project ID of the tables to list",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables",
          "response": {
            "$ref": "TableList"
          }
        },
        "testIamPermissions": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true
            }
          },
          "path": "{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "bigquery.tables.testIamPermissions"
        },
        "patch": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports RFC5789 patch semantics. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.tables.update` - `bigquery.tables.get`",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.patch",
          "request": {
            "$ref": "Table"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "autodetect_schema": {
              "location": "query",
              "type": "boolean",
              "description": "Optional.  When true will autodetect schema, else will keep original schema"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the table to update",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the table to update",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the table to update",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        }
      }
    },
    "jobs": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "flatPath": "projects/{projectsId}/jobs",
          "response": {
            "$ref": "Job"
          },
          "parameters": {
            "projectId": {
              "description": "Project ID of project that will be billed for the job.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "description": "Starts a new asynchronous job. This API has two different kinds of endpoint URIs, as this method supports a variety of use cases. * The *Metadata* URI is used for most interactions, as it accepts the job configuration directly. * The *Upload* URI is ONLY for the case when you're sending both a load job configuration and a data stream together. In this case, the Upload URI accepts the job configuration and the data as two distinct multipart MIME parts. # IAM Permissions Requires the `bigquery.jobs.create` permission on the project resource. Additional permissions are required depending on the job type: - **Load, Export, and Copy jobs**: Generally require data-level permissions such as `bigquery.tables.export` or access to external storage. - **Query jobs**: Permissions are dependent on the SQL statement. Complex queries (DDL, DCL) may require additional permissions to create reservations, modify IAM policies, or update project settings.",
          "path": "projects/{+projectId}/jobs",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{+projectId}/jobs"
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{+projectId}/jobs",
                "multipart": true
              }
            }
          },
          "id": "bigquery.jobs.insert",
          "request": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "cancel": {
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/cancel",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the job to cancel",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "jobId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Job ID of the job to cancel"
            },
            "location": {
              "description": "The geographic location of the job. You must [specify the location](https://cloud.google.com/bigquery/docs/locations#specify_locations) to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`)",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs. # IAM Permissions Requires the `bigquery.jobs.update` permission on the job resource. If the user matches the creator of the job, the `bigquery.jobs.create` permission on the project is required instead.",
          "path": "projects/{+projectId}/jobs/{+jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "path": "projects/{+projectId}/jobs",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property. # IAM Permissions Requires no specific IAM permission(s) to use this method. Users are able to list the jobs they created. Additional access is granted based on the following permissions: - Users with the `bigquery.jobs.listAll` permission can list all jobs with all metadata. - Users with the `bigquery.jobs.list` permission can list all jobs, but with redacted information for jobs they did not create.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.list",
          "flatPath": "projects/{projectsId}/jobs",
          "response": {
            "$ref": "JobList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "minCreationTime": {
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "stateFilter": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "description": "Filter for job state",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "repeated": true
            },
            "projectId": {
              "description": "Project ID of the jobs to list.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "allUsers": {
              "description": "Whether to display jobs owned by all users in the project. Default False.",
              "location": "query",
              "type": "boolean"
            },
            "parentJobId": {
              "description": "If set, show only child jobs of the specified parent. Otherwise, show all top-level jobs.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "location": "query",
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "type": "integer"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the requested job.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
            },
            "jobId": {
              "description": "Required. Job ID of the requested job.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/jobs/{jobsId}",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.get",
          "path": "projects/{+projectId}/jobs/{+jobId}",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role. # IAM Permissions Requires the `bigquery.jobs.get` permission on the job resource. If the user matches the creator of the job, the `bigquery.jobs.create` permission on the project is required instead."
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.delete",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the job for which metadata is to be deleted."
            },
            "jobId": {
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "The geographic location of the job. Required. For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations).",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted. # IAM Permissions Requires the `bigquery.jobs.delete` permission on the job resource.",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete"
        },
        "getQueryResults": {
          "description": "RPC to get the results of a query job. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.jobs.get` on the job. - `bigquery.tables.getData` on the destination table. If the user matches the creator of the job, the following IAM permission(s) are required instead: - `bigquery.jobs.create` on the project. - `bigquery.tables.getData` on the destination table.",
          "path": "projects/{+projectId}/queries/{+jobId}",
          "id": "bigquery.jobs.getQueryResults",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/queries/{queriesId}",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to read.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "formatOptions.useInt64Timestamp": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Output timestamp as usec int64. Default is false."
            },
            "startIndex": {
              "description": "Zero-based index of the starting row.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query",
              "type": "string"
            },
            "formatOptions.timestampOutputFormat": {
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ],
              "enumDescriptions": [
                "Corresponds to default API output behavior, which is FLOAT64.",
                "Timestamp is output as float64 seconds since Unix epoch.",
                "Timestamp is output as int64 microseconds since Unix epoch.",
                "Timestamp is output as ISO 8601 String (\"YYYY-MM-DDTHH:MM:SS.FFFFFFFFFFFFZ\")."
              ],
              "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the query job."
            },
            "timeoutMs": {
              "location": "query",
              "type": "integer",
              "description": "Optional: Specifies the maximum amount of time, in milliseconds, that the client is willing to wait for the query to complete. By default, this limit is 10 seconds (10,000 milliseconds). If the query is complete, the jobComplete field in the response is true. If the query has not yet completed, jobComplete is false. You can request a longer timeout period in the timeoutMs field. However, the call is not guaranteed to wait for the specified timeout; it typically returns after around 200 seconds (200,000 milliseconds), even if the query is not complete. If jobComplete is false, you can continue to wait for the query to complete by calling the getQueryResults method until the jobComplete field in the getQueryResults response is true.",
              "format": "uint32"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
            },
            "jobId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Job ID of the query job."
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET"
        },
        "query": {
          "id": "bigquery.jobs.query",
          "request": {
            "$ref": "QueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout. # IAM Permissions Requires the `bigquery.jobs.create` permission on the project resource. Data-level permissions are highly dependent on the SQL statement being executed. While standard queries require data access (such as `bigquery.tables.getData`), complex operations like DDL or DCL may require permissions to manage reservations, IAM policies, or project settings.",
          "path": "projects/{+projectId}/queries",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the query request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/queries",
          "response": {
            "$ref": "QueryResponse"
          }
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "id": "bigquery.tabledata.insertAll",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.tables.updateData` on the table. - `bigquery.tables.get` on the table. - `bigquery.datasets.get` on the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/insertAll",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the destination.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the destination.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the destination."
            }
          },
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          }
        },
        "list": {
          "id": "bigquery.tabledata.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "List the content of a table in rows. # IAM Permissions Requires the `bigquery.tables.getData` permission on the table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/data",
          "parameters": {
            "maxResults": {
              "description": "Row limit of the table.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Table id of the table to list."
            },
            "formatOptions.useInt64Timestamp": {
              "description": "Optional. Output timestamp as usec int64. Default is false.",
              "location": "query",
              "type": "boolean"
            },
            "startIndex": {
              "location": "query",
              "type": "string",
              "description": "Start row index of the table.",
              "format": "uint64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "To retrieve the next page of table data, set this field to the string provided in the pageToken field of the response body from your previous call to tabledata.list."
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset id of the table to list."
            },
            "selectedFields": {
[...]
