{
  "batchPath": "batch/bigquery/v2",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260811",
  "id": "bigquery:v2",
  "name": "bigquery",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "basePath": "/bigquery/v2/",
  "title": "BigQuery API",
  "resources": {
    "rowAccessPolicies": {
      "methods": {
        "update": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies/{+policyId}",
          "id": "bigquery.rowAccessPolicies.update",
          "response": {
            "$ref": "RowAccessPolicy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}",
          "request": {
            "$ref": "RowAccessPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the table to get the row access policy."
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the table to get the row access policy.",
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the table to get the row access policy.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "policyId": {
              "type": "string",
              "description": "Required. Policy ID of the row access policy.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId",
            "policyId"
          ],
          "httpMethod": "PUT",
          "description": "Updates a row access policy. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.update` - `bigquery.rowAccessPolicies.setIamPolicy` - `bigquery.tables.getData`"
        },
        "batchDelete": {
          "id": "bigquery.rowAccessPolicies.batchDelete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies:batchDelete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the table to delete the row access policies.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the table to delete the row access policies.",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Table ID of the table to delete the row access policies.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies:batchDelete",
          "request": {
            "$ref": "BatchDeleteRowAccessPoliciesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Deletes provided row access policies. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.delete` - `bigquery.rowAccessPolicies.setIamPolicy`"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId",
            "policyId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a row access policy. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.delete` - `bigquery.rowAccessPolicies.setIamPolicy`",
          "parameters": {
            "force": {
              "description": "If set to true, it deletes the row access policy even if it's the last row access policy on the table and the deletion will widen the access rather narrowing it.",
              "location": "query",
              "type": "boolean"
            },
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the table to delete the row access policy.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "policyId": {
              "description": "Required. Policy ID of the row access policy.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the table to delete the row access policy.",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the table to delete the row access policy.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "bigquery.rowAccessPolicies.delete",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies/{+policyId}"
        },
        "list": {
          "description": "Lists all row access policies on the specified table. # IAM Permissions Requires the `bigquery.rowAccessPolicies.list` permission on the table.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of row access policies to list.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the row access policies to list.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "tableId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string"
            }
          },
          "id": "bigquery.rowAccessPolicies.list",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies"
        },
        "get": {
          "description": "Gets the specified row access policy by policy ID. # IAM Permissions Requires the `bigquery.rowAccessPolicies.get` permission on the table.",
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "policyId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Policy ID of the row access policy.",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the table to get the row access policy.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the table to get the row access policy.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Table ID of the table to get the row access policy.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId",
            "policyId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies/{+policyId}",
          "id": "bigquery.rowAccessPolicies.get",
          "response": {
            "$ref": "RowAccessPolicy"
          }
        },
        "testIamPermissions": {
          "path": "{+resource}:testIamPermissions",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ]
        },
        "insert": {
          "description": "Creates a row access policy. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.rowAccessPolicies.create` - `bigquery.rowAccessPolicies.setIamPolicy` - `bigquery.tables.getData`",
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "request": {
            "$ref": "RowAccessPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the table to get the row access policy.",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the table to get the row access policy."
            },
            "tableId": {
              "type": "string",
              "description": "Required. Table ID of the table to get the row access policy.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "id": "bigquery.rowAccessPolicies.insert",
          "response": {
            "$ref": "RowAccessPolicy"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted. # IAM Permissions Requires the `bigquery.tables.delete` permission on the table.",
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the table to delete",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the table to delete",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "tableId": {
              "required": true,
              "description": "Required. Table ID of the table to delete",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "id": "bigquery.tables.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}"
        },
        "patch": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports RFC5789 patch semantics. # IAM Permissions Requires the following IAM permission(s) on the table: - `bigquery.tables.update` - `bigquery.tables.get`",
          "httpMethod": "PATCH",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the table to update",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the table to update",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "description": "Required. Table ID of the table to update",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "autodetect_schema": {
              "location": "query",
              "type": "boolean",
              "description": "Optional.  When true will autodetect schema, else will keep original schema"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "id": "bigquery.tables.patch",
          "response": {
            "$ref": "Table"
          }
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "view": {
              "location": "query",
              "description": "Optional. Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "enum": [
                "TABLE_METADATA_VIEW_UNSPECIFIED",
                "BASIC",
                "STORAGE_STATS",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "The default value. Default to the STORAGE_STATS view.",
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future."
              ]
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the requested table"
            },
            "selectedFields": {
              "location": "query",
              "type": "string",
              "description": "List of table schema fields to return (comma-separated). If unspecified, all fields are returned. A fieldMask cannot be used here because the fields will automatically be converted from camelCase to snake_case and the conversion will fail if there are underscores. Since these are fields in BigQuery table schemas, underscores are allowed."
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the requested table",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Table ID of the requested table",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.tables.get",
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table. # IAM Permissions Requires the `bigquery.tables.get` permission on the table.",
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Creates a new, empty table in the dataset. # IAM Permissions Requires the `bigquery.tables.create` permission on the dataset.",
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.insert",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the new table",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the new table",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string"
            }
          },
          "id": "bigquery.tables.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:setIamPolicy"
        },
        "update": {
          "parameters": {
            "autodetect_schema": {
              "description": "Optional.  When true will autodetect schema, else will keep original schema",
              "location": "query",
              "type": "boolean"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the table to update",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the table to update",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Table ID of the table to update"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}",
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update",
          "description": "Updates information in an existing table. The update method replaces the entire Table resource, whereas the patch method only replaces fields that are provided in the submitted Table resource. # IAM Permissions Requires the `bigquery.tables.update` permission on the table.",
          "httpMethod": "PUT"
        },
        "list": {
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role. # IAM Permissions Requires the `bigquery.tables.list` permission on the dataset.",
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the tables to list",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the tables to list",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables",
          "response": {
            "$ref": "TableList"
          },
          "id": "bigquery.tables.list"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.tables.testIamPermissions",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ]
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.tables.getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "datasets": {
      "methods": {
        "insert": {
          "description": "Creates a new empty dataset. # IAM Permissions Requires the `bigquery.datasets.create` permission on the project.",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "accessPolicyVersion": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Requests with conditional access policy binding in datasets must specify version 3. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
              "format": "int32"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the new dataset"
            }
          },
          "flatPath": "projects/{projectsId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.insert",
          "path": "projects/{+projectId}/datasets"
        },
        "undelete": {
          "httpMethod": "POST",
          "description": "Undeletes a dataset which is within time travel window based on datasetId. If a time is specified, the dataset version deleted at that time is undeleted, else the last live version is undeleted. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.datasets.create` on the project. - `bigquery.datasets.get` on the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}:undelete",
          "id": "bigquery.datasets.undelete",
          "response": {
            "$ref": "Dataset"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}:undelete",
          "request": {
            "$ref": "UndeleteDatasetRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of dataset being deleted",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the dataset to be undeleted",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. # IAM Permissions Requires the `bigquery.datasets.update` permission on the dataset.",
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.update",
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "updateMode": {
              "location": "query",
              "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated.",
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "The default value. Default to the UPDATE_FULL.",
                "Includes metadata information for the dataset, such as friendlyName, description, labels, etc.",
                "Includes ACL information for the dataset, which defines dataset access for one or more entities.",
                "Includes both dataset metadata and ACL information."
              ]
            },
            "accessPolicyVersion": {
              "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the dataset being updated",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the dataset being updated",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name. # IAM Permissions Requires the `bigquery.datasets.delete` permission on the dataset.",
          "parameters": {
            "deleteContents": {
              "location": "query",
              "type": "boolean",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of dataset being deleted",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the dataset being deleted",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "id": "bigquery.datasets.delete",
          "httpMethod": "DELETE"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists all datasets in the specified project to which the user has been granted the READER dataset role. # IAM Permissions Requires no specific IAM permission(s) to use this method. Results are filtered to only include datasets on which the caller has the `bigquery.datasets.get` permission.",
          "path": "projects/{+projectId}/datasets",
          "id": "bigquery.datasets.list",
          "response": {
            "$ref": "DatasetList"
          },
          "flatPath": "projects/{projectsId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is `labels.[:]`. Multiple filters can be AND-ed together by connecting with a space. Example: `labels.department:receiving labels.active`. See [Filtering datasets using labels](https://cloud.google.com/bigquery/docs/filtering-labels#filtering_datasets_using_labels) for details.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the datasets to be listed",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "updateMode": {
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "The default value. Default to the UPDATE_FULL.",
                "Includes metadata information for the dataset, such as friendlyName, description, labels, etc.",
                "Includes ACL information for the dataset, which defines dataset access for one or more entities.",
                "Includes both dataset metadata and ACL information."
              ],
              "location": "query",
              "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated."
            },
            "accessPolicyVersion": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM.",
              "format": "int32"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the dataset being updated",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the dataset being updated",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.patch",
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports RFC5789 patch semantics. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.datasets.update` on the dataset. - `bigquery.datasets.get` on the dataset.",
          "httpMethod": "PATCH"
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the requested dataset",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "datasetView": {
              "enum": [
                "DATASET_VIEW_UNSPECIFIED",
                "METADATA",
                "ACL",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "The default value. Default to the FULL view.",
                "View metadata information for the dataset, such as friendlyName, description, labels, etc.",
                "View ACL information for the dataset, which defines dataset access for one or more entities.",
                "View both dataset metadata and ACL information."
              ],
              "location": "query",
              "description": "Optional. Specifies the view that determines which dataset information is returned. By default, metadata and ACL information are returned."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the requested dataset"
            },
            "accessPolicyVersion": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The version of the access policy schema to fetch. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for conditional access policy binding in datasets must specify version 3. Dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. This field will be mapped to [IAM Policy version] (https://cloud.google.com/iam/docs/policies#versions) and will be used to fetch policy from IAM. If unset or if 0 or 1 value is used for dataset with conditional bindings, access entry with condition will have role string appended by 'withcond' string followed by a hash value. For example : { \"access\": [ { \"role\": \"roles/bigquery.dataViewer_with_conditionalbinding_7a34awqsda\", \"userByEmail\": \"user@example.com\", } ] } Please refer https://cloud.google.com/iam/docs/troubleshooting-withcond for more details.",
              "format": "int32"
            }
          },
          "id": "bigquery.datasets.get",
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}",
          "description": "Returns the dataset specified by datasetID. # IAM Permissions Requires the `bigquery.datasets.get` permission on the dataset.",
          "httpMethod": "GET"
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the model specified by modelId from the dataset. # IAM Permissions Requires the `bigquery.models.delete` permission on the model.",
          "parameters": {
            "modelId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Model ID of the model to delete.",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the model to delete.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "id": "bigquery.models.list",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method. # IAM Permissions Requires the `bigquery.models.list` permission on the dataset.",
          "httpMethod": "GET"
        },
        "patch": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "response": {
            "$ref": "Model"
          },
          "id": "bigquery.models.patch",
          "parameters": {
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to patch.",
              "required": true
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "type": "string",
              "required": true,
              "description": "Required. Model ID of the model to patch.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "request": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "description": "Patch specific fields in the specified model. # IAM Permissions Requires the `bigquery.models.updateMetadata` permission on the model."
        },
        "get": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "response": {
            "$ref": "Model"
          },
          "id": "bigquery.models.get",
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the requested model.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the requested model.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "required": true,
              "description": "Required. Model ID of the requested model.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "GET",
          "description": "Gets the specified model resource by model ID. # IAM Permissions Requires the `bigquery.models.getMetadata` permission on the model."
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the routine specified by routineId from the dataset. # IAM Permissions Requires the `bigquery.routines.delete` permission on the routine.",
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routine to delete",
              "type": "string"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the routine to delete"
            }
          },
          "id": "bigquery.routines.delete",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routines to list"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the routines to list"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "If set, then only the Routines matching this filter are returned. The supported format is `routineType:{RoutineType}`, where `{RoutineType}` is a RoutineType enum. For example: `routineType:SCALAR_FUNCTION`."
            },
            "readMask": {
              "location": "query",
              "type": "string",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "id": "bigquery.routines.list",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role. # IAM Permissions Requires the `bigquery.routines.list` permission on the dataset.",
          "httpMethod": "GET"
        },
        "get": {
          "id": "bigquery.routines.get",
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the requested routine",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the requested routine",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "location": "query",
              "type": "string",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the requested routine",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Gets the specified routine resource by routine ID. # IAM Permissions Requires the `bigquery.routines.get` permission on the routine."
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.routines.setIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ]
        },
        "update": {
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource. # IAM Permissions Requires the `bigquery.routines.update` permission on the routine.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the routine to update"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routine to update",
              "type": "string"
            },
            "routineId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the routine to update",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "request": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.update",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy",
          "id": "bigquery.routines.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "insert": {
          "description": "Creates a new routine in the dataset. # IAM Permissions Requires the `bigquery.routines.create` permission on the dataset.",
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the new routine",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "request": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "response": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.insert"
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/routines/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.routines.testIamPermissions",
          "path": "{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "httpMethod": "POST"
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "description": "RPC to list projects to which the user has been granted any project role. Users of this method are encouraged to consider the [Resource Manager](https://cloud.google.com/resource-manager/docs/) API, which provides the underlying data for this method and has more capabilities. # IAM Permissions Requires no specific IAM permission(s) to use this method. The results are filtered to only include projects on which the caller has been granted a project-level role such as a BigQuery predefined IAM role or a basic role such as Viewer or Owner.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "`maxResults` unset returns all results, up to 50 per page. Additionally, the number of projects in a page may be fewer than `maxResults` because projects are retrieved and then filtered to only projects with the BigQuery API enabled.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results. If not present, no further pages are present.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "projects",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [],
          "path": "projects",
          "response": {
            "$ref": "ProjectList"
          },
          "id": "bigquery.projects.list"
        },
        "getServiceAccount": {
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. ID of the project.",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{+projectId}/serviceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "id": "bigquery.projects.getServiceAccount",
          "description": "RPC to get the service account for a project used for interactions with Google Cloud KMS. Requires the `bigquery.jobs.create` permission on the project resource. This permission is required to authorize the retrieval of the project's service identity for technical management tasks like encryption configuration.",
          "httpMethod": "GET"
        }
      }
    },
    "jobs": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "projects/{projectsId}/jobs",
          "request": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Project ID of project that will be billed for the job.",
              "required": true
            }
          },
          "id": "bigquery.jobs.insert",
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{+projectId}/jobs",
          "description": "Starts a new asynchronous job. This API has two different kinds of endpoint URIs, as this method supports a variety of use cases. * The *Metadata* URI is used for most interactions, as it accepts the job configuration directly. * The *Upload* URI is ONLY for the case when you're sending both a load job configuration and a data stream together. In this case, the Upload URI accepts the job configuration and the data as two distinct multipart MIME parts. # IAM Permissions Requires the `bigquery.jobs.create` permission on the project resource. Additional permissions are required depending on the job type: - **Load, Export, and Copy jobs**: Generally require data-level permissions such as `bigquery.tables.export` or access to external storage. - **Query jobs**: Permissions are dependent on the SQL statement. Complex queries (DDL, DCL) may require additional permissions to create reservations, modify IAM policies, or update project settings.",
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{+projectId}/jobs"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{+projectId}/jobs"
              }
            }
          },
          "supportsMediaUpload": true
        },
        "cancel": {
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs. # IAM Permissions Requires the `bigquery.jobs.update` permission on the job resource. If the user matches the creator of the job, the `bigquery.jobs.create` permission on the project is required instead.",
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "jobId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Job ID of the job to cancel"
            },
            "location": {
              "description": "The geographic location of the job. You must [specify the location](https://cloud.google.com/bigquery/docs/locations#specify_locations) to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`)",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the job to cancel",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{+projectId}/jobs/{+jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "response": {
            "$ref": "JobCancelResponse"
          }
        },
        "delete": {
          "id": "bigquery.jobs.delete",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted. # IAM Permissions Requires the `bigquery.jobs.delete` permission on the job resource.",
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. Required. For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
            },
            "projectId": {
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property. # IAM Permissions Requires no specific IAM permission(s) to use this method. Users are able to list the jobs they created. Additional access is granted based on the following permissions: - Users with the `bigquery.jobs.listAll` permission can list all jobs with all metadata. - Users with the `bigquery.jobs.list` permission can list all jobs, but with redacted information for jobs they did not create.",
          "id": "bigquery.jobs.list",
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{+projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "projects/{projectsId}/jobs",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query",
              "type": "string"
            },
            "allUsers": {
              "description": "Whether to display jobs owned by all users in the project. Default False.",
              "location": "query",
              "type": "boolean"
            },
            "projection": {
              "location": "query",
              "description": "Restrict information returned to a set of selected fields",
              "enum": [
                "full",
                "minimal"
              ],
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "stateFilter": {
              "description": "Filter for job state",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the jobs to list.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "minCreationTime": {
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "parentJobId": {
              "description": "If set, show only child jobs of the specified parent. Otherwise, show all top-level jobs.",
              "location": "query",
              "type": "string"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role. # IAM Permissions Requires the `bigquery.jobs.get` permission on the job resource. If the user matches the creator of the job, the `bigquery.jobs.create` permission on the project is required instead.",
          "id": "bigquery.jobs.get",
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{+projectId}/jobs/{+jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "flatPath": "projects/{projectsId}/jobs/{jobsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the requested job.",
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "description": "Required. Job ID of the requested job.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        },
        "query": {
          "httpMethod": "POST",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout. # IAM Permissions Requires the `bigquery.jobs.create` permission on the project resource. Data-level permissions are highly dependent on the SQL statement being executed. While standard queries require data access (such as `bigquery.tables.getData`), complex operations like DDL or DCL may require permissions to manage reservations, IAM policies, or project settings.",
          "path": "projects/{+projectId}/queries",
          "response": {
            "$ref": "QueryResponse"
          },
          "id": "bigquery.jobs.query",
          "parameters": {
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the query request.",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/queries",
          "request": {
            "$ref": "QueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ]
        },
        "getQueryResults": {
          "httpMethod": "GET",
          "description": "RPC to get the results of a query job. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.jobs.get` on the job. - `bigquery.tables.getData` on the destination table. If the user matches the creator of the job, the following IAM permission(s) are required instead: - `bigquery.jobs.create` on the project. - `bigquery.tables.getData` on the destination table.",
          "path": "projects/{+projectId}/queries/{+jobId}",
          "id": "bigquery.jobs.getQueryResults",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "flatPath": "projects/{projectsId}/queries/{queriesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "timeoutMs": {
              "description": "Optional: Specifies the maximum amount of time, in milliseconds, that the client is willing to wait for the query to complete. By default, this limit is 10 seconds (10,000 milliseconds). If the query is complete, the jobComplete field in the response is true. If the query has not yet completed, jobComplete is false. You can request a longer timeout period in the timeoutMs field. However, the call is not guaranteed to wait for the specified timeout; it typically returns after around 200 seconds (200,000 milliseconds), even if the query is not complete. If jobComplete is false, you can continue to wait for the query to complete by calling the getQueryResults method until the jobComplete field in the getQueryResults response is true.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "formatOptions.useInt64Timestamp": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Output timestamp as usec int64. Default is false."
            },
            "jobId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Job ID of the query job.",
              "required": true,
              "type": "string"
            },
            "formatOptions.timestampOutputFormat": {
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Corresponds to default API output behavior, which is FLOAT64.",
                "Timestamp is output as float64 seconds since Unix epoch.",
                "Timestamp is output as int64 microseconds since Unix epoch.",
                "Timestamp is output as ISO 8601 String (\"YYYY-MM-DDTHH:MM:SS.FFFFFFFFFFFFZ\")."
              ],
              "location": "query",
              "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option."
            },
            "location": {
              "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations).",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the query job.",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to read.",
              "format": "uint32"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "httpMethod": "POST",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.tables.updateData` on the table. - `bigquery.tables.get` on the table. - `bigquery.datasets.get` on the dataset.",
          "id": "bigquery.tabledata.insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/insertAll",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/insertAll",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the destination.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the destination.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Table ID of the destination.",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "description": "List the content of a table in rows. # IAM Permissions Requires the `bigquery.tables.getData` permission on the table.",
          "id": "bigquery.tabledata.list",
          "response": {
            "$ref": "TableDataList"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/data",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/data",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "startIndex": {
              "description": "Start row index of the table.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Row limit of the table.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project id of the table to list."
            },
            "formatOptions.timestampOutputFormat": {
              "enumDescriptions": [
                "Corresponds to default API output behavior, which is FLOAT64.",
                "Timestamp is output as float64 seconds since Unix epoch.",
                "Timestamp is output as int64 microseconds since Unix epoch.",
                "Timestamp is output as ISO 8601 String (\"YYYY-MM-DDTHH:MM:SS.FFFFFFFFFFFFZ\")."
              ],
[...]
