{
  "id": "bigtableadmin:v2",
  "canonicalName": "Bigtable Admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        }
      }
    }
  },
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "revision": "20260829",
  "name": "bigtableadmin",
  "discoveryVersion": "v1",
  "version_module": true,
  "version": "v2",
  "servicePath": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "schemas": {
    "Cluster": {
      "type": "object",
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "id": "Cluster",
      "properties": {
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ]
        },
        "serveNodes": {
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization.",
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "type": "string",
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`."
        },
        "nodeScalingFactor": {
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ],
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ],
          "type": "string",
          "description": "Immutable. The node scaling factor of this cluster."
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "defaultStorageType": {
          "type": "string",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden."
        }
      }
    },
    "AuthorizedView": {
      "id": "AuthorizedView",
      "properties": {
        "name": {
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`",
          "type": "string"
        },
        "subsetView": {
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
          "description": "An AuthorizedView permitting access to an explicit subset of a Table."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set."
        },
        "etag": {
          "type": "string",
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag."
        }
      },
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "id": "GoogleBigtableAdminV2TypeEnum",
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`.",
      "type": "object",
      "properties": {
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this enum is defined in.",
          "type": "string"
        },
        "enumName": {
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\".",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object"
    },
    "CreateClusterMetadata": {
      "properties": {
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        },
        "tables": {
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far.",
          "additionalProperties": {
            "$ref": "TableProgress"
          }
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster.",
      "type": "object"
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "properties": {
        "replicationState": {
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ],
          "type": "string",
          "description": "Output only. The state of the materialized view in this cluster.",
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ]
        }
      },
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "type": "object",
      "description": "The state of a materialized view's data in a particular cluster."
    },
    "SchemaBundle": {
      "id": "SchemaBundle",
      "properties": {
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        },
        "protoSchema": {
          "description": "Schema for Protobufs.",
          "$ref": "ProtoSchema"
        }
      },
      "type": "object",
      "description": "A named collection of related schemas."
    },
    "CreateAuthorizedViewMetadata": {
      "id": "CreateAuthorizedViewMetadata",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "$ref": "CreateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by CreateAuthorizedView.",
      "type": "object"
    },
    "DropRowRangeRequest": {
      "properties": {
        "rowKeyPrefix": {
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "type": "string",
          "format": "byte"
        },
        "deleteAllDataFromTable": {
          "type": "boolean",
          "description": "Delete all rows in the table. Setting this to false is a no-op."
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "id": "DropRowRangeRequest",
      "type": "object"
    },
    "ProtoSchema": {
      "id": "ProtoSchema",
      "properties": {
        "protoDescriptors": {
          "type": "string",
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "format": "byte"
        }
      },
      "description": "Represents a collection of protobuf schemas.",
      "type": "object"
    },
    "UpdateSchemaBundleMetadata": {
      "type": "object",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "id": "UpdateSchemaBundleMetadata"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "properties": {
        "instances": {
          "description": "The list of requested instances.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "failedLocations": {
          "type": "array",
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeMap": {
      "properties": {
        "keyType": {
          "$ref": "Type",
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types."
        },
        "valueType": {
          "$ref": "Type",
          "description": "The type of the values in a map."
        }
      },
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeMap"
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "type": "object",
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets",
      "properties": {
        "qualifiers": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "Individual exact column qualifiers to be included in the AuthorizedView."
        },
        "qualifierPrefixes": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\").",
          "type": "array"
        }
      },
      "description": "Subsets of a column family that are included in this AuthorizedView."
    },
    "EncryptionInfo": {
      "type": "object",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status.",
      "id": "EncryptionInfo",
      "properties": {
        "encryptionType": {
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "type": "string",
          "description": "Output only. The type of encryption used to protect this resource."
        },
        "encryptionStatus": {
          "$ref": "Status",
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest.",
          "readOnly": true
        },
        "kmsKeyVersion": {
          "readOnly": true,
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "type": "string"
        }
      }
    },
    "CreateLogicalViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView.",
      "type": "object",
      "id": "CreateLogicalViewRequest",
      "properties": {
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`."
        },
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "type": "object",
      "description": "Defines rules used to convert to or from lower level types."
    },
    "CreateLogicalViewMetadata": {
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "DEPRECATED: Use finish_time instead.",
          "type": "string",
          "format": "google-datetime",
          "deprecated": true
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateLogicalView operation.",
          "$ref": "CreateLogicalViewRequest"
        },
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CreateLogicalViewMetadata",
      "type": "object"
    },
    "CreateMaterializedViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView.",
      "properties": {
        "materializedViewId": {
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name.",
          "type": "string"
        },
        "materializedView": {
          "description": "Required. The materialized view to create.",
          "$ref": "MaterializedView"
        },
        "ignoreWarnings": {
          "description": "Optional. If true, ignore optional safety checks when creating the materialized view.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        }
      },
      "id": "CreateMaterializedViewRequest",
      "type": "object"
    },
    "GenerateConsistencyTokenResponse": {
      "id": "GenerateConsistencyTokenResponse",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "id": "GoogleBigtableAdminV2TypeStringEncoding",
      "type": "object",
      "properties": {
        "utf8Raw": {
          "deprecated": true,
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw"
        },
        "utf8Bytes": {
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
          "description": "Use `Utf8Bytes` encoding."
        }
      },
      "description": "Rules used to convert to or from lower level types."
    },
    "UpdateLogicalViewMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateLogicalView operation.",
          "$ref": "UpdateLogicalViewRequest"
        },
        "endTime": {
          "type": "string",
          "deprecated": true,
          "format": "google-datetime",
          "description": "DEPRECATED: Use finish_time instead."
        },
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by UpdateLogicalView.",
      "id": "UpdateLogicalViewMetadata",
      "type": "object"
    },
    "ListAppProfilesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        },
        "appProfiles": {
          "items": {
            "$ref": "AppProfile"
          },
          "type": "array",
          "description": "The list of requested app profiles."
        },
        "failedLocations": {
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAppProfilesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles."
    },
    "TableProgress": {
      "type": "object",
      "description": "Progress info for copying a table's data to the new cluster.",
      "id": "TableProgress",
      "properties": {
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Estimate of the size of the table to be copied."
        },
        "estimatedCopiedBytes": {
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ],
          "type": "string"
        }
      }
    },
    "GenerateConsistencyTokenRequest": {
      "type": "object",
      "id": "GenerateConsistencyTokenRequest",
      "properties": {},
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "deprecated": true,
      "type": "object",
      "properties": {},
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw"
    },
    "MemoryConfig": {
      "properties": {},
      "id": "MemoryConfig",
      "type": "object",
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled."
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
        }
      },
      "id": "EncryptionConfig"
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "properties": {},
      "type": "object",
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`."
    },
    "AutoscalingTargets": {
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "type": "object",
      "id": "AutoscalingTargets",
      "properties": {
        "cpuUtilizationPercent": {
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.",
          "type": "integer",
          "format": "int32"
        },
        "storageUtilizationGibPerNode": {
          "type": "integer",
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD.",
          "format": "int32"
        }
      }
    },
    "ColumnFamily": {
      "description": "A set of columns within a table which share a common configuration.",
      "properties": {
        "valueType": {
          "description": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations",
          "$ref": "Type"
        },
        "gcRule": {
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family.",
          "$ref": "GcRule"
        },
        "stats": {
          "$ref": "ColumnFamilyStats",
          "readOnly": true,
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above."
        }
      },
      "type": "object",
      "id": "ColumnFamily"
    },
    "UpdateAuthorizedViewMetadata": {
      "type": "object",
      "id": "UpdateAuthorizedViewMetadata",
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
      "type": "object",
      "properties": {},
      "description": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported."
    },
    "MemoryLayer": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\"."
        },
        "etag": {
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "memoryConfig": {
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer.",
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig"
        },
        "state": {
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ],
          "description": "Output only. The current state of the memory layer.",
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "MemoryLayer",
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store.",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "id": "AuditConfig"
    },
    "CopyBackupRequest": {
      "properties": {
        "sourceBackup": {
          "type": "string",
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`."
        },
        "expireTime": {
          "type": "string",
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "format": "google-datetime"
        },
        "backupId": {
          "type": "string",
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*."
        }
      },
      "type": "object",
      "description": "The request for CopyBackup.",
      "id": "CopyBackupRequest"
    },
    "MaterializedView": {
      "id": "MaterializedView",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        },
        "query": {
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        },
        "clusterStates": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          }
        }
      },
      "description": "A materialized view object that can be referenced in SQL queries."
    },
    "ListLogicalViewsResponse": {
      "id": "ListLogicalViewsResponse",
      "properties": {
        "logicalViews": {
          "items": {
            "$ref": "LogicalView"
          },
          "type": "array",
          "description": "The list of requested logical views."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "type": "object"
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
          "description": "Use `OrderedCodeBytes` encoding."
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt32Encoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "properties": {},
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateSum"
    },
    "HotTablet": {
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the hot tablet.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        },
        "endKey": {
          "description": "Tablet End Key (inclusive).",
          "type": "string"
        },
        "tableName": {
          "type": "string",
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The end time of the hot tablet.",
          "type": "string"
        },
        "nodeCpuUsagePercent": {
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "startKey": {
          "type": "string",
          "description": "Tablet Start Key (inclusive)."
        }
      },
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "id": "HotTablet",
      "type": "object"
    },
    "ColumnFamilyStats": {
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.",
      "id": "ColumnFamilyStats",
      "type": "object",
      "properties": {
        "averageCellsPerColumn": {
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field.",
          "format": "double",
          "type": "number"
        },
        "logicalDataSsdBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The logical data bytes of the column family stored on SSD."
        },
        "logicalDataBytes": {
          "type": "string",
          "format": "int64",
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out)."
        },
        "logicalDataHddBytes": {
          "description": "Output only. The logical data bytes of the column family stored on HDD.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "averageColumnsPerRow": {
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BackupInfo": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "readOnly": true
        },
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup."
        },
        "sourceBackup": {
          "type": "string",
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "readOnly": true
        },
        "sourceTable": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from."
        }
      },
      "id": "BackupInfo",
      "description": "Information about a backup.",
      "type": "object"
    },
    "Instance": {
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance.",
      "type": "object",
      "id": "Instance",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
        },
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Optional. The edition of the instance. See Edition for details.",
          "enumDescriptions": [
            "The edition is unspecified. This is treated as `ENTERPRISE`.",
            "The Enterprise edition. This is the default offering that is designed to meet the needs of most enterprise workloads.",
            "The Enterprise Plus edition. This is a premium tier that is designed for demanding, multi-tenant workloads requiring the highest levels of performance, scale, and global availability. The nodes in the Enterprise Plus tier come at a higher cost than the Enterprise tier. Any Enterprise Plus features must be disabled before downgrading to Enterprise."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes. Labels and Tags (below) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ]
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the instance.",
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ]
        },
        "name": {
          "type": "string",
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "knowledgeCatalogRegion": {
          "type": "string",
          "description": "Output only. The region where Knowledge Catalog data is synced to and stored, including user-created aspects.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleBigtableAdminV2MemoryLayerMemoryConfig": {
      "id": "GoogleBigtableAdminV2MemoryLayerMemoryConfig",
      "type": "object",
      "properties": {
        "storageSizeGib": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Reporting the current size of the memory layer in GiB.",
          "format": "int32"
        }
      },
      "description": "Configuration of a memory layer."
    },
    "CopyBackupMetadata": {
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup.",
      "id": "CopyBackupMetadata",
      "properties": {
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        },
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        },
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMemoryLayersResponse": {
      "properties": {
        "memoryLayers": {
          "items": {
            "$ref": "MemoryLayer"
          },
          "description": "The list of requested memory layers.",
          "type": "array"
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations from which MemoryLayer information could not be retrieved, due to an outage or some other transient condition. MemoryLayers from these locations may be missing from `memory_layers`, or may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListMemoryLayersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMemoryLayers.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "properties": {
        "escapeNulls": {
          "type": "boolean",
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended."
        }
      },
      "type": "object",
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PartialUpdateClusterMetadata": {
      "id": "PartialUpdateClusterMetadata",
      "properties": {
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "originalRequest": {
          "description": "The original request for PartialUpdateCluster.",
          "$ref": "PartialUpdateClusterRequest"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by PartialUpdateCluster."
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table.",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup.",
          "format": "google-datetime"
        },
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.",
          "type": "string"
        },
        "hotToStandardTime": {
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "backupType": {
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ],
          "type": "string",
          "description": "Indicates the backup type of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ]
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size of the backup in bytes."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        },
        "sourceBackup": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime"
        }
      }
    },
    "DataBoostIsolationReadOnly": {
      "type": "object",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing.",
      "properties": {
        "computeBillingOwner": {
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "description": "The Compute Billing Owner for this Data Boost App Profile.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ]
        }
      },
      "id": "DataBoostIsolationReadOnly"
    },
    "ListMaterializedViewsResponse": {
      "type": "object",
      "properties": {
        "materializedViews": {
          "items": {
            "$ref": "MaterializedView"
          },
          "type": "array",
          "description": "The list of requested materialized views."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListMaterializedViewsResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMaterializedViews."
    },
    "UndeleteTableRequest": {
      "properties": {},
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable",
      "type": "object",
      "id": "UndeleteTableRequest"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "StandardReadRemoteWrites": {
      "properties": {},
      "id": "StandardReadRemoteWrites",
      "type": "object",
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable."
    },
    "UpdateMemoryLayerMetadata": {
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateMemoryLayer operation.",
          "$ref": "UpdateMemoryLayerRequest"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        }
      },
      "id": "UpdateMemoryLayerMetadata",
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateMemoryLayer."
    },
    "SingleClusterRouting": {
      "id": "SingleClusterRouting",
      "type": "object",
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "properties": {
        "allowTransactionalWrites": {
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters.",
          "type": "boolean"
        },
        "clusterId": {
          "type": "string",
          "description": "The cluster to which read/write requests should be routed."
        }
      }
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "properties": {
        "unixMicrosInt64": {
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding",
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`"
        }
      },
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding",
      "type": "object",
      "description": "Rules used to convert to or from lower level types."
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "type": "object",
      "properties": {},
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`"
    },
    "GoogleBigtableAdminV2TypeInt32": {
      "description": "Int32 Values of type `Int32` are stored in `Value.int_value`.",
      "id": "GoogleBigtableAdminV2TypeInt32",
      "type": "object",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeInt32Encoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "properties": {
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
        },
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt64Encoding",
      "type": "object",
      "description": "Rules used to convert to or from lower level types."
    },
    "UpdateTableMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "type": "string",
          "deprecated": true,
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name of the table being updated.",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "description": "Metadata type for the operation returned by UpdateTable.",
      "type": "object",
      "id": "UpdateTableMetadata"
    },
    "AutomatedBackupPolicy": {
      "type": "object",
      "id": "AutomatedBackupPolicy",
      "description": "Defines an automated backup policy for a table",
      "properties": {
        "retentionPeriod": {
          "format": "google-duration",
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Cloud Bigtable zones where automated backups are allowed to be created. If empty, automated backups will be created in all zones of the instance. Locations are in the format `projects/{project}/locations/{zone}`. You can set this field only for tables in Enterprise Plus instances."
        },
        "frequency": {
          "format": "google-duration",
          "type": "string",
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours."
        }
      }
    },
    "TableStats": {
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified.",
      "id": "TableStats",
      "properties": {
        "logicalDataBytes": {
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        },
        "averageCellsPerColumn": {
          "format": "double",
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "type": "number"
        },
        "averageColumnsPerRow": {
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "format": "double",
          "type": "number"
        },
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "How many rows are in the table."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeDate": {
      "type": "object",
      "description": "Date Values of type `Date` are stored in `Value.date_value`.",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeDate"
    },
    "CreateTableRequest": {
      "type": "object",
      "properties": {
        "tableId": {
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters.",
          "type": "string"
        },
        "initialSplits": {
          "items": {
            "$ref": "Split"
          },
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`",
          "type": "array"
        },
        "table": {
          "$ref": "Table",
          "description": "Required. The Table to create."
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "id": "CreateTableRequest"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "GoogleBigtableAdminV2TypeArray": {
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`.",
      "type": "object",
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      },
      "id": "GoogleBigtableAdminV2TypeArray"
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "properties": {},
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateMin"
    },
    "RestoreTableRequest": {
      "type": "object",
      "description": "The request for RestoreTable.",
      "id": "RestoreTableRequest",
      "properties": {
        "tableId": {
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`.",
          "type": "string"
        },
        "backup": {
          "type": "string",
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`."
        }
      }
    },
    "DataBoostReadLocalWrites": {
      "properties": {},
      "type": "object",
      "id": "DataBoostReadLocalWrites",
      "description": "Checks that all writes before the consistency token was generated in the same cluster are readable by Databoost."
    },
    "GoogleBigtableAdminV2TypeFloat32": {
      "type": "object",
      "properties": {},
      "description": "Float32 Values of type `Float32` are stored in `Value.float_value`.",
      "id": "GoogleBigtableAdminV2TypeFloat32"
    },
    "PartialUpdateInstanceRequest": {
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "id": "PartialUpdateInstanceRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set."
        },
        "instance": {
          "$ref": "Instance",
          "description": "Required. The Instance which will (partially) replace the current value."
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
      "properties": {},
      "type": "object",
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported."
    },
    "PartialUpdateClusterRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask."
        }
      },
      "type": "object",
      "id": "PartialUpdateClusterRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster."
    },
    "Split": {
      "type": "object",
      "description": "An initial split point for a newly created table.",
      "id": "Split",
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "Row key to use as an initial tablet boundary."
        }
      }
    },
    "UpdateMemoryLayerRequest": {
      "type": "object",
      "id": "UpdateMemoryLayerRequest",
      "properties": {
        "memoryLayer": {
          "$ref": "MemoryLayer",
          "description": "Required. The memory layer to update. The memory layer's `name` format is as follows: `projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer`."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.UpdateMemoryLayer."
    },
    "ListBackupsResponse": {
      "properties": {
        "backups": {
          "description": "The list of matching backups.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "properties": {
        "delimiter": {
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
      "type": "object"
    },
    "OptimizeRestoredTableMetadata": {
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        }
      },
      "type": "object",
      "id": "OptimizeRestoredTableMetadata"
    },
    "Modification": {
      "description": "A create, update, or delete of a particular column family.",
      "id": "Modification",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible.",
          "format": "google-fieldmask"
        },
        "create": {
          "$ref": "ColumnFamily",
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID."
        },
        "update": {
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        },
        "drop": {
          "type": "boolean",
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists."
        }
      },
      "type": "object"
    },
    "ListClustersResponse": {
      "properties": {
        "failedLocations": {
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "The list of requested clusters.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "type": "object",
      "id": "ListClustersResponse"
    },
    "TieredStorageConfig": {
[...]
