{
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Bigtable Admin",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "title": "Cloud Bigtable Admin API",
  "version": "v2",
  "resources": {
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The unique name of the instance to be deleted. Values are of the form `projects/{project}/instances/{instance}`.",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Delete an instance from a project.",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "bigtableadmin.projects.instances.delete",
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "update": {
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
                }
              },
              "description": "Updates an instance within a project. This method updates only the display name and type for an Instance. To update other Instance properties, such as labels, use PartialUpdateInstance.",
              "request": {
                "$ref": "Instance"
              },
              "id": "bigtableadmin.projects.instances.update",
              "response": {
                "$ref": "Instance"
              }
            },
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "path": "v2/{+resource}:getIamPolicy",
              "description": "Gets the access control policy for an instance resource. Returns an empty policy if an instance exists but does not have a policy set.",
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "bigtableadmin.projects.instances.getIamPolicy",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:getIamPolicy"
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/instances",
              "id": "bigtableadmin.projects.instances.create",
              "path": "v2/{+parent}/instances",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateInstanceRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Create an instance within a project. Note that exactly one of Cluster.serve_nodes and Cluster.cluster_config.cluster_autoscaling_config can be set. If serve_nodes is set to non-zero, then the cluster is manually scaled. If cluster_config.cluster_autoscaling_config is non-empty, then autoscaling is enabled."
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "DEPRECATED: This field is unused and ignored.",
                  "deprecated": true
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The unique name of the project for which a list of instances is requested. Values are of the form `projects/{project}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "path": "v2/{+parent}/instances",
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "description": "Lists information about instances in a project.",
              "id": "bigtableadmin.projects.instances.list",
              "flatPath": "v2/projects/{projectsId}/instances"
            },
            "testIamPermissions": {
              "path": "v2/{+resource}:testIamPermissions",
              "description": "Returns permissions that the caller has on the specified instance resource.",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "bigtableadmin.projects.instances.testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:testIamPermissions"
            },
            "setIamPolicy": {
              "path": "v2/{+resource}:setIamPolicy",
              "httpMethod": "POST",
              "description": "Sets the access control policy on an instance resource. Replaces any existing policy.",
              "id": "bigtableadmin.projects.instances.setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:setIamPolicy"
            },
            "partialUpdateInstance": {
              "path": "v2/{+name}",
              "request": {
                "$ref": "Instance"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Partially updates an instance within a project. This method can modify all fields of an Instance and is the preferred way to update an Instance.",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "id": "bigtableadmin.projects.instances.partialUpdateInstance",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
                },
                "updateMask": {
                  "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "path": "v2/{+name}",
              "response": {
                "$ref": "Instance"
              },
              "httpMethod": "GET",
              "description": "Gets information about an instance.",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "parameters": {
                "name": {
                  "description": "Required. The unique name of the requested instance. Values are of the form `projects/{project}/instances/{instance}`.",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "bigtableadmin.projects.instances.get"
            }
          },
          "resources": {
            "materializedViews": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigtableadmin.projects.instances.materializedViews.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews/{materializedViewsId}",
                  "description": "Gets information about a materialized view.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "view": {
                      "description": "Optional. Describes which of the materialized view's fields should be populated in the response. Defaults to SCHEMA_VIEW.",
                      "enum": [
                        "VIEW_UNSPECIFIED",
                        "SCHEMA_VIEW",
                        "REPLICATION_VIEW",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Uses the default view for each method as documented in its request.",
                        "Only populates fields related to the materialized view's schema.",
                        "Only populates fields related to the materialized view's replication state.",
                        "Populates all fields."
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The unique name of the requested materialized view. Values are of the form `projects/{project}/instances/{instance}/materializedViews/{materialized_view}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/instances/[^/]+/materializedViews/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "MaterializedView"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists information about materialized views in an instance.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListMaterializedViewsResponse"
                  },
                  "id": "bigtableadmin.projects.instances.materializedViews.list",
                  "path": "v2/{+parent}/materializedViews",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews",
                  "parameters": {
                    "view": {
                      "enum": [
                        "VIEW_UNSPECIFIED",
                        "SCHEMA_VIEW",
                        "REPLICATION_VIEW",
                        "FULL"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Uses the default view for each method as documented in its request.",
                        "Only populates fields related to the materialized view's schema.",
                        "Only populates fields related to the materialized view's replication state.",
                        "Populates all fields."
                      ],
                      "location": "query",
                      "description": "Optional. Describes which of the materialized view's fields should be populated in the response. For now, only the default value SCHEMA_VIEW is supported."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "description": "Required. The unique name of the instance for which the list of materialized views is requested. Values are of the form `projects/{project}/instances/{instance}`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of materialized views to return. The service may return fewer than this value",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListMaterializedViews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMaterializedViews` must match the call that provided the page token.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "bigtableadmin.projects.instances.materializedViews.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a materialized view within an instance.",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews/{materializedViewsId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
                      "pattern": "^projects/[^/]+/instances/[^/]+/materializedViews/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to update.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "MaterializedView"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v2/{+name}",
                  "id": "bigtableadmin.projects.instances.materializedViews.delete",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the materialized view. If an etag is provided and does not match the current etag of the materialized view, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The unique name of the materialized view to be deleted. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/instances/[^/]+/materializedViews/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews/{materializedViewsId}",
                  "description": "Deletes a materialized view from an instance.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "materializedViewId": {
                      "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name.",
                      "type": "string",
                      "location": "query"
                    },
                    "ignoreWarnings": {
                      "type": "boolean",
                      "description": "Optional. If true, ignore optional safety checks when creating the materialized view.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Creates a materialized view within an instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/materializedViews",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews",
                  "request": {
                    "$ref": "MaterializedView"
                  },
                  "id": "bigtableadmin.projects.instances.materializedViews.create"
                },
                "getIamPolicy": {
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/materializedViews/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "path": "v2/{+resource}:getIamPolicy",
                  "id": "bigtableadmin.projects.instances.materializedViews.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "description": "Gets the access control policy for an instance resource. Returns an empty policy if an instance exists but does not have a policy set.",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews/{materializedViewsId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v2/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/materializedViews/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews/{materializedViewsId}:testIamPermissions",
                  "description": "Returns permissions that the caller has on the specified instance resource.",
                  "httpMethod": "POST",
                  "id": "bigtableadmin.projects.instances.materializedViews.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/materializedViews/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigtableadmin.projects.instances.materializedViews.setIamPolicy",
                  "description": "Sets the access control policy on an instance resource. Replaces any existing policy.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/materializedViews/{materializedViewsId}:setIamPolicy"
                }
              }
            },
            "logicalViews": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "LogicalView"
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews/{logicalViewsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/instances/[^/]+/logicalViews/[^/]+$",
                      "required": true,
                      "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a logical view within an instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "id": "bigtableadmin.projects.instances.logicalViews.patch",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The unique name of the instance for which the list of logical views is requested. Values are of the form `projects/{project}/instances/{instance}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListLogicalViews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalViews` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of logical views to return. The service may return fewer than this value",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListLogicalViewsResponse"
                  },
                  "description": "Lists information about logical views in an instance.",
                  "id": "bigtableadmin.projects.instances.logicalViews.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/logicalViews"
                },
                "create": {
                  "id": "bigtableadmin.projects.instances.logicalViews.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/logicalViews",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "LogicalView"
                  },
                  "description": "Creates a logical view within an instance.",
                  "parameters": {
                    "logicalViewId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name."
                    },
                    "parent": {
                      "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews/{logicalViewsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "LogicalView"
                  },
                  "description": "Gets information about a logical view.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The unique name of the requested logical view. Values are of the form `projects/{project}/instances/{instance}/logicalViews/{logical_view}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/logicalViews/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigtableadmin.projects.instances.logicalViews.get"
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v2/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "bigtableadmin.projects.instances.logicalViews.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/logicalViews/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews/{logicalViewsId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for an instance resource. Returns an empty policy if an instance exists but does not have a policy set."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigtableadmin.projects.instances.logicalViews.delete",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "Optional. The current etag of the logical view. If an etag is provided and does not match the current etag of the logical view, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The unique name of the logical view to be deleted. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/logicalViews/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews/{logicalViewsId}",
                  "description": "Deletes a logical view from an instance."
                },
                "setIamPolicy": {
                  "id": "bigtableadmin.projects.instances.logicalViews.setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews/{logicalViewsId}:setIamPolicy",
                  "path": "v2/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/logicalViews/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on an instance resource. Replaces any existing policy.",
                  "httpMethod": "POST"
                },
                "testIamPermissions": {
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/logicalViews/{logicalViewsId}:testIamPermissions",
                  "description": "Returns permissions that the caller has on the specified instance resource.",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/logicalViews/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v2/{+resource}:testIamPermissions",
                  "id": "bigtableadmin.projects.instances.logicalViews.testIamPermissions",
                  "httpMethod": "POST"
                }
              }
            },
            "tables": {
              "resources": {
                "schemaBundles": {
                  "methods": {
                    "patch": {
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.patch",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/schemaBundles/[^/]+$",
                          "required": true,
                          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "ignoreWarnings": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, ignore the safety checks when updating the Schema Bundle. The safety checks are: - The new Schema Bundle is backwards compatible with the existing Schema Bundle."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a schema bundle in the specified table.",
                      "request": {
                        "$ref": "SchemaBundle"
                      },
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles/{schemaBundlesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "testIamPermissions": {
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/schemaBundles/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles/{schemaBundlesId}:testIamPermissions",
                      "path": "v2/{+resource}:testIamPermissions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns permissions that the caller has on the specified Bigtable resource.",
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The unique name of the schema bundle to delete. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/schemaBundles/[^/]+$"
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The etag of the schema bundle. If this is provided, it must match the server's etag. The server returns an ABORTED error on a mismatched etag."
                        }
                      },
                      "description": "Deletes a schema bundle in the specified table.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles/{schemaBundlesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.delete"
                    },
                    "getIamPolicy": {
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles/{schemaBundlesId}:getIamPolicy",
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.getIamPolicy",
                      "description": "Gets the access control policy for a Bigtable resource. Returns an empty policy if the resource exists but does not have a policy set.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/schemaBundles/[^/]+$",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2/{+resource}:getIamPolicy"
                    },
                    "setIamPolicy": {
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "POST",
                      "description": "Sets the access control policy on a Bigtable resource. Replaces any existing policy.",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles/{schemaBundlesId}:setIamPolicy",
                      "path": "v2/{+resource}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/schemaBundles/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "SchemaBundle"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The unique name of the schema bundle to retrieve. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/schemaBundles/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets metadata information about the specified schema bundle.",
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles/{schemaBundlesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}",
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.get"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSchemaBundlesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                          "required": true,
                          "description": "Required. The parent, which owns this collection of schema bundles. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of schema bundles to return. If the value is positive, the server may return at most this value. If unspecified, the server will return the maximum allowed page size."
                        },
                        "view": {
                          "description": "Optional. The resource_view to be applied to the returned SchemaBundles' fields. Defaults to NAME_ONLY.",
                          "enumDescriptions": [
                            "Uses the default view for each method as documented in the request.",
                            "Only populates `name`.",
                            "Only populates the SchemaBundle's basic metadata. This includes: name, etag, create_time, update_time.",
                            "Populates every field."
                          ],
                          "enum": [
                            "SCHEMA_BUNDLE_VIEW_UNSPECIFIED",
                            "NAME_ONLY",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListSchemaBundles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSchemaBundles` must match the call that provided the page token."
                        }
                      },
                      "description": "Lists all schema bundles associated with the specified table.",
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.list",
                      "path": "v2/{+parent}/schemaBundles",
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "id": "bigtableadmin.projects.instances.tables.schemaBundles.create",
                      "path": "v2/{+parent}/schemaBundles",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new schema bundle in the specified table.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                          "description": "Required. The parent resource where this schema bundle will be created. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                          "type": "string",
                          "required": true
                        },
                        "schemaBundleId": {
                          "description": "Required. The unique ID to use for the schema bundle, which will become the final component of the schema bundle's resource name.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "SchemaBundle"
                      },
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/schemaBundles"
                    }
                  }
                },
                "authorizedViews": {
                  "methods": {
                    "testIamPermissions": {
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/authorizedViews/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+resource}:testIamPermissions",
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews/{authorizedViewsId}:testIamPermissions",
                      "description": "Returns permissions that the caller has on the specified Bigtable resource.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST"
                    },
                    "setIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "POST",
                      "path": "v2/{+resource}:setIamPolicy",
                      "description": "Sets the access control policy on a Bigtable resource. Replaces any existing policy.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews/{authorizedViewsId}:setIamPolicy",
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.setIamPolicy",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/authorizedViews/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        }
                      }
                    },
                    "getIamPolicy": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "path": "v2/{+resource}:getIamPolicy",
                      "description": "Gets the access control policy for a Bigtable resource. Returns an empty policy if the resource exists but does not have a policy set.",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/authorizedViews/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews/{authorizedViewsId}:getIamPolicy"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The unique name of the AuthorizedView to be deleted. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/authorizedViews/[^/]+$"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the AuthorizedView. If an etag is provided and does not match the current etag of the AuthorizedView, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews/{authorizedViewsId}",
                      "httpMethod": "DELETE",
                      "description": "Permanently deletes a specified AuthorizedView."
                    },
                    "get": {
                      "response": {
                        "$ref": "AuthorizedView"
                      },
                      "httpMethod": "GET",
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.get",
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews/{authorizedViewsId}",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "view": {
                          "enum": [
                            "RESPONSE_VIEW_UNSPECIFIED",
                            "NAME_ONLY",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Uses the default view for each method as documented in the request.",
                            "Only populates `name`.",
                            "Only populates the AuthorizedView's basic metadata. This includes: name, deletion_protection, etag.",
                            "Populates every fields."
                          ],
                          "type": "string",
                          "description": "Optional. The resource_view to be applied to the returned AuthorizedView's fields. Default to BASIC."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/authorizedViews/[^/]+$",
                          "location": "path",
                          "description": "Required. The unique name of the requested AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Gets information from a specified AuthorizedView.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews/{authorizedViewsId}",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+/authorizedViews/[^/]+$",
                          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "ignoreWarnings": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
                        }
                      },
                      "description": "Updates an AuthorizedView in a table.",
                      "path": "v2/{+name}",
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "AuthorizedView"
                      }
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews",
                      "description": "Lists all AuthorizedViews from a specific table.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The unique name of the table for which AuthorizedViews should be listed. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. The value of `next_page_token` returned by a previous call.",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "enumDescriptions": [
                            "Uses the default view for each method as documented in the request.",
                            "Only populates `name`.",
                            "Only populates the AuthorizedView's basic metadata. This includes: name, deletion_protection, etag.",
                            "Populates every fields."
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "RESPONSE_VIEW_UNSPECIFIED",
                            "NAME_ONLY",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Optional. The resource_view to be applied to the returned AuthorizedViews' fields. Default to NAME_ONLY."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of results per page. A page_size of zero lets the server choose the number of items to return. A page_size which is strictly positive will return at most that many items. A negative page_size will cause an error. Following the first request, subsequent paginated calls are not required to pass a page_size. If a page_size is set in subsequent calls, it must match the page_size given in the first request.",
                          "format": "int32"
                        }
                      },
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListAuthorizedViewsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/authorizedViews"
                    },
                    "create": {
                      "request": {
                        "$ref": "AuthorizedView"
                      },
                      "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}/authorizedViews",
                      "path": "v2/{+parent}/authorizedViews",
                      "id": "bigtableadmin.projects.instances.tables.authorizedViews.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new AuthorizedView in a table.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`."
                        },
                        "authorizedViewId": {
                          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "undelete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                      "type": "string",
                      "description": "Required. The unique name of the table to be restored. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:undelete",
                  "path": "v2/{+name}:undelete",
                  "id": "bigtableadmin.projects.instances.tables.undelete",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UndeleteTableRequest"
                  },
                  "description": "Restores a specified table which was accidentally deleted."
                },
                "get": {
                  "response": {
                    "$ref": "Table"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "description": "Gets metadata information about the specified table.",
                  "id": "bigtableadmin.projects.instances.tables.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The unique name of the requested table. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`."
                    },
                    "view": {
                      "description": "The view to be applied to the returned table's fields. Defaults to `SCHEMA_VIEW` if unspecified.",
                      "location": "query",
                      "enum": [
                        "VIEW_UNSPECIFIED",
                        "NAME_ONLY",
                        "SCHEMA_VIEW",
                        "REPLICATION_VIEW",
                        "ENCRYPTION_VIEW",
                        "STATS_VIEW",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Uses the default view for each method as documented in its request.",
                        "Only populates `name`.",
                        "Only populates `name` and fields related to the table's schema.",
                        "Only populates `name` and fields related to the table's replication state.",
                        "Only populates `name` and fields related to the table's encryption state.",
                        "Only populates `name` and fields related to the table's stats (e.g. TableStats and ColumnFamilyStats).",
                        "Populates all fields except for stats. See STATS_VIEW to request stats."
                      ],
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v2/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a Bigtable resource. Returns an empty policy if the resource exists but does not have a policy set.",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "id": "bigtableadmin.projects.instances.tables.getIamPolicy"
                },
                "dropRowRange": {
                  "description": "Permanently drop/delete a row range from a specified table. The request can specify whether to delete all rows in a table, or only those that match a particular prefix. Note that row key prefixes used here are treated as service data. For more information about how service data is handled, see the [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:dropRowRange",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The unique name of the table on which to drop a range of rows. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "bigtableadmin.projects.instances.tables.dropRowRange",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:dropRowRange",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DropRowRangeRequest"
                  }
                },
                "generateConsistencyToken": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigtableadmin.projects.instances.tables.generateConsistencyToken",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                      "required": true,
                      "description": "Required. The unique name of the Table for which to create a consistency token. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`."
                    }
                  },
                  "description": "Generates a consistency token for a Table, which can be used in CheckConsistency to check whether mutations to the table that finished before this call started have been replicated. The tokens will be available for 90 days.",
                  "request": {
                    "$ref": "GenerateConsistencyTokenRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:generateConsistencyToken",
                  "path": "v2/{+name}:generateConsistencyToken",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GenerateConsistencyTokenResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The unique name of the table to be deleted. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`."
                    }
                  },
                  "id": "bigtableadmin.projects.instances.tables.delete",
                  "description": "Permanently deletes a specified table and all of its data.",
                  "path": "v2/{+name}"
                },
                "modifyColumnFamilies": {
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:modifyColumnFamilies",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The unique name of the table whose families should be modified. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:modifyColumnFamilies",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Table"
                  },
                  "request": {
                    "$ref": "ModifyColumnFamiliesRequest"
                  },
                  "id": "bigtableadmin.projects.instances.tables.modifyColumnFamilies",
[...]
