{
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "title": "Cloud Bigtable Admin API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "UndeleteTableMetadata": {
      "properties": {
        "endTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead."
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The name of the table being restored."
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable.",
      "id": "UndeleteTableMetadata",
      "type": "object"
    },
    "CreateMaterializedViewMetadata": {
      "description": "The metadata for the Operation returned by CreateMaterializedView.",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "startTime": {
          "format": "google-datetime",
          "deprecated": true,
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead."
        },
        "originalRequest": {
          "$ref": "CreateMaterializedViewRequest",
          "description": "The request that prompted the initiation of this CreateMaterializedView operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "deprecated": true,
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead."
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "type": "object",
      "id": "CreateMaterializedViewMetadata"
    },
    "CreateTableRequest": {
      "properties": {
        "table": {
          "$ref": "Table",
          "description": "Required. The Table to create."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters."
        },
        "initialSplits": {
          "items": {
            "$ref": "Split"
          },
          "type": "array",
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`"
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "id": "CreateTableRequest",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes": {
      "description": "Fields are encoded independently, then escaped and delimited by appling the following rules in order: - While the last remaining field is `ASC` or `UNSPECIFIED`, and encodes to the empty string \"\", remove it. - In each remaining field, replace all null bytes `0x00` with the fixed byte pair `{0x00, 0xFF}`. - If any remaining field encodes to the empty string \"\", replace it with the fixed byte pair `{0x00, 0x00}`. - Append the fixed byte pair `{0x00, 0x01}` to each remaining field, except for the last remaining field if it is `ASC`. - Bitwise negate all `DESC` fields. - Concatenate the results, or emit the fixed byte pair `{0x00, 0x00}` if there are no remaining fields to concatenate. Examples: ``` - STRUCT() -> \"\\00\\00\" - STRUCT(\"\") -> \"\\00\\00\" - STRUCT(\"\", \"\") -> \"\\00\\00\" - STRUCT(\"\", \"B\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\") -> \"A\" - STRUCT(\"\", \"B\", \"\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\", \"C\") -> \"A\" + \"\\00\\01\" + \"\\00\\00\" + \"\\00\\01\" + \"C\" ``` Examples for struct with `DESC` fields: ``` - STRUCT(\"\" DESC) -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\", \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"A\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" + \"A\" - STRUCT(\"A\", \"\" DESC, \"\") -> \"A\" + \"\\00\\01\" + \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\", \"A\" DESC) -> \"\\x00\\x00\" + \"\\x00\\x01\" + \"\\xBE\" + \"\\xFF\\xFE\" ``` Since null bytes are always escaped, this encoding can cause size blowup for encodings like `Int64.BigEndianBytes` that are likely to produce many such bytes. Sorted mode: - Fields are encoded in sorted mode. - All values supported by the field encodings are allowed. - Fields with unset or `UNSPECIFIED` order are treated as `ASC`. - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. Distinct mode: - Fields are encoded in distinct mode. - All values supported by the field encodings are allowed.",
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AuthorizedView": {
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "type": "object",
      "id": "AuthorizedView",
      "properties": {
        "name": {
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`",
          "type": "string"
        },
        "subsetView": {
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
          "description": "An AuthorizedView permitting access to an explicit subset of a Table."
        },
        "etag": {
          "type": "string",
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag."
        },
        "deletionProtection": {
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set.",
          "type": "boolean"
        }
      }
    },
    "Type": {
      "description": "`Type` represents the type of data that is written to, read from, or stored in Bigtable. It is heavily based on the GoogleSQL standard to help maintain familiarity and consistency across products and features. For compatibility with Bigtable's existing untyped APIs, each `Type` includes an `Encoding` which describes how to convert to or from the underlying data. Each encoding can operate in one of two modes: - Sorted: In this mode, Bigtable guarantees that `Encode(X) <= Encode(Y)` if and only if `X <= Y`. This is useful anywhere sort order is important, for example when encoding keys. - Distinct: In this mode, Bigtable guarantees that if `X != Y` then `Encode(X) != Encode(Y)`. However, the converse is not guaranteed. For example, both `{'foo': '1', 'bar': '2'}` and `{'bar': '2', 'foo': '1'}` are valid encodings of the same JSON value. The API clearly documents which mode is used wherever an encoding can be configured. Each encoding also documents which values are supported in which modes. For example, when encoding INT64 as a numeric STRING, negative numbers cannot be encoded in sorted mode. This is because `INT64(1) > INT64(-1)`, but `STRING(\"-00001\") > STRING(\"00001\")`.",
      "properties": {
        "enumType": {
          "description": "Enum",
          "$ref": "GoogleBigtableAdminV2TypeEnum"
        },
        "mapType": {
          "description": "Map",
          "$ref": "GoogleBigtableAdminV2TypeMap"
        },
        "int64Type": {
          "description": "Int64",
          "$ref": "GoogleBigtableAdminV2TypeInt64"
        },
        "int32Type": {
          "$ref": "GoogleBigtableAdminV2TypeInt32",
          "description": "Int32"
        },
        "aggregateType": {
          "description": "Aggregate",
          "$ref": "GoogleBigtableAdminV2TypeAggregate"
        },
        "float32Type": {
          "description": "Float32",
          "$ref": "GoogleBigtableAdminV2TypeFloat32"
        },
        "bytesType": {
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "description": "Bytes"
        },
        "geographyType": {
          "$ref": "GoogleBigtableAdminV2TypeGeography",
          "description": "Geography"
        },
        "boolType": {
          "$ref": "GoogleBigtableAdminV2TypeBool",
          "description": "Bool"
        },
        "dateType": {
          "$ref": "GoogleBigtableAdminV2TypeDate",
          "description": "Date"
        },
        "float64Type": {
          "description": "Float64",
          "$ref": "GoogleBigtableAdminV2TypeFloat64"
        },
        "stringType": {
          "$ref": "GoogleBigtableAdminV2TypeString",
          "description": "String"
        },
        "structType": {
          "description": "Struct",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "timestampType": {
          "$ref": "GoogleBigtableAdminV2TypeTimestamp",
          "description": "Timestamp"
        },
        "arrayType": {
          "description": "Array",
          "$ref": "GoogleBigtableAdminV2TypeArray"
        },
        "protoType": {
          "description": "Proto",
          "$ref": "GoogleBigtableAdminV2TypeProto"
        }
      },
      "type": "object",
      "id": "Type"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "DropRowRangeRequest": {
      "id": "DropRowRangeRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "type": "object",
      "properties": {
        "deleteAllDataFromTable": {
          "description": "Delete all rows in the table. Setting this to false is a no-op.",
          "type": "boolean"
        },
        "rowKeyPrefix": {
          "format": "byte",
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "type": "string"
        }
      }
    },
    "TableStats": {
      "properties": {
        "averageColumnsPerRow": {
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "type": "number",
          "format": "double"
        },
        "averageCellsPerColumn": {
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "type": "number",
          "format": "double"
        },
        "logicalDataBytes": {
          "format": "int64",
          "type": "string",
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out)."
        },
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "How many rows are in the table."
        }
      },
      "type": "object",
      "id": "TableStats",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified."
    },
    "Binding": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "properties": {},
      "type": "object",
      "description": "Defines rules used to convert to or from lower level types."
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
      "properties": {
        "delimiter": {
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`."
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "description": "The state of a materialized view's data in a particular cluster.",
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "properties": {
        "replicationState": {
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "description": "Output only. The state of the materialized view in this cluster.",
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "UpdateSchemaBundleMetadata": {
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "type": "object",
      "id": "UpdateSchemaBundleMetadata",
      "properties": {
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "AutomatedBackupPolicy": {
      "type": "object",
      "id": "AutomatedBackupPolicy",
      "properties": {
        "retentionPeriod": {
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "type": "string",
          "format": "google-duration"
        },
        "frequency": {
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "locations": {
          "description": "Optional. A list of Cloud Bigtable zones where automated backups are allowed to be created. If empty, automated backups will be created in all zones of the instance. Locations are in the format `projects/{project}/locations/{zone}`. You can set this field only for tables in Enterprise Plus instances.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines an automated backup policy for a table"
    },
    "UpdateLogicalViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.UpdateLogicalView.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of fields to update."
        },
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to update. The logical view's `name` field is used to identify the view to update. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`."
        }
      },
      "type": "object",
      "id": "UpdateLogicalViewRequest"
    },
    "HotTablet": {
      "id": "HotTablet",
      "type": "object",
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the hot tablet.",
          "format": "google-datetime",
          "type": "string"
        },
        "startKey": {
          "type": "string",
          "description": "Tablet Start Key (inclusive)."
        },
        "nodeCpuUsagePercent": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "format": "float"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`."
        },
        "tableName": {
          "type": "string",
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`."
        },
        "startTime": {
          "description": "Output only. The start time of the hot tablet.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endKey": {
          "description": "Tablet End Key (inclusive).",
          "type": "string"
        }
      }
    },
    "CheckConsistencyRequest": {
      "id": "CheckConsistencyRequest",
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "properties": {
        "standardReadRemoteWrites": {
          "$ref": "StandardReadRemoteWrites",
          "description": "Checks that reads using an app profile with `StandardIsolation` can see all writes committed before the token was created, even if the read and write target different clusters."
        },
        "dataBoostReadLocalWrites": {
          "$ref": "DataBoostReadLocalWrites",
          "description": "Checks that reads using an app profile with `DataBoostIsolationReadOnly` can see all writes committed before the token was created, but only if the read and write target the same cluster."
        },
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding",
      "type": "object",
      "properties": {
        "unixMicrosInt64": {
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      },
      "id": "AuditLogConfig"
    },
    "LogicalView": {
      "description": "A SQL logical view object that can be referenced in SQL queries.",
      "properties": {
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`"
        },
        "query": {
          "type": "string",
          "description": "Required. The logical view's select query."
        }
      },
      "type": "object",
      "id": "LogicalView"
    },
    "ListMemoryLayersResponse": {
      "type": "object",
      "description": "Response message for BigtableInstanceAdmin.ListMemoryLayers.",
      "id": "ListMemoryLayersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which MemoryLayer information could not be retrieved, due to an outage or some other transient condition. MemoryLayers from these locations may be missing from `memory_layers`, or may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "memoryLayers": {
          "items": {
            "$ref": "MemoryLayer"
          },
          "description": "The list of requested memory layers.",
          "type": "array"
        }
      }
    },
    "ListAppProfilesResponse": {
      "type": "object",
      "properties": {
        "appProfiles": {
          "type": "array",
          "description": "The list of requested app profiles.",
          "items": {
            "$ref": "AppProfile"
          }
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "id": "ListAppProfilesResponse"
    },
    "CheckConsistencyResponse": {
      "id": "CheckConsistencyResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "properties": {
        "utf8Raw": {
          "deprecated": true,
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`."
        },
        "utf8Bytes": {
          "description": "Use `Utf8Bytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes"
        }
      },
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStringEncoding"
    },
    "RestoreTableRequest": {
      "description": "The request for RestoreTable.",
      "properties": {
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RestoreTableRequest"
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "properties": {
        "qualifiers": {
          "type": "array",
          "description": "Individual exact column qualifiers to be included in the AuthorizedView.",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "qualifierPrefixes": {
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\").",
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Subsets of a column family that are included in this AuthorizedView.",
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "id": "GoogleBigtableAdminV2TypeInt32Encoding",
      "properties": {
        "orderedCodeBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
          "description": "Use `OrderedCodeBytes` encoding."
        },
        "bigEndianBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
          "description": "Use `BigEndianBytes` encoding."
        }
      },
      "description": "Rules used to convert to or from lower level types.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "type": "object",
      "properties": {
        "raw": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
          "description": "Use `Raw` encoding."
        }
      }
    },
    "UpdateClusterMetadata": {
      "id": "UpdateClusterMetadata",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "Cluster",
          "description": "The request that prompted the initiation of this UpdateCluster operation."
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateCluster."
    },
    "GoogleBigtableAdminV2TypeAggregateMax": {
      "id": "GoogleBigtableAdminV2TypeAggregateMax",
      "properties": {},
      "description": "Computes the max of the input values. Allowed input: `Int64` State: same as input",
      "type": "object"
    },
    "UndeleteTableRequest": {
      "type": "object",
      "id": "UndeleteTableRequest",
      "properties": {},
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable"
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        }
      }
    },
    "UpdateAuthorizedViewRequest": {
      "id": "UpdateAuthorizedViewRequest",
      "type": "object",
      "properties": {
        "authorizedView": {
          "$ref": "AuthorizedView",
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`."
        },
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "format": "google-fieldmask"
        }
      },
      "description": "The request for UpdateAuthorizedView."
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "delimitedBytes": {
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
          "description": "Use `DelimitedBytes` encoding."
        },
        "orderedCodeBytes": {
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
          "description": "User `OrderedCodeBytes` encoding."
        }
      },
      "id": "GoogleBigtableAdminV2TypeStructEncoding"
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "properties": {},
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "properties": {
        "bigEndianBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes",
          "description": "Use `BigEndianBytes` encoding."
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt64Encoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object"
    },
    "AutoscalingLimits": {
      "properties": {
        "maxServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Maximum number of nodes to scale up to."
        },
        "minServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minimum number of nodes to scale down to."
        }
      },
      "type": "object",
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to.",
      "id": "AutoscalingLimits"
    },
    "UpdateMemoryLayerMetadata": {
      "id": "UpdateMemoryLayerMetadata",
      "properties": {
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateMemoryLayer operation.",
          "$ref": "UpdateMemoryLayerRequest"
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateMemoryLayer."
    },
    "TableProgress": {
      "properties": {
        "estimatedSizeBytes": {
          "type": "string",
          "description": "Estimate of the size of the table to be copied.",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ]
        },
        "estimatedCopiedBytes": {
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TableProgress",
      "description": "Progress info for copying a table's data to the new cluster.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "properties": {},
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "type": "object"
    },
    "CreateLogicalViewRequest": {
      "properties": {
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to create."
        },
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateLogicalViewRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView."
    },
    "CreateSchemaBundleMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by CreateSchemaBundle.",
      "properties": {
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "id": "CreateSchemaBundleMetadata"
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "type": "object",
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`.",
      "properties": {}
    },
    "ListLogicalViewsResponse": {
      "properties": {
        "logicalViews": {
          "type": "array",
          "description": "The list of requested logical views.",
          "items": {
            "$ref": "LogicalView"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "id": "ListLogicalViewsResponse",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest"
    },
    "CopyBackupMetadata": {
      "properties": {
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the CopyBackup operation."
        },
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        }
      },
      "type": "object",
      "id": "CopyBackupMetadata",
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup."
    },
    "MemoryLayer": {
      "properties": {
        "name": {
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\".",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the memory layer.",
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ]
        },
        "memoryConfig": {
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer.",
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        }
      },
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store.",
      "type": "object",
      "id": "MemoryLayer"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "properties": {
        "escapeNulls": {
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended.",
          "type": "boolean"
        }
      }
    },
    "StandardIsolation": {
      "id": "StandardIsolation",
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "type": "object",
      "properties": {
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "description": "The priority of requests sent using this app profile.",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ]
        },
        "memoryConfig": {
          "$ref": "MemoryConfig",
          "description": "Optional. The memory config to use for requests sent using this app profile."
        }
      }
    },
    "Split": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Row key to use as an initial tablet boundary.",
          "format": "byte"
        }
      },
      "description": "An initial split point for a newly created table.",
      "id": "Split",
      "type": "object"
    },
    "ListSchemaBundlesResponse": {
      "description": "The response for ListSchemaBundles.",
      "type": "object",
      "properties": {
        "schemaBundles": {
          "description": "The schema bundles from the specified table.",
          "type": "array",
          "items": {
            "$ref": "SchemaBundle"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSchemaBundlesResponse"
    },
    "ListClustersResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "id": "ListClustersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true,
          "type": "string"
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of requested clusters."
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array"
        }
      }
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
        }
      },
      "type": "object",
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "id": "EncryptionConfig"
    },
    "GoogleBigtableAdminV2TypeProto": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeProto",
      "properties": {
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this proto is defined in.",
          "type": "string"
        },
        "messageName": {
          "type": "string",
          "description": "The fully qualified name of the protobuf message, including package. In the format of \"foo.bar.Message\"."
        }
      },
      "description": "A protobuf message type. Values of type `Proto` are stored in `Value.bytes_value`."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
      "type": "object",
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "properties": {}
    },
    "ListBackupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups."
        },
        "backups": {
          "description": "The list of matching backups.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        }
      },
      "id": "ListBackupsResponse",
      "type": "object",
      "description": "The response for ListBackups."
    },
    "GoogleBigtableAdminV2TypeInt32": {
      "type": "object",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeInt32Encoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "description": "Int32 Values of type `Int32` are stored in `Value.int_value`.",
      "id": "GoogleBigtableAdminV2TypeInt32"
    },
    "GoogleBigtableAdminV2TypeGeography": {
      "description": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes.",
      "id": "GoogleBigtableAdminV2TypeGeography",
      "properties": {},
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleBigtableAdminV2TypeDate": {
      "id": "GoogleBigtableAdminV2TypeDate",
      "properties": {},
      "type": "object",
      "description": "Date Values of type `Date` are stored in `Value.date_value`."
    },
    "ModifyColumnFamiliesRequest": {
      "properties": {
        "modifications": {
          "type": "array",
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example)."
        },
        "ignoreWarnings": {
          "description": "Optional. If true, ignore safety checks when modifying the column families.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies"
    },
    "AutoscalingTargets": {
      "type": "object",
      "id": "AutoscalingTargets",
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "properties": {
        "storageUtilizationGibPerNode": {
          "format": "int32",
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD.",
          "type": "integer"
        },
        "cpuUtilizationPercent": {
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CreateInstanceRequest": {
      "id": "CreateInstanceRequest",
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`."
        },
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        },
        "clusters": {
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank.",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "type": "object"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        }
      }
    },
    "DataBoostReadLocalWrites": {
      "id": "DataBoostReadLocalWrites",
      "properties": {},
      "type": "object",
      "description": "Checks that all writes before the consistency token was generated in the same cluster are readable by Databoost."
    },
    "CreateAuthorizedViewMetadata": {
      "properties": {
        "originalRequest": {
          "$ref": "CreateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      },
      "id": "CreateAuthorizedViewMetadata",
      "type": "object",
      "description": "The metadata for the Operation returned by CreateAuthorizedView."
    },
    "Table": {
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster.",
      "id": "Table",
      "properties": {
        "tieredStorageConfig": {
          "$ref": "TieredStorageConfig",
          "description": "Rules to specify what data is stored in each storage tier. Different tiers store data differently, providing different trade-offs between cost and performance. Different parts of a table can be stored separately on different tiers. If a config is specified, tiered storage is enabled for this table. Otherwise, tiered storage is disabled. Only SSD instances can configure tiered storage."
        },
        "deletionProtection": {
          "description": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs.",
          "type": "boolean"
        },
        "automatedBackupPolicy": {
          "description": "If specified, automated backups are enabled for this table. Otherwise, automated backups are disabled.",
          "$ref": "AutomatedBackupPolicy"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`"
        },
        "restoreInfo": {
          "$ref": "RestoreInfo",
          "readOnly": true,
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore."
        },
        "columnFamilies": {
          "additionalProperties": {
            "$ref": "ColumnFamily"
          },
          "type": "object",
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`"
        },
        "stats": {
          "$ref": "TableStats",
          "readOnly": true,
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above."
        },
        "granularity": {
          "type": "string",
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS",
            "MICROS"
          ],
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned. When specified during table creation, MILLIS will be used.",
            "The table keeps data versioned at a granularity of 1ms.",
            "The table keeps data versioned at a granularity of 1us."
          ],
          "description": "Immutable. The granularity at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`."
        },
        "changeStreamConfig": {
          "description": "If specified, enable the change stream on this table. Otherwise, the change stream is disabled and the change stream is not retained.",
          "$ref": "ChangeStreamConfig"
        },
        "rowKeySchema": {
          "description": "The row key schema for this table. The schema is used to decode the raw row key bytes into a structured format. The order of field declarations in this schema is important, as it reflects how the raw row key bytes are structured. Currently, this only affects how the key is read via a GoogleSQL query from the ExecuteQuery API. For a SQL query, the _key column is still read as raw bytes. But queries can reference the key fields by name, which will be decoded from _key using provided type and encoding. Queries that reference key fields will fail if they encounter an invalid row key. For example, if _key = \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" with the following schema: { fields { field_name: \"id\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"date\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"product_code\" type { int64 { encoding: big_endian_bytes {} } } } encoding { delimited_bytes { delimiter: \"#\" } } } The decoded key parts would be: id = \"some_id\", date = \"2024-04-30\", product_code = 1245427 The query \"SELECT _key, product_code FROM table\" will return two columns: /------------------------------------------------------\\ | _key | product_code | | --------------------------------------|--------------| | \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" | 1245427 | \\------------------------------------------------------/ The schema has the following invariants: (1) The decoded field values are order-preserved. For read, the field values will be decoded in sorted mode from the raw bytes. (2) Every field in the schema must specify a non-empty name. (3) Every field must specify a type with an associated encoding. The type is limited to scalar types only: Array, Map, Aggregate, and Struct are not allowed. (4) The field names must not collide with existing column family names and reserved keywords \"_key\" and \"_timestamp\". The following update operations are allowed for row_key_schema: - Update from an empty schema to a new schema. - Remove the existing schema. This operation requires setting the `ignore_warnings` flag to `true`, since it might be a backward incompatible change. Without the flag, the update request will fail with an INVALID_ARGUMENT error. Any other row key schema update operation (e.g. update existing schema columns names or types) is currently unsupported.",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "clusterStates": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`",
          "additionalProperties": {
            "$ref": "ClusterState"
          }
        }
      },
      "type": "object"
    },
    "UpdateAuthorizedViewMetadata": {
      "type": "object",
      "id": "UpdateAuthorizedViewMetadata",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView."
    },
    "GoogleBigtableAdminV2TypeString": {
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding"
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeString",
      "description": "String Values of type `String` are stored in `Value.string_value`."
    },
    "GoogleBigtableAdminV2AuthorizedViewSubsetView": {
      "type": "object",
      "properties": {
        "familySubsets": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
          },
          "description": "Map from column family name to the columns in this family to be included in the AuthorizedView."
        },
        "rowPrefixes": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "Row prefixes to be included in the AuthorizedView. To provide access to all rows, include the empty string as a prefix (\"\").",
          "type": "array"
        }
      },
      "description": "Defines a simple AuthorizedView that is a subset of the underlying Table.",
      "id": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
    },
    "CreateBackupMetadata": {
      "description": "Metadata type for the operation returned by CreateBackup.",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "sourceTable": {
          "type": "string",
          "description": "The name of the table the backup is created from."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The name of the backup being created."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "CreateBackupMetadata"
    },
    "SingleClusterRouting": {
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "type": "object",
      "properties": {
        "allowTransactionalWrites": {
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters.",
          "type": "boolean"
        },
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        }
      },
      "id": "SingleClusterRouting"
    },
    "GoogleBigtableAdminV2TypeMap": {
      "properties": {
        "keyType": {
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types.",
          "$ref": "Type"
        },
        "valueType": {
          "description": "The type of the values in a map.",
          "$ref": "Type"
        }
      },
      "type": "object",
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "id": "GoogleBigtableAdminV2TypeMap"
    },
    "BackupInfo": {
      "type": "object",
      "description": "Information about a backup.",
      "properties": {
        "backup": {
          "readOnly": true,
          "description": "Output only. Name of the backup.",
          "type": "string"
        },
        "sourceTable": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the table the backup was created from."
        },
        "sourceBackup": {
          "readOnly": true,
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp."
        }
      },
      "id": "BackupInfo"
    },
    "GoogleBigtableAdminV2TypeBool": {
      "id": "GoogleBigtableAdminV2TypeBool",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBoolEncoding",
          "description": "Specifies the encoding to use when converting to or from lower level types."
        }
      },
      "description": "bool Values of type `Bool` are stored in `Value.bool_value`.",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "MultiClusterRoutingUseAny": {
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "id": "MultiClusterRoutingUseAny",
      "type": "object",
      "properties": {
        "clusterIds": {
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rowAffinity": {
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically.",
          "$ref": "RowAffinity"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingSingleton": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeStructEncodingSingleton",
      "type": "object",
      "description": "Uses the encoding of `fields[0].type` as-is. Only valid if `fields.size == 1`. This encoding does not support `DESC` field ordering."
    },
    "Modification": {
      "description": "A create, update, or delete of a particular column family.",
      "id": "Modification",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        },
        "create": {
          "$ref": "ColumnFamily",
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID."
        },
        "drop": {
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists.",
          "type": "boolean"
        },
        "update": {
          "$ref": "ColumnFamily",
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible."
        }
      }
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "properties": {
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "sourceType": {
          "type": "string",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source.",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the table being created and restored to."
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        }
      },
      "type": "object"
    },
    "MemoryConfig": {
      "properties": {},
      "type": "object",
      "id": "MemoryConfig",
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled."
    },
    "ClusterConfig": {
      "properties": {
        "clusterAutoscalingConfig": {
          "description": "Autoscaling configuration for this cluster.",
          "$ref": "ClusterAutoscalingConfig"
        }
      },
      "description": "Configuration for a cluster.",
      "id": "ClusterConfig",
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "id": "PartialUpdateInstanceRequest",
      "properties": {
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "type": "string"
        }
      }
    },
    "OperationProgress": {
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation.",
      "id": "OperationProgress",
      "properties": {
        "startTime": {
          "description": "Time the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateInstanceMetadata": {
      "description": "The metadata for the Operation returned by CreateInstance.",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      },
      "id": "CreateInstanceMetadata",
      "type": "object"
    },
    "ProtoSchema": {
      "description": "Represents a collection of protobuf schemas.",
      "properties": {
        "protoDescriptors": {
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "ProtoSchema"
    },
    "GenerateConsistencyTokenResponse": {
      "properties": {
        "consistencyToken": {
          "type": "string",
          "description": "The generated consistency token."
        }
      },
      "type": "object",
      "id": "GenerateConsistencyTokenResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "Union": {
      "description": "A GcRule which deletes cells matching any of the given rules.",
      "type": "object",
      "id": "Union",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GcRule"
          },
          "description": "Delete cells which would be deleted by any element of `rules`."
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "type": "object"
    },
    "Cluster": {
      "properties": {
        "clusterConfig": {
          "$ref": "ClusterConfig",
          "description": "Configuration for this cluster."
        },
        "serveNodes": {
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization.",
          "format": "int32",
          "type": "integer"
        },
        "defaultStorageType": {
          "type": "string",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden."
        },
        "location": {
          "type": "string",
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "nodeScalingFactor": {
          "type": "string",
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ],
          "description": "Immutable. The node scaling factor of this cluster.",
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ]
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
[...]
