{
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "version": "v2",
  "basePath": "",
  "name": "bigtableadmin",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "bigtableadmin:v2",
  "batchPath": "batch",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Administer your Cloud Bigtable tables and instances.",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "documentationLink": "https://cloud.google.com/bigtable/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Bigtable Admin",
  "revision": "20260817",
  "schemas": {
    "CreateLogicalViewMetadata": {
      "id": "CreateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "$ref": "CreateLogicalViewRequest",
          "description": "The request that prompted the initiation of this CreateLogicalView operation."
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      }
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups.",
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of matching backups."
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        }
      }
    },
    "PartialUpdateClusterMetadata": {
      "id": "PartialUpdateClusterMetadata",
      "description": "The metadata for the Operation returned by PartialUpdateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "$ref": "PartialUpdateClusterRequest",
          "description": "The original request for PartialUpdateCluster."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListSchemaBundlesResponse": {
      "id": "ListSchemaBundlesResponse",
      "description": "The response for ListSchemaBundles.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "schemaBundles": {
          "description": "The schema bundles from the specified table.",
          "type": "array",
          "items": {
            "$ref": "SchemaBundle"
          }
        }
      }
    },
    "UpdateClusterMetadata": {
      "id": "UpdateClusterMetadata",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      }
    },
    "ListMemoryLayersResponse": {
      "type": "object",
      "properties": {
        "memoryLayers": {
          "description": "The list of requested memory layers.",
          "type": "array",
          "items": {
            "$ref": "MemoryLayer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "failedLocations": {
          "description": "Locations from which MemoryLayer information could not be retrieved, due to an outage or some other transient condition. MemoryLayers from these locations may be missing from `memory_layers`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListMemoryLayersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMemoryLayers."
    },
    "UpdateLogicalViewMetadata": {
      "id": "UpdateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by UpdateLogicalView.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "type": "string"
        },
        "originalRequest": {
          "$ref": "UpdateLogicalViewRequest",
          "description": "The request that prompted the initiation of this UpdateLogicalView operation."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeDate": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeDate",
      "description": "Date Values of type `Date` are stored in `Value.date_value`."
    },
    "CreateLogicalViewRequest": {
      "id": "CreateLogicalViewRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView.",
      "type": "object",
      "properties": {
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to create."
        },
        "logicalViewId": {
          "type": "string",
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`."
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt64": {
      "id": "GoogleBigtableAdminV2TypeInt64",
      "description": "Int64 Values of type `Int64` are stored in `Value.int_value`.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      }
    },
    "CopyBackupMetadata": {
      "id": "CopyBackupMetadata",
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "sourceBackupInfo": {
          "$ref": "BackupInfo",
          "description": "Information about the source backup that is being copied from."
        },
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
      "description": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Split": {
      "id": "Split",
      "description": "An initial split point for a newly created table.",
      "type": "object",
      "properties": {
        "key": {
          "format": "byte",
          "description": "Row key to use as an initial tablet boundary.",
          "type": "string"
        }
      }
    },
    "EncryptionInfo": {
      "type": "object",
      "properties": {
        "encryptionType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "description": "Output only. The type of encryption used to protect this resource."
        },
        "encryptionStatus": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest."
        },
        "kmsKeyVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table."
        }
      },
      "id": "EncryptionInfo",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status."
    },
    "StandardIsolation": {
      "id": "StandardIsolation",
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "type": "object",
      "properties": {
        "priority": {
          "description": "The priority of requests sent using this app profile.",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        },
        "memoryConfig": {
          "description": "Optional. The memory config to use for requests sent using this app profile.",
          "$ref": "MemoryConfig"
        }
      }
    },
    "GoogleBigtableAdminV2TypeString": {
      "id": "GoogleBigtableAdminV2TypeString",
      "description": "String Values of type `String` are stored in `Value.string_value`.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding"
        }
      }
    },
    "RestoreInfo": {
      "type": "object",
      "properties": {
        "backupInfo": {
          "$ref": "BackupInfo",
          "description": "Information about the backup used to restore the table. The backup may no longer exist."
        },
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "type": "string",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source."
        }
      },
      "id": "RestoreInfo",
      "description": "Information about a table restore."
    },
    "ListLogicalViewsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "logicalViews": {
          "type": "array",
          "items": {
            "$ref": "LogicalView"
          },
          "description": "The list of requested logical views."
        }
      },
      "id": "ListLogicalViewsResponse",
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews."
    },
    "UpdateMemoryLayerRequest": {
      "id": "UpdateMemoryLayerRequest",
      "description": "Request message for BigtableInstanceAdmin.UpdateMemoryLayer.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask"
        },
        "memoryLayer": {
          "$ref": "MemoryLayer",
          "description": "Required. The memory layer to update. The memory layer's `name` format is as follows: `projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer`."
        }
      }
    },
    "ListAppProfilesResponse": {
      "id": "ListAppProfilesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        },
        "appProfiles": {
          "type": "array",
          "items": {
            "$ref": "AppProfile"
          },
          "description": "The list of requested app profiles."
        },
        "failedLocations": {
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UpdateAuthorizedViewMetadata": {
      "id": "UpdateAuthorizedViewMetadata",
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "$ref": "UpdateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "type": "object",
      "properties": {}
    },
    "UndeleteTableRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteTableRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable"
    },
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        },
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the backup being created."
        },
        "startTime": {
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "type": "object",
      "properties": {
        "enumName": {
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\".",
          "type": "string"
        },
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this enum is defined in.",
          "type": "string"
        }
      },
      "id": "GoogleBigtableAdminV2TypeEnum",
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`."
    },
    "StandardReadRemoteWrites": {
      "id": "StandardReadRemoteWrites",
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable.",
      "type": "object",
      "properties": {}
    },
    "SingleClusterRouting": {
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        },
        "allowTransactionalWrites": {
          "type": "boolean",
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters."
        }
      },
      "id": "SingleClusterRouting",
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability."
    },
    "UpdateTableMetadata": {
      "id": "UpdateTableMetadata",
      "description": "Metadata type for the operation returned by UpdateTable.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "name": {
          "description": "The name of the table being updated.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true
        }
      }
    },
    "Instance": {
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "knowledgeCatalogRegion": {
          "description": "Output only. The region where Knowledge Catalog data is synced to and stored, including user-created aspects.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion.",
          "type": "string"
        },
        "edition": {
          "enumDescriptions": [
            "The edition is unspecified. This is treated as `ENTERPRISE`.",
            "The Enterprise edition. This is the default offering that is designed to meet the needs of most enterprise workloads.",
            "The Enterprise Plus edition. This is a premium tier that is designed for demanding, multi-tenant workloads requiring the highest levels of performance, scale, and global availability. The nodes in the Enterprise Plus tier come at a higher cost than the Enterprise tier. Any Enterprise Plus features must be disabled before downgrading to Enterprise."
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Optional. The edition of the instance. See Edition for details."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ]
        },
        "labels": {
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes. Labels and Tags (below) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the instance.",
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ]
        }
      },
      "id": "Instance",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
    },
    "GenerateConsistencyTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "type": "object",
      "properties": {
        "sourceType": {
          "type": "string",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "description": "The type of the restore source."
        },
        "name": {
          "type": "string",
          "description": "Name of the table being created and restored to."
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the RestoreTable operation."
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        }
      }
    },
    "ChangeStreamConfig": {
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity."
        }
      },
      "id": "ChangeStreamConfig",
      "description": "Change stream configuration."
    },
    "RowAffinity": {
      "id": "RowAffinity",
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group.",
      "type": "object",
      "properties": {}
    },
    "MemoryLayer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\"."
        },
        "memoryConfig": {
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig",
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer."
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the memory layer.",
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ],
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ]
        }
      },
      "id": "MemoryLayer",
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store."
    },
    "Union": {
      "id": "Union",
      "description": "A GcRule which deletes cells matching any of the given rules.",
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GcRule"
          },
          "description": "Delete cells which would be deleted by any element of `rules`."
        }
      }
    },
    "CreateAuthorizedViewRequest": {
      "type": "object",
      "properties": {
        "authorizedViewId": {
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`.",
          "type": "string"
        },
        "authorizedView": {
          "$ref": "AuthorizedView",
          "description": "Required. The AuthorizedView to create."
        },
        "parent": {
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
          "type": "string"
        }
      },
      "id": "CreateAuthorizedViewRequest",
      "description": "The request for CreateAuthorizedView"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "CheckConsistencyRequest": {
      "id": "CheckConsistencyRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object",
      "properties": {
        "dataBoostReadLocalWrites": {
          "$ref": "DataBoostReadLocalWrites",
          "description": "Checks that reads using an app profile with `DataBoostIsolationReadOnly` can see all writes committed before the token was created, but only if the read and write target the same cluster."
        },
        "consistencyToken": {
          "type": "string",
          "description": "Required. The token created using GenerateConsistencyToken for the Table."
        },
        "standardReadRemoteWrites": {
          "$ref": "StandardReadRemoteWrites",
          "description": "Checks that reads using an app profile with `StandardIsolation` can see all writes committed before the token was created, even if the read and write target different clusters."
        }
      }
    },
    "MaterializedView": {
      "id": "MaterializedView",
      "description": "A materialized view object that can be referenced in SQL queries.",
      "type": "object",
      "properties": {
        "deletionProtection": {
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "boolean"
        },
        "query": {
          "type": "string",
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`."
        },
        "etag": {
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "clusterStates": {
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "id": "GoogleBigtableAdminV2TypeInt32Encoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListHotTabletsResponse": {
      "id": "ListHotTabletsResponse",
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "type": "object",
      "properties": {
        "hotTablets": {
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "type": "array",
          "items": {
            "$ref": "HotTablet"
          }
        },
        "nextPageToken": {
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      }
    },
    "AuthorizedView": {
      "type": "object",
      "properties": {
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`"
        },
        "subsetView": {
          "description": "An AuthorizedView permitting access to an explicit subset of a Table.",
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        }
      },
      "id": "AuthorizedView",
      "description": "An Authorized View of a Cloud Bigtable Table."
    },
    "CreateInstanceRequest": {
      "id": "CreateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`."
        },
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        },
        "clusters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank."
        }
      }
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "progressPercent": {
          "type": "integer",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "format": "int32"
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "failedLocations": {
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of requested clusters."
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "ListClustersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListClusters."
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      }
    },
    "CreateAuthorizedViewMetadata": {
      "id": "CreateAuthorizedViewMetadata",
      "description": "The metadata for the Operation returned by CreateAuthorizedView.",
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "CreateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation."
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "type": "object",
      "properties": {
        "escapeNulls": {
          "type": "boolean",
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended."
        }
      },
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "properties": {}
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "OptimizeRestoredTableMetadata": {
      "id": "OptimizeRestoredTableMetadata",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "id": "GoogleBigtableAdminV2TypeAggregateSum",
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeStruct": {
      "type": "object",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeStructEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        },
        "fields": {
          "description": "The names and types of the fields in this struct.",
          "type": "array",
          "items": {
            "$ref": "GoogleBigtableAdminV2TypeStructField"
          }
        }
      },
      "id": "GoogleBigtableAdminV2TypeStruct",
      "description": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`."
    },
    "ColumnFamilyStats": {
      "id": "ColumnFamilyStats",
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.",
      "type": "object",
      "properties": {
        "averageCellsPerColumn": {
          "type": "number",
          "format": "double",
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field."
        },
        "logicalDataHddBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The logical data bytes of the column family stored on HDD.",
          "format": "int64"
        },
        "logicalDataSsdBytes": {
          "format": "int64",
          "description": "Output only. The logical data bytes of the column family stored on SSD.",
          "readOnly": true,
          "type": "string"
        },
        "averageColumnsPerRow": {
          "format": "double",
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.",
          "type": "number"
        },
        "logicalDataBytes": {
          "format": "int64",
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "deprecated": true,
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`."
    },
    "RestoreTableRequest": {
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "id": "RestoreTableRequest",
      "description": "The request for RestoreTable."
    },
    "UndeleteTableMetadata": {
      "id": "UndeleteTableMetadata",
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "name": {
          "type": "string",
          "description": "The name of the table being restored."
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "description": "The state of a materialized view's data in a particular cluster.",
      "type": "object",
      "properties": {
        "replicationState": {
          "type": "string",
          "description": "Output only. The state of the materialized view in this cluster.",
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ]
        }
      }
    },
    "DataBoostIsolationReadOnly": {
      "type": "object",
      "properties": {
        "computeBillingOwner": {
          "type": "string",
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ],
          "description": "The Compute Billing Owner for this Data Boost App Profile."
        }
      },
      "id": "DataBoostIsolationReadOnly",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing."
    },
    "AutoscalingLimits": {
      "type": "object",
      "properties": {
        "minServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minimum number of nodes to scale down to."
        },
        "maxServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Maximum number of nodes to scale up to."
        }
      },
      "id": "AutoscalingLimits",
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to."
    },
    "HotTablet": {
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The end time of the hot tablet."
        },
        "startKey": {
          "type": "string",
          "description": "Tablet Start Key (inclusive)."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The start time of the hot tablet."
        },
        "endKey": {
          "type": "string",
          "description": "Tablet End Key (inclusive)."
        },
        "nodeCpuUsagePercent": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "format": "float"
        },
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        }
      },
      "id": "HotTablet",
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time."
    },
    "TableProgress": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ]
        },
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Estimate of the size of the table to be copied."
        },
        "estimatedCopiedBytes": {
          "format": "int64",
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "type": "string"
        }
      },
      "id": "TableProgress",
      "description": "Progress info for copying a table's data to the new cluster."
    },
    "TableStats": {
      "type": "object",
      "properties": {
        "logicalDataBytes": {
          "format": "int64",
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out).",
          "type": "string"
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "How many rows are in the table."
        },
        "averageColumnsPerRow": {
          "format": "double",
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "type": "number"
        },
        "averageCellsPerColumn": {
          "type": "number",
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "format": "double"
        }
      },
      "id": "TableStats",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified."
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "type": "object",
      "properties": {
        "raw": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
          "description": "Use `Raw` encoding."
        }
      },
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
        }
      },
      "id": "EncryptionConfig",
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster."
    },
    "UpdateSchemaBundleMetadata": {
      "id": "UpdateSchemaBundleMetadata",
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "name": {
          "type": "string",
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
        }
      }
    },
    "ModifyColumnFamiliesRequest": {
      "type": "object",
      "properties": {
        "modifications": {
          "type": "array",
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example)."
        },
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore safety checks when modifying the column families."
        }
      },
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies"
    },
    "GoogleBigtableAdminV2TypeBool": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Specifies the encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBoolEncoding"
        }
      },
      "id": "GoogleBigtableAdminV2TypeBool",
      "description": "bool Values of type `Bool` are stored in `Value.bool_value`."
    },
    "SchemaBundle": {
      "id": "SchemaBundle",
      "description": "A named collection of related schemas.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
        },
        "protoSchema": {
          "description": "Schema for Protobufs.",
          "$ref": "ProtoSchema"
        }
      }
    },
    "GoogleBigtableAdminV2MemoryLayerMemoryConfig": {
      "type": "object",
      "properties": {
        "storageSizeGib": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Reporting the current size of the memory layer in GiB.",
          "format": "int32"
        }
      },
      "id": "GoogleBigtableAdminV2MemoryLayerMemoryConfig",
      "description": "Configuration of a memory layer."
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "type": "object",
      "properties": {
        "inputType": {
          "description": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs.",
          "$ref": "Type"
        },
        "hllppUniqueCount": {
          "description": "HyperLogLogPlusPlusUniqueCount aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount"
        },
        "sum": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateSum",
          "description": "Sum aggregator."
        },
        "min": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateMin",
          "description": "Min aggregator."
        },
        "max": {
          "description": "Max aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMax"
        },
        "stateType": {
          "readOnly": true,
          "$ref": "Type",
          "description": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen."
        }
      },
      "id": "GoogleBigtableAdminV2TypeAggregate",
      "description": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` ."
    },
    "MemoryConfig": {
      "id": "MemoryConfig",
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled.",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "id": "GoogleBigtableAdminV2TypeBytes",
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "type": "object",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      }
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`."
    },
    "ClusterState": {
      "type": "object",
      "properties": {
        "replicationState": {
          "description": "Output only. The state of replication for the table in this cluster.",
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ],
          "type": "string"
        },
        "encryptionInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS."
        }
      },
      "id": "ClusterState",
      "description": "The state of a table's data in a particular cluster."
    },
    "CreateTableRequest": {
      "id": "CreateTableRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "Table",
          "description": "Required. The Table to create."
        },
        "initialSplits": {
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`",
          "type": "array",
          "items": {
            "$ref": "Split"
          }
        },
        "tableId": {
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters.",
          "type": "string"
        }
      }
    },
    "MultiClusterRoutingUseAny": {
      "id": "MultiClusterRoutingUseAny",
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "type": "object",
      "properties": {
        "clusterIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible."
        },
        "rowAffinity": {
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically.",
          "$ref": "RowAffinity"
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`."
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "description": "Output only. The current state of the backup."
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Size of the backup in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup.",
          "type": "string"
        },
        "backupType": {
          "description": "Indicates the backup type of the backup.",
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ]
        },
        "hotToStandardTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request."
        },
        "sourceTable": {
          "type": "string",
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`."
        }
      }
    },
    "ColumnFamily": {
      "type": "object",
      "properties": {
        "stats": {
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above.",
          "readOnly": true,
          "$ref": "ColumnFamilyStats"
        },
        "valueType": {
          "description": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations",
          "$ref": "Type"
        },
        "gcRule": {
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family.",
          "$ref": "GcRule"
        }
      },
      "id": "ColumnFamily",
      "description": "A set of columns within a table which share a common configuration."
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "description": "Configuration for a cluster.",
      "type": "object",
      "properties": {
        "clusterAutoscalingConfig": {
          "$ref": "ClusterAutoscalingConfig",
          "description": "Autoscaling configuration for this cluster."
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input"
    },
    "TieredStorageRule": {
      "type": "object",
      "properties": {
        "includeIfOlderThan": {
          "type": "string",
          "format": "google-duration",
          "description": "Include cells older than the given age. For the infrequent access tier, this value must be at least 30 days."
        }
      },
      "id": "TieredStorageRule",
      "description": "Rule to specify what data is stored in a storage tier."
    },
    "UpdateAuthorizedViewRequest": {
      "type": "object",
      "properties": {
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
          "$ref": "AuthorizedView"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateAuthorizedViewRequest",
      "description": "The request for UpdateAuthorizedView."
    },
    "GoogleBigtableAdminV2TypeTimestamp": {
      "type": "object",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeTimestampEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "id": "GoogleBigtableAdminV2TypeTimestamp",
      "description": "Timestamp Values of type `Timestamp` are stored in `Value.timestamp_value`."
    },
    "TieredStorageConfig": {
      "type": "object",
      "properties": {
        "infrequentAccess": {
          "$ref": "TieredStorageRule",
          "description": "Rule to specify what data is stored in the infrequent access(IA) tier. The IA tier allows storing more data per node with reduced performance."
        }
      },
      "id": "TieredStorageConfig",
      "description": "Config for tiered storage. A valid config must have a valid TieredStorageRule. Otherwise the whole TieredStorageConfig must be unset. By default all data is stored in the SSD tier (only SSD instances can configure tiered storage)."
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "description": "Defines rules used to convert to or from lower level types."
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "type": "object",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters.",
          "format": "byte"
        }
      }
    },
    "GoogleBigtableAdminV2TypeGeography": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeGeography",
      "description": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes."
    },
    "GoogleBigtableAdminV2TypeStructEncodingSingleton": {
      "id": "GoogleBigtableAdminV2TypeStructEncodingSingleton",
      "description": "Uses the encoding of `fields[0].type` as-is. Only valid if `fields.size == 1`. This encoding does not support `DESC` field ordering.",
      "type": "object",
      "properties": {}
    },
    "Modification": {
      "type": "object",
      "properties": {
        "drop": {
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists.",
          "type": "boolean"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible."
        },
        "create": {
          "$ref": "ColumnFamily",
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID."
        },
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        },
        "update": {
          "$ref": "ColumnFamily",
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID."
        }
      },
      "id": "Modification",
      "description": "A create, update, or delete of a particular column family."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "LogicalView": {
      "type": "object",
      "properties": {
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Set to true to make the LogicalView protected against deletion."
        },
        "query": {
          "description": "Required. The logical view's select query.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
[...]
