{
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/bigtable/",
  "name": "bigtableadmin",
  "revision": "20260829",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "bigtableadmin:v2",
  "version_module": true,
  "version": "v2",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "canonicalName": "Bigtable Admin",
  "schemas": {
    "CreateTableRequest": {
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "properties": {
        "table": {
          "description": "Required. The Table to create.",
          "$ref": "Table"
        },
        "initialSplits": {
          "type": "array",
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`",
          "items": {
            "$ref": "Split"
          }
        },
        "tableId": {
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters.",
          "type": "string"
        }
      },
      "id": "CreateTableRequest"
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "id": "GoogleBigtableAdminV2TypeInt64Encoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
        }
      }
    },
    "ChangeStreamConfig": {
      "description": "Change stream configuration.",
      "properties": {
        "retentionPeriod": {
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChangeStreamConfig"
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "type": "object",
      "properties": {
        "tables": {
          "description": "The tables present in the requested instance.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables"
    },
    "GoogleBigtableAdminV2TypeStruct": {
      "properties": {
        "fields": {
          "description": "The names and types of the fields in this struct.",
          "type": "array",
          "items": {
            "$ref": "GoogleBigtableAdminV2TypeStructField"
          }
        },
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncoding"
        }
      },
      "type": "object",
      "description": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`.",
      "id": "GoogleBigtableAdminV2TypeStruct"
    },
    "ListHotTabletsResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "id": "ListHotTabletsResponse",
      "type": "object",
      "properties": {
        "hotTablets": {
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "items": {
            "$ref": "HotTablet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeGeography": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeGeography",
      "description": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes.",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeFloat32": {
      "id": "GoogleBigtableAdminV2TypeFloat32",
      "properties": {},
      "type": "object",
      "description": "Float32 Values of type `Float32` are stored in `Value.float_value`."
    },
    "GoogleBigtableAdminV2TypeBool": {
      "id": "GoogleBigtableAdminV2TypeBool",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBoolEncoding",
          "description": "Specifies the encoding to use when converting to or from lower level types."
        }
      },
      "type": "object",
      "description": "bool Values of type `Bool` are stored in `Value.bool_value`."
    },
    "TableStats": {
      "type": "object",
      "id": "TableStats",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified.",
      "properties": {
        "averageColumnsPerRow": {
          "format": "double",
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "type": "number"
        },
        "logicalDataBytes": {
          "format": "int64",
          "type": "string",
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out)."
        },
        "averageCellsPerColumn": {
          "format": "double",
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "type": "number"
        },
        "rowCount": {
          "description": "How many rows are in the table.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PartialUpdateInstanceRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        }
      },
      "id": "PartialUpdateInstanceRequest",
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance."
    },
    "CreateClusterMetadata": {
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster.",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "tables": {
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far."
        }
      },
      "type": "object"
    },
    "GenerateConsistencyTokenRequest": {
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "properties": {},
      "type": "object"
    },
    "ProtoSchema": {
      "id": "ProtoSchema",
      "properties": {
        "protoDescriptors": {
          "type": "string",
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "format": "byte"
        }
      },
      "description": "Represents a collection of protobuf schemas.",
      "type": "object"
    },
    "AppProfile": {
      "type": "object",
      "id": "AppProfile",
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "properties": {
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the app profile, up to 50 characters long. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`."
        },
        "description": {
          "type": "string",
          "description": "Long form description of the use case for this AppProfile."
        },
        "multiClusterRoutingUseAny": {
          "description": "Use a multi-cluster routing policy.",
          "$ref": "MultiClusterRoutingUseAny"
        },
        "etag": {
          "type": "string",
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the meantime. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details."
        },
        "priority": {
          "type": "string",
          "deprecated": true,
          "description": "This field has been deprecated in favor of `standard_isolation.priority`. If you set this field, `standard_isolation.priority` will be set instead. The priority of requests sent using this app profile.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ]
        },
        "dataBoostIsolationReadOnly": {
          "description": "Specifies that this app profile is intended for read-only usage via the Data Boost feature.",
          "$ref": "DataBoostIsolationReadOnly"
        },
        "standardIsolation": {
          "$ref": "StandardIsolation",
          "description": "The standard options used for isolating this app profile's traffic from other use cases."
        }
      }
    },
    "ClusterState": {
      "description": "The state of a table's data in a particular cluster.",
      "type": "object",
      "id": "ClusterState",
      "properties": {
        "encryptionInfo": {
          "type": "array",
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS.",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "readOnly": true
        },
        "replicationState": {
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ],
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "type": "string",
          "description": "Output only. The state of replication for the table in this cluster."
        }
      }
    },
    "CreateLogicalViewRequest": {
      "id": "CreateLogicalViewRequest",
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView.",
      "properties": {
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "logicalView": {
          "description": "Required. The logical view to create.",
          "$ref": "LogicalView"
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "type": "object",
      "properties": {
        "raw": {
          "description": "Use `Raw` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw"
        }
      }
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "id": "GoogleBigtableAdminV2TypeEnum",
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`.",
      "type": "object",
      "properties": {
        "enumName": {
          "type": "string",
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\"."
        },
        "schemaBundleId": {
          "type": "string",
          "description": "The ID of the schema bundle that this enum is defined in."
        }
      }
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "properties": {
        "originalRequest": {
          "$ref": "PartialUpdateInstanceRequest",
          "description": "The request that prompted the initiation of this UpdateInstance operation."
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      },
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "type": "object"
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "properties": {
        "replicationState": {
          "type": "string",
          "description": "Output only. The state of the materialized view in this cluster.",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ],
          "readOnly": true
        }
      },
      "description": "The state of a materialized view's data in a particular cluster.",
      "type": "object"
    },
    "ListSchemaBundlesResponse": {
      "type": "object",
      "id": "ListSchemaBundlesResponse",
      "description": "The response for ListSchemaBundles.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "schemaBundles": {
          "description": "The schema bundles from the specified table.",
          "type": "array",
          "items": {
            "$ref": "SchemaBundle"
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding"
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBytes",
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeInt64": {
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt64",
      "description": "Int64 Values of type `Int64` are stored in `Value.int_value`.",
      "type": "object"
    },
    "ModifyColumnFamiliesRequest": {
      "properties": {
        "ignoreWarnings": {
          "description": "Optional. If true, ignore safety checks when modifying the column families.",
          "type": "boolean"
        },
        "modifications": {
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example).",
          "type": "array"
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies",
      "type": "object",
      "id": "ModifyColumnFamiliesRequest"
    },
    "SchemaBundle": {
      "type": "object",
      "description": "A named collection of related schemas.",
      "id": "SchemaBundle",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        },
        "protoSchema": {
          "$ref": "ProtoSchema",
          "description": "Schema for Protobufs."
        },
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        }
      }
    },
    "AutomatedBackupPolicy": {
      "properties": {
        "retentionPeriod": {
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "format": "google-duration",
          "type": "string"
        },
        "locations": {
          "description": "Optional. A list of Cloud Bigtable zones where automated backups are allowed to be created. If empty, automated backups will be created in all zones of the instance. Locations are in the format `projects/{project}/locations/{zone}`. You can set this field only for tables in Enterprise Plus instances.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "frequency": {
          "type": "string",
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours.",
          "format": "google-duration"
        }
      },
      "id": "AutomatedBackupPolicy",
      "description": "Defines an automated backup policy for a table",
      "type": "object"
    },
    "ListBackupsResponse": {
      "description": "The response for ListBackups.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups."
        },
        "backups": {
          "description": "The list of matching backups.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        }
      },
      "id": "ListBackupsResponse"
    },
    "UpdateAppProfileMetadata": {
      "type": "object",
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "properties": {}
    },
    "AutoscalingLimits": {
      "type": "object",
      "properties": {
        "maxServeNodes": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Maximum number of nodes to scale up to."
        },
        "minServeNodes": {
          "description": "Required. Minimum number of nodes to scale down to.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to.",
      "id": "AutoscalingLimits"
    },
    "UpdateAuthorizedViewRequest": {
      "properties": {
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "format": "google-fieldmask"
        },
        "authorizedView": {
          "$ref": "AuthorizedView",
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`."
        }
      },
      "description": "The request for UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewRequest",
      "type": "object"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "ListMemoryLayersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which MemoryLayer information could not be retrieved, due to an outage or some other transient condition. MemoryLayers from these locations may be missing from `memory_layers`, or may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "memoryLayers": {
          "type": "array",
          "items": {
            "$ref": "MemoryLayer"
          },
          "description": "The list of requested memory layers."
        }
      },
      "id": "ListMemoryLayersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMemoryLayers.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "description": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`",
      "properties": {
        "nullEscapeChar": {
          "description": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. .",
          "type": "string"
        }
      },
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
      "type": "object"
    },
    "DropRowRangeRequest": {
      "type": "object",
      "properties": {
        "rowKeyPrefix": {
          "type": "string",
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "format": "byte"
        },
        "deleteAllDataFromTable": {
          "type": "boolean",
          "description": "Delete all rows in the table. Setting this to false is a no-op."
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "id": "DropRowRangeRequest"
    },
    "StandardReadRemoteWrites": {
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable.",
      "properties": {},
      "type": "object",
      "id": "StandardReadRemoteWrites"
    },
    "CreateAuthorizedViewMetadata": {
      "id": "CreateAuthorizedViewMetadata",
      "type": "object",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "CreateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "description": "The metadata for the Operation returned by CreateAuthorizedView."
    },
    "RowAffinity": {
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group.",
      "type": "object",
      "id": "RowAffinity",
      "properties": {}
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ]
        },
        "nodeScalingFactor": {
          "description": "Immutable. The node scaling factor of this cluster.",
          "type": "string",
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ],
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ]
        },
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        },
        "location": {
          "type": "string",
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`."
        },
        "serveNodes": {
          "format": "int32",
          "type": "integer",
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization."
        },
        "defaultStorageType": {
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden."
        }
      },
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "id": "Cluster"
    },
    "OperationProgress": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "If set, the time at which this operation failed or was completed successfully."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the request was received.",
          "type": "string"
        }
      },
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation.",
      "id": "OperationProgress",
      "type": "object"
    },
    "StandardIsolation": {
      "type": "object",
      "id": "StandardIsolation",
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "properties": {
        "memoryConfig": {
          "description": "Optional. The memory config to use for requests sent using this app profile.",
          "$ref": "MemoryConfig"
        },
        "priority": {
          "description": "The priority of requests sent using this app profile.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "description": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes"
    },
    "CreateSchemaBundleMetadata": {
      "type": "object",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      },
      "description": "The metadata for the Operation returned by CreateSchemaBundle.",
      "id": "CreateSchemaBundleMetadata"
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest"
    },
    "LogicalView": {
      "description": "A SQL logical view object that can be referenced in SQL queries.",
      "type": "object",
      "properties": {
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        },
        "name": {
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Required. The logical view's select query."
        }
      },
      "id": "LogicalView"
    },
    "TieredStorageConfig": {
      "id": "TieredStorageConfig",
      "properties": {
        "infrequentAccess": {
          "description": "Rule to specify what data is stored in the infrequent access(IA) tier. The IA tier allows storing more data per node with reduced performance.",
          "$ref": "TieredStorageRule"
        }
      },
      "description": "Config for tiered storage. A valid config must have a valid TieredStorageRule. Otherwise the whole TieredStorageConfig must be unset. By default all data is stored in the SSD tier (only SSD instances can configure tiered storage).",
      "type": "object"
    },
    "Type": {
      "type": "object",
      "id": "Type",
      "properties": {
        "float32Type": {
          "description": "Float32",
          "$ref": "GoogleBigtableAdminV2TypeFloat32"
        },
        "aggregateType": {
          "description": "Aggregate",
          "$ref": "GoogleBigtableAdminV2TypeAggregate"
        },
        "protoType": {
          "$ref": "GoogleBigtableAdminV2TypeProto",
          "description": "Proto"
        },
        "float64Type": {
          "$ref": "GoogleBigtableAdminV2TypeFloat64",
          "description": "Float64"
        },
        "arrayType": {
          "$ref": "GoogleBigtableAdminV2TypeArray",
          "description": "Array"
        },
        "structType": {
          "description": "Struct",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "int64Type": {
          "$ref": "GoogleBigtableAdminV2TypeInt64",
          "description": "Int64"
        },
        "int32Type": {
          "$ref": "GoogleBigtableAdminV2TypeInt32",
          "description": "Int32"
        },
        "mapType": {
          "description": "Map",
          "$ref": "GoogleBigtableAdminV2TypeMap"
        },
        "timestampType": {
          "description": "Timestamp",
          "$ref": "GoogleBigtableAdminV2TypeTimestamp"
        },
        "stringType": {
          "description": "String",
          "$ref": "GoogleBigtableAdminV2TypeString"
        },
        "bytesType": {
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "description": "Bytes"
        },
        "dateType": {
          "description": "Date",
          "$ref": "GoogleBigtableAdminV2TypeDate"
        },
        "geographyType": {
          "description": "Geography",
          "$ref": "GoogleBigtableAdminV2TypeGeography"
        },
        "enumType": {
          "description": "Enum",
          "$ref": "GoogleBigtableAdminV2TypeEnum"
        },
        "boolType": {
          "$ref": "GoogleBigtableAdminV2TypeBool",
          "description": "Bool"
        }
      },
      "description": "`Type` represents the type of data that is written to, read from, or stored in Bigtable. It is heavily based on the GoogleSQL standard to help maintain familiarity and consistency across products and features. For compatibility with Bigtable's existing untyped APIs, each `Type` includes an `Encoding` which describes how to convert to or from the underlying data. Each encoding can operate in one of two modes: - Sorted: In this mode, Bigtable guarantees that `Encode(X) <= Encode(Y)` if and only if `X <= Y`. This is useful anywhere sort order is important, for example when encoding keys. - Distinct: In this mode, Bigtable guarantees that if `X != Y` then `Encode(X) != Encode(Y)`. However, the converse is not guaranteed. For example, both `{'foo': '1', 'bar': '2'}` and `{'bar': '2', 'foo': '1'}` are valid encodings of the same JSON value. The API clearly documents which mode is used wherever an encoding can be configured. Each encoding also documents which values are supported in which modes. For example, when encoding INT64 as a numeric STRING, negative numbers cannot be encoded in sorted mode. This is because `INT64(1) > INT64(-1)`, but `STRING(\"-00001\") > STRING(\"00001\")`."
    },
    "UpdateSchemaBundleMetadata": {
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "UpdateSchemaBundleMetadata",
      "type": "object"
    },
    "EncryptionInfo": {
      "properties": {
        "kmsKeyVersion": {
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionStatus": {
          "$ref": "Status",
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest.",
          "readOnly": true
        },
        "encryptionType": {
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "description": "Output only. The type of encryption used to protect this resource.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ]
        }
      },
      "type": "object",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status.",
      "id": "EncryptionInfo"
    },
    "MemoryConfig": {
      "id": "MemoryConfig",
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled.",
      "type": "object",
      "properties": {}
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "ListInstancesResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object",
      "properties": {
        "failedLocations": {
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The list of requested instances."
        },
        "nextPageToken": {
          "deprecated": true,
          "description": "DEPRECATED: This field is unused and ignored.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStringEncoding",
      "description": "Rules used to convert to or from lower level types.",
      "properties": {
        "utf8Raw": {
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`.",
          "deprecated": true,
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw"
        },
        "utf8Bytes": {
          "description": "Use `Utf8Bytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes"
        }
      }
    },
    "AutoscalingTargets": {
      "id": "AutoscalingTargets",
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "properties": {
        "storageUtilizationGibPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD."
        },
        "cpuUtilizationPercent": {
          "type": "integer",
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes. Labels and Tags (below) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the instance.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "type": "string"
        },
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "type": "object"
        },
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "The edition is unspecified. This is treated as `ENTERPRISE`.",
            "The Enterprise edition. This is the default offering that is designed to meet the needs of most enterprise workloads.",
            "The Enterprise Plus edition. This is a premium tier that is designed for demanding, multi-tenant workloads requiring the highest levels of performance, scale, and global availability. The nodes in the Enterprise Plus tier come at a higher cost than the Enterprise tier. Any Enterprise Plus features must be disabled before downgrading to Enterprise."
          ],
          "description": "Optional. The edition of the instance. See Edition for details.",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
        },
        "type": {
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "type": "string"
        },
        "knowledgeCatalogRegion": {
          "readOnly": true,
          "description": "Output only. The region where Knowledge Catalog data is synced to and stored, including user-created aspects.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
    },
    "Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "properties": {
        "escapeNulls": {
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended.",
          "type": "boolean"
        }
      },
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object"
    },
    "PartialUpdateClusterMetadata": {
      "type": "object",
      "id": "PartialUpdateClusterMetadata",
      "properties": {
        "originalRequest": {
          "description": "The original request for PartialUpdateCluster.",
          "$ref": "PartialUpdateClusterRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "description": "The metadata for the Operation returned by PartialUpdateCluster."
    },
    "RestoreInfo": {
      "properties": {
        "sourceType": {
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "backupInfo": {
          "description": "Information about the backup used to restore the table. The backup may no longer exist.",
          "$ref": "BackupInfo"
        }
      },
      "id": "RestoreInfo",
      "description": "Information about a table restore.",
      "type": "object"
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "The list of requested clusters.",
          "items": {
            "$ref": "Cluster"
          }
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED: This field is unused and ignored."
        }
      },
      "id": "ListClustersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListClusters."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "GenerateConsistencyTokenResponse": {
      "id": "GenerateConsistencyTokenResponse",
      "type": "object",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "EncryptionConfig": {
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "RestoreTableMetadata": {
      "properties": {
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        },
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "id": "RestoreTableMetadata"
    },
    "RestoreTableRequest": {
      "id": "RestoreTableRequest",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for RestoreTable."
    },
    "UpdateMemoryLayerMetadata": {
      "id": "UpdateMemoryLayerMetadata",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateMemoryLayer operation.",
          "$ref": "UpdateMemoryLayerRequest"
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateMemoryLayer."
    },
    "CreateMaterializedViewRequest": {
      "type": "object",
      "id": "CreateMaterializedViewRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView.",
      "properties": {
        "materializedView": {
          "$ref": "MaterializedView",
          "description": "Required. The materialized view to create."
        },
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "ignoreWarnings": {
          "description": "Optional. If true, ignore optional safety checks when creating the materialized view.",
          "type": "boolean"
        },
        "materializedViewId": {
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleBigtableAdminV2TypeTimestamp": {
      "type": "object",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeTimestampEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "id": "GoogleBigtableAdminV2TypeTimestamp",
      "description": "Timestamp Values of type `Timestamp` are stored in `Value.timestamp_value`."
    },
    "ListAuthorizedViewsResponse": {
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListAuthorizedViews",
      "id": "ListAuthorizedViewsResponse",
      "type": "object",
      "properties": {
        "authorizedViews": {
          "description": "The AuthorizedViews present in the requested table.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedView"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt32Encoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "AuthorizedView": {
      "properties": {
        "deletionProtection": {
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set.",
          "type": "boolean"
        },
        "subsetView": {
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
          "description": "An AuthorizedView permitting access to an explicit subset of a Table."
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`"
        }
      },
      "type": "object",
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "id": "AuthorizedView"
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        },
        "fieldName": {
          "type": "string",
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name."
        }
      },
      "description": "A struct field and its type.",
      "id": "GoogleBigtableAdminV2TypeStructField"
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {
        "unixMicrosInt64": {
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      },
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GoogleBigtableAdminV2AuthorizedViewSubsetView": {
      "description": "Defines a simple AuthorizedView that is a subset of the underlying Table.",
      "type": "object",
      "id": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
      "properties": {
        "familySubsets": {
          "description": "Map from column family name to the columns in this family to be included in the AuthorizedView.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
          },
          "type": "object"
        },
        "rowPrefixes": {
          "type": "array",
          "description": "Row prefixes to be included in the AuthorizedView. To provide access to all rows, include the empty string as a prefix (\"\").",
          "items": {
            "format": "byte",
            "type": "string"
          }
        }
      }
    },
    "CreateAuthorizedViewRequest": {
      "type": "object",
      "description": "The request for CreateAuthorizedView",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`."
        },
        "authorizedViewId": {
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`.",
          "type": "string"
        },
        "authorizedView": {
          "$ref": "AuthorizedView",
          "description": "Required. The AuthorizedView to create."
        }
      },
      "id": "CreateAuthorizedViewRequest"
    },
    "UndeleteTableRequest": {
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable",
      "id": "UndeleteTableRequest",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeInt32": {
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeInt32Encoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "type": "object",
      "description": "Int32 Values of type `Int32` are stored in `Value.int_value`.",
      "id": "GoogleBigtableAdminV2TypeInt32"
    },
    "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes": {
      "description": "Fields are encoded independently, then escaped and delimited by appling the following rules in order: - While the last remaining field is `ASC` or `UNSPECIFIED`, and encodes to the empty string \"\", remove it. - In each remaining field, replace all null bytes `0x00` with the fixed byte pair `{0x00, 0xFF}`. - If any remaining field encodes to the empty string \"\", replace it with the fixed byte pair `{0x00, 0x00}`. - Append the fixed byte pair `{0x00, 0x01}` to each remaining field, except for the last remaining field if it is `ASC`. - Bitwise negate all `DESC` fields. - Concatenate the results, or emit the fixed byte pair `{0x00, 0x00}` if there are no remaining fields to concatenate. Examples: ``` - STRUCT() -> \"\\00\\00\" - STRUCT(\"\") -> \"\\00\\00\" - STRUCT(\"\", \"\") -> \"\\00\\00\" - STRUCT(\"\", \"B\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\") -> \"A\" - STRUCT(\"\", \"B\", \"\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\", \"C\") -> \"A\" + \"\\00\\01\" + \"\\00\\00\" + \"\\00\\01\" + \"C\" ``` Examples for struct with `DESC` fields: ``` - STRUCT(\"\" DESC) -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\", \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"A\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" + \"A\" - STRUCT(\"A\", \"\" DESC, \"\") -> \"A\" + \"\\00\\01\" + \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\", \"A\" DESC) -> \"\\x00\\x00\" + \"\\x00\\x01\" + \"\\xBE\" + \"\\xFF\\xFE\" ``` Since null bytes are always escaped, this encoding can cause size blowup for encodings like `Int64.BigEndianBytes` that are likely to produce many such bytes. Sorted mode: - Fields are encoded in sorted mode. - All values supported by the field encodings are allowed. - Fields with unset or `UNSPECIFIED` order are treated as `ASC`. - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. Distinct mode: - Fields are encoded in distinct mode. - All values supported by the field encodings are allowed.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
      "properties": {}
    },
    "GcRule": {
      "type": "object",
      "properties": {
        "intersection": {
          "description": "Delete cells that would be deleted by every nested rule.",
          "$ref": "Intersection"
        },
        "maxAge": {
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "type": "string",
          "format": "google-duration"
        },
        "maxNumVersions": {
          "type": "integer",
          "format": "int32",
          "description": "Delete all cells in a column except the most recent N."
        },
        "union": {
          "$ref": "Union",
          "description": "Delete cells that would be deleted by any nested rule."
        }
      },
      "id": "GcRule",
      "description": "Rule for determining which cells to delete during garbage collection."
    },
    "TieredStorageRule": {
      "id": "TieredStorageRule",
      "properties": {
        "includeIfOlderThan": {
          "format": "google-duration",
          "type": "string",
          "description": "Include cells older than the given age. For the infrequent access tier, this value must be at least 30 days."
        }
      },
      "description": "Rule to specify what data is stored in a storage tier.",
      "type": "object"
    },
    "CreateLogicalViewMetadata": {
      "id": "CreateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "properties": {
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true
        },
        "startTime": {
          "type": "string",
          "description": "DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "deprecated": true
        },
        "originalRequest": {
          "$ref": "CreateLogicalViewRequest",
          "description": "The request that prompted the initiation of this CreateLogicalView operation."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "properties": {},
      "type": "object",
      "description": "Defines rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeBoolEncoding"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Split": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "Row key to use as an initial tablet boundary."
        }
      },
      "id": "Split",
      "description": "An initial split point for a newly created table."
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "properties": {},
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)"
    },
    "Intersection": {
      "id": "Intersection",
      "type": "object",
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "items": {
            "$ref": "GcRule"
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "properties": {
        "delimiter": {
          "type": "string",
          "format": "byte",
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters."
        }
      },
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
    },
    "GoogleBigtableAdminV2TypeArray": {
      "properties": {
        "elementType": {
          "$ref": "Type",
          "description": "The type of the elements in the array. This must not be `Array`."
        }
      },
      "id": "GoogleBigtableAdminV2TypeArray",
      "type": "object",
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`."
    },
    "HotTablet": {
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "type": "object",
      "id": "HotTablet",
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the hot tablet.",
          "type": "string",
          "format": "google-datetime"
        },
        "nodeCpuUsagePercent": {
          "format": "float",
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "type": "number",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The end time of the hot tablet.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        },
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "startKey": {
          "type": "string",
          "description": "Tablet Start Key (inclusive)."
        },
        "endKey": {
          "description": "Tablet End Key (inclusive).",
          "type": "string"
        }
      }
    },
    "DataBoostIsolationReadOnly": {
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing.",
      "type": "object",
      "id": "DataBoostIsolationReadOnly",
      "properties": {
        "computeBillingOwner": {
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ],
[...]
