{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260817",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "UpdateAppProfileMetadata": {
      "type": "object",
      "id": "UpdateAppProfileMetadata",
      "properties": {},
      "description": "The metadata for the Operation returned by UpdateAppProfile."
    },
    "GoogleBigtableAdminV2TypeBool": {
      "description": "bool Values of type `Bool` are stored in `Value.bool_value`.",
      "id": "GoogleBigtableAdminV2TypeBool",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBoolEncoding",
          "description": "Specifies the encoding to use when converting to or from lower level types."
        }
      },
      "type": "object"
    },
    "Cluster": {
      "type": "object",
      "id": "Cluster",
      "properties": {
        "serveNodes": {
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization.",
          "type": "integer",
          "format": "int32"
        },
        "defaultStorageType": {
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "name": {
          "type": "string",
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`."
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "type": "string"
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`.",
          "type": "string"
        },
        "nodeScalingFactor": {
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ],
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ],
          "description": "Immutable. The node scaling factor of this cluster.",
          "type": "string"
        },
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        }
      },
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "EncryptionInfo": {
      "type": "object",
      "id": "EncryptionInfo",
      "properties": {
        "encryptionType": {
          "description": "Output only. The type of encryption used to protect this resource.",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "type": "string"
        },
        "encryptionStatus": {
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest.",
          "$ref": "Status",
          "readOnly": true
        },
        "kmsKeyVersion": {
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status."
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeEnum",
      "properties": {
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this enum is defined in.",
          "type": "string"
        },
        "enumName": {
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\".",
          "type": "string"
        }
      },
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`."
    },
    "CreateLogicalViewRequest": {
      "type": "object",
      "id": "CreateLogicalViewRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to create."
        },
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "type": "object",
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
      "properties": {
        "delimiter": {
          "format": "byte",
          "type": "string",
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters."
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "type": "object",
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)",
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "properties": {}
    },
    "DataBoostIsolationReadOnly": {
      "type": "object",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing.",
      "id": "DataBoostIsolationReadOnly",
      "properties": {
        "computeBillingOwner": {
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ],
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "description": "The Compute Billing Owner for this Data Boost App Profile.",
          "type": "string"
        }
      }
    },
    "MemoryLayer": {
      "id": "MemoryLayer",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        },
        "name": {
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\".",
          "type": "string"
        },
        "memoryConfig": {
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig",
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the memory layer.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ]
        }
      },
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "properties": {},
      "type": "object"
    },
    "CreateMaterializedViewMetadata": {
      "type": "object",
      "id": "CreateMaterializedViewMetadata",
      "properties": {
        "originalRequest": {
          "$ref": "CreateMaterializedViewRequest",
          "description": "The request that prompted the initiation of this CreateMaterializedView operation."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for the Operation returned by CreateMaterializedView."
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "properties": {
        "failedLocations": {
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true,
          "type": "string"
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of requested clusters."
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeDate": {
      "description": "Date Values of type `Date` are stored in `Value.date_value`.",
      "id": "GoogleBigtableAdminV2TypeDate",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes": {
      "description": "Fields are encoded independently, then escaped and delimited by appling the following rules in order: - While the last remaining field is `ASC` or `UNSPECIFIED`, and encodes to the empty string \"\", remove it. - In each remaining field, replace all null bytes `0x00` with the fixed byte pair `{0x00, 0xFF}`. - If any remaining field encodes to the empty string \"\", replace it with the fixed byte pair `{0x00, 0x00}`. - Append the fixed byte pair `{0x00, 0x01}` to each remaining field, except for the last remaining field if it is `ASC`. - Bitwise negate all `DESC` fields. - Concatenate the results, or emit the fixed byte pair `{0x00, 0x00}` if there are no remaining fields to concatenate. Examples: ``` - STRUCT() -> \"\\00\\00\" - STRUCT(\"\") -> \"\\00\\00\" - STRUCT(\"\", \"\") -> \"\\00\\00\" - STRUCT(\"\", \"B\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\") -> \"A\" - STRUCT(\"\", \"B\", \"\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\", \"C\") -> \"A\" + \"\\00\\01\" + \"\\00\\00\" + \"\\00\\01\" + \"C\" ``` Examples for struct with `DESC` fields: ``` - STRUCT(\"\" DESC) -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\", \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"A\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" + \"A\" - STRUCT(\"A\", \"\" DESC, \"\") -> \"A\" + \"\\00\\01\" + \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\", \"A\" DESC) -> \"\\x00\\x00\" + \"\\x00\\x01\" + \"\\xBE\" + \"\\xFF\\xFE\" ``` Since null bytes are always escaped, this encoding can cause size blowup for encodings like `Int64.BigEndianBytes` that are likely to produce many such bytes. Sorted mode: - Fields are encoded in sorted mode. - All values supported by the field encodings are allowed. - Fields with unset or `UNSPECIFIED` order are treated as `ASC`. - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. Distinct mode: - Fields are encoded in distinct mode. - All values supported by the field encodings are allowed.",
      "id": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
      "properties": {},
      "type": "object"
    },
    "CreateSchemaBundleMetadata": {
      "type": "object",
      "id": "CreateSchemaBundleMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "description": "The metadata for the Operation returned by CreateSchemaBundle."
    },
    "ListHotTabletsResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "id": "ListHotTabletsResponse",
      "properties": {
        "hotTablets": {
          "items": {
            "$ref": "HotTablet"
          },
          "type": "array",
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response."
        },
        "nextPageToken": {
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateTableRequest": {
      "id": "CreateTableRequest",
      "properties": {
        "tableId": {
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters.",
          "type": "string"
        },
        "table": {
          "description": "Required. The Table to create.",
          "$ref": "Table"
        },
        "initialSplits": {
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`",
          "type": "array",
          "items": {
            "$ref": "Split"
          }
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "type": "object"
    },
    "UndeleteTableRequest": {
      "id": "UndeleteTableRequest",
      "properties": {},
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable",
      "type": "object"
    },
    "ListAuthorizedViewsResponse": {
      "id": "ListAuthorizedViewsResponse",
      "properties": {
        "authorizedViews": {
          "items": {
            "$ref": "AuthorizedView"
          },
          "type": "array",
          "description": "The AuthorizedViews present in the requested table."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListAuthorizedViews",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "TieredStorageRule": {
      "description": "Rule to specify what data is stored in a storage tier.",
      "id": "TieredStorageRule",
      "properties": {
        "includeIfOlderThan": {
          "format": "google-duration",
          "type": "string",
          "description": "Include cells older than the given age. For the infrequent access tier, this value must be at least 30 days."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
      "properties": {
        "nullEscapeChar": {
          "description": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. .",
          "type": "string"
        }
      },
      "description": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`",
      "type": "object"
    },
    "GenerateConsistencyTokenResponse": {
      "type": "object",
      "id": "GenerateConsistencyTokenResponse",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "ListAppProfilesResponse": {
      "id": "ListAppProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`"
        },
        "appProfiles": {
          "items": {
            "$ref": "AppProfile"
          },
          "type": "array",
          "description": "The list of requested app profiles."
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "type": "object"
    },
    "RowAffinity": {
      "type": "object",
      "id": "RowAffinity",
      "properties": {},
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "type": "object",
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding",
      "properties": {
        "unixMicrosInt64": {
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding",
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`"
        }
      }
    },
    "ListLogicalViewsResponse": {
      "type": "object",
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "id": "ListLogicalViewsResponse",
      "properties": {
        "logicalViews": {
          "description": "The list of requested logical views.",
          "type": "array",
          "items": {
            "$ref": "LogicalView"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleBigtableAdminV2TypeTimestamp": {
      "id": "GoogleBigtableAdminV2TypeTimestamp",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeTimestampEncoding"
        }
      },
      "description": "Timestamp Values of type `Timestamp` are stored in `Value.timestamp_value`.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregate",
      "properties": {
        "stateType": {
          "readOnly": true,
          "description": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen.",
          "$ref": "Type"
        },
        "inputType": {
          "$ref": "Type",
          "description": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs."
        },
        "sum": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateSum",
          "description": "Sum aggregator."
        },
        "min": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateMin",
          "description": "Min aggregator."
        },
        "max": {
          "description": "Max aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMax"
        },
        "hllppUniqueCount": {
          "description": "HyperLogLogPlusPlusUniqueCount aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount"
        }
      },
      "description": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` ."
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "type": "object",
      "description": "A struct field and its type.",
      "id": "GoogleBigtableAdminV2TypeStructField",
      "properties": {
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        },
        "fieldName": {
          "type": "string",
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name."
        }
      }
    },
    "AutoscalingLimits": {
      "type": "object",
      "id": "AutoscalingLimits",
      "properties": {
        "minServeNodes": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Minimum number of nodes to scale down to."
        },
        "maxServeNodes": {
          "description": "Required. Maximum number of nodes to scale up to.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to."
    },
    "CreateClusterRequest": {
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "properties": {
        "cluster": {
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`."
        }
      }
    },
    "ColumnFamilyStats": {
      "id": "ColumnFamilyStats",
      "properties": {
        "logicalDataBytes": {
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        },
        "logicalDataSsdBytes": {
          "description": "Output only. The logical data bytes of the column family stored on SSD.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "averageCellsPerColumn": {
          "format": "double",
          "type": "number",
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field."
        },
        "logicalDataHddBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The logical data bytes of the column family stored on HDD."
        },
        "averageColumnsPerRow": {
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.",
      "type": "object"
    },
    "Backup": {
      "id": "Backup",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup."
        },
        "name": {
          "type": "string",
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`."
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Size of the backup in bytes."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ]
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "backupType": {
          "type": "string",
          "description": "Indicates the backup type of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ]
        },
        "encryptionInfo": {
          "readOnly": true,
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp."
        },
        "sourceTable": {
          "type": "string",
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`."
        },
        "hotToStandardTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request."
        }
      },
      "description": "A backup of a Cloud Bigtable table.",
      "type": "object"
    },
    "OptimizeRestoredTableMetadata": {
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "id": "OptimizeRestoredTableMetadata",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "type": "object"
    },
    "Intersection": {
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "id": "Intersection",
      "properties": {
        "rules": {
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "items": {
            "$ref": "GcRule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "description": "Subsets of a column family that are included in this AuthorizedView.",
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets",
      "properties": {
        "qualifiers": {
          "description": "Individual exact column qualifiers to be included in the AuthorizedView.",
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "qualifierPrefixes": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\")."
        }
      },
      "type": "object"
    },
    "Modification": {
      "type": "object",
      "id": "Modification",
      "properties": {
        "updateMask": {
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        },
        "update": {
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "drop": {
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists.",
          "type": "boolean"
        },
        "create": {
          "$ref": "ColumnFamily",
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID."
        }
      },
      "description": "A create, update, or delete of a particular column family."
    },
    "GoogleBigtableAdminV2TypeStructEncodingSingleton": {
      "id": "GoogleBigtableAdminV2TypeStructEncodingSingleton",
      "properties": {},
      "description": "Uses the encoding of `fields[0].type` as-is. Only valid if `fields.size == 1`. This encoding does not support `DESC` field ordering.",
      "type": "object"
    },
    "GoogleBigtableAdminV2AuthorizedViewSubsetView": {
      "type": "object",
      "id": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
      "properties": {
        "rowPrefixes": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array",
          "description": "Row prefixes to be included in the AuthorizedView. To provide access to all rows, include the empty string as a prefix (\"\")."
        },
        "familySubsets": {
          "description": "Map from column family name to the columns in this family to be included in the AuthorizedView.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
          },
          "type": "object"
        }
      },
      "description": "Defines a simple AuthorizedView that is a subset of the underlying Table."
    },
    "ClusterState": {
      "description": "The state of a table's data in a particular cluster.",
      "id": "ClusterState",
      "properties": {
        "replicationState": {
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ],
          "description": "Output only. The state of replication for the table in this cluster.",
          "readOnly": true
        },
        "encryptionInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EncryptionInfo"
          },
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS."
        }
      },
      "type": "object"
    },
    "PartialUpdateClusterRequest": {
      "type": "object",
      "id": "PartialUpdateClusterRequest",
      "properties": {
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask."
        },
        "updateMask": {
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster."
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "description": "The response for ListBackups.",
      "id": "ListBackupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        },
        "backups": {
          "description": "The list of matching backups.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        }
      }
    },
    "CopyBackupRequest": {
      "description": "The request for CopyBackup.",
      "id": "CopyBackupRequest",
      "properties": {
        "expireTime": {
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "type": "string",
          "format": "google-datetime"
        },
        "backupId": {
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*.",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`."
        }
      },
      "type": "object"
    },
    "CreateMaterializedViewRequest": {
      "type": "object",
      "id": "CreateMaterializedViewRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "materializedViewId": {
          "type": "string",
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name."
        },
        "materializedView": {
          "description": "Required. The materialized view to create.",
          "$ref": "MaterializedView"
        },
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore optional safety checks when creating the materialized view."
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView."
    },
    "ListMaterializedViewsResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListMaterializedViews.",
      "id": "ListMaterializedViewsResponse",
      "properties": {
        "materializedViews": {
          "description": "The list of requested materialized views.",
          "type": "array",
          "items": {
            "$ref": "MaterializedView"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "CreateInstanceMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by CreateInstance.",
      "id": "CreateInstanceMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "$ref": "CreateInstanceRequest",
          "description": "The request that prompted the initiation of this CreateInstance operation."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "deprecated": true,
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "type": "object",
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`.",
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "properties": {},
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeMap": {
      "type": "object",
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "id": "GoogleBigtableAdminV2TypeMap",
      "properties": {
        "keyType": {
          "$ref": "Type",
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types."
        },
        "valueType": {
          "$ref": "Type",
          "description": "The type of the values in a map."
        }
      }
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "description": "The state of a materialized view's data in a particular cluster.",
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "properties": {
        "replicationState": {
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ],
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "description": "Output only. The state of the materialized view in this cluster.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CreateInstanceRequest": {
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "id": "CreateInstanceRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`."
        },
        "clusters": {
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank.",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "type": "object"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "instance": {
          "$ref": "Instance",
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank."
        }
      }
    },
    "TableProgress": {
      "type": "object",
      "description": "Progress info for copying a table's data to the new cluster.",
      "id": "TableProgress",
      "properties": {
        "estimatedCopiedBytes": {
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "format": "int64",
          "type": "string"
        },
        "estimatedSizeBytes": {
          "description": "Estimate of the size of the table to be copied.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ]
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "properties": {
        "raw": {
          "description": "Use `Raw` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw"
        }
      },
      "description": "Rules used to convert to or from lower level types."
    },
    "UpdateInstanceMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "id": "UpdateInstanceMetadata",
      "properties": {
        "originalRequest": {
          "$ref": "PartialUpdateInstanceRequest",
          "description": "The request that prompted the initiation of this UpdateInstance operation."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RestoreTableRequest": {
      "description": "The request for RestoreTable.",
      "id": "RestoreTableRequest",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateAuthorizedViewMetadata": {
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "SingleClusterRouting": {
      "id": "SingleClusterRouting",
      "properties": {
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        },
        "allowTransactionalWrites": {
          "type": "boolean",
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters."
        }
      },
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeString": {
      "type": "object",
      "description": "String Values of type `String` are stored in `Value.string_value`.",
      "id": "GoogleBigtableAdminV2TypeString",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      }
    },
    "ProtoSchema": {
      "type": "object",
      "description": "Represents a collection of protobuf schemas.",
      "id": "ProtoSchema",
      "properties": {
        "protoDescriptors": {
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "StandardIsolation": {
      "type": "object",
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "id": "StandardIsolation",
      "properties": {
        "priority": {
          "type": "string",
          "description": "The priority of requests sent using this app profile.",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        },
        "memoryConfig": {
          "$ref": "MemoryConfig",
          "description": "Optional. The memory config to use for requests sent using this app profile."
        }
      }
    },
    "UpdateTableMetadata": {
      "type": "object",
      "description": "Metadata type for the operation returned by UpdateTable.",
      "id": "UpdateTableMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "deprecated": true
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the table being updated."
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "type": "object",
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "id": "GoogleBigtableAdminV2TypeBytes",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding"
        }
      }
    },
    "MemoryConfig": {
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled.",
      "id": "MemoryConfig",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregateMax": {
      "id": "GoogleBigtableAdminV2TypeAggregateMax",
      "properties": {},
      "description": "Computes the max of the input values. Allowed input: `Int64` State: same as input",
      "type": "object"
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "properties": {
        "sourceType": {
          "type": "string",
          "description": "The type of the restore source.",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the table being created and restored to."
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the RestoreTable operation."
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        }
      },
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "type": "object"
    },
    "UpdateLogicalViewMetadata": {
      "id": "UpdateLogicalViewMetadata",
      "properties": {
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateLogicalView operation.",
          "$ref": "UpdateLogicalViewRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by UpdateLogicalView.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleBigtableAdminV2TypeArray": {
      "id": "GoogleBigtableAdminV2TypeArray",
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      },
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`.",
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "UpdateMemoryLayerMetadata": {
      "id": "UpdateMemoryLayerMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateMemoryLayer operation.",
          "$ref": "UpdateMemoryLayerRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for the Operation returned by UpdateMemoryLayer.",
      "type": "object"
    },
    "ClusterAutoscalingConfig": {
      "type": "object",
      "description": "Autoscaling config for a cluster.",
      "id": "ClusterAutoscalingConfig",
      "properties": {
        "autoscalingTargets": {
          "$ref": "AutoscalingTargets",
          "description": "Required. Autoscaling targets for this cluster."
        },
        "autoscalingLimits": {
          "description": "Required. Autoscaling limits for this cluster.",
          "$ref": "AutoscalingLimits"
        }
      }
    },
    "MultiClusterRoutingUseAny": {
      "type": "object",
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "id": "MultiClusterRoutingUseAny",
      "properties": {
        "rowAffinity": {
          "$ref": "RowAffinity",
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically."
        },
        "clusterIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible."
        }
      }
    },
    "MaterializedView": {
      "id": "MaterializedView",
      "properties": {
        "name": {
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "boolean"
        },
        "clusterStates": {
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          },
          "type": "object",
          "readOnly": true
        },
        "query": {
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        }
      },
      "description": "A materialized view object that can be referenced in SQL queries.",
      "type": "object"
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AutomatedBackupPolicy": {
      "type": "object",
      "id": "AutomatedBackupPolicy",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Cloud Bigtable zones where automated backups are allowed to be created. If empty, automated backups will be created in all zones of the instance. Locations are in the format `projects/{project}/locations/{zone}`. You can set this field only for tables in Enterprise Plus instances."
        },
        "retentionPeriod": {
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "type": "string",
          "format": "google-duration"
        },
        "frequency": {
          "type": "string",
          "format": "google-duration",
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours."
        }
      },
      "description": "Defines an automated backup policy for a table"
    },
    "AuthorizedView": {
      "id": "AuthorizedView",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`"
        },
        "subsetView": {
          "description": "An AuthorizedView permitting access to an explicit subset of a Table.",
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
        },
        "etag": {
          "type": "string",
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set."
        }
      },
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "type": "object"
    },
    "UpdateSchemaBundleMetadata": {
      "type": "object",
      "id": "UpdateSchemaBundleMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      },
      "description": "The metadata for the Operation returned by UpdateSchemaBundle."
    },
    "CreateAuthorizedViewMetadata": {
      "id": "CreateAuthorizedViewMetadata",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation.",
          "$ref": "CreateAuthorizedViewRequest"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for the Operation returned by CreateAuthorizedView.",
      "type": "object"
    },
    "HotTablet": {
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "id": "HotTablet",
      "properties": {
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        },
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The start time of the hot tablet."
        },
        "nodeCpuUsagePercent": {
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the hot tablet."
        },
        "startKey": {
          "type": "string",
          "description": "Tablet Start Key (inclusive)."
        },
        "endKey": {
          "type": "string",
          "description": "Tablet End Key (inclusive)."
        }
      },
      "type": "object"
    },
    "TieredStorageConfig": {
      "id": "TieredStorageConfig",
      "properties": {
        "infrequentAccess": {
          "description": "Rule to specify what data is stored in the infrequent access(IA) tier. The IA tier allows storing more data per node with reduced performance.",
          "$ref": "TieredStorageRule"
        }
      },
      "description": "Config for tiered storage. A valid config must have a valid TieredStorageRule. Otherwise the whole TieredStorageConfig must be unset. By default all data is stored in the SSD tier (only SSD instances can configure tiered storage).",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "properties": {
        "delimitedBytes": {
          "description": "Use `DelimitedBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
        },
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "description": "User `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
        }
      },
      "description": "Rules used to convert to or from lower level types."
    },
    "Split": {
      "description": "An initial split point for a newly created table.",
      "id": "Split",
      "properties": {
        "key": {
          "description": "Row key to use as an initial tablet boundary.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CheckConsistencyResponse": {
      "type": "object",
      "id": "CheckConsistencyResponse",
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency"
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "properties": {},
      "description": "Defines rules used to convert to or from lower level types."
    },
    "TableStats": {
      "type": "object",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified.",
      "id": "TableStats",
      "properties": {
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "How many rows are in the table."
        },
        "averageCellsPerColumn": {
          "format": "double",
          "type": "number",
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field."
        },
        "averageColumnsPerRow": {
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "format": "double",
          "type": "number"
        },
        "logicalDataBytes": {
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListTablesResponse": {
      "type": "object",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables",
      "id": "ListTablesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "The tables present in the requested instance."
        }
      }
    },
    "GenerateConsistencyTokenRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "id": "GenerateConsistencyTokenRequest",
      "properties": {},
      "type": "object"
    },
    "BackupInfo": {
      "type": "object",
      "id": "BackupInfo",
      "properties": {
        "backup": {
          "description": "Output only. Name of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "sourceTable": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from."
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
[...]
