{
  "description": "",
  "version_module": true,
  "name": "blockchainnodeengine",
  "baseUrl": "https://blockchainnodeengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Blockchain Node Engine API",
  "discoveryVersion": "v1",
  "schemas": {
    "ConnectionInfo": {
      "id": "ConnectionInfo",
      "properties": {
        "endpointInfo": {
          "readOnly": true,
          "$ref": "EndpointInfo",
          "description": "Output only. The endpoint information through which to interact with a blockchain node."
        },
        "serviceAttachment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A service attachment that exposes a node, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}"
        }
      },
      "type": "object",
      "description": "The connection information through which to interact with a blockchain node."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "GethDetails": {
      "type": "object",
      "properties": {
        "garbageCollectionMode": {
          "type": "string",
          "enum": [
            "GARBAGE_COLLECTION_MODE_UNSPECIFIED",
            "FULL",
            "ARCHIVE"
          ],
          "enumDescriptions": [
            "The garbage collection has not been specified.",
            "Configures Geth's garbage collection so that older data not needed for a full node is deleted. This is the default mode when creating a full node.",
            "Configures Geth's garbage collection so that old data is never deleted. This is the default mode when creating an archive node. This value can also be chosen when creating a full node in order to create a partial/recent archive node. See [Sync modes](https://geth.ethereum.org/docs/fundamentals/sync-modes) for more details."
          ],
          "description": "Immutable. Blockchain garbage collection mode."
        }
      },
      "description": "Options for the Geth execution client. See [Command-line Options](https://geth.ethereum.org/docs/fundamentals/command-line-options) for more details.",
      "id": "GethDetails"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "EthereumEndpoints": {
      "description": "Contains endpoint information specific to Ethereum nodes.",
      "id": "EthereumEndpoints",
      "type": "object",
      "properties": {
        "beaconApiEndpoint": {
          "description": "Output only. The assigned URL for the node's Beacon API endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "executionClientPrometheusMetricsApiEndpoint": {
          "description": "Output only. The assigned URL for the node's execution client's Prometheus metrics endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "beaconPrometheusMetricsApiEndpoint": {
          "description": "Output only. The assigned URL for the node's Beacon Prometheus metrics endpoint. See [Prometheus Metrics](https://lighthouse-book.sigmaprime.io/advanced_metrics.html) for more details.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EthereumDetails": {
      "description": "Ethereum-specific blockchain node details.",
      "properties": {
        "consensusClient": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "Consensus client has not been specified, but should be.",
            "Consensus client implementation written in Rust, maintained by Sigma Prime. See [Lighthouse - Sigma Prime](https://lighthouse.sigmaprime.io/) for details.",
            "Erigon's embedded consensus client embedded in the execution client. Note this option is not currently available when creating new blockchain nodes. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon#embedded-consensus-layer) for details."
          ],
          "description": "Immutable. The consensus client.",
          "enum": [
            "CONSENSUS_CLIENT_UNSPECIFIED",
            "LIGHTHOUSE",
            "ERIGON_EMBEDDED_CONSENSUS_LAYER"
          ]
        },
        "gethDetails": {
          "description": "Details for the Geth execution client.",
          "$ref": "GethDetails"
        },
        "network": {
          "description": "Immutable. The Ethereum environment being accessed.",
          "enumDescriptions": [
            "The network has not been specified, but should be.",
            "The Ethereum Mainnet.",
            "Deprecated: The Ethereum Testnet based on Goerli protocol. Please use another test network.",
            "The Ethereum Testnet based on Sepolia/Bepolia protocol. See https://github.com/eth-clients/sepolia.",
            "The Ethereum Testnet based on Holesky specification. See https://github.com/eth-clients/holesky."
          ],
          "enum": [
            "NETWORK_UNSPECIFIED",
            "MAINNET",
            "TESTNET_GOERLI_PRATER",
            "TESTNET_SEPOLIA",
            "TESTNET_HOLESKY"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "type": "string"
        },
        "apiEnableDebug": {
          "description": "Immutable. Enables JSON-RPC access to functions in the `debug` namespace. Defaults to `false`.",
          "type": "boolean"
        },
        "additionalEndpoints": {
          "description": "Output only. Ethereum-specific endpoint information.",
          "$ref": "EthereumEndpoints",
          "readOnly": true
        },
        "validatorConfig": {
          "$ref": "ValidatorConfig",
          "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client."
        },
        "executionClient": {
          "description": "Immutable. The execution client",
          "enumDescriptions": [
            "Execution client has not been specified, but should be.",
            "Official Go implementation of the Ethereum protocol. See [go-ethereum](https://geth.ethereum.org/) for details.",
            "An implementation of Ethereum (execution client), on the efficiency frontier, written in Go. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon) for details."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_CLIENT_UNSPECIFIED",
            "GETH",
            "ERIGON"
          ]
        },
        "nodeType": {
          "enumDescriptions": [
            "Node type has not been specified, but should be.",
            "An Ethereum node that only downloads Ethereum block headers.",
            "Keeps a complete copy of the blockchain data, and contributes to the network by receiving, validating, and forwarding transactions.",
            "Holds the same data as full node as well as all of the blockchain's history state data dating back to the Genesis Block."
          ],
          "type": "string",
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "LIGHT",
            "FULL",
            "ARCHIVE"
          ],
          "description": "Immutable. The type of Ethereum node."
        },
        "apiEnableAdmin": {
          "description": "Immutable. Enables JSON-RPC access to functions in the `admin` namespace. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EthereumDetails"
    },
    "EndpointInfo": {
      "id": "EndpointInfo",
      "description": "Contains endpoint information through which to interact with a blockchain node.",
      "type": "object",
      "properties": {
        "jsonRpcApiEndpoint": {
          "description": "Output only. The assigned URL for the node JSON-RPC API endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "websocketsApiEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The assigned URL for the node WebSockets API endpoint."
        }
      }
    },
    "ValidatorConfig": {
      "properties": {
        "mevRelayUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "URLs for MEV-relay services to use for block building. When set, a GCP-managed MEV-boost service is configured on the beacon client."
        },
        "beaconFeeRecipient": {
          "type": "string",
          "description": "An Ethereum address which the beacon client will send fee rewards to if no recipient is configured in the validator client. See https://lighthouse-book.sigmaprime.io/suggested-fee-recipient.html or https://docs.prylabs.network/docs/execution-node/fee-recipient for examples of how this is used. Note that while this is often described as \"suggested\", as we run the execution node we can trust the execution node, and therefore this is considered enforced."
        },
        "managedValidatorClient": {
          "description": "Immutable. When true, deploys a GCP-managed validator client alongside the beacon client.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "ValidatorConfig",
      "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "ListBlockchainNodesResponse": {
      "id": "ListBlockchainNodesResponse",
      "description": "Message for response to listing blockchain nodes.",
      "type": "object",
      "properties": {
        "blockchainNodes": {
          "description": "The list of nodes",
          "items": {
            "$ref": "BlockchainNode"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation"
    },
    "BlockchainNode": {
      "id": "BlockchainNode",
      "properties": {
        "blockchainType": {
          "enumDescriptions": [
            "Blockchain type has not been specified, but should be.",
            "The blockchain type is Ethereum."
          ],
          "description": "Immutable. The blockchain type of the node.",
          "type": "string",
          "enum": [
            "BLOCKCHAIN_TYPE_UNSPECIFIED",
            "ETHEREUM"
          ]
        },
        "state": {
          "enumDescriptions": [
            "The state has not been specified.",
            "The node has been requested and is in the process of being created.",
            "The existing node is undergoing deletion, but is not yet finished.",
            "The node is running and ready for use.",
            "The node is in an unexpected or errored state.",
            "The node is currently being updated.",
            "The node is currently being repaired.",
            "The node is currently being reconciled.",
            "The node is syncing, which is the process by which it obtains the latest block and current global state."
          ],
          "type": "string",
          "description": "Output only. A status representing the state of the node.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "RUNNING",
            "ERROR",
            "UPDATING",
            "REPAIRING",
            "RECONCILING",
            "SYNCING"
          ]
        },
        "ethereumDetails": {
          "$ref": "EthereumDetails",
          "description": "Ethereum-specific blockchain node details."
        },
        "privateServiceConnectEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. When true, the node is only accessible via Private Service Connect; no public endpoints are exposed. Otherwise, the node is only accessible via public endpoints. Warning: These nodes are deprecated, please use public endpoints instead."
        },
        "labels": {
          "type": "object",
          "description": "User-provided key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp at which the blockchain node was first created."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp at which the blockchain node was last updated.",
          "type": "string"
        },
        "connectionInfo": {
          "description": "Output only. The connection information used to interact with a blockchain node.",
          "$ref": "ConnectionInfo",
          "readOnly": true
        }
      },
      "description": "A representation of a blockchain node.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have `Operation.error` value with a `google.rpc.Status.code` of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/blockchain-node-engine",
  "kind": "discovery#restDescription",
  "id": "blockchainnodeengine:v1",
  "servicePath": "",
  "mtlsRootUrl": "https://blockchainnodeengine.mtls.googleapis.com/",
  "version": "v1",
  "ownerDomain": "google.com",
  "revision": "20250507",
  "rootUrl": "https://blockchainnodeengine.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "blockchainnodeengine.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. A list of extra location types that should be used as conditions for controlling the visibility of the locations.",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "id": "blockchainnodeengine.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "blockchainnodeengine.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "blockchainnodeengine.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "blockchainnodeengine.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "blockchainnodeengine.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                }
              }
            },
            "blockchainNodes": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new blockchain node in a given project and location.",
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "parameters": {
                    "blockchainNodeId": {
                      "type": "string",
                      "description": "Required. ID of the requesting object.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "path": "v1/{+parent}/blockchainNodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "description": "Lists blockchain nodes in a given project and location.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering results."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for `ListNodesRequest`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBlockchainNodesResponse"
                  },
                  "path": "v1/{+parent}/blockchainNodes",
                  "httpMethod": "GET",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.list"
                },
                "delete": {
                  "description": "Deletes a single blockchain node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The fully qualified name of the blockchain node to delete. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Blockchain node resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "name": {
                      "location": "path",
                      "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single blockchain node.",
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "description": "Gets details of a single blockchain node.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The fully qualified name of the blockchain node to fetch. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BlockchainNode"
                  },
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Blockchain Node Engine",
  "basePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerName": "Google"
}