{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "basePath": "",
  "title": "Books API",
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "version": "v1",
  "revision": "20260929",
  "name": "books",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://books.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Review": {
      "id": "Review",
      "properties": {
        "volumeId": {
          "description": "Volume that this review is for.",
          "type": "string"
        },
        "rating": {
          "type": "string",
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED."
        },
        "type": {
          "type": "string",
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER."
        },
        "kind": {
          "description": "Resource type for a review.",
          "type": "string"
        },
        "content": {
          "description": "Review text.",
          "type": "string"
        },
        "author": {
          "properties": {
            "displayName": {
              "type": "string",
              "description": "Name of this person."
            }
          },
          "type": "object",
          "description": "Author of this review."
        },
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "fullTextUrl": {
          "description": "URL for the full review text, for reviews gathered from the web.",
          "type": "string"
        },
        "source": {
          "type": "object",
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "properties": {
            "description": {
              "description": "Name of the source.",
              "type": "string"
            },
            "extraDescription": {
              "type": "string",
              "description": "Extra text about the source of the review."
            },
            "url": {
              "description": "URL of the source of the review.",
              "type": "string"
            }
          }
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Series": {
      "type": "object",
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "subscriptionId": {
                "type": "string"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "properties": {
                  "currentReleaseInfo": {
                    "properties": {
                      "releaseNumber": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "type": "object"
                  },
                  "cancelTime": {
                    "type": "string"
                  },
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "nextReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      }
                    }
                  }
                },
                "type": "object"
              },
              "title": {
                "type": "string"
              },
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              }
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "Series"
    },
    "AnnotationsSummary": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "layers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "layerId": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "format": "int32",
                "type": "integer"
              },
              "limitType": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              }
            }
          }
        }
      },
      "id": "AnnotationsSummary",
      "type": "object"
    },
    "GeoAnnotationdata": {
      "id": "GeoAnnotationdata",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte"
        },
        "data": {
          "$ref": "Geolayerdata",
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated."
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Notification": {
      "type": "object",
      "id": "Notification",
      "properties": {
        "notificationGroup": {
          "type": "string"
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "notification_type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "targetUrl": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "iconUrl": {
          "type": "string"
        },
        "timeToExpireMs": {
          "format": "int64",
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "doc_type": {
          "type": "string"
        },
        "crmExperimentIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The list of crm experiment ids."
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "version": {
                "type": "string",
                "format": "int64"
              },
              "encrypted_key": {
                "type": "string"
              },
              "size": {
                "format": "int64",
                "type": "string"
              },
              "download_url": {
                "type": "string"
              }
            }
          },
          "description": "A list of offline dictionary metadata.",
          "type": "array"
        }
      }
    },
    "ConcurrentAccessRestriction": {
      "properties": {
        "maxConcurrentDevices": {
          "type": "integer",
          "description": "The maximum number of concurrent access licenses for this volume.",
          "format": "int32"
        },
        "timeWindowSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Time in seconds for license auto-expiration."
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "Whether access is granted for this (user, device, volume)."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any concurrent access restrictions."
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConcurrentAccessRestriction"
    },
    "FamilyInfo": {
      "properties": {
        "membership": {
          "type": "object",
          "description": "Family membership info of the user that made the request.",
          "properties": {
            "ageGroup": {
              "description": "The age group of the user.",
              "type": "string"
            },
            "acquirePermission": {
              "type": "string",
              "description": "Restrictions on user buying and acquiring content."
            },
            "role": {
              "type": "string",
              "description": "The role of the user in the family."
            },
            "isInFamily": {
              "type": "boolean"
            },
            "allowedMaturityRating": {
              "type": "string",
              "description": "The maximum allowed maturity rating for the user."
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "FamilyInfo",
      "type": "object"
    },
    "Offers": {
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of offers.",
          "items": {
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "gservicesKey": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Offers",
      "type": "object"
    },
    "Annotationsdata": {
      "id": "Annotationsdata",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volumes": {
      "type": "object",
      "properties": {
        "totalItems": {
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      },
      "id": "Volumes"
    },
    "Discoveryclusters": {
      "properties": {
        "totalClusters": {
          "format": "int32",
          "type": "integer"
        },
        "clusters": {
          "items": {
            "type": "object",
            "properties": {
              "volumes": {
                "items": {
                  "$ref": "Volume"
                },
                "type": "array"
              },
              "banner_with_content_container": {
                "type": "object",
                "properties": {
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  }
                }
              },
              "title": {
                "type": "string"
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              },
              "uid": {
                "type": "string"
              },
              "subTitle": {
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      },
      "id": "Discoveryclusters",
      "type": "object"
    },
    "BooksAnnotationsRange": {
      "id": "BooksAnnotationsRange",
      "type": "object",
      "properties": {
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "description": "The offset from the starting position."
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "description": "The offset from the ending position."
        }
      }
    },
    "Volume": {
      "properties": {
        "recommendedInfo": {
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Recommendation related information for this volume."
        },
        "layerInfo": {
          "type": "object",
          "properties": {
            "layers": {
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "layerId": {
                    "type": "string",
                    "description": "The layer id of this layer (e.g. \"geo\")."
                  },
                  "volumeAnnotationsVersion": {
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": "What layers exist in this volume and high level information about them."
        },
        "searchInfo": {
          "properties": {
            "textSnippet": {
              "description": "A text snippet containing the search query.",
              "type": "string"
            }
          },
          "description": "Search result information related to this volume.",
          "type": "object"
        },
        "volumeInfo": {
          "type": "object",
          "properties": {
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "contentVersion": {
              "type": "string",
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)"
            },
            "readingModes": {
              "description": "The reading modes available for this volume.",
              "type": "object",
              "properties": {
                "image": {
                  "type": "boolean"
                },
                "text": {
                  "type": "boolean"
                }
              }
            },
            "printedPageCount": {
              "type": "integer",
              "format": "int32",
              "description": "Total number of printed pages in generated pdf representation."
            },
            "averageRating": {
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "format": "double",
              "type": "number"
            },
            "canonicalVolumeLink": {
              "type": "string",
              "description": "Canonical URL for a volume. (In LITE projection.)"
            },
            "categories": {
              "type": "array",
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
              "items": {
                "type": "string"
              }
            },
            "samplePageCount": {
              "format": "int32",
              "description": "Total number of sample pages as per publisher metadata.",
              "type": "integer"
            },
            "pageCount": {
              "type": "integer",
              "format": "int32",
              "description": "Total number of pages as per publisher metadata."
            },
            "imageLinks": {
              "type": "object",
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)",
              "properties": {
                "small": {
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                  "type": "string"
                },
                "medium": {
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                  "type": "string"
                },
                "extraLarge": {
                  "type": "string",
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)"
                },
                "smallThumbnail": {
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                  "type": "string"
                },
                "large": {
                  "type": "string",
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)"
                },
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                }
              }
            },
            "description": {
              "type": "string",
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)"
            },
            "ratingsCount": {
              "type": "integer",
              "description": "The number of review ratings for this volume.",
              "format": "int32"
            },
            "industryIdentifiers": {
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "properties": {
                  "type": {
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Industry specific volume identifier."
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "publishedDate": {
              "type": "string",
              "description": "Date of publication. (In LITE projection.)"
            },
            "maturityRating": {
              "type": "string"
            },
            "infoLink": {
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "authors": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)"
            },
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "publisher": {
              "description": "Publisher of this volume. (In LITE projection.)",
              "type": "string"
            },
            "title": {
              "description": "Volume title. (In LITE projection.)",
              "type": "string"
            },
            "comicsContent": {
              "description": "Whether the volume has comics content.",
              "type": "boolean"
            },
            "previewLink": {
              "description": "URL to preview this volume on the Google Books site.",
              "type": "string"
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "dimensions": {
              "properties": {
                "width": {
                  "description": "Width of this volume (in cm).",
                  "type": "string"
                },
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                },
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                }
              },
              "description": "Physical dimensions of this volume.",
              "type": "object"
            },
            "language": {
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc.",
              "type": "string"
            },
            "printType": {
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE.",
              "type": "string"
            },
            "panelizationSummary": {
              "description": "A top-level summary of the panelization info in this volume.",
              "properties": {
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "imageBubbleVersion": {
                  "type": "string"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          },
          "description": "General volume information."
        },
        "accessInfo": {
          "type": "object",
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "properties": {
            "publicDomain": {
              "description": "Whether or not this book is public domain in the country listed above.",
              "type": "boolean"
            },
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "embeddable": {
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API.",
              "type": "boolean"
            },
            "pdf": {
              "description": "Information about pdf content. (In LITE projection.)",
              "type": "object",
              "properties": {
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)"
                },
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download pdf. (In LITE projection.)"
                }
              }
            },
            "explicitOfflineLicenseManagement": {
              "type": "boolean",
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it."
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "epub": {
              "properties": {
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)",
                  "type": "string"
                },
                "downloadLink": {
                  "description": "URL to download epub. (In LITE projection.)",
                  "type": "string"
                },
                "isAvailable": {
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "Information about epub content. (In LITE projection.)"
            },
            "textToSpeechPermission": {
              "type": "string",
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
            },
            "downloadAccess": {
              "$ref": "DownloadAccessRestriction",
              "description": "Information about a volume's download license access restrictions."
            },
            "webReaderLink": {
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes.",
              "type": "string"
            },
            "viewability": {
              "type": "string",
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES."
            },
            "quoteSharingAllowed": {
              "description": "Whether quote sharing is allowed for this volume.",
              "type": "boolean"
            },
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            },
            "driveImportedContentLink": {
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
              "type": "string"
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource. (In LITE projection.)"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for a volume. (In LITE projection.)"
        },
        "userInfo": {
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "properties": {
            "rentalState": {
              "type": "string",
              "description": "Whether this book is an active or an expired rental."
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "entitlementType": {
              "type": "integer",
              "format": "int32",
              "description": "Whether this volume is purchased, sample, pd download etc."
            },
            "review": {
              "$ref": "Review",
              "description": "This user's review of this volume, if one exists."
            },
            "copy": {
              "properties": {
                "remainingCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                },
                "limitType": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                },
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "type": "object",
              "description": "Copy/Paste accounting information."
            },
            "userUploadedVolumeInfo": {
              "properties": {
                "processingState": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "updated": {
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
              "type": "string"
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "isUploaded": {
              "type": "boolean",
              "description": "Whether or not this volume was user uploaded."
            },
            "acquisitionType": {
              "description": "How this volume was acquired.",
              "type": "integer",
              "format": "int32"
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "isFamilySharedFromUser": {
              "type": "boolean",
              "description": "Whether or not the user shared this volume with the family."
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "isPurchased": {
              "type": "boolean",
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)"
            },
            "familySharing": {
              "type": "object",
              "properties": {
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                },
                "isSharingDisabledByFop": {
                  "type": "boolean",
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet."
                },
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                }
              },
              "description": "Information on the ability to share with the family."
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "rentalPeriod": {
              "type": "object",
              "properties": {
                "endUtcSec": {
                  "format": "int64",
                  "type": "string"
                },
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              },
              "description": "Period during this book is/was a valid rental."
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            }
          },
          "type": "object"
        },
        "saleInfo": {
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "type": "object",
          "properties": {
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)"
            },
            "buyLink": {
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "onSaleDate": {
              "type": "string",
              "description": "The date on which this book is available for sale."
            },
            "saleability": {
              "type": "string",
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "offers": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rentalDuration": {
                    "description": "The rental duration (for rental offers only).",
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "number",
                        "format": "double"
                      },
                      "unit": {
                        "type": "string"
                      }
                    }
                  },
                  "giftable": {
                    "type": "boolean",
                    "description": "Indicates whether the offer is giftable."
                  },
                  "listPrice": {
                    "description": "Offer list (=undiscounted) price in Micros.",
                    "type": "object",
                    "properties": {
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    }
                  },
                  "finskyOfferType": {
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "type": "integer",
                    "format": "int32"
                  },
                  "retailPrice": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "description": "Offer retail (=discounted) price in Micros"
                  }
                }
              },
              "description": "Offers available for this volume (sales and rentals)."
            },
            "listPrice": {
              "type": "object",
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "format": "double",
                  "type": "number"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)"
                }
              },
              "description": "Suggested retail price. (In LITE projection.)"
            },
            "retailPrice": {
              "type": "object",
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number",
                  "format": "double"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)"
            }
          }
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a volume. (In LITE projection.)"
        }
      },
      "type": "object",
      "id": "Volume"
    },
    "BooksCloudloadingResource": {
      "type": "object",
      "id": "BooksCloudloadingResource",
      "properties": {
        "volumeId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        }
      }
    },
    "Geolayerdata": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "geo": {
          "properties": {
            "viewport": {
              "properties": {
                "lo": {
                  "properties": {
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                },
                "hi": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                }
              },
              "type": "object",
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle."
            },
            "latitude": {
              "format": "double",
              "description": "The latitude of the location.",
              "type": "number"
            },
            "longitude": {
              "description": "The longitude of the location.",
              "format": "double",
              "type": "number"
            },
            "zoom": {
              "type": "integer",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "format": "int32"
            },
            "countryCode": {
              "type": "string",
              "description": "The country code of the location."
            },
            "cachePolicy": {
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER",
              "type": "string"
            },
            "boundary": {
              "type": "array",
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "items": {
                "type": "string"
              }
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            }
          },
          "type": "object"
        },
        "common": {
          "type": "object",
          "properties": {
            "snippetUrl": {
              "type": "string",
              "description": "The URL for information for this location. Ex: wikipedia link."
            },
            "previewImageUrl": {
              "description": "The URL for the preview image information.",
              "type": "string"
            },
            "snippet": {
              "type": "string",
              "description": "The description for this location."
            },
            "lang": {
              "type": "string",
              "description": "The language of the information url and description."
            },
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          }
        }
      },
      "id": "Geolayerdata",
      "type": "object"
    },
    "Layersummary": {
      "id": "Layersummary",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationTypes": {
          "type": "array",
          "description": "The list of annotation types contained for this layer.",
          "items": {
            "type": "string"
          }
        },
        "volumeId": {
          "description": "The volume id this resource is for.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id of this layer summary."
        },
        "annotationsLink": {
          "description": "The link to get the annotations for this layer.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format)."
        },
        "annotationCount": {
          "type": "integer",
          "description": "The number of annotations for this layer.",
          "format": "int32"
        },
        "annotationsDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "contentVersion": {
          "description": "The content version this resource is for.",
          "type": "string"
        },
        "dataCount": {
          "type": "integer",
          "description": "The number of data items for this layer.",
          "format": "int32"
        }
      }
    },
    "Bookshelves": {
      "id": "Bookshelves",
      "properties": {
        "items": {
          "description": "A list of bookshelves.",
          "items": {
            "$ref": "Bookshelf"
          },
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volume2": {
      "properties": {
        "items": {
          "description": "A list of volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Volume2"
    },
    "Volumeannotation": {
      "type": "object",
      "properties": {
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id of this volume annotation."
        },
        "contentRanges": {
          "type": "object",
          "description": "The content ranges to identify the selected text.",
          "properties": {
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            }
          }
        },
        "pageIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Pages the annotation spans."
        },
        "data": {
          "type": "string",
          "description": "Data for this annotation."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format)."
        },
        "annotationType": {
          "description": "The type of annotation this is.",
          "type": "string"
        },
        "annotationDataId": {
          "type": "string",
          "description": "The annotation data id for this volume annotation."
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "volumeId": {
          "description": "The Volume this annotation is for.",
          "type": "string"
        }
      },
      "id": "Volumeannotation"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "DictionaryAnnotationdata": {
      "type": "object",
      "properties": {
        "data": {
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated.",
          "$ref": "Dictlayerdata"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "encodedData": {
          "type": "string",
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte"
        }
      },
      "id": "DictionaryAnnotationdata"
    },
    "Volumeseriesinfo": {
      "properties": {
        "bookDisplayNumber": {
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
          "type": "string"
        },
        "volumeSeries": {
          "items": {
            "type": "object",
            "properties": {
              "issue": {
                "type": "array",
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "items": {
                  "type": "object",
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  }
                }
              },
              "orderNumber": {
                "type": "integer",
                "description": "The book order number in the series.",
                "format": "int32"
              },
              "seriesBookType": {
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                "type": "string"
              },
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "shortSeriesBookTitle": {
          "type": "string",
          "description": "Short book title in the context of the series."
        }
      },
      "id": "Volumeseriesinfo",
      "type": "object"
    },
    "Volumeannotations": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type"
        },
        "items": {
          "type": "array",
          "description": "A list of volume annotations.",
          "items": {
            "$ref": "Volumeannotation"
          }
        },
        "version": {
          "type": "string",
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book)."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Volumeannotations",
      "type": "object"
    },
    "RequestAccessData": {
      "type": "object",
      "id": "RequestAccessData",
      "properties": {
        "concurrentAccess": {
          "description": "A concurrent access response.",
          "$ref": "ConcurrentAccessRestriction"
        },
        "downloadAccess": {
          "$ref": "DownloadAccessRestriction",
          "description": "A download access response."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "Dictlayerdata": {
      "type": "object",
      "properties": {
        "dict": {
          "type": "object",
          "properties": {
            "source": {
              "properties": {
                "attribution": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "description": "The source, url and attribution for this dictionary data.",
              "type": "object"
            },
            "words": {
              "items": {
                "type": "object",
                "properties": {
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "derivatives": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "type": "array"
                  },
                  "senses": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "synonyms": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "source": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "attribution": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "syllabification": {
                          "type": "string"
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "conjugations": {
                          "items": {
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "examples": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "properties": {
                                        "attribution": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  }
                                }
                              },
                              "definition": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "source": {
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "attribution": {
                        "type": "string"
                      }
                    },
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                    "type": "object"
                  }
                }
              },
              "type": "array"
            }
          }
        },
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            }
          }
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "Dictlayerdata"
    },
    "Layersummaries": {
      "properties": {
        "totalItems": {
          "format": "int32",
          "description": "The total number of layer summaries found.",
          "type": "integer"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Layersummary"
          },
          "type": "array",
          "description": "A list of layer summary items."
        }
      },
      "type": "object",
      "id": "Layersummaries"
    },
    "Category": {
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of onboarding categories.",
          "items": {
            "type": "object",
            "properties": {
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "Category",
      "type": "object"
    },
    "Seriesmembership": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        }
      },
      "id": "Seriesmembership",
      "type": "object"
    },
    "Annotations": {
      "id": "Annotations",
      "properties": {
        "totalItems": {
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Annotation"
          },
          "description": "A list of annotations.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReadingPosition": {
      "properties": {
        "updated": {
          "type": "string",
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution)."
        },
        "epubCfiPosition": {
          "description": "Position in an EPUB as a CFI.",
          "type": "string"
        },
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Volume id associated with this reading position."
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        },
        "gbTextPosition": {
          "type": "string",
          "description": "Position in a volume for text-based content."
        },
        "pdfPosition": {
          "description": "Position in a PDF file.",
          "type": "string"
        }
      },
      "id": "ReadingPosition",
      "type": "object"
    },
    "Usersettings": {
      "type": "object",
      "id": "Usersettings",
      "properties": {
        "notification": {
          "type": "object",
          "properties": {
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromSeries": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "priceDrop": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "notesExport": {
          "type": "object",
          "description": "User settings in sub-objects, each for different purposes.",
          "properties": {
            "isEnabled": {
              "type": "boolean"
            },
            "folderName": {
              "type": "string"
            }
          }
        }
      }
    },
    "Annotation": {
      "properties": {
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Id of this annotation, in the form of a GUID."
        },
        "clientVersionRanges": {
          "description": "Selection ranges sent from the client.",
          "properties": {
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation sent by client."
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation sent by client."
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation sent by client."
            }
          },
          "type": "object"
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "User-created data for this annotation."
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "afterSelectedText": {
          "type": "string",
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string"
        },
        "beforeSelectedText": {
          "type": "string",
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "limitType": {
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.",
              "type": "string"
            },
            "remainingCharacterCount": {
              "format": "int32",
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "type": "integer"
            },
            "allowedCharacterCount": {
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "currentVersionRanges": {
          "properties": {
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object",
          "description": "Selection ranges for the most recent content version."
        }
      },
      "id": "Annotation",
      "type": "object"
    },
    "BooksVolumesRecommendedRateResponse": {
      "id": "BooksVolumesRecommendedRateResponse",
      "type": "object",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      }
    },
    "Bookshelf": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of this bookshelf."
        },
        "kind": {
          "description": "Resource type for bookshelf metadata.",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "description": "Id of this bookshelf, only unique by user.",
          "type": "integer"
        },
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string"
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string"
        },
        "volumeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of volumes in this bookshelf."
        },
        "created": {
          "type": "string",
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        }
      },
      "id": "Bookshelf"
    },
    "DownloadAccessRestriction": {
      "properties": {
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean"
        },
        "deviceAllowed": {
          "description": "If restricted, whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "maxDownloadDevices": {
          "format": "int32",
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "downloadsAcquired": {
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DownloadAccessRestriction",
      "type": "object"
    },
    "DownloadAccesses": {
      "type": "object",
      "id": "DownloadAccesses",
      "properties": {
        "downloadAccessList": {
          "type": "array",
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "description": "A list of download access responses."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://books.googleapis.com/",
  "id": "books:v1",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "resources": {
    "familysharing": {
      "methods": {
        "unshare": {
          "flatPath": "books/v1/familysharing/unshare",
          "id": "books.familysharing.unshare",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "volumeId": {
              "type": "string",
              "description": "The volume to unshare.",
              "location": "query"
            },
            "docId": {
              "location": "query",
              "description": "The docid to unshare.",
              "type": "string"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            }
          },
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "response": {
            "$ref": "Empty"
          },
          "path": "books/v1/familysharing/unshare"
        },
        "getFamilyInfo": {
          "id": "books.familysharing.getFamilyInfo",
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "source": {
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            }
          },
          "path": "books/v1/familysharing/getFamilyInfo",
          "parameterOrder": [],
          "response": {
            "$ref": "FamilyInfo"
          },
          "description": "Gets information regarding the family that the user is part of."
        },
        "share": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "flatPath": "books/v1/familysharing/share",
          "parameters": {
            "volumeId": {
              "description": "The volume to share.",
              "location": "query",
              "type": "string"
            },
            "docId": {
              "location": "query",
              "description": "The docid to share.",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST",
          "path": "books/v1/familysharing/share",
          "id": "books.familysharing.share"
        }
      }
    },
    "mylibrary": {
      "resources": {
        "annotations": {
          "methods": {
            "list": {
              "parameters": {
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "updatedMin": {
                  "location": "query",
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive)."
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "maxResults": {
                  "minimum": "0",
                  "maximum": "40",
                  "description": "Maximum number of results to return",
                  "location": "query",
                  "format": "uint32",
                  "type": "integer"
                },
                "layerId": {
                  "description": "The layer ID to limit annotation by.",
                  "type": "string",
                  "location": "query"
                },
                "volumeId": {
                  "location": "query",
                  "description": "The volume to restrict annotations to.",
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string",
                  "location": "query"
                },
                "showDeleted": {
                  "type": "boolean",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "location": "query"
                },
                "layerIds": {
                  "type": "string",
                  "description": "The layer ID(s) to limit annotation by.",
                  "location": "query",
                  "repeated": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "flatPath": "books/v1/mylibrary/annotations",
              "path": "books/v1/mylibrary/annotations",
              "id": "books.mylibrary.annotations.list",
              "parameterOrder": [],
              "response": {
                "$ref": "Annotations"
              },
              "description": "Retrieves a list of annotations, possibly filtered."
            },
            "update": {
              "parameterOrder": [
                "annotationId"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "annotationId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID for the annotation to update.",
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "id": "books.mylibrary.annotations.update",
              "response": {
                "$ref": "Annotation"
              },
              "description": "Updates an existing annotation.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "request": {
                "$ref": "Annotation"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Deletes an annotation.",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "id": "books.mylibrary.annotations.delete",
              "parameterOrder": [
                "annotationId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "annotationId": {
                  "type": "string",
                  "description": "The ID for the annotation to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "DELETE"
            },
            "summary": {
              "description": "Gets the summary of specified layers.",
              "id": "books.mylibrary.annotations.summary",
              "parameters": {
                "layerIds": {
                  "required": true,
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Array of layer IDs to get the summary for."
                },
                "source": {
                  "type": "string",
                  "description": "Optional. String to identify the originator of this request.",
                  "location": "query"
                },
                "volumeId": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "description": "Volume id to get the summary for."
                }
              },
              "path": "books/v1/mylibrary/annotations/summary",
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "httpMethod": "POST",
              "response": {
                "$ref": "AnnotationsSummary"
              }
            },
            "insert": {
              "parameters": {
                "showOnlySummaryInResponse": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Requests that only the summary of the specified layer be provided in the response."
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "annotationId": {
                  "location": "query",
                  "description": "The ID for the annotation to insert.",
                  "type": "string"
                },
                "country": {
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/annotations",
              "parameterOrder": [],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "id": "books.mylibrary.annotations.insert",
              "response": {
                "$ref": "Annotation"
              },
              "description": "Inserts a new annotation.",
              "request": {
                "$ref": "Annotation"
              },
              "flatPath": "books/v1/mylibrary/annotations"
            }
          }
        },
        "readingpositions": {
          "methods": {
            "setPosition": {
              "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "description": "Sets my reading position information for a volume.",
              "response": {
                "$ref": "Empty"
              },
              "id": "books.mylibrary.readingpositions.setPosition",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "volumeId",
                "position",
                "timestamp"
              ],
              "httpMethod": "POST",
              "parameters": {
                "timestamp": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "description": "RFC 3339 UTC format timestamp associated with this reading position."
                },
                "volumeId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of volume for which to update the reading position."
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "contentVersion": {
                  "description": "Volume content version for which this reading position applies.",
                  "location": "query",
                  "type": "string"
                },
                "position": {
                  "type": "string",
                  "description": "Position string for the new volume reading position.",
                  "location": "query",
                  "required": true
                },
                "deviceCookie": {
                  "location": "query",
                  "type": "string",
                  "description": "Random persistent device cookie optional on set position."
                },
                "action": {
                  "location": "query",
                  "enum": [
                    "ACTION_UNDEFINED",
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "description": "Action that caused this reading position to be set.",
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ]
                }
              }
            },
            "get": {
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "volumeId": {
                  "type": "string",
                  "description": "ID of volume for which to retrieve a reading position.",
                  "location": "path",
                  "required": true
                },
                "contentVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Volume content version for which this reading position is requested."
                }
              },
              "id": "books.mylibrary.readingpositions.get",
              "description": "Retrieves my reading position information for a volume.",
              "httpMethod": "GET",
              "path": "books/v1/mylibrary/readingpositions/{volumeId}",
              "response": {
                "$ref": "ReadingPosition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "volumeId"
              ]
            }
          }
        },
        "bookshelves": {
          "methods": {
            "removeVolume": {
              "description": "Removes a volume from a bookshelf.",
              "response": {
                "$ref": "Empty"
              },
              "id": "books.mylibrary.bookshelves.removeVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "parameters": {
                "reason": {
                  "location": "query",
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ],
                  "description": "The reason for which the book is removed from the library.",
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ],
                  "type": "string"
                },
                "shelf": {
                  "location": "path",
                  "required": true,
                  "description": "ID of bookshelf from which to remove a volume.",
                  "type": "string"
                },
                "volumeId": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "description": "ID of volume to remove."
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
[...]
