{
  "title": "Books API",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "rootUrl": "https://books.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "basePath": "",
  "id": "books:v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "schemas": {
    "Volumeseriesinfo": {
      "properties": {
        "volumeSeries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "issue": {
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "items": {
                  "properties": {
                    "issueDisplayNumber": {
                      "type": "string"
                    },
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "seriesBookType": {
                "type": "string",
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc."
              },
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              },
              "orderNumber": {
                "description": "The book order number in the series.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "bookDisplayNumber": {
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
          "type": "string"
        },
        "shortSeriesBookTitle": {
          "type": "string",
          "description": "Short book title in the context of the series."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Volumeseriesinfo",
      "type": "object"
    },
    "ConcurrentAccessRestriction": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "timeWindowSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Time in seconds for license auto-expiration."
        },
        "maxConcurrentDevices": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of concurrent access licenses for this volume."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any concurrent access restrictions."
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "nonce": {
          "type": "string",
          "description": "Client nonce for verification. Download access and client-validation only."
        }
      },
      "type": "object",
      "id": "ConcurrentAccessRestriction"
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "description": "A list of offline dictionary metadata.",
          "type": "array",
          "items": {
            "properties": {
              "language": {
                "type": "string"
              },
              "version": {
                "format": "int64",
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64"
              },
              "download_url": {
                "type": "string"
              },
              "encrypted_key": {
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      }
    },
    "Usersettings": {
      "type": "object",
      "properties": {
        "notification": {
          "type": "object",
          "properties": {
            "priceDrop": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromSeries": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            }
          }
        },
        "notesExport": {
          "type": "object",
          "description": "User settings in sub-objects, each for different purposes.",
          "properties": {
            "isEnabled": {
              "type": "boolean"
            },
            "folderName": {
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Usersettings"
    },
    "Annotations": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of annotations.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated."
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        }
      },
      "id": "Annotations"
    },
    "DownloadAccessRestriction": {
      "id": "DownloadAccessRestriction",
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "downloadsAcquired": {
          "format": "int32",
          "type": "integer",
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed)."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "justAcquired": {
          "type": "boolean",
          "description": "If deviceAllowed, whether access was just acquired with this request."
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "If restricted, whether access is granted for this (user, device, volume)."
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "maxDownloadDevices": {
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "format": "int32",
          "type": "integer"
        },
        "reasonCode": {
          "type": "string",
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS"
        }
      },
      "type": "object"
    },
    "Geolayerdata": {
      "id": "Geolayerdata",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "common": {
          "type": "object",
          "properties": {
            "snippetUrl": {
              "type": "string",
              "description": "The URL for information for this location. Ex: wikipedia link."
            },
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            },
            "lang": {
              "type": "string",
              "description": "The language of the information url and description."
            },
            "snippet": {
              "description": "The description for this location.",
              "type": "string"
            },
            "previewImageUrl": {
              "type": "string",
              "description": "The URL for the preview image information."
            }
          }
        },
        "geo": {
          "type": "object",
          "properties": {
            "viewport": {
              "properties": {
                "lo": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  }
                },
                "hi": {
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle."
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            },
            "boundary": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates."
            },
            "countryCode": {
              "type": "string",
              "description": "The country code of the location."
            },
            "cachePolicy": {
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER",
              "type": "string"
            },
            "zoom": {
              "format": "int32",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "type": "integer"
            },
            "latitude": {
              "format": "double",
              "type": "number",
              "description": "The latitude of the location."
            },
            "longitude": {
              "format": "double",
              "type": "number",
              "description": "The longitude of the location."
            }
          }
        }
      }
    },
    "BooksVolumesRecommendedRateResponse": {
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksVolumesRecommendedRateResponse"
    },
    "BooksCloudloadingResource": {
      "properties": {
        "author": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksCloudloadingResource"
    },
    "GeoAnnotationdata": {
      "type": "object",
      "id": "GeoAnnotationdata",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
        },
        "data": {
          "$ref": "Geolayerdata",
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated."
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Seriesmembership": {
      "id": "Seriesmembership",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "member": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      }
    },
    "Annotationsdata": {
      "type": "object",
      "id": "Annotationsdata",
      "properties": {
        "items": {
          "items": {
            "$ref": "GeoAnnotationdata"
          },
          "description": "A list of Annotation Data.",
          "type": "array"
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of volume annotations found."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "kind": {
          "type": "string",
          "description": "Resource type"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              }
            }
          },
          "description": "A list of onboarding categories.",
          "type": "array"
        }
      },
      "id": "Category"
    },
    "Volumeannotation": {
      "properties": {
        "pageIds": {
          "type": "array",
          "description": "Pages the annotation spans.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Unique id of this volume annotation.",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "annotationDataId": {
          "type": "string",
          "description": "The annotation data id for this volume annotation."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "updated": {
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this is."
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "The Volume this annotation is for."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "data": {
          "type": "string",
          "description": "Data for this annotation."
        },
        "contentRanges": {
          "properties": {
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object",
          "description": "The content ranges to identify the selected text."
        }
      },
      "type": "object",
      "id": "Volumeannotation"
    },
    "Volumeannotations": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book)."
        },
        "items": {
          "description": "A list of volume annotations.",
          "items": {
            "$ref": "Volumeannotation"
          },
          "type": "array"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        }
      },
      "id": "Volumeannotations"
    },
    "Series": {
      "id": "Series",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "title": {
                "type": "string"
              },
              "subscriptionId": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "type": "object",
                "properties": {
                  "cancelTime": {
                    "type": "string"
                  },
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "nextReleaseInfo": {
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "releaseTime": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "currentReleaseInfo": {
                    "properties": {
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "type": "object"
    },
    "Notification": {
      "properties": {
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "targetUrl": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "crmExperimentIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of crm experiment ids."
        },
        "iconUrl": {
          "type": "string"
        },
        "notificationGroup": {
          "type": "string"
        },
        "timeToExpireMs": {
          "type": "string",
          "format": "int64"
        },
        "title": {
          "type": "string"
        },
        "notification_type": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "doc_id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "reason": {
          "type": "string"
        },
        "doc_type": {
          "type": "string"
        }
      },
      "id": "Notification",
      "type": "object"
    },
    "Offers": {
      "type": "object",
      "id": "Offers",
      "properties": {
        "items": {
          "description": "A list of offers.",
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    }
                  }
                }
              },
              "gservicesKey": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "Review": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER."
        },
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "rating": {
          "type": "string",
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED."
        },
        "source": {
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "type": "object",
          "properties": {
            "extraDescription": {
              "description": "Extra text about the source of the review.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source of the review.",
              "type": "string"
            },
            "description": {
              "description": "Name of the source.",
              "type": "string"
            }
          }
        },
        "volumeId": {
          "type": "string",
          "description": "Volume that this review is for."
        },
        "kind": {
          "description": "Resource type for a review.",
          "type": "string"
        },
        "author": {
          "type": "object",
          "description": "Author of this review.",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "Name of this person."
            }
          }
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Review text."
        },
        "fullTextUrl": {
          "description": "URL for the full review text, for reviews gathered from the web.",
          "type": "string"
        }
      },
      "id": "Review"
    },
    "Dictlayerdata": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            }
          }
        },
        "dict": {
          "properties": {
            "words": {
              "items": {
                "type": "object",
                "properties": {
                  "source": {
                    "properties": {
                      "attribution": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb)."
                  },
                  "senses": {
                    "items": {
                      "properties": {
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "attribution": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        },
                        "syllabification": {
                          "type": "string"
                        },
                        "conjugations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "definition": {
                                "type": "string"
                              },
                              "examples": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "source": {
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "synonyms": {
                          "items": {
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "source": {
                                "properties": {
                                  "attribution": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "derivatives": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "type": "array"
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "type": "array"
            },
            "source": {
              "type": "object",
              "properties": {
                "attribution": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "description": "The source, url and attribution for this dictionary data."
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Dictlayerdata"
    },
    "BooksAnnotationsRange": {
      "id": "BooksAnnotationsRange",
      "type": "object",
      "properties": {
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        },
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "description": "The offset from the starting position."
        },
        "endOffset": {
          "type": "string",
          "description": "The offset from the ending position."
        }
      }
    },
    "ReadingPosition": {
      "properties": {
        "epubCfiPosition": {
          "description": "Position in an EPUB as a CFI.",
          "type": "string"
        },
        "pdfPosition": {
          "type": "string",
          "description": "Position in a PDF file."
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        },
        "gbTextPosition": {
          "description": "Position in a volume for text-based content.",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume id associated with this reading position.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution)."
        },
        "gbImagePosition": {
          "type": "string",
          "description": "Position in a volume for image-based content."
        }
      },
      "type": "object",
      "id": "ReadingPosition"
    },
    "Annotation": {
      "properties": {
        "layerId": {
          "type": "string",
          "description": "The layer this annotation is for."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "clientVersionRanges": {
          "properties": {
            "contentVersion": {
              "type": "string",
              "description": "Content version the client sent in."
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation sent by client."
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object",
          "description": "Selection ranges sent from the client."
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "User-created data for this annotation."
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "beforeSelectedText": {
          "type": "string",
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "currentVersionRanges": {
          "type": "object",
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation for version above."
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          }
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "remainingCharacterCount": {
              "type": "integer",
              "format": "int32",
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer."
            },
            "allowedCharacterCount": {
              "type": "integer",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32"
            },
            "limitType": {
              "type": "string",
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
            }
          }
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        }
      },
      "type": "object",
      "id": "Annotation"
    },
    "Discoveryclusters": {
      "type": "object",
      "id": "Discoveryclusters",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "totalClusters": {
          "format": "int32",
          "type": "integer"
        },
        "clusters": {
          "type": "array",
          "items": {
            "properties": {
              "title": {
                "type": "string"
              },
              "volumes": {
                "type": "array",
                "items": {
                  "$ref": "Volume"
                }
              },
              "uid": {
                "type": "string"
              },
              "banner_with_content_container": {
                "properties": {
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "subTitle": {
                "type": "string"
              },
              "totalVolumes": {
                "format": "int32",
                "type": "integer"
              }
            },
            "type": "object"
          }
        }
      }
    },
    "DictionaryAnnotationdata": {
      "properties": {
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "encodedData": {
          "format": "byte",
          "description": "Base64 encoded data for this annotation data.",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "data": {
          "$ref": "Dictlayerdata",
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated."
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        }
      },
      "type": "object",
      "id": "DictionaryAnnotationdata"
    },
    "RequestAccessData": {
      "type": "object",
      "id": "RequestAccessData",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "concurrentAccess": {
          "$ref": "ConcurrentAccessRestriction",
          "description": "A concurrent access response."
        },
        "downloadAccess": {
          "description": "A download access response.",
          "$ref": "DownloadAccessRestriction"
        }
      }
    },
    "FamilyInfo": {
      "properties": {
        "membership": {
          "properties": {
            "role": {
              "type": "string",
              "description": "The role of the user in the family."
            },
            "ageGroup": {
              "type": "string",
              "description": "The age group of the user."
            },
            "allowedMaturityRating": {
              "description": "The maximum allowed maturity rating for the user.",
              "type": "string"
            },
            "acquirePermission": {
              "description": "Restrictions on user buying and acquiring content.",
              "type": "string"
            },
            "isInFamily": {
              "type": "boolean"
            }
          },
          "description": "Family membership info of the user that made the request.",
          "type": "object"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FamilyInfo"
    },
    "Layersummary": {
      "type": "object",
      "id": "Layersummary",
      "properties": {
        "volumeId": {
          "description": "The volume id this resource is for.",
          "type": "string"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id of this layer summary."
        },
        "annotationsLink": {
          "type": "string",
          "description": "The link to get the annotations for this layer."
        },
        "contentVersion": {
          "description": "The content version this resource is for.",
          "type": "string"
        },
        "dataCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of data items for this layer."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format)."
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "annotationCount": {
          "description": "The number of annotations for this layer.",
          "format": "int32",
          "type": "integer"
        },
        "annotationsDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "annotationTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of annotation types contained for this layer."
        },
        "layerId": {
          "type": "string",
          "description": "The layer id for this summary."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Layersummaries": {
      "id": "Layersummaries",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of layer summary items.",
          "type": "array",
          "items": {
            "$ref": "Layersummary"
          }
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of layer summaries found.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "properties": {
        "kind": {
          "type": "string"
        },
        "layers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "updated": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "format": "int32",
                "type": "integer"
              },
              "limitType": {
                "type": "string"
              },
              "layerId": {
                "type": "string"
              },
              "allowedCharacterCount": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        }
      },
      "type": "object"
    },
    "DownloadAccesses": {
      "properties": {
        "downloadAccessList": {
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "type": "array",
          "description": "A list of download access responses."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DownloadAccesses"
    },
    "Bookshelves": {
      "id": "Bookshelves",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Bookshelf"
          },
          "description": "A list of bookshelves."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volume2": {
      "type": "object",
      "id": "Volume2",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "nextPageToken": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          }
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "layerInfo": {
          "properties": {
            "layers": {
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "items": {
                "type": "object",
                "properties": {
                  "volumeAnnotationsVersion": {
                    "type": "string",
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
                  },
                  "layerId": {
                    "type": "string",
                    "description": "The layer id of this layer (e.g. \"geo\")."
                  }
                }
              },
              "type": "array"
            }
          },
          "type": "object",
          "description": "What layers exist in this volume and high level information about them."
        },
        "userInfo": {
          "properties": {
            "isInMyBooks": {
              "type": "boolean",
              "description": "Whether or not this volume is currently in \"my books.\""
            },
            "userUploadedVolumeInfo": {
              "properties": {
                "processingState": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "acquisitionType": {
              "type": "integer",
              "format": "int32",
              "description": "How this volume was acquired."
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "review": {
              "$ref": "Review",
              "description": "This user's review of this volume, if one exists."
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "rentalState": {
              "description": "Whether this book is an active or an expired rental.",
              "type": "string"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "updated": {
              "type": "string",
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format)."
            },
            "copy": {
              "properties": {
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "remainingCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                },
                "updated": {
                  "type": "string"
                },
                "limitType": {
                  "type": "string"
                }
              },
              "type": "object",
              "description": "Copy/Paste accounting information."
            },
            "familySharing": {
              "properties": {
                "isSharingDisabledByFop": {
                  "type": "boolean",
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet."
                },
                "isSharingAllowed": {
                  "type": "boolean",
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action."
                },
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                }
              },
              "type": "object",
              "description": "Information on the ability to share with the family."
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "isPreordered": {
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "rentalPeriod": {
              "properties": {
                "endUtcSec": {
                  "type": "string",
                  "format": "int64"
                },
                "startUtcSec": {
                  "format": "int64",
                  "type": "string"
                }
              },
              "description": "Period during this book is/was a valid rental.",
              "type": "object"
            },
            "entitlementType": {
              "type": "integer",
              "format": "int32",
              "description": "Whether this volume is purchased, sample, pd download etc."
            },
            "isPurchased": {
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a volume. (In LITE projection.)"
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource. (In LITE projection.)"
        },
        "accessInfo": {
          "properties": {
            "explicitOfflineLicenseManagement": {
              "type": "boolean",
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it."
            },
            "driveImportedContentLink": {
              "type": "string",
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive."
            },
            "textToSpeechPermission": {
              "type": "string",
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
            },
            "epub": {
              "description": "Information about epub content. (In LITE projection.)",
              "type": "object",
              "properties": {
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download epub. (In LITE projection.)"
                },
                "isAvailable": {
                  "type": "boolean",
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)"
                }
              }
            },
            "viewability": {
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES.",
              "type": "string"
            },
            "embeddable": {
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API.",
              "type": "boolean"
            },
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            },
            "downloadAccess": {
              "$ref": "DownloadAccessRestriction",
              "description": "Information about a volume's download license access restrictions."
            },
            "publicDomain": {
              "type": "boolean",
              "description": "Whether or not this book is public domain in the country listed above."
            },
            "webReaderLink": {
              "type": "string",
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes."
            },
            "accessViewStatus": {
              "type": "string",
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)"
            },
            "quoteSharingAllowed": {
              "description": "Whether quote sharing is allowed for this volume.",
              "type": "boolean"
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "pdf": {
              "type": "object",
              "properties": {
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "Information about pdf content. (In LITE projection.)"
            }
          },
          "type": "object",
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.)."
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "volumeInfo": {
          "properties": {
            "comicsContent": {
              "description": "Whether the volume has comics content.",
              "type": "boolean"
            },
            "infoLink": {
              "type": "string",
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)"
            },
            "authors": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)"
            },
            "panelizationSummary": {
              "properties": {
                "epubBubbleVersion": {
                  "type": "string"
                },
                "imageBubbleVersion": {
                  "type": "string"
                },
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "A top-level summary of the panelization info in this volume."
            },
            "language": {
              "type": "string",
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc."
            },
            "categories": {
              "type": "array",
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
              "items": {
                "type": "string"
              }
            },
            "printedPageCount": {
              "type": "integer",
              "description": "Total number of printed pages in generated pdf representation.",
              "format": "int32"
            },
            "canonicalVolumeLink": {
              "type": "string",
              "description": "Canonical URL for a volume. (In LITE projection.)"
            },
            "readingModes": {
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              },
              "description": "The reading modes available for this volume.",
              "type": "object"
            },
            "dimensions": {
              "properties": {
                "width": {
                  "type": "string",
                  "description": "Width of this volume (in cm)."
                },
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                },
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                }
              },
              "type": "object",
              "description": "Physical dimensions of this volume."
            },
            "pageCount": {
              "type": "integer",
              "description": "Total number of pages as per publisher metadata.",
              "format": "int32"
            },
            "description": {
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)",
              "type": "string"
            },
            "title": {
              "description": "Volume title. (In LITE projection.)",
              "type": "string"
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "ratingsCount": {
              "description": "The number of review ratings for this volume.",
              "type": "integer",
              "format": "int32"
            },
            "printType": {
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE.",
              "type": "string"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "publisher": {
              "type": "string",
              "description": "Publisher of this volume. (In LITE projection.)"
            },
            "industryIdentifiers": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "description": "Industry specific volume identifier.",
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER."
                  }
                }
              },
              "description": "Industry standard identifiers for this volume."
            },
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "contentVersion": {
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
              "type": "string"
            },
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "averageRating": {
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "type": "number",
              "format": "double"
            },
            "maturityRating": {
              "type": "string"
            },
            "previewLink": {
              "type": "string",
              "description": "URL to preview this volume on the Google Books site."
            },
            "imageLinks": {
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)",
              "properties": {
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                },
                "smallThumbnail": {
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                  "type": "string"
                },
                "small": {
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                  "type": "string"
                },
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                },
                "extraLarge": {
                  "type": "string",
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)"
                },
                "medium": {
                  "type": "string",
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)"
                }
              },
              "type": "object"
            },
            "samplePageCount": {
              "description": "Total number of sample pages as per publisher metadata.",
              "type": "integer",
              "format": "int32"
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "General volume information."
        },
        "saleInfo": {
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "type": "object",
          "properties": {
            "retailPrice": {
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
              "type": "object",
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number",
                  "format": "double"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)"
                }
              }
            },
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)"
            },
            "offers": {
              "type": "array",
              "description": "Offers available for this volume (sales and rentals).",
              "items": {
                "type": "object",
                "properties": {
                  "listPrice": {
                    "type": "object",
                    "description": "Offer list (=undiscounted) price in Micros.",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "rentalDuration": {
                    "properties": {
                      "unit": {
                        "type": "string"
                      },
                      "count": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "description": "The rental duration (for rental offers only).",
                    "type": "object"
                  },
                  "retailPrice": {
                    "description": "Offer retail (=discounted) price in Micros",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      }
                    },
                    "type": "object"
                  },
                  "giftable": {
                    "description": "Indicates whether the offer is giftable.",
                    "type": "boolean"
                  },
                  "finskyOfferType": {
                    "format": "int32",
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "type": "integer"
                  }
                }
              }
            },
            "listPrice": {
              "properties": {
                "amount": {
                  "format": "double",
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "Suggested retail price. (In LITE projection.)",
              "type": "object"
            },
            "isEbook": {
              "type": "boolean",
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf)."
            },
            "buyLink": {
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "saleability": {
              "type": "string",
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
            },
            "onSaleDate": {
              "type": "string",
              "description": "The date on which this book is available for sale."
            }
          }
        },
        "searchInfo": {
          "properties": {
            "textSnippet": {
              "description": "A text snippet containing the search query.",
              "type": "string"
            }
          },
          "description": "Search result information related to this volume.",
          "type": "object"
        },
        "id": {
          "description": "Unique identifier for a volume. (In LITE projection.)",
          "type": "string"
        },
        "recommendedInfo": {
          "type": "object",
          "properties": {
            "explanation": {
              "type": "string",
              "description": "A text explaining why this volume is recommended."
            }
          },
          "description": "Recommendation related information for this volume."
        }
      },
      "type": "object"
    },
    "Volumes": {
      "id": "Volumes",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "totalItems": {
          "format": "int32",
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          }
        }
      }
    },
    "Bookshelf": {
      "type": "object",
      "properties": {
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this bookshelf."
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "Id of this bookshelf, only unique by user."
        },
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for bookshelf metadata."
        },
        "created": {
          "type": "string",
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "access": {
          "type": "string",
          "description": "Whether this bookshelf is PUBLIC or PRIVATE."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "volumeCount": {
          "type": "integer",
          "description": "Number of volumes in this bookshelf.",
          "format": "int32"
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        }
      },
      "id": "Bookshelf"
    }
  },
  "revision": "20260924",
  "resources": {
    "familysharing": {
      "methods": {
        "unshare": {
          "parameterOrder": [],
          "id": "books.familysharing.unshare",
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "flatPath": "books/v1/familysharing/unshare",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "docId": {
              "type": "string",
              "location": "query",
              "description": "The docid to unshare."
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to unshare.",
              "location": "query"
            }
          },
          "path": "books/v1/familysharing/unshare"
        },
        "share": {
          "id": "books.familysharing.share",
          "response": {
            "$ref": "Empty"
          },
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "path": "books/v1/familysharing/share",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [],
          "parameters": {
            "docId": {
              "location": "query",
              "type": "string",
              "description": "The docid to share."
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "location": "query",
              "type": "string",
              "description": "The volume to share."
            }
          },
          "flatPath": "books/v1/familysharing/share",
          "httpMethod": "POST"
        },
        "getFamilyInfo": {
          "description": "Gets information regarding the family that the user is part of.",
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "parameters": {
            "source": {
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            }
          },
          "path": "books/v1/familysharing/getFamilyInfo",
          "id": "books.familysharing.getFamilyInfo",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FamilyInfo"
          },
          "parameterOrder": []
        }
      }
    },
    "promooffer": {
      "methods": {
        "get": {
          "path": "books/v1/promooffer/get",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Offers"
          },
          "parameterOrder": [],
          "description": "Returns a list of promo offers available to the user",
          "id": "books.promooffer.get",
          "httpMethod": "GET",
          "parameters": {
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "type": "string",
              "location": "query"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "device model"
            },
            "androidId": {
              "location": "query",
              "description": "device android_id",
              "type": "string"
            },
            "product": {
              "type": "string",
              "description": "device product",
              "location": "query"
            }
          },
          "flatPath": "books/v1/promooffer/get"
        },
        "accept": {
          "path": "books/v1/promooffer/accept",
          "description": "Accepts the promo offer.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "id": "books.promooffer.accept",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/promooffer/accept",
          "httpMethod": "POST",
          "parameters": {
            "offerId": {
              "type": "string",
              "location": "query"
            },
            "volumeId": {
              "description": "Volume id to exercise the offer",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "location": "query",
              "description": "device serial",
              "type": "string"
            },
            "device": {
              "type": "string",
              "description": "device device",
              "location": "query"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "type": "string",
              "location": "query"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "androidId": {
              "description": "device android_id",
              "location": "query",
              "type": "string"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            }
          }
        },
        "dismiss": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "books/v1/promooffer/dismiss",
          "description": "Marks the promo offer as dismissed.",
          "parameters": {
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "offerId": {
              "location": "query",
              "description": "Offer to dimiss",
              "type": "string"
            },
            "androidId": {
              "description": "device android_id",
              "type": "string",
              "location": "query"
            },
            "product": {
              "location": "query",
              "description": "device product",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "location": "query",
              "type": "string",
              "description": "device serial"
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "books.promooffer.dismiss",
          "flatPath": "books/v1/promooffer/dismiss"
        }
      }
    },
    "bookshelves": {
      "resources": {
        "volumes": {
          "methods": {
            "list": {
              "id": "books.bookshelves.volumes.list",
              "httpMethod": "GET",
              "parameters": {
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "showPreorders": {
                  "description": "Set to true to show pre-ordered books. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "startIndex": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "0",
                  "description": "Index of the first element to return (starts at 0)",
                  "format": "uint32"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "type": "integer",
                  "minimum": "0",
                  "format": "uint32",
                  "location": "query"
                },
                "userId": {
                  "description": "ID of user for whom to retrieve bookshelf volumes.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "shelf": {
                  "required": true,
                  "description": "ID of bookshelf to retrieve volumes.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "response": {
                "$ref": "Volumes"
              },
              "description": "Retrieves volumes in a specific bookshelf for the specified user.",
              "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "parameterOrder": [
                "userId",
                "shelf"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "userId": {
              "description": "ID of user for whom to retrieve bookshelves.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "books/v1/users/{userId}/bookshelves",
          "response": {
            "$ref": "Bookshelves"
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Retrieves a list of public bookshelves for the specified user.",
          "id": "books.bookshelves.list",
          "flatPath": "books/v1/users/{userId}/bookshelves"
        },
        "get": {
          "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}",
          "id": "books.bookshelves.get",
          "parameterOrder": [
            "userId",
            "shelf"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/users/{userId}/bookshelves/{shelf}",
          "description": "Retrieves metadata for a specific bookshelf for the specified user.",
          "parameters": {
            "shelf": {
              "type": "string",
              "location": "path",
              "description": "ID of bookshelf to retrieve.",
              "required": true
            },
            "userId": {
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Bookshelf"
          }
        }
      }
    },
    "myconfig": {
      "methods": {
        "requestAccess": {
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "flatPath": "books/v1/myconfig/requestAccess",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Request concurrent and download access restrictions.",
          "path": "books/v1/myconfig/requestAccess",
          "id": "books.myconfig.requestAccess",
          "response": {
            "$ref": "RequestAccessData"
          },
          "httpMethod": "POST",
          "parameters": {
            "volumeId": {
              "location": "query",
              "required": true,
              "description": "The volume to request concurrent/download restrictions for.",
              "type": "string"
            },
            "licenseTypes": {
              "location": "query",
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ],
              "type": "string",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ]
            },
            "nonce": {
              "required": true,
              "type": "string",
              "description": "The client nonce value.",
              "location": "query"
            },
            "source": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            },
            "cpksver": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The device/version ID from which to request the restrictions."
            },
            "locale": {
              "location": "query",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string"
            }
          }
        },
        "releaseDownloadAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "description": "Release downloaded content access restriction.",
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "volumeIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The volume(s) to release restrictions for.",
              "required": true
            },
            "locale": {
              "type": "string",
              "location": "query",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US."
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "books/v1/myconfig/releaseDownloadAccess",
          "httpMethod": "POST",
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "response": {
            "$ref": "DownloadAccesses"
          },
          "id": "books.myconfig.releaseDownloadAccess"
        },
        "updateUserSettings": {
          "httpMethod": "POST",
          "id": "books.myconfig.updateUserSettings",
          "parameters": {},
          "response": {
            "$ref": "Usersettings"
          },
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "parameterOrder": [],
          "request": {
            "$ref": "Usersettings"
          },
          "path": "books/v1/myconfig/updateUserSettings",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "syncVolumeLicenses": {
          "id": "books.myconfig.syncVolumeLicenses",
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ],
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Volumes"
          },
          "parameters": {
            "nonce": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The client nonce value."
            },
            "source": {
[...]
