{
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260902",
  "version_module": true,
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "DatedValue": {
      "id": "DatedValue",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "The value of the datapoint. This will not be present when the value is zero."
        },
        "date": {
          "$ref": "Date",
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set."
        }
      },
      "type": "object",
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair."
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "id": "GetDailyMetricsTimeSeriesResponse",
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      },
      "type": "object",
      "description": "Represents the response for GetDailyMetricsTimeSeries."
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "TimeSeries": {
      "properties": {
        "datedValues": {
          "type": "array",
          "items": {
            "$ref": "DatedValue"
          },
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair."
        }
      },
      "id": "TimeSeries",
      "description": "Represents a timeseries.",
      "type": "object"
    },
    "DailySubEntityType": {
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported.",
      "properties": {
        "dayOfWeek": {
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "timeOfDay": {
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "DailySubEntityType"
    },
    "MultiDailyMetricTimeSeries": {
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "properties": {
        "dailyMetricTimeSeries": {
          "items": {
            "$ref": "DailyMetricTimeSeries"
          },
          "type": "array",
          "description": "List of DailyMetric-TimeSeries pairs."
        }
      },
      "id": "MultiDailyMetricTimeSeries",
      "type": "object"
    },
    "DailyMetricTimeSeries": {
      "properties": {
        "dailyMetric": {
          "description": "The DailyMetric that the TimeSeries represents.",
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "type": "string",
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "dailySubEntityType": {
          "$ref": "DailySubEntityType",
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist."
        },
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "List of datapoints where each datapoint is a date-value pair."
        }
      },
      "type": "object",
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "id": "DailyMetricTimeSeries"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object"
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object",
      "properties": {
        "searchKeywordsCounts": {
          "description": "Search terms which have been used to find a business.",
          "type": "array",
          "items": {
            "$ref": "SearchKeywordCount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "format": "byte"
        }
      }
    },
    "SearchKeywordCount": {
      "id": "SearchKeywordCount",
      "properties": {
        "searchKeyword": {
          "description": "The lower-cased string that the user entered.",
          "type": "string"
        },
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        }
      },
      "type": "object",
      "description": "Represents a single search keyword and its value."
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "properties": {
        "multiDailyMetricTimeSeries": {
          "description": "DailyMetrics and their corresponding time series.",
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "type": "array"
        }
      },
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries.",
      "type": "object"
    },
    "InsightsValue": {
      "description": "Represents an insights value.",
      "id": "InsightsValue",
      "properties": {
        "value": {
          "description": "Represents the actual value.",
          "type": "string",
          "format": "int64"
        },
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "locations": {
      "methods": {
        "getDailyMetricsTimeSeries": {
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "parameters": {
            "dailyRange.endDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "dailyRange.endDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "dailyMetric": {
              "description": "Required. The metric to retrieve time series.",
              "location": "query",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "type": "string"
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "pattern": "^locations/[^/]+$",
              "type": "string"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
            },
            "dailyRange.startDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailySubEntityType.dayOfWeek": {
              "location": "query",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "type": "string",
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ]
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
            },
            "dailySubEntityType.timeOfDay.hours": {
              "location": "query",
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "type": "integer",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "location": "query",
              "format": "int32",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "path": "v1/{+name}:getDailyMetricsTimeSeries"
        },
        "fetchMultiDailyMetricsTimeSeries": {
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "parameterOrder": [
            "location"
          ],
          "parameters": {
            "dailyRange.startDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "dailyRange.startDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "dailyMetrics": {
              "location": "query",
              "description": "Required. The metrics to retrieve time series for.",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "type": "string",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "repeated": true
            },
            "dailyRange.endDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "location": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^locations/[^/]+$"
            }
          },
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          }
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "parameters": {
                        "monthlyRange.startMonth.month": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                        },
                        "pageToken": {
                          "location": "query",
                          "format": "byte",
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "type": "string"
                        },
                        "monthlyRange.endMonth.year": {
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.day": {
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "location": "path",
                          "required": true,
                          "pattern": "^locations/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100."
                        },
                        "monthlyRange.endMonth.month": {
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "format": "int32"
                        },
                        "monthlyRange.startMonth.year": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                        },
                        "monthlyRange.startMonth.day": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        }
                      },
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "httpMethod": "GET",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Business Profile Performance API",
  "ownerName": "Google",
  "id": "businessprofileperformance:v1",
  "protocol": "rest",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "kind": "discovery#restDescription",
  "canonicalName": "Business Profile Performance",
  "name": "businessprofileperformance"
}