{
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "name": "businessprofileperformance",
  "version_module": true,
  "id": "businessprofileperformance:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "basePath": "",
  "resources": {
    "locations": {
      "methods": {
        "getDailyMetricsTimeSeries": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "parameters": {
            "dailySubEntityType.dayOfWeek": {
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "location": "query",
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "type": "string"
            },
            "dailyMetric": {
              "type": "string",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "location": "query",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "description": "Required. The metric to retrieve time series."
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "location": "query",
              "format": "int32",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "type": "integer"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
            },
            "dailyRange.endDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
            },
            "dailyRange.startDate.month": {
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailyRange.endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "path": "v1/{+name}:getDailyMetricsTimeSeries"
        },
        "fetchMultiDailyMetricsTimeSeries": {
          "httpMethod": "GET",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          },
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "parameters": {
            "dailyRange.startDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyRange.endDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "dailyRange.endDate.day": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "location": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            },
            "dailyMetrics": {
              "type": "string",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "repeated": true,
              "location": "query",
              "description": "Required. The metrics to retrieve time series for."
            },
            "dailyRange.startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "location"
          ],
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`"
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "parameters": {
                        "monthlyRange.startMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100."
                        },
                        "monthlyRange.startMonth.day": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        },
                        "pageToken": {
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "location": "query",
                          "format": "byte",
                          "type": "string"
                        },
                        "monthlyRange.startMonth.year": {
                          "format": "int32",
                          "location": "query",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.year": {
                          "format": "int32",
                          "location": "query",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.month": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "pattern": "^locations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "monthlyRange.endMonth.day": {
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "schemas": {
    "DailySubEntityType": {
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported.",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "type": "string"
        },
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE."
        }
      },
      "type": "object",
      "id": "DailySubEntityType"
    },
    "DailyMetricTimeSeries": {
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "properties": {
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        },
        "dailyMetric": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "description": "The DailyMetric that the TimeSeries represents.",
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ]
        },
        "dailySubEntityType": {
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist.",
          "$ref": "DailySubEntityType"
        }
      },
      "id": "DailyMetricTimeSeries",
      "type": "object"
    },
    "DatedValue": {
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "id": "DatedValue",
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "The value of the datapoint. This will not be present when the value is zero."
        },
        "date": {
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set.",
          "$ref": "Date"
        }
      }
    },
    "SearchKeywordCount": {
      "type": "object",
      "id": "SearchKeywordCount",
      "description": "Represents a single search keyword and its value.",
      "properties": {
        "searchKeyword": {
          "description": "The lower-cased string that the user entered.",
          "type": "string"
        },
        "insightsValue": {
          "$ref": "InsightsValue",
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold."
        }
      }
    },
    "InsightsValue": {
      "id": "InsightsValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "Represents the actual value.",
          "format": "int64"
        },
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents an insights value.",
      "type": "object"
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      },
      "id": "GetDailyMetricsTimeSeriesResponse",
      "type": "object"
    },
    "MultiDailyMetricTimeSeries": {
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "id": "MultiDailyMetricTimeSeries",
      "properties": {
        "dailyMetricTimeSeries": {
          "type": "array",
          "items": {
            "$ref": "DailyMetricTimeSeries"
          },
          "description": "List of DailyMetric-TimeSeries pairs."
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        }
      }
    },
    "TimeSeries": {
      "type": "object",
      "description": "Represents a timeseries.",
      "properties": {
        "datedValues": {
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "items": {
            "$ref": "DatedValue"
          },
          "type": "array"
        }
      },
      "id": "TimeSeries"
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "properties": {
        "searchKeywordsCounts": {
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business.",
          "type": "array"
        },
        "nextPageToken": {
          "format": "byte",
          "type": "string",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned."
        }
      },
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object"
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "description": "DailyMetrics and their corresponding time series.",
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries."
    }
  },
  "revision": "20260921",
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "Business Profile Performance API",
  "version": "v1",
  "kind": "discovery#restDescription",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "canonicalName": "Business Profile Performance",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": ""
}