{
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "version_module": true,
  "name": "businessprofileperformance",
  "title": "Business Profile Performance API",
  "discoveryVersion": "v1",
  "revision": "20260930",
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerName": "Google",
  "servicePath": "",
  "version": "v1",
  "resources": {
    "locations": {
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "httpMethod": "GET",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "parameters": {
                        "monthlyRange.endMonth.day": {
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100."
                        },
                        "monthlyRange.startMonth.day": {
                          "location": "query",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "monthlyRange.startMonth.year": {
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.year": {
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query",
                          "type": "integer"
                        },
                        "monthlyRange.startMonth.month": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^locations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
                        },
                        "pageToken": {
                          "format": "byte",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token indicating the next paginated result to be returned."
                        }
                      },
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getDailyMetricsTimeSeries": {
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "httpMethod": "GET",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "dailySubEntityType.timeOfDay.nanos": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailySubEntityType.timeOfDay.hours": {
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "type": "string",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "required": true,
              "location": "path",
              "pattern": "^locations/[^/]+$"
            },
            "dailyMetric": {
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "description": "Required. The metric to retrieve time series.",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "location": "query",
              "type": "string"
            },
            "dailyRange.endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "dailyRange.startDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "format": "int32",
              "type": "integer"
            },
            "dailySubEntityType.dayOfWeek": {
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "type": "string",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "format": "int32",
              "type": "integer",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "location": "query"
            },
            "dailyRange.startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          }
        },
        "fetchMultiDailyMetricsTimeSeries": {
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          },
          "parameters": {
            "dailyRange.endDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "location": {
              "type": "string",
              "location": "path",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "pattern": "^locations/[^/]+$",
              "required": true
            },
            "dailyRange.endDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyRange.startDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "dailyRange.startDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "dailyMetrics": {
              "description": "Required. The metrics to retrieve time series for.",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "location": "query",
              "type": "string",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "repeated": true
            }
          },
          "parameterOrder": [
            "location"
          ]
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "schemas": {
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "properties": {
        "nextPageToken": {
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "type": "string",
          "format": "byte"
        },
        "searchKeywordsCounts": {
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DatedValue": {
      "properties": {
        "date": {
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set.",
          "$ref": "Date"
        },
        "value": {
          "type": "string",
          "description": "The value of the datapoint. This will not be present when the value is zero.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "id": "DatedValue"
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "id": "GetDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      }
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "type": "object",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries.",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "type": "array",
          "description": "DailyMetrics and their corresponding time series."
        }
      }
    },
    "SearchKeywordCount": {
      "type": "object",
      "id": "SearchKeywordCount",
      "properties": {
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        },
        "insightsValue": {
          "$ref": "InsightsValue",
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold."
        }
      },
      "description": "Represents a single search keyword and its value."
    },
    "InsightsValue": {
      "id": "InsightsValue",
      "type": "object",
      "description": "Represents an insights value.",
      "properties": {
        "value": {
          "format": "int64",
          "description": "Represents the actual value.",
          "type": "string"
        },
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TimeSeries": {
      "type": "object",
      "description": "Represents a timeseries.",
      "properties": {
        "datedValues": {
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "type": "array",
          "items": {
            "$ref": "DatedValue"
          }
        }
      },
      "id": "TimeSeries"
    },
    "DailyMetricTimeSeries": {
      "type": "object",
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "id": "DailyMetricTimeSeries",
      "properties": {
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        },
        "dailySubEntityType": {
          "$ref": "DailySubEntityType",
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist."
        },
        "dailyMetric": {
          "description": "The DailyMetric that the TimeSeries represents.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ]
        }
      }
    },
    "DailySubEntityType": {
      "properties": {
        "dayOfWeek": {
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "timeOfDay": {
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "DailySubEntityType",
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported.",
      "type": "object"
    },
    "MultiDailyMetricTimeSeries": {
      "id": "MultiDailyMetricTimeSeries",
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "properties": {
        "dailyMetricTimeSeries": {
          "items": {
            "$ref": "DailyMetricTimeSeries"
          },
          "type": "array",
          "description": "List of DailyMetric-TimeSeries pairs."
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    }
  },
  "id": "businessprofileperformance:v1",
  "ownerDomain": "google.com",
  "canonicalName": "Business Profile Performance",
  "protocol": "rest",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "fullyEncodeReservedExpansion": true
}