{
  "servicePath": "calendar/v3/",
  "documentationLink": "https://developers.google.com/workspace/calendar/firstapp",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json"
      ],
      "location": "query",
      "description": "Data format for the response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "discoveryVersion": "v1",
  "description": "Manipulates events and other calendar data.",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "id": "calendar:v3",
  "resources": {
    "calendarList": {
      "methods": {
        "get": {
          "id": "calendar.calendarList.get",
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Returns a calendar from the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "list": {
          "response": {
            "$ref": "CalendarList"
          },
          "httpMethod": "GET",
          "path": "users/me/calendarList",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "parameters": {
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            }
          },
          "id": "calendar.calendarList.list",
          "description": "Returns the calendars on the user's calendar list."
        },
        "patch": {
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.patch",
          "httpMethod": "PATCH",
          "path": "users/me/calendarList/{calendarId}",
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "colorRgbFormat": {
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean"
            }
          }
        },
        "delete": {
          "description": "Removes a calendar from the user's calendar list.",
          "id": "calendar.calendarList.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "watch": {
          "id": "calendar.calendarList.watch",
          "path": "users/me/calendarList/watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameters": {
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False."
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "minimum": "1"
            },
            "showHidden": {
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "location": "query"
            },
            "minAccessRole": {
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "description": "Watch for changes to CalendarList resources.",
          "httpMethod": "POST"
        },
        "insert": {
          "id": "calendar.calendarList.insert",
          "path": "users/me/calendarList",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list.",
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "update": {
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "colorRgbFormat": {
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query"
            }
          },
          "id": "calendar.calendarList.update"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "path": "channels/stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "description": "Stop watching resources through this channel",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.channels.stop"
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "path": "freeBusy",
          "description": "Returns free/busy information for a set of calendars.",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.freebusy.query"
        }
      }
    },
    "acl": {
      "methods": {
        "watch": {
          "path": "calendars/{calendarId}/acl/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query"
            }
          },
          "description": "Watch for changes to ACL resources.",
          "id": "calendar.acl.watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "httpMethod": "POST"
        },
        "insert": {
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Creates an access control rule.",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "id": "calendar.acl.insert",
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl"
        },
        "update": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "description": "Updates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "ruleId": {
              "type": "string",
              "description": "ACL rule identifier.",
              "location": "path",
              "required": true
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query"
            }
          },
          "id": "calendar.acl.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}"
        },
        "delete": {
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.delete",
          "httpMethod": "DELETE",
          "description": "Deletes an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ]
        },
        "list": {
          "id": "calendar.acl.list",
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/acl",
          "response": {
            "$ref": "Acl"
          },
          "description": "Returns the rules in the access control list for the calendar.",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ]
        },
        "get": {
          "description": "Returns an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.get",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "ruleId": {
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "AclRule"
          }
        },
        "patch": {
          "description": "Updates an access control rule. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "ruleId": {
              "required": true,
              "type": "string",
              "description": "ACL rule identifier.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "request": {
            "$ref": "AclRule"
          },
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ]
        }
      }
    },
    "settings": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "users/me/settings/{setting}",
          "httpMethod": "GET",
          "description": "Returns a single user setting.",
          "parameterOrder": [
            "setting"
          ],
          "parameters": {
            "setting": {
              "required": true,
              "location": "path",
              "description": "The id of the user setting.",
              "type": "string"
            }
          },
          "id": "calendar.settings.get",
          "response": {
            "$ref": "Setting"
          }
        },
        "list": {
          "path": "users/me/settings",
          "parameters": {
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            }
          },
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "description": "Returns all user settings for the authenticated user.",
          "response": {
            "$ref": "Settings"
          },
          "id": "calendar.settings.list",
          "httpMethod": "GET"
        },
        "watch": {
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Watch for changes to Settings resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "calendar.settings.watch",
          "path": "users/me/settings/watch",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "description": "Returns the color definitions for calendars and events.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Colors"
          },
          "path": "colors",
          "id": "calendar.colors.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "watch": {
          "id": "calendar.events.watch",
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "privateExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "timeMin": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "timeMax": {
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query",
              "type": "string"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            },
            "eventTypes": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ]
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "type": "string"
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "type": "boolean",
              "location": "query"
            },
            "iCalUID": {
              "type": "string",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "250",
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Watch for changes to Events resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "calendars/{calendarId}/events/watch"
        },
        "import": {
          "parameters": {
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "maximum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "eventLabelVersion": {
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "minimum": "0",
              "maximum": "1",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.import",
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/import"
        },
        "quickAdd": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the creation of the new event."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "text": {
              "location": "query",
              "description": "The text describing the event to be created.",
              "required": true,
              "type": "string"
            }
          },
          "id": "calendar.events.quickAdd",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "description": "Creates an event based on a simple text string.",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events/quickAdd"
        },
        "move": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "eventId": {
              "description": "Event identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "required": true
            },
            "destination": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Calendar identifier of the target calendar where the event is to be moved to."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "id": "calendar.events.move"
        },
        "list": {
          "path": "calendars/{calendarId}/events",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.list",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns events on the specified calendar.",
          "supportsSubscription": true,
          "httpMethod": "GET",
          "parameters": {
            "privateExtendedProperty": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored."
            },
            "updatedMin": {
              "format": "date-time",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "location": "query",
              "type": "string"
            },
            "maxAttendees": {
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "location": "query",
              "type": "string"
            },
            "eventTypes": {
              "repeated": true,
              "type": "string",
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "location": "query",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ]
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "location": "query",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "type": "string",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "timeMax": {
              "type": "string",
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query"
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "default": "250",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Events"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "path": "calendars/{calendarId}/events",
          "httpMethod": "POST",
          "description": "Creates an event.",
          "request": {
            "$ref": "Event"
          },
          "id": "calendar.events.insert",
          "parameters": {
            "conferenceDataVersion": {
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "maximum": "1",
              "location": "query",
              "type": "integer"
            },
            "eventLabelVersion": {
              "location": "query",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "format": "int32",
              "minimum": "0",
              "maximum": "1",
              "type": "integer"
            },
            "sendUpdates": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false."
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            }
          },
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId"
          ]
        },
        "update": {
          "id": "calendar.events.update",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "supportsAttachments": {
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query"
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query"
            },
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            },
            "eventId": {
              "description": "Event identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "maxAttendees": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            },
            "eventLabelVersion": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "minimum": "0",
              "maximum": "1"
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "0",
              "maximum": "1"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Updates an event.",
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "PUT"
        },
        "delete": {
          "description": "Deletes an event.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.delete",
          "parameters": {
            "eventId": {
              "type": "string",
              "description": "Event identifier.",
              "location": "path",
              "required": true
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the deletion of the event.",
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "instances": {
          "httpMethod": "GET",
          "description": "Returns instances of the specified recurring event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "timeMin": {
              "location": "query",
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "maxAttendees": {
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "originalStart": {
              "type": "string",
              "location": "query",
              "description": "The original start time of the instance in the result. Optional."
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean"
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "type": "string",
              "location": "query",
              "format": "date-time"
            },
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "Recurring event identifier.",
              "required": true
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "id": "calendar.events.instances",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "response": {
            "$ref": "Events"
          },
          "path": "calendars/{calendarId}/events/{eventId}/instances"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Event identifier."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            }
          },
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "id": "calendar.events.get",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "patch": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "request": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "location": "path",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "eventLabelVersion": {
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "format": "int32",
              "type": "integer",
              "minimum": "0",
              "maximum": "1",
              "location": "query"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "maximum": "1",
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "type": "integer"
            },
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendUpdates": {
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            }
          },
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.patch",
          "description": "Updates an event. This method supports patch semantics.",
          "httpMethod": "PATCH"
        }
      }
    },
    "calendars": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars",
            "https://www.googleapis.com/auth/calendar.calendars.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "description": "Returns metadata for a calendar.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "id": "calendar.calendars.get"
        },
        "clear": {
          "id": "calendar.calendars.clear",
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "path": "calendars/{calendarId}/clear"
        },
        "insert": {
          "path": "calendars",
          "id": "calendar.calendars.insert",
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "httpMethod": "POST",
          "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ]
        },
        "update": {
          "description": "Updates metadata for a calendar.",
          "id": "calendar.calendars.update",
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "parameterOrder": [
            "calendarId"
          ]
        },
        "transferOwnership": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "id": "calendar.calendars.transferOwnership",
          "description": "Transfers a secondary calendar between users within a Google Workspace organization. Requires user authentication with Manage Calendars administrator privilege, and one of the following authorization scopes: \n- https://www.googleapis.com/auth/calendar \n- https://www.googleapis.com/auth/calendar.calendars In the request, set useAdminAccess to true. The secondary calendar must be active to be transferred. Transferring disabled or deleted calendars isn't supported.",
          "path": "calendars/{calendarId}/transferOwnership",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs, call the calendarList.list method.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "useAdminAccess": {
              "description": "When true, the method runs using the user's Google Workspace administrator privileges. The calling user must be a Google Workspace administrator with the Manage Calendars privilege. This method currently only supports admin access, thus only true is accepted for this field.",
              "type": "boolean",
              "required": true,
              "location": "query"
            },
            "newDataOwner": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The email address of a user who will become the data owner of the calendar."
            }
          },
          "parameterOrder": [
            "calendarId",
            "newDataOwner",
            "useAdminAccess"
          ]
        },
        "delete": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "path": "calendars/{calendarId}",
          "id": "calendar.calendars.delete",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "httpMethod": "PATCH",
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.patch"
        }
      }
    }
  },
  "revision": "20260821",
  "rootUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "ownerName": "Google",
  "schemas": {
    "Event": {
      "properties": {
        "reminders": {
          "description": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event.",
          "properties": {
            "overrides": {
              "type": "array",
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "items": {
                "$ref": "EventReminder"
              }
            },
            "useDefault": {
              "type": "boolean",
              "description": "Whether the default reminders of the calendar apply to the event."
            }
          },
          "type": "object"
        },
        "endTimeUnspecified": {
          "default": "false",
          "type": "boolean",
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False."
        },
        "creator": {
          "properties": {
            "displayName": {
              "description": "The creator's name, if available.",
              "type": "string"
            },
            "email": {
              "type": "string",
              "description": "The creator's email address, if available."
            },
            "id": {
              "type": "string",
              "description": "The creator's Profile ID, if available."
            },
            "self": {
              "type": "boolean",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false"
            }
          },
          "description": "The creator of the event. Read-only.",
          "type": "object"
        },
        "updated": {
          "description": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "guestsCanInviteOthers": {
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "type": "boolean",
          "default": "true"
        },
        "htmlLink": {
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
          "type": "string"
        },
        "recurringEventId": {
          "type": "string",
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "eventLabelId": {
          "type": "string",
          "description": "The ID of the event label assigned to the event. Optional. This refers to the ID of an entry in the labelProperties.eventLabels property of the calendar (see the Calendars.get endpoint.)\nThis property supersedes the index-based colorId property. To set or change this property, you need to specify eventLabelVersion=1 in the parameters of the insert, import, update, and patch methods.\nSetting an empty string, or not setting this field at all, will remove the existing label from the event."
        },
        "eventType": {
          "description": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event.",
          "type": "string",
          "default": "default"
        },
        "locked": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
        },
        "id": {
[...]
