{
  "servicePath": "calendar/v3/",
  "icons": {
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png",
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png"
  },
  "batchPath": "batch/calendar/v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {
          "description": "See the list of Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.events.public.readonly": {
          "description": "See the events on public calendars"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.calendars": {
          "description": "See and change the properties of Google calendars you have access to, and create secondary calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist": {
          "description": "See, add, and remove Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.events.owned.readonly": {
          "description": "See the events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.freebusy": {
          "description": "View your availability in your calendars"
        },
        "https://www.googleapis.com/auth/calendar.acls.readonly": {
          "description": "See the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.calendars.readonly": {
          "description": "See the title, description, default time zone, and other properties of Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.events.freebusy": {
          "description": "See the availability on Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.events.owned": {
          "description": "See, create, change, and delete events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.acls": {
          "description": "See and change the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.app.created": {
          "description": "Make secondary Google calendars, and see, create, change, and delete events on them"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "calendar:v3",
  "title": "Calendar API",
  "rootUrl": "https://www.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "resources": {
    "events": {
      "methods": {
        "watch": {
          "supportsSubscription": true,
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "privateExtendedProperty": {
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "repeated": true
            },
            "orderBy": {
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "type": "string"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "default": "250"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored."
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "location": "query"
            },
            "eventTypes": {
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "location": "query",
              "format": "date-time",
              "type": "string"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query",
              "format": "date-time",
              "type": "string"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "description": "Watch for changes to Events resources.",
          "httpMethod": "POST",
          "id": "calendar.events.watch",
          "path": "calendars/{calendarId}/events/watch"
        },
        "get": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.get",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "eventId": {
              "type": "string",
              "description": "Event identifier.",
              "required": true,
              "location": "path"
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "quickAdd": {
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.quickAdd",
          "path": "calendars/{calendarId}/events/quickAdd",
          "description": "Creates an event based on a simple text string.",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "text": {
              "required": true,
              "location": "query",
              "description": "The text describing the event to be created.",
              "type": "string"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the creation of the new event.",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string"
            }
          },
          "response": {
            "$ref": "Event"
          }
        },
        "update": {
          "description": "Updates an event.",
          "parameters": {
            "sendUpdates": {
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "conferenceDataVersion": {
              "maximum": "1",
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "eventLabelVersion": {
              "maximum": "1",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "minimum": "0",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "eventId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Event identifier."
            },
            "maxAttendees": {
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "type": "integer",
              "format": "int32"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.update",
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "instances": {
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "id": "calendar.events.instances",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "maxAttendees": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "originalStart": {
              "type": "string",
              "location": "query",
              "description": "The original start time of the instance in the result. Optional."
            },
            "timeMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "timeMax": {
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "location": "query",
              "format": "date-time"
            },
            "eventId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Recurring event identifier."
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Events"
          },
          "description": "Returns instances of the specified recurring event."
        },
        "move": {
          "parameters": {
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "type": "string"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "type": "string"
            },
            "destination": {
              "required": true,
              "location": "query",
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "type": "string"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "description": "Event identifier.",
              "type": "string"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          },
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "id": "calendar.events.move",
          "httpMethod": "POST",
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "description": "Deletes an event.",
          "id": "calendar.events.delete",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            },
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the deletion of the event.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          }
        },
        "import": {
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "id": "calendar.events.import",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events/import",
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "supportsAttachments": {
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean"
            },
            "conferenceDataVersion": {
              "location": "query",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "minimum": "0",
              "maximum": "1"
            },
            "eventLabelVersion": {
              "minimum": "0",
              "format": "int32",
              "maximum": "1",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "location": "query",
              "type": "integer"
            }
          }
        },
        "insert": {
          "id": "calendar.events.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events",
          "description": "Creates an event.",
          "parameters": {
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "maxAttendees": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "eventLabelVersion": {
              "maximum": "1",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0."
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "maximum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "sendUpdates": {
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "type": "string",
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Updates an event. This method supports patch semantics.",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "request": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.patch",
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "conferenceDataVersion": {
              "type": "integer",
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "eventId": {
              "description": "Event identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "eventLabelVersion": {
              "minimum": "0",
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "type": "integer",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0."
            },
            "sendUpdates": {
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "id": "calendar.events.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "default": "250",
              "format": "int32"
            },
            "timeMin": {
              "location": "query",
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "type": "string",
              "location": "query"
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "timeMax": {
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query",
              "type": "string"
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "maxAttendees": {
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "singleEvents": {
              "type": "boolean",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "updatedMin": {
              "format": "date-time",
              "location": "query",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "privateExtendedProperty": {
              "location": "query",
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "eventTypes": {
              "repeated": true,
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query"
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ]
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/events",
          "description": "Returns events on the specified calendar.",
          "supportsSubscription": true,
          "response": {
            "$ref": "Events"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ]
        }
      }
    },
    "settings": {
      "methods": {
        "watch": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "users/me/settings/watch",
          "description": "Watch for changes to Settings resources.",
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "id": "calendar.settings.watch"
        },
        "list": {
          "httpMethod": "GET",
          "id": "calendar.settings.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns all user settings for the authenticated user.",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            }
          },
          "supportsSubscription": true,
          "path": "users/me/settings"
        },
        "get": {
          "parameterOrder": [
            "setting"
          ],
          "description": "Returns a single user setting.",
          "parameters": {
            "setting": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The id of the user setting."
            }
          },
          "path": "users/me/settings/{setting}",
          "id": "calendar.settings.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "response": {
            "$ref": "Setting"
          }
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "path": "colors",
          "httpMethod": "GET",
          "response": {
            "$ref": "Colors"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.colors.get",
          "description": "Returns the color definitions for calendars and events."
        }
      }
    },
    "acl": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "supportsSubscription": true,
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Acl"
          },
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "calendar.acl.list",
          "description": "Returns the rules in the access control list for the calendar.",
          "path": "calendars/{calendarId}/acl"
        },
        "delete": {
          "id": "calendar.acl.delete",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "response": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "request": {
            "$ref": "AclRule"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query"
            },
            "ruleId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ACL rule identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Updates an access control rule.",
          "httpMethod": "PUT",
          "id": "calendar.acl.update"
        },
        "watch": {
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "path": "calendars/{calendarId}/acl/watch",
          "description": "Watch for changes to ACL resources.",
          "supportsSubscription": true,
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "id": "calendar.acl.watch",
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          }
        },
        "insert": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/acl",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Creates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "id": "calendar.acl.insert",
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AclRule"
          }
        },
        "patch": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "id": "calendar.acl.patch",
          "parameters": {
            "ruleId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier."
            },
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an access control rule. This method supports patch semantics.",
          "response": {
            "$ref": "AclRule"
          }
        },
        "get": {
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "GET",
          "description": "Returns an access control rule.",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "id": "calendar.acl.get",
          "parameters": {
            "ruleId": {
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "calendar.channels.stop",
          "description": "Stop watching resources through this channel"
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "description": "Returns free/busy information for a set of calendars.",
          "id": "calendar.freebusy.query",
          "path": "freeBusy",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "calendars": {
      "methods": {
        "clear": {
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/clear",
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "id": "calendar.calendars.clear",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}",
          "id": "calendar.calendars.patch",
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ]
        },
        "transferOwnership": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "httpMethod": "POST",
          "id": "calendar.calendars.transferOwnership",
          "path": "calendars/{calendarId}/transferOwnership",
          "parameterOrder": [
            "calendarId",
            "newDataOwner",
            "useAdminAccess"
          ],
          "description": "Transfers a secondary calendar between users within a Google Workspace organization. Requires user authentication with Manage Calendars administrator privilege, and one of the following authorization scopes: \n- https://www.googleapis.com/auth/calendar \n- https://www.googleapis.com/auth/calendar.calendars In the request, set useAdminAccess to true. The secondary calendar must be active to be transferred. Transferring disabled or deleted calendars isn't supported.",
          "parameters": {
            "useAdminAccess": {
              "type": "boolean",
              "required": true,
              "location": "query",
              "description": "When true, the method runs using the user's Google Workspace administrator privileges. The calling user must be a Google Workspace administrator with the Manage Calendars privilege. This method currently only supports admin access, thus only true is accepted for this field."
            },
            "newDataOwner": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The email address of a user who will become the data owner of the calendar."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs, call the calendarList.list method."
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars",
          "id": "calendar.calendars.insert",
          "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ]
        },
        "get": {
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars",
            "https://www.googleapis.com/auth/calendar.calendars.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.get",
          "description": "Returns metadata for a calendar.",
          "httpMethod": "GET"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.update",
          "response": {
            "$ref": "Calendar"
          },
          "description": "Updates metadata for a calendar.",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "id": "calendar.calendars.delete",
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "calendarList": {
      "methods": {
        "insert": {
          "description": "Inserts an existing calendar into the user's calendar list.",
          "id": "calendar.calendarList.insert",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "users/me/calendarList"
        },
        "list": {
          "parameters": {
            "showHidden": {
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "location": "query",
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ]
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "showOwnOrganizationOnly": {
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            }
          },
          "path": "users/me/calendarList",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "response": {
            "$ref": "CalendarList"
          },
          "id": "calendar.calendarList.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns the calendars on the user's calendar list."
        },
        "watch": {
          "id": "calendar.calendarList.watch",
          "supportsSubscription": true,
          "path": "users/me/calendarList/watch",
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False."
            },
            "minAccessRole": {
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False."
            },
            "showHidden": {
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Watch for changes to CalendarList resources.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "delete": {
          "description": "Removes a calendar from the user's calendar list.",
          "httpMethod": "DELETE",
          "id": "calendar.calendarList.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ]
        },
        "update": {
          "path": "users/me/calendarList/{calendarId}",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.update",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "httpMethod": "PUT",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "colorRgbFormat": {
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ]
        },
        "get": {
          "description": "Returns a calendar from the user's calendar list.",
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "patch": {
          "request": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendarList.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          }
        }
      }
    }
  },
  "description": "Manipulates events and other calendar data.",
  "name": "calendar",
  "version": "v3",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "revision": "20260826",
  "ownerName": "Google",
  "basePath": "/calendar/v3/",
  "ownerDomain": "google.com",
  "schemas": {
    "EventAttendee": {
      "properties": {
        "self": {
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "id": {
          "type": "string",
          "description": "The attendee's Profile ID, if available."
        },
        "resource": {
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "displayName": {
          "description": "The attendee's name, if available. Optional.",
          "type": "string"
        },
        "email": {
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee.",
          "type": "string"
        },
        "optional": {
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "comment": {
          "description": "The attendee's response comment. Optional.",
          "type": "string"
        },
        "additionalGuests": {
          "description": "Number of additional guests. Optional. The default is 0.",
          "default": "0",
          "type": "integer",
          "format": "int32"
        },
        "responseStatus": {
          "type": "string",
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests."
        },
        "asyncOperation": {
          "default": "",
          "description": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventAttendee"
    },
    "ConferenceSolutionKey": {
      "id": "ConferenceSolutionKey",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
[...]
