{
  "discoveryVersion": "v1",
  "version": "v1",
  "documentationLink": "https://docs.cloud.google.com/certificate-manager/docs/overview",
  "ownerName": "Google",
  "version_module": true,
  "protocol": "rest",
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "name": "certificatemanager",
  "revision": "20260914",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "certificatemanager:v1",
  "basePath": "",
  "description": "",
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "schemas": {
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "CertificateMap": {
      "description": "Defines a collection of certificate configurations.",
      "properties": {
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a Certificate Map.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map."
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate map.",
          "type": "string"
        },
        "gclbTargets": {
          "items": {
            "$ref": "GclbTarget"
          },
          "description": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule.",
          "type": "array",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update timestamp of a Certificate Map.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CertificateMap"
    },
    "TrustStore": {
      "type": "object",
      "id": "TrustStore",
      "properties": {
        "trustAnchors": {
          "type": "array",
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore.",
          "items": {
            "$ref": "TrustAnchor"
          }
        },
        "intermediateCas": {
          "type": "array",
          "items": {
            "$ref": "IntermediateCA"
          },
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature."
        }
      },
      "description": "Defines a trust store."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation"
    },
    "DnsAuthorization": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a DnsAuthorization.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "domain": {
          "type": "string",
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`."
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization.",
          "type": "string"
        },
        "type": {
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ],
          "type": "string"
        },
        "dnsResourceRecord": {
          "readOnly": true,
          "$ref": "DnsResourceRecord",
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a DnsAuthorization.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update timestamp of a DnsAuthorization."
        }
      },
      "id": "DnsAuthorization",
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance.",
      "type": "object"
    },
    "SelfManagedCertificate": {
      "type": "object",
      "id": "SelfManagedCertificate",
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any."
        },
        "pemPrivateKey": {
          "type": "string",
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate."
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object"
    },
    "ListTrustConfigsResponse": {
      "description": "Response for the `ListTrustConfigs` method.",
      "id": "ListTrustConfigsResponse",
      "type": "object",
      "properties": {
        "trustConfigs": {
          "items": {
            "$ref": "TrustConfig"
          },
          "type": "array",
          "description": "A list of TrustConfigs for the parent resource."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "selfManaged": {
          "$ref": "SelfManagedCertificate",
          "description": "If set, defines data of a self-managed certificate."
        },
        "expireTime": {
          "description": "Output only. The expiry timestamp of a Certificate.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a Certificate."
        },
        "managed": {
          "description": "If set, contains configuration and state of a managed certificate.",
          "$ref": "ManagedCertificate"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate.",
          "type": "string"
        },
        "managedIdentity": {
          "$ref": "ManagedIdentityCertificate",
          "description": "If set, contains configuration and state of a managed identity certificate."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "usedBy": {
          "type": "array",
          "items": {
            "$ref": "UsedBy"
          },
          "readOnly": true,
          "description": "Output only. The list of resources that use this Certificate."
        },
        "scope": {
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ],
          "description": "Optional. Immutable. The scope of the certificate.",
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ],
          "type": "string"
        },
        "pemCertificate": {
          "readOnly": true,
          "description": "Output only. The PEM-encoded certificate chain.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a Certificate.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`."
        },
        "sanDnsnames": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field."
        }
      },
      "description": "Defines TLS certificate.",
      "id": "Certificate"
    },
    "ProvisioningIssue": {
      "properties": {
        "reason": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "description": "Output only. Reason for provisioning failures."
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum."
        }
      },
      "id": "ProvisioningIssue",
      "type": "object",
      "description": "Information about issues with provisioning a Managed Certificate."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation. Output only.",
      "properties": {
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "AllowlistedCertificate": {
      "properties": {
        "pemCertificate": {
          "description": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate.",
          "type": "string"
        }
      },
      "id": "AllowlistedCertificate",
      "description": "Defines an allowlisted certificate.",
      "type": "object"
    },
    "ManagedCertificate": {
      "properties": {
        "provisioningIssue": {
          "$ref": "ProvisioningIssue",
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a Managed Certificate."
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the managed certificate resource.",
          "readOnly": true,
          "type": "string"
        },
        "issuanceConfig": {
          "type": "string",
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa."
        },
        "authorizationAttemptInfo": {
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource.",
          "readOnly": true,
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution.",
          "items": {
            "type": "string"
          }
        },
        "dnsAuthorizations": {
          "type": "array",
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ManagedCertificate",
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "type": "object"
    },
    "AuthorizationAttemptInfo": {
      "description": "State of the latest attempt to authorize a domain for certificate issuance.",
      "id": "AuthorizationAttemptInfo",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Domain name of the authorization attempt."
        },
        "details": {
          "type": "string",
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum.",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "description": "Output only. Reason for failure of the authorization attempt for the domain.",
          "type": "string"
        },
        "troubleshooting": {
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed.",
          "$ref": "Troubleshooting",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the domain for managed certificate issuance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ]
        },
        "attemptTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp, when the authorization attempt was made."
        }
      }
    },
    "ListCertificateIssuanceConfigsResponse": {
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "certificateIssuanceConfigs": {
          "type": "array",
          "items": {
            "$ref": "CertificateIssuanceConfig"
          },
          "description": "A list of certificate configs for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object",
      "id": "ListCertificateIssuanceConfigsResponse"
    },
    "ManagedIdentityCertificate": {
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so.",
      "type": "object",
      "id": "ManagedIdentityCertificate",
      "properties": {
        "provisioningIssue": {
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a managed certificate.",
          "$ref": "ProvisioningIssue"
        },
        "identity": {
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ]
        }
      }
    },
    "TrustAnchor": {
      "type": "object",
      "description": "Defines a trust anchor.",
      "properties": {
        "pemCertificate": {
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      },
      "id": "TrustAnchor"
    },
    "CertificateAuthorityConfig": {
      "id": "CertificateAuthorityConfig",
      "type": "object",
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      },
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc."
    },
    "IntermediateCA": {
      "description": "Defines an intermediate CA.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      },
      "id": "IntermediateCA",
      "type": "object"
    },
    "ListDnsAuthorizationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "dnsAuthorizations": {
          "items": {
            "$ref": "DnsAuthorization"
          },
          "type": "array",
          "description": "A list of dns authorizations for the parent resource."
        }
      },
      "description": "Response for the `ListDnsAuthorizations` method.",
      "id": "ListDnsAuthorizationsResponse"
    },
    "ListCertificateMapsResponse": {
      "type": "object",
      "properties": {
        "certificateMaps": {
          "items": {
            "$ref": "CertificateMap"
          },
          "type": "array",
          "description": "A list of certificate maps for the parent resource."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListCertificateMapsResponse",
      "description": "Response for the `ListCertificateMaps` method."
    },
    "ListCertificateMapEntriesResponse": {
      "description": "Response for the `ListCertificateMapEntries` method.",
      "id": "ListCertificateMapEntriesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "certificateMapEntries": {
          "description": "A list of certificate map entries for the parent resource.",
          "items": {
            "$ref": "CertificateMapEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsResourceRecord": {
      "id": "DnsResourceRecord",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\"."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`"
        },
        "data": {
          "type": "string",
          "description": "Output only. Data of the DNS Resource Record.",
          "readOnly": true
        }
      },
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "TrustConfig": {
      "properties": {
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "spiffeTrustStores": {
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "type": "object",
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with a TrustConfig."
        },
        "allowlistedCertificates": {
          "type": "array",
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.",
          "items": {
            "$ref": "AllowlistedCertificate"
          }
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object"
        },
        "trustStores": {
          "items": {
            "$ref": "TrustStore"
          },
          "type": "array",
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a TrustConfig.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TrustConfig",
      "description": "Defines a trust config.",
      "type": "object"
    },
    "ListCertificatesResponse": {
      "type": "object",
      "id": "ListCertificatesResponse",
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "certificates": {
          "type": "array",
          "description": "A list of certificates for the parent resource.",
          "items": {
            "$ref": "Certificate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "IPs": {
      "id": "IPs",
      "properties": {
        "resolved": {
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "servingOnAltPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open."
        },
        "serving": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open."
        }
      },
      "description": "IPs troubleshooting information.",
      "type": "object"
    },
    "CNAME": {
      "properties": {
        "name": {
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`.",
          "type": "string",
          "readOnly": true
        },
        "resolvedData": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on.",
          "readOnly": true
        },
        "expectedData": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`."
        }
      },
      "type": "object",
      "id": "CNAME",
      "description": "CNAME troubleshooting information."
    },
    "IpConfig": {
      "type": "object",
      "description": "Defines IP configuration where this Certificate Map is serving.",
      "id": "IpConfig",
      "properties": {
        "ports": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "Output only. Ports.",
          "type": "array",
          "readOnly": true
        },
        "ipAddress": {
          "description": "Output only. An external IP address.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "CertificateIssuanceConfig": {
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "type": "object",
      "id": "CertificateIssuanceConfig",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "lifetime": {
          "type": "string",
          "description": "Required. Workload certificate lifetime requested.",
          "format": "google-duration"
        },
        "keyAlgorithm": {
          "type": "string",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ],
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ],
          "description": "Required. The key algorithm to use when generating the private key."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GclbTarget": {
      "properties": {
        "targetSslProxy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`."
        },
        "ipConfigs": {
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving.",
          "items": {
            "$ref": "IpConfig"
          },
          "readOnly": true,
          "type": "array"
        },
        "targetHttpsProxy": {
          "readOnly": true,
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`.",
          "type": "string"
        }
      },
      "id": "GclbTarget",
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "CertificateAuthorityServiceConfig": {
      "id": "CertificateAuthorityServiceConfig",
      "type": "object",
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\"."
        }
      },
      "description": "Contains information required to contact CA service."
    },
    "Troubleshooting": {
      "type": "object",
      "properties": {
        "issues": {
          "description": "Output only. The list of issues discovered during the authorization attempt.",
          "readOnly": true,
          "type": "array",
          "items": {
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CNAME_MISMATCH",
              "RESOLVED_TO_NOT_SERVING",
              "RESOLVED_TO_SERVING_ON_ALT_PORTS",
              "NO_RESOLVED_IPS",
              "CERTIFICATE_NOT_ATTACHED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Issue is unspecified.",
              "The resolved CNAME value doesn't match the expected CNAME.",
              "Domain has A/AAAA records that point to IPs, where the certificate is not attached.",
              "Domain has A/AAAA records that point to IPs, where the certificate is attached, but port 443 is not open.",
              "Domain doesn't have any A/AAAA records.",
              "Certificate is not configured to be served from any IPs (e.g. Certificate is not attached to any load balancer)."
            ]
          }
        },
        "ips": {
          "description": "Output only. IPs troubleshooting information.",
          "readOnly": true,
          "$ref": "IPs"
        },
        "cname": {
          "$ref": "CNAME",
          "description": "Output only. CNAME troubleshooting information.",
          "readOnly": true
        }
      },
      "description": "Troubleshooting information for the authorization attempt.",
      "id": "Troubleshooting"
    },
    "CertificateMapEntry": {
      "id": "CertificateMapEntry",
      "description": "Defines a certificate map entry.",
      "properties": {
        "certificates": {
          "description": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hostname": {
          "type": "string",
          "description": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate map entry.",
          "type": "string"
        },
        "matcher": {
          "type": "string",
          "description": "A predefined matcher for particular cases, other than SNI selection.",
          "enumDescriptions": [
            "A matcher has't been recognized.",
            "A primary certificate that is served when SNI wasn't specified in the request or SNI couldn't be found in the map."
          ],
          "enum": [
            "MATCHER_UNSPECIFIED",
            "PRIMARY"
          ]
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate Map Entry.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update timestamp of a Certificate Map Entry.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map Entry.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. A serving state of this Certificate Map Entry.",
          "type": "string",
          "enumDescriptions": [
            "The status is undefined.",
            "The configuration is serving.",
            "Update is in progress. Some frontends may serve this configuration."
          ],
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "PENDING"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "UsedBy": {
      "description": "Defines a resource that uses the certificate.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UsedBy"
    }
  },
  "mtlsRootUrl": "https://certificatemanager.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "id": "certificatemanager.projects.locations.list"
            },
            "get": {
              "id": "certificatemanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "certificateMaps": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a CertificateMap.",
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single CertificateMap.",
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of certificate maps to return per call."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "path": "v1/{+parent}/certificateMaps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists CertificateMaps in a given project and location.",
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "certificateMapId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the certificate map."
                    }
                  },
                  "path": "v1/{+parent}/certificateMaps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.create"
                }
              },
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "delete": {
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single CertificateMapEntry."
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single CertificateMapEntry.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "path": "v1/{+parent}/certificateMapEntries",
                      "httpMethod": "POST",
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`."
                        },
                        "certificateMapEntryId": {
                          "type": "string",
                          "description": "Required. A user-provided name of the certificate map entry.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "path": "v1/{+parent}/certificateMapEntries",
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries.",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
                        }
                      },
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "description": "Updates a CertificateMapEntry."
                    }
                  }
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.patch",
                  "description": "Updates a CertificateIssuanceConfig.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.list",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCertificateIssuanceConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificate configs to return per call."
                    },
                    "orderBy": {
                      "description": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data."
                    }
                  },
                  "description": "Lists CertificateIssuanceConfigs in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "certificateIssuanceConfigId": {
                      "location": "query",
                      "description": "Required. A user-provided name of the certificate config.",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new CertificateIssuanceConfig in a given project and location.",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.get",
                  "description": "Gets details of a single CertificateIssuanceConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "description": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single CertificateIssuanceConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "delete": {
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "description": "Deletes a single DnsAuthorization.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single DnsAuthorization.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a DnsAuthorization.",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "dnsAuthorizationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the dns authorization."
                    }
                  },
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "description": "Lists DnsAuthorizations in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "certificates": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Certificate"
                  },
                  "description": "Gets details of a single Certificate.",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificates.get"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a Certificate.",
                  "id": "certificatemanager.projects.locations.certificates.patch",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  },
                  "id": "certificatemanager.projects.locations.certificates.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates returned."
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificates to return per call.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Certificates in a given project and location.",
                  "path": "v1/{+parent}/certificates"
                },
                "create": {
                  "parameters": {
                    "certificateId": {
                      "type": "string",
                      "description": "Required. A user-provided name of the certificate.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "description": "Creates a new Certificate in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/certificates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Certificate.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
[...]
