{
  "version": "v1",
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "canonicalName": "Certificate Manager",
  "protocol": "rest",
  "ownerName": "Google",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GclbTarget": {
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "properties": {
        "targetSslProxy": {
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`.",
          "type": "string",
          "readOnly": true
        },
        "targetHttpsProxy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`."
        },
        "ipConfigs": {
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving.",
          "readOnly": true,
          "items": {
            "$ref": "IpConfig"
          },
          "type": "array"
        }
      },
      "id": "GclbTarget",
      "type": "object"
    },
    "TrustStore": {
      "id": "TrustStore",
      "properties": {
        "intermediateCas": {
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature.",
          "items": {
            "$ref": "IntermediateCA"
          },
          "type": "array"
        },
        "trustAnchors": {
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore.",
          "type": "array",
          "items": {
            "$ref": "TrustAnchor"
          }
        }
      },
      "description": "Defines a trust store.",
      "type": "object"
    },
    "CertificateAuthorityServiceConfig": {
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        }
      },
      "description": "Contains information required to contact CA service.",
      "type": "object",
      "id": "CertificateAuthorityServiceConfig"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "DnsAuthorization": {
      "id": "DnsAuthorization",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a DnsAuthorization."
        },
        "type": {
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a DnsAuthorization."
        },
        "domain": {
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`.",
          "type": "string"
        },
        "dnsResourceRecord": {
          "$ref": "DnsResourceRecord",
          "readOnly": true,
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`."
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a DnsAuthorization."
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization."
        }
      },
      "type": "object",
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance."
    },
    "Certificate": {
      "id": "Certificate",
      "properties": {
        "scope": {
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ],
          "description": "Optional. Immutable. The scope of the certificate.",
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ],
          "type": "string"
        },
        "usedBy": {
          "items": {
            "$ref": "UsedBy"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of resources that use this Certificate."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The expiry timestamp of a Certificate.",
          "readOnly": true
        },
        "pemCertificate": {
          "description": "Output only. The PEM-encoded certificate chain.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of labels associated with a Certificate.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "selfManaged": {
          "description": "If set, defines data of a self-managed certificate.",
          "$ref": "SelfManagedCertificate"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`."
        },
        "managedIdentity": {
          "$ref": "ManagedIdentityCertificate",
          "description": "If set, contains configuration and state of a managed identity certificate."
        },
        "sanDnsnames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "items": {
            "type": "string"
          }
        },
        "managed": {
          "$ref": "ManagedCertificate",
          "description": "If set, contains configuration and state of a managed certificate."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines TLS certificate."
    },
    "IntermediateCA": {
      "id": "IntermediateCA",
      "type": "object",
      "properties": {
        "pemCertificate": {
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      },
      "description": "Defines an intermediate CA."
    },
    "IPs": {
      "type": "object",
      "id": "IPs",
      "description": "IPs troubleshooting information.",
      "properties": {
        "servingOnAltPorts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open.",
          "readOnly": true
        },
        "resolved": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses.",
          "items": {
            "type": "string"
          }
        },
        "serving": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ProvisioningIssue": {
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "readOnly": true,
          "description": "Output only. Reason for provisioning failures."
        },
        "details": {
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ProvisioningIssue",
      "type": "object",
      "description": "Information about issues with provisioning a Managed Certificate."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "Troubleshooting": {
      "type": "object",
      "description": "Troubleshooting information for the authorization attempt.",
      "properties": {
        "ips": {
          "readOnly": true,
          "$ref": "IPs",
          "description": "Output only. IPs troubleshooting information."
        },
        "cname": {
          "readOnly": true,
          "description": "Output only. CNAME troubleshooting information.",
          "$ref": "CNAME"
        },
        "issues": {
          "description": "Output only. The list of issues discovered during the authorization attempt.",
          "items": {
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CNAME_MISMATCH",
              "RESOLVED_TO_NOT_SERVING",
              "RESOLVED_TO_SERVING_ON_ALT_PORTS",
              "NO_RESOLVED_IPS",
              "CERTIFICATE_NOT_ATTACHED"
            ],
            "enumDescriptions": [
              "Issue is unspecified.",
              "The resolved CNAME value doesn't match the expected CNAME.",
              "Domain has A/AAAA records that point to IPs, where the certificate is not attached.",
              "Domain has A/AAAA records that point to IPs, where the certificate is attached, but port 443 is not open.",
              "Domain doesn't have any A/AAAA records.",
              "Certificate is not configured to be served from any IPs (e.g. Certificate is not attached to any load balancer)."
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Troubleshooting"
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "target": {
          "type": "string",
          "description": "Server-defined resource path for the target of the operation."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation. Output only."
    },
    "CNAME": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`.",
          "readOnly": true
        },
        "expectedData": {
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`.",
          "readOnly": true,
          "type": "string"
        },
        "resolvedData": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CNAME",
      "description": "CNAME troubleshooting information."
    },
    "DnsResourceRecord": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Output only. Data of the DNS Resource Record.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\".",
          "readOnly": true
        }
      },
      "id": "DnsResourceRecord",
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate."
    },
    "AuthorizationAttemptInfo": {
      "description": "State of the latest attempt to authorize a domain for certificate issuance.",
      "properties": {
        "domain": {
          "readOnly": true,
          "description": "Output only. Domain name of the authorization attempt.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the domain for managed certificate issuance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "readOnly": true,
          "type": "string"
        },
        "failureReason": {
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "readOnly": true,
          "description": "Output only. Reason for failure of the authorization attempt for the domain.",
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "type": "string"
        },
        "attemptTime": {
          "description": "Output only. The timestamp, when the authorization attempt was made.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum.",
          "readOnly": true,
          "type": "string"
        },
        "troubleshooting": {
          "$ref": "Troubleshooting",
          "readOnly": true,
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed."
        }
      },
      "id": "AuthorizationAttemptInfo",
      "type": "object"
    },
    "CertificateAuthorityConfig": {
      "id": "CertificateAuthorityConfig",
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc.",
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      },
      "type": "object"
    },
    "CertificateMap": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update timestamp of a Certificate Map."
        },
        "gclbTargets": {
          "readOnly": true,
          "items": {
            "$ref": "GclbTarget"
          },
          "type": "array",
          "description": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule."
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate Map.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate map."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Defines a collection of certificate configurations.",
      "id": "CertificateMap",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object"
    },
    "ListCertificateMapEntriesResponse": {
      "properties": {
        "certificateMapEntries": {
          "items": {
            "$ref": "CertificateMapEntry"
          },
          "type": "array",
          "description": "A list of certificate map entries for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response for the `ListCertificateMapEntries` method.",
      "id": "ListCertificateMapEntriesResponse",
      "type": "object"
    },
    "AllowlistedCertificate": {
      "type": "object",
      "properties": {
        "pemCertificate": {
          "description": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate.",
          "type": "string"
        }
      },
      "id": "AllowlistedCertificate",
      "description": "Defines an allowlisted certificate."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "UsedBy": {
      "id": "UsedBy",
      "type": "object",
      "description": "Defines a resource that uses the certificate.",
      "properties": {
        "name": {
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "IpConfig": {
      "type": "object",
      "description": "Defines IP configuration where this Certificate Map is serving.",
      "id": "IpConfig",
      "properties": {
        "ports": {
          "description": "Output only. Ports.",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array",
          "readOnly": true
        },
        "ipAddress": {
          "description": "Output only. An external IP address.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CertificateMapEntry": {
      "type": "object",
      "description": "Defines a certificate map entry.",
      "properties": {
        "matcher": {
          "enumDescriptions": [
            "A matcher has't been recognized.",
            "A primary certificate that is served when SNI wasn't specified in the request or SNI couldn't be found in the map."
          ],
          "type": "string",
          "description": "A predefined matcher for particular cases, other than SNI selection.",
          "enum": [
            "MATCHER_UNSPECIFIED",
            "PRIMARY"
          ]
        },
        "certificates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a Certificate Map Entry.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate map entry."
        },
        "state": {
          "enumDescriptions": [
            "The status is undefined.",
            "The configuration is serving.",
            "Update is in progress. Some frontends may serve this configuration."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "PENDING"
          ],
          "description": "Output only. A serving state of this Certificate Map Entry."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update timestamp of a Certificate Map Entry.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map Entry."
        },
        "hostname": {
          "description": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
          "type": "string"
        }
      },
      "id": "CertificateMapEntry"
    },
    "ListCertificateIssuanceConfigsResponse": {
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "type": "object",
      "id": "ListCertificateIssuanceConfigsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "certificateIssuanceConfigs": {
          "description": "A list of certificate configs for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "CertificateIssuanceConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "TrustConfig": {
      "type": "object",
      "id": "TrustConfig",
      "description": "Defines a trust config.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a TrustConfig.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "spiffeTrustStores": {
          "type": "object",
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation.",
          "additionalProperties": {
            "$ref": "TrustStore"
          }
        },
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "format": "google-datetime"
        },
        "trustStores": {
          "items": {
            "$ref": "TrustStore"
          },
          "type": "array",
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "allowlistedCertificates": {
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.",
          "items": {
            "$ref": "AllowlistedCertificate"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a TrustConfig."
        }
      }
    },
    "ManagedIdentityCertificate": {
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the managed certificate resource."
        },
        "provisioningIssue": {
          "$ref": "ProvisioningIssue",
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a managed certificate."
        },
        "identity": {
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedIdentityCertificate"
    },
    "ListCertificateMapsResponse": {
      "description": "Response for the `ListCertificateMaps` method.",
      "id": "ListCertificateMapsResponse",
      "properties": {
        "certificateMaps": {
          "description": "A list of certificate maps for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "CertificateMap"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "ListDnsAuthorizationsResponse": {
      "properties": {
        "dnsAuthorizations": {
          "items": {
            "$ref": "DnsAuthorization"
          },
          "type": "array",
          "description": "A list of dns authorizations for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response for the `ListDnsAuthorizations` method.",
      "id": "ListDnsAuthorizationsResponse"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "SelfManagedCertificate": {
      "type": "object",
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "properties": {
        "pemPrivateKey": {
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate.",
          "type": "string"
        },
        "pemCertificate": {
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any.",
          "type": "string"
        }
      },
      "id": "SelfManagedCertificate"
    },
    "ListCertificatesResponse": {
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "certificates": {
          "description": "A list of certificates for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "Certificate"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCertificatesResponse"
    },
    "CertificateIssuanceConfig": {
      "id": "CertificateIssuanceConfig",
      "type": "object",
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
        },
        "certificateAuthorityConfig": {
          "$ref": "CertificateAuthorityConfig",
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc."
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "keyAlgorithm": {
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ],
          "type": "string",
          "description": "Required. The key algorithm to use when generating the private key.",
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ]
        },
        "labels": {
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig."
        },
        "lifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Workload certificate lifetime requested."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "format": "google-datetime"
        }
      }
    },
    "TrustAnchor": {
      "id": "TrustAnchor",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      },
      "type": "object",
      "description": "Defines a trust anchor."
    },
    "ManagedCertificate": {
      "type": "object",
      "properties": {
        "dnsAuthorizations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization."
        },
        "authorizationAttemptInfo": {
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          }
        },
        "issuanceConfig": {
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string"
        },
        "provisioningIssue": {
          "$ref": "ProvisioningIssue",
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a Managed Certificate."
        },
        "domains": {
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "id": "ManagedCertificate"
    },
    "ListTrustConfigsResponse": {
      "description": "Response for the `ListTrustConfigs` method.",
      "type": "object",
      "id": "ListTrustConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "trustConfigs": {
          "items": {
            "$ref": "TrustConfig"
          },
          "description": "A list of TrustConfigs for the parent resource.",
          "type": "array"
        }
      }
    }
  },
  "revision": "20260824",
  "servicePath": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "name": "certificatemanager",
  "documentationLink": "https://docs.cloud.google.com/certificate-manager/docs/overview",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "id": "certificatemanager.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "certificatemanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "certificates": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.certificates.patch",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`."
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Updates a Certificate."
                },
                "create": {
                  "path": "v1/{+parent}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "description": "Creates a new Certificate in a given project and location.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "certificateId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A user-provided name of the certificate."
                    }
                  },
                  "request": {
                    "$ref": "Certificate"
                  },
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/certificates",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificates to return per call."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates returned."
                    }
                  },
                  "id": "certificatemanager.projects.locations.certificates.list",
                  "description": "Lists Certificates in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  }
                },
                "delete": {
                  "description": "Deletes a single Certificate.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Certificate.",
                  "id": "certificatemanager.projects.locations.certificates.get",
                  "response": {
                    "$ref": "Certificate"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "dnsAuthorizationId": {
                      "description": "Required. A user-provided name of the dns authorization.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
                      "required": true
                    }
                  },
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "request": {
                    "$ref": "DnsAuthorization"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "description": "Deletes a single DnsAuthorization."
                },
                "get": {
                  "description": "Gets details of a single DnsAuthorization.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`."
                    }
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "DnsAuthorization"
                  }
                },
                "list": {
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned."
                    }
                  },
                  "description": "Lists DnsAuthorizations in a given project and location.",
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a DnsAuthorization.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "DnsAuthorization"
                  }
                }
              }
            },
            "certificateMaps": {
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                        },
                        "certificateMapEntryId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. A user-provided name of the certificate map entry."
                        }
                      },
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/certificateMapEntries",
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/certificateMapEntries",
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Updates a CertificateMapEntry.",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "description": "Deletes a single CertificateMapEntry.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets details of a single CertificateMapEntry."
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v1/{+parent}/certificateMaps",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "certificateMapId": {
                      "description": "Required. A user-provided name of the certificate map.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "certificatemanager.projects.locations.certificateMaps.create",
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps"
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "description": "Gets details of a single CertificateMap.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a CertificateMap.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "location": "path",
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`."
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/certificateMaps",
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists CertificateMaps in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of certificate maps to return per call.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "trustConfigs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single TrustConfig.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TrustConfig"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}"
                },
                "delete": {
                  "description": "Deletes a single TrustConfig.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.trustConfigs.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates a TrustConfig.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "id": "certificatemanager.projects.locations.trustConfigs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "description": "Lists TrustConfigs in a given project and location.",
                  "path": "v1/{+parent}/trustConfigs",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of TrustConfigs to return per call.",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the TrustConfigs returned.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTrustConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "trustConfigId": {
                      "description": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "TrustConfig"
                  },
[...]
