{
  "version_module": true,
  "canonicalName": "Customer Engagement Suite",
  "protocol": "rest",
  "name": "ces",
  "title": "Gemini Enterprise for Customer Experience API",
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "rootUrl": "https://ces.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "version": "v1beta",
  "schemas": {
    "Agent": {
      "properties": {
        "afterToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "llmAgent": {
          "$ref": "AgentLlmAgent",
          "description": "Optional. The default agent type."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was created."
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "tools": {
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "validationErrors": {
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "childAgents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "generatedSummary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "transferRules": {
          "items": {
            "$ref": "TransferRule"
          },
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array"
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "instruction": {
          "type": "string",
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior."
        },
        "remoteA2aAgent": {
          "$ref": "AgentRemoteA2aAgent",
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution."
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        }
      },
      "type": "object",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "id": "Agent"
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluations.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations."
        }
      },
      "id": "ListEvaluationsResponse"
    },
    "RunEvaluationResultMetricsRequest": {
      "properties": {},
      "id": "RunEvaluationResultMetricsRequest",
      "description": "Request message for EvaluationService.RunEvaluationResultMetrics.",
      "type": "object"
    },
    "TransferRule": {
      "properties": {
        "disablePlannerTransfer": {
          "$ref": "TransferRuleDisablePlannerTransfer",
          "description": "Optional. Rule that prevents the planner from transferring to the target agent."
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "type": "string",
          "description": "Required. The direction of the transfer."
        },
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "id": "TransferRule",
      "type": "object",
      "description": "Rule for transferring to a specific agent."
    },
    "OpenApiToolset": {
      "type": "object",
      "properties": {
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        }
      },
      "id": "OpenApiToolset",
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema."
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "type": "object",
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "openIdConnectUrl": {
          "type": "string",
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata."
        }
      },
      "description": "Defines a security scheme using OpenID Connect."
    },
    "GuardrailLlmPromptSecurity": {
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "customPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "type": "object"
    },
    "ListAssistantSessionsResponse": {
      "description": "Response message for AssistantService.ListAssistantSessions.",
      "properties": {
        "assistantSessions": {
          "description": "The list of assistant sessions.",
          "items": {
            "$ref": "AssistantSession"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. A token that can be sent as ListAssistantSessionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAssistantSessionsResponse",
      "type": "object"
    },
    "GuardrailModelSafety": {
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "properties": {
        "safetySettings": {
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "type": "array",
          "description": "Required. List of safety settings."
        }
      },
      "type": "object",
      "id": "GuardrailModelSafety"
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "type": "object",
      "id": "LfA2aV1ImplicitOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "LfA2aV1SendMessageResponse": {
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        },
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        }
      },
      "description": "Represents the response for the `SendMessage` method.",
      "id": "LfA2aV1SendMessageResponse",
      "type": "object"
    },
    "LfA2aV1TaskStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        },
        "state": {
          "description": "Required. The current state of this task.",
          "type": "string",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ]
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        }
      },
      "description": "A container for the status of a task",
      "id": "LfA2aV1TaskStatus"
    },
    "ExperimentConfigVersionRelease": {
      "type": "object",
      "properties": {
        "trafficAllocations": {
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "type": "array",
          "description": "Optional. Traffic allocations for the version release."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "description": "Optional. State of the version release.",
          "type": "string"
        }
      },
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment."
    },
    "AgentTool": {
      "id": "AgentTool",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        }
      },
      "description": "Represents a tool that allows the agent to call another agent."
    },
    "QualityReportAgentIssues": {
      "type": "object",
      "description": "Issues identified for a single agent.",
      "properties": {
        "issues": {
          "items": {
            "$ref": "QualityReportIssue"
          },
          "type": "array",
          "description": "Optional. List of issues found for this agent."
        },
        "agent": {
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "QualityReportAgentIssues"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "CitationsCitedChunk": {
      "type": "object",
      "id": "CitationsCitedChunk",
      "properties": {
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        }
      },
      "description": "Piece of cited information."
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "type": "object",
      "id": "EvaluationResultGoldenExpectationOutcome",
      "properties": {
        "semanticSimilarityResult": {
          "description": "Output only. The result of the semantic similarity check.",
          "deprecated": true,
          "readOnly": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        },
        "observedPayload": {
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED."
        },
        "observedToolCall": {
          "description": "Output only. The result of the tool call expectation.",
          "$ref": "ToolCall",
          "readOnly": true
        },
        "observedAgentTransfer": {
          "description": "Output only. The result of the agent transfer expectation.",
          "readOnly": true,
          "$ref": "AgentTransfer"
        },
        "observedToolResponse": {
          "$ref": "ToolResponse",
          "description": "Output only. The result of the tool response expectation.",
          "readOnly": true
        },
        "outcome": {
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true,
          "description": "Output only. The outcome of the expectation."
        },
        "observedAgentResponse": {
          "$ref": "Message",
          "description": "Output only. The result of the agent response expectation.",
          "readOnly": true
        },
        "toolInvocationResult": {
          "description": "Output only. The result of the tool invocation check.",
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "readOnly": true
        },
        "expectation": {
          "readOnly": true,
          "$ref": "EvaluationGoldenExpectation",
          "description": "Output only. The expectation that was evaluated."
        }
      },
      "description": "Specifies the expectation and the result of that expectation."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ApiAuthentication": {
      "type": "object",
      "description": "Authentication information required for API calls.",
      "id": "ApiAuthentication",
      "properties": {
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        }
      }
    },
    "Span": {
      "properties": {
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "items": {
            "$ref": "Span"
          },
          "readOnly": true,
          "type": "array"
        },
        "attributes": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true,
          "type": "object"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The start time of the span.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The end time of the span."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The duration of the span.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the span."
        }
      },
      "type": "object",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "id": "Span"
    },
    "EvaluationResultUserGoalSatisfactionResult": {
      "description": "The result of a user goal satisfaction check for a conversation.",
      "id": "EvaluationResultUserGoalSatisfactionResult",
      "properties": {
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the user task satisfaction score."
        },
        "score": {
          "type": "integer",
          "description": "Output only. The user task satisfaction score. Can be -1, 0, 1, 2.",
          "readOnly": true,
          "format": "int32"
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The label associated with each score. Score 2: Graceful Handoff Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "RunSessionRequest": {
      "description": "Request message for SessionService.RunSession.",
      "id": "RunSessionRequest",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array",
          "description": "Required. Inputs for the session."
        },
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        }
      },
      "type": "object"
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "location": {
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\".",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        }
      },
      "id": "LfA2aV1APIKeySecurityScheme",
      "type": "object"
    },
    "TlsConfig": {
      "description": "The TLS configuration.",
      "type": "object",
      "id": "TlsConfig",
      "properties": {
        "caCerts": {
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "type": "array",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      }
    },
    "EvaluationMetricsConfigGoldenMetricsConfig": {
      "type": "object",
      "description": "Configuration for the golden metrics for the evaluation.",
      "id": "EvaluationMetricsConfigGoldenMetricsConfig",
      "properties": {
        "toolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for turn level tool correctness metrics."
        },
        "stepToolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for step level tool correctness metrics."
        },
        "semanticSimilarityMetricsConfig": {
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
          "description": "Optional. Global configuration for semantic similarity metrics."
        }
      }
    },
    "WidgetToolDataMapping": {
      "properties": {
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format."
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "type": "string",
          "description": "Optional. The mode of the data mapping."
        },
        "fieldMappings": {
          "type": "object",
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        },
        "pythonScript": {
          "description": "Deprecated: Use `python_function` instead.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "id": "WidgetToolDataMapping"
    },
    "EvaluationRunCachingSettings": {
      "type": "object",
      "id": "EvaluationRunCachingSettings",
      "description": "Settings for evaluation run caching.",
      "properties": {
        "runCachingMode": {
          "description": "Optional. The caching mode to use for the evaluation run. If not set, default to FORCE_RUN.",
          "enum": [
            "EVALUATION_RUN_CACHING_MODE_UNSPECIFIED",
            "FORCE_RUN",
            "SKIP_IF_UNCHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The run caching mode is unspecified.",
            "Always execute a full live simulation regardless of whether changelogs exist.",
            "Skip execution and copy previous verified results if no dependencies have mutated, the evaluation channel/run method are the same."
          ]
        }
      }
    },
    "GenerateAppResourceResponseTools": {
      "type": "object",
      "id": "GenerateAppResourceResponseTools",
      "description": "The list of tools generated by the LLM assistant.",
      "properties": {
        "tools": {
          "description": "The list of tools generated by the LLM assistant.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      }
    },
    "StreamChatAiAssistantResponse": {
      "description": "Response message for SessionService.StreamChatAiAssistant.",
      "id": "StreamChatAiAssistantResponse",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Timestamp when the event occurred.",
          "type": "string"
        },
        "handoff": {
          "$ref": "TurnHandoffEvent",
          "description": "Tells the client to silently reconnect with resume_from_sequence_number: the task serving this stream is going away and the turn will continue elsewhere. Not an error; the stream completes normally after this event."
        },
        "toolCall": {
          "description": "Tool call execution event.",
          "$ref": "ToolCall"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Tool call response event."
        },
        "artifactChunk": {
          "$ref": "ArtifactChunk",
          "description": "Generated-document artifact event (live preview deltas + final GCS pointer)."
        },
        "turnMetadata": {
          "$ref": "TurnMetadata",
          "description": "Optional. Turn-level metadata and intent categorization."
        },
        "confirmationRequest": {
          "$ref": "AssistantConfirmationRequest",
          "description": "A blocking confirmation the agent paused on. The agent resumes when the answer arrives on a later request's `confirmation_response`. Only sent to clients that declared the CONFIRMATION_CARDS capability on the request."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier for the event."
        },
        "textChunk": {
          "type": "string",
          "description": "Text Token (for streaming Gemini responses word-by-word)."
        },
        "turnInProgress": {
          "type": "boolean",
          "description": "Optional. Indicates whether the turn is still actively running in the background."
        },
        "sessionCheckpoint": {
          "$ref": "SessionCheckpoint",
          "description": "Session checkpoint/compaction recap event containing user intent and rolling summary."
        },
        "resumeSnapshot": {
          "description": "A compacted replay of an in-flight turn, sent as the first event of every attach or resume before any live event. The client replaces any locally rendered state for this turn with the snapshot's contents.",
          "$ref": "TurnResumeSnapshot"
        },
        "sequenceNumber": {
          "description": "Optional. Monotonically increasing sequence number for this session turn.",
          "format": "int64",
          "type": "string"
        },
        "optionQuestionsChunk": {
          "description": "Structured clarification options parsed out of the model turn. The console renders these as a selectable option list instead of raw text.",
          "$ref": "OptionQuestionsChunk"
        },
        "uiEvent": {
          "$ref": "UiEvent",
          "description": "Optional. UI event payload."
        },
        "turnCompleted": {
          "$ref": "TurnCompletedEvent",
          "description": "The turn has ended. Sent as the last event of every turn, on the original stream and on every attached or resumed stream, so clients can end the turn on an explicit signal instead of inferring it from stream closure."
        },
        "thoughtChunk": {
          "type": "string",
          "description": "Thought text chunk (agent's reasoning before generating response)."
        },
        "status": {
          "description": "Simple status update.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "type": "object",
      "properties": {
        "trafficPercentage": {
          "type": "integer",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters."
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "description": "Traffic allocation for the version release."
    },
    "AppVariableDeclaration": {
      "description": "Defines the structure and metadata for a variable.",
      "id": "AppVariableDeclaration",
      "properties": {
        "schema": {
          "description": "Required. The schema of the variable.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuardrailSupervisor": {
      "properties": {
        "type": {
          "description": "Optional. The type of the supervisor.",
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type.",
            "Agent profanity issue type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO",
            "PROFANITY"
          ]
        },
        "detectionMode": {
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ],
          "description": "Optional. The detection mode of the supervisor.",
          "type": "string",
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ]
        }
      },
      "id": "GuardrailSupervisor",
      "description": "Guardrail that runs supervisor intervention.",
      "type": "object"
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "properties": {
        "inlineCitations": {
          "description": "Optional. List of inline citations in the agent response.",
          "type": "array",
          "items": {
            "$ref": "CitationsInlineCitation"
          }
        },
        "citedChunks": {
          "description": "List of cited pieces of information.",
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          }
        }
      },
      "id": "Citations",
      "type": "object"
    },
    "EvaluationMetricsConfig": {
      "type": "object",
      "description": "Configures the metrics for an evaluation.",
      "id": "EvaluationMetricsConfig",
      "properties": {
        "goldenMetricsConfig": {
          "$ref": "EvaluationMetricsConfigGoldenMetricsConfig",
          "description": "Optional. Configuration for the golden metrics for the evaluation."
        },
        "scenarioMetricsConfig": {
          "$ref": "EvaluationMetricsConfigScenarioMetricsConfig",
          "description": "Optional. Configuration for the scenario metrics for the evaluation."
        }
      }
    },
    "RetrieveToolsResponse": {
      "id": "RetrieveToolsResponse",
      "type": "object",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools that are included in the specified toolset."
        }
      },
      "description": "Response message for ToolService.RetrieveTools."
    },
    "GenerateAppResourceRequestToolGenerationConfig": {
      "description": "The configuration to be used to generate a tool.",
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "Optional. The context which describes the tool to be generated. This can be empty if the tool request & response are provided."
        },
        "fileContexts": {
          "type": "array",
          "description": "Optional. The files to be used as context.",
          "items": {
            "$ref": "FileContext"
          }
        },
        "openApiToolsetGenerationConfig": {
          "description": "Optional. The configuration to be used to generate an Open API schema.",
          "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig"
        }
      },
      "id": "GenerateAppResourceRequestToolGenerationConfig"
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "properties": {
        "pkceRequired": {
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients.",
          "type": "boolean"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "authorizationUrl": {
          "description": "Required. The authorization URL to be used for this flow.",
          "type": "string"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        }
      },
      "type": "object",
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow."
    },
    "LatencyReportToolLatency": {
      "type": "object",
      "description": "Latency metrics for a single tool.",
      "id": "LatencyReportToolLatency",
      "properties": {
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        },
        "tool": {
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "type": "string"
        },
        "latencyMetrics": {
          "readOnly": true,
          "description": "Output only. The latency metrics for the tool.",
          "$ref": "LatencyReportLatencyMetrics"
        }
      }
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      }
    },
    "ExperimentConfig": {
      "type": "object",
      "id": "ExperimentConfig",
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "description": "Experiment for the deployment."
    },
    "Event": {
      "description": "Event input.",
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        },
        "variables": {
          "type": "object",
          "description": "Optional. Additional variables associated with the event.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "Event",
      "type": "object"
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry."
        },
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      },
      "description": "Defines a security scheme using HTTP authentication.",
      "type": "object",
      "id": "LfA2aV1HTTPAuthSecurityScheme"
    },
    "RestoreAppVersionRequest": {
      "properties": {},
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion"
    },
    "GuardrailCodeCallback": {
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "properties": {
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        }
      },
      "type": "object",
      "id": "GuardrailCodeCallback"
    },
    "Deployment": {
      "properties": {
        "experimentConfig": {
          "$ref": "ExperimentConfig",
          "description": "Optional. Experiment configuration for the deployment."
        },
        "updateTime": {
          "description": "Output only. Timestamp when this deployment was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "modality": {
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ],
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this deployment was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        },
        "agentRegistryDeployment": {
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry.",
          "$ref": "AgentRegistryDeployment"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "whatsappCredentials": {
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile.",
          "$ref": "WhatsAppCredentials"
        }
      },
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "type": "object",
      "id": "Deployment"
    },
    "ChatAiAssistantRequest": {
      "description": "Request message for AssistantService.ChatAiAssistant.",
      "type": "object",
      "id": "ChatAiAssistantRequest",
      "properties": {
        "assistantSession": {
          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Required. The message to send to the assistant agent."
        },
        "contextToken": {
          "type": "string",
          "description": "Optional. Opaque onboarding context token returned by SessionService.GenerateOnboardingSuggestions. When set and still fresh, the server reuses the onboarding snapshot computed for the zero state instead of recomputing it for the first conversation turn."
        },
        "attachedGcsUris": {
          "description": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Guardrail": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "supervisor": {
          "$ref": "GuardrailSupervisor",
          "description": "Optional. Guardrail that runs supervisor intervention."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        }
      },
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "LatencyReportLlmCallLatency": {
      "id": "LatencyReportLlmCallLatency",
      "type": "object",
      "properties": {
        "model": {
          "readOnly": true,
          "description": "Output only. The name of the model.",
          "type": "string"
        },
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true,
          "description": "Output only. The latency metrics for the LLM call."
        }
      },
      "description": "Latency metrics for a single LLM call."
    },
    "ActionEntityOperation": {
      "type": "object",
      "description": "Entity CRUD operation specification.",
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "description": "Required. Operation to perform on the entity.",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        }
      },
      "id": "ActionEntityOperation"
    },
    "WidgetToolTextResponseConfig": {
      "description": "Configuration for the text response returned with the widget.",
      "properties": {
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        },
        "textResponseInstruction": {
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "description": "Optional. The strategy for providing the text response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "WidgetToolTextResponseConfig"
    },
    "FileSearchTool": {
      "properties": {
        "fileCorpus": {
          "type": "string",
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}"
        },
        "corpusType": {
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        }
      },
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "type": "object"
    },
    "LatencyReportGuardrailLatency": {
      "id": "LatencyReportGuardrailLatency",
      "properties": {
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true,
          "description": "Output only. The latency metrics for the guardrail."
        },
        "guardrail": {
          "type": "string",
          "description": "Output only. The name of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`.",
          "readOnly": true
        },
        "guardrailDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the guardrail."
        }
      },
      "type": "object",
      "description": "Latency metrics for a single guardrail."
    },
    "EvaluationMetricsConfigExpectationsMetMetricsConfig": {
      "type": "object",
      "properties": {
        "enableExpectationsMetMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate the expectation level metrics for the evaluation."
        }
      },
      "id": "EvaluationMetricsConfigExpectationsMetMetricsConfig",
      "description": "Configuration for the expectation level metrics for the evaluation. To disable the metric, set the message but do not set the `enable_expectations_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely."
    },
    "EvaluationScenarioUserFact": {
      "type": "object",
      "description": "Facts about the user as a key value pair.",
      "id": "EvaluationScenarioUserFact",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the user fact."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the user fact."
        }
      }
    },
    "DataStoreToolBoostSpecs": {
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array"
        },
        "spec": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "description": "Required. A list of boosting specifications."
        }
      },
      "type": "object",
      "id": "DataStoreToolBoostSpecs"
    },
    "ModelSettings": {
      "id": "ModelSettings",
      "properties": {
        "temperature": {
          "format": "double",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number"
        },
        "thinkingLevel": {
          "type": "string",
          "description": "Optional. The thinking level of the model.",
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "DEFAULT",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Thinking level is unspecified.",
            "Default thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level."
          ]
        },
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        }
      },
      "type": "object",
      "description": "Model settings contains various configurations for the LLM model."
    },
    "EvaluationResultGoldenResult": {
      "type": "object",
      "description": "The result of a golden evaluation.",
      "id": "EvaluationResultGoldenResult",
      "properties": {
        "turnReplayResults": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultGoldenResultTurnReplayResult"
          },
          "type": "array",
          "description": "Output only. The result of running each turn of the golden conversation."
        },
        "evaluationExpectationResults": {
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "description": "Output only. The results of the evaluation expectations.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "type": "array",
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ExportEvaluationsRequest": {
      "description": "Request message for EvaluationService.ExportEvaluations.",
      "id": "ExportEvaluationsRequest",
      "properties": {
        "exportOptions": {
          "description": "Optional. The export options for the evaluations.",
          "$ref": "ExportOptions"
        },
        "names": {
          "description": "Required. The resource names of the evaluations to export.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeEvaluationResults": {
          "description": "Optional. Includes evaluation results in the export. At least one of include_evaluation_results or include_evaluations must be set.",
          "type": "boolean"
        },
        "includeEvaluations": {
          "description": "Optional. Includes evaluations in the export. At least one of include_evaluation_results or include_evaluations must be set.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CodeBlock": {
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A code block to be executed instead of a real tool call.",
      "id": "CodeBlock"
    },
    "ScheduledEvaluationRunSchedulingConfig": {
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "description": "Optional. The days of the week to run the eval. Applicable only for Weekly and Biweekly frequencies. 1 is Monday, 2 is Tuesday, ..., 7 is Sunday.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "frequency": {
          "enumDescriptions": [
            "The frequency is unspecified.",
            "Indicates a one-time scheduled run that should not repeat",
            "Run the evaluation daily.",
            "Run the evaluation weekly.",
            "Run the evaluation biweekly."
          ],
          "type": "string",
          "description": "Required. The frequency with which to run the eval",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "WEEKLY",
            "BIWEEKLY"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp when the eval should start."
        }
      },
      "description": "Eval scheduling configuration details",
      "id": "ScheduledEvaluationRunSchedulingConfig"
    },
    "EvaluationResultGoldenResultTurnReplayResult": {
      "properties": {
        "turnLatency": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Duration of the turn."
        },
        "hallucinationResult": {
          "readOnly": true,
          "$ref": "EvaluationResultHallucinationResult",
          "description": "Output only. The result of the hallucination check."
        },
        "toolCallLatencies": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "description": "Output only. The latency of each tool call in the turn."
        },
        "expectationOutcome": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResultGoldenExpectationOutcome"
          },
          "readOnly": true,
          "description": "Output only. The outcome of each expectation."
        },
        "spanLatencies": {
          "description": "Output only. The latency of spans in the turn.",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "type": "array",
          "readOnly": true
        },
        "toolOrderedInvocationScore": {
          "description": "Output only. The overall tool ordered invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked in the expected order.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "overallToolInvocationResult": {
          "readOnly": true,
          "description": "Output only. The result of the overall tool invocation check.",
          "$ref": "EvaluationResultOverallToolInvocationResult"
        },
        "toolInvocationScore": {
          "format": "float",
          "description": "Output only. Deprecated. Use OverallToolInvocationResult instead.",
          "type": "number",
          "deprecated": true,
          "readOnly": true
        },
        "conversation": {
          "type": "string",
          "description": "Output only. The conversation that was generated for this turn.",
          "readOnly": true
        },
        "semanticSimilarityResult": {
          "description": "Output only. The result of the semantic similarity check.",
          "readOnly": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        },
        "errorInfo": {
          "$ref": "EvaluationErrorInfo",
          "readOnly": true,
          "description": "Output only. Information about the error that occurred during this turn."
        }
      },
      "description": "The result of running a single turn of the golden conversation.",
      "type": "object",
      "id": "EvaluationResultGoldenResultTurnReplayResult"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "properties": {},
      "description": "The configuration to be used to generate the evaluation personas.",
      "type": "object",
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig"
    },
    "ListAppsResponse": {
      "description": "Response message for AgentService.ListApps.",
      "type": "object",
      "id": "ListAppsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "apps": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        }
      }
    },
    "CancelAssistantTurnResponse": {
      "description": "Response for CancelAssistantTurn.",
      "id": "CancelAssistantTurnResponse",
      "properties": {
        "cancelled": {
          "type": "boolean",
          "description": "Whether an in-flight turn was found and asked to stop (directly on this task, or through an epoch preemption for a turn hosted elsewhere)."
        }
      },
      "type": "object"
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "type": "object",
      "description": "Defines project/location level endpoint control policy.",
      "properties": {
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
        },
        "enforcementScope": {
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "type": "string",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced."
        }
      }
    },
    "ToolsetTool": {
      "description": "A tool that is created from a toolset.",
      "type": "object",
      "id": "ToolsetTool",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      }
    },
    "ConversationTurn": {
      "id": "ConversationTurn",
      "type": "object",
      "properties": {
        "userIntendedText": {
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled.",
          "type": "string"
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
        }
      },
      "description": "All information about a single turn in the conversation."
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object",
      "description": "Boost specification for a condition.",
      "properties": {
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "boost": {
          "type": "number",
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
        },
        "condition": {
          "type": "string",
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))"
        }
      }
    },
    "ToolCalls": {
      "type": "object",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "properties": {
        "toolCalls": {
          "items": {
            "$ref": "ToolCall"
          },
          "description": "Optional. The list of tool calls to execute.",
          "type": "array"
        }
      },
      "id": "ToolCalls"
    },
    "BatchDeleteConversationsResponse": {
      "description": "Response message for AgentService.BatchDeleteConversations.",
      "properties": {
        "deletedConversations": {
          "description": "The list of conversations that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorMessages": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of error messages associated with conversations that failed to be deleted.",
          "type": "array"
        },
        "failedConversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of conversations that failed to be deleted."
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsResponse"
    },
    "EvaluationErrorInfo": {
      "description": "Information about an error encountered during an evaluation execution.",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message."
        },
        "userFacingErrorMessage": {
          "type": "string",
          "description": "Output only. The user facing error message.",
          "readOnly": true
        },
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "RUNTIME_FAILURE",
            "CONVERSATION_RETRIEVAL_FAILURE",
            "METRIC_CALCULATION_FAILURE",
            "EVALUATION_UPDATE_FAILURE",
            "QUOTA_EXHAUSTED",
            "USER_SIMULATION_FAILURE"
          ],
          "description": "Output only. The type of error.",
          "enumDescriptions": [
            "Unspecified error type.",
            "Failure during runtime execution.",
            "Failure to retrieve conversation from CES Runtime.",
            "Failure to calculate a metric / outcome.",
            "Failure to update the evaluation.",
            "Ran out of quota.",
            "Failure during user simulation."
          ],
          "type": "string",
          "readOnly": true
        },
        "sessionId": {
          "readOnly": true,
          "description": "Output only. The session ID for the conversation that caused the error.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationErrorInfo"
    },
    "AggregatedMetricsSemanticSimilarityMetrics": {
      "description": "Metrics for semantic similarity results.",
      "properties": {
        "score": {
          "readOnly": true,
          "description": "Output only. The average semantic similarity score (0-4).",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "AggregatedMetricsSemanticSimilarityMetrics"
    },
    "AggregatedMetricsToolMetrics": {
      "description": "Metrics for a single tool.",
      "type": "object",
      "id": "AggregatedMetricsToolMetrics",
      "properties": {
        "tool": {
          "description": "Output only. The name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "failCount": {
          "description": "Output only. The number of times the tool failed.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "passCount": {
          "type": "integer",
          "description": "Output only. The number of times the tool passed.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "LanguageSettings": {
      "description": "Language settings of the app.",
      "type": "object",
      "id": "LanguageSettings",
      "properties": {
        "fallbackAction": {
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "deprecated": true,
          "type": "string"
        },
        "supportedLanguageCodes": {
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableMultilingualSupport": {
          "type": "boolean",
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input."
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        }
      }
    },
    "PythonCodeCondition": {
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      },
      "id": "PythonCodeCondition",
      "type": "object",
      "description": "Python code block to evaluate the condition."
    },
    "Action": {
      "type": "object",
      "properties": {
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
        },
        "connectionActionId": {
          "type": "string",
          "description": "ID of a Connection action for the tool to use."
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        }
      },
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "id": "Action"
    },
    "LfA2aV1AgentProvider": {
      "properties": {
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\""
        }
      },
      "type": "object",
      "description": "Represents the service provider of an agent.",
      "id": "LfA2aV1AgentProvider"
    },
    "RunAssistantRequest": {
      "properties": {
        "message": {
          "$ref": "AssistantMessage",
          "description": "Required. The message to send to the assistant agent."
        },
        "interactionType": {
          "description": "Optional. Different interaction types for the assistant message.",
          "enumDescriptions": [
            "The default value. This value is used if the type is not specified.",
            "The message is a user input. User input is provided in the chunk list.",
            "The message is for polling the state of the assistant session.",
            "The message is to dismiss the assistant session pending review. This will change the state of the assistant session to idle."
          ],
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "POLL",
            "DISMISS"
          ],
          "type": "string"
        },
        "assistantSession": {
          "type": "string",
          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`"
        }
      },
      "id": "RunAssistantRequest",
      "description": "Request message for AssistantService.RunAssistant.",
      "type": "object"
    },
    "OptionQuestionsChunkQuestion": {
      "type": "object",
      "id": "OptionQuestionsChunkQuestion",
      "properties": {
        "options": {
          "type": "array",
          "description": "The selectable options, in presentation order.",
          "items": {
            "$ref": "OptionQuestionsChunkOption"
          }
        },
        "question": {
          "type": "string",
          "description": "The question header text."
        }
      },
      "description": "One question with its options."
    },
    "GenerateAppResourceRequestHillClimbingFixConfig": {
      "type": "object",
      "description": "The configuration to be used for hill climbing fixes.",
      "properties": {
        "qualityReport": {
          "$ref": "QualityReport",
          "description": "Required. The quality report used to inform the instruction following fix."
        }
      },
      "id": "GenerateAppResourceRequestHillClimbingFixConfig"
    },
    "Image": {
      "properties": {
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the image.",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Image",
      "description": "Represents an image input or output in the conversation."
    },
    "DataStoreToolBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "id": "DataStoreToolBoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "description": "Required. A list of boosting specifications."
        }
      },
      "type": "object"
    },
    "McpToolset": {
      "type": "object",
      "properties": {
        "serverAddress": {
          "type": "string",
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "toolOverrides": {
          "type": "array",
          "items": {
            "$ref": "McpToolOverride"
          },
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        }
      },
      "id": "McpToolset",
      "description": "A toolset that contains a list of tools that are offered by the MCP server."
    },
    "LfA2aV1Artifact": {
      "properties": {
        "extensions": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "type": "array"
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task."
        },
        "parts": {
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata included with the artifact.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the artifact."
        }
      },
      "description": "Artifacts represent task outputs.",
      "id": "LfA2aV1Artifact",
      "type": "object"
    },
    "ToolResponse": {
      "description": "The execution result of a specific tool from the client or the agent.",
      "properties": {
        "response": {
          "type": "object",
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool that got executed."
        },
        "parentToolCallId": {
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Optional. The matching ID of the tool call the response is for.",
          "type": "string"
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "type": "string"
        }
      },
      "id": "ToolResponse",
      "type": "object"
    },
    "App": {
      "id": "App",
      "type": "object",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "properties": {
        "modelSettings": {
[...]
