{
  "name": "ces",
  "batchPath": "batch",
  "id": "ces:v1",
  "rootUrl": "https://ces.googleapis.com/",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://ces.googleapis.com/",
  "description": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "title": "Gemini Enterprise for Customer Experience API",
  "revision": "20260903",
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ChannelProfile": {
      "id": "ChannelProfile",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "type": "object",
      "properties": {
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        },
        "instagramConfig": {
          "$ref": "ChannelProfileInstagramConfig",
          "description": "Optional. Configuration specific to Instagram deployments."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "whatsappConfig": {
          "$ref": "ChannelProfileWhatsAppConfig",
          "description": "Optional. Configuration specific to WhatsApp deployments."
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "channelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "description": "Optional. The type of the channel profile.",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ]
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "description": "Optional. The unique identifier of the channel profile."
        }
      }
    },
    "Guardrail": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was created.",
          "type": "string"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "id": "Guardrail",
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListAppVersions.",
      "id": "ListAppVersionsResponse",
      "properties": {
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "description": "The list of app versions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "properties": {
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      },
      "description": "Settings for custom client certificates.",
      "type": "object"
    },
    "TlsConfigCaCert": {
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte"
        }
      },
      "id": "TlsConfigCaCert",
      "type": "object"
    },
    "SessionOutput": {
      "properties": {
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "image": {
          "$ref": "Image",
          "description": "Output image from the CES agent."
        },
        "payload": {
          "type": "object",
          "description": "Custom payload with structured output from the CES agent.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "progress": {
          "description": "Intermediate progress update from the CES agent.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Output text from the CES agent."
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the agent's generated text."
        },
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1."
        },
        "context": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Context messages for external supervision guardrails."
        },
        "toolCalls": {
          "$ref": "ToolCalls",
          "description": "Request for the client to execute the tools."
        },
        "audio": {
          "format": "byte",
          "type": "string",
          "description": "Output audio from the CES agent."
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        }
      },
      "description": "Output for the session.",
      "type": "object",
      "id": "SessionOutput"
    },
    "ListToolsetsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListToolsets.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "toolsets": {
          "type": "array",
          "items": {
            "$ref": "Toolset"
          },
          "description": "The list of toolsets."
        }
      },
      "id": "ListToolsetsResponse"
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "properties": {
        "artifact": {
          "$ref": "LfA2aV1Artifact",
          "description": "Required. The artifact that was generated or updated."
        },
        "contextId": {
          "description": "Required. The ID of the context that this task belongs to.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata associated with the artifact update.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "append": {
          "type": "boolean",
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID."
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "taskId": {
          "description": "Required. The ID of the task for this artifact.",
          "type": "string"
        }
      },
      "id": "LfA2aV1TaskArtifactUpdateEvent",
      "description": "A task delta where an artifact has been generated.",
      "type": "object"
    },
    "Schema": {
      "properties": {
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "minimum": {
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "type": "string"
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "required": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array"
        },
        "maximum": {
          "type": "number",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double"
        },
        "minItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "prefixItems": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. Schemas of initial elements of Type.ARRAY."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "defs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema."
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY."
        }
      },
      "type": "object",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "id": "Schema"
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "properties": {
        "errorHandlingStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "description": "Optional. The strategy to use for error handling.",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        },
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        }
      },
      "type": "object",
      "description": "Settings to describe how errors should be handled in the app."
    },
    "TlsConfig": {
      "description": "The TLS configuration.",
      "id": "TlsConfig",
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      }
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "type": "object",
      "properties": {
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The variable values at the end of the tool execution."
        },
        "response": {
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        }
      },
      "description": "Response message for ToolService.ExecuteTool."
    },
    "DataStoreToolEngineSource": {
      "id": "DataStoreToolEngineSource",
      "type": "object",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "dataStoreSources": {
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        }
      }
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "properties": {
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        }
      },
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "AgentRemoteA2aAgent": {
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      },
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "type": "object",
      "id": "AgentRemoteA2aAgent"
    },
    "ToolCalls": {
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "type": "object",
      "id": "ToolCalls",
      "properties": {
        "toolCalls": {
          "description": "Optional. The list of tool calls to execute.",
          "items": {
            "$ref": "ToolCall"
          },
          "type": "array"
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "description": "Safety setting.",
      "properties": {
        "category": {
          "description": "Required. The harm category.",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ]
        },
        "threshold": {
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GuardrailModelSafetySafetySetting"
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {}
    },
    "PythonCodeCondition": {
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      },
      "description": "Python code block to evaluate the condition.",
      "type": "object",
      "id": "PythonCodeCondition"
    },
    "ListChangelogsResponse": {
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "changelogs": {
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListChangelogsResponse"
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "type": "object",
      "properties": {
        "citedChunks": {
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information.",
          "type": "array"
        },
        "inlineCitations": {
          "description": "Optional. List of inline citations in the agent response.",
          "type": "array",
          "items": {
            "$ref": "CitationsInlineCitation"
          }
        }
      },
      "id": "Citations"
    },
    "LfA2aV1AgentCardSignature": {
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "id": "LfA2aV1AgentCardSignature",
      "properties": {
        "signature": {
          "type": "string",
          "description": "Required. The computed signature, base64url-encoded."
        },
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "header": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The unprotected JWS header values."
        }
      },
      "type": "object"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "object",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      }
    },
    "WhatsAppCredentials": {
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "id": "WhatsAppCredentials",
      "properties": {
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "authCode": {
          "type": "string",
          "description": "Required. The Meta auth code provided by the embedded signup flow."
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to register with WhatsApp."
        }
      },
      "type": "object"
    },
    "Callback": {
      "type": "object",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "id": "Callback",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute for the callback."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation"
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "type": "object",
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow.",
      "properties": {
        "pkceRequired": {
          "type": "boolean",
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients."
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "authorizationUrl": {
          "type": "string",
          "description": "Required. The authorization URL to be used for this flow."
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        }
      },
      "id": "LfA2aV1AuthorizationCodeOAuthFlow"
    },
    "DataStoreToolModalityConfig": {
      "id": "DataStoreToolModalityConfig",
      "type": "object",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "snippetsConfig": {
          "description": "Optional. The snippets configuration.",
          "$ref": "DataStoreToolSnippetsConfig"
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        },
        "modalityType": {
          "type": "string",
          "description": "Required. The modality type.",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        }
      }
    },
    "ToolResponses": {
      "description": "Execution results for the requested tool calls from the client.",
      "properties": {
        "toolResponses": {
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          },
          "type": "array"
        }
      },
      "id": "ToolResponses",
      "type": "object"
    },
    "TransferRule": {
      "properties": {
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "description": "Required. The direction of the transfer."
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        }
      },
      "type": "object",
      "description": "Rule for transferring to a specific agent.",
      "id": "TransferRule"
    },
    "WidgetTool": {
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "name": {
          "description": "Required. The display name of the widget tool.",
          "type": "string"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The description of the widget tool.",
          "type": "string"
        },
        "uiConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Configuration for rendering the widget."
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "widgetType": {
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Message": {
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "chunks": {
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          },
          "type": "array"
        },
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A message within a conversation.",
      "id": "Message"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "BargeInConfig": {
      "type": "object",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "id": "BargeInConfig",
      "properties": {
        "disableBargeIn": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored."
        },
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "type": "object",
      "description": "Settings for golden evaluations.",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        }
      }
    },
    "TriggerAction": {
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "id": "TriggerAction",
      "properties": {
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        },
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        }
      }
    },
    "ConversationTurn": {
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation.",
      "type": "object",
      "properties": {
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        },
        "messages": {
          "type": "array",
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      }
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "type": "object",
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "properties": {
        "escalateSession": {
          "type": "boolean",
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details."
        }
      }
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ]
        }
      },
      "description": "Settings for matching tool calls.",
      "type": "object",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent will transfer the conversation to a different agent.",
      "type": "object"
    },
    "ExportAppResponse": {
      "id": "ExportAppResponse",
      "properties": {
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        },
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ExportApp.",
      "type": "object"
    },
    "BatchDeleteConversationsRequest": {
      "type": "object",
      "id": "BatchDeleteConversationsRequest",
      "properties": {
        "conversations": {
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array"
        }
      },
      "description": "Request message for AgentService.BatchDeleteConversations."
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "properties": {
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object"
    },
    "VpcScSettings": {
      "description": "VPC-SC settings for the app.",
      "type": "object",
      "id": "VpcScSettings",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RedactionConfig": {
      "type": "object",
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "properties": {
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        }
      }
    },
    "OutputAudioConfig": {
      "type": "object",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "properties": {
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        }
      },
      "id": "OutputAudioConfig"
    },
    "CitationsCitedChunk": {
      "type": "object",
      "properties": {
        "requiresAttribution": {
          "type": "boolean",
          "description": "Whether this citation requires attribution to be shown to the end users."
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI used for citation."
        },
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        }
      },
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information."
    },
    "CitationsInlineCitation": {
      "properties": {
        "citedChunkIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`.",
          "type": "array"
        },
        "endIndex": {
          "description": "The ending index (in bytes) of the text segment in the agent response.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index (in bytes) of the text segment in the agent response."
        }
      },
      "id": "CitationsInlineCitation",
      "type": "object",
      "description": "An inline citation in the response text."
    },
    "Deployment": {
      "type": "object",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "agentRegistryDeployment": {
          "$ref": "AgentRegistryDeployment",
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry."
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was created."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field."
        },
        "modality": {
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ]
        },
        "whatsappCredentials": {
          "$ref": "WhatsAppCredentials",
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        }
      },
      "id": "Deployment"
    },
    "ConnectorTool": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      },
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview."
    },
    "ChannelProfileWebWidgetConfig": {
      "properties": {
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "modality": {
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "description": "Optional. The modality of the web widget."
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "description": "Optional. The theme of the web widget.",
          "type": "string"
        }
      },
      "description": "Message for configuration for the web widget.",
      "id": "ChannelProfileWebWidgetConfig",
      "type": "object"
    },
    "AudioProcessingConfig": {
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "id": "AudioProcessingConfig",
      "properties": {
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          },
          "type": "object"
        },
        "inactivityTimeout": {
          "format": "google-duration",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "type": "string"
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "customVoiceSamples": {
          "type": "array",
          "description": "Optional. Configures custom voice samples for voice cloning.",
          "items": {
            "$ref": "CustomVoiceSample"
          }
        },
        "bargeInConfig": {
          "$ref": "BargeInConfig",
          "description": "Optional. Configures the agent behavior for the user barge-in activities."
        }
      },
      "type": "object"
    },
    "McpToolOverride": {
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "id": "McpToolOverride",
      "properties": {
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        }
      }
    },
    "LfA2aV1Task": {
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "properties": {
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The current status of a `Task`, including `state` and a `message`."
        },
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "type": "array"
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages).",
          "type": "string"
        },
        "artifacts": {
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "description": "A set of output artifacts for a `Task`.",
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        }
      },
      "id": "LfA2aV1Task",
      "type": "object"
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "description": "Configuration for default system security settings."
    },
    "DataStoreToolBoostSpecs": {
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array"
        },
        "spec": {
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "description": "Required. A list of boosting specifications.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "TimeZoneSettings": {
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "description": "TimeZone settings of the app.",
      "type": "object",
      "id": "TimeZoneSettings"
    },
    "GenerateChatTokenResponse": {
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateChatTokenResponse"
    },
    "GoogleSearchTool": {
      "properties": {
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array"
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "excludeDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
        },
        "contextUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
        }
      },
      "id": "GoogleSearchTool",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "type": "object"
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "description": "Traffic allocation for the version release.",
      "properties": {
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters."
        },
        "trafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        }
      },
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "description": "Represents an image input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "data": {
          "description": "Required. Raw bytes of the image.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Image"
    },
    "AgentRemoteDialogflowAgent": {
      "type": "object",
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "id": "AgentRemoteDialogflowAgent",
      "properties": {
        "languageCodeVariable": {
          "type": "string",
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used."
        },
        "flowId": {
          "type": "string",
          "description": "Optional. The flow ID of the flow in the Dialogflow agent."
        },
        "inputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "type": "object"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "type": "object"
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "id": "TriggerActionRespondImmediately",
      "properties": {
        "responses": {
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The agent will immediately respond with a preconfigured response."
    },
    "LfA2aV1AgentCapabilities": {
      "type": "object",
      "description": "Defines optional capabilities supported by an agent.",
      "id": "LfA2aV1AgentCapabilities",
      "properties": {
        "extensions": {
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "description": "A list of protocol extensions supported by the agent.",
          "type": "array"
        },
        "streaming": {
          "type": "boolean",
          "description": "Indicates if the agent supports streaming responses."
        },
        "pushNotifications": {
          "type": "boolean",
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates."
        },
        "extendedAgentCard": {
          "description": "Indicates if the agent supports providing an extended agent card when authenticated.",
          "type": "boolean"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "type": "object",
      "description": "Expectation level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "format": "float",
          "type": "number",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      }
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "examples": {
          "description": "The list of examples.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        }
      },
      "description": "Response message for AgentService.ListExamples."
    },
    "TriggerActionGenerativeAnswer": {
      "type": "object",
      "id": "TriggerActionGenerativeAnswer",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      },
      "description": "The agent will immediately respond with a generative answer."
    },
    "DataStoreSettings": {
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app.",
      "type": "object",
      "properties": {
        "engines": {
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "readOnly": true,
          "description": "Output only. The engines for the app.",
          "type": "array"
        }
      }
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "properties": {
        "endUserMetadata": {
          "type": "object",
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "webhookHeaders": {
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "type": "object"
    },
    "App": {
      "properties": {
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "audioProcessingConfig": {
          "$ref": "AudioProcessingConfig",
          "description": "Optional. Audio processing configuration of the app."
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "type": "object"
        },
        "predefinedVariableDeclarations": {
          "description": "Output only. The declarations of predefined variables for the app.",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "readOnly": true,
          "type": "array"
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
        },
        "variableDeclarations": {
          "type": "array",
          "description": "Optional. The declarations of the variables.",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the app was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "errorHandlingSettings": {
          "$ref": "ErrorHandlingSettings",
          "description": "Optional. Error handling settings of the app."
        },
        "dashboardSettings": {
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards.",
          "$ref": "DashboardSettings"
        },
        "loggingSettings": {
          "$ref": "LoggingSettings",
          "description": "Optional. Logging settings of the app."
        },
        "deploymentCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of deployments in the app.",
          "format": "int32"
        },
        "vpcScSettings": {
          "$ref": "VpcScSettings",
          "description": "Optional. VPC-SC settings for the app."
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the app was created.",
          "type": "string"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "toolExecutionMode": {
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ]
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Optional. The evaluation thresholds for the app."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the app."
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "type": "object",
      "id": "App"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string"
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        },
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string"
        }
      },
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object"
    },
    "Blob": {
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object"
    },
    "TriggerActionResponse": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent."
        },
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        }
      },
      "id": "TriggerActionResponse",
      "description": "Represents a response from the agent.",
      "type": "object"
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "properties": {
        "flows": {
          "$ref": "LfA2aV1OAuthFlows",
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows."
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1OAuth2SecurityScheme",
      "description": "Defines a security scheme using OAuth 2.0."
    },
    "AgentTool": {
      "id": "AgentTool",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a tool that allows the agent to call another agent."
    },
    "DataStoreToolBoostSpec": {
      "type": "object",
      "description": "Boost specification to boost certain documents.",
      "id": "DataStoreToolBoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "description": "Required. A list of boosting specifications.",
          "type": "array"
        }
      }
    },
    "Span": {
      "type": "object",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "id": "Span",
      "properties": {
        "startTime": {
          "description": "Output only. The start time of the span.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the span.",
          "readOnly": true
        },
        "attributes": {
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "duration": {
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The end time of the span.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "childSpans": {
          "items": {
            "$ref": "Span"
          },
          "description": "Output only. The child spans that are nested under this span.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "AppVersion": {
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "snapshot": {
          "$ref": "AppSnapshot",
          "readOnly": true,
          "description": "Output only. The snapshot of the app when the version is created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the app version was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app version was created."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email of the user who created the app version."
        }
      },
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "type": "object",
      "id": "AppVersion"
    },
    "FileSearchTool": {
      "properties": {
        "corpusType": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "fileCorpus": {
          "type": "string",
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}"
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        }
      },
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "type": "object"
    },
    "MockedToolCall": {
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "type": "object",
      "properties": {
        "mockResponse": {
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "deprecated": true,
          "type": "string"
        },
        "toolset": {
          "description": "Optional. The toolset to mock.",
          "$ref": "ToolsetTool"
        },
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      },
      "id": "MockedToolCall"
    },
    "LanguageSettings": {
      "description": "Language settings of the app.",
      "properties": {
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        },
        "fallbackAction": {
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "LanguageSettings",
      "type": "object"
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "properties": {
        "connectorActions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for."
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        }
      },
      "type": "object"
    },
    "EndSession": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
[...]
