{
  "revision": "20260901",
  "id": "ces:v1",
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "canonicalName": "Customer Engagement Suite",
  "name": "ces",
  "ownerDomain": "google.com",
  "schemas": {
    "DataStore": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the data store."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ]
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "documentProcessingMode": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "readOnly": true
        },
        "connectorConfig": {
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig",
          "description": "Output only. The connector config for the data store connection."
        },
        "createTime": {
          "description": "Output only. Timestamp when the data store was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A DataStore resource in Vertex AI Search.",
      "id": "DataStore",
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "description": "Configuration for tools using Service Directory.",
      "id": "ServiceDirectoryConfig"
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "properties": {
        "errorHandlingStrategy": {
          "description": "Optional. The strategy to use for error handling.",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "type": "string",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        },
        "fallbackResponseConfig": {
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig",
          "description": "Optional. Configuration for handling fallback responses."
        },
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        }
      },
      "type": "object",
      "description": "Settings to describe how errors should be handled in the app."
    },
    "ImportAppRequest": {
      "type": "object",
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "jsonPatchContent": {
          "description": "Optional. Patch content as a JSON string.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "appContent": {
          "type": "string",
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "format": "byte"
        },
        "jsonPatchGcsUri": {
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
        }
      },
      "description": "Request message for AgentService.ImportApp.",
      "id": "ImportAppRequest"
    },
    "ConversationLoggingSettings": {
      "type": "object",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "id": "ConversationLoggingSettings",
      "properties": {
        "disableConversationLogging": {
          "type": "boolean",
          "description": "Optional. Whether to disable conversation logging for the sessions."
        },
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ClientCertificateSettings": {
      "properties": {
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "type": "object",
      "description": "Settings for custom client certificates.",
      "id": "ClientCertificateSettings"
    },
    "ExperimentConfigVersionRelease": {
      "description": "Version release for the experiment.",
      "id": "ExperimentConfigVersionRelease",
      "properties": {
        "trafficAllocations": {
          "type": "array",
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "description": "Optional. State of the version release."
        }
      },
      "type": "object"
    },
    "ApiKeyConfig": {
      "properties": {
        "apiKeySecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "keyName": {
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name.",
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ],
          "description": "Required. Key location in the request.",
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        }
      },
      "type": "object",
      "id": "ApiKeyConfig",
      "description": "Configurations for authentication with API key."
    },
    "ExecuteToolResponse": {
      "properties": {
        "variables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The variable values at the end of the tool execution."
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        }
      },
      "type": "object",
      "description": "Response message for ToolService.ExecuteTool.",
      "id": "ExecuteToolResponse"
    },
    "Conversation": {
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. Timestamp when the conversation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "type": "string",
          "description": "Output only. Indicate the source of the conversation."
        },
        "endTime": {
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "deprecated": true,
          "type": "string"
        },
        "turns": {
          "items": {
            "$ref": "ConversationTurn"
          },
          "description": "Required. The turns in the conversation.",
          "type": "array"
        },
        "turnCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the conversation."
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true
        },
        "messages": {
          "type": "array",
          "description": "Deprecated. Use turns instead.",
          "deprecated": true,
          "items": {
            "$ref": "Message"
          }
        },
        "appVersion": {
          "readOnly": true,
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "inputTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ]
          },
          "readOnly": true,
          "description": "Output only. The input types of the conversation.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        }
      },
      "id": "Conversation"
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "properties": {
        "conflictResolutionStrategy": {
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        },
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "WidgetToolTextResponseConfig": {
      "type": "object",
      "properties": {
        "textResponseInstruction": {
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "description": "Optional. The strategy for providing the text response.",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ]
        },
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        }
      },
      "description": "Configuration for the text response returned with the widget.",
      "id": "WidgetToolTextResponseConfig"
    },
    "ListToolsetsResponse": {
      "type": "object",
      "id": "ListToolsetsResponse",
      "properties": {
        "toolsets": {
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListToolsets."
    },
    "MockedToolCall": {
      "type": "object",
      "properties": {
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "mockResponse": {
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "tool": {
          "type": "string",
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "deprecated": true
        },
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolset": {
          "description": "Optional. The toolset to mock.",
          "$ref": "ToolsetTool"
        }
      },
      "id": "MockedToolCall",
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned."
    },
    "ListToolsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools."
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "id": "ListToolsResponse",
      "type": "object"
    },
    "SessionConfig": {
      "properties": {
        "historicalContexts": {
          "type": "array",
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "items": {
            "$ref": "Message"
          }
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "inputAudioConfig": {
          "$ref": "InputAudioConfig",
          "description": "Optional. Configuration for processing the input audio."
        },
        "excludeDiagnosticInfo": {
          "description": "Optional. Whether to exclude diagnostic info from the session output.",
          "type": "boolean"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "enableTextStreaming": {
          "type": "boolean",
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession."
        }
      },
      "description": "The configuration for the session.",
      "id": "SessionConfig",
      "type": "object"
    },
    "Guardrail": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was created.",
          "type": "string",
          "readOnly": true
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        }
      },
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "type": "object",
      "id": "Guardrail"
    },
    "RemoteAgentTool": {
      "properties": {
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication configuration for calling the remote agent."
        },
        "agentCard": {
          "description": "Required. The agent card of the remote agent that this tool invokes.",
          "$ref": "AgentCard"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the tool."
        }
      },
      "id": "RemoteAgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another remote agent."
    },
    "ToolsetTool": {
      "properties": {
        "toolId": {
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for.",
          "type": "string"
        },
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        }
      },
      "type": "object",
      "id": "ToolsetTool",
      "description": "A tool that is created from a toolset."
    },
    "Action": {
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "properties": {
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "OperationMetadata"
    },
    "DataStoreToolSummarizationConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        }
      },
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration."
    },
    "LfA2aV1SecurityScheme": {
      "id": "LfA2aV1SecurityScheme",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "type": "object",
      "properties": {
        "oauth2SecurityScheme": {
          "description": "OAuth 2.0 authentication.",
          "$ref": "LfA2aV1OAuth2SecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "description": "OpenID Connect authentication.",
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "description": "API key-based authentication.",
          "$ref": "LfA2aV1APIKeySecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "description": "HTTP authentication (Basic, Bearer, etc.).",
          "$ref": "LfA2aV1HTTPAuthSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "description": "Mutual TLS authentication.",
          "$ref": "LfA2aV1MutualTlsSecurityScheme"
        }
      }
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ]
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        }
      }
    },
    "ListGuardrailsResponse": {
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "guardrails": {
          "description": "The list of guardrails.",
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "id": "LfA2aV1ImplicitOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "properties": {
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        }
      },
      "type": "object"
    },
    "Toolset": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the toolset."
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the toolset was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "connectorToolset": {
          "$ref": "ConnectorToolset",
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection."
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "type": "string"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tools behavior in fake mode."
        },
        "executionType": {
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tools in the toolset."
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        }
      },
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "id": "Toolset"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "MockConfig": {
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session.",
      "properties": {
        "mockedToolCalls": {
          "type": "array",
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          }
        },
        "unmatchedToolCallBehavior": {
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls."
        }
      },
      "type": "object"
    },
    "Citations": {
      "properties": {
        "inlineCitations": {
          "description": "Optional. List of inline citations in the agent response.",
          "items": {
            "$ref": "CitationsInlineCitation"
          },
          "type": "array"
        },
        "citedChunks": {
          "description": "List of cited pieces of information.",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array"
        }
      },
      "description": "Citations associated with the agent response.",
      "id": "Citations",
      "type": "object"
    },
    "LfA2aV1SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "id": "LfA2aV1SendMessageConfiguration",
      "type": "object",
      "properties": {
        "taskPushNotificationConfig": {
          "$ref": "LfA2aV1TaskPushNotificationConfig",
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request."
        },
        "acceptedOutputModes": {
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "historyLength": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit."
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        }
      }
    },
    "WebSearchQuery": {
      "description": "Represents a single web search query and its associated search uri.",
      "type": "object",
      "id": "WebSearchQuery",
      "properties": {
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        },
        "query": {
          "description": "The search query text.",
          "type": "string"
        }
      }
    },
    "LfA2aV1AgentCapabilities": {
      "id": "LfA2aV1AgentCapabilities",
      "properties": {
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "extensions": {
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "description": "A list of protocol extensions supported by the agent.",
          "type": "array"
        },
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extendedAgentCard": {
          "description": "Indicates if the agent supports providing an extended agent card when authenticated.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Defines optional capabilities supported by an agent."
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs.",
      "properties": {
        "parts": {
          "type": "array",
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "extensions": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the artifact."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Metadata included with the artifact."
        },
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConnectorToolset": {
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "properties": {
        "connectorActions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for."
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        }
      },
      "id": "ConnectorToolset",
      "type": "object"
    },
    "WhatsAppCredentials": {
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "businessAccountId": {
          "type": "string",
          "description": "Required. The Business Account ID to use for the phone number."
        },
        "authCode": {
          "type": "string",
          "description": "Required. The Meta auth code provided by the embedded signup flow."
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        }
      },
      "type": "object"
    },
    "LfA2aV1Task": {
      "type": "object",
      "properties": {
        "history": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`."
        },
        "artifacts": {
          "description": "A set of output artifacts for a `Task`.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Artifact"
          }
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages).",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "LfA2aV1Task",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history."
    },
    "LfA2aV1Message": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "description": "Required. Identifies the sender of the message."
        },
        "parts": {
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "description": "Required. Parts is the container of the message content.",
          "type": "array"
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "referenceTaskIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of task IDs that this message references for additional context."
        }
      },
      "type": "object",
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "id": "LfA2aV1Message"
    },
    "VpcScSettings": {
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array"
        }
      },
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app.",
      "type": "object"
    },
    "TriggerActionResponse": {
      "description": "Represents a response from the agent.",
      "id": "TriggerActionResponse",
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleSearchToolPromptConfig": {
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "id": "GoogleSearchToolPromptConfig",
      "type": "object",
      "description": "Prompt settings used by the model when processing or summarizing the google search results."
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "properties": {
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        },
        "consentAudioGcsUri": {
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "deprecated": true
        },
        "voiceSampleGcsUri": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "model": {
          "type": "string",
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used."
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object"
    },
    "LanguageSettings": {
      "properties": {
        "fallbackAction": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation."
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        },
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "type": "array"
        }
      },
      "description": "Language settings of the app.",
      "id": "LanguageSettings",
      "type": "object"
    },
    "TimeZoneSettings": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "type": "object",
      "description": "TimeZone settings of the app.",
      "id": "TimeZoneSettings"
    },
    "DataStoreToolSnippetsConfig": {
      "description": "Snippets configuration.",
      "id": "DataStoreToolSnippetsConfig",
      "properties": {
        "maxSnippets": {
          "format": "int32",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default.",
          "type": "integer"
        },
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "id": "LfA2aV1DeviceCodeOAuthFlow",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "deviceAuthorizationUrl": {
          "type": "string",
          "description": "Required. The device authorization endpoint URL."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "McpToolOverride": {
      "properties": {
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools."
        }
      },
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "id": "McpToolOverride"
    },
    "DataStoreToolDataStoreSource": {
      "description": "Configuration for searching within a specific DataStore.",
      "id": "DataStoreToolDataStoreSource",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "object",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "properties": {
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig"
    },
    "ConnectorTool": {
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "id": "ConnectorTool",
      "properties": {
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        }
      }
    },
    "SessionOutput": {
      "properties": {
        "context": {
          "description": "Context messages for external supervision guardrails.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "image": {
          "$ref": "Image",
          "description": "Output image from the CES agent."
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "audio": {
          "description": "Output audio from the CES agent.",
          "format": "byte",
          "type": "string"
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "endSession": {
          "$ref": "EndSession",
          "description": "Indicates the session has ended."
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "text": {
          "type": "string",
          "description": "Output text from the CES agent."
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "turnIndex": {
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SessionOutput",
      "type": "object",
      "description": "Output for the session."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "type": "object",
      "properties": {
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations."
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "pkceRequired": {
          "type": "boolean",
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients."
        },
        "authorizationUrl": {
          "description": "Required. The authorization URL to be used for this flow.",
          "type": "string"
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object"
        }
      },
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow.",
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "type": "object"
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number",
          "format": "double"
        },
        "prebuiltAmbientNoise": {
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "deprecated": true,
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        }
      }
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "id": "LfA2aV1TaskArtifactUpdateEvent",
      "type": "object",
      "properties": {
        "contextId": {
          "description": "Required. The ID of the context that this task belongs to.",
          "type": "string"
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Metadata associated with the artifact update.",
          "type": "object"
        },
        "taskId": {
          "description": "Required. The ID of the task for this artifact.",
          "type": "string"
        },
        "artifact": {
          "description": "Required. The artifact that was generated or updated.",
          "$ref": "LfA2aV1Artifact"
        },
        "append": {
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID.",
          "type": "boolean"
        }
      },
      "description": "A task delta where an artifact has been generated."
    },
    "LfA2aV1AgentCard": {
      "properties": {
        "supportedInterfaces": {
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array"
        },
        "defaultOutputModes": {
          "description": "Required. The media types supported as outputs from this agent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securitySchemes": {
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          }
        },
        "securityRequirements": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security requirements for contacting the agent."
        },
        "defaultInputModes": {
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capabilities": {
          "description": "Required. A2A Capability set supported by the agent.",
          "$ref": "LfA2aV1AgentCapabilities"
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent. Example: \"1.0.0\""
        },
        "signatures": {
          "type": "array",
          "description": "JSON Web Signatures computed for this `AgentCard`.",
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          }
        },
        "name": {
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\"",
          "type": "string"
        },
        "documentationUrl": {
          "description": "A URL providing additional documentation about the agent.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "Optional. A URL to an icon for the agent."
        },
        "skills": {
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          },
          "type": "array"
        },
        "description": {
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "provider": {
          "$ref": "LfA2aV1AgentProvider",
          "description": "The service provider of the agent."
        }
      },
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "id": "LfA2aV1AgentCard",
      "type": "object"
    },
    "ListExamplesResponse": {
      "description": "Response message for AgentService.ListExamples.",
      "properties": {
        "examples": {
          "type": "array",
          "items": {
            "$ref": "Example"
          },
          "description": "The list of examples."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListExamplesResponse"
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "ImportAppResponse": {
      "properties": {
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the app that was imported."
        }
      },
      "type": "object",
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp."
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "description": "Required. The type of the data."
        },
        "prefixItems": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. Schemas of initial elements of Type.ARRAY."
        },
        "minItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "maximum": {
          "format": "double",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          }
        },
        "anyOf": {
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          }
        }
      },
      "id": "Schema"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "AgentRemoteA2aAgent": {
      "type": "object",
      "id": "AgentRemoteA2aAgent",
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      }
    },
    "DataStoreToolBoostSpecs": {
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "type": "object",
      "properties": {
        "spec": {
          "type": "array",
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          }
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}."
        }
      },
      "id": "DataStoreToolBoostSpecs"
    },
    "ClientFunction": {
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "properties": {
        "response": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function response."
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        },
        "description": {
          "type": "string",
          "description": "Optional. The function description."
        }
      },
      "id": "ClientFunction"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "controlPoints": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "McpToolDefinition": {
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`."
        },
        "outputSchema": {
          "readOnly": true,
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "inputSchema": {
          "readOnly": true,
          "$ref": "Schema",
          "description": "Output only. The schema of the input arguments of the MCP tool."
        }
      },
      "type": "object",
      "id": "McpToolDefinition",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden."
    },
    "DeployChannelResponse": {
      "properties": {
        "deployment": {
          "$ref": "Deployment",
          "description": "The created deployment."
        }
      },
      "description": "Response message for AgentService.DeployChannel.",
      "id": "DeployChannelResponse",
      "type": "object"
    },
    "SecuritySettings": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the security settings."
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag of the security settings.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of the security settings.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endpointControlPolicy": {
          "$ref": "EndpointControlPolicy",
          "description": "Optional. Endpoint control related settings."
        }
      },
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES."
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "properties": {
        "scheme": {
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry.",
          "type": "string"
        },
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes."
        },
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      },
      "type": "object",
      "id": "LfA2aV1HTTPAuthSecurityScheme",
      "description": "Defines a security scheme using HTTP authentication."
    },
    "Message": {
      "type": "object",
      "description": "A message within a conversation.",
      "id": "Message",
      "properties": {
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string"
        },
        "chunks": {
          "type": "array",
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks."
        }
      }
    },
    "DashboardSettings": {
      "type": "object",
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view.",
      "properties": {
        "defaultDashboard": {
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`",
          "type": "string"
        }
      },
      "id": "DashboardSettings"
    },
    "ChannelProfileWhatsAppConfig": {
      "properties": {
        "displayName": {
          "description": "Output only. The fetched Meta business page name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number in E.164 format."
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "phoneNumberId": {
          "type": "string",
          "description": "Required. The Meta phone number ID."
        }
      },
      "type": "object",
      "description": "Configuration specific to WhatsApp deployments.",
      "id": "ChannelProfileWhatsAppConfig"
    },
    "RedactionConfig": {
      "description": "Configuration to instruct how sensitive data should be handled.",
      "properties": {
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        },
        "enableRedaction": {
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording.",
          "type": "boolean"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        }
      },
      "id": "RedactionConfig",
      "type": "object"
    },
    "AgentInterface": {
      "type": "object",
      "properties": {
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "url": {
[...]
