{
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "baseUrl": "https://ces.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "description": "",
  "version": "v1beta",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "Span": {
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "properties": {
        "attributes": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Key-value attributes associated with the span.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "readOnly": true,
          "items": {
            "$ref": "Span"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. The name of the span.",
          "type": "string",
          "readOnly": true
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The start time of the span.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The end time of the span.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "LfA2aV1StringList": {
      "id": "LfA2aV1StringList",
      "type": "object",
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings.",
      "properties": {
        "list": {
          "type": "array",
          "description": "The individual string values.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QualityReport": {
      "properties": {
        "generalIssues": {
          "description": "Optional. General issues not specific to any agent.",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "type": "array"
        },
        "evaluationRuns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "type": "array"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "QualityReportAgentIssues"
          },
          "description": "Optional. The issues grouped by agent."
        }
      },
      "id": "QualityReport",
      "description": "The report describing any identified quality issues in the app.",
      "type": "object"
    },
    "WidgetTool": {
      "type": "object",
      "properties": {
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "uiConfig": {
          "description": "Optional. Configuration for rendering the widget.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "widgetType": {
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the widget tool.",
          "type": "string"
        }
      },
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent."
    },
    "FileContext": {
      "type": "object",
      "id": "FileContext",
      "properties": {
        "fileBytes": {
          "$ref": "FileContextFileBytes",
          "description": "Optional. File provided as raw bytes."
        }
      },
      "description": "Files to be used as context. Files can be provided as raw bytes."
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ]
        }
      },
      "type": "object",
      "description": "Settings for matching tool calls."
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "type": "object",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "boostSpecs": {
          "type": "array",
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          }
        },
        "filterParameterBehavior": {
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "description": "Optional. The filter parameter behavior."
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "modalityConfigs": {
          "type": "array",
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        }
      }
    },
    "Deployment": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated."
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        },
        "modality": {
          "type": "string",
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ]
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "instagramCredentials": {
          "$ref": "InstagramCredentials",
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile."
        },
        "whatsappCredentials": {
          "$ref": "WhatsAppCredentials",
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was created."
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "agentRegistryDeployment": {
          "$ref": "AgentRegistryDeployment",
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry."
        },
        "channelProfile": {
          "$ref": "ChannelProfile",
          "description": "Required. The channel profile used in the deployment."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        }
      },
      "type": "object",
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile."
    },
    "DashboardSettings": {
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view.",
      "properties": {
        "defaultDashboard": {
          "type": "string",
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`"
        }
      },
      "type": "object",
      "id": "DashboardSettings"
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "properties": {
        "protected": {
          "type": "string",
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object."
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "header": {
          "type": "object",
          "description": "The unprotected JWS header values.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "id": "LfA2aV1AgentCardSignature"
    },
    "LfA2aV1AgentProvider": {
      "id": "LfA2aV1AgentProvider",
      "properties": {
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        }
      },
      "description": "Represents the service provider of an agent.",
      "type": "object"
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "properties": {
        "endSessionConfig": {
          "$ref": "ErrorHandlingSettingsEndSessionConfig",
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors)."
        },
        "errorHandlingStrategy": {
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "type": "string",
          "description": "Optional. The strategy to use for error handling."
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        }
      }
    },
    "EvaluationSettings": {
      "type": "object",
      "description": "Settings for evaluation.",
      "properties": {
        "scenarioEvaluationToolCallBehaviour": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations."
        },
        "scenarioConversationInitiator": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ]
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        },
        "goldenRunMethod": {
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string"
        },
        "goldenEvaluationToolCallBehaviour": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "description": "Optional. Configures the default tool call behaviour for golden evaluations.",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "metricsConfig": {
          "$ref": "EvaluationMetricsConfig",
          "description": "Optional. Configures the default metrics for evaluations."
        },
        "scenarioExecutionMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED.",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ]
        }
      },
      "id": "EvaluationSettings"
    },
    "EvaluationRunEvaluationRunSummary": {
      "properties": {
        "passedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "readOnly": true
        },
        "failedCount": {
          "format": "int32",
          "description": "Output only. Number of failed results for the associated Evaluation in this run.",
          "readOnly": true,
          "type": "integer"
        },
        "errorCount": {
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "id": "EvaluationRunEvaluationRunSummary"
    },
    "CodeBlock": {
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      },
      "description": "A code block to be executed instead of a real tool call.",
      "id": "CodeBlock"
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig": {
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig",
      "type": "object",
      "properties": {
        "operationGenerationConfigs": {
          "type": "array",
          "description": "Required. The list of operations to be added to the Open API schema.",
          "items": {
            "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig"
          }
        },
        "uri": {
          "type": "string",
          "description": "Required. The base uri of the tool."
        }
      },
      "description": "The configuration to be used to generate an Open API schema."
    },
    "EvaluationGoldenTurn": {
      "properties": {
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "hallucinationMetricBehaviorOverride": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "description": "Required. The steps required to replay a golden conversation.",
          "items": {
            "$ref": "EvaluationStep"
          }
        },
        "rootSpan": {
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate.",
          "$ref": "Span"
        }
      },
      "id": "EvaluationGoldenTurn",
      "description": "A golden turn defines a single turn in a golden conversation.",
      "type": "object"
    },
    "RetrieveToolsRequest": {
      "properties": {
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        },
        "toolIds": {
          "type": "array",
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for ToolService.RetrieveTools.",
      "id": "RetrieveToolsRequest"
    },
    "Guardrail": {
      "type": "object",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime"
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        }
      },
      "id": "Guardrail"
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "type": "object",
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "properties": {
        "openIdConnectUrl": {
          "type": "string",
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata."
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "description": "Defines a security scheme using OpenID Connect."
    },
    "TriggerActionGenerativeAnswer": {
      "type": "object",
      "description": "The agent will immediately respond with a generative answer.",
      "id": "TriggerActionGenerativeAnswer",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "LfA2aV1Message": {
      "id": "LfA2aV1Message",
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "properties": {
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message."
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          }
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "referenceTaskIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of task IDs that this message references for additional context.",
          "type": "array"
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "description": "Required. Identifies the sender of the message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportEvaluationsResponse": {
      "type": "object",
      "id": "ExportEvaluationsResponse",
      "properties": {
        "failedEvaluations": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of evaluation resource names that could not be exported, to the reason why they failed.",
          "type": "object"
        },
        "evaluationsContent": {
          "description": "The content of the exported Evaluations. This will be populated if gcs_uri was not specified in the request.",
          "format": "byte",
          "type": "string"
        },
        "evaluationsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported evaluations were written. This will be populated if gcs_uri was specified in the request."
        }
      },
      "description": "Response message for EvaluationService.ExportEvaluations."
    },
    "ListScheduledEvaluationRunsResponse": {
      "description": "Response message for EvaluationService.ListScheduledEvaluationRuns.",
      "properties": {
        "scheduledEvaluationRuns": {
          "items": {
            "$ref": "ScheduledEvaluationRun"
          },
          "type": "array",
          "description": "The list of scheduled evaluation runs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListScheduledEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListScheduledEvaluationRunsResponse"
    },
    "EvaluationGolden": {
      "properties": {
        "turns": {
          "type": "array",
          "description": "Required. The golden turns required to replay a golden conversation. The maximum number of allowed turns is 100.",
          "items": {
            "$ref": "EvaluationGoldenTurn"
          }
        },
        "evaluationExpectations": {
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the replayed conversation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The steps required to replay a golden conversation.",
      "id": "EvaluationGolden",
      "type": "object"
    },
    "McpToolOverride": {
      "type": "object",
      "id": "McpToolOverride",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "snapshot": {
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "$ref": "McpToolDefinition",
          "readOnly": true
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools."
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        }
      }
    },
    "TransferRule": {
      "description": "Rule for transferring to a specific agent.",
      "properties": {
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ]
        }
      },
      "id": "TransferRule",
      "type": "object"
    },
    "ImportEvaluationsResponse": {
      "properties": {
        "evaluationRunImportFailureCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of evaluation runs that either failed to import entirely or completed import with one or more errors."
        },
        "evaluationRuns": {
          "description": "The list of evaluation runs that were imported into the app.",
          "items": {
            "$ref": "EvaluationRun"
          },
          "type": "array"
        },
        "importFailureCount": {
          "description": "The number of evaluations that either failed to import entirely or completed import with one or more errors.",
          "format": "int32",
          "type": "integer"
        },
        "evaluationResults": {
          "items": {
            "$ref": "EvaluationResult"
          },
          "description": "The list of evaluation results that were imported into the app.",
          "type": "array"
        },
        "evaluationResultImportFailureCount": {
          "type": "integer",
          "description": "The number of evaluation results that either failed to import entirely or completed import with one or more errors.",
          "format": "int32"
        },
        "errorMessages": {
          "description": "Optional. A list of error messages associated with evaluations that failed to be imported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "evaluations": {
          "description": "The list of evaluations that were imported into the app.",
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array"
        }
      },
      "id": "ImportEvaluationsResponse",
      "description": "Response message for EvaluationService.ImportEvaluations.",
      "type": "object"
    },
    "GenerateAppResourceRequestRefineInstructions": {
      "description": "The instructions to be used to refine a part of the resource. The part of the resource can be specified with a start index, end index and a field mask. For example, if you want to refine a part of the agent instructions you can specify the index of the first character of the instructions, the index of the last character of the instructions and the field mask as \"instructions\".",
      "type": "object",
      "properties": {
        "endIndex": {
          "description": "Required. The last character (inclusive) of the text to refine.",
          "format": "int64",
          "type": "string"
        },
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Required. The first character (inclusive) of the text to refine."
        },
        "fieldMask": {
          "description": "Required. The field of the resource being refined. Only one field is allowed per RefineInstructions. If refining agent instructions, the field mask should be \"instructions\".",
          "type": "string",
          "format": "google-fieldmask"
        },
        "instructions": {
          "type": "string",
          "description": "Required. The instructions to refine the resource."
        }
      },
      "id": "GenerateAppResourceRequestRefineInstructions"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "GoogleSearchSuggestions": {
      "description": "Search suggestions from Google Search Tool.",
      "id": "GoogleSearchSuggestions",
      "type": "object",
      "properties": {
        "webSearchQueries": {
          "type": "array",
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions.",
          "items": {
            "$ref": "WebSearchQuery"
          }
        },
        "htmls": {
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LfA2aV1SecurityRequirement": {
      "id": "LfA2aV1SecurityRequirement",
      "type": "object",
      "properties": {
        "schemes": {
          "description": "A map of security schemes to the required scopes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          }
        }
      },
      "description": "Defines the security requirements for an agent."
    },
    "WhatsAppCredentials": {
      "properties": {
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "pin": {
          "description": "Required. The 6-digit PIN created by the user for two-step verification.",
          "type": "string"
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "authCode": {
          "type": "string",
          "description": "Required. The Meta auth code provided by the embedded signup flow."
        }
      },
      "type": "object",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "id": "WhatsAppCredentials"
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "type": "object",
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        },
        "connectorActions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for."
        }
      }
    },
    "EvaluationResultTaskCompletionResult": {
      "description": "The result of the task completion check for the conversation.",
      "properties": {
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. The explanation for the task completion score.",
          "readOnly": true
        },
        "score": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "readOnly": true
        }
      },
      "id": "EvaluationResultTaskCompletionResult",
      "type": "object"
    },
    "LatencyReportLlmCallLatency": {
      "type": "object",
      "id": "LatencyReportLlmCallLatency",
      "properties": {
        "model": {
          "description": "Output only. The name of the model.",
          "readOnly": true,
          "type": "string"
        },
        "latencyMetrics": {
          "readOnly": true,
          "description": "Output only. The latency metrics for the LLM call.",
          "$ref": "LatencyReportLatencyMetrics"
        }
      },
      "description": "Latency metrics for a single LLM call."
    },
    "GenerateAppResourceRequest": {
      "properties": {
        "appGenerationConfig": {
          "$ref": "GenerateAppResourceRequestAppGenerationConfig",
          "description": "Optional. The configuration to be used to generate the agents and tools."
        },
        "toolGenerationConfig": {
          "$ref": "GenerateAppResourceRequestToolGenerationConfig",
          "description": "Optional. The configuration to be used to generate the tool."
        },
        "refineInstructions": {
          "description": "Optional. List of refine instructions to be used to refine the resource.",
          "items": {
            "$ref": "GenerateAppResourceRequestRefineInstructions"
          },
          "type": "array"
        },
        "tool": {
          "description": "The tool resource to be used by the LLM assistant, can be empty for generating a new tool.",
          "$ref": "Tool"
        },
        "appVersionContext": {
          "description": "The app version context specifying the base snapshot and target agent.",
          "$ref": "GenerateAppResourceRequestAppVersionContext"
        },
        "qualityReportGenerationConfig": {
          "$ref": "GenerateAppResourceRequestQualityReportGenerationConfig",
          "description": "Optional. The configuration to be used for quality report generation."
        },
        "evaluationGenerationConfig": {
          "$ref": "GenerateAppResourceRequestEvaluationGenerationConfig",
          "description": "Optional. The configuration to be used to generate the evaluations."
        },
        "agent": {
          "$ref": "Agent",
          "description": "The agent resource to be used by the LLM assistant, can be empty for generating a new agent."
        },
        "toolset": {
          "description": "The toolset resource to be used by the LLM assistant, can be empty for generating a new toolset.",
          "$ref": "Toolset"
        },
        "evaluationPersonasGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the evaluation personas.",
          "$ref": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig"
        },
        "hillClimbingFixConfig": {
          "$ref": "GenerateAppResourceRequestHillClimbingFixConfig",
          "description": "Optional. The configuration to be used for hill climbing fixes."
        }
      },
      "description": "Request message for AgentService.GenerateAppResource.",
      "type": "object",
      "id": "GenerateAppResourceRequest"
    },
    "ConversationTurn": {
      "properties": {
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        },
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        }
      },
      "type": "object",
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation."
    },
    "LfA2aV1Task": {
      "type": "object",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "properties": {
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "history": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`."
        },
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
        },
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "artifacts": {
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "description": "A set of output artifacts for a `Task`.",
          "type": "array"
        }
      },
      "id": "LfA2aV1Task"
    },
    "EvaluationResultSpanLatency": {
      "id": "EvaluationResultSpanLatency",
      "description": "The latency of a span execution.",
      "type": "object",
      "properties": {
        "toolset": {
          "description": "Output only. The toolset tool identifier.",
          "$ref": "ToolsetTool",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of span.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans."
        },
        "endTime": {
          "description": "Output only. The end time of span.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "model": {
          "description": "Output only. The name of the LLM span.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of span.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "executionLatency": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The latency of span.",
          "readOnly": true
        },
        "resource": {
          "description": "Output only. The resource name of the guardrail or tool spans.",
          "readOnly": true,
          "type": "string"
        },
        "callback": {
          "type": "string",
          "description": "Output only. The name of the user callback span.",
          "readOnly": true
        }
      }
    },
    "RedactionConfig": {
      "type": "object",
      "id": "RedactionConfig",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "ChannelProfileWhatsAppConfig": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile.",
          "readOnly": true
        },
        "thumbnailUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "phoneNumberId": {
          "type": "string",
          "description": "Required. The Meta phone number ID."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business page name."
        },
        "phoneNumber": {
          "description": "Optional. The phone number in E.164 format.",
          "type": "string"
        }
      },
      "description": "Configuration specific to WhatsApp deployments.",
      "type": "object",
      "id": "ChannelProfileWhatsAppConfig"
    },
    "LfA2aV1AgentSkill": {
      "type": "object",
      "id": "LfA2aV1AgentSkill",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults."
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "securityRequirements": {
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security schemes necessary for this skill.",
          "type": "array"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities."
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "EvaluationMetricsConfigSemanticSimilarityMetricsConfig": {
      "id": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
      "type": "object",
      "properties": {
        "enableSemanticSimilarityMetrics": {
          "description": "Optional. Whether to calculate semantic similarity metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "description": "Configuration for similarity metrics for the evaluation. To disable the metric, set the message but do not set the `enable_semantic_similarity_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely."
    },
    "RestoreAppVersionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion",
      "id": "RestoreAppVersionRequest"
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "id": "GenerateAppResourceRequestEvaluationGenerationConfig",
      "description": "The configuration to be used to generate the evaluations.",
      "properties": {
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the evaluations. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CitationsInlineCitation": {
      "description": "An inline citation in the response text.",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index (in bytes) of the text segment in the agent response."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The ending index (in bytes) of the text segment in the agent response."
        },
        "citedChunkIndices": {
          "description": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "id": "CitationsInlineCitation",
      "type": "object"
    },
    "Toolset": {
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "id": "Toolset",
      "properties": {
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tools behavior in fake mode."
        },
        "executionType": {
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tools in the toolset.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets."
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "openApiToolset": {
          "$ref": "OpenApiToolset",
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the toolset was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "AppVariableDeclaration": {
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        }
      },
      "id": "AppVariableDeclaration",
      "description": "Defines the structure and metadata for a variable."
    },
    "EvaluationMetricsConfig": {
      "type": "object",
      "description": "Configures the metrics for an evaluation.",
      "id": "EvaluationMetricsConfig",
      "properties": {
        "scenarioMetricsConfig": {
          "description": "Optional. Configuration for the scenario metrics for the evaluation.",
          "$ref": "EvaluationMetricsConfigScenarioMetricsConfig"
        },
        "goldenMetricsConfig": {
          "$ref": "EvaluationMetricsConfigGoldenMetricsConfig",
          "description": "Optional. Configuration for the golden metrics for the evaluation."
        }
      }
    },
    "QualityReportAgentIssues": {
      "type": "object",
      "properties": {
        "agent": {
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "description": "Optional. List of issues found for this agent."
        }
      },
      "id": "QualityReportAgentIssues",
      "description": "Issues identified for a single agent."
    },
    "Conversation": {
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`"
        },
        "turnCount": {
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true,
          "format": "int32"
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ]
        },
        "entryAgent": {
          "type": "string",
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "deprecated": true,
          "description": "Deprecated. Use turns instead.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the conversation."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was created.",
          "type": "string",
          "readOnly": true
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string",
          "readOnly": true
        },
        "inputTypes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "type": "string"
          },
          "description": "Output only. The input types of the conversation."
        },
        "source": {
          "description": "Output only. Indicate the source of the conversation.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the conversation was completed."
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array"
        },
        "deployment": {
          "readOnly": true,
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerActionResponse": {
      "type": "object",
      "description": "Represents a response from the agent.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent."
        },
        "text": {
          "type": "string",
          "description": "Required. Text for the agent to respond with."
        }
      },
      "id": "TriggerActionResponse"
    },
    "ModelSettings": {
      "type": "object",
      "id": "ModelSettings",
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "double",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative."
        }
      },
      "description": "Model settings contains various configurations for the LLM model."
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "toolsets": {
          "type": "array",
          "items": {
            "$ref": "Toolset"
          },
          "description": "The list of toolsets."
        }
      },
      "description": "Response message for AgentService.ListToolsets."
    },
    "LatencyReportGuardrailLatency": {
      "id": "LatencyReportGuardrailLatency",
      "properties": {
        "guardrail": {
          "type": "string",
          "description": "Output only. The name of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`.",
          "readOnly": true
        },
        "guardrailDisplayName": {
          "description": "Output only. The display name of the guardrail.",
          "type": "string",
          "readOnly": true
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the guardrail.",
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true
        }
      },
      "description": "Latency metrics for a single guardrail.",
      "type": "object"
    },
    "ExportEvaluationResultsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluationResults.",
      "properties": {
        "evaluationResultsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Results were written. This will be populated if gcs_uri was specified in the request."
        },
        "evaluationResultsContent": {
          "format": "byte",
          "description": "The content of the exported Evaluation Results. This will be populated if gcs_uri was not specified in the request.",
          "type": "string"
        }
      },
      "id": "ExportEvaluationResultsResponse",
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "type": "object",
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "properties": {},
      "description": "The configuration to be used to generate the evaluation personas."
    },
    "LfA2aV1AgentExtension": {
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Extension-specific configuration parameters."
        },
        "uri": {
          "type": "string",
          "description": "The unique URI identifying the extension."
        },
        "description": {
          "description": "A human-readable description of how this agent uses the extension.",
          "type": "string"
        },
        "required": {
          "type": "boolean",
          "description": "If true, the client must understand and comply with the extension's requirements."
        }
      },
      "type": "object",
      "description": "A declaration of a protocol extension supported by an Agent.",
      "id": "LfA2aV1AgentExtension"
    },
    "ListExamplesResponse": {
      "properties": {
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListExamples.",
      "id": "ListExamplesResponse"
    },
    "DataStoreConnectorConfig": {
      "type": "object",
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "properties": {
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "type": "string",
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
        }
      }
    },
    "GuardrailContentFilter": {
      "type": "object",
      "id": "GuardrailContentFilter",
      "properties": {
        "bannedContents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses."
        },
        "bannedContentsInAgentResponse": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          }
        },
        "disregardDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritics are ignored during matching."
        },
        "bannedContentsInUserInput": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to user inputs."
        },
        "matchType": {
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "description": "Required. Match type for the content filter.",
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ]
        }
      },
      "description": "Guardrail that bans certain content from being used in the conversation."
    },
    "RunEvaluationResultMetricsResponse": {
      "type": "object",
      "description": "Response message for EvaluationService.RunEvaluationResultMetrics.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the evaluation result metrics calculation.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        }
      },
      "id": "RunEvaluationResultMetricsResponse"
    },
    "Tool": {
      "properties": {
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool."
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        }
      },
      "type": "object",
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals."
    },
    "CitationsCitedChunk": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information."
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "description": "The result of the tool invocation check.",
      "type": "object",
      "properties": {
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "type": "string",
          "readOnly": true
        },
        "parameterCorrectnessScore": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call.",
          "format": "float"
        },
        "explanation": {
          "description": "Output only. A free text explanation for the tool invocation result.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "LatencyReport": {
      "description": "Latency report for the evaluation run.",
      "type": "object",
      "properties": {
        "toolLatencies": {
          "type": "array",
          "items": {
            "$ref": "LatencyReportToolLatency"
          },
          "description": "Output only. Unordered list. Latency metrics for each tool.",
          "readOnly": true
        },
        "guardrailLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each guardrail.",
          "type": "array",
          "items": {
            "$ref": "LatencyReportGuardrailLatency"
          },
          "readOnly": true
        },
        "llmCallLatencies": {
          "type": "array",
          "items": {
            "$ref": "LatencyReportLlmCallLatency"
          },
          "readOnly": true,
          "description": "Output only. Unordered list. Latency metrics for each LLM call."
        },
        "sessionCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of sessions considered in the latency report."
        },
        "callbackLatencies": {
          "readOnly": true,
          "description": "Output only. Unordered list. Latency metrics for each callback.",
          "type": "array",
          "items": {
            "$ref": "LatencyReportCallbackLatency"
          }
        }
      },
      "id": "LatencyReport"
    },
    "EvaluationResultScenarioExpectationOutcome": {
      "id": "EvaluationResultScenarioExpectationOutcome",
      "type": "object",
      "properties": {
        "outcome": {
          "type": "string",
          "description": "Output only. The outcome of the ScenarioExpectation.",
          "readOnly": true,
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        },
        "observedAgentResponse": {
          "description": "Output only. The observed agent response.",
          "readOnly": true,
          "$ref": "Message"
        },
        "expectation": {
          "readOnly": true,
          "$ref": "EvaluationScenarioExpectation",
          "description": "Output only. The expectation that was evaluated."
        },
        "observedToolCall": {
          "description": "Output only. The observed tool call.",
          "readOnly": true,
          "$ref": "EvaluationResultScenarioExpectationOutcomeObservedToolCall"
        }
      },
      "description": "The outcome of a scenario expectation."
    },
    "ExperimentConfig": {
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      },
      "description": "Experiment for the deployment.",
      "type": "object",
      "id": "ExperimentConfig"
    },
    "LatencyReportCallbackLatency": {
      "description": "Latency metrics for a single callback.",
      "properties": {
        "stage": {
          "readOnly": true,
          "description": "Output only. The stage of the callback.",
          "type": "string"
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the callback.",
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics"
        }
      },
      "id": "LatencyReportCallbackLatency",
      "type": "object"
    },
    "EvaluationMetricsConfigUserGoalMetMetricsConfig": {
      "description": "Configuration for the user goal met metrics for the evaluation. To disable the metric, set the message but do not set the `enable_user_goal_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableUserGoalMetMetrics": {
          "description": "Optional. Whether to calculate the user goal met metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EvaluationMetricsConfigUserGoalMetMetricsConfig"
    },
    "OptimizationConfig": {
      "description": "Configuration for running the optimization step after the evaluation run.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Output only. The status of the optimization run.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Optimization status is not specified.",
            "Optimization is running.",
            "Optimization has completed.",
            "Optimization failed due to an internal error."
          ],
          "enum": [
            "OPTIMIZATION_STATUS_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ]
        },
        "assistantSession": {
          "type": "string",
          "description": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`",
          "readOnly": true
        },
        "reportSummary": {
          "readOnly": true,
          "description": "Output only. The summary of the loss report.",
          "type": "string"
        },
        "shouldSuggestFix": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether to suggest a fix for the losses."
        },
        "generateLossReport": {
          "description": "Optional. Whether to generate a loss report.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Output only. The error message if the optimization run failed.",
          "type": "string",
          "readOnly": true
        },
        "lossReport": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The generated loss report."
        }
      },
      "id": "OptimizationConfig"
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the input audio data.",
          "type": "string"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FileSearchTool": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "fileCorpus": {
          "type": "string",
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}"
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "corpusType": {
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ]
        }
      },
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "id": "FileSearchTool"
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "customPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
    },
    "LfA2aV1TaskStatus": {
      "id": "LfA2aV1TaskStatus",
      "properties": {
        "timestamp": {
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message associated with the status."
        },
        "state": {
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "description": "Required. The current state of this task.",
          "type": "string"
        }
      },
      "description": "A container for the status of a task",
      "type": "object"
    },
    "ApiAuthentication": {
      "properties": {
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        }
      },
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls.",
      "type": "object"
    },
    "GenerateAppResourceRequestToolGenerationConfig": {
      "properties": {
        "openApiToolsetGenerationConfig": {
          "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig",
          "description": "Optional. The configuration to be used to generate an Open API schema."
        },
        "context": {
          "type": "string",
          "description": "Optional. The context which describes the tool to be generated. This can be empty if the tool request & response are provided."
        },
        "fileContexts": {
          "description": "Optional. The files to be used as context.",
          "items": {
            "$ref": "FileContext"
          },
          "type": "array"
        }
      },
      "id": "GenerateAppResourceRequestToolGenerationConfig",
      "type": "object",
      "description": "The configuration to be used to generate a tool."
    },
    "ListGuardrailsResponse": {
      "properties": {
        "guardrails": {
          "type": "array",
          "description": "The list of guardrails.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListGuardrails.",
      "id": "ListGuardrailsResponse"
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the conversations to delete."
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsRequest"
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "type": "object",
      "properties": {
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
[...]
