{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "kind": "discovery#restDescription",
  "schemas": {
    "CitationsCitedChunk": {
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the cited document."
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        }
      }
    },
    "LfA2aV1AgentCapabilities": {
      "type": "object",
      "id": "LfA2aV1AgentCapabilities",
      "description": "Defines optional capabilities supported by an agent.",
      "properties": {
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "description": "A list of protocol extensions supported by the agent."
        },
        "extendedAgentCard": {
          "description": "Indicates if the agent supports providing an extended agent card when authenticated.",
          "type": "boolean"
        },
        "streaming": {
          "type": "boolean",
          "description": "Indicates if the agent supports streaming responses."
        }
      }
    },
    "AgentTool": {
      "properties": {
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent.",
      "type": "object"
    },
    "Image": {
      "description": "Represents an image input or output in the conversation.",
      "type": "object",
      "id": "Image",
      "properties": {
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the image."
        }
      }
    },
    "MetricAnalysisSettings": {
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "type": "object",
      "properties": {
        "llmMetricsOptedOut": {
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected.",
          "type": "boolean"
        }
      },
      "id": "MetricAnalysisSettings"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "SessionConfig": {
      "type": "object",
      "description": "The configuration for the session.",
      "properties": {
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "enableTextStreaming": {
          "type": "boolean",
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession."
        },
        "historicalContexts": {
          "type": "array",
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "items": {
            "$ref": "Message"
          }
        },
        "deployment": {
          "type": "string",
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "inputAudioConfig": {
          "$ref": "InputAudioConfig",
          "description": "Optional. Configuration for processing the input audio."
        },
        "excludeDiagnosticInfo": {
          "description": "Optional. Whether to exclude diagnostic info from the session output.",
          "type": "boolean"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\"."
        }
      },
      "id": "SessionConfig"
    },
    "ImportAppResponse": {
      "id": "ImportAppResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ImportApp."
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "type": "string",
          "description": "Optional. State of the version release.",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ]
        },
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "type": "array"
        }
      },
      "description": "Version release for the experiment."
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs.",
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "description": "Required. The content of the artifact. Must contain at least one part."
        },
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the artifact."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Metadata included with the artifact.",
          "type": "object"
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        }
      }
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "properties": {
        "context": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "type": "object"
        },
        "variables": {
          "description": "Optional. The variables that are available for the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "mockConfig": {
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses.",
          "$ref": "MockConfig"
        }
      },
      "description": "Request message for ToolService.ExecuteTool.",
      "type": "object"
    },
    "TriggerActionResponse": {
      "properties": {
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        },
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a response from the agent.",
      "id": "TriggerActionResponse"
    },
    "InputAudioConfig": {
      "type": "object",
      "id": "InputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "description": "Required. The encoding of the input audio data.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "type": "string"
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        }
      },
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data."
    },
    "ImportAppRequestImportOptions": {
      "type": "object",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "id": "ImportAppRequestImportOptions",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one."
        },
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "type": "string",
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ]
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "description": "Turn level metrics thresholds.",
      "type": "object",
      "properties": {
        "semanticSimilarityChannel": {
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "type": "string",
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ]
        },
        "overallToolInvocationCorrectnessThreshold": {
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number",
          "format": "float"
        },
        "semanticSimilaritySuccessThreshold": {
          "format": "int32",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "type": "integer"
        }
      }
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "properties": {
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "scheme": {
          "type": "string",
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry."
        }
      },
      "type": "object",
      "id": "LfA2aV1HTTPAuthSecurityScheme",
      "description": "Defines a security scheme using HTTP authentication."
    },
    "LfA2aV1TaskPushNotificationConfig": {
      "id": "LfA2aV1TaskPushNotificationConfig",
      "type": "object",
      "properties": {
        "authentication": {
          "description": "Authentication information required to send the notification.",
          "$ref": "LfA2aV1AuthenticationInfo"
        },
        "token": {
          "description": "A token unique for this task or session.",
          "type": "string"
        },
        "taskId": {
          "description": "The ID of the task this configuration is associated with.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The push notification configuration details. A unique identifier (e.g. UUID) for this push notification configuration."
        },
        "tenant": {
          "type": "string",
          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where the notification should be sent."
        }
      },
      "description": "A container associating a push notification configuration with a specific task."
    },
    "WidgetToolTextResponseConfig": {
      "properties": {
        "staticText": {
          "type": "string",
          "description": "Optional. The static text response to return when type is STATIC."
        },
        "type": {
          "description": "Optional. The strategy for providing the text response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ]
        },
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        }
      },
      "description": "Configuration for the text response returned with the widget.",
      "id": "WidgetToolTextResponseConfig",
      "type": "object"
    },
    "FileSearchTool": {
      "type": "object",
      "properties": {
        "corpusType": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED."
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        }
      },
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "id": "FileSearchTool"
    },
    "LfA2aV1Message": {
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "properties": {
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any metadata to provide along with the message.",
          "type": "object"
        },
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "taskId": {
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task.",
          "type": "string"
        },
        "role": {
          "description": "Required. Identifies the sender of the message.",
          "type": "string",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "referenceTaskIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of task IDs that this message references for additional context."
        }
      },
      "type": "object",
      "id": "LfA2aV1Message"
    },
    "ListAppsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for AgentService.ListApps.",
      "id": "ListAppsResponse"
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "location": {
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\".",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1APIKeySecurityScheme"
    },
    "ToolResponses": {
      "properties": {
        "toolResponses": {
          "type": "array",
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      },
      "type": "object",
      "description": "Execution results for the requested tool calls from the client.",
      "id": "ToolResponses"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "type": "object",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig"
    },
    "RestoreAppVersionRequest": {
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {},
      "id": "RestoreAppVersionRequest"
    },
    "DataStore": {
      "id": "DataStore",
      "type": "object",
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "documentProcessingMode": {
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "readOnly": true,
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the data store."
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the data store was created.",
          "type": "string"
        }
      }
    },
    "ChannelProfilePersonaProperty": {
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel.",
      "properties": {
        "persona": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "description": "Optional. The persona of the channel."
        }
      },
      "type": "object"
    },
    "AppVersion": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. Email of the user who created the app version.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the app version was last updated."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app version was created."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        }
      },
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "id": "AppVersion"
    },
    "ListToolsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "tools": {
          "description": "The list of tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "id": "ListToolsResponse"
    },
    "ImportAppRequest": {
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "jsonPatchContent": {
          "type": "string",
          "description": "Optional. Patch content as a JSON string."
        },
        "gcsUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "jsonPatchGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
        },
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "type": "string",
          "format": "byte"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        }
      },
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "type": "object"
    },
    "LfA2aV1AgentCard": {
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "properties": {
        "skills": {
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          }
        },
        "securitySchemes": {
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          }
        },
        "version": {
          "description": "Required. The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        },
        "defaultInputModes": {
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "defaultOutputModes": {
          "description": "Required. The media types supported as outputs from this agent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          }
        },
        "iconUrl": {
          "description": "Optional. A URL to an icon for the agent.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "A URL providing additional documentation about the agent.",
          "type": "string"
        },
        "signatures": {
          "description": "JSON Web Signatures computed for this `AgentCard`.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          }
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "description": {
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "capabilities": {
          "$ref": "LfA2aV1AgentCapabilities",
          "description": "Required. A2A Capability set supported by the agent."
        },
        "securityRequirements": {
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "type": "array",
          "description": "Security requirements for contacting the agent."
        }
      },
      "id": "LfA2aV1AgentCard",
      "type": "object"
    },
    "Blob": {
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Blob"
    },
    "LanguageSettings": {
      "type": "object",
      "id": "LanguageSettings",
      "description": "Language settings of the app.",
      "properties": {
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        },
        "fallbackAction": {
          "deprecated": true,
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "type": "string"
        },
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "type": "object",
      "description": "Expectation level metrics thresholds."
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "description": "Defines a security scheme using OpenID Connect.",
      "properties": {
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1OpenIdConnectSecurityScheme"
    },
    "DataStoreTool": {
      "type": "object",
      "id": "DataStoreTool",
      "properties": {
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "engineSource": {
          "$ref": "DataStoreToolEngineSource",
          "description": "Optional. Search within an Engine (potentially across multiple DataStores)."
        },
        "modalityConfigs": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "description": "Optional. The modality configs for the data store."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "boostSpecs": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "description": "Optional. Boost specification to boost certain documents."
        },
        "filterParameterBehavior": {
          "description": "Optional. The filter parameter behavior.",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        }
      },
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "CodeBlock": {
      "id": "CodeBlock",
      "description": "A code block to be executed instead of a real tool call.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      }
    },
    "AgentRegistryDeployment": {
      "id": "AgentRegistryDeployment",
      "description": "Configuration and status for Agent Registry deployment.",
      "properties": {
        "agentRegistryServiceName": {
          "readOnly": true,
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WebSearchQuery": {
      "properties": {
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        },
        "query": {
          "description": "The search query text.",
          "type": "string"
        }
      },
      "description": "Represents a single web search query and its associated search uri.",
      "type": "object",
      "id": "WebSearchQuery"
    },
    "LfA2aV1AgentInterface": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        },
        "protocolVersion": {
          "type": "string",
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        }
      },
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "id": "LfA2aV1AgentInterface"
    },
    "DataStoreToolDataStoreSource": {
      "description": "Configuration for searching within a specific DataStore.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        }
      },
      "id": "DataStoreToolDataStoreSource",
      "type": "object"
    },
    "DataStoreToolGroundingConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        },
        "groundingLevel": {
          "format": "float",
          "type": "number",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned."
        }
      },
      "description": "Grounding configuration.",
      "id": "DataStoreToolGroundingConfig"
    },
    "ChannelProfile": {
      "properties": {
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "instagramConfig": {
          "description": "Optional. Configuration specific to Instagram deployments.",
          "$ref": "ChannelProfileInstagramConfig"
        },
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "description": "Optional. The type of the channel profile.",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ],
          "type": "string"
        },
        "whatsappConfig": {
          "description": "Optional. Configuration specific to WhatsApp deployments.",
          "$ref": "ChannelProfileWhatsAppConfig"
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChannelProfile",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony."
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "description": "Traffic allocation for the version release.",
      "properties": {
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "trafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        },
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent will transfer the conversation to a different agent."
    },
    "TriggerAction": {
      "id": "TriggerAction",
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        },
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        }
      }
    },
    "ToolsetTool": {
      "description": "A tool that is created from a toolset.",
      "type": "object",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "id": "ToolsetTool"
    },
    "ExportAppRequest": {
      "description": "Request message for AgentService.ExportApp.",
      "id": "ExportAppRequest",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "exportFormat": {
          "description": "Required. The format to export the app in.",
          "type": "string",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        }
      }
    },
    "ExperimentConfig": {
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      },
      "description": "Experiment for the deployment.",
      "id": "ExperimentConfig",
      "type": "object"
    },
    "GenerateChatTokenResponse": {
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        },
        "expireTime": {
          "type": "string",
          "description": "The time at which the chat token expires.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GenerateChatTokenResponse"
    },
    "SessionOutputDiagnosticInfo": {
      "id": "SessionOutputDiagnosticInfo",
      "type": "object",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "List of the messages that happened during the processing."
        }
      },
      "description": "Contains execution details during the processing."
    },
    "RetrieveToolSchemaResponse": {
      "type": "object",
      "description": "Response message for ToolService.RetrieveToolSchema.",
      "id": "RetrieveToolSchemaResponse",
      "properties": {
        "outputSchema": {
          "description": "The schema of the tool output parameters.",
          "$ref": "Schema"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that the schema is for."
        },
        "tool": {
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool input parameters."
        }
      }
    },
    "Tool": {
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "displayName": {
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "type": "string",
          "readOnly": true
        },
        "openApiTool": {
          "description": "Optional. The open API tool.",
          "$ref": "OpenApiTool"
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "executionType": {
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tool."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "generatedSummary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        }
      },
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object",
      "id": "SynthesizeSpeechConfig",
      "properties": {
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "voiceSampleGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string",
          "deprecated": true
        },
        "consentAudioGcsUri": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Optional. The instruction used to synthesize speech when using a generative model."
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "AudioProcessingConfig": {
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "type": "object",
      "properties": {
        "customVoiceSamples": {
          "items": {
            "$ref": "CustomVoiceSample"
          },
          "description": "Optional. Configures custom voice samples for voice cloning.",
          "type": "array"
        },
        "bargeInConfig": {
          "$ref": "BargeInConfig",
          "description": "Optional. Configures the agent behavior for the user barge-in activities."
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "inactivityTimeout": {
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "type": "string",
          "format": "google-duration"
        },
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          },
          "type": "object"
        }
      }
    },
    "LfA2aV1AgentExtension": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of how this agent uses the extension."
        },
        "params": {
          "description": "Optional. Extension-specific configuration parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "type": "string",
          "description": "The unique URI identifying the extension."
        },
        "required": {
          "description": "If true, the client must understand and comply with the extension's requirements.",
          "type": "boolean"
        }
      },
      "description": "A declaration of a protocol extension supported by an Agent.",
      "id": "LfA2aV1AgentExtension"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations.",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        },
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        }
      },
      "type": "object"
    },
    "GuardrailLlmPromptSecurity": {
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "properties": {
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      },
      "id": "GuardrailLlmPromptSecurity",
      "type": "object"
    },
    "Changelog": {
      "type": "object",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "id": "Changelog",
      "properties": {
        "newResource": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. The new resource after the change."
        },
        "originalResource": {
          "description": "Output only. The original resource before the change.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the resource that was changed."
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the change author."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the change was made."
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "type": "array",
          "readOnly": true,
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource."
        },
        "action": {
          "type": "string",
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true
        },
        "resource": {
          "description": "Output only. The resource that was changed.",
          "type": "string",
          "readOnly": true
        },
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true
        }
      }
    },
    "ExportAppResponse": {
      "id": "ExportAppResponse",
      "type": "object",
      "properties": {
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        },
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Response message for AgentService.ExportApp."
    },
    "DataStoreToolSnippetsConfig": {
      "properties": {
        "maxSnippets": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default."
        },
        "enableSnippets": {
          "type": "boolean",
          "description": "Optional. Whether snippets are enabled."
        }
      },
      "id": "DataStoreToolSnippetsConfig",
      "description": "Snippets configuration.",
      "type": "object"
    },
    "AgentSkill": {
      "id": "AgentSkill",
      "properties": {
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "type": "array"
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object"
    },
    "ListAgentsResponse": {
      "type": "object",
      "id": "ListAgentsResponse",
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListAgents."
    },
    "LfA2aV1AgentSkill": {
      "description": "Represents a distinct capability or function that an agent can perform.",
      "properties": {
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityRequirements": {
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security schemes necessary for this skill.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Example prompts or scenarios that this skill can handle."
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        }
      },
      "id": "LfA2aV1AgentSkill",
      "type": "object"
    },
    "AppVariableDeclaration": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema of the variable.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        }
      },
      "id": "AppVariableDeclaration",
      "description": "Defines the structure and metadata for a variable."
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        },
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        }
      },
      "description": "Request message for WidgetService.GenerateChatToken.",
      "id": "GenerateChatTokenRequest",
      "type": "object"
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "properties": {
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "Optional. List of guardrails in the app."
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app."
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "tools": {
          "type": "array",
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          }
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        }
      },
      "description": "A snapshot of the app.",
      "type": "object"
    },
    "DeployChannelResponse": {
      "description": "Response message for AgentService.DeployChannel.",
      "type": "object",
      "properties": {
        "deployment": {
          "$ref": "Deployment",
          "description": "The created deployment."
        }
      },
      "id": "DeployChannelResponse"
    },
    "Span": {
      "id": "Span",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The start time of the span.",
          "type": "string"
        },
        "attributes": {
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The end time of the span."
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "items": {
            "$ref": "Span"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the span.",
          "type": "string"
        },
        "duration": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The duration of the span."
        }
      },
      "description": "A span is a unit of work or a single operation during the request processing."
    },
    "ExpressionCondition": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Required. The string representation of cloud.api.Expression condition."
        }
      },
      "description": "Expression condition based on session state.",
      "type": "object",
      "id": "ExpressionCondition"
    },
    "ConversationLoggingSettings": {
      "properties": {
        "disableConversationLogging": {
          "type": "boolean",
          "description": "Optional. Whether to disable conversation logging for the sessions."
        },
        "retentionWindow": {
          "format": "google-duration",
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "type": "string"
        }
      },
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "id": "ConversationLoggingSettings",
      "type": "object"
    },
    "DataStoreSettings": {
      "description": "Data store related settings for the app.",
      "type": "object",
      "properties": {
        "engines": {
          "description": "Output only. The engines for the app.",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "DataStoreSettings"
    },
    "RedactionConfig": {
      "properties": {
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled.",
      "type": "object",
      "id": "RedactionConfig"
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      },
      "type": "object",
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "description": "Defines a security scheme using mTLS authentication."
    },
    "OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the output audio data.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the output audio data."
        }
      },
      "id": "OutputAudioConfig",
      "type": "object",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses."
    },
    "LfA2aV1StreamResponse": {
      "type": "object",
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "properties": {
        "message": {
          "description": "A Message object containing a message from the agent.",
          "$ref": "LfA2aV1Message"
        },
        "artifactUpdate": {
          "description": "An event indicating a task artifact update.",
          "$ref": "LfA2aV1TaskArtifactUpdateEvent"
        },
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "A Task object containing the current state of the task."
        },
        "statusUpdate": {
          "$ref": "LfA2aV1TaskStatusUpdateEvent",
          "description": "An event indicating a task status update."
        }
      },
      "id": "LfA2aV1StreamResponse"
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "description": "The TLS configuration.",
      "type": "object",
      "properties": {
        "caCerts": {
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "type": "array",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "OpenApiToolset": {
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "id": "OpenApiToolset",
      "properties": {
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema."
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates"
        }
      },
      "type": "object"
    },
    "CitationsInlineCitation": {
      "type": "object",
      "description": "An inline citation in the response text.",
      "properties": {
        "endIndex": {
          "format": "int32",
          "description": "The ending index (in bytes) of the text segment in the agent response.",
          "type": "integer"
        },
        "citedChunkIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index (in bytes) of the text segment in the agent response.",
          "format": "int32"
        }
      },
      "id": "CitationsInlineCitation"
    },
    "ListAppVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        }
      },
      "description": "Response message for AgentService.ListAppVersions.",
      "type": "object",
      "id": "ListAppVersionsResponse"
    },
    "Callback": {
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "proactiveExecutionEnabled": {
          "type": "boolean",
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        }
      },
      "type": "object",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "id": "Callback"
    },
    "LfA2aV1SendMessageRequest": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A flexible key-value map for passing additional context or parameters."
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        },
        "configuration": {
          "$ref": "LfA2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        }
      },
      "type": "object",
      "id": "LfA2aV1SendMessageRequest",
      "description": "Represents a request for the `SendMessage` method."
    },
    "DataStoreToolRewriterConfig": {
      "type": "object",
      "description": "Rewriter configuration.",
      "id": "DataStoreToolRewriterConfig",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "type": "array",
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly."
        }
      },
      "description": "The agent will immediately respond with a preconfigured response.",
      "id": "TriggerActionRespondImmediately"
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "agentRegistryDeployment": {
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry.",
          "$ref": "AgentRegistryDeployment"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was last updated."
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "instagramCredentials": {
          "$ref": "InstagramCredentials",
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile."
        },
        "createTime": {
          "description": "Output only. Timestamp when this deployment was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "whatsappCredentials": {
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile.",
          "$ref": "WhatsAppCredentials"
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        },
        "experimentConfig": {
          "$ref": "ExperimentConfig",
          "description": "Optional. Experiment configuration for the deployment."
        },
        "modality": {
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "type": "string",
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ]
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        }
      },
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile."
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "id": "RetrieveToolsResponse",
      "type": "object",
      "description": "Response message for ToolService.RetrieveTools."
    },
    "BearerTokenConfig": {
      "description": "Configurations for authentication with a bearer token.",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. The bearer token. Must be in the format `$context.variables.`."
        }
      },
      "id": "BearerTokenConfig",
      "type": "object"
    },
    "WidgetToolDataMapping": {
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "description": "Optional. The mode of the data mapping."
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        },
        "pythonScript": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use `python_function` instead."
        },
        "fieldMappings": {
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format."
        }
      },
      "type": "object",
      "id": "WidgetToolDataMapping"
    },
    "Action": {
      "type": "object",
      "properties": {
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityOperation": {
          "$ref": "ActionEntityOperation",
          "description": "Entity operation configuration for the tool to use."
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
[...]
