{
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "name": "ces",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://ces.googleapis.com/",
  "version": "v1beta",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "ces.projects.locations.get",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location."
                }
              }
            },
            "getSecuritySettings": {
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings$",
                  "description": "Required. The resource name of the security settings to retrieve. Format: `projects/{project}/locations/{location}/securitySettings`",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/securitySettings",
              "httpMethod": "GET",
              "id": "ces.projects.locations.getSecuritySettings",
              "description": "Retrieves the security settings for the project and location.",
              "response": {
                "$ref": "SecuritySettings"
              }
            },
            "list": {
              "id": "ces.projects.locations.list",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "path": "v1beta/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "updateSecuritySettings": {
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/securitySettings",
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SecuritySettings"
              },
              "httpMethod": "PATCH",
              "description": "Updates the security settings for the project and location.",
              "id": "ces.projects.locations.updateSecuritySettings",
              "response": {
                "$ref": "SecuritySettings"
              }
            }
          },
          "resources": {
            "apps": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/apps",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameters": {
                    "appId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the app, which will become the final component of the app's resource name. If not provided, a unique ID will be automatically assigned for the app."
                    },
                    "parent": {
                      "description": "Required. The resource name of the location to create an app in.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "App"
                  },
                  "id": "ces.projects.locations.apps.create",
                  "description": "Creates a new app in the given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "importApp": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+parent}/apps:importApp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportAppRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name with the location of the app to import."
                    }
                  },
                  "description": "Imports the specified app.",
                  "id": "ces.projects.locations.apps.importApp",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps:importApp",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "executeTool": {
                  "request": {
                    "$ref": "ExecuteToolRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "ces.projects.locations.apps.executeTool",
                  "response": {
                    "$ref": "ExecuteToolResponse"
                  },
                  "path": "v1beta/{+parent}:executeTool",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:executeTool",
                  "description": "Executes the given tool with the given arguments.",
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "ces.projects.locations.apps.list",
                  "path": "v1beta/{+parent}/apps",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAppsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list AgentService.ListApps call."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter to be applied when listing the apps. See https://google.aip.dev/160 for more details.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the location to list apps from."
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "description": "Lists apps in the given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "retrieveToolSchema": {
                  "path": "v1beta/{+parent}:retrieveToolSchema",
                  "description": "Retrieve the schema of the given tool. The schema is computed on the fly for the given instance of the tool.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:retrieveToolSchema",
                  "request": {
                    "$ref": "RetrieveToolSchemaRequest"
                  },
                  "response": {
                    "$ref": "RetrieveToolSchemaResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.retrieveToolSchema",
                  "httpMethod": "POST"
                },
                "generateOnboardingSuggestions": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The app whose zero state is being rendered. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "path": "v1beta/{+name}:generateOnboardingSuggestions",
                  "request": {
                    "$ref": "GenerateOnboardingSuggestionsRequest"
                  },
                  "response": {
                    "$ref": "GenerateOnboardingSuggestionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.generateOnboardingSuggestions",
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:generateOnboardingSuggestions",
                  "description": "Generates personalized onboarding suggestions for the AI assistant zero state: classifies the requesting user (new / exploring / returning) from their assistant-session history in the app and returns suggestion chips (resume a session, continue work, or start something new) to render before any message is sent."
                },
                "chatAiAssistant": {
                  "request": {
                    "$ref": "ChatAiAssistantRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:chatAiAssistant",
                  "id": "ces.projects.locations.apps.chatAiAssistant",
                  "description": "Runs the Chat AI assistant agent for the specified assistant session.",
                  "parameters": {
                    "app": {
                      "type": "string",
                      "description": "Required. The app to run assistant for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ChatAiAssistantResponse"
                  },
                  "parameterOrder": [
                    "app"
                  ],
                  "path": "v1beta/{+app}:chatAiAssistant",
                  "httpMethod": "POST"
                },
                "importEvaluations": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports evaluations into the app.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:importEvaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.importEvaluations",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The app to import the evaluations into. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ImportEvaluationsRequest"
                  },
                  "path": "v1beta/{+parent}:importEvaluations",
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "App"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app to retrieve."
                    }
                  },
                  "description": "Gets details of the specified app."
                },
                "generateAppResource": {
                  "request": {
                    "$ref": "GenerateAppResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ces.projects.locations.apps.generateAppResource",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}:generateAppResource",
                  "description": "Generates specific resources (e.g. agent) in the app using LLM assistant.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:generateAppResource",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the app to generate the resource for.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "testPersonaVoice": {
                  "parameterOrder": [
                    "app"
                  ],
                  "id": "ces.projects.locations.apps.testPersonaVoice",
                  "path": "v1beta/{+app}:testPersonaVoice",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:testPersonaVoice",
                  "request": {
                    "$ref": "TestPersonaVoiceRequest"
                  },
                  "description": "Tests the voice of a persona. Also accepts a default persona.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestPersonaVoiceResponse"
                  },
                  "parameters": {
                    "app": {
                      "description": "Required. the resource name of the app to test the persona voice for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "getExtendedAgentCard": {
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.apps.getExtendedAgentCard",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/extendedAgentCard",
                  "parameters": {
                    "tenant": {
                      "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "tenant"
                  ],
                  "path": "v1beta/{+tenant}/extendedAgentCard",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "LfA2aV1AgentCard"
                  },
                  "description": "Gets the extended agent card for the authenticated agent."
                },
                "runAssistant": {
                  "parameterOrder": [
                    "app"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "RunAssistantResponse"
                  },
                  "id": "ces.projects.locations.apps.runAssistant",
                  "request": {
                    "$ref": "RunAssistantRequest"
                  },
                  "path": "v1beta/{+app}:runAssistant",
                  "httpMethod": "POST",
                  "description": "Runs the assistant agent for the specified assistant session.",
                  "parameters": {
                    "app": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The app to run assistant for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:runAssistant"
                },
                "exportApp": {
                  "description": "Exports the specified app.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ces.projects.locations.apps.exportApp",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ExportAppRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the app to export.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:exportApp",
                  "path": "v1beta/{+name}:exportApp",
                  "httpMethod": "POST"
                },
                "patch": {
                  "path": "v1beta/{+name}",
                  "description": "Updates the specified app.",
                  "httpMethod": "PATCH",
                  "id": "ces.projects.locations.apps.patch",
                  "response": {
                    "$ref": "App"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated."
                    },
                    "name": {
                      "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "App"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "runEvaluation": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Runs an evaluation of the app.",
                  "id": "ces.projects.locations.apps.runEvaluation",
                  "parameters": {
                    "app": {
                      "type": "string",
                      "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+app}:runEvaluation",
                  "request": {
                    "$ref": "RunEvaluationRequest"
                  },
                  "parameterOrder": [
                    "app"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:runEvaluation"
                },
                "delete": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the specified app.",
                  "httpMethod": "DELETE",
                  "id": "ces.projects.locations.apps.delete",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The current etag of the app. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app, deletion will be blocked and an ABORTED error will be returned."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app to delete."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "tools": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "description": "Required. The resource name of the tool to retrieve."
                        }
                      },
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.tools.get",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified tool.",
                      "response": {
                        "$ref": "Tool"
                      }
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.tools.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list tools from.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "description": "Lists tools in the given app."
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to create a tool in.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "toolId": {
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Tool"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.tools.create",
                      "description": "Creates a new tool in the given app.",
                      "path": "v1beta/{+parent}/tools",
                      "response": {
                        "$ref": "Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Tool"
                      },
                      "id": "ces.projects.locations.apps.tools.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates the specified tool.",
                      "path": "v1beta/{+name}",
                      "request": {
                        "$ref": "Tool"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "ces.projects.locations.apps.tools.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "description": "Required. The resource name of the tool to delete."
                        },
                        "etag": {
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted."
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "description": "Deletes the specified tool.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "scheduledEvaluationRuns": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the scheduled evaluation run to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The etag of the ScheduledEvaluationRun. If provided, it must match the server's etag.",
                          "location": "query"
                        }
                      },
                      "description": "Deletes a scheduled evaluation run.",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}",
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The app to create the scheduled evaluation run for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string"
                        },
                        "scheduledEvaluationRunId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the scheduled evaluation run, which will become the final component of the scheduled evaluation run's resource name. If not provided, a unique ID will be automatically assigned.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a scheduled evaluation run.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns",
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.create",
                      "request": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "path": "v1beta/{+parent}/scheduledEvaluationRuns",
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "description": "Gets details of the specified scheduled evaluation run.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}",
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "description": "Required. The resource name of the scheduled evaluation run to retrieve.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}"
                    },
                    "patch": {
                      "description": "Updates a scheduled evaluation run.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.patch",
                      "request": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to list scheduled evaluation runs from."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListScheduledEvaluationRuns call."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Supported fields are: \"name\" (ascending), \"create_time\" (descending), \"update_time\" (descending), \"next_scheduled_execution\" (ascending), and \"last_completed_run.create_time\" (descending). If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the scheduled evaluation runs. See https://google.aip.dev/160 for more details. Currently supports filtering by: * request.evaluations:evaluation_id * request.evaluation_dataset:evaluation_dataset_id",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/scheduledEvaluationRuns",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all scheduled evaluation runs in the given app.",
                      "response": {
                        "$ref": "ListScheduledEvaluationRunsResponse"
                      }
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the changelog to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets the specified changelog.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Changelog"
                      },
                      "id": "ces.projects.locations.apps.changelogs.get"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/changelogs",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to list changelogs from."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists the changelogs of the specified app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "assistantSessions": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The app to list assistant sessions from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AssistantService.ListAssistantSessions call."
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the assistant sessions. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.assistantSessions.list",
                      "response": {
                        "$ref": "ListAssistantSessionsResponse"
                      },
                      "description": "Lists all assistant sessions in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/assistantSessions",
                      "path": "v1beta/{+parent}/assistantSessions",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "cancelAssistantTurn": {
                      "response": {
                        "$ref": "CancelAssistantTurnResponse"
                      },
                      "path": "v1beta/{+name}:cancelAssistantTurn",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/assistantSessions/[^/]+$",
                          "type": "string",
                          "description": "Required. The assistant session whose in-flight turn to cancel."
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelAssistantTurnRequest"
                      },
                      "id": "ces.projects.locations.apps.assistantSessions.cancelAssistantTurn",
                      "description": "Cancels the assistant session's in-flight turn, if any: the explicit user stop for a turn running detached from any stream. A cancel landing on a task that does not host the turn preempts it through the session turn epoch instead, ending it within one lease renewal.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/assistantSessions/{assistantSessionsId}:cancelAssistantTurn"
                    },
                    "get": {
                      "response": {
                        "$ref": "AssistantSession"
                      },
                      "description": "Gets details of the specified assistant session.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.assistantSessions.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/assistantSessions/[^/]+$",
                          "description": "Required. The name of the assistant session to retrieve. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/assistantSessions/{assistantSessionsId}"
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/assistantSessions/{assistantSessionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the assistant session to delete. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/assistantSessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Deletes the specified assistant session.",
                      "id": "ces.projects.locations.apps.assistantSessions.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "streamChatAiAssistant": {
                      "path": "v1beta/{+name}:streamChatAiAssistant",
                      "id": "ces.projects.locations.apps.assistantSessions.streamChatAiAssistant",
                      "response": {
                        "$ref": "StreamChatAiAssistantResponse"
                      },
                      "request": {
                        "$ref": "StreamChatAiAssistantRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/assistantSessions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/assistantSessions/{assistantSessionsId}:streamChatAiAssistant",
                      "description": "Runs the Chat AI assistant agent for the specified assistant session in a streaming fashion.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "path": "v1beta/{+parent}/assistantSessions",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The app to create the assistant session in Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "ces.projects.locations.apps.assistantSessions.create",
                      "request": {
                        "$ref": "CreateAssistantSessionRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "AssistantSession"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new assistant session in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/assistantSessions",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "guardrails": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.guardrails.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "description": "Required. The resource name of the guardrail to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the guardrail, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any apps/agents still reference the guardrail. * If `force = true`, all existing references from apps/agents will be removed and the guardrail will be deleted."
                        },
                        "etag": {
                          "description": "Optional. The current etag of the guardrail. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the guardrail, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "description": "Deletes the specified guardrail."
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The resource name of the app to create a guardrail in.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "guardrailId": {
                          "description": "Optional. The ID to use for the guardrail, which will become the final component of the guardrail's resource name. If not provided, a unique ID will be automatically assigned for the guardrail.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "path": "v1beta/{+parent}/guardrails",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "description": "Creates a new guardrail in the given app.",
                      "id": "ces.projects.locations.apps.guardrails.create",
                      "request": {
                        "$ref": "Guardrail"
                      }
                    },
                    "get": {
                      "description": "Gets details of the specified guardrail.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the guardrail to retrieve.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.guardrails.get",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "httpMethod": "GET"
                    },
                    "list": {
                      "path": "v1beta/{+parent}/guardrails",
                      "id": "ces.projects.locations.apps.guardrails.list",
                      "response": {
                        "$ref": "ListGuardrailsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the guardrails. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListGuardrails call."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list guardrails from.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "description": "Lists guardrails in the given app.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated."
                        }
                      },
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.guardrails.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates the specified guardrail.",
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "response": {
                        "$ref": "Guardrail"
                      }
                    }
                  }
                },
                "evaluationExpectations": {
                  "methods": {
                    "patch": {
                      "path": "v1beta/{+name}",
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "description": "Updates an evaluation expectation.",
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.evaluationExpectations.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the evaluation expectation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation expectation, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The resource name of the evaluation expectation to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes an evaluation expectation."
                    },
                    "list": {
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list evaluation expectations from.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation expectations. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationExpectations call.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListEvaluationExpectationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "description": "Lists all evaluation expectations in the given app."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.create",
                      "description": "Creates an evaluation expectation.",
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "parameters": {
                        "evaluationExpectationId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the evaluation expectation, which will become the final component of the evaluation expectation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation expectation.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The app to create the evaluation expectation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "get": {
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "description": "Required. The resource name of the evaluation expectation to retrieve."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "id": "ces.projects.locations.apps.evaluationExpectations.get",
                      "description": "Gets details of the specified evaluation expectation.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "evaluationRuns": {
                  "methods": {
                    "list": {
                      "id": "ces.projects.locations.apps.evaluationRuns.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns",
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/evaluationRuns",
                      "response": {
                        "$ref": "ListEvaluationRunsResponse"
                      },
                      "description": "Lists all evaluation runs in the given app.",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the evaluation runs. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationRuns call."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to list evaluation runs from.",
                          "location": "path",
                          "required": true
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details."
                        }
                      }
                    },
                    "export": {
                      "path": "v1beta/{+parent}/evaluationRuns:export",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns:export",
                      "description": "Exports evaluations runs.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ExportEvaluationRunsRequest"
                      },
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.evaluationRuns.export",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to export evaluation runs from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns/{evaluationRunsId}",
                      "id": "ces.projects.locations.apps.evaluationRuns.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationRuns/[^/]+$",
                          "description": "Required. The resource name of the evaluation run to delete.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes an evaluation run."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the evaluation run to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationRuns/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns/{evaluationRunsId}",
                      "description": "Gets details of the specified evaluation run.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "EvaluationRun"
                      },
                      "id": "ces.projects.locations.apps.evaluationRuns.get",
                      "path": "v1beta/{+name}"
                    }
                  }
                },
                "agents": {
                  "methods": {
                    "create": {
                      "path": "v1beta/{+parent}/agents",
                      "description": "Creates a new agent in the given app.",
                      "response": {
                        "$ref": "Agent"
                      },
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.agents.create",
                      "parameters": {
                        "agentId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the agent, which will become the final component of the agent's resource name. If not provided, a unique ID will be automatically assigned for the agent."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to create an agent in."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListAgentsResponse"
                      },
                      "path": "v1beta/{+parent}/agents",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the agents. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAgents call.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list agents from.",
                          "type": "string"
                        }
                      },
                      "description": "Lists agents in the given app.",
                      "scopes": [
[...]
