{
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "description": "",
  "version": "v1beta",
  "rootUrl": "https://ces.googleapis.com/",
  "id": "ces:v1beta",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    }
  },
  "title": "Gemini Enterprise for Customer Experience API",
  "schemas": {
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "dataSource": {
          "type": "string",
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        }
      },
      "description": "The connector config for the data store connection.",
      "type": "object"
    },
    "LfA2aV1Message": {
      "id": "LfA2aV1Message",
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "type": "object",
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "description": "Required. Identifies the sender of the message.",
          "type": "string"
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "contextId": {
          "type": "string",
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any metadata to provide along with the message.",
          "type": "object"
        },
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "referenceTaskIds": {
          "type": "array",
          "description": "A list of task IDs that this message references for additional context.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudLoggingSettings": {
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ExperimentConfig": {
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "id": "ExperimentConfig",
      "type": "object",
      "description": "Experiment for the deployment."
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "description": "The observed tool call and response.",
      "properties": {
        "toolCall": {
          "readOnly": true,
          "description": "Output only. The observed tool call.",
          "$ref": "ToolCall"
        },
        "toolResponse": {
          "description": "Output only. The observed tool response.",
          "$ref": "ToolResponse",
          "readOnly": true
        }
      },
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
      "type": "object"
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "id": "DataStoreToolModalityConfig",
      "type": "object",
      "properties": {
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "snippetsConfig": {
          "description": "Optional. The snippets configuration.",
          "$ref": "DataStoreToolSnippetsConfig"
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "modalityType": {
          "description": "Required. The modality type.",
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ]
        }
      }
    },
    "RunSessionResponse": {
      "properties": {
        "outputs": {
          "type": "array",
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      },
      "description": "Response message for SessionService.RunSession.",
      "id": "RunSessionResponse",
      "type": "object"
    },
    "EvaluationRunEvaluationRunSummary": {
      "type": "object",
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "properties": {
        "errorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "readOnly": true
        },
        "passedCount": {
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "failedCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of failed results for the associated Evaluation in this run."
        }
      },
      "id": "EvaluationRunEvaluationRunSummary"
    },
    "EvaluationRunCachingSettings": {
      "description": "Settings for evaluation run caching.",
      "type": "object",
      "id": "EvaluationRunCachingSettings",
      "properties": {
        "runCachingMode": {
          "type": "string",
          "enumDescriptions": [
            "The run caching mode is unspecified.",
            "Always execute a full live simulation regardless of whether changelogs exist.",
            "Skip execution and copy previous verified results if no dependencies have mutated, the evaluation channel/run method are the same."
          ],
          "description": "Optional. The caching mode to use for the evaluation run. If not set, default to FORCE_RUN.",
          "enum": [
            "EVALUATION_RUN_CACHING_MODE_UNSPECIFIED",
            "FORCE_RUN",
            "SKIP_IF_UNCHANGED"
          ]
        }
      }
    },
    "GenerateAppResourceRequestAppGenerationConfig": {
      "description": "The configuration to be used to generate the app.",
      "id": "GenerateAppResourceRequestAppGenerationConfig",
      "properties": {
        "fileContexts": {
          "description": "Optional. The files to be used as context.",
          "items": {
            "$ref": "FileContext"
          },
          "type": "array"
        },
        "gcsLocation": {
          "description": "Optional. The Cloud Storage location to store the generated question answer data to be used by the Datastore tool. This data is generated only when using conversation data as an input source. The location must be in the same project as the app. Format: `gs://...`.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Optional. The context which describes the requirements of the agents & tools to be generated."
        },
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the agents & tools. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        },
        "generateEvaluations": {
          "description": "Optional. Whether to generate the evaluations for the app. If true, the provided context will be used to generate the evaluations data.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Tool": {
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the tool was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the tool was last updated."
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "executionType": {
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "timeout": {
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "format": "google-duration",
          "type": "string"
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        }
      },
      "id": "Tool",
      "type": "object",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals."
    },
    "DataStoreToolSummarizationConfig": {
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether summarization is disabled."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        }
      },
      "type": "object"
    },
    "ChannelProfileWhatsAppConfig": {
      "description": "Configuration specific to WhatsApp deployments.",
      "type": "object",
      "properties": {
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "thumbnailUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business page name."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the Meta business page or profile."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number in E.164 format."
        },
        "phoneNumberId": {
          "type": "string",
          "description": "Required. The Meta phone number ID."
        }
      },
      "id": "ChannelProfileWhatsAppConfig"
    },
    "GenerateChatTokenResponse": {
      "properties": {
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "format": "google-datetime",
          "type": "string"
        },
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        }
      },
      "type": "object",
      "id": "GenerateChatTokenResponse",
      "description": "Response message for WidgetService.GenerateChatToken."
    },
    "GoogleSearchToolPromptConfig": {
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "type": "object",
      "properties": {
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        },
        "textPrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used."
        }
      },
      "id": "GoogleSearchToolPromptConfig"
    },
    "Chunk": {
      "id": "Chunk",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Custom payload data.",
          "type": "object"
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        }
      },
      "description": "A chunk of content within a message."
    },
    "AggregatedMetricsMetricsByAppVersion": {
      "id": "AggregatedMetricsMetricsByAppVersion",
      "properties": {
        "toolCallLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this app version.",
          "type": "array",
          "readOnly": true
        },
        "turnLatencyMetrics": {
          "description": "Output only. Metrics for turn latency within this app version.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          }
        },
        "passCount": {
          "description": "Output only. The number of times the evaluation passed.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "metricsByTurn": {
          "type": "array",
          "description": "Output only. Metrics aggregated per turn within this app version.",
          "items": {
            "$ref": "AggregatedMetricsMetricsByTurn"
          },
          "readOnly": true
        },
        "appVersionId": {
          "readOnly": true,
          "description": "Output only. The app version ID.",
          "type": "string"
        },
        "toolMetrics": {
          "description": "Output only. Metrics for each tool within this app version.",
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "readOnly": true
        },
        "semanticSimilarityMetrics": {
          "readOnly": true,
          "description": "Output only. Metrics for semantic similarity within this app version.",
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          }
        },
        "hallucinationMetrics": {
          "readOnly": true,
          "description": "Output only. Metrics for hallucination within this app version.",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          },
          "type": "array"
        },
        "failCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of times the evaluation failed."
        }
      },
      "description": "Metrics aggregated per app version.",
      "type": "object"
    },
    "ChannelProfilePersonaProperty": {
      "properties": {
        "persona": {
          "type": "string",
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      },
      "type": "object",
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel."
    },
    "DataStoreToolEngineSource": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "dataStoreSources": {
          "type": "array",
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        }
      },
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores."
    },
    "ListEvaluationDatasetsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationDatasets.",
      "id": "ListEvaluationDatasetsResponse",
      "properties": {
        "evaluationDatasets": {
          "items": {
            "$ref": "EvaluationDataset"
          },
          "type": "array",
          "description": "The list of evaluation datasets."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationDatasetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuardrailCodeCallback": {
      "properties": {
        "afterAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        }
      },
      "id": "GuardrailCodeCallback",
      "type": "object",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided."
    },
    "EvaluationPersona": {
      "description": "A persona represents an end user in an evaluation.",
      "properties": {
        "speechConfig": {
          "description": "Optional. Configuration for how the persona sounds (TTS settings).",
          "$ref": "EvaluationPersonaSpeechConfig"
        },
        "displayName": {
          "description": "Required. The display name of the persona. Unique within an app.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the persona."
        },
        "personality": {
          "type": "string",
          "description": "Required. An instruction for the agent on how to behave in the evaluation."
        },
        "name": {
          "description": "Required. The unique identifier of the persona. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationPersona"
    },
    "LfA2aV1AuthenticationInfo": {
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        },
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        }
      },
      "id": "LfA2aV1AuthenticationInfo",
      "type": "object",
      "description": "Defines authentication details, used for push notifications."
    },
    "TriggerAction": {
      "properties": {
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        },
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "generativeAnswer": {
          "$ref": "TriggerActionGenerativeAnswer",
          "description": "Optional. Respond with a generative answer."
        }
      },
      "id": "TriggerAction",
      "type": "object",
      "description": "Action that is taken when a certain precondition is met."
    },
    "GuardrailLlmPolicy": {
      "properties": {
        "policyScope": {
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "type": "string"
        },
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "maxConversationMessages": {
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32",
          "type": "integer"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GuardrailLlmPolicy",
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "CitationsInlineCitation": {
      "type": "object",
      "description": "An inline citation in the response text.",
      "id": "CitationsInlineCitation",
      "properties": {
        "endIndex": {
          "description": "The ending index (in bytes) of the text segment in the agent response.",
          "format": "int32",
          "type": "integer"
        },
        "citedChunkIndices": {
          "description": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "startIndex": {
          "description": "The starting index (in bytes) of the text segment in the agent response.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "id": "LfA2aV1StreamResponse",
      "properties": {
        "task": {
          "description": "A Task object containing the current state of the task.",
          "$ref": "LfA2aV1Task"
        },
        "artifactUpdate": {
          "description": "An event indicating a task artifact update.",
          "$ref": "LfA2aV1TaskArtifactUpdateEvent"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A Message object containing a message from the agent."
        },
        "statusUpdate": {
          "description": "An event indicating a task status update.",
          "$ref": "LfA2aV1TaskStatusUpdateEvent"
        }
      },
      "type": "object"
    },
    "SessionOutputDiagnosticInfo": {
      "type": "object",
      "description": "Contains execution details during the processing.",
      "id": "SessionOutputDiagnosticInfo",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "List of the messages that happened during the processing."
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      }
    },
    "GuardrailModelSafety": {
      "type": "object",
      "properties": {
        "safetySettings": {
          "description": "Required. List of safety settings.",
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          }
        }
      },
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "id": "GuardrailModelSafety"
    },
    "AggregatedMetrics": {
      "description": "Aggregated metrics for an evaluation or evaluation dataset.",
      "type": "object",
      "properties": {
        "metricsByAppVersion": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Aggregated metrics, grouped by app version ID.",
          "items": {
            "$ref": "AggregatedMetricsMetricsByAppVersion"
          }
        }
      },
      "id": "AggregatedMetrics"
    },
    "QualityReportAgentIssues": {
      "id": "QualityReportAgentIssues",
      "type": "object",
      "description": "Issues identified for a single agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "description": "Optional. List of issues found for this agent."
        }
      }
    },
    "ExportEvaluationRunsRequest": {
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The resource names of the evaluation runs to export.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Optional. The export options for the evaluation runs."
        }
      },
      "id": "ExportEvaluationRunsRequest",
      "description": "Request message for EvaluationService.ExportEvaluationRuns."
    },
    "LfA2aV1OAuthFlows": {
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "properties": {
        "clientCredentials": {
          "description": "Configuration for the OAuth Client Credentials flow.",
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow"
        },
        "deviceCode": {
          "$ref": "LfA2aV1DeviceCodeOAuthFlow",
          "description": "Configuration for the OAuth Device Code flow."
        },
        "password": {
          "deprecated": true,
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
        },
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        },
        "implicit": {
          "$ref": "LfA2aV1ImplicitOAuthFlow",
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead."
        }
      },
      "id": "LfA2aV1OAuthFlows",
      "type": "object"
    },
    "GuardrailSupervisor": {
      "description": "Guardrail that runs supervisor intervention.",
      "properties": {
        "detectionMode": {
          "description": "Optional. The detection mode of the supervisor.",
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ],
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ],
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of the supervisor.",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO"
          ]
        }
      },
      "id": "GuardrailSupervisor",
      "type": "object"
    },
    "EvaluationRunProgress": {
      "id": "EvaluationRunProgress",
      "properties": {
        "failedCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of completed evaluation results with an outcome of FAIL. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is FAIL)."
        },
        "errorCount": {
          "format": "int32",
          "description": "Output only. Number of evaluation results that failed to execute. (EvaluationResult.execution_state is ERROR).",
          "type": "integer",
          "readOnly": true
        },
        "cancelledCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of evaluation results that were cancelled. (EvaluationResult.execution_state is CANCELLED)."
        },
        "passedCount": {
          "description": "Output only. Number of completed evaluation results with an outcome of PASS. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is PASS).",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "totalCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Total number of evaluation results in this run."
        },
        "completedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of evaluation results that finished successfully. (EvaluationResult.execution_state is COMPLETED).",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The progress of the evaluation run."
    },
    "EvaluationMetricsConfig": {
      "properties": {
        "goldenMetricsConfig": {
          "$ref": "EvaluationMetricsConfigGoldenMetricsConfig",
          "description": "Optional. Configuration for the golden metrics for the evaluation."
        },
        "scenarioMetricsConfig": {
          "$ref": "EvaluationMetricsConfigScenarioMetricsConfig",
          "description": "Optional. Configuration for the scenario metrics for the evaluation."
        }
      },
      "description": "Configures the metrics for an evaluation.",
      "id": "EvaluationMetricsConfig",
      "type": "object"
    },
    "DataStoreToolBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      },
      "id": "DataStoreToolBoostSpec"
    },
    "LfA2aV1AgentSkill": {
      "type": "object",
      "id": "LfA2aV1AgentSkill",
      "properties": {
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle."
        },
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "securityRequirements": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security schemes necessary for this skill."
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "LfA2aV1AgentInterface": {
      "id": "LfA2aV1AgentInterface",
      "type": "object",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        },
        "protocolVersion": {
          "type": "string",
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
        }
      }
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "description": "TimeZone settings of the app.",
      "type": "object"
    },
    "AgentInterface": {
      "properties": {
        "tenant": {
          "description": "Tenant ID to be used in the request when calling the agent.",
          "type": "string"
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms."
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          }
        }
      },
      "description": "Response message for EvaluationService.ListEvaluations.",
      "id": "ListEvaluationsResponse"
    },
    "EvaluationResultSemanticSimilarityResult": {
      "properties": {
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the semantic similarity check. This is determined by comparing the score to the semantic_similarity_success_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "type": "string",
          "readOnly": true
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the semantic similarity score."
        },
        "label": {
          "type": "string",
          "description": "Output only. The label associated with each score. Score 4: Fully Consistent Score 3: Mostly Consistent Score 2: Partially Consistent (Minor Omissions) Score 1: Largely Inconsistent (Major Omissions) Score 0: Completely Inconsistent / Contradictory",
          "readOnly": true
        },
        "score": {
          "type": "integer",
          "description": "Output only. The semantic similarity score. Can be 0, 1, 2, 3, or 4.",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "EvaluationResultSemanticSimilarityResult",
      "description": "The result of the semantic similarity check.",
      "type": "object"
    },
    "SecuritySettings": {
      "type": "object",
      "description": "Project/Location level security settings for CES.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of the security settings."
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of the security settings."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the security settings."
        },
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        }
      },
      "id": "SecuritySettings"
    },
    "LatencyReportGuardrailLatency": {
      "type": "object",
      "properties": {
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true,
          "description": "Output only. The latency metrics for the guardrail."
        },
        "guardrail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`."
        },
        "guardrailDisplayName": {
          "description": "Output only. The display name of the guardrail.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Latency metrics for a single guardrail.",
      "id": "LatencyReportGuardrailLatency"
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "type": "object",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "properties": {
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        },
        "disableBargeIn": {
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored.",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "GuardrailContentFilter": {
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "type": "object",
      "properties": {
        "bannedContents": {
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bannedContentsInUserInput": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "items": {
            "type": "string"
          }
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "matchType": {
          "description": "Required. Match type for the content filter.",
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ]
        },
        "bannedContentsInAgentResponse": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "type": "array"
        }
      },
      "id": "GuardrailContentFilter"
    },
    "EvaluationResultScenarioExpectationOutcome": {
      "properties": {
        "observedAgentResponse": {
          "description": "Output only. The observed agent response.",
          "$ref": "Message",
          "readOnly": true
        },
        "observedToolCall": {
          "$ref": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
          "description": "Output only. The observed tool call.",
          "readOnly": true
        },
        "expectation": {
          "$ref": "EvaluationScenarioExpectation",
          "description": "Output only. The expectation that was evaluated.",
          "readOnly": true
        },
        "outcome": {
          "description": "Output only. The outcome of the ScenarioExpectation.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        }
      },
      "type": "object",
      "description": "The outcome of a scenario expectation.",
      "id": "EvaluationResultScenarioExpectationOutcome"
    },
    "ConnectorTool": {
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        }
      },
      "type": "object",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "id": "ConnectorTool"
    },
    "ToolCalls": {
      "properties": {
        "toolCalls": {
          "description": "Optional. The list of tool calls to execute.",
          "items": {
            "$ref": "ToolCall"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "id": "ToolCalls"
    },
    "GenerateAppResourceRequestAppVersionContext": {
      "properties": {
        "agentResourceName": {
          "type": "string",
          "description": "The resource name of the target agent to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "appVersion": {
          "description": "The resource name of the app version to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        }
      },
      "description": "The app version context specifying the base snapshot and target agent.",
      "id": "GenerateAppResourceRequestAppVersionContext",
      "type": "object"
    },
    "AgentSkill": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle."
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array"
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        }
      },
      "id": "AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "type": "object",
      "id": "BatchDeleteConversationsRequest",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AggregatedMetricsSemanticSimilarityMetrics": {
      "id": "AggregatedMetricsSemanticSimilarityMetrics",
      "properties": {
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. The average semantic similarity score (0-4)."
        }
      },
      "type": "object",
      "description": "Metrics for semantic similarity results."
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The agent will transfer the conversation to a different agent.",
      "id": "TriggerActionTransferAgent"
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "type": "object",
      "properties": {
        "maxFallbackAttempts": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal."
        },
        "customFallbackMessages": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language)."
        }
      },
      "description": "Configuration for handling fallback responses.",
      "id": "ErrorHandlingSettingsFallbackResponseConfig"
    },
    "ServiceAccountAuthConfig": {
      "description": "Configurations for authentication using a custom service account.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "type": "array"
        }
      },
      "id": "ServiceAccountAuthConfig",
      "type": "object"
    },
    "LatencyReportToolLatency": {
      "id": "LatencyReportToolLatency",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "readOnly": true,
          "description": "Output only. The toolset tool identifier."
        },
        "toolDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tool."
        },
        "tool": {
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "readOnly": true
        },
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the tool.",
          "readOnly": true
        }
      },
      "description": "Latency metrics for a single tool.",
      "type": "object"
    },
    "ExportAppResponse": {
      "description": "Response message for AgentService.ExportApp.",
      "id": "ExportAppResponse",
      "type": "object",
      "properties": {
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        },
        "appContent": {
          "format": "byte",
          "description": "App folder compressed as a zip file.",
          "type": "string"
        }
      }
    },
    "McpToolOverride": {
      "id": "McpToolOverride",
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        }
      }
    },
    "EvaluationMetricsConfigUserGoalMetMetricsConfig": {
      "description": "Configuration for the user goal met metrics for the evaluation. To disable the metric, set the message but do not set the `enable_user_goal_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object",
      "id": "EvaluationMetricsConfigUserGoalMetMetricsConfig",
      "properties": {
        "enableUserGoalMetMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate the user goal met metrics for the evaluation."
        }
      }
    },
    "ListToolsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "description": "The list of tools.",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "type": "object",
      "id": "ListToolsResponse"
    },
    "GenerateAppResourceResponseTools": {
      "description": "The list of tools generated by the LLM assistant.",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools generated by the LLM assistant.",
          "type": "array"
        }
      },
      "id": "GenerateAppResourceResponseTools",
      "type": "object"
    },
    "EvaluationMetricsConfigGoldenMetricsConfig": {
      "id": "EvaluationMetricsConfigGoldenMetricsConfig",
      "description": "Configuration for the golden metrics for the evaluation.",
      "properties": {
        "toolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for turn level tool correctness metrics."
        },
        "semanticSimilarityMetricsConfig": {
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
          "description": "Optional. Global configuration for semantic similarity metrics."
        },
        "stepToolCorrectnessMetricsConfig": {
          "description": "Optional. Configuration for step level tool correctness metrics.",
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig"
        }
      },
      "type": "object"
    },
    "SystemTool": {
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the system tool."
        },
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Pre-defined system tool.",
      "id": "SystemTool"
    },
    "EvaluationPersonaSpeechConfig": {
      "id": "EvaluationPersonaSpeechConfig",
      "description": "Configuration for Text-to-Speech generation.",
      "type": "object",
      "properties": {
        "environment": {
          "description": "Optional. The simulated audio environment.",
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ],
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ],
          "type": "string"
        },
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers.",
          "format": "double"
        },
        "voiceId": {
          "type": "string",
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\""
        }
      }
    },
    "EvaluationResultOverallToolInvocationResult": {
      "id": "EvaluationResultOverallToolInvocationResult",
      "properties": {
        "toolInvocationScore": {
          "type": "number",
          "format": "float",
          "description": "The overall tool invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked."
        },
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the tool_invocation_score to the overall_tool_invocation_correctness_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result of the overall tool invocation check."
    },
    "AppVariableDeclaration": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        }
      },
      "description": "Defines the structure and metadata for a variable.",
      "type": "object",
      "id": "AppVariableDeclaration"
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "properties": {
        "mockConfig": {
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses.",
          "$ref": "MockConfig"
        },
        "context": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The variables that are available for the tool execution.",
          "type": "object"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Request message for ToolService.ExecuteTool.",
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "properties": {
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "prefixItems": {
          "items": {
            "$ref": "Schema"
          },
          "type": "array",
          "description": "Optional. Schemas of initial elements of Type.ARRAY."
        },
        "maxItems": {
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "minimum": {
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minItems": {
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "anyOf": {
          "items": {
            "$ref": "Schema"
          },
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "required": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        }
      },
      "id": "Schema",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object."
    },
    "ExportOptions": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Optional. The Google Cloud Storage URI to write the exported Evaluation Results to.",
          "type": "string"
        },
        "exportFormat": {
          "enumDescriptions": [
            "Unspecified format.",
            "JSON format.",
            "YAML format."
          ],
          "description": "Optional. The format to export the evaluation results in. Defaults to JSON if not specified.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        }
      },
      "description": "Options for exporting CES evaluation resources.",
      "id": "ExportOptions"
    },
    "UploadEvaluationAudioResponse": {
      "id": "UploadEvaluationAudioResponse",
      "description": "Response message for EvaluationService.UploadEvaluationAudio.",
      "type": "object",
      "properties": {
        "audioGcsUri": {
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`",
          "type": "string"
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration of the audio."
        }
      }
    },
    "EvaluationGoldenTurn": {
      "type": "object",
      "properties": {
        "steps": {
          "description": "Required. The steps required to replay a golden conversation.",
          "items": {
            "$ref": "EvaluationStep"
          },
          "type": "array"
        },
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "hallucinationMetricBehaviorOverride": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate."
        }
      },
      "id": "EvaluationGoldenTurn",
      "description": "A golden turn defines a single turn in a golden conversation."
    },
    "AgentRemoteA2aAgent": {
      "id": "AgentRemoteA2aAgent",
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      },
      "type": "object"
    },
    "GenerateAppResourceRequestQualityReportGenerationConfig": {
      "properties": {
        "algorithm": {
          "enumDescriptions": [
            "Unspecified.",
            "App-centric loss attribution. Treats the app as a single unit.",
            "Agent-centric loss attribution. Attributes loss to individual agents."
          ],
          "enum": [
            "LOSS_ATTRIBUTION_ALGORITHM_UNSPECIFIED",
            "APP_CENTRIC",
            "AGENT_CENTRIC"
          ],
          "description": "Optional. The loss attribution algorithm to use.",
          "type": "string"
        },
        "evaluationRun": {
          "description": "Required. The evaluation run used to inform quality report analysis.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestQualityReportGenerationConfig",
      "description": "The configuration to be used for quality report generation."
    },
    "MetricAnalysisSettings": {
      "properties": {
        "llmMetricsOptedOut": {
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected.",
          "type": "boolean"
        }
      },
      "id": "MetricAnalysisSettings",
      "type": "object",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline."
    },
    "LfA2aV1TaskStatus": {
      "description": "A container for the status of a task",
      "id": "LfA2aV1TaskStatus",
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "format": "google-datetime"
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        },
        "state": {
          "description": "Required. The current state of this task.",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ]
        }
      }
    },
    "ToolResponses": {
      "properties": {
        "toolResponses": {
          "type": "array",
          "items": {
            "$ref": "ToolResponse"
          },
          "description": "Optional. The list of tool execution results."
        }
      },
      "id": "ToolResponses",
      "type": "object",
      "description": "Execution results for the requested tool calls from the client."
    },
    "ExportEvaluationResultsRequest": {
      "type": "object",
      "properties": {
        "exportOptions": {
          "description": "Optional. The export options for the evaluation results.",
          "$ref": "ExportOptions"
        },
        "names": {
          "description": "Required. The resource names of the evaluation results to export.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for EvaluationService.ExportEvaluationResults.",
      "id": "ExportEvaluationResultsRequest"
    },
    "GenerateAppResourceResponseAppResources": {
      "id": "GenerateAppResourceResponseAppResources",
      "type": "object",
      "description": "The list of app resources generated by the LLM assistant.",
      "properties": {
        "appSnapshot": {
          "description": "The app snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant.",
          "$ref": "AppSnapshot"
        },
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations generated by the LLM assistant.",
          "items": {
            "$ref": "Evaluation"
          }
        }
      }
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "description": "Defines a security scheme using OAuth 2.0.",
      "id": "LfA2aV1OAuth2SecurityScheme",
      "type": "object",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        },
        "oauth2MetadataUrl": {
          "type": "string",
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
        }
      }
    },
    "AgentLlmAgent": {
      "properties": {},
      "id": "AgentLlmAgent",
      "type": "object",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model."
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "type": "array",
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDeploymentsResponse",
      "description": "Response message for AgentService.ListDeployments."
    },
    "LfA2aV1TaskPushNotificationConfig": {
      "description": "A container associating a push notification configuration with a specific task.",
      "type": "object",
      "properties": {
        "token": {
          "description": "A token unique for this task or session.",
          "type": "string"
        },
        "authentication": {
          "$ref": "LfA2aV1AuthenticationInfo",
          "description": "Authentication information required to send the notification."
        },
        "url": {
          "description": "Required. The URL where the notification should be sent.",
          "type": "string"
        },
        "id": {
          "description": "The push notification configuration details. A unique identifier (e.g. UUID) for this push notification configuration.",
          "type": "string"
        },
        "taskId": {
          "description": "The ID of the task this configuration is associated with.",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
        }
      },
      "id": "LfA2aV1TaskPushNotificationConfig"
    },
    "EvaluationScenario": {
      "properties": {
        "evaluationExpectations": {
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "items": {
            "type": "string"
          }
        },
        "taskCompletionBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ],
          "description": "Optional. Deprecated. Use user_goal_behavior instead.",
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ],
          "deprecated": true
        },
        "rubrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The rubrics to score the scenario against."
        },
        "scenarioExecutionMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "description": "Optional. The execution mode for scenario evaluations.",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ]
        },
        "maxTurns": {
          "format": "int32",
          "description": "Optional. The maximum number of turns to simulate. The maximum allowed value is 100. The default value is 100.",
          "type": "integer"
        },
        "task": {
          "description": "Required. The task to be targeted by the scenario.",
          "type": "string"
        },
        "userGoalBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ],
          "description": "Optional. The expected behavior of the user goal.",
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ]
        },
        "userFacts": {
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "description": "Optional. The user facts to be used by the scenario.",
          "type": "array"
        },
        "variableOverrides": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system.",
          "type": "object"
        },
        "scenarioExpectations": {
          "type": "array",
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation.",
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          }
        }
      },
      "type": "object",
      "id": "EvaluationScenario",
      "description": "The config for a scenario"
    },
    "CustomVoiceSample": {
      "id": "CustomVoiceSample",
      "description": "Configuration for a custom voice sample used for voice cloning.",
      "type": "object",
      "properties": {
        "previewAudioContent": {
          "type": "string",
          "description": "Output only. Synthesized preview audio for custom voice, formatted as canonical WAV (LINEAR16, 24kHz, 16-bit, mono).",
          "readOnly": true,
          "format": "byte"
        },
        "previewText": {
          "description": "Optional. Text for synthesizing preview audio for custom voice.",
          "type": "string"
        },
        "voiceInstruction": {
          "type": "string",
          "description": "Optional. Natural language instructions for voice style, tone, pacing, or pronunciation."
        },
        "consentAudioGcsUri": {
          "description": "Optional. Consent audio for voice cloning.",
          "type": "string"
        },
        "voiceSampleGcsUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file."
        },
        "name": {
          "type": "string",
          "description": "Optional. The user-defined name for the custom voice sample."
        }
      }
    },
    "AppSnapshot": {
      "type": "object",
      "properties": {
        "agents": {
          "description": "Optional. List of agents in the app.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "type": "array",
          "description": "Optional. List of examples in the app."
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app."
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          }
        }
      },
      "id": "AppSnapshot",
      "description": "A snapshot of the app."
    },
    "McpToolDefinition": {
      "properties": {
        "outputSchema": {
          "readOnly": true,
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "type": "string",
          "readOnly": true
        },
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "id": "McpToolDefinition"
    },
    "RetrieveToolsRequest": {
      "properties": {
        "toolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "type": "array"
        },
        "bypassPersistenceConfig": {
          "type": "boolean",
[...]
