{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "title": "Gemini Enterprise for Customer Experience API",
  "revision": "20260806",
  "id": "ces:v1beta",
  "rootUrl": "https://ces.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "version_module": true,
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "ces",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1beta/{+name}/locations",
              "httpMethod": "GET",
              "id": "ces.projects.locations.list",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "id": "ces.projects.locations.get",
              "httpMethod": "GET"
            },
            "getSecuritySettings": {
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the security settings to retrieve. Format: `projects/{project}/locations/{location}/securitySettings`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the security settings for the project and location.",
              "id": "ces.projects.locations.getSecuritySettings",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/securitySettings",
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SecuritySettings"
              }
            },
            "updateSecuritySettings": {
              "response": {
                "$ref": "SecuritySettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "ces.projects.locations.updateSecuritySettings",
              "request": {
                "$ref": "SecuritySettings"
              },
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/securitySettings",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings$",
                  "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the security settings for the project and location.",
              "path": "v1beta/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "ces.projects.locations.operations.delete",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.operations.get",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1beta/{+name}:cancel"
                }
              }
            },
            "apps": {
              "methods": {
                "runEvaluation": {
                  "path": "v1beta/{+app}:runEvaluation",
                  "parameters": {
                    "app": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "app"
                  ],
                  "description": "Runs an evaluation of the app.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:runEvaluation",
                  "id": "ces.projects.locations.apps.runEvaluation",
                  "request": {
                    "$ref": "RunEvaluationRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.apps.create",
                  "request": {
                    "$ref": "App"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the location to create an app in.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "appId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ID to use for the app, which will become the final component of the app's resource name. If not provided, a unique ID will be automatically assigned for the app."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new app in the given project and location.",
                  "path": "v1beta/{+parent}/apps",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "retrieveToolSchema": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:retrieveToolSchema",
                  "id": "ces.projects.locations.apps.retrieveToolSchema",
                  "request": {
                    "$ref": "RetrieveToolSchemaRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}:retrieveToolSchema",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieve the schema of the given tool. The schema is computed on the fly for the given instance of the tool.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "RetrieveToolSchemaResponse"
                  }
                },
                "get": {
                  "id": "ces.projects.locations.apps.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the app to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of the specified app.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "App"
                  }
                },
                "importApp": {
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.apps.importApp",
                  "request": {
                    "$ref": "ImportAppRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps:importApp",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name with the location of the app to import."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports the specified app.",
                  "path": "v1beta/{+parent}/apps:importApp",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testPersonaVoice": {
                  "response": {
                    "$ref": "TestPersonaVoiceResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:testPersonaVoice",
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.apps.testPersonaVoice",
                  "request": {
                    "$ref": "TestPersonaVoiceRequest"
                  },
                  "parameters": {
                    "app": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. the resource name of the app to test the persona voice for. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "parameterOrder": [
                    "app"
                  ],
                  "description": "Tests the voice of a persona. Also accepts a default persona.",
                  "path": "v1beta/{+app}:testPersonaVoice"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the specified app.",
                  "path": "v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "id": "ces.projects.locations.apps.patch",
                  "request": {
                    "$ref": "App"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "response": {
                    "$ref": "App"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "exportApp": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the app to export.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Exports the specified app.",
                  "path": "v1beta/{+name}:exportApp",
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.apps.exportApp",
                  "request": {
                    "$ref": "ExportAppRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:exportApp"
                },
                "importEvaluations": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.apps.importEvaluations",
                  "request": {
                    "$ref": "ImportEvaluationsRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:importEvaluations",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The app to import the evaluations into. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports evaluations into the app.",
                  "path": "v1beta/{+parent}:importEvaluations"
                },
                "generateAppResource": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:generateAppResource",
                  "id": "ces.projects.locations.apps.generateAppResource",
                  "request": {
                    "$ref": "GenerateAppResourceRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}:generateAppResource",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the app to generate the resource for.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Generates specific resources (e.g. agent) in the app using LLM assistant.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "getExtendedAgentCard": {
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.apps.getExtendedAgentCard",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/extendedAgentCard",
                  "parameters": {
                    "tenant": {
                      "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "tenant"
                  ],
                  "description": "Gets the extended agent card for the authenticated agent.",
                  "path": "v1beta/{+tenant}/extendedAgentCard",
                  "response": {
                    "$ref": "LfA2aV1AgentCard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "executeTool": {
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.apps.executeTool",
                  "request": {
                    "$ref": "ExecuteToolRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:executeTool",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Executes the given tool with the given arguments.",
                  "path": "v1beta/{+parent}:executeTool",
                  "response": {
                    "$ref": "ExecuteToolResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.apps.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the location to list apps from.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter to be applied when listing the apps. See https://google.aip.dev/160 for more details.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list AgentService.ListApps call.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists apps in the given project and location.",
                  "path": "v1beta/{+parent}/apps",
                  "response": {
                    "$ref": "ListAppsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the app to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The current etag of the app. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the specified app.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "id": "ces.projects.locations.apps.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "changelogs": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list changelogs from."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the changelogs of the specified app.",
                      "path": "v1beta/{+parent}/changelogs",
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Changelog"
                      },
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$",
                          "description": "Required. The resource name of the changelog to retrieve.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the specified changelog.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "id": "ces.projects.locations.apps.changelogs.get",
                      "httpMethod": "GET"
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "runSession": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:runSession",
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.sessions.runSession",
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "parameters": {
                        "session": {
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "description": "Initiates a single-turn interaction with the CES agent within a session.",
                      "path": "v1beta/{+session}:runSession",
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "generateChatToken": {
                      "response": {
                        "$ref": "GenerateChatTokenResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "description": "Required. The session name to generate the chat token for. Format: projects/{project}/locations/{location}/apps/{app}/sessions/{session}",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Generates a session scoped token for chat widget to authenticate with Session APIs.",
                      "path": "v1beta/{+name}:generateChatToken",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:generateChatToken",
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.sessions.generateChatToken",
                      "request": {
                        "$ref": "GenerateChatTokenRequest"
                      }
                    },
                    "streamRunSession": {
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "session": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "description": "Initiates a single-turn interaction with the CES agent. Uses server-side streaming to deliver incremental results and partial responses as they are generated. By default, complete responses (e.g., messages from callbacks or full LLM responses) are sent to the client as soon as they are available. To enable streaming individual text chunks directly from the model, set enable_text_streaming to true.",
                      "path": "v1beta/{+session}:streamRunSession",
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.sessions.streamRunSession",
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:streamRunSession"
                    }
                  }
                },
                "scheduledEvaluationRuns": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "description": "Required. The resource name of the scheduled evaluation run to retrieve."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified scheduled evaluation run.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "description": "Required. The resource name of the scheduled evaluation run to delete."
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The etag of the ScheduledEvaluationRun. If provided, it must match the server's etag.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a scheduled evaluation run.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}"
                    },
                    "create": {
                      "path": "v1beta/{+parent}/scheduledEvaluationRuns",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The app to create the scheduled evaluation run for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "scheduledEvaluationRunId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the scheduled evaluation run, which will become the final component of the scheduled evaluation run's resource name. If not provided, a unique ID will be automatically assigned.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a scheduled evaluation run.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.create",
                      "request": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListScheduledEvaluationRunsResponse"
                      },
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns",
                      "path": "v1beta/{+parent}/scheduledEvaluationRuns",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list scheduled evaluation runs from.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the scheduled evaluation runs. See https://google.aip.dev/160 for more details. Currently supports filtering by: * request.evaluations:evaluation_id * request.evaluation_dataset:evaluation_dataset_id",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Supported fields are: \"name\" (ascending), \"create_time\" (descending), \"update_time\" (descending), \"next_scheduled_execution\" (ascending), and \"last_completed_run.create_time\" (descending). If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListScheduledEvaluationRuns call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all scheduled evaluation runs in the given app."
                    },
                    "patch": {
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a scheduled evaluation run.",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.patch",
                      "request": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      }
                    }
                  }
                },
                "evaluationExpectations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "description": "Required. The resource name of the evaluation expectation to retrieve.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified evaluation expectation.",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.evaluationExpectations.get",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "httpMethod": "DELETE",
                      "id": "ces.projects.locations.apps.evaluationExpectations.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "description": "Required. The resource name of the evaluation expectation to delete.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the evaluation expectation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation expectation, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an evaluation expectation.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list evaluation expectations from."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationExpectations call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation expectations. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all evaluation expectations in the given app.",
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.evaluationExpectations.list",
                      "response": {
                        "$ref": "ListEvaluationExpectationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates an evaluation expectation.",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.evaluationExpectations.patch",
                      "request": {
                        "$ref": "EvaluationExpectation"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.create",
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The app to create the evaluation expectation for. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "evaluationExpectationId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation expectation, which will become the final component of the evaluation expectation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation expectation.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates an evaluation expectation."
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "getExtendedAgentCard": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "id": "ces.projects.locations.apps.deployments.getExtendedAgentCard",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/extendedAgentCard",
                      "path": "v1beta/{+tenant}/extendedAgentCard",
                      "parameters": {
                        "tenant": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "description": "Gets the extended agent card for the authenticated agent."
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListDeploymentsResponse"
                      },
                      "path": "v1beta/{+parent}/deployments",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeployments` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists deployments in the given app.",
                      "id": "ces.projects.locations.apps.deployments.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The list of fields to update.",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the specified deployment.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.deployments.patch",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "id": "ces.projects.locations.apps.deployments.create",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "httpMethod": "POST",
                      "path": "v1beta/{+parent}/deployments",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "deploymentId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the deployment, which will become the final component of the deployment's resource name. If not provided, a unique ID will be automatically assigned for the deployment.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new deployment in the given app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Deployment"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "ces.projects.locations.apps.deployments.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "description": "Required. The name of the deployment to delete. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The etag of the deployment. If an etag is provided and does not match the current etag of the deployment, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified deployment.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.deployments.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified deployment.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "message": {
                      "methods": {
                        "send": {
                          "parameters": {
                            "tenant": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "tenant"
                          ],
                          "description": "Sends a message to an agent.",
                          "path": "v1beta/{+tenant}/message:send",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:send",
                          "httpMethod": "POST",
                          "id": "ces.projects.locations.apps.deployments.message.send",
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                },
                "evaluationRuns": {
                  "methods": {
                    "delete": {
                      "id": "ces.projects.locations.apps.evaluationRuns.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns/{evaluationRunsId}",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationRuns/[^/]+$",
                          "description": "Required. The resource name of the evaluation run to delete."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an evaluation run.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "export": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/{+parent}/evaluationRuns:export",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to export evaluation runs from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Exports evaluations runs.",
                      "id": "ces.projects.locations.apps.evaluationRuns.export",
                      "request": {
                        "$ref": "ExportEvaluationRunsRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns:export"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the evaluation run to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationRuns/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified evaluation run.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.evaluationRuns.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns/{evaluationRunsId}",
                      "response": {
                        "$ref": "EvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListEvaluationRunsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.evaluationRuns.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to list evaluation runs from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation runs. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationRuns call.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all evaluation runs in the given app.",
                      "path": "v1beta/{+parent}/evaluationRuns"
                    }
                  }
                },
                "evaluationDatasets": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.evaluationDatasets.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "description": "Required. The resource name of the evaluation dataset to retrieve."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified evaluation dataset.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "id": "ces.projects.locations.apps.evaluationDatasets.delete",
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the evaluation dataset to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the evaluation dataset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation dataset, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an evaluation dataset.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "create": {
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The app to create the evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "evaluationDatasetId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation dataset, which will become the final component of the evaluation dataset's resource name. If not provided, a unique ID will be automatically assigned for the evaluation.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates an evaluation dataset.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets",
                      "id": "ces.projects.locations.apps.evaluationDatasets.create",
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "EvaluationDataset"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates an evaluation dataset.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.evaluationDatasets.patch",
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListEvaluationDatasetsResponse"
                      },
                      "id": "ces.projects.locations.apps.evaluationDatasets.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets",
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationDatasets call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the evaluation datasets. See https://google.aip.dev/160 for more details.",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list evaluation datasets from."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all evaluation datasets in the given app."
                    }
                  }
                },
                "agents": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.agents.create",
                      "request": {
                        "$ref": "Agent"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "parameters": {
                        "agentId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the agent, which will become the final component of the agent's resource name. If not provided, a unique ID will be automatically assigned for the agent.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the app to create an agent in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new agent in the given app.",
                      "path": "v1beta/{+parent}/agents",
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.agents.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "path": "v1beta/{+parent}/agents",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAgents call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the agents. See https://google.aip.dev/160 for more details."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
[...]
