{
  "discoveryVersion": "v1",
  "description": "",
  "version_module": true,
  "rootUrl": "https://ces.googleapis.com/",
  "schemas": {
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "type": "object",
      "properties": {
        "volumeGainDb": {
          "format": "double",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number"
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "type": "string",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "deprecated": true,
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ]
        }
      }
    },
    "DataStoreToolSnippetsConfig": {
      "type": "object",
      "description": "Snippets configuration.",
      "properties": {
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        },
        "maxSnippets": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default."
        }
      },
      "id": "DataStoreToolSnippetsConfig"
    },
    "ChannelProfileWhatsAppConfig": {
      "properties": {
        "phoneNumber": {
          "description": "Optional. The phone number in E.164 format.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name."
        },
        "phoneNumberId": {
          "description": "Required. The Meta phone number ID.",
          "type": "string"
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile.",
          "readOnly": true
        },
        "thumbnailUrl": {
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Configuration specific to WhatsApp deployments.",
      "type": "object",
      "id": "ChannelProfileWhatsAppConfig"
    },
    "ListEvaluationResultsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationResults.",
      "properties": {
        "evaluationResults": {
          "type": "array",
          "description": "The list of evaluation results.",
          "items": {
            "$ref": "EvaluationResult"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListEvaluationResultsResponse",
      "type": "object"
    },
    "AgentRegistryDeployment": {
      "description": "Configuration and status for Agent Registry deployment.",
      "type": "object",
      "id": "AgentRegistryDeployment",
      "properties": {
        "agentRegistryServiceName": {
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EvaluationMetricsConfigGoldenMetricsConfig": {
      "id": "EvaluationMetricsConfigGoldenMetricsConfig",
      "properties": {
        "stepToolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for step level tool correctness metrics."
        },
        "semanticSimilarityMetricsConfig": {
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
          "description": "Optional. Global configuration for semantic similarity metrics."
        },
        "toolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for turn level tool correctness metrics."
        }
      },
      "description": "Configuration for the golden metrics for the evaluation.",
      "type": "object"
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "type": "object",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "filterParameterBehavior": {
          "type": "string",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "modalityConfigs": {
          "type": "array",
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        },
        "boostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "description": "Optional. Boost specification to boost certain documents.",
          "type": "array"
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        }
      }
    },
    "LfA2aV1Task": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
        },
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "artifacts": {
          "type": "array",
          "description": "A set of output artifacts for a `Task`.",
          "items": {
            "$ref": "LfA2aV1Artifact"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task."
        },
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`."
        }
      },
      "type": "object",
      "id": "LfA2aV1Task",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history."
    },
    "GenerateEvaluationOperationMetadata": {
      "id": "GenerateEvaluationOperationMetadata",
      "properties": {},
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "type": "object"
    },
    "MockedToolCall": {
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "properties": {
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "mockResponse": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern.",
          "type": "object"
        },
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tool": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated. Use tool_identifier instead."
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset to mock."
        }
      },
      "id": "MockedToolCall",
      "type": "object"
    },
    "GuardrailModelSafety": {
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "properties": {
        "safetySettings": {
          "description": "Required. List of safety settings.",
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          }
        }
      },
      "type": "object"
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "properties": {
        "oauth2MetadataUrl": {
          "type": "string",
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
        },
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "description": "Defines a security scheme using OAuth 2.0.",
      "id": "LfA2aV1OAuth2SecurityScheme",
      "type": "object"
    },
    "ListScheduledEvaluationRunsResponse": {
      "type": "object",
      "id": "ListScheduledEvaluationRunsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListScheduledEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "scheduledEvaluationRuns": {
          "items": {
            "$ref": "ScheduledEvaluationRun"
          },
          "type": "array",
          "description": "The list of scheduled evaluation runs."
        }
      },
      "description": "Response message for EvaluationService.ListScheduledEvaluationRuns."
    },
    "RetrieveToolSchemaRequest": {
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "type": "object",
      "id": "RetrieveToolSchemaRequest"
    },
    "Action": {
      "type": "object",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "properties": {
        "entityOperation": {
          "$ref": "ActionEntityOperation",
          "description": "Entity operation configuration for the tool to use."
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Action"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "properties": {
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        }
      },
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object"
    },
    "Example": {
      "id": "Example",
      "type": "object",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The collection of messages that make up the conversation.",
          "type": "array"
        },
        "invalid": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the example was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the example."
        },
        "createTime": {
          "description": "Output only. Timestamp when the example was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
        }
      }
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "type": "object",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Resource name of the collection the data store belongs to."
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ClientCertificateSettings": {
      "description": "Settings for custom client certificates.",
      "id": "ClientCertificateSettings",
      "type": "object",
      "properties": {
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      }
    },
    "Tool": {
      "properties": {
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. The python function tool."
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "executionType": {
          "description": "Optional. The execution type of the tool.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "generatedSummary": {
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true,
          "type": "string"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the tool was created."
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        }
      },
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "id": "Tool",
      "type": "object"
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "type": "string",
          "readOnly": true
        },
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "AgentTransfer"
    },
    "ListEvaluationDatasetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationDatasetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluationDatasets": {
          "items": {
            "$ref": "EvaluationDataset"
          },
          "description": "The list of evaluation datasets.",
          "type": "array"
        }
      },
      "description": "Response message for EvaluationService.ListEvaluationDatasets.",
      "id": "ListEvaluationDatasetsResponse"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "type": "object",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "EvaluationRunProgress": {
      "description": "The progress of the evaluation run.",
      "id": "EvaluationRunProgress",
      "type": "object",
      "properties": {
        "failedCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of completed evaluation results with an outcome of FAIL. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is FAIL).",
          "type": "integer"
        },
        "passedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of completed evaluation results with an outcome of PASS. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is PASS).",
          "readOnly": true
        },
        "cancelledCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of evaluation results that were cancelled. (EvaluationResult.execution_state is CANCELLED).",
          "type": "integer"
        },
        "totalCount": {
          "description": "Output only. Total number of evaluation results in this run.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "errorCount": {
          "readOnly": true,
          "description": "Output only. Number of evaluation results that failed to execute. (EvaluationResult.execution_state is ERROR).",
          "type": "integer",
          "format": "int32"
        },
        "completedCount": {
          "description": "Output only. Number of evaluation results that finished successfully. (EvaluationResult.execution_state is COMPLETED).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Evaluation": {
      "description": "An evaluation represents all of the information needed to simulate and evaluate an agent.",
      "properties": {
        "scenario": {
          "description": "Optional. The config for a scenario.",
          "$ref": "EvaluationScenario"
        },
        "evaluationDatasets": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of evaluation datasets the evaluation belongs to. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        },
        "evaluationMetricsThresholdOverride": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Optional. Overrides metrics thresholds for this specific evaluation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of this evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`"
        },
        "aggregatedMetrics": {
          "$ref": "AggregatedMetrics",
          "description": "Output only. The aggregated metrics for this evaluation across all runs.",
          "readOnly": true
        },
        "golden": {
          "$ref": "EvaluationGolden",
          "description": "Optional. The golden steps to be evaluated."
        },
        "description": {
          "description": "Optional. User-defined description of the evaluation.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. User defined tags to categorize the evaluation."
        },
        "displayName": {
          "description": "Required. User-defined display name of the evaluation. Unique within an App.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createdBy": {
          "readOnly": true,
          "description": "Output only. The user who created the evaluation.",
          "type": "string"
        },
        "invalid": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the evaluation is invalid. This can happen if an evaluation is referencing a tool, toolset, or agent that has since been deleted."
        },
        "evaluationRuns": {
          "readOnly": true,
          "description": "Output only. The EvaluationRuns that this Evaluation is associated with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastTenResults": {
          "description": "Output only. The last 10 evaluation results for this evaluation. This is only populated if include_last_ten_results is set to true in the ListEvaluationsRequest or GetEvaluationRequest.",
          "type": "array",
          "items": {
            "$ref": "EvaluationResult"
          },
          "readOnly": true
        },
        "evaluationMetricsConfigOverride": {
          "$ref": "EvaluationMetricsConfig",
          "description": "Optional. Overrides metrics config for this specific evaluation."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "lastCompletedResult": {
          "description": "Output only. The latest evaluation result for this evaluation.",
          "readOnly": true,
          "$ref": "EvaluationResult"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation was created.",
          "type": "string",
          "readOnly": true
        },
        "lastUpdatedBy": {
          "readOnly": true,
          "description": "Output only. The user who last updated the evaluation.",
          "type": "string"
        }
      },
      "id": "Evaluation",
      "type": "object"
    },
    "EvaluationDataset": {
      "id": "EvaluationDataset",
      "description": "An evaluation dataset represents a set of evaluations that are grouped together basaed on shared tags.",
      "properties": {
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        },
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation dataset.",
          "type": "string",
          "readOnly": true
        },
        "createdBy": {
          "readOnly": true,
          "description": "Output only. The user who created the evaluation dataset.",
          "type": "string"
        },
        "evaluations": {
          "description": "Optional. Evaluations that are included in this dataset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the evaluation dataset. Unique within an App."
        },
        "aggregatedMetrics": {
          "readOnly": true,
          "description": "Output only. The aggregated metrics for this evaluation dataset across all runs.",
          "$ref": "AggregatedMetrics"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation dataset was created.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the evaluation dataset was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "DataStoreToolEngineSource": {
      "properties": {
        "dataStoreSources": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        }
      },
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "id": "DataStoreToolEngineSource",
      "type": "object"
    },
    "AppSnapshot": {
      "properties": {
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "description": "Optional. List of toolsets in the app.",
          "type": "array"
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array"
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app."
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. List of examples in the app."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AppSnapshot",
      "description": "A snapshot of the app."
    },
    "ExpressionCondition": {
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Required. The string representation of cloud.api.Expression condition."
        }
      },
      "type": "object"
    },
    "TriggerActionGenerativeAnswer": {
      "description": "The agent will immediately respond with a generative answer.",
      "id": "TriggerActionGenerativeAnswer",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "id": "DataStoreToolDataStoreSource",
      "properties": {
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStore": {
          "$ref": "DataStore",
          "description": "Optional. The data store."
        }
      },
      "description": "Configuration for searching within a specific DataStore.",
      "type": "object"
    },
    "AgentLlmAgent": {
      "type": "object",
      "id": "AgentLlmAgent",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "properties": {}
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "AggregatedMetricsTurnLatencyMetrics": {
      "description": "Metrics for turn latency.",
      "id": "AggregatedMetricsTurnLatencyMetrics",
      "type": "object",
      "properties": {
        "averageLatency": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The average latency of the turns.",
          "type": "string"
        }
      }
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig": {
      "properties": {
        "path": {
          "description": "Required. The path of the tool to be appended to the base uri. This should include query and path parameters if any.",
          "type": "string"
        },
        "requestJson": {
          "type": "string",
          "description": "Required. A sample request to the tool in JSON format. Skip if the tool does not support request body."
        },
        "responseJson": {
          "description": "Required. A sample response from the tool in JSON format.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Required. The uri of the tool. This should include query and path parameters if any."
        }
      },
      "type": "object",
      "description": "The configuration to be used to generate an operation in the Open API schema.",
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig"
    },
    "AggregatedMetricsToolCallLatencyMetrics": {
      "type": "object",
      "description": "Metrics for tool call latency.",
      "id": "AggregatedMetricsToolCallLatencyMetrics",
      "properties": {
        "tool": {
          "description": "Output only. The name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "averageLatency": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The average latency of the tool calls."
        }
      }
    },
    "McpToolset": {
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "type": "object",
      "properties": {
        "customHeaders": {
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "toolOverrides": {
          "type": "array",
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "items": {
            "$ref": "McpToolOverride"
          }
        },
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        }
      },
      "id": "McpToolset"
    },
    "CodeBlock": {
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "description": "A code block to be executed instead of a real tool call.",
      "id": "CodeBlock"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      }
    },
    "DataStoreToolGroundingConfig": {
      "description": "Grounding configuration.",
      "id": "DataStoreToolGroundingConfig",
      "type": "object",
      "properties": {
        "groundingLevel": {
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "type": "number",
          "format": "float"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether grounding is disabled."
        }
      }
    },
    "LfA2aV1SecurityScheme": {
      "properties": {
        "mtlsSecurityScheme": {
          "$ref": "LfA2aV1MutualTlsSecurityScheme",
          "description": "Mutual TLS authentication."
        },
        "openIdConnectSecurityScheme": {
          "description": "OpenID Connect authentication.",
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "$ref": "LfA2aV1APIKeySecurityScheme",
          "description": "API key-based authentication."
        },
        "oauth2SecurityScheme": {
          "$ref": "LfA2aV1OAuth2SecurityScheme",
          "description": "OAuth 2.0 authentication."
        },
        "httpAuthSecurityScheme": {
          "$ref": "LfA2aV1HTTPAuthSecurityScheme",
          "description": "HTTP authentication (Basic, Bearer, etc.)."
        }
      },
      "type": "object",
      "id": "LfA2aV1SecurityScheme",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object"
    },
    "TestPersonaVoiceResponse": {
      "properties": {
        "audio": {
          "description": "The audio data bytes of the synthesized voice.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "TestPersonaVoiceResponse",
      "type": "object",
      "description": "Response message for EvaluationService.TestPersonaVoice."
    },
    "GuardrailSupervisor": {
      "description": "Guardrail that runs supervisor intervention.",
      "id": "GuardrailSupervisor",
      "properties": {
        "type": {
          "description": "Optional. The type of the supervisor.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type."
          ]
        },
        "detectionMode": {
          "type": "string",
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ],
          "description": "Optional. The detection mode of the supervisor.",
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ]
        }
      },
      "type": "object"
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        }
      },
      "id": "DataStoreSettingsEngine"
    },
    "ImportAppRequestImportOptions": {
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ]
        },
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        }
      },
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "SessionOutput": {
      "description": "Output for the session.",
      "id": "SessionOutput",
      "properties": {
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "progress": {
          "description": "Intermediate progress update from the CES agent.",
          "type": "string"
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "audio": {
          "description": "Output audio from the CES agent.",
          "format": "byte",
          "type": "string"
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "image": {
          "$ref": "Image",
          "description": "Output image from the CES agent."
        },
        "context": {
          "description": "Context messages for external supervision guardrails.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "turnIndex": {
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        }
      },
      "type": "object"
    },
    "EvaluationConfig": {
      "type": "object",
      "properties": {
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "evaluationChannel": {
          "description": "Optional. The channel to evaluate.",
          "type": "string",
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ]
        },
        "toolCallBehaviour": {
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        }
      },
      "description": "EvaluationConfig configures settings for running the evaluation.",
      "id": "EvaluationConfig"
    },
    "ScheduledEvaluationRunSchedulingConfig": {
      "id": "ScheduledEvaluationRunSchedulingConfig",
      "properties": {
        "daysOfWeek": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Optional. The days of the week to run the eval. Applicable only for Weekly and Biweekly frequencies. 1 is Monday, 2 is Tuesday, ..., 7 is Sunday.",
          "type": "array"
        },
        "frequency": {
          "enumDescriptions": [
            "The frequency is unspecified.",
            "Indicates a one-time scheduled run that should not repeat",
            "Run the evaluation daily.",
            "Run the evaluation weekly.",
            "Run the evaluation biweekly."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "WEEKLY",
            "BIWEEKLY"
          ],
          "description": "Required. The frequency with which to run the eval"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp when the eval should start."
        }
      },
      "type": "object",
      "description": "Eval scheduling configuration details"
    },
    "ImportEvaluationsRequestImportOptions": {
      "description": "Configuration options for the evaluation import process. These options control how the import behaves, particularly when conflicts arise with existing evaluations data.",
      "properties": {
        "conflictResolutionStrategy": {
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "SKIP",
            "DUPLICATE"
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Overwrite the existing evaluation with the new one.",
            "Keep the existing evaluation and skip the new one.",
            "Keep the existing evaluation and duplicate the new one as a new evaluation."
          ]
        }
      },
      "id": "ImportEvaluationsRequestImportOptions",
      "type": "object"
    },
    "RunEvaluationRequest": {
      "type": "object",
      "description": "Request message for EvaluationService.RunEvaluation.",
      "id": "RunEvaluationRequest",
      "properties": {
        "personaRunConfigs": {
          "items": {
            "$ref": "PersonaRunConfig"
          },
          "description": "Optional. The configuration to use for the run per persona.",
          "type": "array"
        },
        "optimizationConfig": {
          "$ref": "OptimizationConfig",
          "description": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run."
        },
        "scheduledEvaluationRun": {
          "description": "Optional. The resource name of the `ScheduledEvaluationRun` that is triggering this evaluation run. If this field is set, the `scheduled_evaluation_run` field on the created `EvaluationRun` resource will be populated from this value. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`",
          "type": "string"
        },
        "goldenRunMethod": {
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Optional. The method to run the evaluation if it is a golden evaluation. If not set, default to STABLE."
        },
        "evaluations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of evaluations to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`"
        },
        "evaluationRunCachingSettings": {
          "$ref": "EvaluationRunCachingSettings",
          "description": "Optional. The caching settings to use for the evaluation run."
        },
        "generateLatencyReport": {
          "type": "boolean",
          "description": "Optional. Whether to generate a latency report for the evaluation run."
        },
        "app": {
          "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "config": {
          "$ref": "EvaluationConfig",
          "description": "Optional. The configuration to use for the run."
        },
        "appVersion": {
          "description": "Optional. The app version to evaluate. At most one of `app_version` or `deployment` can be set. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "runCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of times to run the evaluation. If not set, the default value is 1 per golden, and 5 per scenario."
        },
        "displayName": {
          "description": "Optional. The display name of the evaluation run.",
          "type": "string"
        },
        "evaluationDataset": {
          "description": "Optional. An evaluation dataset to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        }
      }
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "id": "GuardrailLlmPolicy",
      "properties": {
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "maxConversationMessages": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used."
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings."
        },
        "policyScope": {
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ]
        }
      },
      "type": "object"
    },
    "EvaluationMetricsConfigExpectationsMetMetricsConfig": {
      "id": "EvaluationMetricsConfigExpectationsMetMetricsConfig",
      "description": "Configuration for the expectation level metrics for the evaluation. To disable the metric, set the message but do not set the `enable_expectations_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object",
      "properties": {
        "enableExpectationsMetMetrics": {
          "description": "Optional. Whether to calculate the expectation level metrics for the evaluation.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListEvaluationExpectationsResponse": {
      "id": "ListEvaluationExpectationsResponse",
      "properties": {
        "evaluationExpectations": {
          "description": "The list of evaluation expectations.",
          "items": {
            "$ref": "EvaluationExpectation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationExpectationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for EvaluationService.ListEvaluationExpectations.",
      "type": "object"
    },
    "Event": {
      "description": "Event input.",
      "properties": {
        "variables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Additional variables associated with the event."
        },
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      },
      "id": "Event",
      "type": "object"
    },
    "TriggerActionRespondImmediately": {
      "id": "TriggerActionRespondImmediately",
      "type": "object",
      "description": "The agent will immediately respond with a preconfigured response.",
      "properties": {
        "responses": {
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "type": "array"
        }
      }
    },
    "TransferRuleDisablePlannerTransfer": {
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "id": "TransferRuleDisablePlannerTransfer",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      }
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "properties": {
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "PythonFunction": {
      "description": "A Python function tool.",
      "type": "object",
      "id": "PythonFunction",
      "properties": {
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for the tool.",
          "$ref": "ServiceDirectoryConfig"
        }
      }
    },
    "EvaluationResultGoldenResultTurnReplayResult": {
      "properties": {
        "toolOrderedInvocationScore": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. The overall tool ordered invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked in the expected order."
        },
        "spanLatencies": {
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "description": "Output only. The latency of spans in the turn.",
          "readOnly": true,
          "type": "array"
        },
        "turnLatency": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Duration of the turn."
        },
        "toolInvocationScore": {
          "deprecated": true,
          "description": "Output only. Deprecated. Use OverallToolInvocationResult instead.",
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "hallucinationResult": {
          "description": "Output only. The result of the hallucination check.",
          "$ref": "EvaluationResultHallucinationResult",
          "readOnly": true
        },
        "toolCallLatencies": {
          "readOnly": true,
          "description": "Output only. The latency of each tool call in the turn.",
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "type": "array"
        },
        "expectationOutcome": {
          "readOnly": true,
          "description": "Output only. The outcome of each expectation.",
          "type": "array",
          "items": {
            "$ref": "EvaluationResultGoldenExpectationOutcome"
          }
        },
        "overallToolInvocationResult": {
          "$ref": "EvaluationResultOverallToolInvocationResult",
          "description": "Output only. The result of the overall tool invocation check.",
          "readOnly": true
        },
        "conversation": {
          "description": "Output only. The conversation that was generated for this turn.",
          "type": "string",
          "readOnly": true
        },
        "errorInfo": {
          "description": "Output only. Information about the error that occurred during this turn.",
          "$ref": "EvaluationErrorInfo",
          "readOnly": true
        },
        "semanticSimilarityResult": {
          "$ref": "EvaluationResultSemanticSimilarityResult",
          "readOnly": true,
          "description": "Output only. The result of the semantic similarity check."
        }
      },
      "type": "object",
      "id": "EvaluationResultGoldenResultTurnReplayResult",
      "description": "The result of running a single turn of the golden conversation."
    },
    "AggregatedMetricsToolMetrics": {
      "description": "Metrics for a single tool.",
      "type": "object",
      "id": "AggregatedMetricsToolMetrics",
      "properties": {
        "failCount": {
          "type": "integer",
          "description": "Output only. The number of times the tool failed.",
          "readOnly": true,
          "format": "int32"
        },
        "passCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of times the tool passed.",
          "type": "integer"
        },
        "tool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the tool."
        }
      }
    },
    "DataStoreSettings": {
      "type": "object",
      "properties": {
        "engines": {
          "readOnly": true,
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "type": "array",
          "description": "Output only. The engines for the app."
        }
      },
      "description": "Data store related settings for the app.",
      "id": "DataStoreSettings"
    },
    "EvaluationGolden": {
      "properties": {
        "turns": {
          "type": "array",
          "description": "Required. The golden turns required to replay a golden conversation. The maximum number of allowed turns is 100.",
          "items": {
            "$ref": "EvaluationGoldenTurn"
          }
        },
        "evaluationExpectations": {
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the replayed conversation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The steps required to replay a golden conversation.",
      "id": "EvaluationGolden",
      "type": "object"
    },
    "EvaluationResultOverallToolInvocationResult": {
      "type": "object",
      "properties": {
        "toolInvocationScore": {
          "description": "The overall tool invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked.",
          "type": "number",
          "format": "float"
        },
        "outcome": {
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the tool_invocation_score to the overall_tool_invocation_correctness_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        }
      },
      "description": "The result of the overall tool invocation check.",
      "id": "EvaluationResultOverallToolInvocationResult"
    },
    "LfA2aV1OAuthFlows": {
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "type": "object",
      "properties": {
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "password": {
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "deprecated": true
        },
        "authorizationCode": {
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow",
          "description": "Configuration for the OAuth Authorization Code flow."
        },
        "implicit": {
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        }
      },
      "id": "LfA2aV1OAuthFlows"
    },
    "OptimizationConfig": {
      "description": "Configuration for running the optimization step after the evaluation run.",
      "properties": {
        "generateLossReport": {
          "description": "Optional. Whether to generate a loss report.",
          "type": "boolean"
        },
        "lossReport": {
          "type": "object",
          "description": "Output only. The generated loss report.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "status": {
          "readOnly": true,
          "enumDescriptions": [
            "Optimization status is not specified.",
            "Optimization is running.",
            "Optimization has completed.",
            "Optimization failed due to an internal error."
          ],
          "type": "string",
          "enum": [
            "OPTIMIZATION_STATUS_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ],
          "description": "Output only. The status of the optimization run."
        },
        "shouldSuggestFix": {
          "type": "boolean",
          "description": "Output only. Whether to suggest a fix for the losses.",
          "readOnly": true
        },
        "errorMessage": {
          "description": "Output only. The error message if the optimization run failed.",
          "readOnly": true,
          "type": "string"
        },
        "assistantSession": {
          "description": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`",
          "readOnly": true,
          "type": "string"
        },
        "reportSummary": {
          "description": "Output only. The summary of the loss report.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OptimizationConfig",
      "type": "object"
    },
    "LfA2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        },
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        }
      },
      "id": "LfA2aV1AuthenticationInfo",
      "type": "object"
    },
    "SessionInput": {
      "properties": {
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "format": "byte",
          "type": "string"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object"
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        }
      },
      "id": "SessionInput",
      "type": "object",
      "description": "Input for the session."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "controlPoints": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array"
        },
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below."
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "description": "Boost specification for a condition.",
      "properties": {
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "type": "number",
          "format": "float"
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object"
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "id": "LfA2aV1HTTPAuthSecurityScheme",
      "properties": {
        "scheme": {
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes."
        }
      },
      "type": "object",
      "description": "Defines a security scheme using HTTP authentication."
    },
    "MockConfig": {
      "description": "Mock tool calls configuration for the session.",
      "properties": {
        "mockedToolCalls": {
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          },
          "type": "array"
        },
        "unmatchedToolCallBehavior": {
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls."
        }
      },
      "type": "object",
      "id": "MockConfig"
    },
    "LatencyReportToolLatency": {
      "properties": {
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the tool.",
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true
        },
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "readOnly": true,
          "description": "Output only. The toolset tool identifier."
        },
        "tool": {
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "readOnly": true
        }
      },
      "description": "Latency metrics for a single tool.",
      "type": "object",
      "id": "LatencyReportToolLatency"
    },
    "ConversationTurn": {
      "properties": {
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "userIntendedText": {
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled.",
          "type": "string"
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        }
      },
      "type": "object",
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation."
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double",
          "type": "number"
        },
        "consentAudioGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "deprecated": true,
          "type": "string"
        },
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        },
        "voiceSampleGcsUri": {
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "SynthesizeSpeechConfig"
    },
    "DataStoreToolBoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          }
        }
      },
      "type": "object",
      "description": "Boost specification to boost certain documents.",
      "id": "DataStoreToolBoostSpec"
    },
    "TimeZoneSettings": {
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "id": "TimeZoneSettings"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "description": "Security settings for the web widget.",
      "properties": {
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "type": "array"
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DataStore": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "documentProcessingMode": {
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "readOnly": true,
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the data store."
        },
        "connectorConfig": {
          "$ref": "DataStoreConnectorConfig",
          "readOnly": true,
          "description": "Output only. The connector config for the data store connection."
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
[...]
