{
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "revision": "20260924",
  "fullyEncodeReservedExpansion": true,
  "id": "ces:v1beta",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "name": "ces",
  "batchPath": "batch",
  "schemas": {
    "BatchDeleteConversationsRequest": {
      "properties": {
        "conversations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the conversations to delete."
        }
      },
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "id": "BatchDeleteConversationsRequest",
      "type": "object"
    },
    "LfA2aV1Part": {
      "id": "LfA2aV1Part",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A `url` pointing to the file's content."
        },
        "filename": {
          "type": "string",
          "description": "An optional `filename` for the file (e.g., \"document.pdf\")."
        },
        "raw": {
          "type": "string",
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "format": "byte"
        },
        "data": {
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null).",
          "type": "any"
        },
        "mediaType": {
          "type": "string",
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. metadata associated with this part."
        },
        "text": {
          "description": "The string content of the `text` part.",
          "type": "string"
        }
      },
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON)."
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "GenerateAppResourceResponseEvaluations": {
      "id": "GenerateAppResourceResponseEvaluations",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of generated evaluations.",
          "type": "array"
        }
      },
      "description": "The list of evaluations generated by the LLM assistant.",
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent."
    },
    "Schema": {
      "type": "object",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "properties": {
        "required": {
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          }
        },
        "minimum": {
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "prefixItems": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. Schemas of initial elements of Type.ARRAY."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data."
        },
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "defs": {
          "type": "object",
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "default": {
          "type": "any",
          "description": "Optional. Default value of the data."
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        }
      },
      "id": "Schema"
    },
    "LfA2aV1SecurityRequirement": {
      "properties": {
        "schemes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          },
          "description": "A map of security schemes to the required scopes."
        }
      },
      "id": "LfA2aV1SecurityRequirement",
      "description": "Defines the security requirements for an agent.",
      "type": "object"
    },
    "EvaluationMetricsConfigScenarioMetricsConfig": {
      "properties": {
        "expectationsMetMetricsConfig": {
          "description": "Optional. Configuration for expectation level metrics.",
          "$ref": "EvaluationMetricsConfigExpectationsMetMetricsConfig"
        },
        "userGoalMetMetricsConfig": {
          "description": "Optional. Configuration for user goal met metrics.",
          "$ref": "EvaluationMetricsConfigUserGoalMetMetricsConfig"
        }
      },
      "id": "EvaluationMetricsConfigScenarioMetricsConfig",
      "description": "Configuration for the scenario metrics for the evaluation.",
      "type": "object"
    },
    "EvaluationConfig": {
      "properties": {
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "toolCallBehaviour": {
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "evaluationChannel": {
          "type": "string",
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The channel to evaluate.",
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ]
        }
      },
      "type": "object",
      "description": "EvaluationConfig configures settings for running the evaluation.",
      "id": "EvaluationConfig"
    },
    "ChannelProfileInstagramConfig": {
      "type": "object",
      "description": "Configuration specific to Instagram deployments.",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string"
        },
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name.",
          "type": "string"
        },
        "thumbnailUrl": {
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string"
        }
      },
      "id": "ChannelProfileInstagramConfig"
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentTransfer"
    },
    "EvaluationResultUserGoalSatisfactionResult": {
      "type": "object",
      "id": "EvaluationResultUserGoalSatisfactionResult",
      "properties": {
        "label": {
          "description": "Output only. The label associated with each score. Score 2: Graceful Handoff Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Output only. The user task satisfaction score. Can be -1, 0, 1, 2.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The explanation for the user task satisfaction score."
        }
      },
      "description": "The result of a user goal satisfaction check for a conversation."
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "properties": {
        "artifact": {
          "$ref": "LfA2aV1Artifact",
          "description": "Required. The artifact that was generated or updated."
        },
        "metadata": {
          "description": "Optional. Metadata associated with the artifact update.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "contextId": {
          "type": "string",
          "description": "Required. The ID of the context that this task belongs to."
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "append": {
          "type": "boolean",
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The ID of the task for this artifact."
        }
      },
      "id": "LfA2aV1TaskArtifactUpdateEvent",
      "type": "object",
      "description": "A task delta where an artifact has been generated."
    },
    "ExpressionCondition": {
      "type": "object",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      },
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state."
    },
    "AppVersion": {
      "properties": {
        "snapshot": {
          "$ref": "AppSnapshot",
          "readOnly": true,
          "description": "Output only. The snapshot of the app when the version is created."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the app version was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the app version."
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the app version was created."
        }
      },
      "id": "AppVersion",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "type": "object"
    },
    "MockConfig": {
      "type": "object",
      "id": "MockConfig",
      "properties": {
        "mockedToolCalls": {
          "items": {
            "$ref": "MockedToolCall"
          },
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "type": "array"
        },
        "unmatchedToolCallBehavior": {
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ]
        }
      },
      "description": "Mock tool calls configuration for the session."
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "type": "object",
      "description": "Settings for matching tool calls.",
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ]
        }
      },
      "id": "EvaluationMetricsThresholdsToolMatchingSettings"
    },
    "ListConversationsResponse": {
      "id": "ListConversationsResponse",
      "properties": {
        "conversations": {
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListConversations.",
      "type": "object"
    },
    "EvaluationPersona": {
      "description": "A persona represents an end user in an evaluation.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the persona.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the persona. Unique within an app."
        },
        "name": {
          "description": "Required. The unique identifier of the persona. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        },
        "speechConfig": {
          "$ref": "EvaluationPersonaSpeechConfig",
          "description": "Optional. Configuration for how the persona sounds (TTS settings)."
        },
        "personality": {
          "description": "Required. An instruction for the agent on how to behave in the evaluation.",
          "type": "string"
        }
      },
      "id": "EvaluationPersona"
    },
    "FileContext": {
      "id": "FileContext",
      "type": "object",
      "properties": {
        "fileBytes": {
          "description": "Optional. File provided as raw bytes.",
          "$ref": "FileContextFileBytes"
        }
      },
      "description": "Files to be used as context. Files can be provided as raw bytes."
    },
    "QualityReport": {
      "description": "The report describing any identified quality issues in the app.",
      "type": "object",
      "properties": {
        "evaluationRuns": {
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "generalIssues": {
          "description": "Optional. General issues not specific to any agent.",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "type": "array"
        },
        "issues": {
          "type": "array",
          "description": "Optional. The issues grouped by agent.",
          "items": {
            "$ref": "QualityReportAgentIssues"
          }
        }
      },
      "id": "QualityReport"
    },
    "CustomVoiceSampleWarning": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "WARNING_TYPE_UNSPECIFIED",
            "LOW_AUDIO_LEVEL"
          ],
          "description": "Output only. The type of the warning.",
          "enumDescriptions": [
            "Unspecified warning type.",
            "The audio level of the voice sample is too low (e.g. low RMS amplitude)."
          ],
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. A human-readable description of the warning.",
          "readOnly": true
        }
      },
      "id": "CustomVoiceSampleWarning",
      "description": "A warning message encountered during voice sample processing.",
      "type": "object"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "properties": {
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object"
    },
    "EvaluationResultHallucinationResult": {
      "properties": {
        "label": {
          "description": "Output only. The label associated with each score. Score 1: Justified Score 0: Not Justified Score -1: No Claim To Assess",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Output only. The hallucination score. Can be -1, 0, 1.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the hallucination score."
        }
      },
      "description": "The result of the hallucination check for a single turn.",
      "type": "object",
      "id": "EvaluationResultHallucinationResult"
    },
    "AssistantOutput": {
      "description": "The output from the assistant agent.",
      "properties": {
        "message": {
          "$ref": "AssistantMessage",
          "description": "Required. The response from the assistant agent."
        },
        "userResponseSuggestions": {
          "readOnly": true,
          "$ref": "UserResponseSuggestions",
          "description": "Output only. Suggested user responses from the assistant agent."
        }
      },
      "type": "object",
      "id": "AssistantOutput"
    },
    "Conversation": {
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "type": "string",
          "readOnly": true
        },
        "entryAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "appVersion": {
          "readOnly": true,
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "inputTypes": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          },
          "description": "Output only. The input types of the conversation.",
          "type": "array"
        },
        "turnCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true
        },
        "channelType": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ]
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "readOnly": true,
          "description": "Output only. Indicate the source of the conversation."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created.",
          "format": "google-datetime"
        },
        "turns": {
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          },
          "description": "Required. The turns in the conversation."
        },
        "deployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "messages": {
          "deprecated": true,
          "items": {
            "$ref": "Message"
          },
          "description": "Deprecated. Use turns instead.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the conversation."
        }
      },
      "type": "object"
    },
    "Agent": {
      "id": "Agent",
      "properties": {
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "afterModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the agent was created."
        },
        "remoteA2aAgent": {
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution.",
          "$ref": "AgentRemoteA2aAgent"
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "remoteDialogflowAgent": {
          "$ref": "AgentRemoteDialogflowAgent",
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "afterToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "toolsets": {
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "description": "Optional. List of toolsets for the agent.",
          "type": "array"
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "childAgents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        },
        "generatedSummary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "tools": {
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instruction": {
          "type": "string",
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior."
        }
      },
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "type": "object"
    },
    "ArtifactChunk": {
      "id": "ArtifactChunk",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The IANA media type of the artifact content, e.g. \"text/markdown\".",
          "type": "string"
        },
        "contentDelta": {
          "description": "Incremental artifact content. Set on DELTA chunks.",
          "type": "string"
        },
        "artifactId": {
          "description": "Identifier of the artifact, stable across all chunks of one artifact within the stream.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The file name shown to the user, e.g. \"hotel_booking_tdd.md\". Set on STARTED (and repeated on FINALIZED)."
        },
        "gcsUri": {
          "description": "The GCS object the artifact was persisted to. Set on FINALIZED chunks.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unused default.",
            "The assistant started generating the artifact.",
            "A content increment; content_delta is set.",
            "The artifact was persisted; gcs_uri is set.",
            "Generation or persistence failed; the artifact was not saved.",
            "The document finished streaming: its content was fully delivered via content_delta chunks. Persistence may still follow; a FINALIZED chunk with a gcs_uri is sent if and when the artifact is saved."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "DELTA",
            "FINALIZED",
            "FAILED",
            "CLOSED"
          ],
          "description": "Lifecycle position of this chunk."
        }
      },
      "description": "A streamed fragment of a document artifact (e.g. a markdown TDD) that the assistant is generating. Content deltas stream while the document is being written so clients can render a live preview; the FINALIZED chunk carries the GCS URI once the file has been persisted."
    },
    "EvaluationResultScenarioExpectationOutcome": {
      "type": "object",
      "properties": {
        "expectation": {
          "readOnly": true,
          "$ref": "EvaluationScenarioExpectation",
          "description": "Output only. The expectation that was evaluated."
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the ScenarioExpectation."
        },
        "observedToolCall": {
          "$ref": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
          "readOnly": true,
          "description": "Output only. The observed tool call."
        },
        "observedAgentResponse": {
          "readOnly": true,
          "description": "Output only. The observed agent response.",
          "$ref": "Message"
        }
      },
      "description": "The outcome of a scenario expectation.",
      "id": "EvaluationResultScenarioExpectationOutcome"
    },
    "ToolResponses": {
      "properties": {
        "toolResponses": {
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          },
          "type": "array"
        }
      },
      "description": "Execution results for the requested tool calls from the client.",
      "id": "ToolResponses",
      "type": "object"
    },
    "ExecuteToolResponse": {
      "description": "Response message for ToolService.ExecuteTool.",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that got executed."
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The variable values at the end of the tool execution.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        }
      },
      "id": "ExecuteToolResponse",
      "type": "object"
    },
    "McpToolOverride": {
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "descriptionOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this description instead of the original description from the server."
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        }
      },
      "type": "object",
      "id": "McpToolOverride"
    },
    "RemoteA2aConfig": {
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "streamingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether streaming is enabled for the remote agent."
        },
        "inputVariableMapping": {
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication.",
          "$ref": "ApiAuthentication"
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentRegistry": {
          "type": "string",
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "agentCard": {
          "description": "Optional. The full agent card defined inline.",
          "$ref": "AgentCard"
        },
        "contextId": {
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RemoteA2aConfig"
    },
    "GenerateEvaluationOperationMetadata": {
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "id": "GenerateEvaluationOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "EvaluationSettings": {
      "id": "EvaluationSettings",
      "properties": {
        "scenarioExecutionMode": {
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED."
        },
        "scenarioConversationInitiator": {
          "type": "string",
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ]
        },
        "scenarioEvaluationToolCallBehaviour": {
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "goldenEvaluationToolCallBehaviour": {
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Configures the default tool call behaviour for golden evaluations."
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        },
        "goldenRunMethod": {
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "metricsConfig": {
          "description": "Optional. Configures the default metrics for evaluations.",
          "$ref": "EvaluationMetricsConfig"
        }
      },
      "type": "object",
      "description": "Settings for evaluation."
    },
    "LfA2aV1AgentSkill": {
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities."
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "securityRequirements": {
          "description": "Security schemes necessary for this skill.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object",
      "id": "LfA2aV1AgentSkill"
    },
    "GenerateAppResourceResponse": {
      "type": "object",
      "properties": {
        "qualityReport": {
          "description": "The quality report generated by the LLM assistant.",
          "$ref": "QualityReport"
        },
        "evaluations": {
          "description": "Evaluations generated by the LLM assistant.",
          "$ref": "GenerateAppResourceResponseEvaluations"
        },
        "generateResultInfo": {
          "description": "Additional information about the generated result.",
          "$ref": "GenerateAppResourceResponseGenerateResultInfo"
        },
        "toolset": {
          "description": "Toolset generated by the LLM assistant. Supports Open API toolset schema generation.",
          "$ref": "Toolset"
        },
        "tools": {
          "$ref": "GenerateAppResourceResponseTools",
          "description": "The list of tools generated by the LLM assistant."
        },
        "appSnapshot": {
          "description": "App snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant.",
          "$ref": "AppSnapshot"
        },
        "appResources": {
          "description": "The app resources generated by the LLM assistant.",
          "$ref": "GenerateAppResourceResponseAppResources"
        },
        "agent": {
          "$ref": "Agent",
          "description": "Agent generated by the LLM assistant."
        }
      },
      "description": "Response message for AgentService.GenerateAppResource.",
      "id": "GenerateAppResourceResponse"
    },
    "AppVariableDeclaration": {
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        }
      },
      "description": "Defines the structure and metadata for a variable.",
      "type": "object",
      "id": "AppVariableDeclaration"
    },
    "ExperimentConfigVersionRelease": {
      "properties": {
        "trafficAllocations": {
          "type": "array",
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        },
        "state": {
          "description": "Optional. State of the version release.",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        }
      },
      "description": "Version release for the experiment.",
      "id": "ExperimentConfigVersionRelease",
      "type": "object"
    },
    "ChannelProfileWhatsAppConfig": {
      "type": "object",
      "id": "ChannelProfileWhatsAppConfig",
      "properties": {
        "phoneNumberId": {
          "description": "Required. The Meta phone number ID.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Optional. The phone number in E.164 format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name."
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "readOnly": true
        }
      },
      "description": "Configuration specific to WhatsApp deployments."
    },
    "GenerateAppResourceRequestAppVersionContext": {
      "properties": {
        "agentResourceName": {
          "type": "string",
          "description": "The resource name of the target agent to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "appVersion": {
          "type": "string",
          "description": "The resource name of the app version to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "id": "GenerateAppResourceRequestAppVersionContext",
      "type": "object",
      "description": "The app version context specifying the base snapshot and target agent."
    },
    "LfA2aV1SecurityScheme": {
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "type": "object",
      "properties": {
        "apiKeySecurityScheme": {
          "$ref": "LfA2aV1APIKeySecurityScheme",
          "description": "API key-based authentication."
        },
        "openIdConnectSecurityScheme": {
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme",
          "description": "OpenID Connect authentication."
        },
        "oauth2SecurityScheme": {
          "$ref": "LfA2aV1OAuth2SecurityScheme",
          "description": "OAuth 2.0 authentication."
        },
        "httpAuthSecurityScheme": {
          "$ref": "LfA2aV1HTTPAuthSecurityScheme",
          "description": "HTTP authentication (Basic, Bearer, etc.)."
        },
        "mtlsSecurityScheme": {
          "$ref": "LfA2aV1MutualTlsSecurityScheme",
          "description": "Mutual TLS authentication."
        }
      },
      "id": "LfA2aV1SecurityScheme"
    },
    "LatencyReportLatencyMetrics": {
      "description": "Latency metrics for a component.",
      "type": "object",
      "properties": {
        "p50Latency": {
          "description": "Output only. The 50th percentile latency.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "p99Latency": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. The 99th percentile latency."
        },
        "callCount": {
          "description": "Output only. The number of times the resource was called.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "p90Latency": {
          "type": "string",
          "description": "Output only. The 90th percentile latency.",
          "readOnly": true,
          "format": "google-duration"
        }
      },
      "id": "LatencyReportLatencyMetrics"
    },
    "TurnHandoffEvent": {
      "type": "object",
      "id": "TurnHandoffEvent",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Unspecified.",
            "The serving task is shutting down (release push or rescheduling)."
          ],
          "description": "Why the stream is handing off.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "SERVER_RESTART"
          ]
        },
        "turnId": {
          "type": "string",
          "description": "Identifies the turn to resume."
        }
      },
      "description": "Emitted before this task stops serving the stream mid-turn (e.g. a server restart). The turn's state is persisted; a reconnect carrying resume_from_sequence_number continues it on another task."
    },
    "EvaluationGoldenExpectation": {
      "id": "EvaluationGoldenExpectation",
      "properties": {
        "updatedVariables": {
          "type": "object",
          "description": "Optional. Check that the agent updated the session variables to the expected values. Used to also capture agent variable updates for golden evals.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "agentResponseHallucinationMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response hallucination metrics.",
          "$ref": "EvaluationMetricsConfigHallucinationMetricsConfig"
        },
        "agentResponse": {
          "description": "Optional. Check that the agent responded with the correct response. The role \"agent\" is implied.",
          "$ref": "Message"
        },
        "note": {
          "description": "Optional. A note for this requirement, useful in reporting when specific checks fail. E.g., \"Check_Payment_Tool_Called\".",
          "type": "string"
        },
        "skipEvaluation": {
          "description": "Optional. If set to true, this specific expectation will not be evaluated.",
          "type": "boolean"
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Check that the agent transferred the conversation to a different agent."
        },
        "toolCall": {
          "description": "Optional. Check that a specific tool was called with the parameters.",
          "$ref": "ToolCall"
        },
        "mockToolResponse": {
          "description": "Optional. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        },
        "toolResponse": {
          "description": "Optional. Check that a specific tool had the expected response.",
          "$ref": "ToolResponse"
        },
        "expectationLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides metrics at the step level.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "noToolCalls": {
          "description": "Optional. Check that no tools were called during this turn.",
          "type": "boolean"
        },
        "comparisonType": {
          "enumDescriptions": [
            "Unspecified comparison type. Behavior defaults to SEMANTIC_SIMILARITY for agent responses and tool calls.",
            "Exact string match.",
            "Substring match (checks if the expected string is contained in the actual response).",
            "Semantic similarity match (evaluates meaning similarity using an LLM)."
          ],
          "description": "Optional. The comparison type to use for the expectation check.",
          "type": "string",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "CONTAINS",
            "SEMANTIC_SIMILARITY"
          ]
        },
        "agentResponseSemanticSimilarityMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response semantic similarity metrics.",
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig"
        }
      },
      "type": "object",
      "description": "Represents a single, checkable requirement."
    },
    "BatchDeleteConversationsResponse": {
      "id": "BatchDeleteConversationsResponse",
      "description": "Response message for AgentService.BatchDeleteConversations.",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of error messages associated with conversations that failed to be deleted."
        },
        "failedConversations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of conversations that failed to be deleted."
        },
        "deletedConversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of conversations that were successfully deleted."
        }
      },
      "type": "object"
    },
    "UiEvent": {
      "description": "Represents a UI event payload.",
      "properties": {
        "mimeType": {
          "description": "The media type (MIME type) indicating the format of the UI event payload (e.g., \"application/json+a2ui\").",
          "type": "string"
        },
        "jsonPayload": {
          "description": "The JSON payload representing the A2UI surface.",
          "type": "string"
        }
      },
      "id": "UiEvent",
      "type": "object"
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
        }
      }
    },
    "Image": {
      "description": "Represents an image input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the image.",
          "type": "string",
          "format": "byte"
        },
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        }
      },
      "id": "Image",
      "type": "object"
    },
    "GenerateAppResourceResponseAppResources": {
      "type": "object",
      "id": "GenerateAppResourceResponseAppResources",
      "description": "The list of app resources generated by the LLM assistant.",
      "properties": {
        "appSnapshot": {
          "$ref": "AppSnapshot",
          "description": "The app snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant."
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations generated by the LLM assistant.",
          "type": "array"
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "id": "DataStoreToolSummarizationConfig",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether summarization is disabled."
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        }
      },
      "type": "object",
      "description": "Summarization configuration."
    },
    "ExportAppRequest": {
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp.",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object."
        },
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in."
        }
      },
      "type": "object"
    },
    "SessionOutput": {
      "type": "object",
      "description": "Output for the session.",
      "properties": {
        "progress": {
          "description": "Intermediate progress update from the CES agent.",
          "type": "string"
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "turnIndex": {
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32"
        },
        "audio": {
          "type": "string",
          "description": "Output audio from the CES agent.",
          "format": "byte"
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "image": {
          "$ref": "Image",
          "description": "Output image from the CES agent."
        },
        "endSession": {
          "$ref": "EndSession",
          "description": "Indicates the session has ended."
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "SessionOutput"
    },
    "McpToolset": {
      "properties": {
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "toolOverrides": {
          "items": {
            "$ref": "McpToolOverride"
          },
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "type": "array"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        }
      },
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "id": "McpToolset",
      "type": "object"
    },
    "AssistantMessage": {
      "type": "object",
      "properties": {
        "chunks": {
          "items": {
            "$ref": "AssistantChunk"
          },
          "type": "array",
          "description": "Optional. Content of the message as chunks."
        },
        "role": {
          "type": "string",
          "description": "Required. Role within the conversation \"user\" or \"model\"."
        },
        "eventTime": {
          "description": "Required. Timestamp when the message was sent or received.",
          "type": "string",
          "format": "google-datetime"
        },
        "attachedGcsUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. This allows attachments to be persisted and rendered in the session history UI. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\""
        }
      },
      "description": "A message in an assistant session.",
      "id": "AssistantMessage"
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "type": "object",
      "description": "The configuration to be used to generate the evaluations.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the evaluations. Format: `projects/{project}/locations/{location}/datasets/{dataset}`."
        }
      },
      "id": "GenerateAppResourceRequestEvaluationGenerationConfig"
    },
    "LatencyReportGuardrailLatency": {
      "description": "Latency metrics for a single guardrail.",
      "properties": {
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the guardrail.",
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics"
        },
        "guardrail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`."
        },
        "guardrailDisplayName": {
          "description": "Output only. The display name of the guardrail.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "LatencyReportGuardrailLatency"
    },
    "DataStoreToolGroundingConfig": {
      "id": "DataStoreToolGroundingConfig",
      "properties": {
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        },
        "groundingLevel": {
          "type": "number",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Grounding configuration."
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "properties": {
        "enableHallucinationMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation."
        }
      },
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object",
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig"
    },
    "UploadEvaluationAudioResponse": {
      "description": "Response message for EvaluationService.UploadEvaluationAudio.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The duration of the audio.",
          "type": "string"
        },
        "audioGcsUri": {
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`",
          "type": "string"
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        }
      },
      "id": "UploadEvaluationAudioResponse",
      "type": "object"
    },
    "RetrieveToolSchemaResponse": {
      "id": "RetrieveToolSchemaResponse",
      "properties": {
        "inputSchema": {
          "description": "The schema of the tool input parameters.",
          "$ref": "Schema"
        },
        "outputSchema": {
          "description": "The schema of the tool output parameters.",
          "$ref": "Schema"
        },
        "toolsetTool": {
          "description": "The toolset tool that the schema is for.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        }
      },
      "description": "Response message for ToolService.RetrieveToolSchema.",
      "type": "object"
    },
    "ImportEvaluationsRequest": {
      "properties": {
        "conversationList": {
          "description": "The conversations to import the evaluations from.",
          "$ref": "ImportEvaluationsRequestConversationList"
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the evaluations.",
          "$ref": "ImportEvaluationsRequestImportOptions"
        },
        "csvContent": {
          "description": "Raw bytes representing the csv file with the evaluations structure.",
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import evaluations. The format of this URI must be `gs:///`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for EvaluationService.ImportEvaluations.",
      "id": "ImportEvaluationsRequest"
    },
    "LatencyReportToolLatency": {
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "readOnly": true,
          "description": "Output only. The toolset tool identifier."
        },
        "tool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`."
        },
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true,
          "description": "Output only. The latency metrics for the tool."
        },
        "toolDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the tool.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Latency metrics for a single tool.",
      "id": "LatencyReportToolLatency"
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          }
        }
      },
      "description": "Response message for EvaluationService.ListEvaluations."
    },
    "AggregatedMetricsMetricsByAppVersion": {
      "type": "object",
      "description": "Metrics aggregated per app version.",
      "properties": {
        "metricsByTurn": {
          "description": "Output only. Metrics aggregated per turn within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsMetricsByTurn"
          }
        },
        "toolMetrics": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "description": "Output only. Metrics for each tool within this app version."
        },
        "failCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of times the evaluation failed."
        },
        "passCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of times the evaluation passed."
        },
        "semanticSimilarityMetrics": {
          "description": "Output only. Metrics for semantic similarity within this app version.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          }
        },
        "toolCallLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this app version.",
          "readOnly": true,
          "type": "array"
        },
        "appVersionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The app version ID."
        },
        "hallucinationMetrics": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Metrics for hallucination within this app version.",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "turnLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "description": "Output only. Metrics for turn latency within this app version.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "AggregatedMetricsMetricsByAppVersion"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "description": "Defines a security scheme using mTLS authentication.",
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListToolsetsResponse": {
      "type": "object",
      "id": "ListToolsetsResponse",
      "properties": {
        "toolsets": {
          "type": "array",
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListToolsets."
    },
    "ExportEvaluationRunsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "type": "object",
      "properties": {
        "evaluationRunsContent": {
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request.",
          "type": "string",
          "format": "byte"
        },
        "evaluationRunsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request."
        }
      },
      "id": "ExportEvaluationRunsResponse"
    },
    "InputAudioConfig": {
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the input audio data."
        },
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the input audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        }
      },
      "id": "InputAudioConfig",
      "type": "object"
    },
    "ActionEntityOperation": {
      "type": "object",
      "id": "ActionEntityOperation",
      "description": "Entity CRUD operation specification.",
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Required. Operation to perform on the entity.",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ]
        }
      }
    },
    "QualityReportIssue": {
      "id": "QualityReportIssue",
      "properties": {
        "proposedSolution": {
          "type": "string",
          "description": "Optional. Proposed solution to fix the issue by modifying instructions or tools."
        },
        "occurrenceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. How many times this issue occurred."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the issue found."
        }
      },
      "description": "The issue identified.",
      "type": "object"
    },
    "RestoreAppVersionRequest": {
      "description": "Request message for AgentService.RestoreAppVersion",
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "properties": {}
    },
    "LatencyReport": {
      "type": "object",
      "id": "LatencyReport",
      "description": "Latency report for the evaluation run.",
      "properties": {
        "sessionCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of sessions considered in the latency report."
        },
        "llmCallLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each LLM call.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "LatencyReportLlmCallLatency"
          }
        },
        "toolLatencies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Unordered list. Latency metrics for each tool.",
          "items": {
            "$ref": "LatencyReportToolLatency"
          }
        },
        "guardrailLatencies": {
          "items": {
            "$ref": "LatencyReportGuardrailLatency"
          },
          "type": "array",
          "description": "Output only. Unordered list. Latency metrics for each guardrail.",
          "readOnly": true
        },
        "callbackLatencies": {
          "readOnly": true,
          "items": {
            "$ref": "LatencyReportCallbackLatency"
          },
          "description": "Output only. Unordered list. Latency metrics for each callback.",
          "type": "array"
        }
      }
    },
    "EvaluationResultSpanLatency": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ],
          "description": "Output only. The type of span.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ],
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the guardrail or tool spans."
        },
        "callback": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the user callback span."
        },
        "model": {
          "readOnly": true,
          "description": "Output only. The name of the LLM span.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The start time of span.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans."
        },
        "toolset": {
          "readOnly": true,
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "executionLatency": {
          "readOnly": true,
          "description": "Output only. The latency of span.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "The latency of a span execution.",
      "id": "EvaluationResultSpanLatency"
    },
    "GoogleSearchSuggestions": {
      "properties": {
        "htmls": {
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webSearchQueries": {
          "type": "array",
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions.",
          "items": {
            "$ref": "WebSearchQuery"
          }
        }
      },
      "type": "object",
      "id": "GoogleSearchSuggestions",
      "description": "Search suggestions from Google Search Tool."
    },
    "ActiveTurnInfo": {
      "id": "ActiveTurnInfo",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified.",
            "The turn is executing with at least one client attached.",
            "The turn is executing with no client attached.",
            "The turn is parked for pickup: the next attach continues it.",
            "The turn's server lease has lapsed and no task is driving it; the next read seals it to a committed partial. Not attachable."
          ],
          "description": "Current attachment status.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "RUNNING",
            "DISCONNECTED",
            "RESUMING",
            "ABANDONED"
          ]
        },
        "lastProgressTime": {
          "description": "Output only. When the turn last persisted progress.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "orphanDeadlineTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the turn will be wound down if no client attaches."
        },
        "turnId": {
          "type": "string",
          "description": "Identifies the turn; echoed by resume snapshots on the streaming API."
        },
        "startTime": {
          "description": "Output only. When the turn started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Live-attachment info for a session turn that is currently running, disconnected from its client, or parked for pickup by another server task.",
      "type": "object"
    },
    "Span": {
      "type": "object",
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of the span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the span."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the span."
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Span"
          }
        },
        "attributes": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Key-value attributes associated with the span.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "format": "google-duration"
        }
      }
    },
    "RunSessionRequest": {
      "description": "Request message for SessionService.RunSession.",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "description": "Required. Inputs for the session.",
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          }
        }
      },
      "id": "RunSessionRequest",
      "type": "object"
    },
    "EvaluationRunProgress": {
      "properties": {
        "completedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of evaluation results that finished successfully. (EvaluationResult.execution_state is COMPLETED).",
          "readOnly": true
        },
        "passedCount": {
          "description": "Output only. Number of completed evaluation results with an outcome of PASS. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is PASS).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "cancelledCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of evaluation results that were cancelled. (EvaluationResult.execution_state is CANCELLED)."
        },
        "errorCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of evaluation results that failed to execute. (EvaluationResult.execution_state is ERROR).",
          "type": "integer"
        },
        "failedCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of completed evaluation results with an outcome of FAIL. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is FAIL).",
          "format": "int32"
        },
        "totalCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Total number of evaluation results in this run.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "EvaluationRunProgress",
      "description": "The progress of the evaluation run."
    },
    "AggregatedMetricsHallucinationMetrics": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. The average hallucination score (0 to 1)."
        }
      },
      "description": "Metrics for hallucination results.",
[...]
