{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "canonicalName": "Customer Engagement Suite",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "rootUrl": "https://ces.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerName": "Google",
  "version": "v1",
  "schemas": {
    "Message": {
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "format": "google-datetime",
          "type": "string"
        },
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "chunks": {
          "type": "array",
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks."
        }
      },
      "description": "A message within a conversation.",
      "id": "Message"
    },
    "ModelSettings": {
      "properties": {
        "temperature": {
          "format": "double",
          "type": "number",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative."
        },
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Model settings contains various configurations for the LLM model.",
      "id": "ModelSettings"
    },
    "DashboardSettings": {
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view.",
      "properties": {
        "defaultDashboard": {
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DashboardSettings"
    },
    "ConnectorTool": {
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "id": "ConnectorTool",
      "properties": {
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        }
      }
    },
    "ExpressionCondition": {
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      },
      "description": "Expression condition based on session state.",
      "id": "ExpressionCondition",
      "type": "object"
    },
    "ListConversationsResponse": {
      "properties": {
        "conversations": {
          "type": "array",
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListConversations.",
      "id": "ListConversationsResponse"
    },
    "GuardrailLlmPromptSecurity": {
      "properties": {
        "defaultSettings": {
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response.",
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "id": "GuardrailLlmPromptSecurity",
      "type": "object"
    },
    "RunSessionRequest": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session.",
          "type": "array"
        },
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        }
      },
      "id": "RunSessionRequest",
      "type": "object",
      "description": "Request message for SessionService.RunSession."
    },
    "App": {
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "id": "App",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "variableDeclarations": {
          "description": "Optional. The declarations of the variables.",
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "defaultChannelProfile": {
          "$ref": "ChannelProfile",
          "description": "Optional. The default channel profile used by the app."
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "toolExecutionMode": {
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "type": "string"
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "validationErrors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the app was created."
        },
        "dashboardSettings": {
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards.",
          "$ref": "DashboardSettings"
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "loggingSettings": {
          "$ref": "LoggingSettings",
          "description": "Optional. Logging settings of the app."
        },
        "deploymentCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of deployments in the app."
        },
        "predefinedVariableDeclarations": {
          "description": "Output only. The declarations of predefined variables for the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "pinned": {
          "type": "boolean",
          "description": "Optional. Whether the app is pinned in the app list."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the app."
        },
        "globalInstruction": {
          "type": "string",
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents."
        }
      }
    },
    "RestoreAppVersionRequest": {
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {},
      "type": "object",
      "id": "RestoreAppVersionRequest"
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY."
        }
      },
      "description": "Configuration for default system security settings.",
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
    },
    "LfA2aV1TaskStatus": {
      "description": "A container for the status of a task",
      "type": "object",
      "id": "LfA2aV1TaskStatus",
      "properties": {
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        },
        "timestamp": {
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "description": "Required. The current state of this task.",
          "type": "string"
        }
      }
    },
    "LfA2aV1AgentProvider": {
      "description": "Represents the service provider of an agent.",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Required. The name of the agent provider's organization. Example: \"Google\""
        }
      },
      "id": "LfA2aV1AgentProvider"
    },
    "CodeBlock": {
      "description": "A code block to be executed instead of a real tool call.",
      "id": "CodeBlock",
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      }
    },
    "LfA2aV1PasswordOAuthFlow": {
      "type": "object",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
      "id": "LfA2aV1PasswordOAuthFlow",
      "properties": {
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        }
      }
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "properties": {
        "statusUpdate": {
          "description": "An event indicating a task status update.",
          "$ref": "LfA2aV1TaskStatusUpdateEvent"
        },
        "artifactUpdate": {
          "description": "An event indicating a task artifact update.",
          "$ref": "LfA2aV1TaskArtifactUpdateEvent"
        },
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "A Task object containing the current state of the task."
        },
        "message": {
          "description": "A Message object containing a message from the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "type": "object",
      "id": "LfA2aV1StreamResponse"
    },
    "LfA2aV1SendMessageConfiguration": {
      "type": "object",
      "id": "LfA2aV1SendMessageConfiguration",
      "properties": {
        "acceptedOutputModes": {
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taskPushNotificationConfig": {
          "$ref": "LfA2aV1TaskPushNotificationConfig",
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request."
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        },
        "historyLength": {
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration of a send message request."
    },
    "ToolResponses": {
      "type": "object",
      "description": "Execution results for the requested tool calls from the client.",
      "properties": {
        "toolResponses": {
          "items": {
            "$ref": "ToolResponse"
          },
          "description": "Optional. The list of tool execution results.",
          "type": "array"
        }
      },
      "id": "ToolResponses"
    },
    "DataStoreToolRewriterConfig": {
      "type": "object",
      "id": "DataStoreToolRewriterConfig",
      "description": "Rewriter configuration.",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        }
      }
    },
    "ClientFunction": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The function description."
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "response": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function response."
        }
      },
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "id": "ClientFunction"
    },
    "AgentCard": {
      "id": "AgentCard",
      "properties": {
        "skills": {
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          }
        }
      },
      "type": "object",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "AmbientSoundConfig": {
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "prebuiltAmbientNoise": {
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
        },
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "AmbientSoundConfig"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "type": "object",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2AuthCodeConfig"
    },
    "TriggerActionRespondImmediately": {
      "description": "The agent will immediately respond with a preconfigured response.",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "type": "array",
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly."
        }
      },
      "id": "TriggerActionRespondImmediately"
    },
    "SystemTool": {
      "type": "object",
      "id": "SystemTool",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the system tool.",
          "type": "string"
        }
      },
      "description": "Pre-defined system tool."
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        }
      },
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken.",
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "type": "object",
      "description": "The agent will transfer the conversation to a different agent.",
      "id": "TriggerActionTransferAgent"
    },
    "WhatsAppCredentials": {
      "properties": {
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        }
      },
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "type": "object",
      "id": "WhatsAppCredentials"
    },
    "ConnectorToolset": {
      "properties": {
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        },
        "connectorActions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "type": "array"
        }
      },
      "id": "ConnectorToolset",
      "type": "object",
      "description": "A toolset that generates tools from an Integration Connectors Connection."
    },
    "MockedToolCall": {
      "properties": {
        "toolset": {
          "description": "Optional. The toolset to mock.",
          "$ref": "ToolsetTool"
        },
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tool": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated. Use tool_identifier instead."
        },
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "mockResponse": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
        }
      },
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "type": "object",
      "id": "MockedToolCall"
    },
    "GoogleSearchToolPromptConfig": {
      "id": "GoogleSearchToolPromptConfig",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        }
      },
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "type": "object"
    },
    "Agent": {
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "type": "object",
      "id": "Agent",
      "properties": {
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "remoteA2aAgent": {
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution.",
          "$ref": "AgentRemoteA2aAgent"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "beforeModelCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "validationErrors": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "remoteDialogflowAgent": {
          "$ref": "AgentRemoteDialogflowAgent",
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "tools": {
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          }
        },
        "childAgents": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "array"
        },
        "afterAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "instruction": {
          "type": "string",
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        }
      }
    },
    "ListChangelogsResponse": {
      "description": "Response message for AgentService.ListChangelogs.",
      "id": "ListChangelogsResponse",
      "type": "object",
      "properties": {
        "changelogs": {
          "description": "The list of changelogs.",
          "type": "array",
          "items": {
            "$ref": "Changelog"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "type": "object",
      "description": "The agent will immediately respond with a generative answer.",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      },
      "id": "TriggerActionGenerativeAnswer"
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "type": "object",
      "properties": {
        "errorHandlingStrategy": {
          "type": "string",
          "description": "Optional. The strategy to use for error handling.",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ]
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        },
        "endSessionConfig": {
          "$ref": "ErrorHandlingSettingsEndSessionConfig",
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors)."
        }
      },
      "description": "Settings to describe how errors should be handled in the app."
    },
    "Action": {
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "properties": {
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        }
      },
      "type": "object"
    },
    "LfA2aV1SecurityRequirement": {
      "properties": {
        "schemes": {
          "description": "A map of security schemes to the required scopes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          }
        }
      },
      "type": "object",
      "description": "Defines the security requirements for an agent.",
      "id": "LfA2aV1SecurityRequirement"
    },
    "Schema": {
      "id": "Schema",
      "type": "object",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "properties": {
        "minimum": {
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "type": "array"
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY."
        },
        "prefixItems": {
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "type": "array"
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "description": "Required. The type of the data."
        },
        "defs": {
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "type": "object"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maximum": {
          "type": "number",
          "format": "double",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER."
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "additionalProperties": {
          "$ref": "Schema",
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties."
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        }
      }
    },
    "ExportAppRequest": {
      "properties": {
        "exportFormat": {
          "description": "Required. The format to export the app in.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        }
      },
      "type": "object",
      "description": "Request message for AgentService.ExportApp.",
      "id": "ExportAppRequest"
    },
    "AppVersion": {
      "type": "object",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "id": "AppVersion",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app version was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the app version."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email of the user who created the app version."
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the app version was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GuardrailCodeCallback": {
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "type": "object",
      "properties": {
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      },
      "id": "GuardrailCodeCallback"
    },
    "AgentLlmAgent": {
      "properties": {},
      "id": "AgentLlmAgent",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "type": "object"
    },
    "McpToolOverride": {
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "id": "McpToolOverride",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools."
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "readOnly": true,
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present."
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "description": "Summarization configuration.",
      "type": "object",
      "id": "DataStoreToolSummarizationConfig",
      "properties": {
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        }
      }
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "id": "LfA2aV1HTTPAuthSecurityScheme",
      "type": "object",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry."
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes.",
          "type": "string"
        }
      },
      "description": "Defines a security scheme using HTTP authentication."
    },
    "CloudLoggingSettings": {
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "id": "CloudLoggingSettings",
      "type": "object",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable Cloud Logging for the sessions."
        }
      }
    },
    "ChannelProfileWhatsAppConfig": {
      "description": "Configuration specific to WhatsApp deployments.",
      "properties": {
        "phoneNumberId": {
          "type": "string",
          "description": "Required. The Meta phone number ID."
        },
        "phoneNumber": {
          "description": "Optional. The phone number in E.164 format.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "description": {
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business page name."
        }
      },
      "id": "ChannelProfileWhatsAppConfig",
      "type": "object"
    },
    "RetrieveToolSchemaRequest": {
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "id": "RetrieveToolSchemaRequest",
      "type": "object",
      "description": "Request message for ToolService.RetrieveToolSchema."
    },
    "TriggerActionResponse": {
      "properties": {
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        },
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        }
      },
      "description": "Represents a response from the agent.",
      "id": "TriggerActionResponse",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array"
        },
        "contextUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
        },
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        }
      },
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "type": "object"
    },
    "ListAppsResponse": {
      "description": "Response message for AgentService.ListApps.",
      "id": "ListAppsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "properties": {},
      "type": "object",
      "id": "ServiceAgentIdTokenAuthConfig",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent."
    },
    "LfA2aV1StringList": {
      "id": "LfA2aV1StringList",
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings.",
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "description": "The individual string values.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TriggerAction": {
      "id": "TriggerAction",
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "generativeAnswer": {
          "$ref": "TriggerActionGenerativeAnswer",
          "description": "Optional. Respond with a generative answer."
        },
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        }
      },
      "type": "object"
    },
    "Conversation": {
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          }
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the conversation."
        },
        "entryAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "source": {
          "type": "string",
          "description": "Output only. Indicate the source of the conversation.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ]
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "deprecated": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created."
        },
        "deployment": {
          "readOnly": true,
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "deprecated": true,
          "description": "Deprecated. Use turns instead."
        },
        "turnCount": {
          "readOnly": true,
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32",
          "type": "integer"
        },
        "inputTypes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The input types of the conversation.",
          "items": {
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "type": "string"
          }
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object"
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "enableRedaction": {
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "Guardrail": {
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "type": "object",
      "id": "Guardrail",
      "properties": {
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "supervisor": {
          "$ref": "GuardrailSupervisor",
          "description": "Optional. Guardrail that runs supervisor intervention."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was created.",
          "type": "string"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        }
      }
    },
    "OAuthConfig": {
      "description": "Configurations for authentication with OAuth.",
      "type": "object",
      "id": "OAuthConfig",
      "properties": {
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        }
      }
    },
    "ExportAppResponse": {
      "description": "Response message for AgentService.ExportApp.",
      "id": "ExportAppResponse",
      "properties": {
        "appContent": {
          "format": "byte",
          "type": "string",
          "description": "App folder compressed as a zip file."
        },
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "type": "string",
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ]
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "description": "Settings for matching tool calls."
    },
    "ListExamplesResponse": {
      "type": "object",
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "properties": {
        "examples": {
          "description": "The list of examples.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Example": {
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "type": "object",
      "id": "Example",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was created.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the example."
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "invalid": {
          "readOnly": true,
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the example was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ConversationLoggingSettings": {
      "properties": {
        "retentionWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days."
        },
        "disableConversationLogging": {
          "type": "boolean",
          "description": "Optional. Whether to disable conversation logging for the sessions."
        }
      },
      "type": "object",
      "id": "ConversationLoggingSettings",
      "description": "Settings to describe the conversation logging behaviors for the app."
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      },
      "id": "SessionOutputDiagnosticInfo"
    },
    "GuardrailModelSafety": {
      "properties": {
        "safetySettings": {
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "type": "array",
          "description": "Required. List of safety settings."
        }
      },
      "type": "object",
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe."
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "type": "object",
      "properties": {
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        },
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        }
      },
      "id": "ConversationTurn"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "AgentSkill": {
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object",
      "id": "AgentSkill",
      "properties": {
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tags": {
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LfA2aV1TaskPushNotificationConfig": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The URL where the notification should be sent."
        },
        "taskId": {
          "description": "The ID of the task this configuration is associated with.",
          "type": "string"
        },
        "id": {
          "description": "The push notification configuration details. A unique identifier (e.g. UUID) for this push notification configuration.",
          "type": "string"
        },
        "token": {
          "description": "A token unique for this task or session.",
          "type": "string"
        },
        "authentication": {
          "description": "Authentication information required to send the notification.",
          "$ref": "LfA2aV1AuthenticationInfo"
        },
        "tenant": {
          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A container associating a push notification configuration with a specific task.",
      "id": "LfA2aV1TaskPushNotificationConfig"
    },
    "AgentRemoteA2aAgent": {
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      },
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "id": "AgentRemoteA2aAgent",
      "type": "object"
    },
    "LfA2aV1SendMessageRequest": {
      "properties": {
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A flexible key-value map for passing additional context or parameters.",
          "type": "object"
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "description": "Represents a request for the `SendMessage` method.",
      "type": "object",
      "id": "LfA2aV1SendMessageRequest"
    },
    "LfA2aV1SecurityScheme": {
      "type": "object",
      "id": "LfA2aV1SecurityScheme",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "properties": {
        "apiKeySecurityScheme": {
          "$ref": "LfA2aV1APIKeySecurityScheme",
          "description": "API key-based authentication."
        },
        "openIdConnectSecurityScheme": {
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme",
          "description": "OpenID Connect authentication."
        },
        "oauth2SecurityScheme": {
          "$ref": "LfA2aV1OAuth2SecurityScheme",
          "description": "OAuth 2.0 authentication."
        },
        "httpAuthSecurityScheme": {
          "$ref": "LfA2aV1HTTPAuthSecurityScheme",
          "description": "HTTP authentication (Basic, Bearer, etc.)."
        },
        "mtlsSecurityScheme": {
          "$ref": "LfA2aV1MutualTlsSecurityScheme",
          "description": "Mutual TLS authentication."
        }
      }
    },
    "DataStoreSettings": {
      "id": "DataStoreSettings",
      "type": "object",
      "description": "Data store related settings for the app.",
      "properties": {
        "engines": {
          "type": "array",
          "description": "Output only. The engines for the app.",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "readOnly": true
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListGuardrailsResponse": {
      "type": "object",
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails.",
      "properties": {
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "properties": {
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "endUserMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "type": "object"
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "type": "object",
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        }
      },
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "type": "object"
    },
    "Toolset": {
      "id": "Toolset",
      "type": "object",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "connectorToolset": {
          "$ref": "ConnectorToolset",
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection."
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the toolset was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "executionType": {
          "description": "Optional. The execution type of the tools in the toolset.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "type": "string"
        }
      }
    },
    "TransferRule": {
      "properties": {
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "direction": {
          "type": "string",
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ]
        },
        "childAgent": {
          "type": "string",
[...]
