{
  "discoveryVersion": "v1",
  "revision": "20260903",
  "description": "",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "schemas": {
    "RetrieveToolSchemaRequest": {
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "id": "RetrieveToolSchemaRequest",
      "type": "object"
    },
    "RunSessionRequest": {
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "description": "Required. Inputs for the session.",
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array"
        }
      },
      "description": "Request message for SessionService.RunSession.",
      "id": "RunSessionRequest",
      "type": "object"
    },
    "TestPersonaVoiceRequest": {
      "id": "TestPersonaVoiceRequest",
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "properties": {
        "personaId": {
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\".",
          "type": "string"
        },
        "text": {
          "description": "Required. The text to test the voice for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Message": {
      "type": "object",
      "properties": {
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks.",
          "type": "array"
        },
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A message within a conversation.",
      "id": "Message"
    },
    "ConversationTurn": {
      "properties": {
        "userIntendedText": {
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      },
      "type": "object",
      "description": "All information about a single turn in the conversation.",
      "id": "ConversationTurn"
    },
    "Conversation": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the conversation."
        },
        "turnCount": {
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true,
          "format": "int32"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "inputTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The input types of the conversation."
        },
        "entryAgent": {
          "type": "string",
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created."
        },
        "endTime": {
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Deprecated. Use turns instead.",
          "deprecated": true
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array"
        },
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "description": "Output only. Indicate the source of the conversation.",
          "readOnly": true
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true
        },
        "appVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app."
    },
    "ExportEvaluationResultsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluationResults.",
      "id": "ExportEvaluationResultsResponse",
      "type": "object",
      "properties": {
        "evaluationResultsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Results were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        },
        "evaluationResultsContent": {
          "description": "The content of the exported Evaluation Results. This will be populated if gcs_uri was not specified in the request.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "GuardrailModelSafetySafetySetting": {
      "description": "Safety setting.",
      "id": "GuardrailModelSafetySafetySetting",
      "type": "object",
      "properties": {
        "threshold": {
          "description": "Required. The harm block threshold.",
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        },
        "category": {
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ],
          "description": "Required. The harm category."
        }
      }
    },
    "GenerateAppResourceRequestHillClimbingFixConfig": {
      "properties": {
        "qualityReport": {
          "description": "Required. The quality report used to inform the instruction following fix.",
          "$ref": "QualityReport"
        }
      },
      "type": "object",
      "description": "The configuration to be used for hill climbing fixes.",
      "id": "GenerateAppResourceRequestHillClimbingFixConfig"
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "properties": {
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "type": "string",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "deprecated": true,
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
        },
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        },
        "volumeGainDb": {
          "format": "double",
          "type": "number",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        }
      },
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "type": "object",
      "id": "LfA2aV1APIKeySecurityScheme",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\"."
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        }
      }
    },
    "EvaluationRunCachingSettings": {
      "id": "EvaluationRunCachingSettings",
      "properties": {
        "runCachingMode": {
          "type": "string",
          "enum": [
            "EVALUATION_RUN_CACHING_MODE_UNSPECIFIED",
            "FORCE_RUN",
            "SKIP_IF_UNCHANGED"
          ],
          "enumDescriptions": [
            "The run caching mode is unspecified.",
            "Always execute a full live simulation regardless of whether changelogs exist.",
            "Skip execution and copy previous verified results if no dependencies have mutated, the evaluation channel/run method are the same."
          ],
          "description": "Optional. The caching mode to use for the evaluation run. If not set, default to FORCE_RUN."
        }
      },
      "description": "Settings for evaluation run caching.",
      "type": "object"
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "type": "object",
      "properties": {
        "audioEncoding": {
          "description": "Required. The encoding of the input audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the input audio data."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      }
    },
    "UploadEvaluationAudioRequest": {
      "type": "object",
      "properties": {
        "audioContent": {
          "type": "string",
          "format": "byte",
          "description": "Required. The raw audio bytes. The format of the audio must be single-channel LINEAR16 with a sample rate of 16kHz (default InputAudioConfig)."
        },
        "previousAudioGcsUri": {
          "description": "Optional. The Google Cloud Storage URI of the previously uploaded audio file to be deleted. Format: `gs:///`",
          "type": "string"
        }
      },
      "description": "Request message for EvaluationService.UploadEvaluationAudio.",
      "id": "UploadEvaluationAudioRequest"
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object"
    },
    "EndpointControlPolicy": {
      "description": "Defines project/location level endpoint control policy.",
      "id": "EndpointControlPolicy",
      "type": "object",
      "properties": {
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "type": "string",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ]
        },
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "type": "array"
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "description": "Configuration for searching within a specific DataStore.",
      "id": "DataStoreToolDataStoreSource",
      "type": "object",
      "properties": {
        "dataStore": {
          "$ref": "DataStore",
          "description": "Optional. The data store."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      }
    },
    "Guardrail": {
      "properties": {
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was created.",
          "format": "google-datetime"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the guardrail is enabled."
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        }
      },
      "id": "Guardrail",
      "type": "object",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "EvaluationResultTaskCompletionResult": {
      "properties": {
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined"
        },
        "score": {
          "type": "integer",
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "format": "int32",
          "readOnly": true
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the task completion score."
        }
      },
      "description": "The result of the task completion check for the conversation.",
      "type": "object",
      "id": "EvaluationResultTaskCompletionResult"
    },
    "GenerateEvaluationOperationMetadata": {
      "id": "GenerateEvaluationOperationMetadata",
      "properties": {},
      "type": "object",
      "description": "Operation metadata for EvaluationService.GenerateEvaluation."
    },
    "ConnectorToolset": {
      "properties": {
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        },
        "connectorActions": {
          "type": "array",
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          }
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        }
      },
      "id": "ConnectorToolset",
      "type": "object",
      "description": "A toolset that generates tools from an Integration Connectors Connection."
    },
    "CustomVoiceSample": {
      "id": "CustomVoiceSample",
      "properties": {
        "voiceInstruction": {
          "type": "string",
          "description": "Optional. Natural language instructions for voice style, tone, pacing, or pronunciation."
        },
        "consentAudioGcsUri": {
          "description": "Optional. Consent audio for voice cloning.",
          "type": "string"
        },
        "previewText": {
          "description": "Optional. Text for synthesizing preview audio for custom voice.",
          "type": "string"
        },
        "previewAudioContent": {
          "description": "Output only. Synthesized preview audio for custom voice, formatted as canonical WAV (LINEAR16, 24kHz, 16-bit, mono).",
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "voiceSampleGcsUri": {
          "description": "Optional. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The user-defined name for the custom voice sample."
        }
      },
      "type": "object",
      "description": "Configuration for a custom voice sample used for voice cloning."
    },
    "QualityReport": {
      "type": "object",
      "properties": {
        "generalIssues": {
          "description": "Optional. General issues not specific to any agent.",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "type": "array"
        },
        "evaluationRuns": {
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issues": {
          "items": {
            "$ref": "QualityReportAgentIssues"
          },
          "type": "array",
          "description": "Optional. The issues grouped by agent."
        }
      },
      "id": "QualityReport",
      "description": "The report describing any identified quality issues in the app."
    },
    "ListAgentsResponse": {
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "agents": {
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        }
      },
      "id": "ListAgentsResponse",
      "type": "object"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "type": "object",
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "properties": {
        "webhookHeaders": {
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "ToolCall": {
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "parentToolCallId": {
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "agentName": {
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        }
      },
      "type": "object",
      "id": "ToolCall",
      "description": "Request for the client or the agent to execute the specified tool."
    },
    "Blob": {
      "description": "Represents a blob input or output in the conversation.",
      "id": "Blob",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "properties": {
        "explanation": {
          "description": "An explanation of the changes in the generated resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This provides additional information about the generated result."
    },
    "PersonaRunConfig": {
      "type": "object",
      "description": "Configuration for running an evaluation for a specific persona.",
      "properties": {
        "taskCount": {
          "description": "Optional. The number of tasks to run for the persona.",
          "type": "integer",
          "format": "int32"
        },
        "persona": {
          "type": "string",
          "description": "Optional. The persona to use for the evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`"
        }
      },
      "id": "PersonaRunConfig"
    },
    "LfA2aV1SendMessageResponse": {
      "id": "LfA2aV1SendMessageResponse",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        },
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        }
      },
      "description": "Represents the response for the `SendMessage` method."
    },
    "DataStoreToolRewriterConfig": {
      "description": "Rewriter configuration.",
      "type": "object",
      "id": "DataStoreToolRewriterConfig",
      "properties": {
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        }
      }
    },
    "GenerateAppResourceRequestAppGenerationConfig": {
      "description": "The configuration to be used to generate the app.",
      "properties": {
        "context": {
          "type": "string",
          "description": "Optional. The context which describes the requirements of the agents & tools to be generated."
        },
        "fileContexts": {
          "type": "array",
          "items": {
            "$ref": "FileContext"
          },
          "description": "Optional. The files to be used as context."
        },
        "generateEvaluations": {
          "type": "boolean",
          "description": "Optional. Whether to generate the evaluations for the app. If true, the provided context will be used to generate the evaluations data."
        },
        "gcsLocation": {
          "description": "Optional. The Cloud Storage location to store the generated question answer data to be used by the Datastore tool. This data is generated only when using conversation data as an input source. The location must be in the same project as the app. Format: `gs://...`.",
          "type": "string"
        },
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the agents & tools. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        }
      },
      "id": "GenerateAppResourceRequestAppGenerationConfig",
      "type": "object"
    },
    "UploadEvaluationAudioResponse": {
      "description": "Response message for EvaluationService.UploadEvaluationAudio.",
      "id": "UploadEvaluationAudioResponse",
      "type": "object",
      "properties": {
        "audioGcsUri": {
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`",
          "type": "string"
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        },
        "duration": {
          "description": "The duration of the audio.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "description": "Defines a security scheme using OpenID Connect.",
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "description": "Specifies the expectation and the result of that expectation.",
      "id": "EvaluationResultGoldenExpectationOutcome",
      "properties": {
        "semanticSimilarityResult": {
          "deprecated": true,
          "description": "Output only. The result of the semantic similarity check.",
          "readOnly": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        },
        "observedAgentResponse": {
          "description": "Output only. The result of the agent response expectation.",
          "readOnly": true,
          "$ref": "Message"
        },
        "toolInvocationResult": {
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "readOnly": true,
          "description": "Output only. The result of the tool invocation check."
        },
        "observedToolResponse": {
          "description": "Output only. The result of the tool response expectation.",
          "readOnly": true,
          "$ref": "ToolResponse"
        },
        "observedToolCall": {
          "description": "Output only. The result of the tool call expectation.",
          "readOnly": true,
          "$ref": "ToolCall"
        },
        "observedPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED."
        },
        "observedAgentTransfer": {
          "readOnly": true,
          "$ref": "AgentTransfer",
          "description": "Output only. The result of the agent transfer expectation."
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "readOnly": true,
          "description": "Output only. The expectation that was evaluated."
        },
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the expectation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "id": "DataStoreToolModalityConfig",
      "type": "object",
      "properties": {
        "snippetsConfig": {
          "$ref": "DataStoreToolSnippetsConfig",
          "description": "Optional. The snippets configuration."
        },
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "modalityType": {
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type."
        },
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        }
      }
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableHallucinationMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation."
        }
      },
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "GenerateEvaluationRequest": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched.",
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ]
        },
        "evaluationType": {
          "description": "Optional. The type of evaluation to generate. Defaults to GOLDEN if unspecified.",
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "GOLDEN",
            "SCENARIO"
          ],
          "enumDescriptions": [
            "Unspecified type. Defaults to GOLDEN.",
            "Golden evaluation.",
            "Scenario evaluation."
          ]
        }
      },
      "id": "GenerateEvaluationRequest",
      "description": "Request message for EvaluationService.GenerateEvaluation."
    },
    "EvaluationSettings": {
      "type": "object",
      "description": "Settings for evaluation.",
      "properties": {
        "goldenRunMethod": {
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "scenarioExecutionMode": {
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED.",
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ]
        },
        "scenarioConversationInitiator": {
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "type": "string",
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ]
        },
        "metricsConfig": {
          "description": "Optional. Configures the default metrics for evaluations.",
          "$ref": "EvaluationMetricsConfig"
        },
        "goldenEvaluationToolCallBehaviour": {
          "description": "Optional. Configures the default tool call behaviour for golden evaluations.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        },
        "scenarioEvaluationToolCallBehaviour": {
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        }
      },
      "id": "EvaluationSettings"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "LatencyReportToolLatency": {
      "description": "Latency metrics for a single tool.",
      "type": "object",
      "id": "LatencyReportToolLatency",
      "properties": {
        "toolsetTool": {
          "readOnly": true,
          "description": "Output only. The toolset tool identifier.",
          "$ref": "ToolsetTool"
        },
        "toolDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the tool.",
          "readOnly": true
        },
        "latencyMetrics": {
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the tool."
        },
        "tool": {
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "readOnly": true
        }
      }
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "description": "An event sent by the agent to notify the client of a change in a task's status.",
      "id": "LfA2aV1TaskStatusUpdateEvent",
      "properties": {
        "contextId": {
          "type": "string",
          "description": "Required. The ID of the context that the task belongs to."
        },
        "taskId": {
          "description": "Required. The ID of the task that has changed.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata associated with the task update.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "status": {
          "description": "Required. The new status of the task.",
          "$ref": "LfA2aV1TaskStatus"
        }
      },
      "type": "object"
    },
    "EvaluationConfig": {
      "type": "object",
      "properties": {
        "evaluationChannel": {
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ],
          "description": "Optional. The channel to evaluate.",
          "type": "string",
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "toolCallBehaviour": {
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools."
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        }
      },
      "id": "EvaluationConfig",
      "description": "EvaluationConfig configures settings for running the evaluation."
    },
    "RunEvaluationResultMetricsRequest": {
      "id": "RunEvaluationResultMetricsRequest",
      "description": "Request message for EvaluationService.RunEvaluationResultMetrics.",
      "type": "object",
      "properties": {}
    },
    "ImportAppRequest": {
      "properties": {
        "importOptions": {
          "$ref": "ImportAppRequestImportOptions",
          "description": "Optional. Options governing the import process for the app."
        },
        "jsonPatchGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "appContent": {
          "format": "byte",
          "type": "string",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "jsonPatchContent": {
          "description": "Optional. Patch content as a JSON string.",
          "type": "string"
        }
      },
      "description": "Request message for AgentService.ImportApp.",
      "id": "ImportAppRequest",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "type": "object",
      "description": "Turn level metrics thresholds.",
      "properties": {
        "overallToolInvocationCorrectnessThreshold": {
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float",
          "type": "number"
        },
        "semanticSimilarityChannel": {
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "type": "string",
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        },
        "semanticSimilaritySuccessThreshold": {
          "format": "int32",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "type": "integer"
        }
      }
    },
    "DashboardSettings": {
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view.",
      "type": "object",
      "id": "DashboardSettings",
      "properties": {
        "defaultDashboard": {
          "type": "string",
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`"
        }
      }
    },
    "CodeBlock": {
      "description": "A code block to be executed instead of a real tool call.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "id": "CodeBlock"
    },
    "QualityReportIssue": {
      "type": "object",
      "properties": {
        "proposedSolution": {
          "description": "Optional. Proposed solution to fix the issue by modifying instructions or tools.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the issue found.",
          "type": "string"
        },
        "occurrenceCount": {
          "format": "int32",
          "description": "Optional. How many times this issue occurred.",
          "type": "integer"
        }
      },
      "description": "The issue identified.",
      "id": "QualityReportIssue"
    },
    "ListEvaluationRunsResponse": {
      "id": "ListEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ListEvaluationRuns.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "evaluationRuns": {
          "items": {
            "$ref": "EvaluationRun"
          },
          "type": "array",
          "description": "The list of evaluation runs."
        }
      }
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "properties": {
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Traffic allocation for the version release.",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation"
    },
    "AudioProcessingConfig": {
      "type": "object",
      "properties": {
        "inactivityTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement."
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          },
          "type": "object",
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive."
        },
        "customVoiceSamples": {
          "items": {
            "$ref": "CustomVoiceSample"
          },
          "description": "Optional. Configures custom voice samples for voice cloning.",
          "type": "array"
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        }
      },
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered."
    },
    "EvaluationExpectation": {
      "properties": {
        "tags": {
          "type": "array",
          "description": "Optional. User-defined tags for expectations. Can be used to filter expectations.",
          "items": {
            "type": "string"
          }
        },
        "llmCriteria": {
          "$ref": "EvaluationExpectationLlmCriteria",
          "description": "Optional. Evaluation criteria based on an LLM prompt."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the evaluation expectation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the evaluation expectation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. User-defined display name. Must be unique within the app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationExpectation",
      "description": "An evaluation expectation represents a specific criteria to evaluate against."
    },
    "EvaluationScenarioExpectation": {
      "description": "The expectation to evaluate the conversation produced by the simulation.",
      "type": "object",
      "properties": {
        "toolExpectation": {
          "description": "Optional. The tool call and response pair to be evaluated.",
          "$ref": "EvaluationScenarioExpectationToolExpectation"
        },
        "agentResponse": {
          "$ref": "Message",
          "description": "Optional. The agent response to be evaluated."
        }
      },
      "id": "EvaluationScenarioExpectation"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "description": "Settings for golden evaluations.",
      "type": "object",
      "properties": {
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
    },
    "LfA2aV1SendMessageConfiguration": {
      "id": "LfA2aV1SendMessageConfiguration",
      "description": "Configuration of a send message request.",
      "type": "object",
      "properties": {
        "historyLength": {
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer",
          "format": "int32"
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning."
        },
        "acceptedOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output."
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        }
      }
    },
    "LfA2aV1Task": {
      "properties": {
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "type": "array"
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "description": "A set of output artifacts for a `Task`."
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The current status of a `Task`, including `state` and a `message`."
        }
      },
      "type": "object",
      "id": "LfA2aV1Task",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history."
    },
    "AudioRecordingConfig": {
      "type": "object",
      "description": "Configuration for how the audio interactions should be recorded.",
      "properties": {
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        },
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "id": "AudioRecordingConfig"
    },
    "EvaluationDataset": {
      "description": "An evaluation dataset represents a set of evaluations that are grouped together basaed on shared tags.",
      "properties": {
        "lastUpdatedBy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user who last updated the evaluation dataset."
        },
        "createdBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who created the evaluation dataset."
        },
        "evaluations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Evaluations that are included in this dataset."
        },
        "aggregatedMetrics": {
          "description": "Output only. The aggregated metrics for this evaluation dataset across all runs.",
          "$ref": "AggregatedMetrics",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the evaluation dataset was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the evaluation dataset. Unique within an App."
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the evaluation dataset was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationDataset"
    },
    "SessionConfig": {
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "deployment": {
          "type": "string",
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "historicalContexts": {
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "excludeDiagnosticInfo": {
          "type": "boolean",
          "description": "Optional. Whether to exclude diagnostic info from the session output."
        }
      },
      "id": "SessionConfig",
      "type": "object",
      "description": "The configuration for the session."
    },
    "ListGuardrailsResponse": {
      "properties": {
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails.",
      "type": "object"
    },
    "LfA2aV1OAuthFlows": {
      "properties": {
        "implicit": {
          "deprecated": true,
          "$ref": "LfA2aV1ImplicitOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE instead."
        },
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "password": {
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
        },
        "authorizationCode": {
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow",
          "description": "Configuration for the OAuth Authorization Code flow."
        }
      },
      "type": "object",
      "id": "LfA2aV1OAuthFlows",
      "description": "Defines the configuration for the supported OAuth 2.0 flows."
    },
    "TransferRule": {
      "properties": {
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "description": "Required. The direction of the transfer."
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        }
      },
      "description": "Rule for transferring to a specific agent.",
      "id": "TransferRule",
      "type": "object"
    },
    "ListConversationsResponse": {
      "description": "Response message for AgentService.ListConversations.",
      "properties": {
        "conversations": {
          "description": "The list of conversations.",
          "type": "array",
          "items": {
            "$ref": "Conversation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListConversationsResponse",
      "type": "object"
    },
    "McpToolOverride": {
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "id": "McpToolOverride",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools."
        },
        "snapshot": {
          "readOnly": true,
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present."
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportEvaluationsResponse": {
      "type": "object",
      "properties": {
        "evaluationResultImportFailureCount": {
          "description": "The number of evaluation results that either failed to import entirely or completed import with one or more errors.",
          "format": "int32",
          "type": "integer"
        },
        "evaluationResults": {
          "description": "The list of evaluation results that were imported into the app.",
          "items": {
            "$ref": "EvaluationResult"
          },
          "type": "array"
        },
        "importFailureCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of evaluations that either failed to import entirely or completed import with one or more errors."
        },
        "evaluationRuns": {
          "description": "The list of evaluation runs that were imported into the app.",
          "items": {
            "$ref": "EvaluationRun"
          },
          "type": "array"
        },
        "errorMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of error messages associated with evaluations that failed to be imported."
        },
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations that were imported into the app."
        },
        "evaluationRunImportFailureCount": {
          "description": "The number of evaluation runs that either failed to import entirely or completed import with one or more errors.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ImportEvaluationsResponse",
      "description": "Response message for EvaluationService.ImportEvaluations."
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "properties": {
        "inlineCitations": {
          "description": "Optional. List of inline citations in the agent response.",
          "type": "array",
          "items": {
            "$ref": "CitationsInlineCitation"
          }
        },
        "citedChunks": {
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information."
        }
      },
      "type": "object",
      "id": "Citations"
    },
    "GenerateAppResourceRequest": {
      "id": "GenerateAppResourceRequest",
      "properties": {
        "appVersionContext": {
          "$ref": "GenerateAppResourceRequestAppVersionContext",
          "description": "The app version context specifying the base snapshot and target agent."
        },
        "toolGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the tool.",
          "$ref": "GenerateAppResourceRequestToolGenerationConfig"
        },
        "toolset": {
          "$ref": "Toolset",
          "description": "The toolset resource to be used by the LLM assistant, can be empty for generating a new toolset."
        },
        "evaluationPersonasGenerationConfig": {
          "$ref": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
          "description": "Optional. The configuration to be used to generate the evaluation personas."
        },
        "agent": {
          "description": "The agent resource to be used by the LLM assistant, can be empty for generating a new agent.",
          "$ref": "Agent"
        },
        "appGenerationConfig": {
          "$ref": "GenerateAppResourceRequestAppGenerationConfig",
          "description": "Optional. The configuration to be used to generate the agents and tools."
        },
        "qualityReportGenerationConfig": {
          "description": "Optional. The configuration to be used for quality report generation.",
          "$ref": "GenerateAppResourceRequestQualityReportGenerationConfig"
        },
        "evaluationGenerationConfig": {
          "$ref": "GenerateAppResourceRequestEvaluationGenerationConfig",
          "description": "Optional. The configuration to be used to generate the evaluations."
        },
        "hillClimbingFixConfig": {
          "description": "Optional. The configuration to be used for hill climbing fixes.",
          "$ref": "GenerateAppResourceRequestHillClimbingFixConfig"
        },
        "refineInstructions": {
          "items": {
            "$ref": "GenerateAppResourceRequestRefineInstructions"
          },
          "description": "Optional. List of refine instructions to be used to refine the resource.",
          "type": "array"
        },
        "tool": {
          "$ref": "Tool",
          "description": "The tool resource to be used by the LLM assistant, can be empty for generating a new tool."
        }
      },
      "description": "Request message for AgentService.GenerateAppResource.",
      "type": "object"
    },
    "ChannelProfilePersonaProperty": {
      "properties": {
        "persona": {
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      },
      "id": "ChannelProfilePersonaProperty",
      "type": "object",
      "description": "Represents the persona property of a channel."
    },
    "ImportAppResponse": {
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp.",
      "properties": {
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        },
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AggregatedMetricsHallucinationMetrics": {
      "id": "AggregatedMetricsHallucinationMetrics",
      "properties": {
        "score": {
          "description": "Output only. The average hallucination score (0 to 1).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metrics for hallucination results.",
      "type": "object"
    },
    "EndUserAuthConfig": {
      "properties": {
        "oauth2JwtBearerConfig": {
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig",
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication."
        },
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        }
      },
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "type": "object",
      "id": "EndUserAuthConfig"
    },
    "AgentCard": {
      "properties": {
        "supportedInterfaces": {
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "AgentSkill"
          },
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        }
      },
      "id": "AgentCard",
      "type": "object",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig": {
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig",
      "description": "The configuration to be used to generate an operation in the Open API schema.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The path of the tool to be appended to the base uri. This should include query and path parameters if any."
        },
        "responseJson": {
          "description": "Required. A sample response from the tool in JSON format.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Required. The uri of the tool. This should include query and path parameters if any."
        },
        "requestJson": {
          "description": "Required. A sample request to the tool in JSON format. Skip if the tool does not support request body.",
          "type": "string"
        }
      }
    },
    "AppSnapshot": {
      "description": "A snapshot of the app.",
      "type": "object",
      "id": "AppSnapshot",
      "properties": {
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "Optional. List of guardrails in the app.",
          "type": "array"
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "agents": {
          "type": "array",
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          }
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app."
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. List of examples in the app.",
          "type": "array"
        }
      }
    },
    "ImportEvaluationsRequest": {
      "properties": {
        "conversationList": {
          "$ref": "ImportEvaluationsRequestConversationList",
          "description": "The conversations to import the evaluations from."
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import evaluations. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "csvContent": {
          "type": "string",
          "description": "Raw bytes representing the csv file with the evaluations structure.",
          "format": "byte"
        },
        "importOptions": {
          "$ref": "ImportEvaluationsRequestImportOptions",
          "description": "Optional. Options governing the import process for the evaluations."
        }
      },
      "id": "ImportEvaluationsRequest",
      "type": "object",
      "description": "Request message for EvaluationService.ImportEvaluations."
    },
    "EvaluationResultScenarioResult": {
      "id": "EvaluationResultScenarioResult",
      "type": "object",
      "properties": {
        "allExpectationsSatisfied": {
          "description": "Output only. Whether all expectations were satisfied for this turn.",
          "readOnly": true,
          "type": "boolean"
        },
        "hallucinationResult": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The result of the hallucination check. There will be one hallucination result for each turn in the conversation.",
          "items": {
            "$ref": "EvaluationResultHallucinationResult"
          }
        },
        "toolCallLatencies": {
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "type": "array",
          "description": "Output only. The latency of each tool call execution in the conversation.",
          "readOnly": true
        },
        "userGoalSatisfactionResult": {
          "readOnly": true,
          "description": "Output only. The result of the user goal satisfaction check.",
          "$ref": "EvaluationResultUserGoalSatisfactionResult"
        },
        "taskCompletionResult": {
          "readOnly": true,
          "$ref": "EvaluationResultTaskCompletionResult",
          "description": "Output only. The result of the task completion check.",
          "deprecated": true
        },
        "conversation": {
          "type": "string",
          "description": "Output only. The conversation that was generated in the scenario.",
          "readOnly": true
        },
        "expectationOutcomes": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultScenarioExpectationOutcome"
          },
          "description": "Output only. The outcome of each expectation.",
          "type": "array"
        },
        "spanLatencies": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "description": "Output only. The latency of spans in the conversation.",
          "readOnly": true
        },
        "evaluationExpectationResults": {
          "description": "Output only. The results of the evaluation expectations.",
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "type": "array",
          "readOnly": true
        },
        "task": {
          "description": "Output only. The task that was used when running the scenario for this result.",
          "readOnly": true,
          "type": "string"
        },
        "userFacts": {
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "type": "array",
          "description": "Output only. The user facts that were used by the scenario for this result.",
          "readOnly": true
        },
        "rubricOutcomes": {
          "description": "Output only. The outcome of the rubric.",
          "items": {
            "$ref": "EvaluationResultScenarioRubricOutcome"
          },
          "readOnly": true,
          "type": "array"
        },
        "taskCompleted": {
          "readOnly": true,
          "description": "Output only. Whether the task was completed for this turn. This is a composite of all expectations satisfied, no hallucinations, and user goal satisfaction.",
          "type": "boolean"
[...]
