{
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "version_module": true,
  "name": "ces",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "title": "Gemini Enterprise for Customer Experience API",
  "description": "",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260824",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1beta/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "id": "ces.projects.locations.operations.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "ces.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ces.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ces.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "apps": {
              "resources": {
                "evaluationRuns": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns/{evaluationRunsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the evaluation run to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationRuns/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes an evaluation run.",
                      "id": "ces.projects.locations.apps.evaluationRuns.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "export": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "ces.projects.locations.apps.evaluationRuns.export",
                      "path": "v1beta/{+parent}/evaluationRuns:export",
                      "request": {
                        "$ref": "ExportEvaluationRunsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Exports evaluations runs.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns:export",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to export evaluation runs from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "description": "Lists all evaluation runs in the given app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationRuns.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns",
                      "path": "v1beta/{+parent}/evaluationRuns",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationRuns call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the app to list evaluation runs from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation runs. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "ListEvaluationRunsResponse"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationRuns/{evaluationRunsId}",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationRuns/[^/]+$",
                          "description": "Required. The resource name of the evaluation run to retrieve.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.evaluationRuns.get",
                      "description": "Gets details of the specified evaluation run.",
                      "response": {
                        "$ref": "EvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "id": "ces.projects.locations.apps.examples.patch",
                      "request": {
                        "$ref": "Example"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the specified example.",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Example"
                      }
                    },
                    "delete": {
                      "description": "Deletes the specified example.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the example to delete."
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the example. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the example, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.examples.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "ces.projects.locations.apps.examples.create",
                      "request": {
                        "$ref": "Example"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new example in the given app.",
                      "path": "v1beta/{+parent}/examples",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create an example in.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        },
                        "exampleId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the example, which will become the final component of the example's resource name. If not provided, a unique ID will be automatically assigned for the example.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Example"
                      }
                    },
                    "get": {
                      "id": "ces.projects.locations.apps.examples.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "description": "Gets details of the specified example.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Example"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "description": "Required. The resource name of the example to retrieve.",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListExamples call.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list examples from.",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the examples. See https://google.aip.dev/160 for more details.",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "path": "v1beta/{+parent}/examples",
                      "description": "Lists examples in the given app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "id": "ces.projects.locations.apps.examples.list"
                    }
                  }
                },
                "toolsets": {
                  "methods": {
                    "patch": {
                      "description": "Updates the specified toolset.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Toolset"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.toolsets.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Toolset"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists toolsets in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list toolsets from.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the toolsets. See https://google.aip.dev/160 for more details.",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListToolsets call.",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.toolsets.list",
                      "response": {
                        "$ref": "ListToolsetsResponse"
                      },
                      "path": "v1beta/{+parent}/toolsets",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the toolset to retrieve.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Toolset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "id": "ces.projects.locations.apps.toolsets.get",
                      "description": "Gets details of the specified toolset.",
                      "path": "v1beta/{+name}"
                    },
                    "retrieveTools": {
                      "request": {
                        "$ref": "RetrieveToolsRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "toolset": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the toolset to retrieve the tools for. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "RetrieveToolsResponse"
                      },
                      "description": "Retrieve the list of tools included in the specified toolset.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+toolset}:retrieveTools",
                      "parameterOrder": [
                        "toolset"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}:retrieveTools",
                      "id": "ces.projects.locations.apps.toolsets.retrieveTools"
                    },
                    "create": {
                      "description": "Creates a new toolset in the given app.",
                      "httpMethod": "POST",
                      "parameters": {
                        "toolsetId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the toolset, which will become the final component of the toolset's resource name. If not provided, a unique ID will be automatically assigned for the toolset.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the app to create a toolset in.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Toolset"
                      },
                      "request": {
                        "$ref": "Toolset"
                      },
                      "id": "ces.projects.locations.apps.toolsets.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/toolsets"
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.toolsets.delete",
                      "description": "Deletes the specified toolset.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "force": {
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the toolset, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any agents still reference the toolset. * If `force = true`, all existing references from agents will be removed and the toolset will be deleted.",
                          "type": "boolean"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the toolset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the toolset, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "description": "Required. The resource name of the toolset to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "patch": {
                      "id": "ces.projects.locations.apps.tools.patch",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Tool"
                      },
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified tool.",
                      "response": {
                        "$ref": "Tool"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list tools from.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+parent}/tools",
                      "id": "ces.projects.locations.apps.tools.list",
                      "description": "Lists tools in the given app.",
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1beta/{+parent}/tools",
                      "description": "Creates a new tool in the given app.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create a tool in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "toolId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.tools.create",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "response": {
                        "$ref": "Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Tool"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the tool to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Gets details of the specified tool.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.tools.get",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Tool"
                      }
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "description": "Deletes the specified tool.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "etag": {
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "force": {
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted.",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the tool to delete.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.tools.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "agents": {
                  "methods": {
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "request": {
                        "$ref": "Agent"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new agent in the given app.",
                      "id": "ces.projects.locations.apps.agents.create",
                      "path": "v1beta/{+parent}/agents",
                      "response": {
                        "$ref": "Agent"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the app to create an agent in."
                        },
                        "agentId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the agent, which will become the final component of the agent's resource name. If not provided, a unique ID will be automatically assigned for the agent.",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "path": "v1beta/{+name}",
                      "description": "Deletes the specified agent.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the agent to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the agent, even if it is still referenced by other app/agents/examples. * If `force = false`, the deletion fails if other agents/examples reference it. * If `force = true`, delete the agent and remove it from all referencing apps/agents/examples.",
                          "location": "query"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the agent. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the agent, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "id": "ces.projects.locations.apps.agents.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to list agents from."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the agents. See https://google.aip.dev/160 for more details."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAgents call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.agents.list",
                      "response": {
                        "$ref": "ListAgentsResponse"
                      },
                      "path": "v1beta/{+parent}/agents",
                      "description": "Lists agents in the given app."
                    },
                    "get": {
                      "id": "ces.projects.locations.apps.agents.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the agent to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1beta/{+name}",
                      "description": "Gets details of the specified agent."
                    },
                    "patch": {
                      "request": {
                        "$ref": "Agent"
                      },
                      "description": "Updates the specified agent.",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "id": "ces.projects.locations.apps.agents.patch",
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "evaluationExpectations": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes an evaluation expectation.",
                      "id": "ces.projects.locations.apps.evaluationExpectations.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the evaluation expectation to delete.",
                          "location": "path",
                          "required": true
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the evaluation expectation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation expectation, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "path": "v1beta/{+name}"
                    },
                    "create": {
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.create",
                      "description": "Creates an evaluation expectation.",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "evaluationExpectationId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation expectation, which will become the final component of the evaluation expectation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation expectation.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The app to create the evaluation expectation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "description": "Updates an evaluation expectation.",
                      "path": "v1beta/{+name}",
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.patch"
                    },
                    "get": {
                      "path": "v1beta/{+name}",
                      "description": "Gets details of the specified evaluation expectation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the evaluation expectation to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "id": "ces.projects.locations.apps.evaluationExpectations.list",
                      "description": "Lists all evaluation expectations in the given app.",
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListEvaluationExpectationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationExpectations call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list evaluation expectations from.",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the evaluation expectations. See https://google.aip.dev/160 for more details."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "deployments": {
                  "resources": {
                    "message": {
                      "methods": {
                        "send": {
                          "httpMethod": "POST",
                          "parameters": {
                            "tenant": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "location": "path",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
                            }
                          },
                          "id": "ces.projects.locations.apps.deployments.message.send",
                          "description": "Sends a message to an agent.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:send",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "path": "v1beta/{+tenant}/message:send",
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "stream": {
                          "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                          "id": "ces.projects.locations.apps.deployments.message.stream",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:stream",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "tenant"
                          ],
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "response": {
                            "$ref": "LfA2aV1StreamResponse"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "tenant": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "required": true
                            }
                          },
                          "path": "v1beta/{+tenant}/message:stream"
                        }
                      }
                    }
                  },
                  "methods": {
                    "getExtendedAgentCard": {
                      "httpMethod": "GET",
                      "parameters": {
                        "tenant": {
                          "required": true,
                          "location": "path",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/extendedAgentCard",
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "id": "ces.projects.locations.apps.deployments.getExtendedAgentCard",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "path": "v1beta/{+tenant}/extendedAgentCard"
                    },
                    "list": {
                      "description": "Lists deployments in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeployments` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+parent}/deployments",
                      "response": {
                        "$ref": "ListDeploymentsResponse"
                      },
                      "id": "ces.projects.locations.apps.deployments.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "id": "ces.projects.locations.apps.deployments.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "description": "Required. The name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "description": "Gets details of the specified deployment."
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update."
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Deployment"
                      },
                      "request": {
                        "$ref": "Deployment"
                      },
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "description": "Updates the specified deployment.",
                      "id": "ces.projects.locations.apps.deployments.patch"
                    },
                    "create": {
                      "response": {
                        "$ref": "Deployment"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "deploymentId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The ID to use for the deployment, which will become the final component of the deployment's resource name. If not provided, a unique ID will be automatically assigned for the deployment."
                        }
                      },
                      "description": "Creates a new deployment in the given app.",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "id": "ces.projects.locations.apps.deployments.create",
                      "path": "v1beta/{+parent}/deployments",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified deployment.",
                      "id": "ces.projects.locations.apps.deployments.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "description": "Required. The name of the deployment to delete. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "description": "Optional. The etag of the deployment. If an etag is provided and does not match the current etag of the deployment, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "streamRunSession": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:streamRunSession",
                      "httpMethod": "POST",
                      "parameters": {
                        "session": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "description": "Initiates a single-turn interaction with the CES agent. Uses server-side streaming to deliver incremental results and partial responses as they are generated. By default, complete responses (e.g., messages from callbacks or full LLM responses) are sent to the client as soon as they are available. To enable streaming individual text chunks directly from the model, set enable_text_streaming to true.",
                      "parameterOrder": [
                        "session"
                      ],
                      "path": "v1beta/{+session}:streamRunSession",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "id": "ces.projects.locations.apps.sessions.streamRunSession"
                    },
                    "runSession": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:runSession",
                      "path": "v1beta/{+session}:runSession",
                      "description": "Initiates a single-turn interaction with the CES agent within a session.",
                      "httpMethod": "POST",
                      "parameters": {
                        "session": {
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "id": "ces.projects.locations.apps.sessions.runSession"
                    },
                    "generateChatToken": {
                      "path": "v1beta/{+name}:generateChatToken",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:generateChatToken",
                      "request": {
                        "$ref": "GenerateChatTokenRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The session name to generate the chat token for. Format: projects/{project}/locations/{location}/apps/{app}/sessions/{session}",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.sessions.generateChatToken",
                      "response": {
                        "$ref": "GenerateChatTokenResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Generates a session scoped token for chat widget to authenticate with Session APIs."
                    }
                  }
                },
                "message": {
                  "methods": {
                    "send": {
                      "httpMethod": "POST",
                      "parameters": {
                        "tenant": {
                          "type": "string",
                          "location": "path",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "LfA2aV1SendMessageResponse"
                      },
                      "path": "v1beta/{+tenant}/message:send",
                      "parameterOrder": [
                        "tenant"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:send",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.message.send",
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "description": "Sends a message to an agent."
                    },
                    "stream": {
                      "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:stream",
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "tenant": {
                          "required": true,
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "id": "ces.projects.locations.apps.message.stream",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "LfA2aV1StreamResponse"
                      },
                      "path": "v1beta/{+tenant}/message:stream"
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "list": {
                      "path": "v1beta/{+parent}/changelogs",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list changelogs from.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the changelogs of the specified app.",
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "id": "ces.projects.locations.apps.changelogs.list"
                    },
                    "get": {
                      "description": "Gets the specified changelog.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "id": "ces.projects.locations.apps.changelogs.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Changelog"
                      },
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the changelog to retrieve."
                        }
                      }
                    }
                  }
                },
                "guardrails": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "ces.projects.locations.apps.guardrails.patch",
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified guardrail."
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "id": "ces.projects.locations.apps.guardrails.get",
                      "description": "Gets details of the specified guardrail.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the guardrail to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Guardrail"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create a guardrail in.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        },
                        "guardrailId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the guardrail, which will become the final component of the guardrail's resource name. If not provided, a unique ID will be automatically assigned for the guardrail.",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.guardrails.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "path": "v1beta/{+parent}/guardrails",
                      "description": "Creates a new guardrail in the given app.",
                      "response": {
                        "$ref": "Guardrail"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
[...]
