{
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://ces.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "Customer Engagement Suite",
  "rootUrl": "https://ces.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1beta",
  "id": "ces:v1beta",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "schemas": {
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number"
        }
      },
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object"
    },
    "ListConversationsResponse": {
      "properties": {
        "conversations": {
          "items": {
            "$ref": "Conversation"
          },
          "type": "array",
          "description": "The list of conversations."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListConversations.",
      "id": "ListConversationsResponse",
      "type": "object"
    },
    "LfA2aV1SecurityScheme": {
      "type": "object",
      "properties": {
        "openIdConnectSecurityScheme": {
          "description": "OpenID Connect authentication.",
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "description": "API key-based authentication.",
          "$ref": "LfA2aV1APIKeySecurityScheme"
        },
        "mtlsSecurityScheme": {
          "$ref": "LfA2aV1MutualTlsSecurityScheme",
          "description": "Mutual TLS authentication."
        },
        "httpAuthSecurityScheme": {
          "description": "HTTP authentication (Basic, Bearer, etc.).",
          "$ref": "LfA2aV1HTTPAuthSecurityScheme"
        },
        "oauth2SecurityScheme": {
          "$ref": "LfA2aV1OAuth2SecurityScheme",
          "description": "OAuth 2.0 authentication."
        }
      },
      "id": "LfA2aV1SecurityScheme",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object"
    },
    "QualityReportIssue": {
      "id": "QualityReportIssue",
      "description": "The issue identified.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the issue found.",
          "type": "string"
        },
        "proposedSolution": {
          "type": "string",
          "description": "Optional. Proposed solution to fix the issue by modifying instructions or tools."
        },
        "occurrenceCount": {
          "type": "integer",
          "description": "Optional. How many times this issue occurred.",
          "format": "int32"
        }
      }
    },
    "FileContext": {
      "properties": {
        "fileBytes": {
          "description": "Optional. File provided as raw bytes.",
          "$ref": "FileContextFileBytes"
        }
      },
      "id": "FileContext",
      "type": "object",
      "description": "Files to be used as context. Files can be provided as raw bytes."
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "properties": {
        "disableBargeIn": {
          "type": "boolean",
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored.",
          "deprecated": true
        },
        "bargeInAwareness": {
          "type": "boolean",
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually."
        }
      },
      "type": "object"
    },
    "EvaluationMetricsConfig": {
      "type": "object",
      "properties": {
        "scenarioMetricsConfig": {
          "description": "Optional. Configuration for the scenario metrics for the evaluation.",
          "$ref": "EvaluationMetricsConfigScenarioMetricsConfig"
        },
        "goldenMetricsConfig": {
          "description": "Optional. Configuration for the golden metrics for the evaluation.",
          "$ref": "EvaluationMetricsConfigGoldenMetricsConfig"
        }
      },
      "id": "EvaluationMetricsConfig",
      "description": "Configures the metrics for an evaluation."
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "properties": {
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
        }
      },
      "description": "Security settings for the web widget.",
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "properties": {
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        },
        "connectorActions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for."
        }
      },
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "type": "object"
    },
    "ToolsetTool": {
      "type": "object",
      "id": "ToolsetTool",
      "description": "A tool that is created from a toolset.",
      "properties": {
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        },
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        }
      }
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "type": "object",
      "properties": {
        "scopes": {
          "type": "object",
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "deviceAuthorizationUrl": {
          "description": "Required. The device authorization endpoint URL.",
          "type": "string"
        }
      },
      "id": "LfA2aV1DeviceCodeOAuthFlow"
    },
    "EvaluationExpectationLlmCriteria": {
      "id": "EvaluationExpectationLlmCriteria",
      "type": "object",
      "description": "Configuration for LLM-based evaluation criteria.",
      "properties": {
        "prompt": {
          "description": "Required. The prompt/instructions provided to the LLM judge.",
          "type": "string"
        }
      }
    },
    "SessionConfig": {
      "properties": {
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "enableTextStreaming": {
          "type": "boolean",
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession."
        },
        "deployment": {
          "type": "string",
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "remoteDialogflowQueryParameters": {
          "$ref": "SessionConfigRemoteDialogflowQueryParameters",
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
        },
        "historicalContexts": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state."
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "excludeDiagnosticInfo": {
          "description": "Optional. Whether to exclude diagnostic info from the session output.",
          "type": "boolean"
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "useToolFakes": {
          "type": "boolean",
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools."
        }
      },
      "description": "The configuration for the session.",
      "type": "object",
      "id": "SessionConfig"
    },
    "GenerateEvaluationOperationMetadata": {
      "properties": {},
      "id": "GenerateEvaluationOperationMetadata",
      "type": "object",
      "description": "Operation metadata for EvaluationService.GenerateEvaluation."
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "properties": {
        "outputFields": {
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          }
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array"
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        }
      },
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "ListEvaluationExpectationsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationExpectations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationExpectationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "evaluationExpectations": {
          "items": {
            "$ref": "EvaluationExpectation"
          },
          "description": "The list of evaluation expectations.",
          "type": "array"
        }
      },
      "id": "ListEvaluationExpectationsResponse"
    },
    "DataStore": {
      "properties": {
        "connectorConfig": {
          "$ref": "DataStoreConnectorConfig",
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the data store was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "documentProcessingMode": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores."
        },
        "type": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the data store."
        }
      },
      "description": "A DataStore resource in Vertex AI Search.",
      "id": "DataStore",
      "type": "object"
    },
    "AggregatedMetricsMetricsByTurn": {
      "properties": {
        "turnLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for turn latency within this turn."
        },
        "toolCallLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for tool call latency within this turn."
        },
        "toolMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Metrics for each tool within this turn."
        },
        "turnIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The turn index (0-based)."
        },
        "hallucinationMetrics": {
          "type": "array",
          "description": "Output only. Metrics for hallucination within this turn.",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "semanticSimilarityMetrics": {
          "description": "Output only. Metrics for semantic similarity within this turn.",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "AggregatedMetricsMetricsByTurn",
      "type": "object",
      "description": "Metrics aggregated per turn."
    },
    "RedactionConfig": {
      "type": "object",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "id": "RedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      }
    },
    "ImportEvaluationsRequestImportOptions": {
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "SKIP",
            "DUPLICATE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Overwrite the existing evaluation with the new one.",
            "Keep the existing evaluation and skip the new one.",
            "Keep the existing evaluation and duplicate the new one as a new evaluation."
          ]
        }
      },
      "id": "ImportEvaluationsRequestImportOptions",
      "description": "Configuration options for the evaluation import process. These options control how the import behaves, particularly when conflicts arise with existing evaluations data."
    },
    "LfA2aV1SendMessageResponse": {
      "description": "Represents the response for the `SendMessage` method.",
      "id": "LfA2aV1SendMessageResponse",
      "properties": {
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        },
        "message": {
          "description": "A message from the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "type": "object"
    },
    "AgentRegistryDeployment": {
      "properties": {
        "agentRegistryServiceName": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`"
        }
      },
      "id": "AgentRegistryDeployment",
      "description": "Configuration and status for Agent Registry deployment.",
      "type": "object"
    },
    "EvaluationStep": {
      "description": "A step defines a singular action to happen during the evaluation.",
      "type": "object",
      "id": "EvaluationStep",
      "properties": {
        "userInput": {
          "$ref": "SessionInput",
          "description": "Optional. User input for the conversation."
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "description": "Optional. Executes an expectation on the current turn."
        }
      }
    },
    "GoogleSearchToolPromptConfig": {
      "type": "object",
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        }
      }
    },
    "TestPersonaVoiceResponse": {
      "properties": {
        "audio": {
          "description": "The audio data bytes of the synthesized voice.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for EvaluationService.TestPersonaVoice.",
      "id": "TestPersonaVoiceResponse"
    },
    "AgentLlmAgent": {
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "id": "AgentLlmAgent",
      "type": "object",
      "properties": {}
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "OAuthConfig": {
      "id": "OAuthConfig",
      "properties": {
        "oauthGrantType": {
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "description": "Required. OAuth grant types."
        },
        "clientSecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes to grant."
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configurations for authentication with OAuth."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ServiceDirectoryConfig": {
      "id": "ServiceDirectoryConfig",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for tools using Service Directory."
    },
    "BatchDeleteConversationsRequest": {
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the conversations to delete."
        }
      },
      "type": "object"
    },
    "EvaluationResultTaskCompletionResult": {
      "properties": {
        "score": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "readOnly": true
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. The explanation for the task completion score.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "EvaluationResultTaskCompletionResult",
      "description": "The result of the task completion check for the conversation."
    },
    "EvaluationResult": {
      "type": "object",
      "id": "EvaluationResult",
      "properties": {
        "scenarioResult": {
          "description": "Output only. The outcome of a scenario evaluation.",
          "$ref": "EvaluationResultScenarioResult",
          "readOnly": true
        },
        "persona": {
          "description": "Output only. The persona used to generate the conversation for the evaluation result.",
          "$ref": "EvaluationPersona",
          "readOnly": true
        },
        "executionState": {
          "description": "Output only. The state of the evaluation result execution.",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "COMPLETED",
            "ERROR",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Evaluation result execution state is not specified.",
            "Evaluation result execution is queued.",
            "Evaluation result execution is running.",
            "Evaluation result execution has completed.",
            "Evaluation result execution failed due to an internal error.",
            "Evaluation result execution was cancelled."
          ],
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The app version used to generate the conversation that resulted in this result. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "initiatedBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who initiated the evaluation run that resulted in this result."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation result was created.",
          "readOnly": true
        },
        "errorInfo": {
          "readOnly": true,
          "$ref": "EvaluationErrorInfo",
          "description": "Output only. Error information for the evaluation result."
        },
        "goldenRunMethod": {
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Output only. The method used to run the golden evaluation.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string",
          "readOnly": true
        },
        "goldenResult": {
          "description": "Output only. The outcome of a golden evaluation.",
          "readOnly": true,
          "$ref": "EvaluationResultGoldenResult"
        },
        "changelogCreateTime": {
          "type": "string",
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "evaluationStatus": {
          "description": "Output only. The outcome of the evaluation. Only populated if execution_state is COMPLETE.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string",
          "readOnly": true
        },
        "changelog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft."
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Output only. The evaluation thresholds for the result.",
          "readOnly": true
        },
        "outcomeMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The outcome metadata of the evaluation. Only populated if execution_state is COMPLETE.",
          "enumDescriptions": [
            "Unspecified outcome metadata.",
            "The evaluation resulted in a graceful handoff to a human representative."
          ],
          "enum": [
            "OUTCOME_METADATA_UNSPECIFIED",
            "GRACEFUL_HANDOFF"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the evaluation result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`"
        },
        "evaluationRun": {
          "readOnly": true,
          "description": "Output only. The evaluation run that produced this result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the Evaluation Result. Unique within an Evaluation. By default, it has the following format: \" result - \"."
        },
        "appVersionDisplayName": {
          "description": "Output only. The display name of the `app_version` that the evaluation ran against.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Deprecated: Use `error_info` instead. Errors encountered during execution.",
          "readOnly": true,
          "$ref": "Status",
          "deprecated": true
        },
        "rootSpan": {
          "description": "Output only. The root span of the evaluation execution, which includes information about each step of the evaluation.",
          "$ref": "Span",
          "readOnly": true
        },
        "config": {
          "description": "Output only. The configuration used in the evaluation run that resulted in this result.",
          "readOnly": true,
          "$ref": "EvaluationConfig"
        }
      },
      "description": "An evaluation result represents the output of running an Evaluation."
    },
    "TlsConfigCaCert": {
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "TlsConfigCaCert",
      "type": "object"
    },
    "ListGuardrailsResponse": {
      "properties": {
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListGuardrailsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListGuardrails."
    },
    "LatencyReport": {
      "properties": {
        "guardrailLatencies": {
          "type": "array",
          "items": {
            "$ref": "LatencyReportGuardrailLatency"
          },
          "description": "Output only. Unordered list. Latency metrics for each guardrail.",
          "readOnly": true
        },
        "callbackLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each callback.",
          "items": {
            "$ref": "LatencyReportCallbackLatency"
          },
          "type": "array",
          "readOnly": true
        },
        "llmCallLatencies": {
          "readOnly": true,
          "items": {
            "$ref": "LatencyReportLlmCallLatency"
          },
          "description": "Output only. Unordered list. Latency metrics for each LLM call.",
          "type": "array"
        },
        "sessionCount": {
          "description": "Output only. The total number of sessions considered in the latency report.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "toolLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each tool.",
          "items": {
            "$ref": "LatencyReportToolLatency"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Latency report for the evaluation run.",
      "id": "LatencyReport",
      "type": "object"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "properties": {
        "changelogs": {
          "description": "The list of changelogs.",
          "type": "array",
          "items": {
            "$ref": "Changelog"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListChangelogs.",
      "id": "ListChangelogsResponse"
    },
    "EvaluationErrorInfo": {
      "properties": {
        "sessionId": {
          "readOnly": true,
          "description": "Output only. The session ID for the conversation that caused the error.",
          "type": "string"
        },
        "userFacingErrorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user facing error message."
        },
        "errorType": {
          "readOnly": true,
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "RUNTIME_FAILURE",
            "CONVERSATION_RETRIEVAL_FAILURE",
            "METRIC_CALCULATION_FAILURE",
            "EVALUATION_UPDATE_FAILURE",
            "QUOTA_EXHAUSTED",
            "USER_SIMULATION_FAILURE"
          ],
          "enumDescriptions": [
            "Unspecified error type.",
            "Failure during runtime execution.",
            "Failure to retrieve conversation from CES Runtime.",
            "Failure to calculate a metric / outcome.",
            "Failure to update the evaluation.",
            "Ran out of quota.",
            "Failure during user simulation."
          ],
          "type": "string",
          "description": "Output only. The type of error."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message."
        }
      },
      "type": "object",
      "description": "Information about an error encountered during an evaluation execution.",
      "id": "EvaluationErrorInfo"
    },
    "ChannelProfilePersonaProperty": {
      "description": "Represents the persona property of a channel.",
      "properties": {
        "persona": {
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      },
      "type": "object",
      "id": "ChannelProfilePersonaProperty"
    },
    "DataStoreToolBoostSpecs": {
      "properties": {
        "dataStores": {
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        }
      },
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "type": "object"
    },
    "RetrieveToolsRequest": {
      "id": "RetrieveToolsRequest",
      "properties": {
        "toolIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned."
        },
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for ToolService.RetrieveTools."
    },
    "DataStoreToolEngineSource": {
      "properties": {
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSources": {
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        }
      },
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "type": "object"
    },
    "GuardrailModelSafetySafetySetting": {
      "description": "Safety setting.",
      "id": "GuardrailModelSafetySafetySetting",
      "properties": {
        "category": {
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "description": "Required. The harm category."
        },
        "threshold": {
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      },
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double"
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        },
        "consentAudioGcsUri": {
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "deprecated": true
        },
        "voiceSampleGcsUri": {
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true
        },
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SynthesizeSpeechConfig"
    },
    "LfA2aV1AuthenticationInfo": {
      "id": "LfA2aV1AuthenticationInfo",
      "type": "object",
      "properties": {
        "credentials": {
          "type": "string",
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer)."
        },
        "scheme": {
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1).",
          "type": "string"
        }
      },
      "description": "Defines authentication details, used for push notifications."
    },
    "ListScheduledEvaluationRunsResponse": {
      "id": "ListScheduledEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ListScheduledEvaluationRuns.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListScheduledEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "scheduledEvaluationRuns": {
          "type": "array",
          "items": {
            "$ref": "ScheduledEvaluationRun"
          },
          "description": "The list of scheduled evaluation runs."
        }
      },
      "type": "object"
    },
    "ExperimentConfigVersionRelease": {
      "properties": {
        "trafficAllocations": {
          "type": "array",
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "description": "Optional. State of the version release.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        }
      },
      "type": "object",
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment."
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig": {
      "type": "object",
      "properties": {
        "responseJson": {
          "type": "string",
          "description": "Required. A sample response from the tool in JSON format."
        },
        "path": {
          "type": "string",
          "description": "Required. The path of the tool to be appended to the base uri. This should include query and path parameters if any."
        },
        "method": {
          "description": "Required. The uri of the tool. This should include query and path parameters if any.",
          "type": "string"
        },
        "requestJson": {
          "description": "Required. A sample request to the tool in JSON format. Skip if the tool does not support request body.",
          "type": "string"
        }
      },
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig",
      "description": "The configuration to be used to generate an operation in the Open API schema."
    },
    "ToolResponses": {
      "type": "object",
      "properties": {
        "toolResponses": {
          "type": "array",
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      },
      "id": "ToolResponses",
      "description": "Execution results for the requested tool calls from the client."
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        }
      },
      "description": "The connector config for the data store connection.",
      "type": "object"
    },
    "GenerateAppResourceResponse": {
      "properties": {
        "appSnapshot": {
          "description": "App snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant.",
          "$ref": "AppSnapshot"
        },
        "tools": {
          "description": "The list of tools generated by the LLM assistant.",
          "$ref": "GenerateAppResourceResponseTools"
        },
        "evaluations": {
          "description": "Evaluations generated by the LLM assistant.",
          "$ref": "GenerateAppResourceResponseEvaluations"
        },
        "toolset": {
          "$ref": "Toolset",
          "description": "Toolset generated by the LLM assistant. Supports Open API toolset schema generation."
        },
        "qualityReport": {
          "$ref": "QualityReport",
          "description": "The quality report generated by the LLM assistant."
        },
        "agent": {
          "$ref": "Agent",
          "description": "Agent generated by the LLM assistant."
        },
        "generateResultInfo": {
          "description": "Additional information about the generated result.",
          "$ref": "GenerateAppResourceResponseGenerateResultInfo"
        },
        "appResources": {
          "$ref": "GenerateAppResourceResponseAppResources",
          "description": "The app resources generated by the LLM assistant."
        }
      },
      "id": "GenerateAppResourceResponse",
      "description": "Response message for AgentService.GenerateAppResource.",
      "type": "object"
    },
    "EvaluationResultEvaluationExpectationResult": {
      "properties": {
        "prompt": {
          "description": "Output only. The prompt that was used for the evaluation.",
          "type": "string",
          "readOnly": true
        },
        "evaluationExpectation": {
          "readOnly": true,
          "description": "Output only. The evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "type": "string"
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The explanation for the result."
        },
        "outcome": {
          "description": "Output only. The outcome of the evaluation expectation.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        }
      },
      "id": "EvaluationResultEvaluationExpectationResult",
      "type": "object",
      "description": "The result of a single evaluation expectation."
    },
    "Example": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the example."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the example was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "messages": {
          "description": "Optional. The collection of messages that make up the conversation.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the example was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "invalid": {
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "id": "Example"
    },
    "DataStoreSettingsEngine": {
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "id": "DataStoreSettingsEngine",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the engine.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ]
        }
      }
    },
    "BigQueryExportSettings": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the BigQuery export is enabled."
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        }
      },
      "id": "BigQueryExportSettings",
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "description": "Expectation level metrics thresholds.",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "type": "object"
    },
    "DataStoreToolSummarizationConfig": {
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether summarization is disabled."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        }
      },
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "type": "object"
    },
    "FileSearchTool": {
      "type": "object",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "id": "FileSearchTool",
      "properties": {
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "corpusType": {
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        }
      }
    },
    "RunEvaluationResultMetricsRequest": {
      "id": "RunEvaluationResultMetricsRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for EvaluationService.RunEvaluationResultMetrics."
    },
    "DeleteEvaluationRunOperationMetadata": {
      "properties": {},
      "id": "DeleteEvaluationRunOperationMetadata",
      "type": "object",
      "description": "Operation metadata for EvaluationService.DeleteEvaluationRun."
    },
    "RunEvaluationResultMetricsResponse": {
      "description": "Response message for EvaluationService.RunEvaluationResultMetrics.",
      "id": "RunEvaluationResultMetricsResponse",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the evaluation result metrics calculation."
        }
      }
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "description": "The result of the tool invocation check.",
      "type": "object",
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "properties": {
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A free text explanation for the tool invocation result."
        },
        "parameterCorrectnessScore": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call.",
          "format": "float"
        },
        "outcome": {
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        }
      }
    },
    "ToolFakeConfig": {
      "properties": {
        "enableFakeMode": {
          "type": "boolean",
          "description": "Optional. Whether the tool is using fake mode."
        },
        "codeBlock": {
          "description": "Optional. Code block which will be executed instead of a real tool call.",
          "$ref": "CodeBlock"
        }
      },
      "description": "Configuration for tool behavior in fake mode.",
      "id": "ToolFakeConfig",
      "type": "object"
    },
    "Agent": {
      "properties": {
        "beforeAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was created.",
          "format": "google-datetime"
        },
        "childAgents": {
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          }
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "beforeModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "transferRules": {
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array",
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used."
        },
        "afterAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "afterToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "validationErrors": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the agent was last updated."
        },
        "remoteA2aAgent": {
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution.",
          "$ref": "AgentRemoteA2aAgent"
        },
        "afterModelCallbacks": {
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "tools": {
          "type": "array",
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          }
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "type": "array",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        }
      },
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "id": "Agent",
      "type": "object"
    },
    "PythonFunction": {
      "description": "A Python function tool.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "type": "string",
          "readOnly": true
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for the tool."
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        }
      },
      "id": "PythonFunction"
    },
    "GenerateAppResourceRequestHillClimbingFixConfig": {
      "description": "The configuration to be used for hill climbing fixes.",
      "properties": {
        "qualityReport": {
          "description": "Required. The quality report used to inform the instruction following fix.",
          "$ref": "QualityReport"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestHillClimbingFixConfig"
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "properties": {
        "contextId": {
          "type": "string",
          "description": "Required. The ID of the context that the task belongs to."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The ID of the task that has changed."
        },
        "metadata": {
          "description": "Optional. Metadata associated with the task update.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The new status of the task."
        }
      },
      "type": "object",
      "description": "An event sent by the agent to notify the client of a change in a task's status.",
      "id": "LfA2aV1TaskStatusUpdateEvent"
    },
    "ExportOptions": {
      "description": "Options for exporting CES evaluation resources.",
      "id": "ExportOptions",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Optional. The Google Cloud Storage URI to write the exported Evaluation Results to.",
          "type": "string"
        },
        "exportFormat": {
          "description": "Optional. The format to export the evaluation results in. Defaults to JSON if not specified.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified format.",
            "JSON format.",
            "YAML format."
          ]
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "LfA2aV1AgentProvider": {
      "description": "Represents the service provider of an agent.",
      "id": "LfA2aV1AgentProvider",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Required. The name of the agent provider's organization. Example: \"Google\""
        }
      }
    },
    "TriggerActionResponse": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent."
        },
        "text": {
          "type": "string",
          "description": "Required. Text for the agent to respond with."
        }
      },
      "type": "object",
      "description": "Represents a response from the agent.",
      "id": "TriggerActionResponse"
    },
    "AudioProcessingConfig": {
      "type": "object",
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "properties": {
        "ambientSoundConfig": {
          "$ref": "AmbientSoundConfig",
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
        },
        "inactivityTimeout": {
          "type": "string",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "format": "google-duration"
        },
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          },
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "type": "object"
        },
        "customVoiceSamples": {
          "description": "Optional. Configures custom voice samples for voice cloning.",
          "items": {
            "$ref": "CustomVoiceSample"
          },
          "type": "array"
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        }
      }
    },
    "Chunk": {
      "id": "Chunk",
      "properties": {
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data."
        },
        "updatedVariables": {
          "type": "object",
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "defaultVariables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Custom payload data."
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Optional. Tool execution request."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        }
      },
      "description": "A chunk of content within a message.",
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "description": "Response message for AgentService.ListAppVersions.",
      "id": "ListAppVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "description": "The list of app versions.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "type": "object",
      "id": "LfA2aV1TaskArtifactUpdateEvent",
      "description": "A task delta where an artifact has been generated.",
      "properties": {
        "artifact": {
          "description": "Required. The artifact that was generated or updated.",
          "$ref": "LfA2aV1Artifact"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Metadata associated with the artifact update."
        },
        "append": {
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID.",
          "type": "boolean"
        },
        "contextId": {
          "type": "string",
          "description": "Required. The ID of the context that this task belongs to."
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "taskId": {
          "type": "string",
          "description": "Required. The ID of the task for this artifact."
        }
      }
    },
    "SystemTool": {
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the system tool."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        }
      },
      "description": "Pre-defined system tool.",
      "id": "SystemTool",
      "type": "object"
    },
    "EvaluationSettings": {
      "id": "EvaluationSettings",
      "description": "Settings for evaluation.",
      "properties": {
        "goldenRunMethod": {
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "goldenEvaluationToolCallBehaviour": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Configures the default tool call behaviour for golden evaluations."
        },
        "scenarioExecutionMode": {
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED.",
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ]
        },
        "metricsConfig": {
          "description": "Optional. Configures the default metrics for evaluations.",
          "$ref": "EvaluationMetricsConfig"
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        },
        "scenarioEvaluationToolCallBehaviour": {
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        },
        "scenarioConversationInitiator": {
          "type": "string",
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation."
        }
      },
      "type": "object"
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "description": "Traffic allocation for the version release.",
      "type": "object",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AppVariableDeclaration": {
      "description": "Defines the structure and metadata for a variable.",
      "id": "AppVariableDeclaration",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        }
      }
    },
    "ChannelProfileWhatsAppConfig": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The fetched Meta business page name.",
          "readOnly": true
        },
        "thumbnailUrl": {
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string",
          "readOnly": true
        },
        "phoneNumber": {
          "description": "Optional. The phone number in E.164 format.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string"
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "phoneNumberId": {
          "description": "Required. The Meta phone number ID.",
          "type": "string"
        }
      },
      "description": "Configuration specific to WhatsApp deployments.",
      "id": "ChannelProfileWhatsAppConfig",
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "description": "The configuration to be used to generate the evaluation personas.",
      "type": "object",
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "properties": {}
    },
    "App": {
      "type": "object",
      "properties": {
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "deploymentCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of deployments in the app.",
          "format": "int32"
        },
        "evaluationPersonas": {
          "type": "array",
          "description": "Optional. The evaluation personas for the app. This field is used to define the personas that can be used for evaluation. Maximum of 30 personas can be defined.",
          "items": {
            "$ref": "EvaluationPersona"
          }
        },
        "metadata": {
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the app was created.",
          "format": "google-datetime"
        },
        "variableDeclarations": {
          "description": "Optional. The declarations of the variables.",
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "globalInstruction": {
          "type": "string",
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents."
        },
        "pinned": {
          "type": "boolean",
          "description": "Optional. Whether the app is pinned in the app list."
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "predefinedVariableDeclarations": {
          "readOnly": true,
          "description": "Output only. The declarations of predefined variables for the app.",
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "toolExecutionMode": {
          "type": "string",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ]
        },
        "errorHandlingSettings": {
          "$ref": "ErrorHandlingSettings",
          "description": "Optional. Error handling settings of the app."
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "evaluationSettings": {
          "description": "Optional. The evaluation settings for the app.",
          "$ref": "EvaluationSettings"
        },
        "dashboardSettings": {
          "$ref": "DashboardSettings",
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards."
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
[...]
