{
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "baseUrl": "https://ces.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20260925",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://ces.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version": "v1",
  "basePath": "",
  "id": "ces:v1",
  "ownerName": "Google",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "description": "",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "batchPath": "batch",
  "title": "Gemini Enterprise for Customer Experience API",
  "version_module": true,
  "canonicalName": "Customer Engagement Suite",
  "schemas": {
    "Callback": {
      "id": "Callback",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "type": "object",
      "properties": {
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        },
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the callback."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        }
      }
    },
    "RetrieveToolsRequest": {
      "id": "RetrieveToolsRequest",
      "type": "object",
      "properties": {
        "bypassPersistenceConfig": {
          "type": "boolean",
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots)."
        },
        "toolIds": {
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for ToolService.RetrieveTools."
    },
    "Chunk": {
      "type": "object",
      "properties": {
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "ToolResponse"
        },
        "defaultVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Custom payload data."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Optional. Tool execution request."
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        }
      },
      "id": "Chunk",
      "description": "A chunk of content within a message."
    },
    "LfA2aV1Message": {
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "id": "LfA2aV1Message",
      "properties": {
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array"
        },
        "referenceTaskIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of task IDs that this message references for additional context."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message."
        },
        "extensions": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "type": "array"
        },
        "messageId": {
          "type": "string",
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator."
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "role": {
          "description": "Required. Identifies the sender of the message.",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        }
      },
      "type": "object"
    },
    "LfA2aV1AgentCapabilities": {
      "properties": {
        "extensions": {
          "description": "A list of protocol extensions supported by the agent.",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "type": "array"
        },
        "pushNotifications": {
          "type": "boolean",
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates."
        },
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "extendedAgentCard": {
          "type": "boolean",
          "description": "Indicates if the agent supports providing an extended agent card when authenticated."
        }
      },
      "description": "Defines optional capabilities supported by an agent.",
      "type": "object",
      "id": "LfA2aV1AgentCapabilities"
    },
    "LfA2aV1SecurityRequirement": {
      "description": "Defines the security requirements for an agent.",
      "properties": {
        "schemes": {
          "type": "object",
          "description": "A map of security schemes to the required scopes.",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          }
        }
      },
      "type": "object",
      "id": "LfA2aV1SecurityRequirement"
    },
    "ExecuteToolRequest": {
      "description": "Request message for ToolService.ExecuteTool.",
      "type": "object",
      "id": "ExecuteToolRequest",
      "properties": {
        "context": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "mockConfig": {
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses.",
          "$ref": "MockConfig"
        },
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The variables that are available for the tool execution."
        }
      }
    },
    "ApiAuthentication": {
      "description": "Authentication information required for API calls.",
      "properties": {
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        }
      },
      "type": "object",
      "id": "ApiAuthentication"
    },
    "OperationCompletedEvent": {
      "description": "Event sent by the client or background worker to resume an assistant session after an asynchronous Long-Running Operation (LRO) completes.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Optional structured result metadata (e.g. pass_rate, total_examples, export_uri).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "error": {
          "description": "Optional canonical error status if the operation failed.",
          "$ref": "Status"
        },
        "operationName": {
          "description": "The operation resource name (e.g. `operations/{op}`).",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation run (e.g. \"SUCCEEDED\", \"FAILED\", \"CANCELLED\").",
          "type": "string"
        },
        "targetResourceName": {
          "description": "The primary resource targeted or produced by the operation (e.g. evaluation run ID, app ID, dataset ID).",
          "type": "string"
        },
        "deduplicationToken": {
          "description": "Optional deduplication token (e.g. UUID) to prevent duplicate turn execution from concurrent browser tabs.",
          "type": "string"
        },
        "operationType": {
          "description": "The operation type or tool name (e.g. \"run_evaluation\", \"copy_app\", \"export_app\").",
          "type": "string"
        }
      },
      "id": "OperationCompletedEvent"
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "properties": {
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1ImplicitOAuthFlow"
    },
    "ExpressionCondition": {
      "description": "Expression condition based on session state.",
      "type": "object",
      "id": "ExpressionCondition",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Required. The string representation of cloud.api.Expression condition."
        }
      }
    },
    "ListChangelogsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "description": "The list of changelogs.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListChangelogs.",
      "id": "ListChangelogsResponse"
    },
    "BearerTokenConfig": {
      "description": "Configurations for authentication with a bearer token.",
      "type": "object",
      "id": "BearerTokenConfig",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. The bearer token. Must be in the format `$context.variables.`."
        }
      }
    },
    "DataStoreToolModalityConfig": {
      "type": "object",
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "snippetsConfig": {
          "$ref": "DataStoreToolSnippetsConfig",
          "description": "Optional. The snippets configuration."
        },
        "modalityType": {
          "description": "Required. The modality type.",
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ]
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        }
      }
    },
    "GuardrailSupervisor": {
      "id": "GuardrailSupervisor",
      "properties": {
        "type": {
          "description": "Optional. The type of the supervisor.",
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type.",
            "Agent profanity issue type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO",
            "PROFANITY"
          ]
        },
        "detectionMode": {
          "description": "Optional. The detection mode of the supervisor.",
          "type": "string",
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ],
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ]
        }
      },
      "type": "object",
      "description": "Guardrail that runs supervisor intervention."
    },
    "Image": {
      "id": "Image",
      "description": "Represents an image input or output in the conversation.",
      "type": "object",
      "properties": {
        "altText": {
          "description": "Optional. The alternative text for the image.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the image.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "AssistantConfirmationRequest": {
      "properties": {
        "agentName": {
          "type": "string",
          "description": "Display label of the agent that raised the confirmation (e.g. `\"Contract Architect\"`), for the card header."
        },
        "positiveLabel": {
          "description": "Label for the approving action of a binary confirmation (e.g. \"Publish\"). Unset when `questions` is populated.",
          "type": "string"
        },
        "negativeLabel": {
          "description": "Label for the declining action of a binary confirmation (e.g. \"Not yet\"). Unset when `questions` is populated.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Time after which this confirmation can no longer be answered. An expired card renders as inactive, and the server declines the confirmation on the next turn so the paused agent does not wait indefinitely.",
          "type": "string"
        },
        "confirmationId": {
          "type": "string",
          "description": "Identifier correlating this request with its response. Opaque to clients; must be echoed verbatim on the answering request."
        },
        "questions": {
          "items": {
            "$ref": "OptionQuestionsChunkQuestion"
          },
          "type": "array",
          "description": "Multi-choice form of the confirmation. When populated, the card renders a selectable option list and the chosen option's submit_text (or free-form user text) is returned as AssistantConfirmationResponse.answer_text."
        },
        "tool": {
          "type": "string",
          "description": "Name of the tool call the agent paused on (e.g. \"update_app\"), for the card header. Unset for pure questions."
        },
        "context": {
          "type": "string",
          "description": "Context describing what is being confirmed (e.g. the action the agent wants to take, or the question it needs answered). Rendered as plain text, not Markdown."
        }
      },
      "type": "object",
      "id": "AssistantConfirmationRequest",
      "description": "A blocking question or confirmation the assistant needs answered before an agent action can proceed. The requesting agent is paused and resumes only when the answer arrives on a later StreamChatAiAssistantRequest.confirmation_response."
    },
    "LfA2aV1SendMessageConfiguration": {
      "type": "object",
      "description": "Configuration of a send message request.",
      "id": "LfA2aV1SendMessageConfiguration",
      "properties": {
        "historyLength": {
          "format": "int32",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer"
        },
        "acceptedOutputModes": {
          "type": "array",
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "items": {
            "type": "string"
          }
        },
        "taskPushNotificationConfig": {
          "$ref": "LfA2aV1TaskPushNotificationConfig",
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request."
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        }
      }
    },
    "WidgetToolTextResponseConfig": {
      "description": "Configuration for the text response returned with the widget.",
      "id": "WidgetToolTextResponseConfig",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "description": "Optional. The strategy for providing the text response.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ]
        },
        "staticText": {
          "type": "string",
          "description": "Optional. The static text response to return when type is STATIC."
        },
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        }
      },
      "type": "object"
    },
    "RetrieveToolSchemaRequest": {
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "id": "RetrieveToolSchemaRequest",
      "type": "object",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the conversations to delete."
        }
      }
    },
    "OptionQuestionsChunkOption": {
      "properties": {
        "submitText": {
          "type": "string",
          "description": "Optional message text to send when the option is chosen; defaults to `title` when empty."
        },
        "title": {
          "description": "Short plain-text option title (no markdown, no numbering).",
          "type": "string"
        },
        "details": {
          "description": "Optional trade-off details shown as secondary text.",
          "type": "string"
        }
      },
      "id": "OptionQuestionsChunkOption",
      "type": "object",
      "description": "A single selectable option."
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        }
      },
      "type": "object",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow."
    },
    "DashboardSettings": {
      "id": "DashboardSettings",
      "type": "object",
      "properties": {
        "defaultDashboard": {
          "type": "string",
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`"
        }
      },
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view."
    },
    "AgentRegistryDeployment": {
      "id": "AgentRegistryDeployment",
      "properties": {
        "agentRegistryServiceName": {
          "readOnly": true,
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration and status for Agent Registry deployment."
    },
    "ChannelProfileInstagramConfig": {
      "type": "object",
      "description": "Configuration specific to Instagram deployments.",
      "id": "ChannelProfileInstagramConfig",
      "properties": {
        "description": {
          "description": "Output only. The description of the Meta business page or profile.",
          "readOnly": true,
          "type": "string"
        },
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        },
        "thumbnailUrl": {
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name."
        }
      }
    },
    "ArtifactChunk": {
      "properties": {
        "gcsUri": {
          "description": "The GCS object the artifact was persisted to. Set on FINALIZED chunks.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Identifier of the artifact, stable across all chunks of one artifact within the stream."
        },
        "displayName": {
          "description": "The file name shown to the user, e.g. \"hotel_booking_tdd.md\". Set on STARTED (and repeated on FINALIZED).",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The IANA media type of the artifact content, e.g. \"text/markdown\"."
        },
        "state": {
          "description": "Lifecycle position of this chunk.",
          "enumDescriptions": [
            "Unused default.",
            "The assistant started generating the artifact.",
            "A content increment; content_delta is set.",
            "The artifact was persisted; gcs_uri is set.",
            "Generation or persistence failed; the artifact was not saved.",
            "The document finished streaming: its content was fully delivered via content_delta chunks. Persistence may still follow; a FINALIZED chunk with a gcs_uri is sent if and when the artifact is saved."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "DELTA",
            "FINALIZED",
            "FAILED",
            "CLOSED"
          ]
        },
        "contentDelta": {
          "description": "Incremental artifact content. Set on DELTA chunks.",
          "type": "string"
        }
      },
      "description": "A streamed fragment of a document artifact (e.g. a markdown TDD) that the assistant is generating. Content deltas stream while the document is being written so clients can render a live preview; the FINALIZED chunk carries the GCS URI once the file has been persisted.",
      "type": "object",
      "id": "ArtifactChunk"
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "properties": {
        "bargeInAwareness": {
          "type": "boolean",
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually."
        },
        "disableBargeIn": {
          "type": "boolean",
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored.",
          "deprecated": true
        }
      },
      "description": "Configuration for how the user barge-in activities should be handled.",
      "type": "object"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "type": "object",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "properties": {},
      "id": "ServiceAgentIdTokenAuthConfig"
    },
    "CustomVoiceSampleWarning": {
      "id": "CustomVoiceSampleWarning",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified warning type.",
            "The audio level of the voice sample is too low (e.g. low RMS amplitude)."
          ],
          "type": "string",
          "description": "Output only. The type of the warning.",
          "readOnly": true,
          "enum": [
            "WARNING_TYPE_UNSPECIFIED",
            "LOW_AUDIO_LEVEL"
          ]
        },
        "message": {
          "description": "Output only. A human-readable description of the warning.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A warning message encountered during voice sample processing.",
      "type": "object"
    },
    "App": {
      "type": "object",
      "properties": {
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Optional. The evaluation thresholds for the app."
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "errorHandlingSettings": {
          "$ref": "ErrorHandlingSettings",
          "description": "Optional. Error handling settings of the app."
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "variableDeclarations": {
          "type": "array",
          "description": "Optional. The declarations of the variables.",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "toolExecutionMode": {
          "type": "string",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL."
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the app was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "predefinedVariableDeclarations": {
          "readOnly": true,
          "description": "Output only. The declarations of predefined variables for the app.",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array"
        },
        "dashboardSettings": {
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards.",
          "$ref": "DashboardSettings"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the app was created.",
          "readOnly": true
        },
        "deploymentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true
        },
        "pinned": {
          "type": "boolean",
          "description": "Optional. Whether the app is pinned in the app list."
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        }
      },
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "id": "App"
    },
    "DeployChannelResponse": {
      "type": "object",
      "id": "DeployChannelResponse",
      "properties": {
        "deployment": {
          "description": "The created deployment.",
          "$ref": "Deployment"
        }
      },
      "description": "Response message for AgentService.DeployChannel."
    },
    "GenerateOnboardingSuggestionsResponse": {
      "id": "GenerateOnboardingSuggestionsResponse",
      "type": "object",
      "description": "Response message for SessionService.GenerateOnboardingSuggestions.",
      "properties": {
        "userProfile": {
          "type": "string",
          "enum": [
            "USER_PROFILE_UNSPECIFIED",
            "NEW",
            "EXPLORING",
            "RETURNING"
          ],
          "description": "Classification of the requesting user's history.",
          "enumDescriptions": [
            "Unspecified profile.",
            "No assistant sessions containing messages.",
            "One or two assistant sessions containing messages.",
            "More than two assistant sessions containing messages."
          ]
        },
        "suggestions": {
          "description": "Personalized suggestions, ranked most relevant first.",
          "items": {
            "$ref": "AssistantSuggestion"
          },
          "type": "array"
        },
        "contextToken": {
          "type": "string",
          "description": "Opaque token capturing the onboarding snapshot used to generate these suggestions. Clients echo it on the first StreamChatAiAssistantRequest so the server can reuse the snapshot."
        }
      }
    },
    "GuardrailModelSafety": {
      "type": "object",
      "id": "GuardrailModelSafety",
      "properties": {
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "description": "Required. List of safety settings."
        }
      },
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe."
    },
    "LfA2aV1SendMessageResponse": {
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        },
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "The task created or updated by the message."
        }
      },
      "type": "object",
      "id": "LfA2aV1SendMessageResponse",
      "description": "Represents the response for the `SendMessage` method."
    },
    "CancelAssistantTurnRequest": {
      "id": "CancelAssistantTurnRequest",
      "type": "object",
      "properties": {
        "turnId": {
          "description": "Optional. The turn to cancel; empty cancels whichever turn is running. A cancel naming a turn that is no longer the running one is a no-op.",
          "type": "string"
        }
      },
      "description": "Request to cancel an assistant session's in-flight turn."
    },
    "TriggerAction": {
      "properties": {
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "id": "TriggerAction",
      "description": "Action that is taken when a certain precondition is met.",
      "type": "object"
    },
    "TriggerActionResponse": {
      "type": "object",
      "id": "TriggerActionResponse",
      "description": "Represents a response from the agent.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. Text for the agent to respond with."
        },
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        }
      }
    },
    "McpToolDefinition": {
      "id": "McpToolDefinition",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "readOnly": true,
          "type": "string"
        },
        "inputSchema": {
          "$ref": "Schema",
          "readOnly": true,
          "description": "Output only. The schema of the input arguments of the MCP tool."
        },
        "outputSchema": {
          "readOnly": true,
          "$ref": "Schema",
          "description": "Output only. The schema of the output arguments of the MCP tool."
        }
      }
    },
    "ChannelProfile": {
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "id": "ChannelProfile",
      "type": "object",
      "properties": {
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "description": "Optional. The type of the channel profile.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ]
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "whatsappConfig": {
          "$ref": "ChannelProfileWhatsAppConfig",
          "description": "Optional. Configuration specific to WhatsApp deployments."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "instagramConfig": {
          "description": "Optional. Configuration specific to Instagram deployments.",
          "$ref": "ChannelProfileInstagramConfig"
        }
      }
    },
    "ExecuteToolResponse": {
      "description": "Response message for ToolService.ExecuteTool.",
      "type": "object",
      "id": "ExecuteToolResponse",
      "properties": {
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution."
        },
        "variables": {
          "description": "The variable values at the end of the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that got executed."
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        }
      }
    },
    "DataStoreToolSnippetsConfig": {
      "type": "object",
      "description": "Snippets configuration.",
      "properties": {
        "maxSnippets": {
          "type": "integer",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default.",
          "format": "int32"
        },
        "enableSnippets": {
          "type": "boolean",
          "description": "Optional. Whether snippets are enabled."
        }
      },
      "id": "DataStoreToolSnippetsConfig"
    },
    "RetrieveToolsResponse": {
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools.",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools that are included in the specified toolset."
        }
      },
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "id": "ServiceDirectoryConfig",
      "description": "Configuration for tools using Service Directory.",
      "type": "object"
    },
    "Event": {
      "type": "object",
      "description": "Event input.",
      "id": "Event",
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Additional variables associated with the event."
        }
      }
    },
    "GuardrailLlmPolicy": {
      "properties": {
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        },
        "policyScope": {
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ]
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "maxConversationMessages": {
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32"
        }
      },
      "id": "GuardrailLlmPolicy",
      "type": "object",
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
    },
    "RunSessionRequest": {
      "type": "object",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array",
          "description": "Required. Inputs for the session."
        },
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        }
      },
      "description": "Request message for SessionService.RunSession.",
      "id": "RunSessionRequest"
    },
    "Blob": {
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the blob.",
          "format": "byte"
        }
      },
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object"
    },
    "OAuthConfig": {
      "type": "object",
      "properties": {
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        },
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "oauthGrantType": {
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ]
        },
        "clientSecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "OAuthConfig",
      "description": "Configurations for authentication with OAuth."
    },
    "ListAppVersionsResponse": {
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array",
          "description": "The list of app versions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListAppVersionsResponse"
    },
    "ToolResponse": {
      "description": "The execution result of a specific tool from the client or the agent.",
      "properties": {
        "agentName": {
          "type": "string",
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "readOnly": true
        },
        "response": {
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "parentToolCallId": {
          "type": "string",
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the tool.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. The matching ID of the tool call the response is for."
        }
      },
      "type": "object",
      "id": "ToolResponse"
    },
    "ExportAppResponse": {
      "description": "Response message for AgentService.ExportApp.",
      "type": "object",
      "properties": {
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        },
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "ExportAppResponse"
    },
    "AgentLlmAgent": {
      "properties": {},
      "type": "object",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "id": "AgentLlmAgent"
    },
    "PythonCodeCondition": {
      "description": "Python code block to evaluate the condition.",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      },
      "type": "object",
      "id": "PythonCodeCondition"
    },
    "RemoteA2aConfig": {
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "type": "object",
      "id": "RemoteA2aConfig",
      "properties": {
        "agentRegistry": {
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "contextId": {
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication.",
          "$ref": "ApiAuthentication"
        },
        "streamingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether streaming is enabled for the remote agent."
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names."
        },
        "inputVariableMapping": {
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentCard": {
          "description": "Optional. The full agent card defined inline.",
          "$ref": "AgentCard"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "McpToolset": {
      "id": "McpToolset",
      "type": "object",
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "toolOverrides": {
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "items": {
            "$ref": "McpToolOverride"
          },
          "type": "array"
        }
      }
    },
    "ListToolsResponse": {
      "id": "ListToolsResponse",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "type": "object"
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {},
      "type": "object"
    },
    "Conversation": {
      "id": "Conversation",
      "properties": {
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "inputTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ]
          },
          "type": "array",
          "description": "Output only. The input types of the conversation.",
          "readOnly": true
        },
        "channelType": {
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED. Please use input_types instead.",
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ]
        },
        "deployment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "turns": {
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array",
          "description": "Required. The turns in the conversation."
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "type": "string",
          "readOnly": true
        },
        "appVersion": {
          "type": "string",
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "messages": {
          "deprecated": true,
          "items": {
            "$ref": "Message"
          },
          "description": "Deprecated. Use turns instead.",
          "type": "array"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "readOnly": true,
          "description": "Output only. Indicate the source of the conversation.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The language code of the conversation.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A conversation represents an interaction between an end user and the CES app."
    },
    "StreamChatAiAssistantRequest": {
      "type": "object",
      "id": "StreamChatAiAssistantRequest",
      "description": "Request message for SessionService.StreamChatAiAssistant.",
      "properties": {
        "clientCapabilities": {
          "description": "Optional. Response features this client can render. The server only emits events that need a capability (e.g. `confirmation_request`) when the capability is declared, so older clients never receive events they would silently drop.",
          "items": {
            "enumDescriptions": [
              "Unspecified capability; ignored.",
              "The client renders AssistantConfirmationRequest cards and answers them via `confirmation_response`.",
              "The client manages long-running operations out-of-band by polling the operation and sending `operation_completed_event` to resume the turn. If not declared, the server manages LRO polling and completes the turn inline."
            ],
            "type": "string",
            "enum": [
              "CLIENT_CAPABILITY_UNSPECIFIED",
              "CONFIRMATION_CARDS",
              "CLIENT_MANAGED_LRO"
            ]
          },
          "type": "array"
        },
        "contextToken": {
          "type": "string",
          "description": "Optional. Opaque onboarding context token returned by SessionService.GenerateOnboardingSuggestions. When set and still fresh, the server reuses the onboarding snapshot computed for the zero state instead of recomputing it for the first conversation turn."
        },
        "confirmationResponse": {
          "description": "Optional. The user's answer to a pending AssistantConfirmationRequest. When set, the server resumes the paused agent with this answer instead of (or in addition to) starting a new prompt turn.",
          "$ref": "AssistantConfirmationResponse"
        },
        "attachOnly": {
          "description": "Optional. Optional flag to attach to an existing in-flight turn without submitting a new message.",
          "type": "boolean"
        },
        "resumeFromSequenceNumber": {
          "type": "string",
          "description": "Optional. Optional cursor to resume and replay events from an in-flight or completed turn.",
          "format": "int64"
        },
        "attachedGcsUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\""
        },
        "operationCompletedEvent": {
          "description": "Optional. Resumes an assistant session paused waiting for a client-managed long-running operation to complete.",
          "$ref": "OperationCompletedEvent"
        },
        "message": {
          "description": "Optional. The message to send to the assistant agent. May be empty when `confirmation_response` is set (answering a pending confirmation without adding a new message); at least one of the two must be provided.",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecs": {
      "id": "DataStoreToolBoostSpecs",
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array"
        },
        "spec": {
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "description": "Required. A list of boosting specifications.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "Message": {
      "id": "Message",
      "type": "object",
      "description": "A message within a conversation.",
      "properties": {
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string",
          "format": "google-datetime"
        },
        "chunks": {
          "type": "array",
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          }
        },
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        }
      }
    },
    "LfA2aV1OAuthFlows": {
      "properties": {
        "implicit": {
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        },
        "password": {
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
        },
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        },
        "clientCredentials": {
          "description": "Configuration for the OAuth Client Credentials flow.",
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow"
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        }
      },
      "type": "object",
      "id": "LfA2aV1OAuthFlows",
      "description": "Defines the configuration for the supported OAuth 2.0 flows."
    },
    "RedactionConfig": {
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording.",
          "type": "boolean"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        }
      },
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES.",
      "type": "object",
      "properties": {
        "endpointControlPolicy": {
          "$ref": "EndpointControlPolicy",
          "description": "Optional. Endpoint control related settings."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the security settings."
        },
        "updateTime": {
          "description": "Output only. Last update time of the security settings.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag of the security settings.",
          "readOnly": true
        }
      }
    },
    "SystemTool": {
      "properties": {
        "description": {
          "description": "Output only. The description of the system tool.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        }
      },
      "id": "SystemTool",
      "description": "Pre-defined system tool.",
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "properties": {
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float",
          "type": "number"
        },
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        }
      },
      "description": "Boost specification for a condition."
    },
    "LfA2aV1AgentInterface": {
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1AgentInterface"
    },
    "ServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "type": "array"
        }
      },
      "id": "ServiceAccountAuthConfig",
      "description": "Configurations for authentication using a custom service account."
    },
    "CodeBlock": {
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "id": "CodeBlock",
      "type": "object",
      "description": "A code block to be executed instead of a real tool call."
    },
    "InputAudioConfig": {
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "id": "InputAudioConfig",
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the input audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AppSnapshot": {
      "type": "object",
      "description": "A snapshot of the app.",
      "properties": {
        "examples": {
          "description": "Optional. List of examples in the app.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "type": "array",
          "description": "Optional. List of toolsets in the app."
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "agents": {
          "description": "Optional. List of agents in the app.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Optional. List of tools in the app."
        }
      },
      "id": "AppSnapshot"
    },
    "DataStoreToolEngineSource": {
      "type": "object",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "dataStoreSources": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      },
      "id": "DataStoreToolEngineSource"
    },
    "Guardrail": {
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "id": "Guardrail",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "type": "string"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "supervisor": {
          "description": "Optional. Guardrail that runs supervisor intervention.",
          "$ref": "GuardrailSupervisor"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true,
          "type": "string"
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OptionQuestionsChunk": {
      "properties": {
        "questions": {
          "items": {
            "$ref": "OptionQuestionsChunkQuestion"
          },
          "type": "array",
          "description": "The questions asked this turn. More than one entry drives the console's \"1 of N\" pager."
        }
      },
      "description": "Structured clarification options the assistant asks the user to choose among, transduced server-side out of the model's turn (the option block is stripped from the streamed and persisted text). The console renders a keyboard-navigable option list docked above the composer.",
      "id": "OptionQuestionsChunk",
      "type": "object"
    },
    "GenerateChatTokenResponse": {
      "properties": {
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GenerateChatTokenResponse",
      "type": "object",
      "description": "Response message for WidgetService.GenerateChatToken."
    },
    "McpToolOverride": {
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "descriptionOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this description instead of the original description from the server."
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "snapshot": {
          "readOnly": true,
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "$ref": "McpToolDefinition"
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "McpToolOverride"
    },
    "ImportAppRequestImportOptions": {
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        },
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ]
        }
      },
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "properties": {
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        },
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        },
        "speakingRate": {
          "format": "double",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number"
        },
        "model": {
          "type": "string",
[...]
