{
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "id": "ces:v1beta",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20260831",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "basePath": "",
  "title": "Gemini Enterprise for Customer Experience API",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListToolsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "tools": {
          "type": "array",
          "description": "The list of tools.",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "type": "object",
      "id": "ListToolsResponse"
    },
    "RestoreAppVersionRequest": {
      "description": "Request message for AgentService.RestoreAppVersion",
      "type": "object",
      "properties": {},
      "id": "RestoreAppVersionRequest"
    },
    "EvaluationSettings": {
      "properties": {
        "scenarioExecutionMode": {
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED."
        },
        "goldenEvaluationToolCallBehaviour": {
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "description": "Optional. Configures the default tool call behaviour for golden evaluations.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "metricsConfig": {
          "$ref": "EvaluationMetricsConfig",
          "description": "Optional. Configures the default metrics for evaluations."
        },
        "scenarioEvaluationToolCallBehaviour": {
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "scenarioConversationInitiator": {
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ]
        },
        "goldenRunMethod": {
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        }
      },
      "description": "Settings for evaluation.",
      "type": "object",
      "id": "EvaluationSettings"
    },
    "InputAudioConfig": {
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "description": "Required. The encoding of the input audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      },
      "id": "InputAudioConfig",
      "type": "object"
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "type": "object",
      "properties": {
        "examples": {
          "description": "Optional. List of examples in the app.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "agents": {
          "type": "array",
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          }
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Optional. List of tools in the app."
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "Optional. List of guardrails in the app.",
          "type": "array"
        }
      }
    },
    "QualityReportAgentIssues": {
      "description": "Issues identified for a single agent.",
      "properties": {
        "agent": {
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "description": "Optional. List of issues found for this agent.",
          "items": {
            "$ref": "QualityReportIssue"
          }
        }
      },
      "type": "object",
      "id": "QualityReportAgentIssues"
    },
    "LatencyReportToolLatency": {
      "type": "object",
      "description": "Latency metrics for a single tool.",
      "id": "LatencyReportToolLatency",
      "properties": {
        "toolsetTool": {
          "description": "Output only. The toolset tool identifier.",
          "$ref": "ToolsetTool",
          "readOnly": true
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the tool.",
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics"
        },
        "tool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`."
        },
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "LfA2aV1SecurityScheme": {
      "properties": {
        "httpAuthSecurityScheme": {
          "$ref": "LfA2aV1HTTPAuthSecurityScheme",
          "description": "HTTP authentication (Basic, Bearer, etc.)."
        },
        "apiKeySecurityScheme": {
          "$ref": "LfA2aV1APIKeySecurityScheme",
          "description": "API key-based authentication."
        },
        "mtlsSecurityScheme": {
          "description": "Mutual TLS authentication.",
          "$ref": "LfA2aV1MutualTlsSecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "description": "OpenID Connect authentication.",
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme"
        },
        "oauth2SecurityScheme": {
          "$ref": "LfA2aV1OAuth2SecurityScheme",
          "description": "OAuth 2.0 authentication."
        }
      },
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "type": "object",
      "id": "LfA2aV1SecurityScheme"
    },
    "BatchDeleteConversationsResponse": {
      "description": "Response message for AgentService.BatchDeleteConversations.",
      "id": "BatchDeleteConversationsResponse",
      "properties": {
        "errorMessages": {
          "type": "array",
          "description": "Optional. A list of error messages associated with conversations that failed to be deleted.",
          "items": {
            "type": "string"
          }
        },
        "deletedConversations": {
          "description": "The list of conversations that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedConversations": {
          "type": "array",
          "description": "The list of conversations that failed to be deleted.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "TestPersonaVoiceResponse": {
      "id": "TestPersonaVoiceResponse",
      "type": "object",
      "description": "Response message for EvaluationService.TestPersonaVoice.",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte",
          "description": "The audio data bytes of the synthesized voice."
        }
      }
    },
    "LfA2aV1AgentCapabilities": {
      "properties": {
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "pushNotifications": {
          "type": "boolean",
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates."
        },
        "extensions": {
          "description": "A list of protocol extensions supported by the agent.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          }
        },
        "extendedAgentCard": {
          "type": "boolean",
          "description": "Indicates if the agent supports providing an extended agent card when authenticated."
        }
      },
      "description": "Defines optional capabilities supported by an agent.",
      "type": "object",
      "id": "LfA2aV1AgentCapabilities"
    },
    "EvaluationErrorInfo": {
      "type": "object",
      "properties": {
        "sessionId": {
          "readOnly": true,
          "description": "Output only. The session ID for the conversation that caused the error.",
          "type": "string"
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The error message.",
          "type": "string"
        },
        "userFacingErrorMessage": {
          "description": "Output only. The user facing error message.",
          "readOnly": true,
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "RUNTIME_FAILURE",
            "CONVERSATION_RETRIEVAL_FAILURE",
            "METRIC_CALCULATION_FAILURE",
            "EVALUATION_UPDATE_FAILURE",
            "QUOTA_EXHAUSTED",
            "USER_SIMULATION_FAILURE"
          ],
          "description": "Output only. The type of error.",
          "enumDescriptions": [
            "Unspecified error type.",
            "Failure during runtime execution.",
            "Failure to retrieve conversation from CES Runtime.",
            "Failure to calculate a metric / outcome.",
            "Failure to update the evaluation.",
            "Ran out of quota.",
            "Failure during user simulation."
          ],
          "readOnly": true
        }
      },
      "description": "Information about an error encountered during an evaluation execution.",
      "id": "EvaluationErrorInfo"
    },
    "EvaluationGoldenExpectation": {
      "id": "EvaluationGoldenExpectation",
      "properties": {
        "agentResponseHallucinationMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response hallucination metrics.",
          "$ref": "EvaluationMetricsConfigHallucinationMetricsConfig"
        },
        "agentResponseSemanticSimilarityMetricsConfigOverride": {
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
          "description": "Optional. Overrides for agent_response semantic similarity metrics."
        },
        "expectationLevelMetricsThresholdsOverride": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. Overrides metrics at the step level."
        },
        "skipEvaluation": {
          "type": "boolean",
          "description": "Optional. If set to true, this specific expectation will not be evaluated."
        },
        "agentTransfer": {
          "description": "Optional. Check that the agent transferred the conversation to a different agent.",
          "$ref": "AgentTransfer"
        },
        "note": {
          "type": "string",
          "description": "Optional. A note for this requirement, useful in reporting when specific checks fail. E.g., \"Check_Payment_Tool_Called\"."
        },
        "updatedVariables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Check that the agent updated the session variables to the expected values. Used to also capture agent variable updates for golden evals."
        },
        "agentResponse": {
          "$ref": "Message",
          "description": "Optional. Check that the agent responded with the correct response. The role \"agent\" is implied."
        },
        "mockToolResponse": {
          "description": "Optional. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        },
        "toolCall": {
          "description": "Optional. Check that a specific tool was called with the parameters.",
          "$ref": "ToolCall"
        },
        "noToolCalls": {
          "description": "Optional. Check that no tools were called during this turn.",
          "type": "boolean"
        },
        "toolResponse": {
          "description": "Optional. Check that a specific tool had the expected response.",
          "$ref": "ToolResponse"
        },
        "comparisonType": {
          "enumDescriptions": [
            "Unspecified comparison type. Behavior defaults to SEMANTIC_SIMILARITY for agent responses and tool calls.",
            "Exact string match.",
            "Substring match (checks if the expected string is contained in the actual response).",
            "Semantic similarity match (evaluates meaning similarity using an LLM)."
          ],
          "description": "Optional. The comparison type to use for the expectation check.",
          "type": "string",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "CONTAINS",
            "SEMANTIC_SIMILARITY"
          ]
        }
      },
      "type": "object",
      "description": "Represents a single, checkable requirement."
    },
    "FileContextFileBytes": {
      "id": "FileContextFileBytes",
      "description": "File provided as raw bytes.",
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "Required. The name of the file provided as raw bytes."
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the file."
        }
      }
    },
    "TriggerActionTransferAgent": {
      "type": "object",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "description": "The agent will transfer the conversation to a different agent.",
      "id": "TriggerActionTransferAgent"
    },
    "ExportEvaluationResultsResponse": {
      "type": "object",
      "id": "ExportEvaluationResultsResponse",
      "description": "Response message for EvaluationService.ExportEvaluationResults.",
      "properties": {
        "evaluationResultsContent": {
          "description": "The content of the exported Evaluation Results. This will be populated if gcs_uri was not specified in the request.",
          "format": "byte",
          "type": "string"
        },
        "evaluationResultsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Results were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        }
      }
    },
    "DeployChannelResponse": {
      "properties": {
        "deployment": {
          "$ref": "Deployment",
          "description": "The created deployment."
        }
      },
      "id": "DeployChannelResponse",
      "description": "Response message for AgentService.DeployChannel.",
      "type": "object"
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "type": "object",
      "properties": {
        "expectation": {
          "description": "Output only. The expectation that was evaluated.",
          "readOnly": true,
          "$ref": "EvaluationGoldenExpectation"
        },
        "observedPayload": {
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "readOnly": true
        },
        "observedAgentTransfer": {
          "description": "Output only. The result of the agent transfer expectation.",
          "$ref": "AgentTransfer",
          "readOnly": true
        },
        "observedToolCall": {
          "$ref": "ToolCall",
          "description": "Output only. The result of the tool call expectation.",
          "readOnly": true
        },
        "outcome": {
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the expectation.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true
        },
        "toolInvocationResult": {
          "description": "Output only. The result of the tool invocation check.",
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "readOnly": true
        },
        "observedToolResponse": {
          "readOnly": true,
          "$ref": "ToolResponse",
          "description": "Output only. The result of the tool response expectation."
        },
        "observedAgentResponse": {
          "description": "Output only. The result of the agent response expectation.",
          "readOnly": true,
          "$ref": "Message"
        },
        "semanticSimilarityResult": {
          "description": "Output only. The result of the semantic similarity check.",
          "readOnly": true,
          "deprecated": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        }
      },
      "id": "EvaluationResultGoldenExpectationOutcome",
      "description": "Specifies the expectation and the result of that expectation."
    },
    "DataStoreToolRewriterConfig": {
      "description": "Rewriter configuration.",
      "properties": {
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        }
      },
      "type": "object",
      "id": "DataStoreToolRewriterConfig"
    },
    "ListChangelogsResponse": {
      "description": "Response message for AgentService.ListChangelogs.",
      "id": "ListChangelogsResponse",
      "type": "object",
      "properties": {
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "description": "The list of changelogs.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "ListEvaluationExpectationsResponse": {
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluationExpectations.",
      "id": "ListEvaluationExpectationsResponse",
      "properties": {
        "evaluationExpectations": {
          "type": "array",
          "items": {
            "$ref": "EvaluationExpectation"
          },
          "description": "The list of evaluation expectations."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationExpectationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LfA2aV1Task": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
        },
        "artifacts": {
          "description": "A set of output artifacts for a `Task`.",
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "type": "array"
        },
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "type": "array"
        },
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        }
      },
      "id": "LfA2aV1Task",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "type": "object"
    },
    "EvaluationMetricsConfigScenarioMetricsConfig": {
      "properties": {
        "userGoalMetMetricsConfig": {
          "$ref": "EvaluationMetricsConfigUserGoalMetMetricsConfig",
          "description": "Optional. Configuration for user goal met metrics."
        },
        "expectationsMetMetricsConfig": {
          "$ref": "EvaluationMetricsConfigExpectationsMetMetricsConfig",
          "description": "Optional. Configuration for expectation level metrics."
        }
      },
      "id": "EvaluationMetricsConfigScenarioMetricsConfig",
      "type": "object",
      "description": "Configuration for the scenario metrics for the evaluation."
    },
    "EvaluationMetricsConfigToolCorrectnessMetricsConfig": {
      "properties": {
        "enableToolCorrectnessMetrics": {
          "description": "Optional. Whether to calculate tool correctness metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "description": "Configuration for correctness metrics for the evaluation. To disable the metric, set the message but do not set the `enable_tool_correctness_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object",
      "id": "EvaluationMetricsConfigToolCorrectnessMetricsConfig"
    },
    "AgentRemoteA2aAgent": {
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      },
      "id": "AgentRemoteA2aAgent",
      "type": "object"
    },
    "EvaluationPersona": {
      "properties": {
        "description": {
          "description": "Optional. The description of the persona.",
          "type": "string"
        },
        "name": {
          "description": "Required. The unique identifier of the persona. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the persona. Unique within an app.",
          "type": "string"
        },
        "speechConfig": {
          "$ref": "EvaluationPersonaSpeechConfig",
          "description": "Optional. Configuration for how the persona sounds (TTS settings)."
        },
        "personality": {
          "description": "Required. An instruction for the agent on how to behave in the evaluation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationPersona",
      "description": "A persona represents an end user in an evaluation."
    },
    "LfA2aV1AgentCard": {
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "Optional. A URL to an icon for the agent."
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          }
        },
        "documentationUrl": {
          "description": "A URL providing additional documentation about the agent.",
          "type": "string"
        },
        "skills": {
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          }
        },
        "capabilities": {
          "description": "Required. A2A Capability set supported by the agent.",
          "$ref": "LfA2aV1AgentCapabilities"
        },
        "version": {
          "description": "Required. The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        },
        "signatures": {
          "type": "array",
          "description": "JSON Web Signatures computed for this `AgentCard`.",
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          }
        },
        "defaultOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The media types supported as outputs from this agent."
        },
        "securitySchemes": {
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          },
          "type": "object",
          "description": "The security scheme details used for authenticating with this agent."
        },
        "name": {
          "type": "string",
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "securityRequirements": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security requirements for contacting the agent."
        },
        "description": {
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "defaultInputModes": {
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "id": "LfA2aV1AgentCard"
    },
    "BatchDeleteConversationsRequest": {
      "properties": {
        "conversations": {
          "type": "array",
          "description": "Required. The resource names of the conversations to delete.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "id": "BatchDeleteConversationsRequest"
    },
    "ApiAuthentication": {
      "type": "object",
      "properties": {
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        }
      },
      "description": "Authentication information required for API calls.",
      "id": "ApiAuthentication"
    },
    "EvaluationResultSpanLatency": {
      "id": "EvaluationResultSpanLatency",
      "description": "The latency of a span execution.",
      "properties": {
        "executionLatency": {
          "description": "Output only. The latency of span.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "callback": {
          "type": "string",
          "description": "Output only. The name of the user callback span.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "description": "Output only. The name of the LLM span.",
          "readOnly": true,
          "type": "string"
        },
        "toolset": {
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true,
          "$ref": "ToolsetTool"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ],
          "description": "Output only. The type of span.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The end time of span.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The start time of span."
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource name of the guardrail or tool spans.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "description": "Settings for matching tool calls.",
      "type": "object",
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL."
        }
      },
      "id": "EvaluationMetricsThresholdsToolMatchingSettings"
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "description": "TimeZone settings of the app."
    },
    "ImportAppRequest": {
      "type": "object",
      "properties": {
        "importOptions": {
          "$ref": "ImportAppRequestImportOptions",
          "description": "Optional. Options governing the import process for the app."
        },
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "gcsUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "jsonPatchContent": {
          "type": "string",
          "description": "Optional. Patch content as a JSON string."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "jsonPatchGcsUri": {
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches.",
          "type": "string"
        }
      },
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp."
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object",
      "properties": {
        "goldenHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The hallucination metric behavior for golden evaluations."
        },
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "hallucinationMetricBehavior": {
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "deprecated": true
        },
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        }
      }
    },
    "ImportEvaluationsResponse": {
      "properties": {
        "importFailureCount": {
          "type": "integer",
          "description": "The number of evaluations that either failed to import entirely or completed import with one or more errors.",
          "format": "int32"
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations that were imported into the app.",
          "type": "array"
        },
        "errorMessages": {
          "description": "Optional. A list of error messages associated with evaluations that failed to be imported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "evaluationResults": {
          "type": "array",
          "description": "The list of evaluation results that were imported into the app.",
          "items": {
            "$ref": "EvaluationResult"
          }
        },
        "evaluationResultImportFailureCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of evaluation results that either failed to import entirely or completed import with one or more errors."
        },
        "evaluationRuns": {
          "type": "array",
          "description": "The list of evaluation runs that were imported into the app.",
          "items": {
            "$ref": "EvaluationRun"
          }
        },
        "evaluationRunImportFailureCount": {
          "description": "The number of evaluation runs that either failed to import entirely or completed import with one or more errors.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ImportEvaluationsResponse",
      "description": "Response message for EvaluationService.ImportEvaluations.",
      "type": "object"
    },
    "MetricAnalysisSettings": {
      "id": "MetricAnalysisSettings",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      },
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "EvaluationScenarioExpectation": {
      "description": "The expectation to evaluate the conversation produced by the simulation.",
      "id": "EvaluationScenarioExpectation",
      "properties": {
        "agentResponse": {
          "description": "Optional. The agent response to be evaluated.",
          "$ref": "Message"
        },
        "toolExpectation": {
          "$ref": "EvaluationScenarioExpectationToolExpectation",
          "description": "Optional. The tool call and response pair to be evaluated."
        }
      },
      "type": "object"
    },
    "EvaluationRunEvaluationRunSummary": {
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "type": "object",
      "properties": {
        "passedCount": {
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "failedCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of failed results for the associated Evaluation in this run."
        },
        "errorCount": {
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "EvaluationRunEvaluationRunSummary"
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "type": "object",
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "ChannelProfilePersonaProperty": {
      "id": "ChannelProfilePersonaProperty",
      "properties": {
        "persona": {
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      },
      "type": "object",
      "description": "Represents the persona property of a channel."
    },
    "ToolsetTool": {
      "id": "ToolsetTool",
      "description": "A tool that is created from a toolset.",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "type": "object"
    },
    "ClientCertificateSettings": {
      "type": "object",
      "description": "Settings for custom client certificates.",
      "properties": {
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "id": "ClientCertificateSettings"
    },
    "LfA2aV1StringList": {
      "id": "LfA2aV1StringList",
      "type": "object",
      "properties": {
        "list": {
          "items": {
            "type": "string"
          },
          "description": "The individual string values.",
          "type": "array"
        }
      },
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings."
    },
    "LatencyReport": {
      "type": "object",
      "properties": {
        "llmCallLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each LLM call.",
          "items": {
            "$ref": "LatencyReportLlmCallLatency"
          },
          "readOnly": true,
          "type": "array"
        },
        "guardrailLatencies": {
          "items": {
            "$ref": "LatencyReportGuardrailLatency"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Unordered list. Latency metrics for each guardrail."
        },
        "sessionCount": {
          "description": "Output only. The total number of sessions considered in the latency report.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "callbackLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each callback.",
          "items": {
            "$ref": "LatencyReportCallbackLatency"
          },
          "readOnly": true,
          "type": "array"
        },
        "toolLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each tool.",
          "items": {
            "$ref": "LatencyReportToolLatency"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "LatencyReport",
      "description": "Latency report for the evaluation run."
    },
    "ListEvaluationResultsResponse": {
      "id": "ListEvaluationResultsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluationResults": {
          "description": "The list of evaluation results.",
          "items": {
            "$ref": "EvaluationResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluationResults."
    },
    "ExportEvaluationRunsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "properties": {
        "evaluationRunsContent": {
          "format": "byte",
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request.",
          "type": "string"
        },
        "evaluationRunsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExportEvaluationRunsResponse"
    },
    "EvaluationGoldenTurn": {
      "properties": {
        "hallucinationMetricBehaviorOverride": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate."
        },
        "steps": {
          "items": {
            "$ref": "EvaluationStep"
          },
          "type": "array",
          "description": "Required. The steps required to replay a golden conversation."
        },
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        }
      },
      "type": "object",
      "description": "A golden turn defines a single turn in a golden conversation.",
      "id": "EvaluationGoldenTurn"
    },
    "DeleteEvaluationRunOperationMetadata": {
      "id": "DeleteEvaluationRunOperationMetadata",
      "type": "object",
      "description": "Operation metadata for EvaluationService.DeleteEvaluationRun.",
      "properties": {}
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ConversationTurn": {
      "type": "object",
      "id": "ConversationTurn",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "type": "array"
        },
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        }
      },
      "description": "All information about a single turn in the conversation."
    },
    "ScheduledEvaluationRun": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the scheduled evaluation run was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "createdBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who created the scheduled evaluation run."
        },
        "active": {
          "description": "Optional. Whether this config is active",
          "type": "boolean"
        },
        "request": {
          "$ref": "RunEvaluationRequest",
          "description": "Required. The RunEvaluationRequest to schedule"
        },
        "nextScheduledExecutionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The next time this is scheduled to execute",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "readOnly": true
        },
        "totalExecutions": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total number of times this run has been executed",
          "type": "integer"
        },
        "description": {
          "description": "Optional. User-defined description of the scheduled evaluation run.",
          "type": "string"
        },
        "lastUpdatedBy": {
          "readOnly": true,
          "description": "Output only. The user who last updated the evaluation.",
          "type": "string"
        },
        "lastCompletedRun": {
          "description": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. User-defined display name of the scheduled evaluation run config.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}"
        },
        "schedulingConfig": {
          "description": "Required. Configuration for the timing and frequency with which to execute the evaluations.",
          "$ref": "ScheduledEvaluationRunSchedulingConfig"
        }
      },
      "description": "Represents a scheduled evaluation run configuration.",
      "id": "ScheduledEvaluationRun"
    },
    "LfA2aV1Part": {
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "type": "object",
      "properties": {
        "raw": {
          "format": "byte",
          "type": "string",
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string."
        },
        "text": {
          "type": "string",
          "description": "The string content of the `text` part."
        },
        "data": {
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null).",
          "type": "any"
        },
        "mediaType": {
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types.",
          "type": "string"
        },
        "url": {
          "description": "A `url` pointing to the file's content.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. metadata associated with this part.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "filename": {
          "description": "An optional `filename` for the file (e.g., \"document.pdf\").",
          "type": "string"
        }
      },
      "id": "LfA2aV1Part"
    },
    "Span": {
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the span.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The start time of the span."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the span."
        },
        "attributes": {
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Output only. Key-value attributes associated with the span."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The end time of the span."
        },
        "childSpans": {
          "items": {
            "$ref": "Span"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The child spans that are nested under this span."
        }
      },
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "properties": {},
      "type": "object",
      "description": "The configuration to be used to generate the evaluation personas.",
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig"
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "type": "object",
      "description": "Response message for AgentService.ListExamples.",
      "properties": {
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "UploadEvaluationAudioResponse": {
      "type": "object",
      "id": "UploadEvaluationAudioResponse",
      "properties": {
        "audioGcsUri": {
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`",
          "type": "string"
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        },
        "duration": {
          "description": "The duration of the audio.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Response message for EvaluationService.UploadEvaluationAudio."
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
      "type": "object",
      "properties": {
        "toolCall": {
          "readOnly": true,
          "$ref": "ToolCall",
          "description": "Output only. The observed tool call."
        },
        "toolResponse": {
          "description": "Output only. The observed tool response.",
          "readOnly": true,
          "$ref": "ToolResponse"
        }
      },
      "description": "The observed tool call and response."
    },
    "SystemTool": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        }
      },
      "id": "SystemTool",
      "type": "object",
      "description": "Pre-defined system tool."
    },
    "EvaluationResultEvaluationExpectationResult": {
      "type": "object",
      "id": "EvaluationResultEvaluationExpectationResult",
      "properties": {
        "prompt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The prompt that was used for the evaluation."
        },
        "outcome": {
          "description": "Output only. The outcome of the evaluation expectation.",
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true
        },
        "evaluationExpectation": {
          "description": "Output only. The evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "readOnly": true,
          "type": "string"
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. The explanation for the result.",
          "type": "string"
        }
      },
      "description": "The result of a single evaluation expectation."
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. Metadata included with the artifact.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        }
      }
    },
    "AggregatedMetricsTurnLatencyMetrics": {
      "id": "AggregatedMetricsTurnLatencyMetrics",
      "type": "object",
      "description": "Metrics for turn latency.",
      "properties": {
        "averageLatency": {
          "description": "Output only. The average latency of the turns.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      }
    },
    "EvaluationMetricsConfigUserGoalMetMetricsConfig": {
      "id": "EvaluationMetricsConfigUserGoalMetMetricsConfig",
      "type": "object",
      "properties": {
        "enableUserGoalMetMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate the user goal met metrics for the evaluation."
        }
      },
      "description": "Configuration for the user goal met metrics for the evaluation. To disable the metric, set the message but do not set the `enable_user_goal_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely."
    },
    "LfA2aV1AgentCardSignature": {
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "type": "object",
      "properties": {
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "header": {
          "description": "The unprotected JWS header values.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "LfA2aV1AgentCardSignature"
    },
    "RetrieveToolsResponse": {
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools.",
      "properties": {
        "tools": {
          "description": "The list of tools that are included in the specified toolset.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "App": {
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "type": "object",
      "id": "App",
      "properties": {
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "evaluationPersonas": {
          "items": {
            "$ref": "EvaluationPersona"
          },
          "description": "Optional. The evaluation personas for the app. This field is used to define the personas that can be used for evaluation. Maximum of 30 personas can be defined.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the app."
        },
        "variableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "description": "Optional. The declarations of the variables.",
          "type": "array"
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "evaluationSettings": {
          "description": "Optional. The evaluation settings for the app.",
          "$ref": "EvaluationSettings"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was last updated.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "deploymentCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of deployments in the app."
        },
        "validationErrors": {
          "readOnly": true,
          "description": "Output only. Misconfigurations or warnings in the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "toolExecutionMode": {
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "type": "string",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ]
        },
        "dashboardSettings": {
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards.",
          "$ref": "DashboardSettings"
        },
        "timeZoneSettings": {
          "$ref": "TimeZoneSettings",
          "description": "Optional. TimeZone settings of the app."
        },
        "pinned": {
          "type": "boolean",
          "description": "Optional. Whether the app is pinned in the app list."
        },
        "vpcScSettings": {
          "$ref": "VpcScSettings",
          "description": "Optional. VPC-SC settings for the app."
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "predefinedVariableDeclarations": {
          "description": "Output only. The declarations of predefined variables for the app.",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array",
          "readOnly": true
        },
        "defaultChannelProfile": {
          "$ref": "ChannelProfile",
          "description": "Optional. The default channel profile used by the app."
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was created."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "RetrieveToolSchemaRequest": {
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        }
      },
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "type": "object"
    },
    "ExperimentConfigVersionRelease": {
      "type": "object",
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment.",
      "properties": {
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "type": "array",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        },
        "state": {
          "description": "Optional. State of the version release.",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        }
      }
    },
    "ToolCall": {
      "description": "Request for the client or the agent to execute the specified tool.",
      "properties": {
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. The input parameters and values for the tool in JSON object format."
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "parentToolCallId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling."
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the tool.",
          "type": "string"
        }
      },
      "id": "ToolCall",
      "type": "object"
    },
    "Chunk": {
      "type": "object",
      "description": "A chunk of content within a message.",
      "id": "Chunk",
      "properties": {
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Optional. Tool execution request."
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "defaultVariables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "payload": {
          "type": "object",
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "ToolResponse"
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "updatedVariables": {
          "type": "object",
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        }
      }
    },
    "TriggerAction": {
      "properties": {
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        },
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "id": "TriggerAction"
    },
    "AgentSkill": {
      "properties": {
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "inputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "outputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults."
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array"
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Example prompts or scenarios that this skill can handle."
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object",
      "id": "AgentSkill"
    },
    "Tool": {
      "properties": {
        "executionType": {
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "displayName": {
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true,
          "type": "string"
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the tool was created."
        },
        "timeout": {
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "format": "google-duration",
          "type": "string"
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "openApiTool": {
          "description": "Optional. The open API tool.",
          "$ref": "OpenApiTool"
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the tool was last updated.",
          "format": "google-datetime"
        }
      },
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "type": "object"
    },
    "EvaluationResult": {
      "id": "EvaluationResult",
      "description": "An evaluation result represents the output of running an Evaluation.",
      "properties": {
        "goldenResult": {
          "readOnly": true,
          "description": "Output only. The outcome of a golden evaluation.",
          "$ref": "EvaluationResultGoldenResult"
        },
        "displayName": {
          "description": "Required. Display name of the Evaluation Result. Unique within an Evaluation. By default, it has the following format: \" result - \".",
          "type": "string"
        },
        "goldenRunMethod": {
          "description": "Output only. The method used to run the golden evaluation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "config": {
          "description": "Output only. The configuration used in the evaluation run that resulted in this result.",
          "readOnly": true,
          "$ref": "EvaluationConfig"
        },
        "initiatedBy": {
          "description": "Output only. The user who initiated the evaluation run that resulted in this result.",
          "type": "string",
          "readOnly": true
        },
        "executionState": {
          "enumDescriptions": [
            "Evaluation result execution state is not specified.",
            "Evaluation result execution is queued.",
            "Evaluation result execution is running.",
            "Evaluation result execution has completed.",
            "Evaluation result execution failed due to an internal error.",
            "Evaluation result execution was cancelled."
          ],
          "readOnly": true,
          "description": "Output only. The state of the evaluation result execution.",
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "COMPLETED",
            "ERROR",
            "CANCELLED"
          ]
        },
        "appVersionDisplayName": {
          "description": "Output only. The display name of the `app_version` that the evaluation ran against.",
          "readOnly": true,
          "type": "string"
        },
        "appVersion": {
          "description": "Output only. The app version used to generate the conversation that resulted in this result. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. Deprecated: Use `error_info` instead. Errors encountered during execution.",
          "$ref": "Status",
          "readOnly": true,
          "deprecated": true
        },
        "evaluationStatus": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the evaluation. Only populated if execution_state is COMPLETE.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        },
        "changelogCreateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "type": "string"
        },
        "persona": {
          "readOnly": true,
          "description": "Output only. The persona used to generate the conversation for the evaluation result.",
          "$ref": "EvaluationPersona"
        },
        "evaluationRun": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The evaluation run that produced this result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the evaluation result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`"
        },
        "rootSpan": {
          "$ref": "Span",
          "readOnly": true,
          "description": "Output only. The root span of the evaluation execution, which includes information about each step of the evaluation."
        },
        "outcomeMetadata": {
          "enumDescriptions": [
            "Unspecified outcome metadata.",
            "The evaluation resulted in a graceful handoff to a human representative."
          ],
          "type": "string",
          "enum": [
            "OUTCOME_METADATA_UNSPECIFIED",
            "GRACEFUL_HANDOFF"
          ],
          "description": "Output only. The outcome metadata of the evaluation. Only populated if execution_state is COMPLETE.",
          "readOnly": true
        },
        "errorInfo": {
          "readOnly": true,
          "$ref": "EvaluationErrorInfo",
          "description": "Output only. Error information for the evaluation result."
        },
        "changelog": {
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "type": "string",
          "readOnly": true
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "readOnly": true,
          "description": "Output only. The evaluation thresholds for the result."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the evaluation result was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "scenarioResult": {
          "$ref": "EvaluationResultScenarioResult",
          "readOnly": true,
          "description": "Output only. The outcome of a scenario evaluation."
        }
      },
      "type": "object"
    },
    "WebSearchQuery": {
      "type": "object",
      "id": "WebSearchQuery",
      "properties": {
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        },
        "query": {
          "description": "The search query text.",
          "type": "string"
        }
      },
      "description": "Represents a single web search query and its associated search uri."
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "type": "object",
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow.",
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "authorizationUrl": {
          "description": "Required. The authorization URL to be used for this flow.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "pkceRequired": {
          "type": "boolean",
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients."
        }
      }
    },
    "McpToolOverride": {
      "id": "McpToolOverride",
      "properties": {
        "descriptionOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this description instead of the original description from the server."
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        }
      },
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server."
    },
    "ChannelProfileInstagramConfig": {
      "type": "object",
      "id": "ChannelProfileInstagramConfig",
      "properties": {
        "thumbnailUrl": {
          "readOnly": true,
          "type": "string",
[...]
