{
  "rootUrl": "https://ces.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "name": "ces",
  "title": "Gemini Enterprise for Customer Experience API",
  "canonicalName": "Customer Engagement Suite",
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "ces:v1beta",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "SessionOutput": {
      "id": "SessionOutput",
      "description": "Output for the session.",
      "properties": {
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "progress": {
          "type": "string",
          "description": "Intermediate progress update from the CES agent."
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "image": {
          "$ref": "Image",
          "description": "Output image from the CES agent."
        },
        "text": {
          "type": "string",
          "description": "Output text from the CES agent."
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom payload with structured output from the CES agent."
        },
        "audio": {
          "format": "byte",
          "type": "string",
          "description": "Output audio from the CES agent."
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the agent's generated text."
        },
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1."
        },
        "endSession": {
          "$ref": "EndSession",
          "description": "Indicates the session has ended."
        }
      },
      "type": "object"
    },
    "Action": {
      "type": "object",
      "properties": {
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
        }
      },
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "ConversationLoggingSettings": {
      "id": "ConversationLoggingSettings",
      "properties": {
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "type": "string",
          "format": "google-duration"
        },
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        }
      },
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "type": "object"
    },
    "ListGuardrailsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails.",
          "type": "array"
        }
      },
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails."
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "description": "Event input.",
      "properties": {
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Additional variables associated with the event.",
          "type": "object"
        },
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      }
    },
    "ChannelProfileWebWidgetConfig": {
      "id": "ChannelProfileWebWidgetConfig",
      "properties": {
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "description": "Optional. The theme of the web widget.",
          "type": "string"
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "description": "Optional. The modality of the web widget.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ]
        }
      },
      "type": "object",
      "description": "Message for configuration for the web widget."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "properties": {
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        }
      },
      "description": "Settings for golden evaluations.",
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
    },
    "ExperimentConfigVersionRelease": {
      "type": "object",
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "type": "string",
          "description": "Optional. State of the version release.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        },
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "type": "array",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        }
      }
    },
    "AggregatedMetricsSemanticSimilarityMetrics": {
      "id": "AggregatedMetricsSemanticSimilarityMetrics",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. The average semantic similarity score (0-4)."
        }
      },
      "description": "Metrics for semantic similarity results."
    },
    "LatencyReportLatencyMetrics": {
      "type": "object",
      "properties": {
        "callCount": {
          "description": "Output only. The number of times the resource was called.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "p50Latency": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The 50th percentile latency.",
          "type": "string"
        },
        "p99Latency": {
          "readOnly": true,
          "description": "Output only. The 99th percentile latency.",
          "format": "google-duration",
          "type": "string"
        },
        "p90Latency": {
          "format": "google-duration",
          "description": "Output only. The 90th percentile latency.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Latency metrics for a component.",
      "id": "LatencyReportLatencyMetrics"
    },
    "EvaluationResultUserGoalSatisfactionResult": {
      "description": "The result of a user goal satisfaction check for a conversation.",
      "id": "EvaluationResultUserGoalSatisfactionResult",
      "type": "object",
      "properties": {
        "explanation": {
          "description": "Output only. The explanation for the user task satisfaction score.",
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "description": "Output only. The user task satisfaction score. Can be -1, 0, 1, 2.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "label": {
          "description": "Output only. The label associated with each score. Score 2: Graceful Handoff Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "LfA2aV1PasswordOAuthFlow": {
      "id": "LfA2aV1PasswordOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "scopes": {
          "type": "object",
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "type": "object",
      "description": "Settings for matching tool calls.",
      "properties": {
        "extraToolCallBehavior": {
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ]
        }
      }
    },
    "EvaluationPersonaSpeechConfig": {
      "properties": {
        "voiceId": {
          "type": "string",
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\""
        },
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers.",
          "format": "double"
        },
        "environment": {
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ],
          "description": "Optional. The simulated audio environment.",
          "type": "string",
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ]
        }
      },
      "type": "object",
      "id": "EvaluationPersonaSpeechConfig",
      "description": "Configuration for Text-to-Speech generation."
    },
    "AssistantChunk": {
      "type": "object",
      "id": "AssistantChunk",
      "description": "A chunk of data in an assistant message.",
      "properties": {
        "createTime": {
          "description": "Optional. Timestamp when the chunk was created or emitted.",
          "type": "string",
          "format": "google-datetime"
        },
        "typedPayload": {
          "$ref": "TypedPayload",
          "description": "Optional. Typed payload which contains structured responses."
        },
        "thought": {
          "type": "string",
          "description": "Optional. Thought generated by the model."
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Payload which contains structured responses like the quality report, agent version name, suggested responses etc.",
          "type": "object"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        }
      }
    },
    "DataStoreConnectorConfig": {
      "description": "The connector config for the data store connection.",
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataStoreConnectorConfig"
    },
    "ListConversationsResponse": {
      "description": "Response message for AgentService.ListConversations.",
      "type": "object",
      "properties": {
        "conversations": {
          "items": {
            "$ref": "Conversation"
          },
          "type": "array",
          "description": "The list of conversations."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConversationsResponse"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "type": "array",
          "description": "The list of changelogs."
        }
      },
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs."
    },
    "OptionQuestionsChunkQuestion": {
      "type": "object",
      "description": "One question with its options.",
      "properties": {
        "options": {
          "type": "array",
          "description": "The selectable options, in presentation order.",
          "items": {
            "$ref": "OptionQuestionsChunkOption"
          }
        },
        "question": {
          "type": "string",
          "description": "The question header text."
        }
      },
      "id": "OptionQuestionsChunkQuestion"
    },
    "LfA2aV1AgentCapabilities": {
      "description": "Defines optional capabilities supported by an agent.",
      "id": "LfA2aV1AgentCapabilities",
      "type": "object",
      "properties": {
        "extensions": {
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "description": "A list of protocol extensions supported by the agent.",
          "type": "array"
        },
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "pushNotifications": {
          "type": "boolean",
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates."
        },
        "extendedAgentCard": {
          "description": "Indicates if the agent supports providing an extended agent card when authenticated.",
          "type": "boolean"
        }
      }
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "description": "TimeZone settings of the app.",
      "type": "object"
    },
    "GenerateEvaluationRequest": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched.",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "type": "string",
          "deprecated": true,
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ]
        },
        "evaluationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type. Defaults to GOLDEN.",
            "Golden evaluation.",
            "Scenario evaluation."
          ],
          "description": "Optional. The type of evaluation to generate. Defaults to GOLDEN if unspecified.",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "GOLDEN",
            "SCENARIO"
          ]
        }
      },
      "description": "Request message for EvaluationService.GenerateEvaluation.",
      "id": "GenerateEvaluationRequest"
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig": {
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig",
      "description": "The configuration to be used to generate an Open API schema.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The base uri of the tool.",
          "type": "string"
        },
        "operationGenerationConfigs": {
          "items": {
            "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig"
          },
          "description": "Required. The list of operations to be added to the Open API schema.",
          "type": "array"
        }
      }
    },
    "DataStoreToolEngineSource": {
      "id": "DataStoreToolEngineSource",
      "type": "object",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSources": {
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "type": "array"
        }
      }
    },
    "LatencyReportCallbackLatency": {
      "description": "Latency metrics for a single callback.",
      "type": "object",
      "id": "LatencyReportCallbackLatency",
      "properties": {
        "stage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The stage of the callback."
        },
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the callback.",
          "readOnly": true
        }
      }
    },
    "RunAssistantRequest": {
      "description": "Request message for AssistantService.RunAssistant.",
      "id": "RunAssistantRequest",
      "type": "object",
      "properties": {
        "assistantSession": {
          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`",
          "type": "string"
        },
        "interactionType": {
          "enumDescriptions": [
            "The default value. This value is used if the type is not specified.",
            "The message is a user input. User input is provided in the chunk list.",
            "The message is for polling the state of the assistant session.",
            "The message is to dismiss the assistant session pending review. This will change the state of the assistant session to idle."
          ],
          "type": "string",
          "description": "Optional. Different interaction types for the assistant message.",
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "POLL",
            "DISMISS"
          ]
        },
        "message": {
          "description": "Required. The message to send to the assistant agent.",
          "$ref": "AssistantMessage"
        }
      }
    },
    "ImportEvaluationsRequestConversationList": {
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Optional. Conversation resource names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of conversation resource names.",
      "id": "ImportEvaluationsRequestConversationList"
    },
    "EvaluationResult": {
      "type": "object",
      "id": "EvaluationResult",
      "description": "An evaluation result represents the output of running an Evaluation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation result was created.",
          "type": "string",
          "readOnly": true
        },
        "outcomeMetadata": {
          "enum": [
            "OUTCOME_METADATA_UNSPECIFIED",
            "GRACEFUL_HANDOFF"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified outcome metadata.",
            "The evaluation resulted in a graceful handoff to a human representative."
          ],
          "description": "Output only. The outcome metadata of the evaluation. Only populated if execution_state is COMPLETE."
        },
        "errorInfo": {
          "description": "Output only. Error information for the evaluation result.",
          "readOnly": true,
          "$ref": "EvaluationErrorInfo"
        },
        "error": {
          "deprecated": true,
          "$ref": "Status",
          "description": "Output only. Deprecated: Use `error_info` instead. Errors encountered during execution.",
          "readOnly": true
        },
        "initiatedBy": {
          "description": "Output only. The user who initiated the evaluation run that resulted in this result.",
          "type": "string",
          "readOnly": true
        },
        "evaluationStatus": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "description": "Output only. The outcome of the evaluation. Only populated if execution_state is COMPLETE.",
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        },
        "name": {
          "description": "Identifier. The unique identifier of the evaluation result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`",
          "type": "string"
        },
        "evaluationRun": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The evaluation run that produced this result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`"
        },
        "changelog": {
          "type": "string",
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "readOnly": true
        },
        "appVersionDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the `app_version` that the evaluation ran against."
        },
        "persona": {
          "$ref": "EvaluationPersona",
          "readOnly": true,
          "description": "Output only. The persona used to generate the conversation for the evaluation result."
        },
        "executionState": {
          "enumDescriptions": [
            "Evaluation result execution state is not specified.",
            "Evaluation result execution is queued.",
            "Evaluation result execution is running.",
            "Evaluation result execution has completed.",
            "Evaluation result execution failed due to an internal error.",
            "Evaluation result execution was cancelled."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "COMPLETED",
            "ERROR",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the evaluation result execution."
        },
        "changelogCreateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft."
        },
        "rootSpan": {
          "$ref": "Span",
          "readOnly": true,
          "description": "Output only. The root span of the evaluation execution, which includes information about each step of the evaluation."
        },
        "displayName": {
          "description": "Required. Display name of the Evaluation Result. Unique within an Evaluation. By default, it has the following format: \" result - \".",
          "type": "string"
        },
        "goldenRunMethod": {
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string",
          "description": "Output only. The method used to run the golden evaluation.",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "readOnly": true
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "readOnly": true,
          "description": "Output only. The evaluation thresholds for the result."
        },
        "goldenResult": {
          "description": "Output only. The outcome of a golden evaluation.",
          "readOnly": true,
          "$ref": "EvaluationResultGoldenResult"
        },
        "scenarioResult": {
          "description": "Output only. The outcome of a scenario evaluation.",
          "readOnly": true,
          "$ref": "EvaluationResultScenarioResult"
        },
        "config": {
          "readOnly": true,
          "$ref": "EvaluationConfig",
          "description": "Output only. The configuration used in the evaluation run that resulted in this result."
        },
        "appVersion": {
          "description": "Output only. The app version used to generate the conversation that resulted in this result. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EvaluationRunCachingSettings": {
      "id": "EvaluationRunCachingSettings",
      "description": "Settings for evaluation run caching.",
      "type": "object",
      "properties": {
        "runCachingMode": {
          "enum": [
            "EVALUATION_RUN_CACHING_MODE_UNSPECIFIED",
            "FORCE_RUN",
            "SKIP_IF_UNCHANGED"
          ],
          "description": "Optional. The caching mode to use for the evaluation run. If not set, default to FORCE_RUN.",
          "type": "string",
          "enumDescriptions": [
            "The run caching mode is unspecified.",
            "Always execute a full live simulation regardless of whether changelogs exist.",
            "Skip execution and copy previous verified results if no dependencies have mutated, the evaluation channel/run method are the same."
          ]
        }
      }
    },
    "ChatAiAssistantRequest": {
      "id": "ChatAiAssistantRequest",
      "description": "Request message for AssistantService.ChatAiAssistant.",
      "type": "object",
      "properties": {
        "attachedGcsUris": {
          "type": "array",
          "description": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\"",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "description": "Required. The message to send to the assistant agent.",
          "type": "string"
        },
        "assistantSession": {
          "type": "string",
          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`"
        },
        "contextToken": {
          "type": "string",
          "description": "Optional. Opaque onboarding context token returned by SessionService.GenerateOnboardingSuggestions. When set and still fresh, the server reuses the onboarding snapshot computed for the zero state instead of recomputing it for the first conversation turn."
        }
      }
    },
    "EvaluationResultScenarioRubricOutcome": {
      "properties": {
        "rubric": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The rubric that was used to evaluate the conversation."
        },
        "scoreExplanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The rater's response to the rubric."
        },
        "score": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The score of the conversation against the rubric."
        }
      },
      "id": "EvaluationResultScenarioRubricOutcome",
      "description": "The outcome of the evaluation against the rubric.",
      "type": "object"
    },
    "ExportEvaluationRunsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the evaluation runs to export."
        },
        "exportOptions": {
          "description": "Optional. The export options for the evaluation runs.",
          "$ref": "ExportOptions"
        }
      },
      "description": "Request message for EvaluationService.ExportEvaluationRuns.",
      "type": "object",
      "id": "ExportEvaluationRunsRequest"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "AssistantSessionArtifact": {
      "type": "object",
      "id": "AssistantSessionArtifact",
      "description": "A document artifact generated by the assistant within a session, stored as a file in the customer's Cloud Storage bucket.",
      "properties": {
        "createTime": {
          "description": "Output only. When the artifact was persisted.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The file name shown to the user, e.g. \"hotel_booking_tdd.md\"."
        },
        "turnIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Index of the message in [AssistantSession.messages] whose turn produced the artifact, for placing the artifact chip when history is restored."
        },
        "gcsUri": {
          "description": "Output only. The Cloud Storage object holding the artifact content. Example: \"gs://{project}-agent-assist-artifacts/agent-assist-generated/1_tdd.md\"",
          "readOnly": true,
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The IANA media type of the artifact content, e.g. \"text/markdown\".",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The unique identifier of the artifact within the session.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GenerateOnboardingSuggestionsResponse": {
      "description": "Response message for SessionService.GenerateOnboardingSuggestions.",
      "id": "GenerateOnboardingSuggestionsResponse",
      "type": "object",
      "properties": {
        "contextToken": {
          "description": "Opaque token capturing the onboarding snapshot used to generate these suggestions. Clients echo it on the first StreamChatAiAssistantRequest so the server can reuse the snapshot.",
          "type": "string"
        },
        "userProfile": {
          "description": "Classification of the requesting user's history.",
          "enum": [
            "USER_PROFILE_UNSPECIFIED",
            "NEW",
            "EXPLORING",
            "RETURNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified profile.",
            "No assistant sessions containing messages.",
            "One or two assistant sessions containing messages.",
            "More than two assistant sessions containing messages."
          ]
        },
        "suggestions": {
          "description": "Personalized suggestions, ranked most relevant first.",
          "items": {
            "$ref": "AssistantSuggestion"
          },
          "type": "array"
        }
      }
    },
    "OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the output audio data.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "type": "string"
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "id": "OutputAudioConfig",
      "type": "object"
    },
    "ToolResponses": {
      "type": "object",
      "properties": {
        "toolResponses": {
          "type": "array",
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      },
      "description": "Execution results for the requested tool calls from the client.",
      "id": "ToolResponses"
    },
    "LfA2aV1AgentSkill": {
      "type": "object",
      "description": "Represents a distinct capability or function that an agent can perform.",
      "id": "LfA2aV1AgentSkill",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "tags": {
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          }
        },
        "securityRequirements": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security schemes necessary for this skill."
        }
      }
    },
    "RetrieveToolSchemaRequest": {
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "type": "object",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "id": "RetrieveToolSchemaRequest"
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object",
      "properties": {
        "escalateSession": {
          "type": "boolean",
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details."
        }
      }
    },
    "GuardrailCodeCallback": {
      "properties": {
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      },
      "id": "GuardrailCodeCallback",
      "type": "object",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided."
    },
    "AssistantConfirmationRequest": {
      "type": "object",
      "properties": {
        "negativeLabel": {
          "type": "string",
          "description": "Label for the declining action of a binary confirmation (e.g. \"Not yet\"). Unset when `questions` is populated."
        },
        "questions": {
          "type": "array",
          "description": "Multi-choice form of the confirmation. When populated, the card renders a selectable option list and the chosen option's submit_text (or free-form user text) is returned as AssistantConfirmationResponse.answer_text.",
          "items": {
            "$ref": "OptionQuestionsChunkQuestion"
          }
        },
        "confirmationId": {
          "description": "Identifier correlating this request with its response. Opaque to clients; must be echoed verbatim on the answering request.",
          "type": "string"
        },
        "positiveLabel": {
          "type": "string",
          "description": "Label for the approving action of a binary confirmation (e.g. \"Publish\"). Unset when `questions` is populated."
        },
        "expireTime": {
          "description": "Time after which this confirmation can no longer be answered. An expired card renders as inactive, and the server declines the confirmation on the next turn so the paused agent does not wait indefinitely.",
          "format": "google-datetime",
          "type": "string"
        },
        "context": {
          "description": "Context describing what is being confirmed (e.g. the action the agent wants to take, or the question it needs answered). Rendered as plain text, not Markdown.",
          "type": "string"
        },
        "tool": {
          "description": "Name of the tool call the agent paused on (e.g. \"update_app\"), for the card header. Unset for pure questions.",
          "type": "string"
        },
        "agentName": {
          "type": "string",
          "description": "Display label of the agent that raised the confirmation (e.g. `\"Contract Architect\"`), for the card header."
        }
      },
      "id": "AssistantConfirmationRequest",
      "description": "A blocking question or confirmation the assistant needs answered before an agent action can proceed. The requesting agent is paused and resumes only when the answer arrives on a later StreamChatAiAssistantRequest.confirmation_response."
    },
    "AppVariableDeclaration": {
      "id": "AppVariableDeclaration",
      "description": "Defines the structure and metadata for a variable.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "type": "object",
      "description": "Expectation level metrics thresholds.",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
    },
    "FileContext": {
      "id": "FileContext",
      "properties": {
        "fileBytes": {
          "description": "Optional. File provided as raw bytes.",
          "$ref": "FileContextFileBytes"
        }
      },
      "description": "Files to be used as context. Files can be provided as raw bytes.",
      "type": "object"
    },
    "EvaluationSettings": {
      "description": "Settings for evaluation.",
      "properties": {
        "scenarioEvaluationToolCallBehaviour": {
          "type": "string",
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "goldenEvaluationToolCallBehaviour": {
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Configures the default tool call behaviour for golden evaluations.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        },
        "scenarioConversationInitiator": {
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "type": "string"
        },
        "scenarioExecutionMode": {
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "type": "string",
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED."
        },
        "metricsConfig": {
          "$ref": "EvaluationMetricsConfig",
          "description": "Optional. Configures the default metrics for evaluations."
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        },
        "goldenRunMethod": {
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationSettings"
    },
    "MockConfig": {
      "id": "MockConfig",
      "properties": {
        "mockedToolCalls": {
          "type": "array",
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          }
        },
        "unmatchedToolCallBehavior": {
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ]
        }
      },
      "type": "object",
      "description": "Mock tool calls configuration for the session."
    },
    "OpenApiToolset": {
      "type": "object",
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "properties": {
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        }
      },
      "id": "OpenApiToolset"
    },
    "McpToolDefinition": {
      "id": "McpToolDefinition",
      "type": "object",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "properties": {
        "outputSchema": {
          "readOnly": true,
          "$ref": "Schema",
          "description": "Output only. The schema of the output arguments of the MCP tool."
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "readOnly": true
        },
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema",
          "readOnly": true
        }
      }
    },
    "UploadEvaluationAudioResponse": {
      "type": "object",
      "description": "Response message for EvaluationService.UploadEvaluationAudio.",
      "id": "UploadEvaluationAudioResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration of the audio."
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        },
        "audioGcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`"
        }
      }
    },
    "CustomVoiceSampleWarning": {
      "description": "A warning message encountered during voice sample processing.",
      "id": "CustomVoiceSampleWarning",
      "type": "object",
      "properties": {
        "message": {
          "description": "Output only. A human-readable description of the warning.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified warning type.",
            "The audio level of the voice sample is too low (e.g. low RMS amplitude)."
          ],
          "enum": [
            "WARNING_TYPE_UNSPECIFIED",
            "LOW_AUDIO_LEVEL"
          ],
          "description": "Output only. The type of the warning.",
          "readOnly": true
        }
      }
    },
    "EvaluationMetricsConfigUserGoalMetMetricsConfig": {
      "type": "object",
      "description": "Configuration for the user goal met metrics for the evaluation. To disable the metric, set the message but do not set the `enable_user_goal_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableUserGoalMetMetrics": {
          "description": "Optional. Whether to calculate the user goal met metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigUserGoalMetMetricsConfig"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "TransferRuleDeterministicTransfer": {
      "id": "TransferRuleDeterministicTransfer",
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
        },
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        }
      },
      "type": "object"
    },
    "FileContextFileBytes": {
      "description": "File provided as raw bytes.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "fileName": {
          "description": "Required. The name of the file provided as raw bytes.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the file.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FileContextFileBytes"
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        },
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        }
      },
      "description": "Defines a security scheme using OAuth 2.0.",
      "type": "object",
      "id": "LfA2aV1OAuth2SecurityScheme"
    },
    "CodeBlock": {
      "description": "A code block to be executed instead of a real tool call.",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      },
      "type": "object",
      "id": "CodeBlock"
    },
    "LfA2aV1AgentCard": {
      "properties": {
        "defaultOutputModes": {
          "type": "array",
          "description": "Required. The media types supported as outputs from this agent.",
          "items": {
            "type": "string"
          }
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "skills": {
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          },
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "type": "array"
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          }
        },
        "iconUrl": {
          "type": "string",
          "description": "Optional. A URL to an icon for the agent."
        },
        "securityRequirements": {
          "description": "Security requirements for contacting the agent.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "type": "array"
        },
        "defaultInputModes": {
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent. Example: \"1.0.0\""
        },
        "signatures": {
          "description": "JSON Web Signatures computed for this `AgentCard`.",
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          },
          "type": "array"
        },
        "capabilities": {
          "$ref": "LfA2aV1AgentCapabilities",
          "description": "Required. A2A Capability set supported by the agent."
        },
        "documentationUrl": {
          "type": "string",
          "description": "A URL providing additional documentation about the agent."
        },
        "securitySchemes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          },
          "description": "The security scheme details used for authenticating with this agent."
        },
        "name": {
          "type": "string",
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "description": {
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "id": "LfA2aV1AgentCard"
    },
    "RunEvaluationResultMetricsRequest": {
      "description": "Request message for EvaluationService.RunEvaluationResultMetrics.",
      "id": "RunEvaluationResultMetricsRequest",
      "properties": {},
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object",
      "properties": {
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string"
        },
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "goldenHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "hallucinationMetricBehavior": {
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        }
      }
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "properties": {
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "parts": {
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array"
        },
        "artifactId": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task."
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Optional. Metadata included with the artifact.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Artifacts represent task outputs.",
      "type": "object"
    },
    "ListToolsResponse": {
      "type": "object",
      "id": "ListToolsResponse",
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools."
        }
      }
    },
    "ActiveTurnInfo": {
      "type": "object",
      "properties": {
        "lastProgressTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the turn last persisted progress.",
          "type": "string"
        },
        "orphanDeadlineTime": {
          "format": "google-datetime",
          "description": "Output only. When the turn will be wound down if no client attaches.",
          "type": "string",
          "readOnly": true
        },
        "turnId": {
          "description": "Identifies the turn; echoed by resume snapshots on the streaming API.",
          "type": "string"
        },
        "status": {
          "description": "Current attachment status.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "RUNNING",
            "DISCONNECTED",
            "RESUMING",
            "ABANDONED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The turn is executing with at least one client attached.",
            "The turn is executing with no client attached.",
            "The turn is parked for pickup: the next attach continues it.",
            "The turn's server lease has lapsed and no task is driving it; the next read seals it to a committed partial. Not attachable."
          ]
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. When the turn started.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ActiveTurnInfo",
      "description": "Live-attachment info for a session turn that is currently running, disconnected from its client, or parked for pickup by another server task."
    },
    "EvaluationGoldenExpectation": {
      "properties": {
        "comparisonType": {
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "CONTAINS",
            "SEMANTIC_SIMILARITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified comparison type. Behavior defaults to SEMANTIC_SIMILARITY for agent responses and tool calls.",
            "Exact string match.",
            "Substring match (checks if the expected string is contained in the actual response).",
            "Semantic similarity match (evaluates meaning similarity using an LLM)."
          ],
          "description": "Optional. The comparison type to use for the expectation check."
        },
        "toolCall": {
          "description": "Optional. Check that a specific tool was called with the parameters.",
          "$ref": "ToolCall"
        },
        "mockToolResponse": {
          "description": "Optional. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        },
        "skipEvaluation": {
          "description": "Optional. If set to true, this specific expectation will not be evaluated.",
          "type": "boolean"
        },
        "agentResponseHallucinationMetricsConfigOverride": {
          "$ref": "EvaluationMetricsConfigHallucinationMetricsConfig",
          "description": "Optional. Overrides for agent_response hallucination metrics."
        },
        "toolResponse": {
          "description": "Optional. Check that a specific tool had the expected response.",
          "$ref": "ToolResponse"
        },
        "agentResponseSemanticSimilarityMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response semantic similarity metrics.",
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig"
        },
        "agentResponse": {
          "description": "Optional. Check that the agent responded with the correct response. The role \"agent\" is implied.",
          "$ref": "Message"
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Check that the agent transferred the conversation to a different agent."
        },
        "note": {
          "description": "Optional. A note for this requirement, useful in reporting when specific checks fail. E.g., \"Check_Payment_Tool_Called\".",
          "type": "string"
        },
        "expectationLevelMetricsThresholdsOverride": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. Overrides metrics at the step level."
        },
        "noToolCalls": {
          "type": "boolean",
          "description": "Optional. Check that no tools were called during this turn."
        },
        "updatedVariables": {
          "description": "Optional. Check that the agent updated the session variables to the expected values. Used to also capture agent variable updates for golden evals.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "EvaluationGoldenExpectation",
      "description": "Represents a single, checkable requirement."
    },
    "EvaluationRunEvaluationRunSummary": {
      "id": "EvaluationRunEvaluationRunSummary",
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "properties": {
        "passedCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "type": "integer"
        },
        "failedCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of failed results for the associated Evaluation in this run.",
          "type": "integer"
        },
        "errorCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "LfA2aV1OAuthFlows": {
      "type": "object",
      "id": "LfA2aV1OAuthFlows",
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "properties": {
        "implicit": {
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "deprecated": true,
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        },
        "password": {
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
          "deprecated": true,
          "$ref": "LfA2aV1PasswordOAuthFlow"
        }
      }
    },
    "McpToolOverride": {
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "id": "McpToolOverride",
      "properties": {
        "snapshot": {
          "$ref": "McpToolDefinition",
          "readOnly": true,
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present."
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        }
      }
    },
    "LfA2aV1SecurityScheme": {
      "properties": {
        "openIdConnectSecurityScheme": {
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme",
          "description": "OpenID Connect authentication."
        },
        "oauth2SecurityScheme": {
          "description": "OAuth 2.0 authentication.",
          "$ref": "LfA2aV1OAuth2SecurityScheme"
        },
        "apiKeySecurityScheme": {
          "description": "API key-based authentication.",
          "$ref": "LfA2aV1APIKeySecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "description": "HTTP authentication (Basic, Bearer, etc.).",
          "$ref": "LfA2aV1HTTPAuthSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "$ref": "LfA2aV1MutualTlsSecurityScheme",
          "description": "Mutual TLS authentication."
        }
      },
      "id": "LfA2aV1SecurityScheme",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "type": "object"
    },
    "AgentInterface": {
      "type": "object",
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolBinding": {
          "type": "string",
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "tenant": {
          "description": "Tenant ID to be used in the request when calling the agent.",
          "type": "string"
        }
      }
    },
    "AudioProcessingConfig": {
      "type": "object",
      "properties": {
        "synthesizeSpeechConfigs": {
          "type": "object",
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        },
        "inactivityTimeout": {
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "type": "string",
          "format": "google-duration"
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "customVoiceSamples": {
          "type": "array",
          "description": "Optional. Configures custom voice samples for voice cloning.",
          "items": {
            "$ref": "CustomVoiceSample"
          }
        }
      },
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "id": "AudioProcessingConfig"
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "id": "LfA2aV1TaskStatusUpdateEvent",
      "type": "object",
      "description": "An event sent by the agent to notify the client of a change in a task's status.",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "Required. The ID of the task that has changed."
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The new status of the task."
        },
        "contextId": {
          "description": "Required. The ID of the context that the task belongs to.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata associated with the task update.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "ListScheduledEvaluationRunsResponse": {
      "id": "ListScheduledEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ListScheduledEvaluationRuns.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListScheduledEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "scheduledEvaluationRuns": {
          "items": {
            "$ref": "ScheduledEvaluationRun"
          },
          "description": "The list of scheduled evaluation runs.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TurnResumeSnapshot": {
      "id": "TurnResumeSnapshot",
      "description": "A compacted replay of an in-flight turn: everything needed to render the turn's visible output so far, plus the position live events continue from.",
      "type": "object",
      "properties": {
        "resolvedSequenceNumber": {
          "description": "The position this snapshot represents. Live events follow with sequence_number strictly greater than this. When lower than the resume_from_sequence_number the client requested, flushed progress lags what the client already rendered: the client must discard its rendered content of this turn beyond this position before applying the snapshot.",
          "type": "string",
          "format": "int64"
        },
        "orphanDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the turn will be wound down if no client remains attached."
        },
        "turnId": {
          "description": "Identifies the turn being attached to.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Compacted events reconstructing the turn's visible output, in render order, using the same event shapes as live streaming.",
          "items": {
            "$ref": "StreamChatAiAssistantResponse"
          }
        }
      }
    },
    "BargeInConfig": {
      "properties": {
        "disableBargeIn": {
          "type": "boolean",
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored.",
          "deprecated": true
        },
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "id": "BargeInConfig"
    },
    "VpcScSettings": {
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app.",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Blob": {
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "id": "Blob",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      }
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "type": "object",
      "description": "The result of the tool invocation check.",
      "properties": {
        "outcome": {
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "type": "string"
        },
        "explanation": {
          "description": "Output only. A free text explanation for the tool invocation result.",
          "type": "string",
          "readOnly": true
        },
        "parameterCorrectnessScore": {
          "readOnly": true,
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "LfA2aV1Task": {
      "properties": {
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "description": "A set of output artifacts for a `Task`."
        },
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages).",
          "type": "string"
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The current status of a `Task`, including `state` and a `message`."
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        }
      },
      "id": "LfA2aV1Task",
      "type": "object",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history."
    },
    "GenerateChatTokenResponse": {
      "id": "GenerateChatTokenResponse",
      "type": "object",
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        }
      },
      "id": "GenerateChatTokenRequest",
      "type": "object",
      "description": "Request message for WidgetService.GenerateChatToken."
    },
    "AgentRegistryDeployment": {
      "description": "Configuration and status for Agent Registry deployment.",
      "type": "object",
      "id": "AgentRegistryDeployment",
      "properties": {
        "agentRegistryServiceName": {
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "type": "object",
      "properties": {
        "prebuiltAmbientNoise": {
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "deprecated": true,
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "type": "string"
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "format": "double",
          "type": "number"
        },
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        }
      },
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
    },
    "GuardrailLlmPromptSecurity": {
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "id": "GuardrailLlmPromptSecurity",
      "type": "object",
      "properties": {
        "customPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      }
    },
    "Conversation": {
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "properties": {
        "turnCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32"
        },
        "appVersion": {
          "type": "string",
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
[...]
