{
  "canonicalName": "Customer Engagement Suite",
  "revision": "20260924",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "version_module": true,
  "title": "Gemini Enterprise for Customer Experience API",
  "description": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://ces.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "EndUserAuthConfig": {
      "id": "EndUserAuthConfig",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "type": "object",
      "properties": {
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        },
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "type": "object",
      "properties": {
        "trafficAllocations": {
          "type": "array",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "description": "Optional. Traffic allocations for the version release."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "description": "Optional. State of the version release.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        }
      },
      "description": "Version release for the experiment."
    },
    "AgentAgentToolset": {
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The tools IDs to filter the toolset.",
          "type": "array"
        }
      },
      "id": "AgentAgentToolset",
      "type": "object",
      "description": "A toolset with a selection of its tools."
    },
    "Conversation": {
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object",
      "properties": {
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "type": "string",
          "description": "Output only. Indicate the source of the conversation.",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "readOnly": true
        },
        "inputTypes": {
          "items": {
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The input types of the conversation."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "turnCount": {
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32",
          "readOnly": true
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Timestamp when the conversation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "channelType": {
          "type": "string",
          "description": "DEPRECATED. Please use input_types instead.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ]
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the conversation."
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          }
        },
        "messages": {
          "deprecated": true,
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Deprecated. Use turns instead."
        },
        "deployment": {
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true,
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true
        }
      },
      "id": "Conversation"
    },
    "InputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "description": "Required. The encoding of the input audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "type": "object"
    },
    "DataStoreSettings": {
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app.",
      "type": "object",
      "properties": {
        "engines": {
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The engines for the app."
        }
      }
    },
    "Span": {
      "properties": {
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "type": "array",
          "items": {
            "$ref": "Span"
          },
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the span.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the span.",
          "readOnly": true
        },
        "attributes": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Key-value attributes associated with the span."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the span.",
          "readOnly": true
        }
      },
      "id": "Span",
      "type": "object",
      "description": "A span is a unit of work or a single operation during the request processing."
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "type": "object",
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "deviceAuthorizationUrl": {
          "description": "Required. The device authorization endpoint URL.",
          "type": "string"
        }
      },
      "id": "LfA2aV1DeviceCodeOAuthFlow"
    },
    "DataStoreToolGroundingConfig": {
      "description": "Grounding configuration.",
      "id": "DataStoreToolGroundingConfig",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether grounding is disabled."
        },
        "groundingLevel": {
          "format": "float",
          "type": "number",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned."
        }
      },
      "type": "object"
    },
    "ExperimentConfig": {
      "id": "ExperimentConfig",
      "type": "object",
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      },
      "description": "Experiment for the deployment."
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "properties": {
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "format": "int32",
          "type": "integer"
        },
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        }
      },
      "description": "Traffic allocation for the version release.",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "type": "object"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "id": "ServiceAgentIdTokenAuthConfig",
      "type": "object",
      "properties": {},
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent."
    },
    "ListToolsResponse": {
      "properties": {
        "tools": {
          "type": "array",
          "description": "The list of tools.",
          "items": {
            "$ref": "Tool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "type": "object",
      "id": "ListToolsResponse"
    },
    "DataStoreToolSummarizationConfig": {
      "type": "object",
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "properties": {
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        }
      }
    },
    "ImportAppRequest": {
      "type": "object",
      "description": "Request message for AgentService.ImportApp.",
      "id": "ImportAppRequest",
      "properties": {
        "importOptions": {
          "$ref": "ImportAppRequestImportOptions",
          "description": "Optional. Options governing the import process for the app."
        },
        "jsonPatchGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "jsonPatchContent": {
          "description": "Optional. Patch content as a JSON string.",
          "type": "string"
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "description": "The agent will immediately respond with a generative answer.",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "type": "object",
      "id": "TriggerActionGenerativeAnswer"
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "type": "object",
      "id": "LfA2aV1StreamResponse",
      "properties": {
        "task": {
          "description": "A Task object containing the current state of the task.",
          "$ref": "LfA2aV1Task"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A Message object containing a message from the agent."
        },
        "statusUpdate": {
          "$ref": "LfA2aV1TaskStatusUpdateEvent",
          "description": "An event indicating a task status update."
        },
        "artifactUpdate": {
          "description": "An event indicating a task artifact update.",
          "$ref": "LfA2aV1TaskArtifactUpdateEvent"
        }
      }
    },
    "GuardrailContentFilter": {
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "type": "object",
      "id": "GuardrailContentFilter",
      "properties": {
        "bannedContents": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "type": "array"
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "matchType": {
          "description": "Required. Match type for the content filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ]
        },
        "bannedContentsInUserInput": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to user inputs."
        },
        "bannedContentsInAgentResponse": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApiAuthentication": {
      "description": "Authentication information required for API calls.",
      "id": "ApiAuthentication",
      "properties": {
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        }
      },
      "type": "object"
    },
    "LfA2aV1AgentCapabilities": {
      "description": "Defines optional capabilities supported by an agent.",
      "properties": {
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "extensions": {
          "type": "array",
          "description": "A list of protocol extensions supported by the agent.",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          }
        },
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extendedAgentCard": {
          "type": "boolean",
          "description": "Indicates if the agent supports providing an extended agent card when authenticated."
        }
      },
      "type": "object",
      "id": "LfA2aV1AgentCapabilities"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations.",
      "type": "object",
      "properties": {
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        }
      }
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "properties": {
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "type": "object"
    },
    "LfA2aV1SendMessageResponse": {
      "id": "LfA2aV1SendMessageResponse",
      "properties": {
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        }
      },
      "description": "Represents the response for the `SendMessage` method.",
      "type": "object"
    },
    "LfA2aV1AgentSkill": {
      "description": "Represents a distinct capability or function that an agent can perform.",
      "properties": {
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array"
        },
        "securityRequirements": {
          "type": "array",
          "description": "Security schemes necessary for this skill.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "type": "array"
        },
        "tags": {
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LfA2aV1AgentSkill",
      "type": "object"
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "type": "object",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "corpusType": {
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "type": "string"
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        }
      }
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "userIntendedText": {
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled.",
          "type": "string"
        },
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      },
      "id": "ConversationTurn",
      "type": "object"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
    },
    "LfA2aV1AgentExtension": {
      "properties": {
        "params": {
          "description": "Optional. Extension-specific configuration parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "description": "The unique URI identifying the extension.",
          "type": "string"
        },
        "required": {
          "description": "If true, the client must understand and comply with the extension's requirements.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of how this agent uses the extension."
        }
      },
      "description": "A declaration of a protocol extension supported by an Agent.",
      "type": "object",
      "id": "LfA2aV1AgentExtension"
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "properties": {
        "contextId": {
          "description": "Required. The ID of the context that this task belongs to.",
          "type": "string"
        },
        "append": {
          "type": "boolean",
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID."
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Metadata associated with the artifact update."
        },
        "artifact": {
          "description": "Required. The artifact that was generated or updated.",
          "$ref": "LfA2aV1Artifact"
        },
        "taskId": {
          "description": "Required. The ID of the task for this artifact.",
          "type": "string"
        }
      },
      "description": "A task delta where an artifact has been generated.",
      "type": "object",
      "id": "LfA2aV1TaskArtifactUpdateEvent"
    },
    "TransferRule": {
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "type": "string",
          "description": "Required. The direction of the transfer."
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "id": "TransferRule"
    },
    "Action": {
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "properties": {
        "entityOperation": {
          "$ref": "ActionEntityOperation",
          "description": "Entity operation configuration for the tool to use."
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
        },
        "connectionActionId": {
          "type": "string",
          "description": "ID of a Connection action for the tool to use."
        },
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Action"
    },
    "ExecuteToolRequest": {
      "type": "object",
      "properties": {
        "args": {
          "type": "object",
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "mockConfig": {
          "$ref": "MockConfig",
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses."
        },
        "context": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool."
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The variables that are available for the tool execution."
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "id": "ExecuteToolRequest",
      "description": "Request message for ToolService.ExecuteTool."
    },
    "ImportAppResponse": {
      "description": "Response message for AgentService.ImportApp.",
      "type": "object",
      "id": "ImportAppResponse",
      "properties": {
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        },
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OptionQuestionsChunk": {
      "properties": {
        "questions": {
          "description": "The questions asked this turn. More than one entry drives the console's \"1 of N\" pager.",
          "type": "array",
          "items": {
            "$ref": "OptionQuestionsChunkQuestion"
          }
        }
      },
      "type": "object",
      "description": "Structured clarification options the assistant asks the user to choose among, transduced server-side out of the model's turn (the option block is stripped from the streamed and persisted text). The console renders a keyboard-navigable option list docked above the composer.",
      "id": "OptionQuestionsChunk"
    },
    "ToolCalls": {
      "type": "object",
      "properties": {
        "toolCalls": {
          "items": {
            "$ref": "ToolCall"
          },
          "description": "Optional. The list of tool calls to execute.",
          "type": "array"
        }
      },
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "id": "ToolCalls"
    },
    "OptionQuestionsChunkQuestion": {
      "type": "object",
      "description": "One question with its options.",
      "id": "OptionQuestionsChunkQuestion",
      "properties": {
        "options": {
          "type": "array",
          "items": {
            "$ref": "OptionQuestionsChunkOption"
          },
          "description": "The selectable options, in presentation order."
        },
        "question": {
          "description": "The question header text.",
          "type": "string"
        }
      }
    },
    "RetrieveToolSchemaResponse": {
      "type": "object",
      "id": "RetrieveToolSchemaResponse",
      "properties": {
        "tool": {
          "type": "string",
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool output parameters."
        },
        "toolsetTool": {
          "description": "The toolset tool that the schema is for.",
          "$ref": "ToolsetTool"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool input parameters."
        }
      },
      "description": "Response message for ToolService.RetrieveToolSchema."
    },
    "AssistantConfirmationResponse": {
      "description": "The user's answer to an AssistantConfirmationRequest, sent on the next SessionService.StreamChatAiAssistant call to resume the paused agent.",
      "type": "object",
      "properties": {
        "confirmationId": {
          "type": "string",
          "description": "The AssistantConfirmationRequest.confirmation_id being answered."
        },
        "confirmed": {
          "type": "boolean",
          "description": "Binary answer: true approves the paused action, false declines it."
        },
        "answerText": {
          "description": "The chosen option's submit_text, or free-form user text. The paused action is cancelled and the text is handed to the agent to act on.",
          "type": "string"
        }
      },
      "id": "AssistantConfirmationResponse"
    },
    "AgentRemoteA2aAgent": {
      "properties": {
        "a2aConfig": {
          "$ref": "RemoteA2aConfig",
          "description": "Required. The A2A connection configuration."
        }
      },
      "id": "AgentRemoteA2aAgent",
      "type": "object",
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent."
    },
    "RetrieveToolsRequest": {
      "properties": {
        "bypassPersistenceConfig": {
          "type": "boolean",
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots)."
        },
        "toolIds": {
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RetrieveToolsRequest",
      "description": "Request message for ToolService.RetrieveTools."
    },
    "AgentInterface": {
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "id": "AgentInterface",
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Tenant ID to be used in the request when calling the agent."
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "protocolVersion": {
          "type": "string",
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
        }
      },
      "type": "object"
    },
    "GuardrailLlmPromptSecurity": {
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      },
      "type": "object",
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
    },
    "AssistantConfirmationRequest": {
      "id": "AssistantConfirmationRequest",
      "description": "A blocking question or confirmation the assistant needs answered before an agent action can proceed. The requesting agent is paused and resumes only when the answer arrives on a later StreamChatAiAssistantRequest.confirmation_response.",
      "type": "object",
      "properties": {
        "questions": {
          "items": {
            "$ref": "OptionQuestionsChunkQuestion"
          },
          "type": "array",
          "description": "Multi-choice form of the confirmation. When populated, the card renders a selectable option list and the chosen option's submit_text (or free-form user text) is returned as AssistantConfirmationResponse.answer_text."
        },
        "expireTime": {
          "type": "string",
          "description": "Time after which this confirmation can no longer be answered. An expired card renders as inactive, and the server declines the confirmation on the next turn so the paused agent does not wait indefinitely.",
          "format": "google-datetime"
        },
        "agentName": {
          "type": "string",
          "description": "Display label of the agent that raised the confirmation (e.g. `\"Contract Architect\"`), for the card header."
        },
        "confirmationId": {
          "description": "Identifier correlating this request with its response. Opaque to clients; must be echoed verbatim on the answering request.",
          "type": "string"
        },
        "negativeLabel": {
          "type": "string",
          "description": "Label for the declining action of a binary confirmation (e.g. \"Not yet\"). Unset when `questions` is populated."
        },
        "positiveLabel": {
          "description": "Label for the approving action of a binary confirmation (e.g. \"Publish\"). Unset when `questions` is populated.",
          "type": "string"
        },
        "tool": {
          "description": "Name of the tool call the agent paused on (e.g. \"update_app\"), for the card header. Unset for pure questions.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Context describing what is being confirmed (e.g. the action the agent wants to take, or the question it needs answered). Rendered as plain text, not Markdown."
        }
      }
    },
    "WhatsAppCredentials": {
      "properties": {
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        }
      },
      "type": "object",
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration."
    },
    "AgentTool": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "agent": {
          "type": "string",
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        }
      },
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent."
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "type": "object",
      "properties": {
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The function description."
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        }
      },
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "description": "Defines a security scheme using mTLS authentication.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1MutualTlsSecurityScheme"
    },
    "WidgetToolDataMapping": {
      "properties": {
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        },
        "pythonScript": {
          "description": "Deprecated: Use `python_function` instead.",
          "type": "string",
          "deprecated": true
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "description": "Optional. The mode of the data mapping.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        },
        "fieldMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool."
        }
      },
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "type": "object"
    },
    "DeployChannelResponse": {
      "type": "object",
      "properties": {
        "deployment": {
          "description": "The created deployment.",
          "$ref": "Deployment"
        }
      },
      "id": "DeployChannelResponse",
      "description": "Response message for AgentService.DeployChannel."
    },
    "OperationCompletedEvent": {
      "id": "OperationCompletedEvent",
      "description": "Event sent by the client or background worker to resume an assistant session after an asynchronous Long-Running Operation (LRO) completes.",
      "properties": {
        "error": {
          "description": "Optional canonical error status if the operation failed.",
          "$ref": "Status"
        },
        "targetResourceName": {
          "description": "The primary resource targeted or produced by the operation (e.g. evaluation run ID, app ID, dataset ID).",
          "type": "string"
        },
        "deduplicationToken": {
          "description": "Optional deduplication token (e.g. UUID) to prevent duplicate turn execution from concurrent browser tabs.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "The operation type or tool name (e.g. \"run_evaluation\", \"copy_app\", \"export_app\")."
        },
        "status": {
          "type": "string",
          "description": "Status of the operation run (e.g. \"SUCCEEDED\", \"FAILED\", \"CANCELLED\")."
        },
        "operationName": {
          "description": "The operation resource name (e.g. `operations/{op}`).",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional structured result metadata (e.g. pass_rate, total_examples, export_uri)."
        }
      },
      "type": "object"
    },
    "Citations": {
      "type": "object",
      "id": "Citations",
      "description": "Citations associated with the agent response.",
      "properties": {
        "inlineCitations": {
          "items": {
            "$ref": "CitationsInlineCitation"
          },
          "type": "array",
          "description": "Optional. List of inline citations in the agent response."
        },
        "citedChunks": {
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array",
          "description": "List of cited pieces of information."
        }
      }
    },
    "Tool": {
      "type": "object",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "openApiTool": {
          "description": "Optional. The open API tool.",
          "$ref": "OpenApiTool"
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "executionType": {
          "type": "string",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tool.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "readOnly": {
          "readOnly": true,
          "description": "Output only. Indicates whether the tool is read-only. If true, the tool cannot be modified by the user.",
          "type": "boolean"
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        },
        "timeout": {
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was created."
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        }
      },
      "id": "Tool"
    },
    "ListAppsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "apps": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "type": "object"
    },
    "McpToolDefinition": {
      "id": "McpToolDefinition",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`."
        },
        "outputSchema": {
          "$ref": "Schema",
          "readOnly": true,
          "description": "Output only. The schema of the output arguments of the MCP tool."
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "readOnly": true
        }
      },
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "type": "object"
    },
    "ClientCertificateSettings": {
      "type": "object",
      "id": "ClientCertificateSettings",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      },
      "description": "Settings for custom client certificates."
    },
    "ChannelProfileInstagramConfig": {
      "description": "Configuration specific to Instagram deployments.",
      "properties": {
        "displayName": {
          "description": "Output only. The fetched Meta business page name.",
          "type": "string",
          "readOnly": true
        },
        "thumbnailUrl": {
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the Meta business page or profile."
        },
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        }
      },
      "id": "ChannelProfileInstagramConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used."
        },
        "instruction": {
          "type": "string",
          "description": "Optional. The instruction used to synthesize speech when using a generative model."
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "SynthesizeSpeechConfig",
      "type": "object",
      "description": "Configuration for how the agent response should be synthesized."
    },
    "RunSessionRequest": {
      "type": "object",
      "id": "RunSessionRequest",
      "properties": {
        "inputs": {
          "type": "array",
          "description": "Required. Inputs for the session.",
          "items": {
            "$ref": "SessionInput"
          }
        },
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        }
      },
      "description": "Request message for SessionService.RunSession."
    },
    "SessionInput": {
      "description": "Input for the session.",
      "properties": {
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "dtmf": {
          "type": "string",
          "description": "Optional. DTMF digits from the end user."
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "type": "string",
          "format": "byte"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object"
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data from the end user."
        }
      },
      "type": "object",
      "id": "SessionInput"
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "description": "Configuration for handling fallback responses.",
      "properties": {
        "maxFallbackAttempts": {
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "type": "integer",
          "format": "int32"
        },
        "customFallbackMessages": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language).",
          "type": "object"
        }
      },
      "id": "ErrorHandlingSettingsFallbackResponseConfig",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "type": "object",
      "description": "Turn level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "properties": {
        "overallToolInvocationCorrectnessThreshold": {
          "format": "float",
          "type": "number",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0."
        },
        "semanticSimilaritySuccessThreshold": {
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "type": "integer",
          "format": "int32"
        },
        "semanticSimilarityChannel": {
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "type": "string"
        }
      }
    },
    "LoggingSettings": {
      "description": "Settings to describe the logging behaviors for the app.",
      "type": "object",
      "properties": {
        "conversationLoggingSettings": {
          "$ref": "ConversationLoggingSettings",
          "description": "Optional. Settings to describe the conversation logging behaviors for the app."
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig.",
          "$ref": "AudioRecordingConfig"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        },
        "metricAnalysisSettings": {
          "$ref": "MetricAnalysisSettings",
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
        },
        "unredactedBigqueryExportSettings": {
          "$ref": "BigQueryExportSettings",
          "description": "Optional. Configures the BigQuery export behaviors for the app. The unredacted conversation data will be exported to BigQuery tables if it is enabled."
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "bigqueryExportSettings": {
          "description": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig.",
          "$ref": "BigQueryExportSettings"
        }
      },
      "id": "LoggingSettings"
    },
    "ListAgentsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "type": "array",
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListAgentsResponse"
    },
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "dataStoreSources": {
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "type": "array",
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataStoreToolEngineSource"
    },
    "DataStoreToolDataStoreSource": {
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      },
      "id": "DataStoreToolDataStoreSource",
      "description": "Configuration for searching within a specific DataStore.",
      "type": "object"
    },
    "TurnHandoffEvent": {
      "properties": {
        "turnId": {
          "description": "Identifies the turn to resume.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Why the stream is handing off.",
          "enum": [
            "REASON_UNSPECIFIED",
            "SERVER_RESTART"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The serving task is shutting down (release push or rescheduling)."
          ]
        }
      },
      "id": "TurnHandoffEvent",
      "description": "Emitted before this task stops serving the stream mid-turn (e.g. a server restart). The turn's state is persisted; a reconnect carrying resume_from_sequence_number continues it on another task.",
      "type": "object"
    },
    "LfA2aV1AgentProvider": {
      "type": "object",
      "id": "LfA2aV1AgentProvider",
      "description": "Represents the service provider of an agent.",
      "properties": {
        "organization": {
          "type": "string",
          "description": "Required. The name of the agent provider's organization. Example: \"Google\""
        },
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        }
      }
    },
    "LfA2aV1SendMessageConfiguration": {
      "properties": {
        "acceptedOutputModes": {
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taskPushNotificationConfig": {
          "$ref": "LfA2aV1TaskPushNotificationConfig",
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request."
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        },
        "historyLength": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit."
        }
      },
      "type": "object",
      "id": "LfA2aV1SendMessageConfiguration",
      "description": "Configuration of a send message request."
    },
    "StreamChatAiAssistantResponse": {
      "id": "StreamChatAiAssistantResponse",
      "type": "object",
      "description": "Response message for SessionService.StreamChatAiAssistant.",
      "properties": {
        "textChunk": {
          "description": "Text Token (for streaming Gemini responses word-by-word).",
          "type": "string"
        },
        "resumeSnapshot": {
          "$ref": "TurnResumeSnapshot",
          "description": "A compacted replay of an in-flight turn, sent as the first event of every attach or resume before any live event. The client replaces any locally rendered state for this turn with the snapshot's contents."
        },
        "toolCall": {
          "description": "Tool call execution event.",
          "$ref": "ToolCall"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Tool call response event."
        },
        "eventId": {
          "description": "Unique identifier for the event.",
          "type": "string"
        },
        "handoff": {
          "description": "Tells the client to silently reconnect with resume_from_sequence_number: the task serving this stream is going away and the turn will continue elsewhere. Not an error; the stream completes normally after this event.",
          "$ref": "TurnHandoffEvent"
        },
        "sessionCheckpoint": {
          "$ref": "SessionCheckpoint",
          "description": "Session checkpoint/compaction recap event containing user intent and rolling summary."
        },
        "thoughtChunk": {
          "type": "string",
          "description": "Thought text chunk (agent's reasoning before generating response)."
        },
        "status": {
          "description": "Simple status update.",
          "$ref": "Status"
        },
        "turnMetadata": {
          "description": "Optional. Turn-level metadata and intent categorization.",
          "$ref": "TurnMetadata"
        },
        "turnInProgress": {
          "type": "boolean",
          "description": "Optional. Indicates whether the turn is still actively running in the background."
        },
        "optionQuestionsChunk": {
          "description": "Structured clarification options parsed out of the model turn. The console renders these as a selectable option list instead of raw text.",
          "$ref": "OptionQuestionsChunk"
        },
        "confirmationRequest": {
          "$ref": "AssistantConfirmationRequest",
          "description": "A blocking confirmation the agent paused on. The agent resumes when the answer arrives on a later request's `confirmation_response`. Only sent to clients that declared the CONFIRMATION_CARDS capability on the request."
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Timestamp when the event occurred.",
          "type": "string"
        },
        "uiEvent": {
          "description": "Optional. UI event payload.",
          "$ref": "UiEvent"
        },
        "sequenceNumber": {
          "type": "string",
          "description": "Optional. Monotonically increasing sequence number for this session turn.",
          "format": "int64"
        },
        "turnCompleted": {
          "$ref": "TurnCompletedEvent",
          "description": "The turn has ended. Sent as the last event of every turn, on the original stream and on every attached or resumed stream, so clients can end the turn on an explicit signal instead of inferring it from stream closure."
        },
        "artifactChunk": {
          "$ref": "ArtifactChunk",
          "description": "Generated-document artifact event (live preview deltas + final GCS pointer)."
        }
      }
    },
    "DataStoreToolModalityConfig": {
      "type": "object",
      "properties": {
        "snippetsConfig": {
          "description": "Optional. The snippets configuration.",
          "$ref": "DataStoreToolSnippetsConfig"
        },
        "modalityType": {
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "description": "Required. The modality type.",
          "type": "string"
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        }
      },
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality."
    },
    "UiEvent": {
      "id": "UiEvent",
      "type": "object",
      "description": "Represents a UI event payload.",
      "properties": {
        "jsonPayload": {
          "type": "string",
          "description": "The JSON payload representing the A2UI surface."
        },
        "mimeType": {
          "type": "string",
          "description": "The media type (MIME type) indicating the format of the UI event payload (e.g., \"application/json+a2ui\")."
        }
      }
    },
    "Image": {
      "description": "Represents an image input or output in the conversation.",
      "properties": {
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw bytes of the image."
        }
      },
      "id": "Image",
      "type": "object"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "type": "object",
      "properties": {
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
        },
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        }
      },
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "LfA2aV1TaskStatus": {
      "description": "A container for the status of a task",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "type": "string",
          "description": "Required. The current state of this task."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\""
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message associated with the status."
        }
      },
      "id": "LfA2aV1TaskStatus"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object"
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "agentRegistryDeployment": {
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry.",
          "$ref": "AgentRegistryDeployment"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was created.",
          "type": "string"
        },
        "whatsappCredentials": {
          "$ref": "WhatsAppCredentials",
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile."
        },
        "modality": {
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ],
          "type": "string"
        },
        "instagramCredentials": {
          "$ref": "InstagramCredentials",
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was last updated."
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        }
      }
    },
    "Chunk": {
      "properties": {
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "ToolResponse"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Optional. Tool execution request."
        }
      },
      "type": "object",
      "description": "A chunk of content within a message.",
      "id": "Chunk"
    },
    "OpenApiTool": {
      "properties": {
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        }
      },
      "description": "A remote API tool defined by an OpenAPI schema.",
      "id": "OpenApiTool",
      "type": "object"
    },
    "ActionEntityOperation": {
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "description": "Required. Operation to perform on the entity."
        }
      },
      "description": "Entity CRUD operation specification.",
      "type": "object",
      "id": "ActionEntityOperation"
    },
    "AgentCard": {
      "id": "AgentCard",
      "properties": {
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          }
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "AgentSkill"
          },
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        },
        "name": {
          "description": "Required. A human-readable name for the agent.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        }
      },
[...]
