{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "servicePath": "",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "canonicalName": "Customer Engagement Suite",
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "protocol": "rest",
  "name": "ces",
  "batchPath": "batch",
  "version_module": true,
  "version": "v1beta",
  "description": "",
  "title": "Gemini Enterprise for Customer Experience API",
  "rootUrl": "https://ces.googleapis.com/",
  "schemas": {
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig": {
      "description": "The configuration to be used to generate an operation in the Open API schema.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The path of the tool to be appended to the base uri. This should include query and path parameters if any."
        },
        "responseJson": {
          "type": "string",
          "description": "Required. A sample response from the tool in JSON format."
        },
        "method": {
          "description": "Required. The uri of the tool. This should include query and path parameters if any.",
          "type": "string"
        },
        "requestJson": {
          "description": "Required. A sample request to the tool in JSON format. Skip if the tool does not support request body.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig"
    },
    "GenerateAppResourceResponseTools": {
      "id": "GenerateAppResourceResponseTools",
      "type": "object",
      "description": "The list of tools generated by the LLM assistant.",
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools generated by the LLM assistant."
        }
      }
    },
    "ListEvaluationDatasetsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationDatasets.",
      "properties": {
        "evaluationDatasets": {
          "description": "The list of evaluation datasets.",
          "items": {
            "$ref": "EvaluationDataset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationDatasetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListEvaluationDatasetsResponse"
    },
    "EvaluationMetricsThresholds": {
      "description": "Threshold settings for metrics in an Evaluation.",
      "properties": {
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "hallucinationMetricBehavior": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "goldenHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "scenarioHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The hallucination metric behavior for scenario evaluations."
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholds"
    },
    "FileContextFileBytes": {
      "description": "File provided as raw bytes.",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "Required. The name of the file provided as raw bytes."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw bytes of the file."
        }
      },
      "id": "FileContextFileBytes",
      "type": "object"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "type": "object"
    },
    "PythonCodeCondition": {
      "type": "object",
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition.",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      }
    },
    "GenerateEvaluationRequest": {
      "description": "Request message for EvaluationService.GenerateEvaluation.",
      "properties": {
        "source": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched."
        },
        "evaluationType": {
          "description": "Optional. The type of evaluation to generate. Defaults to GOLDEN if unspecified.",
          "enumDescriptions": [
            "Unspecified type. Defaults to GOLDEN.",
            "Golden evaluation.",
            "Scenario evaluation."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "GOLDEN",
            "SCENARIO"
          ]
        }
      },
      "type": "object",
      "id": "GenerateEvaluationRequest"
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "description": "List of cited pieces of information.",
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          }
        }
      },
      "id": "Citations",
      "type": "object"
    },
    "AgentLlmAgent": {
      "id": "AgentLlmAgent",
      "type": "object",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "properties": {}
    },
    "RunEvaluationResultMetricsResponse": {
      "type": "object",
      "id": "RunEvaluationResultMetricsResponse",
      "description": "Response message for EvaluationService.RunEvaluationResultMetrics.",
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The status of the evaluation result metrics calculation."
        }
      }
    },
    "QualityReport": {
      "type": "object",
      "id": "QualityReport",
      "description": "The report describing any identified quality issues in the app.",
      "properties": {
        "issues": {
          "description": "Optional. The issues grouped by agent.",
          "type": "array",
          "items": {
            "$ref": "QualityReportAgentIssues"
          }
        },
        "evaluationRuns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`."
        },
        "generalIssues": {
          "description": "Optional. General issues not specific to any agent.",
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          }
        }
      }
    },
    "ListConversationsResponse": {
      "description": "Response message for AgentService.ListConversations.",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "Conversation"
          },
          "description": "The list of conversations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListConversationsResponse",
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "description": "The configuration to be used to generate the evaluations.",
      "properties": {
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the evaluations. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestEvaluationGenerationConfig"
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "voiceSampleGcsUri": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number",
          "format": "double"
        },
        "consentAudioGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "deprecated": true,
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used."
        }
      },
      "type": "object",
      "id": "SynthesizeSpeechConfig"
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "type": "object",
      "description": "Traffic allocation for the version release.",
      "properties": {
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        },
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        }
      }
    },
    "BigQueryExportSettings": {
      "id": "BigQueryExportSettings",
      "type": "object",
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the BigQuery export is enabled."
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      }
    },
    "AgentCard": {
      "type": "object",
      "id": "AgentCard",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "properties": {
        "supportedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred."
        },
        "name": {
          "description": "Required. A human-readable name for the agent.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the agent's domain of action/solution space."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        },
        "skills": {
          "items": {
            "$ref": "AgentSkill"
          },
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
        }
      }
    },
    "McpToolset": {
      "type": "object",
      "id": "McpToolset",
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "toolOverrides": {
          "type": "array",
          "items": {
            "$ref": "McpToolOverride"
          },
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "customHeaders": {
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExperimentConfig": {
      "description": "Experiment for the deployment.",
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "type": "object",
      "id": "ExperimentConfig"
    },
    "EvaluationPersona": {
      "type": "object",
      "id": "EvaluationPersona",
      "description": "A persona represents an end user in an evaluation.",
      "properties": {
        "name": {
          "description": "Required. The unique identifier of the persona. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the persona.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the persona. Unique within an app.",
          "type": "string"
        },
        "speechConfig": {
          "description": "Optional. Configuration for how the persona sounds (TTS settings).",
          "$ref": "EvaluationPersonaSpeechConfig"
        },
        "personality": {
          "description": "Required. An instruction for the agent on how to behave in the evaluation.",
          "type": "string"
        }
      }
    },
    "EvaluationMetricsConfigToolCorrectnessMetricsConfig": {
      "description": "Configuration for correctness metrics for the evaluation. To disable the metric, set the message but do not set the `enable_tool_correctness_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableToolCorrectnessMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate tool correctness metrics for the evaluation."
        }
      },
      "id": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
      "type": "object"
    },
    "AggregatedMetricsToolMetrics": {
      "type": "object",
      "id": "AggregatedMetricsToolMetrics",
      "description": "Metrics for a single tool.",
      "properties": {
        "tool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the tool."
        },
        "passCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of times the tool passed."
        },
        "failCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of times the tool failed."
        }
      }
    },
    "ExportEvaluationRunsResponse": {
      "type": "object",
      "id": "ExportEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "properties": {
        "evaluationRunsContent": {
          "format": "byte",
          "type": "string",
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request."
        },
        "evaluationRunsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request."
        }
      }
    },
    "WidgetTool": {
      "id": "WidgetTool",
      "type": "object",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "widgetType": {
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED."
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "uiConfig": {
          "description": "Optional. Configuration for rendering the widget.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        }
      }
    },
    "EvaluationGolden": {
      "description": "The steps required to replay a golden conversation.",
      "properties": {
        "turns": {
          "type": "array",
          "items": {
            "$ref": "EvaluationGoldenTurn"
          },
          "description": "Required. The golden turns required to replay a golden conversation. The maximum number of allowed turns is 100."
        },
        "evaluationExpectations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The evaluation expectations to evaluate the replayed conversation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`"
        }
      },
      "id": "EvaluationGolden",
      "type": "object"
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsRequest"
    },
    "AggregatedMetricsMetricsByTurn": {
      "description": "Metrics aggregated per turn.",
      "properties": {
        "hallucinationMetrics": {
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for hallucination within this turn."
        },
        "turnIndex": {
          "description": "Output only. The turn index (0-based).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "turnLatencyMetrics": {
          "description": "Output only. Metrics for turn latency within this turn.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          }
        },
        "semanticSimilarityMetrics": {
          "description": "Output only. Metrics for semantic similarity within this turn.",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "readOnly": true,
          "type": "array"
        },
        "toolMetrics": {
          "description": "Output only. Metrics for each tool within this turn.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          }
        },
        "toolCallLatencyMetrics": {
          "description": "Output only. Metrics for tool call latency within this turn.",
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "AggregatedMetricsMetricsByTurn",
      "type": "object"
    },
    "LfA2aV1Artifact": {
      "description": "Artifacts represent task outputs.",
      "properties": {
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "parts": {
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array"
        },
        "artifactId": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task."
        },
        "metadata": {
          "description": "Optional. Metadata included with the artifact.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the artifact."
        },
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the artifact."
        }
      },
      "type": "object",
      "id": "LfA2aV1Artifact"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "type": "object"
    },
    "AgentTool": {
      "id": "AgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the agent tool."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "description": "The result of the tool invocation check.",
      "properties": {
        "explanation": {
          "description": "Output only. A free text explanation for the tool invocation result.",
          "readOnly": true,
          "type": "string"
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL."
        },
        "parameterCorrectnessScore": {
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "type": "object"
    },
    "ListToolsResponse": {
      "type": "object",
      "id": "ListToolsResponse",
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ChannelProfilePersonaProperty": {
      "type": "object",
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel.",
      "properties": {
        "persona": {
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "properties": {
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        }
      },
      "id": "AudioRecordingConfig",
      "type": "object"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "type": "array",
          "description": "The list of changelogs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "Agent": {
      "id": "Agent",
      "type": "object",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "beforeAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "childAgents": {
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the agent was created."
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "afterAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "afterToolCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "beforeToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "guardrails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ErrorHandlingSettings": {
      "description": "Settings to describe how errors should be handled in the app.",
      "properties": {
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "errorHandlingStrategy": {
          "description": "Optional. The strategy to use for error handling.",
          "type": "string",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ]
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        }
      },
      "type": "object",
      "id": "ErrorHandlingSettings"
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "type": "object",
      "description": "The connector config for the data store connection.",
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        }
      }
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "type": "object",
      "description": "Response message for ToolService.ExecuteTool.",
      "properties": {
        "response": {
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        },
        "variables": {
          "description": "The variable values at the end of the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        }
      }
    },
    "EvaluationMetricsConfigSemanticSimilarityMetricsConfig": {
      "type": "object",
      "id": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
      "description": "Configuration for similarity metrics for the evaluation. To disable the metric, set the message but do not set the `enable_semantic_similarity_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableSemanticSimilarityMetrics": {
          "description": "Optional. Whether to calculate semantic similarity metrics for the evaluation.",
          "type": "boolean"
        }
      }
    },
    "DataStoreToolGroundingConfig": {
      "description": "Grounding configuration.",
      "properties": {
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        },
        "groundingLevel": {
          "type": "number",
          "format": "float",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned."
        }
      },
      "type": "object",
      "id": "DataStoreToolGroundingConfig"
    },
    "ExpressionCondition": {
      "type": "object",
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state.",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      }
    },
    "EvaluationPersonaSpeechConfig": {
      "description": "Configuration for Text-to-Speech generation.",
      "properties": {
        "speakingRate": {
          "format": "double",
          "type": "number",
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers."
        },
        "environment": {
          "description": "Optional. The simulated audio environment.",
          "type": "string",
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ],
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ]
        },
        "voiceId": {
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationPersonaSpeechConfig"
    },
    "RunSessionRequest": {
      "description": "Request message for SessionService.RunSession.",
      "properties": {
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session."
        }
      },
      "type": "object",
      "id": "RunSessionRequest"
    },
    "Toolset": {
      "type": "object",
      "id": "Toolset",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "properties": {
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the toolset. Must be unique within the same app."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the toolset was last updated."
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tools in the toolset."
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets."
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "description": "Configuration for searching within a specific DataStore.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        }
      },
      "type": "object",
      "id": "DataStoreToolDataStoreSource"
    },
    "Message": {
      "description": "A message within a conversation.",
      "properties": {
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example."
        },
        "chunks": {
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Message"
    },
    "LatencyReportGuardrailLatency": {
      "type": "object",
      "id": "LatencyReportGuardrailLatency",
      "description": "Latency metrics for a single guardrail.",
      "properties": {
        "guardrail": {
          "description": "Output only. The name of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`.",
          "readOnly": true,
          "type": "string"
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the guardrail.",
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics"
        },
        "guardrailDisplayName": {
          "description": "Output only. The display name of the guardrail.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DataStore": {
      "type": "object",
      "id": "DataStore",
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the data store."
        },
        "createTime": {
          "description": "Output only. Timestamp when the data store was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "documentProcessingMode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "description": "Output only. The type of the data store. This field is readonly and populated by the server."
        }
      }
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "snippetsConfig": {
          "description": "Optional. The snippets configuration.",
          "$ref": "DataStoreToolSnippetsConfig"
        },
        "modalityType": {
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "description": "Required. The modality type."
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        }
      },
      "type": "object",
      "id": "DataStoreToolModalityConfig"
    },
    "AmbientSoundConfig": {
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "volumeGainDb": {
          "format": "double",
          "type": "number",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        },
        "prebuiltAmbientNoise": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ]
        }
      },
      "type": "object",
      "id": "AmbientSoundConfig"
    },
    "ListEvaluationRunsResponse": {
      "type": "object",
      "id": "ListEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ListEvaluationRuns.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluationRuns": {
          "description": "The list of evaluation runs.",
          "items": {
            "$ref": "EvaluationRun"
          },
          "type": "array"
        }
      }
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig",
      "type": "object",
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableHallucinationMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation."
        }
      }
    },
    "ImportAppResponse": {
      "description": "Response message for AgentService.ImportApp.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the app that was imported."
        }
      },
      "type": "object",
      "id": "ImportAppResponse"
    },
    "EvaluationResultScenarioExpectationOutcome": {
      "description": "The outcome of a scenario expectation.",
      "properties": {
        "observedToolCall": {
          "readOnly": true,
          "$ref": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
          "description": "Output only. The observed tool call."
        },
        "observedAgentResponse": {
          "readOnly": true,
          "$ref": "Message",
          "description": "Output only. The observed agent response."
        },
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the ScenarioExpectation.",
          "readOnly": true,
          "type": "string"
        },
        "expectation": {
          "readOnly": true,
          "$ref": "EvaluationScenarioExpectation",
          "description": "Output only. The expectation that was evaluated."
        }
      },
      "type": "object",
      "id": "EvaluationResultScenarioExpectationOutcome"
    },
    "WhatsAppCredentials": {
      "type": "object",
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "properties": {
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "businessAccountId": {
          "type": "string",
          "description": "Required. The Business Account ID to use for the phone number."
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "authCode": {
          "type": "string",
          "description": "Required. The Meta auth code provided by the embedded signup flow."
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        }
      }
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "description": "Defines a security scheme using mTLS authentication.",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      },
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "type": "object"
    },
    "ScheduledEvaluationRun": {
      "description": "Represents a scheduled evaluation run configuration.",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Optional. Whether this config is active"
        },
        "lastUpdatedBy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user who last updated the evaluation."
        },
        "displayName": {
          "description": "Required. User-defined display name of the scheduled evaluation run config.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "totalExecutions": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of times this run has been executed"
        },
        "nextScheduledExecutionTime": {
          "description": "Output only. The next time this is scheduled to execute",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createdBy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user who created the scheduled evaluation run."
        },
        "createTime": {
          "description": "Output only. Timestamp when the scheduled evaluation run was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}"
        },
        "lastCompletedRun": {
          "description": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "readOnly": true,
          "type": "string"
        },
        "schedulingConfig": {
          "description": "Required. Configuration for the timing and frequency with which to execute the evaluations.",
          "$ref": "ScheduledEvaluationRunSchedulingConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of the scheduled evaluation run."
        },
        "request": {
          "description": "Required. The RunEvaluationRequest to schedule",
          "$ref": "RunEvaluationRequest"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "ScheduledEvaluationRun"
    },
    "TriggerActionRespondImmediately": {
      "description": "The agent will immediately respond with a preconfigured response.",
      "properties": {
        "responses": {
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      },
      "type": "object",
      "id": "TriggerActionRespondImmediately"
    },
    "TestPersonaVoiceRequest": {
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "properties": {
        "personaId": {
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\".",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Required. The text to test the voice for."
        }
      },
      "id": "TestPersonaVoiceRequest",
      "type": "object"
    },
    "ExportEvaluationsRequest": {
      "description": "Request message for EvaluationService.ExportEvaluations.",
      "properties": {
        "exportOptions": {
          "description": "Optional. The export options for the evaluations.",
          "$ref": "ExportOptions"
        },
        "includeEvaluationResults": {
          "type": "boolean",
          "description": "Optional. Includes evaluation results in the export. At least one of include_evaluation_results or include_evaluations must be set."
        },
        "names": {
          "description": "Required. The resource names of the evaluations to export.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeEvaluations": {
          "type": "boolean",
          "description": "Optional. Includes evaluations in the export. At least one of include_evaluation_results or include_evaluations must be set."
        }
      },
      "id": "ExportEvaluationsRequest",
      "type": "object"
    },
    "PersonaRunConfig": {
      "description": "Configuration for running an evaluation for a specific persona.",
      "properties": {
        "persona": {
          "description": "Optional. The persona to use for the evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        },
        "taskCount": {
          "description": "Optional. The number of tasks to run for the persona.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "PersonaRunConfig"
    },
    "RunEvaluationResultMetricsRequest": {
      "description": "Request message for EvaluationService.RunEvaluationResultMetrics.",
      "properties": {},
      "type": "object",
      "id": "RunEvaluationResultMetricsRequest"
    },
    "EvaluationConfig": {
      "description": "EvaluationConfig configures settings for running the evaluation.",
      "properties": {
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "evaluationChannel": {
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The channel to evaluate."
        },
        "toolCallBehaviour": {
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools.",
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        }
      },
      "id": "EvaluationConfig",
      "type": "object"
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluations.",
      "properties": {
        "evaluations": {
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "type": "object",
      "id": "LfA2aV1ImplicitOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "properties": {
        "scopes": {
          "type": "object",
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        }
      }
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "type": "object",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "type": "string",
          "format": "byte"
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        }
      }
    },
    "ApiAuthentication": {
      "type": "object",
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls.",
      "properties": {
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        }
      }
    },
    "QualityReportIssue": {
      "id": "QualityReportIssue",
      "type": "object",
      "description": "The issue identified.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the issue found."
        },
        "occurrenceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. How many times this issue occurred."
        },
        "proposedSolution": {
          "type": "string",
          "description": "Optional. Proposed solution to fix the issue by modifying instructions or tools."
        }
      }
    },
    "LfA2aV1AgentProvider": {
      "description": "Represents the service provider of an agent.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\""
        },
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1AgentProvider"
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\"."
        }
      },
      "type": "object",
      "id": "LfA2aV1APIKeySecurityScheme"
    },
    "OpenApiTool": {
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema in JSON or YAML format."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "type": "object",
      "id": "OpenApiTool"
    },
    "ListEvaluationResultsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationResults.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluationResults": {
          "description": "The list of evaluation results.",
          "items": {
            "$ref": "EvaluationResult"
          },
          "type": "array"
        }
      },
      "id": "ListEvaluationResultsResponse",
      "type": "object"
    },
    "LfA2aV1SecurityScheme": {
      "type": "object",
      "id": "LfA2aV1SecurityScheme",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "properties": {
        "openIdConnectSecurityScheme": {
          "description": "OpenID Connect authentication.",
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "description": "API key-based authentication.",
          "$ref": "LfA2aV1APIKeySecurityScheme"
        },
        "mtlsSecurityScheme": {
          "description": "Mutual TLS authentication.",
          "$ref": "LfA2aV1MutualTlsSecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "description": "HTTP authentication (Basic, Bearer, etc.).",
          "$ref": "LfA2aV1HTTPAuthSecurityScheme"
        },
        "oauth2SecurityScheme": {
          "description": "OAuth 2.0 authentication.",
          "$ref": "LfA2aV1OAuth2SecurityScheme"
        }
      }
    },
    "EvaluationResultEvaluationExpectationResult": {
      "description": "The result of a single evaluation expectation.",
      "properties": {
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The explanation for the result."
        },
        "prompt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The prompt that was used for the evaluation."
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The outcome of the evaluation expectation.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        },
        "evaluationExpectation": {
          "description": "Output only. The evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EvaluationResultEvaluationExpectationResult",
      "type": "object"
    },
    "ToolCall": {
      "id": "ToolCall",
      "type": "object",
      "description": "Request for the client or the agent to execute the specified tool.",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        }
      }
    },
    "EvaluationErrorInfo": {
      "description": "Information about an error encountered during an evaluation execution.",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message."
        },
        "errorType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of error.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "RUNTIME_FAILURE",
            "CONVERSATION_RETRIEVAL_FAILURE",
            "METRIC_CALCULATION_FAILURE",
            "EVALUATION_UPDATE_FAILURE",
            "QUOTA_EXHAUSTED",
            "USER_SIMULATION_FAILURE"
          ],
          "enumDescriptions": [
            "Unspecified error type.",
            "Failure during runtime execution.",
            "Failure to retrieve conversation from CES Runtime.",
            "Failure to calculate a metric / outcome.",
            "Failure to update the evaluation.",
            "Ran out of quota.",
            "Failure during user simulation."
          ]
        },
        "sessionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The session ID for the conversation that caused the error."
        },
        "userFacingErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user facing error message."
        }
      },
      "id": "EvaluationErrorInfo",
      "type": "object"
    },
    "VpcScSettings": {
      "type": "object",
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app.",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConnectorTool": {
      "type": "object",
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "properties": {
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        }
      }
    },
    "GenerateAppResourceRequestAppVersionContext": {
      "description": "The app version context specifying the base snapshot and target agent.",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "The resource name of the app version to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "agentResourceName": {
          "description": "The resource name of the target agent to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "GenerateAppResourceRequestAppVersionContext",
      "type": "object"
    },
    "LatencyReportLlmCallLatency": {
      "type": "object",
      "id": "LatencyReportLlmCallLatency",
      "description": "Latency metrics for a single LLM call.",
      "properties": {
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the LLM call.",
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics"
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the model."
        }
      }
    },
    "EvaluationRunEvaluationRunSummary": {
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "properties": {
        "failedCount": {
          "description": "Output only. Number of failed results for the associated Evaluation in this run.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "passedCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of passed results for the associated Evaluation in this run."
        }
      },
      "type": "object",
      "id": "EvaluationRunEvaluationRunSummary"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "AppSnapshot": {
      "type": "object",
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "properties": {
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "toolsets": {
          "type": "array",
          "items": {
            "$ref": "Toolset"
          },
          "description": "Optional. List of toolsets in the app."
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "agents": {
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          }
        }
      }
    },
    "AggregatedMetrics": {
      "id": "AggregatedMetrics",
      "type": "object",
      "description": "Aggregated metrics for an evaluation or evaluation dataset.",
      "properties": {
        "metricsByAppVersion": {
          "items": {
            "$ref": "AggregatedMetricsMetricsByAppVersion"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Aggregated metrics, grouped by app version ID."
        }
      }
    },
    "GenerateChatTokenRequest": {
      "description": "Request message for WidgetService.GenerateChatToken.",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget."
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        }
      },
      "id": "GenerateChatTokenRequest",
      "type": "object"
    },
    "LatencyReportCallbackLatency": {
      "id": "LatencyReportCallbackLatency",
      "type": "object",
      "description": "Latency metrics for a single callback.",
      "properties": {
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true,
          "description": "Output only. The latency metrics for the callback."
        },
        "stage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The stage of the callback."
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
[...]
