{
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "canonicalName": "Customer Engagement Suite",
  "revision": "20260831",
  "kind": "discovery#restDescription",
  "baseUrl": "https://ces.googleapis.com/",
  "description": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "apps": {
              "methods": {
                "getExtendedAgentCard": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/extendedAgentCard",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "LfA2aV1AgentCard"
                  },
                  "path": "v1/{+tenant}/extendedAgentCard",
                  "parameters": {
                    "tenant": {
                      "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets the extended agent card for the authenticated agent.",
                  "parameterOrder": [
                    "tenant"
                  ],
                  "id": "ces.projects.locations.apps.getExtendedAgentCard"
                },
                "exportApp": {
                  "description": "Exports the specified app.",
                  "request": {
                    "$ref": "ExportAppRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the app to export.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:exportApp",
                  "id": "ces.projects.locations.apps.exportApp",
                  "path": "v1/{+name}:exportApp"
                },
                "get": {
                  "response": {
                    "$ref": "App"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the app to retrieve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "id": "ces.projects.locations.apps.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets details of the specified app.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "retrieveToolSchema": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "id": "ces.projects.locations.apps.retrieveToolSchema",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieve the schema of the given tool. The schema is computed on the fly for the given instance of the tool.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:retrieveToolSchema",
                  "path": "v1/{+parent}:retrieveToolSchema",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "RetrieveToolSchemaResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RetrieveToolSchemaRequest"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Updates the specified app.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ces.projects.locations.apps.patch",
                  "response": {
                    "$ref": "App"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "App"
                  }
                },
                "executeTool": {
                  "request": {
                    "$ref": "ExecuteToolRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "path": "v1/{+parent}:executeTool",
                  "description": "Executes the given tool with the given arguments.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:executeTool",
                  "id": "ces.projects.locations.apps.executeTool",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ExecuteToolResponse"
                  }
                },
                "delete": {
                  "description": "Deletes the specified app.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app to delete.",
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the app. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}"
                },
                "list": {
                  "description": "Lists apps in the given project and location.",
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.apps.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAppsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps",
                  "path": "v1/{+parent}/apps",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list AgentService.ListApps call."
                    },
                    "parent": {
                      "description": "Required. The resource name of the location to list apps from.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter to be applied when listing the apps. See https://google.aip.dev/160 for more details."
                    }
                  }
                },
                "importApp": {
                  "id": "ces.projects.locations.apps.importApp",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apps:importApp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name with the location of the app to import.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps:importApp",
                  "description": "Imports the specified app.",
                  "request": {
                    "$ref": "ImportAppRequest"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/apps",
                  "request": {
                    "$ref": "App"
                  },
                  "description": "Creates a new app in the given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ces.projects.locations.apps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameters": {
                    "appId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the app, which will become the final component of the app's resource name. If not provided, a unique ID will be automatically assigned for the app.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource name of the location to create an app in.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "message": {
                  "methods": {
                    "stream": {
                      "path": "v1/{+tenant}/message:stream",
                      "parameters": {
                        "tenant": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
                        }
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "id": "ces.projects.locations.apps.message.stream",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "LfA2aV1StreamResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:stream",
                      "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`"
                    },
                    "send": {
                      "id": "ces.projects.locations.apps.message.send",
                      "path": "v1/{+tenant}/message:send",
                      "description": "Sends a message to an agent.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "tenant"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:send",
                      "parameters": {
                        "tenant": {
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "LfA2aV1SendMessageResponse"
                      },
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "source": {
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default.",
                          "location": "query",
                          "type": "string",
                          "deprecated": true,
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ]
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "description": "Required. The resource name of the conversation to delete.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "ces.projects.locations.apps.conversations.delete",
                      "description": "Deletes the specified conversation.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}"
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.conversations.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListConversations call.",
                          "type": "string",
                          "location": "query"
                        },
                        "source": {
                          "type": "string",
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default. Will be deprecated in favor of `sources` field.",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the conversations. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "sources": {
                          "description": "Optional. Indicate the sources of the conversations. If not set, all available sources will be applied by default.",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "repeated": true
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to list conversations from."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListConversationsResponse"
                      },
                      "description": "Lists conversations in the given app.",
                      "path": "v1/{+parent}/conversations",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.conversations.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Conversation"
                      },
                      "description": "Gets details of the specified conversation.",
                      "parameters": {
                        "source": {
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, all source will be searched.",
                          "location": "query",
                          "deprecated": true,
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The resource name of the conversation to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}"
                    },
                    "batchDelete": {
                      "id": "ces.projects.locations.apps.conversations.batchDelete",
                      "description": "Batch deletes the specified conversations.",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/conversations:batchDelete",
                      "request": {
                        "$ref": "BatchDeleteConversationsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to delete conversations from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations:batchDelete"
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
                        }
                      },
                      "response": {
                        "$ref": "Deployment"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "path": "v1/{+name}",
                      "description": "Gets details of the specified deployment.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.deployments.get",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.deployments.patch",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "description": "Updates the specified deployment.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. The list of fields to update.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "type": "string"
                        }
                      }
                    },
                    "getExtendedAgentCard": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "tenant": {
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+tenant}/extendedAgentCard",
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "id": "ces.projects.locations.apps.deployments.getExtendedAgentCard",
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/extendedAgentCard"
                    },
                    "list": {
                      "path": "v1/{+parent}/deployments",
                      "response": {
                        "$ref": "ListDeploymentsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeployments` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "ces.projects.locations.apps.deployments.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "httpMethod": "GET",
                      "description": "Lists deployments in the given app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "path": "v1/{+parent}/deployments",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "deploymentId": {
                          "description": "Optional. The ID to use for the deployment, which will become the final component of the deployment's resource name. If not provided, a unique ID will be automatically assigned for the deployment.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Deployment"
                      },
                      "description": "Creates a new deployment in the given app.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.deployments.create",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "description": "Deletes the specified deployment.",
                      "id": "ces.projects.locations.apps.deployments.delete",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the deployment to delete. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The etag of the deployment. If an etag is provided and does not match the current etag of the deployment, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "resources": {
                    "message": {
                      "methods": {
                        "send": {
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:send",
                          "description": "Sends a message to an agent.",
                          "id": "ces.projects.locations.apps.deployments.message.send",
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "path": "v1/{+tenant}/message:send",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "tenant"
                          ],
                          "parameters": {
                            "tenant": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          }
                        },
                        "stream": {
                          "path": "v1/{+tenant}/message:stream",
                          "parameters": {
                            "tenant": {
                              "location": "path",
                              "required": true,
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$"
                            }
                          },
                          "id": "ces.projects.locations.apps.deployments.message.stream",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:stream",
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "response": {
                            "$ref": "LfA2aV1StreamResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                          "parameterOrder": [
                            "tenant"
                          ]
                        }
                      }
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "streamRunSession": {
                      "path": "v1/{+session}:streamRunSession",
                      "parameterOrder": [
                        "session"
                      ],
                      "parameters": {
                        "session": {
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.sessions.streamRunSession",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:streamRunSession",
                      "description": "Initiates a single-turn interaction with the CES agent. Uses server-side streaming to deliver incremental results and partial responses as they are generated. By default, complete responses (e.g., messages from callbacks or full LLM responses) are sent to the client as soon as they are available. To enable streaming individual text chunks directly from the model, set enable_text_streaming to true.",
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "httpMethod": "POST"
                    },
                    "generateChatToken": {
                      "request": {
                        "$ref": "GenerateChatTokenRequest"
                      },
                      "id": "ces.projects.locations.apps.sessions.generateChatToken",
                      "parameters": {
                        "name": {
                          "description": "Required. The session name to generate the chat token for. Format: projects/{project}/locations/{location}/apps/{app}/sessions/{session}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}:generateChatToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:generateChatToken",
                      "description": "Generates a session scoped token for chat widget to authenticate with Session APIs.",
                      "response": {
                        "$ref": "GenerateChatTokenResponse"
                      }
                    },
                    "runSession": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+session}:runSession",
                      "parameters": {
                        "session": {
                          "type": "string",
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "id": "ces.projects.locations.apps.sessions.runSession",
                      "parameterOrder": [
                        "session"
                      ],
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "description": "Initiates a single-turn interaction with the CES agent within a session.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:runSession"
                    }
                  }
                },
                "versions": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the app versions. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAppVersions call."
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list app versions from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "description": "Lists all app versions in the given app.",
                      "path": "v1/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListAppVersionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.versions.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.versions.patch",
                      "request": {
                        "$ref": "AppVersion"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. The list of fields to update. If empty, fields `display_name` and `description` will be updated.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates the specified app version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "description": "Creates a new app version in the given app.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to create an app version in."
                        },
                        "appVersionId": {
                          "description": "Optional. The ID to use for the app version, which will become the final component of the app version's resource name. If not provided, a unique ID will be automatically assigned for the app version.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "AppVersion"
                      },
                      "path": "v1/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "id": "ces.projects.locations.apps.versions.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "id": "ces.projects.locations.apps.versions.get",
                      "description": "Gets details of the specified app version.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app version to retrieve.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "restore": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}:restore",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "description": "Required. The resource name of the app version to restore."
                        }
                      },
                      "request": {
                        "$ref": "RestoreAppVersionRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.versions.restore",
                      "description": "Restores the specified app version. This will create a new app version from the current draft app and overwrite the current draft with the specified app version.",
                      "path": "v1/{+name}:restore"
                    },
                    "getExtendedAgentCard": {
                      "path": "v1/{+tenant}/extendedAgentCard",
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.versions.getExtendedAgentCard",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/extendedAgentCard",
                      "parameters": {
                        "tenant": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
                        }
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      }
                    },
                    "delete": {
                      "description": "Deletes the specified app version.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "id": "ces.projects.locations.apps.versions.delete",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the app version. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app version, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "description": "Required. The resource name of the app version to delete."
                        }
                      }
                    }
                  },
                  "resources": {
                    "message": {
                      "methods": {
                        "send": {
                          "httpMethod": "POST",
                          "path": "v1/{+tenant}/message:send",
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "parameterOrder": [
                            "tenant"
                          ],
                          "id": "ces.projects.locations.apps.versions.message.send",
                          "description": "Sends a message to an agent.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/message:send",
                          "parameters": {
                            "tenant": {
                              "location": "path",
                              "required": true,
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          }
                        },
                        "stream": {
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "response": {
                            "$ref": "LfA2aV1StreamResponse"
                          },
                          "parameters": {
                            "tenant": {
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$"
                            }
                          },
                          "id": "ces.projects.locations.apps.versions.message.stream",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/message:stream",
                          "path": "v1/{+tenant}/message:stream",
                          "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "tenant"
                          ]
                        }
                      }
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "id": "ces.projects.locations.apps.changelogs.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Changelog"
                      },
                      "description": "Gets the specified changelog.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the changelog to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list changelogs from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "description": "Lists the changelogs of the specified app.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "path": "v1/{+parent}/changelogs"
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new tool in the given app.",
                      "request": {
                        "$ref": "Tool"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/tools",
                      "response": {
                        "$ref": "Tool"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to create a tool in.",
                          "type": "string"
                        },
                        "toolId": {
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.tools.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the tool to retrieve."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Tool"
                      },
                      "path": "v1/{+name}",
                      "description": "Gets details of the specified tool.",
                      "id": "ces.projects.locations.apps.tools.get",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the tool to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$"
                        }
                      },
                      "description": "Deletes the specified tool.",
                      "id": "ces.projects.locations.apps.tools.delete",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.tools.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "description": "Lists tools in the given app.",
                      "path": "v1/{+parent}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the app to list tools from."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.tools.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Tool"
                      },
                      "description": "Updates the specified tool.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "Tool"
                      }
                    }
                  }
                },
                "toolsets": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "Toolset"
                      },
                      "response": {
                        "$ref": "Toolset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified toolset.",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.toolsets.patch",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to list toolsets from.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListToolsets call.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the toolsets. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "path": "v1/{+parent}/toolsets",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.toolsets.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists toolsets in the given app.",
                      "response": {
                        "$ref": "ListToolsetsResponse"
                      }
                    },
                    "retrieveTools": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}:retrieveTools",
                      "response": {
                        "$ref": "RetrieveToolsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieve the list of tools included in the specified toolset.",
                      "request": {
                        "$ref": "RetrieveToolsRequest"
                      },
                      "parameters": {
                        "toolset": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the toolset to retrieve the tools for. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
                        }
                      },
                      "id": "ces.projects.locations.apps.toolsets.retrieveTools",
                      "path": "v1/{+toolset}:retrieveTools",
                      "parameterOrder": [
                        "toolset"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the toolset to delete."
                        },
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the toolset, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any agents still reference the toolset. * If `force = true`, all existing references from agents will be removed and the toolset will be deleted.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the toolset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the toolset, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "httpMethod": "DELETE",
                      "id": "ces.projects.locations.apps.toolsets.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified toolset."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "description": "Required. The resource name of the toolset to retrieve."
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.toolsets.get",
                      "response": {
                        "$ref": "Toolset"
                      },
                      "description": "Gets details of the specified toolset.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "description": "Creates a new toolset in the given app.",
                      "parameters": {
                        "toolsetId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the toolset, which will become the final component of the toolset's resource name. If not provided, a unique ID will be automatically assigned for the toolset.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to create a toolset in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.toolsets.create",
                      "path": "v1/{+parent}/toolsets",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "request": {
                        "$ref": "Toolset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Toolset"
                      }
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "description": "Gets details of the specified example.",
                      "response": {
                        "$ref": "Example"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the example to retrieve."
                        }
                      },
                      "id": "ces.projects.locations.apps.examples.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "description": "Updates the specified example.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "id": "ces.projects.locations.apps.examples.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Example"
                      },
                      "response": {
                        "$ref": "Example"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.examples.create",
                      "description": "Creates a new example in the given app.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "response": {
                        "$ref": "Example"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/examples",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the app to create an example in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "exampleId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the example, which will become the final component of the example's resource name. If not provided, a unique ID will be automatically assigned for the example.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Example"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "description": "Deletes the specified example.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the example to delete."
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the example. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the example, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.examples.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}"
                    },
                    "list": {
                      "description": "Lists examples in the given app.",
                      "id": "ces.projects.locations.apps.examples.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list examples from.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListExamples call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the examples. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/examples",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples"
                    }
                  }
                },
                "guardrails": {
                  "methods": {
[...]
