{
  "kind": "discovery#restDescription",
  "servicePath": "",
  "canonicalName": "Checks Service",
  "ownerDomain": "google.com",
  "baseUrl": "https://checks.googleapis.com/",
  "revision": "20260902",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "name": "checks",
  "rootUrl": "https://checks.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "ownerName": "Google",
  "description": "The Checks API contains powerful and easy-to-use privacy and compliance APIs that interact with the Checks product and its underlying technology.",
  "documentationLink": "https://developers.google.com/checks",
  "mtlsRootUrl": "https://checks.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "basePath": "",
  "schemas": {
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "GoogleChecksReportV1alphaSdk": {
      "description": "Information about an SDK.",
      "properties": {
        "id": {
          "description": "SDK identifier.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaSdk",
      "type": "object"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent": {
      "type": "object",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent",
      "properties": {
        "textInput": {
          "description": "Content in text format.",
          "$ref": "GoogleChecksAisafetyV1alphaTextInput"
        }
      },
      "description": "Content to be classified."
    },
    "GoogleChecksReportV1alphaCheckEvidence": {
      "type": "object",
      "properties": {
        "permissionRestrictionViolations": {
          "description": "Evidence collected from permission restriction violation analysis.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence"
          }
        },
        "dataSecurity": {
          "description": "Evidence concerning data security.",
          "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidence"
        },
        "sdks": {
          "description": "Evidence concerning SDKs that were found in your app.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkEvidence"
          },
          "type": "array"
        },
        "endpoints": {
          "type": "array",
          "description": "Evidence concerning endpoints that were contacted by your app.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointEvidence"
          }
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionEvidence"
          },
          "description": "Evidence concerning permissions that were found in your app.",
          "type": "array"
        },
        "privacyPolicyTexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence"
          },
          "description": "Evidence collected from your privacy policy(s)."
        },
        "sdkRestrictionViolations": {
          "type": "array",
          "description": "Evidence collected from SDK restriction violation analysis.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence"
          }
        },
        "endpointRestrictionViolations": {
          "type": "array",
          "description": "Evidence collected from endpoint restriction violation analysis.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence"
          }
        },
        "sdkIssues": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkIssueEvidence"
          },
          "description": "Evidence concerning SDK issues."
        },
        "dataTypes": {
          "description": "Evidence concerning data types found in your app.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
          },
          "type": "array"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckEvidence",
      "description": "Evidence for a check."
    },
    "GoogleChecksReportV1alphaAnalyzeUploadRequest": {
      "properties": {
        "codeReferenceId": {
          "description": "Optional. Git commit hash or changelist number associated with the upload.",
          "type": "string"
        },
        "appBinaryFileType": {
          "enum": [
            "APP_BINARY_FILE_TYPE_UNSPECIFIED",
            "ANDROID_APK",
            "ANDROID_AAB",
            "IOS_IPA"
          ],
          "description": "Optional. The type of the uploaded app binary. If not provided, the server assumes APK file for Android and IPA file for iOS.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            ".apk file type.",
            ".aab (app bundle) file type.",
            ".ipa file type."
          ]
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaAnalyzeUploadRequest",
      "description": "The request message for ReportService.AnalyzeUpload."
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence": {
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence",
      "type": "object",
      "properties": {
        "permissionDetails": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails"
          },
          "description": "Permissions in violation.",
          "type": "array"
        }
      },
      "description": "Evidence collected from permission restriction violation analysis."
    },
    "GoogleChecksRepoScanV1alphaCodeAttribution": {
      "properties": {
        "codeExcerpt": {
          "description": "Optional. Code excerpt where the source was detected along with surrounding code.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "description": "Required. Line number (1-based).",
          "type": "integer"
        },
        "startLineNumber": {
          "description": "Optional. Start line number of the code excerpt (1-based).",
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "description": "Required. Path of the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaCodeAttribution",
      "description": "Source code attribution."
    },
    "GoogleChecksReportV1alphaCheckCitation": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Citation type.",
          "enum": [
            "CITATION_TYPE_UNSPECIFIED",
            "COPPA",
            "GDPR",
            "FERPA",
            "CAL_OPPA",
            "CCPA",
            "SOPIPA",
            "LGPD",
            "CPRA",
            "VCDPA",
            "GOOGLE_PLAY_POLICY",
            "APP_STORE_POLICY",
            "CPA",
            "CTDPA",
            "UCPA",
            "PIPEDA",
            "ALBERTA_PIPA",
            "QUEBEC_ACT",
            "QUEBEC_BILL_64",
            "CHINA_PIPL",
            "SOUTH_KOREA_PIPA",
            "SOUTH_AFRICA_POPIA",
            "JAPAN_APPI",
            "INDIA_DPDPA",
            "OCPA",
            "TDPSA",
            "MCDPA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Children's Online Privacy Protection Act.",
            "General Data Protection Regulation.",
            "Family Educational Rights and Privacy Act.",
            "The California Online Privacy Protection Act.",
            "California Consumer Privacy Act.",
            "Student Online Personal Information Protection Act.",
            "Lei Geral de Proteção de Dados.",
            "California Consumer Privacy Act.",
            "Virginia Consumer Data Protection Act.",
            "Google Play Policy.",
            "App Store Policy.",
            "Colorado Privacy Act.",
            "Connecticut Data Privacy Act.",
            "Utah Consumer Privacy Act.",
            "Personal Information Protection and Electronic Documents Act.",
            "Alberta (Canada) Personal Information Protection Act.",
            "Quebec: Act Respecting the Protection of Personal Information in the Private Sector.",
            "Quebec Bill 64: An Act to Modernize Legislative Provisions as Regards the Protection of Personal Information.",
            "China Personal Information Protection Law.",
            "South Korea Personal Information Protection Act.",
            "South Africa Protection of Personal Information Act.",
            "Japan Act on the Protection of Personal Information.",
            "India: The Digital Personal Data Protection Act, 2023.",
            "Oregon Consumer Privacy Act.",
            "Texas Data Privacy and Security Act.",
            "Montana Consumer Data Privacy Act."
          ]
        }
      },
      "description": "Regulation or policy that serves as the legal basis for the check.",
      "id": "GoogleChecksReportV1alphaCheckCitation",
      "type": "object"
    },
    "GoogleChecksReportV1alphaPermission": {
      "properties": {
        "id": {
          "description": "Permission identifier.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaPermission",
      "description": "Information about a permission.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo": {
      "properties": {
        "uri": {
          "description": "The URL contacted by your app. This includes the protocol, domain, and URL parameters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Evidence related to data in transit detected in your app.",
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult": {
      "properties": {
        "policyType": {
          "enumDescriptions": [
            "Default.",
            "The model facilitates, promotes or enables access to harmful goods, services, and activities.",
            "The model reveals an individual’s personal information and data.",
            "The model generates content that is malicious, intimidating, bullying, or abusive towards another individual.",
            "The model generates content that is sexually explicit in nature.",
            "The model promotes violence, hatred, discrimination on the basis of race, religion, etc.",
            "The model provides or offers to facilitate access to medical advice or guidance.",
            "The model generates content that contains gratuitous, realistic descriptions of violence or gore.",
            "The model generates profanity and obscenities."
          ],
          "type": "string",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "PII_SOLICITING_RECITING",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "MEDICAL_INFO",
            "VIOLENCE_AND_GORE",
            "OBSCENITY_AND_PROFANITY"
          ],
          "description": "Type of the policy."
        },
        "score": {
          "description": "Final score for the results of this policy.",
          "format": "float",
          "type": "number"
        },
        "violationResult": {
          "description": "Result of the classification for the policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified result.",
            "The final score is greater or equal the input score threshold.",
            "The final score is smaller than the input score threshold.",
            "There was an error and the violation result could not be determined."
          ],
          "enum": [
            "VIOLATION_RESULT_UNSPECIFIED",
            "VIOLATIVE",
            "NON_VIOLATIVE",
            "CLASSIFICATION_ERROR"
          ]
        }
      },
      "type": "object",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult",
      "description": "Result for one policy against the corresponding input."
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidence": {
      "type": "object",
      "description": "Evidence concerning data security.",
      "properties": {
        "dataInTransitInfo": {
          "description": "Evidence related to data in transit.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo"
          }
        }
      },
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidence"
    },
    "GoogleChecksRepoScanV1alphaCodeScan": {
      "type": "object",
      "properties": {
        "sourceCode": {
          "$ref": "GoogleChecksRepoScanV1alphaSourceCode",
          "description": "Required. Source code to analyze."
        },
        "dataTypeClassifications": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification"
          },
          "description": "Optional. Data type classification requests."
        }
      },
      "id": "GoogleChecksRepoScanV1alphaCodeScan",
      "description": "A requested analysis of source code. Contains the source code and processing state."
    },
    "GoogleChecksReportV1alphaDataTypePermissionEvidence": {
      "properties": {
        "permission": {
          "description": "Permission declared by your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "description": "Evidence based on the inclusion of a permission.",
      "id": "GoogleChecksReportV1alphaDataTypePermissionEvidence",
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence": {
      "properties": {
        "sdkDetails": {
          "type": "array",
          "description": "SDKs in violation.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails"
          }
        }
      },
      "type": "object",
      "description": "Evidence collected from SDK restriction violation analysis.",
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence"
    },
    "WaitOperationRequest": {
      "description": "The request message for Operations.WaitOperation.",
      "id": "WaitOperationRequest",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleChecksRepoScanV1alphaGenerateScanRequest": {
      "type": "object",
      "properties": {
        "localScanPath": {
          "description": "Required. Local scan path.",
          "type": "string"
        },
        "scmMetadata": {
          "$ref": "GoogleChecksRepoScanV1alphaScmMetadata",
          "description": "Required. SCM metadata."
        },
        "cliAnalysis": {
          "description": "Required. CLI analysis results.",
          "$ref": "GoogleChecksRepoScanV1alphaCliAnalysis"
        },
        "cliVersion": {
          "type": "string",
          "description": "Required. CLI version."
        }
      },
      "description": "The request message for RepoScanService.GenerateScan.",
      "id": "GoogleChecksRepoScanV1alphaGenerateScanRequest"
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence": {
      "type": "object",
      "properties": {
        "endpointDetails": {
          "type": "array",
          "description": "Endpoints in violation.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails"
          }
        }
      },
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence",
      "description": "Evidence collected from endpoint restriction violation analysis."
    },
    "GoogleChecksReportV1alphaListReportsResponse": {
      "type": "object",
      "id": "GoogleChecksReportV1alphaListReportsResponse",
      "description": "The response message for ReportService.ListReports.",
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaReport"
          },
          "description": "The reports for the specified app."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification": {
      "properties": {
        "lineNumber": {
          "description": "Required. Line number (1-based).",
          "format": "int32",
          "type": "integer"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "description": "Required. Candidate data type.",
          "type": "string"
        }
      },
      "description": "A request to classify data types.",
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification"
    },
    "GoogleChecksRepoScanV1alphaRepoScan": {
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaRepoScan",
      "description": "Repo scan.",
      "properties": {
        "resultsUri": {
          "type": "string",
          "description": "A URL to view results."
        },
        "localScanPath": {
          "description": "Local scan path.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the scan.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaSource"
          },
          "type": "array",
          "description": "Data sources detected."
        },
        "scmMetadata": {
          "description": "SCM metadata.",
          "$ref": "GoogleChecksRepoScanV1alphaScmMetadata"
        },
        "cliVersion": {
          "type": "string",
          "description": "CLI version."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckDataTypeEvidence": {
      "type": "object",
      "description": "Evidence concerning a data type that was found in your app.",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "description": "The data type that was found in your app.",
          "type": "string"
        },
        "dataTypeEvidence": {
          "description": "Evidence collected about the data type.",
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
    },
    "GoogleChecksReportV1alphaDataMonitoringPermissionResult": {
      "description": "Information about a permission that was found in your app.",
      "properties": {
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        },
        "permission": {
          "description": "The permission that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "id": "GoogleChecksReportV1alphaDataMonitoringPermissionResult",
      "type": "object"
    },
    "GoogleChecksReportV1alphaAppBundle": {
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Unique id of the bundle. For example: \"com.google.Gmail\"."
        },
        "releaseType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Published production bundle.",
            "Pre-release bundle."
          ],
          "enum": [
            "APP_BUNDLE_RELEASE_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRE_RELEASE"
          ],
          "description": "Identifies the type of release."
        },
        "versionId": {
          "type": "string",
          "description": "The version used throughout the operating system and store to identify the build such as the Android `versionCode` or iOS `CFBundleVersion`."
        },
        "codeReferenceId": {
          "type": "string",
          "description": "Git commit hash or changelist number associated with the release."
        },
        "version": {
          "description": "The user-visible version of the bundle such as the Android `versionName` or iOS `CFBundleShortVersionString`. For example: \"7.21.1\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about the analyzed app bundle.",
      "id": "GoogleChecksReportV1alphaAppBundle"
    },
    "GoogleChecksReportV1alphaCheck": {
      "description": "A check that was run on your app.",
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheck",
      "properties": {
        "state": {
          "type": "string",
          "description": "The result after running the check.",
          "enum": [
            "CHECK_STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "UNCHECKED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The check passed.",
            "The check failed.",
            "The check was not run."
          ]
        },
        "type": {
          "enum": [
            "CHECK_TYPE_UNSPECIFIED",
            "STORE_LISTING_PRIVACY_POLICY_LINK_PRESENT",
            "PRIVACY_POLICY_UPDATE_DATE_RECENT",
            "PRIVACY_POLICY_GDPR_GENERAL_RULES",
            "PRIVACY_POLICY_CCPA_GENERAL_RULES",
            "PRIVACY_POLICY_COLLECTION_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_PROCESSING_PURPOSE_DATA_NOTICE",
            "PRIVACY_POLICY_SHARING_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_DATA_RETENTION_NOTICE",
            "PRIVACY_POLICY_CONTACT_DETAILS_NOTICE",
            "PRIVACY_POLICY_CHILDREN_GENERAL_RULES",
            "PRIVACY_POLICY_DATA_TYPE_PHONE_NUMBER",
            "PRIVACY_POLICY_DATA_TYPE_USER_ACCOUNT_INFO",
            "PRIVACY_POLICY_DATA_TYPE_PRECISE_LOCATION",
            "PRIVACY_POLICY_DATA_TYPE_DEVICE_ID",
            "PRIVACY_POLICY_DATA_TYPE_APPS_ON_DEVICE",
            "PRIVACY_POLICY_DATA_TYPE_CONTACTS",
            "PRIVACY_POLICY_DATA_TYPE_TEXT_MESSAGES",
            "PRIVACY_POLICY_DATA_TYPE_PII",
            "PRIVACY_POLICY_DATA_TYPE_PII_CATEGORIES",
            "PRIVACY_POLICY_DATA_TYPE_HEALTH_AND_BIOMETRIC",
            "PRIVACY_POLICY_BRAZIL_LGPD_GENERAL_RULES",
            "PRIVACY_POLICY_VIRGINIA_VCDPA_GENERAL_RULES",
            "PRIVACY_POLICY_AFFILIATION_MENTION",
            "PRIVACY_POLICY_RIGHT_TO_DELETE_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_ACCESS_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_RECTIFICATION_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SELLING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SHARING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_OPT_OUT_FROM_SELLING_NOTICE",
            "PRIVACY_POLICY_METHOD_TO_OPT_OUT_FROM_SELLING_OR_SHARING_NOTICE",
            "PRIVACY_POLICY_DATA_CONTROLLER_IDENTITY",
            "PRIVACY_POLICY_DPO_CONTACT_DETAILS",
            "PRIVACY_POLICY_RIGHT_TO_LODGE_A_COMPLAINT",
            "PRIVACY_POLICY_LEGAL_BASIS",
            "PRIVACY_POLICY_CHILDREN_INFO_COLLECTION",
            "PRIVACY_POLICY_CHILDREN_INFO_USAGE_PURPOSES",
            "PRIVACY_POLICY_CHILDREN_INFO_DISCLOSURE_PRACTICES",
            "PRIVACY_POLICY_CHILDREN_INFO_PUBLICITY",
            "PRIVACY_POLICY_PARENTS_METHOD_OF_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PSL_APPROXIMATE_LOCATION",
            "PRIVACY_POLICY_PSL_PRECISE_LOCATION",
            "PRIVACY_POLICY_PSL_NAME",
            "PRIVACY_POLICY_PSL_EMAIL_ADDRESS",
            "PRIVACY_POLICY_PSL_USER_IDENTIFIERS",
            "PRIVACY_POLICY_PSL_ADDRESS",
            "PRIVACY_POLICY_PSL_PHONE_NUMBER",
            "PRIVACY_POLICY_PSL_RACE_AND_ETHNICITY",
            "PRIVACY_POLICY_PSL_CREDIT_SCORE",
            "PRIVACY_POLICY_PSL_PURCHASE_HISTORY",
            "PRIVACY_POLICY_PSL_HEALTH_INFO",
            "PRIVACY_POLICY_PSL_FITNESS_INFO",
            "PRIVACY_POLICY_PSL_EMAIL_MESSAGES",
            "PRIVACY_POLICY_PSL_TEXT_MESSAGES",
            "PRIVACY_POLICY_PSL_PHOTOS",
            "PRIVACY_POLICY_PSL_VIDEOS",
            "PRIVACY_POLICY_PSL_MUSIC_FILES",
            "PRIVACY_POLICY_PSL_VOICE_OR_SOUND_RECORDINGS",
            "PRIVACY_POLICY_PSL_FILES_AND_DOCS",
            "PRIVACY_POLICY_PSL_CALENDAR_EVENTS",
            "PRIVACY_POLICY_PSL_CONTACTS",
            "PRIVACY_POLICY_PSL_APP_INTERACTIONS",
            "PRIVACY_POLICY_PSL_IN_APP_SEARCH_HISTORY",
            "PRIVACY_POLICY_PSL_WEB_BROWSING_HISTORY",
            "PRIVACY_POLICY_PSL_INSTALLED_APPS",
            "PRIVACY_POLICY_PSL_CRASH_LOGS",
            "PRIVACY_POLICY_PSL_DIAGNOSTICS",
            "PRIVACY_POLICY_PSL_DEVICE_OR_OTHER_IDS",
            "DATA_MONITORING_NEW_ENDPOINT",
            "DATA_MONITORING_NEW_PERMISSION",
            "DATA_MONITORING_NEW_DATA_TYPE",
            "DATA_MONITORING_NEW_SDK",
            "DATA_MONITORING_ENCRYPTION",
            "DATA_MONITORING_NEW_DATA_TYPE_VERSION_DIFF",
            "DATA_MONITORING_NEW_ENDPOINT_VERSION_DIFF",
            "DATA_MONITORING_NEW_PERMISSION_VERSION_DIFF",
            "DATA_MONITORING_NEW_SDK_VERSION_DIFF",
            "DATA_MONITORING_SDKS_DENYLIST_VIOLATION",
            "DATA_MONITORING_PERMISSIONS_DENYLIST_VIOLATION",
            "DATA_MONITORING_ENDPOINTS_DENYLIST_VIOLATION",
            "DATA_MONITORING_OUTDATED_SDK_VERSION",
            "DATA_MONITORING_CRITICAL_SDK_ISSUE",
            "PRIVACY_POLICY_DATA_TYPE_SENSITIVE_INFO",
            "DATA_MONITORING_PII_LOGCAT_LEAK",
            "DATA_MONITORING_MINIMIZE_PERMISSION_MEDIA",
            "DATA_MONITORING_MINIMIZE_PERMISSION_CAMERA",
            "DATA_MONITORING_MINIMIZE_PERMISSION_DOCUMENTS"
          ],
          "description": "The type of check that was run. A type will only appear once in a report's list of checks.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Checks that your store listing includes a working link to your privacy policy.",
            "Checks that your privacy policy has been updated recently.",
            "Checks if your privacy policy references rights under GDPR for users in the EU.",
            "Checks if your privacy policy references rights under the CCPA.",
            "Checks if your privacy policy mentions the categories of personal data that are collected.",
            "Checks if your privacy policy explains why personal data is processed.",
            "Checks if your privacy policy includes information about third-party sharing of personal data.",
            "Checks if your privacy policy describes your data retention practices.",
            "Checks if contact information is included in your privacy policy.",
            "Checks if information about requirements related to children is included in your privacy policy.",
            "Checks if the Phone Number data type declaration in your privacy policy matches usage.",
            "Checks if the User Account Info data type declaration in your privacy policy matches usage.",
            "Checks if the Precise Location data type declaration in your privacy policy matches usage.",
            "Checks if the Device ID data type declaration in your privacy policy matches usage.",
            "Checks if the Apps on Device data type declaration in your privacy policy matches usage.",
            "Checks if the Contacts data type declaration in your privacy policy matches usage.",
            "Checks if the Text Messages data type declaration in your privacy policy matches usage.",
            "Checks if the PII data type declaration in your privacy policy matches usage.",
            "Checks if the PII Categories data type declaration in your privacy policy matches usage.",
            "Checks if the Health and Biometric data type declaration in your privacy policy matches usage.",
            "Checks if your privacy policy references rights under LGPD for users in Brazil.",
            "Checks if your privacy policy references rights under VCDPA for users in Virginia.",
            "Checks if your privacy policy identifies your company or app name(s).",
            "Checks if your privacy policy mentions your users' right to delete their data.",
            "Checks if your privacy policy mentions your users' right to access the data held about them.",
            "Checks if your privacy policy mentions your users' right to correct inaccuracies within their data.",
            "Checks if your privacy policy mentions your users' right to know about information selling.",
            "Checks if your privacy policy mentions your users' right to know about information sharing.",
            "Checks if your privacy policy mentions your users' right to opt out from information selling.",
            "Checks if your privacy policy explains how your users opt out from the selling or sharing of their data.",
            "Checks if your privacy policy provides the name and contact information for your data controller.",
            "Checks if your privacy policy provides the name and contact information for your Data Protection Officer.",
            "Checks if your privacy policy mentions your users' right to lodge a complaint with a supervisory authority.",
            "Checks if your privacy policy mentions the legal basis you rely on for processing your users' data.",
            "Checks if your privacy policy mentions what personal information is collected from children.",
            "Checks if your privacy policy mentions why you collect personal information from children.",
            "Checks if your privacy policy mentions what personal information from children is shared with third parties.",
            "Checks if your privacy policy mentions whether your app allows children to make their personal information publicly available.",
            "Checks if your privacy policy mentions how parents/caregivers/guardians can request the deletion of their child's personal information.",
            "Checks if your privacy policy mentions how parents/caregivers/guardians can review their child's personal information.",
            "Checks if your privacy policy explains how a parent/caregiver/guardian can stop the collection/use from their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to request the deletion of their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to review their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to stop collection/use from their child's personal information.",
            "Checks if your privacy policy mentions collection of your users' approximate location if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' precise location if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' personal names if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' email addresses if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' user IDs if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' physical addresses if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' phone numbers if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' race or ethnicity if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' credit score if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' purchase history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' health info if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' fitness info if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' emails if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' text messages if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' photos if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' videos if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' music files if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' voice or sound recordings if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' files or documents if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' calendar events if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' contacts if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' app interactions if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' in-app search history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' web browsing history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' installed apps if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' crash logs if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' performance diagnostics if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' device or other IDs if this data type is declared in your Play Data Safety Section.",
            "Checks if there is a new endpoint we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the endpoint is not detected in the current report.",
            "Checks if there is a new permission we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the permission is not detected in the current report.",
            "Checks if there is a new data type we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the data type is not detected in the current report.",
            "Checks if there is a new SDK we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the SDK is not detected in the current report.",
            "Checks if there is any endpoint contacted using HTTP protocol instead of HTTPS. If no protocol is found in the URL, the endpoint is not considered for analysis.",
            "Checks if new data types have been detected since a specific app version.",
            "Checks if new endpoints have been detected since a specific app version.",
            "Checks if new permissions have been detected since a specific app version.",
            "Checks if new SDKs have been detected since a specific app version.",
            "Checks if any SDKs were detected that are specified in the denylist.",
            "Checks if any permissions were detected that are specified in the denylist.",
            "Checks if any endpoints were detected that are specified in the denylist.",
            "Checks if there are any outdated SDKs.",
            "Checks if there are any SDKs with critical issues.",
            "Checks if the Sensitive Information data type declaration matches usage.",
            "Checks if there were any PII leaked to device logs.",
            "Checks if there are media (photo and video) permissions that are considered sensitive and should be minimized for Android.",
            "Checks if there are camera use permissions that are considered sensitive and should be minimized for Android.",
            "Checks if there are documents and file permissions that are considered sensitive and should be minimized for Android."
          ]
        },
        "citations": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckCitation"
          },
          "type": "array",
          "description": "Regulations and policies that serve as the legal basis for the check."
        },
        "stateMetadata": {
          "$ref": "GoogleChecksReportV1alphaCheckStateMetadata",
          "description": "Additional information about the check state in relation to past reports."
        },
        "regionCodes": {
          "type": "array",
          "description": "Regions that are impacted by the check. For more info, see https://google.aip.dev/143#countries-and-regions.",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enum": [
            "CHECK_SEVERITY_UNSPECIFIED",
            "PRIORITY",
            "POTENTIAL",
            "OPPORTUNITY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Important privacy issue.",
            "Potential privacy issue.",
            "Opportunity to improve privacy coverage."
          ],
          "type": "string",
          "description": "The urgency or risk level of the check."
        },
        "evidence": {
          "description": "Evidence that substantiates the check result.",
          "$ref": "GoogleChecksReportV1alphaCheckEvidence"
        }
      }
    },
    "GoogleChecksReportV1alphaPolicyFragment": {
      "description": "Information about a policy fragment.",
      "type": "object",
      "properties": {
        "sourceUri": {
          "description": "Policy URL.",
          "type": "string"
        },
        "htmlContent": {
          "description": "HTML content.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaPolicyFragment"
    },
    "GoogleChecksReportV1alphaReport": {
      "properties": {
        "checks": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheck"
          },
          "description": "List of checks that were run on the app bundle.",
          "type": "array"
        },
        "appBundle": {
          "$ref": "GoogleChecksReportV1alphaAppBundle",
          "description": "Information about the analyzed app bundle."
        },
        "dataMonitoring": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoring",
          "description": "Information related to data monitoring."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the report."
        },
        "resultsUri": {
          "description": "A URL to view results.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaReport",
      "description": "Privacy report.",
      "type": "object"
    },
    "GoogleChecksRepoScanV1alphaPullRequest": {
      "type": "object",
      "description": "Pull request info.",
      "properties": {
        "prNumber": {
          "description": "Required. This can be supplied by the user or parsed automatically from predefined CI environment variables.",
          "type": "string"
        },
        "baseBranch": {
          "description": "Required. For PR analysis, we compare against the most recent scan of the base branch to highlight new issues.",
          "type": "string"
        }
      },
      "id": "GoogleChecksRepoScanV1alphaPullRequest"
    },
    "GoogleChecksReportV1alphaCheckPermissionEvidence": {
      "id": "GoogleChecksReportV1alphaCheckPermissionEvidence",
      "description": "Evidence concerning a permission that was found in your app.",
      "properties": {
        "permission": {
          "description": "The permission that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "type": "object"
    },
    "GoogleChecksAccountV1alphaListAppsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apps": {
          "description": "The apps.",
          "items": {
            "$ref": "GoogleChecksAccountV1alphaApp"
          },
          "type": "array"
        }
      },
      "description": "The response message for AccountService.ListApps.",
      "type": "object",
      "id": "GoogleChecksAccountV1alphaListAppsResponse"
    },
    "GoogleChecksReportV1alphaDataMonitoringDataTypeResult": {
      "properties": {
        "dataTypeEvidence": {
          "description": "Evidence collected about the data type.",
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "description": "The data type that was shared or collected by your app."
        },
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        }
      },
      "description": "Information about a data type that was found in your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult",
      "type": "object"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig": {
      "description": "List of policies to classify against.",
      "type": "object",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig",
      "properties": {
        "threshold": {
          "type": "number",
          "description": "Optional. Score threshold to use when deciding if the content is violative or non-violative. If not specified, the default 0.5 threshold for the policy will be used.",
          "format": "float"
        },
        "policyType": {
          "description": "Required. Type of the policy.",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "PII_SOLICITING_RECITING",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "MEDICAL_INFO",
            "VIOLENCE_AND_GORE",
            "OBSCENITY_AND_PROFANITY"
          ],
          "enumDescriptions": [
            "Default.",
            "The model facilitates, promotes or enables access to harmful goods, services, and activities.",
            "The model reveals an individual’s personal information and data.",
            "The model generates content that is malicious, intimidating, bullying, or abusive towards another individual.",
            "The model generates content that is sexually explicit in nature.",
            "The model promotes violence, hatred, discrimination on the basis of race, religion, etc.",
            "The model provides or offers to facilitate access to medical advice or guidance.",
            "The model generates content that contains gratuitous, realistic descriptions of violence or gore.",
            "The model generates profanity and obscenities."
          ],
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringSdkResult": {
      "description": "Information about an SDK that was found in your app.",
      "type": "object",
      "id": "GoogleChecksReportV1alphaDataMonitoringSdkResult",
      "properties": {
        "sdk": {
          "description": "The SDK that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        },
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        }
      }
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequest": {
      "description": "Request proto for ClassifyContent RPC.",
      "type": "object",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequest",
      "properties": {
        "policies": {
          "items": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig"
          },
          "description": "Required. List of policies to classify against.",
          "type": "array"
        },
        "input": {
          "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent",
          "description": "Required. Content to be classified."
        },
        "classifierVersion": {
          "enumDescriptions": [
            "Unspecified version.",
            "Stable version.",
            "Latest version."
          ],
          "enum": [
            "CLASSIFIER_VERSION_UNSPECIFIED",
            "STABLE",
            "LATEST"
          ],
          "description": "Optional. Version of the classifier to use. If not specified, the latest version will be used.",
          "type": "string"
        },
        "context": {
          "description": "Optional. Context about the input that will be used to help on the classification.",
          "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestContext"
        }
      }
    },
    "GoogleChecksAccountV1alphaApp": {
      "properties": {
        "title": {
          "description": "The app's title.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the app. Example: `accounts/123/apps/456`"
        }
      },
      "id": "GoogleChecksAccountV1alphaApp",
      "type": "object",
      "description": "Represents an app in Checks."
    },
    "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence": {
      "description": "Evidence based on information from the privacy policy.",
      "id": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence",
      "type": "object",
      "properties": {
        "policyFragment": {
          "$ref": "GoogleChecksReportV1alphaPolicyFragment",
          "description": "The privacy policy fragment that implies collection of the data type."
        }
      }
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails": {
      "description": "Details of the endpoint the data type was sent to.",
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails",
      "type": "object",
      "properties": {
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "Endpoint the data type was sent to."
        }
      }
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidence": {
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidence",
      "type": "object",
      "description": "Evidence based on an endpoint that data was sent to.",
      "properties": {
        "attributedSdks": {
          "type": "array",
          "description": "Set of SDKs that are attributed to the exfiltration.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk"
          }
        },
        "exfiltratedDataType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The user's phone number.",
            "The user's precise location.",
            "Name of one or more contacts from the user's phone.",
            "Email of one or more contacts from the user's phone.",
            "Phone number of one or more contacts from the user's phone.",
            "Phone number of an incoming text message.",
            "Content of an incoming text message.",
            "Phone number of an outgoing text message.",
            "Content of an outgoing text message.",
            "Advertising ID.",
            "Android ID.",
            "IMEI.",
            "IMSI.",
            "Sim serial number.",
            "SSID: Service Set IDentifier, i.e. the network's name.",
            "Information about the main account of the device.",
            "Information about an external account, e.g. Facebook, Twitter.",
            "One or more of the package names of apps on the device."
          ],
          "enum": [
            "EXFILTRATED_DATA_TYPE_UNSPECIFIED",
            "EXFILTRATED_DATA_TYPE_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_PRECISE_LOCATION",
            "EXFILTRATED_DATA_TYPE_CONTACT_NAME",
            "EXFILTRATED_DATA_TYPE_CONTACT_EMAIL",
            "EXFILTRATED_DATA_TYPE_CONTACT_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_ADVERTISING_ID",
            "EXFILTRATED_DATA_TYPE_ANDROID_ID",
            "EXFILTRATED_DATA_TYPE_IMEI",
            "EXFILTRATED_DATA_TYPE_IMSI",
            "EXFILTRATED_DATA_TYPE_SIM_SERIAL_NUMBER",
            "EXFILTRATED_DATA_TYPE_SSID",
            "EXFILTRATED_DATA_TYPE_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_EXTERNAL_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_INSTALLED_PACKAGES"
          ],
          "description": "Type of data that was exfiltrated."
        },
        "endpointDetails": {
          "description": "Endpoints the data type was sent to.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails"
          },
          "type": "array"
        }
      }
    },
    "GoogleChecksRepoScanV1alphaScmMetadata": {
      "description": "SCM metadata.",
      "id": "GoogleChecksRepoScanV1alphaScmMetadata",
      "type": "object",
      "properties": {
        "pullRequest": {
          "description": "Optional. Contains info about the associated pull request. This is only populated for pull request scans.",
          "$ref": "GoogleChecksRepoScanV1alphaPullRequest"
        },
        "branch": {
          "description": "Required. Branch name.",
          "type": "string"
        },
        "revisionId": {
          "description": "Required. Revision ID, e.g. Git commit hash.",
          "type": "string"
        },
        "remoteUri": {
          "description": "Required. Git remote URL.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckSdkIssueEvidence": {
      "properties": {
        "sdk": {
          "description": "The SDK with an issue.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        },
        "sdkVersion": {
          "type": "string",
          "description": "The SDK version."
        }
      },
      "description": "Evidence concerning an SDK issue.",
      "id": "GoogleChecksReportV1alphaCheckSdkIssueEvidence",
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataMonitoringEndpointResult": {
      "id": "GoogleChecksReportV1alphaDataMonitoringEndpointResult",
      "description": "Information about an endpoint that was contacted by your app.",
      "properties": {
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        },
        "hitCount": {
          "description": "The number of times this endpoint was contacted by your app.",
          "type": "integer",
          "format": "int32"
        },
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint that was contacted by your app."
        }
      },
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk": {
      "properties": {
        "sdk": {
          "description": "SDK that is attributed to the exfiltration.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk",
      "description": "Details of SDK that is attributed to the exfiltration."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestContext": {
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestContext",
      "description": "Context about the input that will be used to help on the classification.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Optional. Prompt that generated the model response.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaEndpoint": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain name (e.g. ads.google.com)."
        }
      },
      "description": "Information about an endpoint.",
      "id": "GoogleChecksReportV1alphaEndpoint"
    },
    "GoogleChecksReportV1alphaDataTypeEvidence": {
      "type": "object",
      "id": "GoogleChecksReportV1alphaDataTypeEvidence",
      "properties": {
        "endpoints": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidence"
          },
          "type": "array",
          "description": "List of endpoints the data type was sent to."
        },
        "permissions": {
          "description": "List of included permissions that imply collection of the data type.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePermissionEvidence"
          },
          "type": "array"
        },
        "privacyPolicyTexts": {
          "description": "List of privacy policy texts that imply collection of the data type.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence"
          },
          "type": "array"
        }
      },
      "description": "Evidence collected about a data type."
    },
    "GoogleChecksRepoScanV1alphaListRepoScansResponse": {
      "type": "object",
      "properties": {
        "repoScans": {
          "description": "The repo scans for the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaRepoScan"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleChecksRepoScanV1alphaListRepoScansResponse",
      "description": "The response message for RepoScanService.ListRepoScans."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckSdkEvidence": {
      "id": "GoogleChecksReportV1alphaCheckSdkEvidence",
      "description": "Evidence conerning an SDK that was found in your app.",
      "type": "object",
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "The SDK that was found in your app."
        }
      }
    },
    "GoogleChecksAisafetyV1alphaClassifyContentResponse": {
      "type": "object",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentResponse",
      "properties": {
        "policyResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult"
          },
          "description": "Results of the classification for each policy."
        }
      },
      "description": "Response proto for ClassifyContent RPC."
    },
    "GoogleChecksRepoScanV1alphaSourceCode": {
      "description": "Contains source code from a repo.",
      "properties": {
        "endLine": {
          "description": "Required. End line number (1-based).",
          "type": "integer",
          "format": "int32"
        },
        "code": {
          "type": "string",
          "description": "Required. Source code."
        },
        "path": {
          "type": "string",
          "description": "Required. Path of the file."
        },
        "startLine": {
          "type": "integer",
          "description": "Required. Start line number (1-based).",
          "format": "int32"
        }
      },
      "id": "GoogleChecksRepoScanV1alphaSourceCode",
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails": {
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails",
      "properties": {
        "sdk": {
          "description": "The SDK in violation.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "description": "Details of the SDK in violation."
    },
    "GoogleChecksReportV1alphaDataMonitoring": {
      "type": "object",
      "description": "Represents the data monitoring section of the report.",
      "id": "GoogleChecksReportV1alphaDataMonitoring",
      "properties": {
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringEndpointResult"
          },
          "description": "Endpoints that were found by dynamic analysis of your app."
        },
        "sdks": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringSdkResult"
          },
          "description": "SDKs that your app uses.",
          "type": "array"
        },
        "permissions": {
          "description": "Permissions that your app uses.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringPermissionResult"
          }
        },
        "dataTypes": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult"
          },
          "type": "array",
          "description": "Data types that your app shares or collects."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckStateMetadata": {
      "type": "object",
      "properties": {
        "firstFailingTime": {
          "description": "The time when the check first started failing.",
          "type": "string",
          "format": "google-datetime"
        },
        "badges": {
          "description": "Indicators related to the check state.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "The check is newly failing, i.e. now failing but previously passing.",
              "The check is currently failing and first started failing continuously within the last 28 days.",
              "The check is newly passing, i.e. now passing but previously failing."
            ],
            "enum": [
              "CHECK_STATE_BADGE_UNSPECIFIED",
              "NEWLY_FAILING",
              "RECENTLY_FAILING",
              "RESOLVED"
            ]
          }
        },
        "lastFailingTime": {
          "description": "The last time the check failed.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Additional information about the check state in relation to past reports.",
      "id": "GoogleChecksReportV1alphaCheckStateMetadata"
    },
    "GoogleChecksRepoScanV1alphaSource": {
      "properties": {
        "dataType": {
          "type": "string",
          "description": "Required. Data type.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ]
        },
        "falsePositive": {
          "type": "boolean",
          "description": "Optional. Whether the finding was marked as a false positive."
        },
        "codeAttribution": {
          "description": "Optional. Source code attribution for the finding.",
          "$ref": "GoogleChecksRepoScanV1alphaCodeAttribution"
        }
      },
      "id": "GoogleChecksRepoScanV1alphaSource",
      "type": "object",
      "description": "Represents a data source finding."
    },
    "GoogleChecksRepoScanV1alphaCliAnalysis": {
      "description": "The results of a Code Compliance CLI analysis.",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaSource"
          },
          "description": "Optional. Data sources detected in the scan.",
          "type": "array"
        },
        "codeScans": {
          "description": "Optional. Requested code scans resulting from preliminary CLI analysis.",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaCodeScan"
          },
          "type": "array"
        }
      },
      "id": "GoogleChecksRepoScanV1alphaCliAnalysis"
    },
    "GoogleChecksAisafetyV1alphaTextInput": {
      "id": "GoogleChecksAisafetyV1alphaTextInput",
      "properties": {
        "content": {
          "description": "Actual piece of text to be classified.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. Language of the text in ISO 639-1 format. If the language is invalid or not specified, the system will try to detect it."
        }
      },
      "type": "object",
      "description": "Text input to be classified."
    },
    "GoogleChecksReportV1alphaCheckEndpointEvidence": {
      "properties": {
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint that was contacted by your app."
        }
      },
      "id": "GoogleChecksReportV1alphaCheckEndpointEvidence",
      "type": "object",
      "description": "Evidence concerning an endpoint that was contacted by your app."
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails": {
      "description": "Details of the permission in violation.",
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails",
      "properties": {
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "The permission in violation."
        }
      },
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence": {
      "properties": {
        "policyFragment": {
          "description": "The privacy policy fragment that was used during the check.",
          "$ref": "GoogleChecksReportV1alphaPolicyFragment"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence",
      "type": "object",
      "description": "Evidence collected from your privacy policy(s)."
    },
    "GoogleChecksReportV1alphaDataMonitoringResultMetadata": {
      "type": "object",
      "properties": {
        "badges": {
          "type": "array",
          "description": "Badges that apply to this result.",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Indicates a newly detected result in the data monitoring report."
            ],
            "enum": [
              "DATA_MONITORING_RESULT_BADGE_UNSPECIFIED",
              "NEW"
            ],
            "type": "string"
          }
        },
        "lastDetectedTime": {
          "type": "string",
          "description": "The timestamp when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "format": "google-datetime"
        },
        "firstDetectedTime": {
          "description": "The timestamp when this result was first detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastDetectedAppVersion": {
          "description": "Your app's version name when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
      "description": "Information about a data monitoring result."
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails": {
      "properties": {
        "endpoint": {
          "description": "The endpoint in violation.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        }
      },
      "description": "Details of the endpoint in violation.",
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails",
      "type": "object"
    }
  },
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "Operation"
          },
          "supportsMediaUpload": true,
          "path": "v1alpha/{+parent}/reports:analyzeUpload",
          "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports:analyzeUpload",
          "id": "checks.media.upload",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleChecksReportV1alphaAnalyzeUploadRequest"
          },
          "mediaUpload": {
            "maxSize": "10737418240",
            "protocols": {
              "simple": {
                "path": "/upload/v1alpha/{+parent}/reports:analyzeUpload",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`",
              "required": true,
              "pattern": "^accounts/[^/]+/apps/[^/]+$",
              "type": "string"
            }
          },
          "description": "Analyzes the uploaded app bundle and returns a google.longrunning.Operation containing the generated Report. ## Example (upload only) Send a regular POST request with the header `X-Goog-Upload-Protocol: raw`. ``` POST https://checks.googleapis.com/upload/v1alpha/{parent=accounts/*/apps/*}/reports:analyzeUpload HTTP/1.1 X-Goog-Upload-Protocol: raw Content-Length: Content-Type: application/octet-stream ``` ## Example (upload with metadata) Send a multipart POST request where the first body part contains the metadata JSON and the second body part contains the binary upload. Include the header `X-Goog-Upload-Protocol: multipart`. ``` POST https://checks.googleapis.com/upload/v1alpha/{parent=accounts/*/apps/*}/reports:analyzeUpload HTTP/1.1 X-Goog-Upload-Protocol: multipart Content-Length: ? Content-Type: multipart/related; boundary=BOUNDARY --BOUNDARY Content-Type: application/json {\"code_reference_id\":\"db5bcc20f94055fb5bc08cbb9b0e7a5530308786\"} --BOUNDARY --BOUNDARY-- ``` *Note:* Metadata-only requests are not supported. "
        }
      }
    },
    "accounts": {
      "resources": {
        "repos": {
          "resources": {
            "scans": {
              "methods": {
                "generate": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/repos/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the repo. Example: `accounts/123/repos/456`",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChecksRepoScanV1alphaGenerateScanRequest"
                  },
                  "path": "v1alpha/{+parent}/scans:generate",
                  "id": "checks.accounts.repos.scans.generate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Uploads the results of local Code Compliance analysis and generates a scan of privacy issues. Returns a google.longrunning.Operation containing analysis and findings.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/repos/{reposId}/scans:generate"
                },
                "list": {
                  "flatPath": "v1alpha/accounts/{accountsId}/repos/{reposId}/scans",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChecksRepoScanV1alphaListRepoScansResponse"
                  },
                  "path": "v1alpha/{+parent}/scans",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/repos/[^/]+$",
                      "required": true,
                      "type": "string",
[...]
