{
  "documentationLink": "https://developers.google.com/checks",
  "title": "Checks API",
  "ownerName": "Google",
  "basePath": "",
  "servicePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "checks:v1alpha",
  "canonicalName": "Checks Service",
  "mtlsRootUrl": "https://checks.mtls.googleapis.com/",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1alpha/{+parent}/reports:analyzeUpload"
              }
            },
            "maxSize": "10737418240",
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports:analyzeUpload",
          "path": "v1alpha/{+parent}/reports:analyzeUpload",
          "id": "checks.media.upload",
          "parameters": {
            "parent": {
              "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+/apps/[^/]+$",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleChecksReportV1alphaAnalyzeUploadRequest"
          },
          "httpMethod": "POST",
          "description": "Analyzes the uploaded app bundle and returns a google.longrunning.Operation containing the generated Report. ## Example (upload only) Send a regular POST request with the header `X-Goog-Upload-Protocol: raw`. ``` POST https://checks.googleapis.com/upload/v1alpha/{parent=accounts/*/apps/*}/reports:analyzeUpload HTTP/1.1 X-Goog-Upload-Protocol: raw Content-Length: Content-Type: application/octet-stream ``` ## Example (upload with metadata) Send a multipart POST request where the first body part contains the metadata JSON and the second body part contains the binary upload. Include the header `X-Goog-Upload-Protocol: multipart`. ``` POST https://checks.googleapis.com/upload/v1alpha/{parent=accounts/*/apps/*}/reports:analyzeUpload HTTP/1.1 X-Goog-Upload-Protocol: multipart Content-Length: ? Content-Type: multipart/related; boundary=BOUNDARY --BOUNDARY Content-Type: application/json {\"code_reference_id\":\"db5bcc20f94055fb5bc08cbb9b0e7a5530308786\"} --BOUNDARY --BOUNDARY-- ``` *Note:* Metadata-only requests are not supported. ",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "aisafety": {
      "methods": {
        "classifyContent": {
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequest"
          },
          "response": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentResponse"
          },
          "path": "v1alpha/aisafety:classifyContent",
          "id": "checks.aisafety.classifyContent",
          "description": "Analyze a piece of content with the provided set of policies.",
          "flatPath": "v1alpha/aisafety:classifyContent",
          "httpMethod": "POST"
        }
      }
    },
    "accounts": {
      "resources": {
        "repos": {
          "resources": {
            "scans": {
              "methods": {
                "generate": {
                  "path": "v1alpha/{+parent}/scans:generate",
                  "request": {
                    "$ref": "GoogleChecksRepoScanV1alphaGenerateScanRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "checks.accounts.repos.scans.generate",
                  "description": "Uploads the results of local Code Compliance analysis and generates a scan of privacy issues. Returns a google.longrunning.Operation containing analysis and findings.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the repo. Example: `accounts/123/repos/456`",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/repos/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/repos/{reposId}/scans:generate"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "checks.accounts.repos.scans.list",
                  "flatPath": "v1alpha/accounts/{accountsId}/repos/{reposId}/scans",
                  "description": "Lists repo scans for the specified repo.",
                  "response": {
                    "$ref": "GoogleChecksRepoScanV1alphaListRepoScansResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter repo scans. Example: `scmMetadata.branch = main`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of repo scans to return. If unspecified, at most 10 repo scans will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the repo. Example: `accounts/123/repos/456`",
                      "pattern": "^accounts/[^/]+/repos/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token received from a previous `ListRepoScans` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRepoScans` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+parent}/scans"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleChecksRepoScanV1alphaRepoScan"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/repos/{reposId}/scans/{scansId}",
                  "id": "checks.accounts.repos.scans.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/repos/[^/]+/scans/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the repo scan. Example: `accounts/123/repos/456/scans/789`"
                    }
                  },
                  "description": "Gets a repo scan. By default, only the name and results_uri fields are returned. You can include other fields by listing them in the `fields` URL query parameter. For example, `?fields=name,sources` will return the name and sources fields."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "checks.accounts.repos.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/repos/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/repos/{reposId}/operations/{operationsId}"
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleChecksAccountV1alphaListAppsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent account. Example: `accounts/123`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return. The server may further constrain the maximum number of results returned in a single page. If unspecified, the server will decide the number of results to be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token received from a previous `ListApps` call. Provide this to retrieve the subsequent page."
                }
              },
              "path": "v1alpha/{+parent}/apps",
              "flatPath": "v1alpha/accounts/{accountsId}/apps",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the apps under the given account.",
              "id": "checks.accounts.apps.list",
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "GoogleChecksAccountV1alphaApp"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "description": "Gets an app.",
              "httpMethod": "GET",
              "id": "checks.accounts.apps.get"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "path": "v1alpha/{+name}:wait",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "checks.accounts.apps.operations.wait"
                },
                "delete": {
                  "id": "checks.accounts.apps.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}/operations",
                  "id": "checks.accounts.apps.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^accounts/[^/]+/apps/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "checks.accounts.apps.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "checks.accounts.apps.operations.get",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}"
                }
              }
            },
            "reports": {
              "methods": {
                "get": {
                  "description": "Gets a report. By default, only the name and results_uri fields are returned. You can include other fields by listing them in the `fields` URL query parameter. For example, `?fields=name,checks` will return the name and checks fields.",
                  "id": "checks.accounts.apps.reports.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the report. Example: `accounts/123/apps/456/reports/789`",
                      "pattern": "^accounts/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "checksFilter": {
                      "type": "string",
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter checks within the report. Only checks that match the filter string are included in the response. Example: `state = FAILED`",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleChecksReportV1alphaReport"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports/{reportsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleChecksReportV1alphaListReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists reports for the specified app. By default, only the name and results_uri fields are returned. You can include other fields by listing them in the `fields` URL query parameter. For example, `?fields=reports(name,checks)` will return the name and checks fields.",
                  "path": "v1alpha/{+parent}/reports",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`"
                    },
                    "checksFilter": {
                      "type": "string",
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter checks within reports. Only checks that match the filter string are included in the response. Example: `state = FAILED`",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter reports. Example: `appBundle.releaseType = PRE_RELEASE`",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token received from a previous `ListReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReports` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of reports to return. If unspecified, at most 10 reports will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "checks.accounts.apps.reports.list",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleChecksReportV1alphaCheckDataTypeEvidence": {
      "properties": {
        "dataTypeEvidence": {
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence",
          "description": "Evidence collected about the data type."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "description": "The data type that was found in your app.",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ]
        }
      },
      "description": "Evidence concerning a data type that was found in your app.",
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
    },
    "GoogleChecksRepoScanV1alphaScmMetadata": {
      "type": "object",
      "properties": {
        "remoteUri": {
          "type": "string",
          "description": "Required. Git remote URL."
        },
        "branch": {
          "type": "string",
          "description": "Required. Branch name."
        },
        "pullRequest": {
          "description": "Optional. Contains info about the associated pull request. This is only populated for pull request scans.",
          "$ref": "GoogleChecksRepoScanV1alphaPullRequest"
        },
        "revisionId": {
          "description": "Required. Revision ID, e.g. Git commit hash.",
          "type": "string"
        }
      },
      "description": "SCM metadata.",
      "id": "GoogleChecksRepoScanV1alphaScmMetadata"
    },
    "GoogleChecksReportV1alphaCheckEndpointEvidence": {
      "description": "Evidence concerning an endpoint that was contacted by your app.",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "The endpoint that was contacted by your app.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckEndpointEvidence"
    },
    "GoogleChecksRepoScanV1alphaSourceCode": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. Source code."
        },
        "endLine": {
          "description": "Required. End line number (1-based).",
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "type": "string",
          "description": "Required. Path of the file."
        },
        "startLine": {
          "type": "integer",
          "description": "Required. Start line number (1-based).",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaSourceCode",
      "description": "Contains source code from a repo."
    },
    "GoogleChecksAccountV1alphaApp": {
      "description": "Represents an app in Checks.",
      "type": "object",
      "id": "GoogleChecksAccountV1alphaApp",
      "properties": {
        "title": {
          "description": "The app's title.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the app. Example: `accounts/123/apps/456`"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckPermissionEvidence": {
      "type": "object",
      "properties": {
        "permission": {
          "description": "The permission that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "description": "Evidence concerning a permission that was found in your app.",
      "id": "GoogleChecksReportV1alphaCheckPermissionEvidence"
    },
    "GoogleChecksRepoScanV1alphaCodeScan": {
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaCodeScan",
      "description": "A requested analysis of source code. Contains the source code and processing state.",
      "properties": {
        "sourceCode": {
          "$ref": "GoogleChecksRepoScanV1alphaSourceCode",
          "description": "Required. Source code to analyze."
        },
        "dataTypeClassifications": {
          "type": "array",
          "description": "Optional. Data type classification requests.",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification"
          }
        }
      }
    },
    "GoogleChecksReportV1alphaAppBundle": {
      "type": "object",
      "description": "Information about the analyzed app bundle.",
      "properties": {
        "releaseType": {
          "type": "string",
          "enum": [
            "APP_BUNDLE_RELEASE_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRE_RELEASE"
          ],
          "description": "Identifies the type of release.",
          "enumDescriptions": [
            "Not specified.",
            "Published production bundle.",
            "Pre-release bundle."
          ]
        },
        "version": {
          "type": "string",
          "description": "The user-visible version of the bundle such as the Android `versionName` or iOS `CFBundleShortVersionString`. For example: \"7.21.1\"."
        },
        "versionId": {
          "description": "The version used throughout the operating system and store to identify the build such as the Android `versionCode` or iOS `CFBundleVersion`.",
          "type": "string"
        },
        "codeReferenceId": {
          "type": "string",
          "description": "Git commit hash or changelist number associated with the release."
        },
        "bundleId": {
          "description": "Unique id of the bundle. For example: \"com.google.Gmail\".",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaAppBundle"
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails": {
      "description": "Details of the SDK in violation.",
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "The SDK in violation."
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig": {
      "type": "object",
      "description": "List of policies to classify against.",
      "properties": {
        "policyType": {
          "type": "string",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "PII_SOLICITING_RECITING",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "MEDICAL_INFO",
            "VIOLENCE_AND_GORE",
            "OBSCENITY_AND_PROFANITY"
          ],
          "enumDescriptions": [
            "Default.",
            "The model facilitates, promotes or enables access to harmful goods, services, and activities.",
            "The model reveals an individual’s personal information and data.",
            "The model generates content that is malicious, intimidating, bullying, or abusive towards another individual.",
            "The model generates content that is sexually explicit in nature.",
            "The model promotes violence, hatred, discrimination on the basis of race, religion, etc.",
            "The model provides or offers to facilitate access to medical advice or guidance.",
            "The model generates content that contains gratuitous, realistic descriptions of violence or gore.",
            "The model generates profanity and obscenities."
          ],
          "description": "Required. Type of the policy."
        },
        "threshold": {
          "description": "Optional. Score threshold to use when deciding if the content is violative or non-violative. If not specified, the default 0.5 threshold for the policy will be used.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig"
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails": {
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails",
      "type": "object",
      "description": "Details of the endpoint the data type was sent to.",
      "properties": {
        "endpoint": {
          "description": "Endpoint the data type was sent to.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence": {
      "properties": {
        "endpointDetails": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails"
          },
          "description": "Endpoints in violation.",
          "type": "array"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence",
      "description": "Evidence collected from endpoint restriction violation analysis.",
      "type": "object"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult": {
      "properties": {
        "violationResult": {
          "description": "Result of the classification for the policy.",
          "type": "string",
          "enum": [
            "VIOLATION_RESULT_UNSPECIFIED",
            "VIOLATIVE",
            "NON_VIOLATIVE",
            "CLASSIFICATION_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified result.",
            "The final score is greater or equal the input score threshold.",
            "The final score is smaller than the input score threshold.",
            "There was an error and the violation result could not be determined."
          ]
        },
        "score": {
          "format": "float",
          "description": "Final score for the results of this policy.",
          "type": "number"
        },
        "policyType": {
          "enumDescriptions": [
            "Default.",
            "The model facilitates, promotes or enables access to harmful goods, services, and activities.",
            "The model reveals an individual’s personal information and data.",
            "The model generates content that is malicious, intimidating, bullying, or abusive towards another individual.",
            "The model generates content that is sexually explicit in nature.",
            "The model promotes violence, hatred, discrimination on the basis of race, religion, etc.",
            "The model provides or offers to facilitate access to medical advice or guidance.",
            "The model generates content that contains gratuitous, realistic descriptions of violence or gore.",
            "The model generates profanity and obscenities."
          ],
          "description": "Type of the policy.",
          "type": "string",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "PII_SOLICITING_RECITING",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "MEDICAL_INFO",
            "VIOLENCE_AND_GORE",
            "OBSCENITY_AND_PROFANITY"
          ]
        }
      },
      "id": "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult",
      "description": "Result for one policy against the corresponding input.",
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataMonitoringDataTypeResult": {
      "type": "object",
      "description": "Information about a data type that was found in your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult",
      "properties": {
        "dataTypeEvidence": {
          "description": "Evidence collected about the data type.",
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence"
        },
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "description": "The data type that was shared or collected by your app."
        }
      }
    },
    "GoogleChecksReportV1alphaReport": {
      "id": "GoogleChecksReportV1alphaReport",
      "type": "object",
      "description": "Privacy report.",
      "properties": {
        "name": {
          "description": "Resource name of the report.",
          "type": "string"
        },
        "resultsUri": {
          "description": "A URL to view results.",
          "type": "string"
        },
        "appBundle": {
          "$ref": "GoogleChecksReportV1alphaAppBundle",
          "description": "Information about the analyzed app bundle."
        },
        "dataMonitoring": {
          "description": "Information related to data monitoring.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoring"
        },
        "checks": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheck"
          },
          "type": "array",
          "description": "List of checks that were run on the app bundle."
        }
      }
    },
    "GoogleChecksAisafetyV1alphaTextInput": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. Language of the text in ISO 639-1 format. If the language is invalid or not specified, the system will try to detect it."
        },
        "content": {
          "description": "Actual piece of text to be classified.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Text input to be classified.",
      "id": "GoogleChecksAisafetyV1alphaTextInput"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidence": {
      "type": "object",
      "properties": {
        "attributedSdks": {
          "description": "Set of SDKs that are attributed to the exfiltration.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk"
          },
          "type": "array"
        },
        "exfiltratedDataType": {
          "type": "string",
          "enum": [
            "EXFILTRATED_DATA_TYPE_UNSPECIFIED",
            "EXFILTRATED_DATA_TYPE_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_PRECISE_LOCATION",
            "EXFILTRATED_DATA_TYPE_CONTACT_NAME",
            "EXFILTRATED_DATA_TYPE_CONTACT_EMAIL",
            "EXFILTRATED_DATA_TYPE_CONTACT_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_ADVERTISING_ID",
            "EXFILTRATED_DATA_TYPE_ANDROID_ID",
            "EXFILTRATED_DATA_TYPE_IMEI",
            "EXFILTRATED_DATA_TYPE_IMSI",
            "EXFILTRATED_DATA_TYPE_SIM_SERIAL_NUMBER",
            "EXFILTRATED_DATA_TYPE_SSID",
            "EXFILTRATED_DATA_TYPE_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_EXTERNAL_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_INSTALLED_PACKAGES"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The user's phone number.",
            "The user's precise location.",
            "Name of one or more contacts from the user's phone.",
            "Email of one or more contacts from the user's phone.",
            "Phone number of one or more contacts from the user's phone.",
            "Phone number of an incoming text message.",
            "Content of an incoming text message.",
            "Phone number of an outgoing text message.",
            "Content of an outgoing text message.",
            "Advertising ID.",
            "Android ID.",
            "IMEI.",
            "IMSI.",
            "Sim serial number.",
            "SSID: Service Set IDentifier, i.e. the network's name.",
            "Information about the main account of the device.",
            "Information about an external account, e.g. Facebook, Twitter.",
            "One or more of the package names of apps on the device."
          ],
          "description": "Type of data that was exfiltrated."
        },
        "endpointDetails": {
          "type": "array",
          "description": "Endpoints the data type was sent to.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails"
          }
        }
      },
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidence",
      "description": "Evidence based on an endpoint that data was sent to."
    },
    "GoogleChecksRepoScanV1alphaRepoScan": {
      "type": "object",
      "properties": {
        "cliVersion": {
          "description": "CLI version.",
          "type": "string"
        },
        "scmMetadata": {
          "$ref": "GoogleChecksRepoScanV1alphaScmMetadata",
          "description": "SCM metadata."
        },
        "name": {
          "description": "Identifier. Resource name of the scan.",
          "type": "string"
        },
        "localScanPath": {
          "description": "Local scan path.",
          "type": "string"
        },
        "sources": {
          "description": "Data sources detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaSource"
          }
        },
        "resultsUri": {
          "type": "string",
          "description": "A URL to view results."
        }
      },
      "id": "GoogleChecksRepoScanV1alphaRepoScan",
      "description": "Repo scan."
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence": {
      "properties": {
        "sdkDetails": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails"
          },
          "type": "array",
          "description": "SDKs in violation."
        }
      },
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence",
      "description": "Evidence collected from SDK restriction violation analysis.",
      "type": "object"
    },
    "GoogleChecksReportV1alphaListReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "reports": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaReport"
          },
          "type": "array",
          "description": "The reports for the specified app."
        }
      },
      "description": "The response message for ReportService.ListReports.",
      "type": "object",
      "id": "GoogleChecksReportV1alphaListReportsResponse"
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence": {
      "description": "Evidence collected from permission restriction violation analysis.",
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence",
      "type": "object",
      "properties": {
        "permissionDetails": {
          "type": "array",
          "description": "Permissions in violation.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails"
          }
        }
      }
    },
    "GoogleChecksRepoScanV1alphaGenerateScanRequest": {
      "properties": {
        "localScanPath": {
          "description": "Required. Local scan path.",
          "type": "string"
        },
        "cliAnalysis": {
          "$ref": "GoogleChecksRepoScanV1alphaCliAnalysis",
          "description": "Required. CLI analysis results."
        },
        "scmMetadata": {
          "$ref": "GoogleChecksRepoScanV1alphaScmMetadata",
          "description": "Required. SCM metadata."
        },
        "cliVersion": {
          "description": "Required. CLI version.",
          "type": "string"
        }
      },
      "description": "The request message for RepoScanService.GenerateScan.",
      "id": "GoogleChecksRepoScanV1alphaGenerateScanRequest",
      "type": "object"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestContext": {
      "description": "Context about the input that will be used to help on the classification.",
      "type": "object",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestContext",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. Prompt that generated the model response."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckSdkEvidence": {
      "properties": {
        "sdk": {
          "description": "The SDK that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckSdkEvidence",
      "description": "Evidence conerning an SDK that was found in your app."
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidence": {
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidence",
      "description": "Evidence concerning data security.",
      "type": "object",
      "properties": {
        "dataInTransitInfo": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo"
          },
          "type": "array",
          "description": "Evidence related to data in transit."
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringResultMetadata": {
      "type": "object",
      "id": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
      "description": "Information about a data monitoring result.",
      "properties": {
        "firstDetectedTime": {
          "type": "string",
          "description": "The timestamp when this result was first detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "format": "google-datetime"
        },
        "lastDetectedAppVersion": {
          "type": "string",
          "description": "Your app's version name when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks."
        },
        "lastDetectedTime": {
          "format": "google-datetime",
          "description": "The timestamp when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "type": "string"
        },
        "badges": {
          "items": {
            "type": "string",
            "enum": [
              "DATA_MONITORING_RESULT_BADGE_UNSPECIFIED",
              "NEW"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Indicates a newly detected result in the data monitoring report."
            ]
          },
          "type": "array",
          "description": "Badges that apply to this result."
        }
      }
    },
    "GoogleChecksReportV1alphaDataTypePermissionEvidence": {
      "type": "object",
      "description": "Evidence based on the inclusion of a permission.",
      "properties": {
        "permission": {
          "description": "Permission declared by your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "id": "GoogleChecksReportV1alphaDataTypePermissionEvidence"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentResponse": {
      "id": "GoogleChecksAisafetyV1alphaClassifyContentResponse",
      "type": "object",
      "description": "Response proto for ClassifyContent RPC.",
      "properties": {
        "policyResults": {
          "description": "Results of the classification for each policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult"
          }
        }
      }
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequest": {
      "type": "object",
      "properties": {
        "classifierVersion": {
          "type": "string",
          "enum": [
            "CLASSIFIER_VERSION_UNSPECIFIED",
            "STABLE",
            "LATEST"
          ],
          "enumDescriptions": [
            "Unspecified version.",
            "Stable version.",
            "Latest version."
          ],
          "description": "Optional. Version of the classifier to use. If not specified, the latest version will be used."
        },
        "policies": {
          "description": "Required. List of policies to classify against.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig"
          }
        },
        "input": {
          "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent",
          "description": "Required. Content to be classified."
        },
        "context": {
          "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestContext",
          "description": "Optional. Context about the input that will be used to help on the classification."
        }
      },
      "description": "Request proto for ClassifyContent RPC.",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequest"
    },
    "GoogleChecksAccountV1alphaListAppsResponse": {
      "type": "object",
      "description": "The response message for AccountService.ListApps.",
      "id": "GoogleChecksAccountV1alphaListAppsResponse",
      "properties": {
        "apps": {
          "description": "The apps.",
          "items": {
            "$ref": "GoogleChecksAccountV1alphaApp"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckSdkIssueEvidence": {
      "id": "GoogleChecksReportV1alphaCheckSdkIssueEvidence",
      "type": "object",
      "description": "Evidence concerning an SDK issue.",
      "properties": {
        "sdk": {
          "description": "The SDK with an issue.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        },
        "sdkVersion": {
          "description": "The SDK version.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaPolicyFragment": {
      "description": "Information about a policy fragment.",
      "properties": {
        "sourceUri": {
          "description": "Policy URL.",
          "type": "string"
        },
        "htmlContent": {
          "type": "string",
          "description": "HTML content."
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaPolicyFragment"
    },
    "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence": {
      "properties": {
        "policyFragment": {
          "$ref": "GoogleChecksReportV1alphaPolicyFragment",
          "description": "The privacy policy fragment that was used during the check."
        }
      },
      "description": "Evidence collected from your privacy policy(s).",
      "id": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence",
      "type": "object"
    },
    "GoogleChecksReportV1alphaPermission": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Permission identifier."
        }
      },
      "description": "Information about a permission.",
      "type": "object",
      "id": "GoogleChecksReportV1alphaPermission"
    },
    "GoogleChecksRepoScanV1alphaSource": {
      "type": "object",
      "description": "Represents a data source finding.",
      "id": "GoogleChecksRepoScanV1alphaSource",
      "properties": {
        "codeAttribution": {
          "description": "Optional. Source code attribution for the finding.",
          "$ref": "GoogleChecksRepoScanV1alphaCodeAttribution"
        },
        "falsePositive": {
          "description": "Optional. Whether the finding was marked as a false positive.",
          "type": "boolean"
        },
        "dataType": {
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "description": "Required. Data type."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleChecksRepoScanV1alphaCliAnalysis": {
      "properties": {
        "sources": {
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaSource"
          },
          "description": "Optional. Data sources detected in the scan.",
          "type": "array"
        },
        "codeScans": {
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaCodeScan"
          },
          "type": "array",
          "description": "Optional. Requested code scans resulting from preliminary CLI analysis."
        }
      },
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaCliAnalysis",
      "description": "The results of a Code Compliance CLI analysis."
    },
    "GoogleChecksReportV1alphaCheckStateMetadata": {
      "id": "GoogleChecksReportV1alphaCheckStateMetadata",
      "type": "object",
      "properties": {
        "firstFailingTime": {
          "format": "google-datetime",
          "description": "The time when the check first started failing.",
          "type": "string"
        },
        "badges": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CHECK_STATE_BADGE_UNSPECIFIED",
              "NEWLY_FAILING",
              "RECENTLY_FAILING",
              "RESOLVED"
            ],
            "enumDescriptions": [
              "Not specified.",
              "The check is newly failing, i.e. now failing but previously passing.",
              "The check is currently failing and first started failing continuously within the last 28 days.",
              "The check is newly passing, i.e. now passing but previously failing."
            ]
          },
          "description": "Indicators related to the check state."
        },
        "lastFailingTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the check failed."
        }
      },
      "description": "Additional information about the check state in relation to past reports."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "GoogleChecksReportV1alphaDataMonitoring": {
      "properties": {
        "dataTypes": {
          "description": "Data types that your app shares or collects.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult"
          },
          "type": "array"
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringPermissionResult"
          },
          "description": "Permissions that your app uses.",
          "type": "array"
        },
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringEndpointResult"
          },
          "description": "Endpoints that were found by dynamic analysis of your app."
        },
        "sdks": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringSdkResult"
          },
          "type": "array",
          "description": "SDKs that your app uses."
        }
      },
      "type": "object",
      "description": "Represents the data monitoring section of the report.",
      "id": "GoogleChecksReportV1alphaDataMonitoring"
    },
    "GoogleChecksReportV1alphaEndpoint": {
      "description": "Information about an endpoint.",
      "id": "GoogleChecksReportV1alphaEndpoint",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain name (e.g. ads.google.com)."
        }
      },
      "type": "object"
    },
    "GoogleChecksRepoScanV1alphaPullRequest": {
      "id": "GoogleChecksRepoScanV1alphaPullRequest",
      "properties": {
        "prNumber": {
          "description": "Required. This can be supplied by the user or parsed automatically from predefined CI environment variables.",
          "type": "string"
        },
        "baseBranch": {
          "type": "string",
          "description": "Required. For PR analysis, we compare against the most recent scan of the base branch to highlight new issues."
        }
      },
      "type": "object",
      "description": "Pull request info."
    },
    "GoogleChecksRepoScanV1alphaCodeAttribution": {
      "type": "object",
      "id": "GoogleChecksRepoScanV1alphaCodeAttribution",
      "description": "Source code attribution.",
      "properties": {
        "codeExcerpt": {
          "description": "Optional. Code excerpt where the source was detected along with surrounding code.",
          "type": "string"
        },
        "startLineNumber": {
          "type": "integer",
          "description": "Optional. Start line number of the code excerpt (1-based).",
          "format": "int32"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Line number (1-based)."
        },
        "path": {
          "description": "Required. Path of the file.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo": {
      "description": "Evidence related to data in transit detected in your app.",
      "properties": {
        "uri": {
          "description": "The URL contacted by your app. This includes the protocol, domain, and URL parameters.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo",
      "type": "object"
    },
    "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification": {
      "properties": {
        "dataType": {
          "description": "Required. Candidate data type.",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ]
        },
        "lineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Line number (1-based)."
        }
      },
      "id": "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification",
      "type": "object",
      "description": "A request to classify data types."
    },
    "GoogleChecksRepoScanV1alphaListRepoScansResponse": {
      "id": "GoogleChecksRepoScanV1alphaListRepoScansResponse",
      "type": "object",
      "description": "The response message for RepoScanService.ListRepoScans.",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "repoScans": {
          "description": "The repo scans for the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaRepoScan"
          }
        }
      }
    },
    "GoogleChecksReportV1alphaCheckEvidence": {
      "properties": {
        "sdks": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkEvidence"
          },
          "type": "array",
          "description": "Evidence concerning SDKs that were found in your app."
        },
        "privacyPolicyTexts": {
          "description": "Evidence collected from your privacy policy(s).",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence"
          }
        },
        "permissions": {
          "description": "Evidence concerning permissions that were found in your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionEvidence"
          }
        },
        "permissionRestrictionViolations": {
          "description": "Evidence collected from permission restriction violation analysis.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence"
          },
          "type": "array"
        },
        "dataTypes": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
          },
          "description": "Evidence concerning data types found in your app.",
          "type": "array"
        },
        "endpointRestrictionViolations": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence"
          },
          "description": "Evidence collected from endpoint restriction violation analysis."
        },
        "dataSecurity": {
          "description": "Evidence concerning data security.",
          "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidence"
        },
        "sdkIssues": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkIssueEvidence"
          },
          "type": "array",
          "description": "Evidence concerning SDK issues."
        },
        "sdkRestrictionViolations": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence"
          },
          "description": "Evidence collected from SDK restriction violation analysis."
        },
        "endpoints": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointEvidence"
          },
          "description": "Evidence concerning endpoints that were contacted by your app.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Evidence for a check.",
      "id": "GoogleChecksReportV1alphaCheckEvidence"
    },
    "GoogleChecksReportV1alphaDataTypeEvidence": {
      "description": "Evidence collected about a data type.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePermissionEvidence"
          },
          "description": "List of included permissions that imply collection of the data type."
        },
        "endpoints": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidence"
          },
          "type": "array",
          "description": "List of endpoints the data type was sent to."
        },
        "privacyPolicyTexts": {
          "description": "List of privacy policy texts that imply collection of the data type.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence"
          }
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaDataTypeEvidence"
    },
    "GoogleChecksReportV1alphaDataMonitoringPermissionResult": {
      "description": "Information about a permission that was found in your app.",
      "type": "object",
      "properties": {
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "The permission that was found in your app."
        },
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        }
      },
      "id": "GoogleChecksReportV1alphaDataMonitoringPermissionResult"
    },
    "GoogleChecksReportV1alphaDataMonitoringEndpointResult": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        },
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint that was contacted by your app."
        },
        "hitCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of times this endpoint was contacted by your app."
        }
      },
      "description": "Information about an endpoint that was contacted by your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringEndpointResult"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent": {
      "description": "Content to be classified.",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent",
      "type": "object",
      "properties": {
        "textInput": {
          "$ref": "GoogleChecksAisafetyV1alphaTextInput",
          "description": "Content in text format."
        }
      }
    },
    "WaitOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.WaitOperation.",
      "id": "WaitOperationRequest",
      "properties": {
        "timeout": {
          "type": "string",
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "format": "google-duration"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckCitation": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Not specified.",
            "Children's Online Privacy Protection Act.",
            "General Data Protection Regulation.",
            "Family Educational Rights and Privacy Act.",
            "The California Online Privacy Protection Act.",
            "California Consumer Privacy Act.",
            "Student Online Personal Information Protection Act.",
            "Lei Geral de Proteção de Dados.",
            "California Consumer Privacy Act.",
            "Virginia Consumer Data Protection Act.",
            "Google Play Policy.",
            "App Store Policy.",
            "Colorado Privacy Act.",
            "Connecticut Data Privacy Act.",
            "Utah Consumer Privacy Act.",
            "Personal Information Protection and Electronic Documents Act.",
            "Alberta (Canada) Personal Information Protection Act.",
            "Quebec: Act Respecting the Protection of Personal Information in the Private Sector.",
            "Quebec Bill 64: An Act to Modernize Legislative Provisions as Regards the Protection of Personal Information.",
            "China Personal Information Protection Law.",
            "South Korea Personal Information Protection Act.",
            "South Africa Protection of Personal Information Act.",
            "Japan Act on the Protection of Personal Information.",
            "India: The Digital Personal Data Protection Act, 2023.",
            "Oregon Consumer Privacy Act.",
            "Texas Data Privacy and Security Act.",
            "Montana Consumer Data Privacy Act."
          ],
          "type": "string",
          "enum": [
            "CITATION_TYPE_UNSPECIFIED",
            "COPPA",
            "GDPR",
            "FERPA",
            "CAL_OPPA",
            "CCPA",
            "SOPIPA",
            "LGPD",
            "CPRA",
            "VCDPA",
            "GOOGLE_PLAY_POLICY",
            "APP_STORE_POLICY",
            "CPA",
            "CTDPA",
            "UCPA",
            "PIPEDA",
            "ALBERTA_PIPA",
            "QUEBEC_ACT",
            "QUEBEC_BILL_64",
            "CHINA_PIPL",
            "SOUTH_KOREA_PIPA",
            "SOUTH_AFRICA_POPIA",
            "JAPAN_APPI",
            "INDIA_DPDPA",
            "OCPA",
            "TDPSA",
            "MCDPA"
          ],
          "description": "Citation type."
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckCitation",
      "description": "Regulation or policy that serves as the legal basis for the check."
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk": {
      "description": "Details of SDK that is attributed to the exfiltration.",
      "type": "object",
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "SDK that is attributed to the exfiltration."
        }
      },
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk"
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails": {
      "description": "Details of the permission in violation.",
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails",
      "type": "object",
      "properties": {
        "permission": {
          "description": "The permission in violation.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      }
    },
    "GoogleChecksReportV1alphaSdk": {
      "id": "GoogleChecksReportV1alphaSdk",
      "properties": {
        "id": {
          "type": "string",
          "description": "SDK identifier."
        }
      },
      "type": "object",
      "description": "Information about an SDK."
    },
    "GoogleChecksReportV1alphaAnalyzeUploadRequest": {
      "description": "The request message for ReportService.AnalyzeUpload.",
      "properties": {
        "codeReferenceId": {
          "type": "string",
          "description": "Optional. Git commit hash or changelist number associated with the upload."
        },
        "appBinaryFileType": {
          "type": "string",
          "enum": [
            "APP_BINARY_FILE_TYPE_UNSPECIFIED",
            "ANDROID_APK",
            "ANDROID_AAB",
            "IOS_IPA"
          ],
          "description": "Optional. The type of the uploaded app binary. If not provided, the server assumes APK file for Android and IPA file for iOS.",
          "enumDescriptions": [
            "Not specified.",
            ".apk file type.",
            ".aab (app bundle) file type.",
            ".ipa file type."
          ]
        }
      },
      "id": "GoogleChecksReportV1alphaAnalyzeUploadRequest",
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataMonitoringSdkResult": {
      "type": "object",
      "properties": {
        "sdk": {
          "description": "The SDK that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        },
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        }
      },
      "id": "GoogleChecksReportV1alphaDataMonitoringSdkResult",
      "description": "Information about an SDK that was found in your app."
    },
    "GoogleChecksReportV1alphaCheck": {
      "id": "GoogleChecksReportV1alphaCheck",
      "properties": {
        "citations": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckCitation"
          },
          "type": "array",
          "description": "Regulations and policies that serve as the legal basis for the check."
        },
        "type": {
          "type": "string",
          "enum": [
            "CHECK_TYPE_UNSPECIFIED",
            "STORE_LISTING_PRIVACY_POLICY_LINK_PRESENT",
            "PRIVACY_POLICY_UPDATE_DATE_RECENT",
            "PRIVACY_POLICY_GDPR_GENERAL_RULES",
            "PRIVACY_POLICY_CCPA_GENERAL_RULES",
            "PRIVACY_POLICY_COLLECTION_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_PROCESSING_PURPOSE_DATA_NOTICE",
            "PRIVACY_POLICY_SHARING_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_DATA_RETENTION_NOTICE",
            "PRIVACY_POLICY_CONTACT_DETAILS_NOTICE",
            "PRIVACY_POLICY_CHILDREN_GENERAL_RULES",
            "PRIVACY_POLICY_DATA_TYPE_PHONE_NUMBER",
            "PRIVACY_POLICY_DATA_TYPE_USER_ACCOUNT_INFO",
            "PRIVACY_POLICY_DATA_TYPE_PRECISE_LOCATION",
            "PRIVACY_POLICY_DATA_TYPE_DEVICE_ID",
            "PRIVACY_POLICY_DATA_TYPE_APPS_ON_DEVICE",
            "PRIVACY_POLICY_DATA_TYPE_CONTACTS",
            "PRIVACY_POLICY_DATA_TYPE_TEXT_MESSAGES",
            "PRIVACY_POLICY_DATA_TYPE_PII",
            "PRIVACY_POLICY_DATA_TYPE_PII_CATEGORIES",
            "PRIVACY_POLICY_DATA_TYPE_HEALTH_AND_BIOMETRIC",
            "PRIVACY_POLICY_BRAZIL_LGPD_GENERAL_RULES",
            "PRIVACY_POLICY_VIRGINIA_VCDPA_GENERAL_RULES",
            "PRIVACY_POLICY_AFFILIATION_MENTION",
            "PRIVACY_POLICY_RIGHT_TO_DELETE_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_ACCESS_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_RECTIFICATION_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SELLING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SHARING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_OPT_OUT_FROM_SELLING_NOTICE",
            "PRIVACY_POLICY_METHOD_TO_OPT_OUT_FROM_SELLING_OR_SHARING_NOTICE",
            "PRIVACY_POLICY_DATA_CONTROLLER_IDENTITY",
            "PRIVACY_POLICY_DPO_CONTACT_DETAILS",
            "PRIVACY_POLICY_RIGHT_TO_LODGE_A_COMPLAINT",
            "PRIVACY_POLICY_LEGAL_BASIS",
            "PRIVACY_POLICY_CHILDREN_INFO_COLLECTION",
            "PRIVACY_POLICY_CHILDREN_INFO_USAGE_PURPOSES",
            "PRIVACY_POLICY_CHILDREN_INFO_DISCLOSURE_PRACTICES",
            "PRIVACY_POLICY_CHILDREN_INFO_PUBLICITY",
            "PRIVACY_POLICY_PARENTS_METHOD_OF_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PSL_APPROXIMATE_LOCATION",
            "PRIVACY_POLICY_PSL_PRECISE_LOCATION",
            "PRIVACY_POLICY_PSL_NAME",
            "PRIVACY_POLICY_PSL_EMAIL_ADDRESS",
            "PRIVACY_POLICY_PSL_USER_IDENTIFIERS",
[...]
