{
  "id": "chromemanagement:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Chrome Management API",
  "basePath": "",
  "name": "chromemanagement",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "canonicalName": "Chrome Management",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "revision": "20261007",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "properties": {
        "temperatureCelsius": {
          "description": "Output only. CPU temperature in Celsius.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "type": "object",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "id": "GoogleChromeManagementV1BatteryInfo",
      "properties": {
        "technology": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Technology of the battery. Example: Li-ion"
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Battery serial number.",
          "readOnly": true
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "designMinVoltage": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Designed minimum output voltage (mV)"
        },
        "designCapacity": {
          "type": "string",
          "description": "Output only. Design capacity (mAmpere-hours).",
          "readOnly": true,
          "format": "int64"
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "properties": {
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ]
        },
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      },
      "type": "object",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "description": "Response containing details of queried installed apps.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "properties": {
        "totalSize": {
          "description": "Total number of installed apps matching request.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "installedApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "description": "List of installed apps matching request."
        }
      }
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse",
      "properties": {
        "insightsState": {
          "description": "The state of the insights feature.",
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ]
        }
      },
      "description": "Response from checking the enablement status of insights for the customer.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The e-mail address of a user that has requested the extension."
        },
        "justification": {
          "type": "string",
          "description": "Request justification as entered by the user."
        }
      },
      "type": "object",
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails"
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "properties": {
        "telemetryUsers": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "description": "Telemetry users returned in the response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "description": "Response message for listing telemetry users for a customer.",
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "properties": {
        "shutdownReason": {
          "type": "string",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "description": "The shutdown reason.",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ]
        },
        "shutdownDuration": {
          "type": "string",
          "description": "Total time since shutdown start to power off.",
          "format": "google-duration"
        },
        "bootUpTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when power came on."
        },
        "shutdownTime": {
          "format": "google-datetime",
          "description": "The timestamp when shutdown.",
          "type": "string"
        },
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime",
          "type": "string"
        },
        "bootUpDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to boot up."
        }
      },
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "type": "object",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations.",
      "properties": {
        "requestedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "type": "array",
          "description": "Count of requested apps matching request."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of matching app requests."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "type": "object",
      "properties": {
        "source": {
          "description": "Output only. Source of the policy.",
          "readOnly": true,
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "type": "string"
        }
      },
      "description": "Information of conflicting policy applied on a Chrome browser profile."
    },
    "GoogleChromeManagementVersionsV1SetFailureRequest": {
      "properties": {
        "errorMessage": {
          "description": "Required. A message describing the failure details. It is displayed on the ChromeOS client device.",
          "type": "string"
        }
      },
      "description": "Request message for marking a certificate provisioning process as failed.",
      "id": "GoogleChromeManagementVersionsV1SetFailureRequest",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "type": "object",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "usbPeripheralReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "type": "array",
          "description": "List of usb devices that were either added or removed."
        }
      }
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device."
        },
        "outputVolume": {
          "description": "Output only. Active output device's volume in [0, 100].",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "outputDevice": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Active output device's name."
        },
        "inputGain": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Active input device's gain in [0, 100]."
        },
        "outputMute": {
          "description": "Output only. Is active output device mute or not.",
          "type": "boolean",
          "readOnly": true
        },
        "inputDevice": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Active input device's name."
        },
        "inputMute": {
          "type": "boolean",
          "description": "Output only. Is active input device mute or not.",
          "readOnly": true
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "description": "Details of an app installation request.",
      "type": "object",
      "properties": {
        "detailUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri for the detail page of the item."
        },
        "requestCount": {
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "appDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppRequest"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "appReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time."
        },
        "deviceActivityReport": {
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          },
          "type": "array"
        },
        "audioStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        },
        "deviceId": {
          "type": "string",
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        },
        "networkBandwidthReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "type": "array",
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time."
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+.",
      "properties": {
        "enterSleepCount": {
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "type": "string",
          "format": "int64"
        },
        "enterPoweroffCount": {
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "format": "int64",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the report was collected."
        },
        "uptimeRuntimeDuration": {
          "format": "google-duration",
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR.",
          "type": "string"
        },
        "enterHibernationCount": {
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 50 characters."
        },
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config."
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters.",
          "type": "string"
        }
      },
      "description": "CrowdStrike Falcon Next Gen connector config."
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeConfig": {
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeConfig",
      "type": "object",
      "description": "CrowdStrike connector config.",
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 50 characters.",
          "type": "string"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters.",
          "type": "string"
        },
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the CrowdStrike config."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
      "description": "App uninstall data.",
      "properties": {
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appUninstallSource": {
          "type": "string",
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ],
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ],
          "description": "App uninstall source."
        },
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app.",
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "properties": {
        "machine": {
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the device that reported this Chrome browser information."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1Device",
      "description": "Describes a device reporting Chrome browser information."
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "properties": {
        "totalMemoryEncryption": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device."
        },
        "totalRamBytes": {
          "description": "Output only. Total RAM in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "availableRamBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Amount of available RAM in bytes."
        }
      },
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "type": "object",
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "description": "Request to MoveThirdPartyProfileUser method."
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "urlVisitsBreakdowns": {
          "description": "The URL visit breakdowns from the specified insight.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown"
          },
          "type": "array"
        }
      },
      "description": "Response message for QueryUrlVisitsBreakdowns.",
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "type": "object",
      "description": "Information of an extension installed on a Chrome browser profile.",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "properties": {
        "extensionType": {
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "readOnly": true,
          "description": "Output only. Type of the extension."
        },
        "isDisabled": {
          "readOnly": true,
          "description": "Output only. Represents whether the user disabled the extension.",
          "type": "boolean"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Permissions requested by the extension.",
          "readOnly": true
        },
        "installationType": {
          "readOnly": true,
          "description": "Output only. Installation type of the extension.",
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ]
        },
        "version": {
          "description": "Output only. Version of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the extension."
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the homepage of the extension."
        },
        "manifestVersion": {
          "description": "Output only. Manifest version of the extension.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "isWebstoreExtension": {
          "readOnly": true,
          "description": "Output only. Represents whether the extension is from the webstore.",
          "type": "boolean"
        },
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the extension."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "description": "External display connected/disconnected event payload.",
      "properties": {
        "externalDisplayData": {
          "description": "List of external displays that were connected/disconnected.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent"
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "properties": {
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        },
        "deviceDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "type": "object",
      "properties": {
        "chromeOsDevice": {
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice"
        },
        "userDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the user.",
          "type": "string",
          "readOnly": true
        },
        "userPrimaryEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary e-mail address of the user."
        }
      },
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to.",
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession"
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "description": "Risk assessment data about an extension/app.",
      "id": "GoogleChromeManagementV1RiskAssessmentData",
      "type": "object",
      "properties": {
        "overallRiskLevel": {
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries."
        },
        "entries": {
          "description": "Individual risk assessments.",
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          },
          "type": "array"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "description": "Configures how the telemetry data should be filtered.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "properties": {
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        },
        "deviceOrgUnitId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit."
        },
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        },
        "telemetryEventNotificationFilter": {
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
          "description": "Only sends notifications for the telemetry events matching this filter."
        },
        "userOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string",
          "readOnly": true
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "type": "string"
        },
        "keylockerSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported."
        },
        "keylockerConfigured": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean"
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "type": "object",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO"
    },
    "GoogleChromeManagementVersionsV1ReportingSettings": {
      "type": "object",
      "properties": {
        "enabledDefaultEvents": {
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All default events.",
              "Browser crash event.",
              "Browser extension install event.",
              "Content transfer event.",
              "Content unscanned event.",
              "Data access control event.",
              "Malware transfer event.",
              "Password changed event.",
              "Password reuse event.",
              "Sensitive data transfer event.",
              "Suspicious URL event.",
              "Unsafe site visit event.",
              "URL filtering interstitial event."
            ],
            "type": "string",
            "enum": [
              "DEFAULT_EVENT_UNSPECIFIED",
              "ALL_DEFAULT_EVENTS",
              "BROWSER_CRASH_EVENT",
              "BROWSER_EXTENSION_INSTALL_EVENT",
              "CONTENT_TRANSFER_EVENT",
              "CONTENT_UNSCANNED_EVENT",
              "DATA_ACCESS_CONTROL_EVENT",
              "MALWARE_TRANSFER_EVENT",
              "PASSWORD_CHANGED_EVENT",
              "PASSWORD_REUSE_EVENT",
              "SENSITIVE_DATA_TRANSFER_EVENT",
              "SUSPICIOUS_URL_EVENT",
              "UNSAFE_SITE_VISIT_EVENT",
              "URL_FILTERING_INTERSTITIAL_EVENT"
            ]
          },
          "description": "Optional. The list of user and browser events that are enabled for this connector. An empty list disables all default events, and using `ALL_DEFAULT_EVENTS` will enable all default events.",
          "type": "array"
        },
        "enabledOptInEvents": {
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All opt-in events.",
              "Login event.",
              "Password breach event.",
              "URL navigation event.",
              "Extension telemetry event."
            ],
            "type": "string",
            "enum": [
              "OPT_IN_EVENT_UNSPECIFIED",
              "ALL_OPT_IN_EVENTS",
              "LOGIN_EVENT",
              "PASSWORD_BREACH_EVENT",
              "URL_NAVIGATION_EVENT",
              "EXTENSION_TELEMETRY_EVENT"
            ]
          },
          "description": "Optional. The list of opt-in events that are enabled for this config. An empty list disables all opt-in events, and using `ALL_OPT_IN_EVENTS` will enable all opt-in events.",
          "type": "array"
        },
        "enabledDeviceEvents": {
          "description": "Optional. The list of device events that are enabled for this config. An empty list disables all device events, and using `ALL_DEVICE_EVENTS` will enable all device events.",
          "items": {
            "type": "string",
            "enum": [
              "DEVICE_EVENT_UNSPECIFIED",
              "ALL_DEVICE_EVENTS",
              "ADD_REMOVE_USER_EVENT",
              "LOGIN_LOGOUT_EVENT",
              "CRD_EVENT",
              "PERIPHERAL_EVENT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All device events.",
              "Add/remove user event.",
              "Login/logout event.",
              "CRD event.",
              "Peripheral event."
            ]
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingSettings",
      "description": "Reporting settings for connector configs."
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for publishing an issued certificate for a certificate provisioning process."
    },
    "GoogleChromeManagementVersionsV1DeviceTrustConfig": {
      "description": "Device trust config for device trust connectors.",
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "BROWSER_ENFORCEMENT_SCOPE_UNSPECIFIED",
            "BROWSERS_ONLY",
            "PROFILES_ONLY",
            "BROWSERS_AND_PROFILES"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Only browsers are enforced.",
            "Only profiles are enforced.",
            "Both browsers and profiles are enforced."
          ],
          "description": "Required. The scope at which this configuration will be applied. Note that this only applies to Chrome browser, as in ChromeOS it's always applied."
        },
        "serviceProvider": {
          "enumDescriptions": [
            "Default value.",
            "Universal device trust connector.",
            "Okta service provider.",
            "Ping Identity service provider.",
            "OneLogin service provider.",
            "Duo service provider.",
            "Zscaler service provider.",
            "Omnissa service provider.",
            "JumpCloud service provider."
          ],
          "type": "string",
          "enum": [
            "SERVICE_PROVIDER_UNSPECIFIED",
            "UNIVERSAL_DEVICE_TRUST",
            "OKTA",
            "PING_IDENTITY",
            "ONELOGIN",
            "DUO",
            "ZSCALER",
            "OMNISSA",
            "JUMPCLOUD"
          ],
          "description": "Optional. The service provider for the device trust connector."
        },
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of email addresses of the service accounts which are allowed to call the Verified Access API with full access."
        },
        "urlMatchers": {
          "description": "Required. List of URLs allowed to be part of the attestation flow to get the set of signals from the machine. URLs must have HTTPS scheme, e.g. \"https://example.com\". Wildcards, *, are allowed. For detailed information on valid URL patterns, please see https://cloud.google.com/docs/chrome-enterprise/policies/url-patterns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleChromeManagementVersionsV1DeviceTrustConfig"
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "type": "object",
      "properties": {
        "appId": {
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\"",
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when report was collected"
        },
        "appVersion": {
          "description": "App version number of kiosk app for example \"1.10.118\"",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1KioskAppStatusReport"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigDetails": {
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigDetails",
      "type": "object",
      "description": "The details of the connector config.",
      "properties": {
        "crowdStrikeConfig": {
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeConfig",
          "description": "CrowdStrike connector config."
        },
        "secureGatewayConfig": {
          "description": "Secure gateway connector config.",
          "$ref": "GoogleChromeManagementVersionsV1SecureGatewayConfig"
        },
        "pubSubXdrConfig": {
          "$ref": "GoogleChromeManagementVersionsV1PubSubXdrConfig",
          "description": "Pub/Sub XDR connector config."
        },
        "splunkConfig": {
          "description": "Splunk connector config.",
          "$ref": "GoogleChromeManagementVersionsV1SplunkConfig"
        },
        "crowdStrikeXdrConfig": {
          "description": "CrowdStrike XDR connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig"
        },
        "pubSubConfig": {
          "description": "Pub/Sub connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PubSubConfig"
        },
        "mipLabelConfig": {
          "$ref": "GoogleChromeManagementVersionsV1MipLabelConfig",
          "description": "MIP label connector config."
        },
        "crowdStrikeFalconNextGenConfig": {
          "description": "CrowdStrike Falcon Next Gen connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig"
        },
        "paloAltoNetworksConfig": {
          "description": "Palo Alto Networks connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig"
        },
        "deviceTrustConfig": {
          "description": "Device trust connector config.",
          "$ref": "GoogleChromeManagementVersionsV1DeviceTrustConfig"
        },
        "googleSecOpsConfig": {
          "description": "Google SecOps connector config.",
          "$ref": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "properties": {
        "resultCode": {
          "description": "Output only. Result code that indicates the type of error or success of the command.",
          "type": "string",
          "readOnly": true
        },
        "clientExecutionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the client execution of the remote command."
        },
        "resultType": {
          "readOnly": true,
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "Represents an unspecified command result.",
            "Represents a command with an ignored result.",
            "Represents a failed command.",
            "Represents a succeeded command."
          ],
          "type": "string",
          "description": "Output only. Result type of the remote command."
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
      "type": "object",
      "description": "Result of the execution of a command."
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "properties": {
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        },
        "deviceCount": {
          "type": "string",
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "format": "int64"
        },
        "jobCount": {
          "type": "string",
          "description": "Number of print jobs initiated by the user.",
          "format": "int64"
        },
        "printerCount": {
          "format": "int64",
          "description": "Number of printers used by the user.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The unique Directory API ID of the user."
        }
      },
      "id": "GoogleChromeManagementV1UserPrintReport",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "type": "object"
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "properties": {
        "state": {
          "description": "State the device changed to",
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ]
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when status changed was detected"
        }
      },
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1HeartbeatStatusReport"
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "description": "Response message for claiming a certificate provisioning process.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1UrlVisitsBreakdown": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown",
      "description": "A URL visits summary for a given breakdown dimension.",
      "properties": {
        "summary": {
          "description": "The summary of URL visits for the breakdown dimension.",
          "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
        },
        "eventDomain": {
          "description": "The event domain of the URL visits.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The user that visited the URL."
        }
      }
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "type": "object",
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "properties": {}
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "httpsLatencyData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "type": "object",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "properties": {
        "appLaunchSource": {
          "description": "App launch source.",
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "type": "string",
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ]
        },
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "type": "string",
          "description": "Type of app."
        }
      },
      "description": "App launch data.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "type": "object",
      "properties": {
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "type": "string",
          "readOnly": true
        },
        "extensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the extension."
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the extension.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Information of the policies applied on an extension."
    },
    "GoogleChromeManagementVersionsV1DeviceInfo": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1DeviceInfo",
      "description": "Information of a device that runs a Chrome browser profile.",
      "properties": {
        "machine": {
          "description": "Output only. Machine name of the device on which the profile exists. On platforms which do not report the machine name (currently iOS and Android) this is instead set to the browser's device_id - but note that this is a different device_id than the |affiliated_device_id|.",
          "type": "string",
          "readOnly": true
        },
        "affiliatedDeviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device ID that identifies the affiliated device on which the profile exists. If the device type is CHROME_BROWSER, then this represents a unique Directory API ID of the device that can be used in Admin SDK Browsers API."
        },
        "deviceType": {
          "readOnly": true,
          "description": "Output only. Type of the device on which the profile exists.",
          "enumDescriptions": [
            "Represents an unspecified device type.",
            "Represents a Chrome browser device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "CHROME_BROWSER"
          ]
        },
        "hostname": {
          "description": "Output only. Hostname of the device on which the profile exists.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1PrintJob": {
      "properties": {
        "colorMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "type": "string",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "description": "Color mode."
        },
        "copyCount": {
          "format": "int32",
          "description": "Number of copies.",
          "type": "integer"
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "documentPageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of pages in the document."
        },
        "completeTime": {
          "description": "Print job completion timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "duplexMode": {
          "description": "Duplex mode.",
          "type": "string",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "state": {
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "description": "The final state of the job."
        },
        "createTime": {
          "description": "Print job creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user who submitted the print job."
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "userId": {
          "type": "string",
          "description": "The unique Directory API ID of the user who submitted the print job."
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1PrintJob",
      "type": "object",
      "description": "Represents a request to print a document that has been submitted to a printer."
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersResponse": {
      "properties": {
        "summaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
          },
          "description": "A collection of summaries for various content transfers metrics."
        }
      },
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse",
      "type": "object",
      "description": "Response message for QueryContentTransfers."
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "description": "Describes a generic certificate provisioning profile.",
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "type": "object",
      "properties": {
        "profileAdapterConfigReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile."
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "properties": {
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "Count of devices with a unique hardware specification.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingData": {
      "id": "GoogleChromeManagementVersionsV1ReportingData",
      "description": "Reporting data of a Chrome browser profile.",
      "properties": {
        "policyData": {
          "description": "Output only. Information of the policies applied on the profile.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "type": "array"
        },
        "profilePath": {
          "type": "string",
          "description": "Output only. Path of the profile. A valid path is included only in affiliated profiles.",
          "readOnly": true
        },
        "installedBrowserVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Updated version of a browser, if it is different from the active browser version."
        },
        "extensionPolicyData": {
          "description": "Output only. Information of the policies applied on the extensions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
          }
        },
        "browserExecutablePath": {
          "readOnly": true,
          "description": "Output only. Executable path of the installed Chrome browser. A valid path is included only in affiliated profiles.",
          "type": "string"
        },
        "extensionData": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information of the extensions installed on the profile.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionData"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "description": "Describes a generic Certificate Authority Connection.",
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection"
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The ID of the organizational unit assigned to the user.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}"
        }
      },
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile.",
      "type": "object"
    },
    "GoogleChromeManagementV1AppUsageData": {
      "description": "App usage data.",
      "type": "object",
      "properties": {
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        },
        "appId": {
          "type": "string",
          "description": "App id."
        },
        "appInstanceId": {
          "type": "string",
          "description": "Application instance id. This will be unique per window/instance."
        },
        "runningDuration": {
          "description": "App foreground running time.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1AppUsageData"
    },
    "GoogleChromeManagementVersionsV1PubSubConfig": {
      "properties": {
        "topicFullPath": {
          "type": "string",
          "description": "Required. The full path to the topic to send the event to. Must be at most 1000 characters."
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Pub/Sub config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1PubSubConfig",
      "description": "Pub/Sub connector config."
    },
    "GoogleChromeManagementVersionsV1EnableInsightsRequest": {
      "id": "GoogleChromeManagementVersionsV1EnableInsightsRequest",
      "description": "Request to enable insights for the customer.",
      "properties": {
        "targetOus": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The Organizational Units to set up required connectors for. Organizational Units are provided as paths relative to root. If this field is not set, connectors will be set up at root OU (as if it were set to [\"/\"]). Example: [\"/corp/sales\", \"/eng\"]",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ContentTransfersBreakdown": {
      "description": "A content transfers summary for a given breakdown dimension.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown",
      "properties": {
        "user": {
          "description": "The user that transferred the content.",
          "type": "string"
        },
        "eventDomain": {
          "description": "The event domain of the content transfers.",
          "type": "string"
        },
        "summary": {
          "description": "The summary of content transfers for the breakdown dimension.",
          "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
        },
        "contentCategory": {
          "description": "The content category of the content transfers.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        },
        "disk": {
          "description": "Output only. Reports on disk.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          }
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse": {
      "type": "object",
      "properties": {
        "connectorConfigs": {
          "description": "The list of connector configs returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to retrieve the next page of the listing request. If the token is empty, there are no more pages to retrieve.",
          "type": "string"
        }
      },
      "description": "Response to ListConnectorConfigs method.",
      "id": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "description": "Response message for listing telemetry events for a customer.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryEvents": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array",
          "description": "Telemetry events returned in the response."
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "description": "Describes an installed app.",
      "properties": {
        "appSource": {
          "description": "Output only. Source of the installed app.",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Name of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "appType": {
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the app.",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ]
        },
        "riskAssessment": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData",
          "description": "Output only. If available, the risk assessment data about this extension."
        },
        "osUserCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "format": "int64"
        },
        "profileCount": {
          "description": "Output only. Count of Chrome Profiles with this app installed.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "permissions": {
          "readOnly": true,
          "description": "Output only. Permissions of the installed app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "browserDeviceCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed.",
          "format": "int64"
        },
        "appInstallType": {
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. How the app was installed.",
          "type": "string",
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ]
        },
        "disabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app is disabled."
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigStatus": {
      "properties": {
        "state": {
          "enum": [
            "CONFIG_STATE_UNKNOWN",
            "ENABLED",
            "DISABLED_BY_FAILURES"
          ],
          "enumDescriptions": [
            "Default value.",
            "The connector config is enabled.",
            "The connector config is transiently disabled due to failures."
          ],
          "description": "Output only. The state of the connector config. The connector state is disabled if the connector has not successfully sent an event in the last 24 hours.",
          "readOnly": true,
          "type": "string"
        },
        "failureStartTime": {
          "description": "Output only. Field recording time of the earliest failure since the last success event. This field is only set when the state is `DISABLED_BY_FAILURES`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Field recording time of most recent modification of the status. For `ENABLED`, this is the time the status was changed to `ENABLED`. For `DISABLED_BY_FAILURES`, this is the time of the most recent failed attempt to send an event to this config.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
      "description": "The status of the connector config.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "properties": {
        "chromeBrowserProfileCommands": {
          "description": "The list of commands returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          }
        },
        "totalSize": {
          "format": "int64",
          "type": "string",
          "description": "Total size represents an estimated number of resources returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token that can be used to list the next page."
        }
      },
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "properties": {
        "cpuInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "type": "array",
          "description": "Output only. Information regarding CPU specs for the device.",
          "readOnly": true
        },
        "networkInfo": {
          "description": "Output only. Network devices information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1NetworkInfo"
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "readOnly": true
        },
        "thunderboltInfo": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information on Thunderbolt bus.",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          }
        },
        "runtimeCountersReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          },
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states",
          "readOnly": true,
          "type": "array"
        },
        "customer": {
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "type": "string",
          "readOnly": true
        },
        "heartbeatStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          },
          "type": "array",
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "readOnly": true
        },
        "memoryStatusReport": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time."
        },
        "cpuStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time."
        },
        "memoryInfo": {
          "readOnly": true,
          "description": "Output only. Information regarding memory specs for the device.",
          "$ref": "GoogleChromeManagementV1MemoryInfo"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the device.",
          "type": "string"
        },
        "networkStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "description": "Output only. Network specs collected periodically.",
          "type": "array"
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization unit ID of the device."
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "type": "array",
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "graphicsStatusReport": {
          "description": "Output only. Graphics reports collected periodically.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "type": "array"
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "batteryStatusReport": {
          "items": {
[...]
