{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        }
      }
    }
  },
  "title": "Chrome Management API",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleChromeManagementV1AndroidAppInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "properties": {
        "permissions": {
          "description": "Output only. Permissions requested by an Android app.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          }
        }
      },
      "description": "Android app information."
    },
    "GoogleChromeManagementV1DiskInfo": {
      "description": "Status of the single storage device.",
      "properties": {
        "bytesWrittenThisSession": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of bytes written since last boot.",
          "readOnly": true
        },
        "discardTimeThisSession": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "format": "google-duration"
        },
        "writeTimeThisSession": {
          "readOnly": true,
          "description": "Output only. Time spent writing to disk since last boot.",
          "format": "google-duration",
          "type": "string"
        },
        "ioTimeThisSession": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI."
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk model."
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Disk size."
        },
        "bytesReadThisSession": {
          "type": "string",
          "description": "Output only. Number of bytes read since last boot.",
          "readOnly": true,
          "format": "int64"
        },
        "manufacturer": {
          "description": "Output only. Disk manufacturer.",
          "type": "string",
          "readOnly": true
        },
        "readTimeThisSession": {
          "type": "string",
          "description": "Output only. Time spent reading from disk since last boot.",
          "readOnly": true,
          "format": "google-duration"
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk serial number."
        },
        "volumeIds": {
          "description": "Output only. Disk volumes.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "health": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk health."
        }
      },
      "id": "GoogleChromeManagementV1DiskInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "properties": {
        "email": {
          "description": "Output only. User's email.",
          "type": "string",
          "readOnly": true
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the user.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER",
      "id": "GoogleChromeManagementV1TelemetryUserInfo"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "description": "Information of an extension installed on a Chrome browser profile.",
      "properties": {
        "isWebstoreExtension": {
          "type": "boolean",
          "description": "Output only. Represents whether the extension is from the webstore.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the extension.",
          "readOnly": true
        },
        "manifestVersion": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Manifest version of the extension.",
          "format": "int32"
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the homepage of the extension."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the extension."
        },
        "extensionType": {
          "readOnly": true,
          "description": "Output only. Type of the extension.",
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Represents whether the user disabled the extension."
        },
        "permissions": {
          "readOnly": true,
          "description": "Output only. Permissions requested by the extension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the extension."
        },
        "installationType": {
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. Installation type of the extension.",
          "readOnly": true
        },
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of matching app requests.",
          "type": "integer"
        },
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        }
      },
      "description": "Response containing summary of requested app installations.",
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppInstallEvent": {
      "type": "object",
      "description": "App installation data.",
      "properties": {
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appInstallReason": {
          "type": "string",
          "description": "App installation reason.",
          "enum": [
            "APPLICATION_INSTALL_REASON_UNSPECIFIED",
            "APPLICATION_INSTALL_REASON_SYSTEM",
            "APPLICATION_INSTALL_REASON_POLICY",
            "APPLICATION_INSTALL_REASON_OEM",
            "APPLICATION_INSTALL_REASON_DEFAULT",
            "APPLICATION_INSTALL_REASON_SYNC",
            "APPLICATION_INSTALL_REASON_USER",
            "APPLICATION_INSTALL_REASON_SUB_APP",
            "APPLICATION_INSTALL_REASON_KIOSK",
            "APPLICATION_INSTALL_REASON_COMMAND_LINE"
          ],
          "enumDescriptions": [
            "Application install reason is unknown.",
            "Application installed with the system and is considered part of the OS.",
            "Application installed by policy.",
            "Application installed by an original equipment manufacturer (OEM).",
            "Application installed by default, but is not considered a system app.",
            "Application installed by sync.",
            "Application installed by user action.",
            "Application installed bt SubApp API call.",
            "Application installed by Kiosk on Chrome OS.",
            "Application installed by command line argument."
          ]
        },
        "appInstallTime": {
          "enum": [
            "APPLICATION_INSTALL_TIME_UNSPECIFIED",
            "APPLICATION_INSTALL_TIME_INIT",
            "APPLICATION_INSTALL_TIME_RUNNING"
          ],
          "type": "string",
          "description": "App installation time depending on the app lifecycle.",
          "enumDescriptions": [
            "Application install time unknown.",
            "Application install is initialized.",
            "Application install is currently running."
          ]
        },
        "appInstallSource": {
          "enumDescriptions": [
            "Application install source is unknown.",
            "Application installed as part of Chrome OS.",
            "Application install source is a sync.",
            "Application install source is the Play store.",
            "Application install source is the Chrome web store.",
            "Application install source is a browser."
          ],
          "enum": [
            "APPLICATION_INSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_INSTALL_SOURCE_SYSTEM",
            "APPLICATION_INSTALL_SOURCE_SYNC",
            "APPLICATION_INSTALL_SOURCE_PLAY_STORE",
            "APPLICATION_INSTALL_SOURCE_CHROME_WEB_STORE",
            "APPLICATION_INSTALL_SOURCE_BROWSER"
          ],
          "description": "App installation source.",
          "type": "string"
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        }
      },
      "id": "GoogleChromeManagementV1TelemetryAppInstallEvent"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "properties": {
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "policyData": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information of the policies applied on the extension.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          }
        },
        "extensionName": {
          "readOnly": true,
          "description": "Output only. Name of the extension.",
          "type": "string"
        }
      },
      "description": "Information of the policies applied on an extension.",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
      "description": "Palo Alto Networks connector config.",
      "properties": {
        "reportingSettings": {
          "description": "Required. The reporting settings for the Palo Alto Networks config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events."
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. CPU label. Example: Core 0"
        },
        "temperatureCelsius": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. CPU temperature in Celsius.",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "properties": {
        "wifiPowerManagementEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Wifi power management enabled"
        },
        "connectionType": {
          "readOnly": true,
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "description": "Output only. Network connection type."
        },
        "sampleFrequency": {
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Time at which the network state was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "receivingBitRateMbps": {
          "readOnly": true,
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "format": "int64",
          "type": "string"
        },
        "connectionState": {
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current connection state of the network."
        },
        "transmissionPowerDbm": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Transmission power measured in decibels."
        },
        "transmissionBitRateMbps": {
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "gatewayIpv6Address": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The gateway IPv6 for this interface, if detected"
        },
        "ipv6Address": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\")."
        },
        "metered": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the network was detected as metered."
        },
        "encryptionOn": {
          "type": "boolean",
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "readOnly": true
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "readOnly": true,
          "type": "string"
        },
        "wifiLinkQuality": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "readOnly": true,
          "type": "string"
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "readOnly": true,
          "type": "string"
        },
        "signalStrengthDbm": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "type": "integer"
        },
        "linkDownSpeedKbps": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection."
        }
      },
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "properties": {
        "designCapacity": {
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64",
          "type": "string"
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "designMinVoltage": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Designed minimum output voltage (mV)",
          "readOnly": true
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery manufacturer."
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1AppUsageData": {
      "id": "GoogleChromeManagementV1AppUsageData",
      "type": "object",
      "description": "App usage data.",
      "properties": {
        "appId": {
          "description": "App id.",
          "type": "string"
        },
        "runningDuration": {
          "description": "App foreground running time.",
          "type": "string",
          "format": "google-duration"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Application instance id. This will be unique per window/instance."
        },
        "appType": {
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app."
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "id": "GoogleChromeManagementV1RiskAssessment",
      "description": "Risk assessment for a Chrome extension.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the extension that this assessment applies to."
        },
        "assessment": {
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider.",
          "type": "string"
        },
        "detailsUrl": {
          "description": "A URL that a user can navigate to for more information about the risk assessment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "description": "Response message for claiming a certificate provisioning process.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "description": "External display connected/disconnected event payload.",
      "type": "object",
      "properties": {
        "externalDisplayData": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          },
          "description": "List of external displays that were connected/disconnected."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent"
    },
    "GoogleChromeManagementVersionsV1PubSubConfig": {
      "type": "object",
      "properties": {
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the Pub/Sub config."
        },
        "topicFullPath": {
          "type": "string",
          "description": "Required. The full path to the topic to send the event to."
        }
      },
      "id": "GoogleChromeManagementVersionsV1PubSubConfig",
      "description": "Pub/Sub connector config."
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "properties": {
        "browserVersion": {
          "type": "string",
          "description": "Browser version this is counting."
        },
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "Date of the crash event."
        },
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The `count` of the Chrome crash events at the `date`."
    },
    "GoogleChromeManagementVersionsV1SignDataMetadata": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SignDataMetadata",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Start time of the SignData operation.",
          "type": "string"
        }
      },
      "description": "Metadata for the long-running operation returned by signData."
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "properties": {
        "sevenDaysCount": {
          "type": "string",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "format": "int64"
        },
        "thirtyDaysCount": {
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response containing the number of active devices.",
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1GoogleSecOpsConfig": {
      "properties": {
        "reportingSettings": {
          "description": "Required. The reporting settings for the Google SecOps config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        },
        "host": {
          "type": "string",
          "description": "Required. Host of ingestion API endpoint. Allows customer to upload events to servers in specific geographical regions. Existing configs that don't have this setting default to US."
        }
      },
      "description": "Google SecOps connector config.",
      "id": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig",
      "type": "object"
    },
    "GoogleChromeManagementV1PrinterReport": {
      "id": "GoogleChromeManagementV1PrinterReport",
      "type": "object",
      "properties": {
        "deviceCount": {
          "type": "string",
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "format": "int64"
        },
        "printer": {
          "type": "string",
          "description": "Printer name."
        },
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "jobCount": {
          "description": "Number of print jobs sent to the printer.",
          "type": "string",
          "format": "int64"
        },
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "format": "int64",
          "type": "string"
        },
        "printerModel": {
          "description": "Printer model.",
          "type": "string"
        }
      },
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer."
    },
    "GoogleChromeManagementVersionsV1UrlVisitsBreakdown": {
      "properties": {
        "summary": {
          "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
          "description": "The summary of URL visits for the breakdown dimension."
        },
        "eventDomain": {
          "description": "The event domain of the URL visits.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The user that visited the URL."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown",
      "description": "A URL visits summary for a given breakdown dimension."
    },
    "GoogleChromeManagementVersionsV1ReportingData": {
      "description": "Reporting data of a Chrome browser profile.",
      "id": "GoogleChromeManagementVersionsV1ReportingData",
      "properties": {
        "browserExecutablePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Executable path of the installed Chrome browser. A valid path is included only in affiliated profiles."
        },
        "extensionData": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionData"
          },
          "type": "array",
          "description": "Output only. Information of the extensions installed on the profile."
        },
        "extensionPolicyData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
          },
          "type": "array",
          "description": "Output only. Information of the policies applied on the extensions.",
          "readOnly": true
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the profile.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          }
        },
        "profilePath": {
          "description": "Output only. Path of the profile. A valid path is included only in affiliated profiles.",
          "readOnly": true,
          "type": "string"
        },
        "installedBrowserVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Updated version of a browser, if it is different from the active browser version."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "properties": {
        "crashEventCounts": {
          "type": "array",
          "description": "Crash event counts grouped by date and browser version.",
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events."
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        }
      },
      "description": "CrowdStrike Falcon Next Gen connector config.",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "type": "object",
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO",
      "properties": {
        "displayDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "readOnly": true,
          "description": "Output only. Information about the display(s) of the device."
        },
        "adapterInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU)."
        },
        "eprivacySupported": {
          "type": "boolean",
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true
        },
        "touchScreenInfo": {
          "$ref": "GoogleChromeManagementV1TouchScreenInfo",
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsInfo"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "properties": {
        "destinationOrgUnit": {
          "type": "string",
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to."
        }
      },
      "type": "object",
      "description": "Request to MoveThirdPartyProfileUser method.",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "type": "object",
      "description": "Response for MoveThirdPartyProfileUser method.",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "properties": {
        "thirdPartyProfileUser": {
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
          "readOnly": true,
          "description": "Output only. The moved third party profile user."
        }
      }
    },
    "GoogleTypeDate": {
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "type": "object",
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "properties": {
        "chargeRate": {
          "format": "int32",
          "description": "Output only. Battery charge percentage.",
          "readOnly": true,
          "type": "integer"
        },
        "remainingCapacity": {
          "type": "string",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "readOnly": true,
          "format": "int64"
        },
        "current": {
          "description": "Output only. Battery current (mA).",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "voltage": {
          "readOnly": true,
          "description": "Output only. Battery voltage (millivolt).",
          "type": "string",
          "format": "int64"
        },
        "temperature": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Temperature in Celsius degrees.",
          "type": "integer"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dischargeRate": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged."
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1BatterySampleReport"
    },
    "GoogleChromeManagementVersionsV1ConnectorConfig": {
      "description": "A representation of a connector config.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ConnectorConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}"
        },
        "details": {
          "description": "Required. The details of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
        },
        "status": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
          "description": "Output only. The status of the connector config."
        },
        "displayName": {
          "description": "Required. The display name of the config.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Reporting connector.",
            "Device trust connector.",
            "XDR connector.",
            "Authentication connector.",
            "Certificate authority connector. Not yet supported in the API.",
            "Root certificate connector.",
            "Content analysis connector."
          ],
          "description": "Required. The type of the connector.",
          "type": "string",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "REPORTING",
            "DEVICE_TRUST",
            "XDR",
            "IDENTITY_BASED_ENROLLMENT",
            "CERTIFICATE_AUTHORITY",
            "ROOT_STORE",
            "CONTENT_ANALYSIS"
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1DeviceTrustConfig": {
      "properties": {
        "urlMatchers": {
          "description": "Required. List of URLs allowed to be part of the attestation flow to get the set of signals from the machine. URLs must have HTTPS scheme, e.g. \"https://example.com\". Wildcards, *, are allowed. For detailed information on valid URL patterns, please see https://cloud.google.com/docs/chrome-enterprise/policies/url-patterns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Only browsers are enforced.",
            "Only profiles are enforced.",
            "Both browsers and profiles are enforced."
          ],
          "enum": [
            "BROWSER_ENFORCEMENT_SCOPE_UNSPECIFIED",
            "BROWSERS_ONLY",
            "PROFILES_ONLY",
            "BROWSERS_AND_PROFILES"
          ],
          "description": "Required. The scope at which this configuration will be applied. Note that this only applies to Chrome browser, as in ChromeOS it's always applied.",
          "type": "string"
        },
        "serviceProvider": {
          "description": "Optional. The service provider for the device trust connector.",
          "enumDescriptions": [
            "Default value.",
            "Universal device trust connector.",
            "Okta service provider.",
            "Ping Identity service provider.",
            "OneLogin service provider.",
            "Duo service provider.",
            "Zscaler service provider.",
            "Omnissa service provider.",
            "JumpCloud service provider."
          ],
          "enum": [
            "SERVICE_PROVIDER_UNSPECIFIED",
            "UNIVERSAL_DEVICE_TRUST",
            "OKTA",
            "PING_IDENTITY",
            "ONELOGIN",
            "DUO",
            "ZSCALER",
            "OMNISSA",
            "JUMPCLOUD"
          ],
          "type": "string"
        },
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list of email addresses of the service accounts which are allowed to call the Verified Access API with full access."
        }
      },
      "id": "GoogleChromeManagementVersionsV1DeviceTrustConfig",
      "description": "Device trust config for device trust connectors.",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "type": "object",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Count of devices of this model.",
          "type": "string"
        },
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "aueMonth": {
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty."
        },
        "aueYear": {
          "type": "string",
          "format": "int64",
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty."
        },
        "expired": {
          "type": "boolean",
          "description": "Boolean value for whether or not the device has already expired."
        }
      }
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "description": "Describes a browser version and its install count.",
      "properties": {
        "version": {
          "description": "Output only. The full version of the installed browser.",
          "readOnly": true,
          "type": "string"
        },
        "system": {
          "description": "Output only. The device operating system.",
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ]
        },
        "channel": {
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "description": "Output only. The release channel of the installed browser.",
          "readOnly": true
        },
        "deviceOsVersion": {
          "readOnly": true,
          "description": "Output only. Version of the system-specified operating system.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Count grouped by device_system and major version"
        }
      },
      "id": "GoogleChromeManagementV1BrowserVersion",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "properties": {
        "guid": {
          "type": "string",
          "description": "Unique identifier of the network."
        },
        "signalStrengthDbm": {
          "format": "int32",
          "description": "Signal strength RSSI value.",
          "type": "integer"
        }
      },
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
      "type": "object"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "permissions": {
          "readOnly": true,
          "description": "Output only. Permissions of the installed app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "$ref": "GoogleChromeManagementV1RiskAssessmentData",
          "readOnly": true
        },
        "appSource": {
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "type": "string",
          "description": "Output only. Source of the installed app.",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the installed app.",
          "type": "string"
        },
        "osUserCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Count of ChromeOS users with this app installed."
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "description": "Output only. How the app was installed.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ]
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "browserDeviceCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed."
        },
        "profileCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Count of Chrome Profiles with this app installed."
        },
        "appId": {
          "type": "string",
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true
        },
        "appType": {
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "description": "Output only. Type of the app.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "type": "object",
      "properties": {
        "securityLevel": {
          "description": "Security level of the Thunderbolt bus.",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "type": "string",
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ]
        }
      },
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO"
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "properties": {
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string",
          "readOnly": true
        },
        "profileOrgUnitId": {
          "description": "Output only. The organizational unit id of the profile.",
          "readOnly": true,
          "type": "string"
        },
        "profileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Chrome client side profile ID."
        },
        "email": {
          "description": "Output only. The email of the profile.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "type": "object",
      "description": "Describes a profile reporting Chrome Profile information."
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "format": "int64",
          "type": "string"
        },
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "format": "int64",
          "type": "string"
        },
        "noRecentUserActivityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "unsupportedPolicyCount": {
          "type": "string",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "format": "int64"
        },
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "telemetryEvents": {
          "type": "array",
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          }
        }
      },
      "description": "Response message for listing telemetry events for a customer.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for publishing an issued certificate for a certificate provisioning process."
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessmentData",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          },
          "type": "array",
          "description": "Individual risk assessments."
        },
        "overallRiskLevel": {
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries.",
          "type": "string"
        }
      },
      "description": "Risk assessment data about an extension/app."
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app.",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appLaunchSource": {
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "description": "App launch source.",
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "type": "string"
        }
      },
      "description": "App launch data.",
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
    },
    "GoogleChromeManagementVersionsV1DeviceInfo": {
      "description": "Information of a device that runs a Chrome browser profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1DeviceInfo",
      "properties": {
        "affiliatedDeviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device ID that identifies the affiliated device on which the profile exists. If the device type is CHROME_BROWSER, then this represents a unique Directory API ID of the device that can be used in Admin SDK Browsers API."
        },
        "deviceType": {
          "description": "Output only. Type of the device on which the profile exists.",
          "enumDescriptions": [
            "Represents an unspecified device type.",
            "Represents a Chrome browser device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "CHROME_BROWSER"
          ],
          "readOnly": true
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hostname of the device on which the profile exists."
        },
        "machine": {
          "readOnly": true,
          "description": "Output only. Machine name of the device on which the profile exists. On platforms which do not report the machine name (currently iOS and Android) this is instead set to the browser's device_id - but note that this is a different device_id than the |affiliated_device_id|.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "type": "object",
      "description": "Telemetry data reported by a managed device.",
      "properties": {
        "appLaunchEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`."
        },
        "wifiSignalStrengthEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "readOnly": true,
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`."
        },
        "appInstallEvent": {
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent",
          "readOnly": true
        },
        "externalDisplaysEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "readOnly": true
        },
        "audioSevereUnderrunEvent": {
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "description": "Output only. Information about the user associated with the event."
        },
        "networkStateChangeEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`."
        },
        "osCrashEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "readOnly": true
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
        },
        "httpsLatencyChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "readOnly": true,
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`."
        },
        "vpnConnectionStateChangeEvent": {
          "readOnly": true,
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "eventType": {
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "type": "string",
          "description": "The event type of the current event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the event."
        },
        "device": {
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "description": "Output only. Information about the device associated with the event.",
          "readOnly": true
        },
        "appUninstallEvent": {
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent"
    },
    "GoogleChromeManagementVersionsV1ScepProfile": {
      "description": "Describes a SCEP certificate provisioning profile.",
      "id": "GoogleChromeManagementVersionsV1ScepProfile",
      "type": "object",
      "properties": {
        "certificateTemplateName": {
          "description": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template.",
          "type": "string",
          "readOnly": true
        },
        "locality": {
          "description": "Output only. The locality of the subject.",
          "type": "string",
          "readOnly": true
        },
        "organizationalUnits": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The organizational units of the subject.",
          "type": "array"
        },
        "subjectCommonName": {
          "type": "string",
          "description": "Output only. The common name of the subject.",
          "readOnly": true
        },
        "subjectAltNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1SubjectAltName"
          },
          "description": "Output only. The subject alternative names.",
          "readOnly": true
        },
        "country": {
          "type": "string",
          "description": "Output only. The country of the subject.",
          "readOnly": true
        },
        "organization": {
          "type": "string",
          "description": "Output only. The name of the organization the subject belongs to.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the subject."
        },
        "keyUsages": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "The key usage is unspecified.",
              "The key can be used for signing.",
              "The key can be used for key encipherment."
            ],
            "type": "string",
            "enum": [
              "KEY_USAGE_UNSPECIFIED",
              "KEY_USAGE_SIGNING",
              "KEY_USAGE_KEY_ENCIPHERMENT"
            ]
          },
          "description": "Output only. The allowed key usages for certificate's key.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ScepCaConnection": {
      "id": "GoogleChromeManagementVersionsV1ScepCaConnection",
      "type": "object",
      "description": "Describes a SCEP Certificate Authority Connection.",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "type": "string",
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "type": "object",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "properties": {
        "count": {
          "description": "Count of devices with a unique hardware specification.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "properties": {
        "userDirectoryApiId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the user.",
          "readOnly": true
        },
        "chromeOsDevice": {
          "readOnly": true,
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice"
        },
        "userPrimaryEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary e-mail address of the user."
        }
      },
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "properties": {
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "type": "object",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse": {
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse",
      "description": "Response message for QueryContentTransfersBreakdowns.",
      "type": "object",
      "properties": {
        "contentTransfersBreakdowns": {
          "description": "The content transfer breakdowns from the specified insight.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig",
      "type": "object",
      "description": "CrowdStrike XDR connector config.",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        },
        "xdrSettings": {
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings",
          "description": "Required. The XDR settings for the CrowdStrike XDR config."
        },
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events."
        }
      }
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "properties": {
        "driverVersion": {
          "type": "string",
          "description": "Output only. Version of the GPU driver.",
          "readOnly": true
        },
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "type": "string",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU)."
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "properties": {
        "ltcChannelCount": {
          "description": "Number of devices with ltc release channel.",
          "format": "int64",
          "type": "string"
        },
        "ltsChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with lts release channel."
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "format": "int64",
          "type": "string"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "type": "string",
          "format": "int64"
        },
        "betaChannelCount": {
          "type": "string",
          "description": "Number of devices with beta release channel.",
          "format": "int64"
        },
        "devChannelCount": {
          "description": "Number of devices with dev release channel.",
          "format": "int64",
          "type": "string"
        },
        "unreportedChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with an unreported release channel."
        },
        "canaryChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with canary release channel."
        }
      },
      "description": "Response containing the number of devices with the given channel.",
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigStatus": {
      "properties": {
        "failureStartTime": {
          "description": "Output only. Field recording time of the earliest failure since the last success event. This field is only set when the state is `DISABLED_BY_FAILURES`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "CONFIG_STATE_UNKNOWN",
            "ENABLED",
            "DISABLED_BY_FAILURES"
          ],
          "enumDescriptions": [
            "Default value.",
            "The connector config is enabled.",
            "The connector config is transiently disabled due to failures."
          ],
          "readOnly": true,
          "description": "Output only. The state of the connector config. The connector state is disabled if the connector has not successfully sent an event in the last 24 hours."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Field recording time of most recent modification of the status. For `ENABLED`, this is the time the status was changed to `ENABLED`. For `DISABLED_BY_FAILURES`, this is the time of the most recent failed attempt to send an event to this config.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
      "description": "The status of the connector config.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "properties": {
        "printerReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request."
        },
        "totalSize": {
          "format": "int64",
          "description": "Total number of printers matching request.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval."
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "type": "object",
      "properties": {
        "pid": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Product ID"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes"
        },
        "subclassId": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device name, model name, or product name"
        },
        "vendor": {
          "readOnly": true,
          "description": "Output only. Vendor name",
          "type": "string"
        },
        "vid": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Vendor ID"
        },
        "firmwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Firmware version"
        },
        "classId": {
          "readOnly": true,
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "USB connected peripheral report.",
      "id": "GoogleChromeManagementV1UsbPeripheralReport"
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile.",
      "properties": {
        "orgUnitId": {
          "description": "Output only. The ID of the organizational unit assigned to the user.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateRequest": {
      "description": "Request message for uploading an issued certificate for a certificate provisioning process.",
      "type": "object",
      "properties": {
        "certificatePem": {
          "type": "string",
          "description": "Required. The issued certificate in PEM format."
        }
      },
      "id": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when status changed was detected"
        },
        "state": {
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ],
          "description": "State the device changed to"
        }
      },
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "type": "object",
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT"
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "description": "OS crash data.",
      "properties": {
        "crashType": {
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ],
          "description": "Crash type.",
          "type": "string"
        },
        "crashId": {
          "type": "string",
          "description": "Crash id."
        },
        "sessionType": {
          "description": "Session type.",
          "type": "string",
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
[...]
