{
  "fullyEncodeReservedExpansion": true,
  "revision": "20260920",
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v2",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "discoveryVersion": "v1",
  "name": "chromewebstore",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "id": "chromewebstore.publishers.items.publish",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "path": "v2/{+name}:publish",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "request": {
                "$ref": "PublishItemRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`."
            },
            "cancelSubmission": {
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "path": "v2/{+name}:cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ]
            },
            "setPublishedDeployPercentage": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage"
            },
            "fetchReviews": {
              "description": "Fetch user reviews for an item.",
              "path": "v2/{+name}:fetchReviews",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchReviews",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `FetchItemReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchItemReviews` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter to apply to the reviews. Only equality comparison on rating is supported, e.g. `rating = 5`.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of reviews to return. The service may return fewer than this value. If unspecified, at most 50 reviews will be returned. The maximum value is 200; values above 200 will be coerced to 200."
                },
                "name": {
                  "description": "Required. The item resource name whose reviews are being fetched. Format: publishers/{publisher_id}/items/{item_id}",
                  "required": true,
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. An optional comma-separated list of fields by which to sort the results. Supported fields are `rating` and `create_time`. Supported orders are `asc` (default) and `desc`. Example: \"rating desc, create_time\".",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "FetchItemReviewsResponse"
              },
              "id": "chromewebstore.publishers.items.fetchReviews"
            },
            "fetchStatus": {
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.fetchStatus",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "path": "v2/{+name}:fetchStatus",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "description": "Fetch the status of an item.",
              "httpMethod": "GET",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "parameterOrder": [
            "name"
          ],
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "description": "Upload a new package to an existing item.",
          "parameters": {
            "name": {
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "required": true
            }
          },
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "id": "chromewebstore.media.upload",
          "path": "v2/{+name}:upload",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "supportsMediaUpload": true
        }
      }
    }
  },
  "id": "chromewebstore:v2",
  "protocol": "rest",
  "schemas": {
    "SetPublishedDeployPercentageResponse": {
      "properties": {},
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`."
    },
    "AuthorInfo": {
      "type": "object",
      "id": "AuthorInfo",
      "properties": {
        "displayName": {
          "description": "Display name for the author.",
          "type": "string"
        }
      },
      "description": "Info on the author of the review."
    },
    "Warning": {
      "description": "Represents a single warning encountered during the request.",
      "id": "Warning",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        }
      }
    },
    "CancelSubmissionResponse": {
      "type": "object",
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`.",
      "properties": {}
    },
    "Review": {
      "id": "Review",
      "description": "A review written by a user to rate an item in the Chrome Web Store.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the review was posted.",
          "type": "string",
          "readOnly": true
        },
        "authorInfo": {
          "$ref": "AuthorInfo",
          "description": "Info on the author of the review."
        },
        "rating": {
          "format": "int32",
          "type": "integer",
          "description": "Rating of the item, between 1 and 5."
        },
        "item": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The item that this review evaluates. Format: publishers/{publisher}/items/{item}"
        },
        "name": {
          "description": "Identifier. Review resource name. Format: reviews/{reviewId}",
          "type": "string"
        },
        "comment": {
          "description": "Content of the review.",
          "type": "string"
        }
      }
    },
    "UploadItemPackageResponse": {
      "description": "Response message for `UploadItemPackage`.",
      "type": "object",
      "id": "UploadItemPackageResponse",
      "properties": {
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "uploadState": {
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        }
      }
    },
    "PublishItemResponse": {
      "description": "Response message for `PublishItem`.",
      "id": "PublishItemResponse",
      "properties": {
        "warningInfo": {
          "readOnly": true,
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "$ref": "WarningsInfo"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ItemRevisionStatus": {
      "properties": {
        "distributionChannels": {
          "type": "array",
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          }
        },
        "state": {
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "description": "Output only. Current state of the item",
          "type": "string"
        }
      },
      "description": "Details on the status of an item revision.",
      "id": "ItemRevisionStatus",
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "type": "object",
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage.",
      "properties": {}
    },
    "FetchItemReviewsResponse": {
      "id": "FetchItemReviewsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "reviews": {
          "type": "array",
          "description": "The list of reviews.",
          "items": {
            "$ref": "Review"
          }
        }
      },
      "type": "object",
      "description": "Response message for FetchItemReviews."
    },
    "FetchItemStatusResponse": {
      "type": "object",
      "id": "FetchItemStatusResponse",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "warned": {
          "type": "boolean",
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details."
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "readOnly": true,
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "lastAsyncUploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        }
      }
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DistributionChannel"
    },
    "SetPublishedDeployPercentageRequest": {
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SetPublishedDeployPercentageRequest"
    },
    "PublishItemRequest": {
      "id": "PublishItemRequest",
      "description": "Request message for PublishItem.",
      "properties": {
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "type": "string",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset."
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "deployInfos": {
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          },
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset."
        }
      },
      "type": "object"
    },
    "WarningsInfo": {
      "id": "WarningsInfo",
      "properties": {
        "warnings": {
          "description": "All warnings encountered during the request.",
          "type": "array",
          "items": {
            "$ref": "Warning"
          }
        }
      },
      "description": "Message containing details on warnings encountered during PublishItem.",
      "type": "object"
    },
    "CancelSubmissionRequest": {
      "type": "object",
      "id": "CancelSubmissionRequest",
      "properties": {},
      "description": "Request message for CancelSubmission."
    },
    "DeployInfo": {
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "id": "DeployInfo"
    }
  },
  "servicePath": "",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "canonicalName": "Chromewebstore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true
}