{
  "schemas": {
    "ItemError": {
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "description": "Error of the item",
      "type": "object",
      "id": "ItemError"
    },
    "Item2": {
      "id": "Item2",
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PublishRequest": {
      "type": "object",
      "id": "PublishRequest",
      "properties": {
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer",
          "format": "int32"
        },
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        }
      }
    },
    "Item": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        }
      },
      "id": "Item",
      "type": "object"
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "id": "chromewebstore:v1.1",
  "title": "Chrome Web Store API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "servicePath": "",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "protocol": "rest",
  "name": "chromewebstore",
  "batchPath": "batch",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "ownerDomain": "google.com",
  "canonicalName": "Chromewebstore",
  "ownerName": "Google",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "flatPath": "chromewebstore/v1.1/items",
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "id": "chromewebstore.items.insert",
          "description": "Inserts a new item.",
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            },
            "maxSize": "2147483648"
          }
        },
        "publish": {
          "description": "Publishes an item.",
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            },
            "publishTarget": {
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query"
            },
            "itemId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the item to publish.",
              "required": true
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "httpMethod": "POST",
          "id": "chromewebstore.items.publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item2"
          }
        },
        "get": {
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "parameters": {
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            },
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "chromewebstore.items.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "description": "Gets your own Chrome Web Store item."
        },
        "update": {
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update",
          "httpMethod": "PUT",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "itemId": {
              "required": true,
              "type": "string",
              "description": "The ID of the item to upload.",
              "location": "path"
            }
          },
          "description": "Updates an existing item."
        }
      }
    }
  },
  "version": "v1.1",
  "revision": "20260826",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "basePath": ""
}