{
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "title": "Chrome Management API",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": "",
  "protocol": "rest",
  "schemas": {
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "properties": {
        "signatureAlgorithm": {
          "type": "string",
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ],
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ]
        },
        "signData": {
          "type": "string",
          "format": "byte",
          "description": "Required. The data that the client was asked to sign."
        }
      },
      "type": "object",
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process.",
      "id": "GoogleChromeManagementVersionsV1SignDataRequest"
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "properties": {},
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "properties": {
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "format": "google-datetime",
          "type": "string"
        },
        "httpsLatencyData": {
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      },
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1SaasUsageProfileReport": {
      "properties": {
        "osPlatform": {
          "type": "string",
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "description": "Output only. The OS platform.",
          "readOnly": true
        },
        "firstNavigationTime": {
          "description": "Output only. The timestamp when the application was first navigated to by this profile.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the organizational unit."
        },
        "email": {
          "description": "Output only. The email of the user.",
          "readOnly": true,
          "type": "string"
        },
        "profilePermanentId": {
          "description": "Output only. The permanent ID of the profile.",
          "readOnly": true,
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Output only. The OS version.",
          "readOnly": true
        },
        "lastNavigationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the application was last navigated to by this profile.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1SaasUsageProfileReport",
      "description": "Represents a single SaaS report entry grouped by profile.",
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkDevice",
      "properties": {
        "imei": {
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Network device type.",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ]
        },
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        },
        "macAddress": {
          "readOnly": true,
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "type": "string"
        },
        "mdn": {
          "readOnly": true,
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingSettings": {
      "type": "object",
      "properties": {
        "enabledDeviceEvents": {
          "description": "Optional. The list of device events that are enabled for this config. An empty list disables all device events, and using `ALL_DEVICE_EVENTS` will enable all device events.",
          "items": {
            "type": "string",
            "enum": [
              "DEVICE_EVENT_UNSPECIFIED",
              "ALL_DEVICE_EVENTS",
              "ADD_REMOVE_USER_EVENT",
              "LOGIN_LOGOUT_EVENT",
              "CRD_EVENT",
              "PERIPHERAL_EVENT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All device events.",
              "Add/remove user event.",
              "Login/logout event.",
              "CRD event.",
              "Peripheral event."
            ]
          },
          "type": "array"
        },
        "enabledDefaultEvents": {
          "description": "Optional. The list of user and browser events that are enabled for this connector. An empty list disables all default events, and using `ALL_DEFAULT_EVENTS` will enable all default events.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All default events.",
              "Browser crash event.",
              "Browser extension install event.",
              "Content transfer event.",
              "Content unscanned event.",
              "Data access control event.",
              "Malware transfer event.",
              "Password changed event.",
              "Password reuse event.",
              "Sensitive data transfer event.",
              "Suspicious URL event.",
              "Unsafe site visit event.",
              "URL filtering interstitial event."
            ],
            "type": "string",
            "enum": [
              "DEFAULT_EVENT_UNSPECIFIED",
              "ALL_DEFAULT_EVENTS",
              "BROWSER_CRASH_EVENT",
              "BROWSER_EXTENSION_INSTALL_EVENT",
              "CONTENT_TRANSFER_EVENT",
              "CONTENT_UNSCANNED_EVENT",
              "DATA_ACCESS_CONTROL_EVENT",
              "MALWARE_TRANSFER_EVENT",
              "PASSWORD_CHANGED_EVENT",
              "PASSWORD_REUSE_EVENT",
              "SENSITIVE_DATA_TRANSFER_EVENT",
              "SUSPICIOUS_URL_EVENT",
              "UNSAFE_SITE_VISIT_EVENT",
              "URL_FILTERING_INTERSTITIAL_EVENT"
            ]
          }
        },
        "enabledOptInEvents": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All opt-in events.",
              "Login event.",
              "Password breach event.",
              "URL navigation event.",
              "Extension telemetry event."
            ],
            "type": "string",
            "enum": [
              "OPT_IN_EVENT_UNSPECIFIED",
              "ALL_OPT_IN_EVENTS",
              "LOGIN_EVENT",
              "PASSWORD_BREACH_EVENT",
              "URL_NAVIGATION_EVENT",
              "EXTENSION_TELEMETRY_EVENT"
            ]
          },
          "description": "Optional. The list of opt-in events that are enabled for this config. An empty list disables all opt-in events, and using `ALL_OPT_IN_EVENTS` will enable all opt-in events."
        }
      },
      "description": "Reporting settings for connector configs.",
      "id": "GoogleChromeManagementVersionsV1ReportingSettings"
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "description": "Describes a generic Certificate Authority Connection.",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1SaasUsageReportContentTransferDetails": {
      "id": "GoogleChromeManagementV1SaasUsageReportContentTransferDetails",
      "description": "Provides information about content transfer events, if available.",
      "type": "object",
      "properties": {
        "contentTransferCount": {
          "readOnly": true,
          "description": "Output only. Total number of content transfers associated with the application.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "type": "object",
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "properties": {
        "state": {
          "description": "State the device changed to",
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ],
          "type": "string"
        },
        "reportTime": {
          "description": "Timestamp of when status changed was detected",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "properties": {
        "networkDiagnosticsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Network diagnostics collected periodically."
        },
        "cpuStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "readOnly": true
        },
        "cpuInfo": {
          "type": "array",
          "description": "Output only. Information regarding CPU specs for the device.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          }
        },
        "osUpdateStatus": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "description": "Output only. Contains relevant information regarding ChromeOS update status."
        },
        "batteryStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "description": "Output only. Battery reports collected periodically.",
          "type": "array"
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "type": "array",
          "readOnly": true
        },
        "thunderboltInfo": {
          "description": "Output only. Information on Thunderbolt bus.",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        },
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device."
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "type": "array"
        },
        "networkInfo": {
          "description": "Output only. Network devices information.",
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "readOnly": true
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "type": "string",
          "readOnly": true
        },
        "orgUnitId": {
          "readOnly": true,
          "description": "Output only. Organization unit ID of the device.",
          "type": "string"
        },
        "networkStatusReport": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "description": "Output only. Network specs collected periodically."
        },
        "storageInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "description": "Output only. Information of storage specs for the device."
        },
        "kioskAppStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "description": "Output only. Kiosk app status report for the kiosk device",
          "type": "array",
          "readOnly": true
        },
        "graphicsInfo": {
          "readOnly": true,
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "$ref": "GoogleChromeManagementV1GraphicsInfo"
        },
        "bootPerformanceReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "description": "Output only. Boot performance reports of the device.",
          "readOnly": true
        },
        "batteryInfo": {
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "runtimeCountersReport": {
          "readOnly": true,
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          }
        },
        "storageStatusReport": {
          "type": "array",
          "description": "Output only. Storage reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "readOnly": true
        },
        "graphicsStatusReport": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "description": "Output only. Graphics reports collected periodically."
        },
        "memoryStatusReport": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time."
        },
        "appReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "heartbeatStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the device.",
          "type": "string"
        }
      },
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "description": "Response message for listing telemetry events for a customer.",
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "properties": {
        "accessUserData": {
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true,
          "type": "boolean"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the permission.",
          "type": "string"
        },
        "documentationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If available, a URI to a page that has documentation for the current permission."
        }
      },
      "description": "Permission requested by a Chrome app or extension."
    },
    "GoogleChromeManagementV1PrintJob": {
      "id": "GoogleChromeManagementV1PrintJob",
      "properties": {
        "colorMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "description": "Color mode.",
          "type": "string",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ]
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "type": "integer",
          "format": "int32"
        },
        "copyCount": {
          "description": "Number of copies.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "description": "Print job completion timestamp.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Print job creation timestamp."
        },
        "duplexMode": {
          "type": "string",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "description": "Duplex mode.",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        }
      },
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "description": "Configuration to receive notifications of telemetry data.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the notification configuration."
        },
        "filter": {
          "description": "Only send notifications for telemetry data matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter"
        },
        "googleCloudPubsubTopic": {
          "description": "The pubsub topic to which notifications are published to.",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Output only. Google Workspace customer that owns the resource.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "type": "object"
    },
    "GoogleChromeManagementV1FindSaasUsageReportsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1FindSaasUsageReportsResponse",
      "properties": {
        "totalSize": {
          "description": "Total number of SaaS usage reports that match the request.",
          "type": "string",
          "format": "int64"
        },
        "saasReports": {
          "description": "The list of SaaS usage reports.",
          "items": {
            "$ref": "GoogleChromeManagementV1SaasUsageReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response to `FindSaasUsage` method."
    },
    "GoogleChromeManagementV1FindInstalledAppProfilesResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of profiles matching request."
        },
        "profiles": {
          "type": "array",
          "description": "A list of profiles which have the app installed. Sorted in ascending alphabetical order on the profile.Email field.",
          "items": {
            "$ref": "GoogleChromeManagementV1ProfileAppInstallInstance"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        }
      },
      "description": "Response containing a list of profiles with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "type": "object",
      "properties": {
        "hostMatch": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance."
        }
      },
      "description": "Represent one host permission."
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse",
      "description": "Response message for QueryContentTransfersBreakdowns.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "contentTransfersBreakdowns": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown"
          },
          "description": "The content transfer breakdowns from the specified insight."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "type": "object",
      "description": "Telemetry data reported by a managed device.",
      "properties": {
        "device": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "description": "Output only. Information about the device associated with the event."
        },
        "networkStateChangeEvent": {
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "osCrashEvent": {
          "readOnly": true,
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent"
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "appInstallEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent"
        },
        "user": {
          "description": "Output only. Information about the user associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "readOnly": true
        },
        "eventType": {
          "description": "The event type of the current event.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ]
        },
        "wifiSignalStrengthEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "readOnly": true,
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`."
        },
        "httpsLatencyChangeEvent": {
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
        },
        "appLaunchEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
        },
        "appUninstallEvent": {
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent"
        },
        "externalDisplaysEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "readOnly": true
        },
        "audioSevereUnderrunEvent": {
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "usbPeripheralsEvent": {
          "readOnly": true,
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
        },
        "vpnConnectionStateChangeEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`."
        },
        "name": {
          "description": "Output only. Resource name of the event.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "type": "object",
      "description": "Information of an extension installed on a Chrome browser profile.",
      "properties": {
        "description": {
          "description": "Output only. Description of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "installationType": {
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Installation type of the extension."
        },
        "version": {
          "description": "Output only. Version of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "isWebstoreExtension": {
          "description": "Output only. Represents whether the extension is from the webstore.",
          "readOnly": true,
          "type": "boolean"
        },
        "isDisabled": {
          "readOnly": true,
          "description": "Output only. Represents whether the user disabled the extension.",
          "type": "boolean"
        },
        "permissions": {
          "description": "Output only. Permissions requested by the extension.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "manifestVersion": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Manifest version of the extension.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the extension.",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. The URL of the homepage of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "extensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the extension."
        },
        "extensionType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "description": "Output only. Type of the extension."
        }
      }
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "description": "Describes a subject alternative name.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "readOnly": true,
          "description": "Output only. The type of the SubjectAltName extension.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1SubjectAltName"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of installed apps matching request."
        },
        "installedApps": {
          "type": "array",
          "description": "List of installed apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "description": "Response containing details of queried installed apps."
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "properties": {
        "totalRamBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total RAM in bytes.",
          "type": "string"
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true,
          "description": "Output only. Total memory encryption info for the device."
        }
      },
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1AndroidAppPermission"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "type": "object",
      "properties": {
        "manufactureDate": {
          "readOnly": true,
          "description": "Output only. The date the battery was manufactured.",
          "$ref": "GoogleTypeDate"
        },
        "designMinVoltage": {
          "readOnly": true,
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer",
          "format": "int32"
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Battery manufacturer.",
          "readOnly": true
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery serial number."
        },
        "designCapacity": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours).",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse": {
      "type": "object",
      "description": "Response message for QueryUrlVisits.",
      "properties": {
        "summaries": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
          },
          "description": "A collection of summaries for various URL visit metrics.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse"
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "type": "object",
      "properties": {
        "enterSleepCount": {
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "format": "int64",
          "type": "string"
        },
        "enterPoweroffCount": {
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "type": "string",
          "format": "int64"
        },
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "type": "string",
          "format": "google-datetime"
        },
        "enterHibernationCount": {
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4.",
          "type": "string",
          "format": "int64"
        },
        "uptimeRuntimeDuration": {
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+."
    },
    "GoogleChromeManagementVersionsV1ScepProfile": {
      "description": "Describes a SCEP certificate provisioning profile.",
      "id": "GoogleChromeManagementVersionsV1ScepProfile",
      "properties": {
        "organization": {
          "description": "Output only. The name of the organization the subject belongs to.",
          "type": "string",
          "readOnly": true
        },
        "certificateTemplateName": {
          "type": "string",
          "description": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template.",
          "readOnly": true
        },
        "country": {
          "readOnly": true,
          "description": "Output only. The country of the subject.",
          "type": "string"
        },
        "subjectCommonName": {
          "type": "string",
          "description": "Output only. The common name of the subject.",
          "readOnly": true
        },
        "locality": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The locality of the subject."
        },
        "organizationalUnits": {
          "description": "Output only. The organizational units of the subject.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "keyUsages": {
          "readOnly": true,
          "description": "Output only. The allowed key usages for certificate's key.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The key usage is unspecified.",
              "The key can be used for signing.",
              "The key can be used for key encipherment."
            ],
            "type": "string",
            "enum": [
              "KEY_USAGE_UNSPECIFIED",
              "KEY_USAGE_SIGNING",
              "KEY_USAGE_KEY_ENCIPHERMENT"
            ]
          }
        },
        "subjectAltNames": {
          "readOnly": true,
          "description": "Output only. The subject alternative names.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1SubjectAltName"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "properties": {
        "chromeBrowserProfileCommands": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "description": "The list of commands returned.",
          "type": "array"
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "type": "string",
          "format": "int64"
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "description": "USB connected peripheral report.",
      "properties": {
        "classId": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "format": "int32"
        },
        "pid": {
          "description": "Output only. Product ID",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "subclassId": {
          "readOnly": true,
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "format": "int32"
        },
        "vendor": {
          "readOnly": true,
          "description": "Output only. Vendor name",
          "type": "string"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "readOnly": true
        },
        "vid": {
          "format": "int32",
          "description": "Output only. Vendor ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Device name, model name, or product name",
          "readOnly": true
        },
        "firmwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Firmware version"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1UsbPeripheralReport"
    },
    "GoogleChromeManagementVersionsV1ContentTransfersBreakdown": {
      "id": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown",
      "description": "A content transfers summary for a given breakdown dimension.",
      "type": "object",
      "properties": {
        "contentCategory": {
          "description": "The content category of the content transfers.",
          "type": "string"
        },
        "eventDomain": {
          "type": "string",
          "description": "The event domain of the content transfers."
        },
        "user": {
          "description": "The user that transferred the content.",
          "type": "string"
        },
        "summary": {
          "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary",
          "description": "The summary of content transfers for the breakdown dimension."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeProfileVersionsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeProfileVersionsResponse",
      "description": "Response containing requested managed profile versions details and counts.",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total number browser versions matching request.",
          "format": "int32"
        },
        "profileBrowserVersions": {
          "description": "List of all browser versions reported for profiles and their install counts.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "id": "GoogleChromeManagementV1RiskAssessment",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the extension that this assessment applies to."
        },
        "assessment": {
          "type": "string",
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider."
        },
        "detailsUrl": {
          "description": "A URL that a user can navigate to for more information about the risk assessment.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Risk assessment for a Chrome extension."
    },
    "GoogleChromeManagementVersionsV1EnableInsightsResponse": {
      "type": "object",
      "properties": {
        "insightsState": {
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "description": "The state of the insights feature.",
          "type": "string"
        }
      },
      "description": "Response from enabling insights for the customer.",
      "id": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "type": "object",
      "properties": {
        "printerReports": {
          "description": "List of PrinterReports matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token for requesting the next page."
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of printers matching request."
        }
      },
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Public name of the hardware specification."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of devices with a unique hardware specification."
        }
      },
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "description": "App launch data.",
      "type": "object",
      "properties": {
        "appLaunchSource": {
          "type": "string",
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "description": "App launch source."
        },
        "appType": {
          "description": "Type of app.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "type": "string"
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "properties": {
        "signalStrengthDbm": {
          "description": "Signal strength RSSI value.",
          "format": "int32",
          "type": "integer"
        },
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to.",
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "deviceDirectoryApiId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "keylockerConfigured": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean"
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean",
          "readOnly": true
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string"
        },
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "type": "object",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO"
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "properties": {
        "profileId": {
          "description": "Output only. The Chrome client side profile ID.",
          "readOnly": true,
          "type": "string"
        },
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string",
          "readOnly": true
        },
        "email": {
          "description": "Output only. The email of the profile.",
          "readOnly": true,
          "type": "string"
        },
        "profileOrgUnitId": {
          "readOnly": true,
          "description": "Output only. The organizational unit id of the profile.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a profile reporting Chrome Profile information.",
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Timestamp of when report was collected",
          "format": "google-datetime"
        },
        "appId": {
          "type": "string",
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\""
        },
        "appVersion": {
          "type": "string",
          "description": "App version number of kiosk app for example \"1.10.118\""
        }
      },
      "id": "GoogleChromeManagementV1KioskAppStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "dischargeRate": {
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "chargeRate": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Battery charge percentage."
        },
        "remainingCapacity": {
          "format": "int64",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "type": "string",
          "readOnly": true
        },
        "current": {
          "description": "Output only. Battery current (mA).",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery status read from sysfs. Example: Discharging"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        },
        "voltage": {
          "readOnly": true,
          "description": "Output only. Battery voltage (millivolt).",
          "format": "int64",
          "type": "string"
        },
        "temperature": {
          "readOnly": true,
          "description": "Output only. Temperature in Celsius degrees.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "type": "object",
      "properties": {
        "deviceActivityState": {
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "readOnly": true,
          "description": "Output only. Device activity state.",
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ]
        },
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the report was collected.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "id": "GoogleChromeManagementV1DeviceActivityReport"
    },
    "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse": {
      "type": "object",
      "properties": {
        "userDetails": {
          "items": {
            "$ref": "GoogleChromeManagementV1UserRequestingExtensionDetails"
          },
          "description": "Details of users that have requested the queried extension.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "totalSize": {
          "description": "Total number of users in response.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse",
      "description": "Response containing a list of users that have requested the queried extension."
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to.",
          "type": "string"
        }
      },
      "description": "Request to MoveThirdPartyProfileUser method.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
    },
    "GoogleChromeManagementVersionsV1EnableInsightsRequest": {
      "description": "Request to enable insights for the customer.",
      "type": "object",
      "properties": {
        "targetOus": {
          "type": "array",
          "description": "Optional. The Organizational Units to set up required connectors for. Organizational Units are provided as paths relative to root. If this field is not set, connectors will be set up at root OU (as if it were set to [\"/\"]). Example: [\"/corp/sales\", \"/eng\"]",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleChromeManagementVersionsV1EnableInsightsRequest"
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "description": "Information for a display.",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. Display device name.",
          "readOnly": true
        },
        "deviceId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Represents the graphics card device id.",
          "type": "string"
        },
        "serialNumber": {
          "type": "integer",
          "description": "Output only. Serial number.",
          "readOnly": true,
          "format": "int32"
        },
        "resolutionHeight": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Resolution height in pixels."
        },
        "edidVersion": {
          "type": "string",
          "description": "Output only. EDID version.",
          "readOnly": true
        },
        "resolutionWidth": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Resolution width in pixels."
        },
        "isInternal": {
          "readOnly": true,
          "description": "Output only. Indicates if display is internal or not.",
          "type": "boolean"
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1UserPrintReport",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "properties": {
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        },
        "deviceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of chrome devices that have been used to initiate print jobs by the user."
        },
        "userId": {
          "description": "The unique Directory API ID of the user.",
          "type": "string"
        },
        "printerCount": {
          "type": "string",
          "description": "Number of printers used by the user.",
          "format": "int64"
        },
        "jobCount": {
          "type": "string",
          "description": "Number of print jobs initiated by the user.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "description": "Response for MoveThirdPartyProfileUser method.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "properties": {
        "thirdPartyProfileUser": {
          "description": "Output only. The moved third party profile user.",
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "properties": {
        "riskLevel": {
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ]
        },
        "riskAssessment": {
          "$ref": "GoogleChromeManagementV1RiskAssessment",
          "readOnly": true,
          "description": "Output only. The details of the provider's risk assessment."
        },
        "provider": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Deprecated: Please use RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2 instead. Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ]
        }
      },
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "type": "object"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of devices matching request."
        },
        "devices": {
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse",
      "description": "Response from checking the enablement status of insights for the customer.",
      "properties": {
        "insightsState": {
          "description": "The state of the insights feature.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations.",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "format": "int32",
          "type": "integer"
        },
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1Device": {
      "description": "Describes a device reporting Chrome browser information.",
      "id": "GoogleChromeManagementV1Device",
      "properties": {
        "machine": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the machine within its local network."
        },
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "description": "External display data.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "properties": {
        "resolutionVertical": {
          "type": "integer",
          "description": "The vertical resolution.",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "serialNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The serial number."
        },
        "resolutionHorizontal": {
          "type": "integer",
          "format": "int32",
          "description": "The horizontal resolution."
        },
        "edidVersion": {
          "description": "The EDID version.",
          "type": "string"
        },
        "refreshRate": {
          "description": "The refresh rate.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1SaasUsageBrowser": {
      "type": "object",
      "description": "Details of a SaaS usage browser.",
      "id": "GoogleChromeManagementV1SaasUsageBrowser",
      "properties": {
        "osPlatform": {
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "description": "Output only. The OS platform.",
          "readOnly": true,
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The ID of the organizational unit.",
          "type": "string",
          "readOnly": true
        },
        "firstNavigationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the application was first navigated to by this browser."
        },
        "lastNavigationTime": {
          "description": "Output only. The timestamp when the application was last navigated to by this browser.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "machine": {
          "readOnly": true,
          "description": "Output only. The machine name.",
          "type": "string"
        },
        "devicePermanentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The device permanent ID."
        },
        "osVersion": {
          "description": "Output only. The OS version.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "connectionState": {
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "description": "Current connection state of the network.",
          "type": "string"
        }
      },
      "description": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1PubSubConfig": {
      "type": "object",
      "properties": {
        "topicFullPath": {
          "description": "Required. The full path to the topic to send the event to. Must be at most 1000 characters.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Pub/Sub config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      },
      "id": "GoogleChromeManagementVersionsV1PubSubConfig",
      "description": "Pub/Sub connector config."
    },
    "GoogleChromeManagementVersionsV1AttestationCredential": {
      "description": "Information of public key associated with a Chrome browser profile.",
      "properties": {
        "publicKey": {
          "readOnly": true,
          "description": "Output only. Value of the public key.",
          "format": "byte",
          "type": "string"
        },
        "keyRotationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Latest rotation timestamp of the public key rotation.",
          "type": "string"
        },
        "keyType": {
          "description": "Output only. Type of the public key.",
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified public key type.",
            "Represents a RSA key.",
            "Represents an EC key."
          ],
          "readOnly": true,
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA_KEY",
            "EC_KEY"
          ]
        },
        "keyTrustLevel": {
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ],
          "description": "Output only. Trust level of the public key.",
          "enumDescriptions": [
            "Represents an unspecified public key trust level.",
            "Represents a HW key.",
            "Represents an OS key."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1AttestationCredential",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "properties": {
        "minUserCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The minimum number of users using this app.",
          "readOnly": true
        },
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "description": "Output only. Types of an item in the Chrome Web Store",
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ]
        },
        "manifestVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of this extension's manifest.",
          "format": "int64"
        },
        "isExtensionPolicySupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether an app supports policy for extensions."
        },
        "permissions": {
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "type": "array",
          "readOnly": true
        },
        "kioskEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices"
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "type": "array"
        },
        "googleOwned": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "type": "boolean",
          "readOnly": true
        },
        "supportEnabled": {
          "type": "boolean",
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "isTheme": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is a theme."
        }
      },
      "description": "Chrome Web Store app information."
    },
    "GoogleChromeManagementVersionsV1ScepCaConnection": {
      "description": "Describes a SCEP Certificate Authority Connection.",
      "id": "GoogleChromeManagementVersionsV1ScepCaConnection",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "type": "string",
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
[...]
