{
  "revision": "20260916",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "Chromewebstore",
  "batchPath": "batch",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "version_module": true,
  "resources": {
    "items": {
      "methods": {
        "publish": {
          "request": {
            "$ref": "PublishRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Item2"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.items.publish",
          "parameterOrder": [
            "itemId"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "reviewExemption": {
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean"
            },
            "itemId": {
              "type": "string",
              "required": true,
              "description": "The ID of the item to publish.",
              "location": "path"
            },
            "deployPercentage": {
              "format": "int32",
              "location": "query",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "type": "integer"
            },
            "publishTarget": {
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string"
            }
          },
          "description": "Publishes an item.",
          "path": "chromewebstore/v1.1/items/{itemId}/publish"
        },
        "get": {
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.get",
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "required": true
            },
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "description": "Gets your own Chrome Web Store item."
        },
        "insert": {
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.insert",
          "parameterOrder": [],
          "path": "chromewebstore/v1.1/items",
          "flatPath": "chromewebstore/v1.1/items",
          "description": "Inserts a new item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "PUT",
          "id": "chromewebstore.items.update",
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "itemId": {
              "location": "path",
              "description": "The ID of the item to upload.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "supportsMediaUpload": true,
          "description": "Updates an existing item."
        }
      }
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "title": "Chrome Web Store API",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "chromewebstore:v1.1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "version": "v1.1",
  "schemas": {
    "Item": {
      "id": "Item",
      "properties": {
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "itemError": {
          "items": {
            "$ref": "ItemError"
          },
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array"
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ItemError": {
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "id": "ItemError",
      "description": "Error of the item"
    },
    "PublishRequest": {
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        }
      },
      "id": "PublishRequest"
    },
    "Item2": {
      "id": "Item2",
      "properties": {
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        }
      },
      "type": "object"
    }
  },
  "basePath": "",
  "servicePath": "",
  "protocol": "rest",
  "name": "chromewebstore"
}