{
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "canonicalName": "Chrome Management",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "name": "chromemanagement",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Chrome Management API",
  "revision": "20260830",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "type": "object",
      "description": "Information of an extension installed on a Chrome browser profile.",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the extension."
        },
        "version": {
          "description": "Output only. Version of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "isWebstoreExtension": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Represents whether the extension is from the webstore."
        },
        "manifestVersion": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Manifest version of the extension.",
          "type": "integer"
        },
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "type": "string",
          "readOnly": true
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. The URL of the homepage of the extension.",
          "type": "string"
        },
        "installationType": {
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. Installation type of the extension.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ]
        },
        "extensionType": {
          "type": "string",
          "description": "Output only. Type of the extension.",
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "readOnly": true
        },
        "isDisabled": {
          "type": "boolean",
          "description": "Output only. Represents whether the user disabled the extension.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the extension.",
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions requested by the extension.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "type": "object",
      "properties": {
        "networkStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Network specs collected periodically."
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "type": "array"
        },
        "storageInfo": {
          "description": "Output only. Information of storage specs for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo"
        },
        "cpuStatusReport": {
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        },
        "memoryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "readOnly": true,
          "type": "array"
        },
        "runtimeCountersReport": {
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          },
          "readOnly": true
        },
        "batteryInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "description": "Output only. Information on battery specs for the device.",
          "readOnly": true,
          "type": "array"
        },
        "thunderboltInfo": {
          "type": "array",
          "description": "Output only. Information on Thunderbolt bus.",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "readOnly": true
        },
        "kioskAppStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Kiosk app status report for the kiosk device",
          "type": "array"
        },
        "heartbeatStatusReport": {
          "type": "array",
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          }
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "readOnly": true
        },
        "audioStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time."
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization unit ID of the device."
        },
        "networkDiagnosticsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "description": "Output only. Network diagnostics collected periodically.",
          "type": "array",
          "readOnly": true
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true
        },
        "cpuInfo": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "description": "Output only. Information regarding CPU specs for the device.",
          "type": "array"
        },
        "batteryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Battery reports collected periodically."
        },
        "networkInfo": {
          "description": "Output only. Network devices information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1NetworkInfo"
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab"
        },
        "osUpdateStatus": {
          "readOnly": true,
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          }
        },
        "graphicsInfo": {
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsInfo"
        },
        "appReport": {
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "readOnly": true
        },
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device."
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "graphicsStatusReport": {
          "description": "Output only. Graphics reports collected periodically.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true
        },
        "bootPerformanceReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "type": "array",
          "description": "Output only. Boot performance reports of the device.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE"
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "properties": {
        "type": {
          "description": "Output only. The type of the SubjectAltName extension.",
          "type": "string",
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "readOnly": true,
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ]
        },
        "value": {
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes a subject alternative name.",
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "type": "object",
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "properties": {
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        },
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "properties": {
        "inputMute": {
          "description": "Output only. Is active input device mute or not.",
          "type": "boolean",
          "readOnly": true
        },
        "outputVolume": {
          "readOnly": true,
          "description": "Output only. Active output device's volume in [0, 100].",
          "type": "integer",
          "format": "int32"
        },
        "inputGain": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Active input device's gain in [0, 100]."
        },
        "outputDevice": {
          "readOnly": true,
          "description": "Output only. Active output device's name.",
          "type": "string"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "outputMute": {
          "description": "Output only. Is active output device mute or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "inputDevice": {
          "description": "Output only. Active input device's name.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "id": "GoogleChromeManagementV1AudioStatusReport"
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "properties": {
        "unsupportedPolicyCount": {
          "type": "string",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "format": "int64"
        },
        "noRecentUserActivityCount": {
          "format": "int64",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "type": "string"
        },
        "noRecentPolicySyncCount": {
          "type": "string",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices whose OS version is not compliant."
        },
        "pendingUpdate": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices that are pending an OS update."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SignDataResponse": {
      "description": "Response message for requesting a signature from the client that initated a certificate provisioning process.",
      "id": "GoogleChromeManagementVersionsV1SignDataResponse",
      "properties": {
        "certificateProvisioningProcess": {
          "description": "Output only. The certificate provisioning process. The signature generated by the client will be available in the `signature` field of `CertificateProvisioningProcess`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "description": "Response message for publishing an issued certificate for a certificate provisioning process.",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "properties": {
        "deviceActivityState": {
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device activity state."
        },
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when the report was collected."
        }
      },
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfo": {
      "id": "GoogleChromeManagementV1StorageInfo",
      "properties": {
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "format": "int64",
          "type": "string"
        },
        "volume": {
          "description": "Information for disk volumes",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          }
        },
        "availableDiskBytes": {
          "type": "string",
          "format": "int64",
          "description": "The available space for user data storage in the device in bytes."
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "properties": {
        "usbPeripheralReport": {
          "description": "Reports of all usb connected devices.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "properties": {
        "telemetryEvents": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array",
          "description": "Telemetry events returned in the response."
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "description": "Response message for listing telemetry events for a customer.",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse": {
      "type": "object",
      "description": "Response to ListConnectorConfigs method.",
      "id": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to retrieve the next page of the listing request. If the token is empty, there are no more pages to retrieve."
        },
        "connectorConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
          },
          "description": "The list of connector configs returned."
        }
      }
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse",
      "type": "object",
      "description": "Response from checking the enablement status of insights for the customer.",
      "properties": {
        "insightsState": {
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "description": "The state of the insights feature."
        }
      }
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "description": "Information of a display device.",
      "id": "GoogleChromeManagementV1DisplayDevice",
      "type": "object",
      "properties": {
        "manufactureYear": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Year of manufacture."
        },
        "displayHeightMm": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Display height in millimeters."
        },
        "edidVersion": {
          "type": "string",
          "description": "Output only. EDID version.",
          "readOnly": true
        },
        "displayWidthMm": {
          "type": "integer",
          "description": "Output only. Display width in millimeters.",
          "readOnly": true,
          "format": "int32"
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "modelId": {
          "format": "int32",
          "description": "Output only. Manufacturer product code.",
          "type": "integer",
          "readOnly": true
        },
        "manufacturerId": {
          "description": "Output only. Three letter manufacturer ID.",
          "readOnly": true,
          "type": "string"
        },
        "internal": {
          "description": "Output only. Is display internal or not.",
          "type": "boolean",
          "readOnly": true
        },
        "serialNumber": {
          "format": "int32",
          "description": "Output only. Serial number.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "description": "Response containing the number of active devices.",
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "properties": {
        "thirtyDaysCount": {
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "format": "int64",
          "type": "string"
        },
        "sevenDaysCount": {
          "format": "int64",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDeviceInfo": {
      "properties": {
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization unit ID of the device."
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about a device associated with telemetry data. * Granular Permission needed: TELEMETRY_API_DEVICE",
      "id": "GoogleChromeManagementV1TelemetryDeviceInfo"
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "type": "object",
      "properties": {
        "deviceDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        }
      },
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "id": "GoogleChromeManagementVersionsV1SignDataRequest",
      "properties": {
        "signData": {
          "type": "string",
          "description": "Required. The data that the client was asked to sign.",
          "format": "byte"
        },
        "signatureAlgorithm": {
          "type": "string",
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ],
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ]
        }
      },
      "type": "object",
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process."
    },
    "GoogleChromeManagementVersionsV1MipLabelConfig": {
      "type": "object",
      "description": "MIP label connector config.",
      "id": "GoogleChromeManagementVersionsV1MipLabelConfig",
      "properties": {
        "microsoftTenantId": {
          "description": "Required. Microsoft tenant ID.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain can be used optionally for the corner case where one Dasher customer ID maps to multiple Microsoft tenant ID. Each domain can be verified with at most one Microsoft tenant."
        }
      }
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse": {
      "type": "object",
      "properties": {
        "urlVisitsBreakdowns": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown"
          },
          "type": "array",
          "description": "The URL visit breakdowns from the specified insight."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse",
      "description": "Response message for QueryUrlVisitsBreakdowns."
    },
    "GoogleChromeManagementV1InstalledApp": {
      "description": "Describes an installed app.",
      "properties": {
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "appType": {
          "description": "Output only. Type of the app.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ]
        },
        "profileCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of Chrome Profiles with this app installed."
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the installed app."
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "appInstallType": {
          "type": "string",
          "description": "Output only. How the app was installed.",
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ]
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Homepage uri of the installed app."
        },
        "browserDeviceCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed.",
          "type": "string"
        },
        "osUserCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Count of ChromeOS users with this app installed."
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Permissions of the installed app.",
          "items": {
            "type": "string"
          }
        },
        "appSource": {
          "description": "Output only. Source of the installed app.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1InstalledApp"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "properties": {
        "destinationOrgUnit": {
          "type": "string",
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to."
        }
      },
      "type": "object",
      "description": "Request to MoveThirdPartyProfileUser method."
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "properties": {
        "provider": {
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Deprecated: Please use RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2 instead. Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ]
        },
        "riskLevel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ]
        },
        "riskAssessment": {
          "readOnly": true,
          "description": "Output only. The details of the provider's risk assessment.",
          "$ref": "GoogleChromeManagementV1RiskAssessment"
        }
      },
      "description": "One risk assessment entry.",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "properties": {
        "totalMemoryEncryption": {
          "description": "Output only. Total memory encryption info for the device.",
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true
        },
        "totalRamBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total RAM in bytes."
        },
        "availableRamBytes": {
          "readOnly": true,
          "description": "Output only. Amount of available RAM in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryInfo"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "properties": {
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "httpsLatencyState": {
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "description": "Current HTTPS latency state.",
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "type": "object",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
      "description": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "description": "Unique identifier of the network."
        },
        "connectionState": {
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "description": "Current connection state of the network.",
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "type": "string",
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true
        },
        "model": {
          "readOnly": true,
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string"
        },
        "keylockerConfigured": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`."
        },
        "maxClockSpeed": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The max CPU clock speed in kHz."
        },
        "keylockerSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported."
        }
      },
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1CpuInfo"
    },
    "GoogleChromeManagementVersionsV1ReportingData": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingData",
      "properties": {
        "installedBrowserVersion": {
          "description": "Output only. Updated version of a browser, if it is different from the active browser version.",
          "type": "string",
          "readOnly": true
        },
        "browserExecutablePath": {
          "type": "string",
          "description": "Output only. Executable path of the installed Chrome browser. A valid path is included only in affiliated profiles.",
          "readOnly": true
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the profile.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          }
        },
        "profilePath": {
          "description": "Output only. Path of the profile. A valid path is included only in affiliated profiles.",
          "readOnly": true,
          "type": "string"
        },
        "extensionPolicyData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
          },
          "type": "array",
          "description": "Output only. Information of the policies applied on the extensions.",
          "readOnly": true
        },
        "extensionData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionData"
          },
          "readOnly": true,
          "description": "Output only. Information of the extensions installed on the profile.",
          "type": "array"
        }
      },
      "description": "Reporting data of a Chrome browser profile."
    },
    "GoogleChromeManagementV1NetworkBandwidthReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "downloadSpeedKbps": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Download speed in kilobits per second."
        }
      },
      "description": "Network bandwidth report. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1NetworkBandwidthReport"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "bootUpTime": {
          "description": "The timestamp when power came on.",
          "type": "string",
          "format": "google-datetime"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp when the report was collected.",
          "type": "string"
        },
        "shutdownDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time since shutdown start to power off."
        },
        "bootUpDuration": {
          "type": "string",
          "description": "Total time to boot up.",
          "format": "google-duration"
        },
        "shutdownReason": {
          "description": "The shutdown reason.",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "type": "string"
        },
        "shutdownTime": {
          "type": "string",
          "description": "The timestamp when shutdown.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile.",
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The ID of the organizational unit assigned to the user.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "description": "Represent one host permission."
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "description": "Response containing a list of devices with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "properties": {
        "totalSize": {
          "description": "Total number of devices matching request.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ConnectorConfig": {
      "properties": {
        "name": {
          "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
          "type": "string"
        },
        "details": {
          "description": "Required. The details of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
        },
        "type": {
          "description": "Required. The type of the connector.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Reporting connector.",
            "Device trust connector.",
            "XDR connector.",
            "Authentication connector.",
            "Certificate authority connector. Not yet supported in the API.",
            "Root certificate connector.",
            "Content analysis connector."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "REPORTING",
            "DEVICE_TRUST",
            "XDR",
            "IDENTITY_BASED_ENROLLMENT",
            "CERTIFICATE_AUTHORITY",
            "ROOT_STORE",
            "CONTENT_ANALYSIS"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the config."
        },
        "status": {
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
          "readOnly": true,
          "description": "Output only. The status of the connector config."
        }
      },
      "description": "A representation of a connector config.",
      "id": "GoogleChromeManagementVersionsV1ConnectorConfig",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "description": "External display connected/disconnected event payload.",
      "properties": {
        "externalDisplayData": {
          "description": "List of external displays that were connected/disconnected.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          }
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "properties": {
        "browserVersions": {
          "description": "List of all browser versions and their install counts.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        },
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        }
      },
      "description": "Response containing requested browser versions details and counts.",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "properties": {
        "deviceId": {
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        },
        "appReport": {
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "type": "array",
          "readOnly": true
        },
        "networkBandwidthReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time."
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          }
        },
        "deviceActivityReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          },
          "type": "array",
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "audioStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time."
        }
      }
    },
    "GoogleChromeManagementV1PrinterReport": {
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "id": "GoogleChromeManagementV1PrinterReport",
      "type": "object",
      "properties": {
        "jobCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of print jobs sent to the printer."
        },
        "deviceCount": {
          "type": "string",
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "format": "int64"
        },
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "type": "string",
          "format": "int64"
        },
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        },
        "printerModel": {
          "type": "string",
          "description": "Printer model."
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "description": "A representation of a Chrome browser profile.",
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfile",
      "type": "object",
      "properties": {
        "lastActivityTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest activity by the profile.",
          "readOnly": true,
          "type": "string"
        },
        "lastPolicyFetchTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest policy fetch by the profile.",
          "type": "string"
        },
        "reportingData": {
          "description": "Output only. Detailed reporting data of the profile. This information is only available when the profile reporting policy is enabled.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ReportingData"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}"
        },
        "lastPolicySyncTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest policy sync by the profile.",
          "format": "google-datetime"
        },
        "annotatedUser": {
          "type": "string",
          "description": "Optional. User of the profile annotated by the admin."
        },
        "etag": {
          "description": "Output only. Etag of this ChromeBrowserProfile resource. This etag can be used with UPDATE operation to ensure consistency.",
          "readOnly": true,
          "type": "string"
        },
        "osPlatformVersion": {
          "readOnly": true,
          "description": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting.",
          "type": "string"
        },
        "policyCount": {
          "description": "Output only. Number of policies applied on the profile.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "attestationCredential": {
          "description": "Output only. Attestation credential information of the profile.",
          "$ref": "GoogleChromeManagementVersionsV1AttestationCredential",
          "readOnly": true
        },
        "lastStatusReportTime": {
          "type": "string",
          "description": "Output only. Timestamp of the latest status report by the profile.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "profileId": {
          "description": "Output only. Chrome client side profile ID.",
          "readOnly": true,
          "type": "string"
        },
        "identityProvider": {
          "description": "Output only. Identify provider of the profile.",
          "enumDescriptions": [
            "Represents an unspecified identity provider.",
            "Represents a Google identity provider.",
            "Represents an external identity provider."
          ],
          "enum": [
            "IDENTITY_PROVIDER_UNSPECIFIED",
            "GOOGLE_IDENTITY_PROVIDER",
            "EXTERNAL_IDENTITY_PROVIDER"
          ],
          "readOnly": true,
          "type": "string"
        },
        "affiliationState": {
          "type": "string",
          "enum": [
            "AFFILIATION_STATE_UNSPECIFIED",
            "UNAFFILIATED_GENERIC",
            "PROFILE_ONLY",
            "UNAFFILIATED_LOCAL_MACHINE",
            "UNAFFILIATED_CLOUD_MACHINE",
            "AFFILIATED_CLOUD_MANAGED"
          ],
          "description": "Output only. The specific affiliation state of the profile.",
          "enumDescriptions": [
            "Unspecified affiliation state.",
            "Unaffiliated - but we do not have the details for the type of unaffiliated profile.",
            "Unaffiliated - A managed profile that appears on a totally unamanaged browser.",
            "Unaffiliated - A managed profile that appears on a machine that is locally managed by a different organization (through platform management mechanisms like GPO).",
            "Unaffiliated - A managed profile that appears on a managed browser that is cloud managed by a different organization (using Chrome Browser Cloud Management).",
            "Affiliated - Both the profile and the managed browser are managed by the same organization."
          ],
          "readOnly": true
        },
        "annotatedLocation": {
          "description": "Optional. Location of the profile annotated by the admin.",
          "type": "string"
        },
        "userId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique Directory API ID of the user that can be used in Admin SDK Users API."
        },
        "osVersion": {
          "description": "Output only. OS version of the device on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "firstEnrollmentTime": {
          "description": "Output only. Timestamp of the first enrollment of the profile.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "profilePermanentId": {
          "type": "string",
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "readOnly": true
        },
        "supportsFcmNotifications": {
          "readOnly": true,
          "description": "Output only. Whether the profile supports FCM notifications.",
          "type": "boolean"
        },
        "browserChannel": {
          "readOnly": true,
          "description": "Output only. Channel of the browser on which the profile exists.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the user to which the profile belongs."
        },
        "extensionCount": {
          "description": "Output only. Number of extensions installed on the profile.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Profile display name set by client.",
          "type": "string"
        },
        "osPlatformType": {
          "type": "string",
          "description": "Output only. OS platform of the device on which the profile exists.",
          "readOnly": true
        },
        "browserVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the browser on which the profile exists."
        },
        "deviceInfo": {
          "description": "Output only. Basic information of the device on which the profile exists. This information is only available for the affiliated profiles.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1DeviceInfo"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "description": "Information of an internal touch screen device.",
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "type": "object",
      "properties": {
        "touchPointCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of touch points supported on the device.",
          "format": "int32"
        },
        "displayName": {
          "description": "Output only. Touch screen device display name.",
          "readOnly": true,
          "type": "string"
        },
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string"
        },
        "disk": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Reports on disk.",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          }
        }
      }
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "description": "Response containing counts for browsers that need attention.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "properties": {
        "recentlyEnrolledCount": {
          "type": "string",
          "description": "Number of browsers that have been recently enrolled",
          "format": "int64"
        },
        "pendingBrowserUpdateCount": {
          "format": "int64",
          "description": "Number of browsers that are pending an OS update",
          "type": "string"
        },
        "noRecentActivityCount": {
          "description": "Number of browsers that haven’t had any recent activity",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "installedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "description": "List of installed apps matching request.",
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total number of installed apps matching request.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "description": "Response containing details of queried installed apps."
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigDetails": {
      "description": "The details of the connector config.",
      "type": "object",
      "properties": {
        "crowdStrikeXdrConfig": {
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig",
          "description": "CrowdStrike XDR connector config."
        },
        "deviceTrustConfig": {
          "description": "Device trust connector config.",
          "$ref": "GoogleChromeManagementVersionsV1DeviceTrustConfig"
        },
        "pubSubConfig": {
          "description": "Pub/Sub connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PubSubConfig"
        },
        "crowdStrikeFalconNextGenConfig": {
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
          "description": "CrowdStrike Falcon Next Gen connector config."
        },
        "googleSecOpsConfig": {
          "$ref": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig",
          "description": "Google SecOps connector config."
        },
        "pubSubXdrConfig": {
          "description": "Pub/Sub XDR connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PubSubXdrConfig"
        },
        "mipLabelConfig": {
          "$ref": "GoogleChromeManagementVersionsV1MipLabelConfig",
          "description": "MIP label connector config."
        },
        "splunkConfig": {
          "$ref": "GoogleChromeManagementVersionsV1SplunkConfig",
          "description": "Splunk connector config."
        },
        "paloAltoNetworksConfig": {
          "$ref": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
          "description": "Palo Alto Networks connector config."
        },
        "crowdStrikeConfig": {
          "description": "CrowdStrike connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeConfig"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "description": "The `count` of the Chrome crash events at the `date`.",
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "type": "object",
      "properties": {
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "type": "string",
          "readOnly": true
        },
        "machine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network."
        }
      },
      "description": "Describes a device reporting Chrome browser information.",
      "type": "object",
      "id": "GoogleChromeManagementV1Device"
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails"
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "properties": {
        "source": {
          "type": "string",
          "description": "Output only. Source of the policy.",
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information of conflicting policy applied on a Chrome browser profile."
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "properties": {
        "usbPeripheralReport": {
          "type": "array",
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      },
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "id": "GoogleChromeManagementV1KioskAppStatusReport",
      "type": "object",
      "properties": {
        "appVersion": {
          "description": "App version number of kiosk app for example \"1.10.118\"",
          "type": "string"
        },
        "reportTime": {
          "description": "Timestamp of when report was collected",
          "format": "google-datetime",
          "type": "string"
        },
        "appId": {
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\"",
          "type": "string"
        }
      }
    },
    "GoogleTypeDate": {
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkDevice",
      "properties": {
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "imei": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device."
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        },
        "macAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. MAC address (if applicable) of the corresponding network device."
        },
        "type": {
          "description": "Output only. Network device type.",
          "readOnly": true,
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ]
        },
        "mdn": {
          "type": "string",
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "properties": {
        "caConnectionAdapterConfigReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "description": "Describes a generic Certificate Authority Connection."
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events."
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      },
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
      "description": "CrowdStrike Falcon Next Gen connector config.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "properties": {
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "description": "Type of app.",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "type": "string"
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appLaunchSource": {
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "type": "string",
          "description": "App launch source.",
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ]
        }
      },
      "type": "object",
      "description": "App launch data."
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "description": "Describes a browser version and its install count.",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Output only. Count grouped by device_system and major version",
          "readOnly": true,
          "type": "string"
        },
        "system": {
          "description": "Output only. The device operating system.",
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "readOnly": true
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full version of the installed browser."
        },
        "deviceOsVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the system-specified operating system."
        },
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "description": "Output only. The release channel of the installed browser.",
          "readOnly": true,
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UrlVisitsSummary": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "description": "The type of URL visits metric.",
          "enum": [
            "URL_VISITS_METRIC_UNSPECIFIED",
            "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
            "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
            "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
            "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
          ],
          "enumDescriptions": [
            "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
            "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
            "The number of suspicious URL visits with high risk.",
            "The number of suspicious URL visits with medium risk.",
            "The number of suspicious URL visits with low risk."
          ]
        },
        "count": {
          "description": "The count of the URL visits metric.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
      "description": "Summary of URL visits for a given metric."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "properties": {
        "networkDevices": {
          "description": "Output only. List of network devices.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1DisableInsightsRequest": {
      "description": "Request to disable insights for the customer.",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1DisableInsightsRequest",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "description": "Permission requested by a Chrome app or extension.",
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the permission."
        },
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "type": "string",
          "readOnly": true
        },
        "accessUserData": {
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "description": "Response message for listing telemetry users for a customer.",
      "properties": {
        "telemetryUsers": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "type": "array",
          "description": "Telemetry users returned in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
[...]
