{
  "id": "chromewebstore:v2",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "version_module": true,
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "parameters": {
            "name": {
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v2/{+name}:upload",
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "id": "chromewebstore.media.upload",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/v2/{+name}:upload",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "supportsMediaUpload": true,
          "description": "Upload a new package to an existing item.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "httpMethod": "POST"
        }
      }
    },
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "cancelSubmission": {
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "httpMethod": "POST",
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:cancelSubmission"
            },
            "publish": {
              "request": {
                "$ref": "PublishItemRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "path": "v2/{+name}:publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "id": "chromewebstore.publishers.items.publish",
              "httpMethod": "POST",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "parameterOrder": [
                "name"
              ]
            },
            "fetchStatus": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "id": "chromewebstore.publishers.items.fetchStatus",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "path": "v2/{+name}:fetchStatus",
              "httpMethod": "GET",
              "description": "Fetch the status of an item.",
              "response": {
                "$ref": "FetchItemStatusResponse"
              }
            },
            "setPublishedDeployPercentage": {
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "httpMethod": "POST",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users."
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "version": "v2",
  "schemas": {
    "DeployInfo": {
      "type": "object",
      "id": "DeployInfo",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        }
      },
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters."
    },
    "UploadItemPackageRequest": {
      "type": "object",
      "properties": {},
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage."
    },
    "WarningsInfo": {
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "Warning"
          },
          "description": "All warnings encountered during the request."
        }
      },
      "id": "WarningsInfo",
      "type": "object"
    },
    "PublishItemRequest": {
      "properties": {
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "type": "string",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset."
        }
      },
      "description": "Request message for PublishItem.",
      "type": "object",
      "id": "PublishItemRequest"
    },
    "PublishItemResponse": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the item that was submitted"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the submission.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "warningInfo": {
          "$ref": "WarningsInfo",
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "readOnly": true
        }
      },
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`.",
      "type": "object"
    },
    "CancelSubmissionRequest": {
      "properties": {},
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "id": "CancelSubmissionRequest"
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "id": "CancelSubmissionResponse",
      "properties": {},
      "type": "object"
    },
    "FetchItemStatusResponse": {
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "type": "string",
          "readOnly": true
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus",
          "readOnly": true
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish."
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours."
        }
      },
      "id": "FetchItemStatusResponse",
      "type": "object"
    },
    "ItemRevisionStatus": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "description": "Output only. Current state of the item",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true
        },
        "distributionChannels": {
          "type": "array",
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          }
        }
      },
      "description": "Details on the status of an item revision.",
      "id": "ItemRevisionStatus",
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "id": "SetPublishedDeployPercentageRequest",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer"
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "id": "SetPublishedDeployPercentageResponse",
      "properties": {},
      "type": "object"
    },
    "UploadItemPackageResponse": {
      "type": "object",
      "id": "UploadItemPackageResponse",
      "properties": {
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "uploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true
        }
      },
      "description": "Response message for `UploadItemPackage`."
    },
    "Warning": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
        },
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        }
      },
      "description": "Represents a single warning encountered during the request.",
      "type": "object",
      "id": "Warning"
    },
    "DistributionChannel": {
      "id": "DistributionChannel",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "description": "Deployment information for a specific release channel"
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20261007",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "batchPath": "batch",
  "name": "chromewebstore",
  "title": "Chrome Web Store API",
  "protocol": "rest",
  "canonicalName": "Chromewebstore",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com"
}