{
  "id": "chromewebstore:v1.1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "version_module": true,
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "discoveryVersion": "v1",
  "schemas": {
    "Item2": {
      "properties": {
        "status": {
          "items": {
            "type": "string"
          },
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array"
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Item2"
    },
    "PublishRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        }
      },
      "id": "PublishRequest"
    },
    "ItemError": {
      "id": "ItemError",
      "description": "Error of the item",
      "type": "object",
      "properties": {
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        },
        "error_code": {
          "type": "string",
          "description": "The error code."
        }
      }
    },
    "Item": {
      "properties": {
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Item"
    }
  },
  "ownerName": "Google",
  "title": "Chrome Web Store API",
  "protocol": "rest",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "flatPath": "chromewebstore/v1.1/items",
          "id": "chromewebstore.items.insert",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            }
          },
          "description": "Inserts a new item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "chromewebstore/v1.1/items",
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "httpMethod": "POST"
        },
        "update": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates an existing item.",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "PUT",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "id": "chromewebstore.items.update",
          "request": {
            "$ref": "Item"
          }
        },
        "get": {
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "parameters": {
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ]
            }
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "description": "Gets your own Chrome Web Store item.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ]
        },
        "publish": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item2"
          },
          "description": "Publishes an item.",
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "reviewExemption": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            },
            "publishTarget": {
              "type": "string",
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "chromewebstore.items.publish",
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "PublishRequest"
          }
        }
      }
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "version": "v1.1",
  "servicePath": "",
  "canonicalName": "Chromewebstore",
  "name": "chromewebstore",
  "ownerDomain": "google.com",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "revision": "20260930"
}