{
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "chromewebstore:v1.1",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "flatPath": "chromewebstore/v1.1/items",
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.insert",
          "response": {
            "$ref": "Item"
          },
          "description": "Inserts a new item.",
          "httpMethod": "POST",
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "path": "chromewebstore/v1.1/items",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        },
        "update": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.update",
          "httpMethod": "PUT",
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload."
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "description": "Updates an existing item.",
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "supportsMediaUpload": true
        },
        "publish": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "chromewebstore.items.publish",
          "response": {
            "$ref": "Item2"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "httpMethod": "POST",
          "parameters": {
            "deployPercentage": {
              "type": "integer",
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query"
            },
            "itemId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the item to publish."
            },
            "reviewExemption": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            },
            "publishTarget": {
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string"
            }
          },
          "description": "Publishes an item.",
          "parameterOrder": [
            "itemId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        },
        "get": {
          "id": "chromewebstore.items.get",
          "httpMethod": "GET",
          "parameters": {
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            },
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "path": "chromewebstore/v1.1/items/{itemId}"
        }
      }
    }
  },
  "revision": "20260915",
  "protocol": "rest",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "schemas": {
    "ItemError": {
      "properties": {
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        },
        "error_code": {
          "type": "string",
          "description": "The error code."
        }
      },
      "type": "object",
      "description": "Error of the item",
      "id": "ItemError"
    },
    "Item": {
      "properties": {
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "itemError": {
          "items": {
            "$ref": "ItemError"
          },
          "type": "array",
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        }
      },
      "id": "Item",
      "type": "object"
    },
    "Item2": {
      "type": "object",
      "properties": {
        "status": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED."
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        }
      },
      "id": "Item2"
    },
    "PublishRequest": {
      "properties": {
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        }
      },
      "type": "object",
      "id": "PublishRequest"
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "ownerDomain": "google.com",
  "version": "v1.1",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "name": "chromewebstore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "canonicalName": "Chromewebstore"
}