{
  "kind": "discovery#restDescription",
  "version": "v1",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260827",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "title": "Chrome Management API",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "schemas": {
    "GoogleChromeManagementV1AndroidAppInfo": {
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "description": "Output only. Permissions requested by an Android app.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "description": "Android app information.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "description": "App launch data.",
      "type": "object",
      "properties": {
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app.",
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appLaunchSource": {
          "description": "App launch source.",
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "type": "object",
      "description": "Information of a display device.",
      "properties": {
        "serialNumber": {
          "description": "Output only. Serial number.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "edidVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. EDID version."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display device name."
        },
        "manufactureYear": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Year of manufacture.",
          "format": "int32"
        },
        "displayWidthMm": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Display width in millimeters."
        },
        "manufacturerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Three letter manufacturer ID."
        },
        "displayHeightMm": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Display height in millimeters.",
          "type": "integer"
        },
        "internal": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is display internal or not."
        },
        "modelId": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Manufacturer product code."
        }
      },
      "id": "GoogleChromeManagementV1DisplayDevice"
    },
    "GoogleChromeManagementVersionsV1ReportingSettings": {
      "id": "GoogleChromeManagementVersionsV1ReportingSettings",
      "description": "Reporting settings for connector configs.",
      "type": "object",
      "properties": {
        "enabledDefaultEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DEFAULT_EVENT_UNSPECIFIED",
              "ALL_DEFAULT_EVENTS",
              "BROWSER_CRASH_EVENT",
              "BROWSER_EXTENSION_INSTALL_EVENT",
              "CONTENT_TRANSFER_EVENT",
              "CONTENT_UNSCANNED_EVENT",
              "DATA_ACCESS_CONTROL_EVENT",
              "MALWARE_TRANSFER_EVENT",
              "PASSWORD_CHANGED_EVENT",
              "PASSWORD_REUSE_EVENT",
              "SENSITIVE_DATA_TRANSFER_EVENT",
              "SUSPICIOUS_URL_EVENT",
              "UNSAFE_SITE_VISIT_EVENT",
              "URL_FILTERING_INTERSTITIAL_EVENT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All default events.",
              "Browser crash event.",
              "Browser extension install event.",
              "Content transfer event.",
              "Content unscanned event.",
              "Data access control event.",
              "Malware transfer event.",
              "Password changed event.",
              "Password reuse event.",
              "Sensitive data transfer event.",
              "Suspicious URL event.",
              "Unsafe site visit event.",
              "URL filtering interstitial event."
            ]
          },
          "description": "Optional. The list of user and browser events that are enabled for this connector. An empty list disables all default events, and using `ALL_DEFAULT_EVENTS` will enable all default events."
        },
        "enabledOptInEvents": {
          "items": {
            "enum": [
              "OPT_IN_EVENT_UNSPECIFIED",
              "ALL_OPT_IN_EVENTS",
              "LOGIN_EVENT",
              "PASSWORD_BREACH_EVENT",
              "URL_NAVIGATION_EVENT",
              "EXTENSION_TELEMETRY_EVENT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All opt-in events.",
              "Login event.",
              "Password breach event.",
              "URL navigation event.",
              "Extension telemetry event."
            ]
          },
          "description": "Optional. The list of opt-in events that are enabled for this config. An empty list disables all opt-in events, and using `ALL_OPT_IN_EVENTS` will enable all opt-in events.",
          "type": "array"
        },
        "enabledDeviceEvents": {
          "items": {
            "enum": [
              "DEVICE_EVENT_UNSPECIFIED",
              "ALL_DEVICE_EVENTS",
              "ADD_REMOVE_USER_EVENT",
              "LOGIN_LOGOUT_EVENT",
              "CRD_EVENT",
              "PERIPHERAL_EVENT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All device events.",
              "Add/remove user event.",
              "Login/logout event.",
              "CRD event.",
              "Peripheral event."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of device events that are enabled for this config. An empty list disables all device events, and using `ALL_DEVICE_EVENTS` will enable all device events."
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerBootTypeResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse",
      "properties": {
        "unreportedBootTypeCount": {
          "description": "Number of devices with unreported boot type.",
          "type": "string",
          "format": "int64"
        },
        "verifiedBootTypeCount": {
          "description": "Number of devices with verified boot type.",
          "format": "int64",
          "type": "string"
        },
        "devBootTypeCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with dev boot type."
        }
      },
      "description": "Response containing the number of devices with the given boot type.",
      "type": "object"
    },
    "GoogleChromeManagementV1FindInstalledAppProfilesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "description": "Total number of profiles matching request.",
          "format": "int32",
          "type": "integer"
        },
        "profiles": {
          "description": "A list of profiles which have the app installed. Sorted in ascending alphabetical order on the profile.Email field.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ProfileAppInstallInstance"
          }
        }
      },
      "type": "object",
      "description": "Response containing a list of profiles with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "type": "object",
      "properties": {
        "externalDisplayData": {
          "description": "List of external displays that were connected/disconnected.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          }
        }
      },
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "description": "External display connected/disconnected event payload."
    },
    "GoogleChromeManagementV1Device": {
      "description": "Describes a device reporting Chrome browser information.",
      "id": "GoogleChromeManagementV1Device",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "readOnly": true,
          "type": "string"
        },
        "machine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network."
        }
      }
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "type": "object",
      "properties": {
        "problem": {
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "type": "string",
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true
        },
        "latency": {
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData"
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "properties": {
        "sessionType": {
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "type": "string",
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
            "SESSION_TYPE_ACTIVE_DIRECTORY"
          ],
          "description": "Session type."
        },
        "crashType": {
          "description": "Crash type.",
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ],
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "type": "string"
        },
        "crashId": {
          "description": "Crash id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "OS crash data.",
      "id": "GoogleChromeManagementV1TelemetryOsCrashEvent"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "properties": {
        "appReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "type": "array",
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        },
        "deviceId": {
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        },
        "audioStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "networkBandwidthReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "type": "array",
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "deviceActivityReport": {
          "readOnly": true,
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "type": "object",
      "properties": {
        "profileOrgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The organizational unit id of the profile."
        },
        "email": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email of the profile."
        },
        "profilePermanentId": {
          "readOnly": true,
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Chrome client side profile ID."
        }
      },
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "description": "Describes a profile reporting Chrome Profile information."
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "type": "object",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeProfileVersionsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "Total number browser versions matching request.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "profileBrowserVersions": {
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "description": "List of all browser versions reported for profiles and their install counts.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeProfileVersionsResponse",
      "description": "Response containing requested managed profile versions details and counts."
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "type": "object",
      "description": "Information for disk volumes",
      "properties": {
        "storageFreeBytes": {
          "format": "int64",
          "description": "Free storage space in bytes.",
          "type": "string"
        },
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "type": "string",
          "format": "int64"
        },
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "description": "Configures how the telemetry events should be filtered.",
      "properties": {
        "eventTypes": {
          "description": "Only sends the notifications for events of these types. Must not be empty.",
          "items": {
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "AUDIO_SEVERE_UNDERRUN",
              "NETWORK_STATE_CHANGE",
              "USB_ADDED",
              "USB_REMOVED",
              "NETWORK_HTTPS_LATENCY_CHANGE",
              "WIFI_SIGNAL_STRENGTH_LOW",
              "WIFI_SIGNAL_STRENGTH_RECOVERED",
              "VPN_CONNECTION_STATE_CHANGE",
              "APP_INSTALLED",
              "APP_UNINSTALLED",
              "APP_LAUNCHED",
              "OS_CRASH",
              "EXTERNAL_DISPLAY_CONNECTED",
              "EXTERNAL_DISPLAY_DISCONNECTED"
            ],
            "enumDescriptions": [
              "Event type unknown.",
              "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
              "Triggered immediately on any changes to a network connection.",
              "Triggered when USB devices are added.",
              "Triggered when USB devices are removed.",
              "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
              "Triggered when connected WiFi network signal strength drops below -70dBm.",
              "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
              "Triggered on changes to VPN connections.",
              "Triggered when an app is installed.",
              "Triggered when an app is uninstalled.",
              "Triggered when an app is launched.",
              "Triggered when a crash occurs.",
              "Triggered when an external display is connected.",
              "Triggered when an external display is disconnected."
            ]
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UrlVisitsBreakdown": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown",
      "description": "A URL visits summary for a given breakdown dimension.",
      "properties": {
        "summary": {
          "description": "The summary of URL visits for the breakdown dimension.",
          "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
        },
        "eventDomain": {
          "description": "The event domain of the URL visits.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The user that visited the URL."
        }
      }
    },
    "GoogleTypeDate": {
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the report was collected."
        },
        "shutdownTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when shutdown."
        },
        "bootUpDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to boot up."
        },
        "shutdownReason": {
          "type": "string",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "description": "The shutdown reason."
        },
        "bootUpTime": {
          "description": "The timestamp when power came on.",
          "format": "google-datetime",
          "type": "string"
        },
        "shutdownDuration": {
          "type": "string",
          "description": "Total time since shutdown start to power off.",
          "format": "google-duration"
        }
      }
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "description": "Response containing the number of active devices.",
      "type": "object",
      "properties": {
        "sevenDaysCount": {
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        },
        "thirtyDaysCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of active devices in the 30 days leading up to the date specified in the request."
        }
      },
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "type": "object",
      "description": "Splunk connector config.",
      "properties": {
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "portNumber": {
          "format": "int32",
          "description": "Optional. The port number to use. If not set, the default Splunk port is used.",
          "type": "integer"
        },
        "unsecureScheme": {
          "type": "boolean",
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS)."
        },
        "hecToken": {
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header.",
          "type": "string"
        },
        "source": {
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1SplunkConfig"
    },
    "GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "description": "Information of a policy applied on a Chrome browser profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataPolicyData",
      "properties": {
        "conflicts": {
          "readOnly": true,
          "description": "Output only. Conflicting policy information.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
          }
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message of the policy, if any."
        },
        "source": {
          "readOnly": true,
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "description": "Output only. Source of the policy.",
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the policy.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "description": "Output only. Value of the policy.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "description": "Response containing the number of devices with the given channel.",
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "properties": {
        "ltcChannelCount": {
          "format": "int64",
          "description": "Number of devices with ltc release channel.",
          "type": "string"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "type": "string",
          "format": "int64"
        },
        "devChannelCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with dev release channel."
        },
        "ltsChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with lts release channel."
        },
        "unreportedChannelCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with an unreported release channel."
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "type": "string",
          "format": "int64"
        },
        "betaChannelCount": {
          "description": "Number of devices with beta release channel.",
          "type": "string",
          "format": "int64"
        },
        "canaryChannelCount": {
          "description": "Number of devices with canary release channel.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "properties": {
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ]
        },
        "httpsLatencyRoutineData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "HTTPS latency routine data that triggered the event."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "properties": {
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
          "type": "string"
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the organizational unit assigned to the user."
        }
      },
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile."
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "properties": {
        "disk": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "description": "Output only. Reports on disk.",
          "readOnly": true
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "id": "GoogleChromeManagementV1StorageStatusReport"
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "description": "Response from checking the enablement status of insights for the customer.",
      "properties": {
        "insightsState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "description": "The state of the insights feature.",
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      },
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "type": "object",
      "properties": {
        "modelReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "type": "array"
        },
        "cpuReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "storageReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        },
        "memoryReports": {
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "format": "google-datetime",
          "type": "string"
        },
        "systemRamFreeBytes": {
          "readOnly": true,
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "type": "string",
          "format": "int64"
        },
        "sampleFrequency": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled."
        },
        "pageFaults": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of page faults during this collection",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "format": "int64",
          "type": "string"
        },
        "encryptionState": {
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "description": "The state of memory encryption on the device.",
          "type": "string"
        },
        "encryptionAlgorithm": {
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        },
        "keyLength": {
          "type": "string",
          "format": "int64",
          "description": "The length of the encryption keys."
        }
      },
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
    },
    "GoogleChromeManagementV1PrintJob": {
      "id": "GoogleChromeManagementV1PrintJob",
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "properties": {
        "copyCount": {
          "format": "int32",
          "description": "Number of copies.",
          "type": "integer"
        },
        "completeTime": {
          "description": "Print job completion timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "documentPageCount": {
          "format": "int32",
          "description": "Number of pages in the document.",
          "type": "integer"
        },
        "duplexMode": {
          "description": "Duplex mode.",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ],
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user who submitted the print job."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Print job creation timestamp."
        },
        "colorMode": {
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "description": "Color mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ]
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the print job."
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The unique Directory API ID of the user who submitted the print job."
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "id": "GoogleChromeManagementV1NetworkDevice",
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "meid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. MEID (if applicable) of the corresponding network device."
        },
        "imei": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device."
        },
        "type": {
          "description": "Output only. Network device type.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ]
        },
        "mdn": {
          "readOnly": true,
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "type": "string"
        },
        "macAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. MAC address (if applicable) of the corresponding network device."
        },
        "iccid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The integrated circuit card ID associated with the device's sim card."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "httpsLatencyData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppInstallEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppInstallEvent",
      "description": "App installation data.",
      "properties": {
        "appInstallTime": {
          "type": "string",
          "enum": [
            "APPLICATION_INSTALL_TIME_UNSPECIFIED",
            "APPLICATION_INSTALL_TIME_INIT",
            "APPLICATION_INSTALL_TIME_RUNNING"
          ],
          "description": "App installation time depending on the app lifecycle.",
          "enumDescriptions": [
            "Application install time unknown.",
            "Application install is initialized.",
            "Application install is currently running."
          ]
        },
        "appType": {
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "description": "Type of app.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appInstallSource": {
          "enumDescriptions": [
            "Application install source is unknown.",
            "Application installed as part of Chrome OS.",
            "Application install source is a sync.",
            "Application install source is the Play store.",
            "Application install source is the Chrome web store.",
            "Application install source is a browser."
          ],
          "type": "string",
          "enum": [
            "APPLICATION_INSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_INSTALL_SOURCE_SYSTEM",
            "APPLICATION_INSTALL_SOURCE_SYNC",
            "APPLICATION_INSTALL_SOURCE_PLAY_STORE",
            "APPLICATION_INSTALL_SOURCE_CHROME_WEB_STORE",
            "APPLICATION_INSTALL_SOURCE_BROWSER"
          ],
          "description": "App installation source."
        },
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appInstallReason": {
          "enum": [
            "APPLICATION_INSTALL_REASON_UNSPECIFIED",
            "APPLICATION_INSTALL_REASON_SYSTEM",
            "APPLICATION_INSTALL_REASON_POLICY",
            "APPLICATION_INSTALL_REASON_OEM",
            "APPLICATION_INSTALL_REASON_DEFAULT",
            "APPLICATION_INSTALL_REASON_SYNC",
            "APPLICATION_INSTALL_REASON_USER",
            "APPLICATION_INSTALL_REASON_SUB_APP",
            "APPLICATION_INSTALL_REASON_KIOSK",
            "APPLICATION_INSTALL_REASON_COMMAND_LINE"
          ],
          "enumDescriptions": [
            "Application install reason is unknown.",
            "Application installed with the system and is considered part of the OS.",
            "Application installed by policy.",
            "Application installed by an original equipment manufacturer (OEM).",
            "Application installed by default, but is not considered a system app.",
            "Application installed by sync.",
            "Application installed by user action.",
            "Application installed bt SubApp API call.",
            "Application installed by Kiosk on Chrome OS.",
            "Application installed by command line argument."
          ],
          "description": "App installation reason.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1EnableInsightsRequest": {
      "id": "GoogleChromeManagementVersionsV1EnableInsightsRequest",
      "type": "object",
      "properties": {
        "targetOus": {
          "description": "Optional. The Organizational Units to set up required connectors for. Organizational Units are provided as paths relative to root. If this field is not set, connectors will be set up at root OU (as if it were set to [\"/\"]). Example: [\"/corp/sales\", \"/eng\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request to enable insights for the customer."
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "description": "Request to MoveThirdPartyProfileUser method.",
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "type": "object",
      "properties": {
        "volume": {
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "description": "Information for disk volumes",
          "type": "array"
        },
        "totalDiskBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total space for user data storage in the device in bytes."
        },
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1StorageInfo"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "type": "object",
      "description": "Response message for listing telemetry events for a customer.",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryEvents": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "description": "Telemetry events returned in the response.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ScepCaConnection": {
      "description": "Describes a SCEP Certificate Authority Connection.",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ScepCaConnection",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "description": "CrowdStrike XDR connector config.",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the CrowdStrike XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig"
    },
    "GoogleChromeManagementV1AppDetails": {
      "id": "GoogleChromeManagementV1AppDetails",
      "type": "object",
      "properties": {
        "isPaidApp": {
          "type": "boolean",
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "readOnly": true
        },
        "categoryIds": {
          "readOnly": true,
          "description": "Output only. The category IDs of the app, which are the same as stored in the Web Store item. It's expected that there is only one category ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "readOnly": true
        },
        "detailUri": {
          "type": "string",
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. App's description.",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "privacyPolicyUri": {
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "string"
        },
        "reviewNumber": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "type": "string"
        },
        "chromeAppInfo": {
          "description": "Output only. Chrome Web Store app information.",
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "readOnly": true
        },
        "appId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app."
        },
        "latestPublishTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Latest published time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "type": "string",
          "readOnly": true
        },
        "reviewRating": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app."
        },
        "publisher": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The publisher of the item."
        },
        "androidAppInfo": {
          "description": "Output only. Android app information.",
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "readOnly": true
        },
        "serviceError": {
          "readOnly": true,
          "description": "Output only. Information about a partial service error if applicable.",
          "$ref": "GoogleRpcStatus"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App's display name."
        },
        "type": {
          "type": "string",
          "description": "Output only. App type.",
          "readOnly": true,
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ]
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Resource representing app details."
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "type": "object",
      "properties": {
        "adapter": {
          "type": "string",
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id."
        },
        "driverVersion": {
          "description": "Output only. Version of the GPU driver.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true
        },
        "displayDevices": {
          "description": "Output only. Information about the display(s) of the device.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "readOnly": true
        },
        "eprivacySupported": {
          "description": "Output only. Is ePrivacy screen supported or not.",
          "type": "boolean",
          "readOnly": true
        },
        "touchScreenInfo": {
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "$ref": "GoogleChromeManagementV1TouchScreenInfo",
          "readOnly": true
        }
      },
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO"
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "properties": {
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "description": "Response for MoveThirdPartyProfileUser method.",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "properties": {
        "thirdPartyProfileUser": {
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
          "readOnly": true,
          "description": "Output only. The moved third party profile user."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "properties": {
        "totalSize": {
          "format": "int64",
          "type": "string",
          "description": "Total number of printers matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token for requesting the next page."
        },
        "printerReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request.",
          "type": "array"
        }
      },
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval."
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "type": "object",
      "description": "Describes a browser version and its install count.",
      "properties": {
        "system": {
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The device operating system."
        },
        "channel": {
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "description": "Output only. The release channel of the installed browser.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ]
        },
        "deviceOsVersion": {
          "description": "Output only. Version of the system-specified operating system.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The full version of the installed browser.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Count grouped by device_system and major version",
          "format": "int64"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "properties": {
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "format": "int64",
          "type": "string"
        },
        "expired": {
          "type": "boolean",
          "description": "Boolean value for whether or not the device has already expired."
        },
        "model": {
          "type": "string",
          "description": "Public model name of the devices."
        },
        "aueMonth": {
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "type": "string",
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ]
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of devices of this model."
        }
      },
      "type": "object",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range."
    },
    "GoogleChromeManagementV1AppUsageData": {
      "id": "GoogleChromeManagementV1AppUsageData",
      "properties": {
        "appId": {
          "description": "App id.",
          "type": "string"
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "type": "string",
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        },
        "runningDuration": {
          "description": "App foreground running time.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "App usage data."
    },
    "GoogleChromeManagementVersionsV1DeviceTrustConfig": {
      "id": "GoogleChromeManagementVersionsV1DeviceTrustConfig",
      "type": "object",
      "properties": {
        "serviceProvider": {
          "type": "string",
          "enum": [
            "SERVICE_PROVIDER_UNSPECIFIED",
            "UNIVERSAL_DEVICE_TRUST",
            "OKTA",
            "PING_IDENTITY",
            "ONELOGIN",
            "DUO",
            "ZSCALER",
            "OMNISSA",
            "JUMPCLOUD"
          ],
          "description": "Optional. The service provider for the device trust connector.",
          "enumDescriptions": [
            "Default value.",
            "Universal device trust connector.",
            "Okta service provider.",
            "Ping Identity service provider.",
            "OneLogin service provider.",
            "Duo service provider.",
            "Zscaler service provider.",
            "Omnissa service provider.",
            "JumpCloud service provider."
          ]
        },
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of email addresses of the service accounts which are allowed to call the Verified Access API with full access.",
          "type": "array"
        },
        "urlMatchers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of URLs allowed to be part of the attestation flow to get the set of signals from the machine. URLs must have HTTPS scheme, e.g. \"https://example.com\". Wildcards, *, are allowed. For detailed information on valid URL patterns, please see https://cloud.google.com/docs/chrome-enterprise/policies/url-patterns."
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Only browsers are enforced.",
            "Only profiles are enforced.",
            "Both browsers and profiles are enforced."
          ],
          "enum": [
            "BROWSER_ENFORCEMENT_SCOPE_UNSPECIFIED",
            "BROWSERS_ONLY",
            "PROFILES_ONLY",
            "BROWSERS_AND_PROFILES"
          ],
          "description": "Required. The scope at which this configuration will be applied. Note that this only applies to Chrome browser, as in ChromeOS it's always applied."
        }
      },
      "description": "Device trust config for device trust connectors."
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "properties": {
        "userId": {
          "description": "Directory ID of the user.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization unit of the user."
        },
        "name": {
          "description": "Resource name of the user.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user."
        },
        "customer": {
          "description": "G Suite Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "userDevice": {
          "type": "array",
          "description": "Telemetry data collected from a managed user and device.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          }
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUser",
      "type": "object",
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER"
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "properties": {
        "filter": {
          "description": "Only send notifications for telemetry data matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter"
        },
        "customer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google Workspace customer that owns the resource."
        },
        "name": {
          "description": "Output only. Resource name of the notification configuration.",
          "type": "string",
          "readOnly": true
        },
        "googleCloudPubsubTopic": {
          "type": "string",
          "description": "The pubsub topic to which notifications are published to."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "description": "Configuration to receive notifications of telemetry data.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "type": "object",
      "properties": {
        "deviceDirectoryApiId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        }
      },
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user."
        },
        "telemetryEventNotificationFilter": {
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
          "description": "Only sends notifications for the telemetry events matching this filter."
        },
        "userOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit.",
          "type": "string"
        },
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        },
        "deviceOrgUnitId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit."
        }
      },
      "description": "Configures how the telemetry data should be filtered.",
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "properties": {
        "chromeBrowserProfileCommands": {
          "description": "The list of commands returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "totalSize": {
          "type": "string",
          "description": "Total size represents an estimated number of resources returned.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
    },
    "GoogleChromeManagementVersionsV1PubSubXdrConfig": {
      "description": "Pub/Sub XDR connector config.",
      "properties": {
        "topicFullPath": {
          "description": "Required. The full path to the topic to send the event to.",
          "type": "string"
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the Pub/Sub XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        }
      },
      "id": "GoogleChromeManagementVersionsV1PubSubXdrConfig",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDeviceInfo": {
      "description": "Information about a device associated with telemetry data. * Granular Permission needed: TELEMETRY_API_DEVICE",
      "id": "GoogleChromeManagementV1TelemetryDeviceInfo",
      "properties": {
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "type": "object",
      "description": "Information of the policies applied on an extension.",
      "properties": {
        "extensionName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the extension."
        },
        "extensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the extension."
        },
        "policyData": {
          "type": "array",
          "description": "Output only. Information of the policies applied on the extension.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "type": "object",
      "properties": {
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. CPU label. Example: Core 0"
        },
        "temperatureCelsius": {
          "readOnly": true,
          "description": "Output only. CPU temperature in Celsius.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "description": "Response message for publishing an issued certificate for a certificate provisioning process.",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Public name of the hardware specification."
        },
        "count": {
          "description": "Count of devices with a unique hardware specification.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SetFailureRequest": {
      "type": "object",
      "description": "Request message for marking a certificate provisioning process as failed.",
      "id": "GoogleChromeManagementVersionsV1SetFailureRequest",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Required. A message describing the failure details. It is displayed on the ChromeOS client device."
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryUsers": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "type": "array",
          "description": "Telemetry users returned in the response."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "description": "Response message for listing telemetry users for a customer."
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "id": "GoogleChromeManagementV1NetworkInfo",
      "properties": {
        "networkDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "properties": {
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        },
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "Date of the crash event."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "description": "The `count` of the Chrome crash events at the `date`.",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "properties": {
        "devices": {
          "type": "array",
          "description": "Telemetry devices returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      }
    },
    "GoogleChromeManagementVersionsV1UrlVisitsSummary": {
      "properties": {
        "metric": {
          "enumDescriptions": [
            "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
            "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
            "The number of suspicious URL visits with high risk.",
            "The number of suspicious URL visits with medium risk.",
            "The number of suspicious URL visits with low risk."
          ],
          "description": "The type of URL visits metric.",
          "type": "string",
          "enum": [
            "URL_VISITS_METRIC_UNSPECIFIED",
            "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
            "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
            "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
            "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
          ]
        },
        "count": {
          "description": "The count of the URL visits metric.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
      "description": "Summary of URL visits for a given metric.",
      "type": "object"
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device name, model name, or product name"
        },
        "firmwareVersion": {
          "description": "Output only. Firmware version",
          "readOnly": true,
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "readOnly": true
        },
        "subclassId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes"
        },
        "vid": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Vendor ID"
        },
        "classId": {
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "pid": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Product ID",
          "type": "integer"
        },
        "vendor": {
          "readOnly": true,
          "description": "Output only. Vendor name",
          "type": "string"
        }
      },
[...]
