{
  "basePath": "",
  "name": "chromewebstore",
  "id": "chromewebstore:v1.1",
  "title": "Chrome Web Store API",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "version": "v1.1",
  "servicePath": "",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "schemas": {
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        }
      }
    },
    "Item2": {
      "type": "object",
      "id": "Item2",
      "properties": {
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "status": {
          "type": "array",
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ItemError": {
      "type": "object",
      "description": "Error of the item",
      "id": "ItemError",
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      }
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260908",
  "protocol": "rest",
  "batchPath": "batch",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Chromewebstore",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "items": {
      "methods": {
        "get": {
          "description": "Gets your own Chrome Web Store item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "parameters": {
            "itemId": {
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true
            },
            "projection": {
              "location": "query",
              "description": "Determines which subset of the item information to return.",
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ]
            }
          },
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "id": "chromewebstore.items.get"
        },
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Item2"
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "chromewebstore.items.publish",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            },
            "deployPercentage": {
              "type": "integer",
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query"
            },
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string",
              "location": "query"
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameterOrder": [
            "itemId"
          ],
          "description": "Publishes an item."
        },
        "update": {
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "supportsMediaUpload": true,
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "Item"
          },
          "httpMethod": "PUT",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            }
          },
          "description": "Updates an existing item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}"
        },
        "insert": {
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "chromewebstore/v1.1/items",
          "description": "Inserts a new item.",
          "parameterOrder": [],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            }
          },
          "httpMethod": "POST",
          "flatPath": "chromewebstore/v1.1/items",
          "id": "chromewebstore.items.insert"
        }
      }
    }
  },
  "kind": "discovery#restDescription"
}