{
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "kind": "discovery#restDescription",
  "title": "Chrome Management API",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "resources": {
    "customers": {
      "resources": {
        "profiles": {
          "resources": {
            "commands": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands/{commandsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/profiles/[^/]+/commands/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a Chrome browser profile remote command.",
                  "id": "chromemanagement.customers.profiles.commands.get"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "description": "Creates a Chrome browser profile remote command.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "chromemanagement.customers.profiles.commands.create",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "path": "v1/{+parent}/commands",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}"
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token used to retrieve a specific page of the listing request."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of commands to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 100.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/commands",
                  "description": "Lists remote commands of a Chrome browser profile.",
                  "id": "chromemanagement.customers.profiles.commands.list"
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
              },
              "flatPath": "v1/customers/{customersId}/profiles",
              "id": "chromemanagement.customers.profiles.list",
              "path": "v1/{+parent}/profiles",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The filter used to filter profiles. The following fields can be used in the filter: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version - ouId Any of the above fields can be used to specify a filter, and filtering by multiple fields is supported with AND operator. String type fields and enum type fields support '=' and '!=' operators. The integer type and the timestamp type fields support '=', '!=', '<', '>', '<=' and '>=' operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard '*' can be used with a string type field filter. In addition, string literal filtering is also supported, for example, 'ABC' as a filter maps to a filter that checks if any of the filterable string type fields contains 'ABC'. Organization unit number can be used as a filtering criteria here by specifying 'ouId = ${your_org_unit_id}', please note that only single OU ID matching is supported."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Format: customers/{customer_id}",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version By default, sorting is in ascending order, to specify descending order for a field, a suffix \" desc\" should be added to the field name. The default ordering is the descending order of last_status_report_time.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of profiles to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 200.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Lists Chrome browser profiles of a customer based on the given search and sorting criteria.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a Chrome browser profile with customer ID and profile permanent ID.",
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "id": "chromemanagement.customers.profiles.get",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "description": "Deletes the data collected from a Chrome browser profile.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "id": "chromemanagement.customers.profiles.delete"
            }
          }
        },
        "enrollmentTokens": {
          "methods": {
            "list": {
              "description": "Lists all browser device enrollment tokens.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListEnrollmentTokensResponse"
              },
              "parameters": {
                "filter": {
                  "description": "Optional. Filter to apply to list results. The following fields can be used in the filter: * device_type (currently only 'CHROME_BROWSER' is supported) * token_state (supported values: 'ACTIVE', 'EXPIRED', 'REVOKED') * org_unit_path The full path of the org unit, such as /Montreal/Sales. * org_unit_id The obfuscated id of the org unit, not the full path.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify next page in the list.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource where this enrollment token will be created. Format: customers/{customer}",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/enrollmentTokens",
              "id": "chromemanagement.customers.enrollmentTokens.list",
              "flatPath": "v1/customers/{customersId}/enrollmentTokens",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the enrollment token to retrieve. Format: customers/{customer}/enrollmentTokens/{token_permanent_id}",
                  "required": true,
                  "pattern": "^customers/[^/]+/enrollmentTokens/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1EnrollmentToken"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.enrollmentTokens.get",
              "flatPath": "v1/customers/{customersId}/enrollmentTokens/{enrollmentTokensId}",
              "description": "Gets a browser device enrollment token."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1EnrollmentToken"
              },
              "flatPath": "v1/customers/{customersId}/enrollmentTokens",
              "description": "Creates a new enrollment token for a browser device. Creation fails if there is already an active token for this customer under the same org unit.",
              "id": "chromemanagement.customers.enrollmentTokens.create",
              "parameters": {
                "enrollmentTokenId": {
                  "type": "string",
                  "description": "Optional. The ID to use for the enrollment token, which will become the final component of the enrollment token's resource name. This value must be local-unique under the customer and is optional. If not provided, it will be auto-generated. If provided, it must be 1-63 characters long and match the regular expression `[a-zA-Z0-9._-]+`.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource where this enrollment token will be created. Format: customers/{customer}",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1EnrollmentToken"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/enrollmentTokens"
            },
            "revoke": {
              "description": "Revokes a browser device enrollment token.",
              "httpMethod": "POST",
              "id": "chromemanagement.customers.enrollmentTokens.revoke",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1EnrollmentToken"
              },
              "flatPath": "v1/customers/{customersId}/enrollmentTokens/{enrollmentTokensId}:revoke",
              "path": "v1/{+name}:revoke",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1RevokeEnrollmentTokenRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the enrollment token to revoke. Format: customers/{customer}/enrollmentTokens/{token_permanent_id}",
                  "location": "path",
                  "pattern": "^customers/[^/]+/enrollmentTokens/[^/]+$"
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "events": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "parameters": {
                    "readMask": {
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Token to specify next page in the list.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List telemetry events.",
                  "path": "v1/{+parent}/telemetry/events"
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent which owns the notification configs.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List all telemetry notification configs.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Delete a telemetry notification config.",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "description": "Create a telemetry notification config.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ]
                }
              }
            },
            "devices": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get telemetry device.",
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "readMask": {
                      "type": "string",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "description": "List all telemetry devices.",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    }
                  }
                }
              }
            },
            "users": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/telemetry/users",
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id "
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to specify next page in the list.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report "
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "description": "List all telemetry users."
                },
                "get": {
                  "description": "Get telemetry user.",
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "required": true
                    },
                    "readMask": {
                      "type": "string",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "apps": {
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "id": "chromemanagement.customers.apps.android.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  }
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "id": "chromemanagement.customers.apps.web.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  }
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "fetchDevicesRequestingExtension": {
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Get a list of devices that have requested to install an extension.",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ]
            },
            "countChromeAppRequests": {
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50."
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "httpMethod": "GET",
              "description": "Generate summary of app installation requests."
            },
            "fetchUsersRequestingExtension": {
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "extensionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The extension for which we want to find the requesting users."
                },
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50."
                }
              },
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "description": "Get a list of users that have requested to install an extension.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension"
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeProfileVersions": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeProfileVersions",
              "description": "Generate report of installed Chrome versions on managed profiles.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countChromeProfileVersions",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeProfileVersionsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countChromeProfileVersions"
            },
            "findSaasUsage": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Find SaaS usage reports of a customer based on the given search and sorting criteria.",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `FindSaasUsageReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindSaasUsageReports` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 100 reports will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. The filter expression to narrow down the SaaS reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * app * org_unit_id * first_navigation_time * last_navigation_time * category * organization * founded_year * headquarters * primary_domain * domains * encryption_protocols * visits_count * distinct_users_count * distinct_browsers_count * content_transfer_count Example: `(first_navigation_time < \"2026-01-31T00:00:00Z\" AND last_navigation_time > \"2026-01-01T00:00:00Z\") AND visits_count > 100`",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. The order by expression to sort the SaaS reports. Supported fields: * app * category * organization * founded_year * headquarters * primary_domain * visits_count * distinct_users_count * distinct_browsers_count * content_transfer_count Default order is ascending. To specify descending order for a field, append \" desc\". Example: `visits_count desc`",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:findSaasUsage",
              "id": "chromemanagement.customers.reports.findSaasUsage",
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageReportsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsage"
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                },
                "maxAueDate": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date."
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "location": "path"
                },
                "minAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findSaasUsageProfiles": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findSaasUsageProfiles",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:findSaasUsageProfiles",
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageProfiles",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 100 reports will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageProfiles` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "app": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`)."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The filter expression to narrow down the SaaS profile reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * email * org_unit_id * os_platform * first_navigation_time * last_navigation_time",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The order by expression to sort the SaaS profile reports. Supported fields: * email * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\"."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Find SaaS usage reports of a customer grouped by profiles based on the given search and sorting criteria.",
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageProfilesResponse"
              }
            },
            "countDevicesPerReleaseChannel": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "date.day": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "httpMethod": "GET",
              "description": "Get a count of devices per channel.",
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel"
            },
            "countChromeHardwareFleetDevices": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameters": {
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\"."
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                },
                "readMask": {
                  "location": "query",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeBrowsersNeedingAttention": {
              "httpMethod": "GET",
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              }
            },
            "findInstalledAppProfiles": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "description": "Generate report of managed Chrome profiles that have a specified app installed.",
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "parameters": {
                "appType": {
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "type": "string",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID."
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "appId": {
                  "location": "query",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id"
                }
              },
              "httpMethod": "GET"
            },
            "enumeratePrintJobs": {
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "type": "string",
                  "location": "query"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned.",
                  "type": "string"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "description": "Get a list of print jobs.",
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "parameterOrder": [
                "customer"
              ]
            },
            "countPrintJobsByPrinter": {
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned."
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "description": "Get a summary of printing done by each printer.",
              "parameterOrder": [
                "customer"
              ]
            },
            "countPrintJobsByUser": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "description": "Get a summary of printing done by each user.",
              "parameters": {
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "printerOrgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted."
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request."
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countChromeDevicesThatNeedAttention": {
              "parameters": {
                "readMask": {
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ],
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              }
            },
            "countInstalledApps": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "description": "Generate report of app installations.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "path": "v1/{+customer}/reports:countInstalledApps",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score",
                  "type": "string"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customer"
              ]
            },
            "findInstalledAppDevices": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "parameters": {
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "appType": {
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "type": "string",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "location": "query",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              }
            },
            "countChromeCrashEvents": {
              "description": "Get a count of Chrome crash events.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "location": "query"
                },
                "customer": {
                  "description": "Customer ID.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ]
            },
            "countDevicesPerBootType": {
              "parameters": {
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "required": true,
                  "type": "string"
                },
                "date.day": {
                  "location": "query",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "description": "Get a count of devices per boot type.",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "httpMethod": "GET"
            },
            "countChromeVersions": {
              "path": "v1/{+customer}/reports:countChromeVersions",
              "httpMethod": "GET",
              "description": "Generate report of installed Chrome versions.",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countActiveDevices": {
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "date.month": {
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32"
                },
                "date.year": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "type": "string",
                  "location": "path"
                },
                "date.day": {
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "description": "Get a count of active devices per set time frames.",
              "path": "v1/{+customer}/reports:countActiveDevices"
            },
            "findSaasUsageBrowsers": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageBrowsersResponse"
              },
              "path": "v1/{+customer}/reports:findSaasUsageBrowsers",
              "parameters": {
                "orderBy": {
                  "description": "Optional. The order by expression to sort the SaaS browser reports. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageBrowsers` call. Provide this to retrieve the subsequent page."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The filter expression to narrow down the SaaS browser reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time * org_unit_id"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of browsers to return. The service may return fewer than this value. If unspecified, at most 100 browsers will be returned. The maximum value is 200; values above 200 will be coerced to 200."
                },
                "app": {
                  "location": "query",
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`).",
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageBrowsers",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "description": "Find SaaS usage reports of a customer grouped by browsers based on the given search and sorting criteria.",
              "id": "chromemanagement.customers.reports.findSaasUsageBrowsers"
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "httpMethod": "POST",
              "path": "v1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU.",
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$",
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              },
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              }
            }
          }
        },
        "chromeBrowsers": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. The filter used to filter browsers. The following fields can be used in the filter: * `browser_permanent_id` * `last_policy_fetch_time` * `os_platform` * `os_architecture` * `os_version` * `machine_name` * `annotated_location` * `annotated_user` * `annotated_asset_id` * `annotated_note` * `org_unit_path` * `org_unit_id` * `last_registration_time` * `os_platform_version` * `browser_version` * `last_status_report_time` * `extension_count` * `policy_count` * `last_device_user` * `last_activity_time` * `device_id_collision` The following functions can be used in the filter: * `in_group(string)`: Filters browsers that belong to the specified Cloud Identity group resource name (e.g. `in_group(\"groups/{group_id}\")`). Any of the above fields or functions can be used to specify a filter, and filtering by multiple fields or functions is supported with AND operator. String type, Integer type fields and enum type fields support `=` and `:` operators. The timestamp type fields support `=`, `<=` and `>=` operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard `*` is only supported for `machine_name`, `annotated_asset_id`, and `browser_version`. In addition, global string literal filtering without a field name is supported: a single term (e.g., `ABC`) matches if any indexed string field contains `ABC`, and multiple terms joined by `AND` or whitespace (e.g., `machine AND 73` or `machine 73`) match browsers where every term appears in at least one indexed string field (whereas a single quoted phrase like `\"machine 73\"` matches the contiguous phrase within a single field).",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: * `browser_permanent_id` * `last_sync` * `annotated_user` * `annotated_location` * `annotated_asset_id` * `annotated_notes` * `org_unit_path` * `os_version` * `enrollment_date` * `extension_count` * `policy_count` * `last_signed_in_user` * `machine_name` * `browser_version_channel` * `os_platform_version` * `last_activity_time` * `browser_version` By default, sorting is in ascending order, to specify descending order for a field, a suffix ` desc` should be added to the field name. The default ordering is the descending order of `last_status_report_time`."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify next page in the list.",
[...]
