{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "batchPath": "batch",
  "name": "chromewebstore",
  "version": "v2",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "version_module": true,
  "title": "Chrome Web Store API",
  "kind": "discovery#restDescription",
  "revision": "20260901",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "description": "Upload a new package to an existing item.",
          "path": "v2/{+name}:upload",
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "parameterOrder": [
            "name"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v2/{+name}:upload",
                "multipart": true
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "type": "string",
              "pattern": "^publishers/[^/]+/items/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.media.upload"
        }
      }
    },
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "path": "v2/{+name}:publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "id": "chromewebstore.publishers.items.publish",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "cancelSubmission": {
              "path": "v2/{+name}:cancelSubmission",
              "httpMethod": "POST",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission."
            },
            "fetchStatus": {
              "httpMethod": "GET",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "path": "v2/{+name}:fetchStatus",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true
                }
              },
              "description": "Fetch the status of an item.",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus"
            },
            "setPublishedDeployPercentage": {
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Chromewebstore",
  "id": "chromewebstore:v2",
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "schemas": {
    "CancelSubmissionResponse": {
      "type": "object",
      "properties": {},
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`."
    },
    "Warning": {
      "description": "Represents a single warning encountered during the request.",
      "type": "object",
      "id": "Warning",
      "properties": {
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        },
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        }
      }
    },
    "WarningsInfo": {
      "type": "object",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          }
        }
      },
      "id": "WarningsInfo"
    },
    "PublishItemResponse": {
      "properties": {
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "warningInfo": {
          "readOnly": true,
          "$ref": "WarningsInfo",
          "description": "Output only. Non-blocking warnings encountered during the request."
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`."
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {}
    },
    "CancelSubmissionRequest": {
      "type": "object",
      "id": "CancelSubmissionRequest",
      "properties": {},
      "description": "Request message for CancelSubmission."
    },
    "UploadItemPackageResponse": {
      "id": "UploadItemPackageResponse",
      "type": "object",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true,
          "type": "string"
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "uploadState": {
          "readOnly": true,
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "type": "string"
        }
      }
    },
    "SetPublishedDeployPercentageRequest": {
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SetPublishedDeployPercentageRequest",
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage.",
      "properties": {},
      "type": "object"
    },
    "ItemRevisionStatus": {
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. Current state of the item",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "type": "string"
        },
        "distributionChannels": {
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item",
          "type": "array"
        }
      },
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision.",
      "type": "object"
    },
    "FetchItemStatusResponse": {
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "lastAsyncUploadState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours."
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "FetchItemStatusResponse"
    },
    "DeployInfo": {
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "DeployInfo"
    },
    "PublishItemRequest": {
      "properties": {
        "skipReview": {
          "type": "boolean",
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset."
        },
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "type": "string"
        },
        "deployInfos": {
          "items": {
            "$ref": "DeployInfo"
          },
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset."
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        }
      },
      "description": "Request message for PublishItem.",
      "id": "PublishItemRequest",
      "type": "object"
    },
    "DistributionChannel": {
      "id": "DistributionChannel",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deployment information for a specific release channel"
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerDomain": "google.com"
}