{
  "id": "chromewebstore:v2",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "id": "chromewebstore.media.upload",
          "httpMethod": "POST",
          "description": "Upload a new package to an existing item.",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "supportsMediaUpload": true,
          "path": "v2/{+name}:upload",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "setPublishedDeployPercentage": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "httpMethod": "POST"
            },
            "publish": {
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "path": "v2/{+name}:publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ]
            },
            "fetchStatus": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "id": "chromewebstore.publishers.items.fetchStatus",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true
                }
              },
              "description": "Fetch the status of an item.",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "path": "v2/{+name}:fetchStatus",
              "httpMethod": "GET"
            },
            "cancelSubmission": {
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "path": "v2/{+name}:cancelSubmission",
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "CancelSubmissionRequest"
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v2",
  "ownerName": "Google",
  "batchPath": "batch",
  "schemas": {
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {}
    },
    "CancelSubmissionRequest": {
      "properties": {},
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "id": "CancelSubmissionRequest"
    },
    "WarningsInfo": {
      "id": "WarningsInfo",
      "type": "object",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "Warning"
          },
          "description": "All warnings encountered during the request.",
          "type": "array"
        }
      }
    },
    "FetchItemStatusResponse": {
      "type": "object",
      "properties": {
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "readOnly": true,
          "$ref": "ItemRevisionStatus",
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published."
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "takenDown": {
          "type": "boolean",
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details."
        },
        "lastAsyncUploadState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        }
      },
      "id": "FetchItemStatusResponse",
      "description": "Response message for `FetchItemStatus`."
    },
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the item that was submitted"
        },
        "state": {
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "type": "string",
          "description": "Output only. The current state of the submission."
        },
        "warningInfo": {
          "$ref": "WarningsInfo",
          "readOnly": true,
          "description": "Output only. Non-blocking warnings encountered during the request."
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Warning": {
      "description": "Represents a single warning encountered during the request.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
        },
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        }
      },
      "id": "Warning"
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "id": "DistributionChannel",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32",
          "type": "integer"
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package."
        }
      },
      "type": "object"
    },
    "PublishItemRequest": {
      "properties": {
        "publishType": {
          "type": "string",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "blockOnWarnings": {
          "type": "boolean",
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset."
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PublishItemRequest",
      "description": "Request message for PublishItem."
    },
    "UploadItemPackageResponse": {
      "type": "object",
      "properties": {
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string",
          "readOnly": true
        },
        "uploadState": {
          "type": "string",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true,
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        }
      },
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`."
    },
    "SetPublishedDeployPercentageRequest": {
      "description": "Request message for SetPublishedDeployPercentage.",
      "id": "SetPublishedDeployPercentageRequest",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for UploadItemPackage.",
      "id": "UploadItemPackageRequest"
    },
    "ItemRevisionStatus": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Current state of the item",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "distributionChannels": {
          "type": "array",
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          }
        }
      },
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision."
    },
    "DeployInfo": {
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32"
        }
      },
      "id": "DeployInfo"
    },
    "CancelSubmissionResponse": {
      "id": "CancelSubmissionResponse",
      "properties": {},
      "description": "Response message for `CancelSubmission`.",
      "type": "object"
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "name": "chromewebstore",
  "title": "Chrome Web Store API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "revision": "20260927",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "version_module": true,
  "canonicalName": "Chromewebstore",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "basePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "servicePath": ""
}