{
  "discoveryVersion": "v1",
  "schemas": {
    "PublishItemResponse": {
      "description": "Response message for `PublishItem`.",
      "id": "PublishItemResponse",
      "type": "object",
      "properties": {
        "warningInfo": {
          "readOnly": true,
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "$ref": "WarningsInfo"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the item."
        }
      }
    },
    "SetPublishedDeployPercentageRequest": {
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage."
        }
      },
      "type": "object",
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage."
    },
    "CancelSubmissionRequest": {
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "id": "CancelSubmissionRequest",
      "properties": {}
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "id": "PublishItemRequest",
      "type": "object",
      "properties": {
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "type": "string",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        }
      }
    },
    "FetchItemStatusResponse": {
      "type": "object",
      "properties": {
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the requested item."
        },
        "publishedItemRevisionStatus": {
          "readOnly": true,
          "$ref": "ItemRevisionStatus",
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published."
        },
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "submittedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish."
        },
        "lastAsyncUploadState": {
          "type": "string",
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        }
      },
      "description": "Response message for `FetchItemStatus`.",
      "id": "FetchItemStatusResponse"
    },
    "SetPublishedDeployPercentageResponse": {
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {},
      "id": "SetPublishedDeployPercentageResponse"
    },
    "DeployInfo": {
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        }
      },
      "id": "DeployInfo",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "type": "object"
    },
    "WarningsInfo": {
      "type": "object",
      "id": "WarningsInfo",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "Warning"
          },
          "description": "All warnings encountered during the request."
        }
      }
    },
    "ItemRevisionStatus": {
      "type": "object",
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision.",
      "properties": {
        "state": {
          "description": "Output only. Current state of the item",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "distributionChannels": {
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          },
          "type": "array"
        }
      }
    },
    "Warning": {
      "description": "Represents a single warning encountered during the request.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning."
        },
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Warning"
    },
    "UploadItemPackageResponse": {
      "description": "Response message for `UploadItemPackage`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "uploadState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "itemId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the item the package was uploaded to."
        }
      },
      "id": "UploadItemPackageResponse"
    },
    "CancelSubmissionResponse": {
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`.",
      "properties": {},
      "type": "object"
    },
    "DistributionChannel": {
      "id": "DistributionChannel",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32",
          "type": "integer"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "description": "Deployment information for a specific release channel",
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "properties": {},
      "type": "object",
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage."
    }
  },
  "basePath": "",
  "id": "chromewebstore:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "canonicalName": "Chromewebstore",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version": "v2",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "revision": "20260908",
  "title": "Chrome Web Store API",
  "ownerDomain": "google.com",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "chromewebstore",
  "batchPath": "batch",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "setPublishedDeployPercentage": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage"
            },
            "cancelSubmission": {
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "path": "v2/{+name}:cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission"
            },
            "publish": {
              "response": {
                "$ref": "PublishItemResponse"
              },
              "path": "v2/{+name}:publish",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "request": {
                "$ref": "PublishItemRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`."
            },
            "fetchStatus": {
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "id": "chromewebstore.publishers.items.fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:fetchStatus",
              "description": "Fetch the status of an item.",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "type": "string",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "required": true
            }
          },
          "id": "chromewebstore.media.upload",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "path": "v2/{+name}:upload",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "description": "Upload a new package to an existing item.",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/"
}