{
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "id": "chromewebstore:v2",
  "canonicalName": "Chromewebstore",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "version": "v2",
  "revision": "20260826",
  "title": "Chrome Web Store API",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "id": "DistributionChannel",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer"
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package."
        }
      }
    },
    "ItemRevisionStatus": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "description": "Output only. Current state of the item",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "distributionChannels": {
          "type": "array",
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          }
        }
      },
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision.",
      "type": "object"
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "id": "PublishItemRequest",
      "type": "object",
      "properties": {
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset."
        }
      }
    },
    "CancelSubmissionResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for `CancelSubmission`.",
      "id": "CancelSubmissionResponse"
    },
    "WarningsInfo": {
      "id": "WarningsInfo",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          }
        }
      }
    },
    "Warning": {
      "id": "Warning",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
        }
      },
      "description": "Represents a single warning encountered during the request."
    },
    "CancelSubmissionRequest": {
      "id": "CancelSubmissionRequest",
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "properties": {}
    },
    "FetchItemStatusResponse": {
      "type": "object",
      "id": "FetchItemStatusResponse",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "type": "string"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "readOnly": true,
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published."
        }
      }
    },
    "UploadItemPackageResponse": {
      "properties": {
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string"
        },
        "uploadState": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "type": "string",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        }
      },
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`.",
      "type": "object"
    },
    "PublishItemResponse": {
      "description": "Response message for `PublishItem`.",
      "type": "object",
      "id": "PublishItemResponse",
      "properties": {
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "warningInfo": {
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "readOnly": true,
          "$ref": "WarningsInfo"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "type": "object",
      "properties": {}
    },
    "SetPublishedDeployPercentageRequest": {
      "id": "SetPublishedDeployPercentageRequest",
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer"
        }
      }
    },
    "DeployInfo": {
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        }
      },
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "id": "DeployInfo"
    },
    "UploadItemPackageRequest": {
      "type": "object",
      "id": "UploadItemPackageRequest",
      "properties": {},
      "description": "Request message for UploadItemPackage."
    }
  },
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "PublishItemResponse"
              },
              "path": "v2/{+name}:publish",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "id": "chromewebstore.publishers.items.publish"
            },
            "setPublishedDeployPercentage": {
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage"
            },
            "cancelSubmission": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:cancelSubmission",
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission"
            },
            "fetchStatus": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}:fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "description": "Fetch the status of an item.",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "id": "chromewebstore.publishers.items.fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/v2/{+name}:upload",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "id": "chromewebstore.media.upload",
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "path": "v2/{+name}:upload",
          "parameters": {
            "name": {
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`"
            }
          },
          "supportsMediaUpload": true,
          "description": "Upload a new package to an existing item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "UploadItemPackageRequest"
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "chromewebstore"
}