{
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "type": "object",
      "description": "Android app information.",
      "properties": {
        "permissions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "description": "Output only. Permissions requested by an Android app."
        }
      }
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "type": "object",
      "properties": {
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters."
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 50 characters.",
          "type": "string"
        }
      },
      "description": "CrowdStrike Falcon Next Gen connector config.",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "properties": {
        "storageFreeBytes": {
          "format": "int64",
          "description": "Free storage space in bytes.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        },
        "storageTotalBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total storage space in bytes."
        }
      },
      "type": "object",
      "description": "Information for disk volumes"
    },
    "GoogleChromeManagementVersionsV1EnableInsightsResponse": {
      "id": "GoogleChromeManagementVersionsV1EnableInsightsResponse",
      "properties": {
        "insightsState": {
          "type": "string",
          "description": "The state of the insights feature.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      },
      "description": "Response from enabling insights for the customer.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "properties": {
        "documentationUri": {
          "type": "string",
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "readOnly": true
        },
        "accessUserData": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data."
        },
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "description": "Permission requested by a Chrome app or extension.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "properties": {
        "guid": {
          "type": "string",
          "description": "Unique identifier of the network."
        },
        "signalStrengthDbm": {
          "type": "integer",
          "format": "int32",
          "description": "Signal strength RSSI value."
        }
      },
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent"
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "properties": {
        "telemetryUsers": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "description": "Telemetry users returned in the response."
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "description": "Response message for listing telemetry users for a customer.",
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse"
    },
    "GoogleChromeManagementVersionsV1XdrSettings": {
      "type": "object",
      "properties": {
        "enableAllXdrEvents": {
          "description": "Required. Whether to enable all XDR events.",
          "type": "boolean"
        }
      },
      "id": "GoogleChromeManagementVersionsV1XdrSettings",
      "description": "XDR settings for connector configs."
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "description": "Describes a generic Certificate Authority Connection.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "type": "object",
      "description": "Information of an extension installed on a Chrome browser profile.",
      "properties": {
        "isDisabled": {
          "description": "Output only. Represents whether the user disabled the extension.",
          "type": "boolean",
          "readOnly": true
        },
        "extensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the extension."
        },
        "isWebstoreExtension": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Represents whether the extension is from the webstore."
        },
        "description": {
          "description": "Output only. Description of the extension.",
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "readOnly": true,
          "description": "Output only. Permissions requested by the extension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "manifestVersion": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Manifest version of the extension."
        },
        "homepageUri": {
          "description": "Output only. The URL of the homepage of the extension.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the extension.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Output only. Version of the extension.",
          "type": "string",
          "readOnly": true
        },
        "installationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "type": "string",
          "description": "Output only. Installation type of the extension."
        },
        "extensionType": {
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "description": "Output only. Type of the extension.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "description": "Response to ListChromeBrowserProfiles method.",
      "properties": {
        "totalSize": {
          "type": "string",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles.",
          "format": "int64"
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "chromeBrowserProfiles": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          },
          "type": "array",
          "description": "The list of profiles returned."
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfo": {
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfo",
      "properties": {
        "volume": {
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "type": "array",
          "description": "Information for disk volumes"
        },
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "id": "GoogleChromeManagementVersionsV1SignDataRequest",
      "properties": {
        "signatureAlgorithm": {
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ],
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`.",
          "type": "string"
        },
        "signData": {
          "type": "string",
          "description": "Required. The data that the client was asked to sign.",
          "format": "byte"
        }
      },
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "appReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "type": "array",
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time."
        },
        "deviceActivityReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          },
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        },
        "audioStatusReport": {
          "type": "array",
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "readOnly": true
        },
        "peripheralsReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "readOnly": true,
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "type": "object",
      "id": "GoogleChromeManagementV1UserPrintReport",
      "properties": {
        "printerCount": {
          "description": "Number of printers used by the user.",
          "format": "int64",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        },
        "jobCount": {
          "format": "int64",
          "description": "Number of print jobs initiated by the user.",
          "type": "string"
        },
        "deviceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of chrome devices that have been used to initiate print jobs by the user."
        },
        "userId": {
          "description": "The unique Directory API ID of the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "Output only. OS version of the device on which the profile exists.",
          "readOnly": true
        },
        "deviceInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1DeviceInfo",
          "description": "Output only. Basic information of the device on which the profile exists. This information is only available for the affiliated profiles."
        },
        "extensionCount": {
          "description": "Output only. Number of extensions installed on the profile.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "browserChannel": {
          "description": "Output only. Channel of the browser on which the profile exists.",
          "type": "string",
          "readOnly": true
        },
        "profileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Chrome client side profile ID."
        },
        "affiliationState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The specific affiliation state of the profile.",
          "enumDescriptions": [
            "Unspecified affiliation state.",
            "Unaffiliated - but we do not have the details for the type of unaffiliated profile.",
            "Unaffiliated - A managed profile that appears on a totally unamanaged browser.",
            "Unaffiliated - A managed profile that appears on a machine that is locally managed by a different organization (through platform management mechanisms like GPO).",
            "Unaffiliated - A managed profile that appears on a managed browser that is cloud managed by a different organization (using Chrome Browser Cloud Management).",
            "Affiliated - Both the profile and the managed browser are managed by the same organization."
          ],
          "enum": [
            "AFFILIATION_STATE_UNSPECIFIED",
            "UNAFFILIATED_GENERIC",
            "PROFILE_ONLY",
            "UNAFFILIATED_LOCAL_MACHINE",
            "UNAFFILIATED_CLOUD_MACHINE",
            "AFFILIATED_CLOUD_MANAGED"
          ]
        },
        "supportsFcmNotifications": {
          "type": "boolean",
          "description": "Output only. Whether the profile supports FCM notifications.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Profile display name set by client.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag of this ChromeBrowserProfile resource. This etag can be used with UPDATE operation to ensure consistency.",
          "readOnly": true,
          "type": "string"
        },
        "policyCount": {
          "format": "int64",
          "description": "Output only. Number of policies applied on the profile.",
          "readOnly": true,
          "type": "string"
        },
        "identityProvider": {
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified identity provider.",
            "Represents a Google identity provider.",
            "Represents an external identity provider."
          ],
          "enum": [
            "IDENTITY_PROVIDER_UNSPECIFIED",
            "GOOGLE_IDENTITY_PROVIDER",
            "EXTERNAL_IDENTITY_PROVIDER"
          ],
          "description": "Output only. Identify provider of the profile.",
          "type": "string"
        },
        "osPlatformVersion": {
          "description": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting.",
          "readOnly": true,
          "type": "string"
        },
        "annotatedUser": {
          "description": "Optional. User of the profile annotated by the admin.",
          "type": "string"
        },
        "attestationCredential": {
          "description": "Output only. Attestation credential information of the profile.",
          "$ref": "GoogleChromeManagementVersionsV1AttestationCredential",
          "readOnly": true
        },
        "lastPolicyFetchTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest policy fetch by the profile.",
          "format": "google-datetime"
        },
        "osPlatformType": {
          "description": "Output only. OS platform of the device on which the profile exists.",
          "type": "string",
          "readOnly": true
        },
        "userId": {
          "description": "Output only. Unique Directory API ID of the user that can be used in Admin SDK Users API.",
          "readOnly": true,
          "type": "string"
        },
        "firstEnrollmentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of the first enrollment of the profile.",
          "readOnly": true
        },
        "lastActivityTime": {
          "description": "Output only. Timestamp of the latest activity by the profile.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "profilePermanentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}"
        },
        "lastStatusReportTime": {
          "type": "string",
          "description": "Output only. Timestamp of the latest status report by the profile.",
          "format": "google-datetime",
          "readOnly": true
        },
        "reportingData": {
          "description": "Output only. Detailed reporting data of the profile. This information is only available when the profile reporting policy is enabled.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingData",
          "readOnly": true
        },
        "userEmail": {
          "type": "string",
          "description": "Output only. Email address of the user to which the profile belongs.",
          "readOnly": true
        },
        "browserVersion": {
          "description": "Output only. Version of the browser on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "annotatedLocation": {
          "type": "string",
          "description": "Optional. Location of the profile annotated by the admin."
        },
        "lastPolicySyncTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest policy sync by the profile.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfile",
      "type": "object",
      "description": "A representation of a Chrome browser profile."
    },
    "GoogleChromeManagementV1TelemetryAppInstallEvent": {
      "properties": {
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appInstallReason": {
          "type": "string",
          "enumDescriptions": [
            "Application install reason is unknown.",
            "Application installed with the system and is considered part of the OS.",
            "Application installed by policy.",
            "Application installed by an original equipment manufacturer (OEM).",
            "Application installed by default, but is not considered a system app.",
            "Application installed by sync.",
            "Application installed by user action.",
            "Application installed bt SubApp API call.",
            "Application installed by Kiosk on Chrome OS.",
            "Application installed by command line argument."
          ],
          "enum": [
            "APPLICATION_INSTALL_REASON_UNSPECIFIED",
            "APPLICATION_INSTALL_REASON_SYSTEM",
            "APPLICATION_INSTALL_REASON_POLICY",
            "APPLICATION_INSTALL_REASON_OEM",
            "APPLICATION_INSTALL_REASON_DEFAULT",
            "APPLICATION_INSTALL_REASON_SYNC",
            "APPLICATION_INSTALL_REASON_USER",
            "APPLICATION_INSTALL_REASON_SUB_APP",
            "APPLICATION_INSTALL_REASON_KIOSK",
            "APPLICATION_INSTALL_REASON_COMMAND_LINE"
          ],
          "description": "App installation reason."
        },
        "appInstallSource": {
          "type": "string",
          "description": "App installation source.",
          "enumDescriptions": [
            "Application install source is unknown.",
            "Application installed as part of Chrome OS.",
            "Application install source is a sync.",
            "Application install source is the Play store.",
            "Application install source is the Chrome web store.",
            "Application install source is a browser."
          ],
          "enum": [
            "APPLICATION_INSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_INSTALL_SOURCE_SYSTEM",
            "APPLICATION_INSTALL_SOURCE_SYNC",
            "APPLICATION_INSTALL_SOURCE_PLAY_STORE",
            "APPLICATION_INSTALL_SOURCE_CHROME_WEB_STORE",
            "APPLICATION_INSTALL_SOURCE_BROWSER"
          ]
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app."
        },
        "appInstallTime": {
          "enumDescriptions": [
            "Application install time unknown.",
            "Application install is initialized.",
            "Application install is currently running."
          ],
          "enum": [
            "APPLICATION_INSTALL_TIME_UNSPECIFIED",
            "APPLICATION_INSTALL_TIME_INIT",
            "APPLICATION_INSTALL_TIME_RUNNING"
          ],
          "description": "App installation time depending on the app lifecycle.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryAppInstallEvent",
      "type": "object",
      "description": "App installation data."
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "type": "object",
      "properties": {
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "browserVersion": {
          "type": "string",
          "description": "Browser version this is counting."
        },
        "count": {
          "type": "string",
          "description": "Total count of crash events.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "description": "The `count` of the Chrome crash events at the `date`."
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse": {
      "id": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse",
      "description": "Response to ListConnectorConfigs method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to retrieve the next page of the listing request. If the token is empty, there are no more pages to retrieve."
        },
        "connectorConfigs": {
          "type": "array",
          "description": "The list of connector configs returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "properties": {
        "provider": {
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Deprecated: Please use RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2 instead. Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "readOnly": true
        },
        "riskAssessment": {
          "description": "Output only. The details of the provider's risk assessment.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessment"
        },
        "riskLevel": {
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The bucketed risk level for the risk assessment."
        }
      }
    },
    "GoogleChromeManagementVersionsV1SignDataResponse": {
      "id": "GoogleChromeManagementVersionsV1SignDataResponse",
      "type": "object",
      "description": "Response message for requesting a signature from the client that initated a certificate provisioning process.",
      "properties": {
        "certificateProvisioningProcess": {
          "description": "Output only. The certificate provisioning process. The signature generated by the client will be available in the `signature` field of `CertificateProvisioningProcess`.",
          "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "properties": {
        "portNumber": {
          "description": "Optional. The port number to use. If not set, the default Splunk port is used.",
          "type": "integer",
          "format": "int32"
        },
        "hecToken": {
          "type": "string",
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header. Must be at most 50 characters."
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "source": {
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console. Must be at most 100 characters.",
          "type": "string"
        },
        "unsecureScheme": {
          "type": "boolean",
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS)."
        },
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters."
        }
      },
      "id": "GoogleChromeManagementVersionsV1SplunkConfig",
      "description": "Splunk connector config.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "graphicsStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Graphics reports collected periodically."
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true
        },
        "storageInfo": {
          "description": "Output only. Information of storage specs for the device.",
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "readOnly": true
        },
        "kioskAppStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Kiosk app status report for the kiosk device",
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          }
        },
        "storageStatusReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "description": "Output only. Storage reports collected periodically."
        },
        "cpuStatusReport": {
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          }
        },
        "audioStatusReport": {
          "readOnly": true,
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "batteryInfo": {
          "type": "array",
          "description": "Output only. Information on battery specs for the device.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          }
        },
        "runtimeCountersReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          },
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states"
        },
        "networkBandwidthReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          }
        },
        "appReport": {
          "readOnly": true,
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          }
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "cpuInfo": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "type": "array",
          "description": "Output only. Information regarding CPU specs for the device."
        },
        "memoryStatusReport": {
          "readOnly": true,
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          }
        },
        "networkDiagnosticsReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Network diagnostics collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          }
        },
        "graphicsInfo": {
          "readOnly": true,
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "$ref": "GoogleChromeManagementV1GraphicsInfo"
        },
        "heartbeatStatusReport": {
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          }
        },
        "memoryInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "description": "Output only. Information regarding memory specs for the device."
        },
        "networkInfo": {
          "description": "Output only. Network devices information.",
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "readOnly": true
        },
        "thunderboltInfo": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "description": "Output only. Information on Thunderbolt bus.",
          "type": "array"
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab"
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "bootPerformanceReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "description": "Output only. Boot performance reports of the device.",
          "readOnly": true
        },
        "batteryStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Battery reports collected periodically."
        },
        "osUpdateStatus": {
          "type": "array",
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "readOnly": true
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "readOnly": true
        },
        "networkStatusReport": {
          "description": "Output only. Network specs collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "properties": {
        "appLaunchSource": {
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "description": "App launch source.",
          "type": "string"
        },
        "appType": {
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "App launch data.",
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "properties": {
        "source": {
          "description": "Output only. Source of the policy.",
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "type": "object",
      "description": "Information of conflicting policy applied on a Chrome browser profile."
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "telemetryNotificationConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          },
          "description": "The telemetry notification configs from the specified customer."
        }
      },
      "description": "Response message for listing notification configs for a customer.",
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "type": "object",
      "description": "Describes a generic certificate provisioning profile.",
      "properties": {
        "profileAdapterConfigReference": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile."
        }
      },
      "id": "GoogleChromeManagementVersionsV1GenericProfile"
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to.",
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "properties": {
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        },
        "deviceDirectoryApiId": {
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "properties": {
        "modelReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook)."
        },
        "cpuReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz)."
        },
        "memoryReports": {
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "storageReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "description": "Describes a subject alternative name.",
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "properties": {
        "type": {
          "description": "Output only. The type of the SubjectAltName extension.",
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "readOnly": true
        },
        "value": {
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "properties": {
        "httpsLatencyRoutineData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "HTTPS latency routine data that triggered the event."
        },
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "properties": {
        "insightsState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "description": "The state of the insights feature.",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      },
      "description": "Response from checking the enablement status of insights for the customer.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse"
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "properties": {
        "touchpadLibrary": {
          "type": "string",
          "description": "Output only. Touchpad library name used by the input stack.",
          "readOnly": true
        },
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          },
          "readOnly": true,
          "description": "Output only. List of the internal touch screen devices.",
          "type": "array"
        }
      },
      "description": "Information on the device touch screen.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1PubSubXdrConfig": {
      "properties": {
        "topicFullPath": {
          "type": "string",
          "description": "Required. The full path to the topic to send the event to. Must be at most 1000 characters."
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the Pub/Sub XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1PubSubXdrConfig",
      "description": "Pub/Sub XDR connector config."
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "type": "string",
          "format": "int64"
        },
        "chromeBrowserProfileCommands": {
          "description": "The list of commands returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "type": "array"
        }
      },
      "description": "Response to ListChromeBrowserProfileCommands method."
    },
    "GoogleChromeManagementVersionsV1ReportingSettings": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingSettings",
      "description": "Reporting settings for connector configs.",
      "properties": {
        "enabledDefaultEvents": {
          "type": "array",
          "description": "Optional. The list of user and browser events that are enabled for this connector. An empty list disables all default events, and using `ALL_DEFAULT_EVENTS` will enable all default events.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All default events.",
              "Browser crash event.",
              "Browser extension install event.",
              "Content transfer event.",
              "Content unscanned event.",
              "Data access control event.",
              "Malware transfer event.",
              "Password changed event.",
              "Password reuse event.",
              "Sensitive data transfer event.",
              "Suspicious URL event.",
              "Unsafe site visit event.",
              "URL filtering interstitial event."
            ],
            "enum": [
              "DEFAULT_EVENT_UNSPECIFIED",
              "ALL_DEFAULT_EVENTS",
              "BROWSER_CRASH_EVENT",
              "BROWSER_EXTENSION_INSTALL_EVENT",
              "CONTENT_TRANSFER_EVENT",
              "CONTENT_UNSCANNED_EVENT",
              "DATA_ACCESS_CONTROL_EVENT",
              "MALWARE_TRANSFER_EVENT",
              "PASSWORD_CHANGED_EVENT",
              "PASSWORD_REUSE_EVENT",
              "SENSITIVE_DATA_TRANSFER_EVENT",
              "SUSPICIOUS_URL_EVENT",
              "UNSAFE_SITE_VISIT_EVENT",
              "URL_FILTERING_INTERSTITIAL_EVENT"
            ],
            "type": "string"
          }
        },
        "enabledOptInEvents": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All opt-in events.",
              "Login event.",
              "Password breach event.",
              "URL navigation event.",
              "Extension telemetry event."
            ],
            "enum": [
              "OPT_IN_EVENT_UNSPECIFIED",
              "ALL_OPT_IN_EVENTS",
              "LOGIN_EVENT",
              "PASSWORD_BREACH_EVENT",
              "URL_NAVIGATION_EVENT",
              "EXTENSION_TELEMETRY_EVENT"
            ]
          },
          "description": "Optional. The list of opt-in events that are enabled for this config. An empty list disables all opt-in events, and using `ALL_OPT_IN_EVENTS` will enable all opt-in events.",
          "type": "array"
        },
        "enabledDeviceEvents": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All device events.",
              "Add/remove user event.",
              "Login/logout event.",
              "CRD event.",
              "Peripheral event."
            ],
            "enum": [
              "DEVICE_EVENT_UNSPECIFIED",
              "ALL_DEVICE_EVENTS",
              "ADD_REMOVE_USER_EVENT",
              "LOGIN_LOGOUT_EVENT",
              "CRD_EVENT",
              "PERIPHERAL_EVENT"
            ]
          },
          "type": "array",
          "description": "Optional. The list of device events that are enabled for this config. An empty list disables all device events, and using `ALL_DEVICE_EVENTS` will enable all device events."
        }
      }
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "properties": {
        "fullChargeCapacity": {
          "readOnly": true,
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "format": "int64",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery serial number."
        },
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device"
        },
        "sample": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "type": "array",
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time."
        },
        "batteryHealth": {
          "description": "Output only. Battery health.",
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy, full charge capacity / design capacity > 80%",
            "Battery is moderately unhealthy and suggested to be replaced soon, full charge capacity / design capacity 75% - 80%",
            "Battery is unhealthy and suggested to be replaced, full charge capacity / design capacity < 75%"
          ],
          "readOnly": true,
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "type": "string"
        },
        "cycleCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Cycle count.",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "type": "object",
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT"
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "type": "object",
      "properties": {
        "email": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User's email."
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization unit ID of the user."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "type": "object",
      "description": "Request to MoveThirdPartyProfileUser method.",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "properties": {
        "destinationOrgUnit": {
          "type": "string",
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to."
        }
      }
    },
    "GoogleChromeManagementVersionsV1DisableInsightsResponse": {
      "id": "GoogleChromeManagementVersionsV1DisableInsightsResponse",
      "properties": {
        "insightsState": {
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "type": "string",
          "description": "The state of the insights feature."
        }
      },
      "type": "object",
      "description": "Response from disabling insights for the customer."
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "description": "Response containing the number of active devices.",
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "type": "object",
      "properties": {
        "thirtyDaysCount": {
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        },
        "sevenDaysCount": {
          "format": "int64",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1UrlVisitsSummary": {
      "properties": {
        "count": {
          "description": "The count of the URL visits metric.",
          "format": "int64",
          "type": "string"
        },
        "metric": {
          "enum": [
            "URL_VISITS_METRIC_UNSPECIFIED",
            "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
            "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
            "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
            "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
          ],
          "description": "The type of URL visits metric.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
            "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
            "The number of suspicious URL visits with high risk.",
            "The number of suspicious URL visits with medium risk.",
            "The number of suspicious URL visits with low risk."
          ]
        }
      },
      "description": "Summary of URL visits for a given metric.",
      "id": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1MipLabelConfig": {
      "description": "MIP label connector config.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1MipLabelConfig",
      "properties": {
        "microsoftTenantId": {
          "description": "Required. Microsoft tenant ID.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "description": "Optional. Domain can be used optionally for the corner case where one Dasher customer ID maps to multiple Microsoft tenant ID. Each domain can be verified with at most one Microsoft tenant.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "pendingUpdate": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are pending an OS update."
        },
        "unsupportedPolicyCount": {
          "type": "string",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "format": "int64",
          "type": "string"
        },
        "noRecentPolicySyncCount": {
          "format": "int64",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "type": "string"
        },
        "noRecentUserActivityCount": {
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "description": "Configures how the telemetry data should be filtered.",
      "type": "object",
      "properties": {
        "deviceOrgUnitId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit."
        },
        "userOrgUnitId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit."
        },
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user."
        },
        "telemetryEventNotificationFilter": {
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
          "description": "Only sends notifications for the telemetry events matching this filter."
        }
      }
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "type": "object",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "type": "string",
          "format": "google-datetime"
        },
        "appDetails": {
          "readOnly": true,
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "type": "string"
        },
        "requestCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true
        },
        "detailUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The uri for the detail page of the item."
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "type": "object",
      "description": "Details of an app installation request."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig": {
      "id": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters."
        },
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the Palo Alto Networks config."
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 256 characters."
        }
      },
      "description": "Palo Alto Networks connector config.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "browserVersions": {
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "type": "array"
        },
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "description": "Response containing requested browser versions details and counts."
    },
    "GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "description": "Information of a policy applied on a Chrome browser profile.",
      "properties": {
        "source": {
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "description": "Output only. Source of the policy.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ]
        },
        "name": {
          "description": "Output only. Name of the policy.",
          "readOnly": true,
          "type": "string"
        },
        "conflicts": {
          "type": "array",
          "description": "Output only. Conflicting policy information.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
          },
          "readOnly": true
        },
        "value": {
          "description": "Output only. Value of the policy.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. Error message of the policy, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataPolicyData",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "type": "object",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "properties": {
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "designMinVoltage": {
          "type": "integer",
          "description": "Output only. Designed minimum output voltage (mV)",
          "readOnly": true,
          "format": "int32"
        },
        "designCapacity": {
          "format": "int64",
          "description": "Output only. Design capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "properties": {
        "policyData": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "description": "Output only. Information of the policies applied on the extension.",
          "type": "array"
        },
        "extensionId": {
          "readOnly": true,
          "description": "Output only. ID of the extension.",
          "type": "string"
        },
        "extensionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the extension."
        }
      },
      "description": "Information of the policies applied on an extension.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
    },
    "GoogleChromeManagementV1FindSaasUsageReportsResponse": {
      "description": "Response to `FindSaasUsage` method.",
      "type": "object",
      "id": "GoogleChromeManagementV1FindSaasUsageReportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "format": "int64",
          "description": "Total number of SaaS usage reports that match the request.",
          "type": "string"
        },
        "saasReports": {
          "type": "array",
          "description": "The list of SaaS usage reports.",
          "items": {
            "$ref": "GoogleChromeManagementV1SaasUsageReport"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1UrlVisitsBreakdown": {
      "type": "object",
      "description": "A URL visits summary for a given breakdown dimension.",
      "id": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown",
      "properties": {
        "user": {
          "type": "string",
          "description": "The user that visited the URL."
        },
        "summary": {
          "description": "The summary of URL visits for the breakdown dimension.",
          "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
        },
        "eventDomain": {
          "description": "The event domain of the URL visits.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersResponse": {
      "type": "object",
      "description": "Response message for QueryContentTransfers.",
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse",
      "properties": {
        "summaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
          },
          "description": "A collection of summaries for various content transfers metrics."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "type": "object",
      "properties": {
        "userDirectoryApiId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the user.",
          "readOnly": true
        },
        "chromeOsDevice": {
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice",
          "readOnly": true
        },
        "userPrimaryEmail": {
          "type": "string",
          "description": "Output only. The primary e-mail address of the user.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "type": "object",
      "description": "Telemetry data reported by a managed device.",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp that represents when the event was reported."
        },
        "externalDisplaysEvent": {
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "readOnly": true
        },
        "device": {
          "description": "Output only. Information about the device associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo"
        },
        "vpnConnectionStateChangeEvent": {
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the event.",
          "readOnly": true
        },
        "appInstallEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent"
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
        },
        "appUninstallEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent"
        },
        "audioSevereUnderrunEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true
        },
        "networkStateChangeEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`."
        },
        "wifiSignalStrengthEvent": {
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent"
        },
        "osCrashEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "readOnly": true,
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`."
        },
        "appLaunchEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
        },
        "httpsLatencyChangeEvent": {
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "readOnly": true
        },
        "user": {
          "description": "Output only. Information about the user associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo"
        },
        "eventType": {
          "description": "The event type of the current event.",
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1AttestationCredential": {
      "properties": {
        "keyTrustLevel": {
          "description": "Output only. Trust level of the public key.",
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified public key trust level.",
            "Represents a HW key.",
            "Represents an OS key."
          ]
        },
        "publicKey": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Value of the public key."
        },
        "keyType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA_KEY",
            "EC_KEY"
          ],
          "enumDescriptions": [
            "Represents an unspecified public key type.",
            "Represents a RSA key.",
            "Represents an EC key."
          ],
          "description": "Output only. Type of the public key."
        },
        "keyRotationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Latest rotation timestamp of the public key rotation."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1AttestationCredential",
      "description": "Information of public key associated with a Chrome browser profile."
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeConfig": {
      "type": "object",
      "properties": {
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 50 characters."
        }
      },
      "description": "CrowdStrike connector config.",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeConfig"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "properties": {
        "disk": {
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "readOnly": true,
          "description": "Output only. Reports on disk.",
          "type": "array"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "id": "GoogleChromeManagementV1StorageStatusReport"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse": {
      "properties": {
        "summaries": {
[...]
