{
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/chrome/management/",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string",
          "readOnly": true
        },
        "keylockerSupported": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean"
        },
        "keylockerConfigured": {
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean",
          "readOnly": true
        },
        "maxClockSpeed": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The max CPU clock speed in kHz.",
          "type": "integer"
        },
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ]
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "type": "object",
      "description": "One risk assessment entry.",
      "properties": {
        "riskLevel": {
          "readOnly": true,
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "type": "string"
        },
        "riskAssessment": {
          "readOnly": true,
          "description": "Output only. The details of the provider's risk assessment.",
          "$ref": "GoogleChromeManagementV1RiskAssessment"
        },
        "provider": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "Deprecated: Please use other risk score providers instead. CRXcavator.",
            "Deprecated: Please use RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2 instead. Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "description": "Response to ListChromeBrowserProfiles method.",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "properties": {
        "chromeBrowserProfiles": {
          "description": "The list of profiles returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          }
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "id": "GoogleChromeManagementV1InstalledApp",
      "type": "object",
      "properties": {
        "profileCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Count of Chrome Profiles with this app installed."
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the installed app.",
          "type": "string"
        },
        "appSource": {
          "description": "Output only. Source of the installed app.",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "type": "string",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "readOnly": true,
          "description": "Output only. How the app was installed."
        },
        "appType": {
          "description": "Output only. Type of the app.",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "osUserCount": {
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Permissions of the installed app.",
          "type": "array"
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string"
        },
        "browserDeviceCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed."
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "readOnly": true,
          "description": "Output only. Whether the app is disabled.",
          "type": "boolean"
        }
      },
      "description": "Describes an installed app."
    },
    "GoogleChromeManagementVersionsV1GoogleSecOpsConfig": {
      "id": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig",
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API. Must be 39 characters.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Google SecOps config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "host": {
          "description": "Required. Host of ingestion API endpoint. Allows customer to upload events to servers in specific geographical regions. Existing configs that don't have this setting default to US. Must be at most 256 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google SecOps connector config."
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "properties": {
        "osPlatformVersion": {
          "readOnly": true,
          "description": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting.",
          "type": "string"
        },
        "identityProvider": {
          "description": "Output only. Identify provider of the profile.",
          "readOnly": true,
          "enum": [
            "IDENTITY_PROVIDER_UNSPECIFIED",
            "GOOGLE_IDENTITY_PROVIDER",
            "EXTERNAL_IDENTITY_PROVIDER"
          ],
          "enumDescriptions": [
            "Represents an unspecified identity provider.",
            "Represents a Google identity provider.",
            "Represents an external identity provider."
          ],
          "type": "string"
        },
        "annotatedLocation": {
          "type": "string",
          "description": "Optional. Location of the profile annotated by the admin."
        },
        "extensionCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of extensions installed on the profile."
        },
        "lastStatusReportTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of the latest status report by the profile.",
          "format": "google-datetime"
        },
        "annotatedUser": {
          "description": "Optional. User of the profile annotated by the admin.",
          "type": "string"
        },
        "lastPolicyFetchTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest policy fetch by the profile."
        },
        "osVersion": {
          "readOnly": true,
          "description": "Output only. OS version of the device on which the profile exists.",
          "type": "string"
        },
        "supportsFcmNotifications": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the profile supports FCM notifications."
        },
        "userId": {
          "type": "string",
          "description": "Output only. Unique Directory API ID of the user that can be used in Admin SDK Users API.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of this ChromeBrowserProfile resource. This etag can be used with UPDATE operation to ensure consistency."
        },
        "policyCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of policies applied on the profile.",
          "type": "string"
        },
        "profilePermanentId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Profile display name set by client.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
          "type": "string"
        },
        "profileId": {
          "description": "Output only. Chrome client side profile ID.",
          "type": "string",
          "readOnly": true
        },
        "lastPolicySyncTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest policy sync by the profile.",
          "format": "google-datetime"
        },
        "firstEnrollmentTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the first enrollment of the profile."
        },
        "osPlatformType": {
          "type": "string",
          "description": "Output only. OS platform of the device on which the profile exists.",
          "readOnly": true
        },
        "browserChannel": {
          "description": "Output only. Channel of the browser on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "attestationCredential": {
          "description": "Output only. Attestation credential information of the profile.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1AttestationCredential"
        },
        "lastActivityTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest activity by the profile.",
          "readOnly": true
        },
        "deviceInfo": {
          "readOnly": true,
          "description": "Output only. Basic information of the device on which the profile exists. This information is only available for the affiliated profiles.",
          "$ref": "GoogleChromeManagementVersionsV1DeviceInfo"
        },
        "reportingData": {
          "readOnly": true,
          "description": "Output only. Detailed reporting data of the profile. This information is only available when the profile reporting policy is enabled.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingData"
        },
        "browserVersion": {
          "type": "string",
          "description": "Output only. Version of the browser on which the profile exists.",
          "readOnly": true
        },
        "affiliationState": {
          "description": "Output only. The specific affiliation state of the profile.",
          "enum": [
            "AFFILIATION_STATE_UNSPECIFIED",
            "UNAFFILIATED_GENERIC",
            "PROFILE_ONLY",
            "UNAFFILIATED_LOCAL_MACHINE",
            "UNAFFILIATED_CLOUD_MACHINE",
            "AFFILIATED_CLOUD_MANAGED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified affiliation state.",
            "Unaffiliated - but we do not have the details for the type of unaffiliated profile.",
            "Unaffiliated - A managed profile that appears on a totally unamanaged browser.",
            "Unaffiliated - A managed profile that appears on a machine that is locally managed by a different organization (through platform management mechanisms like GPO).",
            "Unaffiliated - A managed profile that appears on a managed browser that is cloud managed by a different organization (using Chrome Browser Cloud Management).",
            "Affiliated - Both the profile and the managed browser are managed by the same organization."
          ]
        },
        "userEmail": {
          "description": "Output only. Email address of the user to which the profile belongs.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfile",
      "description": "A representation of a Chrome browser profile.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1DisableInsightsRequest": {
      "description": "Request to disable insights for the customer.",
      "properties": {},
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1DisableInsightsRequest"
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse": {
      "properties": {
        "urlVisitsBreakdowns": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown"
          },
          "type": "array",
          "description": "The URL visit breakdowns from the specified insight."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for QueryUrlVisitsBreakdowns.",
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse": {
      "properties": {
        "summaries": {
          "description": "A collection of summaries for various URL visit metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
          }
        }
      },
      "description": "Response message for QueryUrlVisits.",
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO",
      "type": "object",
      "properties": {
        "securityLevel": {
          "description": "Security level of the Thunderbolt bus.",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ConnectorConfig": {
      "description": "A representation of a connector config.",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigStatus"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}"
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Reporting connector.",
            "Device trust connector.",
            "XDR connector.",
            "Authentication connector.",
            "Certificate authority connector. Not yet supported in the API.",
            "Root certificate connector.",
            "Content analysis connector.",
            "Enterprise proxy connector."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "REPORTING",
            "DEVICE_TRUST",
            "XDR",
            "IDENTITY_BASED_ENROLLMENT",
            "CERTIFICATE_AUTHORITY",
            "ROOT_STORE",
            "CONTENT_ANALYSIS",
            "ENTERPRISE_PROXY"
          ],
          "type": "string",
          "description": "Required. The type of the connector."
        },
        "displayName": {
          "description": "Required. The display name of the config. Must be at most 100 characters.",
          "type": "string"
        },
        "details": {
          "description": "Required. The details of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ConnectorConfig",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "description": "App uninstall data.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
      "properties": {
        "appUninstallSource": {
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ],
          "description": "App uninstall source.",
          "type": "string",
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appType": {
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "id": "GoogleChromeManagementV1StorageInfo",
      "properties": {
        "availableDiskBytes": {
          "format": "int64",
          "type": "string",
          "description": "The available space for user data storage in the device in bytes."
        },
        "volume": {
          "description": "Information for disk volumes",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          }
        },
        "totalDiskBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total space for user data storage in the device in bytes."
        }
      },
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "properties": {
        "storageStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "description": "Output only. Storage reports collected periodically.",
          "type": "array"
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "graphicsStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Graphics reports collected periodically."
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "readOnly": true,
          "type": "string"
        },
        "bootPerformanceReport": {
          "description": "Output only. Boot performance reports of the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "type": "array",
          "readOnly": true
        },
        "peripheralsReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "readOnly": true
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "type": "string"
        },
        "appReport": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          }
        },
        "graphicsInfo": {
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsInfo"
        },
        "cpuInfo": {
          "description": "Output only. Information regarding CPU specs for the device.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the device."
        },
        "networkStatusReport": {
          "type": "array",
          "description": "Output only. Network specs collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "readOnly": true
        },
        "batteryStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "type": "array",
          "description": "Output only. Battery reports collected periodically."
        },
        "networkDiagnosticsReport": {
          "description": "Output only. Network diagnostics collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "type": "array",
          "readOnly": true
        },
        "networkInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "description": "Output only. Network devices information."
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization unit ID of the device."
        },
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device."
        },
        "networkBandwidthReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "readOnly": true,
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time."
        },
        "osUpdateStatus": {
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Contains relevant information regarding ChromeOS update status."
        },
        "storageInfo": {
          "description": "Output only. Information of storage specs for the device.",
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "readOnly": true
        },
        "heartbeatStatusReport": {
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          }
        },
        "runtimeCountersReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states",
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          }
        },
        "cpuStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "type": "array",
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time."
        },
        "kioskAppStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "type": "array",
          "description": "Output only. Kiosk app status report for the kiosk device",
          "readOnly": true
        },
        "batteryInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "description": "Output only. Information on battery specs for the device."
        },
        "memoryStatusReport": {
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          }
        },
        "thunderboltInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information on Thunderbolt bus."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "The unique Directory API ID of the user."
        },
        "printerCount": {
          "format": "int64",
          "description": "Number of printers used by the user.",
          "type": "string"
        },
        "jobCount": {
          "description": "Number of print jobs initiated by the user.",
          "format": "int64",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user."
        },
        "deviceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of chrome devices that have been used to initiate print jobs by the user."
        }
      },
      "type": "object",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "id": "GoogleChromeManagementV1UserPrintReport"
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "properties": {
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the subject alternative name with respect to the `type`."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "description": "Output only. The type of the SubjectAltName extension.",
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ]
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "description": "Describes a subject alternative name."
    },
    "GoogleChromeManagementV1FindSaasUsageProfilesResponse": {
      "id": "GoogleChromeManagementV1FindSaasUsageProfilesResponse",
      "type": "object",
      "description": "Response to `FindSaasUsageProfiles` method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "profileReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1SaasUsageProfileReport"
          },
          "type": "array",
          "description": "The list of SaaS usage profile reports."
        },
        "totalSize": {
          "format": "int64",
          "type": "string",
          "description": "Total number of SaaS usage profile reports that match the request."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "properties": {
        "appType": {
          "description": "Type of app.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appLaunchSource": {
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "type": "string",
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "description": "App launch source."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "description": "App launch data."
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "properties": {
        "chromeOsDevice": {
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice",
          "readOnly": true,
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device."
        },
        "userDirectoryApiId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique Directory API ID of the user."
        },
        "userPrimaryEmail": {
          "type": "string",
          "description": "Output only. The primary e-mail address of the user.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleChromeManagementV1CountDevicesPerBootTypeResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse",
      "description": "Response containing the number of devices with the given boot type.",
      "type": "object",
      "properties": {
        "devBootTypeCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with dev boot type."
        },
        "unreportedBootTypeCount": {
          "type": "string",
          "description": "Number of devices with unreported boot type.",
          "format": "int64"
        },
        "verifiedBootTypeCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with verified boot type."
        }
      }
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigDetails": {
      "properties": {
        "crowdStrikeXdrConfig": {
          "description": "CrowdStrike XDR connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig"
        },
        "deviceTrustConfig": {
          "description": "Device trust connector config.",
          "$ref": "GoogleChromeManagementVersionsV1DeviceTrustConfig"
        },
        "splunkConfig": {
          "description": "Splunk connector config.",
          "$ref": "GoogleChromeManagementVersionsV1SplunkConfig"
        },
        "mipLabelConfig": {
          "description": "MIP label connector config.",
          "$ref": "GoogleChromeManagementVersionsV1MipLabelConfig"
        },
        "crowdStrikeConfig": {
          "description": "CrowdStrike connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeConfig"
        },
        "crowdStrikeFalconNextGenConfig": {
          "description": "CrowdStrike Falcon Next Gen connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig"
        },
        "paloAltoNetworksConfig": {
          "description": "Palo Alto Networks connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig"
        },
        "pubSubXdrConfig": {
          "description": "Pub/Sub XDR connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PubSubXdrConfig"
        },
        "googleSecOpsConfig": {
          "$ref": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig",
          "description": "Google SecOps connector config."
        },
        "secureGatewayConfig": {
          "description": "Secure gateway connector config.",
          "$ref": "GoogleChromeManagementVersionsV1SecureGatewayConfig"
        },
        "pubSubConfig": {
          "$ref": "GoogleChromeManagementVersionsV1PubSubConfig",
          "description": "Pub/Sub connector config."
        }
      },
      "description": "The details of the connector config.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "properties": {
        "externalDisplayData": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          },
          "description": "List of external displays that were connected/disconnected.",
          "type": "array"
        }
      },
      "description": "External display connected/disconnected event payload.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UrlVisitsSummary": {
      "id": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
      "properties": {
        "count": {
          "type": "string",
          "description": "The count of the URL visits metric.",
          "format": "int64"
        },
        "metric": {
          "enumDescriptions": [
            "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
            "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
            "The number of suspicious URL visits with high risk.",
            "The number of suspicious URL visits with medium risk.",
            "The number of suspicious URL visits with low risk."
          ],
          "enum": [
            "URL_VISITS_METRIC_UNSPECIFIED",
            "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
            "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
            "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
            "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
          ],
          "description": "The type of URL visits metric.",
          "type": "string"
        }
      },
      "description": "Summary of URL visits for a given metric.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "type": "object",
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse"
    },
    "GoogleChromeManagementV1AppReport": {
      "id": "GoogleChromeManagementV1AppReport",
      "properties": {
        "usageData": {
          "items": {
            "$ref": "GoogleChromeManagementV1AppUsageData"
          },
          "description": "App usage data.",
          "type": "array"
        },
        "reportTime": {
          "type": "string",
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "App report."
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "description": "Request to MoveThirdPartyProfileUser method.",
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleChromeManagementVersionsV1DisableInsightsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1DisableInsightsResponse",
      "description": "Response from disabling insights for the customer.",
      "properties": {
        "insightsState": {
          "description": "The state of the insights feature.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "properties": {
        "edidVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. EDID version."
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id.",
          "format": "int64",
          "type": "string"
        },
        "resolutionHeight": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Resolution height in pixels.",
          "format": "int32"
        },
        "refreshRate": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Refresh rate in Hz.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "isInternal": {
          "description": "Output only. Indicates if display is internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "resolutionWidth": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Resolution width in pixels."
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information for a display."
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "properties": {
        "extensionName": {
          "readOnly": true,
          "description": "Output only. Name of the extension.",
          "type": "string"
        },
        "policyData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information of the policies applied on the extension."
        },
        "extensionId": {
          "type": "string",
          "description": "Output only. ID of the extension.",
          "readOnly": true
        }
      },
      "description": "Information of the policies applied on an extension."
    },
    "GoogleChromeManagementVersionsV1EnableInsightsResponse": {
      "properties": {
        "insightsState": {
          "description": "The state of the insights feature.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      },
      "type": "object",
      "description": "Response from enabling insights for the customer.",
      "id": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
    },
    "GoogleChromeManagementVersionsV1SetFailureRequest": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Required. A message describing the failure details. It is displayed on the ChromeOS client device."
        }
      },
      "description": "Request message for marking a certificate provisioning process as failed.",
      "id": "GoogleChromeManagementVersionsV1SetFailureRequest"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "type": "object",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the report was collected.",
          "format": "google-datetime",
          "readOnly": true
        },
        "deviceActivityState": {
          "description": "Output only. Device activity state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ]
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Output only. User's email.",
          "readOnly": true
        },
        "orgUnitId": {
          "readOnly": true,
          "description": "Output only. Organization unit ID of the user.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserInfo"
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigStatus": {
      "properties": {
        "failureStartTime": {
          "description": "Output only. Field recording time of the earliest failure since the last success event. This field is only set when the state is `DISABLED_BY_FAILURES`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "CONFIG_STATE_UNKNOWN",
            "ENABLED",
            "DISABLED_BY_FAILURES"
          ],
          "description": "Output only. The state of the connector config. The connector state is disabled if the connector has not successfully sent an event in the last 24 hours.",
          "enumDescriptions": [
            "Default value.",
            "The connector config is enabled.",
            "The connector config is transiently disabled due to failures."
          ],
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Field recording time of most recent modification of the status. For `ENABLED`, this is the time the status was changed to `ENABLED`. For `DISABLED_BY_FAILURES`, this is the time of the most recent failed attempt to send an event to this config.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
      "type": "object",
      "description": "The status of the connector config."
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+.",
      "properties": {
        "enterPoweroffCount": {
          "format": "int64",
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "type": "string"
        },
        "uptimeRuntimeDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR."
        },
        "enterHibernationCount": {
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4.",
          "type": "string",
          "format": "int64"
        },
        "enterSleepCount": {
          "format": "int64",
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the report was collected."
        }
      },
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "type": "object"
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "properties": {
        "profilePermanentId": {
          "readOnly": true,
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string"
        },
        "email": {
          "description": "Output only. The email of the profile.",
          "readOnly": true,
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Chrome client side profile ID."
        },
        "profileOrgUnitId": {
          "description": "Output only. The organizational unit id of the profile.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "description": "Describes a profile reporting Chrome Profile information.",
      "type": "object"
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "properties": {
        "state": {
          "description": "State the device changed to",
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ],
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp of when status changed was detected",
          "type": "string"
        }
      },
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1SaasUsageBrowser": {
      "id": "GoogleChromeManagementV1SaasUsageBrowser",
      "description": "Details of a SaaS usage browser.",
      "type": "object",
      "properties": {
        "osVersion": {
          "description": "Output only. The OS version.",
          "readOnly": true,
          "type": "string"
        },
        "machine": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The machine name."
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Output only. The device permanent ID.",
          "readOnly": true
        },
        "orgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the organizational unit."
        },
        "osPlatform": {
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "type": "string",
          "description": "Output only. The OS platform.",
          "readOnly": true
        },
        "lastNavigationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the application was last navigated to by this browser.",
          "type": "string"
        },
        "firstNavigationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the application was first navigated to by this browser."
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "type": "object",
      "description": "Information of an extension installed on a Chrome browser profile.",
      "properties": {
        "isDisabled": {
          "type": "boolean",
          "description": "Output only. Represents whether the user disabled the extension.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the extension."
        },
        "extensionId": {
          "readOnly": true,
          "description": "Output only. ID of the extension.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Permissions requested by the extension.",
          "readOnly": true
        },
        "manifestVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Manifest version of the extension.",
          "readOnly": true
        },
        "extensionType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "description": "Output only. Type of the extension."
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. The URL of the homepage of the extension.",
          "readOnly": true
        },
        "isWebstoreExtension": {
          "description": "Output only. Represents whether the extension is from the webstore.",
          "readOnly": true,
          "type": "boolean"
        },
        "installationType": {
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Installation type of the extension."
        },
        "version": {
          "description": "Output only. Version of the extension.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the extension."
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "properties": {
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "type": "array",
          "description": "Telemetry devices returned in the response."
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "properties": {
        "adapter": {
          "type": "string",
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true
        },
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        },
        "deviceId": {
          "format": "int64",
          "description": "Output only. Represents the graphics card device id.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU)."
    },
    "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
      "type": "object",
      "description": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "connectionState": {
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "description": "Current connection state of the network.",
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ]
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "properties": {
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "userDevice": {
          "description": "Telemetry data collected from a managed user and device.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name of the user."
        },
        "userId": {
          "type": "string",
          "description": "Directory ID of the user."
        },
        "customer": {
          "type": "string",
          "description": "G Suite Customer whose enterprise enrolled the device."
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization unit of the user."
        }
      },
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER",
      "id": "GoogleChromeManagementV1TelemetryUser",
      "type": "object"
    },
    "GoogleChromeManagementV1AppUsageData": {
      "id": "GoogleChromeManagementV1AppUsageData",
      "properties": {
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "type": "string",
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appId": {
          "type": "string",
          "description": "App id."
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        },
        "runningDuration": {
          "format": "google-duration",
          "description": "App foreground running time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "App usage data."
    },
    "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig": {
      "id": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
      "description": "Palo Alto Networks connector config.",
      "properties": {
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the Palo Alto Networks config."
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 256 characters.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "type": "object",
      "description": "Telemetry data reported by a managed device.",
      "properties": {
        "externalDisplaysEvent": {
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "readOnly": true
        },
        "httpsLatencyChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true
        },
        "user": {
          "readOnly": true,
          "description": "Output only. Information about the user associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo"
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "vpnConnectionStateChangeEvent": {
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "appInstallEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent"
        },
        "device": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "description": "Output only. Information about the device associated with the event."
        },
        "networkStateChangeEvent": {
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "readOnly": true
        },
        "osCrashEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "readOnly": true,
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`."
        },
        "audioSevereUnderrunEvent": {
          "readOnly": true,
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "wifiSignalStrengthEvent": {
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "readOnly": true
        },
        "appUninstallEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`."
        },
        "name": {
          "description": "Output only. Resource name of the event.",
          "type": "string",
          "readOnly": true
        },
        "usbPeripheralsEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "description": "The event type of the current event."
        },
        "appLaunchEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
          "readOnly": true,
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`."
        }
      }
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
      "description": "CrowdStrike Falcon Next Gen connector config.",
      "properties": {
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config."
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events. Must be at most 256 characters.",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API. Must be at most 50 characters.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Count of devices with a unique hardware specification.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport"
    },
    "GoogleChromeManagementVersionsV1SignDataResponse": {
      "description": "Response message for requesting a signature from the client that initated a certificate provisioning process.",
      "id": "GoogleChromeManagementVersionsV1SignDataResponse",
      "type": "object",
      "properties": {
        "certificateProvisioningProcess": {
          "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess",
          "readOnly": true,
          "description": "Output only. The certificate provisioning process. The signature generated by the client will be available in the `signature` field of `CertificateProvisioningProcess`."
        }
      }
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "type": "object",
      "properties": {
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery serial number."
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "type": "string",
          "readOnly": true
        },
        "designCapacity": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours)."
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Battery manufacturer.",
          "readOnly": true
        },
        "designMinVoltage": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer"
        },
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1BatteryInfo"
    },
    "GoogleChromeManagementV1SaasUsageReportContentTransferDetails": {
      "description": "Provides information about content transfer events, if available.",
      "id": "GoogleChromeManagementV1SaasUsageReportContentTransferDetails",
      "type": "object",
      "properties": {
        "contentTransferCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total number of content transfers associated with the application.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "properties": {
        "eventTypes": {
          "items": {
            "enumDescriptions": [
              "Event type unknown.",
              "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
              "Triggered immediately on any changes to a network connection.",
              "Triggered when USB devices are added.",
              "Triggered when USB devices are removed.",
              "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
              "Triggered when connected WiFi network signal strength drops below -70dBm.",
              "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
              "Triggered on changes to VPN connections.",
              "Triggered when an app is installed.",
              "Triggered when an app is uninstalled.",
              "Triggered when an app is launched.",
              "Triggered when a crash occurs.",
              "Triggered when an external display is connected.",
              "Triggered when an external display is disconnected."
            ],
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "AUDIO_SEVERE_UNDERRUN",
              "NETWORK_STATE_CHANGE",
              "USB_ADDED",
              "USB_REMOVED",
              "NETWORK_HTTPS_LATENCY_CHANGE",
              "WIFI_SIGNAL_STRENGTH_LOW",
              "WIFI_SIGNAL_STRENGTH_RECOVERED",
              "VPN_CONNECTION_STATE_CHANGE",
              "APP_INSTALLED",
              "APP_UNINSTALLED",
              "APP_LAUNCHED",
              "OS_CRASH",
              "EXTERNAL_DISPLAY_CONNECTED",
              "EXTERNAL_DISPLAY_DISCONNECTED"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Only sends the notifications for events of these types. Must not be empty."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
      "description": "Configures how the telemetry events should be filtered."
    },
    "GoogleChromeManagementV1FindInstalledAppProfilesResponse": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of profiles matching request."
        },
        "profiles": {
          "description": "A list of profiles which have the app installed. Sorted in ascending alphabetical order on the profile.Email field.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ProfileAppInstallInstance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "description": "Response containing a list of profiles with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppProfilesResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "type": "object",
      "properties": {
        "profileAdapterConfigReference": {
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile.",
          "type": "string"
        }
      },
      "description": "Describes a generic certificate provisioning profile."
    },
    "GoogleChromeManagementVersionsV1ReportingSettings": {
      "id": "GoogleChromeManagementVersionsV1ReportingSettings",
      "type": "object",
      "properties": {
        "enabledDefaultEvents": {
          "type": "array",
          "description": "Optional. The list of user and browser events that are enabled for this connector. An empty list disables all default events, and using `ALL_DEFAULT_EVENTS` will enable all default events.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All default events.",
              "Browser crash event.",
              "Browser extension install event.",
              "Content transfer event.",
              "Content unscanned event.",
              "Data access control event.",
              "Malware transfer event.",
              "Password changed event.",
              "Password reuse event.",
              "Sensitive data transfer event.",
              "Suspicious URL event.",
              "Unsafe site visit event.",
              "URL filtering interstitial event."
            ],
            "enum": [
              "DEFAULT_EVENT_UNSPECIFIED",
              "ALL_DEFAULT_EVENTS",
              "BROWSER_CRASH_EVENT",
              "BROWSER_EXTENSION_INSTALL_EVENT",
              "CONTENT_TRANSFER_EVENT",
              "CONTENT_UNSCANNED_EVENT",
              "DATA_ACCESS_CONTROL_EVENT",
              "MALWARE_TRANSFER_EVENT",
              "PASSWORD_CHANGED_EVENT",
              "PASSWORD_REUSE_EVENT",
              "SENSITIVE_DATA_TRANSFER_EVENT",
              "SUSPICIOUS_URL_EVENT",
              "UNSAFE_SITE_VISIT_EVENT",
              "URL_FILTERING_INTERSTITIAL_EVENT"
            ],
            "type": "string"
          }
        },
        "enabledOptInEvents": {
          "description": "Optional. The list of opt-in events that are enabled for this config. An empty list disables all opt-in events, and using `ALL_OPT_IN_EVENTS` will enable all opt-in events.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All opt-in events.",
              "Login event.",
[...]
