{
  "batchPath": "batch",
  "title": "Chrome Web Store API",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "basePath": "",
  "id": "chromewebstore:v1.1",
  "version": "v1.1",
  "version_module": true,
  "resources": {
    "items": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Item"
          },
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the item to upload.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "PUT",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.update",
          "parameterOrder": [
            "itemId"
          ],
          "description": "Updates an existing item.",
          "supportsMediaUpload": true
        },
        "publish": {
          "id": "chromewebstore.items.publish",
          "parameters": {
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "deployPercentage": {
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query",
              "format": "int32"
            },
            "reviewExemption": {
              "type": "boolean",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query"
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "parameterOrder": [
            "itemId"
          ],
          "description": "Publishes an item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "response": {
            "$ref": "Item2"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "description": "Gets your own Chrome Web Store item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "projection": {
              "location": "query",
              "type": "string",
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ]
            },
            "itemId": {
              "required": true,
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "id": "chromewebstore.items.get"
        },
        "insert": {
          "flatPath": "chromewebstore/v1.1/items",
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameterOrder": [],
          "id": "chromewebstore.items.insert",
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "description": "Inserts a new item."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "schemas": {
    "ItemError": {
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      },
      "type": "object",
      "id": "ItemError",
      "description": "Error of the item"
    },
    "Item": {
      "properties": {
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        }
      },
      "id": "Item",
      "type": "object"
    },
    "Item2": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "statusDetail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        }
      },
      "id": "Item2"
    },
    "PublishRequest": {
      "properties": {
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PublishRequest"
    }
  },
  "revision": "20261005",
  "canonicalName": "Chromewebstore",
  "protocol": "rest",
  "name": "chromewebstore",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true
}