{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "revision": "20261002",
  "ownerName": "Google",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "flatPath": "civicinfo/v2/voterinfo",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "id": "civicinfo.elections.voterInfoQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "parameters": {
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "electionId": {
              "type": "string",
              "format": "int64",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "location": "query",
              "default": "0"
            },
            "productionDataOnly": {
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "address": {
              "type": "string",
              "location": "query",
              "description": "The registered address of the voter to look up."
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "path": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "electionQuery": {
          "path": "civicinfo/v2/elections",
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/elections",
          "id": "civicinfo.elections.electionQuery",
          "description": "List of available elections to query.",
          "parameters": {
            "productionDataOnly": {
              "description": "Whether to include data that has not been allowlisted yet",
              "location": "query",
              "default": "true",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "path": "civicinfo/v2/divisions",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "type": "string",
              "location": "query"
            }
          },
          "id": "civicinfo.divisions.search",
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/divisions"
        },
        "queryDivisionByAddress": {
          "parameters": {
            "address": {
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "path": "civicinfo/v2/divisionsByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "name": "civicinfo",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "version": "v2",
  "servicePath": "",
  "title": "Google Civic Information API",
  "protocol": "rest",
  "schemas": {
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "description": "The list of elections available for this version of the API.",
      "properties": {
        "kind": {
          "default": "civicinfo#electionsQueryResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "type": "string"
        },
        "elections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections"
        }
      },
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2Precinct": {
      "properties": {
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies if the precinct runs mail-only elections."
        },
        "electoralDistrictId": {
          "type": "array",
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "items": {
            "type": "string"
          }
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        },
        "pollingLocationId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "datasetId": {
          "format": "int64",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "ocdId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Encouraged. The OCD ID of the precinct"
        },
        "spatialBoundaryId": {
          "type": "array",
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "items": {
            "type": "string"
          }
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Precinct"
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials."
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations."
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        }
      },
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "type": "object",
      "id": "CivicinfoSchemaV2PollingLocation"
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "properties": {
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        },
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "type": "object",
      "properties": {
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "electionOfficials": {
          "type": "array",
          "description": "The election officials for this election administrative body.",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          }
        },
        "hoursOfOperation": {
          "type": "string",
          "description": "A description of the hours of operation for this administrative body."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "voter_services": {
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide.",
          "type": "array"
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "name": {
          "type": "string",
          "description": "The name of this election administrative body."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot.",
      "properties": {
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        },
        "special": {
          "type": "string",
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
        },
        "candidates": {
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "type": "array",
          "description": "The candidate choices for this contest."
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "roles": {
          "type": "array",
          "description": "The roles which this office fulfills.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "type": "string"
          }
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "numberElected": {
          "type": "string",
          "format": "int64",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ]
          }
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "format": "int64",
          "type": "string"
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string",
          "format": "int64"
        },
        "primaryParties": {
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "items": {
            "type": "string"
          }
        },
        "referendumTitle": {
          "type": "string",
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "type": "object",
      "description": "Represents a political geographic division that matches the requested query.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        },
        "kind": {
          "default": "civicinfo#divisionSearchResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "type": "string"
        }
      },
      "description": "The result of a division search query.",
      "type": "object"
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "id": "CivicinfoSchemaV2GeographicDivision",
      "description": "Describes a political geography.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array",
          "items": {
            "format": "uint32",
            "type": "integer"
          }
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "orderOnBallot": {
          "format": "int64",
          "type": "string",
          "description": "The order the candidate appears on the ballot for this contest."
        },
        "channels": {
          "type": "array",
          "description": "A list of known (social) media channels for this candidate.",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          }
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "phone": {
          "type": "string",
          "description": "The voice phone number for the candidate's campaign office."
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the candidate."
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "description": "Information about a candidate running for elected office.",
      "type": "object"
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "description": "The result of a voter info lookup query.",
      "properties": {
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "pollingLocations": {
          "type": "array",
          "description": "Locations where the voter is eligible to vote on election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "precincts": {
          "type": "array",
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "kind": {
          "default": "civicinfo#voterInfoResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "type": "array"
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        },
        "precinctId": {
          "type": "string"
        },
        "dropOffLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array",
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
        },
        "state": {
          "type": "array",
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        }
      },
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "type": "object",
      "description": "Describes information about a regional election administrative area.",
      "properties": {
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array"
        }
      },
      "id": "CivicinfoSchemaV2AdministrationRegion"
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address.",
      "properties": {
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "line3": {
          "type": "string",
          "description": "The third line of the address, if needed."
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2Source": {
      "description": "Contains information about the data source for the element containing it.",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      },
      "id": "CivicinfoSchemaV2Source",
      "type": "object"
    },
    "CivicinfoSchemaV2Election": {
      "description": "Information about the election that was queried.",
      "type": "object",
      "properties": {
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        },
        "shapeLookupBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ]
        },
        "id": {
          "format": "int64",
          "description": "The unique ID of this election.",
          "type": "string"
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Election"
    },
    "CivicinfoSchemaV2Channel": {
      "description": "A social media or web channel for a candidate.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Channel"
    }
  },
  "batchPath": "batch",
  "id": "civicinfo:v2",
  "canonicalName": "Civic Info",
  "version_module": true,
  "rootUrl": "https://civicinfo.googleapis.com/",
  "documentationLink": "https://developers.google.com/civic-information/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": ""
}