{
  "version": "v2",
  "batchPath": "batch",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "servicePath": "",
  "canonicalName": "Civic Info",
  "basePath": "",
  "title": "Google Civic Information API",
  "kind": "discovery#restDescription",
  "resources": {
    "elections": {
      "methods": {
        "electionQuery": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "id": "civicinfo.elections.electionQuery",
          "description": "List of available elections to query.",
          "parameterOrder": [],
          "path": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true"
            }
          },
          "flatPath": "civicinfo/v2/elections"
        },
        "voterInfoQuery": {
          "flatPath": "civicinfo/v2/voterinfo",
          "path": "civicinfo/v2/voterinfo",
          "parameters": {
            "productionDataOnly": {
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "officialOnly": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false"
            },
            "address": {
              "location": "query",
              "type": "string",
              "description": "The registered address of the voter to look up."
            },
            "electionId": {
              "location": "query",
              "type": "string",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "default": "0",
              "format": "int64"
            }
          },
          "parameterOrder": [],
          "id": "civicinfo.elections.voterInfoQuery",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "flatPath": "civicinfo/v2/divisions",
          "path": "civicinfo/v2/divisions",
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query",
              "type": "string"
            }
          },
          "id": "civicinfo.divisions.search",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "parameterOrder": []
        },
        "queryDivisionByAddress": {
          "path": "civicinfo/v2/divisionsByAddress",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address."
        }
      }
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "name": "civicinfo",
  "version_module": true,
  "id": "civicinfo:v2",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/civic-information/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "type": "object",
      "properties": {
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "precincts": {
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "type": "array"
        },
        "precinctId": {
          "type": "string"
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "contests": {
          "type": "array",
          "description": "Contests that will appear on the voter's ballot.",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "otherElections": {
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "pollingLocations": {
          "type": "array",
          "description": "Locations where the voter is eligible to vote on election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "state": {
          "type": "array",
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "default": "civicinfo#voterInfoResponse",
          "type": "string"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        }
      },
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "description": "The result of a voter info lookup query."
    },
    "CivicinfoSchemaV2Candidate": {
      "type": "object",
      "properties": {
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The voice phone number for the candidate's campaign office."
        },
        "channels": {
          "type": "array",
          "description": "A list of known (social) media channels for this candidate.",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          }
        },
        "orderOnBallot": {
          "type": "string",
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "description": "Describes information about a regional election administrative area.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "electionAdministrationBody": {
          "$ref": "CivicinfoSchemaV2AdministrativeBody",
          "description": "The election administration body for this area."
        },
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        }
      }
    },
    "CivicinfoSchemaV2Source": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the data source."
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      },
      "id": "CivicinfoSchemaV2Source",
      "description": "Contains information about the data source for the element containing it."
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        },
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoSchemaV2PollingLocation": {
      "id": "CivicinfoSchemaV2PollingLocation",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        }
      }
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "type": "object",
      "properties": {
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "hoursOfOperation": {
          "type": "string",
          "description": "A description of the hours of operation for this administrative body."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "voter_services": {
          "type": "array",
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          }
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "physicalAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The physical address of this administrative body."
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        }
      }
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64"
        },
        "spatialBoundaryId": {
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "electoralDistrictId": {
          "type": "array",
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the precinct."
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "id": "CivicinfoSchemaV2GeographicDivision",
      "description": "Describes a political geography.",
      "type": "object",
      "properties": {
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array"
        },
        "alsoKnownAs": {
          "type": "array",
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the division."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "default": "civicinfo#divisionSearchResponse",
          "type": "string"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "description": "The result of a division search query."
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the election official."
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials."
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "aliases": {
          "type": "array",
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query."
    },
    "CivicinfoSchemaV2Channel": {
      "id": "CivicinfoSchemaV2Channel",
      "description": "A social media or web channel for a candidate.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
        },
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        }
      }
    },
    "CivicinfoSchemaV2Election": {
      "type": "object",
      "properties": {
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "shapeLookupBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        },
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this election.",
          "format": "int64"
        }
      },
      "id": "CivicinfoSchemaV2Election",
      "description": "Information about the election that was queried."
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "description": "Information about a contest that appears on a voter's ballot.",
      "type": "object",
      "properties": {
        "numberElected": {
          "description": "The number of candidates that will be elected to office in this contest.",
          "format": "int64",
          "type": "string"
        },
        "referendumUrl": {
          "type": "string",
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "type": {
          "type": "string",
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'."
        },
        "candidates": {
          "type": "array",
          "description": "The candidate choices for this contest.",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          }
        },
        "level": {
          "type": "array",
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string"
          }
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "primaryParties": {
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "items": {
            "type": "string"
          }
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "ballotTitle": {
          "type": "string",
          "description": "The official title on the ballot for this contest, only where available."
        },
        "referendumPassageThreshold": {
          "type": "string",
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'."
        },
        "roles": {
          "type": "array",
          "description": "The roles which this office fulfills.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          }
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "format": "int64",
          "type": "string"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64",
          "type": "string"
        },
        "referendumConStatement": {
          "type": "string",
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        }
      }
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse"
        },
        "elections": {
          "description": "A list of available elections",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        }
      },
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API."
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "type": "object",
      "properties": {
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "line2": {
          "type": "string",
          "description": "The second line the address, if needed."
        }
      },
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address."
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "properties": {
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse"
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "revision": "20260723"
}