{
  "rootUrl": "https://civicinfo.googleapis.com/",
  "ownerName": "Google",
  "name": "civicinfo",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "parameters": {
            "productionDataOnly": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "location": "query"
            },
            "electionId": {
              "location": "query",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "format": "int64",
              "default": "0",
              "type": "string"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "address": {
              "type": "string",
              "description": "The registered address of the voter to look up.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "id": "civicinfo.elections.voterInfoQuery",
          "flatPath": "civicinfo/v2/voterinfo",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "electionQuery": {
          "httpMethod": "GET",
          "path": "civicinfo/v2/elections",
          "parameterOrder": [],
          "id": "civicinfo.elections.electionQuery",
          "flatPath": "civicinfo/v2/elections",
          "description": "List of available elections to query.",
          "parameters": {
            "productionDataOnly": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "id": "civicinfo.divisions.search",
          "flatPath": "civicinfo/v2/divisions",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "path": "civicinfo/v2/divisions",
          "parameterOrder": [],
          "parameters": {
            "query": {
              "type": "string",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "httpMethod": "GET"
        },
        "queryDivisionByAddress": {
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "path": "civicinfo/v2/divisionsByAddress",
          "parameterOrder": [],
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "title": "Google Civic Information API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/civic-information/",
  "basePath": "",
  "canonicalName": "Civic Info",
  "protocol": "rest",
  "revision": "20260723",
  "servicePath": "",
  "id": "civicinfo:v2",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "version": "v2",
  "version_module": true,
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "schemas": {
    "CivicinfoSchemaV2Candidate": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The voice phone number for the candidate's campaign office."
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate."
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2Source": {
      "properties": {
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        },
        "name": {
          "type": "string",
          "description": "The name of the data source."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Source",
      "description": "Contains information about the data source for the element containing it."
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "description": "Information about a contest that appears on a voter's ballot.",
      "type": "object",
      "properties": {
        "primaryParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "ballotTitle": {
          "type": "string",
          "description": "The official title on the ballot for this contest, only where available."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumTitle": {
          "type": "string",
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'."
        },
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "description": "The candidate choices for this contest."
        },
        "referendumEffectOfAbstain": {
          "type": "string",
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'."
        },
        "level": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\"."
        },
        "numberElected": {
          "type": "string",
          "description": "The number of candidates that will be elected to office in this contest.",
          "format": "int64"
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "format": "int64",
          "type": "string"
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "roles": {
          "description": "The roles which this office fulfills.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          }
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "numberVotingFor": {
          "type": "string",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64"
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "contests": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "description": "Contests that will appear on the voter's ballot."
        },
        "precinctId": {
          "type": "string"
        },
        "dropOffLocations": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
        },
        "precincts": {
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "kind": {
          "default": "civicinfo#voterInfoResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
        },
        "otherElections": {
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          }
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "pollingLocations": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote on election day."
        }
      },
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "description": "The result of a voter info lookup query."
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "description": "Describes information about a regional election administrative area.",
      "type": "object",
      "properties": {
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        },
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "description": "Describes the geographic scope of a contest.",
      "properties": {
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the district.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2Channel": {
      "id": "CivicinfoSchemaV2Channel",
      "description": "A social media or web channel for a candidate.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        },
        "kind": {
          "default": "civicinfo#divisionSearchResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "description": "The result of a division search query."
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "officeIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
        },
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision",
      "description": "Describes a political geography."
    },
    "CivicinfoSchemaV2Precinct": {
      "properties": {
        "number": {
          "type": "string",
          "description": "The number of the precinct."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "electoralDistrictId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct."
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "earlyVoteSiteId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "spatialBoundaryId": {
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Precinct"
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "officePhoneNumber": {
          "type": "string",
          "description": "The office phone number of the election official."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials."
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "elections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API."
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object",
      "properties": {
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district."
        },
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query."
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double"
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        },
        "endDate": {
          "type": "string",
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "voterServices": {
          "type": "string",
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations."
        },
        "startDate": {
          "type": "string",
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2PollingLocation",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "properties": {
        "voter_services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide."
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "electionRegistrationConfirmationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote."
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          }
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    },
    "CivicinfoSchemaV2Election": {
      "properties": {
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "id": {
          "description": "The unique ID of this election.",
          "format": "int64",
          "type": "string"
        },
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        },
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        },
        "shapeLookupBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Election",
      "description": "Information about the election that was queried."
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "properties": {
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "city": {
          "type": "string",
          "description": "The city or town for the address."
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}