{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/civic-information/",
  "resources": {
    "divisions": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "path": "civicinfo/v2/divisions",
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "type": "string",
              "location": "query"
            }
          },
          "id": "civicinfo.divisions.search",
          "flatPath": "civicinfo/v2/divisions",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          }
        },
        "queryDivisionByAddress": {
          "path": "civicinfo/v2/divisionsByAddress",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          }
        }
      }
    },
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "id": "civicinfo.elections.voterInfoQuery",
          "flatPath": "civicinfo/v2/voterinfo",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "parameters": {
            "address": {
              "description": "The registered address of the voter to look up.",
              "type": "string",
              "location": "query"
            },
            "returnAllAvailableData": {
              "default": "false",
              "location": "query",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "type": "boolean"
            },
            "electionId": {
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "default": "0",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "productionDataOnly": {
              "default": "true",
              "location": "query",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "type": "boolean"
            }
          }
        },
        "electionQuery": {
          "id": "civicinfo.elections.electionQuery",
          "flatPath": "civicinfo/v2/elections",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "path": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "default": "true",
              "location": "query",
              "description": "Whether to include data that has not been allowlisted yet",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "List of available elections to query."
        }
      }
    }
  },
  "canonicalName": "Civic Info",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "servicePath": "",
  "revision": "20260723",
  "protocol": "rest",
  "ownerName": "Google",
  "title": "Google Civic Information API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version_module": true,
  "rootUrl": "https://civicinfo.googleapis.com/",
  "id": "civicinfo:v2",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "version": "v2",
  "schemas": {
    "CivicinfoSchemaV2Candidate": {
      "description": "Information about a candidate running for elected office.",
      "type": "object",
      "id": "CivicinfoSchemaV2Candidate",
      "properties": {
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        },
        "orderOnBallot": {
          "format": "int64",
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate.",
          "type": "array"
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "description": "The result of a voter info lookup query.",
      "type": "object",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        },
        "earlyVoteSites": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array"
        },
        "precinctId": {
          "type": "string"
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "type": "array"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "state": {
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          },
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array"
        },
        "precincts": {
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "type": "string",
          "default": "civicinfo#voterInfoResponse"
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        }
      },
      "id": "CivicinfoApiprotosV2VoterInfoResponse"
    },
    "CivicinfoSchemaV2Source": {
      "id": "CivicinfoSchemaV2Source",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        }
      },
      "description": "Contains information about the data source for the element containing it.",
      "type": "object"
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "description": "Describes the geographic scope of a contest.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "type": "string",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectoralDistrict"
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "properties": {
        "voter_services": {
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide.",
          "type": "array"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "ballotInfoUrl": {
          "description": "A URL provided by this administrative body to give contest information to the voter.",
          "type": "string"
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          }
        }
      },
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "type": "object"
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "elections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "type": "string",
          "default": "civicinfo#electionsQueryResponse"
        }
      },
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API.",
      "type": "object"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "id": "CivicinfoSchemaV2PollingLocation",
      "properties": {
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array"
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "longitude": {
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number"
        },
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        }
      },
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "type": "object"
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "properties": {
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials.",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "properties": {
        "kind": {
          "default": "civicinfo#divisionSearchResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "description": "The result of a division search query.",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "description": "Represents a political geographic division that matches the requested query.",
      "type": "object",
      "properties": {
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult"
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "properties": {
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "electoralDistrictId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "earlyVoteSiteId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array"
        },
        "ocdId": {
          "items": {
            "type": "string"
          },
          "description": "Encouraged. The OCD ID of the precinct",
          "type": "array"
        },
        "datasetId": {
          "format": "int64",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "type": "string"
        },
        "spatialBoundaryId": {
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "pollingLocationId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "properties": {
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address.",
      "type": "object"
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "properties": {
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        }
      },
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "description": "Describes information about a regional election administrative area.",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "properties": {
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      }
    },
    "CivicinfoSchemaV2Contest": {
      "description": "Information about a contest that appears on a voter's ballot.",
      "type": "object",
      "id": "CivicinfoSchemaV2Contest",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "description": "The candidate choices for this contest.",
          "type": "array"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string",
          "format": "int64"
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "type": "array"
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array",
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "roles": {
          "description": "The roles which this office fulfills.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "numberElected": {
          "description": "The number of candidates that will be elected to office in this contest.",
          "type": "string",
          "format": "int64"
        },
        "primaryParties": {
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Channel": {
      "description": "A social media or web channel for a candidate.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Channel"
    },
    "CivicinfoSchemaV2Election": {
      "id": "CivicinfoSchemaV2Election",
      "properties": {
        "shapeLookupBehavior": {
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The unique ID of this election.",
          "type": "string"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        }
      },
      "description": "Information about the election that was queried.",
      "type": "object"
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "properties": {
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "officeIndices": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision",
      "description": "Describes a political geography.",
      "type": "object"
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "name": "civicinfo",
  "basePath": ""
}