{
  "discoveryVersion": "v1",
  "baseUrl": "https://classroom.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "id": "classroom:v1",
  "revision": "20260826",
  "name": "classroom",
  "resources": {
    "userProfiles": {
      "resources": {
        "guardianInvitations": {
          "methods": {
            "create": {
              "response": {
                "$ref": "GuardianInvitation"
              },
              "id": "classroom.userProfiles.guardianInvitations.create",
              "httpMethod": "POST",
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "parameterOrder": [
                "studentId"
              ],
              "parameters": {
                "studentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the student (in standard format)"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations"
            },
            "list": {
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "parameters": {
                "states": {
                  "location": "query",
                  "repeated": true,
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ],
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned.",
                  "type": "string",
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ]
                },
                "studentId": {
                  "location": "path",
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "type": "string",
                  "required": true
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "type": "string",
                  "description": "If specified, only results with the specified `invited_email_address` are returned."
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                }
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "parameterOrder": [
                "studentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "httpMethod": "GET",
              "id": "classroom.userProfiles.guardianInvitations.list",
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              }
            },
            "get": {
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "parameters": {
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` being requested.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "studentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the student whose guardian invitation is being requested."
                }
              },
              "response": {
                "$ref": "GuardianInvitation"
              },
              "id": "classroom.userProfiles.guardianInvitations.get",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}"
            },
            "patch": {
              "id": "classroom.userProfiles.guardianInvitations.patch",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "parameters": {
                "invitationId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The `id` field of the `GuardianInvitation` to be modified."
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "studentId": {
                  "type": "string",
                  "description": "The ID of the student whose guardian invitation is to be modified.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              }
            }
          }
        },
        "guardians": {
          "methods": {
            "delete": {
              "id": "classroom.userProfiles.guardians.delete",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "parameters": {
                "studentId": {
                  "location": "path",
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "type": "string"
                },
                "guardianId": {
                  "location": "path",
                  "description": "The `id` field from a `Guardian`.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}"
            },
            "list": {
              "path": "v1/userProfiles/{studentId}/guardians",
              "parameters": {
                "studentId": {
                  "type": "string",
                  "required": true,
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "location": "query"
                },
                "invitedEmailAddress": {
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardians",
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "httpMethod": "GET",
              "id": "classroom.userProfiles.guardians.list",
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "parameterOrder": [
                "studentId"
              ]
            },
            "get": {
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "httpMethod": "GET",
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`.",
              "parameters": {
                "studentId": {
                  "type": "string",
                  "location": "path",
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true
                },
                "guardianId": {
                  "location": "path",
                  "type": "string",
                  "description": "The `id` field from a `Guardian`.",
                  "required": true
                }
              },
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "id": "classroom.userProfiles.guardians.get",
              "response": {
                "$ref": "Guardian"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "classroom.userProfiles.get",
          "httpMethod": "GET",
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "flatPath": "v1/userProfiles/{userId}",
          "path": "v1/userProfiles/{userId}",
          "response": {
            "$ref": "UserProfile"
          },
          "parameters": {
            "userId": {
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ]
        }
      }
    },
    "courses": {
      "resources": {
        "posts": {
          "methods": {
            "getAddOnContext": {
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnContext",
              "parameters": {
                "postId": {
                  "required": true,
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "type": "string",
                  "location": "path"
                },
                "attachmentId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe)."
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Identifier of the course.",
                  "location": "path"
                },
                "itemId": {
                  "type": "string",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "location": "query"
                },
                "addOnToken": {
                  "type": "string",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "location": "query"
                }
              },
              "path": "v1/courses/{courseId}/posts/{postId}/addOnContext",
              "parameterOrder": [
                "courseId",
                "postId"
              ],
              "response": {
                "$ref": "AddOnContext"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "httpMethod": "GET",
              "id": "classroom.courses.posts.getAddOnContext"
            }
          },
          "resources": {
            "addOnAttachments": {
              "resources": {
                "studentSubmissions": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "courseId",
                        "postId",
                        "attachmentId",
                        "submissionId"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/classroom.addons.teacher"
                      ],
                      "parameters": {
                        "courseId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Identifier of the course.",
                          "type": "string"
                        },
                        "attachmentId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Identifier of the attachment.",
                          "type": "string"
                        },
                        "submissionId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Identifier of the student's submission.",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachmentStudentSubmission` object. The following fields may be specified by teachers: * `points_earned`"
                        },
                        "itemId": {
                          "location": "query",
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                          "type": "string"
                        },
                        "postId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Optional. Deprecated, use `item_id` instead."
                        }
                      },
                      "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "id": "classroom.courses.posts.addOnAttachments.studentSubmissions.patch",
                      "request": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "description": "Updates data associated with an add-on attachment submission. Requires the add-on to have been the original creator of the attachment and the attachment to have a positive `max_points` value set. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
                    },
                    "get": {
                      "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "description": "Returns a student submission for an add-on attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                      "parameters": {
                        "postId": {
                          "required": true,
                          "type": "string",
                          "description": "Optional. Deprecated, use `item_id` instead.",
                          "location": "path"
                        },
                        "courseId": {
                          "description": "Required. Identifier of the course.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "submissionId": {
                          "description": "Required. Identifier of the student’s submission.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "itemId": {
                          "location": "query",
                          "type": "string",
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                        },
                        "attachmentId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Identifier of the attachment."
                        }
                      },
                      "id": "classroom.courses.posts.addOnAttachments.studentSubmissions.get",
                      "parameterOrder": [
                        "courseId",
                        "postId",
                        "attachmentId",
                        "submissionId"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/classroom.addons.student",
                        "https://www.googleapis.com/auth/classroom.addons.teacher",
                        "https://www.googleapis.com/auth/classroom.coursework.me",
                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                        "https://www.googleapis.com/auth/classroom.coursework.students",
                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                      ],
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "postId"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "id": "classroom.courses.posts.addOnAttachments.list",
                  "parameters": {
                    "postId": {
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "location": "path"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "query",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "pageSize": {
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments"
                },
                "create": {
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "httpMethod": "POST",
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "postId"
                  ],
                  "parameters": {
                    "courseId": {
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "required": true
                    },
                    "postId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Optional. Deprecated, use `item_id` instead."
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "query"
                    },
                    "addOnToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match."
                    }
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "id": "classroom.courses.posts.addOnAttachments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "get": {
                  "id": "classroom.courses.posts.addOnAttachments.get",
                  "parameters": {
                    "attachmentId": {
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "postId": {
                      "location": "path",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "type": "string",
                      "required": true
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "postId",
                    "attachmentId"
                  ],
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "classroom.courses.posts.addOnAttachments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "parameterOrder": [
                    "courseId",
                    "postId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "required": true
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.posts.addOnAttachments.patch",
                  "parameterOrder": [
                    "courseId",
                    "postId",
                    "attachmentId"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "location": "query"
                    },
                    "postId": {
                      "location": "path",
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "required": true,
                      "type": "string"
                    },
                    "attachmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the attachment.",
                      "required": true
                    },
                    "itemId": {
                      "description": "Identifier of the post under which the attachment is attached.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        },
        "studentGroups": {
          "resources": {
            "studentGroupMembers": {
              "methods": {
                "list": {
                  "description": "Returns a list of students in a group. This method returns the following error codes: * `NOT_FOUND` if the course or student group does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "httpMethod": "GET",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.list",
                  "response": {
                    "$ref": "ListStudentGroupMembersResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                      "type": "string",
                      "location": "query"
                    },
                    "courseId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The identifier of the course."
                    },
                    "studentGroupId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The identifier of the student group."
                    }
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters",
                    "https://www.googleapis.com/auth/classroom.rosters.readonly"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId",
                    "userId"
                  ],
                  "id": "classroom.courses.studentGroups.studentGroupMembers.delete",
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "description": "Deletes a student group member. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group member or for access errors. * `NOT_FOUND` if the student group member does not exist or the user does not have access to the student group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "description": "Required. The identifier of the course containing the relevant student group.",
                      "type": "string",
                      "required": true
                    },
                    "studentGroupId": {
                      "location": "path",
                      "description": "Required. The identifier of the student group containing the student group member to delete.",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "required": true,
                      "description": "Required. The identifier of the student group member to delete.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "StudentGroupMember"
                  },
                  "httpMethod": "POST",
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "description": "Creates a student group member for a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or member for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `ALREADY_EXISTS` if the student group member already exists. * `FAILED_PRECONDITION` if attempting to add a member to a student group that has reached its member limit.",
                  "request": {
                    "$ref": "StudentGroupMember"
                  },
                  "id": "classroom.courses.studentGroups.studentGroupMembers.create",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "parameters": {
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "courseId": {
                      "description": "Required. The identifier of the course.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "description": "Updates one or more fields in a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied.",
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "httpMethod": "PATCH",
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "request": {
                "$ref": "StudentGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Required. Identifier of the course.",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "description": "Required. Identifier of the student group.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. Mask that identifies which fields on the student group to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields can be specified by teachers: * `title`"
                }
              },
              "response": {
                "$ref": "StudentGroup"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.studentGroups.patch"
            },
            "delete": {
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group.",
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "Required. The identifier of the student group to delete.",
                  "location": "path",
                  "required": true
                },
                "courseId": {
                  "description": "Required. The identifier of the course containing the student group to delete.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "classroom.courses.studentGroups.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            },
            "create": {
              "id": "classroom.courses.studentGroups.create",
              "response": {
                "$ref": "StudentGroup"
              },
              "request": {
                "$ref": "StudentGroup"
              },
              "path": "v1/courses/{courseId}/studentGroups",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The identifier of the course."
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Creates a student group for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or for access errors. * `NOT_FOUND` if the course does not exist or the requesting user doesn't have access to the course. * `FAILED_PRECONDITION` if creating the student group would exceed the maximum number of student groups per course.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "list": {
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListStudentGroupsResponse"
              },
              "description": "Returns a list of groups in a course. This method returns the following error codes: * `NOT_FOUND` if the course does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameters": {
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The identifier of the course.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum, which is currently set to 75 items. The server may return fewer than the specified number of results.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/studentGroups",
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "id": "classroom.courses.studentGroups.list"
            }
          }
        },
        "aliases": {
          "methods": {
            "create": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CourseAlias"
              },
              "request": {
                "$ref": "CourseAlias"
              },
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias).",
              "id": "classroom.courses.aliases.create",
              "path": "v1/courses/{courseId}/aliases",
              "parameterOrder": [
                "courseId"
              ],
              "flatPath": "v1/courses/{courseId}/aliases",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ]
            },
            "list": {
              "flatPath": "v1/courses/{courseId}/aliases",
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
              "httpMethod": "GET",
              "id": "classroom.courses.aliases.list",
              "path": "v1/courses/{courseId}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                }
              },
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "parameterOrder": [
                "courseId"
              ]
            },
            "delete": {
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias).",
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "id": "classroom.courses.aliases.delete",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "alias": {
                  "required": true,
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/aliases/{alias}",
              "parameterOrder": [
                "courseId",
                "alias"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "announcements": {
          "methods": {
            "modifyAssignees": {
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "httpMethod": "POST",
              "id": "classroom.courses.announcements.modifyAssignees",
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              },
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the announcement.",
                  "type": "string",
                  "location": "path"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "response": {
                "$ref": "Announcement"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Announcement"
              },
              "flatPath": "v1/courses/{courseId}/announcements",
              "path": "v1/courses/{courseId}/announcements",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "classroom.courses.announcements.create",
              "response": {
                "$ref": "Announcement"
              }
            },
            "getAddOnContext": {
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "parameters": {
                "addOnToken": {
                  "location": "query",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "type": "string"
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "type": "string",
                  "deprecated": true,
                  "location": "query"
                },
                "attachmentId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe)."
                },
                "courseId": {
                  "location": "path",
                  "description": "Required. Identifier of the course.",
                  "type": "string",
                  "required": true
                },
                "itemId": {
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "path": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "response": {
                "$ref": "AddOnContext"
              },
              "httpMethod": "GET",
              "id": "classroom.courses.announcements.getAddOnContext",
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "id": "classroom.courses.announcements.delete",
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier."
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID."
            },
            "list": {
              "flatPath": "v1/courses/{courseId}/announcements",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/announcements",
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`",
                  "location": "query"
                },
                "announcementStates": {
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ],
                  "repeated": true,
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`.",
                  "type": "string",
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "location": "query"
                }
              },
              "id": "classroom.courses.announcements.list",
              "response": {
                "$ref": "ListAnnouncementsResponse"
              }
            },
            "patch": {
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist",
              "request": {
                "$ref": "Announcement"
              },
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "id": "classroom.courses.announcements.patch",
              "httpMethod": "PATCH",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the announcement.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Announcement"
              }
            },
            "get": {
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the announcement."
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "response": {
                "$ref": "Announcement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "id": "classroom.courses.announcements.get",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "id": "classroom.courses.announcements.addOnAttachments.delete",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "attachmentId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier of the attachment.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}"
                },
                "get": {
                  "parameters": {
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "attachmentId": {
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.announcements.addOnAttachments.get",
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string",
                      "location": "path"
                    },
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "type": "string",
                      "location": "query"
                    },
                    "addOnToken": {
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match.",
                      "type": "string",
                      "location": "query"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "id": "classroom.courses.announcements.addOnAttachments.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments"
                },
                "patch": {
                  "id": "classroom.courses.announcements.addOnAttachments.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameters": {
                    "postId": {
                      "location": "query",
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "type": "string"
                    },
                    "attachmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the attachment.",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the post under which the attachment is attached.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "classroom.courses.announcements.addOnAttachments.list",
                  "parameters": {
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                    },
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "httpMethod": "GET",
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
                }
              }
            }
          }
        },
        "teachers": {
          "methods": {
            "get": {
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "httpMethod": "GET",
              "id": "classroom.courses.teachers.get",
              "response": {
                "$ref": "Teacher"
              },
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "userId": {
                  "required": true,
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "id": "classroom.courses.teachers.list",
              "httpMethod": "GET",
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "flatPath": "v1/courses/{courseId}/teachers",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "path": "v1/courses/{courseId}/teachers",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "create": {
[...]
