{
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Classroom API",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/classroom/",
  "revision": "20260927",
  "id": "classroom:v1",
  "ownerName": "Google",
  "servicePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "Announcement": {
      "description": "Announcement created by a teacher for students of the course",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "text": {
          "description": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for announcement that has been published. This is the default state.",
            "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
            "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
          ],
          "type": "string",
          "enum": [
            "ANNOUNCEMENT_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this announcement. If unspecified, the default state is `DRAFT`."
        },
        "scheduledTime": {
          "type": "string",
          "description": "Optional timestamp when this announcement is scheduled to be published.",
          "format": "google-datetime"
        },
        "id": {
          "description": "Classroom-assigned identifier of this announcement, unique per course. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when this announcement was created. Read-only."
        },
        "assigneeMode": {
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "description": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`."
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the announcement. Read-only."
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "type": "array",
          "description": "Additional materials. Announcements must have no more than 20 material items."
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement.",
          "$ref": "IndividualStudentsOptions"
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this announcement. Read-only.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Announcement",
      "type": "object"
    },
    "SubmissionHistory": {
      "id": "SubmissionHistory",
      "type": "object",
      "description": "The history of the submission. This currently includes state and grade histories.",
      "properties": {
        "stateHistory": {
          "description": "The state history information of the submission, if present.",
          "$ref": "StateHistory"
        },
        "gradeHistory": {
          "description": "The grade history information of the submission, if present.",
          "$ref": "GradeHistory"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "link": {
          "description": "Link attachment.",
          "$ref": "Link"
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        }
      },
      "description": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported.",
      "id": "Attachment"
    },
    "CourseWorkMaterial": {
      "id": "CourseWorkMaterial",
      "description": "Course work material created by a teacher for students of the course",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the most recent change to this course work material. Read-only."
        },
        "state": {
          "enum": [
            "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this course work material. If unspecified, the default state is `DRAFT`.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for course work material that has been published. This is the default state.",
            "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
            "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
          ]
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material."
        },
        "creationTime": {
          "description": "Timestamp when this course work material was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "alternateLink": {
          "description": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the course work material. Read-only."
        },
        "scheduledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional timestamp when this course work material is scheduled to be published."
        },
        "description": {
          "type": "string",
          "description": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters."
        },
        "id": {
          "description": "Classroom-assigned identifier of this course work material, unique per course. Read-only.",
          "type": "string"
        },
        "assigneeMode": {
          "description": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "title": {
          "type": "string",
          "description": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "Material"
          },
          "description": "Additional materials. A course work material must have no more than 20 material items."
        },
        "topicId": {
          "description": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course.",
          "type": "string"
        }
      }
    },
    "ListInvitationsResponse": {
      "description": "Response when listing invitations.",
      "id": "ListInvitationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "invitations": {
          "items": {
            "$ref": "Invitation"
          },
          "description": "Invitations that match the list request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListCourseWorkResponse": {
      "type": "object",
      "id": "ListCourseWorkResponse",
      "properties": {
        "courseWork": {
          "description": "Course work items that match the request.",
          "type": "array",
          "items": {
            "$ref": "CourseWork"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing course work."
    },
    "MultipleChoiceSubmission": {
      "properties": {
        "answer": {
          "type": "string",
          "description": "Student's select choice."
        }
      },
      "id": "MultipleChoiceSubmission",
      "description": "Student work for a multiple-choice question.",
      "type": "object"
    },
    "StudentGroup": {
      "description": "A student group in a course.",
      "properties": {
        "id": {
          "description": "The identifier of the student group.",
          "type": "string"
        },
        "courseId": {
          "type": "string",
          "description": "The identifier of the course."
        },
        "title": {
          "type": "string",
          "description": "The title of the student group."
        }
      },
      "id": "StudentGroup",
      "type": "object"
    },
    "DriveFolder": {
      "properties": {
        "alternateLink": {
          "description": "URL that can be used to access the Drive folder. Read-only.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the Drive folder. Read-only."
        },
        "id": {
          "description": "Drive API resource ID.",
          "type": "string"
        }
      },
      "id": "DriveFolder",
      "description": "Representation of a Google Drive folder.",
      "type": "object"
    },
    "Guardian": {
      "id": "Guardian",
      "properties": {
        "guardianProfile": {
          "$ref": "UserProfile",
          "description": "User profile for the guardian."
        },
        "studentId": {
          "type": "string",
          "description": "Identifier for the student to whom the guardian relationship applies."
        },
        "invitedEmailAddress": {
          "type": "string",
          "description": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators."
        },
        "guardianId": {
          "type": "string",
          "description": "Identifier for the guardian."
        }
      },
      "description": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work.",
      "type": "object"
    },
    "ModifyCourseWorkAssigneesRequest": {
      "type": "object",
      "description": "Request to modify assignee mode and options of a coursework.",
      "id": "ModifyCourseWorkAssigneesRequest",
      "properties": {
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "description": "Mode of the coursework describing whether it will be assigned to all students or specified individual students."
        },
        "modifyIndividualStudentsOptions": {
          "$ref": "ModifyIndividualStudentsOptions",
          "description": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "ShortAnswerSubmission": {
      "id": "ShortAnswerSubmission",
      "type": "object",
      "description": "Student work for a short answer question.",
      "properties": {
        "answer": {
          "description": "Student response to a short-answer question.",
          "type": "string"
        }
      }
    },
    "ListGuardiansResponse": {
      "type": "object",
      "properties": {
        "guardians": {
          "description": "Guardians on this page of results that met the criteria specified in the request.",
          "items": {
            "$ref": "Guardian"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing guardians.",
      "id": "ListGuardiansResponse"
    },
    "CourseWorkChangesInfo": {
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to work changes for.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.",
      "id": "CourseWorkChangesInfo"
    },
    "ListAddOnAttachmentsResponse": {
      "type": "object",
      "description": "Response when listing add-on attachments.",
      "properties": {
        "addOnAttachments": {
          "type": "array",
          "items": {
            "$ref": "AddOnAttachment"
          },
          "description": "Attachments under the given post."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAddOnAttachmentsResponse"
    },
    "ModifyAttachmentsRequest": {
      "description": "Request to modify the attachments of a student submission.",
      "properties": {
        "addAttachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ModifyAttachmentsRequest"
    },
    "Assignment": {
      "type": "object",
      "description": "Additional details for assignments.",
      "id": "Assignment",
      "properties": {
        "studentWorkFolder": {
          "description": "Drive folder where attachments from student submissions are placed. This is only populated for course teachers and administrators.",
          "$ref": "DriveFolder"
        }
      }
    },
    "DriveFile": {
      "type": "object",
      "description": "Representation of a Google Drive file.",
      "id": "DriveFile",
      "properties": {
        "id": {
          "description": "Drive API resource ID.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to access the Drive item. Read-only.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Drive item. Read-only.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Drive item. Read-only."
        }
      }
    },
    "IndividualStudentsOptions": {
      "description": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
      "properties": {
        "studentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Identifiers for the students that have access to the coursework/announcement."
        }
      },
      "id": "IndividualStudentsOptions",
      "type": "object"
    },
    "ListGuardianInvitationsResponse": {
      "description": "Response when listing guardian invitations.",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardianInvitations": {
          "type": "array",
          "description": "Guardian invitations that matched the list request.",
          "items": {
            "$ref": "GuardianInvitation"
          }
        }
      },
      "type": "object",
      "id": "ListGuardianInvitationsResponse"
    },
    "ListCourseWorkMaterialResponse": {
      "description": "Response when listing course work material.",
      "id": "ListCourseWorkMaterialResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "courseWorkMaterial": {
          "type": "array",
          "description": "Course work material items that match the request.",
          "items": {
            "$ref": "CourseWorkMaterial"
          }
        }
      },
      "type": "object"
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pub/Sub topic. To register for notifications, the owner of the topic must grant `classroom-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "id": "CloudPubsubTopic",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pub/Sub [Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      },
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "type": "object",
      "id": "ListAnnouncementsResponse",
      "properties": {
        "announcements": {
          "description": "Announcement items that match the request.",
          "type": "array",
          "items": {
            "$ref": "Announcement"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing course work."
    },
    "ListStudentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "students": {
          "items": {
            "$ref": "Student"
          },
          "type": "array",
          "description": "Students who match the list request."
        }
      },
      "id": "ListStudentsResponse",
      "description": "Response when listing students.",
      "type": "object"
    },
    "Rubric": {
      "id": "Rubric",
      "properties": {
        "id": {
          "description": "Classroom-assigned identifier for the rubric. This is unique among rubrics for the relevant course work. Read-only.",
          "type": "string"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "sourceSpreadsheetId": {
          "description": "Input only. Immutable. Google Sheets ID of the spreadsheet. This spreadsheet must contain formatted rubric settings. See [Create or reuse a rubric for an assignment](https://support.google.com/edu/classroom/answer/9335069). Use of this field requires the `https://www.googleapis.com/auth/spreadsheets.readonly` or `https://www.googleapis.com/auth/spreadsheets` scope.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the most recent change to this rubric. Read-only."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this rubric was created. Read-only.",
          "readOnly": true,
          "type": "string"
        },
        "criteria": {
          "description": "List of criteria. Each criterion is a dimension on which performance is rated.",
          "type": "array",
          "items": {
            "$ref": "Criterion"
          }
        },
        "courseWorkId": {
          "type": "string",
          "description": "Identifier for the course work this corresponds to. Read-only."
        }
      },
      "description": "The rubric of the course work. A rubric is a scoring guide used to evaluate student work and give feedback. For further details, see [Rubrics structure and known limitations](/classroom/rubrics/limitations).",
      "type": "object"
    },
    "AddOnAttachmentStudentSubmission": {
      "description": "Payload for grade update requests.",
      "type": "object",
      "id": "AddOnAttachmentStudentSubmission",
      "properties": {
        "pointsEarned": {
          "type": "number",
          "format": "double",
          "description": "Student grade on this attachment. If unset, no grade was set."
        },
        "id": {
          "description": "Output only. Classroom-assigned identifier for this student submission. This is unique among submissions for the relevant course work and add-on attachment combination.",
          "readOnly": true,
          "type": "string"
        },
        "courseWorkSubmissionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier of the course work submission under which this attachment submission was made."
        },
        "postSubmissionState": {
          "description": "Submission state of add-on attachment's parent post (i.e. assignment).",
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ],
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "type": "string"
        },
        "userId": {
          "description": "Identifier for the student that owns this submission. Requires the user to be a teacher in the course and have permission to read student submissions. See [`courseWork.studentSubmissions.get`](/workspace/classroom/reference/rest/v1/courses.courseWork.studentSubmissions/get#authorization-scopes) for the list of acceptable OAuth scopes for this field. Read-only.",
          "type": "string"
        }
      }
    },
    "CourseRosterChangesInfo": {
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to roster changes for.",
          "type": "string"
        }
      },
      "id": "CourseRosterChangesInfo",
      "type": "object"
    },
    "Feed": {
      "type": "object",
      "description": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\".",
      "id": "Feed",
      "properties": {
        "courseRosterChangesInfo": {
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`.",
          "$ref": "CourseRosterChangesInfo"
        },
        "courseWorkChangesInfo": {
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`.",
          "$ref": "CourseWorkChangesInfo"
        },
        "feedType": {
          "enum": [
            "FEED_TYPE_UNSPECIFIED",
            "DOMAIN_ROSTER_CHANGES",
            "COURSE_ROSTER_CHANGES",
            "COURSE_WORK_CHANGES"
          ],
          "type": "string",
          "description": "The type of feed.",
          "enumDescriptions": [
            "Should never be returned or provided.",
            "All roster changes for a particular domain. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All roster changes for a particular course. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All course work activity for a particular course. Notifications will be generated when a CourseWork or StudentSubmission object is created or modified. No notification will be generated when a StudentSubmission object is created in connection with the creation or modification of its parent CourseWork object (but a notification will be generated for that CourseWork object's creation or modification)."
          ]
        }
      }
    },
    "AddOnContext": {
      "description": "Attachment-relevant metadata for Classroom add-ons in the context of a specific post.",
      "properties": {
        "teacherContext": {
          "description": "Add-on context corresponding to the requesting user's role as a teacher. Its presence implies that the requesting user is a teacher in the course.",
          "$ref": "TeacherContext"
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached.",
          "type": "string"
        },
        "supportsStudentWork": {
          "description": "Optional. Whether the post allows the teacher to see student work and passback grades.",
          "type": "boolean"
        },
        "studentContext": {
          "description": "Add-on context corresponding to the requesting user's role as a student. Its presence implies that the requesting user is a student in the course.",
          "$ref": "StudentContext"
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "postId": {
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "deprecated": true
        }
      },
      "id": "AddOnContext",
      "type": "object"
    },
    "GradeHistory": {
      "properties": {
        "gradeTimestamp": {
          "format": "google-datetime",
          "description": "When the grade of the submission was changed.",
          "type": "string"
        },
        "pointsEarned": {
          "format": "double",
          "description": "The numerator of the grade at this time in the submission grade history.",
          "type": "number"
        },
        "gradeChangeType": {
          "type": "string",
          "enum": [
            "UNKNOWN_GRADE_CHANGE_TYPE",
            "DRAFT_GRADE_POINTS_EARNED_CHANGE",
            "ASSIGNED_GRADE_POINTS_EARNED_CHANGE",
            "MAX_POINTS_CHANGE"
          ],
          "enumDescriptions": [
            "No grade change type specified. This should never be returned.",
            "A change in the numerator of the draft grade.",
            "A change in the numerator of the assigned grade.",
            "A change in the denominator of the grade."
          ],
          "description": "The type of grade change at this time in the submission grade history."
        },
        "maxPoints": {
          "format": "double",
          "description": "The denominator of the grade at this time in the submission grade history.",
          "type": "number"
        },
        "actorUserId": {
          "description": "The teacher who made the grade change.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The history of each grade on this submission.",
      "id": "GradeHistory"
    },
    "GeminiGem": {
      "type": "object",
      "id": "GeminiGem",
      "properties": {
        "id": {
          "description": "Gems resource id.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "URL that can be used to access the Gem."
        },
        "title": {
          "type": "string",
          "description": "Title of the Gem."
        }
      },
      "description": "Gemini Gem link."
    },
    "Course": {
      "description": "A Course in Classroom.",
      "properties": {
        "descriptionHeading": {
          "type": "string",
          "description": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters."
        },
        "courseState": {
          "enumDescriptions": [
            "No course state. No returned Course message will use this value.",
            "The course is active.",
            "The course has been archived. You cannot modify it except to change it to a different state.",
            "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
            "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
            "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
          ],
          "description": "State of the course. If unspecified, the default state is `PROVISIONED`.",
          "type": "string",
          "enum": [
            "COURSE_STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PROVISIONED",
            "DECLINED",
            "SUSPENDED"
          ]
        },
        "name": {
          "description": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.",
          "type": "string"
        },
        "levels": {
          "type": "string",
          "description": "Optional. Levels for the course. Examples: \"9th grade\", \"Middle school\", \"4th - 5th\", \"K-2\", \"3000\". If set, this field must be a valid UTF-8 string and fewer than 1000 characters. This field can only be cleared using the `PatchCourse` method."
        },
        "courseMaterialSets": {
          "type": "array",
          "items": {
            "$ref": "CourseMaterialSet"
          },
          "deprecated": true,
          "description": "Sets of materials that appear on the \"about\" page of this course. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error."
        },
        "ownerId": {
          "description": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only.",
          "type": "string"
        },
        "teacherGroupEmail": {
          "type": "string",
          "description": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only."
        },
        "gradebookSettings": {
          "description": "The gradebook settings that specify how a student's overall grade for the course will be calculated and who it will be displayed to. Read-only.",
          "$ref": "GradebookSettings"
        },
        "section": {
          "type": "string",
          "description": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters."
        },
        "description": {
          "description": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters.",
          "type": "string"
        },
        "calendarId": {
          "description": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. The Calendar for a course is created asynchronously when the course is set to `CourseState.ACTIVE` for the first time (at creation time or when it is updated to `ACTIVE` through the UI or the API). The Calendar ID will not be populated until the creation process is completed. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to this course in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "guardiansEnabled": {
          "description": "Whether or not guardian notifications are enabled for this course. Read-only.",
          "type": "boolean"
        },
        "enrollmentCode": {
          "type": "string",
          "description": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only."
        },
        "room": {
          "type": "string",
          "description": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters."
        },
        "teacherFolder": {
          "description": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "subject": {
          "type": "string",
          "description": "Optional. The subject of the course."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only."
        },
        "courseGroupEmail": {
          "description": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "description": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Course",
      "type": "object"
    },
    "GradeCategory": {
      "type": "object",
      "description": "Details for a grade category in a course. Coursework may have zero or one grade category, and the category may be used in computing the overall grade. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "id": "GradeCategory",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the grade category."
        },
        "weight": {
          "description": "The weight of the category average as part of overall average. A weight of 12.34% is represented as 123400 (100% is 1,000,000). The last two digits should always be zero since we use two decimal precision. Only applicable when grade calculation type is WEIGHTED_CATEGORIES.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the grade category.",
          "type": "string"
        },
        "defaultGradeDenominator": {
          "type": "integer",
          "description": "Default value of denominator. Only applicable when grade calculation type is TOTAL_POINTS.",
          "format": "int32"
        }
      }
    },
    "Criterion": {
      "description": "A rubric criterion. Each criterion is a dimension on which performance is rated.",
      "id": "Criterion",
      "properties": {
        "title": {
          "description": "The title of the criterion.",
          "type": "string"
        },
        "id": {
          "description": "The criterion ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "levels": {
          "type": "array",
          "description": "The list of levels within this criterion.",
          "items": {
            "$ref": "Level"
          }
        },
        "description": {
          "description": "The description of the criterion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StudentContext": {
      "type": "object",
      "properties": {
        "submissionId": {
          "type": "string",
          "description": "Requesting user's submission id to be used for grade passback and to identify the student when showing student work to the teacher. This is set exactly when `supportsStudentWork` is `true`."
        }
      },
      "id": "StudentContext",
      "description": "Role-specific context if the requesting user is a student."
    },
    "TeacherContext": {
      "properties": {},
      "id": "TeacherContext",
      "description": "Role-specific context if the requesting user is a teacher.",
      "type": "object"
    },
    "AssignmentSubmission": {
      "type": "object",
      "properties": {
        "attachments": {
          "description": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "id": "AssignmentSubmission",
      "description": "Student work for an assignment."
    },
    "CourseWork": {
      "description": "Course work created by a teacher for students of the course.",
      "type": "object",
      "id": "CourseWork",
      "properties": {
        "dueDate": {
          "description": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "dueTime": {
          "description": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified.",
          "$ref": "TimeOfDay"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "associatedWithDeveloper": {
          "description": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "materials": {
          "description": "Additional materials. CourseWork must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the most recent change to this course work. Read-only."
        },
        "gradingPeriodId": {
          "type": "string",
          "description": "Identifier of the grading period associated with the coursework. * At creation, if unspecified, the grading period ID will be set based on the `dueDate` (or `scheduledTime` if no `dueDate` is set). * To indicate no association to any grading period, set this field to an empty string (\"\"). * If specified, it must match an existing grading period ID in the course."
        },
        "state": {
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for work that has been published. This is the default state.",
            "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
            "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
          ],
          "enum": [
            "COURSE_WORK_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this course work. If unspecified, the default state is `DRAFT`.",
          "type": "string"
        },
        "workType": {
          "description": "Type of this course work. The type is set when the course work is created and cannot be changed.",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when this course work was created. Read-only."
        },
        "topicId": {
          "description": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters."
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the coursework. Read-only.",
          "type": "string"
        },
        "description": {
          "description": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "gradeCategory": {
          "$ref": "GradeCategory",
          "description": "The category that this coursework's grade contributes to. Present only when a category has been chosen for the coursework. May be used in calculating the overall grade. Read-only."
        },
        "maxPoints": {
          "description": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value.",
          "type": "number",
          "format": "double"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework.",
          "$ref": "IndividualStudentsOptions"
        },
        "multipleChoiceQuestion": {
          "description": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise.",
          "$ref": "MultipleChoiceQuestion"
        },
        "submissionModificationMode": {
          "enum": [
            "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED",
            "MODIFIABLE_UNTIL_TURNED_IN",
            "MODIFIABLE"
          ],
          "type": "string",
          "description": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`.",
          "enumDescriptions": [
            "No modification mode specified. This is never returned.",
            "Submissions can be modified before being turned in.",
            "Submissions can be modified at any time."
          ]
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work, unique per course. Read-only."
        },
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "description": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`.",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string"
        },
        "scheduledTime": {
          "format": "google-datetime",
          "description": "Optional timestamp when this course work is scheduled to be published.",
          "type": "string"
        }
      }
    },
    "ListStudentGroupMembersResponse": {
      "description": "Response when listing students in a group.",
      "id": "ListStudentGroupMembersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "studentGroupMembers": {
          "items": {
            "$ref": "StudentGroupMember"
          },
          "type": "array",
          "description": "The student group members."
        }
      }
    },
    "StudentGroupMember": {
      "properties": {
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        },
        "userId": {
          "description": "Identifier of the student.",
          "type": "string"
        },
        "studentGroupId": {
          "description": "The identifier of the student group.",
          "type": "string"
        }
      },
      "id": "StudentGroupMember",
      "type": "object",
      "description": "A student member in a student group."
    },
    "ListCourseAliasesResponse": {
      "id": "ListCourseAliasesResponse",
      "description": "Response when listing course aliases.",
      "properties": {
        "aliases": {
          "type": "array",
          "description": "The course aliases.",
          "items": {
            "$ref": "CourseAlias"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "type": "object"
    },
    "Invitation": {
      "type": "object",
      "id": "Invitation",
      "description": "An invitation to join a course.",
      "properties": {
        "userId": {
          "description": "Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "role": {
          "enum": [
            "COURSE_ROLE_UNSPECIFIED",
            "STUDENT",
            "TEACHER",
            "OWNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "No course role.",
            "Student in the course.",
            "Teacher of the course.",
            "Owner of the course."
          ],
          "description": "Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`."
        },
        "courseId": {
          "description": "Identifier of the course to invite the user to.",
          "type": "string"
        },
        "id": {
          "description": "Identifier assigned by Classroom. Read-only.",
          "type": "string"
        }
      }
    },
    "GuardianInvitation": {
      "id": "GuardianInvitation",
      "type": "object",
      "properties": {
        "invitedEmailAddress": {
          "type": "string",
          "description": "Email address that the invitation was sent to. This field is only visible to domain administrators."
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that this invitation was created. Read-only."
        },
        "state": {
          "enumDescriptions": [
            "Should never be returned.",
            "The invitation is active and awaiting a response.",
            "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
          ],
          "enum": [
            "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "description": "The state that this invitation is in.",
          "type": "string"
        },
        "invitationId": {
          "description": "Unique identifier for this invitation. Read-only.",
          "type": "string"
        },
        "studentId": {
          "type": "string",
          "description": "ID of the student (in standard format)"
        }
      },
      "description": "An invitation to become the guardian of a specified user, sent to a specified email address."
    },
    "TurnInStudentSubmissionRequest": {
      "properties": {},
      "description": "Request to turn in a student submission.",
      "id": "TurnInStudentSubmissionRequest",
      "type": "object"
    },
    "ListCoursesResponse": {
      "id": "ListCoursesResponse",
      "type": "object",
      "description": "Response when listing courses.",
      "properties": {
        "courses": {
          "type": "array",
          "description": "Courses that match the list request.",
          "items": {
            "$ref": "Course"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "Form": {
      "type": "object",
      "description": "Google Forms item.",
      "properties": {
        "responseUrl": {
          "description": "URL of the form responses document. Only set if responses have been recorded and only when the requesting user is an editor of the form. Read-only.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the Form. Read-only.",
          "type": "string"
        },
        "formUrl": {
          "description": "URL of the form.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Form. Read-only.",
          "type": "string"
        }
      },
      "id": "Form"
    },
    "StudentSubmission": {
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "draftRubricGrades": {
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "type": "object",
          "description": "Pending rubric grades based on the rubric's criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only."
        },
        "submissionHistory": {
          "type": "array",
          "description": "The history of the submission (includes state and grade histories). Read-only.",
          "items": {
            "$ref": "SubmissionHistory"
          }
        },
        "associatedWithDeveloper": {
          "description": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "late": {
          "description": "Whether this submission is late. Read-only.",
          "type": "boolean"
        },
        "assignedRubricGrades": {
          "type": "object",
          "description": "Assigned rubric grades based on the rubric's Criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any Criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "additionalProperties": {
            "$ref": "RubricGrade"
          }
        },
        "draftGrade": {
          "type": "number",
          "description": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers.",
          "format": "double"
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to the submission in the Classroom web UI. Read-only."
        },
        "courseWorkId": {
          "type": "string",
          "description": "Identifier for the course work this corresponds to. Read-only."
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only."
        },
        "state": {
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "description": "State of this submission. Read-only."
        },
        "assignmentSubmission": {
          "$ref": "AssignmentSubmission",
          "description": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments."
        },
        "multipleChoiceSubmission": {
          "description": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION.",
          "$ref": "MultipleChoiceSubmission"
        },
        "updateTime": {
          "type": "string",
          "description": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "format": "google-datetime"
        },
        "courseWorkType": {
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "description": "Type of course work this submission is for. Read-only.",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only.",
          "type": "string"
        },
        "shortAnswerSubmission": {
          "description": "Submission content when course_work_type is SHORT_ANSWER_QUESTION.",
          "$ref": "ShortAnswerSubmission"
        },
        "assignedGrade": {
          "format": "double",
          "type": "number",
          "description": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers."
        },
        "userId": {
          "description": "Identifier for the student that owns this submission. Read-only.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Student submission for course work. `StudentSubmission` items are generated when a `CourseWork` item is created. Student submissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time.",
      "id": "StudentSubmission"
    },
    "ListRubricsResponse": {
      "id": "ListRubricsResponse",
      "description": "Response when listing rubrics.",
      "type": "object",
      "properties": {
        "rubrics": {
          "description": "Rubrics that match the request.",
          "type": "array",
          "items": {
            "$ref": "Rubric"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "GlobalPermission": {
      "description": "Global user permission description.",
      "type": "object",
      "id": "GlobalPermission",
      "properties": {
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "CREATE_COURSE"
          ],
          "description": "Permission value.",
          "type": "string",
          "enumDescriptions": [
            "No permission is specified. This is not returned and is not a valid value.",
            "User is permitted to create a course."
          ]
        }
      }
    },
    "UserProfile": {
      "type": "object",
      "properties": {
        "verifiedTeacher": {
          "type": "boolean",
          "description": "Represents whether a Google Workspace for Education user's domain administrator has explicitly verified them as being a teacher. This field is always false if the user is not a member of a Google Workspace for Education domain. Read-only"
        },
        "photoUrl": {
          "type": "string",
          "description": "URL of user's profile photo. Must request `https://www.googleapis.com/auth/classroom.profile.photos` scope for this field to be populated in a response body. Read-only."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GlobalPermission"
          },
          "description": "Global permissions of the user. Read-only."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user. Must request `https://www.googleapis.com/auth/classroom.profile.emails` scope for this field to be populated in a response body. Read-only."
        },
        "name": {
          "description": "Name of the user. Read-only.",
          "$ref": "Name"
        },
        "id": {
          "description": "Identifier of the user. Read-only.",
          "type": "string"
        }
      },
      "id": "UserProfile",
      "description": "Global information for a user."
    },
    "CourseMaterial": {
      "description": "A material attached to a course as part of a material set.",
      "id": "CourseMaterial",
      "type": "object",
      "properties": {
        "link": {
          "description": "Link atatchment.",
          "$ref": "Link"
        },
        "form": {
          "$ref": "Form",
          "description": "Google Forms attachment."
        },
        "youTubeVideo": {
          "$ref": "YouTubeVideo",
          "description": "Youtube video attachment."
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        }
      }
    },
    "GradingPeriodSettings": {
      "description": "Grading period settings that include all the individual grading periods in a course.",
      "type": "object",
      "id": "GradingPeriodSettings",
      "properties": {
        "applyToExistingCoursework": {
          "type": "boolean",
          "description": "Supports toggling the application of grading periods on existing stream items. Once set, this value is persisted meaning that it does not need to be set in every request to update `GradingPeriodSettings`. If not previously set, the default is False."
        },
        "gradingPeriods": {
          "description": "The list of grading periods in a specific course. Grading periods must not have overlapping date ranges and must be listed in chronological order. Each grading period must have a unique title within a course.",
          "type": "array",
          "items": {
            "$ref": "GradingPeriod"
          }
        }
      }
    },
    "Link": {
      "properties": {
        "url": {
          "type": "string",
          "description": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters."
        },
        "title": {
          "description": "Title of the target of the URL. Read-only.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the target URL. Read-only.",
          "type": "string"
        }
      },
      "description": "URL item.",
      "type": "object",
      "id": "Link"
    },
    "ListStudentSubmissionsResponse": {
      "id": "ListStudentSubmissionsResponse",
      "type": "object",
      "properties": {
        "studentSubmissions": {
          "items": {
            "$ref": "StudentSubmission"
          },
          "description": "Student work that matches the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "description": "Response when listing student submissions."
    },
    "ReclaimStudentSubmissionRequest": {
      "description": "Request to reclaim a student submission.",
      "type": "object",
      "properties": {},
      "id": "ReclaimStudentSubmissionRequest"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object"
    },
    "CopyHistory": {
      "description": "Identifier of a previous copy of a given attachment.",
      "properties": {
        "postId": {
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "deprecated": true
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "attachmentId": {
          "type": "string",
          "description": "Immutable. Identifier of the attachment."
        },
        "itemId": {
          "type": "string",
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached."
        }
      },
      "id": "CopyHistory",
      "type": "object"
    },
    "ModifyAnnouncementAssigneesRequest": {
      "id": "ModifyAnnouncementAssigneesRequest",
      "type": "object",
      "properties": {
        "assigneeMode": {
          "description": "Mode of the announcement describing whether it is accessible by all students or specified individual students.",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "type": "string"
        },
        "modifyIndividualStudentsOptions": {
          "description": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        }
      },
      "description": "Request to modify assignee mode and options of an announcement."
    },
    "Name": {
      "description": "Details of the user's name.",
      "id": "Name",
      "type": "object",
      "properties": {
        "givenName": {
          "type": "string",
          "description": "The user's first name. Read-only."
        },
        "familyName": {
          "type": "string",
          "description": "The user's last name. Read-only."
        },
        "fullName": {
          "type": "string",
          "description": "The user's full name formed by concatenating the first and last name values. Read-only."
        }
      }
    },
    "Student": {
      "properties": {
        "studentWorkFolder": {
          "$ref": "DriveFolder",
          "description": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only."
        },
        "profile": {
          "$ref": "UserProfile",
          "description": "Global user information for the student. Read-only."
        },
        "userId": {
          "type": "string",
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        }
      },
      "id": "Student",
      "description": "Student in a course.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ModifyIndividualStudentsOptions": {
      "description": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`.",
      "properties": {
        "removeStudentIds": {
          "type": "array",
          "description": "IDs of students to be removed from having access to this coursework/announcement.",
          "items": {
            "type": "string"
          }
        },
        "addStudentIds": {
          "description": "IDs of students to be added as having access to this coursework/announcement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ModifyIndividualStudentsOptions",
      "type": "object"
    },
    "Registration": {
      "properties": {
        "cloudPubsubTopic": {
          "description": "The Cloud Pub/Sub topic that notifications are to be sent to.",
          "$ref": "CloudPubsubTopic"
        },
        "expiryTime": {
          "type": "string",
          "description": "The time until which the `Registration` is effective. This is a read-only field assigned by the server.",
          "format": "google-datetime"
        },
        "registrationId": {
          "description": "A server-generated unique identifier for this `Registration`. Read-only.",
          "type": "string"
        },
        "feed": {
          "$ref": "Feed",
          "description": "Specification for the class of notifications that Classroom should deliver to the destination."
        }
      },
      "description": "An instruction to Classroom to send notifications from the `feed` to the provided destination.",
      "type": "object",
      "id": "Registration"
    },
    "EmbedUri": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI to be iframed after being populated with query parameters. This must be a valid UTF-8 string containing between 1 and 1800 characters."
        }
      },
      "type": "object",
      "description": "URI to be iframed after being populated with query parameters.",
      "id": "EmbedUri"
    },
    "ListTeachersResponse": {
      "description": "Response when listing teachers.",
      "properties": {
        "teachers": {
          "description": "Teachers who match the list request.",
          "items": {
            "$ref": "Teacher"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListTeachersResponse",
      "type": "object"
    },
    "ReturnStudentSubmissionRequest": {
      "description": "Request to return a student submission.",
      "properties": {},
      "type": "object",
      "id": "ReturnStudentSubmissionRequest"
    },
    "Material": {
      "description": "Material attached to course work. When creating attachments, setting the `form`, `gem`, or `notebook` field is not supported.",
      "id": "Material",
      "properties": {
        "driveFile": {
          "description": "Google Drive file material.",
          "$ref": "SharedDriveFile"
        },
        "link": {
          "description": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response.",
          "$ref": "Link"
        },
        "youtubeVideo": {
          "$ref": "YouTubeVideo",
          "description": "YouTube video material."
        },
        "notebook": {
          "description": "NotebookLM Notebook material. Read-only.",
          "$ref": "NotebookLmNotebook"
        },
        "form": {
          "$ref": "Form",
          "description": "Google Forms material. Read-only."
        },
        "gem": {
          "description": "Gemini Gem material. Read-only.",
          "$ref": "GeminiGem"
        }
      },
      "type": "object"
    },
    "GradingPeriod": {
      "id": "GradingPeriod",
      "description": "An individual grading period. Grading periods must not have overlapping date ranges and must be listed in chronological order. For example, if the end_date of a grading period is 2024-01-25, then the start_date of the next grading period must be 2024-01-26 or later. Each grading period must have a unique title within a course.",
      "properties": {
        "endDate": {
          "description": "Required. End date, in UTC, of the grading period. Inclusive.",
          "$ref": "Date"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the grading period. For example, “Semester 1”."
        },
        "startDate": {
          "description": "Required. Start date, in UTC, of the grading period. Inclusive.",
          "$ref": "Date"
        },
        "id": {
          "description": "Output only. System generated grading period ID. Read-only.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RubricGrade": {
      "type": "object",
      "properties": {
        "criterionId": {
          "description": "Optional. Criterion ID.",
          "type": "string"
        },
        "points": {
          "format": "double",
          "description": "Optional. Optional points assigned for this criterion, typically based on the level. Levels might or might not have points. If unset, no points were set for this criterion.",
          "type": "number"
        },
        "levelId": {
          "description": "Optional. Optional level ID of the selected level. If empty, no level was selected.",
          "type": "string"
        }
      },
      "id": "RubricGrade",
      "description": "A rubric grade set for the student submission. There is at most one entry per rubric criterion."
    },
    "CourseMaterialSet": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title for this set."
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "CourseMaterial"
          },
          "description": "Materials attached to this set."
        }
      },
      "id": "CourseMaterialSet",
      "type": "object",
      "description": "A set of materials that appears on the \"About\" page of the course. These materials might include a syllabus, schedule, or other background information relating to the course as a whole."
    },
    "CourseAlias": {
      "id": "CourseAlias",
      "description": "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded.",
      "properties": {
        "alias": {
          "description": "Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Topic": {
      "id": "Topic",
      "properties": {
        "topicId": {
          "description": "Unique identifier for the topic. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time the topic was last updated by the system. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "name": {
          "description": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Topic created by a teacher for the course"
    },
    "Level": {
      "properties": {
        "points": {
          "description": "Optional points associated with this level. If set, all levels within the rubric must specify points and the value must be distinct across all levels within a single criterion. 0 is distinct from no points.",
          "type": "number",
          "format": "double"
        },
        "id": {
          "description": "The level ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "title": {
          "description": "The title of the level. If the level has no points set, title must be set.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the level."
        }
      },
      "type": "object",
      "description": "A level of the criterion.",
      "id": "Level"
    },
    "SharedDriveFile": {
      "type": "object",
      "id": "SharedDriveFile",
      "properties": {
        "driveFile": {
          "description": "Drive file details.",
          "$ref": "DriveFile"
        },
        "shareMode": {
          "enum": [
            "UNKNOWN_SHARE_MODE",
            "VIEW",
            "EDIT",
            "STUDENT_COPY"
          ],
          "type": "string",
          "description": "Mechanism by which students access the Drive item.",
          "enumDescriptions": [
            "No sharing mode specified. This should never be returned.",
            "Students can view the shared file.",
            "Students can edit the shared file.",
            "Students have a personal copy of the shared file."
          ]
        }
      },
      "description": "Drive file that is used as material for course work."
    },
    "Teacher": {
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "profile": {
          "$ref": "UserProfile",
          "description": "Global user information for the teacher. Read-only."
        }
      },
      "id": "Teacher",
      "description": "Teacher of a course.",
      "type": "object"
    },
    "GradebookSettings": {
      "properties": {
        "calculationType": {
          "description": "Indicates how the overall grade is calculated.",
          "enumDescriptions": [
            "No method specified. This is never returned.",
            "Overall grade is the sum of grades divided by the sum of total points regardless of category.",
            "Overall grade is the weighted average by category."
          ],
          "enum": [
            "CALCULATION_TYPE_UNSPECIFIED",
            "TOTAL_POINTS",
            "WEIGHTED_CATEGORIES"
          ],
          "type": "string"
        },
        "gradeCategories": {
          "type": "array",
          "description": "Grade categories that are available for coursework in the course.",
          "items": {
            "$ref": "GradeCategory"
          }
        },
        "displaySetting": {
          "description": "Indicates who can see the overall grade..",
          "enum": [
            "DISPLAY_SETTING_UNSPECIFIED",
            "SHOW_OVERALL_GRADE",
            "HIDE_OVERALL_GRADE",
            "SHOW_TEACHERS_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "No setting specified. This is never returned.",
            "Shows overall grade in the gradebook and student profile to both teachers and students.",
            "Does not show overall grade in the gradebook or student profile.",
            "Shows the overall grade to teachers in the gradebook and student profile. Hides from students in their student profile."
          ]
        }
      },
      "type": "object",
      "description": "The gradebook settings for a course. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "id": "GradebookSettings"
    },
    "StateHistory": {
      "type": "object",
      "properties": {
        "actorUserId": {
          "description": "The teacher or student who made the change.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT",
            "STUDENT_EDITED_AFTER_TURN_IN"
          ],
          "description": "The workflow pipeline stage.",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The Submission has been created.",
            "The student has turned in an assigned document, which may or may not be a template.",
            "The teacher has returned the assigned document to the student.",
            "The student turned in the assigned document, and then chose to \"unsubmit\" the assignment, giving the student control again as the owner.",
            "The student edited their submission after turning it in. Currently, only used by Questions, when the student edits their answer."
          ]
        },
        "stateTimestamp": {
          "description": "When the submission entered this state.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The history of each state this submission has been in.",
      "id": "StateHistory"
    },
    "ListTopicResponse": {
      "description": "Response when listing topics.",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "topic": {
          "items": {
            "$ref": "Topic"
          },
          "type": "array",
          "description": "Topic items that match the request."
        }
      },
      "id": "ListTopicResponse",
      "type": "object"
    },
    "ListStudentGroupsResponse": {
      "description": "Response when listing student groups.",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "studentGroups": {
          "description": "The student groups.",
          "items": {
            "$ref": "StudentGroup"
          },
          "type": "array"
        }
      },
      "id": "ListStudentGroupsResponse",
      "type": "object"
    },
    "AddOnAttachment": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of this attachment. The title must be between 1 and 1000 characters."
        },
        "itemId": {
          "type": "string",
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. Unique per course."
        },
        "studentViewUri": {
          "$ref": "EmbedUri",
          "description": "Required. URI to show the student view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set."
        },
        "dueDate": {
          "description": "Date, in UTC, that work on this attachment is due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "id": {
          "description": "Immutable. Classroom-assigned identifier for this attachment, unique per post.",
          "type": "string"
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "dueTime": {
          "$ref": "TimeOfDay",
          "description": "Time of day, in UTC, that work on this attachment is due. This must be specified if `due_date` is specified."
        },
        "postId": {
          "deprecated": true,
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead."
        },
        "studentWorkReviewUri": {
          "description": "URI for the teacher to see student work on the attachment, if applicable. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, `attachmentId`, and `submissionId` query parameters set. This is the same `submissionId` returned in the [`AddOnContext.studentContext`](/workspace/classroom/reference/rest/v1/AddOnContext#StudentContext) field when a student views the attachment. If the URI is omitted or removed, `max_points` will also be discarded.",
          "$ref": "EmbedUri"
        },
        "teacherViewUri": {
          "description": "Required. URI to show the teacher view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        },
        "maxPoints": {
          "type": "number",
          "format": "double",
          "description": "Maximum grade for this attachment. Can only be set if `studentWorkReviewUri` is set. Set to a non-zero value to indicate that the attachment supports grade passback. If set, this must be a non-negative integer value. When set to zero, the attachment will not support grade passback."
        },
        "copyHistory": {
          "type": "array",
          "description": "Output only. Identifiers of attachments that were previous copies of this attachment. If the attachment was previously copied by virtue of its parent post being copied, this enumerates the identifiers of attachments that were its previous copies in ascending chronological order of copy.",
          "readOnly": true,
          "items": {
            "$ref": "CopyHistory"
          }
        }
      },
      "description": "An add-on attachment on a post.",
      "id": "AddOnAttachment"
    },
    "MultipleChoiceQuestion": {
      "properties": {
        "choices": {
          "description": "Possible choices.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Additional details for multiple-choice questions.",
      "id": "MultipleChoiceQuestion",
      "type": "object"
    },
    "NotebookLmNotebook": {
      "type": "object",
      "description": "NotebookLM Notebook link.",
      "id": "NotebookLmNotebook",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the Notebook."
        },
        "url": {
          "type": "string",
          "description": "URL that can be used to access the Notebook."
        },
        "id": {
          "description": "Notebook resource id.",
          "type": "string"
        }
      }
    },
    "YouTubeVideo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "YouTube API resource ID.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the YouTube video. Read-only."
        },
        "title": {
          "description": "Title of the YouTube video. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to view the YouTube video. Read-only.",
          "type": "string"
        }
      },
      "description": "YouTube video item.",
      "id": "YouTubeVideo"
    }
  },
  "resources": {
    "registrations": {
      "methods": {
        "create": {
          "flatPath": "v1/registrations",
          "id": "classroom.registrations.create",
          "request": {
            "$ref": "Registration"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "httpMethod": "POST",
          "path": "v1/registrations",
          "parameterOrder": [],
          "response": {
            "$ref": "Registration"
          },
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it."
        },
        "delete": {
          "id": "classroom.registrations.delete",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/registrations/{registrationId}",
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "parameterOrder": [
            "registrationId"
          ],
          "parameters": {
            "registrationId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The `registration_id` of the `Registration` to be deleted."
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/registrations/{registrationId}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ]
        }
      }
    },
    "courses": {
      "methods": {
        "patch": {
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.patch",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "request": {
            "$ref": "Course"
          },
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `learningStandardSettings` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "location": "query"
            },
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Course"
          },
          "path": "v1/courses/{id}"
        },
        "create": {
          "path": "v1/courses",
          "response": {
            "$ref": "Course"
          },
          "request": {
            "$ref": "Course"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "httpMethod": "POST",
          "id": "classroom.courses.create",
          "parameterOrder": [],
[...]
