{
  "documentationLink": "https://developers.google.com/workspace/classroom/",
  "discoveryVersion": "v1",
  "resources": {
    "invitations": {
      "methods": {
        "list": {
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "path": "v1/invitations",
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "parameters": {
            "userId": {
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "location": "query",
              "type": "string"
            },
            "courseId": {
              "type": "string",
              "description": "Restricts returned invitations to those for a course with the specified identifier.",
              "location": "query"
            },
            "pageSize": {
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "flatPath": "v1/invitations",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "id": "classroom.invitations.list",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "delete": {
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "path": "v1/invitations/{id}",
          "id": "classroom.invitations.delete",
          "parameters": {
            "id": {
              "required": true,
              "description": "Identifier of the invitation to delete.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "flatPath": "v1/invitations/{id}"
        },
        "get": {
          "flatPath": "v1/invitations/{id}",
          "id": "classroom.invitations.get",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to return.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "path": "v1/invitations/{id}",
          "response": {
            "$ref": "Invitation"
          }
        },
        "create": {
          "id": "classroom.invitations.create",
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "path": "v1/invitations",
          "response": {
            "$ref": "Invitation"
          },
          "parameters": {},
          "request": {
            "$ref": "Invitation"
          },
          "flatPath": "v1/invitations",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "httpMethod": "POST"
        },
        "accept": {
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/invitations/{id}:accept",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "id": "classroom.invitations.accept",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Identifier of the invitation to accept.",
              "location": "path"
            }
          },
          "flatPath": "v1/invitations/{id}:accept"
        }
      }
    },
    "courses": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Course"
          },
          "response": {
            "$ref": "Course"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "parameters": {},
          "id": "classroom.courses.create",
          "parameterOrder": [],
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "path": "v1/courses",
          "flatPath": "v1/courses"
        },
        "getGradingPeriodSettings": {
          "id": "classroom.courses.getGradingPeriodSettings",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "httpMethod": "GET",
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "parameterOrder": [
            "courseId"
          ],
          "parameters": {
            "courseId": {
              "description": "Required. The identifier of the course.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "response": {
            "$ref": "GradingPeriodSettings"
          }
        },
        "update": {
          "path": "v1/courses/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Course"
          },
          "id": "classroom.courses.update",
          "request": {
            "$ref": "Course"
          },
          "description": "Updates a course. Note: Unlike other fields, `levels` is not cleared if omitted from the request. The `UpdateCourse` method only modifies `levels` if it is explicitly provided; otherwise, the existing value is preserved. Use the `PatchCourse` method to clear the `levels` field. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * CourseTitleCannotContainUrl",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "parameterOrder": [
            "id"
          ],
          "flatPath": "v1/courses/{id}"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "id": "classroom.courses.delete",
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "httpMethod": "DELETE",
          "flatPath": "v1/courses/{id}",
          "path": "v1/courses/{id}",
          "parameterOrder": [
            "id"
          ]
        },
        "updateGradingPeriodSettings": {
          "description": "Updates grading period settings of a course. Individual grading periods can be added, removed, or modified using this method. The requesting user and course owner must be eligible to modify Grading Periods. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/grading-periods/manage-grading-periods#licensing_requirements). This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the grading period settings in a course or for access errors: * UserIneligibleToUpdateGradingPeriodSettings * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
          "request": {
            "$ref": "GradingPeriodSettings"
          },
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "parameters": {
            "updateMask": {
              "description": "Mask that identifies which fields in the GradingPeriodSettings to update. The GradingPeriodSettings `grading_periods` list will be fully replaced by the grading periods specified in the update request. For example: * Grading periods included in the list without an ID are considered additions, and a new ID will be assigned when the request is made. * Grading periods that currently exist, but are missing from the request will be considered deletions. * Grading periods with an existing ID and modified data are considered edits. Unmodified data will be left as is. * Grading periods included with an unknown ID will result in an error. The following fields may be specified: * `grading_periods` * `apply_to_existing_coursework`",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "courseId": {
              "required": true,
              "description": "Required. The identifier of the course.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "classroom.courses.updateGradingPeriodSettings"
        },
        "patch": {
          "path": "v1/courses/{id}",
          "response": {
            "$ref": "Course"
          },
          "id": "classroom.courses.patch",
          "request": {
            "$ref": "Course"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "flatPath": "v1/courses/{id}",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias."
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `learningStandardSettings` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "format": "google-fieldmask"
            }
          }
        },
        "list": {
          "id": "classroom.courses.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "flatPath": "v1/courses",
          "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist.",
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "path": "v1/courses",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
            },
            "teacherId": {
              "location": "query",
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `student_id` must be empty.",
              "type": "string"
            },
            "pageToken": {
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "type": "string",
              "location": "query"
            },
            "courseStates": {
              "type": "string",
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ],
              "description": "Restricts returned courses to those in one of the specified states. If unspecified, Courses in any state are returned.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ]
            },
            "studentId": {
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `teacher_id` must be empty.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "id"
          ],
          "id": "classroom.courses.get",
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "httpMethod": "GET",
          "flatPath": "v1/courses/{id}",
          "path": "v1/courses/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "response": {
            "$ref": "Course"
          }
        }
      },
      "resources": {
        "announcements": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Announcement"
              },
              "id": "classroom.courses.announcements.create",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "response": {
                "$ref": "Announcement"
              },
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/announcements",
              "flatPath": "v1/courses/{courseId}/announcements"
            },
            "delete": {
              "id": "classroom.courses.announcements.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/courses/{courseId}/announcements/{id}",
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier.",
                  "type": "string",
                  "location": "path"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID."
            },
            "modifyAssignees": {
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "response": {
                "$ref": "Announcement"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.announcements.modifyAssignees",
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              },
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the announcement.",
                  "location": "path"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ]
            },
            "patch": {
              "response": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the announcement."
                }
              },
              "path": "v1/courses/{courseId}/announcements/{id}",
              "httpMethod": "PATCH",
              "id": "classroom.courses.announcements.patch",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "request": {
                "$ref": "Announcement"
              },
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist"
            },
            "getAddOnContext": {
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "id": "classroom.courses.announcements.getAddOnContext",
              "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "parameters": {
                "attachmentId": {
                  "type": "string",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Identifier of the course."
                },
                "postId": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "description": "Optional. Deprecated, use `item_id` instead."
                },
                "addOnToken": {
                  "location": "query",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "type": "string"
                },
                "itemId": {
                  "location": "path",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "response": {
                "$ref": "AddOnContext"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/announcements",
              "flatPath": "v1/courses/{courseId}/announcements",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "announcementStates": {
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`.",
                  "type": "string",
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "location": "query",
                  "repeated": true,
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ]
                }
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "response": {
                "$ref": "ListAnnouncementsResponse"
              },
              "id": "classroom.courses.announcements.list",
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist."
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "response": {
                "$ref": "Announcement"
              },
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "description": "Identifier of the announcement.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "classroom.courses.announcements.get",
              "path": "v1/courses/{courseId}/announcements/{id}"
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "list": {
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                    },
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "required": true
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true,
                      "location": "path"
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead."
                    }
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "id": "classroom.courses.announcements.addOnAttachments.list",
                  "httpMethod": "GET",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "parameters": {
                    "attachmentId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path"
                    },
                    "itemId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "postId": {
                      "deprecated": true,
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query"
                    },
                    "courseId": {
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "httpMethod": "GET",
                  "id": "classroom.courses.announcements.addOnAttachments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "attachmentId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "postId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true
                    },
                    "courseId": {
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "id": "classroom.courses.announcements.addOnAttachments.delete",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "id": "classroom.courses.announcements.addOnAttachments.patch",
                  "parameters": {
                    "postId": {
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "type": "string",
                      "location": "query"
                    },
                    "attachmentId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the post under which the attachment is attached."
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`"
                    }
                  },
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "parameters": {
                    "addOnToken": {
                      "location": "query",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match.",
                      "type": "string"
                    },
                    "postId": {
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query"
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "location": "path"
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "httpMethod": "POST",
                  "id": "classroom.courses.announcements.addOnAttachments.create"
                }
              }
            }
          }
        },
        "students": {
          "methods": {
            "delete": {
              "path": "v1/courses/{courseId}/students/{userId}",
              "httpMethod": "DELETE",
              "description": "Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path"
                }
              },
              "id": "classroom.courses.students.delete",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "create": {
              "id": "classroom.courses.students.create",
              "request": {
                "$ref": "Student"
              },
              "description": "Adds a user as a student of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as students to courses within their domain. Students are permitted to add themselves to a course using an enrollment code. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a student or teacher in the course.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/students",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "enrollmentCode": {
                  "description": "Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Student"
              },
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/students"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/courses/{courseId}/students",
              "description": "Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "path": "v1/courses/{courseId}/students",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "GET",
              "id": "classroom.courses.students.list",
              "response": {
                "$ref": "ListStudentsResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "path": "v1/courses/{courseId}/students/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "id": "classroom.courses.students.get",
              "response": {
                "$ref": "Student"
              },
              "httpMethod": "GET",
              "description": "Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/students/{userId}"
            }
          }
        },
        "teachers": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Teacher"
              },
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "id": "classroom.courses.teachers.create",
              "path": "v1/courses/{courseId}/teachers",
              "response": {
                "$ref": "Teacher"
              },
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/courses/{courseId}/teachers",
              "httpMethod": "POST"
            },
            "delete": {
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "id": "classroom.courses.teachers.delete",
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "httpMethod": "DELETE"
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "response": {
                "$ref": "Teacher"
              },
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "id": "classroom.courses.teachers.get",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}"
            },
            "list": {
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/teachers",
              "flatPath": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.list"
            }
          }
        },
        "studentGroups": {
          "resources": {
            "studentGroupMembers": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "StudentGroupMember"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "id": "classroom.courses.studentGroups.studentGroupMembers.create",
                  "parameters": {
                    "courseId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The identifier of the course.",
                      "location": "path"
                    },
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "description": "Creates a student group member for a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or member for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `ALREADY_EXISTS` if the student group member already exists. * `FAILED_PRECONDITION` if attempting to add a member to a student group that has reached its member limit.",
                  "request": {
                    "$ref": "StudentGroupMember"
                  }
                },
                "delete": {
                  "description": "Deletes a student group member. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group member or for access errors. * `NOT_FOUND` if the student group member does not exist or the user does not have access to the student group.",
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId",
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "Required. The identifier of the student group member to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "studentGroupId": {
                      "required": true,
                      "description": "Required. The identifier of the student group containing the student group member to delete.",
                      "type": "string",
                      "location": "path"
                    },
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The identifier of the course containing the relevant student group.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.delete"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.list",
                  "parameters": {
                    "studentGroupId": {
                      "required": true,
                      "description": "Required. The identifier of the student group.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                    },
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The identifier of the course."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "format": "int32"
                    }
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "response": {
                    "$ref": "ListStudentGroupMembersResponse"
                  },
                  "description": "Returns a list of students in a group. This method returns the following error codes: * `NOT_FOUND` if the course or student group does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters",
                    "https://www.googleapis.com/auth/classroom.rosters.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "delete": {
              "id": "classroom.courses.studentGroups.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Deletes a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The identifier of the student group to delete."
                },
                "courseId": {
                  "location": "path",
                  "description": "Required. The identifier of the course containing the student group to delete.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}"
            },
            "create": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Required. The identifier of the course.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "StudentGroup"
              },
              "description": "Creates a student group for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or for access errors. * `NOT_FOUND` if the course does not exist or the requesting user doesn't have access to the course. * `FAILED_PRECONDITION` if creating the student group would exceed the maximum number of student groups per course.",
              "request": {
                "$ref": "StudentGroup"
              },
              "path": "v1/courses/{courseId}/studentGroups",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "id": "classroom.courses.studentGroups.create"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListStudentGroupsResponse"
              },
              "id": "classroom.courses.studentGroups.list",
              "parameterOrder": [
                "courseId"
              ],
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "path": "v1/courses/{courseId}/studentGroups",
              "description": "Returns a list of groups in a course. This method returns the following error codes: * `NOT_FOUND` if the course does not exist.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum, which is currently set to 75 items. The server may return fewer than the specified number of results."
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The identifier of the course."
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "StudentGroup"
              },
              "request": {
                "$ref": "StudentGroup"
              },
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "Required. Identifier of the student group.",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. Mask that identifies which fields on the student group to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields can be specified by teachers: * `title`",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "required": true,
                  "description": "Required. Identifier of the course.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "id": "classroom.courses.studentGroups.patch",
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "httpMethod": "PATCH",
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "description": "Updates one or more fields in a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied.",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            }
          }
        },
        "topics": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "response": {
                "$ref": "ListTopicResponse"
              },
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "id": "classroom.courses.topics.list",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/topics",
              "flatPath": "v1/courses/{courseId}/topics"
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "Identifier of the topic.",
                  "type": "string",
                  "required": true
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Topic"
              },
              "id": "classroom.courses.topics.get",
              "path": "v1/courses/{courseId}/topics/{id}",
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist."
            },
            "patch": {
              "request": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Topic"
              },
              "path": "v1/courses/{courseId}/topics/{id}",
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if there exists a topic in the course with the same name. * `NOT_FOUND` if the requested course or topic does not exist",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.patch",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`",
                  "format": "google-fieldmask"
                },
                "courseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the topic.",
                  "location": "path"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/courses/{courseId}/topics/{id}",
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "description": "Identifier of the topic to delete.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "id": "classroom.courses.topics.delete"
            },
            "create": {
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `ALREADY_EXISTS` if there exists a topic in the course with the same name. * `FAILED_PRECONDITION` for the following request error: * CourseTopicLimitReached * `NOT_FOUND` if the requested course does not exist.",
              "response": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/topics",
              "id": "classroom.courses.topics.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "request": {
                "$ref": "Topic"
              },
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "flatPath": "v1/courses/{courseId}/topics"
            }
          }
        },
        "aliases": {
          "methods": {
            "delete": {
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "alias": {
                  "type": "string",
                  "location": "path",
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "parameterOrder": [
                "courseId",
                "alias"
              ],
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "id": "classroom.courses.aliases.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias).",
              "path": "v1/courses/{courseId}/aliases/{alias}"
            },
            "list": {
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/aliases",
              "id": "classroom.courses.aliases.list",
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                }
              },
              "flatPath": "v1/courses/{courseId}/aliases",
              "httpMethod": "GET",
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist."
            },
            "create": {
              "id": "classroom.courses.aliases.create",
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias).",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "CourseAlias"
              },
              "path": "v1/courses/{courseId}/aliases",
              "flatPath": "v1/courses/{courseId}/aliases",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "request": {
                "$ref": "CourseAlias"
              }
            }
          }
        },
        "posts": {
          "methods": {
            "getAddOnContext": {
              "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnContext",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "parameters": {
                "itemId": {
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Identifier of the course."
                },
                "postId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Optional. Deprecated, use `item_id` instead."
                },
                "addOnToken": {
                  "type": "string",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "location": "query"
                },
                "attachmentId": {
                  "location": "query",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "courseId",
                "postId"
              ],
              "response": {
                "$ref": "AddOnContext"
              },
              "path": "v1/courses/{courseId}/posts/{postId}/addOnContext",
              "id": "classroom.courses.posts.getAddOnContext",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "addOnAttachments": {
              "resources": {
                "studentSubmissions": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "description": "Updates data associated with an add-on attachment submission. Requires the add-on to have been the original creator of the attachment and the attachment to have a positive `max_points` value set. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                      "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "attachmentId": {
                          "location": "path",
                          "description": "Required. Identifier of the attachment.",
                          "type": "string",
                          "required": true
                        },
                        "submissionId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Identifier of the student's submission.",
                          "location": "path"
                        },
                        "courseId": {
                          "description": "Required. Identifier of the course.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "itemId": {
                          "location": "query",
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
[...]
