{
  "title": "Cloud Deploy API",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "description": "",
  "canonicalName": "Cloud Deploy",
  "revision": "20260818",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "endpoints": [
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouddeploy.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouddeploy.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "clouddeploy:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "clouddeploy",
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "CustomCheck": {
      "id": "CustomCheck",
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency.",
      "type": "object",
      "properties": {
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        },
        "id": {
          "description": "Required. The ID of the custom Analysis check.",
          "type": "string"
        },
        "frequency": {
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Stage": {
      "id": "Stage",
      "description": "Stage specifies a location to which to deploy.",
      "type": "object",
      "properties": {
        "profiles": {
          "description": "Optional. Skaffold profiles to use when rendering the manifest for this stage's `Target`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deployParameters": {
          "type": "array",
          "items": {
            "$ref": "DeployParameters"
          },
          "description": "Optional. The deploy parameters to use for the target in this stage."
        },
        "targetId": {
          "description": "Optional. The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`.",
          "type": "string"
        },
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        }
      }
    },
    "AnalysisJob": {
      "id": "AnalysisJob",
      "description": "An analysis Job.",
      "type": "object",
      "properties": {
        "duration": {
          "description": "Output only. The amount of time in minutes the analysis Job will run, up to a maximum of 48 hours. If any check in this Job is still running when the duration ends, the Job keeps running until that check completes.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "googleCloud": {
          "description": "Output only. Google Cloud - based analysis checks that are run as part of the analysis Job.",
          "readOnly": true,
          "$ref": "GoogleCloudAnalysis"
        },
        "customChecks": {
          "type": "array",
          "items": {
            "$ref": "CustomCheck"
          },
          "description": "Output only. Custom analysis checks from 3P metric providers that are run as part of the analysis Job.",
          "readOnly": true
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CreateChildRolloutJobRun": {
      "type": "object",
      "properties": {
        "rollout": {
          "type": "string",
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true
        },
        "rolloutPhaseId": {
          "type": "string",
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun.",
          "readOnly": true
        }
      },
      "id": "CreateChildRolloutJobRun",
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`."
    },
    "DeliveryPipelineAttribute": {
      "id": "DeliveryPipelineAttribute",
      "description": "Contains criteria for selecting DeliveryPipelines.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "DeliveryPipeline labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ServiceNetworking": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Service."
        },
        "disablePodOverprovisioning": {
          "type": "boolean",
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster."
        },
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service."
        }
      },
      "id": "ServiceNetworking",
      "description": "Information about the Kubernetes Service networking configuration."
    },
    "PredeployJobRunMetadata": {
      "id": "PredeployJobRunMetadata",
      "description": "PredeployJobRunMetadata contains metadata about the predeploy `JobRun`.",
      "type": "object",
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined predeploy operation.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        }
      }
    },
    "TargetsTypeCondition": {
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters.",
          "type": "boolean"
        },
        "errorDetails": {
          "type": "string",
          "description": "Human readable error message."
        }
      },
      "id": "TargetsTypeCondition",
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type."
    },
    "CloudRunLocation": {
      "id": "CloudRunLocation",
      "description": "Information specifying where to deploy a Cloud Run Service.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`."
        }
      }
    },
    "Rollout": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Current state of the `Rollout`.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ]
        },
        "enqueueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Rollout`.",
          "readOnly": true,
          "type": "string"
        },
        "deployStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "readOnly": true
        },
        "failureReason": {
          "description": "Output only. Additional information about the rollout failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the `Rollout` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deployingBuild": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the `Rollout` for user purposes. Max length is 255 characters.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "controllerRollout": {
          "description": "Output only. Name of the `ControllerRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true,
          "type": "string"
        },
        "deployEndTime": {
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Rollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`. The `rollout` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "approvalState": {
          "description": "Output only. Approval state of the `Rollout`.",
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "type": "string",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ]
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deployFailureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the allotted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "A Rollout operation had a feature configured that is not supported."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED",
            "OPERATION_FEATURE_NOT_SUPPORTED"
          ],
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "readOnly": true
        },
        "metadata": {
          "description": "Output only. Metadata contains information about the rollout.",
          "readOnly": true,
          "$ref": "Metadata"
        },
        "phases": {
          "type": "array",
          "items": {
            "$ref": "Phase"
          },
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "readOnly": true
        },
        "activeRepairAutomationRun": {
          "description": "Output only. The AutomationRun actively repairing the rollout.",
          "readOnly": true,
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "Required. The ID of Target to which this `Rollout` is deploying."
        },
        "approveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was approved.",
          "readOnly": true
        },
        "rollbackOfRollout": {
          "description": "Output only. Name of the `Rollout` that is rolled back by this `Rollout`. Empty if this `Rollout` wasn't created as a rollback.",
          "readOnly": true,
          "type": "string"
        },
        "rolledBackByRollouts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Names of `Rollouts` that rolled back this `Rollout`.",
          "readOnly": true
        }
      },
      "id": "Rollout",
      "description": "A `Rollout` resource in the Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`."
    },
    "SkaffoldGCBRepoSource": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold Config file.",
          "type": "string"
        },
        "ref": {
          "description": "Optional. Branch or tag to use when cloning the repository.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}."
        }
      },
      "id": "SkaffoldGCBRepoSource",
      "description": "Cloud Build V2 Repository containing Skaffold Configs."
    },
    "PhaseArtifact": {
      "type": "object",
      "properties": {
        "jobManifestsPath": {
          "type": "string",
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true
        },
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PhaseArtifact",
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase."
    },
    "KubernetesRenderMetadata": {
      "id": "KubernetesRenderMetadata",
      "description": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render.",
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest.",
          "readOnly": true
        },
        "kubernetesNamespace": {
          "type": "string",
          "description": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace.",
          "readOnly": true
        },
        "canaryDeployment": {
          "type": "string",
          "description": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured.",
          "readOnly": true
        }
      }
    },
    "TimeOfDay": {
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ToolVersions": {
      "type": "object",
      "properties": {
        "docker": {
          "type": "string",
          "description": "Optional. The Docker version to use for Cloud Deploy operations."
        },
        "kustomize": {
          "description": "Optional. The Kustomize version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "skaffold": {
          "type": "string",
          "description": "Optional. The Skaffold version to use for Cloud Deploy operations."
        },
        "helm": {
          "description": "Optional. The Helm version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "kpt": {
          "type": "string",
          "description": "Optional. The kpt version to use for Cloud Deploy operations."
        },
        "kubectl": {
          "description": "Optional. The Kubectl version to use for Cloud Deploy operations.",
          "type": "string"
        }
      },
      "id": "ToolVersions",
      "description": "Details of ToolVersions for the release."
    },
    "ListReleasesResponse": {
      "type": "object",
      "properties": {
        "releases": {
          "type": "array",
          "items": {
            "$ref": "Release"
          },
          "description": "The `Release` objects."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListReleasesResponse",
      "description": "The response object from `ListReleases`."
    },
    "RepairPhaseConfig": {
      "id": "RepairPhaseConfig",
      "description": "Configuration of the repair phase.",
      "type": "object",
      "properties": {
        "retry": {
          "description": "Optional. Retries a failed job.",
          "$ref": "Retry"
        },
        "rollback": {
          "description": "Optional. Rolls back a `Rollout`.",
          "$ref": "Rollback"
        }
      }
    },
    "CustomCanaryDeployment": {
      "type": "object",
      "properties": {
        "phaseConfigs": {
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "type": "array",
          "items": {
            "$ref": "PhaseConfig"
          }
        }
      },
      "id": "CustomCanaryDeployment",
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration."
    },
    "TargetNotificationEvent": {
      "id": "TargetNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification.",
      "type": "object",
      "properties": {
        "target": {
          "description": "The name of the `Target`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        }
      }
    },
    "CloudRunMetadata": {
      "id": "CloudRunMetadata",
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "type": "object",
      "properties": {
        "workerPool": {
          "type": "string",
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "readOnly": true
        },
        "service": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "readOnly": true,
          "type": "string"
        },
        "serviceUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "readOnly": true
        },
        "revision": {
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`.",
          "readOnly": true,
          "type": "string"
        },
        "previousRevision": {
          "type": "string",
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}.",
          "readOnly": true
        },
        "job": {
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AutomationResourceSelector": {
      "id": "AutomationResourceSelector",
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "type": "object",
      "properties": {
        "targets": {
          "description": "Optional. Contains attributes about a target.",
          "type": "array",
          "items": {
            "$ref": "TargetAttribute"
          }
        }
      }
    },
    "RolloutNotificationEvent": {
      "id": "RolloutNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "type": "object",
      "properties": {
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "rolloutUid": {
          "type": "string",
          "description": "Unique identifier of the `Rollout`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target` that the rollout is deployed to.",
          "type": "string"
        }
      }
    },
    "OneTimeWindow": {
      "id": "OneTimeWindow",
      "description": "One-time window within which actions are restricted. For example, blocking actions over New Year's Eve from December 31st at 5pm to January 1st at 9am.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Start time (inclusive). Use 00:00 for the beginning of the day.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Required. End date.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "Required. Start date.",
          "$ref": "Date"
        },
        "endTime": {
          "description": "Required. End time (exclusive). You may use 24:00 for the end of the day.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "AutomationRule": {
      "type": "object",
      "properties": {
        "repairRolloutRule": {
          "description": "Optional. The `RepairRolloutRule` will automatically repair a failed rollout.",
          "$ref": "RepairRolloutRule"
        },
        "timedPromoteReleaseRule": {
          "description": "Optional. The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule.",
          "$ref": "TimedPromoteReleaseRule"
        },
        "promoteReleaseRule": {
          "description": "Optional. `PromoteReleaseRule` will automatically promote a release from the current target to a specified target.",
          "$ref": "PromoteReleaseRule"
        },
        "advanceRolloutRule": {
          "description": "Optional. The `AdvanceRolloutRule` will automatically advance a successful Rollout.",
          "$ref": "AdvanceRolloutRule"
        }
      },
      "id": "AutomationRule",
      "description": "`AutomationRule` defines the automation activities."
    },
    "TerminateJobRunRequest": {
      "id": "TerminateJobRunRequest",
      "description": "The request object used by `TerminateJobRun`.",
      "type": "object",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      }
    },
    "Canary": {
      "id": "Canary",
      "description": "Canary represents the canary deployment strategy.",
      "type": "object",
      "properties": {
        "runtimeConfig": {
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment.",
          "$ref": "RuntimeConfig"
        },
        "canaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target.",
          "$ref": "CanaryDeployment"
        },
        "customCanaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target, but allows customizing at the phase level where a phase represents each of the percentage deployments.",
          "$ref": "CustomCanaryDeployment"
        }
      }
    },
    "BuildArtifact": {
      "id": "BuildArtifact",
      "description": "Description of an a image to use during Skaffold rendering.",
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "Optional. Image name in Skaffold configuration."
        },
        "tag": {
          "description": "Optional. Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\".",
          "type": "string"
        }
      }
    },
    "FailedAlertPolicy": {
      "type": "object",
      "properties": {
        "alertPolicy": {
          "type": "string",
          "description": "Output only. The name of the alert policy that was found to be firing. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true
        },
        "alerts": {
          "description": "Output only. Open alerts for the alerting policies that matched the alert policy check configuration.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FailedAlertPolicy",
      "description": "FailedAlertPolicy contains information about an alert policy that was found to be firing during an alert policy check."
    },
    "RollbackTargetRequest": {
      "id": "RollbackTargetRequest",
      "description": "The request object for `RollbackTarget`.",
      "type": "object",
      "properties": {
        "releaseId": {
          "description": "Optional. ID of the `Release` to roll back to. If this isn't specified, the previous successful `Rollout` to the specified target will be used to determine the `Release`.",
          "type": "string"
        },
        "rolloutId": {
          "type": "string",
          "description": "Required. ID of the rollback `Rollout` to create."
        },
        "validateOnly": {
          "description": "Optional. If set to true, the request is validated and the user is provided with a `RollbackTargetResponse`.",
          "type": "boolean"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deploy_policy}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetId": {
          "description": "Required. ID of the `Target` that is being rolled back.",
          "type": "string"
        },
        "rolloutToRollBack": {
          "description": "Optional. If provided, this must be the latest `Rollout` that is on the `Target`.",
          "type": "string"
        },
        "rollbackConfig": {
          "description": "Optional. Configs for the rollback `Rollout`.",
          "$ref": "RollbackTargetConfig"
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "Task": {
      "type": "object",
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      },
      "id": "Task",
      "description": "A Task represents a unit of work that is executed as part of a Job."
    },
    "RetryJobResponse": {
      "id": "RetryJobResponse",
      "description": "The response object from 'RetryJob'.",
      "type": "object",
      "properties": {}
    },
    "MultiTarget": {
      "id": "MultiTarget",
      "description": "Information specifying a multiTarget.",
      "type": "object",
      "properties": {
        "targetIds": {
          "description": "Required. The target_ids of this multiTarget.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PipelineCondition": {
      "type": "object",
      "properties": {
        "pipelineReadyCondition": {
          "description": "Details around the Pipeline's overall status.",
          "$ref": "PipelineReadyCondition"
        },
        "targetsPresentCondition": {
          "description": "Details around targets enumerated in the pipeline.",
          "$ref": "TargetsPresentCondition"
        },
        "targetsTypeCondition": {
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type.",
          "$ref": "TargetsTypeCondition"
        }
      },
      "id": "PipelineCondition",
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline."
    },
    "AdvanceRolloutRule": {
      "id": "AdvanceRolloutRule",
      "description": "The `AdvanceRollout` automation rule will automatically advance a successful Rollout to the next phase.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "wait": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. How long to wait after a rollout is finished."
        },
        "condition": {
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true,
          "$ref": "AutomationRuleCondition"
        },
        "sourcePhases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Proceeds only after phase name matched any one in the list. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "CustomMetadata": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Output only. Key-value pairs provided by the user-defined operation.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "CustomMetadata",
      "description": "CustomMetadata contains information from a user-defined operation."
    },
    "WeeklyWindow": {
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "description": "Optional. Days of week. If left empty, all days of the week will be included."
        },
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "startTime": {
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "WeeklyWindow",
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight."
    },
    "TerminateJobRunResponse": {
      "type": "object",
      "properties": {},
      "id": "TerminateJobRunResponse",
      "description": "The response object from `TerminateJobRun`."
    },
    "ListTargetsResponse": {
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "The `Target` objects."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListTargetsResponse",
      "description": "The response object from `ListTargets`."
    },
    "DeployPolicyEvaluationEvent": {
      "id": "DeployPolicyEvaluationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_evaluation\" Platform Log event that describes the deploy policy evaluation event.",
      "type": "object",
      "properties": {
        "rule": {
          "type": "string",
          "description": "Rule id."
        },
        "target": {
          "type": "string",
          "description": "The name of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy."
        },
        "overrides": {
          "description": "Things that could have overridden the policy verdict. Overrides together with verdict decide whether the request is allowed.",
          "type": "array",
          "items": {
            "enum": [
              "POLICY_VERDICT_OVERRIDE_UNSPECIFIED",
              "POLICY_OVERRIDDEN",
              "POLICY_SUSPENDED"
            ],
            "enumDescriptions": [
              "This should never happen.",
              "The policy was overridden.",
              "The policy was suspended."
            ],
            "type": "string"
          }
        },
        "targetUid": {
          "description": "Unique identifier of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy.",
          "type": "string"
        },
        "deployPolicyUid": {
          "type": "string",
          "description": "Unique identifier of the `DeployPolicy`."
        },
        "invoker": {
          "enumDescriptions": [
            "Unspecified.",
            "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
            "Automated action by Cloud Deploy."
          ],
          "type": "string",
          "description": "What invoked the action (e.g. a user or automation).",
          "enum": [
            "INVOKER_UNSPECIFIED",
            "USER",
            "DEPLOY_AUTOMATION"
          ]
        },
        "deployPolicy": {
          "description": "The name of the `DeployPolicy`.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `Delivery Pipeline`."
        },
        "message": {
          "description": "Debug message for when a deploy policy event occurs.",
          "type": "string"
        },
        "ruleType": {
          "type": "string",
          "description": "Rule type (e.g. Restrict Rollouts)."
        },
        "allowed": {
          "description": "Whether the request is allowed. Allowed is set as true if: (1) the request complies with the policy; or (2) the request doesn't comply with the policy but the policy was overridden; or (3) the request doesn't comply with the policy but the policy was suspended",
          "type": "boolean"
        },
        "deliveryPipeline": {
          "type": "string",
          "description": "The name of the `Delivery Pipeline`."
        },
        "verdict": {
          "description": "The policy verdict of the request.",
          "enum": [
            "POLICY_VERDICT_UNSPECIFIED",
            "ALLOWED_BY_POLICY",
            "DENIED_BY_POLICY"
          ],
          "enumDescriptions": [
            "This should never happen.",
            "Allowed by policy. This enum value is not currently used but may be used in the future. Currently logs are only generated when a request is denied by policy.",
            "Denied by policy."
          ],
          "type": "string"
        }
      }
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "ListRolloutsResponse is the response object returned by `ListRollouts`.",
      "type": "object",
      "properties": {
        "rollouts": {
          "type": "array",
          "items": {
            "$ref": "Rollout"
          },
          "description": "The `Rollout` objects."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CustomTargetDeployMetadata": {
      "id": "CustomTargetDeployMetadata",
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation.",
      "type": "object",
      "properties": {
        "skipMessage": {
          "type": "string",
          "description": "Output only. Skip message provided in the results of a custom deploy operation.",
          "readOnly": true
        }
      }
    },
    "ApproveRolloutResponse": {
      "id": "ApproveRolloutResponse",
      "description": "The response object from `ApproveRollout`.",
      "type": "object",
      "properties": {}
    },
    "AutomationEvent": {
      "type": "object",
      "properties": {
        "automation": {
          "type": "string",
          "description": "The name of the `AutomationRun`."
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change."
        }
      },
      "id": "AutomationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation\" Platform Log event that describes the Automation related events."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "PostdeployJobRunMetadata": {
      "id": "PostdeployJobRunMetadata",
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`.",
      "type": "object",
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        }
      }
    },
    "PolicyRule": {
      "type": "object",
      "properties": {
        "rolloutRestriction": {
          "description": "Optional. Rollout restrictions.",
          "$ref": "RolloutRestriction"
        }
      },
      "id": "PolicyRule",
      "description": "Deploy Policy rule."
    },
    "AdvanceRolloutResponse": {
      "id": "AdvanceRolloutResponse",
      "description": "The response object from `AdvanceRollout`.",
      "type": "object",
      "properties": {}
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Release": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "condition": {
          "description": "Output only. Information around the state of the Release.",
          "readOnly": true,
          "$ref": "ReleaseCondition"
        },
        "toolVersions": {
          "description": "Optional. The tool versions to use for this release and all subsequent operations involving this release. If unset, tool versions are frozen when the release is created.",
          "$ref": "ToolVersions"
        },
        "skaffoldVersion": {
          "type": "string",
          "description": "Optional. The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used."
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for all targets in this release.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "renderStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the render began.",
          "readOnly": true
        },
        "renderEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the render completed.",
          "readOnly": true
        },
        "targetRenders": {
          "type": "object",
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetRender"
          }
        },
        "skaffoldConfigUri": {
          "description": "Optional. Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "targetArtifacts": {
          "type": "object",
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetArtifact"
          }
        },
        "customTargetTypeSnapshots": {
          "description": "Output only. Snapshot of the custom target types referenced by the targets taken at release creation time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CustomTargetType"
          }
        },
        "targetSnapshots": {
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "skaffoldConfigPath": {
          "description": "Optional. Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Release`.",
          "readOnly": true,
          "type": "string"
        },
        "buildArtifacts": {
          "description": "Optional. List of artifacts to pass through to Skaffold command.",
          "type": "array",
          "items": {
            "$ref": "BuildArtifact"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Release`. Max length is 255 characters."
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Time at which the `Release` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "renderState": {
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "description": "Output only. Current state of the render operation.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Release`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`. The `release` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "abandoned": {
          "type": "boolean",
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true
        },
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "readOnly": true,
          "$ref": "DeliveryPipeline"
        }
      },
      "id": "Release",
      "description": "A `Release` resource in the Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed."
    },
    "VerifyJobRun": {
      "id": "VerifyJobRun",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "type": "object",
      "properties": {
        "eventLogPath": {
          "type": "string",
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true
        },
        "failureCause": {
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string"
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the verify failure, if available.",
          "readOnly": true
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the verify `JobRun`.",
          "readOnly": true,
          "$ref": "VerifyJobRunMetadata"
        }
      }
    },
    "PredeployJob": {
      "id": "PredeployJob",
      "description": "A predeploy Job.",
      "type": "object",
      "properties": {
        "actions": {
          "description": "Output only. The custom actions that the predeploy Job executes.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "description": "Output only. The tasks that are executed as part of the predeploy Job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        }
      }
    },
    "Strategy": {
      "id": "Strategy",
      "description": "Strategy contains deployment strategy information.",
      "type": "object",
      "properties": {
        "standard": {
          "description": "Optional. Standard deployment strategy executes a single deploy and allows verifying the deployment.",
          "$ref": "Standard"
        },
        "canary": {
          "description": "Optional. Canary deployment strategy provides progressive percentage based deployments to a Target.",
          "$ref": "Canary"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata includes information associated with a `Rollout`.",
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`.",
          "readOnly": true,
          "$ref": "CloudRunMetadata"
        },
        "automation": {
          "description": "Output only. AutomationRolloutMetadata contains the information about the interactions between Automation service and this rollout.",
          "readOnly": true,
          "$ref": "AutomationRolloutMetadata"
        },
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined `Rollout` operations.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        }
      }
    },
    "PolicyViolationDetails": {
      "id": "PolicyViolationDetails",
      "description": "Policy violation details.",
      "type": "object",
      "properties": {
        "failureMessage": {
          "type": "string",
          "description": "User readable message about why the request violated a policy. This is not intended for machine parsing."
        },
        "policy": {
          "description": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`.",
          "type": "string"
        },
        "ruleId": {
          "type": "string",
          "description": "Id of the rule that triggered the policy violation."
        }
      }
    },
    "Target": {
      "id": "Target",
      "description": "A `Target` resource in the Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "type": "object",
      "properties": {
        "anthosCluster": {
          "description": "Optional. Information specifying an Anthos Cluster.",
          "$ref": "AnthosCluster"
        },
        "associatedEntities": {
          "type": "object",
          "description": "Optional. Map of entity IDs to their associated entities. Associated entities allows specifying places other than the deployment target for specific features. For example, the Gateway API canary can be configured to deploy the HTTPRoute to a different cluster(s) than the deployment cluster using associated entities. An entity ID must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "additionalProperties": {
            "$ref": "AssociatedEntities"
          }
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for this target.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetId": {
          "type": "string",
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true
        },
        "run": {
          "description": "Optional. Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `Target`.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the `Target` was updated.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "gke": {
          "description": "Optional. Information specifying a GKE Cluster.",
          "$ref": "GkeCluster"
        },
        "multiTarget": {
          "description": "Optional. Information specifying a multiTarget.",
          "$ref": "MultiTarget"
        },
        "executionConfigs": {
          "type": "array",
          "items": {
            "$ref": "ExecutionConfig"
          },
          "description": "Optional. Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Target`. Format is `projects/{project}/locations/{location}/targets/{target}`. The `target` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "createTime": {
          "description": "Output only. Time at which the `Target` was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customTarget": {
          "description": "Optional. Information specifying a Custom Target.",
          "$ref": "CustomTarget"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Target`. Max length is 255 characters."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requireApproval": {
          "type": "boolean",
          "description": "Optional. Whether or not the `Target` requires approval."
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "TimedPromoteReleaseOperation": {
      "type": "object",
      "properties": {
        "targetId": {
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true
        },
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true,
          "type": "string"
        },
        "release": {
          "description": "Output only. The name of the release to be promoted.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "TimedPromoteReleaseOperation",
      "description": "Contains the information of an automated timed promote-release operation."
    },
    "CustomTargetType": {
      "id": "CustomTargetType",
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks.",
          "$ref": "CustomTargetTasks"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `CustomTargetType`.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "customActions": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions.",
          "$ref": "CustomTargetSkaffoldActions"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customTargetTypeId": {
          "type": "string",
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the `CustomTargetType` was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListAutomationRunsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "automationRuns": {
          "type": "array",
          "items": {
            "$ref": "AutomationRun"
          },
          "description": "The `AutomationRuns` objects."
        }
      },
      "id": "ListAutomationRunsResponse",
      "description": "The response object from `ListAutomationRuns`."
    },
    "AdvanceChildRolloutJob": {
      "type": "object",
      "properties": {},
      "id": "AdvanceChildRolloutJob",
      "description": "An advanceChildRollout Job."
    },
    "ContainerTask": {
      "id": "ContainerTask",
      "description": "This task is represented by a container that is executed in the Cloud Build execution environment.",
      "type": "object",
      "properties": {
        "args": {
          "description": "Optional. Args is the container arguments to use. This overrides the default arguments defined in the container image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "type": "object",
          "description": "Optional. Environment variables that are set in the container.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "description": "Required. Image is the container image to use."
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Command is the container entrypoint to use. This overrides the default entrypoint defined in the container image."
        }
      }
    },
    "DeployArtifact": {
      "type": "object",
      "properties": {
        "artifactUri": {
          "type": "string",
          "description": "Output only. URI of a directory containing the artifacts. All paths are relative to this location.",
          "readOnly": true
        },
        "manifestPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. File paths of the manifests applied during the deploy operation relative to the URI.",
          "readOnly": true
        }
      },
      "id": "DeployArtifact",
      "description": "The artifacts produced by a deploy operation."
    },
    "ExecutionConfig": {
      "type": "object",
      "properties": {
        "workerPool": {
          "type": "string",
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used."
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used.",
          "type": "string"
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        },
        "usages": {
          "description": "Required. Usages when this configuration should be applied.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification.",
              "Use for predeploy job execution.",
              "Use for postdeploy job execution.",
              "Use for analysis job execution."
            ],
            "type": "string",
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY",
              "PREDEPLOY",
              "POSTDEPLOY",
              "ANALYSIS"
            ]
          }
        },
        "privatePool": {
          "description": "Optional. Use private Cloud Build pool.",
          "$ref": "PrivatePool"
        },
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "executionTimeout": {
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used.",
          "type": "string",
          "format": "google-duration"
        },
        "verbose": {
          "type": "boolean",
          "description": "Optional. If true, additional logging will be enabled when running builds in this execution environment."
        }
      },
      "id": "ExecutionConfig",
      "description": "Configuration of the environment to use when calling Skaffold."
    },
    "Postdeploy": {
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the postdeploy job."
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the postdeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified."
        }
      },
      "id": "Postdeploy",
      "description": "Postdeploy contains the postdeploy job configuration information."
    },
    "Job": {
      "id": "Job",
      "description": "Job represents an operation for a `Rollout`.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of the Job.",
          "readOnly": true
        },
        "predeployJob": {
          "description": "Output only. A predeploy Job.",
          "readOnly": true,
          "$ref": "PredeployJob"
        },
        "state": {
          "description": "Output only. The current state of the Job.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "IGNORED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted.",
            "The Job was skipped.",
            "The Job was ignored."
          ]
        },
        "deployJob": {
          "description": "Output only. A deploy Job.",
          "readOnly": true,
          "$ref": "DeployJob"
        },
        "verifyJob": {
          "description": "Output only. A verify Job.",
          "readOnly": true,
          "$ref": "VerifyJob"
        },
        "skipMessage": {
          "description": "Output only. Additional information on why the Job was skipped, if available.",
          "readOnly": true,
          "type": "string"
        },
        "analysisJob": {
          "description": "Output only. An analysis Job.",
          "readOnly": true,
          "$ref": "AnalysisJob"
        },
        "advanceChildRolloutJob": {
          "description": "Output only. An advanceChildRollout Job.",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJob"
        },
        "postdeployJob": {
          "description": "Output only. A postdeploy Job.",
          "readOnly": true,
          "$ref": "PostdeployJob"
        },
        "jobRun": {
          "type": "string",
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true
        },
        "createChildRolloutJob": {
          "description": "Output only. A createChildRollout Job.",
          "readOnly": true,
          "$ref": "CreateChildRolloutJob"
        }
      }
    },
    "DeployPolicyNotificationEvent": {
      "id": "DeployPolicyNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_notification\". Platform Log event that describes the failure to send a pub/sub notification when there is a DeployPolicy status change.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a deploy policy fails to send a pub/sub notification."
        },
        "deployPolicy": {
          "type": "string",
          "description": "The name of the `DeployPolicy`."
        },
        "deployPolicyUid": {
          "description": "Unique identifier of the deploy policy.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        }
      }
    },
    "RuntimeConfig": {
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Optional. Cloud Run runtime configuration.",
          "$ref": "CloudRunConfig"
        },
        "kubernetes": {
          "description": "Optional. Kubernetes runtime configuration.",
          "$ref": "KubernetesConfig"
        }
      },
      "id": "RuntimeConfig",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy."
    },
    "SkaffoldVersion": {
      "id": "SkaffoldVersion",
      "description": "Details of a supported Skaffold version.",
      "type": "object",
      "properties": {
        "maintenanceModeTime": {
          "description": "The time at which this version of Skaffold will enter maintenance mode.",
          "type": "string",
          "format": "google-datetime"
        },
        "supportEndDate": {
          "description": "Date when this version is expected to no longer be supported.",
          "$ref": "Date"
        },
        "version": {
          "type": "string",
          "description": "Release version number. For example, \"1.20.3\"."
        },
        "supportExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this version of Skaffold will no longer be supported."
        }
      }
    },
    "TargetArtifact": {
      "id": "TargetArtifact",
      "description": "The artifacts produced by a target render operation.",
      "type": "object",
      "properties": {
        "phaseArtifacts": {
          "type": "object",
          "description": "Output only. Map from the phase ID to the phase artifacts for the `Target`.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "PhaseArtifact"
          }
        },
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI for the stable phase.",
          "readOnly": true
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location.",
          "readOnly": true,
          "type": "string"
        },
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration for the stable phase, relative to the URI.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReleaseReadyCondition": {
      "id": "ReleaseReadyCondition",
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      }
    },
    "ListDeployPoliciesResponse": {
      "id": "ListDeployPoliciesResponse",
      "description": "The response object from `ListDeployPolicies`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
[...]
