{
  "basePath": "",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20260927",
  "mtlsRootUrl": "https://cloudcommerceprocurement.mtls.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "name": "cloudcommerceprocurement",
  "id": "cloudcommerceprocurement:v1",
  "documentationLink": "https://cloud.google.com/marketplace/docs/partners/",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Commerce Partner Procurement API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "RejectAccountRequest": {
      "type": "object",
      "description": "Request message for PartnerProcurementService.RejectAccount.",
      "properties": {
        "approvalName": {
          "description": "The name of the approval being rejected. If absent and there is only one approval possible, that approval will be rejected. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional.",
          "type": "string"
        },
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      },
      "id": "RejectAccountRequest"
    },
    "ResetAccountRequest": {
      "id": "ResetAccountRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for PartnerProcurementService.ResetAccount."
    },
    "ApproveEntitlementRequest": {
      "type": "object",
      "id": "ApproveEntitlementRequest",
      "description": "Request message for [PartnerProcurementService.ApproveEntitlement[].",
      "properties": {
        "entitlementMigrated": {
          "description": "Optional. The resource name of the entitlement that was migrated, with the format `providers/{provider_id}/entitlements/{entitlement_id}`. Should only be sent when resources have been migrated from entitlement_migrated to the new entitlement. Optional.",
          "type": "string"
        },
        "properties": {
          "deprecated": true,
          "description": "Set of properties that should be associated with the entitlement. Optional.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "RejectEntitlementRequest": {
      "type": "object",
      "id": "RejectEntitlementRequest",
      "description": "Request message for PartnerProcurementService.RejectEntitlement.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Consumer": {
      "properties": {
        "project": {
          "description": "A project name with format `projects/`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Consumer",
      "description": "A resource using (consuming) this entitlement."
    },
    "ListEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "description": "The list of entitlements in this response.",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for fetching the next page."
        }
      },
      "type": "object",
      "description": "Response message for PartnerProcurementService.ListEntitlements.",
      "id": "ListEntitlementsResponse"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Represents an account that was established by the customer on the service provider's system.",
      "properties": {
        "approvals": {
          "items": {
            "$ref": "Approval"
          },
          "description": "Output only. The approvals for this account. These approvals are used to track actions that are permitted or have been completed by a customer within the context of the provider. This might include a sign up flow or a provisioning step, for example, that the provider can admit to having happened.",
          "type": "array"
        },
        "inputProperties": {
          "description": "Output only. The custom properties that were collected from the user to create this account.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "deprecated": true,
          "type": "object"
        },
        "name": {
          "description": "Output only. The resource name of the account. Account names have the form `accounts/{account_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the account. This is used to decide whether the customer is in good standing with the provider and is able to make purchases. An account might not be able to make a purchase if the billing account is suspended, for example.",
          "enumDescriptions": [
            "Default state of the account. It's only set to this value when the account is first created and has not been initialized.",
            "The customer has requested the creation of the account resource, and the provider notification message is dispatched. This state has been deprecated, as accounts now immediately transition to AccountState.ACCOUNT_ACTIVE.",
            "The account is active and ready for use. The next possible states are: - Account getting deleted: After the user invokes delete from another API."
          ],
          "enum": [
            "ACCOUNT_STATE_UNSPECIFIED",
            "ACCOUNT_ACTIVATION_REQUESTED",
            "ACCOUNT_ACTIVE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp.",
          "type": "string"
        },
        "provider": {
          "description": "Output only. The identifier of the service provider that this account was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform.",
          "type": "string"
        },
        "resellerParentBillingAccount": {
          "type": "string",
          "description": "Output only. The reseller parent billing account of the account's corresponding billing account, applicable only when the corresponding billing account is a subaccount of a reseller. Included in responses only for view: ACCOUNT_VIEW_FULL. Format: billingAccounts/{billing_account_id}"
        }
      }
    },
    "RejectEntitlementPlanChangeRequest": {
      "description": "Request message for PartnerProcurementService.RejectEntitlementPlanChange.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
        },
        "pendingPlanName": {
          "description": "Required. Name of the pending plan that is being rejected.",
          "type": "string"
        }
      },
      "id": "RejectEntitlementPlanChangeRequest"
    },
    "ApproveEntitlementPlanChangeRequest": {
      "description": "Request message for [PartnerProcurementService.ApproveEntitlementPlanChange[].",
      "properties": {
        "pendingPlanName": {
          "description": "Required. Name of the pending plan that's being approved.",
          "type": "string"
        }
      },
      "id": "ApproveEntitlementPlanChangeRequest",
      "type": "object"
    },
    "SuspendEntitlementRequest": {
      "id": "SuspendEntitlementRequest",
      "properties": {
        "reason": {
          "description": "A free-form reason string, explaining the reason for suspension request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for ParterProcurementService.SuspendEntitlement. This is not yet supported."
    },
    "ListAccountsResponse": {
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The list of accounts in this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for fetching the next page."
        }
      },
      "type": "object",
      "description": "Response message for [PartnerProcurementService.ListAccounts[].",
      "id": "ListAccountsResponse"
    },
    "Entitlement": {
      "properties": {
        "offerEndTime": {
          "type": "string",
          "description": "Output only. End time for the current term of the Offer associated with this entitlement. The value of this field can change naturally over time due to auto-renewal, even if the offer isn't changed. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, then: * If the entitlement isn't approved yet approved, and the offer has a specified end date, then this field is populated with the expected end time of the upcoming offer, in the future. Otherwise, this field is empty. * If the entitlement is approved, then this field is populated with the expected end time of the upcoming offer, in the future. This means that this field and the field offer_duration can both exist. * If the entitlement is in the state ENTITLEMENT_ACTIVE or ENTITLEMENT_PENDING_CANCELLATION, then this field is populated with the expected end time of the current offer, in the future. This field's value is set regardless of whether the offer has a specific end date or a duration. This means that this field and the field offer_duration can both exist. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE: * If the entitlement's pricing model is usage based and the associated offer is a private offer whose term has ended, then this field reflects the ACTUAL end time of the entitlement's associated offer (in the past), even though the entitlement associated with this private offer does not terminate at the end of that private offer's term. * Otherwise, this is the expected end date of the current offer, in the future. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is populated with the end time, in the past, of the latest offer that the order was associated with. If the entitlement was cancelled before any offer started, then this field is empty.",
          "format": "google-datetime",
          "readOnly": true
        },
        "orderId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The order ID of this entitlement, without any `orders/` resource name prefix."
        },
        "offerDuration": {
          "readOnly": true,
          "description": "Output only. The offer duration of the current offer, in ISO 8601 duration format. This is empty if the entitlement wasn't made using an offer, or if the offer has a specified end date instead of a duration. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, and the upcoming offer doesn't have a specified end date, then this field is populated with the duration of the upcoming offer. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVE, ENTITLEMENT_PENDING_CANCELLATION, ENTITLEMENT_PENDING_PLAN_CHANGE, or ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL, and the current offer doesn't have a specified end date, then this field contains the duration of the current offer. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_CANCELLED, and the offer doesn't have a specified end date, then this field is populated with the duration of the latest offer that the order was associated with. Otherwise, this field is empty.",
          "type": "string"
        },
        "newOfferStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the new offer becomes effective. This field is populated even if the entitlement isn't active yet. If there's no upcoming offer, the field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, this field isn't populated when the entitlement isn't yet approved. After the entitlement is approved, this field is populated with the effective time of the upcoming offer. * If the entitlement is in the state ENTITLEMENT_ACTIVE or ENTITLEMENT_PENDING_CANCELLATION, this field isn't populated. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL, this field isn't populated, because the entitlement change is waiting on approval. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE, this field is populated with the expected effective time of the upcoming offer, which is in the future. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is empty.",
          "type": "string"
        },
        "plan": {
          "type": "string",
          "description": "Output only. The identifier of the plan that was procured. Required if the product has plans."
        },
        "cancellationReason": {
          "type": "string",
          "description": "Output only. The reason the entitlement was cancelled. If this entitlement wasn't cancelled, this field is empty. Possible values include \"unknown\", \"expired\", \"user-cancelled\", \"account-closed\", \"billing-disabled\" (if the customer has manually disabled billing to their resources), \"user-aborted\", and \"migrated\" (if the entitlement has migrated across products). Values of this field are subject to change, and we recommend that you don't build your technical integration to rely on these fields.",
          "readOnly": true
        },
        "newPendingPlan": {
          "description": "Output only. The identifier of the pending new plan. Required if the product has plans and the entitlement has a pending plan change.",
          "type": "string"
        },
        "account": {
          "description": "Output only. The resource name of the account that this entitlement is based on, if any.",
          "type": "string"
        },
        "usageReportingId": {
          "type": "string",
          "description": "Output only. The consumerId to use when reporting usage through the Service Control API. See the consumerId field at [Reporting Metrics](https://cloud.google.com/service-control/reporting-metrics) for more details. This field is present only if the product has usage-based billing configured."
        },
        "quoteExternalName": {
          "readOnly": true,
          "description": "Output only. The identifier of the quote that was used to procure. Empty if the order is not purchased using a quote.",
          "type": "string"
        },
        "messageToUser": {
          "description": "Provider-supplied message that is displayed to the end user. Currently this is used to communicate progress and ETA for provisioning. This field can be updated only when a user is waiting for an action from the provider, i.e. entitlement state is EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL. This field is cleared automatically when the entitlement state changes.",
          "type": "string"
        },
        "inputProperties": {
          "description": "Output only. The custom properties that were collected from the user to create this entitlement.",
          "deprecated": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "product": {
          "description": "Output only. The identifier of the entity that was purchased. This may actually represent a product, quote, or offer. We strongly recommend that you use the following more explicit fields: productExternalName, quoteExternalName, or offer.",
          "type": "string",
          "deprecated": true
        },
        "offer": {
          "description": "Output only. The name of the offer that was procured. Field is empty if order wasn't made using an offer. Format: 'projects/{project}/services/{service}/privateOffers/{offer}' OR 'projects/{project}/services/{service}/standardOffers/{offer}', depending on whether the offer is private or public. The {service} in the name is the listing service of the offer. It could be either the product service that the offer is referencing, or a generic private offer parent service. We recommend that you don't build your integration to rely on the meaning of this {service} part. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, this field is populated with the upcoming offer. * If the entitlement is in the state ENTITLEMENT_ACTIVE, ENTITLEMENT_PENDING_CANCELLATION, ENTITLEMENT_PENDING_PLAN_CHANGE, or ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL, this field is populated with the current offer. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is populated with the latest offer that the order was associated with.",
          "readOnly": true,
          "type": "string"
        },
        "newPendingOffer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Upon a pending plan change, the name of the offer that the entitlement is switching to. Only exists if the pending plan change is moving to an offer. This field isn't populated for entitlements which aren't active yet. Format: 'projects/{project}/services/{service}/privateOffers/{offer}' OR 'projects/{project}/services/{service}/standardOffers/{offer}', depending on whether the offer is private or public. The {service} in the name is the listing service of the offer. It could be either the product service that the offer is referencing, or a generic private offer parent service. We recommend that you don't build your integration to rely on the meaning of this {service} part. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, ENTITLEMENT_ACTIVE or ENTITLEMENT_PENDING_CANCELLATION, then this field is empty. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE, then this field is populated with the upcoming offer. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this is empty."
        },
        "consumers": {
          "type": "array",
          "items": {
            "$ref": "Consumer"
          },
          "description": "Output only. The resources using this entitlement, if applicable."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the entitlement. Entitlement names have the form `providers/{provider_id}/entitlements/{entitlement_id}`."
        },
        "subscriptionEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. End time for the subscription corresponding to this entitlement.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp.",
          "type": "string"
        },
        "productExternalName": {
          "type": "string",
          "description": "Output only. The identifier of the product that was procured.",
          "readOnly": true
        },
        "entitlementBenefitIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The entitlement benefit IDs associated with the purchase.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update timestamp."
        },
        "provider": {
          "type": "string",
          "description": "Output only. The identifier of the service provider that this entitlement was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform."
        },
        "newOfferEndTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The end time of the new offer, determined from the offer's specified end date. If the offer des not have a specified end date then this field is not set. This field is populated even if the entitlement isn't active yet. If there's no upcoming offer, the field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, ENTITLEMENT_ACTIVE, or ENTITLEMENT_PENDING_CANCELLATION, then this field is empty. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE, and the upcoming offer has a specified end date, then this field is populated with the expected end time of the upcoming offer, in the future. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is empty.",
          "format": "google-datetime"
        },
        "newPendingOfferDuration": {
          "description": "Output only. The duration of the new offer, in ISO 8601 duration format. This field is populated for pending offer changes. It isn't populated for entitlements which aren't active yet. If the offer has a specified end date instead of a duration, this field is empty. * If the entitlement is in the state ENTITLEMENT_ACTIVATION_REQUESTED, ENTITLEMENT_ACTIVE, or ENTITLEMENT_PENDING_CANCELLATION, this field is empty. * If the entitlement is in the state ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL or ENTITLEMENT_PENDING_PLAN_CHANGE, and the upcoming offer doesn't have a specified end date, then this field is populated with the duration of the upcoming offer. Otherwise, this field is empty. * If the entitlement is in the state ENTITLEMENT_CANCELLED, then this field is empty.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the entitlement.",
          "type": "string",
          "enumDescriptions": [
            "Default state of the entitlement. It's only set to this value when the entitlement is first created and has not been initialized.",
            "Indicates that the entitlement has been created, but it hasn't yet become active. The entitlement remains in this state until it becomes active. If the entitlement requires provider approval, a notification is sent to the provider for the activation approval. If the provider doesn't approve, the entitlement is removed. If approved, the entitlement transitions to the EntitlementState.ENTITLEMENT_ACTIVE state after either a short processing delay or, if applicable, at the scheduled start time of the purchased offer. Plan changes aren't allowed in this state. Instead, customers are expected to cancel the corresponding order and place a new order.",
            "Indicates that the entitlement is active. The procured item is now usable and any associated billing events will start occurring. Entitlements in this state WILL renew. The analogous state for an unexpired but non-renewing entitlement is ENTITLEMENT_PENDING_CANCELLATION. In this state, the customer can decide to cancel the entitlement, which would change the state to EntitlementState.ENTITLEMENT_PENDING_CANCELLATION, and then EntitlementState.ENTITLEMENT_CANCELLED. The user can also request a change of plan, which will transition the state to EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE, and then back to EntitlementState.ENTITLEMENT_ACTIVE.",
            "Indicates that the entitlement will expire at the end of its term. This could mean the customer has elected not to renew this entitlement or the customer elected to cancel an entitlement that only expires at term end. The entitlement typically stays in this state if the entitlement/plan allows use of the underlying resource until the end of the current billing cycle. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_CANCELLED state. The resource cannot be modified during this state.",
            "Indicates that the entitlement was cancelled. The entitlement can now be deleted.",
            "Indicates that the entitlement is currently active, but there is a pending plan change that is requested by the customer. The entitlement typically stays in this state, if the entitlement/plan requires the completion of the current billing cycle before the plan can be changed. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_ACTIVE, with its plan changed.",
            "Indicates that the entitlement is currently active, but there is a plan change request pending provider approval. If the provider approves the plan change, then the entitlement will transition either to EntitlementState.ENTITLEMENT_ACTIVE or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE depending on whether current plan requires that the billing cycle completes. If the provider rejects the plan change, then the pending plan change request is removed and the entitlement stays in EntitlementState.ENTITLEMENT_ACTIVE state with the old plan.",
            "Indicates that the entitlement is suspended either by Google or provider request. This can be triggered for various external reasons (e.g. expiration of credit card on the billing account, violation of terms-of-service of the provider etc.). As such, any remediating action needs to be taken externally, before the entitlement can be activated. This is not yet supported."
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLEMENT_ACTIVATION_REQUESTED",
            "ENTITLEMENT_ACTIVE",
            "ENTITLEMENT_PENDING_CANCELLATION",
            "ENTITLEMENT_CANCELLED",
            "ENTITLEMENT_PENDING_PLAN_CHANGE",
            "ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL",
            "ENTITLEMENT_SUSPENDED"
          ]
        }
      },
      "type": "object",
      "id": "Entitlement",
      "description": "Represents a procured product of a customer."
    },
    "Approval": {
      "id": "Approval",
      "description": "An approval for some action on an account.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. An explanation for the state of the approval."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the approval."
        },
        "updateTime": {
          "type": "string",
          "description": "Optional. The last update timestamp of the approval.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Sentinel value; do not use.",
            "The approval is pending response from the provider. The approval state can transition to Account.Approval.State.APPROVED or Account.Approval.State.REJECTED.",
            "The approval has been granted by the provider.",
            "The approval has been rejected by the provider. A provider may choose to approve a previously rejected approval, so is it possible to transition to Account.Approval.State.APPROVED."
          ],
          "description": "Output only. The state of the approval.",
          "type": "string"
        }
      }
    },
    "ApproveAccountRequest": {
      "id": "ApproveAccountRequest",
      "description": "Request message for PartnerProcurementService.ApproveAccount.",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of properties that should be associated with the account. Optional."
        },
        "approvalName": {
          "description": "The name of the approval being approved. If absent and there is only one approval possible, that approval will be granted. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional.",
          "type": "string"
        },
        "reason": {
          "description": "Free form text string explaining the approval reason. Optional. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      }
    }
  },
  "canonicalName": "Cloud Commerce Partner Procurement Service",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "baseUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "version_module": true,
  "description": "Partner API for the Cloud Commerce Procurement Service.",
  "resources": {
    "providers": {
      "resources": {
        "accounts": {
          "methods": {
            "reset": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the account.",
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+/accounts/[^/]+$"
                }
              },
              "request": {
                "$ref": "ResetAccountRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reset",
              "path": "v1/{+name}:reset",
              "description": "Resets an Account and cancels all associated Entitlements. Partner can only reset accounts they own rather than customer accounts.",
              "id": "cloudcommerceprocurement.providers.accounts.reset",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "approve": {
              "request": {
                "$ref": "ApproveAccountRequest"
              },
              "path": "v1/{+name}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the account, with the format `providers/{providerId}/accounts/{accountId}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "cloudcommerceprocurement.providers.accounts.approve",
              "description": "Grants an approval on an Account.",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:approve"
            },
            "list": {
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "flatPath": "v1/providers/{providersId}/accounts",
              "id": "cloudcommerceprocurement.providers.accounts.list",
              "path": "v1/{+parent}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of entries that are requested. The default page size is 25 and the maximum page size is 200.",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^providers/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for fetching the next page.",
                  "type": "string"
                }
              },
              "description": "Lists Accounts that the provider has access to."
            },
            "get": {
              "response": {
                "$ref": "Account"
              },
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "view": {
                  "type": "string",
                  "enum": [
                    "ACCOUNT_VIEW_UNSPECIFIED",
                    "ACCOUNT_VIEW_BASIC",
                    "ACCOUNT_VIEW_FULL"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. For `GetAccount` and `ListAccounts`, they default to the BASIC view. For `ListAccounts`, it only supports the BASIC view.",
                    "Include base account information. This is the default view. All fields from Account are included except for the reseller_parent_billing_account field.",
                    "Includes all available account information, inclusive of the accounts reseller_parent_billing_account, if it's a resold account."
                  ],
                  "description": "Optional. What information to include in the response.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the account to retrieve.",
                  "location": "path",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$"
                }
              },
              "id": "cloudcommerceprocurement.providers.accounts.get",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a requested Account resource."
            },
            "reject": {
              "id": "cloudcommerceprocurement.providers.accounts.reject",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the account.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "RejectAccountRequest"
              },
              "description": "Rejects an approval on an Account.",
              "path": "v1/{+name}:reject",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reject"
            }
          }
        },
        "entitlements": {
          "methods": {
            "rejectPlanChange": {
              "path": "v1/{+name}:rejectPlanChange",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:rejectPlanChange",
              "response": {
                "$ref": "Empty"
              },
              "description": "Rejects an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to reject the plan change on the entitlement resource.",
              "request": {
                "$ref": "RejectEntitlementPlanChangeRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the entitlement.",
                  "location": "path",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string"
                }
              },
              "id": "cloudcommerceprocurement.providers.entitlements.rejectPlanChange",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "suspend": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:suspend",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the entitlement to suspend."
                }
              },
              "description": "Requests suspension of an active Entitlement. This is not yet supported.",
              "id": "cloudcommerceprocurement.providers.entitlements.suspend",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:suspend",
              "request": {
                "$ref": "SuspendEntitlementRequest"
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "reject": {
              "description": "Rejects an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to reject the creation of the entitlement resource.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "description": "Required. The resource name of the entitlement."
                }
              },
              "id": "cloudcommerceprocurement.providers.entitlements.reject",
              "request": {
                "$ref": "RejectEntitlementRequest"
              },
              "path": "v1/{+name}:reject",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:reject",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists Entitlements for which the provider has read access.",
              "path": "v1/{+parent}/entitlements",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource name.",
                  "pattern": "^providers/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "description": "The filter that can be used to limit the list request. The filter is a query string that can match a selected set of attributes with string values. For example `account=E-1234-5678-ABCD-EFGH`, `state=pending_cancellation`, and `plan!=foo-plan`. Supported query attributes are * `account` * `customer_billing_account` with value in the format of: `billingAccounts/{id}` * `product_external_name` * `quote_external_name` * `offer` * `new_pending_offer` * `plan` * `newPendingPlan` or `new_pending_plan` * `state` * `services` * `consumers.project` * `change_history.new_offer` Note that the consumers and change_history.new_offer match works on repeated structures, so equality (`consumers.project=projects/123456789`) is not supported. Set membership can be expressed with the `:` operator. For example, `consumers.project:projects/123456789` finds entitlements with at least one consumer with project field equal to `projects/123456789`. `change_history.new_offer` retrieves all entitlements that were once associated or are currently active with the offer. Also note that the state name match is case-insensitive and query can omit the prefix \"ENTITLEMENT_\". For example, `state=active` is equivalent to `state=ENTITLEMENT_ACTIVE`. If the query contains some special characters other than letters, underscore, or digits, the phrase must be quoted with double quotes. For example, `product=\"providerId:productId\"`, where the product name needs to be quoted because it contains special character colon. Queries can be combined with `AND`, `OR`, and `NOT` to form more complex queries. They can also be grouped to force a desired evaluation order. For example, `state=active AND (account=E-1234 OR account=5678) AND NOT (product=foo-product)`. Connective `AND` can be omitted between two predicates. For example `account=E-1234 state=active` is equivalent to `account=E-1234 AND state=active`.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of entries that are requested. The default page size is 200.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for fetching the next page.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListEntitlementsResponse"
              },
              "id": "cloudcommerceprocurement.providers.entitlements.list",
              "flatPath": "v1/providers/{providersId}/entitlements",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "approve": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the entitlement, with the format `providers/{providerId}/entitlements/{entitlementId}`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Approves an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to approve the creation of the entitlement resource.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}:approve",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudcommerceprocurement.providers.entitlements.approve",
              "request": {
                "$ref": "ApproveEntitlementRequest"
              }
            },
            "approvePlanChange": {
              "path": "v1/{+name}:approvePlanChange",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approvePlanChange",
              "response": {
                "$ref": "Empty"
              },
              "description": "Approves an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to approve the plan change on the entitlement resource.",
              "id": "cloudcommerceprocurement.providers.entitlements.approvePlanChange",
              "request": {
                "$ref": "ApproveEntitlementPlanChangeRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the entitlement.",
                  "required": true
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "response": {
                "$ref": "Entitlement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Gets a requested Entitlement resource.",
              "id": "cloudcommerceprocurement.providers.entitlements.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "description": "Required. The name of the entitlement to retrieve."
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The update mask that applies to the resource. See the [FieldMask definition] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask) for more details.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "description": "Required. The name of the entitlement to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an existing Entitlement.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Entitlement"
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "id": "cloudcommerceprocurement.providers.entitlements.patch",
              "request": {
                "$ref": "Entitlement"
              }
            }
          }
        }
      }
    }
  }
}