{
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "servicePath": "",
  "revision": "20260923",
  "ownerDomain": "google.com",
  "version_module": true,
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update details of a single customer",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "description": "Creates a new customer.",
                  "response": {
                    "$ref": "Customer"
                  },
                  "request": {
                    "$ref": "Customer"
                  },
                  "path": "v1beta/{+parent}/customers",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Delete details of a single customer",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                    }
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Customer"
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single customer"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1beta/{+parent}/customers",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "response": {
                        "$ref": "Workload"
                      },
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets details of a single workload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/workloads",
                      "description": "Lists customer workloads for a given customer org id",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "format": "int32"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "required": true
                        }
                      }
                    },
                    "getPartnerPermissions": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "description": "Gets the partner permissions granted for a workload",
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "getEkmConnections": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "description": "Gets the EKM connections associated with a workload",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
                        }
                      },
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "violations": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "Violation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "description": "Gets details of a single Violation.",
                          "path": "v1beta/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path"
                            }
                          }
                        },
                        "list": {
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "path": "v1beta/{+parent}/violations",
                          "httpMethod": "GET",
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "Optional. Filtering results",
                              "location": "query"
                            },
                            "interval.endTime": {
                              "type": "string",
                              "location": "query",
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "format": "int32"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "required": true
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "interval.startTime": {
                              "format": "google-datetime",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
                        }
                      }
                    },
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "deprecated": true,
                          "httpMethod": "GET",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Hint for how to order the results."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
                            }
                          }
                        }
                      },
                      "deprecated": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`"
                }
              },
              "description": "Get details of a Partner.",
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "response": {
                "$ref": "Partner"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "cloudcontrolspartner",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "schemas": {
    "Partner": {
      "description": "Message describing Partner resource",
      "id": "Partner",
      "properties": {
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "ekmSolutions": {
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "type": "array"
        },
        "operatedCloudRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "skus": {
          "description": "List of SKUs the partner is offering",
          "type": "array",
          "items": {
            "$ref": "Sku"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the resource was created",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time the resource was updated",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkloadOnboardingStep": {
      "properties": {
        "completionTime": {
          "description": "The completion time of the onboarding step.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step.",
          "type": "string"
        },
        "step": {
          "description": "The onboarding step.",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ]
        }
      },
      "type": "object",
      "id": "WorkloadOnboardingStep",
      "description": "Container for workload onboarding information."
    },
    "CustomerOnboardingStep": {
      "description": "Container for customer onboarding information",
      "id": "CustomerOnboardingStep",
      "type": "object",
      "properties": {
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "description": "The onboarding step",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ]
        },
        "startTime": {
          "description": "The starting time of the onboarding step",
          "format": "google-datetime",
          "type": "string"
        },
        "completionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The completion time of the onboarding step"
        },
        "completionState": {
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the step",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "type": "string"
        }
      }
    },
    "AccessApprovalRequest": {
      "type": "object",
      "id": "AccessApprovalRequest",
      "properties": {
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which approval was requested.",
          "format": "google-datetime"
        },
        "requestedExpirationTime": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Details about the Access request."
    },
    "Remediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "id": "Remediation",
      "properties": {
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instructions": {
          "$ref": "Instructions",
          "description": "Required. Remediation instructions to resolve violations"
        },
        "remediationType": {
          "readOnly": true,
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "type": "string",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ]
        }
      },
      "type": "object"
    },
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Console"
    },
    "PartnerPermissions": {
      "description": "The permissions granted to the partner for a workload",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "description": "The partner permissions granted for the workload",
          "items": {
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PartnerPermissions",
      "type": "object"
    },
    "Instructions": {
      "type": "object",
      "id": "Instructions",
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        }
      }
    },
    "Workload": {
      "id": "Workload",
      "properties": {
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the resource was created."
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "workloadOnboardingState": {
          "$ref": "WorkloadOnboardingState",
          "description": "Container for workload onboarding steps."
        },
        "folderId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Folder id this workload is associated with",
          "type": "string"
        },
        "folder": {
          "type": "string",
          "description": "Output only. The name of container folder of the assured workload",
          "readOnly": true
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload.",
          "type": "string"
        }
      },
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "type": "object"
    },
    "ListCustomersResponse": {
      "type": "object",
      "description": "Response message for list customer Customers requests",
      "properties": {
        "customers": {
          "description": "List of customers",
          "items": {
            "$ref": "Customer"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListCustomersResponse"
    },
    "ListViolationsResponse": {
      "description": "Response message for list customer violation requests",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217"
        },
        "violations": {
          "description": "List of violation",
          "items": {
            "$ref": "Violation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListViolationsResponse"
    },
    "EkmConnections": {
      "description": "The EKM connections associated with a workload",
      "id": "EkmConnections",
      "properties": {
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "items": {
            "$ref": "EkmConnection"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerOnboardingState": {
      "description": "Container for customer onboarding steps",
      "id": "CustomerOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "type": "array",
          "description": "List of customer onboarding steps"
        }
      }
    },
    "EkmConnection": {
      "type": "object",
      "id": "EkmConnection",
      "properties": {
        "connectionState": {
          "description": "Output only. The connection state",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "type": "string"
        },
        "connectionError": {
          "$ref": "ConnectionError",
          "description": "The connection error that occurred if any"
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        }
      },
      "description": "Details about the EKM connection"
    },
    "Violation": {
      "type": "object",
      "id": "Violation",
      "description": "Details of resource Violation",
      "properties": {
        "beginTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string"
        },
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "description": "Output only. State of the violation",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "readOnly": true
        },
        "folderId": {
          "type": "string",
          "format": "int64",
          "description": "The folder_id of the violation"
        },
        "category": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string"
        }
      }
    },
    "Customer": {
      "properties": {
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "customerOnboardingState": {
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps",
          "$ref": "CustomerOnboardingState"
        },
        "isOnboarded": {
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "type": "boolean",
          "readOnly": true
        },
        "organizationDomain": {
          "type": "string",
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
        }
      },
      "type": "object",
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "id": "Customer"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "EkmMetadata": {
      "id": "EkmMetadata",
      "properties": {
        "ekmEndpointUri": {
          "type": "string",
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation."
        },
        "ekmSolution": {
          "description": "The Cloud EKM partner.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ]
        }
      },
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "type": "object"
    },
    "AccessReason": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ]
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "id": "AccessReason",
      "description": "Reason for the access."
    },
    "ConnectionError": {
      "type": "object",
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "properties": {
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        },
        "errorDomain": {
          "type": "string",
          "description": "The error domain for the error"
        }
      },
      "id": "ConnectionError"
    },
    "ListAccessApprovalRequestsResponse": {
      "description": "Response message for list access requests.",
      "properties": {
        "accessApprovalRequests": {
          "description": "List of access approval requests",
          "type": "array",
          "items": {
            "$ref": "AccessApprovalRequest"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListAccessApprovalRequestsResponse"
    },
    "Sku": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions."
        },
        "id": {
          "type": "string",
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services."
        }
      },
      "id": "Sku",
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "type": "object"
    },
    "WorkloadOnboardingState": {
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "description": "List of workload onboarding steps.",
          "type": "array"
        }
      },
      "description": "Container for workload onboarding steps.",
      "type": "object",
      "id": "WorkloadOnboardingState"
    },
    "Gcloud": {
      "id": "Gcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object",
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Gcloud command to resolve violation"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        }
      }
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "type": "object",
      "properties": {
        "workloads": {
          "description": "List of customer workloads",
          "type": "array",
          "items": {
            "$ref": "Workload"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListWorkloadsResponse"
    }
  },
  "protocol": "rest",
  "id": "cloudcontrolspartner:v1beta",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Cloud Controls Partner Service",
  "batchPath": "batch",
  "title": "Cloud Controls Partner API"
}