{
  "version_module": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "name": "cloudbuild",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "version": "v2",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "revision": "20260814",
  "basePath": "",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "title": "Cloud Build API",
  "endpoints": [
    {
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "canonicalName": "Cloud Build",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "resources": {
                "repositories": {
                  "methods": {
                    "batchCreate": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "description": "Creates multiple repositories inside a connection.",
                      "path": "v2/{+parent}/repositories:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string"
                        },
                        "etag": {
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "If set, validate the request, but do not actually post it.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single repository.",
                      "id": "cloudbuild.projects.locations.connections.repositories.delete",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "description": "Creates a Repository.",
                      "path": "v2/{+parent}/repositories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.create",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        },
                        "repositoryId": {
                          "type": "string",
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Repository"
                      }
                    },
                    "accessReadToken": {
                      "path": "v2/{+repository}:accessReadToken",
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetches read token of a given repository.",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "parameters": {
                        "repository": {
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      }
                    },
                    "fetchGitRefs": {
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+repository}:fetchGitRefs",
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "parameters": {
                        "repository": {
                          "type": "string",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page start."
                        },
                        "refType": {
                          "type": "string",
                          "description": "Type of refs to fetch",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ],
                          "location": "query",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ]
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "accessReadWriteToken": {
                      "path": "v2/{+repository}:accessReadWriteToken",
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetches read/write token of a given repository.",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "parameters": {
                        "repository": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Number of results to return in the list.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page start.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      },
                      "description": "Lists Repositories in a given connection.",
                      "path": "v2/{+parent}/repositories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.list",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories"
                    },
                    "get": {
                      "id": "cloudbuild.projects.locations.connections.repositories.get",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single repository.",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`."
                        }
                      },
                      "response": {
                        "$ref": "Repository"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "description": "Lists Connections in a given project and location.",
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.connections.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page start.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Number of results to return in the list.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  }
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "path": "v2/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "processWebhook": {
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook",
                  "description": "ProcessWebhook is called by the external SCM for notifying of events.",
                  "path": "v2/{+parent}/connections:processWebhook",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "webhookKey": {
                      "location": "query",
                      "description": "Arbitrary additional key to find the matching repository for a webhook event if needed.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "httpMethod": "POST"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "path": "v2/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST"
                },
                "getIamPolicy": {
                  "path": "v2/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "connectionId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Connection"
                  },
                  "description": "Creates a Connection.",
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Connection"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single connection."
                },
                "patch": {
                  "description": "Updates a single connection.",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to be updated."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    },
                    "name": {
                      "type": "string",
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "etag": {
                      "type": "string",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Connection"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned."
                    },
                    "validateOnly": {
                      "description": "If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}"
                },
                "fetchLinkableRepositories": {
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "path": "v2/{+connection}:fetchLinkableRepositories",
                  "parameterOrder": [
                    "connection"
                  ],
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Page start.",
                      "location": "query",
                      "type": "string"
                    },
                    "connection": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Number of results to return in the list. Default to 20.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v2/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.locations.list",
              "flatPath": "v2/projects/{projectsId}/locations",
              "path": "v2/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "id": "cloudbuild.projects.locations.get",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Worker": {
      "id": "Worker",
      "description": "Configuration for the worker.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\".",
          "type": "string"
        }
      }
    },
    "FetchLinkableRepositoriesResponse": {
      "description": "Response message for FetchLinkableRepositories.",
      "id": "FetchLinkableRepositoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "repositories ready to be created."
        }
      }
    },
    "StepTemplate": {
      "type": "object",
      "properties": {
        "env": {
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Optional. Pod volumes to mount into the container's filesystem."
        }
      },
      "id": "StepTemplate",
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container."
    },
    "FetchGitRefsResponse": {
      "type": "object",
      "properties": {
        "refNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response for fetching git refs",
      "id": "FetchGitRefsResponse"
    },
    "TaskResult": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result.",
          "$ref": "ParamValue"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PropertySpec"
          },
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds."
        },
        "name": {
          "description": "Name of the result.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the result."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "The type of data that the result holds."
        }
      },
      "id": "TaskResult",
      "description": "TaskResult is used to describe the results of a task."
    },
    "ResultValue": {
      "description": "ResultValue holds different types of data for a single result.",
      "id": "ResultValue",
      "type": "object",
      "properties": {
        "arrayVal": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Value of the result if type is array."
        },
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "stringVal": {
          "type": "string",
          "description": "Value of the result if type is string."
        },
        "objectVal": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Value of the result if type is object."
        }
      }
    },
    "FetchReadTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Message for responding to get read token.",
      "id": "FetchReadTokenResponse"
    },
    "BitbucketDataCenterConfig": {
      "type": "object",
      "properties": {
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "readAuthorizerCredential": {
          "description": "Required. A http access token with the `REPO_READ` access.",
          "$ref": "UserCredential"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for."
        },
        "authorizerCredential": {
          "description": "Required. A http access token with the `REPO_ADMIN` scope access.",
          "$ref": "UserCredential"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to Bitbucket Data Center."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "TimeoutFields": {
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "id": "TimeoutFields",
      "type": "object",
      "properties": {
        "pipeline": {
          "format": "google-duration",
          "type": "string",
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value."
        },
        "tasks": {
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks",
          "format": "google-duration",
          "type": "string"
        },
        "finally": {
          "description": "Finally sets the maximum allowed duration of this pipeline's finally",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Repository": {
      "type": "object",
      "properties": {
        "webhookId": {
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "remoteUri": {
          "type": "string",
          "description": "Required. Git Clone HTTPS URI."
        }
      },
      "id": "Repository",
      "description": "A repository associated to a parent connection."
    },
    "ParamSpec": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        },
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "default": {
          "description": "The default value a parameter takes if no input value is supplied",
          "$ref": "ParamValue"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type.",
            "Object type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Type of ParamSpec"
        }
      },
      "id": "ParamSpec",
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun."
    },
    "EmbeddedTask": {
      "id": "EmbeddedTask",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "type": "object",
      "properties": {
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "TaskSpec"
        },
        "annotations": {
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "HttpBody": {
      "type": "object",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        }
      },
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "PipelineWorkspaceDeclaration": {
      "type": "object",
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required."
        },
        "description": {
          "type": "string",
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline."
        },
        "name": {
          "type": "string",
          "description": "Name is the name of a workspace to be provided by a PipelineRun."
        }
      },
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
      "id": "PipelineWorkspaceDeclaration"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2Condition": {
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the condition's last transition."
        },
        "status": {
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ],
          "description": "Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ]
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
        },
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        },
        "type": {
          "description": "Type of condition.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ],
          "description": "Severity with which to treat failures of this type of condition."
        }
      }
    },
    "TaskSpec": {
      "type": "object",
      "properties": {
        "steps": {
          "description": "Steps of the task.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "VolumeSource"
          },
          "description": "A collection of volumes that are available to mount into steps."
        },
        "description": {
          "type": "string",
          "description": "Description of the task."
        },
        "sidecars": {
          "description": "Sidecars that run alongside the Task's step containers.",
          "type": "array",
          "items": {
            "$ref": "Sidecar"
          }
        },
        "managedSidecars": {
          "description": "Sidecars that run alongside the Task’s step containers that should be added to this Task.",
          "type": "array",
          "items": {
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ]
          }
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "WorkspaceDeclaration"
          },
          "description": "The volumes that this Task requires."
        },
        "stepTemplate": {
          "description": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
          "$ref": "StepTemplate"
        },
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "TaskResult"
          },
          "description": "Values that this Task can output."
        }
      },
      "id": "TaskSpec",
      "description": "TaskSpec contains the Spec to instantiate a TaskRun."
    },
    "EmptyDirVolumeSource": {
      "id": "EmptyDirVolumeSource",
      "description": "Represents an empty Volume source.",
      "type": "object",
      "properties": {}
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "description": "Message for response to listing Repositories.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "The list of Repositories."
        }
      }
    },
    "WorkspacePipelineTaskBinding": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the workspace as declared by the task.",
          "type": "string"
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace declared by the pipeline."
        },
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        }
      },
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "id": "WorkspacePipelineTaskBinding"
    },
    "Provenance": {
      "description": "Provenance configuration.",
      "id": "Provenance",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "string",
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ],
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "description": "Optional. Provenance push mode."
        },
        "storage": {
          "type": "string",
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "description": "Optional. Where provenance is stored.",
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ]
        },
        "region": {
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "description": "Optional. Provenance region.",
          "type": "string",
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ]
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "PipelineRunResult": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the TaskRun"
        },
        "value": {
          "readOnly": true,
          "description": "Output only. Value of the result.",
          "$ref": "ResultValue"
        }
      },
      "id": "PipelineRunResult",
      "description": "PipelineRunResult used to describe the results of a pipeline"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "WhenExpression": {
      "type": "object",
      "properties": {
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        },
        "values": {
          "description": "Values is an array of strings, which is compared against the input, for guard checking.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expressionOperator": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ],
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "Operator that represents an Input's relationship to the values"
        }
      },
      "description": "Conditions that need to be true for the task to run.",
      "id": "WhenExpression"
    },
    "WorkspaceDeclaration": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the name by which you can bind the volume at runtime.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description is a human readable description of this volume."
        },
        "mountPath": {
          "description": "MountPath overrides the directory that the volume will be made available at.",
          "type": "string"
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        },
        "optional": {
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        }
      },
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "id": "WorkspaceDeclaration"
    },
    "Security": {
      "description": "Security configuration.",
      "id": "Security",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at runtime."
        },
        "privilegeMode": {
          "description": "Optional. Privilege mode.",
          "type": "string",
          "deprecated": true,
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ]
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection."
    },
    "PropertySpec": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ],
          "description": "A type for the object.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ]
        }
      },
      "id": "PropertySpec",
      "description": "PropertySpec holds information about a property in an object."
    },
    "ChildStatusReference": {
      "id": "ChildStatusReference",
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. Type of the child reference.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ]
        },
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        },
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        },
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask"
        }
      }
    },
    "CreateRepositoryRequest": {
      "description": "Message for creating a Repository.",
      "id": "CreateRepositoryRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there."
        },
        "repository": {
          "description": "Required. The repository to create.",
          "$ref": "Repository"
        },
        "repositoryId": {
          "type": "string",
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@."
        }
      }
    },
    "StepRef": {
      "description": "A reference to a remote Step, i.e. a StepAction.",
      "id": "StepRef",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the step."
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Optional. Parameters used to control the resolution."
        },
        "resolver": {
          "description": "Optional. Type of the resolver.",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ]
        }
      }
    },
    "PipelineSpec": {
      "type": "object",
      "properties": {
        "tasks": {
          "description": "List of Tasks that execute when this Pipeline is run.",
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          },
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
        },
        "finallyTasks": {
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "generatedYaml": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows."
        },
        "results": {
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "type": "array",
          "items": {
            "$ref": "PipelineResult"
          },
          "readOnly": true
        },
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        }
      },
      "id": "PipelineSpec",
      "description": "PipelineSpec defines the desired state of Pipeline."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "PipelineRef": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the Pipeline.",
          "type": "string"
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver."
        },
        "resolver": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        }
      },
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "id": "PipelineRef"
    },
    "BatchCreateRepositoriesResponse": {
      "type": "object",
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "Repository resources created."
        }
      },
      "id": "BatchCreateRepositoriesResponse",
      "description": "Message for response of creating repositories in batch."
    },
    "GitHubConfig": {
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. GitHub App installation id."
        }
      },
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com."
    },
    "BatchCreateRepositoriesRequest": {
      "description": "Message for creating repositoritories in batch.",
      "id": "BatchCreateRepositoriesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the repositories to create.",
          "type": "array",
          "items": {
            "$ref": "CreateRepositoryRequest"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "SecretVolumeSource": {
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "secretName": {
          "type": "string",
          "description": "Name of the secret referenced by the WorkspaceBinding."
        }
      },
      "id": "SecretVolumeSource",
      "description": "Secret Volume Source."
    },
    "Param": {
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "id": "Param",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        }
      }
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "description": "Message for responding to get read/write token.",
      "id": "FetchReadWriteTokenResponse"
    },
    "Connection": {
      "type": "object",
      "properties": {
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was created."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "$ref": "InstallationState",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated."
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to Bitbucket Cloud.",
          "$ref": "BitbucketCloudConfig"
        }
      },
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "id": "Connection"
    },
    "WorkspaceBinding": {
      "type": "object",
      "properties": {
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        },
        "name": {
          "description": "Name of the workspace.",
          "type": "string"
        },
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        }
      },
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "id": "WorkspaceBinding"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "EnvVar": {
      "description": "Environment variable.",
      "id": "EnvVar",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the environment variable."
        },
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections.",
      "type": "object",
      "properties": {
        "connections": {
          "description": "The list of Connections.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "OAuthCredential": {
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Output only. The username associated to this token.",
          "type": "string",
          "readOnly": true
        },
        "oauthTokenSecretVersion": {
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "Step": {
      "type": "object",
      "properties": {
        "ref": {
          "description": "Optional. Optional reference to a remote StepAction.",
          "$ref": "StepRef"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem."
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Optional. Optional parameters passed to the StepAction."
        },
        "command": {
          "description": "Entrypoint array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeout": {
          "description": "Time after which the Step times out. Defaults to never.",
          "format": "google-duration",
          "type": "string"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory."
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint."
        },
        "image": {
          "type": "string",
          "description": "Docker image name."
        },
        "securityContext": {
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional",
          "$ref": "SecurityContext"
        },
        "onError": {
          "enum": [
            "ON_ERROR_TYPE_UNSPECIFIED",
            "STOP_AND_FAIL",
            "CONTINUE"
          ],
          "description": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "StopAndFail indicates exit if the step/task exits with non-zero exit code",
            "Continue indicates continue executing the rest of the steps/tasks irrespective of the exit code"
          ]
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        }
      },
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "id": "Step"
    },
    "InstallationState": {
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "id": "InstallationState",
      "type": "object",
      "properties": {
        "stage": {
          "type": "string",
[...]
