{
  "discoveryVersion": "v1",
  "resources": {
    "operations": {
      "methods": {
        "cancel": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "httpMethod": "POST",
          "path": "v1/{+name}:cancel",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string"
            }
          },
          "id": "cloudbuild.operations.cancel"
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "id": "cloudbuild.operations.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "v1": {
      "methods": {
        "webhook": {
          "description": "ReceiveWebhook is called when the API receives a GitHub webhook.",
          "flatPath": "v1/webhook",
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudbuild.webhook",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "HttpBody"
          },
          "path": "v1/webhook"
        }
      }
    },
    "projects": {
      "resources": {
        "triggers": {
          "methods": {
            "run": {
              "id": "cloudbuild.projects.triggers.run",
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true
                },
                "triggerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the trigger."
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RepoSource"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "cloudbuild.projects.triggers.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "description": "Returns information about a `BuildTrigger`.",
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project for which to configure automatic builds."
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "path": "v1/projects/{projectId}/triggers",
              "id": "cloudbuild.projects.triggers.create",
              "request": {
                "$ref": "BuildTrigger"
              },
              "description": "Creates a new `BuildTrigger`.",
              "httpMethod": "POST",
              "response": {
                "$ref": "BuildTrigger"
              }
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "parameters": {
                "name": {
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true
                },
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to delete."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "httpMethod": "DELETE",
              "id": "cloudbuild.projects.triggers.delete"
            },
            "patch": {
              "response": {
                "$ref": "BuildTrigger"
              },
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true
                },
                "triggerId": {
                  "location": "path",
                  "description": "Required. ID of the `BuildTrigger` to update.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "id": "cloudbuild.projects.triggers.patch",
              "request": {
                "$ref": "BuildTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "httpMethod": "PATCH"
            },
            "webhook": {
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "Project in which the specified trigger lives",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "trigger": {
                  "type": "string",
                  "required": true,
                  "description": "Name of the trigger to run the payload against",
                  "location": "path"
                },
                "secret": {
                  "location": "query",
                  "type": "string",
                  "description": "Secret token used for authorization if an OAuth token isn't provided."
                },
                "name": {
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "cloudbuild.projects.triggers.webhook",
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "request": {
                "$ref": "HttpBody"
              }
            },
            "list": {
              "path": "v1/projects/{projectId}/triggers",
              "description": "Lists existing `BuildTrigger`s.",
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Number of results to return in the list.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project for which to list BuildTriggers."
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "query",
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "cloudbuild.projects.triggers.list",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/triggers"
            }
          }
        },
        "locations": {
          "resources": {
            "builds": {
              "methods": {
                "retry": {
                  "request": {
                    "$ref": "RetryBuildRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:retry",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of results to return in the list.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The raw filter text to constrain the results.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "path": "v1/{+parent}/builds",
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.builds.list"
                },
                "approve": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\""
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ApproveBuildRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
                  "path": "v1/{+name}:approve",
                  "httpMethod": "POST"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Build"
                  },
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "cloudbuild.projects.locations.builds.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Build"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "id": {
                      "description": "Required. ID of the build.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "id": "cloudbuild.projects.locations.builds.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "request": {
                    "$ref": "Build"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/builds"
                }
              }
            },
            "triggers": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "path": "v1/{+name}",
                  "description": "Returns information about a `BuildTrigger`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "triggerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}"
                },
                "patch": {
                  "path": "v1/{+resourceName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string"
                    },
                    "resourceName": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to update.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
                  "response": {
                    "$ref": "BuildTrigger"
                  }
                },
                "run": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:run",
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  }
                },
                "webhook": {
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "httpMethod": "POST",
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "path": "v1/{+name}:webhook",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    },
                    "projectId": {
                      "description": "Project in which the specified trigger lives",
                      "location": "query",
                      "type": "string"
                    },
                    "secret": {
                      "description": "Secret token used for authorization if an OAuth token isn't provided.",
                      "type": "string",
                      "location": "query"
                    },
                    "trigger": {
                      "location": "query",
                      "type": "string",
                      "description": "Name of the trigger to run the payload against"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "description": "Creates a new `BuildTrigger`.",
                  "path": "v1/{+parent}/triggers",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`"
                    },
                    "projectId": {
                      "description": "Required. ID of the project for which to configure automatic builds.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BuildTrigger"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "triggerId": {
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  },
                  "id": "cloudbuild.projects.locations.triggers.list",
                  "description": "Lists existing `BuildTrigger`s.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Number of results to return in the list."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/triggers"
                }
              }
            },
            "workerPools": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists `WorkerPool`s.",
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "path": "v1/{+parent}/workerPools",
                  "response": {
                    "$ref": "ListWorkerPoolsResponse"
                  }
                },
                "patch": {
                  "description": "Updates a `WorkerPool`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. A mask specifying which fields in `worker_pool` to update.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "WorkerPool"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "WorkerPool"
                  },
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "description": "Returns details of a `WorkerPool`.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}"
                },
                "create": {
                  "description": "Creates a `WorkerPool`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/workerPools",
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request and preview the response, but do not actually post it."
                    },
                    "workerPoolId": {
                      "type": "string",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "WorkerPool"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed."
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a `WorkerPool`.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "id": "cloudbuild.projects.locations.workerPools.delete"
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "githubEnterpriseConfigs": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.patch",
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "description": "Update an association between a GCP project and a GitHub Enterprise server.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.create",
                  "description": "Create an association between a GCP project and a GitHub Enterprise server.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "gheConfigId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "query",
                      "deprecated": true,
                      "type": "string",
                      "description": "ID of the project."
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.delete",
                  "parameters": {
                    "projectId": {
                      "description": "ID of the project",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "configId": {
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "type": "string",
                      "location": "query",
                      "deprecated": true
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListGithubEnterpriseConfigsResponse"
                  },
                  "description": "List all GitHubEnterpriseConfigs for a given project.",
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.list",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "ID of the project",
                      "deprecated": true,
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "httpMethod": "GET",
                  "description": "Retrieve a GitHubEnterpriseConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "configId": {
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "deprecated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "deprecated": true,
                      "description": "ID of the project",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}"
                }
              }
            },
            "bitbucketServerConfigs": {
              "methods": {
                "patch": {
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "description": "Identifier. The resource name for the config.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed."
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListBitbucketServerConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create",
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "bitbucketServerConfigId": {
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The config resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "description": "Required. The config resource name.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "BitbucketServerConfig"
                  }
                },
                "removeBitbucketServerConnectedRepository": {
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository",
                  "parameters": {
                    "config": {
                      "required": true,
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RemoveBitbucketServerConnectedRepositoryRequest"
                  }
                }
              },
              "resources": {
                "repos": {
                  "methods": {
                    "list": {
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "path": "v1/{+parent}/repos",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "description": "Required. Name of the parent resource.",
                          "required": true
                        }
                      },
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListBitbucketServerRepositoriesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build.",
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getDefaultServiceAccount": {
              "response": {
                "$ref": "DefaultServiceAccount"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/defaultServiceAccount$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the `DefaultServiceAccount` to retrieve. Format: `projects/{project}/locations/{location}/defaultServiceAccount`",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/defaultServiceAccount",
              "id": "cloudbuild.projects.locations.getDefaultServiceAccount",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the `DefaultServiceAccount` used by the project."
            }
          }
        },
        "githubEnterpriseConfigs": {
          "methods": {
            "create": {
              "id": "cloudbuild.projects.githubEnterpriseConfigs.create",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "projectId": {
                  "deprecated": true,
                  "description": "ID of the project.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "required": true
                },
                "gheConfigId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "description": "Create an association between a GCP project and a GitHub Enterprise server."
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.delete",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "deprecated": true,
                  "location": "query",
                  "description": "ID of the project"
                },
                "configId": {
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "type": "string",
                  "deprecated": true,
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "required": true,
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}"
            },
            "get": {
              "description": "Retrieve a GitHubEnterpriseConfig.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "projectId": {
                  "deprecated": true,
                  "description": "ID of the project",
                  "type": "string",
                  "location": "query"
                },
                "configId": {
                  "type": "string",
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "deprecated": true,
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$"
                }
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.get",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListGithubEnterpriseConfigsResponse"
              },
              "parameters": {
                "projectId": {
                  "description": "ID of the project",
                  "type": "string",
                  "deprecated": true,
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "required": true
                }
              },
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "description": "List all GitHubEnterpriseConfigs for a given project.",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.patch",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "Update an association between a GCP project and a GitHub Enterprise server.",
              "parameters": {
                "updateMask": {
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "builds": {
          "methods": {
            "retry": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "httpMethod": "POST",
              "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project."
                },
                "id": {
                  "description": "Required. Build ID of the original build.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "request": {
                "$ref": "RetryBuildRequest"
              },
              "id": "cloudbuild.projects.builds.retry"
            },
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project.",
                  "location": "path"
                }
              },
              "path": "v1/projects/{projectId}/builds",
              "request": {
                "$ref": "Build"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "id": "cloudbuild.projects.builds.create",
              "flatPath": "v1/projects/{projectId}/builds",
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/projects/{projectId}/builds",
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "id": "cloudbuild.projects.builds.list",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "description": "The raw filter text to constrain the results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Number of results to return in the list.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more."
                },
                "parent": {
                  "location": "query",
                  "type": "string",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project."
                }
              },
              "flatPath": "v1/projects/{projectId}/builds"
            },
            "approve": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveBuildRequest"
              },
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
              "path": "v1/{+name}:approve",
              "parameters": {
                "name": {
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                  "pattern": "^projects/[^/]+/builds/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "cloudbuild.projects.builds.approve",
              "response": {
                "$ref": "Operation"
              }
            },
            "cancel": {
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "response": {
                "$ref": "Build"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "id": {
                  "description": "Required. ID of the build.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
              "httpMethod": "POST",
              "id": "cloudbuild.projects.builds.cancel",
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "path": "v1/projects/{projectId}/builds/{id}:cancel"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
              "response": {
                "$ref": "Build"
              },
              "path": "v1/projects/{projectId}/builds/{id}",
              "id": "cloudbuild.projects.builds.get",
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "type": "string",
                  "location": "query"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the build.",
                  "location": "path"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project."
                }
              }
            }
          }
        }
      }
    },
    "locations": {
      "methods": {
        "regionalWebhook": {
          "httpMethod": "POST",
          "flatPath": "v1/locations/{locationsId}/regionalWebhook",
          "parameterOrder": [
            "location"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "ReceiveRegionalWebhook is called when the API receives a regional GitHub webhook.",
          "path": "v1/{+location}/regionalWebhook",
          "id": "cloudbuild.locations.regionalWebhook",
          "request": {
            "$ref": "HttpBody"
          },
          "parameters": {
            "location": {
              "description": "Required. The location where the webhook should be sent.",
              "pattern": "^locations/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "webhookKey": {
              "type": "string",
              "location": "query",
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation."
            }
          }
        }
      }
    },
    "githubDotComWebhook": {
      "methods": {
        "receive": {
          "path": "v1/githubDotComWebhook:receive",
          "httpMethod": "POST",
          "request": {
            "$ref": "HttpBody"
          },
          "flatPath": "v1/githubDotComWebhook:receive",
          "id": "cloudbuild.githubDotComWebhook.receive",
          "description": "ReceiveGitHubDotComWebhook is called when the API receives a github.com webhook.",
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          }
        }
      }
    }
  },
  "name": "cloudbuild",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "title": "Cloud Build API",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "revision": "20260918",
  "protocol": "rest",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudbuild:v1",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "ownerDomain": "google.com",
  "schemas": {
    "BatchCreateBitbucketServerConnectedRepositoriesResponseMetadata": {
      "id": "BatchCreateBitbucketServerConnectedRepositoriesResponseMetadata",
      "description": "Metadata for `BatchCreateBitbucketServerConnectedRepositories` operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was created."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "config": {
          "type": "string",
          "description": "The name of the `BitbucketServerConfig` that added connected repositories. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`"
        }
      }
    },
    "ArtifactObjects": {
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "type": "object",
      "id": "ArtifactObjects",
      "properties": {
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timing": {
          "readOnly": true,
[...]
