{
  "revision": "20260901",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Cloudbilling",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "id": "cloudbilling:v1",
  "name": "cloudbilling",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "batchPath": "batch",
  "resources": {
    "organizations": {
      "resources": {
        "billingAccounts": {
          "methods": {
            "create": {
              "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
              "path": "v1/{+parent}/billingAccounts",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "id": "cloudbilling.organizations.billingAccounts.create",
              "request": {
                "$ref": "BillingAccount"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BillingAccount"
              },
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts",
              "response": {
                "$ref": "ListBillingAccountsResponse"
              },
              "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/billingAccounts",
              "id": "cloudbilling.organizations.billingAccounts.list",
              "httpMethod": "GET"
            },
            "move": {
              "id": "cloudbilling.organizations.billingAccounts.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "destinationParent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`.",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account."
                }
              },
              "description": "Changes which parent organization a billing account belongs to.",
              "response": {
                "$ref": "BillingAccount"
              },
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts/{billingAccountsId}:move",
              "path": "v1/{+destinationParent}/{+name}:move",
              "httpMethod": "GET",
              "parameterOrder": [
                "destinationParent",
                "name"
              ]
            }
          }
        }
      }
    },
    "tasks": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Get the current state of a task from the agent.",
          "path": "v1/{+name}",
          "flatPath": "v1/tasks/{tasksId}",
          "id": "cloudbilling.tasks.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Task"
          },
          "parameters": {
            "name": {
              "pattern": "^tasks/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the task. Format: tasks/{task_id}",
              "required": true
            },
            "historyLength": {
              "type": "integer",
              "format": "int32",
              "description": "The number of most recent messages from the task's history to retrieve.",
              "location": "query"
            },
            "tenant": {
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "description": "Cancel a task from the agent. If supported one should expect no more task updates for the task.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelTaskRequest"
          },
          "id": "cloudbilling.tasks.cancel",
          "path": "v1/{+name}:cancel",
          "response": {
            "$ref": "Task"
          },
          "flatPath": "v1/tasks/{tasksId}:cancel",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^tasks/[^/]+$",
              "required": true,
              "location": "path",
              "description": "The resource name of the task to cancel. Format: tasks/{task_id}"
            }
          }
        },
        "subscribe": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name of the task to subscribe to. Format: tasks/{task_id}",
              "pattern": "^tasks/[^/]+$",
              "type": "string"
            },
            "tenant": {
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
              "type": "string"
            }
          },
          "description": "TaskSubscription is a streaming call that will return a stream of task update events. This attaches the stream to an existing in process task. If the task is complete the stream will return the completed task (like GetTask) and close the stream.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "cloudbilling.tasks.subscribe",
          "path": "v1/{+name}:subscribe",
          "response": {
            "$ref": "StreamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/tasks/{tasksId}:subscribe"
        }
      },
      "resources": {
        "pushNotificationConfigs": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Get a push notification config for a task.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "tenant": {
                  "location": "query",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "description": "The resource name of the config to retrieve. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                  "required": true
                }
              },
              "id": "cloudbilling.tasks.pushNotificationConfigs.get"
            },
            "list": {
              "path": "v1/{+parent}/pushNotificationConfigs",
              "id": "cloudbilling.tasks.pushNotificationConfigs.list",
              "parameters": {
                "tenant": {
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from a previous ListTaskPushNotificationConfigRequest call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTaskPushNotificationConfigRequest` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "For AIP-158 these fields are present. Usually not used/needed. The maximum number of configurations to return. If unspecified, all configs will be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "The parent task resource. Format: tasks/{task_id}",
                  "pattern": "^tasks/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTaskPushNotificationConfigResponse"
              },
              "description": "Get a list of push notifications configured for a task.",
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete a push notification config for a task.",
              "id": "cloudbilling.tasks.pushNotificationConfigs.delete",
              "path": "v1/{+name}",
              "parameters": {
                "tenant": {
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the config to delete. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}"
                }
              }
            },
            "create": {
              "id": "cloudbilling.tasks.pushNotificationConfigs.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent task resource for this config. Format: tasks/{task_id}"
                },
                "configId": {
                  "description": "Required. The ID for the new config.",
                  "type": "string",
                  "location": "query"
                },
                "tenant": {
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "TaskPushNotificationConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}",
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Set a push notification config for a task."
            }
          }
        }
      }
    },
    "message": {
      "methods": {
        "send": {
          "flatPath": "v1/message:send",
          "response": {
            "$ref": "SendMessageResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "SendMessageRequest"
          },
          "id": "cloudbilling.message.send",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Send a message to the agent. This is a blocking call that will return the task once it is completed, or a LRO if requested.",
          "path": "v1/message:send"
        },
        "stream": {
          "response": {
            "$ref": "StreamResponse"
          },
          "flatPath": "v1/message:stream",
          "httpMethod": "POST",
          "path": "v1/message:stream",
          "parameterOrder": [],
          "id": "cloudbilling.message.stream",
          "request": {
            "$ref": "SendMessageRequest"
          },
          "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "services": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "parameters": {
                "endTime": {
                  "description": "Optional exclusive end time of the time range for which the pricing versions will be returned. Timestamps in the future are not allowed. The time range has to be within a single calendar month in America/Los_Angeles timezone. Time range as a whole is optional. If not specified, the latest pricing will be returned (up to 12 hours old at most).",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "parent": {
                  "required": true,
                  "pattern": "^services/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the service. Example: \"services/6F81-5844-456A\"",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListSkus` call. If unspecified, the first page of results is returned."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Defaults to 5000.",
                  "location": "query",
                  "type": "integer"
                },
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Optional inclusive start time of the time range for which the pricing versions will be returned. Timestamps in the future are not allowed. The time range has to be within a single calendar month in America/Los_Angeles timezone. Time range as a whole is optional. If not specified, the latest pricing will be returned (up to 12 hours old at most).",
                  "type": "string"
                },
                "currencyCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The ISO 4217 currency code for the pricing info in the response proto. Will use the conversion rate as of start_time. Optional. If not specified USD will be used."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/skus",
              "id": "cloudbilling.services.skus.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/services/{servicesId}/skus",
              "description": "Lists all publicly available SKUs for a given cloud service.",
              "response": {
                "$ref": "ListSkusResponse"
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "description": "Lists all public cloud services.",
          "flatPath": "v1/services",
          "path": "v1/services",
          "response": {
            "$ref": "ListServicesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Requested page size. Defaults to 5000.",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListServices` call. If unspecified, the first page of results is returned.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "cloudbilling.services.list"
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "subAccounts": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.subAccounts.list",
              "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported."
                },
                "pageToken": {
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListBillingAccountsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/subAccounts",
              "flatPath": "v1/billingAccounts/{billingAccountsId}/subAccounts"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
                }
              },
              "id": "cloudbilling.billingAccounts.subAccounts.create",
              "flatPath": "v1/billingAccounts/{billingAccountsId}/subAccounts",
              "response": {
                "$ref": "BillingAccount"
              },
              "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
              "request": {
                "$ref": "BillingAccount"
              },
              "path": "v1/{+parent}/subAccounts",
              "httpMethod": "POST"
            }
          }
        },
        "projects": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.projects.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/projects",
              "httpMethod": "GET",
              "description": "Lists the projects associated with a billing account. The current authenticated user must have the `billing.resourceAssociations.list` IAM permission, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access).",
              "response": {
                "$ref": "ListProjectBillingInfoResponse"
              },
              "flatPath": "v1/billingAccounts/{billingAccountsId}/projects",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous `ListProjectBillingInfo` call. If unspecified, the first page of results is returned.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the billing account associated with the projects that you want to list. For example, `billingAccounts/012345-567890-ABCDEF`.",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The maximum page size is 100; this is also the default."
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "path": "v1/billingAccounts",
          "response": {
            "$ref": "ListBillingAccountsResponse"
          },
          "flatPath": "v1/billingAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "cloudbilling.billingAccounts.list",
          "httpMethod": "GET",
          "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "parameters": {
            "filter": {
              "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Requested page size. The maximum page size is 100; this is also the default."
            }
          }
        },
        "move": {
          "httpMethod": "POST",
          "flatPath": "v1/billingAccounts/{billingAccountsId}:move",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "BillingAccount"
          },
          "request": {
            "$ref": "MoveBillingAccountRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account.",
              "location": "path",
              "required": true,
              "pattern": "^billingAccounts/[^/]+$",
              "type": "string"
            }
          },
          "description": "Changes which parent organization a billing account belongs to.",
          "id": "cloudbilling.billingAccounts.move",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:move"
        },
        "create": {
          "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
          "id": "cloudbilling.billingAccounts.create",
          "response": {
            "$ref": "BillingAccount"
          },
          "flatPath": "v1/billingAccounts",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/billingAccounts",
          "request": {
            "$ref": "BillingAccount"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v1/billingAccounts/{billingAccountsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbilling.billingAccounts.get",
          "response": {
            "$ref": "BillingAccount"
          },
          "description": "Gets information about a billing account. The current authenticated user must be a [viewer of the billing account](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the billing account to retrieve. For example, `billingAccounts/012345-567890-ABCDEF`.",
              "type": "string",
              "required": true,
              "pattern": "^billingAccounts/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "description": "Updates a billing account's fields. Currently the only field that can be edited is `display_name`. The current authenticated user must have the `billing.accounts.update` IAM permission, which is typically given to the [administrator](https://cloud.google.com/billing/docs/how-to/billing-access) of the billing account.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.billingAccounts.patch",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "BillingAccount"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "The update mask applied to the resource. Only \"display_name\" is currently supported.",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "pattern": "^billingAccounts/[^/]+$",
              "description": "Required. The name of the billing account resource to be updated.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "BillingAccount"
          },
          "flatPath": "v1/billingAccounts/{billingAccountsId}"
        },
        "getIamPolicy": {
          "parameters": {
            "options.requestedPolicyVersion": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
            },
            "resource": {
              "pattern": "^billingAccounts/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/billingAccounts/{billingAccountsId}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudbilling.billingAccounts.getIamPolicy",
          "httpMethod": "GET",
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a billing account. The caller must have the `billing.accounts.getIamPolicy` permission on the account, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "path": "v1/{+resource}:getIamPolicy"
        },
        "setIamPolicy": {
          "description": "Sets the access control policy for a billing account. Replaces any existing policy. The caller must have the `billing.accounts.setIamPolicy` permission on the account, which is often given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "path": "v1/{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "id": "cloudbilling.billingAccounts.setIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^billingAccounts/[^/]+$"
            }
          },
          "flatPath": "v1/billingAccounts/{billingAccountsId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          }
        },
        "testIamPermissions": {
          "description": "Tests the access control policy for a billing account. This method takes the resource and a set of permissions as input and returns the subset of the input permissions that the caller is allowed for that resource.",
          "id": "cloudbilling.billingAccounts.testIamPermissions",
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/billingAccounts/{billingAccountsId}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^billingAccounts/[^/]+$",
              "required": true
            }
          },
          "path": "v1/{+resource}:testIamPermissions"
        }
      }
    },
    "v1": {
      "methods": {
        "getCard": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/card",
          "httpMethod": "GET",
          "flatPath": "v1/card",
          "response": {
            "$ref": "AgentCard"
          },
          "id": "cloudbilling.getCard",
          "parameters": {
            "tenant": {
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "GetAgentCard returns the agent card for the agent.",
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "methods": {
        "updateBillingInfo": {
          "path": "v1/{+name}/billingInfo",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the project associated with the billing information that you want to update. For example, `projects/tokyo-rain-123`.",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{projectsId}/billingInfo",
          "response": {
            "$ref": "ProjectBillingInfo"
          },
          "request": {
            "$ref": "ProjectBillingInfo"
          },
          "id": "cloudbilling.projects.updateBillingInfo",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets or updates the billing account associated with a project. You specify the new billing account by setting the `billing_account_name` in the `ProjectBillingInfo` resource to the resource name of a billing account. Associating a project with an open billing account enables billing on the project and allows charges for resource usage. If the project already had a billing account, this method changes the billing account used for resource usage charges. *Note:* Incurred charges that have not yet been reported in the transaction history of the Google Cloud Console might be billed to the new billing account, even if the charge occurred before the new billing account was assigned to the project. The current authenticated user must have ownership privileges for both the [project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo ) and the [billing account](https://cloud.google.com/billing/docs/how-to/billing-access). You can disable billing on the project by setting the `billing_account_name` field to empty. This action disassociates the current billing account from the project. Any billable activity of your in-use services will stop, and your application could stop functioning as expected. Any unbilled charges to date will be billed to the previously associated account. The current authenticated user must be either an owner of the project or an owner of the billing account for the project. Note that associating a project with a *closed* billing account will have much the same effect as disabling billing on the project: any paid resources used by the project will be shut down. Thus, unless you wish to disable billing, you should always call this method with the name of an *open* billing account.",
          "parameterOrder": [
            "name"
          ]
        },
        "getBillingInfo": {
          "description": "Gets the billing information for a project. The current authenticated user must have the `resourcemanager.projects.get` permission for the project, which can be granted by assigning the [Project Viewer](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) role.",
          "id": "cloudbilling.projects.getBillingInfo",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The resource name of the project for which billing information is retrieved. For example, `projects/tokyo-rain-123`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ProjectBillingInfo"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}/billingInfo",
          "flatPath": "v1/projects/{projectsId}/billingInfo"
        }
      }
    }
  },
  "title": "Cloud Billing API",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "schemas": {
    "ListSkusResponse": {
      "id": "ListSkusResponse",
      "description": "Response message for `ListSkus`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListSkus` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
          "type": "string"
        },
        "skus": {
          "description": "The list of public SKUs of the given service.",
          "type": "array",
          "items": {
            "$ref": "Sku"
          }
        }
      }
    },
    "AuthorizationCodeOAuthFlow": {
      "id": "AuthorizationCodeOAuthFlow",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "tokenUrl": {
          "type": "string",
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListTaskPushNotificationConfigResponse": {
      "id": "ListTaskPushNotificationConfigResponse",
      "type": "object",
      "properties": {
        "configs": {
          "description": "The list of push notification configurations.",
          "items": {
            "$ref": "TaskPushNotificationConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HTTPAuthSecurityScheme": {
      "type": "object",
      "properties": {
        "scheme": {
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235.",
          "type": "string"
        },
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes."
        }
      },
      "id": "HTTPAuthSecurityScheme"
    },
    "AgentInterface": {
      "type": "object",
      "description": "Defines additional transport information for the agent.",
      "id": "AgentInterface",
      "properties": {
        "tenant": {
          "description": "Tenant to be set in the request when calling the agent. Experimental, might still change for 1.0 release.",
          "type": "string"
        },
        "transport": {
          "type": "string",
          "description": "The transport supported this url. This is an open form string, to be easily extended for many transport protocols. The core ones officially supported are JSONRPC, GRPC and HTTP+JSON."
        },
        "url": {
          "description": "The url this interface is found at.",
          "type": "string"
        }
      }
    },
    "Security": {
      "type": "object",
      "id": "Security",
      "properties": {
        "schemes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "StringList"
          }
        }
      }
    },
    "BillingAccount": {
      "id": "BillingAccount",
      "description": "A billing account in the [Google Cloud Console](https://console.cloud.google.com/). You can assign a billing account to one or more projects.",
      "type": "object",
      "properties": {
        "open": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it are unable to use paid services."
        },
        "masterBillingAccount": {
          "description": "If this account is a [subaccount](https://cloud.google.com/billing/docs/concepts), then this will be the resource name of the parent billing account that it is being resold through. Otherwise this will be empty.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`.",
          "readOnly": true
        },
        "parent": {
          "readOnly": true,
          "description": "Output only. The billing account's parent resource identifier. Use the `MoveBillingAccount` method to update the account's parent resource if it is a organization. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
          "type": "string"
        },
        "currencyCode": {
          "description": "Optional. The currency in which the billing account is billed and charged, represented as an ISO 4217 code such as `USD`. Billing account currency is determined at the time of billing account creation and cannot be updated subsequently, so this field should not be set on update requests. In addition, a subaccount always matches the currency of its parent billing account, so this field should not be set on subaccount creation requests. Clients can read this field to determine the currency of an existing billing account.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Cloud Console."
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "properties": {
        "message": {
          "description": "A message associated with the status.",
          "$ref": "Message"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        },
        "state": {
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "type": "string",
          "description": "The current state of this task"
        }
      },
      "description": "A container for the status of a task",
      "type": "object"
    },
    "GeoTaxonomy": {
      "description": "Encapsulates the geographic taxonomy data for a sku.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of Geo Taxonomy: GLOBAL, REGIONAL, or MULTI_REGIONAL.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is not specified.",
            "The sku is global in nature, e.g. a license sku. Global skus are available in all regions, and so have an empty region list.",
            "The sku is available in a specific region, e.g. \"us-west2\".",
            "The sku is associated with multiple regions, e.g. \"us-west2\" and \"us-east1\"."
          ]
        },
        "regions": {
          "description": "The list of regions associated with a sku. Empty for Global skus, which are associated with all Google Cloud regions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GeoTaxonomy"
    },
    "SendMessageRequest": {
      "id": "SendMessageRequest",
      "description": "/////////// Request Messages ///////////",
      "type": "object",
      "properties": {
        "configuration": {
          "$ref": "SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "tenant": {
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional metadata for the request.",
          "type": "object"
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "Message"
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "TaskPushNotificationConfig": {
      "id": "TaskPushNotificationConfig",
      "properties": {
        "name": {
          "description": "The resource name of the config. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
          "type": "string"
        },
        "pushNotificationConfig": {
          "description": "The push notification configuration details.",
          "$ref": "PushNotificationConfig"
        }
      },
      "type": "object"
    },
    "Artifact": {
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "Part"
          },
          "description": "The content of the artifact."
        },
        "description": {
          "description": "A human readable description of the artifact, optional.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the artifact. It must be at least unique within a task."
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the artifact."
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional metadata included with the artifact."
        }
      },
      "description": "Artifacts are the container for task completed results. These are similar to Messages but are intended to be the product of a task, as opposed to point-to-point communication.",
      "id": "Artifact"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "AgentCapabilities": {
      "description": "Defines the A2A feature set supported by the agent",
      "properties": {
        "extensions": {
          "description": "Extensions supported by this agent.",
          "items": {
            "$ref": "AgentExtension"
          },
          "type": "array"
        },
        "pushNotifications": {
          "description": "If the agent can send push notifications to the clients webhook",
          "type": "boolean"
        },
        "streaming": {
          "type": "boolean",
          "description": "If the agent will support streaming responses"
        }
      },
      "id": "AgentCapabilities",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "SendMessageResponse": {
      "properties": {
        "task": {
          "$ref": "Task"
        },
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object",
      "id": "SendMessageResponse",
      "description": "////// Response Messages ///////////"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "PushNotificationConfig": {
      "type": "object",
      "id": "PushNotificationConfig",
      "properties": {
        "token": {
          "type": "string",
          "description": "Token unique for this task/session"
        },
        "url": {
          "description": "Url to send the notification too",
          "type": "string"
        },
        "authentication": {
          "$ref": "AuthenticationInfo",
          "description": "Information about the authentication to sent with the notification"
        },
        "id": {
          "description": "A unique identifier (e.g. UUID) for this push notification.",
          "type": "string"
        }
      },
      "description": "Configuration for setting up push notifications for task updates."
    },
    "TaskStatusUpdateEvent": {
      "id": "TaskStatusUpdateEvent",
      "type": "object",
      "description": "TaskStatusUpdateEvent is a delta even on a task indicating that a task has changed.",
      "properties": {
        "status": {
          "description": "The new status of the task.",
          "$ref": "TaskStatus"
        },
        "taskId": {
          "type": "string",
          "description": "The id of the task that is changed"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional metadata to associate with the task update."
        },
        "contextId": {
          "description": "The id of the context that the task belongs to",
          "type": "string"
        },
        "final": {
          "type": "boolean",
          "description": "Whether this is the last status update expected for this task."
        }
      }
    },
    "PricingInfo": {
      "id": "PricingInfo",
      "properties": {
        "pricingExpression": {
          "$ref": "PricingExpression",
          "description": "Expresses the pricing formula. See `PricingExpression` for an example."
        },
        "summary": {
          "description": "An optional human readable summary of the pricing information, has a maximum length of 256 characters.",
          "type": "string"
        },
        "aggregationInfo": {
          "description": "Aggregation Info. This can be left unspecified if the pricing expression doesn't require aggregation.",
          "$ref": "AggregationInfo"
        },
        "effectiveTime": {
          "description": "The timestamp from which this pricing was effective within the requested time range. This is guaranteed to be greater than or equal to the start_time field in the request and less than the end_time field in the request. If a time range was not specified in the request this field will be equivalent to a time within the last 12 hours, indicating the latest pricing info.",
          "format": "google-datetime",
          "type": "string"
        },
        "currencyConversionRate": {
          "format": "double",
          "description": "Conversion rate used for currency conversion, from USD to the currency specified in the request. This includes any surcharge collected for billing in non USD currency. If a currency is not specified in the request this defaults to 1.0. Example: USD * currency_conversion_rate = JPY",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Represents the pricing information for a SKU at a single point of time."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Message": {
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "taskId": {
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          }
        },
        "contextId": {
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context.",
          "type": "string"
        },
        "role": {
          "description": "A role for the message.",
          "type": "string",
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "content": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        },
        "messageId": {
          "type": "string",
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator."
        }
      },
      "id": "Message"
    },
    "OAuthFlows": {
      "properties": {
        "password": {
          "$ref": "PasswordOAuthFlow"
        },
        "authorizationCode": {
          "$ref": "AuthorizationCodeOAuthFlow"
        },
        "implicit": {
          "$ref": "ImplicitOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "ClientCredentialsOAuthFlow"
        }
      },
      "id": "OAuthFlows",
      "type": "object"
    },
    "StreamResponse": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "statusUpdate": {
          "$ref": "TaskStatusUpdateEvent"
        },
        "task": {
          "$ref": "Task"
        },
        "artifactUpdate": {
          "$ref": "TaskArtifactUpdateEvent"
        }
      },
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are",
      "type": "object",
      "id": "StreamResponse"
    },
    "Part": {
      "properties": {
        "text": {
          "type": "string"
        },
        "file": {
          "$ref": "FilePart"
        },
        "data": {
          "$ref": "DataPart"
        },
        "metadata": {
          "type": "object",
          "description": "Optional metadata associated with this part.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "Part",
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "type": "object"
    },
    "MutualTlsSecurityScheme": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        }
      },
      "id": "MutualTlsSecurityScheme"
    },
    "Category": {
      "type": "object",
      "description": "Represents the category hierarchy of a SKU.",
      "id": "Category",
      "properties": {
        "usageType": {
          "description": "Represents how the SKU is consumed. Example: \"OnDemand\", \"Preemptible\", \"Commit1Mo\", \"Commit1Yr\" etc.",
          "type": "string"
        },
        "serviceDisplayName": {
          "type": "string",
          "description": "The display name of the service this SKU belongs to."
        },
        "resourceGroup": {
          "type": "string",
          "description": "A group classification for related SKUs. Example: \"RAM\", \"GPU\", \"Prediction\", \"Ops\", \"GoogleEgress\" etc."
        },
        "resourceFamily": {
          "type": "string",
          "description": "The type of product the SKU refers to. Example: \"Compute\", \"Storage\", \"Network\", \"ApplicationServices\" etc."
        }
      }
    },
    "ListBillingAccountsResponse": {
      "description": "Response message for `ListBillingAccounts`.",
      "id": "ListBillingAccountsResponse",
      "type": "object",
      "properties": {
        "billingAccounts": {
          "items": {
            "$ref": "BillingAccount"
          },
          "description": "A list of billing accounts.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Sku": {
      "id": "Sku",
      "description": "Encapsulates a single SKU in Google Cloud",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name for the SKU. Example: \"services/6F81-5844-456A/skus/D041-B8A1-6E0B\"",
          "type": "string"
        },
        "description": {
          "description": "A human readable description of the SKU, has a maximum length of 256 characters.",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "The geographic taxonomy for this sku.",
          "$ref": "GeoTaxonomy"
        },
        "serviceProviderName": {
          "type": "string",
          "description": "Identifies the service provider. This is 'Google' for first party services in Google Cloud Platform."
        },
        "category": {
          "$ref": "Category",
          "description": "The category hierarchy of this SKU, purely for organizational purpose."
        },
        "pricingInfo": {
          "description": "A timeline of pricing info for this SKU in chronological order.",
          "type": "array",
          "items": {
            "$ref": "PricingInfo"
          }
        },
        "serviceRegions": {
          "items": {
            "type": "string"
          },
          "description": "List of service regions this SKU is offered at. Example: \"asia-east1\" Service regions can be found at https://cloud.google.com/about/locations/",
          "type": "array"
        },
        "skuId": {
          "description": "The identifier for the SKU. Example: \"D041-B8A1-6E0B\"",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig"
    },
    "SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "type": "object",
      "properties": {
        "historyLength": {
          "type": "integer",
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited.",
          "format": "int32"
        },
        "pushNotification": {
          "description": "A configuration of a webhook that can be used to receive updates",
          "$ref": "PushNotificationConfig"
        },
        "blocking": {
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates.",
          "type": "boolean"
        },
        "acceptedOutputModes": {
          "items": {
            "type": "string"
          },
          "description": "The output modes that the agent is expected to respond with.",
          "type": "array"
        }
      },
      "id": "SendMessageConfiguration"
    },
    "Task": {
      "description": "Task is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "id": "Task",
      "properties": {
        "id": {
          "description": "Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages). Created by the A2A server."
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "Artifact"
          },
          "description": "A set of output artifacts for a Task."
        },
        "status": {
          "description": "The current status of a Task, including state and a message.",
          "$ref": "TaskStatus"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        },
        "history": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a task.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      },
      "type": "object"
    },
    "ListProjectBillingInfoResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
        },
        "projectBillingInfo": {
          "items": {
            "$ref": "ProjectBillingInfo"
          },
          "type": "array",
          "description": "A list of `ProjectBillingInfo` resources representing the projects associated with the billing account."
        }
      },
      "type": "object",
      "id": "ListProjectBillingInfoResponse",
      "description": "Request message for `ListProjectBillingInfoResponse`."
    },
    "OAuth2SecurityScheme": {
      "id": "OAuth2SecurityScheme",
      "type": "object",
      "properties": {
        "flows": {
          "description": "An object containing configuration information for the flow types supported",
          "$ref": "OAuthFlows"
        },
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        },
        "oauth2MetadataUrl": {
          "type": "string",
          "description": "URL to the oauth2 authorization server metadata [RFC8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
        }
      }
    },
    "ImplicitOAuthFlow": {
      "type": "object",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        }
      },
      "id": "ImplicitOAuthFlow"
    },
    "ListServicesResponse": {
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "description": "A list of services.",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListServices` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "ListServicesResponse",
      "description": "Response message for `ListServices`."
    },
    "PricingExpression": {
      "description": "Expresses a mathematical pricing formula. For Example:- `usage_unit: GBy` `tiered_rates:` `[start_usage_amount: 20, unit_price: $10]` `[start_usage_amount: 100, unit_price: $5]` The above expresses a pricing formula where the first 20GB is free, the next 80GB is priced at $10 per GB followed by $5 per GB for additional usage.",
      "id": "PricingExpression",
      "type": "object",
      "properties": {
        "usageUnit": {
          "description": "The short hand for unit of usage this pricing is specified in. Example: usage_unit of \"GiBy\" means that usage is specified in \"Gibi Byte\".",
          "type": "string"
        },
        "tieredRates": {
          "items": {
            "$ref": "TierRate"
          },
          "type": "array",
          "description": "The list of tiered rates for this pricing. The total cost is computed by applying each of the tiered rates on usage. This repeated list is sorted by ascending order of start_usage_amount."
        },
        "baseUnit": {
          "type": "string",
          "description": "The base unit for the SKU which is the unit used in usage exports. Example: \"By\""
        },
        "baseUnitConversionFactor": {
          "description": "Conversion factor for converting from price per usage_unit to price per base_unit, and start_usage_amount to start_usage_amount in base_unit. unit_price / base_unit_conversion_factor = price per base_unit. start_usage_amount * base_unit_conversion_factor = start_usage_amount in base_unit.",
          "format": "double",
          "type": "number"
        },
        "usageUnitDescription": {
          "description": "The unit of usage in human readable form. Example: \"gibi byte\".",
          "type": "string"
        },
        "baseUnitDescription": {
          "description": "The base unit in human readable form. Example: \"byte\".",
          "type": "string"
        },
        "displayQuantity": {
          "format": "double",
          "description": "The recommended quantity of units for displaying pricing info. When displaying pricing info it is recommended to display: (unit_price * display_quantity) per display_quantity usage_unit. This field does not affect the pricing formula and is for display purposes only. Example: If the unit_price is \"0.0001 USD\", the usage_unit is \"GB\" and the display_quantity is \"1000\" then the recommended way of displaying the pricing info is \"0.10 USD per 1000 GB\"",
          "type": "number"
        }
      }
    },
    "AgentSkill": {
      "description": "AgentSkill represents a unit of action/solution that the agent can perform. One can think of this as a type of highly reliable solution that an agent can be tasked to provide. Agents have the autonomy to choose how and when to use specific skills, but clients should have confidence that if the skill is defined that unit of action can be reliably performed.",
      "id": "AgentSkill",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A human readable name for the skill."
        },
        "examples": {
          "description": "A set of example queries that this skill is designed to address. These examples should help the caller to understand how to craft requests to the agent to achieve specific goals. Example: [\"I need a recipe for bread\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A human (or llm) readable description of the skill details and behaviors.",
          "type": "string"
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "description": "Possible input modalities supported.",
          "type": "array"
        },
        "id": {
          "description": "Unique identifier of the skill within this agent.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of tags for the skill to enhance categorization/utilization. Example: [\"cooking\", \"customer support\", \"billing\"]"
        },
        "security": {
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security schemes necessary for the agent to leverage this skill. As in the overall AgentCard.security, this list represents a logical OR of security requirement objects. Each object is a set of security schemes that must be used together (a logical AND). protolint:enable REPEATED_FIELD_NAMES_PLURALIZED",
          "items": {
            "$ref": "Security"
          }
        },
        "outputModes": {
          "description": "Possible output modalities produced",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SecurityScheme": {
      "properties": {
        "openIdConnectSecurityScheme": {
          "$ref": "OpenIdConnectSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "$ref": "MutualTlsSecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "$ref": "HTTPAuthSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "$ref": "APIKeySecurityScheme"
        },
        "oauth2SecurityScheme": {
          "$ref": "OAuth2SecurityScheme"
        }
      },
      "type": "object",
      "id": "SecurityScheme"
    },
    "StringList": {
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED",
      "id": "StringList",
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "items": {
            "type": "string"
          }
[...]
