{
  "protocol": "rest",
  "name": "cloudshell",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "title": "Cloud Shell API",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            },
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations",
          "id": "cloudshell.operations.list",
          "response": {
            "$ref": "ListOperationsResponse"
          }
        },
        "get": {
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudshell.operations.get"
        },
        "cancel": {
          "id": "cloudshell.operations.cancel",
          "httpMethod": "POST",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}:cancel"
        },
        "delete": {
          "flatPath": "v1/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "id": "cloudshell.operations.delete",
          "path": "v1/{+name}"
        }
      }
    },
    "users": {
      "resources": {
        "environments": {
          "methods": {
            "generateAccessToken": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "parameters": {
                "ttl": {
                  "type": "string",
                  "location": "query",
                  "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
                  "format": "google-duration"
                },
                "environment": {
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "description": "Required. The environment to generate the access token for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "expireTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "environment"
              ],
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:generateAccessToken",
              "id": "cloudshell.users.environments.generateAccessToken",
              "path": "v1/{+environment}:generateAccessToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Generates an access token for the user's environment."
            },
            "addPublicKey": {
              "description": "Adds a public SSH key to an environment, allowing clients with the corresponding private key to connect to that environment via SSH. If a key with the same content already exists, this will error with ALREADY_EXISTS.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "environment"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "AddPublicKeyRequest"
              },
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:addPublicKey",
              "id": "cloudshell.users.environments.addPublicKey",
              "parameters": {
                "environment": {
                  "required": true,
                  "description": "Environment this key should be added to, e.g. `users/me/environments/default`.",
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+environment}:addPublicKey"
            },
            "authorize": {
              "request": {
                "$ref": "AuthorizeEnvironmentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sends OAuth credentials to a running environment on behalf of a user. When this completes, the environment will be authorized to run various Google Cloud command line tools without requiring the user to manually authenticate.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:authorize",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "required": true,
                  "description": "Name of the resource that should receive the credentials, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "cloudshell.users.environments.authorize",
              "httpMethod": "POST",
              "path": "v1/{+name}:authorize"
            },
            "start": {
              "request": {
                "$ref": "StartEnvironmentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudshell.users.environments.start",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Name of the resource that should be started, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "required": true,
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:start",
              "description": "Starts an existing environment, allowing clients to connect to it. The returned operation will contain an instance of StartEnvironmentMetadata in its metadata field. Users can wait for the environment to start by polling this operation via GetOperation. Once the environment has finished starting and is ready to accept connections, the operation will contain a StartEnvironmentResponse in its response field.",
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:start",
              "response": {
                "$ref": "Operation"
              }
            },
            "removePublicKey": {
              "path": "v1/{+environment}:removePublicKey",
              "id": "cloudshell.users.environments.removePublicKey",
              "httpMethod": "POST",
              "request": {
                "$ref": "RemovePublicKeyRequest"
              },
              "parameters": {
                "environment": {
                  "location": "path",
                  "description": "Environment this key should be removed from, e.g. `users/me/environments/default`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^users/[^/]+/environments/[^/]+$"
                }
              },
              "parameterOrder": [
                "environment"
              ],
              "description": "Removes a public SSH key from an environment. Clients will no longer be able to connect to the environment using the corresponding private key. If a key with the same content is not present, this will error with NOT_FOUND.",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:removePublicKey"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the requested resource, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Environment"
              },
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}",
              "description": "Gets an environment. Returns NOT_FOUND if the environment does not exist.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "cloudshell.users.environments.get"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://cloudshell.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Shell",
  "mtlsRootUrl": "https://cloudshell.mtls.googleapis.com/",
  "revision": "20260824",
  "version_module": true,
  "description": "Allows users to start, configure, and connect to interactive shell sessions running in the cloud. ",
  "schemas": {
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The access token."
        }
      },
      "description": "Response message for GenerateAccessToken."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse"
    },
    "RemovePublicKeyResponse": {
      "type": "object",
      "properties": {},
      "id": "RemovePublicKeyResponse",
      "description": "Response message for RemovePublicKey."
    },
    "AddPublicKeyResponse": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key that was added to the environment."
        }
      },
      "type": "object",
      "description": "Response message for AddPublicKey.",
      "id": "AddPublicKeyResponse"
    },
    "CreateEnvironmentMetadata": {
      "properties": {},
      "id": "CreateEnvironmentMetadata",
      "description": "Message included in the metadata field of operations returned from CreateEnvironment.",
      "type": "object"
    },
    "RemovePublicKeyRequest": {
      "description": "Request message for RemovePublicKey.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key that should be removed from the environment."
        }
      },
      "id": "RemovePublicKeyRequest",
      "type": "object"
    },
    "StartEnvironmentResponse": {
      "id": "StartEnvironmentResponse",
      "description": "Message included in the response field of operations returned from StartEnvironment once the operation is complete.",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "Environment",
          "description": "Environment that was started."
        }
      }
    },
    "AuthorizeEnvironmentResponse": {
      "id": "AuthorizeEnvironmentResponse",
      "description": "Response message for AuthorizeEnvironment.",
      "properties": {},
      "type": "object"
    },
    "StartEnvironmentMetadata": {
      "id": "StartEnvironmentMetadata",
      "description": "Message included in the metadata field of operations returned from StartEnvironment.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Current state of the environment being started.",
          "enumDescriptions": [
            "The environment's start state is unknown.",
            "The environment is in the process of being started, but no additional details are available.",
            "Startup is waiting for the user's disk to be unarchived. This can happen when the user returns to Cloud Shell after not having used it for a while, and suggests that startup will take longer than normal.",
            "Startup is waiting for compute resources to be assigned to the environment. This should normally happen very quickly, but an environment might stay in this state for an extended period of time if the system is experiencing heavy load.",
            "Startup has completed. If the start operation was successful, the user should be able to establish an SSH connection to their environment. Otherwise, the operation will contain details of the failure."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "UNARCHIVING_DISK",
            "AWAITING_COMPUTE_RESOURCES",
            "FINISHED"
          ]
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "description": "A Cloud Shell environment, which is defined as the combination of a Docker image specifying what is installed on the environment and a home directory containing the user's data that will remain across sessions. Each user has at least an environment with the ID \"default\".",
      "properties": {
        "dockerImage": {
          "type": "string",
          "description": "Required. Immutable. Full path to the Docker image used to run this environment, e.g. \"gcr.io/dev-con/cloud-devshell:latest\"."
        },
        "sshPort": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Port to which clients can connect to initiate SSH sessions with the environment.",
          "type": "integer"
        },
        "sshHost": {
          "type": "string",
          "description": "Output only. Host to which clients can connect to initiate SSH sessions with the environment.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current execution state of this environment.",
          "enumDescriptions": [
            "The environment's states is unknown.",
            "The environment is not running and can't be connected to. Starting the environment will transition it to the PENDING state.",
            "The environment is being started but is not yet ready to accept connections.",
            "The environment is running and ready to accept connections. It will automatically transition back to DISABLED after a period of inactivity or if another environment is started.",
            "The environment is being deleted and can't be connected to."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUSPENDED",
            "PENDING",
            "RUNNING",
            "DELETING"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. Full name of this resource, in the format `users/{owner_email}/environments/{environment_id}`. `{owner_email}` is the email address of the user to whom this environment belongs, and `{environment_id}` is the identifier of this environment. For example, `users/someone@example.com/environments/default`."
        },
        "webHost": {
          "description": "Output only. Host to which clients can connect to initiate HTTPS or WSS connections with the environment.",
          "type": "string",
          "readOnly": true
        },
        "publicKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Public keys associated with the environment. Clients can connect to this environment via SSH only if they possess a private key corresponding to at least one of these public keys. Keys can be added to or removed from the environment using the AddPublicKey and RemovePublicKey methods.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The environment's identifier, unique among the user's environments."
        },
        "sshUsername": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Username that clients should use when initiating SSH sessions with the environment."
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "AddPublicKeyMetadata": {
      "properties": {},
      "id": "AddPublicKeyMetadata",
      "type": "object",
      "description": "Message included in the metadata field of operations returned from AddPublicKey."
    },
    "RemovePublicKeyMetadata": {
      "id": "RemovePublicKeyMetadata",
      "description": "Message included in the metadata field of operations returned from RemovePublicKey.",
      "type": "object",
      "properties": {}
    },
    "AddPublicKeyRequest": {
      "id": "AddPublicKeyRequest",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key that should be added to the environment. Supported formats are `ssh-dss` (see RFC4253), `ssh-rsa` (see RFC4253), `ecdsa-sha2-nistp256` (see RFC5656), `ecdsa-sha2-nistp384` (see RFC5656) and `ecdsa-sha2-nistp521` (see RFC5656). It should be structured as <format> <content>, where <content> part is encoded with Base64."
        }
      },
      "description": "Request message for AddPublicKey.",
      "type": "object"
    },
    "DeleteEnvironmentMetadata": {
      "type": "object",
      "description": "Message included in the metadata field of operations returned from DeleteEnvironment.",
      "properties": {},
      "id": "DeleteEnvironmentMetadata"
    },
    "StartEnvironmentRequest": {
      "description": "Request message for StartEnvironment.",
      "id": "StartEnvironmentRequest",
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The initial access token passed to the environment. If this is present and valid, the environment will be pre-authenticated with gcloud so that the user can run gcloud commands in Cloud Shell without having to log in. This code can be updated later by calling AuthorizeEnvironment."
        },
        "publicKeys": {
          "description": "Public keys that should be added to the environment before it is started.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "AuthorizeEnvironmentMetadata": {
      "properties": {},
      "description": "Message included in the metadata field of operations returned from AuthorizeEnvironment.",
      "id": "AuthorizeEnvironmentMetadata",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "AuthorizeEnvironmentRequest": {
      "type": "object",
      "description": "Request message for AuthorizeEnvironment.",
      "id": "AuthorizeEnvironmentRequest",
      "properties": {
        "idToken": {
          "description": "The OAuth ID token that should be sent to the environment.",
          "type": "string"
        },
        "expireTime": {
          "description": "The time when the credentials expire. If not set, defaults to one hour from when the server received the request.",
          "type": "string",
          "format": "google-datetime"
        },
        "accessToken": {
          "type": "string",
          "description": "The OAuth access token that should be sent to the environment."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://cloudshell.googleapis.com/",
  "documentationLink": "https://cloud.google.com/shell/docs/",
  "id": "cloudshell:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  }
}