{
  "servicePath": "",
  "version": "v1",
  "title": "Cloud Product Registry API",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "cloudproductregistry:v1",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "canonicalName": "Cloud Product Registry",
  "basePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "ListLogicalProductVariantsResponse": {
      "type": "object",
      "description": "Response message for ListLogicalProductVariants.",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "logicalProductVariants": {
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants",
          "type": "array"
        }
      }
    },
    "LogicalProductVariant": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        }
      },
      "id": "LogicalProductVariant",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "id": "ProductSuite",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "logicalProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "readOnly": true
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "title": {
          "type": "string",
          "description": "Title of the ProductSuite."
        }
      },
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "type": "object",
      "description": "Response message for ListProductSuites.",
      "id": "ListProductSuitesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "productSuites": {
          "items": {
            "$ref": "ProductSuite"
          },
          "type": "array",
          "description": "Matched ProductSuites"
        }
      }
    },
    "LookupEntityResponse": {
      "type": "object",
      "id": "LookupEntityResponse",
      "properties": {
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "logicalProductVariant": {
          "$ref": "LogicalProductVariant",
          "description": "Matched LogicalProductVariant."
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        }
      },
      "description": "Response message for LookupEntity."
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "readOnly": true
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        }
      },
      "id": "LogicalProduct",
      "type": "object"
    },
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        }
      },
      "type": "object",
      "id": "ListLogicalProductsResponse"
    }
  },
  "version_module": true,
  "name": "cloudproductregistry",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260923",
  "resources": {
    "productSuites": {
      "methods": {
        "get": {
          "flatPath": "v1/productSuites/{productSuitesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.get",
          "description": "Get details of a ProductSuite.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "ProductSuite"
          }
        },
        "list": {
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            }
          },
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "httpMethod": "GET",
          "description": "Lists ProductSuites.",
          "path": "v1/productSuites",
          "id": "cloudproductregistry.productSuites.list",
          "parameterOrder": [],
          "flatPath": "v1/productSuites"
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "description": "Look up entities.",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameters": {
            "lookupUri": {
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "type": "string",
              "pattern": "^productSuites/[^/]+$"
            }
          },
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity"
        }
      }
    },
    "logicalProducts": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "id": "cloudproductregistry.logicalProducts.get",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "required": true
            }
          },
          "description": "Gets details of a LogicalProduct."
        },
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities.",
          "parameterOrder": [
            "lookupUri"
          ],
          "httpMethod": "GET",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "parameters": {
            "lookupUri": {
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            },
            "filter": {
              "location": "query",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "cloudproductregistry.logicalProducts.list",
          "description": "Lists LogicalProducts matching given criteria.",
          "flatPath": "v1/logicalProducts",
          "path": "v1/logicalProducts"
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameters": {
                "lookupUri": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "description": "Look up entities.",
              "parameterOrder": [
                "lookupUri"
              ],
              "path": "v1/{+lookupUri}:lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get details of a LogicalProductVariant.",
              "response": {
                "$ref": "LogicalProductVariant"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "httpMethod": "GET",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              }
            }
          }
        }
      }
    }
  }
}