{
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "protocol": "rest",
  "name": "cloudchannel",
  "canonicalName": "Cloudchannel",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260901",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "id": "cloudchannel:v1",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        },
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudChannelV1alpha1Report": {
      "id": "GoogleCloudChannelV1alpha1Report",
      "type": "object",
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "deprecated": true,
      "properties": {
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A human-readable name for this report."
        },
        "columns": {
          "description": "The list of columns included in the report. This defines the schema of the report results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Column"
          }
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "properties": {
        "reportStatus": {
          "$ref": "GoogleCloudChannelV1alpha1ReportStatus",
          "description": "The current status of report generation."
        },
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ReportJob",
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation."
    },
    "GoogleCloudChannelV1Entitlement": {
      "id": "GoogleCloudChannelV1Entitlement",
      "type": "object",
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "properties": {
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1TrialSettings",
          "description": "Output only. Settings for trial offers.",
          "readOnly": true
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1CommitmentSettings"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        },
        "parameters": {
          "type": "array",
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          }
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created.",
          "type": "string"
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement.",
          "type": "string"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1AssociationInfo"
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement.",
          "readOnly": true
        },
        "provisioningState": {
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ],
          "readOnly": true
        },
        "suspensionReasons": {
          "readOnly": true,
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          }
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "description": "Type of event which happened for the customer.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ]
        },
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        }
      },
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1CustomerEvent"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "id": "GoogleCloudChannelV1RepricingConfig",
      "description": "Configuration for repricing a Google bill over a period of time.",
      "properties": {
        "conditionalOverrides": {
          "items": {
            "$ref": "GoogleCloudChannelV1ConditionalOverride"
          },
          "type": "array",
          "description": "The conditional overrides to apply for this configuration. If you list multiple overrides, only the first valid override is used. If you don't list any overrides, the API uses the normal adjustment and rebilling basis."
        },
        "rebillingBasis": {
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "description": "Required. The RebillingBasis to use for this bill. Specifies the relative cost based on repricing costs you will apply.",
          "type": "string"
        },
        "effectiveInvoiceMonth": {
          "description": "Required. The YearMonth when these adjustments activate. The Day field needs to be \"0\" since we only accept YearMonth repricing boundaries.",
          "$ref": "GoogleTypeDate"
        },
        "adjustment": {
          "$ref": "GoogleCloudChannelV1RepricingAdjustment",
          "description": "Required. Information about the adjustment."
        },
        "entitlementGranularity": {
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
          "description": "Required. Applies the repricing configuration at the entitlement level. Note: If a ChannelPartnerRepricingConfig using RepricingConfig.EntitlementGranularity becomes effective, then no existing or future RepricingConfig.ChannelPartnerGranularity will apply to the RepricingConfig.EntitlementGranularity.entitlement. This is the recommended value for both CustomerRepricingConfig and ChannelPartnerRepricingConfig."
        },
        "channelPartnerGranularity": {
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
          "deprecated": true,
          "description": "Applies the repricing configuration at the channel partner level. Only ChannelPartnerRepricingConfig supports this value. Deprecated: This is no longer supported. Use RepricingConfig.entitlement_granularity instead."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.StartPaidService."
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "description": "Response message for ListPurchasableOffers.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "purchasableOffers": {
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse"
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
          "type": "string"
        },
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "type": "string"
        }
      },
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller)."
    },
    "GoogleCloudChannelV1ReportStatus": {
      "id": "GoogleCloudChannelV1ReportStatus",
      "deprecated": true,
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The report generation's start time.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The report generation's completion time.",
          "type": "string"
        },
        "state": {
          "description": "The current state of the report generation process.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ]
        }
      },
      "description": "Status of a report generation process."
    },
    "GoogleCloudChannelV1ContactInfo": {
      "properties": {
        "lastName": {
          "description": "The customer account contact's last name. Optional for Team customers.",
          "type": "string"
        },
        "phone": {
          "description": "The customer account's contact phone number.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name.",
          "type": "string"
        },
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The customer account contact's job title.",
          "type": "string"
        },
        "firstName": {
          "description": "The customer account contact's first name. Optional for Team customers.",
          "type": "string"
        }
      },
      "description": "Contact information for a customer account.",
      "type": "object",
      "id": "GoogleCloudChannelV1ContactInfo"
    },
    "GoogleCloudChannelV1BillingAccountPurchaseInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1BillingAccountPurchaseInfo",
      "description": "Represents a billing account that can be used to make a purchase.",
      "properties": {
        "billingAccount": {
          "$ref": "GoogleCloudChannelV1BillingAccount",
          "description": "The billing account resource."
        }
      }
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "type": "object",
      "description": "Response message for ListSkus.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "skus": {
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1ListSkusResponse"
    },
    "GoogleCloudChannelV1Customer": {
      "properties": {
        "channelPartnerId": {
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer.",
          "type": "string"
        },
        "customerAttestationState": {
          "type": "string",
          "enumDescriptions": [
            "Default value if not set yet",
            "Customer is exempt from attesting based on exemption list at https://cloud.google.com/terms/direct-tos-exemptions. Contact information of customer will be mandatory.",
            "Customer is not exempt and has verified the information provided is correct. Contact information of customer will be mandatory."
          ],
          "enum": [
            "CUSTOMER_ATTESTATION_STATE_UNSPECIFIED",
            "EXEMPT",
            "NON_EXEMPT_AND_INFO_VERIFIED"
          ],
          "description": "Optional. Indicate if a customer is attesting about the correctness of provided information. Only required if creating a GCP Entitlement. NOTE: This field will be mandatory for all new GCP customers starting Aug 31st, 2026 and this field will also be required for all existing customers purchasing new GCP Entitlements."
        },
        "cloudIdentityId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource."
        },
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "correlationId": {
          "type": "string",
          "description": "Optional. External CRM ID for the customer. Populated only if a CRM ID exists for this customer."
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "readOnly": true,
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer."
        },
        "alternateEmail": {
          "type": "string",
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers."
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "primaryContactInfo": {
          "description": "Primary contact info.",
          "$ref": "GoogleCloudChannelV1ContactInfo"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the customer was created.",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the customer was updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "orgPostalAddress": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region, postal code, and address lines. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code."
        }
      },
      "description": "Entity representing a customer of a reseller or distributor.",
      "type": "object",
      "id": "GoogleCloudChannelV1Customer"
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse"
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse",
      "properties": {
        "customerRepricingConfigs": {
          "description": "The repricing configs for this channel partner.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs.",
      "type": "object"
    },
    "GoogleCloudChannelV1SkuPurchaseGroup": {
      "type": "object",
      "description": "Represents a set of SKUs that must be purchased using the same billing account.",
      "properties": {
        "billingAccountPurchaseInfos": {
          "items": {
            "$ref": "GoogleCloudChannelV1BillingAccountPurchaseInfo"
          },
          "type": "array",
          "description": "List of billing accounts that are eligible to purhcase these SKUs."
        },
        "skus": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Resource names of the SKUs included in this group. Format: products/{product_id}/skus/{sku_id}."
        }
      },
      "id": "GoogleCloudChannelV1SkuPurchaseGroup"
    },
    "GoogleCloudChannelV1alpha1ReportStatus": {
      "id": "GoogleCloudChannelV1alpha1ReportStatus",
      "type": "object",
      "description": "Status of a report generation process.",
      "properties": {
        "endTime": {
          "description": "The report generation's completion time.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "type": "string",
          "description": "The current state of the report generation process.",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The report generation's start time."
        }
      },
      "deprecated": true
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "properties": {
        "billableSkus": {
          "description": "The list of billable SKUs in the requested SKU group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse",
      "description": "Response message for ListSkuGroupBillableSkus."
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "description": "Configuration for how a reseller will reprice a Customer.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
          "type": "string",
          "readOnly": true
        },
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month."
        }
      }
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "properties": {
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "description": "The RPC that initiated this Long Running Operation."
        }
      },
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "type": "object"
    },
    "GoogleCloudChannelV1ReportValue": {
      "deprecated": true,
      "properties": {
        "stringValue": {
          "description": "A value of type `string`.",
          "type": "string"
        },
        "decimalValue": {
          "description": "A value of type `google.type.Decimal`, representing non-integer numeric values.",
          "$ref": "GoogleTypeDecimal"
        },
        "moneyValue": {
          "$ref": "GoogleTypeMoney",
          "description": "A value of type `google.type.Money` (currency code, whole units, decimal units)."
        },
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "A value of type `google.type.Date` (year, month, day)."
        },
        "intValue": {
          "description": "A value of type `int`.",
          "format": "int64",
          "type": "string"
        },
        "dateTimeValue": {
          "description": "A value of type `google.type.DateTime` (year, month, day, hour, minute, second, and UTC offset or timezone.)",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "id": "GoogleCloudChannelV1ReportValue",
      "type": "object",
      "description": "A single report value."
    },
    "GoogleCloudChannelV1PricePhase": {
      "properties": {
        "priceTiers": {
          "type": "array",
          "description": "Price by the resource tiers.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          }
        },
        "lastPeriod": {
          "description": "Defines first period for the phase.",
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "description": "Price of the phase. Present if there are no price tiers.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        },
        "periodType": {
          "type": "string",
          "description": "Defines the phase period type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        }
      },
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "id": "GoogleCloudChannelV1PricePhase",
      "type": "object"
    },
    "GoogleCloudChannelV1Plan": {
      "id": "GoogleCloudChannelV1Plan",
      "properties": {
        "trialPeriod": {
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string"
        },
        "paymentType": {
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "description": "Specifies when the payment needs to happen.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ]
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers.",
          "type": "string"
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        }
      },
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.ListTransferableSkus",
      "properties": {
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "customerName": {
          "type": "string",
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional."
        },
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest"
    },
    "GoogleCloudChannelV1SkuGroupCondition": {
      "properties": {
        "skuGroup": {
          "description": "Specifies a SKU group (https://cloud.google.com/skus/sku-groups). Resource name of SKU group. Format: accounts/{account}/skuGroups/{sku_group}. Example: \"accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A condition that applies the override if a line item SKU is found in the SKU group.",
      "id": "GoogleCloudChannelV1SkuGroupCondition"
    },
    "GoogleCloudChannelV1ListEntitlementChangesResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListEntitlementChangesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to list the next page of results.",
          "type": "string"
        },
        "entitlementChanges": {
          "type": "array",
          "description": "The list of entitlement changes.",
          "items": {
            "$ref": "GoogleCloudChannelV1EntitlementChange"
          }
        }
      },
      "description": "Response message for CloudChannelService.ListEntitlementChanges"
    },
    "GoogleCloudChannelV1ReportJob": {
      "id": "GoogleCloudChannelV1ReportJob",
      "properties": {
        "reportStatus": {
          "description": "The current status of report generation.",
          "$ref": "GoogleCloudChannelV1ReportStatus"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`"
        }
      },
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation.",
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "id": "GoogleCloudChannelV1TransferEligibility",
      "properties": {
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        },
        "ineligibilityReason": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended",
            "The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265"
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED",
            "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU"
          ],
          "description": "Specified the reason for ineligibility."
        },
        "description": {
          "type": "string",
          "description": "Localized description if reseller is not eligible to transfer the SKU."
        }
      },
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU."
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableSkus": {
          "type": "array",
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          }
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableSkus."
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "id": "GoogleCloudChannelV1ListProductsResponse",
      "description": "Response message for ListProducts.",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          },
          "type": "array",
          "description": "List of Products requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportResultsMetadata": {
      "deprecated": true,
      "id": "GoogleCloudChannelV1alpha1ReportResultsMetadata",
      "properties": {
        "precedingDateRange": {
          "description": "The usage dates immediately preceding `date_range` with the same duration. Use this to calculate trending usage and costs. This is only populated if you request trending data. For example, if `date_range` is July 1-15, `preceding_date_range` will be June 16-30.",
          "$ref": "GoogleCloudChannelV1alpha1DateRange"
        },
        "rowCount": {
          "description": "The total number of rows of data in the final report.",
          "type": "string",
          "format": "int64"
        },
        "report": {
          "$ref": "GoogleCloudChannelV1alpha1Report",
          "description": "Details of the completed report."
        },
        "dateRange": {
          "$ref": "GoogleCloudChannelV1alpha1DateRange",
          "description": "The date range of reported usage."
        }
      },
      "description": "The features describing the data. Returned by CloudChannelReportsService.RunReportJob and CloudChannelReportsService.FetchReportResults.",
      "type": "object"
    },
    "GoogleCloudChannelV1DiscountComponent": {
      "type": "object",
      "properties": {
        "discountAbsolute": {
          "$ref": "GoogleTypeMoney",
          "description": "Fixed value discount."
        },
        "discountPercentage": {
          "format": "double",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represented as 0.2.",
          "type": "number"
        },
        "discountType": {
          "description": "Type of the discount.",
          "enum": [
            "DISCOUNT_TYPE_UNSPECIFIED",
            "REGIONAL_DISCOUNT",
            "PROMOTIONAL_DISCOUNT",
            "SALES_DISCOUNT",
            "RESELLER_MARGIN",
            "DEAL_CODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Regional discount.",
            "Promotional discount.",
            "Sales-provided discount.",
            "Reseller margin.",
            "Deal code discount."
          ]
        }
      },
      "description": "Represents a single component of the total discount applicable on a Price.",
      "id": "GoogleCloudChannelV1DiscountComponent"
    },
    "GoogleCloudChannelV1EduData": {
      "type": "object",
      "properties": {
        "website": {
          "type": "string",
          "description": "Web address for the edu customer's institution."
        },
        "instituteType": {
          "type": "string",
          "description": "Designated institute type of customer.",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ]
        },
        "instituteSize": {
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "type": "string",
          "description": "Size of the institute.",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ]
        }
      },
      "description": "Required Edu Attributes",
      "id": "GoogleCloudChannelV1EduData"
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "description": "Response Message for ListSubscribers.",
      "properties": {
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of service accounts which have subscriber access to the topic."
        },
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "id": "GoogleCloudChannelV1ProvisionedService",
      "type": "object",
      "properties": {
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "type": "string",
          "readOnly": true
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "type": "string",
          "readOnly": true
        },
        "productId": {
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        }
      },
      "description": "Service provisioned for an entitlement."
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "id": "GoogleCloudChannelV1ListOffersResponse",
      "type": "object",
      "description": "Response message for ListOffers.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "offers": {
          "description": "The list of Offers requested. The pricing information for each Offer only includes the base price. Effective prices and discounts aren't populated.",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "description": "Applies the repricing configuration at the entitlement level.",
      "properties": {
        "entitlement": {
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "description": "Request message for CloudChannelService.ChangeParameters.",
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer."
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order ID provided by the reseller.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "type": "object",
      "properties": {
        "purchasableSkus": {
          "type": "array",
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "description": "Response message for ListPurchasableSkus.",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse"
    },
    "GoogleCloudChannelV1BillingAccount": {
      "id": "GoogleCloudChannelV1BillingAccount",
      "properties": {
        "currencyCode": {
          "readOnly": true,
          "description": "Output only. The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the billing account."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this billing account was created."
        },
        "regionCode": {
          "description": "Output only. The CLDR region code.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}."
        }
      },
      "description": "Represents a billing account.",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements.",
      "properties": {
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "Required. The new entitlements to create or transfer."
        }
      }
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "properties": {
        "channelPartner": {
          "type": "string",
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "description": "Type of event which happened for the channel partner."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Constraints": {
      "description": "Represents the constraints for buying the Offer.",
      "properties": {
        "customerConstraints": {
          "$ref": "GoogleCloudChannelV1CustomerConstraints",
          "description": "Represents constraints required to purchase the Offer for a customer."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Constraints"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1TransferableSku": {
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only.",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "legacySku": {
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "transferEligibility": {
          "description": "Describes the transfer eligibility of a SKU.",
          "$ref": "GoogleCloudChannelV1TransferEligibility"
        }
      },
      "id": "GoogleCloudChannelV1TransferableSku"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "properties": {
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        },
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "opportunityEvent": {
          "$ref": "GoogleCloudChannelV1alpha1OpportunityEvent",
          "description": "Opportunity event sent as part of Pub/Sub event to partners/integrators."
        },
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent"
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "properties": {
        "productId": {
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "readOnly": true,
          "type": "string"
        },
        "skuId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "type": "object"
    },
    "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse": {
      "properties": {
        "skuPurchaseGroups": {
          "description": "List of SKU purchase groups where each group represents a set of SKUs that must be purchased using the same billing account. Each SKU from [QueryEligibleBillingAccountsRequest.skus] will appear in exactly one SKU group.",
          "items": {
            "$ref": "GoogleCloudChannelV1SkuPurchaseGroup"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for QueryEligibleBillingAccounts.",
      "id": "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse"
    },
    "GoogleCloudChannelV1RunReportJobRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1RunReportJobRequest",
      "description": "Request message for CloudChannelReportsService.RunReportJob.",
      "deprecated": true,
      "properties": {
        "dateRange": {
          "$ref": "GoogleCloudChannelV1DateRange",
          "description": "Optional. The range of usage or invoice dates to include in the result."
        },
        "filter": {
          "description": "Optional. A structured string that defines conditions on dimension columns to restrict the report output. Filters support logical operators (AND, OR, NOT) and conditional operators (=, !=, <, >, <=, and >=) using `column_id` as keys. For example: `(customer:\"accounts/C123abc/customers/S456def\" OR customer:\"accounts/C123abc/customers/S789ghi\") AND invoice_start_date.year >= 2022`",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response is localized to the corresponding language code if the original data sources support it. Default is \"en-US\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Human readable description. Description can contain HTML.",
          "type": "string"
        },
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        }
      },
      "id": "GoogleCloudChannelV1MarketingInfo",
      "description": "Represents the marketing information for a Product, SKU or Offer."
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      },
      "description": "A type that represents the various adjustments you can apply to a bill.",
      "id": "GoogleCloudChannelV1RepricingAdjustment"
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1EntitlementEvent"
        },
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1CustomerEvent"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1SubscriberEvent"
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      },
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object"
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "id": "GoogleCloudChannelV1PurchasableSku",
      "type": "object",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response."
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1AdminUser": {
      "type": "object",
      "properties": {
        "familyName": {
          "description": "Family name of the admin user.",
          "type": "string"
        },
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        },
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1AdminUser",
      "description": "Information needed to create an Admin User for Google Workspace."
    },
    "GoogleCloudChannelV1ReportResultsMetadata": {
      "id": "GoogleCloudChannelV1ReportResultsMetadata",
      "deprecated": true,
      "type": "object",
      "properties": {
        "report": {
          "description": "Details of the completed report.",
          "$ref": "GoogleCloudChannelV1Report"
        },
        "precedingDateRange": {
          "$ref": "GoogleCloudChannelV1DateRange",
          "description": "The usage dates immediately preceding `date_range` with the same duration. Use this to calculate trending usage and costs. This is only populated if you request trending data. For example, if `date_range` is July 1-15, `preceding_date_range` will be June 16-30."
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The total number of rows of data in the final report."
        },
        "dateRange": {
          "description": "The date range of reported usage.",
          "$ref": "GoogleCloudChannelV1DateRange"
        }
      },
      "description": "The features describing the data. Returned by CloudChannelReportsService.RunReportJob and CloudChannelReportsService.FetchReportResults."
    },
    "GoogleCloudChannelV1alpha1OpportunityEvent": {
      "id": "GoogleCloudChannelV1alpha1OpportunityEvent",
      "properties": {
        "eventType": {
          "type": "string",
          "description": "Type of event which happened for the opportunity.",
          "enumDescriptions": [
            "Not used.",
            "New opportunity created.",
            "Existing opportunity updated.",
            "Partner has been detached from the opportunity and can no longer access it."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "PARTNER_DETACHED"
          ]
        },
        "partner": {
          "type": "string",
          "description": "Resource name of the partner. Format: partners/{partner}"
        },
        "opportunity": {
          "description": "Resource name of the opportunity. Format: opportunities/{opportunity}",
          "type": "string"
        }
      },
      "description": "Represents Pub/Sub message content describing opportunity updates.",
      "type": "object"
    },
    "GoogleCloudChannelV1PriceTier": {
      "properties": {
        "firstResource": {
          "format": "int32",
          "description": "First resource for which the tier price applies.",
          "type": "integer"
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the tier."
        },
        "lastResource": {
          "format": "int32",
          "description": "Last resource for which the tier price applies.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudChannelV1PriceTier",
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Column": {
      "id": "GoogleCloudChannelV1alpha1Column",
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "properties": {
        "dataType": {
          "description": "The type of the values for this column.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ],
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The column's display name.",
          "type": "string"
        },
        "columnId": {
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports.",
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1alpha1DateRange": {
      "type": "object",
      "properties": {
        "invoiceStartDate": {
          "$ref": "GoogleTypeDate",
          "description": "The earliest invoice date (inclusive). If this value is not the first day of a month, this will move it back to the first day of the given month."
        },
        "usageEndDateTime": {
          "description": "The latest usage date time (exclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage end date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "invoiceEndDate": {
          "description": "The latest invoice date (inclusive). If this value is not the last day of a month, this will move it forward to the last day of the given month.",
          "$ref": "GoogleTypeDate"
        },
        "usageStartDateTime": {
          "description": "The earliest usage date time (inclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage start date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "description": "A representation of usage or invoice date ranges.",
      "deprecated": true,
      "id": "GoogleCloudChannelV1alpha1DateRange"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse",
      "properties": {
        "cloudIdentityAccounts": {
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "description": "The Cloud Identity accounts associated with the domain.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Price": {
      "description": "Represents the price of the Offer.",
      "properties": {
        "basePrice": {
          "description": "Base price.",
          "$ref": "GoogleTypeMoney"
        },
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        },
        "pricePeriod": {
          "description": "The time period with respect to which base and effective prices are defined. Example: 1 month, 6 months, 1 year, etc.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "discount": {
          "type": "number",
          "format": "double",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2."
        },
        "discountComponents": {
          "items": {
            "$ref": "GoogleCloudChannelV1DiscountComponent"
          },
          "type": "array",
          "description": "Breakdown of the discount into its components. This will be empty if there is no discount present."
        },
        "externalPriceUri": {
          "type": "string",
          "description": "Link to external price list, such as link to Google Voice rate card."
        }
      },
      "id": "GoogleCloudChannelV1Price",
      "type": "object"
    },
    "GoogleCloudChannelV1DateRange": {
      "description": "A representation of usage or invoice date ranges.",
      "type": "object",
      "id": "GoogleCloudChannelV1DateRange",
      "properties": {
        "invoiceEndDate": {
          "description": "The latest invoice date (inclusive). If this value is not the last day of a month, this will move it forward to the last day of the given month.",
          "$ref": "GoogleTypeDate"
        },
        "usageEndDateTime": {
          "description": "The latest usage date time (exclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage end date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "usageStartDateTime": {
          "description": "The earliest usage date time (inclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage start date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "invoiceStartDate": {
          "description": "The earliest invoice date (inclusive). If this value is not the first day of a month, this will move it back to the first day of the given month.",
          "$ref": "GoogleTypeDate"
        }
      },
      "deprecated": true
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "properties": {
        "eventType": {
          "description": "Type of event which happened for the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        },
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "type": "object",
      "id": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
      "description": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object. Deprecated: This is no longer supported. Use RepricingConfig.EntitlementGranularity instead.",
      "properties": {},
      "deprecated": true
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "properties": {
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "paymentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        }
      },
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1RenewalSettings",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudChannelV1Sku": {
      "type": "object",
      "id": "GoogleCloudChannelV1Sku",
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the SKU."
        },
        "product": {
          "$ref": "GoogleCloudChannelV1Product",
          "description": "Product the SKU is associated with."
        },
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        }
      },
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs."
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer with parameter constraints updated to allow the Transfer."
        },
        "priceReferenceId": {
          "type": "string",
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
        }
      },
      "id": "GoogleCloudChannelV1TransferableOffer",
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs.",
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse",
      "properties": {
        "channelPartnerRepricingConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          },
          "description": "The repricing configs for this channel partner."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page."
        }
      }
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "properties": {
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "scheduledRenewalOffer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The offer resource name that the entitlement will renew on at the end date. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "paymentOption": {
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "type": "string",
          "deprecated": true,
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ]
        },
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        },
        "disableCommitment": {
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "type": "object"
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "properties": {
        "percentage": {
          "$ref": "GoogleTypeDecimal",
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% => \"-1.00\" Mark up by 1% => \"1.00\" Pass-Through => \"0.00\""
        }
      },
      "description": "An adjustment that applies a flat markup or markdown to an entire bill.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Commitment start timestamp."
        }
      },
      "description": "Commitment settings for commitment-based offers.",
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "description": "Commitment settings for commitment-based offers.",
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "properties": {
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Commitment start timestamp."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "description": "Response message for CloudChannelService.ListCustomers.",
      "type": "object",
      "properties": {
        "customers": {
          "description": "The customers belonging to a reseller or distributor.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page."
        }
      },
      "id": "GoogleCloudChannelV1ListCustomersResponse"
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "type": "object",
      "properties": {
        "account": {
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        },
        "integrator": {
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "description": "Request Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1BillableSku": {
      "type": "object",
      "description": "Represents the Billable SKU information.",
      "properties": {
        "serviceDisplayName": {
          "description": "Unique human readable name for the Service.",
          "type": "string"
        },
        "skuDisplayName": {
          "description": "Unique human readable name for the SKU.",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Resource name of Billable SKU. Format: billableSkus/{sku}. Example: billableSkus/6E1B-6634-470F\"."
        },
        "service": {
          "description": "Resource name of Service which contains Repricing SKU. Format: services/{service}. Example: \"services/B7D9-FDCB-15D8\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1BillableSku"
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "id": "GoogleTypePostalAddress",
      "properties": {
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page."
        },
        "transferableOffers": {
          "description": "Information about Offers for a customer that can be used for transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.ListTransferableOffers."
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
[...]
