{
  "servicePath": "",
  "name": "cloudchannel",
  "protocol": "rest",
  "ownerName": "Google",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudchannel:v1",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        },
        "https://www.googleapis.com/auth/apps.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs.",
      "properties": {
        "channelPartnerRepricingConfigs": {
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          },
          "type": "array",
          "description": "The repricing configs for this channel partner."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse"
    },
    "GoogleCloudChannelV1alpha1Period": {
      "properties": {
        "duration": {
          "format": "int32",
          "type": "integer",
          "description": "Total duration of Period Type defined."
        },
        "periodType": {
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Period Type."
        }
      },
      "id": "GoogleCloudChannelV1alpha1Period",
      "description": "Represents period in days/months/years.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportStatus": {
      "description": "Status of a report generation process.",
      "id": "GoogleCloudChannelV1alpha1ReportStatus",
      "type": "object",
      "deprecated": true,
      "properties": {
        "state": {
          "description": "The current state of the report generation process.",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report generation's completion time."
        },
        "startTime": {
          "description": "The report generation's start time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeOfferRequest",
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement when setting up billing on a trial subscription. This field is only relevant for multi-currency accounts. It should be left empty for single currency accounts.",
          "type": "string"
        },
        "offer": {
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "id": "GoogleCloudChannelV1ProvisionedService",
      "type": "object",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        },
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "provisioningId": {
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "description": "Configuration for repricing a Google bill over a period of time.",
      "type": "object",
      "id": "GoogleCloudChannelV1RepricingConfig",
      "properties": {
        "adjustment": {
          "description": "Required. Information about the adjustment.",
          "$ref": "GoogleCloudChannelV1RepricingAdjustment"
        },
        "conditionalOverrides": {
          "description": "The conditional overrides to apply for this configuration. If you list multiple overrides, only the first valid override is used. If you don't list any overrides, the API uses the normal adjustment and rebilling basis.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ConditionalOverride"
          }
        },
        "channelPartnerGranularity": {
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
          "description": "Applies the repricing configuration at the channel partner level. Only ChannelPartnerRepricingConfig supports this value. Deprecated: This is no longer supported. Use RepricingConfig.entitlement_granularity instead.",
          "deprecated": true
        },
        "entitlementGranularity": {
          "description": "Required. Applies the repricing configuration at the entitlement level. Note: If a ChannelPartnerRepricingConfig using RepricingConfig.EntitlementGranularity becomes effective, then no existing or future RepricingConfig.ChannelPartnerGranularity will apply to the RepricingConfig.EntitlementGranularity.entitlement. This is the recommended value for both CustomerRepricingConfig and ChannelPartnerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity"
        },
        "rebillingBasis": {
          "type": "string",
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "description": "Required. The RebillingBasis to use for this bill. Specifies the relative cost based on repricing costs you will apply."
        },
        "effectiveInvoiceMonth": {
          "description": "Required. The YearMonth when these adjustments activate. The Day field needs to be \"0\" since we only accept YearMonth repricing boundaries.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleCloudChannelV1alpha1OpportunityEvent": {
      "id": "GoogleCloudChannelV1alpha1OpportunityEvent",
      "type": "object",
      "description": "Represents Pub/Sub message content describing opportunity updates.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "New opportunity created.",
            "Existing opportunity updated.",
            "Partner has been detached from the opportunity and can no longer access it."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "PARTNER_DETACHED"
          ],
          "description": "Type of event which happened for the opportunity."
        },
        "partner": {
          "type": "string",
          "description": "Resource name of the partner. Format: partners/{partner}"
        },
        "opportunity": {
          "type": "string",
          "description": "Resource name of the opportunity. Format: opportunities/{opportunity}"
        }
      }
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Commitment start timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "type": "object",
      "description": "Commitment settings for commitment-based offers.",
      "id": "GoogleCloudChannelV1CommitmentSettings"
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "type": "object",
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "properties": {
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer."
        }
      },
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response."
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "type": "object",
      "properties": {
        "reportStatus": {
          "$ref": "GoogleCloudChannelV1alpha1ReportStatus",
          "description": "The current status of report generation."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`"
        }
      },
      "deprecated": true,
      "id": "GoogleCloudChannelV1alpha1ReportJob",
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation."
    },
    "GoogleCloudChannelV1AdminUser": {
      "type": "object",
      "properties": {
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        },
        "familyName": {
          "description": "Family name of the admin user.",
          "type": "string"
        },
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        }
      },
      "description": "Information needed to create an Admin User for Google Workspace.",
      "id": "GoogleCloudChannelV1AdminUser"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "serviceAccounts": {
          "description": "List of service accounts which have subscriber access to the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        }
      },
      "description": "Response Message for ListSubscribers."
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "id": "GoogleCloudChannelV1TransferEligibility",
      "properties": {
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        },
        "ineligibilityReason": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended",
            "The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265"
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED",
            "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU"
          ],
          "description": "Specified the reason for ineligibility."
        },
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU."
    },
    "GoogleCloudChannelV1SkuGroupCondition": {
      "type": "object",
      "description": "A condition that applies the override if a line item SKU is found in the SKU group.",
      "id": "GoogleCloudChannelV1SkuGroupCondition",
      "properties": {
        "skuGroup": {
          "description": "Specifies a SKU group (https://cloud.google.com/skus/sku-groups). Resource name of SKU group. Format: accounts/{account}/skuGroups/{sku_group}. Example: \"accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041\".",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "GoogleCloudChannelV1Plan": {
      "properties": {
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers.",
          "type": "string"
        },
        "trialPeriod": {
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentType": {
          "description": "Specifies when the payment needs to happen.",
          "type": "string",
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ]
        }
      },
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "id": "GoogleCloudChannelV1Plan",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "parameters": {
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order ID provided by the reseller.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.ChangeParameters."
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      },
      "description": "Response Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "type": "object",
      "properties": {
        "account": {
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        },
        "integrator": {
          "type": "string",
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset."
        }
      },
      "description": "Request Message for UnregisterSubscriber.",
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest"
    },
    "GoogleCloudChannelV1Parameter": {
      "type": "object",
      "id": "GoogleCloudChannelV1Parameter",
      "properties": {
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        }
      },
      "description": "Definition for extended entitlement parameters."
    },
    "GoogleCloudChannelV1ListReportsResponse": {
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Report"
          },
          "description": "The reports available to the partner."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pass this token to FetchReportResultsRequest.page_token to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for CloudChannelReportsService.ListReports.",
      "deprecated": true,
      "id": "GoogleCloudChannelV1ListReportsResponse"
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "description": "Response message for ListPurchasableSkus.",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "properties": {
        "purchasableSkus": {
          "type": "array",
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.ListTransferableOffers",
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest",
      "properties": {
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The Billing Account to look up Offers for. Format: accounts/{account_id}/billingAccounts/{billing_account_id}. This field is only relevant for multi-currency accounts. It should be left empty for single currency accounts."
        },
        "customerName": {
          "type": "string",
          "description": "A reseller should create a customer and use the resource name of that customer here."
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000.",
          "type": "integer"
        },
        "sku": {
          "description": "Required. The SKU to look up Offers for.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "properties": {
        "entitlements": {
          "description": "Required. The new entitlements to create or transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array"
        },
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1Price": {
      "properties": {
        "discountComponents": {
          "description": "Breakdown of the discount into its components. This will be empty if there is no discount present.",
          "items": {
            "$ref": "GoogleCloudChannelV1DiscountComponent"
          },
          "type": "array"
        },
        "effectivePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Effective Price after applying the discounts."
        },
        "discount": {
          "format": "double",
          "type": "number",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2."
        },
        "pricePeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "The time period with respect to which base and effective prices are defined. Example: 1 month, 6 months, 1 year, etc."
        },
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        },
        "externalPriceUri": {
          "type": "string",
          "description": "Link to external price list, such as link to Google Voice rate card."
        }
      },
      "id": "GoogleCloudChannelV1Price",
      "type": "object",
      "description": "Represents the price of the Offer."
    },
    "GoogleCloudChannelV1alpha1DateRange": {
      "deprecated": true,
      "description": "A representation of usage or invoice date ranges.",
      "type": "object",
      "properties": {
        "invoiceStartDate": {
          "description": "The earliest invoice date (inclusive). If this value is not the first day of a month, this will move it back to the first day of the given month.",
          "$ref": "GoogleTypeDate"
        },
        "usageStartDateTime": {
          "description": "The earliest usage date time (inclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage start date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "usageEndDateTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "The latest usage date time (exclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage end date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time."
        },
        "invoiceEndDate": {
          "description": "The latest invoice date (inclusive). If this value is not the last day of a month, this will move it forward to the last day of the given month.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleCloudChannelV1alpha1DateRange"
    },
    "GoogleTypeDateTime": {
      "properties": {
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Time zone."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        },
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "GoogleCloudChannelV1RunReportJobResponse": {
      "properties": {
        "reportJob": {
          "$ref": "GoogleCloudChannelV1ReportJob",
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results."
        },
        "reportMetadata": {
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data.",
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata"
        }
      },
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "deprecated": true,
      "id": "GoogleCloudChannelV1RunReportJobResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Column": {
      "properties": {
        "displayName": {
          "description": "The column's display name.",
          "type": "string"
        },
        "columnId": {
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ],
          "description": "The type of the values for this column."
        }
      },
      "deprecated": true,
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "id": "GoogleCloudChannelV1alpha1Column",
      "type": "object"
    },
    "GoogleCloudChannelV1BillingAccountPurchaseInfo": {
      "description": "Represents a billing account that can be used to make a purchase.",
      "type": "object",
      "id": "GoogleCloudChannelV1BillingAccountPurchaseInfo",
      "properties": {
        "billingAccount": {
          "description": "The billing account resource.",
          "$ref": "GoogleCloudChannelV1BillingAccount"
        }
      }
    },
    "GoogleCloudChannelV1alpha1Report": {
      "id": "GoogleCloudChannelV1alpha1Report",
      "type": "object",
      "deprecated": true,
      "properties": {
        "columns": {
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Column"
          },
          "type": "array",
          "description": "The list of columns included in the report. This defines the schema of the report results."
        },
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}"
        }
      },
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc."
    },
    "GoogleCloudChannelV1ReportResultsMetadata": {
      "type": "object",
      "id": "GoogleCloudChannelV1ReportResultsMetadata",
      "description": "The features describing the data. Returned by CloudChannelReportsService.RunReportJob and CloudChannelReportsService.FetchReportResults.",
      "deprecated": true,
      "properties": {
        "dateRange": {
          "description": "The date range of reported usage.",
          "$ref": "GoogleCloudChannelV1DateRange"
        },
        "precedingDateRange": {
          "$ref": "GoogleCloudChannelV1DateRange",
          "description": "The usage dates immediately preceding `date_range` with the same duration. Use this to calculate trending usage and costs. This is only populated if you request trending data. For example, if `date_range` is July 1-15, `preceding_date_range` will be June 16-30."
        },
        "report": {
          "$ref": "GoogleCloudChannelV1Report",
          "description": "Details of the completed report."
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The total number of rows of data in the final report."
        }
      }
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "type": "object",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "provisioningId": {
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "readOnly": true
        },
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1ProvisionedService"
    },
    "GoogleCloudChannelV1Product": {
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the product."
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Product. Format: products/{product_id}"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Product",
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc."
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "description": "Request message for CloudChannelService.StartPaidService."
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          },
          "description": "Information about Offers for a customer that can be used for transfer.",
          "type": "array"
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "type": "object"
    },
    "GoogleCloudChannelV1RunReportJobRequest": {
      "description": "Request message for CloudChannelReportsService.RunReportJob.",
      "id": "GoogleCloudChannelV1RunReportJobRequest",
      "deprecated": true,
      "properties": {
        "dateRange": {
          "description": "Optional. The range of usage or invoice dates to include in the result.",
          "$ref": "GoogleCloudChannelV1DateRange"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response is localized to the corresponding language code if the original data sources support it. Default is \"en-US\".",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A structured string that defines conditions on dimension columns to restrict the report output. Filters support logical operators (AND, OR, NOT) and conditional operators (=, !=, <, >, <=, and >=) using `column_id` as keys. For example: `(customer:\"accounts/C123abc/customers/S456def\" OR customer:\"accounts/C123abc/customers/S789ghi\") AND invoice_start_date.year >= 2022`"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "properties": {
        "topic": {
          "description": "Name of the topic the service account subscriber access was removed from.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "description": "The transferred entitlements."
        }
      }
    },
    "GoogleCloudChannelV1PricePhase": {
      "id": "GoogleCloudChannelV1PricePhase",
      "properties": {
        "periodType": {
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Defines the phase period type."
        },
        "firstPeriod": {
          "format": "int32",
          "description": "Defines first period for the phase.",
          "type": "integer"
        },
        "lastPeriod": {
          "format": "int32",
          "description": "Defines first period for the phase.",
          "type": "integer"
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "priceTiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "description": "Price by the resource tiers."
        }
      },
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "type": "object"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "properties": {
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        },
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "user": {
          "$ref": "GoogleCloudChannelV1AdminUser",
          "description": "Admin user information."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity"
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "description": "A type that represents the various adjustments you can apply to a bill.",
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudChannelV1Offer": {
      "properties": {
        "parameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "description": "Parameters required to use current Offer to purchase."
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the Offer."
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        },
        "dealCode": {
          "type": "string",
          "description": "The deal code of the offer to get a special promotion or discount."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. End of the Offer validity time.",
          "readOnly": true
        },
        "priceByResources": {
          "description": "Price for each monetizable resource type.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "type": "array"
        },
        "constraints": {
          "$ref": "GoogleCloudChannelV1Constraints",
          "description": "Constraints on transacting the Offer."
        },
        "plan": {
          "$ref": "GoogleCloudChannelV1Plan",
          "description": "Describes the payment plan for the Offer."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start of the Offer validity time.",
          "type": "string"
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU the offer is associated with."
        }
      },
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "type": "object",
      "id": "GoogleCloudChannelV1Offer"
    },
    "GoogleCloudChannelV1ReportJob": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        },
        "reportStatus": {
          "description": "The current status of report generation.",
          "$ref": "GoogleCloudChannelV1ReportStatus"
        }
      },
      "id": "GoogleCloudChannelV1ReportJob",
      "deprecated": true,
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation."
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "description": "Type of event which happened for the entitlement."
        },
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1EntitlementEvent"
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "id": "GoogleCloudChannelV1RenewalSettings",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentPlan": {
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        }
      },
      "description": "Renewal settings for renewable Offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1DiscountComponent": {
      "properties": {
        "discountPercentage": {
          "format": "double",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represented as 0.2.",
          "type": "number"
        },
        "discountType": {
          "description": "Type of the discount.",
          "type": "string",
          "enum": [
            "DISCOUNT_TYPE_UNSPECIFIED",
            "REGIONAL_DISCOUNT",
            "PROMOTIONAL_DISCOUNT",
            "SALES_DISCOUNT",
            "RESELLER_MARGIN",
            "DEAL_CODE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Regional discount.",
            "Promotional discount.",
            "Sales-provided discount.",
            "Reseller margin.",
            "Deal code discount."
          ]
        },
        "discountAbsolute": {
          "$ref": "GoogleTypeMoney",
          "description": "Fixed value discount."
        }
      },
      "id": "GoogleCloudChannelV1DiscountComponent",
      "type": "object",
      "description": "Represents a single component of the total discount applicable on a Price."
    },
    "GoogleCloudChannelV1Report": {
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "type": "object",
      "id": "GoogleCloudChannelV1Report",
      "deprecated": true,
      "properties": {
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Column"
          },
          "description": "The list of columns included in the report. This defines the schema of the report results."
        },
        "displayName": {
          "type": "string",
          "description": "A human-readable name for this report."
        },
        "name": {
          "type": "string",
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}"
        }
      }
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "type": "object",
      "properties": {
        "cloudIdentityAccounts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "description": "The Cloud Identity accounts associated with the domain."
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse",
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "properties": {
        "primaryAdminEmail": {
          "type": "string",
          "description": "Optional. Primary admin email to fetch for Cloud Identity account team customer."
        },
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customers, including domain and team customers. For team customers, please use the domain for their emails."
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist."
    },
    "GoogleTypeMoney": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "id": "GoogleTypeMoney"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "properties": {
        "legacySku": {
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "transferEligibility": {
          "description": "Describes the transfer eligibility of a SKU.",
          "$ref": "GoogleCloudChannelV1TransferEligibility"
        },
        "sku": {
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer.",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferableSku",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only."
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "eventType": {
          "description": "Type of event which happened for the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "properties": {
        "opportunityEvent": {
          "$ref": "GoogleCloudChannelV1alpha1OpportunityEvent",
          "description": "Opportunity event sent as part of Pub/Sub event to partners/integrators."
        },
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        },
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        },
        "channelPartnerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
          "description": "Channel Partner event sent as part of Pub/Sub event to partners."
        }
      },
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub."
    },
    "GoogleCloudChannelV1alpha1Value": {
      "id": "GoogleCloudChannelV1alpha1Value",
      "properties": {
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Represents an int64 value."
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      },
      "description": "Data type and value of a parameter.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "properties": {
        "linkState": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "description": "Required. State of the channel partner link."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is updated.",
          "readOnly": true,
          "type": "string"
        },
        "resellerCloudIdentityId": {
          "type": "string",
          "description": "Required. Cloud Identity ID of the linked reseller."
        },
        "publicId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination."
        },
        "name": {
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "type": "string"
        },
        "channelPartnerCloudIdentityInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity info of the channel partner (IR)."
        },
        "inviteLinkUri": {
          "type": "string",
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "type": "object",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel."
    },
    "GoogleCloudChannelV1SkuPurchaseGroup": {
      "description": "Represents a set of SKUs that must be purchased using the same billing account.",
      "id": "GoogleCloudChannelV1SkuPurchaseGroup",
      "properties": {
        "billingAccountPurchaseInfos": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillingAccountPurchaseInfo"
          },
          "description": "List of billing accounts that are eligible to purhcase these SKUs."
        },
        "skus": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of the SKUs included in this group. Format: products/{product_id}/skus/{sku_id}."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1FetchReportResultsResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "GoogleCloudChannelV1Row"
          },
          "type": "array",
          "description": "The report's lists of values. Each row follows the settings and ordering of the columns from `report_metadata`."
        },
        "nextPageToken": {
          "description": "Pass this token to FetchReportResultsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "reportMetadata": {
          "description": "The metadata for the report results (display name, columns, row count, and date ranges).",
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata"
        }
      },
      "type": "object",
      "deprecated": true,
      "description": "Response message for CloudChannelReportsService.FetchReportResults. Contains a tabular representation of the report results.",
      "id": "GoogleCloudChannelV1FetchReportResultsResponse"
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "properties": {
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1OperationMetadata",
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "type": "object",
      "description": "Settings for trial offers.",
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "type": "string",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1alpha1TrialSettings"
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "properties": {
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        },
        "description": {
          "type": "string",
          "description": "Human readable description. Description can contain HTML."
        }
      },
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "type": "object",
      "id": "GoogleCloudChannelV1MarketingInfo"
    },
    "GoogleCloudChannelV1TrialSettings": {
      "type": "object",
      "id": "GoogleCloudChannelV1TrialSettings",
      "description": "Settings for trial offers.",
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      }
    },
    "GoogleCloudChannelV1RepricingCondition": {
      "id": "GoogleCloudChannelV1RepricingCondition",
      "properties": {
        "skuGroupCondition": {
          "$ref": "GoogleCloudChannelV1SkuGroupCondition",
          "description": "SKU Group condition for override."
        }
      },
      "type": "object",
      "description": "Represents the various repricing conditions you can use for a conditional override."
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "description": "Request message for CloudChannelService.ImportCustomer",
      "properties": {
        "channelPartnerId": {
          "type": "string",
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well."
        },
        "domain": {
          "description": "Required. Customer domain.",
          "type": "string"
        },
        "cloudIdentityId": {
          "description": "Required. Customer's Cloud Identity ID",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "primaryAdminEmail": {
          "type": "string",
          "description": "Required. Customer's primary admin email."
        },
        "overwriteIfExists": {
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain.",
          "type": "boolean"
        },
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1BillableSku": {
      "id": "GoogleCloudChannelV1BillableSku",
      "description": "Represents the Billable SKU information.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Resource name of Service which contains Repricing SKU. Format: services/{service}. Example: \"services/B7D9-FDCB-15D8\".",
          "type": "string"
        },
        "skuDisplayName": {
          "description": "Unique human readable name for the SKU.",
          "type": "string"
        },
        "serviceDisplayName": {
          "description": "Unique human readable name for the Service.",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Resource name of Billable SKU. Format: billableSkus/{sku}. Example: billableSkus/6E1B-6634-470F\"."
        }
      }
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "type": "object",
      "properties": {
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened for the customer.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1alpha1CustomerEvent"
    },
    "GoogleCloudChannelV1ContactInfo": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name."
        },
        "lastName": {
          "type": "string",
          "description": "The customer account contact's last name. Optional for Team customers."
        },
        "title": {
          "type": "string",
          "description": "Optional. The customer account contact's job title."
        },
        "phone": {
          "description": "The customer account's contact phone number.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "The customer account contact's first name. Optional for Team customers."
        },
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ContactInfo",
      "description": "Contact information for a customer account."
    },
    "GoogleCloudChannelV1BillingAccount": {
      "description": "Represents a billing account.",
      "id": "GoogleCloudChannelV1BillingAccount",
      "type": "object",
      "properties": {
        "regionCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The CLDR region code."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this billing account was created."
        },
        "displayName": {
          "description": "Display name of the billing account.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The 3-letter currency code defined in ISO 4217."
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "type": "object",
      "properties": {
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableSkus."
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "properties": {
        "billableSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          },
          "description": "The list of billable SKUs in the requested SKU group."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse",
      "description": "Response message for ListSkuGroupBillableSkus."
    },
    "GoogleCloudChannelV1ListEntitlementChangesResponse": {
      "id": "GoogleCloudChannelV1ListEntitlementChangesResponse",
      "description": "Response message for CloudChannelService.ListEntitlementChanges",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to list the next page of results.",
          "type": "string"
        },
        "entitlementChanges": {
          "description": "The list of entitlement changes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1EntitlementChange"
          }
        }
      }
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "description": "Request message for CloudChannelService.CancelEntitlement."
    },
    "GoogleCloudChannelV1PriceByResource": {
      "type": "object",
      "id": "GoogleCloudChannelV1PriceByResource",
      "description": "Represents price by resource type.",
      "properties": {
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION",
            "AI_CREDITS"
          ],
          "description": "Resource Type. Example: SEAT",
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud.",
            "For Google Cloud subscriptions like Anthos or SAP.",
            "As of June 2026, this field is mapped to WS Credits on commerce side."
          ]
        },
        "pricePhases": {
          "description": "Specifies the price by time range.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          }
        }
      }
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "description": "Association links that an entitlement has to other entitlements.",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1RunReportJobResponse": {
      "id": "GoogleCloudChannelV1alpha1RunReportJobResponse",
      "properties": {
        "reportMetadata": {
          "$ref": "GoogleCloudChannelV1alpha1ReportResultsMetadata",
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data."
        },
        "reportJob": {
          "$ref": "GoogleCloudChannelV1alpha1ReportJob",
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results."
        }
      },
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1EntitlementChange": {
      "properties": {
        "offer": {
          "description": "Required. Resource name of the Offer at the time of change. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "entitlement": {
          "type": "string",
          "description": "Required. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "activationReason": {
          "description": "The Entitlement's activation reason",
          "type": "string",
          "enum": [
            "ACTIVATION_REASON_UNSPECIFIED",
            "RESELLER_REVOKED_SUSPENSION",
            "CUSTOMER_ACCEPTED_PENDING_TOS",
            "RENEWAL_SETTINGS_CHANGED",
            "OTHER_ACTIVATION_REASON"
          ],
          "enumDescriptions": [
            "Not used.",
            "Reseller reactivated a suspended Entitlement.",
            "Customer accepted pending terms of service.",
            "Reseller updated the renewal settings on an entitlement that was suspended due to cancellation, and this update reactivated the entitlement.",
            "Other reasons (Activated temporarily for cancellation, added a payment plan to a trial entitlement, etc.)"
          ]
        },
        "cancellationReason": {
          "description": "Cancellation reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Reseller triggered a cancellation of the service.",
            "Relationship between the reseller and customer has ended due to a transfer.",
            "Entitlement transferred away from reseller while still keeping other entitlement(s) with the reseller."
          ],
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "SERVICE_TERMINATED",
            "RELATIONSHIP_ENDED",
            "PARTIAL_TRANSFER"
          ]
        },
        "provisionedService": {
          "description": "Service provisioned for an Entitlement.",
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Extended parameters, such as: purchase_order_number, gcp_details; internal_correlation_id, long_running_operation_id, order_id; etc."
        },
        "changeType": {
          "description": "The change action type.",
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SUBSCRIPTION_STARTED",
            "LICENSE_CAP_CHANGED",
            "SUSPENSION_DETAILS_CHANGED",
            "TRIAL_END_DATE_EXTENDED",
            "TRIAL_STARTED"
          ],
          "enumDescriptions": [
            "Not used.",
            "New Entitlement was created.",
            "Price plan associated with an Entitlement was changed.",
            "Number of seats committed for a commitment Entitlement was changed.",
            "An annual Entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was activated.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded for ex. from Google Workspace Business Standard to Google Workspace Business Plus.",
            "The settings for renewal of an Entitlement have changed.",
            "Use for Google Workspace subscription. Either a trial was converted to a paid subscription or a new subscription with no trial is created.",
            "License cap was changed for the entitlement.",
            "The suspension details have changed (but it is still suspended).",
            "The trial end date was extended.",
            "Entitlement started trial."
          ]
        },
        "suspensionReason": {
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "RESELLER_INITIATED",
            "TRIAL_ENDED",
            "RENEWAL_WITH_TYPE_CANCEL",
            "PENDING_TOS_ACCEPTANCE",
            "OTHER"
          ],
          "description": "Suspension reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Entitlement was manually suspended by the Reseller.",
            "Trial ended.",
            "Entitlement renewal was canceled.",
            "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
            "Other reasons (internal reasons, abuse, etc.)."
          ]
        },
        "operatorType": {
          "type": "string",
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "CUSTOMER_SERVICE_REPRESENTATIVE",
            "SYSTEM",
            "CUSTOMER",
            "RESELLER"
          ],
          "description": "Operator type responsible for the change.",
          "enumDescriptions": [
            "Not used.",
            "Customer service representative.",
            "System auto job.",
            "Customer user.",
            "Reseller user."
          ]
        },
        "otherChangeReason": {
          "description": "e.g. purchase_number change reason, entered by CRS.",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "Human-readable identifier that shows what operator made a change. When the operator_type is RESELLER, this is the user's email address. For all other operator types, this is empty."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The submitted time of the change."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1EntitlementChange",
      "description": "Change event entry for Entitlement order history"
    },
    "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "deprecated": true,
      "id": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
      "properties": {},
      "description": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object. Deprecated: This is no longer supported. Use RepricingConfig.EntitlementGranularity instead.",
      "type": "object"
    },
    "GoogleCloudChannelV1Sku": {
      "id": "GoogleCloudChannelV1Sku",
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the SKU."
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}"
        },
        "product": {
          "$ref": "GoogleCloudChannelV1Product",
          "description": "Product the SKU is associated with."
        }
      },
      "type": "object",
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs."
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "properties": {
        "allowedCustomerTypes": {
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "type": "string",
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ]
          },
          "type": "array",
          "description": "Allowed Customer Type."
        },
        "allowedRegions": {
          "type": "array",
          "description": "Allowed geographical regions of the customer.",
          "items": {
            "type": "string"
          }
        },
        "promotionalOrderTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "type": "string",
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ]
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer."
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "type": "object",
      "properties": {
        "scheduledRenewalOffer": {
          "description": "Output only. The offer resource name that the entitlement will renew on at the end date. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string",
          "readOnly": true
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        },
        "paymentOption": {
          "deprecated": true,
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "type": "string"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
[...]
