{
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Product Registry",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "version": "v1",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "servicePath": "",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "protocol": "rest",
  "id": "cloudproductregistry:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "LookupEntityResponse": {
      "properties": {
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        }
      },
      "type": "object",
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity."
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "items": {
            "$ref": "LogicalProduct"
          },
          "description": "Matched LogicalProducts",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListLogicalProducts."
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "id": "LogicalProduct",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "lifecycleState": {
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        }
      }
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "id": "ListProductSuitesResponse",
      "properties": {
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ProductSuite": {
      "properties": {
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the ProductSuite."
        },
        "logicalProducts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "id": "ProductSuite"
    },
    "LogicalProductVariant": {
      "id": "LogicalProductVariant",
      "type": "object",
      "properties": {
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product variant."
        },
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "ListLogicalProductVariantsResponse": {
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "description": "Response message for ListLogicalProductVariants.",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    }
  },
  "name": "cloudproductregistry",
  "revision": "20260827",
  "title": "Cloud Product Registry API",
  "resources": {
    "productSuites": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "id": "cloudproductregistry.productSuites.list",
          "path": "v1/productSuites",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            }
          },
          "description": "Lists ProductSuites."
        },
        "get": {
          "path": "v1/{+name}",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path"
            }
          },
          "id": "cloudproductregistry.productSuites.get",
          "response": {
            "$ref": "ProductSuite"
          },
          "description": "Get details of a ProductSuite.",
          "httpMethod": "GET"
        },
        "lookupEntity": {
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "parameters": {
            "lookupUri": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "description": "Look up entities."
        }
      }
    },
    "logicalProducts": {
      "methods": {
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "flatPath": "v1/logicalProducts",
          "description": "Lists LogicalProducts matching given criteria.",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/logicalProducts"
        },
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "httpMethod": "GET",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "parameters": {
            "lookupUri": {
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "location": "path",
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "LogicalProduct"
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "description": "Gets details of a LogicalProduct.",
          "id": "cloudproductregistry.logicalProducts.get",
          "path": "v1/{+name}"
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              }
            },
            "get": {
              "description": "Get details of a LogicalProductVariant.",
              "httpMethod": "GET",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "path": "v1/{+name}"
            },
            "lookupEntity": {
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "path": "v1/{+lookupUri}:lookupEntity",
              "httpMethod": "GET",
              "parameterOrder": [
                "lookupUri"
              ],
              "description": "Look up entities.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  }
}