{
  "kind": "discovery#restDescription",
  "id": "cloudproductregistry:v1",
  "version": "v1",
  "basePath": "",
  "batchPath": "batch",
  "canonicalName": "Cloud Product Registry",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/variants",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get details of a LogicalProductVariant.",
              "httpMethod": "GET",
              "response": {
                "$ref": "LogicalProductVariant"
              }
            },
            "lookupEntity": {
              "description": "Look up entities.",
              "httpMethod": "GET",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "parameterOrder": [
                "lookupUri"
              ],
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "path": "v1/{+lookupUri}:lookupEntity",
              "parameters": {
                "lookupUri": {
                  "required": true,
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity"
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "v1/logicalProducts",
          "parameterOrder": [],
          "id": "cloudproductregistry.logicalProducts.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            },
            "filter": {
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query"
            }
          },
          "path": "v1/logicalProducts",
          "description": "Lists LogicalProducts matching given criteria.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          }
        },
        "get": {
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "description": "Gets details of a LogicalProduct.",
          "response": {
            "$ref": "LogicalProduct"
          },
          "id": "cloudproductregistry.logicalProducts.get",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "type": "string",
              "location": "path",
              "pattern": "^logicalProducts/[^/]+$"
            }
          }
        },
        "lookupEntity": {
          "parameterOrder": [
            "lookupUri"
          ],
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "description": "Look up entities.",
          "httpMethod": "GET"
        }
      }
    },
    "productSuites": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ProductSuite"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          },
          "path": "v1/{+name}",
          "description": "Get details of a ProductSuite.",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "id": "cloudproductregistry.productSuites.get",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Lists ProductSuites.",
          "flatPath": "v1/productSuites",
          "id": "cloudproductregistry.productSuites.list",
          "path": "v1/productSuites",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "httpMethod": "GET"
        },
        "lookupEntity": {
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "description": "Look up entities.",
          "parameters": {
            "lookupUri": {
              "type": "string",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "pattern": "^productSuites/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity"
        }
      }
    }
  },
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "title": "Cloud Product Registry API",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "name": "cloudproductregistry",
  "schemas": {
    "LogicalProduct": {
      "type": "object",
      "id": "LogicalProduct",
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "variants": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          }
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        }
      }
    },
    "ListLogicalProductVariantsResponse": {
      "type": "object",
      "description": "Response message for ListLogicalProductVariants.",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        }
      },
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "properties": {
        "productSuites": {
          "description": "Matched ProductSuites",
          "items": {
            "$ref": "ProductSuite"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListProductSuitesResponse",
      "description": "Response message for ListProductSuites."
    },
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity.",
      "type": "object",
      "properties": {
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        },
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        }
      }
    },
    "LogicalProductVariant": {
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "id": "LogicalProductVariant",
      "properties": {
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "lifecycleState": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string",
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "properties": {
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "logicalProducts": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "type": "array"
        }
      },
      "id": "ProductSuite",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260929"
}