{
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "id": "cloudproductregistry:v1",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version": "v1",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "title": "Cloud Product Registry API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Product Registry",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "productSuites": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.productSuites.get",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ProductSuite"
          },
          "flatPath": "v1/productSuites/{productSuitesId}",
          "description": "Get details of a ProductSuite.",
          "httpMethod": "GET",
          "path": "v1/{+name}"
        },
        "lookupEntity": {
          "parameters": {
            "lookupUri": {
              "type": "string",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true,
              "pattern": "^productSuites/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "description": "Look up entities.",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "path": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query"
            }
          },
          "flatPath": "v1/productSuites",
          "id": "cloudproductregistry.productSuites.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "description": "Lists ProductSuites.",
          "httpMethod": "GET"
        }
      }
    },
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "httpMethod": "GET",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "parameterOrder": [
                "lookupUri"
              ],
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "parameters": {
                "lookupUri": {
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "path": "v1/{+lookupUri}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "description": "Look up entities."
            },
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "description": "Get details of a LogicalProductVariant.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "path": "v1/{+parent}/variants",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500."
                },
                "parent": {
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "description": "Lists LogicalProductVariants matching given criteria."
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "v1/logicalProducts",
          "parameterOrder": [],
          "description": "Lists LogicalProducts matching given criteria.",
          "httpMethod": "GET",
          "id": "cloudproductregistry.logicalProducts.list",
          "path": "v1/logicalProducts",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            },
            "filter": {
              "location": "query",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListLogicalProductsResponse"
          }
        },
        "get": {
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Gets details of a LogicalProduct.",
          "response": {
            "$ref": "LogicalProduct"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string"
            }
          }
        },
        "lookupEntity": {
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "path": "v1/{+lookupUri}:lookupEntity",
          "httpMethod": "GET",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "pattern": "^logicalProducts/[^/]+$",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "type": "string",
              "location": "path"
            }
          },
          "id": "cloudproductregistry.logicalProducts.lookupEntity"
        }
      }
    }
  },
  "name": "cloudproductregistry",
  "protocol": "rest",
  "revision": "20260827",
  "schemas": {
    "ListLogicalProductVariantsResponse": {
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListLogicalProductVariants."
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "properties": {
        "productSuites": {
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListProductSuitesResponse"
    },
    "LogicalProductVariant": {
      "properties": {
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant."
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        }
      },
      "type": "object",
      "id": "LogicalProductVariant",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product."
        },
        "variants": {
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        }
      },
      "id": "LogicalProduct",
      "type": "object"
    },
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "properties": {
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        }
      },
      "type": "object",
      "description": "Response message for LookupEntity."
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "properties": {
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "logicalProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ProductSuite"
    },
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          },
          "type": "array"
        }
      },
      "id": "ListLogicalProductsResponse"
    }
  },
  "basePath": "",
  "documentationLink": "https://docs.cloud.google.com/product-registry"
}