{
  "description": "Allows users to start, configure, and connect to interactive shell sessions running in the cloud. ",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "id": "cloudshell:v1",
  "baseUrl": "https://cloudshell.googleapis.com/",
  "documentationLink": "https://cloud.google.com/shell/docs/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://cloudshell.mtls.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudshell.googleapis.com/",
  "schemas": {
    "RemovePublicKeyMetadata": {
      "properties": {},
      "description": "Message included in the metadata field of operations returned from RemovePublicKey.",
      "type": "object",
      "id": "RemovePublicKeyMetadata"
    },
    "DeleteEnvironmentMetadata": {
      "type": "object",
      "id": "DeleteEnvironmentMetadata",
      "description": "Message included in the metadata field of operations returned from DeleteEnvironment.",
      "properties": {}
    },
    "AddPublicKeyMetadata": {
      "id": "AddPublicKeyMetadata",
      "type": "object",
      "properties": {},
      "description": "Message included in the metadata field of operations returned from AddPublicKey."
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "AddPublicKeyResponse": {
      "type": "object",
      "id": "AddPublicKeyResponse",
      "properties": {
        "key": {
          "description": "Key that was added to the environment.",
          "type": "string"
        }
      },
      "description": "Response message for AddPublicKey."
    },
    "CreateEnvironmentMetadata": {
      "type": "object",
      "id": "CreateEnvironmentMetadata",
      "properties": {},
      "description": "Message included in the metadata field of operations returned from CreateEnvironment."
    },
    "StartEnvironmentRequest": {
      "properties": {
        "publicKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Public keys that should be added to the environment before it is started."
        },
        "accessToken": {
          "type": "string",
          "description": "The initial access token passed to the environment. If this is present and valid, the environment will be pre-authenticated with gcloud so that the user can run gcloud commands in Cloud Shell without having to log in. This code can be updated later by calling AuthorizeEnvironment."
        }
      },
      "type": "object",
      "description": "Request message for StartEnvironment.",
      "id": "StartEnvironmentRequest"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "RemovePublicKeyResponse": {
      "id": "RemovePublicKeyResponse",
      "type": "object",
      "description": "Response message for RemovePublicKey.",
      "properties": {}
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Environment": {
      "type": "object",
      "id": "Environment",
      "description": "A Cloud Shell environment, which is defined as the combination of a Docker image specifying what is installed on the environment and a home directory containing the user's data that will remain across sessions. Each user has at least an environment with the ID \"default\".",
      "properties": {
        "publicKeys": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Public keys associated with the environment. Clients can connect to this environment via SSH only if they possess a private key corresponding to at least one of these public keys. Keys can be added to or removed from the environment using the AddPublicKey and RemovePublicKey methods."
        },
        "sshUsername": {
          "description": "Output only. Username that clients should use when initiating SSH sessions with the environment.",
          "readOnly": true,
          "type": "string"
        },
        "sshHost": {
          "description": "Output only. Host to which clients can connect to initiate SSH sessions with the environment.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Full name of this resource, in the format `users/{owner_email}/environments/{environment_id}`. `{owner_email}` is the email address of the user to whom this environment belongs, and `{environment_id}` is the identifier of this environment. For example, `users/someone@example.com/environments/default`."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current execution state of this environment.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUSPENDED",
            "PENDING",
            "RUNNING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The environment's states is unknown.",
            "The environment is not running and can't be connected to. Starting the environment will transition it to the PENDING state.",
            "The environment is being started but is not yet ready to accept connections.",
            "The environment is running and ready to accept connections. It will automatically transition back to DISABLED after a period of inactivity or if another environment is started.",
            "The environment is being deleted and can't be connected to."
          ]
        },
        "sshPort": {
          "readOnly": true,
          "description": "Output only. Port to which clients can connect to initiate SSH sessions with the environment.",
          "format": "int32",
          "type": "integer"
        },
        "dockerImage": {
          "type": "string",
          "description": "Required. Immutable. Full path to the Docker image used to run this environment, e.g. \"gcr.io/dev-con/cloud-devshell:latest\"."
        },
        "webHost": {
          "readOnly": true,
          "description": "Output only. Host to which clients can connect to initiate HTTPS or WSS connections with the environment.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The environment's identifier, unique among the user's environments.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AuthorizeEnvironmentMetadata": {
      "description": "Message included in the metadata field of operations returned from AuthorizeEnvironment.",
      "properties": {},
      "type": "object",
      "id": "AuthorizeEnvironmentMetadata"
    },
    "AuthorizeEnvironmentResponse": {
      "description": "Response message for AuthorizeEnvironment.",
      "properties": {},
      "type": "object",
      "id": "AuthorizeEnvironmentResponse"
    },
    "AddPublicKeyRequest": {
      "description": "Request message for AddPublicKey.",
      "properties": {
        "key": {
          "description": "Key that should be added to the environment. Supported formats are `ssh-dss` (see RFC4253), `ssh-rsa` (see RFC4253), `ecdsa-sha2-nistp256` (see RFC5656), `ecdsa-sha2-nistp384` (see RFC5656) and `ecdsa-sha2-nistp521` (see RFC5656). It should be structured as <format> <content>, where <content> part is encoded with Base64.",
          "type": "string"
        }
      },
      "id": "AddPublicKeyRequest",
      "type": "object"
    },
    "StartEnvironmentMetadata": {
      "type": "object",
      "description": "Message included in the metadata field of operations returned from StartEnvironment.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Current state of the environment being started.",
          "enumDescriptions": [
            "The environment's start state is unknown.",
            "The environment is in the process of being started, but no additional details are available.",
            "Startup is waiting for the user's disk to be unarchived. This can happen when the user returns to Cloud Shell after not having used it for a while, and suggests that startup will take longer than normal.",
            "Startup is waiting for compute resources to be assigned to the environment. This should normally happen very quickly, but an environment might stay in this state for an extended period of time if the system is experiencing heavy load.",
            "Startup has completed. If the start operation was successful, the user should be able to establish an SSH connection to their environment. Otherwise, the operation will contain details of the failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "UNARCHIVING_DISK",
            "AWAITING_COMPUTE_RESOURCES",
            "FINISHED"
          ]
        }
      },
      "id": "StartEnvironmentMetadata"
    },
    "StartEnvironmentResponse": {
      "type": "object",
      "description": "Message included in the response field of operations returned from StartEnvironment once the operation is complete.",
      "id": "StartEnvironmentResponse",
      "properties": {
        "environment": {
          "description": "Environment that was started.",
          "$ref": "Environment"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "AuthorizeEnvironmentRequest": {
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "The OAuth access token that should be sent to the environment.",
          "type": "string"
        },
        "idToken": {
          "description": "The OAuth ID token that should be sent to the environment.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the credentials expire. If not set, defaults to one hour from when the server received the request."
        }
      },
      "description": "Request message for AuthorizeEnvironment.",
      "id": "AuthorizeEnvironmentRequest"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "RemovePublicKeyRequest": {
      "id": "RemovePublicKeyRequest",
      "description": "Request message for RemovePublicKey.",
      "properties": {
        "key": {
          "description": "Key that should be removed from the environment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "properties": {
        "accessToken": {
          "description": "The access token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for GenerateAccessToken."
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Cloud Shell API",
  "revision": "20260928",
  "basePath": "",
  "canonicalName": "Cloud Shell",
  "version_module": true,
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "cloudshell.operations.get"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "path": "v1/{+name}:cancel",
          "id": "cloudshell.operations.cancel",
          "parameterOrder": [
            "name"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "pattern": "^operations/.*$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          }
        },
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/operations/{operationsId}",
          "id": "cloudshell.operations.delete",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the operation resource to be deleted."
            }
          }
        },
        "list": {
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The standard list page size.",
              "type": "integer"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "location": "query",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
            },
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            }
          },
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "id": "cloudshell.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
        }
      }
    },
    "users": {
      "resources": {
        "environments": {
          "methods": {
            "get": {
              "id": "cloudshell.users.environments.get",
              "response": {
                "$ref": "Environment"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "description": "Required. Name of the requested resource, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets an environment. Returns NOT_FOUND if the environment does not exist.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "authorize": {
              "description": "Sends OAuth credentials to a running environment on behalf of a user. When this completes, the environment will be authorized to run various Google Cloud command line tools without requiring the user to manually authenticate.",
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:authorize",
              "id": "cloudshell.users.environments.authorize",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "description": "Name of the resource that should receive the credentials, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:authorize",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "AuthorizeEnvironmentRequest"
              }
            },
            "removePublicKey": {
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:removePublicKey",
              "httpMethod": "POST",
              "parameters": {
                "environment": {
                  "description": "Environment this key should be removed from, e.g. `users/me/environments/default`.",
                  "location": "path",
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "cloudshell.users.environments.removePublicKey",
              "path": "v1/{+environment}:removePublicKey",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "RemovePublicKeyRequest"
              },
              "parameterOrder": [
                "environment"
              ],
              "description": "Removes a public SSH key from an environment. Clients will no longer be able to connect to the environment using the corresponding private key. If a key with the same content is not present, this will error with NOT_FOUND."
            },
            "addPublicKey": {
              "path": "v1/{+environment}:addPublicKey",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "environment": {
                  "description": "Environment this key should be added to, e.g. `users/me/environments/default`.",
                  "location": "path",
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Adds a public SSH key to an environment, allowing clients with the corresponding private key to connect to that environment via SSH. If a key with the same content already exists, this will error with ALREADY_EXISTS.",
              "request": {
                "$ref": "AddPublicKeyRequest"
              },
              "parameterOrder": [
                "environment"
              ],
              "id": "cloudshell.users.environments.addPublicKey",
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:addPublicKey"
            },
            "generateAccessToken": {
              "id": "cloudshell.users.environments.generateAccessToken",
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "expireTime": {
                  "format": "google-datetime",
                  "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future.",
                  "location": "query",
                  "type": "string"
                },
                "environment": {
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The environment to generate the access token for.",
                  "location": "path"
                },
                "ttl": {
                  "format": "google-duration",
                  "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "environment"
              ],
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:generateAccessToken",
              "path": "v1/{+environment}:generateAccessToken",
              "description": "Generates an access token for the user's environment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "start": {
              "description": "Starts an existing environment, allowing clients to connect to it. The returned operation will contain an instance of StartEnvironmentMetadata in its metadata field. Users can wait for the environment to start by polling this operation via GetOperation. Once the environment has finished starting and is ready to accept connections, the operation will contain a StartEnvironmentResponse in its response field.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Name of the resource that should be started, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/users/{usersId}/environments/{environmentsId}:start",
              "request": {
                "$ref": "StartEnvironmentRequest"
              },
              "path": "v1/{+name}:start",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudshell.users.environments.start"
            }
          }
        }
      }
    }
  },
  "name": "cloudshell"
}