{
  "batchPath": "batch",
  "title": "Cloud Product Registry API",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "revision": "20260917",
  "id": "cloudproductregistry:v1",
  "version_module": true,
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "description": "Look up entities.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "path": "v1/{+lookupUri}:lookupEntity",
              "httpMethod": "GET",
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameterOrder": [
                "lookupUri"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Get details of a LogicalProductVariant.",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "httpMethod": "GET"
            },
            "list": {
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "path": "v1/{+parent}/variants",
              "id": "cloudproductregistry.logicalProducts.variants.list"
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "description": "Lists LogicalProducts matching given criteria.",
          "flatPath": "v1/logicalProducts",
          "id": "cloudproductregistry.logicalProducts.list",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "v1/logicalProducts"
        },
        "get": {
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameters": {
            "name": {
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "LogicalProduct"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Gets details of a LogicalProduct.",
          "id": "cloudproductregistry.logicalProducts.get"
        },
        "lookupEntity": {
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "type": "string",
              "location": "path",
              "pattern": "^logicalProducts/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "httpMethod": "GET",
          "path": "v1/{+lookupUri}:lookupEntity"
        }
      }
    },
    "productSuites": {
      "methods": {
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "type": "string"
            }
          },
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "list": {
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "description": "Lists ProductSuites.",
          "flatPath": "v1/productSuites",
          "id": "cloudproductregistry.productSuites.list",
          "path": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "description": "Get details of a ProductSuite.",
          "path": "v1/{+name}",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          },
          "id": "cloudproductregistry.productSuites.get",
          "response": {
            "$ref": "ProductSuite"
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "cloudproductregistry",
  "basePath": "",
  "servicePath": "",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Product Registry",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListLogicalProductsResponse"
    },
    "ProductSuite": {
      "properties": {
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "logicalProducts": {
          "type": "array",
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "ProductSuite",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object"
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}"
        }
      },
      "id": "LogicalProduct"
    },
    "ListLogicalProductVariantsResponse": {
      "type": "object",
      "properties": {
        "logicalProductVariants": {
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "type": "array",
          "description": "Matched LogicalProductVariants"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListLogicalProductVariantsResponse",
      "description": "Response message for ListLogicalProductVariants."
    },
    "ListProductSuitesResponse": {
      "properties": {
        "productSuites": {
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductSuitesResponse",
      "type": "object",
      "description": "Response message for ListProductSuites."
    },
    "LookupEntityResponse": {
      "type": "object",
      "properties": {
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        }
      },
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity."
    },
    "LogicalProductVariant": {
      "properties": {
        "lifecycleState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "id": "LogicalProductVariant",
      "type": "object"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true
}