{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Controls Partner Service",
  "name": "cloudcontrolspartner",
  "schemas": {
    "Remediation": {
      "type": "object",
      "properties": {
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "remediationType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ]
        },
        "instructions": {
          "$ref": "Instructions",
          "description": "Required. Remediation instructions to resolve violations"
        }
      },
      "id": "Remediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
    },
    "Workload": {
      "properties": {
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "keyManagementProjectId": {
          "type": "string",
          "description": "The project id of the key management project for the workload"
        },
        "folder": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of container folder of the assured workload"
        },
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "workloadOnboardingState": {
          "$ref": "WorkloadOnboardingState",
          "description": "Container for workload onboarding steps."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the resource was created."
        },
        "folderId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Folder id this workload is associated with"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Indicates whether a workload is fully onboarded."
        }
      },
      "type": "object",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "id": "Workload"
    },
    "ListCustomersResponse": {
      "description": "Response message for list customer Customers requests",
      "properties": {
        "customers": {
          "type": "array",
          "description": "List of customers",
          "items": {
            "$ref": "Customer"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCustomersResponse",
      "type": "object"
    },
    "CustomerOnboardingStep": {
      "type": "object",
      "id": "CustomerOnboardingStep",
      "properties": {
        "completionState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "readOnly": true,
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "description": "Output only. Current state of the step"
        },
        "step": {
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "description": "The onboarding step",
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The completion time of the onboarding step"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step",
          "type": "string"
        }
      },
      "description": "Container for customer onboarding information"
    },
    "EkmConnection": {
      "type": "object",
      "description": "Details about the EKM connection",
      "properties": {
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionState": {
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "description": "Output only. The connection state",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}"
        }
      },
      "id": "EkmConnection"
    },
    "Gcloud": {
      "id": "Gcloud",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        }
      },
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object"
    },
    "CustomerOnboardingState": {
      "properties": {
        "onboardingSteps": {
          "description": "List of customer onboarding steps",
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          }
        }
      },
      "description": "Container for customer onboarding steps",
      "id": "CustomerOnboardingState",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "WorkloadOnboardingStep": {
      "description": "Container for workload onboarding information.",
      "id": "WorkloadOnboardingStep",
      "properties": {
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The completion time of the onboarding step."
        },
        "completionState": {
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "type": "string"
        },
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "description": "The onboarding step.",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Customer": {
      "id": "Customer",
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "type": "object",
      "properties": {
        "isOnboarded": {
          "readOnly": true,
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "type": "boolean"
        },
        "customerOnboardingState": {
          "readOnly": true,
          "$ref": "CustomerOnboardingState",
          "description": "Output only. Container for customer onboarding steps"
        },
        "organizationDomain": {
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for the customer"
        }
      }
    },
    "Console": {
      "id": "Console",
      "type": "object",
      "properties": {
        "consoleUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Link to console page where violations can be resolved"
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        },
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console"
        }
      },
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "Sku": {
      "type": "object",
      "id": "Sku",
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "properties": {
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        }
      }
    },
    "PartnerPermissions": {
      "id": "PartnerPermissions",
      "description": "The permissions granted to the partner for a workload",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`"
        },
        "partnerPermissions": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ],
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ]
          },
          "type": "array",
          "description": "The partner permissions granted for the workload"
        }
      }
    },
    "ListAccessApprovalRequestsResponse": {
      "description": "Response message for list access requests.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "accessApprovalRequests": {
          "description": "List of access approval requests",
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAccessApprovalRequestsResponse"
    },
    "Violation": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "readOnly": true
        },
        "remediation": {
          "$ref": "Remediation",
          "description": "Output only. Compliance violation remediation",
          "readOnly": true
        },
        "beginTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "description": "Output only. State of the violation",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "resolveTime": {
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string",
          "readOnly": true
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time when the Violation record was updated.",
          "format": "google-datetime"
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "folderId": {
          "type": "string",
          "description": "The folder_id of the violation",
          "format": "int64"
        }
      },
      "id": "Violation",
      "type": "object",
      "description": "Details of resource Violation"
    },
    "Instructions": {
      "id": "Instructions",
      "properties": {
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        },
        "gcloudInstructions": {
          "$ref": "Gcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        }
      },
      "type": "object",
      "description": "Instructions to remediate violation"
    },
    "EkmMetadata": {
      "properties": {
        "ekmEndpointUri": {
          "type": "string",
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation."
        },
        "ekmSolution": {
          "type": "string",
          "description": "The Cloud EKM partner.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ]
        }
      },
      "type": "object",
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "id": "EkmMetadata"
    },
    "WorkloadOnboardingState": {
      "description": "Container for workload onboarding steps.",
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "type": "array",
          "description": "List of workload onboarding steps."
        }
      },
      "type": "object",
      "id": "WorkloadOnboardingState"
    },
    "AccessApprovalRequest": {
      "properties": {
        "requestedExpirationTime": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        }
      },
      "id": "AccessApprovalRequest",
      "type": "object",
      "description": "Details about the Access request."
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "AccessReason": {
      "description": "Reason for the access.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "description": "Type of access justification.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ]
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "type": "object",
      "id": "AccessReason"
    },
    "ListViolationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "violations": {
          "items": {
            "$ref": "Violation"
          },
          "description": "List of violation",
          "type": "array"
        },
        "unreachable": {
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListViolationsResponse",
      "type": "object",
      "description": "Response message for list customer violation requests"
    },
    "ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "Workload"
          },
          "description": "List of customer workloads"
        }
      },
      "id": "ListWorkloadsResponse",
      "type": "object",
      "description": "Response message for list customer workloads requests."
    },
    "Partner": {
      "description": "Message describing Partner resource",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time the resource was updated",
          "type": "string"
        },
        "skus": {
          "description": "List of SKUs the partner is offering",
          "type": "array",
          "items": {
            "$ref": "Sku"
          }
        },
        "operatedCloudRegions": {
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\""
        },
        "ekmSolutions": {
          "type": "array",
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the resource was created"
        }
      },
      "id": "Partner",
      "type": "object"
    },
    "ConnectionError": {
      "type": "object",
      "id": "ConnectionError",
      "properties": {
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        },
        "errorDomain": {
          "type": "string",
          "description": "The error domain for the error"
        }
      },
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified"
    },
    "EkmConnections": {
      "id": "EkmConnections",
      "description": "The EKM connections associated with a workload",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
        },
        "ekmConnections": {
          "items": {
            "$ref": "EkmConnection"
          },
          "description": "The EKM connections associated with the workload",
          "type": "array"
        }
      }
    }
  },
  "version": "v1beta",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260909",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "ownerName": "Google",
  "title": "Cloud Controls Partner API",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "path": "v1beta/{+parent}/customers",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    }
                  },
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details of a single customer",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}"
                },
                "patch": {
                  "description": "Update details of a single customer",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "response": {
                    "$ref": "Customer"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "description": "Delete details of a single customer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "description": "Creates a new customer.",
                  "path": "v1beta/{+parent}/customers",
                  "request": {
                    "$ref": "Customer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "required": true
                    },
                    "customerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id."
                    }
                  }
                }
              },
              "resources": {
                "workloads": {
                  "resources": {
                    "accessApprovalRequests": {
                      "deprecated": true,
                      "methods": {
                        "list": {
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "required": true,
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Filtering results."
                            }
                          },
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "deprecated": true,
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "violations": {
                      "methods": {
                        "get": {
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "Violation"
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "type": "string",
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path"
                            }
                          },
                          "description": "Gets details of a single Violation.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "interval.endTime": {
                              "format": "google-datetime",
                              "location": "query",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page."
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Optional. Hint for how to order the results",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "format": "int32"
                            },
                            "interval.startTime": {
                              "format": "google-datetime",
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "path": "v1beta/{+parent}/violations",
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "description": "Lists customer workloads for a given customer org id",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page."
                        },
                        "parent": {
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "path": "v1beta/{+parent}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "getPartnerPermissions": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "location": "path",
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "path": "v1beta/{+name}",
                      "description": "Gets the partner permissions granted for a workload",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions"
                    },
                    "getEkmConnections": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "path": "v1beta/{+name}",
                      "description": "Gets the EKM connections associated with a workload",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Gets details of a single workload",
                      "response": {
                        "$ref": "Workload"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "path": "v1beta/{+name}",
              "description": "Get details of a Partner.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "response": {
                "$ref": "Partner"
              }
            }
          }
        }
      }
    }
  },
  "id": "cloudcontrolspartner:v1beta",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "servicePath": ""
}