{
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "title": "Cloud Product Registry API",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "protocol": "rest",
  "id": "cloudproductregistry:v1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "revision": "20260930",
  "version": "v1",
  "resources": {
    "productSuites": {
      "methods": {
        "list": {
          "path": "v1/productSuites",
          "description": "Lists ProductSuites.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/productSuites",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "id": "cloudproductregistry.productSuites.list"
        },
        "get": {
          "description": "Get details of a ProductSuite.",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "response": {
            "$ref": "ProductSuite"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^productSuites/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.productSuites.get",
          "path": "v1/{+name}"
        },
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "type": "string",
              "location": "path",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true,
              "pattern": "^productSuites/[^/]+$"
            }
          }
        }
      }
    },
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "description": "Get details of a LogicalProductVariant.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.get"
            },
            "list": {
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/variants",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^logicalProducts/[^/]+$",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "description": "Lists LogicalProductVariants matching given criteria."
            },
            "lookupEntity": {
              "parameterOrder": [
                "lookupUri"
              ],
              "description": "Look up entities.",
              "path": "v1/{+lookupUri}:lookupEntity",
              "httpMethod": "GET",
              "parameters": {
                "lookupUri": {
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "description": "Gets details of a LogicalProduct.",
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "type": "string"
            }
          }
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "location": "path",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true,
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$"
            }
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "description": "Look up entities.",
          "parameterOrder": [
            "lookupUri"
          ],
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "description": "Lists LogicalProducts matching given criteria.",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "filter": {
              "location": "query",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "flatPath": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "path": "v1/logicalProducts",
          "parameterOrder": []
        }
      }
    }
  },
  "name": "cloudproductregistry",
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Product Registry",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "LookupEntityResponse": {
      "properties": {
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        }
      },
      "description": "Response message for LookupEntity.",
      "type": "object",
      "id": "LookupEntityResponse"
    },
    "ProductSuite": {
      "id": "ProductSuite",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "logicalProducts": {
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object"
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "id": "LogicalProduct",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "array"
        },
        "lifecycleState": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ]
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        }
      }
    },
    "LogicalProductVariant": {
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "type": "object",
      "id": "LogicalProductVariant",
      "properties": {
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant."
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        }
      }
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "type": "array",
          "description": "Matched LogicalProductVariants"
        }
      }
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "properties": {
        "productSuites": {
          "description": "Matched ProductSuites",
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductSuitesResponse",
      "type": "object"
    },
    "ListLogicalProductsResponse": {
      "type": "object",
      "id": "ListLogicalProductsResponse",
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "logicalProducts": {
          "items": {
            "$ref": "LogicalProduct"
          },
          "description": "Matched LogicalProducts",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch"
}