{
  "description": "Creates and manages builds on Google Cloud Platform.",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v2/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/locations"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "Location"
              },
              "id": "cloudbuild.projects.locations.get",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "connections": {
              "resources": {
                "repositories": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets details of a single repository.",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Repository"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}"
                    },
                    "list": {
                      "description": "Lists Repositories in a given connection.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Page start.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Number of results to return in the list.",
                          "location": "query",
                          "format": "int32"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                          "type": "boolean"
                        },
                        "filter": {
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/repositories",
                      "httpMethod": "GET",
                      "id": "cloudbuild.projects.locations.connections.repositories.list",
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      }
                    },
                    "batchCreate": {
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "path": "v2/{+parent}/repositories:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates multiple repositories inside a connection.",
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "description": "If set, validate the request, but do not actually post it.",
                          "type": "boolean"
                        },
                        "etag": {
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.delete",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "accessReadWriteToken": {
                      "description": "Fetches read/write token of a given repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "repository"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "repository": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "location": "path"
                        }
                      },
                      "path": "v2/{+repository}:accessReadWriteToken",
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      }
                    },
                    "fetchGitRefs": {
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs",
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Number of results to return in the list. Default to 20."
                        },
                        "pageToken": {
                          "description": "Optional. Page start.",
                          "location": "query",
                          "type": "string"
                        },
                        "repository": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        },
                        "refType": {
                          "description": "Type of refs to fetch",
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ]
                        }
                      },
                      "parameterOrder": [
                        "repository"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+repository}:fetchGitRefs"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "repositoryId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        }
                      },
                      "description": "Creates a Repository.",
                      "path": "v2/{+parent}/repositories",
                      "id": "cloudbuild.projects.locations.connections.repositories.create",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Repository"
                      }
                    },
                    "accessReadToken": {
                      "httpMethod": "POST",
                      "parameters": {
                        "repository": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "repository"
                      ],
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "description": "Fetches read token of a given repository.",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "path": "v2/{+repository}:accessReadToken",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "cloudbuild.projects.locations.connections.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a Connection.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/connections",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "connectionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@."
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Connection"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates a single connection."
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v2/{+resource}:getIamPolicy",
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`."
                    }
                  },
                  "path": "v2/{+name}",
                  "id": "cloudbuild.projects.locations.connections.get",
                  "response": {
                    "$ref": "Connection"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Gets details of a single connection.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "processWebhook": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`."
                    },
                    "webhookKey": {
                      "description": "Arbitrary additional key to find the matching repository for a webhook event if needed.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "path": "v2/{+parent}/connections:processWebhook",
                  "description": "ProcessWebhook is called by the external SCM for notifying of events.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook"
                },
                "list": {
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page start."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Number of results to return in the list.",
                      "format": "int32"
                    }
                  },
                  "description": "Lists Connections in a given project and location.",
                  "httpMethod": "GET"
                },
                "setIamPolicy": {
                  "path": "v2/{+resource}:setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "description": "If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "etag": {
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Deletes a single connection.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "testIamPermissions": {
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  }
                },
                "fetchLinkableRepositories": {
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page start.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Number of results to return in the list. Default to 20.",
                      "format": "int32"
                    },
                    "connection": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+connection}:fetchLinkableRepositories",
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories",
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "parameterOrder": [
                    "connection"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "id": "cloudbuild:v2",
  "name": "cloudbuild",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "revision": "20260923",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "schemas": {
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "type": "object",
      "properties": {
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access."
        },
        "hostUri": {
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com.",
          "type": "string"
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the `api` scope access."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig"
    },
    "TaskResult": {
      "description": "TaskResult is used to describe the results of a task.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the result."
        },
        "value": {
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result.",
          "$ref": "ParamValue"
        },
        "properties": {
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds.",
          "additionalProperties": {
            "$ref": "PropertySpec"
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "The type of data that the result holds.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "description": {
          "description": "Description of the result.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TaskResult"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Security options the container should be run with.",
      "properties": {
        "runAsNonRoot": {
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "privileged": {
          "type": "boolean",
          "description": "Run container in privileged mode."
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional"
        },
        "runAsUser": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional"
        },
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "RunWorkflowCustomOperationMetadata": {
      "description": "Represents the custom metadata of the RunWorkflow long-running operation.",
      "id": "RunWorkflowCustomOperationMetadata",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "pipelineRunId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the pipeline run created by RunWorkflow."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FetchGitRefsResponse": {
      "id": "FetchGitRefsResponse",
      "type": "object",
      "properties": {
        "refNames": {
          "type": "array",
          "description": "Name of the refs fetched.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response for fetching git refs"
    },
    "TaskRef": {
      "properties": {
        "name": {
          "description": "Optional. Name of the task.",
          "type": "string"
        },
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ]
        },
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        }
      },
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "id": "TaskRef"
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      }
    },
    "Security": {
      "description": "Security configuration.",
      "properties": {
        "privilegeMode": {
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "type": "string",
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "description": "Optional. Privilege mode.",
          "deprecated": true
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at runtime.",
          "type": "string"
        }
      },
      "id": "Security",
      "type": "object"
    },
    "SkippedTask": {
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "id": "SkippedTask",
      "properties": {
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason is the cause of the PipelineTask being skipped."
        },
        "whenExpressions": {
          "items": {
            "$ref": "WhenExpression"
          },
          "type": "array",
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask"
        },
        "name": {
          "type": "string",
          "description": "Name is the Pipeline Task name"
        }
      },
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "ExecAction": {
      "properties": {
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional"
        }
      },
      "description": "ExecAction describes a \"run in container\" action.",
      "id": "ExecAction",
      "type": "object"
    },
    "Param": {
      "type": "object",
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        }
      }
    },
    "CreateRepositoryRequest": {
      "type": "object",
      "properties": {
        "repositoryId": {
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
          "type": "string"
        },
        "repository": {
          "description": "Required. The repository to create.",
          "$ref": "Repository"
        },
        "parent": {
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
          "type": "string"
        }
      },
      "id": "CreateRepositoryRequest",
      "description": "Message for creating a Repository."
    },
    "ChildStatusReference": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the name of the TaskRun or Run this is referencing."
        },
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "items": {
            "$ref": "WhenExpression"
          },
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "readOnly": true,
          "description": "Output only. Type of the child reference."
        },
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        }
      },
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "id": "ChildStatusReference"
    },
    "Connection": {
      "type": "object",
      "id": "Connection",
      "properties": {
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "bitbucketCloudConfig": {
          "$ref": "BitbucketCloudConfig",
          "description": "Configuration for connections to Bitbucket Cloud."
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Set to true when the connection is being set up or updated in the background."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "gitlabConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig",
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise."
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "installationState": {
          "readOnly": true,
          "description": "Output only. Installation state of the Connection.",
          "$ref": "InstallationState"
        }
      },
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab."
    },
    "Provenance": {
      "properties": {
        "enabled": {
          "type": "string",
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "description": "Optional. Provenance push mode.",
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ]
        },
        "storage": {
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "description": "Optional. Where provenance is stored.",
          "type": "string",
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ]
        },
        "region": {
          "description": "Optional. Provenance region.",
          "type": "string",
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ]
        }
      },
      "description": "Provenance configuration.",
      "type": "object",
      "id": "Provenance"
    },
    "ListConnectionsResponse": {
      "description": "Message for response to listing Connections.",
      "id": "ListConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "connections": {
          "type": "array",
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          }
        }
      },
      "type": "object"
    },
    "FetchReadTokenResponse": {
      "id": "FetchReadTokenResponse",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        }
      },
      "description": "Message for responding to get read token.",
      "type": "object"
    },
    "TaskSpec": {
      "type": "object",
      "id": "TaskSpec",
      "properties": {
        "managedSidecars": {
          "description": "Sidecars that run alongside the Task’s step containers that should be added to this Task.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ],
            "type": "string",
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ]
          }
        },
        "description": {
          "description": "Description of the task.",
          "type": "string"
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "WorkspaceDeclaration"
          },
          "description": "The volumes that this Task requires."
        },
        "sidecars": {
          "description": "Sidecars that run alongside the Task's step containers.",
          "items": {
            "$ref": "Sidecar"
          },
          "type": "array"
        },
        "params": {
          "description": "List of parameters.",
          "items": {
            "$ref": "ParamSpec"
          },
          "type": "array"
        },
        "stepTemplate": {
          "description": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
          "$ref": "StepTemplate"
        },
        "steps": {
          "items": {
            "$ref": "Step"
          },
          "type": "array",
          "description": "Steps of the task."
        },
        "volumes": {
          "description": "A collection of volumes that are available to mount into steps.",
          "items": {
            "$ref": "VolumeSource"
          },
          "type": "array"
        },
        "results": {
          "type": "array",
          "description": "Values that this Task can output.",
          "items": {
            "$ref": "TaskResult"
          }
        }
      },
      "description": "TaskSpec contains the Spec to instantiate a TaskRun."
    },
    "Worker": {
      "description": "Configuration for the worker.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\"."
        }
      },
      "type": "object",
      "id": "Worker"
    },
    "UserCredential": {
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "id": "UserCredential",
      "properties": {
        "username": {
          "type": "string",
          "description": "Output only. The username associated to this token.",
          "readOnly": true
        },
        "userTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object"
    },
    "WhenExpression": {
      "description": "Conditions that need to be true for the task to run.",
      "properties": {
        "input": {
          "type": "string",
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task."
        },
        "values": {
          "description": "Values is an array of strings, which is compared against the input, for guard checking.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "expressionOperator": {
          "description": "Operator that represents an Input's relationship to the values",
          "type": "string",
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ]
        }
      },
      "id": "WhenExpression",
      "type": "object"
    },
    "ResultValue": {
      "properties": {
        "stringVal": {
          "type": "string",
          "description": "Value of the result if type is string."
        },
        "objectVal": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Value of the result if type is object.",
          "type": "object"
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "description": "Output only. The type of data that the result holds.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "readOnly": true
        },
        "arrayVal": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Value of the result if type is array."
        }
      },
      "description": "ResultValue holds different types of data for a single result.",
      "type": "object",
      "id": "ResultValue"
    },
    "PipelineRef": {
      "type": "object",
      "id": "PipelineRef",
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ]
        },
        "params": {
          "type": "array",
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "items": {
            "$ref": "Param"
          }
        },
        "name": {
          "description": "Optional. Name of the Pipeline.",
          "type": "string"
        }
      }
    },
    "BitbucketCloudConfig": {
      "id": "BitbucketCloudConfig",
      "description": "Configuration for connections to Bitbucket Cloud.",
      "properties": {
        "authorizerCredential": {
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
        }
      },
      "type": "object"
    },
    "PipelineResult": {
      "properties": {
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Output only. The type of data that the result holds."
        },
        "value": {
          "readOnly": true,
          "description": "Output only. Value of the result.",
          "$ref": "ResultValue"
        },
        "name": {
          "description": "Output only. Name of the result.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the result."
        }
      },
      "id": "PipelineResult",
      "description": "A value produced by a Pipeline.",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "PipelineWorkspaceDeclaration": {
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required."
        },
        "name": {
          "description": "Name is the name of a workspace to be provided by a PipelineRun.",
          "type": "string"
        },
        "description": {
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PipelineWorkspaceDeclaration"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "PropertySpec": {
      "description": "PropertySpec holds information about a property in an object.",
      "properties": {
        "type": {
          "description": "A type for the object.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ]
        }
      },
      "type": "object",
      "id": "PropertySpec"
    },
    "StepTemplate": {
      "type": "object",
      "properties": {
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array"
        },
        "volumeMounts": {
          "type": "array",
          "description": "Optional. Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          }
        }
      },
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "id": "StepTemplate"
    },
    "SecretVolumeSource": {
      "type": "object",
      "description": "Secret Volume Source.",
      "properties": {
        "secretName": {
          "type": "string",
          "description": "Name of the secret referenced by the WorkspaceBinding."
        },
        "secretVersion": {
          "type": "string",
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        }
      },
      "id": "SecretVolumeSource"
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "id": "FetchReadWriteTokenRequest",
      "type": "object",
      "properties": {}
    },
    "WorkspacePipelineTaskBinding": {
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "properties": {
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace declared by the pipeline."
        },
        "name": {
          "type": "string",
          "description": "Name of the workspace as declared by the task."
        }
      },
      "id": "WorkspacePipelineTaskBinding",
      "type": "object"
    },
    "TimeoutFields": {
      "type": "object",
      "id": "TimeoutFields",
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "properties": {
        "tasks": {
          "format": "google-duration",
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks",
          "type": "string"
        },
        "pipeline": {
          "type": "string",
          "format": "google-duration",
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value."
        },
        "finally": {
          "description": "Finally sets the maximum allowed duration of this pipeline's finally",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
        }
      },
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        },
        "authorizerCredential": {
          "description": "Required. A http access token with the `REPO_ADMIN` scope access.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_READ` access."
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
        }
      },
      "type": "object",
      "description": "Configuration for connections to Bitbucket Data Center."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "description": "Message for responding to get read/write token.",
      "id": "FetchReadWriteTokenResponse",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        }
      }
    },
    "FetchReadTokenRequest": {
      "type": "object",
[...]
