{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "ownerName": "Google",
  "id": "cloudproductregistry:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud Product Registry API",
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "logicalProducts": {
      "methods": {
        "lookupEntity": {
          "parameters": {
            "lookupUri": {
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true
            }
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "httpMethod": "GET",
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "LogicalProduct"
          },
          "httpMethod": "GET",
          "description": "Gets details of a LogicalProduct.",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "type": "string",
              "location": "path",
              "pattern": "^logicalProducts/[^/]+$"
            }
          },
          "path": "v1/{+name}"
        },
        "list": {
          "path": "v1/logicalProducts",
          "httpMethod": "GET",
          "description": "Lists LogicalProducts matching given criteria.",
          "flatPath": "v1/logicalProducts",
          "id": "cloudproductregistry.logicalProducts.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "path": "v1/{+lookupUri}:lookupEntity",
              "description": "Look up entities.",
              "httpMethod": "GET",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
                }
              },
              "parameterOrder": [
                "lookupUri"
              ]
            },
            "get": {
              "description": "Get details of a LogicalProductVariant.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "path": "v1/{+name}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "path": "v1/{+parent}/variants"
            }
          }
        }
      }
    },
    "productSuites": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/productSuites/{productSuitesId}",
          "id": "cloudproductregistry.productSuites.get",
          "parameters": {
            "name": {
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ProductSuite"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Get details of a ProductSuite."
        },
        "list": {
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "flatPath": "v1/productSuites",
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.list",
          "parameterOrder": [],
          "path": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            }
          },
          "description": "Lists ProductSuites."
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "path": "v1/{+lookupUri}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "description": "Look up entities."
        }
      }
    }
  },
  "name": "cloudproductregistry",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "schemas": {
    "ListLogicalProductVariantsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants"
        }
      },
      "id": "ListLogicalProductVariantsResponse",
      "type": "object",
      "description": "Response message for ListLogicalProductVariants."
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "id": "ListProductSuitesResponse",
      "properties": {
        "productSuites": {
          "items": {
            "$ref": "ProductSuite"
          },
          "type": "array",
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "LogicalProductVariant": {
      "id": "LogicalProductVariant",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "lifecycleState": {
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ]
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "ProductSuite": {
      "type": "object",
      "properties": {
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "logicalProducts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}"
        }
      },
      "id": "ProductSuite",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning."
    },
    "ListLogicalProductsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "type": "array",
          "items": {
            "$ref": "LogicalProduct"
          }
        }
      },
      "type": "object",
      "id": "ListLogicalProductsResponse",
      "description": "Response message for ListLogicalProducts."
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "id": "LogicalProduct",
      "properties": {
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "variants": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Output only. Current Lifecycle state of the logical product."
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "LookupEntityResponse": {
      "type": "object",
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity.",
      "properties": {
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "logicalProductVariant": {
          "$ref": "LogicalProductVariant",
          "description": "Matched LogicalProductVariant."
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        }
      }
    }
  },
  "canonicalName": "Cloud Product Registry",
  "version_module": true,
  "protocol": "rest",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "version": "v1",
  "revision": "20261007"
}