{
  "discoveryVersion": "v1",
  "description": "",
  "title": "Cloud Deploy API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AutomationRule": {
      "id": "AutomationRule",
      "properties": {
        "repairRolloutRule": {
          "$ref": "RepairRolloutRule",
          "description": "Optional. The `RepairRolloutRule` will automatically repair a failed rollout."
        },
        "promoteReleaseRule": {
          "description": "Optional. `PromoteReleaseRule` will automatically promote a release from the current target to a specified target.",
          "$ref": "PromoteReleaseRule"
        },
        "advanceRolloutRule": {
          "$ref": "AdvanceRolloutRule",
          "description": "Optional. The `AdvanceRolloutRule` will automatically advance a successful Rollout."
        },
        "timedPromoteReleaseRule": {
          "description": "Optional. The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule.",
          "$ref": "TimedPromoteReleaseRule"
        }
      },
      "type": "object",
      "description": "`AutomationRule` defines the automation activities."
    },
    "AdvanceRolloutRule": {
      "type": "object",
      "id": "AdvanceRolloutRule",
      "properties": {
        "condition": {
          "$ref": "AutomationRuleCondition",
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "sourcePhases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Proceeds only after phase name matched any one in the list. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "wait": {
          "format": "google-duration",
          "description": "Optional. How long to wait after a rollout is finished.",
          "type": "string"
        }
      },
      "description": "The `AdvanceRollout` automation rule will automatically advance a successful Rollout to the next phase."
    },
    "Rollout": {
      "type": "object",
      "id": "Rollout",
      "properties": {
        "rolledBackByRollouts": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Names of `Rollouts` that rolled back this `Rollout`.",
          "type": "array",
          "readOnly": true
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "controllerRollout": {
          "description": "Output only. Name of the `ControllerRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true,
          "type": "string"
        },
        "approveTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was approved."
        },
        "approvalState": {
          "type": "string",
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "readOnly": true,
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. Approval state of the `Rollout`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was created."
        },
        "deployEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` finished deploying."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Rollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`. The `rollout` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "deployStartTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` started deploying."
        },
        "activeRepairAutomationRun": {
          "description": "Output only. The AutomationRun actively repairing the rollout.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ],
          "description": "Output only. Current state of the `Rollout`.",
          "type": "string",
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ]
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "phases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "items": {
            "$ref": "Phase"
          }
        },
        "targetId": {
          "type": "string",
          "description": "Required. The ID of Target to which this `Rollout` is deploying."
        },
        "rollbackOfRollout": {
          "description": "Output only. Name of the `Rollout` that is rolled back by this `Rollout`. Empty if this `Rollout` wasn't created as a rollback.",
          "type": "string",
          "readOnly": true
        },
        "deployingBuild": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Rollout` for user purposes. Max length is 255 characters."
        },
        "enqueueTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `Rollout`."
        },
        "failureReason": {
          "description": "Output only. Additional information about the rollout failure, if available.",
          "type": "string",
          "readOnly": true
        },
        "deployFailureCause": {
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the allotted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "A Rollout operation had a feature configured that is not supported."
          ],
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED",
            "OPERATION_FEATURE_NOT_SUPPORTED"
          ],
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress."
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "Output only. Metadata contains information about the rollout.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      },
      "description": "A `Rollout` resource in the Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`."
    },
    "Analysis": {
      "description": "Analysis contains the configuration for the set of analyses to be performed on the target.",
      "id": "Analysis",
      "properties": {
        "duration": {
          "description": "Required. The amount of time in minutes the analysis on the target will last. If all analysis checks have successfully completed before the specified duration, the analysis is successful. If a check is still running while the specified duration passes, it will wait for that check to complete to determine if the analysis is successful. The maximum duration is 48 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "googleCloud": {
          "$ref": "GoogleCloudAnalysis",
          "description": "Optional. Google Cloud - based analysis checks."
        },
        "customChecks": {
          "description": "Optional. Custom analysis checks from 3P metric providers.",
          "items": {
            "$ref": "CustomCheck"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RetryJobResponse": {
      "description": "The response object from 'RetryJob'.",
      "type": "object",
      "id": "RetryJobResponse",
      "properties": {}
    },
    "RepairRolloutRule": {
      "id": "RepairRolloutRule",
      "properties": {
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "condition": {
          "description": "Output only. Information around the state of the 'Automation' rule.",
          "$ref": "AutomationRuleCondition",
          "readOnly": true
        },
        "phases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Phases within which jobs are subject to automatic repair actions on failure. Proceeds only after phase name matched any one in the list, or for all phases if unspecified. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "repairPhases": {
          "type": "array",
          "items": {
            "$ref": "RepairPhaseConfig"
          },
          "description": "Required. Defines the types of automatic repair phases for failed jobs."
        },
        "jobs": {
          "type": "array",
          "description": "Optional. Jobs to repair. Proceeds only after job name matched any one in the list, or for all jobs if unspecified or empty. The phase that includes the job must match the phase ID specified in `source_phase`. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The `RepairRolloutRule` automation rule will automatically repair a failed `Rollout`."
    },
    "PromoteReleaseRule": {
      "description": "The `PromoteRelease` rule will automatically promote a release from the current target to a specified target.",
      "type": "object",
      "id": "PromoteReleaseRule",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "destinationPhase": {
          "type": "string",
          "description": "Optional. The starting phase of the rollout created by this operation. Default to the first phase."
        },
        "condition": {
          "$ref": "AutomationRuleCondition",
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true
        },
        "wait": {
          "type": "string",
          "description": "Optional. How long the release need to be paused until being promoted to the next target.",
          "format": "google-duration"
        },
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence"
        }
      }
    },
    "RetryAttempt": {
      "description": "RetryAttempt represents an action of retrying the failed Cloud Deploy job.",
      "id": "RetryAttempt",
      "properties": {
        "stateDesc": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the state of the Retry."
        },
        "wait": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration"
        },
        "attempt": {
          "description": "Output only. The index of this retry attempt.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Valid state of this retry action.",
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GatewayServiceMesh": {
      "type": "object",
      "id": "GatewayServiceMesh",
      "properties": {
        "routeDestinations": {
          "description": "Optional. Route destinations allow configuring the Gateway API HTTPRoute to be deployed to additional clusters. This option is available for multi-cluster service mesh set ups that require the route to exist in the clusters that call the service. If unspecified, the HTTPRoute will only be deployed to the Target cluster.",
          "$ref": "RouteDestinations"
        },
        "routeUpdateWaitTime": {
          "description": "Optional. The time to wait for route updates to propagate. The maximum configurable time is 3 hours, in seconds format. If unspecified, there is no wait time.",
          "format": "google-duration",
          "type": "string"
        },
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "podSelectorLabel": {
          "type": "string",
          "description": "Optional. The label to use when selecting Pods for the Deployment and Service resources. This label must already be present in both resources."
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service.",
          "type": "string"
        },
        "httpRoute": {
          "description": "Required. Name of the Gateway API HTTPRoute.",
          "type": "string"
        },
        "stableCutbackDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The amount of time to migrate traffic back from the canary Service to the original Service during the stable phase deployment. If specified, must be between 15s and 3600s. If unspecified, there is no cutback time."
        }
      },
      "description": "Information about the Kubernetes Gateway API service mesh configuration."
    },
    "RollbackTargetConfig": {
      "description": "Configs for the Rollback rollout.",
      "type": "object",
      "id": "RollbackTargetConfig",
      "properties": {
        "rollout": {
          "description": "Optional. The rollback `Rollout` to create.",
          "$ref": "Rollout"
        },
        "startingPhaseId": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        }
      }
    },
    "CancelRolloutRequest": {
      "description": "The request object used by `CancelRollout`.",
      "id": "CancelRolloutRequest",
      "properties": {
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeployPolicyResourceSelector": {
      "description": "Contains information on the resources to select for a deploy policy. Attributes provided must all match the resource in order for policy restrictions to apply. For example, if delivery pipelines attributes given are an id \"prod\" and labels \"foo: bar\", a delivery pipeline resource must match both that id and have that label in order to be subject to the policy.",
      "id": "DeployPolicyResourceSelector",
      "properties": {
        "deliveryPipeline": {
          "description": "Optional. Contains attributes about a delivery pipeline.",
          "$ref": "DeliveryPipelineAttribute"
        },
        "target": {
          "$ref": "TargetAttribute",
          "description": "Optional. Contains attributes about a target."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "PromoteReleaseOperation": {
      "description": "Contains the information of an automated promote-release operation.",
      "id": "PromoteReleaseOperation",
      "properties": {
        "targetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
        },
        "phase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The starting phase of the rollout created by this operation."
        },
        "rollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        },
        "wait": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "CustomCanaryDeployment": {
      "type": "object",
      "id": "CustomCanaryDeployment",
      "properties": {
        "phaseConfigs": {
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "items": {
            "$ref": "PhaseConfig"
          },
          "type": "array"
        }
      },
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration."
    },
    "SkaffoldModules": {
      "description": "Skaffold Config modules and their remote source.",
      "id": "SkaffoldModules",
      "properties": {
        "googleCloudStorage": {
          "description": "Optional. Cloud Storage bucket containing the Skaffold Config modules.",
          "$ref": "SkaffoldGCSSource"
        },
        "configs": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The Skaffold Config modules to use from the specified source.",
          "type": "array"
        },
        "git": {
          "$ref": "SkaffoldGitSource",
          "description": "Optional. Remote git repository containing the Skaffold Config modules."
        },
        "googleCloudBuildRepo": {
          "description": "Optional. Cloud Build V2 repository containing the Skaffold Config modules.",
          "$ref": "SkaffoldGCBRepoSource"
        }
      },
      "type": "object"
    },
    "AutomationResourceSelector": {
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "id": "AutomationResourceSelector",
      "properties": {
        "targets": {
          "description": "Optional. Contains attributes about a target.",
          "items": {
            "$ref": "TargetAttribute"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AnalysisJob": {
      "type": "object",
      "id": "AnalysisJob",
      "properties": {
        "duration": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The amount of time in minutes the analysis Job will run, up to a maximum of 48 hours. If any check in this Job is still running when the duration ends, the Job keeps running until that check completes."
        },
        "googleCloud": {
          "readOnly": true,
          "$ref": "GoogleCloudAnalysis",
          "description": "Output only. Google Cloud - based analysis checks that are run as part of the analysis Job."
        },
        "customChecks": {
          "items": {
            "$ref": "CustomCheck"
          },
          "description": "Output only. Custom analysis checks from 3P metric providers that are run as part of the analysis Job.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "An analysis Job."
    },
    "ListDeployPoliciesResponse": {
      "description": "The response object from `ListDeployPolicies`.",
      "type": "object",
      "id": "ListDeployPoliciesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "deployPolicies": {
          "items": {
            "$ref": "DeployPolicy"
          },
          "description": "The `DeployPolicy` objects.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "AutomationRuleCondition": {
      "description": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule.",
      "type": "object",
      "id": "AutomationRuleCondition",
      "properties": {
        "targetsPresentCondition": {
          "description": "Optional. Details around targets enumerated in the rule.",
          "$ref": "TargetsPresentCondition"
        },
        "timedPromoteReleaseCondition": {
          "$ref": "TimedPromoteReleaseCondition",
          "description": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined."
        }
      }
    },
    "PhaseArtifact": {
      "type": "object",
      "id": "PhaseArtifact",
      "properties": {
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File path of the rendered manifest relative to the URI."
        },
        "jobManifestsPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable."
        }
      },
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase."
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "CloudRunRenderMetadata": {
      "description": "CloudRunRenderMetadata contains Cloud Run information associated with a `Release` render.",
      "type": "object",
      "id": "CloudRunRenderMetadata",
      "properties": {
        "job": {
          "description": "Output only. The name of the Cloud Run Job in the rendered manifest. Format is `projects/{project}/locations/{location}/jobs/{job}`.",
          "readOnly": true,
          "type": "string"
        },
        "revision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Revision in the rendered manifest. Format is `projects/{project}/locations/{location}/services/{service}/revisions/{revision}`."
        },
        "workerPool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Worker Pool in the rendered manifest. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
        },
        "service": {
          "description": "Output only. The name of the Cloud Run Service in the rendered manifest. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "JobRunNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "id": "JobRunNotificationEvent",
      "properties": {
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "The name of the `Rollout`."
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "rolloutUid": {
          "type": "string",
          "description": "Unique identifier of the `Rollout`."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target`.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContainerTask": {
      "type": "object",
      "id": "ContainerTask",
      "properties": {
        "env": {
          "description": "Optional. Environment variables that are set in the container.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "image": {
          "description": "Required. Image is the container image to use.",
          "type": "string"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Command is the container entrypoint to use. This overrides the default entrypoint defined in the container image."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Args is the container arguments to use. This overrides the default arguments defined in the container image."
        }
      },
      "description": "This task is represented by a container that is executed in the Cloud Build execution environment."
    },
    "SkaffoldGCSSource": {
      "type": "object",
      "id": "SkaffoldGCSSource",
      "properties": {
        "path": {
          "description": "Optional. Relative path from the source to the Skaffold file.",
          "type": "string"
        },
        "source": {
          "description": "Required. Cloud Storage source paths to copy recursively. For example, providing \"gs://my-bucket/dir/configs/*\" will result in Skaffold copying all files within the \"dir/configs\" directory in the bucket \"my-bucket\".",
          "type": "string"
        }
      },
      "description": "Cloud Storage bucket containing Skaffold Config modules."
    },
    "JobRun": {
      "description": "A `JobRun` resource in the Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "type": "object",
      "id": "JobRun",
      "properties": {
        "predeployJobRun": {
          "readOnly": true,
          "description": "Output only. Information specific to a predeploy `JobRun`.",
          "$ref": "PredeployJobRun"
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to."
        },
        "deployJobRun": {
          "readOnly": true,
          "$ref": "DeployJobRun",
          "description": "Output only. Information specific to a deploy `JobRun`."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `JobRun`."
        },
        "createChildRolloutJobRun": {
          "description": "Output only. Information specific to a createChildRollout `JobRun`.",
          "$ref": "CreateChildRolloutJobRun",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` ended.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the `JobRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/{rollouts}/jobRuns/{uuid}`.",
          "readOnly": true,
          "type": "string"
        },
        "phaseId": {
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was created."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was started.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ],
          "description": "Output only. The current state of the `JobRun`."
        },
        "analysisJobRun": {
          "$ref": "AnalysisJobRun",
          "description": "Output only. Information specific to an analysis `JobRun`.",
          "readOnly": true
        },
        "verifyJobRun": {
          "readOnly": true,
          "$ref": "VerifyJobRun",
          "description": "Output only. Information specific to a verify `JobRun`."
        },
        "postdeployJobRun": {
          "$ref": "PostdeployJobRun",
          "description": "Output only. Information specific to a postdeploy `JobRun`.",
          "readOnly": true
        },
        "advanceChildRolloutJobRun": {
          "readOnly": true,
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`",
          "$ref": "AdvanceChildRolloutJobRun"
        }
      }
    },
    "GkeCluster": {
      "type": "object",
      "id": "GkeCluster",
      "properties": {
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept). Note that `internal_ip` and `dns_endpoint` cannot both be set to true.",
          "type": "boolean"
        },
        "proxyUrl": {
          "type": "string",
          "description": "Optional. If set, used to configure a [proxy](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#proxy) to the Kubernetes server."
        },
        "cluster": {
          "description": "Optional. Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`.",
          "type": "string"
        },
        "dnsEndpoint": {
          "description": "Optional. If set, the cluster will be accessed using the DNS endpoint. Note that both `dns_endpoint` and `internal_ip` cannot be set to true.",
          "type": "boolean"
        }
      },
      "description": "Information specifying a GKE Cluster."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ReleaseReadyCondition": {
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "type": "object",
      "id": "ReleaseReadyCondition",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomTargetTasks": {
      "description": "CustomTargetTasks represents the `CustomTargetType` configuration using tasks.",
      "type": "object",
      "id": "CustomTargetTasks",
      "properties": {
        "deploy": {
          "description": "Required. The task responsible for deploy operations.",
          "$ref": "Task"
        },
        "render": {
          "$ref": "Task",
          "description": "Optional. The task responsible for render operations. If not provided then Cloud Deploy will perform its default rendering operation."
        }
      }
    },
    "CloudRunMetadata": {
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "id": "CloudRunMetadata",
      "properties": {
        "service": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string",
          "readOnly": true
        },
        "workerPool": {
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string",
          "readOnly": true
        },
        "serviceUrls": {
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "previousRevision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}."
        },
        "job": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`."
        },
        "revision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`."
        }
      },
      "type": "object"
    },
    "WeeklyWindow": {
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight.",
      "id": "WeeklyWindow",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week."
        },
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "daysOfWeek": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "description": "Optional. Days of week. If left empty, all days of the week will be included.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RenderMetadata": {
      "description": "RenderMetadata includes information associated with a `Release` render.",
      "type": "object",
      "id": "RenderMetadata",
      "properties": {
        "cloudRun": {
          "description": "Output only. Metadata associated with rendering for Cloud Run.",
          "$ref": "CloudRunRenderMetadata",
          "readOnly": true
        },
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined render operation.",
          "$ref": "CustomMetadata",
          "readOnly": true
        },
        "kubernetes": {
          "readOnly": true,
          "description": "Output only. Metadata associated with rendering for a Kubernetes cluster (GKE or GKE Enterprise target).",
          "$ref": "KubernetesRenderMetadata"
        }
      }
    },
    "PolicyViolation": {
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why.",
      "id": "PolicyViolation",
      "properties": {
        "policyViolationDetails": {
          "items": {
            "$ref": "PolicyViolationDetails"
          },
          "description": "Policy violation details.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Targets": {
      "id": "Targets",
      "properties": {
        "sourceTargetId": {
          "type": "string",
          "description": "Optional. The source target ID."
        },
        "destinationTargetId": {
          "description": "Optional. The destination target ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The targets involved in a single timed promotion."
    },
    "SkaffoldVersion": {
      "id": "SkaffoldVersion",
      "properties": {
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "supportExpirationTime": {
          "type": "string",
          "description": "The time at which this version of Skaffold will no longer be supported.",
          "format": "google-datetime"
        },
        "supportEndDate": {
          "$ref": "Date",
          "description": "Date when this version is expected to no longer be supported."
        },
        "maintenanceModeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this version of Skaffold will enter maintenance mode."
        }
      },
      "type": "object",
      "description": "Details of a supported Skaffold version."
    },
    "ApproveRolloutRequest": {
      "description": "The request object used by `ApproveRollout`.",
      "type": "object",
      "id": "ApproveRolloutRequest",
      "properties": {
        "approved": {
          "description": "Required. True = approve; false = reject",
          "type": "boolean"
        },
        "overrideDeployPolicy": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ToolVersionSupportedCondition": {
      "description": "ToolVersionSupportedCondition contains information about when support for the release's version of a tool ends.",
      "id": "ToolVersionSupportedCondition",
      "properties": {
        "toolVersionSupportState": {
          "enum": [
            "TOOL_VERSION_SUPPORT_STATE_UNSPECIFIED",
            "TOOL_VERSION_SUPPORT_STATE_SUPPORTED",
            "TOOL_VERSION_SUPPORT_STATE_MAINTENANCE_MODE",
            "TOOL_VERSION_SUPPORT_STATE_UNSUPPORTED"
          ],
          "description": "Output only. The tool support state for this release's version of the tool.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This tool version is currently supported.",
            "This tool version is in maintenance mode.",
            "This tool version is no longer supported."
          ],
          "type": "string"
        },
        "status": {
          "description": "Output only. True if the version of Tool used by this release is supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "maintenanceModeTime": {
          "description": "Output only. The time at which this release's version of the tool will enter maintenance mode.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "supportExpirationTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this release's version of the tool will no longer be supported.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SerialPipeline": {
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "type": "object",
      "id": "SerialPipeline",
      "properties": {
        "stages": {
          "description": "Optional. Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "items": {
            "$ref": "Stage"
          },
          "type": "array"
        }
      }
    },
    "OneTimeWindow": {
      "description": "One-time window within which actions are restricted. For example, blocking actions over New Year's Eve from December 31st at 5pm to January 1st at 9am.",
      "id": "OneTimeWindow",
      "properties": {
        "startTime": {
          "description": "Required. Start time (inclusive). Use 00:00 for the beginning of the day.",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "description": "Required. Start date.",
          "$ref": "Date"
        },
        "endTime": {
          "description": "Required. End time (exclusive). You may use 24:00 for the end of the day.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date."
        }
      },
      "type": "object"
    },
    "ReleaseCondition": {
      "type": "object",
      "id": "ReleaseCondition",
      "properties": {
        "releaseReadyCondition": {
          "$ref": "ReleaseReadyCondition",
          "description": "Details around the Releases's overall status."
        },
        "kubectlVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Kubectl version.",
          "$ref": "ToolVersionSupportedCondition",
          "readOnly": true
        },
        "dockerVersionSupportedCondition": {
          "readOnly": true,
          "description": "Output only. Details around the support state of the release's Docker version.",
          "$ref": "ToolVersionSupportedCondition"
        },
        "helmVersionSupportedCondition": {
          "readOnly": true,
          "description": "Output only. Details around the support state of the release's Helm version.",
          "$ref": "ToolVersionSupportedCondition"
        },
        "kustomizeVersionSupportedCondition": {
          "readOnly": true,
          "description": "Output only. Details around the support state of the release's Kustomize version.",
          "$ref": "ToolVersionSupportedCondition"
        },
        "skaffoldSupportedCondition": {
          "$ref": "SkaffoldSupportedCondition",
          "description": "Details around the support state of the release's Skaffold version."
        },
        "kptVersionSupportedCondition": {
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition",
          "description": "Output only. Details around the support state of the release's kpt version."
        },
        "skaffoldVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Skaffold version.",
          "$ref": "ToolVersionSupportedCondition",
          "readOnly": true
        }
      },
      "description": "ReleaseCondition contains all conditions relevant to a Release."
    },
    "VerifyJob": {
      "description": "A verify Job.",
      "type": "object",
      "id": "VerifyJob",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Output only. The tasks that are executed as part of the verify Job.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "TargetsPresentCondition": {
      "id": "TargetsPresentCondition",
      "properties": {
        "missingTargets": {
          "description": "The list of Target names that do not exist. For example, `projects/{project_id}/locations/{location_name}/targets/{target_name}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "type": "boolean",
          "description": "True if there aren't any missing Targets."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time the condition was updated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`TargetsPresentCondition` contains information on any Targets referenced in the Delivery Pipeline that do not actually exist."
    },
    "RetryPhase": {
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt.",
      "id": "RetryPhase",
      "properties": {
        "totalAttempts": {
          "format": "int64",
          "description": "Output only. The number of attempts that have been made.",
          "type": "string",
          "readOnly": true
        },
        "backoffMode": {
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "type": "string",
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ],
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated.",
          "readOnly": true
        },
        "attempts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RetryAttempt"
          },
          "description": "Output only. Detail of a retry action."
        }
      },
      "type": "object"
    },
    "CustomTargetDeployMetadata": {
      "id": "CustomTargetDeployMetadata",
      "properties": {
        "skipMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Skip message provided in the results of a custom deploy operation."
        }
      },
      "type": "object",
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation."
    },
    "Config": {
      "description": "Service-wide configuration.",
      "id": "Config",
      "properties": {
        "defaultSkaffoldVersion": {
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the configuration."
        },
        "supportedVersions": {
          "items": {
            "$ref": "SkaffoldVersion"
          },
          "description": "All supported versions of Skaffold.",
          "type": "array"
        },
        "defaultToolVersions": {
          "description": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions.",
          "$ref": "ToolVersions",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Task": {
      "description": "A Task represents a unit of work that is executed as part of a Job.",
      "type": "object",
      "id": "Task",
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      }
    },
    "RolloutRestriction": {
      "description": "Rollout restrictions.",
      "id": "RolloutRestriction",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Optional. Rollout actions to be restricted as part of the policy. If left empty, all actions will be restricted.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Advance the rollout to the next phase.",
              "Approve the rollout.",
              "Cancel the rollout.",
              "Create a rollout.",
              "Ignore a job result on the rollout.",
              "Retry a job for a rollout.",
              "Rollback a rollout.",
              "Terminate a jobrun."
            ],
            "enum": [
              "ROLLOUT_ACTIONS_UNSPECIFIED",
              "ADVANCE",
              "APPROVE",
              "CANCEL",
              "CREATE",
              "IGNORE_JOB",
              "RETRY_JOB",
              "ROLLBACK",
              "TERMINATE_JOBRUN"
            ]
          }
        },
        "timeWindows": {
          "$ref": "TimeWindows",
          "description": "Required. Time window within which actions are restricted."
        },
        "invokers": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
              "Automated action by Cloud Deploy."
            ],
            "enum": [
              "INVOKER_UNSPECIFIED",
              "USER",
              "DEPLOY_AUTOMATION"
            ],
            "type": "string"
          },
          "description": "Optional. What invoked the action. If left empty, all invoker types will be restricted.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. Restriction rule ID. Required and must be unique within a DeployPolicy. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        }
      },
      "type": "object"
    },
    "FailedAlertPolicy": {
      "description": "FailedAlertPolicy contains information about an alert policy that was found to be firing during an alert policy check.",
      "type": "object",
      "id": "FailedAlertPolicy",
      "properties": {
        "alertPolicy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the alert policy that was found to be firing. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`."
        },
        "alerts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Open alerts for the alerting policies that matched the alert policy check configuration."
        }
      }
    },
    "ListDeliveryPipelinesResponse": {
      "id": "ListDeliveryPipelinesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deliveryPipelines": {
          "type": "array",
          "description": "The `DeliveryPipeline` objects.",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response object from `ListDeliveryPipelines`."
    },
    "DeployPolicyNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_notification\". Platform Log event that describes the failure to send a pub/sub notification when there is a DeployPolicy status change.",
      "type": "object",
      "id": "DeployPolicyNotificationEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a deploy policy fails to send a pub/sub notification."
        },
        "deployPolicyUid": {
          "description": "Unique identifier of the deploy policy.",
          "type": "string"
        },
        "deployPolicy": {
          "description": "The name of the `DeployPolicy`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        }
      }
    },
    "RepairRolloutOperation": {
      "id": "RepairRolloutOperation",
      "properties": {
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string",
          "readOnly": true
        },
        "repairPhases": {
          "items": {
            "$ref": "RepairPhase"
          },
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "type": "array",
          "readOnly": true
        },
        "phaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phase ID of the phase that includes the job being repaired."
        },
        "currentRepairPhaseIndex": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The index of the current repair action in the repair sequence.",
          "format": "int64"
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job ID for the Job to repair."
        }
      },
      "type": "object",
      "description": "Contains the information for an automated `repair rollout` operation."
    },
    "AlertPolicyCheckStatus": {
      "description": "AlertPolicyCheckStatus contains information specific to a single run of an alert policy check.",
      "id": "AlertPolicyCheckStatus",
      "properties": {
        "failureMessage": {
          "description": "Output only. Additional information about the alert policy check failure, if available. This will be empty if the alert policy check succeeded.",
          "type": "string",
          "readOnly": true
        },
        "alertPolicies": {
          "description": "Output only. The alert policies that this analysis monitors. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "failedAlertPolicies": {
          "items": {
            "$ref": "FailedAlertPolicy"
          },
          "description": "Output only. The alert policies that were found to be firing during this check. This will be empty if no incidents were found.",
          "type": "array",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this analysis."
        },
        "labels": {
          "description": "Output only. The resolved labels used to filter for specific incidents.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "PolicyViolationDetails": {
      "description": "Policy violation details.",
      "type": "object",
      "id": "PolicyViolationDetails",
      "properties": {
        "failureMessage": {
          "description": "User readable message about why the request violated a policy. This is not intended for machine parsing.",
          "type": "string"
        },
        "policy": {
          "type": "string",
          "description": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`."
        },
        "ruleId": {
          "type": "string",
          "description": "Id of the rule that triggered the policy violation."
        }
      }
    },
    "DeliveryPipeline": {
      "id": "DeliveryPipeline",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `DeliveryPipeline`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the pipeline was created.",
          "type": "string",
          "readOnly": true
        },
        "serialPipeline": {
          "$ref": "SerialPipeline",
          "description": "Optional. SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`."
        },
        "name": {
          "description": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Most recent time at which the pipeline was updated.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "suspended": {
          "description": "Optional. When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description of the `DeliveryPipeline`. Max length is 255 characters.",
          "type": "string"
        },
        "condition": {
          "$ref": "PipelineCondition",
          "description": "Output only. Information around the state of the Delivery Pipeline.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A `DeliveryPipeline` resource in the Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress."
    },
    "KubernetesConfig": {
      "description": "KubernetesConfig contains the Kubernetes runtime configuration.",
      "type": "object",
      "id": "KubernetesConfig",
      "properties": {
        "gatewayServiceMesh": {
          "description": "Optional. Kubernetes Gateway API service mesh configuration.",
          "$ref": "GatewayServiceMesh"
        },
        "serviceNetworking": {
          "description": "Optional. Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        }
      }
    },
    "KubernetesRenderMetadata": {
      "description": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render.",
      "type": "object",
      "id": "KubernetesRenderMetadata",
      "properties": {
        "deployment": {
          "description": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest.",
          "readOnly": true,
          "type": "string"
        },
        "canaryDeployment": {
          "description": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured.",
          "type": "string",
          "readOnly": true
        },
        "kubernetesNamespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace."
        }
      }
    },
    "TimedPromoteReleaseOperation": {
      "type": "object",
      "id": "TimedPromoteReleaseOperation",
      "properties": {
        "release": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the release to be promoted."
        },
        "targetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
        },
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Contains the information of an automated timed promote-release operation."
    },
    "Target": {
      "description": "A `Target` resource in the Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "type": "object",
      "id": "Target",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Target`. Format is `projects/{project}/locations/{location}/targets/{target}`. The `target` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `Target` was created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Most recent time at which the `Target` was updated.",
          "format": "google-datetime"
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for this target.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gke": {
          "$ref": "GkeCluster",
          "description": "Optional. Information specifying a GKE Cluster."
        },
        "customTarget": {
          "$ref": "CustomTarget",
          "description": "Optional. Information specifying a Custom Target."
        },
        "anthosCluster": {
          "description": "Optional. Information specifying an Anthos Cluster.",
          "$ref": "AnthosCluster"
        },
        "executionConfigs": {
          "items": {
            "$ref": "ExecutionConfig"
          },
          "description": "Optional. Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`.",
          "type": "array"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Target`.",
          "readOnly": true,
          "type": "string"
        },
        "run": {
          "description": "Optional. Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "associatedEntities": {
          "description": "Optional. Map of entity IDs to their associated entities. Associated entities allows specifying places other than the deployment target for specific features. For example, the Gateway API canary can be configured to deploy the HTTPRoute to a different cluster(s) than the deployment cluster using associated entities. An entity ID must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "additionalProperties": {
            "$ref": "AssociatedEntities"
          },
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "targetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource id of the `Target`."
        },
        "requireApproval": {
          "description": "Optional. Whether or not the `Target` requires approval.",
          "type": "boolean"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "multiTarget": {
          "description": "Optional. Information specifying a multiTarget.",
          "$ref": "MultiTarget"
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        }
      }
    },
    "CustomTargetType": {
      "id": "CustomTargetType",
      "properties": {
        "name": {
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `CustomTargetType` was created."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `CustomTargetType`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "customTargetTypeId": {
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tasks": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks.",
          "$ref": "CustomTargetTasks"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "customActions": {
          "$ref": "CustomTargetSkaffoldActions",
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions."
        },
        "description": {
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes."
    },
    "RetryJobRequest": {
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "id": "RetryJobRequest",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to retry."
        },
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "phaseId": {
          "type": "string",
          "description": "Required. The phase ID the Job to retry belongs to."
        }
      },
      "type": "object"
    },
    "RolloutNotificationEvent": {
      "id": "RolloutNotificationEvent",
      "properties": {
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string"
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target` that the rollout is deployed to.",
          "type": "string"
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification."
    },
    "TargetsTypeCondition": {
      "type": "object",
      "id": "TargetsTypeCondition",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters."
        },
        "errorDetails": {
          "description": "Human readable error message.",
          "type": "string"
        }
      },
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type."
    },
    "ReleaseRenderEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "type": "object",
      "id": "ReleaseRenderEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a release render state change event.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "releaseRenderState": {
          "description": "The state of the release render.",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string"
        },
        "release": {
          "description": "The name of the release. release_uid is not in this log message because we write some of these log messages at release creation time, before we've generated the uid.",
          "type": "string"
        }
      }
    },
    "DeployJobRunMetadata": {
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "id": "DeployJobRunMetadata",
      "properties": {
        "customTarget": {
          "description": "Output only. Custom Target metadata associated with a `DeployJobRun`.",
          "$ref": "CustomTargetDeployMetadata",
          "readOnly": true
        },
        "cloudRun": {
          "$ref": "CloudRunMetadata",
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "readOnly": true
        },
        "custom": {
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined deploy operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "TimedPromoteReleaseRule": {
      "type": "object",
      "id": "TimedPromoteReleaseRule",
      "properties": {
        "destinationTargetId": {
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence",
          "type": "string"
        },
        "id": {
          "description": "Required. ID of the rule. This ID must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "schedule": {
          "type": "string",
          "description": "Required. Schedule in crontab format. e.g. \"0 9 * * 1\" for every Monday at 9am."
        },
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        },
        "destinationPhase": {
          "description": "Optional. The starting phase of the rollout created by this rule. Default to the first phase.",
          "type": "string"
        },
        "condition": {
          "$ref": "AutomationRuleCondition",
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true
        }
      },
      "description": "The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule."
    },
    "SkaffoldGitSource": {
      "description": "Git repository containing Skaffold Config modules.",
      "id": "SkaffoldGitSource",
      "properties": {
        "repo": {
          "type": "string",
          "description": "Required. Git repository the package should be cloned from."
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold file.",
          "type": "string"
        },
        "ref": {
          "description": "Optional. Git branch or tag to use when cloning the repository.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IgnoreJobRequest": {
      "type": "object",
      "id": "IgnoreJobRequest",
      "properties": {
        "jobId": {
          "description": "Required. The job ID for the Job to ignore.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        },
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        }
      },
      "description": "The request object used by `IgnoreJob`."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`.",
          "$ref": "CloudRunMetadata",
          "readOnly": true
        },
        "custom": {
          "readOnly": true,
          "description": "Output only. Custom metadata provided by user-defined `Rollout` operations.",
          "$ref": "CustomMetadata"
        },
        "automation": {
          "description": "Output only. AutomationRolloutMetadata contains the information about the interactions between Automation service and this rollout.",
          "$ref": "AutomationRolloutMetadata",
          "readOnly": true
        }
      },
      "description": "Metadata includes information associated with a `Rollout`."
    },
    "PipelineReadyCondition": {
      "id": "PipelineReadyCondition",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline."
        },
        "updateTime": {
          "description": "Last time the condition was updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "PipelineReadyCondition contains information around the status of the Pipeline."
    },
    "CreateChildRolloutJobRun": {
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`.",
      "type": "object",
      "id": "CreateChildRolloutJobRun",
      "properties": {
        "rollout": {
          "type": "string",
          "readOnly": true,
[...]
